openapi: 3.2.0
info:
  title: Palo Alto Networks Total Number of Configured Users API
  version: '1.0'
  description: 'Operations tagged Total Number of Configured Users across 3 of this provider''s published API definitions: palo-alto-networks-total-number-of-configured-users-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Total Number of Configured Users
paths:
  /mt/monitor/5g/users:
    get:
      tags:
      - Total Number of Configured Users
      summary: Palo Alto Networks Fetch User Totals
      description: "Reports the total number of users configured within the 5G monitoring \ndomain. Management teams use this count for license auditing and \nto track the growth of the subscriber base across the multi-tenant \nenvironment."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  total_users: 5000
                header:
                  createdAt: '2025-12-17T02:08:46Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gUsers
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-total-number-of-configured-users-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
