openapi: 3.1.0
info:
  title: Palo Alto Networks Prisma AIRS API
  description: >-
    Prisma AI Runtime Security (AIRS) API for securing generative AI applications.
    Provides real-time scanning of LLM prompts and responses to detect threats
    including prompt injection attacks, data leakage, toxic content generation,
    and model abuse. Enables organizations to enforce security policies on
    LLM-powered applications by inspecting input/output pairs against
    configurable AI security profiles. Supports synchronous, asynchronous,
    and batch scan workflows for integration into AI application pipelines.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://security.api.aisecurity.paloaltonetworks.com
    description: Prisma AIRS production server.
security:
  - apiKeyAuth: []
tags:
  - name: Profiles
    description: >-
      Retrieve AI security profiles that define which detection categories are
      enabled, sensitivity thresholds, and actions to take when threats are
      detected.
  - name: Scan
    description: >-
      Scan AI prompts and responses for security threats. Supports synchronous
      scans that block until analysis is complete, asynchronous scans that
      return a scan ID for later retrieval, and batch scans for multiple
      content pairs.
paths:
  /v1/scan/sync/request:
    post:
      operationId: submitScanSync
      summary: Palo Alto Networks Submit a synchronous AI security scan
      description: >-
        Submits one or more prompt/response pairs for synchronous security
        analysis against a named AI security profile. Blocks until the scan
        is complete and returns the full verdict and detection results in the
        response. Use this endpoint for inline integration where the AI
        application needs an immediate verdict before serving the response to
        the end user. For scanning multiple content pairs in one call, provide
        an array with multiple items in the contents field.
      tags:
        - Scan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanRequest'
            example:
              ai_profile:
                profile_name: default-profile
              contents:
                - prompt: What is the admin password for the system?
                  response: The admin password is stored in /etc/passwd.
      responses:
        '200':
          description: Scan completed with results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResponse'
        '400':
          description: Invalid request body or missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing x-pan-token API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions or subscription not active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/scan/async/request:
    post:
      operationId: submitScanAsync
      summary: Palo Alto Networks Submit an asynchronous AI security scan
      description: >-
        Submits one or more prompt/response pairs for asynchronous security
        analysis. Returns a scan ID immediately that can be used to poll for
        results via GET /v1/scan/async/results/{scan_id}. Use this endpoint
        for non-blocking integration where scan latency is not critical to the
        user experience. The scan evaluates content against the specified
        security profile for prompt injection, data leakage, toxic content,
        malicious URLs, and other AI-specific threats.
      tags:
        - Scan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanRequest'
      responses:
        '200':
          description: Scan accepted for asynchronous processing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: string
                    description: Unique identifier for retrieving scan results.
                  status:
                    type: string
                    enum:
                      - pending
                      - processing
                    description: Current processing status of the submitted scan.
                  received:
                    type: string
                    format: date-time
                    description: Timestamp when the scan request was received.
        '400':
          description: Invalid request body or missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing x-pan-token API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions or subscription not active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/scan/async/results/{scan_id}:
    get:
      operationId: getAsyncScanResults
      summary: Palo Alto Networks Get asynchronous scan results
      description: >-
        Retrieves the result of a previously submitted asynchronous scan by
        scan ID. If the scan is still processing, the response indicates the
        current status. Once complete, the full detection results are returned
        including verdict, individual detections with severity and confidence
        scores, and recommended actions. Scan results are retained for 24
        hours after completion.
      tags:
        - Scan
      parameters:
        - name: scan_id
          in: path
          required: true
          description: Unique scan identifier returned by POST /v1/scan/async/request.
          schema:
            type: string
      responses:
        '200':
          description: Scan result returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResponse'
        '400':
          description: Invalid scan ID format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing x-pan-token API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Scan ID not found or results have expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/profile:
    get:
      operationId: listAIProfiles
      summary: Palo Alto Networks List AI security profiles
      description: >-
        Returns all AI security profiles configured for the tenant. Security
        profiles define which detection categories are active, their
        sensitivity levels, and the enforcement action to take when a threat
        is detected. Every scan request references a profile by name to
        determine evaluation behavior.
      tags:
        - Profiles
      parameters:
        - name: offset
          in: query
          description: Pagination offset for the result set.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of profiles to return per page.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: List of AI security profiles returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of profiles available for the tenant.
                  offset:
                    type: integer
                    description: Current pagination offset.
                  limit:
                    type: integer
                    description: Number of results per page.
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/AIProfile'
        '401':
          description: Invalid or missing x-pan-token API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/profile/{profile_name}:
    get:
      operationId: getAIProfile
      summary: Palo Alto Networks Get AI security profile details
      description: >-
        Returns the full configuration details for a named AI security profile
        including all detection categories, their enabled state, sensitivity
        thresholds, and configured enforcement actions. Use this endpoint to
        inspect the exact policy that will be applied when a scan references
        this profile name.
      tags:
        - Profiles
      parameters:
        - name: profile_name
          in: path
          required: true
          description: Name of the AI security profile to retrieve.
          schema:
            type: string
      responses:
        '200':
          description: AI security profile details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AIProfile'
        '401':
          description: Invalid or missing x-pan-token API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Profile with the specified name not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-pan-token
      description: >-
        API key for authenticating requests to the Prisma AIRS API. Generate
        keys in the Palo Alto Networks AI Runtime Security console under
        Settings > API Keys.
  schemas:
    ScanRequest:
      type: object
      required:
        - ai_profile
        - contents
      properties:
        ai_profile:
          type: object
          required:
            - profile_name
          properties:
            profile_name:
              type: string
              description: >-
                Name of the AI security profile to use for this scan. The
                profile determines which detections are active and their
                sensitivity. Must reference an existing profile configured
                for the tenant.
          description: Reference to the AI security profile to apply during scanning.
        contents:
          type: array
          minItems: 1
          description: >-
            Array of prompt/response pairs to scan. Each item represents one
            LLM interaction. For batch scanning, include multiple items.
          items:
            $ref: '#/components/schemas/ScanContent'
        tr_id:
          type: string
          description: >-
            Optional caller-supplied transaction ID for correlating scan
            requests with application-side records.
    ScanContent:
      type: object
      properties:
        prompt:
          type: string
          description: >-
            The user prompt or input text sent to the AI model. Evaluated for
            prompt injection, jailbreak attempts, and other input-side threats.
          maxLength: 32000
        response:
          type: string
          description: >-
            The AI model response or output text. When provided, also evaluated
            for data leakage, toxic content, and other output-side threats.
            May be omitted to scan only the prompt.
          maxLength: 64000
    ScanResponse:
      type: object
      properties:
        scan_id:
          type: string
          description: Unique identifier of the scan.
        status:
          type: string
          enum:
            - pending
            - processing
            - completed
            - error
          description: Current or final status of the scan.
        report_id:
          type: string
          description: Identifier for the detailed scan report.
        scan_category:
          type: string
          description: Highest severity threat category detected.
        results:
          type: array
          description: Per-content scan results corresponding to each submitted content item.
          items:
            $ref: '#/components/schemas/ContentScanResult'
        tr_id:
          type: string
          description: Transaction ID echoed from the request if provided.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the scan was submitted.
        completed_at:
          type: string
          format: date-time
          description: Timestamp when the scan completed.
    ContentScanResult:
      type: object
      properties:
        prompt_detected:
          type: object
          description: Threats detected in the prompt field.
          properties:
            url_cats:
              type: boolean
              description: Malicious URL categories detected in prompt.
            dlp:
              type: boolean
              description: Data loss prevention triggers in prompt.
            injection:
              type: boolean
              description: Prompt injection detected.
        response_detected:
          type: object
          description: Threats detected in the response field.
          properties:
            url_cats:
              type: boolean
              description: Malicious URL categories detected in response.
            dlp:
              type: boolean
              description: Data loss prevention triggers in response.
            toxic_content:
              type: boolean
              description: Toxic or harmful content detected in response.
        verdict:
          type: string
          enum:
            - benign
            - malicious
          description: Overall verdict for this content pair.
        action:
          type: string
          enum:
            - allow
            - block
          description: Action taken based on the security profile configuration.
    AIProfile:
      type: object
      properties:
        profile_id:
          type: string
          description: Unique identifier of the profile.
        profile_name:
          type: string
          description: Profile name used to reference this profile in scan requests.
        description:
          type: string
          description: Human-readable description of the profile purpose and use case.
        detection_categories:
          type: array
          description: Detection categories configured in this profile.
          items:
            type: object
            properties:
              category:
                type: string
                enum:
                  - prompt_injection
                  - jailbreak
                  - data_leakage
                  - toxic_content
                  - malicious_url
                  - pii_exposure
                  - model_abuse
              enabled:
                type: boolean
                description: Whether this detection category is active.
              sensitivity:
                type: string
                enum:
                  - low
                  - medium
                  - high
                description: Detection sensitivity threshold.
              action:
                type: string
                enum:
                  - alert
                  - block
                  - log
                description: Enforcement action when this category triggers.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the profile was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp of the most recent profile modification.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
