openapi: 3.1.0
info:
  title: Palo Alto Networks Strata Logging Service API
  description: >-
    Strata Logging Service API (formerly Cortex Data Lake) for log forwarding
    configuration management. Provides programmatic control over log
    forwarding profiles and their destinations including syslog servers,
    HTTPS endpoints, and email recipients. Enables centralized management
    of where SASE and NGFW log data is forwarded for SIEM integration,
    compliance archival, and security operations workflows.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/logging-service/v1
    description: Strata Logging Service API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Email Destinations
    description: Email forwarding destination management.
  - name: HTTPS Destinations
    description: HTTPS forwarding destination management.
  - name: Log Forwarding Profiles
    description: Log forwarding profile management.
  - name: Syslog Destinations
    description: Syslog forwarding destination management.
paths:
  /log-forwarding-profiles:
    get:
      operationId: listLogForwardingProfiles
      summary: Palo Alto Networks List log forwarding profiles
      description: >-
        Returns the list of log forwarding profiles configured for the
        tenant. Each profile can have multiple destinations of different
        types and defines which log types are forwarded.
      tags:
        - Log Forwarding Profiles
      parameters:
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of profiles to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Log forwarding profiles returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LogForwardingProfile'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createLogForwardingProfile
      summary: Palo Alto Networks Create log forwarding profile
      description: >-
        Creates a new log forwarding profile. After creating a profile,
        add destinations using the destination-specific endpoints.
      tags:
        - Log Forwarding Profiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogForwardingProfileRequest'
      responses:
        '201':
          description: Log forwarding profile created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogForwardingProfile'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /log-forwarding-profiles/{profile_id}:
    get:
      operationId: getLogForwardingProfile
      summary: Palo Alto Networks Get log forwarding profile
      description: Returns full details for a specific log forwarding profile.
      tags:
        - Log Forwarding Profiles
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile.
          schema:
            type: string
      responses:
        '200':
          description: Log forwarding profile details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogForwardingProfile'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateLogForwardingProfile
      summary: Palo Alto Networks Update log forwarding profile
      description: Updates an existing log forwarding profile configuration.
      tags:
        - Log Forwarding Profiles
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogForwardingProfileRequest'
      responses:
        '200':
          description: Log forwarding profile updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogForwardingProfile'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteLogForwardingProfile
      summary: Palo Alto Networks Delete log forwarding profile
      description: Deletes a log forwarding profile and all associated destinations.
      tags:
        - Log Forwarding Profiles
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile to delete.
          schema:
            type: string
      responses:
        '204':
          description: Log forwarding profile deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /log-forwarding-profiles/{profile_id}/destinations/syslog:
    get:
      operationId: listSyslogDestinations
      summary: Palo Alto Networks List syslog destinations
      description: Returns the syslog destinations configured for a log forwarding profile.
      tags:
        - Syslog Destinations
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile.
          schema:
            type: string
      responses:
        '200':
          description: Syslog destinations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SyslogDestination'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createSyslogDestination
      summary: Palo Alto Networks Create syslog destination
      description: Adds a syslog destination to a log forwarding profile.
      tags:
        - Syslog Destinations
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyslogDestinationRequest'
      responses:
        '201':
          description: Syslog destination created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyslogDestination'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /log-forwarding-profiles/{profile_id}/destinations/https:
    get:
      operationId: listHTTPSDestinations
      summary: Palo Alto Networks List HTTPS destinations
      description: Returns the HTTPS destinations configured for a log forwarding profile.
      tags:
        - HTTPS Destinations
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile.
          schema:
            type: string
      responses:
        '200':
          description: HTTPS destinations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/HTTPSDestination'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createHTTPSDestination
      summary: Palo Alto Networks Create HTTPS destination
      description: Adds an HTTPS webhook destination to a log forwarding profile.
      tags:
        - HTTPS Destinations
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HTTPSDestinationRequest'
      responses:
        '201':
          description: HTTPS destination created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPSDestination'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /log-forwarding-profiles/{profile_id}/destinations/email:
    get:
      operationId: listEmailDestinations
      summary: Palo Alto Networks List email destinations
      description: Returns the email destinations configured for a log forwarding profile.
      tags:
        - Email Destinations
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile.
          schema:
            type: string
      responses:
        '200':
          description: Email destinations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailDestination'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createEmailDestination
      summary: Palo Alto Networks Create email destination
      description: Adds an email destination to a log forwarding profile.
      tags:
        - Email Destinations
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailDestinationRequest'
      responses:
        '201':
          description: Email destination created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDestination'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /log-forwarding-profiles/{profile_id}/status:
    get:
      operationId: getLogForwardingStatus
      summary: Palo Alto Networks Get log forwarding profile status
      description: >-
        Returns the current operational status of a log forwarding profile
        including per-destination connectivity health, last successful
        delivery timestamps, and error counts.
      tags:
        - Log Forwarding Profiles
      parameters:
        - name: profile_id
          in: path
          required: true
          description: Unique identifier of the log forwarding profile.
          schema:
            type: string
      responses:
        '200':
          description: Log forwarding profile status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForwardingStatus'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Log forwarding profile not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    LogForwardingProfile:
      type: object
      properties:
        profile_id:
          type: string
          description: Unique identifier of the profile.
        name:
          type: string
          description: Display name of the profile.
        description:
          type: string
          description: Description of the profile's purpose.
        log_types:
          type: array
          items:
            type: string
            enum:
              - traffic
              - threat
              - url
              - wildfire
              - auth
              - decryption
              - globalprotect
              - system
              - config
          description: Log types included in this forwarding profile.
        enabled:
          type: boolean
          description: Whether this profile is actively forwarding logs.
        destination_count:
          type: integer
          description: Total number of configured destinations.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    LogForwardingProfileRequest:
      type: object
      required:
        - name
        - log_types
      properties:
        name:
          type: string
          description: Display name for the profile.
        description:
          type: string
          description: Optional description.
        log_types:
          type: array
          items:
            type: string
            enum:
              - traffic
              - threat
              - url
              - wildfire
              - auth
              - decryption
              - globalprotect
              - system
              - config
          description: Log types to include in forwarding.
        enabled:
          type: boolean
          default: true
    SyslogDestination:
      type: object
      properties:
        destination_id:
          type: string
          description: Unique identifier of the syslog destination.
        name:
          type: string
          description: Display name of the destination.
        server:
          type: string
          description: Syslog server hostname or IP address.
        port:
          type: integer
          description: Syslog server port.
        protocol:
          type: string
          enum:
            - UDP
            - TCP
            - SSL
          description: Transport protocol for syslog delivery.
        format:
          type: string
          enum:
            - IETF
            - BSD
            - CSV
          description: Syslog message format.
        facility:
          type: string
          description: Syslog facility value.
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
    SyslogDestinationRequest:
      type: object
      required:
        - name
        - server
        - port
        - protocol
      properties:
        name:
          type: string
          description: Display name for this syslog destination.
        server:
          type: string
          description: Syslog server hostname or IP address.
        port:
          type: integer
          minimum: 1
          maximum: 65535
          description: Syslog server port number.
        protocol:
          type: string
          enum:
            - UDP
            - TCP
            - SSL
          description: Transport protocol.
        format:
          type: string
          enum:
            - IETF
            - BSD
            - CSV
          default: IETF
        facility:
          type: string
          default: LOG_USER
        enabled:
          type: boolean
          default: true
    HTTPSDestination:
      type: object
      properties:
        destination_id:
          type: string
          description: Unique identifier of the HTTPS destination.
        name:
          type: string
          description: Display name of the destination.
        uri:
          type: string
          format: uri
          description: HTTPS endpoint URL where logs are posted.
        http_method:
          type: string
          enum:
            - POST
            - PUT
          description: HTTP method used to deliver logs.
        tls_verify:
          type: boolean
          description: Whether TLS certificate verification is enabled.
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
    HTTPSDestinationRequest:
      type: object
      required:
        - name
        - uri
      properties:
        name:
          type: string
          description: Display name for this HTTPS destination.
        uri:
          type: string
          format: uri
          description: HTTPS endpoint URL.
        http_method:
          type: string
          enum:
            - POST
            - PUT
          default: POST
        headers:
          type: object
          description: Additional HTTP headers to include in log delivery requests.
          additionalProperties:
            type: string
        tls_verify:
          type: boolean
          default: true
        enabled:
          type: boolean
          default: true
    EmailDestination:
      type: object
      properties:
        destination_id:
          type: string
          description: Unique identifier of the email destination.
        name:
          type: string
          description: Display name of the destination.
        gateway:
          type: string
          description: SMTP server hostname.
        from:
          type: string
          format: email
          description: Sender email address.
        to:
          type: string
          format: email
          description: Recipient email address.
        and_also_to:
          type: string
          format: email
          description: Additional recipient email address.
        enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
    EmailDestinationRequest:
      type: object
      required:
        - name
        - gateway
        - from
        - to
      properties:
        name:
          type: string
          description: Display name for this email destination.
        gateway:
          type: string
          description: SMTP server hostname or IP address.
        from:
          type: string
          format: email
          description: Sender email address.
        to:
          type: string
          format: email
          description: Primary recipient email address.
        and_also_to:
          type: string
          format: email
          description: Additional recipient email address.
        enabled:
          type: boolean
          default: true
    ForwardingStatus:
      type: object
      properties:
        profile_id:
          type: string
          description: Log forwarding profile identifier.
        overall_status:
          type: string
          enum:
            - healthy
            - degraded
            - error
          description: Overall health status of the forwarding profile.
        destinations:
          type: array
          description: Per-destination status details.
          items:
            type: object
            properties:
              destination_id:
                type: string
              destination_type:
                type: string
                enum:
                  - syslog
                  - https
                  - email
              status:
                type: string
                enum:
                  - healthy
                  - error
                  - disabled
              last_successful_delivery:
                type: string
                format: date-time
              error_count_24h:
                type: integer
              last_error:
                type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
