openapi: 3.2.0
info:
  title: Palo Alto Networks Cloud Accounts (All) API
  version: '1.0'
  description: 'Operations tagged Cloud Accounts (All) across 3 of this provider''s published API definitions: palo-alto-cspm-cloudaccountonboardingmicroservices-openapi.json, palo-alto-cspm-cloudaccountsmicroservice-openapi.json, palo-alto-cspm-datasecurityonboardingmicroservice-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- name: Cloud Accounts (All)
  description: "You can use the APIs in this category to perform operations that are nonspecific to cloud account types, such as listing all the cloud accounts, listing supported features, and deleting an account.\n\nFor operations that are specific to the cloud type or cloud provider, see:\n* [Cloud Accounts (AWS)](/prisma-cloud/api/cspm/cloud-accounts-aws/)\n* [Cloud Accounts (Azure)](/prisma-cloud/api/cspm/cloud-accounts-azure/) \n* [Cloud Accounts (GCP)](/prisma-cloud/api/cspm/cloud-accounts-gcp/)\n* [Cloud Accounts (OCI and Alibaba)](/prisma-cloud/api/cspm/cloud-accounts-oci-and-alibaba/)\n"
paths:
  /account/{accountId}/config/status:
    get:
      tags:
      - Cloud Accounts (All)
      summary: Get Account Status
      description: Returns the list of Prisma Cloud Security Capabilities whose status is either warning or error for the specified account ID. The response also contains suggestions to remediate the error or warning.
      operationId: list-cloud-account-status-details
      parameters:
      - name: accountId
        in: path
        description: Cloud account ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudAccountConfigStatusView'
        '400':
          description: bad_request
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud:
    get:
      tags:
      - Cloud Accounts (All)
      summary: Get all Cloud Accounts
      description: Get summary details of all the cloud accounts onboarded onto Prisma Cloud. This endpoint returns a list view without the features array. To get complete details of a specific cloud account including features, see [Get Cloud Account Details](/prisma-cloud/api/cspm/get-cloud-account).
      operationId: get-cloud-accounts
      parameters:
      - name: excludeAccountGroupDetails
        in: query
        description: true = Exclude account group details. Default is false.
        required: false
        schema:
          type: boolean
      - name: includePendingAccounts
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudAccountListViewModel'
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/name:
    get:
      tags:
      - Cloud Accounts (All)
      summary: List Cloud Account Names - GET
      description: "You can use this endpoint to GET the account IDs and names of accounts that:\n\n *Belongs to a specific account group\n\n *Belongs to a specific account type \n\n *Is active. For precise filtering, use the [List Cloud Account Names -POST](https://pan.dev/prisma-cloud/api/cspm/get-cloud-account-names-by-post/) endpoint."
      operationId: get-cloud-account-names
      parameters:
      - name: onlyActive
        in: query
        description: Returns IDs and names of active accounts only. Default is false.
        required: false
        schema:
          type: boolean
      - name: accountGroupIds
        in: query
        description: Returns IDs and names of accounts that belong to the specified account group IDs
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: cloudType
        in: query
        description: Returns IDs and names of accounts that belong to the specified cloudType and accountGroup
        required: false
        schema:
          type: string
      - name: includeOthers
        in: query
        description: Returns none cloudAccount and none cloudAccountId in response if includeOthers is true
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudAccountIdentity'
      x-microservice: 'true'
      x-public: 'true'
      security:
      - x-redlock-auth: []
    post:
      tags:
      - Cloud Accounts (All)
      summary: List Cloud Account Names - POST
      description: Get the list of cloud account names and Ids that match custom filtering criteria where the filter criteria can be defined in the filter key and filter value parameter of the request.
      operationId: get-cloud-account-names-by-post
      parameters:
      - name: onlyActive
        in: query
        description: Returns IDs and names of active accounts only. Default is false.
        required: false
        schema:
          type: boolean
      - name: cloudType
        in: query
        description: Returns IDs and names of accounts that belong to the specified cloudType and accountGroup
        required: false
        schema:
          type: string
      - name: includeOthers
        in: query
        description: Returns none cloudAccount and none cloudAccountId in response if includeOthers is true
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountListRequestModel'
        description: Cloud Account Groups
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudAccountIdentity'
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/type:
    get:
      tags:
      - Cloud Accounts (All)
      summary: List Cloud Types
      description: Returns the list of cloud account types supported by Prisma Cloud. You can also filter the cloud account types that you have onboarded.
      operationId: get-cloud-types
      parameters:
      - name: onlyAccessible
        in: query
        description: '**true** = return only cloud types to which the user has access and for which he has onboarded cloud accounts. Default is **false**.'
        required: false
        schema:
          type: boolean
      - name: includeOthers
        in: query
        description: returns other cloudType in response if includeOthers is true
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  type: string
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/{cloud_type}/{id}:
    get:
      tags:
      - Cloud Accounts (All)
      summary: Get Cloud Account Details
      description: Returns details of a Cloud Account based on cloud type and cloud ID. To get details of all the cloud accounts onboarded to Prisma Cloud, see [Get all Cloud Accounts](/prisma-cloud/api/cspm/get-cloud-accounts).
      operationId: get-cloud-account
      parameters:
      - name: cloud_type
        in: path
        description: Cloud Type
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
      - name: id
        in: path
        description: Account ID
        required: true
        schema:
          type: string
      - name: includeGroupInfo
        in: query
        description: true = Include account group info. Default is false.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CloudAccountModel'
      security:
      - x-redlock-auth: []
      x-public: 'true'
    delete:
      tags:
      - Cloud Accounts (All)
      summary: Delete Cloud Account
      description: Deletes an onboarded cloud account based on the specified Cloud Account ID and Cloud Type.
      operationId: delete-cloud-account
      parameters:
      - name: id
        in: path
        description: Account ID
        required: true
        schema:
          type: string
      - name: cloud_type
        in: path
        description: Cloud Type
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid_cloud_type / bad_request
        '403':
          description: cannot_delete_org_child
        '404':
          description: invalid_cloud_type / invalid_account_id_format
      security:
      - x-redlock-auth: []
      x-public: 'true'
    patch:
      tags:
      - Cloud Accounts (All)
      summary: Update Cloud Account Details
      description: Update the cloud account details such as cloud account status, auto consent state, status of children's accounts, and account group. In addition, you can also enable or disable the ingestion of data from the cloud account.
      operationId: patch-cloud-account
      parameters:
      - name: id
        in: path
        description: Account ID
        required: true
        schema:
          type: string
      - name: cloud_type
        in: path
        description: Cloud Type
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudAccountPatchModel'
        description: Cloud Account Patch
        required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid_account_id_format / invalid_account_patch
        '404':
          description: invalid_cloud_type / invalid_account_id_format
        '405':
          description: cloud_account_already_enabled / cloud_account_already_disabled
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/{cloud_type}/{id}/project:
    get:
      tags:
      - Cloud Accounts (All)
      summary: Get Cloud Org Accounts
      description: Get summary details of all the cloud accounts onboarded onto Prisma Cloud as children of an organization that belongs to a specific cloud type. This endpoint returns a list view without the features array. To get complete details of a specific cloud account including features, see [Get Cloud Account Details](https://pan.dev/prisma-cloud/api/cspm/get-cloud-account/).
      operationId: get-cloud-org-accounts
      parameters:
      - name: cloud_type
        in: path
        description: Cloud Type
        required: true
        schema:
          type: string
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
      - name: id
        in: path
        description: Account ID
        required: true
        schema:
          type: string
      - name: excludeAccountGroupDetails
        in: query
        description: true = Exclude account group details. Default is false.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudAccountListViewModel'
        '400':
          description: not_found / not_an_org
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/{id}/owners:
    get:
      tags:
      - Cloud Accounts (All)
      summary: List Cloud Account Owners
      description: Returns the email addresses of all owners for the specified cloud account ID.
      operationId: get-cloud-account-owners
      parameters:
      - name: id
        in: path
        description: Account ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: invalid_account_id_format
        '404':
          description: invalid_account_id_format
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/{id}/status/{enabled}:
    patch:
      tags:
      - Cloud Accounts (All)
      summary: Update Cloud Account Status
      description: Enable or disable data ingestion from a cloud account and its children by cloud account ID.
      operationId: update-cloud-account-status
      parameters:
      - name: id
        in: path
        description: Account ID
        required: true
        schema:
          type: string
      - name: enabled
        in: path
        description: Status To Set
        required: true
        schema:
          type: boolean
      - name: updateChildren
        in: query
        description: Allows for updating status of children cloud accounts if any. Default is false.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid_account_id_format / invalid_account_patch
        '404':
          description: invalid_account_id_format
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cas/api/v1/org/{id}/features:
    put:
      tags:
      - Cloud Accounts (All)
      summary: Update Feature State for Members of an Organization
      description: Enable or disable the feature for list of member accounts linked to an organization.
      operationId: save-Bulk-Cloud-Account-Feature
      parameters:
      - name: id
        in: path
        description: ' For AWS, specify organization id.


          For GCP, specify organization id or masterServiceAccount id.


          For Azure, specify tenant id.


          '
        required: true
        schema:
          type: string
          example: null
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudAccountBulkFeatureRequest'
        required: true
      responses:
        '200':
          description: Successfully saved/updated cloud account feature for the given member accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Invalid Account Id/Member Ids cannot be empty or null/Member account list should be less than 500 in a single request/Feature {0} is not allowed/Invalid feature state {0} for feature {1}/Organisation Id {0} is not onboarded/AccountType of {0} is invalid, should be either of Organisation / Master Service Account / Tenant/Members account {0} do not belong to {1}/Compute features are not supported for {0}/Feature {0} is not present for given account,/For feature = {0}, parent feature state is {1}/Organisation / Master Service Account / Tenant Id {0} should not be part of memberIds list/AccountType of member account {0} is invalid. Member accountType should be of type {1}/
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestAPIErrorResponse'
        '401':
          description: Unauthorized Access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestAPIErrorResponse'
        '403':
          description: Tenant License Expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestAPIErrorResponse'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestAPIErrorResponse'
        '405':
          description: Wrong Http Method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestAPIErrorResponse'
        '425':
          description: Too Early to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestAPIErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestAPIErrorResponse'
      x-public: 'true'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cas/v1/features/cloud/{cloud_type}:
    post:
      tags:
      - Cloud Accounts (All)
      summary: Fetch Supported Features For Cloud Type
      description: "Lists the features supported for the specified cloud type and account type. \n\n The response contains *supportedFeatures* key whose value contains supported feature names. This feature name can be used in the onboarding APIs to enable the required features.\n\n  **NOTE**: The supportedFeatures returns \"Cloud Visibility Compliance and Governance\" string by default. Do not explicitly pass this string as a feature in the request body param in any cloud account API(Like in Add AWS Cloud Account, Update AWS Cloud Account,Generate and Download the AWS CFT Template, etc)."
      operationId: fetch-supported-features
      parameters:
      - name: cloud_type
        in: path
        required: true
        schema:
          type: string
          example: null
          enum:
          - aws
          - azure
          - gcp
          - alibaba
          - oci
          - ibm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesAvailableRequest'
        required: true
      responses:
        '200':
          description: Features supported for the cloud type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesAvailableResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          description: Unauthorized Access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: Tenant License Expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '405':
          description: Wrong Http Method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '425':
          description: Too Early to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
      x-public: 'true'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /config/v3/account:
    post:
      summary: Save Account Config With Given Attributes
      description: Saves account config with the values provided in the JSON payload and returns the config.
      operationId: save-account-config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConfig'
      responses:
        '200':
          description: success
          content:
            application/json: {}
        '400':
          description: bad_request
      x-public: 'true'
      security:
      - x-redlock-auth: []
      tags:
      - Cloud Accounts (All)
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
components:
  schemas:
    CloudAccountIdentity:
      type: object
      properties:
        id:
          type: string
          description: ID of Account/ Project/ Master Service Account/ Organization
        name:
          type: string
          description: Name of Account/ Project/ Master Service Account/ Organization
        cloudType:
          type: string
          description: Cloud Type of Account/ Project/ Master Service Account/ Organization
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - IBM
        parentAccountName:
          type: string
          description: Parent Org Name of Account/ Project
      description: Model for Cloud Account Identity
    AccountListRequestModel:
      type: object
      required:
      - timeRange
      properties:
        accountIds:
          type: array
          description: List of account IDs
          items:
            type: string
        accountGroupIds:
          type: array
          description: List of account group IDs
          items:
            type: string
        aggregate:
          type: boolean
          description: true = aggregate
        filterKey:
          type: string
          description: Filter key
        filterValue:
          type: string
          description: Filter value
        groupBy:
          type: string
          description: Group items by this value
        limit:
          type: integer
          format: int32
          description: Limit of items per request. Default is 1000.
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel'
        cloudType:
          type: string
        csvHeaderRequired:
          type: boolean
      description: Model for AccountListRequest
    CloudAccountModel:
      type: object
      properties:
        accountType:
          type: string
          description: Cloud Account Type
          readOnly: true
          enum:
          - ACCOUNT
          - MASTER_SERVICE_ACCOUNT
          - COMPARTMENT
          - ORGANIZATION
          - TENANT
        cloudType:
          type: string
          description: Cloud Type
          readOnly: true
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - OTHER
        lastModifiedBy:
          type: string
          description: Last Modified By
          readOnly: true
        lastModifiedTs:
          type: integer
          format: int64
          description: Time account was last updated
          readOnly: true
        protectionMode:
          type: string
          description: Protection Mode
          readOnly: true
          enum:
          - MONITOR
          - MONITOR_AND_PROTECT
        groupIds:
          type: array
          description: Group Ids
          readOnly: true
          items:
            type: string
        storageScanEnabled:
          type: boolean
          description: Storage Scan Enabled
        deploymentType:
          type: string
          description: Deployment Type
          enum:
          - AZURE
          - AZURE_GOVERNMENT
          - AZURE_CHINA
          - AWS
          - AWS_GOVERNMENT
          - AWS_CHINA
          - OCI
          - OCI_GOVERNMENT
          - OCI_CHINA
          - GCP
          - GCP_GOVERNMENT
          - GCP_CHINA
          - ALIBABA_CLOUD
          - ALIBABA_CLOUD_GOVERNMENT
          - ALIBABA_CLOUD_CHINA
          - ALIBABA_CLOUD_FINANCE
        accountGroupInfos:
          type: array
          description: Account group details of groups associated with this account
          items:
            $ref: '#/components/schemas/AccountGroupInfo'
        autoConsent:
          type: string
        cloudAccountOwner:
          type: string
          description: Cloud account owner
        cloudAccountOwnerCount:
          type: integer
          format: int32
          description: Cloud account owner count
          readOnly: true
        storageUUID:
          type: string
          description: Storage UUID
        features:
          type: array
          description: Features
          uniqueItems: true
          items:
            $ref: '#/components/schemas/Feature'
        name:
          type: string
          description: Name
        enabled:
          type: boolean
          description: Enabled
        associatedAccountGroupsCount:
          type: integer
          format: int32
          description: Associated Account Groups Count with this cloud account
        parentAccountId:
          type: string
        accountId:
          type: string
          description: Account ID
        addedOn:
          type: integer
          format: int64
          description: Added On
          readOnly: true
      description: Model for Cloud Account Interface
    AccountGroupInfo:
      type: object
      properties:
        groupName:
          type: string
          description: Group name
        lastModifiedBy:
          type: string
          description: Last modified by
          readOnly: true
        groupId:
          type: string
          description: group id
          readOnly: true
        autoCreated:
          type: boolean
          description: auto created
          readOnly: true
      description: Account group info linked to a cloud account
    CloudAccountListViewModel:
      type: object
      properties:
        parentAccountId:
          type: string
        name:
          type: string
          description: Name
        cloudType:
          type: string
          description: Cloud Type
          readOnly: true
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - OTHER
        accountType:
          type: string
          description: Cloud Account Type
          readOnly: true
          enum:
          - ACCOUNT
          - MASTER_SERVICE_ACCOUNT
          - COMPARTMENT
          - ORGANIZATION
          - TENANT
        enabled:
          type: boolean
          description: Enabled
        lastModifiedTs:
          type: integer
          format: int64
          description: Time account was last updated
          readOnly: true
        lastModifiedBy:
          type: string
          description: Last Modified By
          readOnly: true
        storageScanEnabled:
          type: boolean
          description: Storage Scan Enabled
        storageUUID:
          type: string
          description: Storage UUID
        protectionMode:
          type: string
          description: Protection Mode
          readOnly: true
          enum:
          - MONITOR
          - MONITOR_AND_PROTECT
        cloudAccountOwner:
          type: string
          description: Cloud account owner
        deploymentType:
          type: string
          description: Deployment Type
          enum:
          - AZURE
          - AZURE_GOVERNMENT
          - AZURE_CHINA
          - AWS
          - AWS_GOVERNMENT
          - AWS_CHINA
          - OCI
          - OCI_GOVERNMENT
          - OCI_CHINA
          - GCP
          - GCP_GOVERNMENT
          - GCP_CHINA
          - ALIBABA_CLOUD
          - ALIBABA_CLOUD_GOVERNMENT
          - ALIBABA_CLOUD_CHINA
          - ALIBABA_CLOUD_FINANCE
        associatedAccountGroupsCount:
          type: integer
          format: int32
          description: Associated Account Groups Count with this cloud account
        accountGroupInfos:
          type: array
          description: Account group details of groups associated with this account
          items:
            $ref: '#/components/schemas/AccountGroupInfo'
        cloudAccountOwnerCount:
          type: integer
          format: int32
          description: Cloud account owner count
          readOnly: true
        groups:
          type: array
          description: Groups
          readOnly: true
          items:
            type: object
            additionalProperties:
              type: object
        status:
          type: string
          description: Account Config Status
        numberOfChildAccounts:
          type: integer
          format: int32
        accountId:
          type: string
          description: Account ID
        addedOn:
          type: integer
          format: int64
          description: Added On
          readOnly: true
        groupIds:
          type: array
          description: Group Ids
          readOnly: true
          items:
            type: string
      description: Model for Cloud Account List View - used by list endpoints that do not return the features array
    Feature:
      type: object
      properties:
        name:
          type: string
          example: Remediation
          description: Feature name obtained from **[Fetch Supported Features endpoint](/prisma-cloud/api/cspm/fetch-supported-features)**
        state:
          type: string
          description: Feature state. Whether to be enabled or disabled
          enum:
          - enabled
          - disabled
        defaultMemberState:
          type: string
          description: Enable or disable the feature for all the member accounts linked to this organization. You can enable or disable the defaultMemberState only if the feature state is enabled for the organization. Applicable only for Serverless Function Scanning and Agentless Workload Scanning features.
          enum:
          - enabled
          - disabled
      description: Model for Feature
    TimeRangeConfigModel:
      type: object
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
          description: Time type
          enum:
          - relative
        value:
          $ref: '#/components/schemas/RelativeTimeDurationModel'
      description: Model for TimeRangeConfig
    RelativeTimeDurationModel:
      type: object
      properties:
        unit:
          type: string
          description: Time unit
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
        amount:
          type: integer
          format: int32
          description: Number of time units
      description: Model for RelativeTimeDuration
    CloudAccountConfigStatusView:
      type: object
      properties:
        name:
          type: string
          description: Prisma Cloud service
        status:
          type: string
          description: Service status
        message:
          type: string
          description: Message with details about service status
        remediation:
          type: string
          description: Suggestions for remediation
        subComponents:
          type: array
          items:
            $ref: '#/components/schemas/CloudAccountConfigStatusView'
      description: Model for Cloud Account Config Status View
    CloudAccountPatchModel:
      type: object
      properties:
        groupIds:
          type: array
          description: Associated Account Group Ids
          items:
            type: string
        autoConsent:
          type: string
          description: Auto Consent State
          enum:
          - enabled/disabled
        enabled:
          type: boolean
          description: Cloud Account Status
          enum:
          - false
        updateChildrenStatus:
          type: boolean
          description: Update Children status
          enum:
          - false
      description: Model for Account Group View
    APIErrorObject:
      type: object
      properties:
        code:
          type: string
          example: null
          enum:
          - 100 CONTINUE
          - 101 SWITCHING_PROTOCOLS
          - 102 PROCESSING
          - 103 CHECKPOINT
          - 200 OK
          - 201 CREATED
          - 202 ACCEPTED
          - 203 NON_AUTHORITATIVE_INFORMATION
          - 204 NO_CONTENT
          - 205 RESET_CONTENT
          - 206 PARTIAL_CONTENT
          - 207 MULTI_STATUS
          - 208 ALREADY_REPORTED
          - 226 IM_USED
          - 300 MULTIPLE_CHOICES
          - 301 MOVED_PERMANENTLY
          - 302 FOUND
          - 302 MOVED_TEMPORARILY
          - 303 SEE_OTHER
          - 304 NOT_MODIFIED
          - 305 USE_PROXY
          - 307 TEMPORARY_REDIRECT
          - 308 PERMANENT_REDIRECT
          - 400 BAD_REQUEST
          - 401 UNAUTHORIZED
          - 402 PAYMENT_REQUIRED
          - 403 FORBIDDEN
          - 404 NOT_FOUND
          - 405 METHOD_NOT_ALLOWED
          - 406 NOT_ACCEPTABLE
          - 407 PROXY_AUTHENTICATION_REQUIRED
          - 408 REQUEST_TIMEOUT
          - 409 CONFLICT
          - 410 GONE
          - 411 LENGTH_REQUIRED
          - 412 PRECONDITION_FAILED
          - 413 PAYLOAD_TOO_LARGE
          - 413 REQUEST_ENTITY_TOO_LARGE
          - 414 URI_TOO_LONG
          - 414 REQUEST_URI_TOO_LONG
          - 415 UNSUPPORTED_MEDIA_TYPE
          - 416 REQUESTED_RANGE_NOT_SATISFIABLE
          - 417 EXPECTATION_FAILED
          - 418 I_AM_A_TEAPOT
          - 419 INSUFFICIENT_SPACE_ON_RESOURCE
          - 420 METHOD_FAILURE
          - 421 DESTINATION_LOCKED
          - 422 UNPROCESSABLE_ENTITY
          - 423 LOCKED
          - 424 FAILED_DEPENDENCY
          - 425 TOO_EARLY
          - 426 UPGRADE_REQUIRED
          - 428 PRECONDITION_REQUIRED
          - 429 TOO_MANY_REQUESTS
          - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
          - 451 UNAVAILABLE_FOR_LEGAL_REASONS
          - 500 INTERNAL_SERVER_ERROR
          - 501 NOT_IMPLEMENTED
          - 502 BAD_GATEWAY
          - 503 SERVICE_UNAVAILABLE
          - 504 GATEWAY_TIMEOUT
          - 505 HTTP_VERSION_NOT_SUPPORTED
          - 506 VARIANT_ALSO_NEGOTIATES
          - 507 INSUFFICIENT_STORAGE
          - 508 LOOP_DETECTED
          - 509 BANDWIDTH_LIMIT_EXCEEDED
          - 510 NOT_EXTENDED
          - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
          example: null
        target:
          type: string
          example: null
        innererror:
          type: object
          additionalProperties:
            type: object
            example: null
          example: null
        innerError:
          type: object
          additionalProperties:
            type: object
            example: null
          writeOnly: true
          example: null
      example: null
    SuccessResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: null
        message:
          type: string
          example: null
      example: null
    RestAPIErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/APIErrorObject'
      example: null
    FeaturesAvailableRequest:
      required:
      - accountType
      type: object
      properties:
        accountType:
          type: string
          description: "Cloud Account Type. \nSupported values based on the cloud type are as follows: \n\n **AWS Cloud -** account, organization - \n\n **GCP Cloud -** account, organization, masterServiceAccount, workspace_domain \n\n **Azure Cloud -** account, tenant"
          example: null
          enum:
          - account
          - organization
          - masterServiceAccount
          - tenant
          - workspace_domain
        deploymentType:
          type: string
          description: "*Applicable only for cloud_type: **azure**.*\n\n * **azure** -  Applicable for Prisma Commercial and Government stacks\n\n * **azure_gov** - Applicable for Prisma Commercial and Government stacks.\n\n * **azure_china** - Applicable for Prisma China Stack."
          example: null
          enum:
          - azure
          - azure_gov
          - azure_china
        awsPartition:
          type: string
          description: "*Applicable only for cloud_type: **aws** on Prisma Government Stack(**app.gov.prismacloud.io**) given if the Cloud account Global Deployment option is enabled*\n\n * **us-east-1** -  AWS Commercial/Global account\n\n * **us-gov-west-1** - AWS GovCloud account."
          example: null
          enum:
          - us-east-1
          - us-gov-west-1
        rootSyncEnabled:
          type: boolean
          description: "*Applicable only for accountType: **tenant***\n\n In order to onboard the *\\\"tenant\\\"* and its associated **management groups** and **subscriptions**, ```rootSyncEnabled``` must be set to ```true```"
          example: null
      example: null
    ApiError:
      type: object
      properties:
        status:
          type: string
          example: null
          enum:
          - 100 CONTINUE
          - 101 SWITCHING_PROTOCOLS
          - 102 PROCESSING
          - 103 CHECKPOINT
          - 200 OK
          - 201 CREATED
          - 202 ACCEPTED
          - 203 NON_AUTHORITATIVE_INFORMATION
          - 204 NO_CONTENT
          - 205 RESET_CONTENT
          - 206 PARTIAL_CONTENT
          - 207 MULTI_STATUS
          - 208 ALREADY_REPORTED
          - 226 IM_USED
          - 300 MULTIPLE_CHOICES
          - 301 MOVED_PERMANENTLY
          - 302 FOUND
          - 302 MOVED_TEMPORARILY
          - 303 SEE_OTHER
          - 304 NOT_MODIFIED
          - 305 USE_PROXY
          - 307 TEMPORARY_REDIRECT
          - 308 PERMANENT_REDIRECT
          - 400 BAD_REQUEST
          - 401 UNAUTHORIZED
          - 402 PAYMENT_REQUIRED
          - 403 FORBIDDEN
          - 404 NOT_FOUND
          - 405 METHOD_NOT_ALLOWED
          - 406 NOT_ACCEPTABLE
          - 407 PROXY_AUTHENTICATION_REQUIRED
          - 408 REQUEST_TIMEOUT
          - 409 CONFLICT
          - 410 GONE
          - 411 LENGTH_REQUIRED
          - 412 PRECONDITION_FAILED
          - 413 PAYLOAD_TOO_LARGE
          - 413 REQUEST_ENTITY_TOO_LARGE
          - 414 URI_TOO_LONG
          - 414 REQUEST_URI_TOO_LONG
          - 415 UNSUPPORTED_MEDIA_TYPE
          - 416 REQUESTED_RANGE_NOT_SATISFIABLE
          - 417 EXPECTATION_FAILED
          - 418 I_AM_A_TEAPOT
          - 419 INSUFFICIENT_SPACE_ON_RESOURCE
          - 420 METHOD_FAILURE
          - 421 DESTINATION_LOCKED
          - 422 UNPROCESSABLE_ENTITY
          - 423 LOCKED
          - 424 FAILED_DEPENDENCY
          - 425 TOO_EARLY
          - 426 UPGRADE_REQUIRED
          - 428 PRECONDITION_REQUIRED
          - 429 TOO_MANY_REQUESTS
          - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
          - 451 UNAVAILABLE_FOR_LEGAL_REASONS
          - 500 INTERNAL_SERVER_ERROR
          - 501 NOT_IMPLEMENTED
          - 502 BAD_GATEWAY
          - 503 SERVICE_UNAVAILABLE
          - 504 GATEWAY_TIMEOUT
          - 505 HTTP_VERSION_NOT_SUPPORTED
          - 506 VARIANT_ALSO_NEGOTIATES
          - 507 INSUFFICIENT_STORAGE
          - 508 LOOP_DETECTED
          - 509 BANDWIDTH_LIMIT_EXCEEDED
          - 510 NOT_EXTENDED
          - 511 NETWORK_AUTHENTICATION_REQUIRED
        timestamp:
          type: string
          format: date-time
          example: null
        message:
          type: string
          example: null
        debugMessage:
          type: string
          example: null
      example: null
    FeaturesAvailableResponse:
      type: object
      properties:
        cloudType:
          type: string
          description: Cloud Type
          example: null
        deploymentType:
          type: string
          description: Cloud Account Deployment Type. global, gov, or china
          example: null
        accountType:
          type: string
          description: Account Type
          example: null
        licenseType:
          type: string
          description: Customer License type.
          example: null
        supportedFeatures:
          type: array
          description: List of supported feature names.
          example: null
          items:
            type: string
            description: List of supported feature names.
            example: null
      example: null
    CloudAccountBulkFeatureRequest:
      required:
      - features
      - memberIds
      type: object
      properties:
        memberIds:
          type: array
          description: 'List of member ids for which the feature must be enabled or disabled.


            For AWS, specify account ids.


            For Azure, specify subscription ids.


            For GCP, specify project ids.'
          example: null
          items:
            type: string
            description: 'List of member ids for which the feature must be enabled or disabled.


              For AWS, specify account ids.


              For Azure, specify subscription ids.


              For GCP, specify project ids.'
            example: null
        features:
          type: array
          description: Features to be enabled or disabled. You can enable or disable only **Agentless Scanning** and **Serverless Function Scanning** feature.
          example: null
          items:
            $ref: '#/components/schemas/CloudAccountBulkFeatureModel'
      example: null
    CloudAccountBulkFeatureModel:
      required:
      - name
      - state
      type: object
      properties:
        name:
          type: string
          description: Feature name which has to be enabled or disabled.
          example: Remediation
          enum:
          - Agentless Scanning
          - Serverless Function Scanning
          - Agentless API Discovery
        state:
          type: string
          description: Feature state whether to be enabled or disabled.
          example: null
          enum:
          - enabled
          - disabled
      description: Features to be enabled or disabled. You can enable or disable only **Agentless Scanning** and **Serverless Function Scanning** feature.
      example: null
    CloudType:
      enum:
      - aws
      - gcp
      - azure
      type: string
    AccountConfig:
      type: object
      properties:
        redlockAccountId:
          format: int32
          type: integer
        accountId:
          type: string
        storageUUID:
          $ref: '#/components/schemas/UUID'
        cloudType:
          $ref: '#/components/schemas/CloudType'
        accountType:
          $ref: '#/components/schemas/AccountType'
        redlockTenantId:
          format: int64
          type: integer
        storageScanStatus:
          $ref: '#/components/schemas/StorageScanStatus'
        dssTenantId:
          type: string
        accountName:
          type: string
        scanOption:
          $ref: '#/components/schemas/AccountScanOption'
        cloudConfig:
          $ref: '#/components/schemas/CspAccessConfig'
    StorageScanStatus:
      enum:
      - initialized
      - enabled
      - disabled
      - maxcreditexceeded
      - licenseexpired
      type: string
    AccountScanOption:
      enum:
      - none
      - realtime
      - historical
      - full
      - custom
      type: string
    CspAccessConfig:
      type: object
    UUID:
      format: uuid
      pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
      type: string
    AccountType:
      enum:
      - regular
      - organization
      - tenant
      type: string
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
x-refined-from:
- palo-alto-cspm-cloudaccountonboardingmicroservices-openapi.json
- palo-alto-cspm-cloudaccountsmicroservice-openapi.json
- palo-alto-cspm-datasecurityonboardingmicroservice-openapi.json
