openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Bandwidth API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Bandwidth
  description: Bandwidth allocation visibility.
paths:
  /bandwidth-allocations:
    get:
      operationId: getBandwidthAllocations
      summary: Palo Alto Networks Get Available Bandwidth Allocations
      description: Returns the available bandwidth allocations per Prisma Access location. Use this data to determine remaining capacity before creating remote network tunnels or to monitor utilization against licensed bandwidth.
      tags:
      - Bandwidth
      parameters:
      - name: location
        in: query
        description: Filter by specific Prisma Access location name.
        schema:
          type: string
        example: example-location
      responses:
        '200':
          description: Bandwidth allocations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BandwidthAllocation'
              examples:
                GetBandwidthAllocations200Example:
                  summary: Default getBandwidthAllocations 200 response
                  x-microcks-default: true
                  value:
                    total: 75
                    items:
                    - location: example-location
                      region: us-east-1
                      licensed_bandwidth_mbps: 771
                      allocated_bandwidth_mbps: 191
                      available_bandwidth_mbps: 791
                    - location: example-location
                      region: us-east-1
                      licensed_bandwidth_mbps: 771
                      allocated_bandwidth_mbps: 191
                      available_bandwidth_mbps: 791
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetBandwidthAllocations401Example:
                  summary: Default getBandwidthAllocations 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetBandwidthAllocations403Example:
                  summary: Default getBandwidthAllocations 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetBandwidthAllocations500Example:
                  summary: Default getBandwidthAllocations 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Configured activity investigation policy detected violation blocked.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: 3ab20120-828b-4af3-9110-53521ee47614
    BandwidthAllocation:
      type: object
      properties:
        location:
          type: string
          description: Prisma Access location name.
          example: example-location
        region:
          type: string
          description: Geographic region.
          example: us-east-1
        licensed_bandwidth_mbps:
          type: integer
          description: Total licensed bandwidth at this location in Mbps.
          example: 771
        allocated_bandwidth_mbps:
          type: integer
          description: Bandwidth currently allocated to remote networks in Mbps.
          example: 191
        available_bandwidth_mbps:
          type: integer
          description: Remaining available bandwidth in Mbps.
          example: 791
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
