openapi: 3.2.0
info:
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  description: These APIs are used to define how Advanced DNS Security Resolver configurations are implemented.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: Advanced DNS Security Resolver Configuration Custom FQDN API
  version: 1.0.0
servers:
- description: Prod
  url: https://api.strata.paloaltonetworks.com
security:
- scmToken: []
tags:
- name: Custom FQDN
paths:
  /adns-resolver/v1/custom-fqdns:
    get:
      description: Retrieve all custom FQDN groups.
      operationId: ListCustomFqdns
      parameters:
      - description: Maximum number of items to return
        explode: false
        in: query
        name: limit
        schema:
          default: 200
          description: Maximum number of items to return
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of items to skip
        explode: false
        in: query
        name: offset
        schema:
          default: 0
          description: Number of items to skip
          format: int32
          minimum: 0
          type: integer
      - description: Field to sort by (id, name, description, total_fqdns, created_at)
        explode: false
        in: query
        name: sort_by
        schema:
          default: created_at
          description: Field to sort by (id, name, description, total_fqdns, created_at)
          enum:
          - id
          - name
          - description
          - total_fqdns
          - created_at
          type: string
      - description: Sort order (ASC or DESC)
        explode: false
        in: query
        name: sort_order
        schema:
          default: DESC
          description: Sort order (ASC or DESC)
          enum:
          - ASC
          - DESC
          type: string
      - description: Search term to filter by name or description
        explode: false
        in: query
        name: search
        schema:
          description: Search term to filter by name or description
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fqdns'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: List Custom FQDNs
      tags:
      - Custom FQDN
    post:
      description: Create a new custom FQDN.
      operationId: CreateCustomFqdn
      requestBody:
        content:
          multipart/form-data:
            encoding:
              Fqdns:
                contentType: text/plain
              description:
                contentType: text/plain
              fqdns:
                contentType: text/plain
              name:
                contentType: text/plain
            schema:
              properties:
                description:
                  description: Description of the custom FQDN list (optional)
                  examples:
                  - List of Custom FQDNs
                  maxLength: 256
                  type: string
                fqdns:
                  contentEncoding: binary
                  contentMediaType: application/octet-stream
                  description: Text file (.txt) with FQDNs (one per line)
                  format: binary
                  type: string
                name:
                  description: Name of the custom FQDN list
                  examples:
                  - Custom FQDNs
                  maxLength: 128
                  minLength: 4
                  type: string
              required:
              - name
              - fqdns
              type: object
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fqdn-data'
          description: Created
          headers:
            Location:
              schema:
                description: URI of the created custom FQDN resource
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Create a Custom FQDN
      tags:
      - Custom FQDN
  /adns-resolver/v1/custom-fqdns/{custom-fqdn-id}:
    delete:
      description: Delete a specific custom FQDN by ID.
      operationId: DeleteCustomFqdnByID
      parameters:
      - description: Custom FQDN ID
        in: path
        name: custom-fqdn-id
        required: true
        schema:
          description: Custom FQDN ID
          type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Delete a Custom FQDN
      tags:
      - Custom FQDN
    get:
      description: Retrieve a specific custom FQDN by ID.
      operationId: GetCustomFqdnByID
      parameters:
      - description: Custom FQDN ID
        in: path
        name: custom-fqdn-id
        required: true
        schema:
          description: Custom FQDN ID
          type: string
      - description: Maximum number of FQDNs to return
        explode: false
        in: query
        name: fqdn-limit
        schema:
          default: 100
          description: Maximum number of FQDNs to return
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of FQDNs to skip
        explode: false
        in: query
        name: fqdn-offset
        schema:
          default: 0
          description: Number of FQDNs to skip
          format: int32
          minimum: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fqdn-item'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Get a custom fqdn
      tags:
      - Custom FQDN
    put:
      description: Update an existing custom FQDN.
      operationId: UpdateCustomFqdnByID
      parameters:
      - description: Custom FQDN ID
        in: path
        name: custom-fqdn-id
        required: true
        schema:
          description: Custom FQDN ID
          type: string
      requestBody:
        content:
          multipart/form-data:
            encoding:
              Fqdns:
                contentType: text/plain
              description:
                contentType: text/plain
              fqdns:
                contentType: text/plain
              name:
                contentType: text/plain
            schema:
              properties:
                description:
                  description: Description of the custom FQDN list (optional)
                  examples:
                  - List of Custom FQDNs
                  maxLength: 256
                  type: string
                fqdns:
                  contentEncoding: binary
                  contentMediaType: application/octet-stream
                  description: Text file (.txt) with FQDNs (one per line)
                  format: binary
                  type: string
                name:
                  description: Name of the custom FQDN list
                  examples:
                  - Custom FQDNs
                  maxLength: 128
                  minLength: 4
                  type: string
              required:
              - name
              - fqdns
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/custom-fqdn-data'
          description: OK
          headers:
            Location:
              schema:
                description: URI of the created custom FQDN resource
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Update a Custom FQDN
      tags:
      - Custom FQDN
components:
  schemas:
    custom-fqdns:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/custom-fqdn'
          type:
          - array
          - 'null'
        limit:
          default: 200
          description: Maximum number of items returned
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        offset:
          default: 0
          description: Number of items skipped
          format: int32
          minimum: 0
          type: integer
        total:
          description: Total number of custom FQDN resources
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - offset
      - total
      - limit
      type: object
    get-custom-fqdn:
      additionalProperties: false
      properties:
        created_at:
          description: Timestamp(UTC) when the custom FQDN list was created
          examples:
          - '2023-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        description:
          description: Description of the custom FQDN list
          examples:
          - List of internal company FQDNs
          maxLength: 256
          type: string
        fqdns:
          $ref: '#/components/schemas/fqdn-item'
          description: FQDNs in the custom FQDN list
        id:
          description: Unique identifier of the custom FQDN list
          examples:
          - 550e8400-e29b-41d4-a716-446655440000
          readOnly: true
          type: string
        last_updated_at:
          description: Timestamp(UTC) when the custom FQDN list was last updated
          examples:
          - '2023-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        name:
          description: Name of the custom FQDN list
          examples:
          - Internal FQDNs
          maxLength: 128
          type: string
        total_fqdns:
          description: Number of FQDNs in the custom FQDN list
          examples:
          - 100
          format: int64
          readOnly: true
          type: integer
      required:
      - id
      - name
      - total_fqdns
      type: object
    fqdn-item:
      additionalProperties: false
      properties:
        data:
          description: List of FQDNs in the custom FQDN list
          items:
            $ref: '#/components/schemas/fqdn'
          type:
          - array
          - 'null'
        limit:
          default: 200
          description: Maximum number of items returned
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        offset:
          default: 0
          description: Number of items skipped
          format: int32
          minimum: 0
          type: integer
        total:
          description: Total number of FQDNs in the custom FQDN list
          format: int32
          minimum: 0
          type: integer
      required:
      - offset
      - total
      - limit
      type: object
    custom-fqdn:
      additionalProperties: false
      properties:
        created_at:
          description: Timestamp(UTC) when the custom FQDN list was created
          examples:
          - '2023-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        description:
          description: Description of the custom FQDN list
          examples:
          - List of internal company FQDNs
          maxLength: 256
          type: string
        id:
          description: Unique identifier of the custom FQDN list
          examples:
          - 550e8400-e29b-41d4-a716-446655440000
          readOnly: true
          type: string
        last_updated_at:
          description: Timestamp(UTC) when the custom FQDN list was last updated
          examples:
          - '2023-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        name:
          description: Name of the custom FQDN list
          examples:
          - Internal FQDNs
          maxLength: 128
          type: string
        total_fqdns:
          description: Number of FQDNs in the custom FQDN list
          examples:
          - 100
          format: int64
          readOnly: true
          type: integer
      required:
      - id
      - name
      - total_fqdns
      type: object
    fqdn:
      additionalProperties: false
      properties:
        fqdn:
          description: Fully Qualified Domain Name
          examples:
          - example.com
          maxLength: 255
          type: string
      required:
      - fqdn
      type: object
    error-detail:
      additionalProperties: false
      properties:
        code:
          $ref: '#/components/schemas/error-code'
          description: Error code identifier
        details:
          description: Additional error details
          items:
            type: string
          type:
          - array
          - 'null'
        help:
          description: URL to error documentation
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - code
      - message
      type: object
    custom-fqdn-data:
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/custom-fqdn'
      required:
      - data
      type: object
    custom-fqdn-item:
      additionalProperties: false
      properties:
        item:
          $ref: '#/components/schemas/get-custom-fqdn'
      required:
      - item
      type: object
    error:
      additionalProperties: false
      properties:
        _errors:
          description: Array of error objects
          items:
            $ref: '#/components/schemas/error-detail'
          type:
          - array
          - 'null'
        _request_id:
          description: Request identifier for tracking
          type: string
      required:
      - _errors
      type: object
    error-code:
      oneOf:
      - enum:
        - 1001
        title: 1001 - Forbidden
        type: integer
      - enum:
        - 1002
        title: 1002 - Invalid Input
        type: integer
      - enum:
        - 1004
        title: 1004 - Invalid Output
        type: integer
      - enum:
        - 1005
        title: 1005 - Internal Server Error
        type: integer
      - enum:
        - 1006
        title: 1006 - Precondition Failed
        type: integer
      - enum:
        - 1007
        title: 1007 - Method Not Allowed
        type: integer
      - enum:
        - 1008
        title: 1008 - Not Found
        type: integer
      - enum:
        - 1009
        title: 1009 - Service Unavailable
        type: integer
      - enum:
        - 1010
        title: 1010 - Duplicate Not Allowed
        type: integer
      - enum:
        - 1011
        title: 1011 - Expired License
        type: integer
      - enum:
        - 1012
        title: 1012 - Dependency Error
        type: integer
      - enum:
        - 1013
        title: 1013 - Subnet Already Verified
        type: integer
      - enum:
        - 1014
        title: 1014 - In Grace
        type: integer
      - enum:
        - 1015
        title: 1015 - Limit Exceeded
        type: integer
      - enum:
        - 1016
        title: 1016 - Duplicate Subnet Not Allowed
        type: integer
      - enum:
        - 1017
        title: 1017 - IP Limit Exceeded
        type: integer
      - enum:
        - 1018
        title: 1018 - FQDN Limit Exceeded
        type: integer
      - enum:
        - 1019
        title: 1019 - Private Subnet
        type: integer
      - enum:
        - 1020
        title: 1020 - Mapped IPv4
        type: integer
      - enum:
        - 1021
        title: 1021 - Invalid Subnet
        type: integer
      - enum:
        - 1022
        title: 1022 - Invalid Sinkhole
        type: integer
      - enum:
        - 1023
        title: 1023 - Allowed Subnet Required
        type: integer
      - enum:
        - 1024
        title: 1024 - Cross Tenant Subnet Conflict
        type: integer
      title: error-code
      type: integer
  securitySchemes:
    scmToken:
      bearerFormat: JWT
      description: "Advanced DNS Security Resolver APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      type: http
