openapi: 3.1.0
info:
  title: Threat Vault API
  description: >-
    REST API for querying Palo Alto Networks threat intelligence including
    threat signature metadata, ATP (Advanced Threat Prevention) analysis
    reports, content release notes, and API usage statistics. The Threat
    Vault provides access to the full catalog of antivirus, anti-spyware,
    vulnerability protection, and DNS Security signatures used by PAN-OS
    firewalls. Enables security operations teams to look up specific threats
    by ID, CVE, SHA-256, or name and retrieve historical signature data for
    threat hunting and incident response. Authentication uses an API key
    passed in the X-API-KEY header.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/threat-vault/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.threatvault.paloaltonetworks.com/service/v1
    description: Threat Vault API production endpoint.
security:
  - apiKey: []
tags:
  - name: Threats
    description: Threat signature lookup and metadata retrieval.
  - name: ATP
    description: Advanced Threat Prevention detailed analysis reports and PCAP files.
  - name: ReleaseNotes
    description: Content release notes for PAN-OS content updates.
  - name: Stats
    description: API usage statistics.
paths:
  /threats:
    get:
      operationId: getThreats
      summary: Get threat signatures
      description: >-
        Retrieves threat signature metadata from the Threat Vault. Supports
        filtering by signature type, ID, SHA-256 hash, name, CVE identifier,
        and date range. Returns antivirus, anti-spyware, vulnerability
        protection, DNS security, and file type signature records.
      tags:
        - Threats
      parameters:
        - name: type
          in: query
          description: Signature type to filter results.
          schema:
            type: string
            enum:
              - antivirus
              - antispyware
              - vulnerability
              - dns
              - fileformat
        - name: id
          in: query
          description: Specific signature ID to retrieve.
          schema:
            type: integer
        - name: sha256
          in: query
          description: SHA-256 hash to look up associated threat signatures.
          schema:
            type: string
        - name: name
          in: query
          description: Partial or exact signature name to search.
          schema:
            type: string
        - name: cve
          in: query
          description: CVE identifier to find associated vulnerability signatures.
          schema:
            type: string
            example: CVE-2021-44228
        - name: from
          in: query
          description: >-
            Start date for filtering signatures by release date
            (YYYY-MM-DD format).
          schema:
            type: string
            format: date
        - name: to
          in: query
          description: >-
            End date for filtering signatures by release date
            (YYYY-MM-DD format).
          schema:
            type: string
            format: date
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of signatures to return.
          schema:
            type: integer
            default: 10
            maximum: 100
      responses:
        '200':
          description: Threat signatures returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /threats/history:
    get:
      operationId: getThreatHistory
      summary: Get signature history
      description: >-
        Retrieves the version history of a specific threat signature including
        all previous releases, modifications, and associated content versions.
        Useful for tracking signature changes over time.
      tags:
        - Threats
      parameters:
        - name: id
          in: query
          required: true
          description: Signature ID to retrieve version history for.
          schema:
            type: integer
        - name: type
          in: query
          required: true
          description: Signature type.
          schema:
            type: string
            enum:
              - antivirus
              - antispyware
              - vulnerability
              - dns
              - fileformat
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
      responses:
        '200':
          description: Signature history returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreatHistoryList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /atp/reports:
    get:
      operationId: getAtpReports
      summary: Get ATP detailed reports
      description: >-
        Retrieves Advanced Threat Prevention (ATP) detailed analysis reports
        for threats detected by inline cloud analysis. Reports include
        behavioral analysis data, indicators of compromise, and threat context.
      tags:
        - ATP
      parameters:
        - name: sha256
          in: query
          description: SHA-256 hash to retrieve the ATP report for.
          schema:
            type: string
        - name: id
          in: query
          description: ATP report ID.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
      responses:
        '200':
          description: ATP reports returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AtpReportList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /atp/reports/pcaps:
    get:
      operationId: getAtpReportPcaps
      summary: Get ATP PCAP files
      description: >-
        Downloads network packet capture (PCAP) files associated with Advanced
        Threat Prevention reports. PCAPs contain the network traffic recorded
        during threat analysis and are useful for incident investigation.
      tags:
        - ATP
      parameters:
        - name: sha256
          in: query
          required: true
          description: SHA-256 hash of the threat sample.
          schema:
            type: string
        - name: id
          in: query
          description: ATP report ID.
          schema:
            type: string
      responses:
        '200':
          description: PCAP file returned successfully.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /release-notes:
    get:
      operationId: getReleaseNotes
      summary: Get content release notes
      description: >-
        Retrieves content release notes for PAN-OS content updates including
        Applications and Threats, Antivirus, and WildFire content packages.
        Release notes describe new signatures, modified signatures, and
        deprecated signatures included in each content version.
      tags:
        - ReleaseNotes
      parameters:
        - name: type
          in: query
          required: true
          description: Content release type.
          schema:
            type: string
            enum:
              - content
              - antivirus
              - wildfire
        - name: version
          in: query
          description: Specific content version to retrieve notes for (e.g., 8000-7000).
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 100
      responses:
        '200':
          description: Release notes returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseNotesList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /stats:
    get:
      operationId: getStats
      summary: Get API usage statistics
      description: >-
        Returns API usage statistics for the authenticated API key, including
        the number of requests made, quota limits, and usage breakdown by
        endpoint. Use this endpoint to monitor consumption against subscription
        limits.
      tags:
        - Stats
      responses:
        '200':
          description: API usage statistics returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: >-
        Threat Vault API key. Generate your API key from the Palo Alto
        Networks customer support portal or the Developer Portal at
        pan.dev. The API key controls access level and daily quota limits.
  responses:
    BadRequest:
      description: Malformed request or invalid query parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient API key permissions or quota exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: An internal server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ThreatSignature:
      type: object
      description: Threat signature metadata record.
      properties:
        id:
          type: integer
          description: Unique signature identifier.
        name:
          type: string
          description: Signature name.
        type:
          type: string
          enum:
            - antivirus
            - antispyware
            - vulnerability
            - dns
            - fileformat
          description: Signature type category.
        subtype:
          type: string
          description: Signature subtype (e.g., virus, trojan, exploit).
        severity:
          type: string
          enum:
            - critical
            - high
            - medium
            - low
            - informational
        description:
          type: string
          description: Human-readable description of the threat.
        cve:
          type: array
          items:
            type: string
          description: Associated CVE identifiers.
        default_action:
          type: string
          enum:
            - alert
            - allow
            - drop
            - reset-both
            - reset-client
            - reset-server
            - block-ip
            - sinkhole
          description: Default action applied to traffic matching this signature.
        min_version:
          type: string
          description: Minimum PAN-OS version supporting this signature.
        max_version:
          type: string
          description: Maximum PAN-OS version supporting this signature (empty if still active).
        status:
          type: string
          enum:
            - released
            - deprecated
            - disabled
        ori_release_version:
          type: string
          description: Content version in which this signature was first released.
        latest_release_version:
          type: string
          description: Most recent content version that updated this signature.
        first_release_time:
          type: string
          format: date-time
          description: Timestamp when the signature was first released.
        latest_release_time:
          type: string
          format: date-time
          description: Timestamp of the most recent signature update.
        sha256:
          type: array
          items:
            type: string
          description: SHA-256 hashes associated with this signature (antivirus).
    ThreatList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            zingbox:
              type: array
              items:
                $ref: '#/components/schemas/ThreatSignature'
        count:
          type: integer
          description: Total number of matching signatures.
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
    ThreatHistoryEntry:
      type: object
      description: A historical record of a signature version.
      properties:
        id:
          type: integer
        name:
          type: string
        version:
          type: string
          description: Content version number for this history entry.
        release_time:
          type: string
          format: date-time
        action:
          type: string
          enum:
            - added
            - modified
            - deprecated
    ThreatHistoryList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/ThreatHistoryEntry'
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
    AtpReport:
      type: object
      description: Advanced Threat Prevention inline analysis report.
      properties:
        id:
          type: string
          description: Unique report identifier.
        sha256:
          type: string
          description: SHA-256 hash of the analyzed sample.
        status:
          type: string
          enum:
            - pending
            - complete
            - error
        verdict:
          type: string
          enum:
            - benign
            - malware
            - grayware
            - phishing
            - unknown
        create_time:
          type: string
          format: date-time
        report:
          type: object
          description: Detailed behavioral analysis data.
          properties:
            file_type:
              type: string
            size:
              type: integer
            behaviors:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  description:
                    type: string
                  severity:
                    type: string
            network:
              type: object
              properties:
                dns_queries:
                  type: array
                  items:
                    type: string
                http_requests:
                  type: array
                  items:
                    type: string
                connections:
                  type: array
                  items:
                    type: object
                    properties:
                      dst_ip:
                        type: string
                      dst_port:
                        type: integer
                      protocol:
                        type: string
    AtpReportList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/AtpReport'
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
    ReleaseNote:
      type: object
      description: Content release notes for a specific PAN-OS content version.
      properties:
        version:
          type: string
          description: Content version identifier (e.g., 8000-7000).
        type:
          type: string
          enum:
            - content
            - antivirus
            - wildfire
        release_date:
          type: string
          format: date
        new_signatures:
          type: integer
          description: Number of new signatures in this release.
        modified_signatures:
          type: integer
          description: Number of modified signatures in this release.
        deprecated_signatures:
          type: integer
          description: Number of deprecated signatures in this release.
        notes:
          type: string
          description: Release notes text.
    ReleaseNotesList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/ReleaseNote'
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
    ApiStats:
      type: object
      description: API usage statistics for the authenticated API key.
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            api_key:
              type: string
              description: Redacted API key identifier.
            quota:
              type: integer
              description: Daily request quota.
            remaining:
              type: integer
              description: Remaining requests in the current day.
            used:
              type: integer
              description: Number of requests used today.
            reset_time:
              type: string
              format: date-time
              description: Timestamp when the quota resets.
            endpoint_usage:
              type: object
              description: Request counts broken down by endpoint.
              additionalProperties:
                type: integer
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          description: Human-readable error message.
        error_code:
          type: string
          description: Machine-readable error code.
