openapi: 3.2.0
info:
  title: Palo Alto Networks Applications API
  version: '1.0'
  description: 'Operations tagged Applications across 5 of this provider''s published API definitions: palo-alto-access-browser-mgmt-prismaaccess-browser-management-latest-openapi.yaml, palo-alto-access-prisma-access-config-applications-openapi.yaml, palo-alto-cspm-applicationconfigmicroservice-openapi.json, palo-alto-cspm-applicationsearchmicroservice-openapi.json, palo-alto-scm-config-cloudngfw-objects-objects-june-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
- url: https://api.strata.paloaltonetworks.com/config/objects/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
tags:
- name: Applications
paths:
  /seb-api/v1/applications:
    get:
      summary: List all applications
      description: Fetches all application objects, with support for filtering and pagination.
      operationId: GetSeb-apiV1Applications
      responses:
        '200':
          description: A list of all application objects
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - in: query
        name: type
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
        required: false
      - in: query
        name: name
        schema:
          type: string
        description: Optional name to search in applications
        required: false
      - in: query
        name: url
        schema:
          type: string
        description: Optional URL to search in applications
        required: false
      - name: limit
        in: query
        description: Maximum number of applications to return
        required: false
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - in: query
        name: sort
        description: The field to sort by
        required: false
        schema:
          type: string
          enum:
          - application.id
          - application.name
          - application.create_time
          - application.update_time
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      - name: configurationVersion
        in: query
        description: Configuration version to retrieve (draft, active, or version number)
        required: false
        schema:
          type: string
          default: draft
          pattern: ^([dD]raft|[aA]ctive|[1-9][0-9]{0,9}|0CV[0-9A-Z]{26})$
      tags:
      - Applications
      security:
      - BearerAuth: []
  /seb-api/v1/applications/{id}:
    get:
      summary: Get an application by ID
      description: Fetches a specific application object identified by its unique ID.
      operationId: GetSeb-apiV1Applicationsbyid
      responses:
        '200':
          description: An Application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationItem'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      - name: configurationVersion
        in: query
        description: Configuration version to retrieve (draft, active, or version number)
        required: false
        schema:
          type: string
          default: draft
          pattern: ^([dD]raft|[aA]ctive|[1-9][0-9]{0,9}|0CV[0-9A-Z]{26})$
      tags:
      - Applications
      security:
      - BearerAuth: []
    delete:
      summary: Delete an application by ID
      description: Permanently removes a specific application identified by its ID.
      operationId: DeleteSeb-apiV1Applicationsbyid
      responses:
        '204':
          description: Deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      tags:
      - Applications
      security:
      - BearerAuth: []
  /seb-api/v1/applications/type/{type}:
    get:
      summary: List applications by type
      description: Fetches application objects belonging to a specific type.
      operationId: GetSeb-apiV1ApplicationsTypebytype
      responses:
        '200':
          description: A list of all application objects
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      - in: query
        name: name
        schema:
          type: string
        description: Optional name to search in applications
        required: false
      - in: query
        name: url
        schema:
          type: string
        description: Optional URL to search in applications
        required: false
      - name: configurationVersion
        in: query
        description: Configuration version to retrieve (draft, active, or version number)
        required: false
        schema:
          type: string
          default: draft
          pattern: ^([dD]raft|[aA]ctive|[1-9][0-9]{0,9}|0CV[0-9A-Z]{26})$
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of applications to return
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: sort
        description: The field to sort by
        required: false
        schema:
          type: string
          enum:
          - application.id
          - application.name
          - application.create_time
          - application.update_time
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      tags:
      - Applications
      security:
      - BearerAuth: []
    post:
      summary: Create an application
      description: Adds a new application of the specified type to the management console. **Uniform Resource Locator Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.
      operationId: PostSeb-apiV1ApplicationsTypebytype
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the newly created resource
                required:
                - id
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrReplaceAppInput'
      security:
      - BearerAuth: []
  /seb-api/v1/applications/type/{type}/{id}:
    get:
      summary: Get an application by ID by type
      description: Fetches a specific application object belonging to the specified type.
      operationId: GetSeb-apiV1ApplicationsTypeBy_typebyid
      responses:
        '200':
          description: An Application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationItem'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      - name: configurationVersion
        in: query
        description: Configuration version to retrieve (draft, active, or version number)
        required: false
        schema:
          type: string
          default: draft
          pattern: ^([dD]raft|[aA]ctive|[1-9][0-9]{0,9}|0CV[0-9A-Z]{26})$
      tags:
      - Applications
      security:
      - BearerAuth: []
    patch:
      summary: Update an application
      description: Partially updates an application - provided attributes are set as specified, others remain unchanged. **Uniform Resource Locator Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.
      operationId: PatchSeb-apiV1ApplicationsTypeBy_typebyid
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the updated resource
                required:
                - id
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAppInput'
      security:
      - BearerAuth: []
    delete:
      summary: Delete an application by type
      description: Removes an application of the specified type from the system.
      operationId: DeleteSeb-apiV1ApplicationsTypeBy_typebyid
      responses:
        '204':
          description: Deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      tags:
      - Applications
      security:
      - BearerAuth: []
  /seb-api/v1/applications/categories:
    get:
      summary: List application categories
      description: Retrieve the categories details through this Application Programming Interface endpoint.
      operationId: GetSeb-apiV1ApplicationsCategories
      responses:
        '200':
          description: A list of the available application categories
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      type: string
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Applications
      security:
      - BearerAuth: []
  /seb-api/v1/applications/bulk-create/{type}:
    post:
      summary: Bulk create applications
      description: Adds multiple new applications of the specified type to the management console in a single operation. **Uniform Resource Locator Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.
      operationId: bulkCreateApplications
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreatedResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateOrReplaceAppInput'
              maxItems: 1000
              minItems: 1
      security:
      - BearerAuth: []
  /seb-api/v1/applications/bulk-delete:
    post:
      summary: Bulk delete applications
      description: Permanently removes multiple applications identified by their IDs in a single atomic operation.
      operationId: PostSeb-apiV1ApplicationsBulk-delete
      responses:
        '204':
          description: Deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appIds:
                  type: array
                  items:
                    type: string
                    pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
                  description: Array of application IDs to be deleted
                  minItems: 1
                  maxItems: 2000
              required:
              - appIds
      security:
      - BearerAuth: []
  /sse/config/v1/applications:
    get:
      description: 'Get applications.

        '
      operationId: get-sse-config-v1-applications
      parameters:
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/name-optional'
      - $ref: '#/components/parameters/folder'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/objects-applications'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of applications
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: List applications
      tags:
      - Applications
    post:
      description: 'Create an application.

        '
      operationId: post-sse-config-v1-applications
      parameters:
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/objects-applications'
        description: The application you want to create
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create an application
      tags:
      - Applications
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/applications/{id}:
    delete:
      description: 'Delete an application.

        '
      operationId: delete-sse-config-v1-applications-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete an application
      tags:
      - Applications
    get:
      description: 'Get an [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) by ID.

        '
      operationId: get-sse-config-v1-applications-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - items:
                    $ref: '#/components/schemas/objects-applications'
                  type: array
          description: Get the application by id.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Get an application by ID
      tags:
      - Applications
    put:
      description: 'Modify an application.

        '
      operationId: put-sse-config-v1-applications-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/objects-applications'
        description: The application you want to edit
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Edit an application
      tags:
      - Applications
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /appid/api/v1/download/app:
    post:
      tags:
      - Applications
      summary: Download Application Inventory
      description: "You can download the complete application inventory list with the application details in a .csv format. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: inventory-Application-Csv-Download
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDownloadRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '400':
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/app/criteria:
    get:
      tags:
      - Applications
      summary: Get Discovery Criteria
      description: "Discovery criteria is a set of filter strings based on which the assets are scanned and grouped into applications. The discovery criteria can be a predefined criteria or a custom criteria. You can use this endpoint to download all discovery criteria details including the criteria that were deleted. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: get_4
      parameters:
      - name: fetch_deleted
        in: query
        description: True to get deleted criteria; False to exclude the deleted criteria.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    post:
      tags:
      - Applications
      summary: Create Discovery Criteria
      description: "Create a new custom discovery criteria. \n>**Note:** You need `application` feature with `Create or Update` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: create_1
      parameters:
      - name: create_definition
        in: query
        description: boolean value indicating if definition has to be created
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCriteriaRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/app/criteria/{id}:
    get:
      tags:
      - Applications
      summary: Get Application Discovery Criteria by ID
      description: "Get the discovery criteria details of an application by application ID. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: get_5
      parameters:
      - name: id
        in: path
        description: Application ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    delete:
      tags:
      - Applications
      summary: Delete Discovery Criteria
      description: "Delete a discovery criteria by criteria ID. \n>**Note:** You need `application` feature with `Delete` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: delete-discovery-criteria
      parameters:
      - name: id
        in: path
        description: ID of the criteria.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    patch:
      tags:
      - Applications
      summary: Update Discovery Criteria
      description: "Update details of the discovery criteria by ID. \n>**Note:** You need `application` feature with `Create or Update` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: edit-discovery-criteria
      parameters:
      - name: id
        in: path
        description: ID of the criteria.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCriteriaRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/download/app/{id}:
    get:
      tags:
      - Applications
      summary: Download Application Details
      description: "Download application details such as alert information, vulnerability reports, and asset details, in a CSV format. The file type value defines the details of the application to download. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: appDetailsCsvDownload
      parameters:
      - name: id
        in: path
        description: Application ID.
        required: true
        schema:
          type: string
      - name: file_type
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '400':
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/download/app/config/{id}:
    get:
      tags:
      - Applications
      summary: Download Application ABOM
      description: "Download Application ABOM (Application Bill of Materials) in a CSV format. This report contains detailed data such as alert information, vulnerability reports, and asset details associated with the application. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: app-download-abom
      parameters:
      - name: id
        in: path
        description: Application ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app:
    post:
      tags:
      - Applications
      summary: Get All Applications
      description: "Get the list of all applications and its details. These are applications that are scanned based on the discovery criteria and displayed in the Application Inventory. This endpoint will return upto 2000 applications. You can further filter the application based on the values of business criticality, business owner, environment and name. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: list-Apps-V2
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAppsRequest'
            examples:
              getAppsByRepositoryIds:
                value:
                  repoIds:
                  - 6e453e07-d896-4c65-a902-cb52874fe399
                  - 012b49a5-4ddc-42db-a0fe-632279d1afc5
              getAppsByMetadataFields:
                value:
                  businessCriticality: High
                  displayName: AppDNA-Test-APP
                  environment: prod
                  owner: owner1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponseV2'
              examples:
                getAppsByRepositoryIds:
                  value:
                  - metadata:
                      businessCriticality:
                      - High
                      displayName:
                      - AppDNA-Test-APP
                      environment:
                      - prod
                      owner:
                      - owner1
                      repos:
                      - fullRepositoryName: name-012b49a5-4ddc-42db-a0fe-632279d1afc5
                        id: 012b49a5-4ddc-42db-a0fe-632279d1afc5
                      - fullRepositoryName: name-6e453e07-d896-4c65-a902-cb52874fe399
                        id: 6e453e07-d896-4c65-a902-cb52874fe399
                      reviewed:
                      - 'true'
                      type:
                      - NON_K8s
                    id: 0622a20b-8db5-449d-b529-70ab3244be79
                    createdAt: 1713876184450
                    summary: null
                  - metadata:
                      displayName:
                      - appid-tags-automation
                      environment:
                      - prod
                      owner:
                      - owner2
                      repos:
                      - fullRepositoryName: name-012b49a5-4ddc-42db-a0fe-632279d1afc5
                        id: 012b49a5-4ddc-42db-a0fe-632279d1afc5
                      - fullRepositoryName: name-6e453e07-d896-4c65-a902-cb52874fe399
                        id: 6e453e07-d896-4c65-a902-cb52874fe399
                      reviewed:
                      - 'true'
                      type:
                      - NON_K8s
                    id: 88f3fd07-4096-3504-867d-f5cf3422ddae
                    createdAt: 1713876184450
                    summary: null
                getAppsByMetadataFields:
                  value:
                  - metadata:
                      businessCriticality:
                      - High
                      businessUnit:
                      - pc
                      clusterAssetId:
                      - arn:aws:eks:us-east-1:661959982153:cluster/k8sdev-apps2
                      complianceStandards:
                      - pc
                      description:
                      - testing edit for an application
                      devopsOwner:
                      - pc
                      displayName:
                      - applicedev@k8sdev-apps2
                      environment:
                      - Production
                      namespace:
                      - applicedev
                      owner:
                      - pc
                      repository:
                      - pc
                      reviewed:
                      - 'true'
                      securityOwner:
                      - pc
                      type:
                      - K8s
                    id: 56e3a090-9510-33f8-a93e-ecb14a2ac38f
                    createdAt: -1
                    summary:
                      alertCountByPolicyType:
                        attack_path: 71
                        config: 3
                        iam: 46
                        network: 4
                      alertCountsBySeverity:
                        critical: 8
                        high: 25
                        info: 60
                        low: 60
                        medium: 27
                      assetCount:
                        total: 24
                      cloudTypes:
                      - aws
                      findingCountByType:
                        INTERNET_EXPOSURE: 12
                        MISCONFIGURATION: 1
                        PRIVILEGE_ESCALATION: 8
                      vulnCountsBySeverity:
                        critical: 0
                        high: 0
                        low: 0
                        medium: 0
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}:
    get:
      tags:
      - Applications
      summary: Get Application by ID
      description: "Get details of an application by application ID.\n >**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: get-App-V2
      parameters:
      - name: id
        description: id of app to get details for
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ApplicationWithAssets'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}/assets:
    post:
      tags:
      - Applications
      summary: Get Assets Associated with an Application
      description: 'Get list of assets associated with an application by application ID.

        >**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled.'
      operationId: search-Assets-By-App
      parameters:
      - name: id
        description: id of application
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ApplicationWithAssets'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}/vulnerabilities:
    post:
      tags:
      - Applications
      summary: Get Vulnerabilities in an Application
      description: "Get details of the vulnerabilities in an application by application ID. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: search-Vulns-By-App
      parameters:
      - name: id
        description: id of application
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ApplicationWithAssets'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}/alerts:
    post:
      tags:
      - Applications
      summary: Get Alerts for an Application
      description: "Get details of alerts in an application by application ID. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: search-Alerts-By-App
      parameters:
      - name: id
        description: id of application
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ApplicationWithAssets'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/summary:
    get:
      tags:
      - Applications
      summary: Get Application Summary
      description: "Get the statistical details about applications in your environment such as count of applications discovered, number of vulnerabilities, and so on. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: app-Summary
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryOfApps'
              example:
                totalAssets: 43334
                totalApps: 12
                newlyDiscoveredApps: 11
                appsWithVuln: 12
                appsWithCriticalAlerts: 102
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}/grouped-counts:
    post:
      tags:
      - Applications
      summary: Get Risk Count of an Application
      description: "Get risk count of an application by application ID. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: search-Counts-By-App
      parameters:
      - name: id
        description: id of application
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestGroupedCount'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskCountResponse'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/tags:
    get:
      tags:
      - Applications
      summary: List Tags
      description: "Get the list of tags which are used to scan and discover applications. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: get-Tags-By-Prisma-Id
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTagsResponse'
              example:
                Tags:
                - managedby
                - application_id
                - api_name
                - cloudtype
                - confidentiality
                - compliance
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/search/api/v1/app:
    post:
      summary: Get Applications by RQL
      description: "Get the list of applications and its details that matches the search query. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      tags:
      - Applications
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
        description: Unique identifier for the search query.
      - name: searchType
        in: query
        required: false
        schema:
          type: string
          enum:
          - application
        description: Type of search.
      - name: saved
        in: query
        required: false
        schema:
          type: boolean
        description: Whether the search query is saved.
      - name: timeRange
        in: query
        required: false
        schema:
          type: object
          properties:
            type:
              type: string
              enum:
              - to_now
            value:
              type: string
              example: epoch
        description: Time range for the search query.
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: The actual query string for searching applications.
      responses:
        '200':
          description: A JSON object containing the search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the search result.
                  name:
                    type: string
                    description: The name of the search result.
                  description:
                    type: string
                    description: The description of the search result.
                  searchType:
                    type: string
                    description: The type of search.
                  saved:
                    type: boolean
                    description: Indicates if the search is saved.
                  timeRange:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of time range.
                      value:
                        type: string
                        description: The value for the time range.
                  query:
                    type: string
                    description: The query string used for searching.
                  data:
                    type: object
                    properties:
                      totalRows:
                        type: integer
                        description: The total number of rows in the result.
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            applicationId:
                              type: string
                              description: The unique identifier of the application.
                            name:
                              type: string
                              description: The name of the application.
                            owner:
                              type: string
                              description: The owner of the application.
                            environment:
                              type: string
                              description: The environment in which the application is running.
                            businessCriticality:
                              type: string
                              description: The business criticality of the application.
                            type:
                              type: string
                              description: The type of application.
                            totalAssets:
                              type: integer
                              description: The total number of assets.
                            impactedAssets:
                              type: integer
                              description: The number of impacted assets.
                            vulnCount:
                              type: integer
                              description: The count of vulnerabilities.
                            alertCount:
                              type: integer
                              description: The count of alerts.
                            findingCount:
                              type: integer
                              description: The count of findings.
                      nextPageToken:
                        type: string
                        description: Token for fetching the next page of results.
        '400':
          description: Invalid search query.
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/search/api/v1/app/risk:
    post:
      summary: Get Vulnerabilities and Alerts for an Application
      description: "Returns vulnerabilities and alerts associated with assets. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestRisk'
      responses:
        '200':
          description: A JSON object containing vulnerabilities and alerts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  vulns:
                    type: array
                    description: List of vulnerabilities.
                    items:
                      type: object
                  alerts:
                    type: array
                    description: List of alerts.
                    items:
                      type: object
                      properties:
                        unifiedAssetId:
                          type: string
                          description: Unique identifier for the asset associated with the alert.
                        alertId:
                          type: string
                          description: Unique identifier for the alert.
                        policy:
                          type: object
                          description: Details of the policy that triggered the alert.
                          properties:
                            policyId:
                              type: string
                              description: Unique identifier for the policy.
                            name:
                              type: string
                              description: Name of the policy.
                            severity:
                              type: string
                              description: Severity level of the policy.
                              enum:
                              - low
                              - medium
                              - high
                              - critical
                            policyType:
                              type: string
                              description: Type of the policy.
                            findingTypes:
                              type: array
                              description: Types of findings associated with the policy.
                              items:
                                type: string
                                enum:
                                - PRIVILEGE_ESCALATION
                                - INTERNET_EXPOSURE
                                - OTHER
        '400':
          description: Invalid request parameters.
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/search/api/v1/app/service:
    post:
      summary: Get Vulnerabilities and Alerts for a Service
      description: "Returns the counts of assets, vulnerabilities, and alerts associated with each service. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestRisk'
      responses:
        '200':
          description: A JSON object containing service vulnerability and alert counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    description: List of services with associated counts.
                    items:
                      type: object
                      properties:
                        service:
                          type: string
                          description: The name of the service.
                        counts:
                          type: object
                          description: Count details related to the service.
                          properties:
                            assetCount:
                              type: integer
                              description: The number of assets associated with the service.
                            vulnCount:
                              type: integer
                              description: The number of vulnerabilities associated with the service.
                            alertCount:
                              type: integer
                              description: The number of alerts associated with the service.
                  nextPageToken:
                    type: string
                    description: Token for fetching the next page of results.
        '400':
          description: Invalid request parameters.
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/app/service/{id}:
    get:
      summary: Get Assets and Services of an Application
      description: "Returns details of assets and services associated with an application, including alerts associated with assets. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      tags:
      - Applications
      parameters:
      - name: id
        description: Application ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A JSON object containing asset and service information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    description: List of assets with associated details.
                    items:
                      type: object
                      properties:
                        unifiedAssetId:
                          type: string
                          description: Unique identifier for the asset.
                        externalAssetId:
                          type: string
                          description: External identifier for the asset.
                        type:
                          type: string
                          description: The type of asset (e.g., Compute).
                        name:
                          type: string
                          description: The name of the asset.
                        alerts:
                          type: array
                          description: List of alerts associated with the asset.
                          items:
                            type: object
                            properties:
                              unifiedAssetId:
                                type: string
                                description: Unique identifier for the asset associated with the alert.
                              alertId:
                                type: string
                                description: Unique identifier for the alert.
                              policy:
                                type: object
                                description: Details of the policy that triggered the alert.
                                properties:
                                  policyId:
                                    type: string
                                    description: Unique identifier for the policy.
                                  name:
                                    type: string
                                    description: Name of the policy.
                                  severity:
                                    type: string
                                    description: Severity level of the policy.
                                    enum:
                                    - low
                                    - medium
                                    - high
                                    - critical
                                  policyType:
                                    type: string
                                    description: Type of the policy.
                                  findingTypes:
                                    type: array
                                    description: Types of findings associated with the policy.
                                    items:
                                      type: string
                                      enum:
                                      - HIGH_PRIVILEGED_ROLE
                                      - INTERNET_EXPOSURE
                                      - OTHER
                        totalAlertsCount:
                          type: integer
                          description: Total number of alerts associated with the asset.
                  services:
                    type: array
                    description: List of services with associated details.
                    items:
                      type: object
                      properties:
                        Raw:
                          type: string
                          description: Raw service identifier.
                        Name:
                          type: string
                          description: Name of the service.
                        Id:
                          type: string
                          description: Unique identifier for the service.
                        Kind:
                          type: array
                          description: Types or categories of the service.
                          items:
                            type: string
                        Region:
                          type: string
                          description: The region where the service is located.
        '400':
          description: Invalid request parameters.
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /applications:
    get:
      tags:
      - Applications
      summary: List applications
      description: 'Retrieve a list of applications.

        '
      operationId: ListApplications
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder_2'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/applications'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    post:
      tags:
      - Applications
      summary: Create an application
      description: 'Create a new application.

        '
      operationId: CreateApplications
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applications'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applications'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/objects/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /applications/{id}:
    get:
      tags:
      - Applications
      summary: Get the application by id
      description: 'Get an existing application.

        '
      operationId: GetApplicationsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applications'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    put:
      tags:
      - Applications
      summary: Update an application
      description: 'Update an existing application.

        '
      operationId: UpdateApplicationsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applications'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applications'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    delete:
      tags:
      - Applications
      summary: Delete an application
      description: 'Delete an application.

        '
      operationId: DeleteApplicationsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok_2'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/objects/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
components:
  schemas:
    PatchAppInput:
      oneOf:
      - $ref: '#/components/schemas/CustomPatchApplicationInput'
      - $ref: '#/components/schemas/PrivatePatchApplicationInput'
      - $ref: '#/components/schemas/NonWebPatchApplicationInput'
      - $ref: '#/components/schemas/LocalDesktopPatchApplicationInput'
      discriminator:
        propertyName: type
        mapping:
          custom: '#/components/schemas/CustomPatchApplicationInput'
          private: '#/components/schemas/PrivatePatchApplicationInput'
          non-web: '#/components/schemas/NonWebPatchApplicationInput'
          localdesktopcustom: '#/components/schemas/LocalDesktopPatchApplicationInput'
    BaseApplication:
      type: object
      properties:
        id:
          type: string
          format: string
          description: Unique identifier
        name:
          type: string
          format: string
          description: Name of the application
        description:
          type: string
          format: string
          description: Description of the application
        type:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
        category:
          type: string
          format: string
        metadata:
          $ref: '#/components/schemas/metadata'
      required:
      - id
      - name
      - type
      - metadata
    CustomApplication:
      description: Custom Application
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseApplicationWithUrls'
      - type: object
        properties:
          type:
            type: string
            description: Discriminator field, must be 'custom'.
            enum:
            - custom
    CreateOrReplaceAppInput:
      oneOf:
      - $ref: '#/components/schemas/CustomApplicationInput'
      - $ref: '#/components/schemas/PrivateApplicationInput'
      - $ref: '#/components/schemas/NonWebApplicationInput'
      - $ref: '#/components/schemas/LocalDesktopApplicationInput'
      discriminator:
        propertyName: type
        mapping:
          custom: '#/components/schemas/CustomApplicationInput'
          private: '#/components/schemas/PrivateApplicationInput'
          non-web: '#/components/schemas/NonWebApplicationInput'
          localdesktopcustom: '#/components/schemas/LocalDesktopApplicationInput'
    CatalogApplication:
      description: Catalog Application
      type: object
      allOf:
      - $ref: '#/components/schemas/BaseApplicationWithUrls'
      - type: object
        properties:
          type:
            type: string
            description: Discriminator field, must be 'catalog'.
            enum:
            - catalog
          catalog_name:
            type: string
            description: The name in the application catalog
          catalog_attributes:
            $ref: '#/components/schemas/CatalogAttributes'
    LocalDesktopPatchApplicationInput:
      type: object
      properties:
        name:
          type: string
          format: string
          description: Name of the application
        description:
          type: string
          format: string
          description: Description of the application
          maxLength: 2500
        type:
          $ref: '#/components/schemas/LocalDesktopTypeInput'
        executables:
          $ref: '#/components/schemas/LocalDesktopAppExecutablesInput'
        category:
          type: string
          format: string
      required:
      - type
    BaseApplicationWithUrls:
      description: Base Application with URLs (for URL-based application types)
      allOf:
      - $ref: '#/components/schemas/BaseApplication'
      - type: object
        properties:
          urls:
            type: array
            description: URL patterns for the application
            items:
              type: string
        required:
        - urls
    CustomTypeInput:
      type: string
      description: Discriminator field, must be 'custom'.
      enum:
      - custom
    LocalDesktopAppExecutableInput:
      type: object
      properties:
        originalFileName:
          type: string
          description: The original executable file name
      required:
      - originalFileName
    LocalDesktopApplicationInput:
      type: object
      properties:
        name:
          type: string
          format: string
          description: Name of the application
        description:
          type: string
          format: string
          description: Description of the application
          maxLength: 2500
        type:
          $ref: '#/components/schemas/LocalDesktopTypeInput'
        executables:
          $ref: '#/components/schemas/LocalDesktopAppExecutablesInput'
        category:
          type: string
          format: string
      required:
      - name
      - type
      - executables
    metadata:
      type: object
      properties:
        createdTime:
          type: string
          format: date-time
          description: Creation time
        lastUpdatedTime:
          type: string
          format: date-time
          description: Last update time
        createdBy:
          type: string
          description: Created by user
        lastUpdatedBy:
          type: string
          description: Updated by user
        configurationVersion:
          $ref: '#/components/schemas/MetadataConfigurationVersion'
      required:
      - createdTime
      - lastUpdatedTime
    ApplicationItem:
      type: object
      oneOf:
      - $ref: '#/components/schemas/CustomApplication'
      - $ref: '#/components/schemas/PrivateApplication'
      - $ref: '#/components/schemas/NonWebApplication'
      - $ref: '#/components/schemas/CatalogApplication'
      - $ref: '#/components/schemas/LocalDesktopApplication'
      discriminator:
        propertyName: type
        mapping:
          custom: '#/components/schemas/CustomApplication'
          private: '#/components/schemas/PrivateApplication'
          non-web: '#/components/schemas/NonWebApplication'
          catalog: '#/components/schemas/CatalogApplication'
          localdesktopcustom: '#/components/schemas/LocalDesktopApplication'
    UrlInput:
      type: object
      properties:
        url:
          type: string
          description: URL pattern expression
        strict_mode:
          type: boolean
          default: false
          description: "If `true`, the URL is saved exactly as entered. \nIf `false` (default), the system automatically normalizes the URL based on the App Type:\n\n**Custom Apps:**\n* **Protocol:** Defaults to `*://` if omitted.\n* **Subdomain:** Defaults to `www` logic (hidden).\n* **Path:** Appends `/*` if no path is specified.\n\n**Private Apps:**\n* **Protocol:** Defaults to `https://`. Wildcards (`*`) are **NOT** allowed.\n* **Subdomain:** No automatic `www` handling; `www` is treated as a unique prefix.\n* **Domain:** Supports IPv4 and Port numbers (e.g., `:8080`).\n* **Path:** Automatically adds a trailing `*` to all paths.\n"
      required:
      - url
    CatalogAttributes:
      description: Catalog application attributes sourced from the Universal Application Directory (UAD)
      type: object
      properties:
        spoof_risk_level:
          type:
          - string
          - 'null'
        disaster_recovery:
          type:
          - boolean
          - 'null'
        encryption_in_transit:
          type:
          - boolean
          - 'null'
        native_data_classification:
          type:
          - boolean
          - 'null'
        audit_log:
          type:
          - boolean
          - 'null'
        data_retention:
          type:
          - string
          - 'null'
        file_content_sharing:
          type:
          - boolean
          - 'null'
        session_timeout:
          type:
          - string
          - 'null'
        encryption_at_rest:
          type:
          - boolean
          - 'null'
        encryption_strength_at_rest:
          type:
          - string
          - 'null'
        protected_from_downgrade_attacks:
          type:
          - boolean
          - 'null'
        privacy_policy:
          type:
          - boolean
          - 'null'
        data_ownership:
          type:
          - string
          - 'null'
        third_party_data_sharing:
          type:
          - boolean
          - 'null'
        http_security_headers:
          type:
          - string
          - 'null'
        terms_and_conditions:
          type:
          - boolean
          - 'null'
        iso_9000:
          type:
          - boolean
          - 'null'
        iso_9001:
          type:
          - boolean
          - 'null'
        iso_27001:
          type:
          - boolean
          - 'null'
        iso_27002:
          type:
          - boolean
          - 'null'
        iso_27017:
          type:
          - boolean
          - 'null'
        iso_27018:
          type:
          - boolean
          - 'null'
        soc1:
          type:
          - boolean
          - 'null'
        soc2:
          type:
          - boolean
          - 'null'
        pci:
          type:
          - boolean
          - 'null'
        hipaa:
          type:
          - boolean
          - 'null'
        gdpr:
          type:
          - boolean
          - 'null'
        ferpa:
          type:
          - boolean
          - 'null'
        coppa:
          type:
          - boolean
          - 'null'
        finra:
          type:
          - boolean
          - 'null'
        ffiec:
          type:
          - boolean
          - 'null'
        glba:
          type:
          - boolean
          - 'null'
        gapp:
          type:
          - boolean
          - 'null'
        itar:
          type:
          - boolean
          - 'null'
        hitrust_csf:
          type:
          - boolean
          - 'null'
        trustarc:
          type:
          - boolean
          - 'null'
        fedramp:
          type:
          - boolean
          - 'null'
        c5:
          type:
          - boolean
          - 'null'
        ssae18:
          type:
          - boolean
          - 'null'
        nist_sp_80053:
          type:
          - boolean
          - 'null'
        fisma:
          type:
          - boolean
          - 'null'
        privacy_mark_japan:
          type:
          - boolean
          - 'null'
        privacy_shield:
          type:
          - boolean
          - 'null'
        safe_harbor:
          type:
          - boolean
          - 'null'
        cobit:
          type:
          - boolean
          - 'null'
        csa_star:
          type:
          - boolean
          - 'null'
        jericho_forum_comm:
          type:
          - boolean
          - 'null'
        sox:
          type:
          - boolean
          - 'null'
        cjis:
          type:
          - boolean
          - 'null'
        isae_3402:
          type:
          - boolean
          - 'null'
        input_data_types:
          type:
          - array
          - 'null'
          items:
            type: string
        output_data_types:
          type:
          - array
          - 'null'
          items:
            type: string
        consumption_modes:
          type:
          - array
          - 'null'
          items:
            type: string
        genai_types:
          type:
          - array
          - 'null'
          items:
            type: string
        data_used_in_models:
          type:
          - string
          - 'null'
        allows_fine_tuning:
          type:
          - boolean
[...]
