openapi: 3.1.0
info:
  title: SASE Tenancy Service API
  description: >-
    SASE Tenancy Service API for Tenant Service Group (TSG) management.
    Provides programmatic control over the multi-tenant hierarchy used in
    Palo Alto Networks SASE deployments. Tenant Service Groups are the
    organizational units used to scope SASE policies, licenses, and
    administrative access. Supports creating parent and child TSG
    relationships to model managed service provider and enterprise
    sub-tenant structures.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/tenancy/v1
    description: SASE Tenancy Service API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Tenant Service Groups
    description: Tenant Service Group lifecycle management and hierarchy queries.
paths:
  /tenant-service-groups:
    get:
      operationId: listTenantServiceGroups
      summary: List Tenant Service Groups
      description: >-
        Returns the list of Tenant Service Groups accessible to the
        authenticated service account. Results include the TSG hierarchy
        metadata, license counts, and current status. Supports filtering
        and pagination for tenants managing large numbers of TSGs.
      tags:
        - Tenant Service Groups
      parameters:
        - name: parent_id
          in: query
          description: Filter to return only direct children of the specified TSG ID.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of TSGs to return per page.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Tenant Service Groups returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of TSGs matching the query.
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TenantServiceGroup'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createTenantServiceGroup
      summary: Create Tenant Service Group
      description: >-
        Creates a new Tenant Service Group. A parent TSG ID must be
        provided to place the new TSG within the hierarchy. The creating
        account must have administrative access to the parent TSG.
      tags:
        - Tenant Service Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantServiceGroupRequest'
      responses:
        '201':
          description: Tenant Service Group created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantServiceGroup'
        '400':
          description: Invalid request body or missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions on the parent TSG.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A TSG with this name already exists under the parent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tenant-service-groups/{tsg_id}:
    get:
      operationId: getTenantServiceGroup
      summary: Get Tenant Service Group details
      description: >-
        Returns full details for a specific Tenant Service Group including
        its parent, display name, description, license allocations, and
        current status.
      tags:
        - Tenant Service Groups
      parameters:
        - name: tsg_id
          in: path
          required: true
          description: Unique identifier of the Tenant Service Group.
          schema:
            type: string
      responses:
        '200':
          description: Tenant Service Group details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantServiceGroup'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Tenant Service Group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateTenantServiceGroup
      summary: Update Tenant Service Group
      description: >-
        Updates the display name, description, or contact information for
        an existing Tenant Service Group. The TSG ID and parent relationship
        cannot be changed after creation.
      tags:
        - Tenant Service Groups
      parameters:
        - name: tsg_id
          in: path
          required: true
          description: Unique identifier of the Tenant Service Group to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantServiceGroupUpdate'
      responses:
        '200':
          description: Tenant Service Group updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantServiceGroup'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Tenant Service Group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteTenantServiceGroup
      summary: Delete Tenant Service Group
      description: >-
        Deletes a Tenant Service Group. The TSG must have no child TSGs
        and no active service subscriptions before deletion. This action
        is irreversible.
      tags:
        - Tenant Service Groups
      parameters:
        - name: tsg_id
          in: path
          required: true
          description: Unique identifier of the Tenant Service Group to delete.
          schema:
            type: string
      responses:
        '204':
          description: Tenant Service Group deleted successfully.
        '400':
          description: TSG has child TSGs or active subscriptions and cannot be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Tenant Service Group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tenant-service-groups/{tsg_id}/children:
    get:
      operationId: listChildTenantServiceGroups
      summary: List child Tenant Service Groups
      description: >-
        Returns all direct child Tenant Service Groups of the specified
        TSG. Use this endpoint to traverse the TSG hierarchy when managing
        multi-level tenant structures.
      tags:
        - Tenant Service Groups
      parameters:
        - name: tsg_id
          in: path
          required: true
          description: Unique identifier of the parent Tenant Service Group.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of child TSGs to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Child Tenant Service Groups returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of direct children.
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TenantServiceGroup'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Parent Tenant Service Group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    TenantServiceGroup:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the Tenant Service Group.
        display_name:
          type: string
          description: Human-readable display name of the TSG.
        description:
          type: string
          description: Optional description of the TSG's purpose.
        parent_id:
          type: string
          description: ID of the parent TSG in the hierarchy. Null for root-level TSGs.
        support_account_id:
          type: string
          description: Associated Palo Alto Networks support account identifier.
        vertical:
          type: string
          description: Industry vertical classification for the TSG.
        region:
          type: string
          description: Primary geographic region for the TSG.
        status:
          type: string
          enum:
            - active
            - suspended
            - pending
          description: Current status of the TSG.
        child_count:
          type: integer
          description: Number of direct child TSGs.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the TSG was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp of the most recent TSG modification.
    TenantServiceGroupRequest:
      type: object
      required:
        - display_name
        - parent_id
      properties:
        display_name:
          type: string
          description: Display name for the new TSG.
          maxLength: 256
        description:
          type: string
          description: Optional description of the TSG's purpose.
          maxLength: 1024
        parent_id:
          type: string
          description: ID of the parent TSG under which to create this TSG.
        support_account_id:
          type: string
          description: Palo Alto Networks support account ID to associate with this TSG.
        vertical:
          type: string
          description: Industry vertical classification.
        region:
          type: string
          description: Primary geographic region.
    TenantServiceGroupUpdate:
      type: object
      properties:
        display_name:
          type: string
          description: New display name for the TSG.
          maxLength: 256
        description:
          type: string
          description: Updated description.
          maxLength: 1024
        vertical:
          type: string
          description: Updated industry vertical classification.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
