openapi: 3.1.0
info:
  title: Prisma AIRS AI Red Teaming API
  description: >-
    Prisma AIRS AI Red Teaming API for automated AI vulnerability assessment.
    Provides programmatic control over red teaming scans that probe AI
    applications and LLM endpoints for security vulnerabilities. The API
    enables defining scan targets (AI model endpoints), launching automated
    attack simulations across configurable attack categories, and retrieving
    detailed vulnerability reports. Attack categories cover prompt injection,
    jailbreaking, data exfiltration, hallucination induction, toxic content
    generation, and other AI-specific threat vectors. Part of the Prisma AI
    Runtime Security platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/ai-red-teaming
    description: Prisma AIRS AI Red Teaming API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Targets
    description: AI scan target definition and management.
  - name: Scans
    description: Vulnerability scan lifecycle management.
  - name: Attack Categories
    description: Available attack category reference data.
paths:
  /v1/targets:
    post:
      operationId: createScanTarget
      summary: Create scan target
      description: >-
        Creates a new scan target representing an AI application or LLM
        endpoint to be assessed. Targets define the endpoint URL, the type
        of AI interface (chat completions, custom API, etc.), and the
        authentication configuration needed to interact with the endpoint
        during the red teaming scan.
      tags:
        - Targets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanTargetRequest'
      responses:
        '201':
          description: Scan target created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanTarget'
        '400':
          description: Invalid request body or endpoint unreachable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A target with this name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: listScanTargets
      summary: List scan targets
      description: >-
        Returns the list of scan targets configured for the tenant.
        Each target represents an AI application endpoint that can be
        selected when starting a vulnerability scan.
      tags:
        - Targets
      parameters:
        - name: type
          in: query
          description: Filter targets by interface type.
          schema:
            type: string
            enum:
              - openai_chat
              - anthropic_messages
              - custom_http
              - huggingface
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of targets to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Scan targets returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScanTarget'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/targets/{target_id}:
    get:
      operationId: getScanTarget
      summary: Get scan target details
      description: Returns full details for a specific scan target by ID.
      tags:
        - Targets
      parameters:
        - name: target_id
          in: path
          required: true
          description: Unique identifier of the scan target.
          schema:
            type: string
      responses:
        '200':
          description: Scan target details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanTarget'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Scan target not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteScanTarget
      summary: Delete scan target
      description: >-
        Deletes a scan target. Targets with active or pending scans cannot
        be deleted until scans complete.
      tags:
        - Targets
      parameters:
        - name: target_id
          in: path
          required: true
          description: Unique identifier of the scan target to delete.
          schema:
            type: string
      responses:
        '204':
          description: Scan target deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Scan target not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Target has active scans and cannot be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/scans:
    post:
      operationId: startVulnerabilityScan
      summary: Start vulnerability scan
      description: >-
        Starts a new AI vulnerability scan against a registered target.
        Specify the attack categories to test and optionally provide
        custom prompts to supplement the built-in attack library. The scan
        runs asynchronously; use GET /v1/scans/{scan_id} to monitor
        progress and GET /v1/scans/{scan_id}/results to retrieve the
        completed report.
      tags:
        - Scans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanRequest'
      responses:
        '201':
          description: Vulnerability scan started successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '400':
          description: Invalid request body or target not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A scan is already in progress for this target.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/scans/{scan_id}:
    get:
      operationId: getScanStatus
      summary: Get scan status
      description: >-
        Returns the current status and progress of a vulnerability scan.
        When status is completed, use GET /v1/scans/{scan_id}/results to
        retrieve the full vulnerability report.
      tags:
        - Scans
      parameters:
        - name: scan_id
          in: path
          required: true
          description: Unique identifier of the vulnerability scan.
          schema:
            type: string
      responses:
        '200':
          description: Scan status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Scan'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Scan not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/scans/{scan_id}/results:
    get:
      operationId: getScanResults
      summary: Get scan results and report
      description: >-
        Returns the detailed vulnerability report for a completed scan.
        The report includes an overall risk score, vulnerability findings
        organized by attack category, specific attack prompts that
        succeeded, and remediation recommendations. Only available when
        the scan status is completed.
      tags:
        - Scans
      parameters:
        - name: scan_id
          in: path
          required: true
          description: Unique identifier of the completed scan.
          schema:
            type: string
        - name: category
          in: query
          description: Filter results by attack category.
          schema:
            type: string
        - name: severity
          in: query
          description: Filter findings by severity level.
          schema:
            type: string
            enum:
              - informational
              - low
              - medium
              - high
              - critical
      responses:
        '200':
          description: Scan results and report returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanReport'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Scan not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Scan is not yet completed. Results are not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/attack-categories:
    get:
      operationId: listAttackCategories
      summary: List available attack categories
      description: >-
        Returns the list of available attack categories that can be
        selected when starting a vulnerability scan. Each category
        represents a class of AI security vulnerabilities tested using
        automated adversarial prompts.
      tags:
        - Attack Categories
      responses:
        '200':
          description: Attack categories returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttackCategory'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    ScanTarget:
      type: object
      properties:
        target_id:
          type: string
          description: Unique identifier of the scan target.
        name:
          type: string
          description: Display name of the scan target.
        description:
          type: string
          description: Description of the target AI application.
        type:
          type: string
          enum:
            - openai_chat
            - anthropic_messages
            - custom_http
            - huggingface
          description: AI interface type of the target endpoint.
        endpoint_url:
          type: string
          format: uri
          description: URL of the AI application endpoint.
        model:
          type: string
          description: AI model name or identifier used by the endpoint.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ScanTargetRequest:
      type: object
      required:
        - name
        - type
        - endpoint_url
      properties:
        name:
          type: string
          description: Display name for the scan target.
          maxLength: 256
        description:
          type: string
          description: Optional description of the target application.
        type:
          type: string
          enum:
            - openai_chat
            - anthropic_messages
            - custom_http
            - huggingface
          description: AI interface type of the target endpoint.
        endpoint_url:
          type: string
          format: uri
          description: URL of the AI application endpoint to scan.
        model:
          type: string
          description: AI model name to include in requests (e.g., gpt-4o, claude-3-5-sonnet-20241022).
        auth_config:
          type: object
          description: Authentication configuration for the target endpoint.
          properties:
            type:
              type: string
              enum:
                - bearer_token
                - api_key_header
                - basic
                - none
              description: Authentication method.
            header_name:
              type: string
              description: Header name for API key authentication.
            credential:
              type: string
              description: Authentication credential value (API key or token).
              writeOnly: true
        system_prompt:
          type: string
          description: >-
            System prompt to include in requests to the target. Used to
            scope red teaming attacks to the intended application context.
          maxLength: 8192
    Scan:
      type: object
      properties:
        scan_id:
          type: string
          description: Unique identifier of the scan.
        target_id:
          type: string
          description: ID of the scan target being assessed.
        target_name:
          type: string
          description: Display name of the scan target.
        status:
          type: string
          enum:
            - pending
            - running
            - completed
            - failed
            - cancelled
          description: Current status of the scan.
        attack_categories:
          type: array
          items:
            type: string
          description: Attack categories included in this scan.
        progress:
          type: number
          format: float
          description: Scan completion progress from 0.0 to 1.0.
          minimum: 0.0
          maximum: 1.0
        total_attacks:
          type: integer
          description: Total number of attack probes to be executed.
        completed_attacks:
          type: integer
          description: Number of attack probes completed so far.
        vulnerabilities_found:
          type: integer
          description: Number of vulnerabilities discovered so far.
        error_message:
          type: string
          description: Error description if the scan failed.
        started_at:
          type: string
          format: date-time
          description: Timestamp when the scan started.
        completed_at:
          type: string
          format: date-time
          description: Timestamp when the scan completed.
    ScanRequest:
      type: object
      required:
        - target_id
        - attack_categories
      properties:
        target_id:
          type: string
          description: ID of the scan target to assess.
        attack_categories:
          type: array
          items:
            type: string
          minItems: 1
          description: >-
            Attack category identifiers to include in the scan. Use
            GET /v1/attack-categories to retrieve available category IDs.
        custom_prompts:
          type: array
          items:
            type: string
          description: >-
            Optional custom adversarial prompts to include alongside the
            built-in attack library. Useful for testing application-specific
            threat scenarios.
          maxItems: 100
        max_attacks_per_category:
          type: integer
          description: >-
            Maximum number of attack probes per category. Limits scan
            duration for large attack libraries. If omitted, all available
            attacks for each category are executed.
          minimum: 1
          maximum: 1000
    ScanReport:
      type: object
      properties:
        scan_id:
          type: string
          description: Unique identifier of the scan.
        target_id:
          type: string
          description: ID of the assessed target.
        target_name:
          type: string
          description: Display name of the assessed target.
        overall_risk_score:
          type: number
          format: float
          description: Overall vulnerability risk score from 0.0 (no risk) to 10.0 (critical).
          minimum: 0.0
          maximum: 10.0
        total_attacks_executed:
          type: integer
          description: Total number of attack probes executed.
        vulnerabilities_found:
          type: integer
          description: Total number of vulnerabilities discovered.
        category_summaries:
          type: array
          description: Vulnerability summary per attack category.
          items:
            type: object
            properties:
              category_id:
                type: string
              category_name:
                type: string
              attacks_executed:
                type: integer
              vulnerabilities_found:
                type: integer
              risk_score:
                type: number
                format: float
        findings:
          type: array
          description: Individual vulnerability findings.
          items:
            $ref: '#/components/schemas/VulnerabilityFinding'
        generated_at:
          type: string
          format: date-time
          description: Timestamp when the report was generated.
    VulnerabilityFinding:
      type: object
      properties:
        finding_id:
          type: string
          description: Unique identifier of the finding.
        category_id:
          type: string
          description: Attack category identifier.
        category_name:
          type: string
          description: Human-readable attack category name.
        severity:
          type: string
          enum:
            - informational
            - low
            - medium
            - high
            - critical
          description: Severity level of the vulnerability.
        title:
          type: string
          description: Brief title describing the vulnerability.
        description:
          type: string
          description: Detailed description of the vulnerability and its impact.
        attack_prompt:
          type: string
          description: The adversarial prompt that revealed the vulnerability.
        model_response:
          type: string
          description: >-
            The AI model's response to the attack prompt, demonstrating
            the vulnerability. May be truncated.
        remediation:
          type: string
          description: Recommended steps to mitigate the vulnerability.
    AttackCategory:
      type: object
      properties:
        category_id:
          type: string
          description: Unique identifier for the attack category.
        name:
          type: string
          description: Human-readable category name.
        description:
          type: string
          description: Description of the vulnerability class this category tests.
        attack_count:
          type: integer
          description: Number of built-in attack probes in this category.
        severity_range:
          type: object
          description: Severity range of vulnerabilities this category can discover.
          properties:
            min:
              type: string
              enum:
                - informational
                - low
                - medium
                - high
                - critical
            max:
              type: string
              enum:
                - informational
                - low
                - medium
                - high
                - critical
        examples:
          type: array
          items:
            type: string
          description: Example attack type names within this category.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
