openapi: 3.2.0
info:
  title: Palo Alto Networks Policy Group Lifecycle Endpoints API
  version: '1.0'
  description: 'Operations tagged Policy Group Lifecycle Endpoints across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-policy-group-lifecycle-endpoints-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: Policy Group Lifecycle Endpoints
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
paths:
  /api/v1/mssp/{mssp-id}/policy-group/{pg-id}:
    get:
      tags:
      - Policy Group Lifecycle Endpoints
      summary: Get the details of an existing policy group
      description: Returns the details of an existing policy group. Will use msspId from the auth token if available.
      operationId: get-policy-group-by-id
      parameters:
      - name: pg-id
        in: path
        description: the id of the policy group
        required: true
        schema:
          type: string
          format: uuid
        example: 34e2e197-f172-4a04-93a4-39b1532648ab
      - name: mssp-id
        in: path
        description: the mssp the policy group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/PolicyGroupResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    put:
      tags:
      - Policy Group Lifecycle Endpoints
      summary: Update a policy group
      description: Updates a policy group if it doesn't exist. Will use msspId from the auth token if available.
      operationId: update-policy-group
      parameters:
      - name: pg-id
        in: path
        description: the id of the policy group
        required: true
        schema:
          type: string
          format: uuid
        example: 34e2e197-f172-4a04-93a4-39b1532648ab
      - name: mssp-id
        in: path
        description: the mssp the tenant group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/PolicyGroupRequest'
        required: true
      responses:
        '204':
          description: Update Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    delete:
      tags:
      - Policy Group Lifecycle Endpoints
      summary: Delete an existing policy group
      description: Deletes a policy group if it is empty. Will use msspId from the auth token if available.
      operationId: delete-policy-group
      parameters:
      - name: pg-id
        in: path
        description: the id of the policy group
        required: true
        schema:
          type: string
          format: uuid
        example: 34e2e197-f172-4a04-93a4-39b1532648ab
      - name: mssp-id
        in: path
        description: the mssp the policy group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      responses:
        '204':
          description: Delete Accepted
          headers:
            Location:
              description: The relative path to the deleted policy group
              style: simple
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
  /api/v1/mssp/{mssp-id}/policy-group:
    get:
      tags:
      - Policy Group Lifecycle Endpoints
      summary: Get the details of all existing policy groups
      description: Returns the details of all existing policy groups. Will use msspId from the auth token if available.
      operationId: get-all-policy-groups
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the policy group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      - name: next_page_token
        in: query
        description: pagination token to continue a previous query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/PolicyGroupsListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    post:
      tags:
      - Policy Group Lifecycle Endpoints
      summary: Create a policy group
      description: Creates a policy group if it doesn't exist. Will use msspId from the auth token if available.
      operationId: create-policy-group
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the tenant group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/PolicyGroupRequest'
        required: true
      responses:
        '201':
          description: Created
          headers:
            Location:
              description: The relative path to the created policy group
              style: simple
              schema:
                type: string
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/CreatePolicyGroupResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  schemas:
    PolicyGroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        policies:
          type: array
          items:
            type: string
        tenantGroups:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupMappingDetails'
    PolicyGroupsListResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PolicyGroupListResponse'
        nextPageToken:
          type: string
    PolicyGroupListResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        policyCount:
          type: integer
          format: int32
        tenantGroupCount:
          type: integer
          format: int32
    TenantGroupMappingDetails:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantGroupId:
          type: string
          format: uuid
        tenantGroupName:
          type: string
        tenantCount:
          type: integer
          format: int32
    CreatePolicyGroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          maxLength: 63
          minLength: 3
          type: string
        policies:
          type: array
          items:
            type: string
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    PolicyGroupRequest:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 63
          minLength: 3
          type: string
          description: Name of the policy group.
        policies:
          type: array
          description: Policies assigned to this policy group.
          items:
            type: string
            description: Policies assigned to this policy group.
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    PolicyGroupResponse_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 289a717e-8053-4e21-b5be-23f1918a1628
        name:
          type: string
          example: Production Agent 76
        policies:
          type: array
          items:
            type: string
          example:
          - example-policies_item
        tenantGroups:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupMappingDetails_2'
          example:
          - id: ad7141fc-7249-4085-ba81-89c7dce06beb
            tenantGroupId: 016e80c2-a77b-43b9-8892-71848159488e
            tenantGroupName: Branch Policy 91
            tenantCount: 729
    PolicyGroupsListResponse_2:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PolicyGroupListResponse_2'
          example:
          - id: 87eb394e-a31f-4802-9c0c-90060f936459
            name: Staging Sensor 65
            policyCount: 601
            tenantGroupCount: 617
          - id: 87eb394e-a31f-4802-9c0c-90060f936459
            name: Staging Sensor 65
            policyCount: 601
            tenantGroupCount: 617
        nextPageToken:
          type: string
          example: example-nextPageToken
    PolicyGroupListResponse_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 87eb394e-a31f-4802-9c0c-90060f936459
        name:
          type: string
          example: Staging Sensor 65
        policyCount:
          type: integer
          format: int32
          example: 601
        tenantGroupCount:
          type: integer
          format: int32
          example: 617
    TenantGroupMappingDetails_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 76ac47ff-a974-4764-8b56-a6fbf64aecb9
        tenantGroupId:
          type: string
          format: uuid
          example: 27542068-18f9-4a68-9f7f-ebe5bf91a1dd
        tenantGroupName:
          type: string
          example: Branch Agent 07
        tenantCount:
          type: integer
          format: int32
          example: 171
    CreatePolicyGroupResponse_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7b13785c-32f1-4969-8a6e-d8fc9f6c6acd
        name:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Agent 12
        policies:
          type: array
          items:
            type: string
          example:
          - example-policies_item
    PolicyGroupRequest_2:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 63
          minLength: 3
          type: string
          description: Name of the policy group.
          example: Production Agent 45
        policies:
          type: array
          description: Policies assigned to this policy group.
          items:
            type: string
            description: Policies assigned to this policy group.
          example:
          - example-policies_item
    Error_2:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    PolicyGroupResponse_3:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 289a717e-8053-4e21-b5be-23f1918a1628
        name:
          type: string
          example: Production Agent 76
        policies:
          type: array
          items:
            type: string
          example:
          - example-policies_item
        tenantGroups:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupMappingDetails_3'
          example:
          - id: ad7141fc-7249-4085-ba81-89c7dce06beb
            tenantGroupId: 016e80c2-a77b-43b9-8892-71848159488e
            tenantGroupName: Branch Policy 91
            tenantCount: 729
    PolicyGroupsListResponse_3:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PolicyGroupListResponse_3'
          example:
          - id: 87eb394e-a31f-4802-9c0c-90060f936459
            name: Staging Sensor 65
            policyCount: 601
            tenantGroupCount: 617
          - id: 87eb394e-a31f-4802-9c0c-90060f936459
            name: Staging Sensor 65
            policyCount: 601
            tenantGroupCount: 617
        nextPageToken:
          type: string
          example: example-nextPageToken
    PolicyGroupListResponse_3:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 87eb394e-a31f-4802-9c0c-90060f936459
        name:
          type: string
          example: Staging Sensor 65
        policyCount:
          type: integer
          format: int32
          example: 601
        tenantGroupCount:
          type: integer
          format: int32
          example: 617
    TenantGroupMappingDetails_3:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 76ac47ff-a974-4764-8b56-a6fbf64aecb9
        tenantGroupId:
          type: string
          format: uuid
          example: 27542068-18f9-4a68-9f7f-ebe5bf91a1dd
        tenantGroupName:
          type: string
          example: Branch Agent 07
        tenantCount:
          type: integer
          format: int32
          example: 171
    CreatePolicyGroupResponse_3:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7b13785c-32f1-4969-8a6e-d8fc9f6c6acd
        name:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Agent 12
        policies:
          type: array
          items:
            type: string
          example:
          - example-policies_item
    PolicyGroupRequest_3:
      required:
      - name
      type: object
      properties:
        name:
          maxLength: 63
          minLength: 3
          type: string
          description: Name of the policy group.
          example: Production Agent 45
        policies:
          type: array
          description: Policies assigned to this policy group.
          items:
            type: string
            description: Policies assigned to this policy group.
          example:
          - example-policies_item
    Error_3:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-policy-group-lifecycle-endpoints-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
