openapi: 3.2.0
info:
  title: SASE 5G Monitor Service Configured UE Mappings API
  version: '1.0'
  description: "The SASE 5G Monitoring Service provides real-time visibility and technical telemetry \nfor enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nTechnical leads and network analysts utilize these APIs to track subscriber scaling, \nmonitor regional registration trends, and audit network throughput performance.\n\nBy leveraging these endpoints, organizations maintain a continuous feedback loop on \nUser Equipment (UE) activity and regional interconnect health. The service enables \nproactive troubleshooting through incident severity tracking and API performance \nmonitoring, ensuring that global 5G connectivity meets strict service level objectives \nwhile identifying unauthorized traffic or signaling gaps. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: Configured UE Mappings
paths:
  /mt/monitor/5g/mapping/configuredUEs:
    get:
      tags:
      - Configured UE Mappings
      summary: Get Configured UE Mappings
      description: Returns the count of UEs configured by the users.
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  configured_ue_count: 94
                header:
                  createdAt: '2025-12-17T02:07:37Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gMappingConfiguredues
