openapi: 3.2.0
info:
  title: Palo Alto Networks Licenses API
  version: '1.0'
  description: 'Operations tagged Licenses across 3 of this provider''s published API definitions: palo-alto-networks-licenses-api-openapi.yml, palo-alto-sase-subscription-licenses-openapi.yaml, palo-alto-ztna-connector-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.sase.paloaltonetworks.com
- url: https://api.sase.paloaltonetworks.com/ztna
  description: SASE ZTNA Connector API production server.
tags:
- name: Licenses
  description: ZTNA license and entitlement information.
paths:
  /v2/licenses:
    get:
      operationId: getZTNALicenses
      summary: Palo Alto Networks Get ZTNA License Information
      description: Returns current ZTNA license entitlements including the number of licensed users, active users, and subscription expiration date.
      tags:
      - Licenses
      responses:
        '200':
          description: License information returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfo'
              examples:
                GetZtnalicenses200Example:
                  summary: Default getZTNALicenses 200 response
                  x-microcks-default: true
                  value:
                    licensed_users: 279
                    active_users: 419
                    subscription_id: '360915'
                    expires_at: '2025-11-19T10:30:55Z'
                    features:
                    - example-features_item
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnalicenses401Example:
                  summary: Default getZTNALicenses 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnalicenses403Example:
                  summary: Default getZTNALicenses 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnalicenses500Example:
                  summary: Default getZTNALicenses 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /subscription/v1/licenses:
    get:
      description: 'Retrieve all details for licenses allocated to the TSG identified by the access token

        used to authorize this call. Use the `name` parameter to specify details about a specific

        license.

        '
      operationId: get-subscription-v1-licenses
      parameters:
      - description: Unique identifier assigned to the license that you want to examine.
        in: query
        name: license_id
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                get_claimed_licenses:
                  $ref: '#/components/examples/get_claimed_licenses'
              schema:
                $ref: '#/components/schemas/license'
          description: Successful response - returns claimed `license`.
      security:
      - Bearer: []
      summary: List license details
      tags:
      - Licenses
    servers:
    - url: https://api.sase.paloaltonetworks.com
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Security firewall network configured traffic blocked threat.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: 709c60bb-8234-4bc4-938b-d0835224c350
    LicenseInfo:
      type: object
      properties:
        licensed_users:
          type: integer
          description: Total number of ZTNA user licenses purchased.
          example: 279
        active_users:
          type: integer
          description: Number of users actively using ZTNA.
          example: 419
        subscription_id:
          type: string
          description: Subscription identifier.
          example: '360915'
        expires_at:
          type: string
          format: date-time
          description: Subscription expiration date and time.
          example: '2025-11-19T10:30:55Z'
        features:
          type: array
          items:
            type: string
          description: List of enabled ZTNA feature entitlements.
          example:
          - example-features_item
    license:
      description: ''
      items:
        properties:
          app_id:
            type: boolean
          claim_at:
            type: string
          claim_by:
            type: string
          license_id:
            type: string
          licenses:
            items:
              properties:
                app_id:
                  type: string
                license_expiry:
                  type: string
                license_type:
                  type: string
                purchased_size:
                  type: string
                remaining_size:
                  type: string
              type: object
            type: array
        type: object
      title: Root Type for license
      type: array
  examples:
    get_claimed_licenses:
      value:
      - app_id: prisma_access
        claim_at: 2022-11-03 21:08:03.891000+00:00
        claim_by: usr@abc.com
        license_id: 123456789
        licenses:
        - app_id: prisma_access_edition
          license_expiration: 2023-01-03 02:06:10
          license_type: GBL-SKU
          purchased_size: 1000
          remaining_size: 1000
        - app_id: prisma_access_edition
          license_expiration: 2023-01-03 02:06:10
          license_type: GBL-SKU
          purchased_size: 1000
          remaining_size: 1000
      - app_id: logging_service
        claim_at: 2022-11-03 21:08:03.891000+00:00
        claim_by: usr@abc.com
        license_id: 123456789
        licenses:
        - app_id: logging_service
          license_expiration: 2023-01-03 02:06:10
          license_type: GBL-SKU
          purchased_size: 1000
          remaining_size: 1000
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
    Bearer:
      scheme: bearer
      type: http
x-refined-from:
- palo-alto-networks-licenses-api-openapi.yml
- palo-alto-sase-subscription-licenses-openapi.yaml
- palo-alto-ztna-connector-api-openapi-original.yml
