openapi: 3.2.0
info:
  title: Palo Alto Networks Settings API
  x-refined-note:
  - x-description-source differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Settings across 9 of this provider''s published API definitions: palo-alto-compute-34-03-openapi-34-03-138-sh-openapi.json, palo-alto-compute-openapi-34-04-145-sh-openapi.json, palo-alto-cspm-consolidated-spec-cspm-spec-openapi.json, palo-alto-cspm-satellite-openapi.json, palo-alto-cspm-settings-openapi.json, palo-alto-cwpp-34-03-openapi-34-03-138-saas-openapi.json, palo-alto-cwpp-openapi-34-04-145-saas-openapi.json, palo-alto-networks-settings-api-openapi.yml, palo-alto-saas-security-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
- url: PATH_TO_CONSOLE
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.aperture.paloaltonetworks.com
  description: SaaS Security (Aperture) API production server.
tags:
- name: Settings
  description: Settings. 39 operations in this definition.
  x-description-source: desc/settings/settings.md
paths:
  /api/v34.03/settings/certificates:
    post:
      description: 'Add Certificate Settings for Clients Accessing a Custom CA. POST /api/v34.03/settings/certificates on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CertificateSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-certificates
      summary: Add Certificate Settings for Clients Accessing a Custom CA
      x-description-source: desc/settings/certificates_post.md
  /api/v34.03/settings/certs:
    get:
      description: 'Get Certificate Settings for Prisma Cloud Compute. GET /api/v34.03/settings/certs on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.CertSettings'
          description: CertSettings are the certificates settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageDefenders
      operationId: get-settings-certs
      summary: Get Certificate Settings for Prisma Cloud Compute
      x-description-source: desc/settings/certs_get.md
    post:
      description: 'Add Certificate Settings for Prisma Cloud Compute. POST /api/v34.03/settings/certs on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CertSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageDefenders
      operationId: post-settings-certs
      summary: Add Certificate Settings for Prisma Cloud Compute
      x-description-source: desc/settings/certs_post.md
  /api/v34.03/settings/console-certificate:
    post:
      description: 'Add Certificate Settings for Clients Accessing Prisma Cloud Compute. POST /api/v34.03/settings/console-certificate on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.ConsoleCertificateSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-console-certificate
      summary: Add Certificate Settings for Clients Accessing Prisma Cloud Compute
      x-description-source: desc/settings/console-certificates_post.md
  /api/v34.03/settings/custom-labels:
    get:
      description: 'Get Alert Labels. GET /api/v34.03/settings/custom-labels on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.CustomLabelsSettings'
          description: 'CustomLabelsSettings are customized label names that are used to augment audit events

            They can either be docker labels (which appears in the container label specification)

            or k8s/openshift labels (which appears in the pause container that monitors the target container)'
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: user
      operationId: get-settings-custom-labels
      summary: Get Alert Labels
      x-description-source: desc/settings/custom-labels_get.md
    post:
      description: 'Add Alert Labels. POST /api/v34.03/settings/custom-labels on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.CustomLabelsSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageAlerts
      operationId: post-settings-custom-labels
      summary: Add Alert Labels
      x-description-source: desc/settings/custom-labels_post.md
  /api/v34.03/settings/defender:
    get:
      description: 'Get Advanced Defender Settings. GET /api/v34.03/settings/defender on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defender.Settings'
          description: Settings is the Defender settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageDefenders
      operationId: get-settings-defender
      summary: Get Advanced Defender Settings
      x-description-source: desc/settings/defender_get.md
  /api/v34.03/settings/intelligence:
    get:
      description: 'Get Intelligence Stream Settings. GET /api/v34.03/settings/intelligence on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.IntelligenceSettings'
          description: IntelligenceSettings are the intelligence service settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: get-settings-intelligence
      summary: Get Intelligence Stream Settings
      x-description-source: desc/settings/intelligence_get.md
    post:
      description: 'Add Intelligence Stream Settings. POST /api/v34.03/settings/intelligence on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/intelligence.IntelligenceSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: post-settings-intelligence
      summary: Add Intelligence Stream Settings
      x-description-source: desc/settings/intelligence_post.md
  /api/v34.03/settings/ldap:
    get:
      description: 'Get LDAP Integration Settings. GET /api/v34.03/settings/ldap on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity.LdapSettings'
          description: LdapSettings are the ldap connectivity settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-ldap
      summary: Get LDAP Integration Settings
      x-description-source: desc/settings/ldap_get.md
    post:
      description: 'Add LDAP Integration Settings. POST /api/v34.03/settings/ldap on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity.LdapSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-ldap
      summary: Add LDAP Integration Settings
      x-description-source: desc/settings/ldap_post.md
  /api/v34.03/settings/license:
    get:
      description: 'Get Prisma Cloud Compute License. GET /api/v34.03/settings/license on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.License'
          description: License represent the customer license
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: accessUI
      operationId: get-settings-license
      summary: Get Prisma Cloud Compute License
      x-description-source: desc/settings/license_get.md
    post:
      description: 'Add Prisma Cloud Compute License. POST /api/v34.03/settings/license on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.LicenseRequest'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: privilegedOperations
      operationId: post-settings-license
      summary: Add Prisma Cloud Compute License
      x-description-source: desc/settings/license_post.md
  /api/v34.03/settings/logging:
    get:
      description: 'Get Logging Settings. GET /api/v34.03/settings/logging on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.LoggingSettings'
          description: LoggingSettings are the logging settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageAlerts
      operationId: get-settings-logging
      summary: Get Logging Settings
      x-description-source: desc/settings/logging_get.md
    post:
      description: 'Add Logging Settings. POST /api/v34.03/settings/logging on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.LoggingSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageAlerts
      operationId: post-settings-logging
      summary: Add Logging Settings
      x-description-source: desc/settings/logging_post.md
  /api/v34.03/settings/logon:
    get:
      description: 'Get Logon Settings. GET /api/v34.03/settings/logon on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.LogonSettings'
          description: LogonSettings are settings associated with the login properties
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-logon
      summary: Get Logon Settings
      x-description-source: desc/settings/logon_get.md
    post:
      description: 'Add Logon Settings. POST /api/v34.03/settings/logon on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.LogonSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-logon
      summary: Add Logon Settings
      x-description-source: desc/settings/logon_post.md
  /api/v34.03/settings/oauth:
    get:
      description: 'Get OAuth Settings. GET /api/v34.03/settings/oauth on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity.ProviderSettings'
          description: ProviderSettings are the Oauth/ OpenID Connect connectivity settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-oauth
      summary: Get OAuth Settings
      x-description-source: desc/settings/oauth_get.md
    post:
      description: 'Add OAuth Settings. POST /api/v34.03/settings/oauth on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity.ProviderSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-oauth
      summary: Add OAuth Settings
      x-description-source: desc/settings/oauth_post.md
  /api/v34.03/settings/oidc:
    get:
      description: 'Get Open ID Connect Settings. GET /api/v34.03/settings/oidc on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity.ProviderSettings'
          description: ProviderSettings are the Oauth/ OpenID Connect connectivity settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-oidc
      summary: Get Open ID Connect Settings
      x-description-source: desc/settings/oidc_get.md
    post:
      description: 'Add Open ID Connect Settings. POST /api/v34.03/settings/oidc on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity.ProviderSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-oidc
      summary: Add Open ID Connect Settings
      x-description-source: desc/settings/oidc_post.md
  /api/v34.03/settings/proxy:
    get:
      description: 'Get Proxy Settings of Prisma Cloud Compute. GET /api/v34.03/settings/proxy on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ProxySettings'
          description: ProxySettings are the http proxy settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: get-settings-proxy
      summary: Get Proxy Settings of Prisma Cloud Compute
      x-description-source: desc/settings/proxy_get.md
    post:
      description: 'Add Proxy Settings for Prisma Cloud Compute. POST /api/v34.03/settings/proxy on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/common.ProxySettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: post-settings-proxy
      summary: Add Proxy Settings for Prisma Cloud Compute
      x-description-source: desc/settings/proxy_post.md
  /api/v34.03/settings/registry:
    get:
      description: 'Get Registry Settings. GET /api/v34.03/settings/registry on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.RegistrySettings'
          description: RegistrySettings contains each registry's unique settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-settings-registry
      summary: Get Registry Settings
      x-description-source: desc/settings/registry_get.md
    post:
      description: 'Add Registry Settings. POST /api/v34.03/settings/registry on the Settings API. Takes 1 query parameter, an optional request body. Documented responses: 200.'
      parameters:
      - description: 'ScanLater indicates to save the setting without starting a scan.

          '
        in: query
        name: scanLater
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.RegistrySpecification'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: post-settings-registry
      summary: Add Registry Settings
      x-description-source: desc/settings/registry_post.md
    put:
      description: 'Update Registry Settings. PUT /api/v34.03/settings/registry on the Settings API. Takes 1 query parameter, an optional request body. Documented responses: 200.'
      parameters:
      - description: 'ScanLater indicates to save the setting without starting a scan.

          '
        in: query
        name: scanLater
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.RegistrySettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: put-settings-registry
      summary: Update Registry Settings
      x-description-source: desc/settings/registry_put.md
  /api/v34.03/settings/saml:
    get:
      description: 'Get SAML Settings of Prisma Cloud Compute. GET /api/v34.03/settings/saml on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity.SamlSettings'
          description: SamlSettings are the saml connectivity settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-saml
      summary: Get SAML Settings of Prisma Cloud Compute
      x-description-source: desc/settings/saml_get.md
    post:
      description: 'Add SAML Settings for Prisma Cloud Compute. POST /api/v34.03/settings/saml on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity.SamlSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-saml
      summary: Add SAML Settings for Prisma Cloud Compute
      x-description-source: desc/settings/saml_post.md
  /api/v34.03/settings/scan:
    get:
      description: 'Get Global Scan Settings. GET /api/v34.03/settings/scan on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.ScanSettings'
          description: ScanSettings are global settings for image/host/container and registry scanning
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: get-settings-scan
      summary: Get Global Scan Settings
      x-description-source: desc/settings/scan_get.md
    post:
      description: 'Add Global Scan Settings. POST /api/v34.03/settings/scan on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.ScanSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: post-settings-scan
      summary: Add Global Scan Settings
      x-description-source: desc/settings/scan_post.md
  /api/v34.03/settings/tas:
    get:
      description: 'Get TAS Settings. GET /api/v34.03/settings/tas on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.TASDropletSpecification'
          description: ''
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-settings-tas
      summary: Get TAS Settings
      x-description-source: desc/settings/tas_get.md
    post:
      description: 'Add TAS Settings. POST /api/v34.03/settings/tas on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/-_shared.TASDropletSpecification'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: post-settings-tas
      summary: Add TAS Settings
      x-description-source: desc/settings/tas_post.md
  /api/v34.03/settings/telemetry:
    get:
      description: 'Get Telemetry Settings. GET /api/v34.03/settings/telemetry on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.TelemetrySettings'
          description: TelemetrySettings is the telemetry settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: get-settings-telemetry
      summary: Get Telemetry Settings
      x-description-source: desc/settings/telemetry_get.md
    post:
      description: 'Enable or Disable Telemetry Settings. POST /api/v34.03/settings/telemetry on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.TelemetrySettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: post-settings-telemetry
      summary: Enable or Disable Telemetry Settings
      x-description-source: desc/settings/telemetry_post.md
  /api/v34.03/settings/trusted-certificate:
    post:
      description: 'Add a Certificate to a Trusted Certificate List. POST /api/v34.03/settings/trusted-certificate on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CertData'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.TrustedCertSignature'
          description: TrustedCertSignature represents a trusted cert settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-trusted-certificate
      summary: Add a Certificate to a Trusted Certificate List
      x-description-source: desc/settings/telemetry_get.md
  /api/v34.03/settings/trusted-certificates:
    post:
      description: 'Add Trusted Certificate Settings. POST /api/v34.03/settings/trusted-certificates on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.TrustedCertSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-trusted-certificates
      summary: Add Trusted Certificate Settings
      x-description-source: desc/settings/telemetry_post.md
  /api/v34.03/settings/vm:
    get:
      description: 'Get VM Image Scan Settings. GET /api/v34.03/settings/vm on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.VMSpecification'
          description: ''
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: get-settings-vm
      summary: Get VM Image Scan Settings
      x-description-source: desc/settings/vm_get.md
    put:
      description: 'Update VM Image Scan Settings. PUT /api/v34.03/settings/vm on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/-_shared.VMSpecification'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: put-settings-vm
      summary: Update VM Image Scan Settings
      x-description-source: desc/settings/vm_put.md
  /api/v34.03/settings/wildfire:
    get:
      description: 'Wild Fire Settings. GET /api/v34.03/settings/wildfire on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.WildFireSettings'
          description: WildFireSettings are the settings for WildFire API requests
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: get-settings-wildfire
      summary: Wild Fire Settings
      x-description-source: desc/settings/wildfire_get.md
  /api/v34.04/settings/certificates:
    post:
      description: 'Add Certificate Settings for Clients Accessing a Custom CA. POST /api/v34.04/settings/certificates on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CertificateSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-certificates
      summary: Add Certificate Settings for Clients Accessing a Custom CA
      x-description-source: desc/settings/certificates_post.md
  /api/v34.04/settings/certs:
    get:
      description: 'Get Certificate Settings for Prisma Cloud Compute. GET /api/v34.04/settings/certs on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.CertSettings'
          description: CertSettings are the certificates settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageDefenders
      operationId: get-settings-certs
      summary: Get Certificate Settings for Prisma Cloud Compute
      x-description-source: desc/settings/certs_get.md
    post:
      description: 'Add Certificate Settings for Prisma Cloud Compute. POST /api/v34.04/settings/certs on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CertSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageDefenders
      operationId: post-settings-certs
      summary: Add Certificate Settings for Prisma Cloud Compute
      x-description-source: desc/settings/certs_post.md
  /api/v34.04/settings/console-certificate:
    post:
      description: 'Add Certificate Settings for Clients Accessing Prisma Cloud Compute. POST /api/v34.04/settings/console-certificate on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.ConsoleCertificateSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-console-certificate
      summary: Add Certificate Settings for Clients Accessing Prisma Cloud Compute
      x-description-source: desc/settings/console-certificates_post.md
  /api/v34.04/settings/custom-labels:
    get:
      description: 'Get Alert Labels. GET /api/v34.04/settings/custom-labels on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.CustomLabelsSettings'
          description: 'CustomLabelsSettings are customized label names that are used to augment audit events

            They can either be docker labels (which appears in the container label specification)

            or k8s/openshift labels (which appears in the pause container that monitors the target container)'
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: user
      operationId: get-settings-custom-labels
      summary: Get Alert Labels
      x-description-source: desc/settings/custom-labels_get.md
    post:
      description: 'Add Alert Labels. POST /api/v34.04/settings/custom-labels on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.CustomLabelsSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageAlerts
      operationId: post-settings-custom-labels
      summary: Add Alert Labels
      x-description-source: desc/settings/custom-labels_post.md
  /api/v34.04/settings/defender:
    get:
      description: 'Get Advanced Defender Settings. GET /api/v34.04/settings/defender on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/defender.Settings'
          description: Settings is the Defender settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageDefenders
      operationId: get-settings-defender
      summary: Get Advanced Defender Settings
      x-description-source: desc/settings/defender_get.md
  /api/v34.04/settings/intelligence:
    get:
      description: 'Get Intelligence Stream Settings. GET /api/v34.04/settings/intelligence on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/intelligence.IntelligenceSettings'
          description: IntelligenceSettings are the intelligence service settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: get-settings-intelligence
      summary: Get Intelligence Stream Settings
      x-description-source: desc/settings/intelligence_get.md
    post:
      description: 'Add Intelligence Stream Settings. POST /api/v34.04/settings/intelligence on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/intelligence.IntelligenceSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: post-settings-intelligence
      summary: Add Intelligence Stream Settings
      x-description-source: desc/settings/intelligence_post.md
  /api/v34.04/settings/ldap:
    get:
      description: 'Get LDAP Integration Settings. GET /api/v34.04/settings/ldap on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity.LdapSettings'
          description: LdapSettings are the ldap connectivity settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-ldap
      summary: Get LDAP Integration Settings
      x-description-source: desc/settings/ldap_get.md
    post:
      description: 'Add LDAP Integration Settings. POST /api/v34.04/settings/ldap on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity.LdapSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-ldap
      summary: Add LDAP Integration Settings
      x-description-source: desc/settings/ldap_post.md
  /api/v34.04/settings/license:
    get:
      description: 'Get Prisma Cloud Compute License. GET /api/v34.04/settings/license on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.License'
          description: License represent the customer license
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: accessUI
      operationId: get-settings-license
      summary: Get Prisma Cloud Compute License
      x-description-source: desc/settings/license_get.md
    post:
      description: 'Add Prisma Cloud Compute License. POST /api/v34.04/settings/license on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.LicenseRequest'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: privilegedOperations
      operationId: post-settings-license
      summary: Add Prisma Cloud Compute License
      x-description-source: desc/settings/license_post.md
  /api/v34.04/settings/logging:
    get:
      description: 'Get Logging Settings. GET /api/v34.04/settings/logging on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.LoggingSettings'
          description: LoggingSettings are the logging settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageAlerts
      operationId: get-settings-logging
      summary: Get Logging Settings
      x-description-source: desc/settings/logging_get.md
    post:
      description: 'Add Logging Settings. POST /api/v34.04/settings/logging on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.LoggingSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: manageAlerts
      operationId: post-settings-logging
      summary: Add Logging Settings
      x-description-source: desc/settings/logging_post.md
  /api/v34.04/settings/logon:
    get:
      description: 'Get Logon Settings. GET /api/v34.04/settings/logon on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.LogonSettings'
          description: LogonSettings are settings associated with the login properties
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-logon
      summary: Get Logon Settings
      x-description-source: desc/settings/logon_get.md
    post:
      description: 'Add Logon Settings. POST /api/v34.04/settings/logon on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.LogonSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-logon
      summary: Add Logon Settings
      x-description-source: desc/settings/logon_post.md
  /api/v34.04/settings/oauth:
    get:
      description: 'Get OAuth Settings. GET /api/v34.04/settings/oauth on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity.ProviderSettings'
          description: ProviderSettings are the Oauth/ OpenID Connect connectivity settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-oauth
      summary: Get OAuth Settings
      x-description-source: desc/settings/oauth_get.md
    post:
      description: 'Add OAuth Settings. POST /api/v34.04/settings/oauth on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity.ProviderSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-oauth
      summary: Add OAuth Settings
      x-description-source: desc/settings/oauth_post.md
  /api/v34.04/settings/oidc:
    get:
      description: 'Get Open ID Connect Settings. GET /api/v34.04/settings/oidc on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity.ProviderSettings'
          description: ProviderSettings are the Oauth/ OpenID Connect connectivity settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-oidc
      summary: Get Open ID Connect Settings
      x-description-source: desc/settings/oidc_get.md
    post:
      description: 'Add Open ID Connect Settings. POST /api/v34.04/settings/oidc on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity.ProviderSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-oidc
      summary: Add Open ID Connect Settings
      x-description-source: desc/settings/oidc_post.md
  /api/v34.04/settings/proxy:
    get:
      description: 'Get Proxy Settings of Prisma Cloud Compute. GET /api/v34.04/settings/proxy on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ProxySettings'
          description: ProxySettings are the http proxy settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: get-settings-proxy
      summary: Get Proxy Settings of Prisma Cloud Compute
      x-description-source: desc/settings/proxy_get.md
    post:
      description: 'Add Proxy Settings for Prisma Cloud Compute. POST /api/v34.04/settings/proxy on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/common.ProxySettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: post-settings-proxy
      summary: Add Proxy Settings for Prisma Cloud Compute
      x-description-source: desc/settings/proxy_post.md
  /api/v34.04/settings/registry:
    get:
      description: 'Get Registry Settings. GET /api/v34.04/settings/registry on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.RegistrySettings'
          description: RegistrySettings contains each registry's unique settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-settings-registry
      summary: Get Registry Settings
      x-description-source: desc/settings/registry_get.md
    post:
      description: 'Add Registry Settings. POST /api/v34.04/settings/registry on the Settings API. Takes 1 query parameter, an optional request body. Documented responses: 200.'
      parameters:
      - description: 'ScanLater indicates to save the setting without starting a scan.

          '
        in: query
        name: scanLater
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.RegistrySpecification'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: post-settings-registry
      summary: Add Registry Settings
      x-description-source: desc/settings/registry_post.md
    put:
      description: 'Update Registry Settings. PUT /api/v34.04/settings/registry on the Settings API. Takes 1 query parameter, an optional request body. Documented responses: 200.'
      parameters:
      - description: 'ScanLater indicates to save the setting without starting a scan.

          '
        in: query
        name: scanLater
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.RegistrySettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: put-settings-registry
      summary: Update Registry Settings
      x-description-source: desc/settings/registry_put.md
  /api/v34.04/settings/saml:
    get:
      description: 'Get SAML Settings of Prisma Cloud Compute. GET /api/v34.04/settings/saml on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity.SamlSettings'
          description: SamlSettings are the saml connectivity settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: get-settings-saml
      summary: Get SAML Settings of Prisma Cloud Compute
      x-description-source: desc/settings/saml_get.md
    post:
      description: 'Add SAML Settings for Prisma Cloud Compute. POST /api/v34.04/settings/saml on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity.SamlSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-saml
      summary: Add SAML Settings for Prisma Cloud Compute
      x-description-source: desc/settings/saml_post.md
  /api/v34.04/settings/scan:
    get:
      description: 'Get Global Scan Settings. GET /api/v34.04/settings/scan on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.ScanSettings'
          description: ScanSettings are global settings for image/host/container and registry scanning
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: get-settings-scan
      summary: Get Global Scan Settings
      x-description-source: desc/settings/scan_get.md
    post:
      description: 'Add Global Scan Settings. POST /api/v34.04/settings/scan on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.ScanSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: post-settings-scan
      summary: Add Global Scan Settings
      x-description-source: desc/settings/scan_post.md
  /api/v34.04/settings/tas:
    get:
      description: 'Get TAS Settings. GET /api/v34.04/settings/tas on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.TASDropletSpecification'
          description: ''
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-settings-tas
      summary: Get TAS Settings
      x-description-source: desc/settings/tas_get.md
    post:
      description: 'Add TAS Settings. POST /api/v34.04/settings/tas on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/-_shared.TASDropletSpecification'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: post-settings-tas
      summary: Add TAS Settings
      x-description-source: desc/settings/tas_post.md
  /api/v34.04/settings/telemetry:
    get:
      description: 'Get Telemetry Settings. GET /api/v34.04/settings/telemetry on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/types.TelemetrySettings'
          description: TelemetrySettings is the telemetry settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: get-settings-telemetry
      summary: Get Telemetry Settings
      x-description-source: desc/settings/telemetry_get.md
    post:
      description: 'Enable or Disable Telemetry Settings. POST /api/v34.04/settings/telemetry on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.TelemetrySettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: systemOperations
      operationId: post-settings-telemetry
      summary: Enable or Disable Telemetry Settings
      x-description-source: desc/settings/telemetry_post.md
  /api/v34.04/settings/trusted-certificate:
    post:
      description: 'Add a Certificate to a Trusted Certificate List. POST /api/v34.04/settings/trusted-certificate on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.CertData'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.TrustedCertSignature'
          description: TrustedCertSignature represents a trusted cert settings
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-trusted-certificate
      summary: Add a Certificate to a Trusted Certificate List
      x-description-source: desc/settings/telemetry_get.md
  /api/v34.04/settings/trusted-certificates:
    post:
      description: 'Add Trusted Certificate Settings. POST /api/v34.04/settings/trusted-certificates on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.TrustedCertSettings'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: authConfiguration
      operationId: post-settings-trusted-certificates
      summary: Add Trusted Certificate Settings
      x-description-source: desc/settings/telemetry_post.md
  /api/v34.04/settings/vm:
    get:
      description: 'Get VM Image Scan Settings. GET /api/v34.04/settings/vm on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.VMSpecification'
          description: ''
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: get-settings-vm
      summary: Get VM Image Scan Settings
      x-description-source: desc/settings/vm_get.md
    put:
      description: 'Update VM Image Scan Settings. PUT /api/v34.04/settings/vm on the Settings API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/-_shared.VMSpecification'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: put-settings-vm
      summary: Update VM Image Scan Settings
      x-description-source: desc/settings/vm_put.md
  /api/v34.04/settings/wildfire:
    get:
      description: 'Wild Fire Settings. GET /api/v34.04/settings/wildfire on the Settings API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.WildFireSettings'
          description: WildFireSettings are the settings for WildFire API requests
        default:
          description: ''
      tags:
      - Settings
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: get-settings-wildfire
      summary: Wild Fire Settings
      x-description-source: desc/settings/wildfire_get.md
  /settings/enterprise:
    get:
      description: Returns enterprise settings for your tenant.
      operationId: get-enterprise-settings
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EnterpriseSettingsRequestModel'
          description: successful operation
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Enterprise Settings - GET
      tags:
      - Settings
    post:
      description: Configures enterprise settings for your tenant.
      operationId: update-enterprise-settings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnterpriseSettingsRequestModel'
      responses:
        '200':
          description: successful operation
        '400':
          description: bad_request
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Enterprise Settings - POST
      tags:
      - Settings
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /appid/api/v1/satellite:
    post:
      summary: Add Satellite Details
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterInfo'
        required: true
      description: Add Satellite Details
      operationId: addClusterInfo
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterMetaDataResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: x-prisma-tenant-id
        in: header
        description: Prisma ID for the request
        required: true
        schema:
          type: string
      tags:
      - Settings
      security:
      - x-redlock-auth: []
    get:
      summary: List Cluster Details
      description: List Cluster Details
      operationId: listClusters
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterInfoResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: x-prisma-tenant-id
        in: header
        description: Prisma ID for the request
        required: true
        schema:
          type: string
      tags:
      - Settings
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/satellite/{id}:
    delete:
      summary: Delete Satellite Details
      description: Delete Satellite Details
      operationId: deleteCluster
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: x-prisma-tenant-id
        in: header
        description: Prisma ID for the request
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Settings
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /api/settings/log-forwarding:
    get:
      operationId: getLogForwardingSettings
      summary: Palo Alto Networks Get Log Forwarding Settings
      description: Returns the current log forwarding configuration for the SaaS Security tenant, including enabled destinations such as syslog servers, SIEM integrations, and storage buckets.
      tags:
      - Settings
      responses:
        '200':
          description: Log forwarding settings returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogForwardingSettings'
              examples:
                GetLogForwardingSettings200Example:
                  summary: Default getLogForwardingSettings 200 response
                  x-microcks-default: true
                  value:
                    enabled: false
                    destinations:
                    - type: s3
                      name: Staging Firewall 89
                      enabled: true
                      log_types:
                      - custom
                      - standard
                    - type: splunk
                      name: Staging Sensor 80
                      enabled: true
                      log_types:
                      - standard
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                GetLogForwardingSettings401Example:
                  summary: Default getLogForwardingSettings 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured monitoring network blocked investigation applied activity.
                    request_id: 5cc3d66e-5479-4e15-bd64-849adde3cb60
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                GetLogForwardingSettings403Example:
                  summary: Default getLogForwardingSettings 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured monitoring network blocked investigation applied activity.
                    request_id: 5cc3d66e-5479-4e15-bd64-849adde3cb60
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2'
              examples:
                GetLogForwardingSettings500Example:
                  summary: Default getLogForwardingSettings 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured monitoring network blocked investigation applied activity.
                    request_id: 5cc3d66e-5479-4e15-bd64-849adde3cb60
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    -_shared.TASDropletSpecification:
      items:
        $ref: '#/components/schemas/shared.TASDropletSpecification'
      type: array
    types.ConsoleCertificateSettings:
      description: ConsoleCertificateSettings are the console certificate settings
      properties:
        checkRevocation:
          description: 'CheckRevocation indicates whether cert revocation status is required.

            '
          type: boolean
        consoleCaCert:
          description: 'ConsoleCACert is a custom CA certificate for the console.

            '
          type: string
        consoleCustomCert:
          $ref: '#/components/schemas/common.Secret'
        hpkp:
          $ref: '#/components/schemas/types.HPKPSettings'
      type: object
    types.HPKPSettings:
      description: HPKPSettings represents the public key pinning settings
      properties:
        certs:
          description: 'Certs are the public certs used for fingerprinting.

            '
          type: string
        enabled:
          description: '.

            '
          type: boolean
        fingerprints:
          description: 'SHA256 fingerprints of the certificates.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      type: object
    common.ExternalLabelSourceType:
      description: ExternalLabelSourceType indicates the source of the labels
      enum:
      - - namespace
        - deployment
        - pod
        - aws
        - azure
        - gcp
        - oci
      type: string
    defender.Settings:
      description: Settings is the Defender settings
      properties:
        admissionControlEnabled:
          description: 'Indicates if the admission controller is enabled (true) or not (false).

            '
          type: boolean
        admissionControlWebhookSuffix:
          description: 'Relative path to the admission control webhook HTTP endpoint.

            '
          type: string
        appEmbeddedFileSystemTracingEnabled:
          description: 'AppEmbeddedFileSystemTracingEnabled is the default deployment state for app embedded Defenders file system tracing.

            '
          type: boolean
        automaticUpgrade:
          description: 'Deprecated: indicates if defenders should be automatically upgraded to the latest version.

            '
          type: boolean
        disconnectPeriodDays:
          description: 'Number of consecutive days a Defender must remain disconnected for it to be considered decommissioned.

            '
          type: integer
        hostCustomComplianceEnabled:
          description: 'Indicates if Defenders support host custom compliance checks (true) or not (false).

            '
          type: boolean
        listeningPort:
          description: 'Port on which Defenders listen.

            '
          type: integer
      type: object
    defender.Category:
      description: Category represents the defender target category
      enum:
      - - container
        - host
        - serverless
        - appEmbedded
        - hostAgentless
        - containerAgentless
        - cloudSecurityAgent
      type: string
    shared.GitlabRegistrySpec:
      description: GitlabRegistrySpec represents a specification for registry scanning in GitLab
      properties:
        apiDomainName:
          description: '.

            '
          type: string
        excludedGroupIDs:
          description: '.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        groupIDs:
          description: '.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        projectIDs:
          description: '.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        userID:
          description: '.

            '
          type: string
      type: object
    shared.RegistryOSType:
      description: RegistryOSType specifies the registry images base OS type
      enum:
      - - linux
        - linuxARM64
        - windows
      type: string
    intelligence.IntelligenceSettings:
      description: IntelligenceSettings are the intelligence service settings
      properties:
        address:
          description: 'Address is the intelligence service address.

            '
          type: string
        customEndpoint:
          description: 'CustomEndpoint is the user defined custom endpoint.

            '
          type: string
        customEndpointCACert:
          description: 'CustomEndpointCACert is the custom CA cert bundle for trusting the custom endpoint.

            '
          type: string
        customEndpointCredentialID:
          description: 'CustomEndpointCredentialID is the custom endpoint credential ID.

            '
          type: string
        customEndpointEnabled:
          description: 'CustomEndpointEnabled indicates that the user custom endpoint is enabled.

            '
          type: boolean
        enabled:
          description: 'Enabled indicates whether intelligence service is enabled.

            '
          type: boolean
        token:
          description: 'Token is the token used to access intelligence service.

            '
          type: string
        uploadDisabled:
          description: 'UploadDisabled indicates whether logs uploading is disabled.

            '
          type: boolean
        windowsFeedEnabled:
          description: 'WindowsFeedEnabled indicates whether windows feed is enabled.

            '
          type: boolean
      type: object
    shared.TASDropletSpecification:
      description: TASDropletSpecification specify which droplets to scan
      properties:
        cap:
          description: 'Cap indicates only the last k images should be fetched.

            '
          type: integer
        cloudControllerAddress:
          description: 'CloudControllerAddress is the address of the local cloud controller in TAS env.

            '
          type: string
        hostname:
          description: 'Hostname is the hostname of the defender that is used as the blobstore scanner.

            '
          type: string
        pattern:
          description: 'Name is the droplet name.

            '
          type: string
        remote:
          description: 'Remote indicates whether the blobstore is remote or local.

            '
          type: boolean
        remoteConfig:
          $ref: '#/components/schemas/shared.TASRemoteBlobstoreConfig'
      type: object
    shared.RegistrySpecification:
      description: RegistrySpecification contains information for connecting to local/remote registry
      properties:
        azureCloudMetadata:
          $ref: '#/components/schemas/common.CloudMetadata'
        caCert:
          description: 'CACert is the Certificate Authority that signed the registry certificate.

            '
          type: string
        cap:
          description: 'Specifies the maximum number of images from each repo to fetch and scan, sorted by most recently modified.

            '
          type: integer
        collections:
          description: 'Specifies the set of Defenders in-scope for working on a scan job.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        credential:
          $ref: '#/components/schemas/cred.Credential'
        credentialID:
          description: 'ID of the credentials in the credentials store to use for authenticating with the registry.

            '
          type: string
        excludedRepositories:
          description: 'Repositories to exclude from scanning.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        excludedTags:
          description: 'Tags to exclude from scanning.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        gitlabRegistrySpec:
          $ref: '#/components/schemas/shared.GitlabRegistrySpec'
        harborDeploymentSecurity:
          description: 'Indicates whether the Prisma Cloud plugin uses temporary tokens provided by Harbor to scan images in projects where Harbor''s deployment security setting is enabled.

            '
          type: boolean
        id:
          description: 'ID is a unique identifier of the registry spec.

            '
          type: string
        jfrogRepoTypes:
          description: 'JFrog Artifactory repository types to scan.

            '
          items:
            $ref: '#/components/schemas/shared.JFrogRepoType'
          type: array
        lastScanStatus:
          description: 'LastScanStatus is the last scan status. we keep both LastScanStatus and ScanStatus in order to not lose the latest scan status when a scan starts.

            '
          type: string
        lastScanTime:
          description: 'LastScanTime specifies the last time a scan was completed.

            '
          format: date-time
          type: string
        namespace:
          description: 'IBM Bluemix namespace https://console.bluemix.net/docs/services/Registry/registry_overview.html#registry_planning.

            '
          type: string
        os:
          $ref: '#/components/schemas/shared.RegistryOSType'
        registry:
          description: 'Registry address (e.g., https://gcr.io).

            '
          type: string
        repository:
          description: 'Repositories to scan.

            '
          type: string
        scanError:
          description: 'ScanError is the error received while scanning the specification.

            '
          type: string
        scanStatus:
          description: 'ScanStatus is the scan status that''s updated dynamically during the scan, when the scan finishes - its value is passed to the LastScanStatus field in the DB.

            '
          type: string
        scanTime:
          description: 'ScanTime specifies the time a scan was started.

            '
          format: date-time
          type: string
        scannedImagesSuccessTotal:
          description: 'ScannedImagesSuccessTotal is the total number of registry images that were scanned successfully on the last registry specification scan.

            '
          type: integer
        scanners:
          description: 'Number of Defenders that can be utilized for each scan job.

            '
          type: integer
        tag:
          description: 'Tags to scan.

            '
          type: string
        version:
          description: 'Registry type. Determines the protocol Prisma Cloud uses to communicate with the registry.

            '
          type: string
        versionPattern:
          description: 'Pattern heuristic for quickly filtering images by tags without having to query all images for modification dates.

            '
          type: string
      type: object
    cred.AzureSPInfo:
      description: AzureSPInfo contains the Azure credentials needed for certificate based authentications
      properties:
        clientId:
          description: 'ClientID is the client identifier.

            '
          type: string
        miType:
          $ref: '#/components/schemas/cred.AzureMIType'
        subscriptionId:
          description: 'SubscriptionID is a GUID that uniquely identifies the subscription to use Azure services.

            '
          type: string
        tenantId:
          description: 'TenantID is the ID of the AAD directory in which the application was created.

            '
          type: string
      type: object
    cred.AzureMIType:
      enum:
      - - user-assigned
        - system-assigned
      type: string
    types.CertSettings:
      description: CertSettings are the certificates settings
      properties:
        caExpiration:
          description: 'CAExpiration holds the expiration date of the CA cert.

            '
          format: date-time
          type: string
        consoleSAN:
          description: 'ConsoleSAN if specified, use this list as the SAN for the console server certificate. Used for websocket and API.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        defenderOldCAExpiration:
          description: 'DefenderOldCAExpiration holds the expiration time of the defender old CA cert.

            '
          format: date-time
          type: string
      type: object
    common.Secret:
      description: Secret Stores the plain and encrypted version of a value. The plain version is not stored in a database
      properties:
        encrypted:
          description: 'Specifies an encrypted value of the secret.

            '
          type: string
        plain:
          description: 'Specifies the plain text value of the secret.

            '
          type: string
      type: object
    common.ImageType:
      description: 'ImageType is the type of a VM image.

        For example, in the case of Azure this is one of marketplace/managed/gallery.'
      type: string
    shared.WildFireSettings:
      description: WildFireSettings are the settings for WildFire API requests
      properties:
        apiKey:
          description: 'APIKey is the key identifier used for WF APIs.

            '
          type: string
        apiKeyExpiration:
          description: 'APIKeyExpiration is the expiration time of the API key.

            '
          format: date-time
          type: string
        lastError:
          description: 'LastError is the last error that occurred when trying to create/update the wildfire key.

            '
          type: string
        policy:
          $ref: '#/components/schemas/shared.WildFirePolicy'
      type: object
    -_shared.VMSpecification:
      items:
        $ref: '#/components/schemas/shared.VMSpecification'
      type: array
    identity.SamlSettings:
      description: SamlSettings are the saml connectivity settings
      properties:
        appId:
          description: 'AppID is the Azure application ID.

            '
          type: string
        appSecret:
          $ref: '#/components/schemas/common.Secret'
        audience:
          description: 'Audience specifies the SAML audience used in the verification of the SAML response.

            '
          type: string
        cert:
          description: 'Cert is idp certificate in PEM format.

            '
          type: string
        consoleURL:
          description: 'ConsoleURL is the external Console URL that is used by the IDP for routing the browser after login.

            '
          type: string
        enabled:
          description: 'Enabled indicates whether saml settings are enabled.

            '
          type: boolean
        groupAttribute:
          description: 'GroupAttribute is the name of the group attribute.

            '
          type: string
        issuer:
          description: 'Issuer is idp issuer id.

            '
          type: string
        providerAlias:
          description: 'ProviderAlias is the provider alias used for display.

            '
          type: string
        skipAuthnContext:
          description: 'SkipAuthnContext indicates whether request authentication contexts should be skipped.

            '
          type: boolean
        tenantId:
          description: 'TenantID is the Azure Tenant ID.

            '
          type: string
        type:
          $ref: '#/components/schemas/identity.SamlType'
        url:
          description: 'URL is idp sso url.

            '
          type: string
      type: object
    cred.TemporaryToken:
      description: 'TemporaryToken is a temporary session token for cloud provider APIs

        AWS - https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html

        GCP - https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials

        Azure - https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on'
      properties:
        awsAccessKeyId:
          description: 'Specifies a temporary access key.

            '
          type: string
        awsSecretAccessKey:
          $ref: '#/components/schemas/common.Secret'
        duration:
          description: 'Specifies a duration for the token.

            '
          format: int64
          type: integer
        expirationTime:
          description: 'Specifies an expiration time for the token.

            '
          format: date-time
          type: string
        token:
          $ref: '#/components/schemas/common.Secret'
      type: object
    shared.WildFirePolicy:
      description: WildFirePolicy is the global wildfire usage policy, set by the client
      properties:
        agentlessEnabled:
          description: 'AgentlessEnabled indicates whether agentless scan will consult WF.

            '
          type: boolean
        complianceEnabled:
          description: 'ComplianceEnabled indicates whether compliance malware scan will consult WF.

            '
          type: boolean
        graywareAsMalware:
          description: 'GraywareAsMalware indicates whether files with WF verdict of Grayware will be treated as malware.

            '
          type: boolean
        region:
          description: 'Region is the WF server region to query.

            '
          type: string
        runtimeEnabled:
          description: 'RuntimeEnabled indicates whether runtime malware scan will consult WF.

            '
          type: boolean
        uploadEnabled:
          description: 'UploadEnabled indicates whether files will be uploaded to WF.

            '
          type: boolean
      type: object
    shared.ScanSettings:
      description: ScanSettings are global settings for image/host/container and registry scanning
      properties:
        agentlessScanPeriodMs:
          description: 'AgentlessScanPeriodMS is the agentless scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
        cloudPlatformsScanPeriodMs:
          description: 'CloudPlatformsScanPeriodMS is the cloud platforms scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
        containersScanPeriodMs:
          description: 'ContainersScanPeriodMS is the container scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
        extractArchive:
          description: 'ExtractArchive indicates whether to search within archive during scan is enabled.

            '
          type: boolean
        imagesScanPeriodMs:
          description: 'ImageScanPeriodMS is the image scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
        includeJsDependencies:
          description: 'IncludeJsDependencies indicates whether to include packages from the "dependencies".

            '
          type: boolean
        registryScanPeriodMs:
          description: 'RegistryScanPeriodMS is the registry scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
        registryScanRetentionDays:
          description: 'RegistryScanRetentionDays is the number of days to keep deleted registry images.

            '
          type: integer
        scanRunningImages:
          description: 'ScanRunningImages indicates only images that are used by containers should be used.

            '
          type: boolean
        serverlessScanPeriodMs:
          description: 'ServerlessScanPeriodMS is the serverless vulnerability scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
        showInfraContainers:
          description: 'ShowInfraContainers indicates infra containers should be shown.

            '
          type: boolean
        showNegligibleVulnerabilities:
          description: 'ShowNegligibleVulnerabilities indicates whether to display negligible vulnerabilities (low severity or will not be fixed).

            '
          type: boolean
        systemScanPeriodMs:
          description: 'SystemScanPeriodMS is the host scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
        tasDropletsScanPeriodMs:
          description: 'TASDropletsScanPeriodMS is the TAS scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
        vmScanPeriodMs:
          description: 'VMScanPeriodMS is the VM image scan period in ms - validated for minimum 1 hour or disabled with zero.

            '
          format: int64
          type: integer
      type: object
    cred.Credential:
      description: Credential specifies the authentication data of an external provider
      properties:
        _id:
          description: 'Specifies the unique ID for credential.

            '
          type: string
        accountGUID:
          description: 'Specifies the unique ID for an IBM Cloud account.

            '
          type: string
        accountID:
          description: 'Specifies the account identifier. Example: a username, access key, account GUID, and so on.

            '
          type: string
        accountName:
          description: 'Specifies the name of the cloud account.

            '
          type: string
        apiToken:
          $ref: '#/components/schemas/common.Secret'
        azureSPInfo:
          $ref: '#/components/schemas/cred.AzureSPInfo'
        caCert:
          description: 'Specifies the CA certificate for a certificate-based authentication.

            '
          type: string
        cloudProviderAccountID:
          description: 'Specifies the cloud provider account ID.

            '
          type: string
        created:
          description: 'Specifies the time when the credential was created (or, when the account ID was changed for AWS).

            '
          format: date-time
          type: string
        description:
          description: 'Specifies the description for a credential.

            '
          type: string
        external:
          description: 'Indicates whether the credential was onboarded from the Prisma platform.

            '
          type: boolean
        global:
          description: 'Indicates whether the credential scope is global.

            Available values are:

            true: Global

            false: Not Global

            Note: For GCP, the credential scope is the organization.

            '
          type: boolean
        lastModified:
          description: 'Specifies the time when the credential was last modified.

            '
          format: date-time
          type: string
        ociCred:
          $ref: '#/components/schemas/cred.OCICred'
        owner:
          description: 'Specifies the user who created or modified the credential.

            '
          type: string
        prismaLastModified:
          description: 'Specifies the time when the account was last modified by Prisma Cloud Compute.

            '
          format: int64
          type: integer
        roleArn:
          description: 'Specifies the Amazon Resource Name (ARN) of the role to be assumed.

            '
          type: string
        secret:
          $ref: '#/components/schemas/common.Secret'
        skipVerify:
          description: 'Indicates whether to skip the certificate verification in TLS communication.

            '
          type: boolean
        stsEndpoints:
          description: 'Specifies a list of specific endpoints for use in STS sessions in various regions.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        tokens:
          $ref: '#/components/schemas/cred.TemporaryToken'
        type:
          $ref: '#/components/schemas/cred.Type'
        url:
          description: 'Specifies the base server URL.

            '
          type: string
        useAWSRole:
          description: 'Indicates whether to authenticate using the IAM Role attached to the instance.

            Available values are:

            true: Authenticate with the attached credentials

            false: Don’t authenticate with the attached credentials.

            '
          type: boolean
        useSTSRegionalEndpoint:
          description: 'Indicates whether to use the regional STS endpoint for an STS session.

            Available values are:

            true: Use the regional STS

            false: Don’t use the regional STS.

            '
          type: boolean
      type: object
    shared.LoggerSetting:
      description: LoggerSetting are a specific logger settings
      properties:
        allProcEvents:
          description: 'AllProcEvents indicates whether any new spawned container process should generate an event source entry.

            '
          type: boolean
        enabled:
          description: 'Enabled indicates whether log feature is enabled.

            '
          type: boolean
        verboseScan:
          description: 'VerboseScan indicates whether detailed scan (Compliance/Vulnerability) result should be written to event logger.

            '
          type: boolean
      type: object
    shared.TrustedCertSignature:
      description: TrustedCertSignature represents a trusted cert settings
      properties:
        cn:
          description: 'CN is the certificate common name.

            '
          type: string
        issuer:
          description: 'Issuer is the certificate issuer.

            '
          type: string
        notAfter1:
          description: 'NotAfter is the certificate expiration time

            Remark: the 1 suffix required for backward compatibility (previous values were strings and cannot be serialized).

            '
          format: date-time
          type: string
        notBefore1:
          description: 'NotBefore is the minimum time for which the cert is valid

            Remark: the 1 suffix required for backward compatibility (previous values were strings and cannot be serialized).

            '
          format: date-time
          type: string
        raw:
          description: 'Raw is the raw certificate (in PEM format).

            '
          type: string
      type: object
    shared.VMSpecification:
      description: VMSpecification contains information for setting up and connecting to the image
      properties:
        cap:
          description: 'Specifies the maximum number of images to fetch and scan, ordered by most recently modified.

            '
          type: integer
        consoleAddr:
          description: 'Network-accessible address that Defender can use to publish scan results to Console.

            '
          type: string
        credentialID:
          description: 'ID of the credentials in the credentials store to use for authenticating with the cloud provider.

            '
          type: string
        enableSecureBoot:
          description: 'EnableSecureBoot indicates secure boot should be enabled for the instance launched for scanning (currently only supported with GCP).

            '
          type: boolean
        excludedImages:
          description: 'Images to exclude from scanning.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        gcpProjectID:
          description: 'GCP project ID to use for listing VM images instead of the default associated with the GCP credential (optional).

            '
          type: string
        imageType:
          $ref: '#/components/schemas/common.ImageType'
        images:
          description: 'The names of images to scan.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        instanceType:
          description: 'InstanceType is the instance type to use for the instance launched for scanning. For example, the default instance type for AWS is "m4.large".

            '
          type: string
        labels:
          description: 'The labels to use to target images to scan.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        region:
          description: 'Cloud provider region.

            '
          type: string
        scanners:
          description: 'Number of Defenders that can be utilized for each scan job.

            '
          type: integer
        subnetID:
          description: 'SubnetID is the network subnet ID to use for the instance launched for scanning. Default value is empty string, which represents the default subnet in the VPC.

            '
          type: string
        vpcID:
          description: 'VPCID is the network VPC ID to use for the instance launched for scanning. Default value is empty string, which represents the default VPC in the region.

            '
          type: string
        zone:
          description: 'Cloud provider zone (part of a region). On GCP, designates in which zone to deploy the VM scan instance.

            '
          type: string
      type: object
    common.CloudProvider:
      description: CloudProvider specifies the cloud provider name
      enum:
      - - aws
        - azure
        - gcp
        - alibaba
        - oci
        - others
      type: string
    cred.Type:
      description: Type specifies the credential type
      enum:
      - - aws
        - azure
        - gcp
        - ibmCloud
        - oci
        - apiToken
        - basic
        - dtr
        - kubeconfig
        - certificate
        - gitlabToken
      type: string
    types.TelemetrySettings:
      description: TelemetrySettings is the telemetry settings
      properties:
        enabled:
          description: 'Enabled determines whether the telemetry settings are enabled.

            '
          type: boolean
      type: object
    types.CertData:
      description: CertData  is used to add a custom certificate to the product
      properties:
        certificate:
          description: 'Data is the certificate pem data.

            '
          type: string
      type: object
    shared.License:
      description: License represent the customer license
      properties:
        access_token:
          description: 'AccessToken is the customer access token.

            '
          type: string
        contract_id:
          description: 'ContractID is the customer contract ID.

            '
          type: string
        contract_type:
          $ref: '#/components/schemas/shared.LicenseContractType'
        credits:
          description: 'Credits the total amount of credits purchased by the customer.

            '
          type: integer
        customer_id:
          description: 'CustomerID is the customer ID.

            '
          type: string
        defender_details:
          description: 'DefenderDetails represents the defenders license details.

            '
          items:
            $ref: '#/components/schemas/shared.DefenderLicenseDetails'
          type: array
        defenders:
          description: 'Deprecated: Defenders is the maximum number of defender allowed in this license. Use DefenderDetails field instead.

            '
          type: integer
        expiration_date:
          description: 'ExpirationDate is the license expiration date.

            '
          format: date-time
          type: string
        issue_date:
          description: 'IssueDate is the license issue date.

            '
          format: date-time
          type: string
        type:
          $ref: '#/components/schemas/shared.LicenseTier'
        workloads:
          description: 'Deprecated: Workloads is the number of workloads per license kept for backward compatibility. Use Credits instead.

            '
          type: integer
      type: object
    api.LicenseRequest:
      description: LicenseRequest is a request to setup a new license
      properties:
        key:
          description: 'Key is the license key.

            '
          type: string
      type: object
    identity.LdapSettings:
      description: LdapSettings are the ldap connectivity settings
      properties:
        accountPassword:
          $ref: '#/components/schemas/common.Secret'
        accountUpn:
          description: 'AccountUpn is the user principle name used to connect to the active directory server.

            '
          type: string
        caCert:
[...]
