openapi: 3.1.0
info:
  title: Palo Alto Networks Prisma Cloud DSPM API
  description: >-
    REST API for Prisma Cloud Data Security Posture Management (DSPM) providing
    programmatic access to data asset discovery, risk assessment, data store
    inventory, data classification results, DSPM policies, and data security
    alerts across multi-cloud environments. The API enables visibility into
    where sensitive data resides, how it is classified, what risks are
    associated with it, and whether it complies with data governance policies.
    DSPM automatically discovers data stores in AWS, Azure, and GCP including
    databases, object storage, file shares, and data warehouses. Authentication
    requires a JWT token obtained from the Prisma Cloud /login endpoint.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.prismacloud.io
    description: Prisma Cloud API (US region 1).
  - url: https://api2.prismacloud.io
    description: Prisma Cloud API (US region 2).
  - url: https://api3.prismacloud.io
    description: Prisma Cloud API (US region 3).
  - url: https://api.eu.prismacloud.io
    description: Prisma Cloud API (EU).
  - url: https://api.anz.prismacloud.io
    description: Prisma Cloud API (ANZ).
  - url: https://api.sg.prismacloud.io
    description: Prisma Cloud API (Singapore).
  - url: https://api.ca.prismacloud.io
    description: Prisma Cloud API (Canada).
security:
  - bearerAuth: []
tags:
  - name: DataAssets
    description: Data asset discovery and inventory operations.
  - name: Risks
    description: Data security risk identification and management.
  - name: DataStores
    description: Data store inventory and discovery operations.
  - name: Classifications
    description: Data classification results and taxonomy operations.
  - name: Policies
    description: DSPM policy management operations.
  - name: Alerts
    description: Data security alert management operations.
paths:
  /dspm/api/v1/data-assets:
    get:
      operationId: listDataAssets
      summary: Palo Alto Networks List data assets
      description: >-
        Returns a list of individual data assets discovered within cloud data
        stores. Data assets represent granular data objects such as database
        tables, columns containing sensitive data, S3 object prefixes, and
        file share directories. Each asset includes its classification labels
        and sensitivity level.
      tags:
        - DataAssets
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: dataStoreId
          in: query
          description: Filter assets by parent data store ID.
          schema:
            type: string
        - name: classificationLabel
          in: query
          description: Filter by classification label (e.g., PII, PHI, PCI).
          schema:
            type: string
        - name: sensitivityLevel
          in: query
          description: Filter by sensitivity level.
          schema:
            type: string
            enum:
              - public
              - internal
              - confidential
              - restricted
        - name: search
          in: query
          description: Search term to filter by asset name or path.
          schema:
            type: string
        - name: sortBy
          in: query
          description: Field to sort results by.
          schema:
            type: string
            enum:
              - name
              - sensitivityLevel
              - discoveredAt
        - name: sortOrder
          in: query
          description: Sort order direction.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Data assets returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of data assets matching filters.
                  dataAssets:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataAsset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /dspm/api/v1/data-assets/{id}:
    get:
      operationId: getDataAsset
      summary: Palo Alto Networks Get data asset details
      description: >-
        Returns detailed information about a specific data asset including
        its full classification summary, sample findings, associated data
        store details, and risk posture.
      tags:
        - DataAssets
      parameters:
        - name: id
          in: path
          required: true
          description: Unique data asset identifier.
          schema:
            type: string
      responses:
        '200':
          description: Data asset details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataAsset'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /dspm/api/v1/risks:
    get:
      operationId: listRisks
      summary: Palo Alto Networks List data risks
      description: >-
        Returns data security risks identified across all monitored data stores
        and assets. Risks are generated when sensitive data is found in data
        stores with insecure configurations such as public access, missing
        encryption, or excessive permissions.
      tags:
        - Risks
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: riskLevel
          in: query
          description: Filter by risk severity level.
          schema:
            type: string
            enum:
              - critical
              - high
              - medium
              - low
        - name: status
          in: query
          description: Filter by risk status.
          schema:
            type: string
            enum:
              - open
              - remediated
              - suppressed
              - acknowledged
        - name: cloudProvider
          in: query
          description: Filter by cloud provider.
          schema:
            type: string
            enum:
              - aws
              - azure
              - gcp
        - name: search
          in: query
          description: Search term to filter by risk title or data store name.
          schema:
            type: string
        - name: sortBy
          in: query
          description: Field to sort results by.
          schema:
            type: string
            enum:
              - riskLevel
              - detectedAt
        - name: sortOrder
          in: query
          description: Sort order direction.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Data risks returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of data risks matching filters.
                  risks:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataRisk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /dspm/api/v1/risks/{id}:
    get:
      operationId: getRisk
      summary: Palo Alto Networks Get risk details
      description: >-
        Returns detailed information for a specific data security risk including
        full risk description, affected data store details, impacted data
        assets, and step-by-step remediation guidance.
      tags:
        - Risks
      parameters:
        - name: id
          in: path
          required: true
          description: Unique risk identifier.
          schema:
            type: string
      responses:
        '200':
          description: Risk details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataRisk'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /dspm/api/v1/risks/{id}/status:
    put:
      operationId: updateRiskStatus
      summary: Palo Alto Networks Update risk status
      description: >-
        Updates the status of a specific data security risk. Use this endpoint
        to acknowledge, suppress, or mark a risk as remediated after applying
        corrective actions to the affected data store.
      tags:
        - Risks
      parameters:
        - name: id
          in: path
          required: true
          description: Unique risk identifier.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - open
                    - remediated
                    - suppressed
                    - acknowledged
                  description: New status for the risk.
                comment:
                  type: string
                  description: Comment explaining the status change.
      responses:
        '200':
          description: Risk status updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataRisk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /dspm/api/v1/data-stores:
    get:
      operationId: listDataStores
      summary: Palo Alto Networks List data stores inventory
      description: >-
        Returns a list of all cloud data stores discovered by Prisma Cloud
        DSPM. Includes relational databases, NoSQL databases, object storage,
        file shares, data warehouses, and other cloud-native data services.
        Supports filtering by cloud provider, region, service type, and risk
        level.
      tags:
        - DataStores
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: cloudProvider
          in: query
          description: Filter by cloud provider.
          schema:
            type: string
            enum:
              - aws
              - azure
              - gcp
        - name: region
          in: query
          description: Filter by cloud region.
          schema:
            type: string
        - name: serviceType
          in: query
          description: Filter by data store service type.
          schema:
            type: string
            enum:
              - relationalDatabase
              - noSqlDatabase
              - objectStorage
              - fileShare
              - dataWarehouse
              - dataLake
              - cache
              - messageQueue
        - name: riskLevel
          in: query
          description: Filter by assigned risk level.
          schema:
            type: string
            enum:
              - critical
              - high
              - medium
              - low
        - name: hasSensitiveData
          in: query
          description: Filter to only data stores containing classified sensitive data.
          schema:
            type: boolean
        - name: search
          in: query
          description: Search term to filter by data store name or identifier.
          schema:
            type: string
        - name: sortBy
          in: query
          description: Field to sort results by.
          schema:
            type: string
            enum:
              - name
              - riskLevel
              - sensitiveDataCount
              - discoveredAt
        - name: sortOrder
          in: query
          description: Sort order direction.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Data stores returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of discovered data stores matching filters.
                  dataStores:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataStore'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /dspm/api/v1/classifications:
    get:
      operationId: listClassifications
      summary: Palo Alto Networks List data classification results
      description: >-
        Returns the data classification taxonomy used by Prisma Cloud DSPM,
        including built-in and custom classification labels. Each classification
        includes the label name, description, detection patterns, associated
        regulatory frameworks, and the sensitivity level assigned to matching
        data.
      tags:
        - Classifications
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: category
          in: query
          description: Filter by classification category.
          schema:
            type: string
            enum:
              - PII
              - PHI
              - PCI
              - Financial
              - Credentials
              - Intellectual Property
              - Custom
        - name: isBuiltIn
          in: query
          description: Filter by built-in vs custom classifications.
          schema:
            type: boolean
        - name: search
          in: query
          description: Search term to filter by classification name.
          schema:
            type: string
      responses:
        '200':
          description: Data classifications returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of classifications.
                  classifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Classification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /dspm/api/v1/policies:
    get:
      operationId: listDSPMPolicies
      summary: Palo Alto Networks List DSPM policies
      description: >-
        Returns a list of DSPM policies that define data security requirements
        and governance rules. Policies specify which data classification labels
        and sensitivity levels require specific security controls such as
        encryption, access restrictions, and audit logging.
      tags:
        - Policies
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: enabled
          in: query
          description: Filter by policy enabled status.
          schema:
            type: boolean
        - name: search
          in: query
          description: Search term to filter by policy name.
          schema:
            type: string
      responses:
        '200':
          description: DSPM policies returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of DSPM policies.
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/DSPMPolicy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /dspm/api/v1/alerts:
    get:
      operationId: listDataSecurityAlerts
      summary: Palo Alto Networks List data security alerts
      description: >-
        Returns data security alerts generated when sensitive data exposure
        conditions are detected. Alerts are triggered by new public data
        store discoveries, anomalous data access patterns, policy violations,
        and newly identified sensitive data in previously clean data stores.
      tags:
        - Alerts
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: severity
          in: query
          description: Filter alerts by severity level.
          schema:
            type: string
            enum:
              - critical
              - high
              - medium
              - low
        - name: status
          in: query
          description: Filter by alert status.
          schema:
            type: string
            enum:
              - open
              - dismissed
              - resolved
        - name: cloudProvider
          in: query
          description: Filter by cloud provider.
          schema:
            type: string
            enum:
              - aws
              - azure
              - gcp
        - name: start_time
          in: query
          description: Start of time range filter (ISO 8601 format).
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of time range filter (ISO 8601 format).
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Data security alerts returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of alerts matching filters.
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataSecurityAlert'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        JWT token obtained from the Prisma Cloud /login endpoint. Valid for
        10 minutes. Include as Authorization: Bearer <token> in request headers.
  responses:
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or expired JWT token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    DataAsset:
      type: object
      properties:
        id:
          type: string
          description: Unique data asset identifier.
        dataStoreId:
          type: string
          description: Parent data store identifier.
        dataStoreName:
          type: string
          description: Name of the parent data store.
        name:
          type: string
          description: >-
            Name of the data asset (e.g., table name, column name, object
            prefix, directory name).
        assetType:
          type: string
          enum:
            - table
            - column
            - objectPrefix
            - directory
            - file
            - collection
            - index
            - schema
          description: Type of data asset.
        path:
          type: string
          description: Full path to the data asset within the data store.
        classificationLabels:
          type: array
          items:
            type: string
          description: Classification labels applied to this data asset.
        sensitivityLevel:
          type: string
          enum:
            - public
            - internal
            - confidential
            - restricted
          description: Sensitivity level based on the most sensitive classification.
        sampleFindings:
          type: array
          items:
            type: object
            properties:
              classificationLabel:
                type: string
                description: Classification label matched.
              pattern:
                type: string
                description: Pattern description.
              count:
                type: integer
                description: Approximate number of matching records.
              sampleValue:
                type: string
                description: Masked sample value showing the pattern match.
          description: Sample data patterns found during classification.
        recordCount:
          type: integer
          description: Approximate number of records in this data asset.
        discoveredAt:
          type: string
          format: date-time
          description: Timestamp when the data asset was first discovered.
        lastScannedAt:
          type: string
          format: date-time
          description: Timestamp of the most recent classification scan.
    DataRisk:
      type: object
      properties:
        id:
          type: string
          description: Unique risk identifier.
        title:
          type: string
          description: Short description of the risk.
        description:
          type: string
          description: Detailed explanation of the risk and its potential impact.
        riskLevel:
          type: string
          enum:
            - critical
            - high
            - medium
            - low
          description: Severity of the risk.
        riskCategory:
          type: string
          enum:
            - publicExposure
            - encryptionMissing
            - excessivePermissions
            - dataResidency
            - auditLogging
            - backupMissing
            - crossAccountAccess
            - sensitiveDataExposure
          description: Category of the data security risk.
        status:
          type: string
          enum:
            - open
            - remediated
            - suppressed
            - acknowledged
          description: Current status of the risk.
        dataStoreId:
          type: string
          description: Data store where the risk was identified.
        dataStoreName:
          type: string
          description: Name of the affected data store.
        cloudProvider:
          type: string
          enum:
            - aws
            - azure
            - gcp
          description: Cloud provider of the affected data store.
        cloudAccountId:
          type: string
          description: Cloud account ID of the affected data store.
        region:
          type: string
          description: Cloud region of the affected data store.
        affectedClassifications:
          type: array
          items:
            type: string
          description: Classification labels of sensitive data at risk.
        affectedDataAssetCount:
          type: integer
          description: Number of data assets affected by this risk.
        remediation:
          type: object
          properties:
            description:
              type: string
              description: Human-readable description of the recommended remediation.
            steps:
              type: array
              items:
                type: string
              description: Step-by-step remediation instructions.
            automatedRemediationAvailable:
              type: boolean
              description: Whether automated remediation is available.
          description: Recommended remediation steps.
        detectedAt:
          type: string
          format: date-time
          description: Timestamp when the risk was first detected.
        lastEvaluatedAt:
          type: string
          format: date-time
          description: Timestamp of the most recent risk evaluation.
    DataStore:
      type: object
      properties:
        id:
          type: string
          description: Unique data store identifier in Prisma Cloud.
        name:
          type: string
          description: Name of the data store as it appears in the cloud provider.
        cloudProvider:
          type: string
          enum:
            - aws
            - azure
            - gcp
          description: Cloud provider where the data store is hosted.
        cloudAccountId:
          type: string
          description: Cloud account ID that owns the data store.
        region:
          type: string
          description: Cloud region where the data store is located.
        serviceType:
          type: string
          enum:
            - relationalDatabase
            - noSqlDatabase
            - objectStorage
            - fileShare
            - dataWarehouse
            - dataLake
            - cache
            - messageQueue
          description: Category of the data store service.
        serviceName:
          type: string
          description: Specific cloud service name (e.g., Amazon S3, Amazon RDS).
        encryptionEnabled:
          type: boolean
          description: Whether encryption at rest is enabled.
        isPubliclyAccessible:
          type: boolean
          description: Whether the data store is accessible from the public internet.
        riskLevel:
          type: string
          enum:
            - critical
            - high
            - medium
            - low
          description: Overall risk level computed from data sensitivity and security posture.
        sensitiveDataCount:
          type: integer
          description: Number of sensitive data assets found in this data store.
        classificationLabels:
          type: array
          items:
            type: string
          description: Distinct classification labels found in the data store.
        dataAssetCount:
          type: integer
          description: Total number of data assets discovered in this data store.
        discoveredAt:
          type: string
          format: date-time
          description: Timestamp when the data store was first discovered by DSPM.
        lastScannedAt:
          type: string
          format: date-time
          description: Timestamp of the most recent data classification scan.
    Classification:
      type: object
      properties:
        id:
          type: string
          description: Unique classification identifier.
        name:
          type: string
          description: Classification label name.
        description:
          type: string
          description: Detailed description of what the classification detects.
        category:
          type: string
          enum:
            - PII
            - PHI
            - PCI
            - Financial
            - Credentials
            - Intellectual Property
            - Custom
          description: Broad category of the classification.
        sensitivityLevel:
          type: string
          enum:
            - public
            - internal
            - confidential
            - restricted
          description: Default sensitivity level for data matching this classification.
        isBuiltIn:
          type: boolean
          description: Whether this is a built-in or custom classification.
        regulatoryFrameworks:
          type: array
          items:
            type: string
            enum:
              - GDPR
              - CCPA
              - HIPAA
              - PCI-DSS
              - SOX
              - GLBA
              - FERPA
          description: Regulatory frameworks referencing this data classification.
        dataStoreCount:
          type: integer
          description: Number of data stores where matching data has been found.
        dataAssetCount:
          type: integer
          description: Number of data assets matching this classification.
    DSPMPolicy:
      type: object
      properties:
        id:
          type: string
          description: Unique DSPM policy identifier.
        name:
          type: string
          description: Policy name.
        description:
          type: string
          description: Policy description.
        enabled:
          type: boolean
          description: Whether the policy is currently active.
        severity:
          type: string
          enum:
            - critical
            - high
            - medium
            - low
          description: Severity level of violations detected by this policy.
        classification:
          type: string
          description: Classification label this policy governs.
        requiredControls:
          type: array
          items:
            type: string
            enum:
              - encryption
              - accessRestriction
              - auditLogging
              - backup
              - networkIsolation
          description: Security controls required for data matching this policy.
        cloudProviders:
          type: array
          items:
            type: string
            enum:
              - aws
              - azure
              - gcp
          description: Cloud providers this policy applies to.
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true
    DataSecurityAlert:
      type: object
      properties:
        id:
          type: string
          description: Unique alert identifier.
        title:
          type: string
          description: Short description of the alert condition.
        description:
          type: string
          description: Detailed alert description.
        severity:
          type: string
          enum:
            - critical
            - high
            - medium
            - low
          description: Alert severity level.
        status:
          type: string
          enum:
            - open
            - dismissed
            - resolved
          description: Current alert status.
        alertType:
          type: string
          description: Category of data security alert.
          enum:
            - newPublicDataStore
            - newSensitiveData
            - accessAnomaly
            - policyViolation
            - dataExfiltration
        dataStoreId:
          type: string
          description: Affected data store identifier.
        dataStoreName:
          type: string
          description: Name of the affected data store.
        cloudProvider:
          type: string
          enum:
            - aws
            - azure
            - gcp
          description: Cloud provider of the affected data store.
        cloudAccountId:
          type: string
          description: Cloud account identifier.
        region:
          type: string
          description: Cloud region of the affected data store.
        affectedClassifications:
          type: array
          items:
            type: string
          description: Data classification labels involved in the alert.
        detectedAt:
          type: string
          format: date-time
          description: Timestamp when the alert was generated.
        resolvedAt:
          type: string
          format: date-time
          description: Timestamp when the alert was resolved. Null if still open.
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
        error:
          type: string
          description: Error code.
