openapi: 3.2.0
info:
  title: Palo Alto Networks User Authentication API
  version: '1.0'
  description: 'Operations tagged User Authentication across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-user-authentication-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: User Authentication
paths:
  /api/v1/login:
    post:
      tags:
      - User Authentication
      summary: Login with username and password
      description: Login with username and password
      operationId: processLogin
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FormLoginRequest'
        required: true
      responses:
        '200':
          description: Login Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormLoginResponse'
        '400':
          description: Bad request. One of the required arguments is missing or fails a constraint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormLoginResponse'
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
  /api/v1/mssp/{mssp-id}/token-refresh:
    get:
      tags:
      - User Authentication
      summary: Refresh User JWT
      description: Refresh User JWT
      operationId: refreshToken
      parameters:
      - name: mssp-id
        in: path
        description: MSSP Id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
        '400':
          description: Bad request. One of the required arguments is missing or fails a constraint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefreshResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  schemas:
    TokenRefreshResponse:
      type: object
      properties:
        token:
          type: string
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    FormLoginRequest:
      required:
      - password
      - username
      type: object
      properties:
        username:
          type: string
          description: username of the user
        password:
          type: string
          description: password of the user
    FormLoginResponse:
      type: object
      properties:
        token:
          type: string
        msspId:
          type: string
        message:
          type: string
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TokenRefreshResponse_2:
      type: object
      properties:
        token:
          type: string
          example: 89e1d118cd653806d56ad0072e459ad6
    FormLoginRequest_2:
      required:
      - password
      - username
      type: object
      properties:
        username:
          type: string
          description: username of the user
          example: soc-analyst
        password:
          type: string
          description: password of the user
          example: example-password
    FormLoginResponse_2:
      type: object
      properties:
        token:
          type: string
          example: fa9da05f5324df66e7df52a8ba08be8d
        msspId:
          type: string
          example: '437386'
        message:
          type: string
          example: On rule incident configured threat applied threat suspicious.
    Error_2:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    TokenRefreshResponse_3:
      type: object
      properties:
        token:
          type: string
          example: 89e1d118cd653806d56ad0072e459ad6
    FormLoginRequest_3:
      required:
      - password
      - username
      type: object
      properties:
        username:
          type: string
          description: username of the user
          example: soc-analyst
        password:
          type: string
          description: password of the user
          example: example-password
    FormLoginResponse_3:
      type: object
      properties:
        token:
          type: string
          example: fa9da05f5324df66e7df52a8ba08be8d
        msspId:
          type: string
          example: '437386'
        message:
          type: string
          example: On rule incident configured threat applied threat suspicious.
    Error_3:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-user-authentication-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
