openapi: 3.2.0
info:
  title: SASE 5G Manage Service Enable 5 GAPI API
  version: '1.0'
  description: "The SASE 5G Management Service provides the administrative framework required to provision, \nconfigure, and oversee 5G security infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nArchitects and administrators utilize these APIs during the activation and lifecycle management \nphases to bridge enterprise 5G networks with Prisma Access security.\n\nBy leveraging these endpoints, organizations implement robust hardware-to-tenant mapping using \nIMSI and IMEI identifiers, ensuring precise traffic attribution and policy enforcement. \nThe service manages critical control plane components—including certificate handling and \nRadius server integration—directly through the SCM management plane. This centralized \napproach allows technical teams to scale 5G connectivity across global compute regions \nwhile maintaining granular visibility into subscriber groups and regional interconnect health. This spec was created on February 11, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- JWT: []
tags:
- name: Enable 5 GAPI
paths:
  /mt/manage/5g/ipcidr/{compute_region}:
    get:
      tags:
      - Enable 5 GAPI
      summary: Show Regional CIDRs
      description: "Returns the IPv4 and IPv6 CIDR blocks assigned to a specific compute region. \nNetwork engineers query these ranges when verifying IP Address allocation to prevent \naddress overlaps across the management plane and ensure routing integrity."
      parameters:
      - name: compute_region
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: GetMtManage5gIpcidrBy_compute_region
  /mt/manage/5g/setup:
    post:
      tags:
      - Enable 5 GAPI
      summary: Initialize Regional Connectivity
      description: "Activates 5G connectivity for a designated compute region using specific IP Address address \nblocks. Infrastructure leads trigger this during site onboarding to provision the \nunderlying 5G network layer and establish the regional security perimeter."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Enable5GRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: PostMtManage5gSetup
components:
  schemas:
    Enable5GRequest:
      type: object
      properties:
        compute_region:
          type: string
        action:
          type: string
        ipv4_cidr:
          type: string
        ipv6_cidr:
          type: string
