openapi: 3.2.0
info:
  title: Dig Security public Data Type Findings API
  description: Dig Security public API. 12 operations across 12 paths.
  version: 1.0.0
  x-description-source: desc/intro.md
servers:
- url: https://api.dig.security
  description: Dig Security public API
- url: PATH_TO_CONSOLE
tags:
- name: Data Type Findings
paths:
  /v1/data-type-findings:
    get:
      tags:
      - Data Type Findings
      operationId: get-data-type-findings
      parameters:
      - name: region.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: region.equals
        in: query
        required: false
        schema:
          type: string
      - name: region.contains
        in: query
        required: false
        schema:
          type: string
      - name: region.notContain
        in: query
        required: false
        schema:
          type: string
      - name: projectId.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: projectId.equals
        in: query
        required: false
        schema:
          type: string
      - name: projectId.contains
        in: query
        required: false
        schema:
          type: string
      - name: projectId.notContain
        in: query
        required: false
        schema:
          type: string
      - name: cloudProvider.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AWS
            - AZURE
            - GCP
            - SNOWFLAKE
            - FILE_SHARE
            - O365
      - name: cloudProvider.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
      - name: serviceType.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ATHENA
            - AURORA
            - AWS_BACKUP
            - DOCUMENTDB
            - DYNAMODB
            - DAX
            - EMR
            - EBS
            - EFS
            - ELASTICACHE
            - FSX
            - KINESIS_DELIVERY_STREAM
            - MEMORYDB
            - NEPTUNE
            - QLDB
            - RDS
            - REDSHIFT
            - S3
            - TIMESTREAM
            - OPENSEARCH
            - OPENSEARCH_SERVERLESS
            - COSMOS_DB
            - SYNAPSE
            - CACHE_FOR_REDIS
            - MARIA_DB
            - MYSQL_SERVER
            - POSTGRESQL_SERVER
            - SQL_SERVER
            - STORAGE_ACCOUNT
            - SQL_MANAGED_INSTANCE
            - ANF
            - CLOUD_STORAGE
            - CLOUD_SQL
            - BIG_QUERY
            - FILE_STORE
            - CLOUD_SPANNER
            - MEMORY_STORE
            - BIG_TABLE
            - FIRE_STORE
            - UNMANAGED_AWS_MYSQL
            - UNMANAGED_AWS_ORACLE_SERVER
            - UNMANAGED_AWS_MONGO_DB
            - UNMANAGED_AWS_POSTGRESQL
            - UNMANAGED_AWS_REDIS
            - UNMANAGED_AWS_SQLITE
            - UNMANAGED_AWS_MS_SQL
            - UNMANAGED_AWS_MARIA_DB
            - UNMANAGED_AWS_NEO4_J
            - UNMANAGED_AWS_ELASTIC
            - UNMANAGED_AWS_COCKROACH_DB
            - UNMANAGED_AWS_AEROSPIKE
            - UNMANAGED_AWS_SCYLLA_DB
            - UNMANAGED_AZURE_MYSQL
            - UNMANAGED_AZURE_ORACLE_SERVER
            - UNMANAGED_AZURE_MONGO_DB
            - UNMANAGED_AZURE_POSTGRESQL
            - UNMANAGED_AZURE_REDIS
            - UNMANAGED_AZURE_SQLITE
            - UNMANAGED_AZURE_MS_SQL
            - UNMANAGED_AZURE_MARIA_DB
            - UNMANAGED_AZURE_NEO4_J
            - UNMANAGED_AZURE_ELASTIC
            - UNMANAGED_AZURE_COCKROACH_DB
            - UNMANAGED_AZURE_AEROSPIKE
            - UNMANAGED_AZURE_SCYLLA_DB
            - UNMANAGED_GCP_MYSQL
            - UNMANAGED_GCP_ORACLE_SERVER
            - UNMANAGED_GCP_MONGO_DB
            - UNMANAGED_GCP_POSTGRESQL
            - UNMANAGED_GCP_REDIS
            - UNMANAGED_GCP_SQLITE
            - UNMANAGED_GCP_MS_SQL
            - UNMANAGED_GCP_MARIA_DB
            - UNMANAGED_GCP_NEO4_J
            - UNMANAGED_GCP_ELASTIC
            - UNMANAGED_GCP_COCKROACH_DB
            - UNMANAGED_GCP_AEROSPIKE
            - UNMANAGED_GCP_SCYLLA_DB
            - SNOWFLAKE_DB
            - FILE_SHARE
            - ONE_DRIVE
            - SHARE_POINT
            - AZURE_OPEN_AI_DEPLOYMENT
            - VERTEX_ENDPOINT
            - BEDROCK_PROVISIONED_THROUGHPUT
            - BEDROCK_AGENT
            - UNMANAGED_AI_AWS_FALCON
            - UNMANAGED_AI_AWS_LLAMA
            - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
            - UNMANAGED_AI_AWS_GEMMA
            - UNMANAGED_AI_AWS_GPT2
            - UNMANAGED_AI_AWS_MISTRAL
            - UNMANAGED_AI_AWS_PHI
            - UNMANAGED_AI_AWS_QWEN2
            - UNMANAGED_AI_AWS_ROBERTA
            - UNMANAGED_AI_AWS_JAMBA
            - UNMANAGED_AI_AZURE_FALCON
            - UNMANAGED_AI_AZURE_LLAMA
            - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
            - UNMANAGED_AI_AZURE_GEMMA
            - UNMANAGED_AI_AZURE_GPT2
            - UNMANAGED_AI_AZURE_MISTRAL
            - UNMANAGED_AI_AZURE_PHI
            - UNMANAGED_AI_AZURE_QWEN2
            - UNMANAGED_AI_AZURE_ROBERTA
            - UNMANAGED_AI_AZURE_JAMBA
            - UNMANAGED_AI_GCP_FALCON
            - UNMANAGED_AI_GCP_LLAMA
            - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
            - UNMANAGED_AI_GCP_GEMMA
            - UNMANAGED_AI_GCP_GPT2
            - UNMANAGED_AI_GCP_MISTRAL
            - UNMANAGED_AI_GCP_PHI
            - UNMANAGED_AI_GCP_QWEN2
            - UNMANAGED_AI_GCP_ROBERTA
            - UNMANAGED_AI_GCP_JAMBA
      - name: serviceType.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - ATHENA
          - AURORA
          - AWS_BACKUP
          - DOCUMENTDB
          - DYNAMODB
          - DAX
          - EMR
          - EBS
          - EFS
          - ELASTICACHE
          - FSX
          - KINESIS_DELIVERY_STREAM
          - MEMORYDB
          - NEPTUNE
          - QLDB
          - RDS
          - REDSHIFT
          - S3
          - TIMESTREAM
          - OPENSEARCH
          - OPENSEARCH_SERVERLESS
          - COSMOS_DB
          - SYNAPSE
          - CACHE_FOR_REDIS
          - MARIA_DB
          - MYSQL_SERVER
          - POSTGRESQL_SERVER
          - SQL_SERVER
          - STORAGE_ACCOUNT
          - SQL_MANAGED_INSTANCE
          - ANF
          - CLOUD_STORAGE
          - CLOUD_SQL
          - BIG_QUERY
          - FILE_STORE
          - CLOUD_SPANNER
          - MEMORY_STORE
          - BIG_TABLE
          - FIRE_STORE
          - UNMANAGED_AWS_MYSQL
          - UNMANAGED_AWS_ORACLE_SERVER
          - UNMANAGED_AWS_MONGO_DB
          - UNMANAGED_AWS_POSTGRESQL
          - UNMANAGED_AWS_REDIS
          - UNMANAGED_AWS_SQLITE
          - UNMANAGED_AWS_MS_SQL
          - UNMANAGED_AWS_MARIA_DB
          - UNMANAGED_AWS_NEO4_J
          - UNMANAGED_AWS_ELASTIC
          - UNMANAGED_AWS_COCKROACH_DB
          - UNMANAGED_AWS_AEROSPIKE
          - UNMANAGED_AWS_SCYLLA_DB
          - UNMANAGED_AZURE_MYSQL
          - UNMANAGED_AZURE_ORACLE_SERVER
          - UNMANAGED_AZURE_MONGO_DB
          - UNMANAGED_AZURE_POSTGRESQL
          - UNMANAGED_AZURE_REDIS
          - UNMANAGED_AZURE_SQLITE
          - UNMANAGED_AZURE_MS_SQL
          - UNMANAGED_AZURE_MARIA_DB
          - UNMANAGED_AZURE_NEO4_J
          - UNMANAGED_AZURE_ELASTIC
          - UNMANAGED_AZURE_COCKROACH_DB
          - UNMANAGED_AZURE_AEROSPIKE
          - UNMANAGED_AZURE_SCYLLA_DB
          - UNMANAGED_GCP_MYSQL
          - UNMANAGED_GCP_ORACLE_SERVER
          - UNMANAGED_GCP_MONGO_DB
          - UNMANAGED_GCP_POSTGRESQL
          - UNMANAGED_GCP_REDIS
          - UNMANAGED_GCP_SQLITE
          - UNMANAGED_GCP_MS_SQL
          - UNMANAGED_GCP_MARIA_DB
          - UNMANAGED_GCP_NEO4_J
          - UNMANAGED_GCP_ELASTIC
          - UNMANAGED_GCP_COCKROACH_DB
          - UNMANAGED_GCP_AEROSPIKE
          - UNMANAGED_GCP_SCYLLA_DB
          - SNOWFLAKE_DB
          - FILE_SHARE
          - ONE_DRIVE
          - SHARE_POINT
          - AZURE_OPEN_AI_DEPLOYMENT
          - VERTEX_ENDPOINT
          - BEDROCK_PROVISIONED_THROUGHPUT
          - BEDROCK_AGENT
          - UNMANAGED_AI_AWS_FALCON
          - UNMANAGED_AI_AWS_LLAMA
          - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AWS_GEMMA
          - UNMANAGED_AI_AWS_GPT2
          - UNMANAGED_AI_AWS_MISTRAL
          - UNMANAGED_AI_AWS_PHI
          - UNMANAGED_AI_AWS_QWEN2
          - UNMANAGED_AI_AWS_ROBERTA
          - UNMANAGED_AI_AWS_JAMBA
          - UNMANAGED_AI_AZURE_FALCON
          - UNMANAGED_AI_AZURE_LLAMA
          - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AZURE_GEMMA
          - UNMANAGED_AI_AZURE_GPT2
          - UNMANAGED_AI_AZURE_MISTRAL
          - UNMANAGED_AI_AZURE_PHI
          - UNMANAGED_AI_AZURE_QWEN2
          - UNMANAGED_AI_AZURE_ROBERTA
          - UNMANAGED_AI_AZURE_JAMBA
          - UNMANAGED_AI_GCP_FALCON
          - UNMANAGED_AI_GCP_LLAMA
          - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
          - UNMANAGED_AI_GCP_GEMMA
          - UNMANAGED_AI_GCP_GPT2
          - UNMANAGED_AI_GCP_MISTRAL
          - UNMANAGED_AI_GCP_PHI
          - UNMANAGED_AI_GCP_QWEN2
          - UNMANAGED_AI_GCP_ROBERTA
          - UNMANAGED_AI_GCP_JAMBA
      - name: lifecycle.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - RUNNING
            - STOPPED
            - DELETED
      - name: lifecycle.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - RUNNING
          - STOPPED
          - DELETED
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: string
          description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        required: false
        schema:
          maximum: 50
          type: integer
          default: 20
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns company findings
          headers:
            X-Total-Count:
              description: The total number of items in the page
              style: simple
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EntitiesDTO'
      summary: List Data Type Findings
      description: 'List Data Type Findings. GET /v1/data-type-findings on the Data Type Findings API. Takes 17 query parameters. Documented responses: 200.'
      x-description-source: desc/data-type-findings/get.md
components:
  schemas:
    RecordsAtRisk:
      type: object
      properties:
        high:
          type: integer
          format: int64
        medium:
          type: integer
          format: int64
        low:
          type: integer
          format: int64
    EntitiesDTO:
      type: object
      properties:
        dataTypeName:
          type: string
        label:
          type: string
        records:
          type: integer
          format: int64
        publicRecords:
          type: integer
          format: int64
        assets:
          type: integer
          format: int64
        clouds:
          type: array
          items:
            type: string
            enum:
            - AWS
            - AZURE
            - GCP
            - SNOWFLAKE
            - FILE_SHARE
            - O365
        regions:
          type: array
          items:
            type: string
        lastFound:
          type: string
          format: date-time
        recordsAtRisk:
          $ref: '#/components/schemas/RecordsAtRisk'
