openapi: 3.2.0
info:
  title: SASE 5G Monitor Service 5G Deregistered Trend API
  version: '1.0'
  description: "The SASE 5G Monitoring Service provides real-time visibility and technical telemetry \nfor enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nTechnical leads and network analysts utilize these APIs to track subscriber scaling, \nmonitor regional registration trends, and audit network throughput performance.\n\nBy leveraging these endpoints, organizations maintain a continuous feedback loop on \nUser Equipment (UE) activity and regional interconnect health. The service enables \nproactive troubleshooting through incident severity tracking and API performance \nmonitoring, ensuring that global 5G connectivity meets strict service level objectives \nwhile identifying unauthorized traffic or signaling gaps. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: 5G Deregistered Trend
paths:
  /mt/monitor/5g/ueIp/deregistered/trend:
    post:
      tags:
      - 5G Deregistered Trend
      summary: Get DeRegistered UE Trend
      description: Returns the trend of deregistered UE devices over time.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendRequest'
            example:
              properties:
              - property: imei
                function: count
                alias: deregistered_count
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
                - property: compute_region
                  operator: in
                  values:
                  - us-central1
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - event_time: 1765324800000
                  deregistered_count: 3
                - event_time: 1765411200000
                  deregistered_count: 3
                header:
                  createdAt: '2025-12-17T02:05:42Z'
                  clientRequestId: null
                  dataCount: 7
                  status:
                    subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gUeipDeregisteredTrend
components:
  schemas:
    TrendRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              function:
                type: string
              alias:
                type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
