openapi: 3.2.0
info:
  title: Palo Alto Networks MSSP Operations Retry API
  version: '1.0'
  description: 'Operations tagged MSSP Operations Retry across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-mssp-operations-retry-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: MSSP Operations Retry
paths:
  /api/v1/mssp/{mssp-id}/operation/{request-id}/retry:
    post:
      tags:
      - MSSP Operations Retry
      summary: API to retry failed operation
      description: MSSP user API to retry failed operation
      operationId: retryOperation
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
      - name: request-id
        in: path
        description: the request id being retried
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/OperationAckRequest'
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The MSSP does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  schemas:
    TenantChangeResponse:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
        externalTenantId:
          type: string
        tenantPrismaId:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        updatedAt:
          type: integer
          format: int64
    OperationAckRequest:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
        errorMessage:
          type: string
        tenantUpdate:
          $ref: '#/components/schemas/TenantUpdate'
    OperationResponse:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
        msspId:
          type: string
          format: uuid
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
        operationDescription:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse'
        startedBy:
          type: string
        startedAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        isRetryable:
          type: boolean
        retryOf:
          type: string
          format: uuid
        retriedBy:
          type: string
          format: uuid
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    TenantUpdate:
      type: object
      properties:
        prismaId:
          type: integer
          format: int64
        externalTenantId:
          type: string
        stackName:
          type: string
        stackBaseUrl:
          type: string
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantChangeResponse_2:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
          example: 21506922-dae2-4e8a-879f-b738126b7a2d
        externalTenantId:
          type: string
          example: '833084'
        tenantPrismaId:
          type: string
          example: '169016'
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: SUCCESS
        updatedAt:
          type: integer
          format: int64
          example: 131
    OperationAckRequest_2:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          example: SUCCESS
        errorMessage:
          type: string
          example: example-errorMessage
        tenantUpdate:
          $ref: '#/components/schemas/TenantUpdate_2'
    OperationResponse_2:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          example: 4b0348d5-573c-4efd-a630-8b03814c6b3c
        msspId:
          type: string
          format: uuid
          example: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
          example: MESSAGE_FAN_OUT
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
          example: POLICY_MAP
        operationDescription:
          type: string
          example: Incident incident configured investigation malware violation incident applied applied on network.
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse_2'
          example:
          - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
            externalTenantId: '426227'
            tenantPrismaId: '519160'
            status: IN_PROGRESS
            updatedAt: 73
        startedBy:
          type: string
          example: example-startedBy
        startedAt:
          type: integer
          format: int64
          example: 93
        updatedAt:
          type: integer
          format: int64
          example: 375
        isRetryable:
          type: boolean
          example: true
        retryOf:
          type: string
          format: uuid
          example: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
        retriedBy:
          type: string
          format: uuid
          example: 3ea1e71a-2068-4b42-91ea-859717617763
    TenantUpdate_2:
      type: object
      properties:
        prismaId:
          type: integer
          format: int64
          example: 797
        externalTenantId:
          type: string
          example: '225012'
        stackName:
          type: string
          example: Branch Gateway 63
        stackBaseUrl:
          type: string
          example: example-stackBaseUrl
    Error_2:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    TenantChangeResponse_3:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
          example: 21506922-dae2-4e8a-879f-b738126b7a2d
        externalTenantId:
          type: string
          example: '833084'
        tenantPrismaId:
          type: string
          example: '169016'
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: SUCCESS
        updatedAt:
          type: integer
          format: int64
          example: 131
    OperationAckRequest_3:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          example: SUCCESS
        errorMessage:
          type: string
          example: example-errorMessage
        tenantUpdate:
          $ref: '#/components/schemas/TenantUpdate_3'
    OperationResponse_3:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          example: 4b0348d5-573c-4efd-a630-8b03814c6b3c
        msspId:
          type: string
          format: uuid
          example: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
          example: MESSAGE_FAN_OUT
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
          example: POLICY_MAP
        operationDescription:
          type: string
          example: Incident incident configured investigation malware violation incident applied applied on network.
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse_3'
          example:
          - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
            externalTenantId: '426227'
            tenantPrismaId: '519160'
            status: IN_PROGRESS
            updatedAt: 73
        startedBy:
          type: string
          example: example-startedBy
        startedAt:
          type: integer
          format: int64
          example: 93
        updatedAt:
          type: integer
          format: int64
          example: 375
        isRetryable:
          type: boolean
          example: true
        retryOf:
          type: string
          format: uuid
          example: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
        retriedBy:
          type: string
          format: uuid
          example: 3ea1e71a-2068-4b42-91ea-859717617763
    TenantUpdate_3:
      type: object
      properties:
        prismaId:
          type: integer
          format: int64
          example: 797
        externalTenantId:
          type: string
          example: '225012'
        stackName:
          type: string
          example: Branch Gateway 63
        stackBaseUrl:
          type: string
          example: example-stackBaseUrl
    Error_3:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-mssp-operations-retry-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
