openapi: 3.2.0
info:
  title: config-service Data Security Onboarding API
  version: 1.0.2
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- description: null
  name: Data Security Onboarding
paths:
  /config/v3/account/storageUUID/{id}:
    get:
      summary: Fetch Account Config By Storage UUID
      description: Returns the account config details for the specified storage UUID.
      operationId: get-account-config-by-storage-uuid
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json: {}
        '400':
          description: bad_request
      x-public: 'true'
      security:
      - x-redlock-auth: []
      tags:
      - Data Security Onboarding
  /config/v3/account/{id}:
    get:
      summary: Fetch Account Config By PCDS Account ID
      description: Returns the account config details for the specified PCDS Account ID. If 'initialize' parameter is set to 'true', the account will be pre-initialized for the Azure subscription. 'initialize' is only used during Azure flow.
      operationId: get-account-config-by-pcds-account-id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: initialize
        in: query
        schema:
          default: false
          type: boolean
      responses:
        '200':
          description: success
          content:
            application/json: {}
        '400':
          description: bad_request
      x-public: 'true'
      security:
      - x-redlock-auth: []
      tags:
      - Data Security Onboarding
    put:
      summary: Update the account config for the specified PCDS Account ID
      description: Updates the specified account config and returns the updated account config.
      operationId: update-pcds-account-config
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConfig'
      responses:
        '200':
          description: success
          content:
            application/json: {}
        '400':
          description: bad_request
        '401':
          description: unauthenticated_access
        '403':
          description: unauthorized_access
      x-public: 'true'
      security:
      - x-redlock-auth: []
      tags:
      - Data Security Onboarding
  /config/v3/account/{id}/status:
    get:
      summary: Performs a Permissions Check for the Given PCDS Account
      description: Returns details pertaining to the rudimentary permissions check - contains details pertaining to any missing permissions.
      operationId: get-status-pcds-account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
      x-public: 'true'
      security:
      - x-redlock-auth: []
      tags:
      - Data Security Onboarding
  /config/v3/account/{subscriptionId}/acl-script:
    get:
      summary: Generate an Azure Terraform Script
      description: Returns an Azure Network ACL script for the given Azure Subscription ID and PCDS Tenant ID that should fix all network connectivity issues.
      operationId: generate-network-acl-script-by-account-id
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/octet-stream: {}
      x-public: 'true'
      security:
      - x-redlock-auth: []
      tags:
      - Data Security Onboarding
  /config/v3/tenant/{tenantId}/{subscriptionId}/terraform-script:
    get:
      summary: Generate an Azure Terraform Script
      description: Returns an Azure Terraform Script for the given Azure Subscription ID and PCDS Tenant ID that comes with all necessary permissions.
      operationId: get-azure-terraform-script
      parameters:
      - name: subscriptionId
        in: path
        required: true
        schema:
          type: string
      - name: tenantId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/octet-stream: {}
        '400':
          description: bad_request
      x-public: 'true'
      security:
      - x-redlock-auth: []
      tags:
      - Data Security Onboarding
components:
  schemas:
    CspAccessConfig:
      type: object
    AccountType:
      enum:
      - regular
      - organization
      - tenant
      type: string
    AccountScanOption:
      enum:
      - none
      - realtime
      - historical
      - full
      - custom
      type: string
    UUID:
      format: uuid
      pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
      type: string
    StorageScanStatus:
      enum:
      - initialized
      - enabled
      - disabled
      - maxcreditexceeded
      - licenseexpired
      type: string
    AccountConfig:
      type: object
      properties:
        redlockAccountId:
          format: int32
          type: integer
        accountId:
          type: string
        storageUUID:
          $ref: '#/components/schemas/UUID'
        cloudType:
          $ref: '#/components/schemas/CloudType'
        accountType:
          $ref: '#/components/schemas/AccountType'
        redlockTenantId:
          format: int64
          type: integer
        storageScanStatus:
          $ref: '#/components/schemas/StorageScanStatus'
        dssTenantId:
          type: string
        accountName:
          type: string
        scanOption:
          $ref: '#/components/schemas/AccountScanOption'
        cloudConfig:
          $ref: '#/components/schemas/CspAccessConfig'
    CloudType:
      enum:
      - aws
      - gcp
      - azure
      type: string
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
