openapi: 3.2.0
info:
  title: SP Interconnect Monitor Interconnect Throughput API
  version: '1.0'
  description: "These APIs deliver real-time visibility and performance analytics for all configured interconnect \nresources through the monitoring plane. They allow network teams to track health, bandwidth throughput, \nand data transfer volumes at the edge to ensure optimal network security and reliability. \nAccess these metrics during routine audits or active troubleshooting to diagnose latency spikes or BGP session instability. \nBy applying time-based filters and histograms, you can generate detailed traffic trends and monitor IP pool consumption across your global infrastructure. Created on February 12, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- authKey: []
tags:
- name: Interconnect Throughput
paths:
  /mt/sp-interconnect/monitor/interconnects/throughput:
    post:
      tags:
      - Interconnect Throughput
      summary: Get Throughput By Interconnect
      description: Monitor the real-time and historical throughput rates for designated Interconnect resources. This metric tracks the speed of data flow across the Service Provider bridge to identify potential bottlenecks or underutilized capacity. Access this when performing performance tuning or when investigating regional latency issues. To proceed, define the throughput properties and use the histogram object to group data by time intervals, such as daily or hourly trends.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorRequest'
            example:
              properties:
              - property: egress_throughput
              - property: ingress_throughput
              - property: event_time
              - property: interconnect_name
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 30
                - property: interconnect_id
                  operator: equals
                  values:
                  - c4ac1d7a-684e-11f0-92e9-4201ac16024e
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - egress_throughput: 0.002407656942160277
                  ingress_throughput: 0.004687820775191641
                  event_time: 1763424000000
                  interconnect_name: ic-us-central1
                - egress_throughput: 0.0024075402109722268
                  ingress_throughput: 0.0044653834247916635
                  event_time: 1763510400000
                  interconnect_name: ic-us-central1
                requestId: 3fb923a8-0077-443b-a334-07b3cd2123ed
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtSp-interconnectMonitorInterconnectsThroughput
components:
  schemas:
    MonitorRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              function:
                type: string
              alias:
                type: string
              sort:
                type: object
                properties:
                  order:
                    type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
  securitySchemes:
    authKey:
      type: http
      scheme: Bearer
