openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Jobs API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Jobs
  description: Asynchronous job status tracking.
paths:
  /sse/config/v1/jobs/{id}:
    get:
      operationId: getJob
      summary: Palo Alto Networks Get Job Status
      description: Returns the current status and result of an asynchronous job such as a configuration push or commit operation.
      tags:
      - Jobs
      parameters:
      - name: id
        in: path
        required: true
        description: Job ID returned by an asynchronous operation.
        schema:
          type: string
        example: example-id
      responses:
        '200':
          description: Job status returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
              examples:
                GetJob200Example:
                  summary: Default getJob 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    type: custom
                    status: FAIL
                    result: WARN
                    start_ts: '2024-10-18T13:34:32Z'
                    end_ts: '2024-01-18T09:40:35Z'
                    percent: 437
                    details: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Job:
      type: object
      description: An asynchronous job tracking configuration push or commit operations.
      properties:
        id:
          type: string
          description: Unique job identifier.
          example: example-id
        type:
          type: string
          description: Job type (e.g., push, commit).
          example: custom
        status:
          type: string
          enum:
          - PEND
          - ACT
          - FIN
          - FAIL
          description: Current job status.
          example: FAIL
        result:
          type: string
          enum:
          - OK
          - FAIL
          - WARN
          example: WARN
        start_ts:
          type: string
          format: date-time
          description: Job start timestamp.
          example: '2024-10-18T13:34:32Z'
        end_ts:
          type: string
          format: date-time
          description: Job completion timestamp.
          example: '2024-01-18T09:40:35Z'
        percent:
          type: integer
          description: Job completion percentage (0-100).
          example: 437
        details:
          type: object
          description: Additional job details and error messages.
          example: {}
    ErrorResponse:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Investigation incident suspicious network policy network endpoint endpoint policy investigation activity.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Security monitoring rule configured endpoint on network blocked.
            details: {}
          - code: example-code
            message: Security on on threat monitoring activity policy.
            details: {}
        _request_id:
          type: string
          description: Unique request identifier for troubleshooting.
          example: '574499'
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
