openapi: 3.2.0
info:
  title: SSPM Management Apps API
  version: 1.0.0
  description: © 2025 Palo Alto Networks, Inc This Open API spec file was created on March 02, 2026. © 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html). All other marks mentioned herein may be trademarks of their respective companies.
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com
tags:
- name: Apps
paths:
  /sspm/api/v1/apps:
    get:
      summary: Registered Application
      description: Retrieve the list of onboarded SaaS applications.
      operationId: getRegisteredApplications
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationPage'
          description: successful operation
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: List of filters
        example: filter=type:office365
        in: query
        name: filter
        schema:
          type: string
      - description: 'defines sorting of the result.Format: FIELD_NAME:DIRECTION|FIELD_NAME:DIRECTION|... .'
        example: order_by=name:asc|type:desc
        in: query
        name: order_by
        schema:
          type: string
      - description: applies page_token to get requested page of items
        example: page_token=MSM2Iw==
        in: query
        name: page_token
        schema:
          type: string
      tags:
      - Apps
  /sspm/api/v1/apps/{app_id}:
    get:
      summary: Application Details
      description: Retrieve the basic details of the application by providing app ID and tenant name.
      operationId: getRegisteredApplication
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
          description: successful operation
        '404':
          description: not registered application
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: application id
        example: f1700e7b-e60f-4d5e-bfce-aba3543adf8e
        in: path
        name: app_id
        required: true
        schema:
          type: string
      tags:
      - Apps
  /sspm/api/v1/apps/{app_id}/configs:
    get:
      summary: Application Configuration Details
      description: Retrieve details on the application configuration by providing app ID and tenant name.
      operationId: getApplicationConfigs
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Config'
                type: array
          description: successful operation
        '404':
          description: not registered application
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: application id
        example: f1700e7b-e60f-4d5e-bfce-aba3543adf8e
        in: path
        name: app_id
        required: true
        schema:
          type: string
      tags:
      - Apps
  /sspm/api/v1/apps/{app_id}/settings:
    get:
      summary: Application Settings Details
      description: Retrieve details on the settings of the SaaS application by providing app ID and tenant name.
      operationId: getApplicationSettings
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Config'
                type: array
          description: successful operation
        '404':
          description: not registered application
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: application id
        example: f1700e7b-e60f-4d5e-bfce-aba3543adf8e
        in: path
        name: app_id
        required: true
        schema:
          type: string
      tags:
      - Apps
components:
  schemas:
    FeatureState:
      properties:
        last_scanned_at:
          format: date-time
          type: string
        status:
          enum:
          - UNKNOWN
          - OK
          - UNHEALTHY
          - AUTH_REQUIRED
          - SCANNING
          type: string
        status_details:
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    Application:
      properties:
        app_id:
          type: string
        app_settings:
          additionalProperties:
            type: string
          type: object
        changed_at:
          format: date-time
          type: string
        changed_by:
          type: string
        configs:
          additionalProperties:
            type: string
          type: object
        created_at:
          format: date-time
          type: string
        created_by:
          type: string
        fawkes_url:
          type: string
        features_metadata:
          additionalProperties:
            additionalProperties:
              type: string
            type: object
          type: object
        features_state:
          additionalProperties:
            $ref: '#/components/schemas/FeatureState'
          type: object
        health_status:
          enum:
          - Up
          - Unhealthy
          - Down
          - Unknown
          - Scanning
          type: string
        instance_label:
          enum:
          - Default
          - Production
          - Sandbox
          - Internal
          - QA
          - Dev
          type: string
        last_scanned_at:
          format: date-time
          type: string
        last_validated_at:
          format: date-time
          type: string
        missing_configs:
          items:
            type: string
          type: array
        name:
          type: string
        owner:
          $ref: '#/components/schemas/User'
        remediation_enabled:
          type: boolean
        scan_interval_minutes:
          format: int32
          type: integer
        status:
          enum:
          - Registered
          - Active
          - Disabled
          type: string
        tenant:
          type: string
        tsg_id:
          type: string
        type:
          type: string
      type: object
    Config:
      properties:
        app_id:
          type: string
        category:
          type: string
        common_control_id:
          type: string
        config_id:
          type: string
        console_url:
          type: string
        current_value:
          type: string
        description:
          type: string
        descriptionUrl:
          type: string
        id:
          type: string
        locked:
          type: boolean
        locked_value:
          type: string
        monitored:
          type: boolean
        monitored_attestation:
          type: string
        name:
          type: string
        operator:
          type: string
        operator_display_value:
          type: string
        overridden:
          type: boolean
        overridden_value:
          type: string
        recommended_value:
          type: string
        remediation_enabled:
          type: boolean
        remediation_steps:
          type: string
        status:
          type: string
        subcategory:
          type: string
        tenant:
          type: string
        tickets:
          items:
            $ref: '#/components/schemas/Ticket'
          type: array
      type: object
    Ticket:
      properties:
        createdAt:
          format: date-time
          type: string
        integrationId:
          type: string
        summary:
          type: string
        tenant:
          type: string
        ticketKey:
          type: string
        ticketUrl:
          type: string
        type:
          enum:
          - JIRA_TICKETING
          - SNOW_TICKETING
          type: string
      type: object
    ApplicationPage:
      properties:
        items:
          items:
            type: object
          type: array
        limit:
          format: int32
          type: integer
        next_path:
          type: string
        prev_path:
          type: string
        total:
          format: int64
          type: integer
      type: object
    User:
      properties:
        email:
          type: string
        full_name:
          type: string
        user_id:
          type: string
      required:
      - email
      - full_name
      - user_id
      type: object
