openapi: 3.2.0
info:
  title: SASE 5G Monitor Service Unknown UE Mappings API
  version: '1.0'
  description: "The SASE 5G Monitoring Service provides real-time visibility and technical telemetry \nfor enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nTechnical leads and network analysts utilize these APIs to track subscriber scaling, \nmonitor regional registration trends, and audit network throughput performance.\n\nBy leveraging these endpoints, organizations maintain a continuous feedback loop on \nUser Equipment (UE) activity and regional interconnect health. The service enables \nproactive troubleshooting through incident severity tracking and API performance \nmonitoring, ensuring that global 5G connectivity meets strict service level objectives \nwhile identifying unauthorized traffic or signaling gaps. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: Unknown UE Mappings
paths:
  /mt/monitor/5g/mapping/unknownUEs:
    get:
      tags:
      - Unknown UE Mappings
      summary: Get Unknown UE Mappings
      description: Returns the count of UE mappings which were not configured by user, but got registered either via Radius or Application Programming Interface.
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  unknown_mappings: 1
                header:
                  createdAt: '2025-12-17T02:07:45Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gMappingUnknownues
