{
  "openapi": "3.0.1",
  "info": {
    "title": "Prisma Cloud: Managed Security Service Provider (MSSP)",
    "description": "APIs to interact with the MSSP Backend Service\n\n# Authentication\n\n",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://mssp-api.prismacloud.io"
    }
  ],
  "tags": [
    {
      "name": "Policy Group to Tenant Group Management",
      "description": "APIs to interact with the MSSP Backend Service\n\n# Authentication\n\n"
    },
    {
      "name": "Policy Group Lifecycle Endpoints",
      "description": "APIs to interact with the MSSP Backend Service\n\n# Authentication\n\n"
    }
  ],
  "paths": {
    "/api/v1/user/{username}/credential": {
      "put": {
        "tags": [
          "User Management"
        ],
        "summary": "Palo Alto Networks Change Password",
        "description": "Change password for user",
        "operationId": "resetPassword",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username",
            "required": true,
            "schema": {
              "maxLength": 128,
              "minLength": 1,
              "type": "string"
            },
            "example": "jsmith"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              },
              "examples": {
                "ResetPasswordRequestExample": {
                  "summary": "Default resetPassword request",
                  "x-microcks-default": true,
                  "value": {
                    "password": "example-password"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ResetPassword400Example": {
                    "summary": "Default resetPassword 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ResetPassword401Example": {
                    "summary": "Default resetPassword 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many api request"
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1/mssp/{mssp-id}/user/{username}": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "Palo Alto Networks Get User by Username",
        "description": "Get User by username",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "username of the user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "jane.doe"
          },
          {
            "name": "mssp-id",
            "in": "path",
            "description": "the id of the MSSP of interest",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "407542"
          }
        ],
        "responses": {
          "200": {
            "description": "User details for given username",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsspUserResponse"
                },
                "examples": {
                  "GetUser200Example": {
                    "summary": "Default getUser 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "username": "jane.doe",
                      "firstName": "Production Agent 01",
                      "lastName": "Primary Agent 97",
                      "lastModifiedBy": "example-lastModifiedBy",
                      "lastModifiedAt": 578
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. One of the required arguments is missing or fails a constraint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "GetUser400Example": {
                    "summary": "Default getUser 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "GetUser401Example": {
                    "summary": "Default getUser 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "GetUser404Example": {
                    "summary": "Default getUser 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsspUserResponse"
                },
                "examples": {
                  "GetUser429Example": {
                    "summary": "Default getUser 429 response",
                    "x-microcks-default": true,
                    "value": {
                      "username": "jane.doe",
                      "firstName": "Production Agent 01",
                      "lastName": "Primary Agent 97",
                      "lastModifiedBy": "example-lastModifiedBy",
                      "lastModifiedAt": 578
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "put": {
        "tags": [
          "User Management"
        ],
        "summary": "Palo Alto Networks Update an Existing User",
        "description": "Update an existing user",
        "operationId": "updateUser",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "username of the user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "soc-analyst"
          },
          {
            "name": "mssp-id",
            "in": "path",
            "description": "the id of the MSSP of interest",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "105279"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/MsspUserRequest"
              },
              "examples": {
                "UpdateUserRequestExample": {
                  "summary": "Default updateUser request",
                  "x-microcks-default": true,
                  "value": {
                    "username": "jane.doe",
                    "firstName": "Primary Gateway 46",
                    "lastName": "Corporate Gateway 06"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User updated successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsspUserResponse"
                },
                "examples": {
                  "UpdateUser200Example": {
                    "summary": "Default updateUser 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "username": "jane.doe",
                      "firstName": "Production Agent 01",
                      "lastName": "Primary Agent 97",
                      "lastModifiedBy": "example-lastModifiedBy",
                      "lastModifiedAt": 578
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. One of the required arguments is missing or fails a constraint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UpdateUser400Example": {
                    "summary": "Default updateUser 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UpdateUser401Example": {
                    "summary": "Default updateUser 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "UpdateUser404Example": {
                    "summary": "Default updateUser 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsspUserResponse"
                },
                "examples": {
                  "UpdateUser429Example": {
                    "summary": "Default updateUser 429 response",
                    "x-microcks-default": true,
                    "value": {
                      "username": "jane.doe",
                      "firstName": "Production Agent 01",
                      "lastName": "Primary Agent 97",
                      "lastModifiedBy": "example-lastModifiedBy",
                      "lastModifiedAt": 578
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "delete": {
        "tags": [
          "User Management"
        ],
        "summary": "Palo Alto Networks Delete an Existing User",
        "description": "Delete an existing user",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username of the user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "jsmith"
          },
          {
            "name": "mssp-id",
            "in": "path",
            "description": "the id of the MSSP of interest",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "241012"
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted successful"
          },
          "400": {
            "description": "Bad request. One of the required arguments is missing or fails a constraint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "DeleteUser400Example": {
                    "summary": "Default deleteUser 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "DeleteUser401Example": {
                    "summary": "Default deleteUser 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "DeleteUser404Example": {
                    "summary": "Default deleteUser 404 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1/mssp/{mssp-id}/policy-group/{pg-id}": {
      "get": {
        "tags": [
          "Policy Group Lifecycle Endpoints"
        ],
        "summary": "Palo Alto Networks Get the Details of an Existing Policy Group",
        "description": "Returns the details of an existing policy group. Will use msspId from the auth token if available.",
        "operationId": "get-policy-group-by-id",
        "parameters": [
          {
            "name": "pg-id",
            "in": "path",
            "description": "the id of the policy group",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "34e2e197-f172-4a04-93a4-39b1532648ab"
          },
          {
            "name": "mssp-id",
            "in": "path",
            "description": "the mssp the policy group belongs to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e91b486a-e139-4d3b-a9dd-959fd5cffb10"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyGroupResponse"
                },
                "examples": {
                  "Get-Policy-Group-By-Id200Example": {
                    "summary": "Default get-policy-group-by-id 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "id": "289a717e-8053-4e21-b5be-23f1918a1628",
                      "name": "Production Agent 76",
                      "policies": [
                        "example-policies_item"
                      ],
                      "tenantGroups": [
                        {
                          "id": "ad7141fc-7249-4085-ba81-89c7dce06beb",
                          "tenantGroupId": "016e80c2-a77b-43b9-8892-71848159488e",
                          "tenantGroupName": "Branch Policy 91",
                          "tenantCount": 729
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Get-Policy-Group-By-Id400Example": {
                    "summary": "Default get-policy-group-by-id 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Get-Policy-Group-By-Id401Example": {
                    "summary": "Default get-policy-group-by-id 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Get-Policy-Group-By-Id403Example": {
                    "summary": "Default get-policy-group-by-id 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Get-Policy-Group-By-Id429Example": {
                    "summary": "Default get-policy-group-by-id 429 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "put": {
        "tags": [
          "Policy Group Lifecycle Endpoints"
        ],
        "summary": "Palo Alto Networks Update a Policy Group",
        "description": "Updates a policy group if it doesn't exist. Will use msspId from the auth token if available.",
        "operationId": "update-policy-group",
        "parameters": [
          {
            "name": "pg-id",
            "in": "path",
            "description": "the id of the policy group",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "34e2e197-f172-4a04-93a4-39b1532648ab"
          },
          {
            "name": "mssp-id",
            "in": "path",
            "description": "the mssp the tenant group belongs to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e91b486a-e139-4d3b-a9dd-959fd5cffb10"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/PolicyGroupRequest"
              },
              "examples": {
                "Update-Policy-GroupRequestExample": {
                  "summary": "Default update-policy-group request",
                  "x-microcks-default": true,
                  "value": {
                    "name": "Production Agent 45",
                    "policies": [
                      "example-policies_item"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Update Accepted"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Update-Policy-Group400Example": {
                    "summary": "Default update-policy-group 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Update-Policy-Group401Example": {
                    "summary": "Default update-policy-group 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Update-Policy-Group403Example": {
                    "summary": "Default update-policy-group 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Update-Policy-Group429Example": {
                    "summary": "Default update-policy-group 429 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "delete": {
        "tags": [
          "Policy Group Lifecycle Endpoints"
        ],
        "summary": "Palo Alto Networks Delete an Existing Policy Group",
        "description": "Deletes a policy group if it is empty. Will use msspId from the auth token if available.",
        "operationId": "delete-policy-group",
        "parameters": [
          {
            "name": "pg-id",
            "in": "path",
            "description": "the id of the policy group",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "34e2e197-f172-4a04-93a4-39b1532648ab"
          },
          {
            "name": "mssp-id",
            "in": "path",
            "description": "the mssp the policy group belongs to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "e91b486a-e139-4d3b-a9dd-959fd5cffb10"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete Accepted",
            "headers": {
              "Location": {
                "description": "The relative path to the deleted policy group",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Delete-Policy-Group400Example": {
                    "summary": "Default delete-policy-group 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Delete-Policy-Group401Example": {
                    "summary": "Default delete-policy-group 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Delete-Policy-Group403Example": {
                    "summary": "Default delete-policy-group 403 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "Delete-Policy-Group429Example": {
                    "summary": "Default delete-policy-group 429 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1/user/{username}/credential/reset-token/validate": {
      "post": {
        "tags": [
          "User Management"
        ],
        "summary": "Palo Alto Networks Validate Forgot Password Token",
        "description": "Triggers the validation of a forgot password token and generating a special JWT upon successful validation of the forgot password token",
        "operationId": "validateToken",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "Username",
            "required": true,
            "schema": {
              "maxLength": 128,
              "minLength": 1,
              "type": "string"
            },
            "example": "jsmith"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/ValidateTokenRequest"
              },
              "examples": {
                "ValidateTokenRequestExample": {
                  "summary": "Default validateToken request",
                  "x-microcks-default": true,
                  "value": {
                    "resetToken": "example-resetToken"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateTokenResponse"
                },
                "examples": {
                  "ValidateToken200Example": {
                    "summary": "Default validateToken 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "token": "4c53e5f5a41d0f448065561d370f7834"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request token / Request token expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ValidateToken400Example": {
                    "summary": "Default validateToken 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many api request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateTokenResponse"
                },
                "examples": {
                  "ValidateToken429Example": {
                    "summary": "Default validateToken 429 response",
                    "x-microcks-default": true,
                    "value": {
                      "token": "4c53e5f5a41d0f448065561d370f7834"
                    }
                  }
                }
              }
            }
          }
        },
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1/mssp/{mssp-id}/user": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "Palo Alto Networks List Users",
        "description": "List users for given mssp console",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Token to fetch next page. Max pagesize is 60.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "example-next_page_token"
          },
          {
            "name": "mssp-id",
            "in": "path",
            "description": "The id of the MSSP of interest",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "309330"
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsspListUserResponse"
                },
                "examples": {
                  "ListUsers200Example": {
                    "summary": "Default listUsers 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "value": [
                        {
                          "username": "jane.doe",
                          "firstName": "Production Agent 01",
                          "lastName": "Primary Agent 97",
                          "lastModifiedBy": "example-lastModifiedBy",
                          "lastModifiedAt": 578
                        },
                        {
                          "username": "jane.doe",
                          "firstName": "Production Agent 01",
                          "lastName": "Primary Agent 97",
                          "lastModifiedBy": "example-lastModifiedBy",
                          "lastModifiedAt": 578
                        }
                      ],
                      "nextPageToken": "example-nextPageToken"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. One of the required arguments is missing or fails a constraint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ListUsers400Example": {
                    "summary": "Default listUsers 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "ListUsers401Example": {
                    "summary": "Default listUsers 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsspListUserResponse"
                },
                "examples": {
                  "ListUsers429Example": {
                    "summary": "Default listUsers 429 response",
                    "x-microcks-default": true,
                    "value": {
                      "value": [
                        {
                          "username": "jane.doe",
                          "firstName": "Production Agent 01",
                          "lastName": "Primary Agent 97",
                          "lastModifiedBy": "example-lastModifiedBy",
                          "lastModifiedAt": 578
                        },
                        {
                          "username": "jane.doe",
                          "firstName": "Production Agent 01",
                          "lastName": "Primary Agent 97",
                          "lastModifiedBy": "example-lastModifiedBy",
                          "lastModifiedAt": 578
                        }
                      ],
                      "nextPageToken": "example-nextPageToken"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      },
      "post": {
        "tags": [
          "User Management"
        ],
        "summary": "Palo Alto Networks Create a New User",
        "description": "Create a new user under a specific MSSP account",
        "operationId": "createUser",
        "parameters": [
          {
            "name": "mssp-id",
            "in": "path",
            "description": "the id of the MSSP of interest",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "604843"
          }
        ],
        "requestBody": {
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/MsspUserRequest"
              },
              "examples": {
                "CreateUserRequestExample": {
                  "summary": "Default createUser request",
                  "x-microcks-default": true,
                  "value": {
                    "username": "jane.doe",
                    "firstName": "Primary Gateway 46",
                    "lastName": "Corporate Gateway 06"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User created successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsspUserResponse"
                },
                "examples": {
                  "CreateUser201Example": {
                    "summary": "Default createUser 201 response",
                    "x-microcks-default": true,
                    "value": {
                      "username": "jane.doe",
                      "firstName": "Production Agent 01",
                      "lastName": "Primary Agent 97",
                      "lastModifiedBy": "example-lastModifiedBy",
                      "lastModifiedAt": 578
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. One of the required arguments is missing or fails a constraint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CreateUser400Example": {
                    "summary": "Default createUser 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CreateUser401Example": {
                    "summary": "Default createUser 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflicting username found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "CreateUser409Example": {
                    "summary": "Default createUser 409 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MsspUserResponse"
                },
                "examples": {
                  "CreateUser429Example": {
                    "summary": "Default createUser 429 response",
                    "x-microcks-default": true,
                    "value": {
                      "username": "jane.doe",
                      "firstName": "Production Agent 01",
                      "lastName": "Primary Agent 97",
                      "lastModifiedBy": "example-lastModifiedBy",
                      "lastModifiedAt": 578
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1/mssp/{mssp-id}/tos": {
      "post": {
        "tags": [
          "MSSP Account Management"
        ],
        "summary": "Palo Alto Networks Terms of Service",
        "description": "Endpoint used to accept terms of service.",
        "operationId": "tosAcceptance",
        "parameters": [
          {
            "name": "mssp-id",
            "in": "path",
            "description": "The id of the MSSP of interest",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "457996"
          }
        ],
        "responses": {
          "204": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TosAcceptance400Example": {
                    "summary": "Default tosAcceptance 400 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "TosAcceptance401Example": {
                    "summary": "Default tosAcceptance 401 response",
                    "x-microcks-default": true,
                    "value": {
                      "error": {
                        "code": "example-code",
                        "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                        "target": "example-target",
                        "details": [
                          {
                            "code": "example-code",
                            "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                            "target": "example-target",
                            "details": [
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              },
                              {
                                "code": "example-code",
                                "message": "Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.",
                                "target": "example-target",
                                "details": [
                                  {},
                                  {}
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limiting error"
          }
        },
        "security": [
          {
            "UserJwt": []
          }
        ],
        "x-public": "true",
        "x-microcks-operation": {
          "delay": 0,
          "dispatcher": "FALLBACK"
        }
      }
    },
    "/api/v1/mssp/{mssp-id}/tenant-group": {
      "get": {
        "tags": [
          "Tenant Group Lifecycle Endpoints"
        ],
        "summary": "Palo Alto Networks Get the Tenant Group List for an MSSP",
        "description": "Gets the list of tenant groups for an MSSP. Will use msspId from the auth token if available.",
        "operationId": "getTenantGroupsByMsspId",
        "parameters": [
          {
            "name": "mssp-id",
            "in": "path",
            "description": "the mssp the managed tenants belong to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "424374"
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "pagination token to continue a previous queryif set",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "example-next_page_token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/TenantGroupsResponse"
                },
                "examples": {
                  "GetTenantGroupsByMsspId200Example": {
                    "summary": "Default getTenantGroupsByMsspId 200 response",
                    "x-microcks-default": true,
                    "value": {
                      "value": [
                        {
                          "id": "7f4e6576-9ea5-4354-a200-3c1205d09a9e",
                          "groupName": "Branch Gateway 90",
                          "tenants": [
                            {
                              "externalTenantId": "849955",
                              "prismaId": "788442"
                            }
                          ],
                          "createdAt": 183,
                          "createdBy": "example-createdBy"
                        }
                      ],
                      "nextPageToken": "example-nextPageToken"
                    }
                  }
                }
              }
            }
          },
          "404": {
[...]
