openapi: 3.2.0
info:
  title: Prisma AIRS Red Teaming Dataplane Goal Categories API
  description: Red Teaming Data Plane API - Data processing and scanning services for AI/ML model security. © 2025 Palo Alto Networks, Inc
  version: 0.7.75
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  license:
    name: MIT
    url: https://opensource.org/license/mit
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
security:
- bearerAuth: []
tags:
- name: GoalCategories
  description: Operations related to GoalCategories.
paths:
  /v1/goal-categories/{target_type}:
    get:
      tags:
      - GoalCategories
      summary: Get goal categories by target type
      operationId: get_goal_categories_v1_goal_categories__target_type__get
      parameters:
      - name: target_type
        in: path
        required: true
        schema:
          type: string
          title: Target Type
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalCategoryListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    GoalCategoryListResponseSchema:
      properties:
        target_type:
          type: string
          title: Target Type
          description: Target type
        categories:
          items:
            $ref: '#/components/schemas/GoalCategoryOptionSchema'
          type: array
          title: Categories
          description: Valid goal categories for this target type with descriptions
      type: object
      required:
      - target_type
      - categories
      title: GoalCategoryListResponseSchema
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    GoalCategoryOptionSchema:
      properties:
        category:
          type: string
          title: Category
          description: Goal category enum value
        display_name:
          type: string
          title: Display Name
          description: Human-readable category name
        description:
          type: string
          title: Description
          description: What this category tests
      type: object
      required:
      - category
      - display_name
      - description
      title: GoalCategoryOptionSchema
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
