openapi: 3.2.0
info:
  title: Palo Alto Networks Permissions API
  version: '1.0'
  contact: {}
  description: 'Operations tagged Permissions across 2 of this provider''s published API definitions: palo-alto-sase-iam-permissions-openapi.yaml, palo-alto-scm-iam-permissions-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- name: Permissions
paths:
  /iam/v1/permissions:
    get:
      description: 'Retrieve a list of all permission entities.

        '
      operationId: get-iam-v1-permissions
      parameters:
      - description: service
        in: query
        name: service
        schema:
          type: string
      - description: resource
        in: query
        name: resource
        schema:
          type: string
      - description: action
        in: query
        name: action
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/permissions_list'
      security:
      - Bearer: []
      summary: List all access permissions
      tags:
      - Permissions
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /iam/v1/permissions/{name}:
    get:
      description: 'Retrieve a specific permission.

        '
      operationId: get-iam-v1-permissions-name
      parameters:
      - description: service.resource.action
        in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/permission'
          description: Successful response - returns a single `permission`.
      security:
      - Bearer: []
      summary: Get a permission
      tags:
      - Permissions
    servers:
    - url: https://api.sase.paloaltonetworks.com
components:
  responses:
    permissions_list:
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/_pagination'
            - example:
                count: 1
                items:
                - access_types:
                  - read
                  allowed_apis:
                  - method: get
                    path: /config/v1/config-versions
                  - method: get
                    path: /config/v1/jobs
                  description: The ability to read configurations snapshots.
                  name: prisma_access.config_mgmt.read
            - properties:
                items:
                  items:
                    allOf:
                    - $ref: '#/components/schemas/permission'
                  type: array
              type: object
      description: Successful response.
  schemas:
    _pagination:
      properties:
        count:
          default: 1
          description: Total count of the items
          type: integer
      required:
      - count
      - items
      type: object
    permission:
      example:
        access_types:
        - read
        allowed_apis:
        - method: get
          path: /config/v1/config-versions
        - method: get
          path: /config/v1/jobs
        description: The ability to read configurations snapshots.
        name: prisma_access.config_mgmt.read
      properties:
        accessTypes:
          description: ''
          items:
            type: string
          type: array
        allowed_apis:
          description: APIs permission controls
          items:
            $ref: '#/components/schemas/allowed_api'
          type: array
        description:
          type: string
        name:
          description: service.resource.action
          type: string
      title: Root Type for permission
      type: object
    allowed_api:
      description: ''
      example:
        method: get
        path: /config/v1/config-versions
      properties:
        method:
          description: REST Method
          type: string
        path:
          description: url path
          type: string
      title: Root Type for allowed_api
      type: object
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
x-refined-from:
- palo-alto-sase-iam-permissions-openapi.yaml
- palo-alto-scm-iam-permissions-openapi.yaml
