openapi: 3.2.0
info:
  contact: {}
  description: 'The CheckovVersion endpoints are listed below.

    '
  title: Prisma Cloud API Overview Checkov Version API
  version: Latest
servers:
- url: https://api.prismacloud.io
tags:
- name: CheckovVersion
paths:
  /code/api/v1/checkovVersion:
    get:
      description: Get the current checkov version being run by Prisma Cloud Application Security
      operationId: getCheckovVersion
      parameters: []
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    version: 2.1.105
              schema:
                $ref: '#/components/schemas/CheckovVersionResponse'
          description: Current checkov version used by Prisma Cloud Application Security
      security: []
      summary: Get Current Checkov Version
      tags:
      - CheckovVersion
      x-codeSamples:
      - lang: Python + Requests
        source: 'import requests


          url = "https://api.prismacloud.io/code/api/v1/checkovVersion"


          response = requests.request("GET", url)


          print(response.text)'
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://api.prismacloud.io/code/api/v1/checkovVersion"
components:
  schemas:
    CheckovVersionResponse:
      additionalProperties: false
      properties:
        version:
          type: string
      required:
      - version
      type: object
  securitySchemes:
    CustomAuthorizer:
      in: header
      name: authorization
      type: apiKey
      x-amazon-apigateway-authorizer:
        authorizerResultTtlInSeconds: 0
        authorizerUri: arn:aws:apigateway:{Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:{Region}:{AccountId}:function:bc-authorization-authorizer-{UniqueTag}{Alias}/invocations
        identitySource: method.request.header.authorization
        type: request
      x-amazon-apigateway-authtype: custom
