openapi: 3.2.0
info:
  title: Palo Alto Networks Addresses API
  version: '1.0'
  description: 'Operations tagged Addresses across 2 of this provider''s published API definitions: palo-alto-scm-config-cloudngfw-objects-objects-june-openapi.yaml, palo-alto-strata-cloud-manager-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.strata.paloaltonetworks.com/config/objects/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
- url: https://api.strata.paloaltonetworks.com
  description: Strata Cloud Manager API production endpoint.
tags:
- name: Addresses
  description: Addresses
paths:
  /addresses:
    get:
      tags:
      - Addresses
      summary: List addresses
      description: Retrieve a list of addresses.
      operationId: ListAddresses
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/addresses'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    post:
      tags:
      - Addresses
      summary: Create an address
      description: Create a new address.
      operationId: CreateAddresses
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addresses'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/objects/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /addresses/{id}:
    get:
      tags:
      - Addresses
      summary: Get an address
      description: Retrieve an existing address.
      operationId: GetAddressesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    put:
      tags:
      - Addresses
      summary: Update an address
      description: Update an existing address.
      operationId: UpdateAddressesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addresses'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    delete:
      tags:
      - Addresses
      summary: Delete an address
      description: Delete an address.
      operationId: DeleteAddressesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/objects/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /sse/config/v1/addresses:
    get:
      operationId: listAddresses
      summary: Palo Alto Networks List Address Objects
      description: Returns a paginated list of address objects in the specified folder, snippet, or device scope. Address objects represent IP addresses, subnets, IP ranges, or FQDNs used in security policy rules.
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/folder_2'
      - $ref: '#/components/parameters/snippet_2'
      - $ref: '#/components/parameters/device_2'
      - $ref: '#/components/parameters/limit_2'
      - $ref: '#/components/parameters/offset_2'
      - name: name
        in: query
        description: Filter by address object name (exact match).
        schema:
          type: string
        example: Primary Policy 56
      responses:
        '200':
          description: Address objects returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressList'
              examples:
                ListAddresses200Example:
                  summary: Default listAddresses 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: 9385c1f9-7f72-49a5-a1d6-896aaa11ae6a
                      name: Branch Sensor 50
                      folder: example-folder
                      snippet: example-snippet
                      ip_netmask: example-ip_netmask
                      ip_range: example-ip_range
                      ip_wildcard: example-ip_wildcard
                      fqdn: login.test-corp.net
                      description: Alert investigation incident violation rule Security investigation endpoint Security activity on on.
                      tag:
                      - pci-scope
                      - production
                    offset: 347
                    total: 788
                    limit: 478
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    post:
      operationId: createAddress
      summary: Palo Alto Networks Create Address Object
      description: Creates a new address object in the specified folder or snippet. Exactly one address type field (ip_netmask, ip_range, ip_wildcard, or fqdn) must be provided. The name must be unique within the scope.
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/folder_2'
      - $ref: '#/components/parameters/snippet_2'
      - $ref: '#/components/parameters/device_2'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressRequest'
            examples:
              CreateAddressRequestExample:
                summary: Default createAddress request
                x-microcks-default: true
                value:
                  name: Corporate Policy 65
                  ip_netmask: example-ip_netmask
                  ip_range: example-ip_range
                  ip_wildcard: example-ip_wildcard
                  fqdn: mail.test-corp.net
                  description: Traffic suspicious alert policy Security malware.
                  tag:
                  - production
      responses:
        '201':
          description: Address object created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
              examples:
                CreateAddress201Example:
                  summary: Default createAddress 201 response
                  x-microcks-default: true
                  value:
                    id: 9385c1f9-7f72-49a5-a1d6-896aaa11ae6a
                    name: Branch Sensor 50
                    folder: example-folder
                    snippet: example-snippet
                    ip_netmask: example-ip_netmask
                    ip_range: example-ip_range
                    ip_wildcard: example-ip_wildcard
                    fqdn: login.test-corp.net
                    description: Alert investigation incident violation rule Security investigation endpoint Security activity on on.
                    tag:
                    - pci-scope
                    - production
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.strata.paloaltonetworks.com
      description: Strata Cloud Manager API production endpoint.
  /sse/config/v1/addresses/{id}:
    get:
      operationId: getAddress
      summary: Palo Alto Networks Get Address Object
      description: Returns a single address object by its unique identifier.
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Address object returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
              examples:
                GetAddress200Example:
                  summary: Default getAddress 200 response
                  x-microcks-default: true
                  value:
                    id: 9385c1f9-7f72-49a5-a1d6-896aaa11ae6a
                    name: Branch Sensor 50
                    folder: example-folder
                    snippet: example-snippet
                    ip_netmask: example-ip_netmask
                    ip_range: example-ip_range
                    ip_wildcard: example-ip_wildcard
                    fqdn: login.test-corp.net
                    description: Alert investigation incident violation rule Security investigation endpoint Security activity on on.
                    tag:
                    - pci-scope
                    - production
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    put:
      operationId: updateAddress
      summary: Palo Alto Networks Update Address Object
      description: Updates an existing address object by its unique identifier. The entire object must be provided as this performs a full replacement.
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressRequest'
            examples:
              UpdateAddressRequestExample:
                summary: Default updateAddress request
                x-microcks-default: true
                value:
                  name: Corporate Policy 65
                  ip_netmask: example-ip_netmask
                  ip_range: example-ip_range
                  ip_wildcard: example-ip_wildcard
                  fqdn: mail.test-corp.net
                  description: Traffic suspicious alert policy Security malware.
                  tag:
                  - production
      responses:
        '200':
          description: Address object updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
              examples:
                UpdateAddress200Example:
                  summary: Default updateAddress 200 response
                  x-microcks-default: true
                  value:
                    id: 9385c1f9-7f72-49a5-a1d6-896aaa11ae6a
                    name: Branch Sensor 50
                    folder: example-folder
                    snippet: example-snippet
                    ip_netmask: example-ip_netmask
                    ip_range: example-ip_range
                    ip_wildcard: example-ip_wildcard
                    fqdn: login.test-corp.net
                    description: Alert investigation incident violation rule Security investigation endpoint Security activity on on.
                    tag:
                    - pci-scope
                    - production
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    delete:
      operationId: deleteAddress
      summary: Palo Alto Networks Delete Address Object
      description: Deletes an address object by its unique identifier. The object must not be referenced by any security rules or address groups.
      tags:
      - Addresses
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Address object deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
              examples:
                DeleteAddress200Example:
                  summary: Default deleteAddress 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.strata.paloaltonetworks.com
      description: Strata Cloud Manager API production endpoint.
components:
  parameters:
    snippet:
      name: snippet
      in: query
      description: 'The snippet in which the resource is defined

        '
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    device:
      name: device
      in: query
      description: 'The device in which the resource is defined

        '
      required: false
      schema:
        type: string
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    folder:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      required: false
      schema:
        type: string
    uuid:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000
    device_2:
      name: device
      in: query
      description: Device name for device-scoped configuration.
      schema:
        type: string
    snippet_2:
      name: snippet
      in: query
      description: Configuration snippet name.
      schema:
        type: string
    folder_2:
      name: folder
      in: query
      description: Configuration folder scope (e.g., Shared, Mobile Users, Remote Networks, Service Connections).
      schema:
        type: string
    offset_2:
      name: offset
      in: query
      description: Pagination offset (number of records to skip).
      schema:
        type: integer
        default: 0
    id:
      name: id
      in: path
      required: true
      description: Unique identifier of the resource.
      schema:
        type: string
        format: uuid
    limit_2:
      name: limit
      in: query
      description: Maximum number of results per page.
      schema:
        type: integer
        default: 200
        maximum: 5000
  examples:
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  schemas:
    error_detail_cause_infos:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      x-examples: {}
    generic_error:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      x-examples: {}
    addresses:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: The UUID of the address object
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: The name of the address object
          maxLength: 63
        description:
          type: string
          maxLength: 1023
          description: The description of the address object
        tag:
          type: array
          description: Tags assocaited with the address object
          maxItems: 64
          items:
            type: string
            maxLength: 127
      anyOf:
      - title: address_type
        description: The address object type
        oneOf:
        - type: object
          title: ip_netmask
          properties:
            ip_netmask:
              type: string
              description: IP address with or without CIDR notation
              example: 192.168.80.0/24
          required:
          - ip_netmask
        - type: object
          title: ip_range
          properties:
            ip_range:
              type: string
              example: 10.0.0.1-10.0.0.4
          required:
          - ip_range
        - type: object
          title: ip_wildcard
          properties:
            ip_wildcard:
              type: string
              description: IP wildcard mask
              example: 10.20.1.0/0.0.248.255
          required:
          - ip_wildcard
        - type: object
          title: fqdn
          properties:
            fqdn:
              type: string
              pattern: ^[a-zA-Z0-9_]([a-zA-Z0-9._-])+[a-zA-Z0-9]$
              minLength: 1
              maxLength: 255
              description: Fully qualified domain name
              example: some.example.com
          required:
          - fqdn
      - title: container_type
        description: The type of configuration container in which the address object is defined
        oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required:
          - folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required:
          - snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required:
          - device
    error_detail_cause_info:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    DeleteResponse:
      type: object
      properties:
        id:
          type: string
          description: Identifier of the deleted resource.
          example: example-id
    AddressRequest:
      type: object
      required:
      - name
      description: Request body for creating or updating an address object.
      properties:
        name:
          type: string
          example: Corporate Policy 65
        ip_netmask:
          type: string
          description: IP address with CIDR netmask (e.g., 10.0.0.0/24).
          example: example-ip_netmask
        ip_range:
          type: string
          description: IP address range (e.g., 10.0.0.1-10.0.0.254).
          example: example-ip_range
        ip_wildcard:
          type: string
          description: IP wildcard mask notation.
          example: example-ip_wildcard
        fqdn:
          type: string
          description: Fully qualified domain name.
          example: mail.test-corp.net
        description:
          type: string
          example: Traffic suspicious alert policy Security malware.
        tag:
          type: array
          items:
            type: string
          example:
          - production
    AddressList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          example:
          - id: 9385c1f9-7f72-49a5-a1d6-896aaa11ae6a
            name: Branch Sensor 50
            folder: example-folder
            snippet: example-snippet
            ip_netmask: example-ip_netmask
            ip_range: example-ip_range
            ip_wildcard: example-ip_wildcard
            fqdn: login.test-corp.net
            description: Alert investigation incident violation rule Security investigation endpoint Security activity on on.
            tag:
            - pci-scope
            - production
        offset:
          type: integer
          example: 347
        total:
          type: integer
          example: 788
        limit:
          type: integer
          example: 478
    Address:
      type: object
      description: An address object representing an IP address, subnet, range, or FQDN used in security policy rules.
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier assigned by the system.
          readOnly: true
          example: 9385c1f9-7f72-49a5-a1d6-896aaa11ae6a
        name:
          type: string
          description: Unique name of the address object within the folder scope.
          example: Branch Sensor 50
        folder:
          type: string
          description: Configuration folder containing this object.
          readOnly: true
          example: example-folder
        snippet:
          type: string
          readOnly: true
          example: example-snippet
        ip_netmask:
          type: string
          description: IP address with CIDR netmask (e.g., 10.0.0.0/24).
          example: example-ip_netmask
        ip_range:
          type: string
          description: IP address range (e.g., 10.0.0.1-10.0.0.254).
          example: example-ip_range
        ip_wildcard:
          type: string
          description: IP wildcard mask notation.
          example: example-ip_wildcard
        fqdn:
          type: string
          description: Fully qualified domain name (e.g., www.example.com).
          example: login.test-corp.net
        description:
          type: string
          example: Alert investigation incident violation rule Security investigation endpoint Security activity on on.
        tag:
          type: array
          items:
            type: string
          description: Tags assigned to this address object.
          example:
          - pci-scope
          - production
    ErrorResponse:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Investigation incident suspicious network policy network endpoint endpoint policy investigation activity.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Security monitoring rule configured endpoint on network blocked.
            details: {}
          - code: example-code
            message: Security on on threat monitoring activity policy.
            details: {}
        _request_id:
          type: string
          description: Unique request identifier for troubleshooting.
          example: '574499'
  responses:
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    http_ok:
      description: OK
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    Unauthorized:
      description: Missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: An internal server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: A resource with the specified name already exists or the resource cannot be modified due to existing references.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Malformed request or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for the requested operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 access token obtained from https://auth.apps.paloaltonetworks.com/oauth2/access_token using a client credentials grant. Generate a service account and client credentials from the Strata Cloud Manager identity settings. Tokens expire and must be refreshed periodically.
x-refined-from:
- palo-alto-scm-config-cloudngfw-objects-objects-june-openapi.yaml
- palo-alto-strata-cloud-manager-api-openapi-original.yml
