openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Compliance API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Compliance
  description: Compliance posture and reporting.
paths:
  /compliance:
    get:
      operationId: listComplianceStandards
      summary: Palo Alto Networks List Compliance Standards
      description: Returns a list of compliance standards available in Prisma Cloud, including built-in standards (CIS, NIST, PCI-DSS, HIPAA, SOC 2) and custom standards.
      tags:
      - Compliance
      responses:
        '200':
          description: Compliance standards returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComplianceStandard'
              examples:
                ListComplianceStandards200Example:
                  summary: Default listComplianceStandards 200 response
                  x-microcks-default: true
                  value:
                  - id: example-id
                    name: Staging Policy 79
                    description: Incident activity activity monitoring monitoring activity detected alert configured monitoring.
                    cloudType:
                    - custom
                    systemDefault: true
                    policiesAssigned: 146
                    createdBy: example-createdBy
                    lastModifiedTs: 756
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or expired JWT token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ComplianceStandard:
      type: object
      properties:
        id:
          type: string
          description: Unique compliance standard identifier.
          example: example-id
        name:
          type: string
          description: Name of the compliance standard.
          example: Staging Policy 79
        description:
          type: string
          description: Standard description.
          example: Incident activity activity monitoring monitoring activity detected alert configured monitoring.
        cloudType:
          type: array
          items:
            type: string
          description: Cloud providers the standard applies to.
          example:
          - custom
        systemDefault:
          type: boolean
          description: Whether this is a built-in compliance standard.
          example: true
        policiesAssigned:
          type: integer
          description: Number of policies mapped to this standard.
          example: 146
        createdBy:
          type: string
          description: User who created the standard.
          example: example-createdBy
        lastModifiedTs:
          type: integer
          description: Epoch timestamp of last modification.
          example: 756
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 747
        message:
          type: string
          description: Human-readable error message.
          example: Traffic violation investigation monitoring policy incident applied threat monitoring alert.
        error:
          type: string
          description: Error code.
          example: example-error
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
