openapi: 3.2.0
info:
  title: Palo Alto Networks Tenant Group Lifecycle Endpoints API
  version: '1.0'
  description: 'Operations tagged Tenant Group Lifecycle Endpoints across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-tenant-group-lifecycle-endpoints-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: Tenant Group Lifecycle Endpoints
paths:
  /api/v1/mssp/{mssp-id}/tenant-group:
    get:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Get the tenant group list for an MSSP
      description: Gets the list of tenant groups for an MSSP. Will use msspId from the auth token if available.
      operationId: getTenantGroupsByMsspId
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
      - name: next_page_token
        in: query
        description: pagination token to continue a previous queryif set
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupsResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    post:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Create a tenant group
      description: Creates a tenant group if it doesn't exist. Will use msspId from the auth token if available.
      operationId: createTenantGroup
      parameters:
      - name: mssp-id
        in: path
        description: the id mssp the tenant group belongs to
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateTenantGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
  /api/v1/mssp/{mssp-id}/tenant-group/{id}:
    get:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Get the tenant group by id
      description: Gets a tenant group by id.
      operationId: getTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    delete:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Delete an existing tenant group
      description: Deletes a tenant group if it is empty. Will use msspId from the auth token if available.
      operationId: deleteTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the tenant group belongs to
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Deletion accepted
        '404':
          description: The MSSP or tenant group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    patch:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Modify the tenant group by id
      description: Modifies a tenant group by id.
      operationId: patchTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  schemas:
    CreateTenantGroupRequest:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
        tenantIds:
          type: array
          items:
            type: string
    UpdateTenantGroupRequest:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
        tenantIds:
          type: array
          items:
            type: string
    TenantIds:
      type: object
      properties:
        externalTenantId:
          type: string
        prismaId:
          type: string
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    TenantGroupsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupResponse'
        nextPageToken:
          type: string
    TenantGroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        groupName:
          type: string
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/TenantIds'
        createdAt:
          type: integer
          format: int64
        createdBy:
          type: string
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    CreateTenantGroupRequest_2:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Gateway 82
        tenantIds:
          type: array
          items:
            type: string
          example:
          - example-tenantIds_item
          - example-tenantIds_item
    UpdateTenantGroupRequest_2:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Firewall 76
        tenantIds:
          type: array
          items:
            type: string
          example:
          - example-tenantIds_item
    TenantIds_2:
      type: object
      properties:
        externalTenantId:
          type: string
          example: '755704'
        prismaId:
          type: string
          example: '454413'
    TenantGroupsResponse_2:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupResponse_2'
          example:
          - id: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
            groupName: Branch Gateway 90
            tenants:
            - externalTenantId: '849955'
              prismaId: '788442'
            createdAt: 183
            createdBy: example-createdBy
        nextPageToken:
          type: string
          example: example-nextPageToken
    TenantGroupResponse_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
        groupName:
          type: string
          example: Branch Gateway 90
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/TenantIds_2'
          example:
          - externalTenantId: '849955'
            prismaId: '788442'
        createdAt:
          type: integer
          format: int64
          example: 183
        createdBy:
          type: string
          example: example-createdBy
    Error_2:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    CreateTenantGroupRequest_3:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Gateway 82
        tenantIds:
          type: array
          items:
            type: string
          example:
          - example-tenantIds_item
          - example-tenantIds_item
    UpdateTenantGroupRequest_3:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Firewall 76
        tenantIds:
          type: array
          items:
            type: string
          example:
          - example-tenantIds_item
    TenantIds_3:
      type: object
      properties:
        externalTenantId:
          type: string
          example: '755704'
        prismaId:
          type: string
          example: '454413'
    TenantGroupsResponse_3:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupResponse_3'
          example:
          - id: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
            groupName: Branch Gateway 90
            tenants:
            - externalTenantId: '849955'
              prismaId: '788442'
            createdAt: 183
            createdBy: example-createdBy
        nextPageToken:
          type: string
          example: example-nextPageToken
    TenantGroupResponse_3:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
        groupName:
          type: string
          example: Branch Gateway 90
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/TenantIds_3'
          example:
          - externalTenantId: '849955'
            prismaId: '788442'
        createdAt:
          type: integer
          format: int64
          example: 183
        createdBy:
          type: string
          example: example-createdBy
    Error_3:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-tenant-group-lifecycle-endpoints-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
