openapi: 3.2.0
info:
  contact:
    email: support@paloaltonetworks.com
  description: "\nTo create a Remote Network that is part of Prisma Access, Configuration Orchestration APIs enable you \nto configure Remote Network tunnels directly.\n\nPrisma Access Configuration Orchestration API’s provide common API interface to orchestrate Remote Network tunnels. \nThis API is supported for Prisma Access deployments that are managed by both Panorama and Strata Cloud Manager and \nfacilitates the onboarding of third-party SD-WAN branches or sites to Prisma Access Remote Networks.\n\nThese APIs use the common SASE authentication mechanism and base URL. See the\n[Prisma SASE API Get Started](https://pan.dev/sase/docs/getstarted) guide for more information.\n\nThis Open API spec file was created on January 24, 2025. To check for a more recent version of this file, see\n[Configuration Orchestration APIs on pan.dev](https://pan.dev/sase/api/remote-networks/remote-networks.html). \n\n© 2025 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo\nAlto Networks. A list of our trademarks can be found at\n\n[https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html)\n\nAll other marks mentioned herein may be trademarks of their respective companies.\n"
  title: Configuration Orchestration Location Information API
  version: '1.0'
  x-audience: external-public
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- description: "Information on the location. \n"
  name: Location Information
paths:
  /v1/location-informations:
    get:
      description: 'Get the location information status of the given request ID.

        '
      operationId: get-v1-location-informations
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationInformationResponse'
          description: List of location mapped information and configurations.
      security:
      - Bearer: []
      summary: Get status for the request ID
      tags:
      - Location Information
    post:
      description: Retrieve location-mapped information or configuration through a POST request and returns the request ID.
      operationId: post-v1-location-informations
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      - $ref: '#/components/parameters/LocationInfoType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationSet'
        description: List of location information.
        required: true
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: 'Get location-mapped information

        '
      tags:
      - Location Information
components:
  parameters:
    uuid:
      description: 'UUID for the request.

        '
      in: query
      name: id
      required: true
      schema:
        format: uuid
        type: string
    SubTenantName:
      description: 'Sub-tenant name in a panorama multi-tenancy setup.

        '
      in: query
      name: SubTenantName
      schema:
        type: string
    LocationInfoType:
      description: 'Information type. For example, region information.

        '
      in: query
      name: info_type
      required: false
      schema:
        type: string
  schemas:
    LocationRegionInfoSet:
      properties:
        regions_info:
          description: regions mapped info
          items:
            $ref: '#/components/schemas/LocationRegionInfo'
          type: array
      required:
      - location
      type: object
    LocationInformationSet:
      description: information for a set of locations
      properties:
        bandwidth_allocations:
          $ref: '#/components/schemas/BandwidthAllocationSet'
        info_type:
          type: string
        location_region_info:
          $ref: '#/components/schemas/LocationRegionInfoSet'
      type: object
    LocationRegionInfo:
      properties:
        compute_location:
          description: aggregate compute region
          type: string
        edge_location:
          description: edge location for given lat/long/ip
          type: string
        location:
          $ref: '#/components/schemas/Location'
      required:
      - location
      - compute_location
      - edge_location
      type: object
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    BandwidthAllocation:
      properties:
        bandwidth:
          description: bandwidth to allocate in Mbps
          type: string
        compute_location:
          description: aggregate compute region
          type: string
        edge_location:
          description: edge location for given lat/long/ip
          type: string
        ipsec_node_list:
          description: ipsec node list
          items:
            type: string
          type: array
        location:
          $ref: '#/components/schemas/Location'
      required:
      - location
      - bandwidth
      type: object
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    LocationInformationResponse:
      description: Location Information Response
      properties:
        errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        result:
          $ref: '#/components/schemas/LocationInformationSet'
        status:
          type: string
      type: object
    BandwidthAllocationSet:
      properties:
        bandwidth_allocations:
          description: bandwidth allocations
          items:
            $ref: '#/components/schemas/BandwidthAllocation'
          type: array
        uuid:
          $ref: '#/components/schemas/UuidResponse'
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    Location:
      description: Site Public IP or approximate gps coordinates
      properties:
        public-ip:
          $ref: '#/components/schemas/PublicIp'
        region-cordinates:
          $ref: '#/components/schemas/RegionCordinates'
      type: object
    LocationSet:
      description: set of locations
      properties:
        description:
          description: optional user description
          type: string
        locations:
          description: locations
          items:
            $ref: '#/components/schemas/Location'
          type: array
      type: object
    UuidResponse:
      properties:
        uuid:
          format: uuid
          type: string
      readOnly: true
      type: object
    PublicIp:
      description: Public IP to detect region
      properties:
        PublicIp:
          description: Public IP to detect region
          format: ipv4
          type: string
      type: object
    RegionCordinates:
      description: approximate longitude latitude of the region
      properties:
        latitude:
          description: Approximate Latitude for the site location
          type: string
        longitude:
          description: Approximate Longitude for the site location
          type: string
      type: object
  responses:
    default_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    bad_request_errors_basic_with_body:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
