openapi: 3.2.0
info:
  version: 2.0.0
  title: Configuration Setup Subscribed Tenants API
  description: These APIs are used to define how Strata Cloud Manager configurations are implemented.
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
- url: https://api.strata.paloaltonetworks.com/config/setup/v1
  description: Current
security:
- scmToken: []
tags:
- name: Subscribed Tenants
  description: Subscribed Tenants information
paths:
  /subscribed-tenants/{id}:
    get:
      summary: Get Subscribed Tenants
      description: 'Retrieve a list of subscribed tenants.

        '
      tags:
      - Subscribed Tenants
      operationId: ListSubscribedTenantsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/snippet_share_info'
          description: OK
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
  /subscribed-tenants:
    post:
      summary: Create Subscribed Tenant
      description: 'Create Subscribed Tenant.

        '
      tags:
      - Subscribed Tenants
      operationId: CreateSubscribedTenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add_subscriber_request_payload'
        description: The `Subscribed Tenant` resource definition
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tenant_trust_info'
          description: OK
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      summary: Update a subscribed tenant
      description: 'Update an existing subscribed tenant.

        '
      tags:
      - Subscribed Tenants
      operationId: UpdateSubscribedTenantBySnippetID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscriber_property_payload'
        description: The `subscribed tenant` resource definition.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriber_property_payload'
          description: OK
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      summary: Delete a subscribed tenant
      description: 'Delete an existing subscribed tenant.

        '
      tags:
      - Subscribed Tenants
      operationId: DeleteSubscribedTenantBySnippedID
      parameters:
      - $ref: '#/components/parameters/snippet-id'
      - $ref: '#/components/parameters/recipient-tsgs'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
components:
  examples:
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: abcd-1234
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: abcd-1234
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: abcd-1234
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: abcd-1234
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: abcd-1234
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: abcd-1234
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: abcd-1234
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: abcd-1234
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: abcd-1234
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: abcd-1234
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: abcd-1234
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: abcd-1234
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: abcd-1234
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: abcd-1234
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: abcd-1234
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: abcd-1234
  parameters:
    snippet-id:
      name: snippet-id
      in: query
      required: true
      schema:
        type: string
      description: 'The ID of the snippet

        '
    uuid:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The UUID of the resource
    recipient-tsgs:
      name: tsgs
      in: query
      required: true
      schema:
        type: string
      description: 'Comma-separated list of recipient TSG IDs

        '
  responses:
    http_ok:
      description: OK
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
  schemas:
    generic_error:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
    snippet_share_info:
      type: object
      properties:
        id:
          type: integer
          format: uint
          readOnly: true
        donor_tsg:
          type: string
          readOnly: true
        recipient_tsg:
          type: string
          readOnly: true
        recipient_paused_update:
          type: boolean
          readOnly: true
        recipient_validate_before_update:
          type: boolean
          readOnly: true
        snippet_uuid:
          type: string
          readOnly: true
        snippet_name:
          type: string
          readOnly: true
        donor_snippet_version:
          type: integer
          readOnly: true
        donor_snippet_file_id:
          type: integer
          readOnly: true
        donor_created:
          type: integer
          readOnly: true
        recipient_snippet_version:
          type: integer
          readOnly: true
        recipient_snippet_file_id:
          type: integer
          readOnly: true
        msg_uuid:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        error:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        last_updated:
          type: string
          format: date-time
          readOnly: true
        donor_tenant_id:
          type: string
          readOnly: true
        donor_tenant_name:
          type: string
          readOnly: true
        recipient_tenant_id:
          type: string
          readOnly: true
        recipient_tenant_name:
          type: string
          readOnly: true
        properties:
          type: array
          items:
            $ref: '#/components/schemas/snippet_share_property'
    error_detail_cause_info:
      title: Cause Info
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    subscriber_property_payload:
      type: object
      required:
      - tsg_id
      - snippet_id
      - snippet_name
      properties:
        tsg_id:
          type: string
        snippet_id:
          type: string
        snippet_name:
          type: string
        property:
          type: array
          items:
            $ref: '#/components/schemas/property_item'
    snippet_share_property:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        donor_tsg:
          type: string
          readOnly: true
        donor_tenant:
          type: string
          readOnly: true
        recipient_tsg:
          type: string
          readOnly: true
        recipient_tenant:
          type: string
          readOnly: true
        snippet_uuid:
          type: string
          readOnly: true
        snippet_name:
          type: string
          readOnly: true
        property_name:
          type: string
          readOnly: true
        property_value:
          type: string
          readOnly: true
        msg_uuid:
          type: string
          readOnly: true
        status:
          type: string
          readOnly: true
        error:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type: string
          readOnly: true
        updated:
          type: string
          format: date-time
          readOnly: true
        updated_by:
          type: string
          readOnly: true
    error_detail_cause_infos:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
    add_subscriber_request_payload:
      type: array
      items:
        type: object
        required:
        - tsg_id
        - snippet_id
        - snippet_name
        properties:
          tsg_id:
            type: string
          snippet_id:
            type: string
          snippet_name:
            type: string
    property_item:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        value:
          type: string
    tenant_trust_info:
      type: object
      properties:
        trust_id:
          type: integer
        donor_trust_info_id:
          type: integer
          readOnly: true
        donor_tsg:
          type: string
          readOnly: true
        donor_tenant_id:
          type: string
        donor_tenant_name:
          type: string
        donor_cluster:
          type: string
          readOnly: true
        donor_region:
          type: string
          readOnly: true
        donor_project:
          type: string
          readOnly: true
        recipient_trust_info_id:
          type: integer
          readOnly: true
        recipient_tsg:
          type: string
          readOnly: true
        recipient_tenant_id:
          type: string
          readOnly: true
        recipient_tenant_name:
          type: string
        recipient_cluster:
          type: string
          readOnly: true
        recipient_region:
          type: string
          readOnly: true
        recipient_project:
          type: string
          readOnly: true
        psk:
          type: string
        donor_msg_uuid:
          type: string
          readOnly: true
        recipient_msg_uuid:
          type: string
          readOnly: true
        current_status:
          type: string
          readOnly: true
        error_details:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type: string
          readOnly: true
        last_updated:
          type: string
          format: date-time
          readOnly: true
        updated_by:
          type: string
          readOnly: true
  securitySchemes:
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-internal: false
