openapi: 3.2.0
info:
  title: Palo Alto Networks Mssp License Endpoints API
  version: '1.0'
  description: 'Operations tagged Mssp License Endpoints across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-mssp-license-endpoints-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: Mssp License Endpoints
paths:
  /api/v1/license/usage:
    post:
      tags:
      - Mssp License Endpoints
      summary: Get the license Usage for MSSP
      description: Get the license Usage for a MSSP
      operationId: getMsspLicenseUsageV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MsspLicenseUsageRequestObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspLicenseUsageResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Authorization failed, user doesn't have access to the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
  /api/v1/license/info:
    get:
      tags:
      - Mssp License Endpoints
      summary: Get the license info for MSSP
      description: Get the license info for a MSSP
      operationId: getMsspLicenseInfoV1
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspLicenseInfoResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Authorization failed, user doesn't have access to the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  schemas:
    TenantLicenseUsage:
      type: object
      properties:
        tenantName:
          type: string
        prismaId:
          type: string
        createdOn:
          type: integer
          format: int64
        expiringOn:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - ACTIVE
          - PROVISIONING
          - UPDATING
          - DELETING
          - DELETED
          - OFFBOARDING
          - ERRORED
        creditsAllocated:
          type: integer
          format: int32
        avgConsumption:
          type: integer
          format: int32
        lastUpdated:
          type: integer
          format: int64
        externalTenantId:
          type: string
    MsspLicenseInfoResponse:
      type: object
      properties:
        creditsPurchased:
          type: integer
          format: int32
        creditsAllocated:
          type: integer
          format: int32
        balanceCredit:
          type: integer
          format: int32
        numOfTenant:
          type: integer
          format: int32
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
        msspLicensePoolInfos:
          type: array
          items:
            $ref: '#/components/schemas/LicensePoolInfo'
    LicensePoolInfo:
      type: object
      properties:
        licensePoolName:
          type: string
        licensePoolId:
          type: string
        serialNumber:
          type: string
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
        numOfTenant:
          type: integer
          format: int32
        creditsAllocated:
          type: integer
          format: int32
        creditsPurchased:
          type: integer
          format: int32
        tenantGroupLicenseInfos:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupLicenseInfo'
    MsspLicenseUsageRequestObject:
      required:
      - licensePoolId
      type: object
      properties:
        tenantGroupId:
          type: string
        licensePoolId:
          type: string
        timeRange:
          oneOf:
          - $ref: '#/components/schemas/RelativeTimeRangeConfig'
          - $ref: '#/components/schemas/ToNowTimeRangeConfig'
        nextPageToken:
          type: string
    MsspLicenseUsageResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantLicenseUsage'
        nextPageToken:
          type: string
    RelativeTimeDuration:
      type: object
      properties:
        unit:
          type: string
          enum:
          - week
          - month
          - year
        amount:
          type: integer
          description: Number of time units
          format: int32
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    TenantGroupLicenseInfo:
      type: object
      properties:
        tenantGroupName:
          type: string
        tenantGroupId:
          type: string
        numOfTenant:
          type: integer
          format: int32
        creditsAllocated:
          type: integer
          format: int32
    TimeRangeConfigObject:
      type: object
      properties:
        type:
          type: string
        timeUnit:
          type: string
        timeValue:
          type: integer
          format: int32
      discriminator:
        propertyName: type
    ToNowTimeRangeConfig:
      type: object
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigObject'
      - type: object
        properties:
          value:
            type: string
            enum:
            - week
            - month
            - year
    RelativeTimeRangeConfig:
      type: object
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigObject'
      - type: object
        properties:
          value:
            $ref: '#/components/schemas/RelativeTimeDuration'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantLicenseUsage_2:
      type: object
      properties:
        tenantName:
          type: string
          example: Branch Gateway 36
        prismaId:
          type: string
          example: '571390'
        createdOn:
          type: integer
          format: int64
          example: 998
        expiringOn:
          type: integer
          format: int64
          example: 492
        status:
          type: string
          enum:
          - ACTIVE
          - PROVISIONING
          - UPDATING
          - DELETING
          - DELETED
          - OFFBOARDING
          - ERRORED
          example: OFFBOARDING
        creditsAllocated:
          type: integer
          format: int32
          example: 409
        avgConsumption:
          type: integer
          format: int32
          example: 137
        lastUpdated:
          type: integer
          format: int64
          example: 82
        externalTenantId:
          type: string
          example: '501635'
    MsspLicenseInfoResponse_2:
      type: object
      properties:
        creditsPurchased:
          type: integer
          format: int32
          example: 658
        creditsAllocated:
          type: integer
          format: int32
          example: 596
        balanceCredit:
          type: integer
          format: int32
          example: 157
        numOfTenant:
          type: integer
          format: int32
          example: 306
        startTime:
          type: integer
          format: int64
          example: 1729330017973
        endTime:
          type: integer
          format: int64
          example: 1721793895841
        msspLicensePoolInfos:
          type: array
          items:
            $ref: '#/components/schemas/LicensePoolInfo_2'
          example:
          - licensePoolName: Branch Sensor 15
            licensePoolId: '776589'
            serialNumber: example-serialNumber
            startTime: 1701182573535
            endTime: 1712115339005
            numOfTenant: 265
            creditsAllocated: 145
            creditsPurchased: 707
            tenantGroupLicenseInfos:
            - tenantGroupName: Branch Agent 68
              tenantGroupId: '843820'
              numOfTenant: 622
              creditsAllocated: 925
            - tenantGroupName: Production Gateway 45
              tenantGroupId: '718815'
              numOfTenant: 2
              creditsAllocated: 426
    LicensePoolInfo_2:
      type: object
      properties:
        licensePoolName:
          type: string
          example: Branch Sensor 15
        licensePoolId:
          type: string
          example: '776589'
        serialNumber:
          type: string
          example: example-serialNumber
        startTime:
          type: integer
          format: int64
          example: 1701182573535
        endTime:
          type: integer
          format: int64
          example: 1712115339005
        numOfTenant:
          type: integer
          format: int32
          example: 265
        creditsAllocated:
          type: integer
          format: int32
          example: 145
        creditsPurchased:
          type: integer
          format: int32
          example: 707
        tenantGroupLicenseInfos:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupLicenseInfo_2'
          example:
          - tenantGroupName: Branch Agent 68
            tenantGroupId: '843820'
            numOfTenant: 622
            creditsAllocated: 925
          - tenantGroupName: Production Gateway 45
            tenantGroupId: '718815'
            numOfTenant: 2
            creditsAllocated: 426
    MsspLicenseUsageRequestObject_2:
      required:
      - licensePoolId
      type: object
      properties:
        tenantGroupId:
          type: string
          example: '609286'
        licensePoolId:
          type: string
          example: '720133'
        timeRange:
          oneOf:
          - $ref: '#/components/schemas/RelativeTimeRangeConfig'
          - $ref: '#/components/schemas/ToNowTimeRangeConfig'
          example: example-timeRange
        nextPageToken:
          type: string
          example: example-nextPageToken
    MsspLicenseUsageResponse_2:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantLicenseUsage_2'
          example:
          - tenantName: Production Agent 53
            prismaId: '999338'
            createdOn: 201
            expiringOn: 627
            status: DELETING
            creditsAllocated: 752
            avgConsumption: 781
            lastUpdated: 896
            externalTenantId: '986311'
          - tenantName: Staging Sensor 16
            prismaId: '842673'
            createdOn: 662
            expiringOn: 182
            status: ACTIVE
            creditsAllocated: 585
            avgConsumption: 766
            lastUpdated: 138
            externalTenantId: '479192'
        nextPageToken:
          type: string
          example: example-nextPageToken
    RelativeTimeDuration_2:
      type: object
      properties:
        unit:
          type: string
          enum:
          - week
          - month
          - year
          example: year
        amount:
          type: integer
          description: Number of time units
          format: int32
          example: 241
    TenantGroupLicenseInfo_2:
      type: object
      properties:
        tenantGroupName:
          type: string
          example: Primary Sensor 61
        tenantGroupId:
          type: string
          example: '715892'
        numOfTenant:
          type: integer
          format: int32
          example: 842
        creditsAllocated:
          type: integer
          format: int32
          example: 391
    TimeRangeConfigObject_2:
      type: object
      properties:
        type:
          type: string
          example: standard
        timeUnit:
          type: string
          example: example-timeUnit
        timeValue:
          type: integer
          format: int32
          example: 586
      discriminator:
        propertyName: type
    Error_2:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    TenantLicenseUsage_3:
      type: object
      properties:
        tenantName:
          type: string
          example: Branch Gateway 36
        prismaId:
          type: string
          example: '571390'
        createdOn:
          type: integer
          format: int64
          example: 998
        expiringOn:
          type: integer
          format: int64
          example: 492
        status:
          type: string
          enum:
          - ACTIVE
          - PROVISIONING
          - UPDATING
          - DELETING
          - DELETED
          - OFFBOARDING
          - ERRORED
          example: OFFBOARDING
        creditsAllocated:
          type: integer
          format: int32
          example: 409
        avgConsumption:
          type: integer
          format: int32
          example: 137
        lastUpdated:
          type: integer
          format: int64
          example: 82
        externalTenantId:
          type: string
          example: '501635'
    MsspLicenseInfoResponse_3:
      type: object
      properties:
        creditsPurchased:
          type: integer
          format: int32
          example: 658
        creditsAllocated:
          type: integer
          format: int32
          example: 596
        balanceCredit:
          type: integer
          format: int32
          example: 157
        numOfTenant:
          type: integer
          format: int32
          example: 306
        startTime:
          type: integer
          format: int64
          example: 1729330017973
        endTime:
          type: integer
          format: int64
          example: 1721793895841
        msspLicensePoolInfos:
          type: array
          items:
            $ref: '#/components/schemas/LicensePoolInfo_3'
          example:
          - licensePoolName: Branch Sensor 15
            licensePoolId: '776589'
            serialNumber: example-serialNumber
            startTime: 1701182573535
            endTime: 1712115339005
            numOfTenant: 265
            creditsAllocated: 145
            creditsPurchased: 707
            tenantGroupLicenseInfos:
            - tenantGroupName: Branch Agent 68
              tenantGroupId: '843820'
              numOfTenant: 622
              creditsAllocated: 925
            - tenantGroupName: Production Gateway 45
              tenantGroupId: '718815'
              numOfTenant: 2
              creditsAllocated: 426
    LicensePoolInfo_3:
      type: object
      properties:
        licensePoolName:
          type: string
          example: Branch Sensor 15
        licensePoolId:
          type: string
          example: '776589'
        serialNumber:
          type: string
          example: example-serialNumber
        startTime:
          type: integer
          format: int64
          example: 1701182573535
        endTime:
          type: integer
          format: int64
          example: 1712115339005
        numOfTenant:
          type: integer
          format: int32
          example: 265
        creditsAllocated:
          type: integer
          format: int32
          example: 145
        creditsPurchased:
          type: integer
          format: int32
          example: 707
        tenantGroupLicenseInfos:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupLicenseInfo_3'
          example:
          - tenantGroupName: Branch Agent 68
            tenantGroupId: '843820'
            numOfTenant: 622
            creditsAllocated: 925
          - tenantGroupName: Production Gateway 45
            tenantGroupId: '718815'
            numOfTenant: 2
            creditsAllocated: 426
    MsspLicenseUsageRequestObject_3:
      required:
      - licensePoolId
      type: object
      properties:
        tenantGroupId:
          type: string
          example: '609286'
        licensePoolId:
          type: string
          example: '720133'
        timeRange:
          oneOf:
          - $ref: '#/components/schemas/RelativeTimeRangeConfig'
          - $ref: '#/components/schemas/ToNowTimeRangeConfig'
          example: example-timeRange
        nextPageToken:
          type: string
          example: example-nextPageToken
    MsspLicenseUsageResponse_3:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantLicenseUsage_3'
          example:
          - tenantName: Production Agent 53
            prismaId: '999338'
            createdOn: 201
            expiringOn: 627
            status: DELETING
            creditsAllocated: 752
            avgConsumption: 781
            lastUpdated: 896
            externalTenantId: '986311'
          - tenantName: Staging Sensor 16
            prismaId: '842673'
            createdOn: 662
            expiringOn: 182
            status: ACTIVE
            creditsAllocated: 585
            avgConsumption: 766
            lastUpdated: 138
            externalTenantId: '479192'
        nextPageToken:
          type: string
          example: example-nextPageToken
    RelativeTimeDuration_3:
      type: object
      properties:
        unit:
          type: string
          enum:
          - week
          - month
          - year
          example: year
        amount:
          type: integer
          description: Number of time units
          format: int32
          example: 241
    TenantGroupLicenseInfo_3:
      type: object
      properties:
        tenantGroupName:
          type: string
          example: Primary Sensor 61
        tenantGroupId:
          type: string
          example: '715892'
        numOfTenant:
          type: integer
          format: int32
          example: 842
        creditsAllocated:
          type: integer
          format: int32
          example: 391
    TimeRangeConfigObject_3:
      type: object
      properties:
        type:
          type: string
          example: standard
        timeUnit:
          type: string
          example: example-timeUnit
        timeValue:
          type: integer
          format: int32
          example: 586
      discriminator:
        propertyName: type
    Error_3:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-mssp-license-endpoints-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
