openapi: 3.2.0
info:
  contact: {}
  description: 'Create Palo Alto Networks SSO accounts, and verify login accounts.

    A login account,

    as well as an access policy, is required in order

    for a user to gain access to Prisma SASE products for administrative

    or monitoring purposes.'
  title: User Accounts API
  version: '1.0'
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- name: User Accounts
paths:
  /iam/v1/sso_users:
    get:
      description: 'Verify that the email address provided to this API corresponds to

        an existing login account.


        This API contains a JSON object in it''s response. If the

        `profile_exists` field in that object is `true`, then the

        email address is associated with a login account.


        If `profile_exists` is `false`, a login account is not found for this email address.

        In that case, a login account must be created for the user before

        the user can perform the actions identified by any access policies

        assigned to the user''s account.'
      operationId: get-iam-v1-sso_users
      parameters:
      - description: 'The email address used to identify the login account that you want to verify.

          '
        in: query
        name: email
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Profile Exists:
                  value:
                    profile_exists: true
          description: Successful response.
      security:
      - Bearer: []
      summary: Verify a user account
      tags:
      - User Accounts
    post:
      description: 'Create a new Palo Alto Networks SSO account. If the email address that you provide to this

        request is already used for an existing login account, then this request

        returns `200` without performing any other operations.


        See Manage User Accounts

        for information about login accounts.'
      operationId: post-iam-v1-sso_users
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_register'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_register'
          description: Successful response - user registered for SSO
      security:
      - Bearer: []
      summary: Create an SSO account
      tags:
      - User Accounts
components:
  schemas:
    user_register:
      description: ''
      properties:
        email:
          description: "The email address that you want to use to create this \nSSO user account.\n"
          example: someemail33@somedomain.com
          type: string
        firstname:
          description: 'The user''s familiar name.

            '
          example: John
          type: string
        lastname:
          description: 'The user''s surname, or family name.

            '
          example: Smith
          type: string
      required:
      - email
      - firstname
      - lastname
      title: Root Type for user_register
      type: object
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
