openapi: 3.2.0
info:
  title: Palo Alto Networks Catalog API
  version: '1.0'
  description: 'Operations tagged Catalog across 4 of this provider''s published API definitions: palo-alto-identity-security-posture-management-api-openapi-original.yml, palo-alto-networks-catalog-api-openapi.yml, palo-alto-sase-identity-sspm-latest-identity-sspm-openapi.yaml, palo-alto-sase-sspm-consolidated-sspm-new-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: Catalog
paths:
  /sspm/identity/v1/catalog/{appType}:
    get:
      summary: Palo Alto Networks Get Application Catalog
      description: "Retrieve application catalog details based on the specified application type. \nThis helps identify supported application types and their available features."
      operationId: catalog_get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              examples:
                CatalogGet200Example:
                  summary: Default catalog_get 200 response
                  x-microcks-default: true
                  value: {}
        '404':
          description: Not Found
      parameters:
      - name: appType
        in: path
        required: true
        schema:
          type: string
        example: standard
      - name: feature
        in: query
        schema:
          type: string
        example: example-feature
      tags:
      - Catalog
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.sase.paloaltonetworks.com
    - url: https://api.strata.paloaltonetworks.com
  /sspm/api/v1/catalog/apps:
    get:
      summary: Supported Security Service Posture Management Applications
      description: Retrieve details on all the supported Security Service Posture Management applications.
      operationId: getCatalogApplications
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatalogApplication'
                type: array
          description: successful operation
      parameters: []
      tags:
      - Catalog
    servers:
    - url: https://api.sase.paloaltonetworks.com
    - url: https://api.strata.paloaltonetworks.com
  /sspm/api/v1/catalog/apps/{app}:
    get:
      summary: Catalog Setting Details
      description: Retrieve details on the catalog settings for the application by providing application type.
      operationId: getCatalogApplication
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogApplication'
          description: successful operation
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: application name
        example: servicenow
        in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - Catalog
    servers:
    - url: https://api.sase.paloaltonetworks.com
    - url: https://api.strata.paloaltonetworks.com
  /sspm/api/v1/catalog/apps/{app}/configs:
    get:
      summary: Catalog Configuration Setting Details
      description: Retrieve details on the catalog configuration settings by providing application type.
      operationId: getApplicationConfigurations
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CatalogConfig'
                type: array
          description: successful operation
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: application name
        example: servicenow
        in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - Catalog
    servers:
    - url: https://api.sase.paloaltonetworks.com
    - url: https://api.strata.paloaltonetworks.com
  /sspm/api/v1/catalog/apps/{app}/scopes:
    get:
      summary: Plugin Scope Catalog
      description: Retrieve plugin scope catalog for the application using application type.
      operationId: getApplicationScopes
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScopeConfig'
                type: array
          description: successful operation
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: application name
        example: servicenow
        in: path
        name: app
        required: true
        schema:
          type: string
      tags:
      - Catalog
    servers:
    - url: https://api.sase.paloaltonetworks.com
    - url: https://api.strata.paloaltonetworks.com
  /sspm/api/v1/catalog/controls/{common_control_id}:
    get:
      summary: Compliance Profile Mapping
      description: Retrieve a compliance profile mappings for common control ID.
      operationId: getCommonControlComplianceProfiles
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonControlProfiles'
          description: successful operation
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: common control id
        example: PAN-00000001
        in: path
        name: common_control_id
        required: true
        schema:
          type: string
      tags:
      - Catalog
    servers:
    - url: https://api.sase.paloaltonetworks.com
    - url: https://api.strata.paloaltonetworks.com
components:
  schemas:
    CatalogConfig:
      properties:
        __metadata:
          additionalProperties:
            type: object
          properties:
            empty:
              type: boolean
          type: object
        category:
          type: string
        common_control:
          type: string
        console_url:
          type: string
        description:
          type: string
        description_url:
          type: string
        enabled:
          type: boolean
        id:
          type: string
        name:
          type: string
        native_category:
          type: string
        native_name:
          type: string
        operator:
          $ref: '#/components/schemas/CatalogConfigOperator'
        optional:
          type: boolean
        remediation:
          $ref: '#/components/schemas/RemediationConfig'
        remediation_steps:
          type: string
        severity:
          type: string
        value:
          $ref: '#/components/schemas/ConfigValue'
      type: object
    ComplianceCategory:
      properties:
        controls:
          items:
            $ref: '#/components/schemas/ComplianceControl'
          type: array
        name:
          type: string
      type: object
    ComplianceControl:
      properties:
        description:
          type: string
        id:
          type: string
      type: object
    RemediationConfig:
      properties:
        auto_fix:
          type: boolean
        guide_footer:
          type: string
        guide_header:
          type: string
        guide_steps:
          items:
            type: string
          type: array
        remediation_value:
          type: string
      type: object
    CatalogApplication:
      properties:
        display_name:
          type: string
        enabled:
          type: boolean
        features:
          items:
            enum:
            - SCAN
            - REMEDIATE
            - RISKY_ACCOUNTS
            - THIRD_PARTY_APPS
            - THIRD_PARTY_APPS_USER_REVOKE
            - IDENTITY
            type: string
          type: array
          uniqueItems: true
        features_metadata:
          additionalProperties:
            additionalProperties:
              type: string
            type: object
          type: object
        lambda:
          type: boolean
        name:
          type: string
      type: object
    ConfigValue:
      properties:
        choices:
          type: string
        default_value:
          type: string
        type:
          type: string
      type: object
    ComplianceProfile:
      properties:
        categories:
          items:
            $ref: '#/components/schemas/ComplianceCategory'
          type: array
        id:
          type: string
        name:
          type: string
      type: object
    CatalogConfigOperator:
      discriminator:
        propertyName: operator
      properties:
        displayValue:
          type: string
        operator:
          enum:
          - equal
          - not_equal
          - substring
          - not_substring
          - greater
          - greater_or_equal
          - less
          - less_or_equal
          - one_of
          - not_one_of
          - in_range
          - not_in_range
          type: string
        valueType:
          enum:
          - int
          - double
          - string
          - bool
          type: string
      type: object
    CommonControlProfiles:
      properties:
        id:
          type: string
        name:
          type: string
        profiles:
          items:
            $ref: '#/components/schemas/ComplianceProfile'
          type: array
      type: object
    ScopeConfig:
      properties:
        description:
          type: string
        enabled:
          type: boolean
        id:
          type: string
        name:
          type: string
        native_name:
          type: string
        severity:
          type: string
      type: object
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-identity-security-posture-management-api-openapi-original.yml
- palo-alto-networks-catalog-api-openapi.yml
- palo-alto-sase-identity-sspm-latest-identity-sspm-openapi.yaml
- palo-alto-sase-sspm-consolidated-sspm-new-openapi.yaml
