openapi: 3.2.0
info:
  title: Prisma AIRS API Management service Deployment Profiles API
  description: OpenAPI Specification for Prisma AIRS AI Runtime API Management Service
  version: 0.0.0
  contact:
    name: Palo Alto Networks
    url: https://www.paloaltonetworks.com
    email: support@paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/aisec
  description: Prisma AIRS API service URL
tags:
- name: Deployment Profiles
  description: Operations related to deployment profile management
paths:
  /v1/mgmt/deploymentprofiles:
    get:
      summary: Get All Deployment Profiles
      description: Get all Deployment Profiles for a given TSG ID.
      tags:
      - Deployment Profiles
      security:
      - Auth: []
      operationId: GetDeploymentProfilesByTsgId
      parameters:
      - name: unactivated
        in: query
        description: Get available and unactivated Deployment Profiles. Also include previously activated DP that do not have any associated apps or api keys.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successfully returned Deployment Profiles for TSG Id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentProfilesObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    DeploymentProfileEntryObject:
      type: object
      properties:
        dp_name:
          type: string
        auth_code:
          type: string
        tsg_id:
          type: string
        status:
          type: string
        expiration_date:
          type: string
        ave_text_records:
          type: integer
          format: int32
      required:
      - dp_name
      - auth_code
    DeploymentProfilesObject:
      type: object
      properties:
        deployment_profiles:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentProfileEntryObject'
        status:
          type: string
      required:
      - deployment_profiles
      - status
    Error:
      type: object
      properties:
        status_code:
          type: integer
          format: int32
        error_message:
          type: string
      required:
      - status_code
      - error_message
  securitySchemes:
    Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
