openapi: 3.1.0
info:
  title: AIOps for NGFW BPA API
  description: >-
    AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic
    access to submit BPA requests for Palo Alto Networks next-generation
    firewalls, check request processing status, and retrieve completed
    assessment reports. BPA reports analyze firewall configurations against
    Palo Alto Networks best practices and security benchmarks, identifying
    gaps and providing remediation guidance to improve security posture.
    Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
    description: AIOps for NGFW BPA API production server.
security:
  - oauth2Bearer: []
tags:
  - name: BPA Requests
    description: Best Practice Assessment request submission and status tracking.
  - name: BPA Reports
    description: Completed assessment report retrieval.
paths:
  /requests:
    post:
      operationId: submitBPARequest
      summary: Submit BPA request
      description: >-
        Submits a Best Practice Assessment request for a specific NGFW
        device. The request requires the device serial number, PAN-OS
        version, and optional device information. The assessment runs
        asynchronously; use the returned request ID to check status and
        retrieve the report when complete.
      tags:
        - BPA Requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BPARequest'
      responses:
        '201':
          description: BPA request submitted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BPARequestStatus'
        '400':
          description: Invalid request body or unsupported PAN-OS version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions or device not registered to this tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A BPA request is already in progress for this device.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /requests/{request_id}:
    get:
      operationId: getBPARequestStatus
      summary: Check BPA request status
      description: >-
        Returns the current processing status of a submitted BPA request.
        When the status is completed, the response includes the report ID
        which can be used to retrieve the full assessment report. Request
        records are retained for 30 days after completion.
      tags:
        - BPA Requests
      parameters:
        - name: request_id
          in: path
          required: true
          description: Unique identifier of the BPA request.
          schema:
            type: string
      responses:
        '200':
          description: BPA request status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BPARequestStatus'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: BPA request not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reports/{report_id}:
    get:
      operationId: getBPAReport
      summary: Get BPA report
      description: >-
        Returns the completed Best Practice Assessment report for a device.
        The report includes an overall score, category-level scores, pass
        and fail summaries, and a prioritized list of recommendations for
        improving the device's security posture against PAN-OS best practices.
      tags:
        - BPA Reports
      parameters:
        - name: report_id
          in: path
          required: true
          description: Unique identifier of the BPA report.
          schema:
            type: string
      responses:
        '200':
          description: BPA report returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BPAReport'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Report not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reports/{report_id}/checks:
    get:
      operationId: getBPAReportChecks
      summary: Get BPA report check details
      description: >-
        Returns the individual check results from a BPA report. Each check
        corresponds to a specific best practice recommendation and includes
        its pass/fail status, current configuration state, and remediation
        guidance. Supports filtering by category and status.
      tags:
        - BPA Reports
      parameters:
        - name: report_id
          in: path
          required: true
          description: Unique identifier of the BPA report.
          schema:
            type: string
        - name: category
          in: query
          description: Filter checks by best practice category.
          schema:
            type: string
            enum:
              - device_management
              - security_policies
              - nat_policies
              - decryption
              - threat_prevention
              - url_filtering
              - wildfire
              - dns_security
              - globalprotect
        - name: status
          in: query
          description: Filter checks by result status.
          schema:
            type: string
            enum:
              - pass
              - fail
              - not_applicable
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of checks to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: BPA report checks returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BPACheck'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Report not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    BPARequest:
      type: object
      required:
        - serial_number
        - version
      properties:
        serial_number:
          type: string
          description: Device serial number of the NGFW to assess.
        version:
          type: string
          description: PAN-OS software version running on the device (e.g., 11.1.2).
          pattern: '^\d+\.\d+(\.\d+)?(-h\d+)?$'
        device_info:
          type: object
          description: Optional supplementary device information.
          properties:
            hostname:
              type: string
              description: Device hostname.
            model:
              type: string
              description: Device model (e.g., PA-5450, PA-440).
            deployment_type:
              type: string
              enum:
                - physical
                - vm
                - container
              description: Device deployment type.
    BPARequestStatus:
      type: object
      properties:
        request_id:
          type: string
          description: Unique identifier of the BPA request.
        serial_number:
          type: string
          description: Device serial number for which the assessment was submitted.
        status:
          type: string
          enum:
            - pending
            - processing
            - completed
            - failed
          description: Current processing status of the request.
        report_id:
          type: string
          description: >-
            Report identifier available when status is completed. Use with
            GET /reports/{report_id} to retrieve the full report.
        error_message:
          type: string
          description: Error description when status is failed.
        submitted_at:
          type: string
          format: date-time
          description: Timestamp when the request was submitted.
        completed_at:
          type: string
          format: date-time
          description: Timestamp when processing completed.
    BPAReport:
      type: object
      properties:
        report_id:
          type: string
          description: Unique identifier of the report.
        request_id:
          type: string
          description: ID of the BPA request that generated this report.
        serial_number:
          type: string
          description: Device serial number assessed.
        pan_os_version:
          type: string
          description: PAN-OS version assessed.
        overall_score:
          type: number
          format: float
          description: Overall best practice compliance score from 0.0 to 100.0.
          minimum: 0.0
          maximum: 100.0
        category_scores:
          type: array
          description: Compliance scores broken down by best practice category.
          items:
            type: object
            properties:
              category:
                type: string
                description: Best practice category name.
              score:
                type: number
                format: float
                description: Category compliance score (0.0 to 100.0).
              passed:
                type: integer
                description: Number of checks that passed in this category.
              failed:
                type: integer
                description: Number of checks that failed in this category.
              not_applicable:
                type: integer
                description: Number of checks not applicable to this device.
        total_checks:
          type: integer
          description: Total number of checks evaluated.
        passed_checks:
          type: integer
          description: Number of checks that passed.
        failed_checks:
          type: integer
          description: Number of checks that failed.
        generated_at:
          type: string
          format: date-time
          description: Timestamp when the report was generated.
    BPACheck:
      type: object
      properties:
        check_id:
          type: string
          description: Unique identifier of the check.
        category:
          type: string
          description: Best practice category this check belongs to.
        name:
          type: string
          description: Name of the best practice check.
        description:
          type: string
          description: Description of what this check evaluates.
        status:
          type: string
          enum:
            - pass
            - fail
            - not_applicable
          description: Result status of this check.
        severity:
          type: string
          enum:
            - informational
            - low
            - medium
            - high
            - critical
          description: Severity if this check fails.
        current_value:
          type: string
          description: Current configuration value found on the device.
        recommended_value:
          type: string
          description: Recommended configuration value per best practices.
        remediation:
          type: string
          description: Step-by-step remediation guidance for failed checks.
        references:
          type: array
          items:
            type: string
            format: uri
          description: Reference URLs with additional guidance.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
