openapi: 3.2.0
info:
  title: SSPM Management Authorization API
  version: 1.0.0
  description: © 2025 Palo Alto Networks, Inc This Open API spec file was created on March 02, 2026. © 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html). All other marks mentioned herein may be trademarks of their respective companies.
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com
tags:
- name: Authorization
paths:
  /sspm/api/v1/auth/{app}/info:
    get:
      summary: Authorization Information
      description: Retrieve details on the application authorization in the catalog.
      operationId: getAuthInfo
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationAuthInfo'
          description: successful operation
        '404':
          description: not registered application
      parameters:
      - description: application type
        example: office365
        in: path
        name: app
        required: true
        schema:
          type: string
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      tags:
      - Authorization
components:
  schemas:
    ApplicationAuthInfo:
      properties:
        fields:
          items:
            $ref: '#/components/schemas/AuthFormElement'
          type: array
        sso_fields:
          items:
            $ref: '#/components/schemas/SsoFields'
          type: array
        strategy:
          enum:
          - REDIRECT_URL
          - PROVIDED_CREDENTIALS
          type: string
      type: object
    AuthFormElement:
      discriminator:
        propertyName: kind
      properties:
        kind:
          enum:
          - FIELD
          - DOC
          type: string
      type: object
    SsoFields:
      properties:
        fields:
          items:
            $ref: '#/components/schemas/AuthFormElement'
          type: array
        sso_provider:
          enum:
          - NONE
          - OKTA
          - AZURE
          - GOOGLE
          type: string
      required:
      - fields
      - sso_provider
      type: object
