openapi: 3.2.0
info:
  title: Palo Alto Networks Cloud Accounts (OCI and Alibaba) API
  version: '1.0'
  description: 'Operations tagged Cloud Accounts (OCI and Alibaba) across 2 of this provider''s published API definitions: palo-alto-cspm-cloudaccountonboardingmicroservices-openapi.json, palo-alto-cspm-cloudaccountsmicroservice-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- name: Cloud Accounts (OCI and Alibaba)
  description: 'To monitor the resources on your OCI or Alibaba cloud infrastructure, you must first add your OCI or Alibaba accounts to Prisma Cloud. When you add your cloud account to Prisma Cloud, the API integration between your cloud infrastructure provider and Prisma Cloud is established and you can begin monitoring the resources and identify potential security risks.


    The Cloud Account (OCI and Alibaba) APIs enable you to add and manage OCI or Alibaba accounts on Prisma Cloud. For common operations related to cloud accounts, see [Cloud Accounts (All)](/prisma-cloud/api/cspm/cloud-accounts-all/).

    '
paths:
  /cloud/oci/terraform:
    post:
      tags:
      - Cloud Accounts (OCI and Alibaba)
      summary: Generate Zipped Terraform Script (OCI)
      description: Generates a zipped Terraform template to help you onboard your Oracle Cloud Infrastructure account to Prisma Cloud. You can use this template in the OCI Tenant Console to get a User OCID. Note that the generated keys will be valid for 24 hours.
      operationId: generateterraformscript
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/TerraformProvisionerRequest'
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid_parameter_value
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/status/{cloud_type}:
    post:
      tags:
      - Cloud Accounts (OCI and Alibaba)
      summary: Get Cloud Account Status (OCI and Alibaba)
      description: Lists status messages of the specified cloud account.  \r\n\r\nThis request performs a cloud account on-boarding trial run. You can use this request to validate your parameters before \n you use [Add Cloud Account](/prisma-cloud/api/cspm/add-cloud-account).\n
      operationId: get-cloud-account-status
      parameters:
      - name: cloud_type
        in: path
        description: Cloud Type
        required: true
        schema:
          type: string
          enum:
          - alibaba_cloud
          - oci
      requestBody:
        $ref: '#/components/requestBodies/get-cloud-account-statusBody'
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudAccountStatus'
        '400':
          description: bad_request
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/{cloud_type}:
    post:
      tags:
      - Cloud Accounts (OCI and Alibaba)
      summary: Add Cloud Account (OCI and Alibaba)
      description: "Onboard a new cloud account onto the Prisma Cloud platform. \n\nThe request body parameters differ depending on the cloud type of the account you want to add.\n      \n### Request Body to Add an Alibaba Account\nThe table below lists the request body parameters to add an Alibaba account.\n\nParameter  | Type | Description | Default Value or Required\n-----------| ---- | ----------- | -------------\n accountId | string | AWS account ID | Required\n groupIds | array of strings  | List of account group IDs for this account  | Required\n name | string  | Name to be used for the account on the Prisma Cloud platform (must be unique)  | Required\n roleArn | string | Unique identifier for an Alibaba RAM role resource | Required\n enabled | boolean | Whether or not the account is enabled | Default is **false**\n deploymentType | string | Deployment type. <br/> Valid values: **ali-int**, **ali-cn**, **ali-fn** <br/> **ali-int:** Alibaba International <br/> **ali-cn:** Alibaba China. Allows you to monitor all the resources in the Alibaba China region, but does not monitor resources in the Alibaba Finance region. <br/> **ali-fn:** Alibaba Finance. Applicable only for the Alibaba China region. Allows you to monitor resources located only in the Alibaba Finance regions.| Optional\n\n#### Request Body Example\n```json\n{\n  \"accountId\": \"\",\n  \"groupIds\": [],\n  \"name\": \"\",\n  \"enabled\": true,\n  \"ramArn\": \"\"\n}\n```\n### Requirements and Request Body to Add an OCI Account\nTo add an Oracle Cloud Infrastructure (OCI) account, you must:\n\n1. Use [Generate Zipped Terraform Script (OCI)](/prisma-cloud/api/cspm/generateterraformscript) in the console | Required\n\n#### Request Body Example\n```json\n{\n  \"accountType\":\"tenant\",\n  \"defaultAccountGroupId\":\"\",\n  \"enabled\":true,\n  \"name\":\"\",\n  \"groupName\":\"\",\n  \"homeRegion\":\"\",\n  \"policyName\":\"\",\n  \"accountId\":\"\",\n  \"userName\":\"\",\n  \"userOcid\":\"\"\n}\n```\n"
      operationId: add-cloud-account
      parameters:
      - name: cloud_type
        in: path
        description: Cloud Type
        required: true
        schema:
          type: string
          enum:
          - alibaba_cloud
          - oci
      - name: skipStatusChecks
        in: query
        description: true = Skip account status checks to improve response time
        required: false
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/add-cloud-accountBody'
      responses:
        '200':
          description: successful operation
        '400':
          description: duplicate_cloud_account_name / duplicate_cloud_account / invalid_account_id_format / duplicate_cloud_account_needs_upgrade / cannot_select_zero_account_groups / invalid_account_group_ids
        '404':
          description: invalid_account_type
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud/{cloud_type}/{id}:
    put:
      tags:
      - Cloud Accounts (OCI and Alibaba)
      summary: Update Cloud Account (OCI and Alibaba)
      description: "Update information related to a cloud account. \n\nThe request body parameters differ depending on the cloud type of the account you want to add.\n\n\n### Request Body to Update an Alibaba Account\nThe table below lists the request body parameters.\n\nParameter  | Type | Description |  Required?\n-----------| ---- | ----------- | -------------\naccountId |string | AWS account ID | Required\n groupIds | array of strings  | List of account group IDs for this account  | Required\n name | string  | Name to be used for the account on the Prisma Cloud platform (must be unique)  | Required\n roleArn | string | Unique identifier for an Alibaba RAM role resource | Required\n enabled | boolean | Whether or not the account is enabled | Required\n deploymentType | string | Deployment type. <br/> Valid values: **ali-int**, **ali-cn**, **ali-fn** <br/> **ali-int:** Alibaba International <br/> **ali-cn:** Alibaba China. Allows you to monitor all the resources in the Alibaba China region, but does not monitor resources in the Alibaba Finance region. <br/> **ali-fn:** Alibaba Finance. Applicable only for the Alibaba China region. Allows you to monitor resources located only in the Alibaba Finance regions.| Optional\n\n#### Request Body Example\n```json\n{\n  \"accountId\": \"\",\n  \"groupIds\": [],\n  \"name\": \"\",\n  \"enabled\": true,\n  \"ramArn\": \"\"\n}\n```\n### Request Body to Update an OCI Account\nThe table below lists the request body parameters to add an OCI account.\n\nParameter  | Type | Description | Required?\n-----------| ---- | ----------- | -------------\n accountType | string | OCI Account type. Current valid value is **tenant**. | Required\n defaultAccountGroupId | string | Account group ID for this account. Used for alert rules. |  Required\n enabled | boolean | Whether or not to enable the account |  Required\n name | string  | Name of the OCI tenant you want Prisma Cloud to monitor | Required\n groupName | string | OCI identity group name that you define. Can be an existing group |  Required\n homeRegion | string  | OCI tenancy home region |  Required\n policyName | string  | OCI identity policy name that you define. Can be an existing policy that has the right policy statements. |  Required\n accountId | string  | OCID of your OCI tenancy | Required\n userName | string  | OCI identity user name that you define. Can be an existing user that has the right privileges. |  Required\n userOcid | string  | User OCID from your OCI Tenant Console after you apply the zip file from [Generate Zipped Terraform Script (OCI)](/prisma-cloud/api/cspm/generateterraformscript) in the console |  Required\n\n#### Request Body Example\n```json\n{\n  \"accountType\":\"tenant\",\n  \"defaultAccountGroupId\":\"\",\n  \"enabled\":true,\n  \"name\":\"\",\n  \"groupName\":\"\",\n  \"homeRegion\":\"\",\n  \"policyName\":\"\",\n  \"accountId\":\"\",\n  \"userName\":\"\",\n  \"userOcid\":\"\"\n}\n```      \n"
      operationId: update-cloud-account
      parameters:
      - name: id
        in: path
        description: Account ID
        required: true
        schema:
          type: string
      - name: cloud_type
        in: path
        description: Cloud Type
        required: true
        schema:
          type: string
          enum:
          - alibaba_cloud
          - oci
      - name: skipStatusChecks
        in: query
        description: true = Skip account status checks to improve response time
        required: false
        schema:
          type: boolean
      requestBody:
        $ref: '#/components/requestBodies/add-cloud-accountBody'
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid_account_id_format / duplicate_cloud_account_name / duplicate_cloud_account / cannot_select_zero_account_groups / invalid_account_group_ids
        '404':
          description: invalid_account_type
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cas/v1/cloud/{cloudType}/deployment-type:
    get:
      tags:
      - Cloud Accounts (OCI and Alibaba)
      summary: Get Cloud Account Deployment Types (Alibaba)
      description: List cloud account deployment types. Currently, this is applicable only for Alibaba cloud.
      operationId: getCloudDeploymentTypes
      parameters:
      - name: cloudType
        in: path
        required: true
        schema:
          type: string
          description: Cloud Account Type
          example: null
          enum:
          - alibaba-cloud
      responses:
        '200':
          description: Successfully retrieved list of cloud deployment types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentTypeListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorObject'
        '401':
          description: Unauthorized Access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorObject'
        '403':
          description: Tenant License Expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorObject'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorObject'
        '405':
          description: Wrong Http Method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorObject'
        '425':
          description: Too Early to access the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorObject'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIErrorObject'
      x-public: 'true'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
components:
  schemas:
    CloudAccountStatus:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        statusMessage:
          $ref: '#/components/schemas/AccountStatusMessage'
    TerraformProvisionerRequest:
      type: object
      required:
      - accountId
      - groupName
      - policyName
      - userName
      properties:
        accountId:
          type: string
          description: OCID of the OCI tenancy
        userName:
          type: string
          description: OCI identity user name
        groupName:
          type: string
          description: OCI identity group name
        policyName:
          type: string
          description: OCI identity policy name
        generateKeys:
          type: boolean
          description: true = Generate keys. Default is false. Generated keys are valid for 24 hours.
      description: Model for Generate Terraform Script API
    AccountStatusMessage:
      type: object
      properties:
        message:
          type: string
        staticMessage:
          type: boolean
    DeploymentTypeListResponse:
      type: object
      properties:
        value:
          type: array
          example: null
          items:
            $ref: '#/components/schemas/DeploymentTypeResponse'
      example: null
    APIErrorObject:
      type: object
      properties:
        code:
          type: string
          example: null
          enum:
          - 100 CONTINUE
          - 101 SWITCHING_PROTOCOLS
          - 102 PROCESSING
          - 103 CHECKPOINT
          - 200 OK
          - 201 CREATED
          - 202 ACCEPTED
          - 203 NON_AUTHORITATIVE_INFORMATION
          - 204 NO_CONTENT
          - 205 RESET_CONTENT
          - 206 PARTIAL_CONTENT
          - 207 MULTI_STATUS
          - 208 ALREADY_REPORTED
          - 226 IM_USED
          - 300 MULTIPLE_CHOICES
          - 301 MOVED_PERMANENTLY
          - 302 FOUND
          - 302 MOVED_TEMPORARILY
          - 303 SEE_OTHER
          - 304 NOT_MODIFIED
          - 305 USE_PROXY
          - 307 TEMPORARY_REDIRECT
          - 308 PERMANENT_REDIRECT
          - 400 BAD_REQUEST
          - 401 UNAUTHORIZED
          - 402 PAYMENT_REQUIRED
          - 403 FORBIDDEN
          - 404 NOT_FOUND
          - 405 METHOD_NOT_ALLOWED
          - 406 NOT_ACCEPTABLE
          - 407 PROXY_AUTHENTICATION_REQUIRED
          - 408 REQUEST_TIMEOUT
          - 409 CONFLICT
          - 410 GONE
          - 411 LENGTH_REQUIRED
          - 412 PRECONDITION_FAILED
          - 413 PAYLOAD_TOO_LARGE
          - 413 REQUEST_ENTITY_TOO_LARGE
          - 414 URI_TOO_LONG
          - 414 REQUEST_URI_TOO_LONG
          - 415 UNSUPPORTED_MEDIA_TYPE
          - 416 REQUESTED_RANGE_NOT_SATISFIABLE
          - 417 EXPECTATION_FAILED
          - 418 I_AM_A_TEAPOT
          - 419 INSUFFICIENT_SPACE_ON_RESOURCE
          - 420 METHOD_FAILURE
          - 421 DESTINATION_LOCKED
          - 422 UNPROCESSABLE_ENTITY
          - 423 LOCKED
          - 424 FAILED_DEPENDENCY
          - 425 TOO_EARLY
          - 426 UPGRADE_REQUIRED
          - 428 PRECONDITION_REQUIRED
          - 429 TOO_MANY_REQUESTS
          - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
          - 451 UNAVAILABLE_FOR_LEGAL_REASONS
          - 500 INTERNAL_SERVER_ERROR
          - 501 NOT_IMPLEMENTED
          - 502 BAD_GATEWAY
          - 503 SERVICE_UNAVAILABLE
          - 504 GATEWAY_TIMEOUT
          - 505 HTTP_VERSION_NOT_SUPPORTED
          - 506 VARIANT_ALSO_NEGOTIATES
          - 507 INSUFFICIENT_STORAGE
          - 508 LOOP_DETECTED
          - 509 BANDWIDTH_LIMIT_EXCEEDED
          - 510 NOT_EXTENDED
          - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
          example: null
        target:
          type: string
          example: null
        innererror:
          type: object
          additionalProperties:
            type: object
            example: null
          example: null
        innerError:
          type: object
          additionalProperties:
            type: object
            example: null
          writeOnly: true
          example: null
      example: null
    DeploymentTypeResponse:
      type: object
      properties:
        deploymentType:
          type: string
          example: null
        displayName:
          type: string
          example: null
      example: null
  requestBodies:
    get-cloud-account-statusBody:
      content:
        application/json:
          schema:
            type: object
            additionalProperties:
              type: object
    add-cloud-accountBody:
      content:
        application/json:
          schema:
            type: object
            additionalProperties:
              type: object
      description: Cloud Account
      required: true
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
x-refined-from:
- palo-alto-cspm-cloudaccountonboardingmicroservices-openapi.json
- palo-alto-cspm-cloudaccountsmicroservice-openapi.json
