openapi: 3.1.0
info:
  title: Palo Alto Networks Autonomous DEM API
  description: >-
    REST API for the Autonomous Digital Experience Management (ADEM)
    platform providing programmatic access to application experience
    scores, agent endpoint scores, synthetic test results, application
    monitoring inventory, and network performance metrics. Autonomous
    DEM continuously monitors the end-to-end digital experience of users
    connecting through Prisma Access, identifying performance degradations
    across the endpoint, local network, ISP, and application layers
    before users report issues. Supports OAuth 2.0 Bearer token
    authentication using the SASE auth framework.
  version: '2.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/adem/telemetry/v2
    description: Autonomous DEM telemetry API server.
security:
  - oauth2: []
tags:
  - name: Agents
    description: Monitored agent and endpoint inventory management.
  - name: AgentScores
    description: >-
      Agent and endpoint experience score monitoring for tracking
      the health and experience of monitored user devices.
  - name: Applications
    description: Monitored application inventory management.
  - name: ApplicationScores
    description: >-
      Application experience score monitoring providing aggregated
      performance ratings for SaaS and internal applications.
  - name: Metrics
    description: >-
      Detailed network performance metrics providing granular visibility
      into each segment of the user-to-application connection.
  - name: Tests
    description: >-
      Synthetic test results for proactive monitoring of application
      reachability and performance from user endpoints.
paths:
  /mt/monitor/adem/v1/applications/scores:
    get:
      operationId: getApplicationScores
      summary: Palo Alto Networks Get application experience scores
      description: >-
        Returns application experience scores representing the
        end-to-end quality of user interactions with monitored
        applications. Scores range from 0 to 100 with higher values
        indicating better experience. Results can be filtered by
        application, user, site, and time range.
      tags:
        - ApplicationScores
      parameters:
        - name: start_time
          in: query
          description: Start of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: time_range
          in: query
          description: Relative time range shorthand (e.g., last_1_hour, last_24_hours).
          schema:
            type: string
            enum:
              - last_1_hour
              - last_4_hours
              - last_24_hours
              - last_7_days
              - last_30_days
        - name: app_id
          in: query
          description: Filter by monitored application identifier.
          schema:
            type: string
        - name: user_id
          in: query
          description: Filter by user email address or identifier.
          schema:
            type: string
        - name: site_name
          in: query
          description: Filter by site name.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: Application scores returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationScore'
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mt/monitor/adem/v1/agents/scores:
    get:
      operationId: getAgentScores
      summary: Palo Alto Networks Get agent and endpoint scores
      description: >-
        Returns experience scores for monitored agents and their host
        endpoints. Each agent score reflects the overall digital
        experience quality from that user's device including endpoint
        health, network conditions, and application responsiveness.
      tags:
        - AgentScores
      parameters:
        - name: start_time
          in: query
          description: Start of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: time_range
          in: query
          description: Relative time range shorthand.
          schema:
            type: string
            enum:
              - last_1_hour
              - last_4_hours
              - last_24_hours
              - last_7_days
              - last_30_days
        - name: user_id
          in: query
          description: Filter by user email address or identifier.
          schema:
            type: string
        - name: site_name
          in: query
          description: Filter by site name.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: Agent scores returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AgentScore'
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mt/monitor/adem/v1/tests/{test_id}/results:
    get:
      operationId: getTestResults
      summary: Palo Alto Networks Get synthetic test results
      description: >-
        Returns results for a specific synthetic test. Synthetic tests
        periodically probe application endpoints from ADEM agents to
        measure availability, latency, DNS resolution time, TCP
        connection time, and HTTP response time.
      tags:
        - Tests
      parameters:
        - name: test_id
          in: path
          required: true
          description: Unique synthetic test identifier.
          schema:
            type: string
        - name: start_time
          in: query
          description: Start of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: time_range
          in: query
          description: Relative time range shorthand.
          schema:
            type: string
            enum:
              - last_1_hour
              - last_4_hours
              - last_24_hours
              - last_7_days
        - name: user_id
          in: query
          description: Filter results by specific user.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Test results returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  test_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TestResult'
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mt/monitor/adem/v1/applications:
    get:
      operationId: listMonitoredApplications
      summary: Palo Alto Networks List monitored applications
      description: >-
        Returns a list of all applications configured for monitoring
        in Autonomous DEM. Each entry includes the application name,
        category, and the synthetic tests configured for probing it.
      tags:
        - Applications
      parameters:
        - name: app_id
          in: query
          description: Filter by specific application identifier.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Monitored applications returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitoredApplication'
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mt/monitor/adem/v1/agents:
    get:
      operationId: listMonitoredAgents
      summary: Palo Alto Networks List monitored agents
      description: >-
        Returns a list of all ADEM agents deployed on user endpoints
        that are registered for monitoring. Each entry includes the
        agent version, endpoint device details, user association, and
        current connection status.
      tags:
        - Agents
      parameters:
        - name: user_id
          in: query
          description: Filter agents by user email or identifier.
          schema:
            type: string
        - name: site_name
          in: query
          description: Filter agents by site name.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: Monitored agents returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitoredAgent'
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /mt/monitor/adem/v1/metrics:
    get:
      operationId: getPerformanceMetrics
      summary: Palo Alto Networks Get performance metrics
      description: >-
        Returns network and application performance metrics collected
        from ADEM agents. Metrics include latency, packet loss, jitter,
        and throughput measurements across each segment of the user-to-
        application path. Supports filtering by user, site, application,
        and time range.
      tags:
        - Metrics
      parameters:
        - name: start_time
          in: query
          description: Start of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: time_range
          in: query
          description: Relative time range shorthand.
          schema:
            type: string
            enum:
              - last_1_hour
              - last_4_hours
              - last_24_hours
              - last_7_days
        - name: user_id
          in: query
          description: Filter metrics by user email or identifier.
          schema:
            type: string
        - name: site_name
          in: query
          description: Filter metrics by site name.
          schema:
            type: string
        - name: app_id
          in: query
          description: Filter metrics by application identifier.
          schema:
            type: string
        - name: metric_type
          in: query
          description: Type of metrics to retrieve.
          schema:
            type: string
            enum:
              - latency
              - packet_loss
              - jitter
              - throughput
              - dns_resolution
              - tcp_connection
        - name: granularity
          in: query
          description: Time granularity for metric aggregation.
          schema:
            type: string
            enum:
              - 5m
              - 15m
              - 1h
              - 1d
            default: 15m
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Performance metrics returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PerformanceMetric'
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: >-
        OAuth 2.0 client credentials flow for obtaining an access token.
        Requires a client ID and client secret from the Palo Alto Networks
        SASE identity provider.
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
  responses:
    Unauthorized:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ApplicationScore:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Time bucket for the aggregated score.
        app_id:
          type: string
          description: Monitored application identifier.
        application:
          type: string
          description: Name of the monitored application.
        user_id:
          type: string
          description: User identifier if filtering by user.
        site_name:
          type: string
          description: Site name if filtering by site.
        overall_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Overall experience score from 0 to 100.
        endpoint_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Endpoint health score.
        network_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Network path score.
        application_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Application responsiveness score.
        latency_ms:
          type: number
          description: Average round-trip latency in milliseconds.
        packet_loss_pct:
          type: number
          description: Packet loss percentage.
        jitter_ms:
          type: number
          description: Latency variation in milliseconds.
        sample_count:
          type: integer
          description: Number of measurement samples in this time bucket.
    AgentScore:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Time bucket for the aggregated score.
        agent_id:
          type: string
          description: Unique ADEM agent identifier.
        user_id:
          type: string
          description: User identifier associated with the agent.
        device_name:
          type: string
          description: Hostname of the endpoint device.
        site_name:
          type: string
          description: Site name where the agent is located.
        overall_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Overall experience score for this agent.
        endpoint_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Endpoint hardware and software health score.
        network_score:
          type: integer
          minimum: 0
          maximum: 100
          description: Network connectivity quality score.
        cpu_usage_pct:
          type: number
          description: CPU usage percentage on the endpoint.
        memory_usage_pct:
          type: number
          description: Memory usage percentage on the endpoint.
        sample_count:
          type: integer
          description: Number of measurement samples in this time bucket.
    TestResult:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the test execution.
        test_id:
          type: string
          description: Synthetic test identifier.
        agent_id:
          type: string
          description: Agent that ran the test.
        user_id:
          type: string
          description: User associated with the agent.
        status:
          type: string
          enum:
            - success
            - failure
            - timeout
          description: Test execution result status.
        latency_ms:
          type: number
          description: Total response latency in milliseconds.
        dns_time_ms:
          type: number
          description: DNS resolution time in milliseconds.
        tcp_connect_ms:
          type: number
          description: TCP connection establishment time in milliseconds.
        ttfb_ms:
          type: number
          description: Time to first byte for HTTP tests in milliseconds.
        http_status_code:
          type: integer
          description: HTTP response status code for HTTP type tests.
        error_message:
          type: string
          description: Error message if the test failed.
    MonitoredApplication:
      type: object
      properties:
        app_id:
          type: string
          description: Unique application identifier.
        name:
          type: string
          description: Application name.
        category:
          type: string
          description: Application category (e.g., Collaboration, Productivity, Security).
        type:
          type: string
          enum:
            - saas
            - internal
          description: Whether the application is a SaaS or internal application.
        url:
          type: string
          description: Primary URL for the application.
        test_count:
          type: integer
          description: Number of synthetic tests configured for this application.
        monitored_users:
          type: integer
          description: Number of users with active monitoring for this application.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the application was added to monitoring.
    MonitoredAgent:
      type: object
      properties:
        agent_id:
          type: string
          description: Unique ADEM agent identifier.
        user_id:
          type: string
          description: User email or identifier associated with this agent.
        device_name:
          type: string
          description: Hostname of the endpoint device.
        os:
          type: string
          enum:
            - windows
            - macos
            - linux
            - ios
            - android
          description: Operating system of the endpoint.
        os_version:
          type: string
          description: Operating system version string.
        agent_version:
          type: string
          description: ADEM agent software version.
        site_name:
          type: string
          description: Site name where the agent is located.
        status:
          type: string
          enum:
            - connected
            - disconnected
            - degraded
          description: Current agent connectivity status.
        last_seen:
          type: string
          format: date-time
          description: Timestamp of the last agent heartbeat.
    PerformanceMetric:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Time bucket for the aggregated metric.
        user_id:
          type: string
          description: User identifier.
        site_name:
          type: string
          description: Site name.
        app_id:
          type: string
          description: Application identifier if metric is application-specific.
        metric_type:
          type: string
          enum:
            - latency
            - packet_loss
            - jitter
            - throughput
            - dns_resolution
            - tcp_connection
          description: Type of performance metric.
        value:
          type: number
          description: Metric value in the appropriate unit for the metric type.
        unit:
          type: string
          description: Unit of measurement (e.g., ms, pct, Mbps).
        segment:
          type: string
          enum:
            - endpoint
            - local_network
            - isp
            - prisma_access
            - application
          description: Network segment this metric applies to.
        sample_count:
          type: integer
          description: Number of measurement samples in this time bucket.
    ErrorResponse:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              details:
                type: object
        _request_id:
          type: string
