openapi: 3.2.0
info:
  title: SASE 5G Monitor Service Total Tenants API
  version: '1.0'
  description: "The SASE 5G Monitoring Service provides real-time visibility and technical telemetry \nfor enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nTechnical leads and network analysts utilize these APIs to track subscriber scaling, \nmonitor regional registration trends, and audit network throughput performance.\n\nBy leveraging these endpoints, organizations maintain a continuous feedback loop on \nUser Equipment (UE) activity and regional interconnect health. The service enables \nproactive troubleshooting through incident severity tracking and API performance \nmonitoring, ensuring that global 5G connectivity meets strict service level objectives \nwhile identifying unauthorized traffic or signaling gaps. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: Total Tenants
paths:
  /mt/monitor/5g/tenants:
    get:
      tags:
      - Total Tenants
      summary: Get Total Tenants
      description: Returns the total count of tenants.
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  total_tenants: 8
                header:
                  createdAt: '2025-12-17T01:28:33Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gTenants
