openapi: 3.2.0
info:
  title: Palo Alto Networks Security Advisory Products API
  description: Public REST API for querying Palo Alto Networks Product Security Incident Response Team (PSIRT) security advisories. Beta release. Provides access to published vulnerability advisories including CVE identifiers, severity ratings, CVSS scores, affected products and versions, fixed versions, and remediation guidance. No authentication is required. Advisory data covers PAN-OS, Cortex XDR, Prisma Cloud, GlobalProtect, and other Palo Alto Networks products.
  version: 1.0-beta
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://security.paloaltonetworks.com/api
  description: Palo Alto Networks Security Advisory API (public beta).
security: []
tags:
- name: Products
  description: Query affected products referenced in security advisories.
paths:
  /products:
    get:
      operationId: listAffectedProducts
      summary: Palo Alto Networks List Affected Products
      description: Returns the list of Palo Alto Networks products that are referenced in at least one published security advisory. Use the product names returned by this endpoint as values for the affected_product filter on the /advisories endpoint.
      tags:
      - Products
      responses:
        '200':
          description: Product list returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of distinct products.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
              examples:
                ListAffectedProducts200Example:
                  summary: Default listAffectedProducts 200 response
                  x-microcks-default: true
                  value:
                    total: 720
                    data:
                    - name: Branch Sensor 28
                      advisory_count: 776
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListAffectedProducts500Example:
                  summary: Default listAffectedProducts 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Malware on activity detected policy configured investigation rule Security alert network alert.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Malware on activity detected policy configured investigation rule Security alert network alert.
    Product:
      type: object
      properties:
        name:
          type: string
          description: Product name as referenced in advisories.
          example: Branch Sensor 28
        advisory_count:
          type: integer
          description: Number of published advisories referencing this product.
          example: 776
