openapi: 3.2.0
info:
  title: SP Interconnect Monitor IP Pool Usage API
  version: '1.0'
  description: "These APIs deliver real-time visibility and performance analytics for all configured interconnect \nresources through the monitoring plane. They allow network teams to track health, bandwidth throughput, \nand data transfer volumes at the edge to ensure optimal network security and reliability. \nAccess these metrics during routine audits or active troubleshooting to diagnose latency spikes or BGP session instability. \nBy applying time-based filters and histograms, you can generate detailed traffic trends and monitor IP pool consumption across your global infrastructure. Created on February 12, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- authKey: []
tags:
- name: IP Pool Usage
paths:
  /mt/sp-interconnect/monitor/ip-pool-usage:
    get:
      tags:
      - IP Pool Usage
      summary: Get IP Address Pool Usage
      description: Retrieve consumption statistics for the IP Address address pools assigned to an Interconnect. This visibility helps prevent IP Address exhaustion by tracking the percentage of used versus configured addresses across primary and secondary blocks. Use this when monitoring regional IP Address resources or when investigating incidents related to IP Address address unavailability. By submitting a valid interconnectId, you receive data on used IPs, incident counts, and pool locations for the specified resource.
      parameters:
      - name: interconnectId
        in: query
        required: true
        schema:
          type: string
        description: The interconnect ID to query
        example: c4ac1d7a-684e-11f0-92e9-4201ac16024e
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - configuredIps: 16
                  createTime: 1734992147821
                  incidentCount: 1
                  ipBlockType: SECONDARY
                  ipProvider: SP
                  location: US Central
                  percentageUsed: 100
                  region: us-central1
                  updateTime: 1734992205233
                  usedIps: 16
                - configuredIps: 4
                  createTime: 1734992147821
                  incidentCount: 1
                  ipBlockType: PRIMARY
                  ipProvider: SP
                  location: US Central
                  percentageUsed: 100
                  region: us-central1
                  updateTime: 1734992205233
                  usedIps: 4
                requestId: 4c06b78f-caa4-4be9-ab90-c58c3855bd8c
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtSp-interconnectMonitorIp-pool-usage
components:
  securitySchemes:
    authKey:
      type: http
      scheme: Bearer
