openapi: 3.2.0
info:
  title: Palo Alto Networks Policies API
  version: '1.0'
  description: 'Operations tagged Policies across 5 of this provider''s published API definitions: palo-alto-code-policies-openapi.json, palo-alto-compute-34-03-openapi-34-03-138-sh-openapi.json, palo-alto-compute-openapi-34-04-145-sh-openapi.json, palo-alto-cwpp-34-03-openapi-34-03-138-saas-openapi.json, palo-alto-cwpp-openapi-34-04-145-saas-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: PATH_TO_CONSOLE
tags:
- name: Policies
paths:
  /code/api/v1/policies/definition/{queryId}:
    post:
      description: "Prisma Cloud Application Security supports policy-as-code capabilities using YAML-based policy definition files to enable attribute and connection checks (composite checks).\n\n For information on defining YAML-based policies, see the Prisma Cloud documentation about the [Code Editor](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/custom-build-policy-examples). If you are upgraded to Darwin, see  [Code Editor](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/custom-build-policy-examples).\n\n To use the API request, add your token to the header. API supports both YAML and JSON configuration of Prisma Cloud Application Security custom policy schema.\n\n This API is used to validate a user defined Prisma Cloud Application Security YAML-based custom policy schema. It returns an array of errors for not supported keys, values, and more. This call is used to verify that a custom policy which is about to be saved is properly configured.\n\n Policy definitions include the following types:\noption 1 - \"attribute\" block (defined by cond_type=attribute) - checks the specific attributes of a given resource type\noption 2 - \"connection\" block (defined by cond_type=connection) - checks the existence of connection between given two resource group types\noption 3 - \"filter\" block (defined by cond_type=filter) - return given resource group types\noption 4 - \"and\"/\"or\"  - structure that supports nested \"and\"/\"or\" logic and blocks for options 1, 2 and 3\nUse the given examples as a reference for configuring the API request body."
      operationId: validateCustomPolicy
      parameters:
      - in: path
        name: queryId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            example:
              definition:
                or:
                - attribute: instance_type
                  cond_type: attribute
                  operator: equals
                  resource_types:
                  - aws_instance
                  value: t3.micro
                - attribute: instance_type
                  cond_type: attribute
                  operator: equals
                  resource_types:
                  - aws_instance
                  value: t3.nano
              metadata:
                category: networking
                guidelines: In order to avoid compute issues in this account - change manually instances to be at least from type t3.small
                name: Org's compute instances should not be t3.micro or t3.nano
                severity: high
              scope:
                provider: aws
            schema:
              $ref: '#/components/schemas/PolicyValidation'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsReturn'
          description: Policy definition
        '400':
          description: Invalid policy
        '403':
          description: Payment required
        '422':
          description: Request arguments validation error
      security:
      - CustomAuthorizer: []
      summary: Validate Policies - Code-based
      tags:
      - Policies
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v1/policies/definition/{queryId}\"\n\npayload = {\n    \"definition\": {\n        \"attribute\": \"string\",\n        \"cond_type\": \"attribute\",\n        \"operator\": \"within\",\n        \"resource_types\": {\n            \"property1\": {\n                \"arguments\": [\"string\"],\n                \"provider\": \"string\"\n            },\n            \"property2\": {\n                \"arguments\": [\"string\"],\n                \"provider\": \"string\"\n            }\n        },\n        \"value\": \"string\"\n    },\n    \"metadata\": {\n        \"category\": \"elasticsearch\",\n        \"guidelines\": \"string\",\n        \"name\": \"string\",\n        \"severity\": \"critical\"\n    },\n    \"scope\": {\"provider\": \"aws\"}\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v1/policies/definition/{queryId} \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"definition\":{\"attribute\":\"string\",\"cond_type\":\"attribute\",\"operator\":\"within\",\"resource_types\":{\"property1\":{\"arguments\":[\"string\"],\"provider\":\"string\"},\"property2\":{\"arguments\":[\"string\"],\"provider\":\"string\"}},\"value\":\"string\"},\"metadata\":{\"category\":\"elasticsearch\",\"guidelines\":\"string\",\"name\":\"string\",\"severity\":\"critical\"},\"scope\":{\"provider\":\"aws\"}}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v1/policies:
    post:
      deprecated: true
      description: "Prisma Cloud Application Security supports policy-as-code capabilities using YAML-based policy definition files to enable attribute and connection checks (composite checks).\n\n For information on defining YAML-based policies, see the Prisma Cloud documentation about the [Code Editor](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/custom-build-policy-examples). If you are upgraded to Darwin, see  [Code Editor](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/custom-build-policy-examples).\n\n To use the API request, add your token to the header. API supports both YAML and JSON configuration of Prisma Cloud Application Security custom policy schema.\n\n This API creates a new Prisma Cloud Application Security custom policy.\n\n The input will be a code-based policy definition file. The output will be a new policy id. In case of invalid code - output will include definition errors.\nUse the given examples as a reference for configuring the API request body for saving new policies.\n:::info\nUse the CSPM endpoint [Add Policy](/prisma-cloud/api/cspm/add-policy/) in place of this endpoint.\n:::"
      operationId: savePolicy
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/ErrorMessage'
                - $ref: '#/components/schemas/PolicyRes'
          description: Save a new policy data
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
        '202':
          description: Operation Accepted
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: Policy Validation Error
        '403':
          description: Payment required
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to create new policy
      security:
      - CustomAuthorizer: []
      summary: Save New Policy
      tags:
      - Policies
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        responseParameters:
          method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
          method.response.header.Access-Control-Allow-Methods: '''*'''
          method.response.header.Access-Control-Allow-Origin: '''*'''
          method.response.header.Access-Control-Expose-Headers: '''etag'''
        type: aws_proxy
        uri: policies_api_arn
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v1/policies\"\n\npayload = {}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v1/policies \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v1/policies/table/data:
    get:
      deprecated: true
      description: "Prisma Cloud Application Security supports policy-as-code capabilities using YAML-based policy definition files to enable attribute and connection checks (composite checks).\n\n For information on defining YAML-based policies, see the Prisma Cloud documentation about the [Code Editor](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/custom-build-policy-examples). If you are upgraded to Darwin, see  [Code Editor](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/custom-build-policy-examples).\n\n To use the API request, add your token to the header. API supports both YAML and JSON configuration of Prisma Cloud Application Security custom policy schema.\n\n This API gets all Prisma Cloud Application Security custom policies with count of passed, failed, suppressed resources, scan status (compliant/non-compliant), and attached benchmarks of specific policies.\n\n Use the given examples as a reference for the expected output of this API request.\n:::info \n Use the CSPM endpoint [List Policies V2](/prisma-cloud/api/cspm/get-policies-v-2/) in place of this endpoint.\n :::"
      operationId: getCustomPoliciesTable
      parameters: []
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    data:
                    - accountsData: {}
                      benchmarks:
                        CIS AWS V1.2:
                        - id
                        CIS AZURE V1.1:
                        - id
                        CIS KUBERNETES V1.5:
                        - id
                        HIPAA:
                        - id_1
                        - id_2
                        - id_3
                        - id_4
                        - id_5
                        - id_6
                        PCI-DSS V3.2:
                        - id_1
                        - id_2
                      category: IAM
                      code: null
                      conditionQuery: null
                      createdBy: null
                      guideline: https://docs
                      id: POLICY_ID
                      isCustom: false
                      provider: AWS
                      resourceTypes:
                      - aws_root
                      severity: CRITICAL
                      title: Title of the policy
                    - accountsData:
                        owner/repo:
                          amounts:
                            AWAITING_REMEDIATION: 0
                            CLOSED: 0
                            DELETED: 0
                            OPEN: 1
                            REMEDIATED: 0
                            SUPPRESSED: 0
                          lastUpdateDate: '2021-06-14T10:27:15.230Z'
                        owner2/repo2:
                          amounts:
                            AWAITING_REMEDIATION: 0
                            CLOSED: 0
                            DELETED: 0
                            OPEN: 1
                            REMEDIATED: 0
                            SUPPRESSED: 0
                          lastUpdateDate: '2021-06-14T10:27:11.490Z'
                      benchmarks:
                        CIS AWS V1.2:
                        - id
                        CIS AZURE V1.1:
                        - id
                        CIS KUBERNETES V1.5:
                        - id
                        HIPAA:
                        - id_1
                        - id_2
                        - id_3
                        - id_4
                        - id_5
                        - id_6
                        PCI-DSS V3.2:
                        - id_1
                        - id_2
                      category: IAM
                      code: null
                      conditionQuery: null
                      createdBy: null
                      guideline: https://docs
                      id: POLICY_ID
                      isCustom: false
                      provider: AWS
                      resourceTypes:
                      - aws_iam_user_policy
                      - aws_iam_user_policy_attachment
                      - aws_iam_policy_attachment
                      severity: CRITICAL
                      title: Policy title
                    filters:
                      accounts:
                      - owner/repo
                      - owner2/repo2
                      benchmarks:
                      - SOC2
                      - PCI-DSS V3.2
                      - HIPAA
                      - NIST-800-53
                      - ISO27001
                      - CIS AWS V1.2
                      - CIS AWS V1.3
                      - PCI-DSS V3.2.1
                      - FEDRAMP (MODERATE)
                      - CIS GKE V1.1
                      - CIS KUBERNETES V1.5
                      - CIS EKS V1.1
                      - CIS KUBERNETES V1.6
                      - CIS GCP V1.1
                      - CIS AZURE V1.1
                      - CIS AZURE V1.3
                      - CIS DOCKER V1.2
                      category:
                      - IAM
                      - Monitoring
                      - Logging
                      - Networking
                      - Storage
                      - Serverless
                      - Public
                      - General
                      - Elasticsearch
                      - Secrets
                      createdBy:
                      - Prisma Cloud Application Security
                      - user@email.com
                      provider:
                      - Kubernetes
                      - AWS
                      - GCP
                      - Azure
                      - Docker
                      resourceTypes:
                      - aws_root
                      - aws_iam_user
                      - aws_iam_access_key
                      - aws_iam_account_password_policy
                      - aws_root_access_key
                      - google_project
                      severity:
                      - CRITICAL
                      - HIGH
                      - MEDIUM
                      - LOW
              schema:
                anyOf:
                - $ref: '#/components/schemas/PoliciesTable'
                - $ref: '#/components/schemas/ErrorMessage'
          description: Returns custom policies with benchmarks and errors count
        '500':
          description: Failed to get custom policies with benchmarks and errors count
      security:
      - CustomAuthorizer: []
      summary: Get Custom Policies Table Data
      tags:
      - Policies
      x-codeSamples:
      - lang: Python + Requests
        source: 'import requests


          url = "https://api.prismacloud.io/code/api/v1/policies/table/data"


          headers = {"authorization": "REPLACE_KEY_VALUE"}


          response = requests.request("GET", url, headers=headers)


          print(response.text)'
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url https://api.prismacloud.io/code/api/v1/policies/table/data \\\n  --header 'authorization: REPLACE_KEY_VALUE'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v1/policies/{policyId}:
    put:
      deprecated: true
      description: "Prisma Cloud Application Security supports policy-as-code capabilities using YAML-based policy definition files to enable attribute and connection checks (composite checks).\n\n For information on defining YAML-based policies, see the Prisma Cloud documentation about the [Code Editor](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/custom-build-policy-examples). If you are upgraded to Darwin, see  [Code Editor](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/custom-build-policy-examples).\n\n To use the API request, add your token to the header. API supports both YAML and JSON configuration of Prisma Cloud Application Security custom policy schema.\n\n This API request updates an existing Prisma Cloud Application Security custom policy. The API contains the fields to be edited. Any field not included in the request will remain unchanged.\n\n You can use this API request to add fields that were previously not configured. The output will be the id of updated policy.\nUse the given examples as a reference for configuring the API request body.\n\n :::info\nUse the CSPM endpoint [Update Policy](/prisma-cloud/api/cspm/update-policy/) in place of this endpoint.\n:::"
      operationId: updatePolicy
      parameters:
      - description: '- the policy Id to update'
        in: path
        name: policyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/ErrorMessage'
                - $ref: '#/components/schemas/PolicyRes'
          description: Update a policy data
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
        '202':
          description: Operation Accepted
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
        '400':
          description: Policy Validation Error
        '422':
          description: Request arguments validation error
        '500':
          description: Could not update policy
      security:
      - CustomAuthorizer: []
      summary: Update Policy
      tags:
      - Policies
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        responseParameters:
          method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
          method.response.header.Access-Control-Allow-Methods: '''*'''
          method.response.header.Access-Control-Allow-Origin: '''*'''
          method.response.header.Access-Control-Expose-Headers: '''etag'''
        type: aws_proxy
        uri: policies_api_arn
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v1/policies/{policyId}\"\n\npayload = {}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"PUT\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request PUT \\\n  --url https://api.prismacloud.io/code/api/v1/policies/{policyId} \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{}'"
    delete:
      deprecated: true
      description: "Prisma Cloud Application Security supports policy-as-code capabilities using YAML-based policy definition files to enable attribute and connection checks (composite checks).\n\n For information on defining YAML-based policies, see the Prisma Cloud documentation about the [Code Editor](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/custom-build-policy-examples). If you are upgraded to Darwin, see  [Code Editor](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/custom-build-policy-examples).\n\n To use the API request, add your token to the header. API supports both YAML and JSON configuration of Prisma Cloud Application Security custom policy schema.\n\n This API deletes an existing Prisma Cloud Application Security custom policy. The output will be the id of deleted policy.\n\n :::info\nUse the CSPM endpoint [Delete Policy](/prisma-cloud/api/cspm/delete-policy/) in place of this endpoint.\n:::"
      operationId: removePolicy
      parameters:
      - description: '- the policy Id to delete'
        in: path
        name: policyId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    policy: policy1
              schema:
                anyOf:
                - $ref: '#/components/schemas/ErrorMessage'
                - $ref: '#/components/schemas/PolicyRes'
          description: Remove a policy data by policy id
        '201':
          description: Policy removed
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
        '404':
          description: Policy id is not exist
        '422':
          description: Request arguments validation error
        '500':
          description: Could not remove policy
      security:
      - CustomAuthorizer: []
      summary: Delete Policy
      tags:
      - Policies
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        responseParameters:
          method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
          method.response.header.Access-Control-Allow-Methods: '''*'''
          method.response.header.Access-Control-Allow-Origin: '''*'''
        type: aws_proxy
        uri: policies_api_arn
      x-codeSamples:
      - lang: Python + Requests
        source: 'import requests


          url = "https://api.prismacloud.io/code/api/v1/policies/{policyId}"


          headers = {"authorization": "REPLACE_KEY_VALUE"}


          response = requests.request("DELETE", url, headers=headers)


          print(response.text)'
      - lang: Shell + Curl
        source: "curl --request DELETE \\\n  --url https://api.prismacloud.io/code/api/v1/policies/{policyId} \\\n  --header 'authorization: REPLACE_KEY_VALUE'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v1/policies/preview:
    post:
      description: "Prisma Cloud Application Security supports policy-as-code capabilities using YAML-based policy definition files to enable attribute and connection checks (composite checks).\n\n For information on defining YAML-based policies, see the Prisma Cloud documentation about the [Code Editor](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/custom-build-policy-examples). If you are upgraded to Darwin, see  [Code Editor](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/custom-build-policy-examples).\n\n To use the API request, add your token to the header. API supports both YAML and JSON configuration of Prisma Cloud Application Security custom policy schema.\n\n This API gets up to 30 results (by default) of non-compliant resources for a specific policy. The input is the policy to test and the output is an array of resources results.\n\n Use the first example to configure the API to test a policy, and use the second example as a reference of the expected output."
      operationId: policyPreview
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              policy:
                policy_preview:
                  query:
                    attribute: value
                    cond_type: attribute
                    operator: exists
                    resource_types:
                    - aws_s3_bucket
                  resource_types:
                  - aws_s3_bucket
                  scope:
                    provider: aws
              resultsNumber: 20
              token: '12345'
            schema:
              $ref: '#/components/schemas/PolicyPreviewBody'
              type: string
        description: policy query
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    data:
                    - arn: /../folderName/account/branch/provider/resource
                      awsAccountId: owner/repo
                      code: "---\nmetadata:\n  name: \"example\" \n  guidelines: \"guidelines example\" \n  category: \"elasticsearch\" \n  severity: \"critical\" \nscope:\n  provider: \"aws\" \ndefinition: #define the conditions the policy searches for.\n  or:\n  - cond_type: \"attribute\"\n    resource_types:\n    - \"aws_instance\"\n    attribute: \"instance_type\"\n    operator: \"equals\"\n    value: \"t3.micro\"\n  - cond_type: \"attribute\"\n    resource_types:\n    - \"aws_instance\"\n    attribute: \"instance_type\"\n    operator: \"equals\"\n    value: \"t3.nano\"\n"
                      createdBy: username
                      customerName: customerName
                      file_path: filePath
                      lines:
                      - 10
                      - 20
                      resource: aws_s3_bucket.logs
                      source: ''
                      status: Pass
                    - arn: arn
                      awsAccountId: owner/repo
                      code: resource code block
                      createdBy: username
                      customerName: customerName
                      file_path: filePath
                      lines:
                      - 4
                      - 6
                      resource: aws_s3_bucket.flowbucket
                      source: ''
                      status: Fail
                    token: '12345'
              schema:
                anyOf:
                - $ref: '#/components/schemas/policyPreviewResult'
                - $ref: '#/components/schemas/ErrorMessage'
          description: Got policy preview
          headers:
            Access-Control-Allow-Headers:
              schema:
                type: string
            Access-Control-Allow-Methods:
              schema:
                type: string
            Access-Control-Allow-Origin:
              schema:
                type: string
        '403':
          description: Payment required
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: policies are not found
        '422':
          description: Request arguments validation error
        '500':
          description: Could not get policy preview data
      security:
      - CustomAuthorizer: []
      summary: Policy Preview
      tags:
      - Policies
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        responseParameters:
          method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
          method.response.header.Access-Control-Allow-Methods: '''*'''
          method.response.header.Access-Control-Allow-Origin: '''*'''
        type: aws_proxy
        uri: policies_api_arn
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v1/policies/preview\"\n\npayload = {\n    \"checkovCheckId\": \"string\",\n    \"policy\": {\"policy_preview\": {\n            \"query\": {\n                \"attribute\": \"string\",\n                \"cond_type\": \"attribute\",\n                \"operator\": \"within\",\n                \"resource_types\": {\n                    \"property1\": {\n                        \"arguments\": [\"string\"],\n                        \"provider\": \"string\"\n                    },\n                    \"property2\": {\n                        \"arguments\": [\"string\"],\n                        \"provider\": \"string\"\n                    }\n                },\n                \"value\": \"string\"\n            },\n            \"resource_types\": \"string\",\n            \"scope\": {\"provider\": \"aws\"}\n        }},\n    \"policyId\": \"string\",\n    \"resultsNumber\": 0,\n    \"token\": \"string\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v1/policies/preview \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"checkovCheckId\":\"string\",\"policy\":{\"policy_preview\":{\"query\":{\"attribute\":\"string\",\"cond_type\":\"attribute\",\"operator\":\"within\",\"resource_types\":{\"property1\":{\"arguments\":[\"string\"],\"provider\":\"string\"},\"property2\":{\"arguments\":[\"string\"],\"provider\":\"string\"}},\"value\":\"string\"},\"resource_types\":\"string\",\"scope\":{\"provider\":\"aws\"}}},\"policyId\":\"string\",\"resultsNumber\":0,\"token\":\"string\"}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v1/policies/clone/{policyId}:
    post:
      deprecated: true
      description: "Prisma Cloud Application Security supports policy-as-code capabilities using YAML-based policy definition files to enable attribute and connection checks (composite checks).\n\n For information on defining YAML-based policies, see the Prisma Cloud documentation about the [Code Editor](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/classic/appsec-admin-guide/get-started/code-repositories-policy-management/custom-build-policy-examples). If you are upgraded to Darwin, see  [Code Editor](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/code-editor) and [Custom Build Policy Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/governance/custom-build-policies/custom-build-policy-examples).\n\n To use the API request, add your token to the header. API supports both YAML and JSON configuration of Prisma Cloud Application Security custom policy schema.\n\n This API clones an existing Policy.\n\n Given a valid Policy Id, this API will create a new Policy based on the different fields from the original Policy, and will override any field given to it as input.\n\n :::info\nUse the CSPM endpoint [Update Policy](/prisma-cloud/api/cspm/update-policy/) in place of this endpoint.\n:::\n        "
      operationId: clonePolicy
      parameters:
      - in: path
        name: policyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Example 1:
                value:
                  guidelines: New Policy guidelines
                  severity: low
              Example 2:
                value:
                  benchmarks:
                    PCI-DSS V3.2.1:
                    - '1.2'
                    - 1.2.1
                    - '2.2'
                  constructiveTitle: Ensure using AWS Account root user is avoided
                  guidelines: New Policy guidelines
                  severity: medium
            schema:
              $ref: '#/components/schemas/ClonePolicy'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value: acme_AWS_1644304546830
              schema:
                anyOf:
                - $ref: '#/components/schemas/ErrorMessage'
                - type: string
          description: Clone a policy
        '400':
          description: Exceed custom secrets policies limit
        '422':
          description: Request arguments validation error
        '500':
          description: Could not clone policy
      security:
      - CustomAuthorizer: []
      summary: Policy Clone
      tags:
      - Policies
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v1/policies/clone/{policyId}\"\n\npayload = {\n    \"benchmarks\": {\n        \"property1\": [\"string\"],\n        \"property2\": [\"string\"]\n    },\n    \"category\": \"elasticsearch\",\n    \"code\": {\n        \"definition\": {\n            \"attribute\": \"string\",\n            \"cond_type\": \"attribute\",\n            \"operator\": \"within\",\n            \"resource_types\": {\n                \"property1\": {\n                    \"arguments\": [\"string\"],\n                    \"provider\": \"string\"\n                },\n                \"property2\": {\n                    \"arguments\": [\"string\"],\n                    \"provider\": \"string\"\n                }\n            },\n            \"value\": \"string\"\n        },\n        \"metadata\": {\n            \"category\": \"elasticsearch\",\n            \"guidelines\": \"string\",\n            \"name\": \"string\",\n            \"severity\": \"critical\"\n        },\n        \"scope\": {\"provider\": \"aws\"}\n    },\n    \"conditions\": {\n        \"attribute\": \"string\",\n        \"cond_type\": \"attribute\",\n        \"operator\": \"within\",\n        \"resource_types\": {\n            \"property1\": {\n                \"arguments\": [\"string\"],\n                \"provider\": \"string\"\n            },\n            \"property2\": {\n                \"arguments\": [\"string\"],\n                \"provider\": \"string\"\n            }\n        },\n        \"value\": \"string\"\n    },\n    \"constructiveTitle\": \"string\",\n    \"descriptiveTitle\": \"string\",\n    \"frameworks\": [\"Terraform\"],\n    \"guidelines\": \"string\",\n    \"provider\": \"aws\",\n    \"severity\": \"critical\",\n    \"title\": \"string\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v1/policies/clone/{policyId} \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"benchmarks\":{\"property1\":[\"string\"],\"property2\":[\"string\"]},\"category\":\"elasticsearch\",\"code\":{\"definition\":{\"attribute\":\"string\",\"cond_type\":\"attribute\",\"operator\":\"within\",\"resource_types\":{\"property1\":{\"arguments\":[\"string\"],\"provider\":\"string\"},\"property2\":{\"arguments\":[\"string\"],\"provider\":\"string\"}},\"value\":\"string\"},\"metadata\":{\"category\":\"elasticsearch\",\"guidelines\":\"string\",\"name\":\"string\",\"severity\":\"critical\"},\"scope\":{\"provider\":\"aws\"}},\"conditions\":{\"attribute\":\"string\",\"cond_type\":\"attribute\",\"operator\":\"within\",\"resource_types\":{\"property1\":{\"arguments\":[\"string\"],\"provider\":\"string\"},\"property2\":{\"arguments\":[\"string\"],\"provider\":\"string\"}},\"value\":\"string\"},\"constructiveTitle\":\"string\",\"descriptiveTitle\":\"string\",\"frameworks\":[\"Terraform\"],\"guidelines\":\"string\",\"provider\":\"aws\",\"severity\":\"critical\",\"title\":\"string\"}'"
    servers:
    - url: https://api.prismacloud.io
  /api/v34.03/policies/compliance/ci/images:
    get:
      description: 'Get Continuous Integration (CI) Image Compliance Policy. GET /api/v34.03/policies/compliance/ci/images on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-compliance-ci-images
      summary: Get Continuous Integration (CI) Image Compliance Policy
      x-description-source: desc/policies/compliance_ci_images_get.md
    put:
      description: 'Update Continuous Integration (CI) Image Compliance Policy. PUT /api/v34.03/policies/compliance/ci/images on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: put-policies-compliance-ci-images
      summary: Update Continuous Integration (CI) Image Compliance Policy
      x-description-source: desc/policies/compliance_ci_images_put.md
  /api/v34.03/policies/compliance/ci/serverless:
    get:
      description: 'Get Continuous Integration (CI) Serverless Compliance Policy. GET /api/v34.03/policies/compliance/ci/serverless on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: get-policies-compliance-ci-serverless
      summary: Get Continuous Integration (CI) Serverless Compliance Policy
      x-description-source: desc/policies/compliance_ci_serverless_get.md
    put:
      description: 'Update Continuous Integration (CI) Serverless Compliance Policy. PUT /api/v34.03/policies/compliance/ci/serverless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: put-policies-compliance-ci-serverless
      summary: Update Continuous Integration (CI) Serverless Compliance Policy
      x-description-source: desc/policies/compliance_ci_serverless_put.md
  /api/v34.03/policies/compliance/container:
    get:
      description: 'Get Container Compliance Policy. GET /api/v34.03/policies/compliance/container on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-compliance-container
      summary: Get Container Compliance Policy
      x-description-source: desc/policies/compliance_container_get.md
    put:
      description: 'Update Container Compliance Policy. PUT /api/v34.03/policies/compliance/container on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: put-policies-compliance-container
      summary: Update Container Compliance Policy
      x-description-source: desc/policies/compliance_container_put.md
  /api/v34.03/policies/compliance/container/impacted:
    get:
      description: 'Get Impacted Container Compliance Policy. GET /api/v34.03/policies/compliance/container/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.ImageScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-compliance-container-impacted
      summary: Get Impacted Container Compliance Policy
      x-description-source: desc/policies/compliance_container_impacted_get.md
  /api/v34.03/policies/compliance/host:
    get:
      description: 'Get Host Compliance Policy. GET /api/v34.03/policies/compliance/host on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: get-policies-compliance-host
      summary: Get Host Compliance Policy
      x-description-source: desc/policies/compliance_host_get.md
    put:
      description: 'Update Host Compliance Policy. PUT /api/v34.03/policies/compliance/host on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: put-policies-compliance-host
      summary: Update Host Compliance Policy
      x-description-source: desc/policies/compliance_host_put.md
  /api/v34.03/policies/compliance/serverless:
    get:
      description: 'Get Serverless Compliance Policy. GET /api/v34.03/policies/compliance/serverless on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: get-policies-compliance-serverless
      summary: Get Serverless Compliance Policy
      x-description-source: desc/policies/compliance_serverless_get.md
    put:
      description: 'Update Serverless Compliance Policy. PUT /api/v34.03/policies/compliance/serverless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: put-policies-compliance-serverless
      summary: Update Serverless Compliance Policy
      x-description-source: desc/policies/compliance_serverless_put.md
  /api/v34.03/policies/compliance/vms/impacted:
    get:
      description: 'Get Impacted VMs Compliance Policy. GET /api/v34.03/policies/compliance/vms/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.ImageScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: get-policies-compliance-vms-impacted
      summary: Get Impacted VMs Compliance Policy
      x-description-source: desc/policies/compliance_vms_impacted_get.md
  /api/v34.03/policies/firewall/app/agentless:
    get:
      description: 'Get Agentless App Firewall Policy. GET /api/v34.03/policies/firewall/app/agentless on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waas.Policy'
          description: Policy representation details
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-agentless
      summary: Get Agentless App Firewall Policy
      x-description-source: desc/policies/firewall_app_agentless_get.md
    put:
      description: 'Set Agentless App Firewall Policy. PUT /api/v34.03/policies/firewall/app/agentless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waas.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: put-policies-firewall-app-agentless
      summary: Set Agentless App Firewall Policy
      x-description-source: desc/policies/firewall_app_agentless_put.md
  /api/v34.03/policies/firewall/app/agentless/impacted:
    get:
      description: 'Get Agentless App Firewall Policy Impacted. GET /api/v34.03/policies/firewall/app/agentless/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_waas.VPCConfigMirroredResource'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-agentless-impacted
      summary: Get Agentless App Firewall Policy Impacted
      x-description-source: desc/policies/firewall_app_agentless_impacted_get.md
  /api/v34.03/policies/firewall/app/agentless/resources:
    get:
      description: 'Get Agentless App Firewall Policy Resources. GET /api/v34.03/policies/firewall/app/agentless/resources on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'ConfigID is the ID of the VPC configuration.

          '
        in: query
        name: configID
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_waas.VPCConfigResource'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-agentless-resources
      summary: Get Agentless App Firewall Policy Resources
      x-description-source: desc/policies/firewall_app_agentless_resources_get.md
  /api/v34.03/policies/firewall/app/agentless/state:
    get:
      description: 'Get Agentless App Firewall Policy State. GET /api/v34.03/policies/firewall/app/agentless/state on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waas.AgentlessPolicyState'
          description: AgentlessPolicyState is the state of the agentless policy
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-agentless-state
      summary: Get Agentless App Firewall Policy State
      x-description-source: desc/policies/firewall_app_agentless_state_get.md
  /api/v34.03/policies/firewall/app/apispec:
    post:
      description: 'Generate a WAAS API Specification Object. POST /api/v34.03/policies/firewall/app/apispec on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waas.APISpec'
          description: APISpec is an API specification
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: post-policies-firewall-app-apispec
      summary: Generate a WAAS API Specification Object
      x-description-source: desc/policies/firewall_app_apispec_post.md
  /api/v34.03/policies/firewall/app/app-embedded:
    get:
      description: 'Get WAAS App-embedded Policy. GET /api/v34.03/policies/firewall/app/app-embedded on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waas.Policy'
          description: Policy representation details
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-app-embedded
      summary: Get WAAS App-embedded Policy
      x-description-source: desc/policies/firewall_app-embedded_get.md
    put:
      description: 'Update WAAS App-embedded Policy. PUT /api/v34.03/policies/firewall/app/app-embedded on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waas.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: put-policies-firewall-app-app-embedded
      summary: Update WAAS App-embedded Policy
      x-description-source: desc/policies/firewall_app-embedded_put.md
  /api/v34.03/policies/firewall/app/container:
    get:
      description: 'Get WAAS Container Policy. GET /api/v34.03/policies/firewall/app/container on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waas.Policy'
          description: Policy representation details
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-container
      summary: Get WAAS Container Policy
      x-description-source: desc/policies/firewall_app_container_get.md
    put:
      description: 'Update WAAS Container Policy. PUT /api/v34.03/policies/firewall/app/container on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waas.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: put-policies-firewall-app-container
      summary: Update WAAS Container Policy
      x-description-source: desc/policies/firewall_app_container_put.md
  /api/v34.03/policies/firewall/app/container/impacted:
    get:
      description: 'Container App Firewall Policy Impacted. GET /api/v34.03/policies/firewall/app/container/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.ContainerScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-container-impacted
      summary: Container App Firewall Policy Impacted
      x-description-source: desc/policies/firewall_app_container_impacted_get.md
  /api/v34.03/policies/firewall/app/host:
    get:
      description: 'Get WAAS Host Policy. GET /api/v34.03/policies/firewall/app/host on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waas.Policy'
          description: Policy representation details
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-host
      summary: Get WAAS Host Policy
      x-description-source: desc/policies/firewall_app_host_get.md
    put:
      description: 'Update WAAS Host Policy. PUT /api/v34.03/policies/firewall/app/host on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waas.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: put-policies-firewall-app-host
      summary: Update WAAS Host Policy
      x-description-source: desc/policies/firewall_app_host_put.md
  /api/v34.03/policies/firewall/app/host/impacted:
    get:
      description: 'Host App Firewall Policy Impacted. GET /api/v34.03/policies/firewall/app/host/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.ImageScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-host-impacted
      summary: Host App Firewall Policy Impacted
      x-description-source: desc/policies/firewall_app_host_impacted_get.md
  /api/v34.03/policies/firewall/app/network-list:
    get:
      description: 'Get WAAS Network List. GET /api/v34.03/policies/firewall/app/network-list on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_waas.NetworkList'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-network-list
      summary: Get WAAS Network List
      x-description-source: desc/policies/firewall_app_network_list_get.md
    post:
      description: 'Add WAAS Network List. POST /api/v34.03/policies/firewall/app/network-list on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waas.NetworkList'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: post-policies-firewall-app-network-list
      summary: Add WAAS Network List
      x-description-source: desc/policies/firewall_app_network_list_post.md
    put:
      description: 'Update WAAS Network List. PUT /api/v34.03/policies/firewall/app/network-list on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waas.NetworkList'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: put-policies-firewall-app-network-list
      summary: Update WAAS Network List
      x-description-source: desc/policies/firewall_app_network_list_put.md
  /api/v34.03/policies/firewall/app/network-list/{id}:
    delete:
      description: 'Delete WAAS Network List. DELETE /api/v34.03/policies/firewall/app/network-list/{id} on the Policies API. Takes 1 path parameter. Documented responses: 200.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: delete-policies-firewall-app-network-list-id
      summary: Delete WAAS Network List
      x-description-source: desc/policies/firewall_app_network_list_id_delete.md
  /api/v34.03/policies/firewall/app/out-of-band:
    get:
      description: 'Get Out-of-Band WAAS Policy. GET /api/v34.03/policies/firewall/app/out-of-band on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waas.Policy'
          description: Policy representation details
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-out-of-band
      summary: Get Out-of-Band WAAS Policy
      x-description-source: desc/policies/firewall_app_out-of-band_get.md
    put:
      description: 'Update Out-of-Band WAAS Policy. PUT /api/v34.03/policies/firewall/app/out-of-band on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waas.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: put-policies-firewall-app-out-of-band
      summary: Update Out-of-Band WAAS Policy
      x-description-source: desc/policies/firewall_app_out-of-band_put.md
  /api/v34.03/policies/firewall/app/out-of-band/impacted:
    get:
      description: 'Get Impacted Resources for Out-of-Band WAAS Policy. GET /api/v34.03/policies/firewall/app/out-of-band/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_types.ImpactedOutOfBandEntity'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-out-of-band-impacted
      summary: Get Impacted Resources for Out-of-Band WAAS Policy
      x-description-source: desc/policies/firewall_app_out-of-band_impacted_get.md
  /api/v34.03/policies/firewall/app/serverless:
    get:
      description: 'Get WAAS Serverless Policy. GET /api/v34.03/policies/firewall/app/serverless on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/waas.Policy'
          description: Policy representation details
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: get-policies-firewall-app-serverless
      summary: Get WAAS Serverless Policy
      x-description-source: desc/policies/firewall_app_serverless_get.md
    put:
      description: 'Update WAAS Serverless Policy. PUT /api/v34.03/policies/firewall/app/serverless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/waas.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyWAAS
      operationId: put-policies-firewall-app-serverless
      summary: Update WAAS Serverless Policy
      x-description-source: desc/policies/firewall_app_serverless_put.md
  /api/v34.03/policies/firewall/network:
    get:
      description: 'Get CNNS Container and Host Policy. GET /api/v34.03/policies/firewall/network on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cnnf.Policy'
          description: Policy holds the data for firewall policies (host and container)
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyCNNF
      operationId: get-policies-firewall-network
      summary: Get CNNS Container and Host Policy
      x-description-source: desc/policies/firewall_network_container_get.md
    put:
      description: 'Update CNNS Container and Host Policy. PUT /api/v34.03/policies/firewall/network on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cnnf.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyCNNF
      operationId: put-policies-firewall-network
      summary: Update CNNS Container and Host Policy
      x-description-source: desc/policies/firewall_network_container_put.md
  /api/v34.03/policies/runtime/app-embedded:
    get:
      description: 'Get Runtime App-embedded Policy. GET /api/v34.03/policies/runtime/app-embedded on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtime.AppEmbeddedPolicy'
          description: AppEmbeddedPolicy represents a runtime policy enforced for a given running resource
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeServerless
      operationId: get-policies-runtime-app-embedded
      summary: Get Runtime App-embedded Policy
      x-description-source: desc/policies/runtime_app-embedded_get.md
    post:
      description: 'Add Runtime App-embedded Policy. POST /api/v34.03/policies/runtime/app-embedded on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runtime.AppEmbeddedPolicyRule'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeServerless
      operationId: post-policies-runtime-app-embedded
      summary: Add Runtime App-embedded Policy
      x-description-source: desc/policies/runtime_app-embedded_post.md
    put:
      description: 'Update Runtime App-embedded Policy. PUT /api/v34.03/policies/runtime/app-embedded on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runtime.AppEmbeddedPolicy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeServerless
      operationId: put-policies-runtime-app-embedded
      summary: Update Runtime App-embedded Policy
      x-description-source: desc/policies/runtime_app-embedded_put.md
  /api/v34.03/policies/runtime/container:
    get:
      description: 'Get Runtime Container Policy. GET /api/v34.03/policies/runtime/container on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtime.ContainerPolicy'
          description: ContainerPolicy represents a runtime policy enforced for a given running resource
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeContainer
      operationId: get-policies-runtime-container
      summary: Get Runtime Container Policy
      x-description-source: desc/policies/runtime_container_get.md
    post:
      description: 'Update Runtime Container Policy. POST /api/v34.03/policies/runtime/container on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runtime.ContainerPolicyRule'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeContainer
      operationId: post-policies-runtime-container
      summary: Update Runtime Container Policy
      x-description-source: desc/policies/runtime_container_post.md
    put:
      description: 'Set Container Runtime Policy. PUT /api/v34.03/policies/runtime/container on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runtime.ContainerPolicy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeContainer
      operationId: put-policies-runtime-container
      summary: Set Container Runtime Policy
      x-description-source: desc/policies/runtime_container_put.md
  /api/v34.03/policies/runtime/container/impacted:
    get:
      description: 'Update Runtime Impacted Container Policy. GET /api/v34.03/policies/runtime/container/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.ContainerScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeContainer
      operationId: get-policies-runtime-container-impacted
      summary: Update Runtime Impacted Container Policy
      x-description-source: desc/policies/runtime_container_impacted_get.md
  /api/v34.03/policies/runtime/host:
    get:
      description: 'Get Runtime Host Policy. GET /api/v34.03/policies/runtime/host on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtime.HostPolicy'
          description: HostPolicy represents a host runtime policy enforced for a given running resource
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeHosts
      operationId: get-policies-runtime-host
      summary: Get Runtime Host Policy
      x-description-source: desc/policies/runtime_host_get.md
    post:
      description: 'Update Runtime Host Policy. POST /api/v34.03/policies/runtime/host on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runtime.HostPolicyRule'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeHosts
      operationId: post-policies-runtime-host
      summary: Update Runtime Host Policy
      x-description-source: desc/policies/runtime_host_post.md
    put:
      description: 'Set Host Runtime Policy. PUT /api/v34.03/policies/runtime/host on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runtime.HostPolicy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeHosts
      operationId: put-policies-runtime-host
      summary: Set Host Runtime Policy
      x-description-source: desc/policies/runtime_host_put.md
  /api/v34.03/policies/runtime/serverless:
    get:
      description: 'Get Runtime Serverless Policy. GET /api/v34.03/policies/runtime/serverless on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/runtime.ServerlessPolicy'
          description: ServerlessPolicy represents a serverless runtime policy enforced for a given running resource
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeServerless
      operationId: get-policies-runtime-serverless
      summary: Get Runtime Serverless Policy
      x-description-source: desc/policies/runtime_serverless_get.md
    post:
      description: 'Update Runtime Serverless Policy. POST /api/v34.03/policies/runtime/serverless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runtime.ServerlessPolicyRule'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeServerless
      operationId: post-policies-runtime-serverless
      summary: Update Runtime Serverless Policy
      x-description-source: desc/policies/runtime_serverless_post.md
    put:
      description: 'Set Serverless Runtime Policy. PUT /api/v34.03/policies/runtime/serverless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/runtime.ServerlessPolicy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyRuntimeServerless
      operationId: put-policies-runtime-serverless
      summary: Set Serverless Runtime Policy
      x-description-source: desc/policies/runtime_serverless_put.md
  /api/v34.03/policies/vulnerability/base-images:
    get:
      description: 'Get Base Images Rules. GET /api/v34.03/policies/vulnerability/base-images on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_types.BaseImagesRule'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-vulnerability-base-images
      summary: Get Base Images Rules
      x-description-source: desc/policies/vulnerability_base_images_get.md
    post:
      description: 'Add Base Images Rule. POST /api/v34.03/policies/vulnerability/base-images on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/types.BaseImagesRule'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: post-policies-vulnerability-base-images
      summary: Add Base Images Rule
      x-description-source: desc/policies/vulnerability_base_images_post.md
  /api/v34.03/policies/vulnerability/base-images/download:
    get:
      description: 'Download Base Images Rules. GET /api/v34.03/policies/vulnerability/base-images/download on the Policies API. Documented responses: 200.'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-vulnerability-base-images-download
      summary: Download Base Images Rules
      x-description-source: desc/policies/vulnerability_base_images_download.md
  /api/v34.03/policies/vulnerability/base-images/{id}:
    delete:
      description: 'Delete Base Images Rule. DELETE /api/v34.03/policies/vulnerability/base-images/{id} on the Policies API. Takes 1 path parameter. Documented responses: 200.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: delete-policies-vulnerability-base-images-id
      summary: Delete Base Images Rule
      x-description-source: desc/policies/vulnerability_base_images_id_delete.md
  /api/v34.03/policies/vulnerability/ci/images:
    get:
      description: 'Get CI Image Vulnerability Policy. GET /api/v34.03/policies/vulnerability/ci/images on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-vulnerability-ci-images
      summary: Get CI Image Vulnerability Policy
      x-description-source: desc/policies/vulnerability_ci_images_get.md
    put:
      description: 'Update CI Image Vulnerability Policy. PUT /api/v34.03/policies/vulnerability/ci/images on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: put-policies-vulnerability-ci-images
      summary: Update CI Image Vulnerability Policy
      x-description-source: desc/policies/vulnerability_ci_images_put.md
  /api/v34.03/policies/vulnerability/ci/serverless:
    get:
      description: 'Get CI Serverless Vulnerability Policy. GET /api/v34.03/policies/vulnerability/ci/serverless on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: get-policies-vulnerability-ci-serverless
      summary: Get CI Serverless Vulnerability Policy
      x-description-source: desc/policies/vulnerability_ci_serverless_get.md
    put:
      description: 'Update CI Serverless Vulnerability Policy. PUT /api/v34.03/policies/vulnerability/ci/serverless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: put-policies-vulnerability-ci-serverless
      summary: Update CI Serverless Vulnerability Policy
      x-description-source: desc/policies/vulnerability_ci_serverless_put.md
  /api/v34.03/policies/vulnerability/host:
    get:
      description: 'Get Host Vulnerability Policy. GET /api/v34.03/policies/vulnerability/host on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: get-policies-vulnerability-host
      summary: Get Host Vulnerability Policy
      x-description-source: desc/policies/vulnerability_host_get.md
    put:
      description: 'Update Host Vulnerability Policy. PUT /api/v34.03/policies/vulnerability/host on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: put-policies-vulnerability-host
      summary: Update Host Vulnerability Policy
      x-description-source: desc/policies/vulnerability_host_put.md
  /api/v34.03/policies/vulnerability/host/impacted:
    get:
      description: 'Get Impacted Host Vulnerability Policy. GET /api/v34.03/policies/vulnerability/host/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.ImageScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyHosts
      operationId: get-policies-vulnerability-host-impacted
      summary: Get Impacted Host Vulnerability Policy
      x-description-source: desc/policies/vulnerability_host_impacted_get.md
  /api/v34.03/policies/vulnerability/images:
    get:
      description: 'Get Image Vulnerability Policy. GET /api/v34.03/policies/vulnerability/images on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-vulnerability-images
      summary: Get Image Vulnerability Policy
      x-description-source: desc/policies/vulnerability_images_get.md
    put:
      description: 'Update Image Vulnerability Policy. PUT /api/v34.03/policies/vulnerability/images on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: put-policies-vulnerability-images
      summary: Update Image Vulnerability Policy
      x-description-source: desc/policies/vulnerability_images_put.md
  /api/v34.03/policies/vulnerability/images/impacted:
    get:
      description: 'Get Impacted Image Vulnerability Policy. GET /api/v34.03/policies/vulnerability/images/impacted on the Policies API. Takes 5 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'RuleName is the rule name to apply.

          '
        in: query
        name: ruleName
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.ImageScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-vulnerability-images-impacted
      summary: Get Impacted Image Vulnerability Policy
      x-description-source: desc/policies/vulnerability_images_impacted_get.md
  /api/v34.03/policies/vulnerability/serverless:
    get:
      description: 'Get Serverless Vulnerability Policy. GET /api/v34.03/policies/vulnerability/serverless on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: get-policies-vulnerability-serverless
      summary: Get Serverless Vulnerability Policy
      x-description-source: desc/policies/vulnerability_serverless_get.md
    put:
      description: 'Update Serverless Vulnerability Policy. PUT /api/v34.03/policies/vulnerability/serverless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: put-policies-vulnerability-serverless
      summary: Update Serverless Vulnerability Policy
      x-description-source: desc/policies/vulnerability_serverless_put.md
  /api/v34.04/policies/compliance/ci/images:
    get:
      description: 'Get Continuous Integration (CI) Image Compliance Policy. GET /api/v34.04/policies/compliance/ci/images on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: get-policies-compliance-ci-images
      summary: Get Continuous Integration (CI) Image Compliance Policy
      x-description-source: desc/policies/compliance_ci_images_get.md
    put:
      description: 'Update Continuous Integration (CI) Image Compliance Policy. PUT /api/v34.04/policies/compliance/ci/images on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyContainers
      operationId: put-policies-compliance-ci-images
      summary: Update Continuous Integration (CI) Image Compliance Policy
      x-description-source: desc/policies/compliance_ci_images_put.md
  /api/v34.04/policies/compliance/ci/serverless:
    get:
      description: 'Get Continuous Integration (CI) Serverless Compliance Policy. GET /api/v34.04/policies/compliance/ci/serverless on the Policies API. Documented responses: 200.'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shared.Policy'
          description: Policy represents a policy that should be enforced by the Auditor
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: get-policies-compliance-ci-serverless
      summary: Get Continuous Integration (CI) Serverless Compliance Policy
      x-description-source: desc/policies/compliance_ci_serverless_get.md
    put:
      description: 'Update Continuous Integration (CI) Serverless Compliance Policy. PUT /api/v34.04/policies/compliance/ci/serverless on the Policies API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.Policy'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Policies
      x-prisma-cloud-target-env:
        permission: policyServerless
      operationId: put-policies-compliance-ci-serverless
      summary: Update Continuous Integration (CI) Serverless Compliance Policy
      x-description-source: desc/policies/compliance_ci_serverless_put.md
  /api/v34.04/policies/compliance/container:
    get:
[...]
