openapi: 3.2.0
info:
  title: SASE 5G Monitor Service 5G Registered Trend API
  version: '1.0'
  description: 'The SASE 5G Monitoring Service provides real-time visibility and technical telemetry

    for enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem.'
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: 5G Registered Trend
paths:
  /mt/monitor/5g/ueIp/registered/trend:
    post:
      tags:
      - 5G Registered Trend
      summary: Get Registered UE Trend
      description: Returns the trend of registered UE devices over time.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendRequest'
            example:
              properties:
              - property: imei
                function: count
                alias: registered_count
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
                - property: compute_region
                  operator: in
                  values:
                  - us-central1
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - event_time: 1765324800000
                  registered_count: 4
                - event_time: 1765411200000
                  registered_count: 4
                header:
                  createdAt: '2025-12-17T02:05:29Z'
                  clientRequestId: null
                  dataCount: 7
                  status:
                    subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gUeipRegisteredTrend
components:
  schemas:
    TrendRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              function:
                type: string
              alias:
                type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
