openapi: 3.2.0
info:
  title: SASE 5G Monitor Service Bandwidth Consumption API
  version: '1.0'
  description: "The SASE 5G Monitoring Service provides real-time visibility and technical telemetry \nfor enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nTechnical leads and network analysts utilize these APIs to track subscriber scaling, \nmonitor regional registration trends, and audit network throughput performance.\n\nBy leveraging these endpoints, organizations maintain a continuous feedback loop on \nUser Equipment (UE) activity and regional interconnect health. The service enables \nproactive troubleshooting through incident severity tracking and API performance \nmonitoring, ensuring that global 5G connectivity meets strict service level objectives \nwhile identifying unauthorized traffic or signaling gaps. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: Bandwidth Consumption
paths:
  /mt/monitor/5g/ueIp/bandwidth:
    post:
      tags:
      - Bandwidth Consumption
      summary: Get Bandwidth Consumption for Users
      description: Returns the egress and ingress bandwidth consumption for users.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BandwidthRequest'
            example:
              filter:
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
                - property: tsg_id
                  operator: in
                  values:
                  - '1916630658'
                  - '1316969669'
                  - '1817714134'
                - property: compute_region
                  operator: in
                  values:
                  - us-central1
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - username: iot-test\\112233445566776_test.com
                  total_rx_bytes: 0
                  total_tx_bytes: 0
                  rx_throughput_bps: 0.0
                  tx_throughput_bps: 0.0
                  imei: 100000000000000
                  imsi: 112233445566776
                  apn: test.com
                  tsg_id: 12345678
                  compute_region: us-west2
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gUeipBandwidth
components:
  schemas:
    BandwidthRequest:
      type: object
      properties:
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
