openapi: 3.2.0
info:
  title: Palo Alto Networks Scans API
  version: '1.0'
  description: 'Operations tagged Scans across 6 of this provider''s published API definitions: palo-alto-code-scans-openapi.json, palo-alto-compute-34-03-openapi-34-03-138-sh-openapi.json, palo-alto-compute-openapi-34-04-145-sh-openapi.json, palo-alto-cwpp-34-03-openapi-34-03-138-saas-openapi.json, palo-alto-cwpp-openapi-34-04-145-saas-openapi.json, palo-alto-prisma-airs-scan-scan-service-latest-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: PATH_TO_CONSOLE
- url: https://service.api.aisecurity.paloaltonetworks.com
  description: Prisma AIRS API service URL for US regions
- url: https://service-de.api.aisecurity.paloaltonetworks.com
  description: Prisma AIRS API service URL for EU (Germany) regions
- url: https://service-in.api.aisecurity.paloaltonetworks.com
  description: Prisma AIRS API service URL for India regions
- url: https://service-sg.api.aisecurity.paloaltonetworks.com
  description: Prisma AIRS API service URL for Singapore regions
tags:
- name: Scans
paths:
  /code/api/v1/scans/integrations:
    post:
      description: 'Trigger asynchronous scan of all resources to refresh the current state at Prisma Cloud Application Security.

        The scan will update resources configured in cloud providers (AWS/Azure/GCP)

        and IaC resources in the main branch at each version control system (Github/Gitlab/Bitbucket).

        Please note: A new scan will not  be triggered only if there is another running execution.'
      operationId: scanIntegrations
      parameters: []
      responses:
        '201':
          content:
            application/json:
              schema:
                properties:
                  isExecuted:
                    type: boolean
                  message:
                    type: string
                required:
                - message
                - isExecuted
                type: object
          description: Scan started
      security:
      - CustomAuthorizer: []
      summary: Trigger a Scan
      tags:
      - Scans
      x-codeSamples:
      - lang: Python + Requests
        source: 'import requests


          url = "https://api.prismacloud.io/code/api/v1/scans/integrations"


          headers = {"authorization": "REPLACE_KEY_VALUE"}


          response = requests.request("POST", url, headers=headers)


          print(response.text)'
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v1/scans/integrations \\\n  --header 'authorization: REPLACE_KEY_VALUE'"
    servers:
    - url: https://api.prismacloud.io
  /api/v34.03/scans:
    get:
      description: 'Get All CI Image Scan Results. GET /api/v34.03/scans on the Scans API. Takes 17 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'Scan ID used in the image layers fetch.

          '
        in: query
        name: _id
        schema:
          type: string
      - description: 'Jenkins job name.

          '
        in: query
        name: jobName
        schema:
          description: 'Jenkins job name.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Scan type.

          '
        in: query
        name: type
        schema:
          description: 'Scan type.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Indicates whether to filter on passed scans (true) or not (false).

          '
        in: query
        name: pass
        schema:
          type: boolean
      - description: 'Build number.

          '
        in: query
        name: build
        schema:
          type: string
      - description: 'Image ID of scanned image.

          '
        in: query
        name: imageID
        schema:
          type: string
      - description: 'Indicates if CVEs are mapped to image layer (true) or not (false).

          '
        in: query
        name: layers
        schema:
          type: boolean
      - description: 'Filters results by start datetime. Based on scan time.

          '
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: 'Filters results by end datetime. Based on scan time.

          '
        in: query
        name: to
        schema:
          format: date-time
          type: string
      - description: 'List of fields to retrieve.

          '
        in: query
        name: fields
        schema:
          description: 'List of fields to retrieve.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Indicates if base image vulnerabilities are to be filtered (true) or not (false). Requires predefined base images that have already been scanned.

          '
        in: query
        name: filterBaseImage
        schema:
          type: boolean
      - description: 'Filters results by uaiID.

          '
        in: query
        name: uaiID
        schema:
          type: string
      - description: 'Filters results by issue type.

          '
        in: query
        name: issueType
        schema:
          description: IssueType is used to filter scan results by issue type
          enum:
          - - vulnerabilities
            - compliance
            - ''
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.CLIScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Scans
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: get-scans
      summary: Get All CI Image Scan Results
      x-description-source: desc/scans/get.md
    post:
      description: 'Add CLI Scan Result. POST /api/v34.03/scans on the Scans API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.CLIScanResult'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Scans
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: post-scans
      summary: Add CLI Scan Result
      x-description-source: desc/scans/post.md
  /api/v34.03/scans/download:
    get:
      description: 'Download CI Image Scan Results. GET /api/v34.03/scans/download on the Scans API. Takes 17 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'Scan ID used in the image layers fetch.

          '
        in: query
        name: _id
        schema:
          type: string
      - description: 'Jenkins job name.

          '
        in: query
        name: jobName
        schema:
          description: 'Jenkins job name.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Scan type.

          '
        in: query
        name: type
        schema:
          description: 'Scan type.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Indicates whether to filter on passed scans (true) or not (false).

          '
        in: query
        name: pass
        schema:
          type: boolean
      - description: 'Build number.

          '
        in: query
        name: build
        schema:
          type: string
      - description: 'Image ID of scanned image.

          '
        in: query
        name: imageID
        schema:
          type: string
      - description: 'Indicates if CVEs are mapped to image layer (true) or not (false).

          '
        in: query
        name: layers
        schema:
          type: boolean
      - description: 'Filters results by start datetime. Based on scan time.

          '
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: 'Filters results by end datetime. Based on scan time.

          '
        in: query
        name: to
        schema:
          format: date-time
          type: string
      - description: 'List of fields to retrieve.

          '
        in: query
        name: fields
        schema:
          description: 'List of fields to retrieve.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Indicates if base image vulnerabilities are to be filtered (true) or not (false). Requires predefined base images that have already been scanned.

          '
        in: query
        name: filterBaseImage
        schema:
          type: boolean
      - description: 'Filters results by uaiID.

          '
        in: query
        name: uaiID
        schema:
          type: string
      - description: 'Filters results by issue type.

          '
        in: query
        name: issueType
        schema:
          description: IssueType is used to filter scan results by issue type
          enum:
          - - vulnerabilities
            - compliance
            - ''
          type: string
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Scans
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: get-scans-download
      summary: Download CI Image Scan Results
      x-description-source: desc/scans/download_get.md
  /api/v34.03/scans/{id}:
    get:
      description: 'Get CI Image Scan Results. GET /api/v34.03/scans/{id} on the Scans API. Takes 1 path parameter. Documented responses: 200.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Scans
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: get-scans-id
      summary: Get CI Image Scan Results
      x-description-source: desc/scans/id_get.md
  /api/v34.04/scans:
    get:
      description: 'Get All CI Image Scan Results. GET /api/v34.04/scans on the Scans API. Takes 17 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'Scan ID used in the image layers fetch.

          '
        in: query
        name: _id
        schema:
          type: string
      - description: 'Jenkins job name.

          '
        in: query
        name: jobName
        schema:
          description: 'Jenkins job name.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Scan type.

          '
        in: query
        name: type
        schema:
          description: 'Scan type.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Indicates whether to filter on passed scans (true) or not (false).

          '
        in: query
        name: pass
        schema:
          type: boolean
      - description: 'Build number.

          '
        in: query
        name: build
        schema:
          type: string
      - description: 'Image ID of scanned image.

          '
        in: query
        name: imageID
        schema:
          type: string
      - description: 'Indicates if CVEs are mapped to image layer (true) or not (false).

          '
        in: query
        name: layers
        schema:
          type: boolean
      - description: 'Filters results by start datetime. Based on scan time.

          '
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: 'Filters results by end datetime. Based on scan time.

          '
        in: query
        name: to
        schema:
          format: date-time
          type: string
      - description: 'List of fields to retrieve.

          '
        in: query
        name: fields
        schema:
          description: 'List of fields to retrieve.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Indicates if base image vulnerabilities are to be filtered (true) or not (false). Requires predefined base images that have already been scanned.

          '
        in: query
        name: filterBaseImage
        schema:
          type: boolean
      - description: 'Filters results by uaiID.

          '
        in: query
        name: uaiID
        schema:
          type: string
      - description: 'Filters results by issue type.

          '
        in: query
        name: issueType
        schema:
          description: IssueType is used to filter scan results by issue type
          enum:
          - - vulnerabilities
            - compliance
            - ''
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/-_shared.CLIScanResult'
          description: ''
        default:
          description: ''
      tags:
      - Scans
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: get-scans
      summary: Get All CI Image Scan Results
      x-description-source: desc/scans/get.md
    post:
      description: 'Add CLI Scan Result. POST /api/v34.04/scans on the Scans API. Takes an optional request body. Documented responses: 200.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shared.CLIScanResult'
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Scans
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: post-scans
      summary: Add CLI Scan Result
      x-description-source: desc/scans/post.md
  /api/v34.04/scans/download:
    get:
      description: 'Download CI Image Scan Results. GET /api/v34.04/scans/download on the Scans API. Takes 17 query parameters. Documented responses: 200.'
      parameters:
      - description: 'Offsets the result to a specific report count. Offset starts from 0.

          '
        in: query
        name: offset
        schema:
          type: integer
      - description: 'Limit is the amount to fix.

          '
        in: query
        name: limit
        schema:
          type: integer
      - description: 'Sorts the result using a key.

          '
        in: query
        name: sort
        schema:
          type: string
      - description: 'Sorts the result in reverse order.

          '
        in: query
        name: reverse
        schema:
          type: boolean
      - description: 'Scan ID used in the image layers fetch.

          '
        in: query
        name: _id
        schema:
          type: string
      - description: 'Jenkins job name.

          '
        in: query
        name: jobName
        schema:
          description: 'Jenkins job name.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Scan type.

          '
        in: query
        name: type
        schema:
          description: 'Scan type.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Indicates whether to filter on passed scans (true) or not (false).

          '
        in: query
        name: pass
        schema:
          type: boolean
      - description: 'Build number.

          '
        in: query
        name: build
        schema:
          type: string
      - description: 'Image ID of scanned image.

          '
        in: query
        name: imageID
        schema:
          type: string
      - description: 'Indicates if CVEs are mapped to image layer (true) or not (false).

          '
        in: query
        name: layers
        schema:
          type: boolean
      - description: 'Filters results by start datetime. Based on scan time.

          '
        in: query
        name: from
        schema:
          format: date-time
          type: string
      - description: 'Filters results by end datetime. Based on scan time.

          '
        in: query
        name: to
        schema:
          format: date-time
          type: string
      - description: 'List of fields to retrieve.

          '
        in: query
        name: fields
        schema:
          description: 'List of fields to retrieve.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      - description: 'Indicates if base image vulnerabilities are to be filtered (true) or not (false). Requires predefined base images that have already been scanned.

          '
        in: query
        name: filterBaseImage
        schema:
          type: boolean
      - description: 'Filters results by uaiID.

          '
        in: query
        name: uaiID
        schema:
          type: string
      - description: 'Filters results by issue type.

          '
        in: query
        name: issueType
        schema:
          description: IssueType is used to filter scan results by issue type
          enum:
          - - vulnerabilities
            - compliance
            - ''
          type: string
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Scans
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: get-scans-download
      summary: Download CI Image Scan Results
      x-description-source: desc/scans/download_get.md
  /api/v34.04/scans/{id}:
    get:
      description: 'Get CI Image Scan Results. GET /api/v34.04/scans/{id} on the Scans API. Takes 1 path parameter. Documented responses: 200.'
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
        default:
          description: ''
      tags:
      - Scans
      x-prisma-cloud-target-env:
        permission: monitorCI
      operationId: get-scans-id
      summary: Get CI Image Scan Results
      x-description-source: desc/scans/id_get.md
  /v1/scan/sync/request:
    post:
      summary: Send a Synchronous Scan Request
      description: Post a scan request containing prompt or model response that returns a synchronous scan response
      security:
      - x-pan-token: []
      operationId: ScanSyncRequest
      tags:
      - Scans
      requestBody:
        description: Scan request object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanRequest'
      responses:
        '200':
          description: successfully scanned request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '413':
          $ref: '#/components/responses/RequestTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: error
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  error:
                    type: string
    servers:
    - url: https://service.api.aisecurity.paloaltonetworks.com
      description: Prisma AIRS API service URL for US regions
    - url: https://service-de.api.aisecurity.paloaltonetworks.com
      description: Prisma AIRS API service URL for EU (Germany) regions
    - url: https://service-in.api.aisecurity.paloaltonetworks.com
      description: Prisma AIRS API service URL for India regions
    - url: https://service-sg.api.aisecurity.paloaltonetworks.com
      description: Prisma AIRS API service URL for Singapore regions
  /v1/scan/async/request:
    post:
      summary: Send an Asynchronous Scan Request
      description: Post a scan request that returns an asynchronous scan response with the scan_id and report_id
      security:
      - x-pan-token: []
      operationId: ScanAsyncRequest
      tags:
      - Scans
      requestBody:
        description: A list of scan request objects
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AsyncScanRequest'
      responses:
        '200':
          description: successfully scanned request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncScanResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '413':
          $ref: '#/components/responses/RequestTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          description: error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://service.api.aisecurity.paloaltonetworks.com
      description: Prisma AIRS API service URL for US regions
    - url: https://service-de.api.aisecurity.paloaltonetworks.com
      description: Prisma AIRS API service URL for EU (Germany) regions
    - url: https://service-in.api.aisecurity.paloaltonetworks.com
      description: Prisma AIRS API service URL for India regions
    - url: https://service-sg.api.aisecurity.paloaltonetworks.com
      description: Prisma AIRS API service URL for Singapore regions
components:
  schemas:
    vuln.Application:
      description: Application represents a detected application
      properties:
        installedFromPackage:
          description: 'Indicates that the app was installed as an OS package.

            '
          type: boolean
        knownVulnerabilities:
          description: 'Total number of vulnerabilities for this application.

            '
          type: integer
        layerTime:
          description: 'Image layer to which the application belongs - layer creation time.

            '
          format: int64
          type: integer
        md5:
          description: 'MD5 is the md5sum of the app.

            '
          type: string
        name:
          description: 'Name of the application.

            '
          type: string
        originPackageName:
          description: 'OriginPackageName is the name of the app origin package.

            '
          type: string
        path:
          description: 'Path of the detected application.

            '
          type: string
        rpmModule:
          description: 'RPMModule represents the RPM module in which this application is included.

            '
          type: string
        service:
          description: 'Service indicates whether the application is installed as a service.

            '
          type: boolean
        version:
          description: 'Version of the application.

            '
          type: string
      type: object
    vulnerability.ExploitType:
      description: ExploitType represents the source of an exploit
      enum:
      - - ''
        - exploit-db
        - exploit-windows
        - cisa-kev
      type: string
    wildfire.Usage:
      description: Usage holds wildfire usage stats, period for the usage varies with context
      properties:
        bytes:
          description: 'Bytes is the total number of bytes uploaded to the WildFire API.

            '
          format: int64
          type: integer
        queries:
          description: 'Queries is the number of queries to the WildFire API.

            '
          format: int64
          type: integer
        uploads:
          description: 'Uploads is the number of uploads to the WildFire API.

            '
          format: int64
          type: integer
      type: object
    shared.ImageTag:
      description: ImageTag represents an image repository and its associated tag or registry digest
      properties:
        digest:
          description: 'Image digest (requires V2 or later registry).

            '
          type: string
        id:
          description: 'ID of the image.

            '
          type: string
        registry:
          description: 'Registry name to which the image belongs.

            '
          type: string
        repo:
          description: 'Repository name to which the image belongs.

            '
          type: string
        tag:
          description: 'Image tag.

            '
          type: string
      type: object
    common.NetworkDeviceIP:
      description: NetworkDeviceIP represents a network device name and address pair
      properties:
        ip:
          description: 'Network device IPv4 address.

            '
          type: string
        name:
          description: 'Network device name.

            '
          type: string
      type: object
    common.CloudMetadata:
      description: CloudMetadata is the metadata for a cloud provider managed asset (e.g., as part of AWS/GCP/Azure/OCI)
      properties:
        accountID:
          description: 'Cloud account ID.

            '
          type: string
        awsExecutionEnv:
          description: 'AWS execution environment (e.g. EC2/Fargate).

            '
          type: string
        azure:
          $ref: '#/components/schemas/common.AzureMetadata'
        gcp:
          $ref: '#/components/schemas/common.GCPCloudMetadata'
        image:
          description: 'The name of the image the cloud managed host or container is based on.

            '
          type: string
        labels:
          description: 'Cloud provider metadata labels.

            '
          items:
            $ref: '#/components/schemas/common.ExternalLabel'
          type: array
        name:
          description: 'Resource name.

            '
          type: string
        ociTenantID:
          description: 'OCI Tenant ID.

            '
          type: string
        provider:
          $ref: '#/components/schemas/common.CloudProvider'
        region:
          description: 'Resource''s region.

            '
          type: string
        resourceID:
          description: 'Unique ID of the resource.

            '
          type: string
        resourceURL:
          description: 'Server-defined URL for the resource.

            '
          type: string
        type:
          description: 'Instance type.

            '
          type: string
        vmID:
          description: 'Azure unique vm ID.

            '
          type: string
        vmImageID:
          description: 'VMImageID holds the VM instance''s image ID.

            '
          type: string
      type: object
    waas.UnprotectedProcess:
      description: UnprotectedProcess holds unprotected processes alongside the port
      properties:
        port:
          description: 'Port is the process port.

            '
          type: integer
        process:
          description: 'Process is the process name.

            '
          type: string
        tls:
          description: 'TLS is the port TLS indication.

            '
          type: boolean
      type: object
    shared.ScanResultType:
      description: ScanResultType represents a cloud scan result type
      enum:
      - - aws-ecr
        - aws-lambda
        - aws-ecs-task-definition
        - aws-ec2
        - aws-eks
        - aws-eks-fargate-container
        - aws-ecs
        - aws-s3
        - aws-config
        - aws-cloud-trail
        - aws-kms
        - aws-cloud-watch
        - aws-sns
        - aws-security-hub
        - aws-secrets-manager
        - aws-parameter-store
        - azure-acr
        - azure-functions
        - azure-aks
        - azure-aci
        - azure-vm
        - gcp-gcr
        - gcp-gcf
        - gcp-gke
        - gcp-vm
        - gcp-artifact
        - gcp-cloud-run-service
        - oci-instance
      type: string
    common.Color:
      description: Color is a hexadecimal representation of color code value
      type: string
    common.ACIMetadata:
      properties:
        containerGroup:
          description: '.

            '
          type: string
      type: object
    secrets.SecretScanMetrics:
      description: SecretScanMetrics represents metrics collected during secret scan
      properties:
        failedScans:
          description: 'FailedScans represents number of failed scans caused by scanner errors.

            '
          format: int64
          type: integer
        foundSecrets:
          description: 'FoundSecrets represents number of detected secrets.

            '
          type: integer
        scanTime:
          description: 'ScanTime represents cumulative secret scan time in microseconds.

            '
          format: int64
          type: integer
        scanTimeouts:
          description: 'ScanTimeouts represents number of failed scans caused by timeout.

            '
          format: int64
          type: integer
        scannedFileSize:
          description: 'ScannedFileSize represents accumulated size of scanned files.

            '
          format: int64
          type: integer
        scannedFiles:
          description: 'ScannedFiles represents number of text files scanned for secrets.

            '
          format: int64
          type: integer
        totalBytes:
          description: 'TotalBytes represents accumulated file size.

            '
          format: int64
          type: integer
        totalFiles:
          description: 'TotalFiles represents number of files read for secrets.

            '
          format: int64
          type: integer
        totalTime:
          description: 'TotalTime represents the total time in microseconds.

            '
          format: int64
          type: integer
        typesCount:
          additionalProperties:
            $ref: '#/components/schemas/int'
          description: 'TypesCount represents distribution of secrets by its type.

            '
          type: object
      type: object
    shared.Packages:
      description: Packages is a collection of packages
      properties:
        pkgs:
          description: 'List of packages.

            '
          items:
            $ref: '#/components/schemas/shared.Package'
          type: array
        pkgsType:
          $ref: '#/components/schemas/packages.Type'
      type: object
    vuln.ComplianceTemplate:
      description: ComplianceTemplate represents the compliance template
      enum:
      - - PCI
        - HIPAA
        - NIST SP 800-190
        - GDPR
        - DISA STIG
      type: string
    shared.FileDetails:
      description: FileDetails contains file details as the file path, hash checksum
      properties:
        md5:
          description: 'Hash sum of the file using md5.

            '
          type: string
        original_file_location:
          description: 'Path of the original file in a case of archive analysis.

            '
          type: string
        path:
          description: 'Path of the file.

            '
          type: string
        sha1:
          description: 'Hash sum of the file using SHA-1.

            '
          type: string
        sha256:
          description: 'Hash sum of the file using SHA256.

            '
          type: string
      type: object
    vuln.SecretType:
      description: SecretType represents a secret type
      enum:
      - - AWS Access Key ID
        - AWS Secret Key
        - AWS MWS Auth Token
        - Azure Storage Account Access Key
        - Azure Service Principal
        - GCP Service Account Auth Key
        - Private Encryption Key
        - Public Encryption Key
        - PEM X509 Certificate Header
        - SSH Authorized Keys
        - Artifactory API Token
        - Artifactory Password
        - Basic Auth Credentials
        - Mailchimp Access Key
        - NPM Token
        - Slack Token
        - Slack Webhook
        - Square OAuth Secret
        - Notion Integration Token
        - Airtable API Key
        - Atlassian Oauth2 Keys
        - CircleCI Personal Token
        - Databricks Authentication Token
        - GitHub Token
        - GitLab Token
        - Google API key
        - Grafana Token
        - Python Package Index Key (PYPI)
        - Typeform API Token
        - Scalr Token
        - Braintree Access Token
        - Braintree Payments Key
        - Paypal Token Key
        - Braintree Payments ID
        - Datadog Client Token
        - ClickUp Personal API Token
        - OpenAI API Key
        - Java DB Connectivity (JDBC)
        - MongoDB
        - .Net SQL Server
      type: string
    common.CloudRunMetadata:
      properties:
        revision:
          description: '.

            '
          type: string
        service:
          description: '.

            '
          type: string
      type: object
    vulnerability.RiskFactors:
      additionalProperties:
        $ref: '#/components/schemas/string'
      description: RiskFactors maps the existence of vulnerability risk factors
      type: object
    vulnerability.Type:
      description: Type represents the vulnerability type
      enum:
      - - container
        - image
        - host_config
        - daemon_config
        - daemon_config_files
        - security_operations
        - k8s_master
        - k8s_worker
        - k8s_federation
        - linux
        - windows
        - istio
        - serverless
        - custom
        - docker_stig
        - openshift_master
        - openshift_worker
        - application_control_linux
        - gke_worker
        - image_malware
        - host_malware
        - aks_worker
        - eks_worker
        - image_secret
        - host_secret
      type: string
    common.CloudProvider:
      description: CloudProvider specifies the cloud provider name
      enum:
      - - aws
        - azure
        - gcp
        - alibaba
        - oci
        - others
      type: string
    shared.ImageInstance:
      description: ImageInstance represents an image on a single host
      properties:
        host:
          description: '.

            '
          type: string
        image:
          description: '.

            '
          type: string
        modified:
          description: '.

            '
          format: date-time
          type: string
        registry:
          description: '.

            '
          type: string
        repo:
          description: '.

            '
          type: string
        tag:
          description: '.

            '
          type: string
      type: object
    -_shared.CLIScanResult:
      items:
        $ref: '#/components/schemas/shared.CLIScanResult'
      type: array
    common.ExternalLabel:
      description: ExternalLabel holds an external label with a source and timestamp
      properties:
        key:
          description: 'Label key.

            '
          type: string
        sourceName:
          description: 'Source name (e.g., for a namespace, the source name can be ''twistlock'').

            '
          type: string
        sourceType:
          $ref: '#/components/schemas/common.ExternalLabelSourceType'
        timestamp:
          description: 'Time when the label was fetched.

            '
          format: date-time
          type: string
        value:
          description: 'Value of the label.

            '
          type: string
      type: object
    trust.Status:
      description: Status is the trust status for an image
      enum:
      - - trusted
        - untrusted
      type: string
    vulnerability.ExploitData:
      description: ExploitData holds information about an exploit
      properties:
        kind:
          $ref: '#/components/schemas/vulnerability.ExploitKind'
        link:
          description: 'Link is a link to information about the exploit.

            '
          type: string
        source:
          $ref: '#/components/schemas/vulnerability.ExploitType'
      type: object
    string:
      type: string
    vuln.AllCompliance:
      description: AllCompliance contains data regarding passed compliance checks
      properties:
        compliance:
          description: 'Compliance are all the passed compliance checks.

            '
          items:
            $ref: '#/components/schemas/vuln.Vulnerability'
          type: array
        enabled:
          description: 'Enabled indicates whether passed compliance checks is enabled by policy.

            '
          type: boolean
      type: object
    shared.PkgsTimes:
      description: PkgsTimes are the compressed layer times for pkgs of the specific type
      properties:
        pkgTimes:
          description: '.

            '
          items:
            $ref: '#/components/schemas/int64'
          type: array
        pkgsType:
          $ref: '#/components/schemas/packages.Type'
      type: object
    vuln.Secret:
      description: Secret represents a secret found on the scanned workload
      properties:
        group:
          description: 'Group is a group name or ID of owner the file metadata containing the secret.

            '
          type: string
        locationInFile:
          description: 'LocationInFile is the line and offset in the file where the secret was found.

            '
          type: string
        metadataModifiedTime:
          description: 'MetadataModifiedTime is the modification time of the file metadata containing the secret.

            '
          format: int64
          type: integer
        modifiedTime:
          description: 'ModifiedTime is the modification time of the file containing the secret.

            '
          format: int64
          type: integer
        originalFileLocation:
          description: '.

            '
          type: string
        path:
          description: 'Path is the path of the file in which the secret was found.

            '
          type: string
        permissions:
          description: 'Permissions are permission bits of the file metadata containing the secret.

            '
          type: string
        secretID:
          description: 'SecretID is the SHA1 of the secret content.

            '
          type: string
        size:
          description: 'Size is the size in bytes of the file in which the secret was found.

            '
          format: int64
          type: integer
        snippet:
          description: 'Snippet is the partial plain secret.

            '
          type: string
        type:
          $ref: '#/components/schemas/vuln.SecretType'
        user:
          description: 'User is a username or ID of owner the file metadata containing the secret.

            '
          type: string
      type: object
    agentless.ImageScanResultErrCode:
      description: ImageScanResultErrCode represents the asset status error
      type: integer
    vuln.WildFireMalware:
      description: WildFireMalware holds the data for WildFire malicious MD5
      properties:
        md5:
          description: 'MD5 is the hash of the malicious binary.

            '
          type: string
        path:
          description: 'Path is the path to malicious binary.

            '
          type: string
        verdict:
          description: 'Verdict is the malicious source like grayware, malware and phishing.

            '
          type: string
      type: object
    vuln.Vulnerability:
      description: Vulnerability is a general schema for vulnerabilities (e.g., for compliance or packages)
      properties:
        applicableRules:
          description: 'Rules applied on the package.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        binaryPkgs:
          description: 'Names of the distro binary package names (packages which are built from the source of the package).

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        block:
          description: 'Indicates if the vulnerability has a block effect (true) or not (false).

            '
          type: boolean
        cause:
          description: 'Additional information regarding the root cause for the vulnerability.

            '
          type: string
        cri:
          description: 'Indicates if this is a CRI-specific vulnerability (true) or not (false).

            '
          type: boolean
        custom:
          description: 'Indicates if the vulnerability is a custom vulnerability (e.g., openscap, sandbox) (true) or not (false).

            '
          type: boolean
        cve:
          description: 'CVE ID of the vulnerability (if applied).

            '
          type: string
        cvss:
          description: 'CVSS score of the vulnerability.

            '
          format: float
          type: number
        description:
          description: 'Description of the vulnerability.

            '
          type: string
        discovered:
          description: 'Specifies the time of discovery for the vulnerability.

            '
          format: date-time
          type: string
        exploit:
          $ref: '#/components/schemas/vulnerability.ExploitType'
        exploits:
          $ref: '#/components/schemas/vulnerability.Exploits'
        fixDate:
          description: 'Date/time when the vulnerability was fixed (in Unix time).

            '
          format: int64
          type: integer
        fixLink:
          description: 'Link to the vendor''s fixed-version information.

            '
          type: string
        functionLayer:
          description: 'Specifies the serverless layer ID in which the vulnerability was discovered.

            '
          type: string
        gracePeriodDays:
          description: 'Number of grace days left for a vulnerability, based on the configured grace period. Nil if no block vulnerability rule applies.

            '
          type: integer
        id:
          description: 'ID of the violation.

            '
          type: integer
        isRPMModule:
          description: 'IsRPMModule indicates whether this vulnerability is specific to an RPM module.

            '
          type: boolean
        layerTime:
          description: 'Date/time of the image layer to which the CVE belongs.

            '
          format: int64
          type: integer
        link:
          description: 'Vendor link to the CVE.

            '
          type: string
        packageName:
          description: 'Name of the package that caused the vulnerability.

            '
          type: string
        packageType:
          $ref: '#/components/schemas/packages.Type'
        packageVersion:
          description: 'Version of the package that caused the vulnerability (or null).

            '
          type: string
        published:
          description: 'Date/time when the vulnerability was published (in Unix time).

            '
          format: int64
          type: integer
        riskFactors:
          $ref: '#/components/schemas/vulnerability.RiskFactors'
        rpmModule:
          description: 'RPMModule specifies the RPM module containing the package affected by this vulnerability.

            '
          type: string
        secret:
          $ref: '#/components/schemas/vuln.Secret'
        severity:
          description: 'Textual representation of the vulnerability''s severity.

            '
          type: string
        status:
          description: 'Vendor status for the vulnerability.

            '
          type: string
        templates:
          description: 'List of templates with which the vulnerability is associated.

            '
          items:
            $ref: '#/components/schemas/vuln.ComplianceTemplate'
          type: array
        text:
          description: 'Description of the violation.

            '
          type: string
        title:
          description: 'Compliance title.

            '
          type: string
        twistlock:
          description: 'Indicates if this is a Twistlock-specific vulnerability (true) or not (false).

            '
          type: boolean
        type:
          $ref: '#/components/schemas/vulnerability.Type'
        vecStr:
          description: 'Textual representation of the metric values used to score the vulnerability.

            '
          type: string
        vulnTagInfos:
          description: 'Tag information for the vulnerability.

            '
          items:
            $ref: '#/components/schemas/vuln.TagInfo'
          type: array
        wildfireMalware:
          $ref: '#/components/schemas/vuln.WildFireMalware'
      type: object
    vuln.Distribution:
      description: Distribution counts the number of vulnerabilities per type
      properties:
        critical:
          description: '.

            '
          type: integer
        high:
          description: '.

            '
          type: integer
        low:
          description: '.

            '
          type: integer
        medium:
          description: '.

            '
          type: integer
        total:
          description: '.

            '
          type: integer
      type: object
    shared.CLIScanResult:
      description: CLIScanResult describes a CLI scan result
      properties:
        _id:
          description: 'ID of the scan result.

            '
          type: string
        build:
          description: 'CI build.

            '
          type: string
        complianceFailureSummary:
          description: 'Scan compliance failure summary.

            '
          type: string
        entityInfo:
          $ref: '#/components/schemas/shared.ImageScanResult'
        jobName:
          description: 'CI job name.

            '
          type: string
        pass:
          description: 'Indicates if the scan passed (true) or failed (false).

            '
          type: boolean
        time:
          description: 'Time of the scan.

            '
          format: date-time
          type: string
        version:
          description: 'Scanner version.

            '
          type: string
        vulnFailureSummary:
          description: 'Scan vulnerability failure summary.

            '
          type: string
      type: object
    shared.ScanType:
      description: ScanType displays the components for an ongoing scan
      enum:
      - - image
        - ciImage
        - container
        - host
        - agentlessHost
        - registry
        - serverlessScan
        - ciServerless
        - vm
        - tas
        - ciTas
        - cloudDiscovery
        - serverlessRadar
        - serverlessAutoDeploy
        - hostAutoDeploy
        - codeRepo
        - ciCodeRepo
      type: string
    shared.ImageHosts:
      additionalProperties:
        $ref: '#/components/schemas/shared.ImageHost'
      description: ImageHosts is a fast index for image scan results metadata per host
      type: object
    trust.HostStatus:
      description: HostStatus represents an image trust status on a host
      properties:
        host:
          description: 'Host name.

            '
          type: string
        status:
          $ref: '#/components/schemas/trust.Status'
      type: object
    shared.ImageScanResult:
      description: ImageScanResult holds the result of an image scan
      properties:
        Secrets:
          description: 'Secrets are paths to embedded secrets inside the image

            Note: capital letter JSON annotation is kept to avoid converting all images for backward-compatibility support.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        _id:
          description: 'Image identifier (image ID or repo:tag).

            '
          type: string
        agentless:
          description: 'Agentless indicates that the host was scanned with the agentless scanner.

            '
          type: boolean
        aisUUID:
          description: 'AISUUID is the unique instance ID in the agentless instance scanning system.

            '
          type: string
        allCompliance:
          $ref: '#/components/schemas/vuln.AllCompliance'
        appEmbedded:
          description: 'Indicates that this image was scanned by an App-Embedded Defender.

            '
          type: boolean
        applications:
          description: 'Products in the image.

            '
          items:
            $ref: '#/components/schemas/vuln.Application'
          type: array
        baseImage:
          description: 'Image’s base image name. Used when filtering the vulnerabilities by base images.

            '
          type: string
        binaries:
          description: 'Binaries in the image.

            '
          items:
            $ref: '#/components/schemas/shared.Binary'
          type: array
        caasSpecReferencesLaunchTypes:
          description: 'CAASSpecReferencesLaunchTypes specifies the discovered launch types of CAAS specification references for this image.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        caasSpecReferencesServiceTypes:
          description: 'CAASSpecReferencesServiceTypes specifies the discovered service types of CAAS specification references for this image.

            '
          items:
            $ref: '#/components/schemas/shared.ScanResultType'
          type: array
        caasSpecReferencesTotal:
          description: 'CAASSpecReferencesTotal specifies the total number of CAAS specification references for this image.

            '
          type: integer
        cloudMetadata:
          $ref: '#/components/schemas/common.CloudMetadata'
        clusterType:
          $ref: '#/components/schemas/common.ClusterType'
        clusters:
          description: 'Cluster names.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        collections:
          description: 'Collections to which this result applies.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        complianceDistribution:
          $ref: '#/components/schemas/vuln.Distribution'
        complianceIssues:
          description: 'All the compliance issues.

            '
          items:
            $ref: '#/components/schemas/vuln.Vulnerability'
          type: array
        complianceIssuesCount:
          description: 'Number of compliance issues.

            '
          type: integer
        complianceRiskScore:
          description: 'Compliance risk score for the image.

            '
          format: float
          type: number
        compressed:
          description: 'Compressed indicates if this image seems to be compressed - currently only relevant for buildah images.

            '
          type: boolean
        compressedLayerTimes:
          $ref: '#/components/schemas/shared.CompressedLayerTimes'
        creationTime:
          description: 'Specifies the time of creation for the latest version of the image.

            '
          format: date-time
          type: string
        csa:
          description: 'CSA indicates the scan was performed by the CSA.

            '
          type: boolean
        csaWindows:
          description: 'CSAWindows indicates the scan was performed by the Ivanti agent(CSA Windows - Cortex server).

            '
          type: boolean
        distro:
          description: 'Full name of the distribution.

            '
          type: string
        ecsClusterName:
          description: 'ECS cluster name.

            '
          type: string
        err:
          description: 'Description of an error that occurred during image scan.

            '
          type: string
        errCode:
          $ref: '#/components/schemas/agentless.ImageScanResultErrCode'
        externalLabels:
          description: 'Kubernetes external labels of all containers running this image.

            '
          items:
            $ref: '#/components/schemas/common.ExternalLabel'
          type: array
        files:
          description: 'Files in the container.

            '
          items:
            $ref: '#/components/schemas/shared.FileDetails'
          type: array
        firewallProtection:
          $ref: '#/components/schemas/waas.ProtectionStatus'
        firstScanTime:
          description: 'Specifies the time of the scan for the first version of the image. This time is preserved even after the version update.

            '
          format: date-time
          type: string
        foundSecrets:
          description: 'FoundSecrets are secrets with metadata that were found in the secrets'' scan. Requires json tag for reporting secrets from image scan.

            '
          items:
            $ref: '#/components/schemas/vuln.Secret'
          type: array
        history:
          description: 'Docker image history.

            '
          items:
            $ref: '#/components/schemas/shared.ImageHistory'
          type: array
        hostDevices:
          description: 'Map from host network device name to IP address.

            '
          items:
            $ref: '#/components/schemas/common.NetworkDeviceIP'
          type: array
        hostRuntimeEnabled:
          description: 'HostRuntimeEnabled indicates if any runtime rule applies to the host.

            '
          type: boolean
        hostname:
          description: 'Name of the host that was scanned.

            '
          type: string
        hosts:
          $ref: '#/components/schemas/shared.ImageHosts'
        id:
          description: 'Image ID.

            '
          type: string
        image:
          $ref: '#/components/schemas/shared.Image'
        installedProducts:
          $ref: '#/components/schemas/shared.InstalledProducts'
        instances:
          description: 'Details about each occurrence of the image (tag + host).

            '
          items:
            $ref: '#/components/schemas/shared.ImageInstance'
          type: array
        isARM64:
          description: 'IsARM64 indicates if the architecture of the image is aarch64.

            '
          type: boolean
        k8sClusterAddr:
          description: 'Endpoint of the Kubernetes API server.

            '
          type: string
        labels:
          description: 'Image labels.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        layers:
          description: 'Image''s filesystem layers. Each layer is a SHA256 digest of the filesystem diff

            See: https://windsock.io/explaining-docker-image-ids/.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        malwareAnalyzedTime:
          description: 'MalwareAnalyzedTime is the WildFire evaluator analyzing time shown as progress in UI and cannot to be overwritten by a new scan result.

            '
          format: date-time
          type: string
        missingDistroVulnCoverage:
          description: 'Indicates if the image OS is covered in the IS (true) or not (false).

            '
          type: boolean
        namespaces:
          description: 'k8s namespaces of all the containers running this image.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        osDistro:
          description: 'Name of the OS distribution.

            '
          type: string
        osDistroRelease:
          description: 'OS distribution release.

            '
          type: string
        osDistroVersion:
          description: 'OS distribution version.

            '
          type: string
        packageManager:
          description: 'Indicates if the package manager is installed for the OS.

            '
          type: boolean
        packages:
          description: 'Packages which exist in the image.

            '
          items:
            $ref: '#/components/schemas/shared.Packages'
          type: array
        pullDuration:
          description: 'PullDuration is the time it took to pull the image.

            '
          format: int64
          type: integer
        pushTime:
          description: 'PushTime is the image push time to the registry.

            '
          format: date-time
          type: string
        redHatNonRPMImage:
          description: 'RedHatNonRPMImage indicates whether the image is a Red Hat image with non-RPM content.

            '
          type: boolean
        registryNamespace:
          description: 'IBM cloud namespace to which the image belongs.

            '
          type: string
        registryTags:
          description: 'RegistryTags are the tags of the registry this image is stored.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        registryType:
          description: 'RegistryType indicates the registry type where the image is stored.

            '
          type: string
        repoDigests:
          description: 'Digests of the image. Used for content trust (notary). Has one digest per tag.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        repoTag:
          $ref: '#/components/schemas/shared.ImageTag'
        rhelRepos:
          description: 'RhelRepositories are the (RPM) repositories IDs from which the packages in this image were installed

            Used for matching vulnerabilities by Red Hat CPEs.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        rhelReposRelativeURLs:
          description: 'RhelRepositoriesRelativeURLs are the relative URLs of the repositories from which the packages in this image were installed

            Used for matching vulnerabilities by Red Hat CPEs when the repository IDs are not available in the repository-to-cpe mapping file.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        riskFactors:
          $ref: '#/components/schemas/vulnerability.RiskFactors'
        scanBuildDate:
          description: 'Scanner build date that published the image.

            '
          type: string
        scanDuration:
          description: 'ScanDuration is the total time it took to scan the image.

            '
          format: int64
          type: integer
        scanID:
          description: 'ScanID is the ID of the scan.

            '
          type: integer
        scanTime:
          description: 'Specifies the time of the last scan of the image.

            '
          format: date-time
          type: string
        scanVersion:
          description: 'Scanner version that published the image.

            '
          type: string
        secretScanMetrics:
          $ref: '#/components/schemas/secrets.SecretScanMetrics'
        startupBinaries:
          description: 'Binaries which are expected to run when the container is created from this image.

            '
          items:
            $ref: '#/components/schemas/shared.Binary'
          type: array
        stopped:
          description: 'Stopped indicates whether the host was running during the agentless scan.

            '
          type: boolean
        tags:
          description: 'Tags associated with the given image.

            '
          items:
            $ref: '#/components/schemas/shared.ImageTag'
          type: array
        topLayer:
          description: 'SHA256 of the image''s last layer that is the last element of the Layers field.

            '
          type: string
        trustResult:
          $ref: '#/components/schemas/trust.ImageResult'
        trustStatus:
          $ref: '#/components/schemas/trust.Status'
        twistlockImage:
          description: 'Indicates if the image is a Twistlock image (true) or not (false).

            '
          type: boolean
        type:
          $ref: '#/components/schemas/shared.ScanType'
        underlyingDistro:
          description: 'UnderlyingDistro is used in cases OS an OS is built on top of another, and we need to know both.

            '
          type: string
        underlyingDistroRelease:
          description: 'UnderlyingDistroRelease is used in cases OS an OS is built on top of another, and we need to know both.

            '
          type: string
        vulnerabilities:
          description: 'CVE vulnerabilities of the image.

            '
          items:
            $ref: '#/components/schemas/vuln.Vulnerability'
          type: array
        vulnerabilitiesCount:
          description: 'Total number of vulnerabilities.

            '
          type: integer
        vulnerabilityDistribution:
          $ref: '#/components/schemas/vuln.Distribution'
        vulnerabilityRiskScore:
          description: 'Image''s CVE risk score.

            '
          format: float
          type: number
        wildFireUsage:
          $ref: '#/components/schemas/wildfire.Usage'
      type: object
    common.ExternalLabelSourceType:
      description: ExternalLabelSourceType indicates the source of the labels
      enum:
      - - namespace
        - deployment
        - pod
        - aws
        - azure
        - gcp
        - oci
      type: string
    shared.Binary:
      description: Binary represents a detected binary file (ELF)
      properties:
        altered:
          description: 'Indicates if the binary was installed from a package manager and modified/replaced (true) or not (false).

            '
          type: boolean
        cveCount:
          description: 'Total number of CVEs for this specific binary.

            '
          type: integer
        deps:
          description: 'Third-party package files which are used by the binary.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        fileMode:
          description: 'Represents the file''s mode and permission bits.

            '
          type: integer
        functionLayer:
          description: 'ID of the serverless layer in which the package was discovered.

            '
          type: string
        md5:
          description: 'Md5 hashset of the binary.

            '
          type: string
        missingPkg:
          description: 'Indicates if this binary is not related to any package (true) or not (false).

            '
          type: boolean
        name:
          description: 'Name of the binary.

            '
          type: string
        path:
          description: 'Path is the path of the binary.

            '
          type: string
        pkgRootDir:
          description: 'Path for searching packages used by the binary.

            '
          type: string
        services:
          description: 'Names of services which use the binary.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        version:
          description: 'Version of the binary.

            '
          type: string
      type: object
    waas.ProtectionStatus:
      description: ProtectionStatus describes the status of the WAAS protection
      properties:
        enabled:
          description: 'Enabled indicates if WAAS proxy protection is enabled (true) or not (false).

            '
          type: boolean
        outOfBandMode:
          $ref: '#/components/schemas/waas.OutOfBandMode'
        ports:
          description: 'Ports indicates http open ports associated with the container.

            '
          items:
            $ref: '#/components/schemas/int'
          type: array
        supported:
          description: 'Supported indicates if WAAS protection is supported (true) or not (false).

            '
          type: boolean
        tlsPorts:
          description: 'TLSPorts indicates https open ports associated with the container.

            '
          items:
            $ref: '#/components/schemas/int'
          type: array
        unprotectedProcesses:
          description: 'UnprotectedProcesses holds the processes that support HTTP/HTTPS without WAAS protection.

            '
          items:
            $ref: '#/components/schemas/waas.UnprotectedProcess'
          type: array
      type: object
    common.GCPCloudMetadata:
      properties:
        cloudRun:
          $ref: '#/components/schemas/common.CloudRunMetadata'
      type: object
    common.ClusterType:
      description: ClusterType is the cluster type
      enum:
      - - AKS
        - ECS
        - EKS
        - GKE
        - Kubernetes
      type: string
    shared.CompressedLayerTimes:
      description: CompressedLayerTimes represent the compressed layer times of the image apps and pkgs
      properties:
        appTimes:
          description: '.

            '
          items:
            $ref: '#/components/schemas/int64'
          type: array
        pkgsTimes:
          description: '.

            '
          items:
            $ref: '#/components/schemas/shared.PkgsTimes'
          type: array
      type: object
    shared.ImageHistory:
      description: ImageHistory represent a layer in the image's history
      properties:
        baseLayer:
          description: 'Indicates if this layer originated from the base image (true) or not (false).

            '
          type: boolean
        created:
          description: 'Date/time when the image layer was created.

            '
          format: int64
          type: integer
        emptyLayer:
          description: 'Indicates if this instruction didn''t create a separate layer (true) or not (false).

            '
          type: boolean
        id:
          description: 'ID of the layer.

            '
          type: string
        instruction:
          description: 'Docker file instruction and arguments used to create this layer.

            '
          type: string
        sizeBytes:
          description: 'Size of the layer (in bytes).

            '
          format: int64
          type: integer
        tags:
          description: 'Holds the image tags.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        vulnerabilities:
          description: 'Vulnerabilities which originated from this layer.

            '
          items:
            $ref: '#/components/schemas/vuln.Vulnerability'
          type: array
      type: object
    trust.Group:
      description: Group represents a group of images
      properties:
        _id:
          description: 'Name of the group.

            '
          type: string
        disabled:
          description: 'Indicates whether the rule is currently disabled. Values: true (disabled) or false (enabled).

            '
          type: boolean
        images:
          description: 'Image names or IDs (e.g., docker.io/library/ubuntu:16.04 / SHA264@...).

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        layers:
          description: 'Filesystem layers. The image is trusted if its layers have a prefix of the trusted groups layer in the same order.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        modified:
          description: 'Specifies the date and time when the rule was last modified.

            '
          format: date-time
          type: string
        name:
          description: 'Name of the rule.

            '
          type: string
        notes:
          description: 'Describes any noteworthy points for a rule. You can include any text.

            '
          type: string
        owner:
          description: 'User who created or last modified the rule.

            '
          type: string
        previousName:
          description: 'Previous name of the rule. Required for rule renaming.

            '
          type: string
      type: object
    packages.Type:
      description: Type describes the package type
      enum:
      - - nodejs
        - gem
        - python
        - jar
        - package
        - windows
        - binary
        - nuget
        - go
        - app
        - unknown
      type: string
    waas.OutOfBandMode:
      description: OutOfBandMode holds the app firewall out-of-band mode
      enum:
      - - ''
        - Observation
        - Protection
      type: string
    vuln.TagInfo:
      description: TagInfo is the tag info in a specific vulnerability context
      properties:
        color:
          $ref: '#/components/schemas/common.Color'
        comment:
          description: 'Tag comment in a specific vulnerability context.

            '
          type: string
        name:
          description: 'Name of the tag.

            '
          type: string
      type: object
    int:
      type: integer
    shared.Image:
      description: Image represents a container image
      properties:
        created:
          description: 'Date/time when the image was created.

            '
          format: date-time
          type: string
        entrypoint:
          description: 'Combined entrypoint of the image (entrypoint + CMD).

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        env:
          description: 'Image environment variables.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        healthcheck:
          description: 'Indicates if health checks are enabled (true) or not (false).

            '
          type: boolean
        history:
          description: 'Holds the image history.

            '
          items:
            $ref: '#/components/schemas/shared.ImageHistory'
          type: array
        id:
          description: 'ID of the image.

            '
          type: string
        labels:
          additionalProperties:
            $ref: '#/components/schemas/string'
          description: 'Image labels.

            '
          type: object
        layers:
          description: 'Image filesystem layers.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        os:
          description: 'Image os type.

            '
          type: string
        repoDigest:
          description: 'Image repo digests.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        repoTags:
          description: 'Image repo tags.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        user:
          description: 'Image user.

            '
          type: string
        workingDir:
          description: 'Base working directory of the image.

            '
          type: string
      type: object
    int16:
      type: integer
    shared.InstalledProducts:
      description: 'InstalledProducts contains data regarding products running in environment

        TODO #34713: Swarm support was deprecated in Joule, remove swarm node/manager boolean (and related compliance) in Lagrange'
      properties:
        agentless:
          description: 'Agentless indicates whether the scan was performed with agentless approach.

            '
          type: boolean
        apache:
          description: 'Apache indicates the apache server version, empty in case apache not running.

            '
          type: string
        awsCloud:
          description: 'AWSCloud indicates whether AWS cloud is used.

            '
          type: boolean
        clusterType:
          $ref: '#/components/schemas/common.ClusterType'
        crio:
          description: 'CRI indicates whether the container runtime is CRI (and not docker).

            '
          type: boolean
        docker:
          description: 'Docker represents the docker daemon version.

            '
          type: string
        dockerEnterprise:
          description: 'DockerEnterprise indicates whether the enterprise version of Docker is installed.

            '
          type: boolean
        hasPackageManager:
          description: 'HasPackageManager indicates whether package manager is installed on the OS.

            '
          type: boolean
        k8sApiServer:
          description: 'K8sAPIServer indicates whether a kubernetes API server is running.

            '
          type: boolean
        k8sControllerManager:
          description: 'K8sControllerManager indicates whether a kubernetes controller manager is running.

            '
          type: boolean
        k8sEtcd:
          description: 'K8sEtcd indicates whether etcd is running.

            '
          type: boolean
        k8sFederationApiServer:
          description: 'K8sFederationAPIServer indicates whether a federation API server is running.

            '
          type: boolean
        k8sFederationControllerManager:
          description: 'K8sFederationControllerManager indicates whether a federation controller manager is running.

            '
          type: boolean
        k8sKubelet:
          description: 'K8sKubelet indicates whether kubelet is running.

            '
          type: boolean
        k8sProxy:
          description: 'K8sProxy indicates whether a kubernetes proxy is running.

            '
          type: boolean
        k8sScheduler:
          description: 'K8sScheduler indicates whether the kubernetes scheduler is running.

            '
          type: boolean
        kubernetes:
          description: 'Kubernetes represents the kubernetes version.

            '
          type: string
        managedClusterVersion:
          description: 'ManagedClusterVersion is the version of the managed Kubernetes service, e.g. AKS/EKS/GKE/etc.

            '
          type: string
        openshift:
          description: 'Openshift indicates whether openshift is deployed.

            '
          type: boolean
        openshiftVersion:
          description: 'OpenshiftVersion represents the running openshift version.

            '
          type: string
        osDistro:
          description: 'OSDistro specifies the os distribution.

            '
          type: string
        serverless:
          description: 'Serverless indicates whether evaluated on a serverless environment.

            '
          type: boolean
        swarmManager:
          description: 'SwarmManager indicates whether a swarm manager is running.

            '
          type: boolean
        swarmNode:
          description: 'SwarmNode indicates whether the node is part of an active swarm.

            '
          type: boolean
      type: object
    int64:
      format: int64
      type: integer
    shared.Package:
      description: Package stores relevant package information
      properties:
        author:
          description: 'Author is the package''s author.

            '
          type: string
        binaryIdx:
          description: 'Indexes of the top binaries which use the package.

            '
          items:
            $ref: '#/components/schemas/int16'
          type: array
        binaryPkgs:
          description: 'Names of the distro binary packages (packages which are built on the source of the package).

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        cveCount:
          description: 'Total number of CVEs for this specific package.

            '
          type: integer
        defaultGem:
          description: 'DefaultGem indicates this is a gem default package (and not a bundled package).

            '
          type: boolean
        files:
          description: 'List of package-related files and their hashes. Only included when the appropriate scan option is set.

            '
          items:
            $ref: '#/components/schemas/shared.FileDetails'
          type: array
        functionLayer:
          description: 'ID of the serverless layer in which the package was discovered.

            '
          type: string
        goPkg:
          description: 'GoPkg indicates this is a Go package (and not module).

            '
          type: boolean
        isRPMModule:
          description: 'IsRPMModule indicates whether this package data represents an RPM module.

            '
          type: boolean
        jarIdentifier:
          description: 'JarIdentifier holds an additional identification detail of a JAR package.

            '
          type: string
        layerTime:
          description: 'Image layer to which the package belongs (layer creation time).

            '
          format: int64
          type: integer
        license:
          description: 'License information for the package.

            '
          type: string
        md5:
          description: 'MD5SUM is the md5sum of the package - currently only relevant for go main modules.

            '
          type: string
        name:
          description: 'Name of the package.

            '
          type: string
        originPackageName:
          description: 'OriginPackageName is the name of the third-party origin package.

            '
          type: string
        osPackage:
          description: 'OSPackage indicates that a python/java package was installed as an OS package.

            '
          type: boolean
        path:
          description: 'Full package path (e.g., JAR or Node.js package path).

            '
          type: string
        purl:
          description: 'PURL is a package URL identifier for this package.

            '
          type: string
        rpmModule:
          description: 'RPMModule represents the RPM module in which this package is included.

            '
          type: string
        securityRepoPkg:
          description: 'SecurityRepoPkg determines if this package is available in a security repository.

            '
          type: boolean
        symbols:
          description: 'Symbols contains names of vulnerable functions that are linked in the executable binary, empty if the entire package is vulnerable.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        version:
          description: 'Package version.

            '
          type: string
      type: object
    trust.ImageResult:
      description: ImageResult represents an aggregated image trust result
      properties:
        groups:
          description: 'Trust groups which apply to the image.

            '
          items:
            $ref: '#/components/schemas/trust.Group'
          type: array
        hostsStatuses:
          description: 'Image trust status on each host. Can be set to "trusted" or "untrusted".

            '
          items:
            $ref: '#/components/schemas/trust.HostStatus'
          type: array
      type: object
    common.AzureMetadata:
      properties:
        aci:
          $ref: '#/components/schemas/common.ACIMetadata'
        resourceGroup:
          description: '.

            '
          type: string
      type: object
    shared.ImageHost:
      description: ImageHost holds information about image scan result per host
      properties:
        accountID:
          description: 'AccountID is the cloud account ID the image is associated with.

            '
          type: string
        agentless:
          description: 'Agentless indicates if the image was scanned as part of an agentless scan.

            '
          type: boolean
        agentlessScanID:
          description: 'AgentlessScanID is the ID of the agentless scan in which the result was received.

            '
          type: integer
        ais:
          description: 'AIS indicates the scan was performed by AIS.

            '
          type: boolean
        appEmbedded:
          description: 'AppEmbedded indicates if the host is an app embedded host.

            '
          type: boolean
        cluster:
          description: 'Cluster is the cluster on which the image is deployed.

            '
          type: string
        csa:
          description: 'CSA indicates if the image was scanned by CSA.

            '
          type: boolean
        modified:
          description: 'Modified is the last scan time.

            '
          format: date-time
          type: string
        namespaces:
          description: 'Namespaces are the namespaces on which the image is deployed.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
      type: object
    vulnerability.ExploitKind:
      description: ExploitKind represents the kind of the exploit
      enum:
      - - poc
        - in-the-wild
      type: string
    vulnerability.Exploits:
      description: Exploits represents the exploits data found for a CVE
      items:
        $ref: '#/components/schemas/vulnerability.ExploitData'
      type: array
    vulnerability.VulnerabilityAttribute:
      description: VulnerabilityAttribute represents a specific vulnerability property whose value may come from different sources
      type: integer
    vuln.Vulnerability_2:
      description: Vulnerability is a general schema for vulnerabilities (e.g., for compliance or packages)
      properties:
        applicableRules:
          description: 'Rules applied on the package.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        binaryPkgs:
          description: 'Names of the distro binary package names (packages which are built from the source of the package).

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        block:
          description: 'Indicates if the vulnerability has a block effect (true) or not (false).

            '
          type: boolean
        cause:
          description: 'Additional information regarding the root cause for the vulnerability.

            '
          type: string
        cri:
          description: 'Indicates if this is a CRI-specific vulnerability (true) or not (false).

            '
          type: boolean
        custom:
          description: 'Indicates if the vulnerability is a custom vulnerability (e.g., openscap, sandbox) (true) or not (false).

            '
          type: boolean
        cve:
          description: 'CVE ID of the vulnerability (if applied).

            '
          type: string
        cvss:
          description: 'CVSS score of the vulnerability.

            '
          format: float
          type: number
        description:
          description: 'Description of the vulnerability.

            '
          type: string
        discovered:
          description: 'Specifies the time of discovery for the vulnerability.

            '
          format: date-time
          type: string
        exploit:
          $ref: '#/components/schemas/vulnerability.ExploitType'
        exploits:
          $ref: '#/components/schemas/vulnerability.Exploits'
        fixDate:
          description: 'Date/time when the vulnerability was fixed (in Unix time).

            '
          format: int64
          type: integer
        fixLink:
          description: 'Link to the vendor''s fixed-version information.

            '
          type: string
        functionLayer:
          description: 'Specifies the serverless layer ID in which the vulnerability was discovered.

            '
          type: string
        gracePeriodDays:
          description: 'Number of grace days left for a vulnerability, based on the configured grace period. Nil if no block vulnerability rule applies.

            '
          type: integer
        id:
          description: 'ID of the violation.

            '
          type: integer
        layerTime:
          description: 'Date/time of the image layer to which the CVE belongs.

            '
          format: int64
          type: integer
        link:
          description: 'Vendor link to the CVE.

            '
          type: string
        packageName:
          description: 'Name of the package that caused the vulnerability.

            '
          type: string
        packageType:
          $ref: '#/components/schemas/packages.Type'
        packageVersion:
          description: 'Version of the package that caused the vulnerability (or null).

            '
          type: string
        published:
          description: 'Date/time when the vulnerability was published (in Unix time).

            '
          format: int64
          type: integer
        riskFactors:
          $ref: '#/components/schemas/vulnerability.RiskFactors'
        rpmModule:
          description: 'RPMModule specifies the RPM module containing the package affected by this vulnerability.

            '
          type: string
        secret:
          $ref: '#/components/schemas/vuln.Secret'
        severity:
          description: 'Textual representation of the vulnerability''s severity.

            '
          type: string
        status:
          description: 'Vendor status for the vulnerability.

            '
          type: string
        templates:
          description: 'List of templates with which the vulnerability is associated.

            '
          items:
            $ref: '#/components/schemas/vuln.ComplianceTemplate'
          type: array
        text:
          description: 'Description of the violation.

            '
          type: string
        title:
          description: 'Compliance title.

            '
          type: string
        twistlock:
          description: 'Indicates if this is a Twistlock-specific vulnerability (true) or not (false).

            '
          type: boolean
        type:
          $ref: '#/components/schemas/vulnerability.Type'
        vecStr:
          description: 'Textual representation of the metric values used to score the vulnerability.

            '
          type: string
        vulnTagInfos:
          description: 'Tag information for the vulnerability.

            '
          items:
            $ref: '#/components/schemas/vuln.TagInfo'
          type: array
        vulnerabilityDataSources:
          $ref: '#/components/schemas/vulnerability.VulnerabilityDataSources'
        wildfireMalware:
          $ref: '#/components/schemas/vuln.WildFireMalware'
      type: object
    shared.ImageScanResult_2:
      description: ImageScanResult holds the result of an image scan
      properties:
        Secrets:
          description: 'Secrets are paths to embedded secrets inside the image

            Note: capital letter JSON annotation is kept to avoid converting all images for backward-compatibility support.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        _id:
          description: 'Image identifier (image ID or repo:tag).

            '
          type: string
        additionalDistroReleaseData:
          description: 'AdditionalDistroReleaseData contains extra metadata about the distro release (e.g., the "9.6" version for AlmaLinux TuxCare ESU supported image).

            '
          type: string
        agentless:
          description: 'Agentless indicates that the host was scanned with the agentless scanner.

            '
          type: boolean
        aisUUID:
          description: 'AISUUID is the unique instance ID in the agentless instance scanning system.

            '
          type: string
        allCompliance:
          $ref: '#/components/schemas/vuln.AllCompliance'
        appEmbedded:
          description: 'Indicates that this image was scanned by an App-Embedded Defender.

            '
          type: boolean
        applications:
          description: 'Products in the image.

            '
          items:
            $ref: '#/components/schemas/vuln.Application'
          type: array
        baseImage:
          description: 'Image’s base image name. Used when filtering the vulnerabilities by base images.

            '
          type: string
        binaries:
          description: 'Binaries in the image.

            '
          items:
            $ref: '#/components/schemas/shared.Binary'
          type: array
        caasSpecReferencesLaunchTypes:
          description: 'CAASSpecReferencesLaunchTypes specifies the discovered launch types of CAAS specification references for this image.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        caasSpecReferencesServiceTypes:
          description: 'CAASSpecReferencesServiceTypes specifies the discovered service types of CAAS specification references for this image.

            '
          items:
            $ref: '#/components/schemas/shared.ScanResultType'
          type: array
        caasSpecReferencesTotal:
          description: 'CAASSpecReferencesTotal specifies the total number of CAAS specification references for this image.

            '
          type: integer
        cloudMetadata:
          $ref: '#/components/schemas/common.CloudMetadata'
        clusterType:
          $ref: '#/components/schemas/common.ClusterType'
        clusters:
          description: 'Cluster names.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        collections:
          description: 'Collections to which this result applies.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        complianceDistribution:
          $ref: '#/components/schemas/vuln.Distribution'
        complianceIssues:
          description: 'All the compliance issues.

            '
          items:
            $ref: '#/components/schemas/vuln.Vulnerability_2'
          type: array
        complianceIssuesCount:
          description: 'Number of compliance issues.

            '
          type: integer
        complianceRiskScore:
          description: 'Compliance risk score for the image.

            '
          format: float
          type: number
        compressed:
          description: 'Compressed indicates if this image seems to be compressed - currently only relevant for buildah images.

            '
          type: boolean
        compressedLayerTimes:
          $ref: '#/components/schemas/shared.CompressedLayerTimes'
        creationTime:
          description: 'Specifies the time of creation for the latest version of the image.

            '
          format: date-time
          type: string
        csa:
          description: 'CSA indicates the scan was performed by the CSA.

            '
          type: boolean
        csaDisplayHostname:
          description: 'CSADisplayHostname is the display hostname for a host scanned by CSA.

            '
          type: string
        csaWindows:
          description: 'CSAWindows indicates the scan was performed by the Ivanti agent(CSA Windows - Cortex server).

            '
          type: boolean
        distro:
          description: 'Full name of the distribution.

            '
          type: string
        ecsClusterName:
          description: 'ECS cluster name.

            '
          type: string
        err:
          description: 'Description of an error that occurred during image scan.

            '
          type: string
        errCode:
          $ref: '#/components/schemas/agentless.ImageScanResultErrCode'
        externalLabels:
          description: 'Kubernetes external labels of all containers running this image.

            '
          items:
            $ref: '#/components/schemas/common.ExternalLabel'
          type: array
        files:
          description: 'Files in the container.

            '
          items:
            $ref: '#/components/schemas/shared.FileDetails'
          type: array
        firewallProtection:
          $ref: '#/components/schemas/waas.ProtectionStatus'
        firstScanTime:
          description: 'Specifies the time of the scan for the first version of the image. This time is preserved even after the version update.

            '
          format: date-time
          type: string
        foundSecrets:
          description: 'FoundSecrets are secrets with metadata that were found in the secrets'' scan. Requires json tag for reporting secrets from image scan.

            '
          items:
            $ref: '#/components/schemas/vuln.Secret'
          type: array
        history:
          description: 'Docker image history.

            '
          items:
            $ref: '#/components/schemas/shared.ImageHistory'
          type: array
        hostDevices:
          description: 'Map from host network device name to IP address.

            '
          items:
            $ref: '#/components/schemas/common.NetworkDeviceIP'
          type: array
        hostRuntimeEnabled:
          description: 'HostRuntimeEnabled indicates if any runtime rule applies to the host.

            '
          type: boolean
        hostname:
          description: 'Name of the host that was scanned.

            '
          type: string
        hosts:
          $ref: '#/components/schemas/shared.ImageHosts'
        id:
          description: 'Image ID.

            '
          type: string
        image:
          $ref: '#/components/schemas/shared.Image'
        installedProducts:
          $ref: '#/components/schemas/shared.InstalledProducts_2'
        instances:
          description: 'Details about each occurrence of the image (tag + host).

            '
          items:
            $ref: '#/components/schemas/shared.ImageInstance'
          type: array
        isARM64:
          description: 'IsARM64 indicates if the architecture of the image is aarch64.

            '
          type: boolean
        k8sClusterAddr:
          description: 'Endpoint of the Kubernetes API server.

            '
          type: string
        labels:
          description: 'Image labels.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        layers:
          description: 'Image''s filesystem layers. Each layer is a SHA256 digest of the filesystem diff

            See: https://windsock.io/explaining-docker-image-ids/.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        malwareAnalyzedTime:
          description: 'MalwareAnalyzedTime is the WildFire evaluator analyzing time shown as progress in UI and cannot to be overwritten by a new scan result.

            '
          format: date-time
          type: string
        missingDistroVulnCoverage:
          description: 'Indicates if the image OS is covered in the IS (true) or not (false).

            '
          type: boolean
        namespaces:
          description: 'k8s namespaces of all the containers running this image.

            '
          items:
            $ref: '#/components/schemas/string'
          type: array
        osDistro:
          description: 'Name of the OS distribution.

            '
          type: string
        osDistroRelease:
          description: 'OS distribution release.

            '
          type: string
        osDistroVersion:
          description: 'OS distribution version.

            '
          type: string
        packageManager:
          description: 'Indicates if the package manager is installed for the OS.

            '
          type: boolean
        packages:
          description: 'Packages which exist in the image.

            '
          items:
            $ref: '#/components/schemas/shared.Packages'
          type: array
        pullDuration:
          description: 'PullDuration is the time it took to pull the image.

            '
          format: int64
          type: integer
        pushTime:
          description: 'PushTime is the image push time to the registry.

            '
          format: date-time
          type: string
        redHatNonRPMImage:
          description: 'RedHatNonRPMImage indicates whether the image is a Red Hat image with non-RPM content.

            '
          type: boolean
        registryNamespace:
          description: 'IBM cloud namespace to which the image belongs.

            '
          type: string
        registryTags:
          description: 'RegistryTags are the tags of the registry this image is stored.

            '
          items:
[...]
