openapi: 3.2.0
info:
  title: Palo Alto Networks Remote Networks API
  version: '1.0'
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged RemoteNetworks across 3 of this provider''s published API definitions: palo-alto-access-prisma-access-config-remotenetworks-openapi.yaml, palo-alto-networks-remotenetworks-api-openapi.yml, palo-alto-prisma-access-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Prisma Access SASE configuration API server.
tags:
- name: RemoteNetworks
paths:
  /sse/config/v1/remote-networks:
    get:
      description: List all remote networks.
      operationId: get-sse-config-v1-remote-networks
      parameters:
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/name-optional'
      - $ref: '#/components/parameters/folder'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/remote-networks'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of remote networks
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: List remote networks
      tags:
      - RemoteNetworks
    post:
      description: Create a remote network.
      operationId: post-sse-config-v1-remote-networks
      parameters:
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remote-networks'
        description: The remote network you want to create
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create remote networks
      tags:
      - RemoteNetworks
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/remote-networks/{id}:
    delete:
      description: Delete a remote network.
      operationId: delete-sse-config-v1-remote-networks-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete a remote network
      tags:
      - RemoteNetworks
    get:
      description: Get a remote network.
      operationId: get-sse-config-v1-remote-networks-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - items:
                    $ref: '#/components/schemas/remote-networks'
                  type: array
          description: Get the remote network by id.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Get a remote network
      tags:
      - RemoteNetworks
    put:
      description: Edit a remote network.
      operationId: put-sse-config-v1-remote-networks-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remote-networks'
        description: The remote network you want to edit
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Edit a remote network
      tags:
      - RemoteNetworks
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /remote-networks:
    get:
      operationId: listRemoteNetworks
      summary: Palo Alto Networks List Remote Networks
      description: Returns a list of all configured remote networks in the Prisma Access tenant. Each remote network represents a branch or data center site connected via IPSec tunnel. Supports filtering by name and folder, with pagination.
      tags:
      - RemoteNetworks
      parameters:
      - name: folder
        in: query
        description: Filter remote networks by folder (e.g., Remote Networks).
        schema:
          type: string
        example: example-folder
      - name: name
        in: query
        description: Filter by remote network name.
        schema:
          type: string
        example: Production Firewall 82
      - name: offset
        in: query
        description: Starting offset for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of results to return.
        schema:
          type: integer
          default: 200
          maximum: 5000
        example: 200
      responses:
        '200':
          description: Remote networks returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RemoteNetwork'
                  offset:
                    type: integer
                  total:
                    type: integer
                  limit:
                    type: integer
              examples:
                ListRemoteNetworks200Example:
                  summary: Default listRemoteNetworks 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: example-id
                      name: Corporate Sensor 34
                      region: us-west-2
                      license_type: FWAAS-AGGREGATE
                      spn_name: Production Gateway 60
                      ecmp_load_balancing: disable
                      subnets:
                      - 10.231.109.0/24
                      - 10.117.88.0/24
                      folder: example-folder
                    - id: example-id
                      name: Corporate Sensor 34
                      region: us-west-2
                      license_type: FWAAS-AGGREGATE
                      spn_name: Production Gateway 60
                      ecmp_load_balancing: disable
                      subnets:
                      - 10.231.109.0/24
                      - 10.117.88.0/24
                      folder: example-folder
                    offset: 310
                    total: 460
                    limit: 429
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    post:
      operationId: createRemoteNetwork
      summary: Palo Alto Networks Create a Remote Network
      description: Creates a new remote network configuration in the candidate configuration. The remote network defines an IPSec tunnel endpoint for connecting a branch office or data center to Prisma Access. Changes must be pushed to take effect.
      tags:
      - RemoteNetworks
      parameters:
      - name: folder
        in: query
        required: true
        description: Target folder for the remote network (e.g., Remote Networks).
        schema:
          type: string
        example: example-folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteNetwork'
            examples:
              CreateRemoteNetworkRequestExample:
                summary: Default createRemoteNetwork request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Corporate Sensor 34
                  region: us-west-2
                  license_type: FWAAS-AGGREGATE
                  spn_name: Production Gateway 60
                  ecmp_load_balancing: disable
                  subnets:
                  - 10.231.109.0/24
                  - 10.117.88.0/24
                  folder: example-folder
      responses:
        '201':
          description: Remote network created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteNetwork'
              examples:
                CreateRemoteNetwork201Example:
                  summary: Default createRemoteNetwork 201 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Corporate Sensor 34
                    region: us-west-2
                    license_type: FWAAS-AGGREGATE
                    spn_name: Production Gateway 60
                    ecmp_load_balancing: disable
                    subnets:
                    - 10.231.109.0/24
                    - 10.117.88.0/24
                    folder: example-folder
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /remote-networks/{id}:
    get:
      operationId: getRemoteNetwork
      summary: Palo Alto Networks Get a Remote Network
      description: Returns the configuration of a specific remote network by ID.
      tags:
      - RemoteNetworks
      parameters:
      - name: id
        in: path
        required: true
        description: Unique remote network identifier.
        schema:
          type: string
        example: example-id
      responses:
        '200':
          description: Remote network returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteNetwork'
              examples:
                GetRemoteNetwork200Example:
                  summary: Default getRemoteNetwork 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Corporate Sensor 34
                    region: us-west-2
                    license_type: FWAAS-AGGREGATE
                    spn_name: Production Gateway 60
                    ecmp_load_balancing: disable
                    subnets:
                    - 10.231.109.0/24
                    - 10.117.88.0/24
                    folder: example-folder
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    put:
      operationId: updateRemoteNetwork
      summary: Palo Alto Networks Update a Remote Network
      description: Updates the configuration of an existing remote network in the candidate configuration. Changes must be pushed to take effect.
      tags:
      - RemoteNetworks
      parameters:
      - name: id
        in: path
        required: true
        description: Unique remote network identifier.
        schema:
          type: string
        example: example-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteNetwork'
            examples:
              UpdateRemoteNetworkRequestExample:
                summary: Default updateRemoteNetwork request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Corporate Sensor 34
                  region: us-west-2
                  license_type: FWAAS-AGGREGATE
                  spn_name: Production Gateway 60
                  ecmp_load_balancing: disable
                  subnets:
                  - 10.231.109.0/24
                  - 10.117.88.0/24
                  folder: example-folder
      responses:
        '200':
          description: Remote network updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteNetwork'
              examples:
                UpdateRemoteNetwork200Example:
                  summary: Default updateRemoteNetwork 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Corporate Sensor 34
                    region: us-west-2
                    license_type: FWAAS-AGGREGATE
                    spn_name: Production Gateway 60
                    ecmp_load_balancing: disable
                    subnets:
                    - 10.231.109.0/24
                    - 10.117.88.0/24
                    folder: example-folder
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    delete:
      operationId: deleteRemoteNetwork
      summary: Palo Alto Networks Delete a Remote Network
      description: Deletes a remote network from the candidate configuration. Changes must be pushed to take effect.
      tags:
      - RemoteNetworks
      parameters:
      - name: id
        in: path
        required: true
        description: Unique remote network identifier.
        schema:
          type: string
        example: example-id
      responses:
        '200':
          description: Remote network deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  examples:
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Object
        _request_id: abcd-1234
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          details: {}
          message: Object Not Unique
        _request_id: abcd-1234
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Input Format Mismatch: input-format=json'
        _request_id: abcd-1234
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: 'Action Not Supported: move'
        _request_id: abcd-1234
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Expired
        _request_id: abcd-1234
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          details: {}
          message: Bad XPath
        _request_id: abcd-1234
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          details: {}
          message: Missing Body
        _request_id: abcd-1234
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          details: {}
          message: Unauthorized
        _request_id: abcd-1234
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          details: {}
          message: Invalid Credential
        _request_id: abcd-1234
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: 4
          details: {}
          message: Session Timeout
        _request_id: abcd-1234
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          details: {}
          message: Not Authenticated
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Command
        _request_id: abcd-1234
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Too Long
        _request_id: abcd-1234
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          details: {}
          message: Name Not Unique
        _request_id: abcd-1234
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          details: {}
          message: The password needs to be changed.
        _request_id: abcd-1234
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Method Not Supported
        _request_id: abcd-1234
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Malformed Command
        _request_id: abcd-1234
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          details: {}
          message: Reference Not Zero
        _request_id: abcd-1234
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Invalid Query Parameter: location=invalid'
        _request_id: abcd-1234
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Version Not Supported
        _request_id: abcd-1234
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Missing Query Parameter: name'
        _request_id: abcd-1234
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Output Format Mismatch: output-format=json Accept=xml'
        _request_id: abcd-1234
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          details: {}
          message: Object Not Present
        _request_id: abcd-1234
  responses:
    access_errors:
      content:
        application/json:
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Forbidden
    not_found:
      content:
        application/json:
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Not Found
    conflict_errors:
      content:
        application/json:
          examples:
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Conflict
    http_created:
      description: Created
    bad_request_errors_basic:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    default_errors:
      content:
        application/json:
          examples:
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    auth_errors:
      content:
        application/json:
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Unauthorized
    bad_request_errors_basic_with_body:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    http_ok:
      description: Ok
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    offset-optional:
      description: 'The offset of the result entry.

        '
      in: query
      name: offset
      required: false
      schema:
        type: number
    limit-optional:
      description: 'The maximum number of result objects to return per page.

        '
      in: query
      name: limit
      required: false
      schema:
        type: number
    folder:
      description: 'The folder on which you want to perform this operation.

        '
      in: query
      name: folder
      required: true
      schema:
        enum:
        - Shared
        - Mobile Users
        - Remote Networks
        - Service Connections
        - Mobile Users Container
        - Mobile Users Explicit Proxy
        pattern: ^[0-9a-zA-Z._-\s]{1,}$
        type: string
    uuid-required:
      description: 'The resource''s unique identifier.

        '
      in: path
      name: id
      required: true
      schema:
        type: string
    name-optional:
      description: 'The name of the entry.

        '
      in: query
      name: name
      required: false
      schema:
        type: string
  schemas:
    remote-networks:
      properties:
        ecmp_load_balancing:
          default: disable
          enum:
          - enable
          - disable
          type: string
        ecmp_tunnels:
          description: ecmp_tunnels is required when ecmp_load_balancing is enable
          items:
            properties:
              do_not_export_routes:
                type: boolean
              ipsec_tunnel:
                type: string
              local_ip_address:
                type: string
              name:
                type: string
              originate_default_route:
                type: boolean
              peer_as:
                type: string
              peer_ip_address:
                type: string
              peering_type:
                description: 'Exchange Routes: exchange-v4-over-v4 stands for Exchange IPv4 routes over IPv4 peering. exchange-v4-v6-over-v4 stands for Exchange both IPv4 and IPv6 routes over IPv4 peering. exchange-v4-over-v4-v6-over-v6 stands for Exchange IPv4 routes over IPv4 peer and IPv6 route over IPv6 peer. exchange-v6-over-v6 stands for Exchange IPv6 routes over IPv6 peering.'
                enum:
                - exchange-v4-over-v4
                - exchange-v4-v6-over-v4
                - exchange-v4-over-v4-v6-over-v6
                - exchange-v6-over-v6
                type: string
              secret:
                type: string
              summarize_mobile_user_routes:
                type: boolean
            required:
            - name
            - ipsec_tunnel
            type: object
          maxLength: 4
          type: array
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        ipsec_tunnel:
          description: ipsec_tunnel is required when ecmp_load_balancing is disable
          type: string
        license_type:
          default: FWAAS-AGGREGATE
          description: New customer will only be on aggregate bandwidth licensing
          minLength: 1
          type: string
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 63
          type: string
        protocol:
          properties:
            bgp:
              properties:
                do_not_export_routes:
                  type: boolean
                enable:
                  type: boolean
                local_ip_address:
                  type: string
                originate_default_route:
                  type: boolean
                peer_as:
                  type: string
                peer_ip_address:
                  type: string
                peering_type:
                  description: 'Exchange Routes: exchange-v4-over-v4 stands for Exchange IPv4 routes over IPv4 peering. exchange-v4-v6-over-v4 stands for Exchange both IPv4 and IPv6 routes over IPv4 peering. exchange-v4-over-v4-v6-over-v6 stands for Exchange IPv4 routes over IPv4 peer and IPv6 route over IPv6 peer. exchange-v6-over-v6 stands for Exchange IPv6 routes over IPv6 peering.'
                  enum:
                  - exchange-v4-over-v4
                  - exchange-v4-v6-over-v4
                  - exchange-v4-over-v4-v6-over-v6
                  - exchange-v6-over-v6
                  type: string
                secret:
                  type: string
                summarize_mobile_user_routes:
                  type: boolean
              type: object
            bgp_peer:
              properties:
                local_ip_address:
                  type: string
                peer_ip_address:
                  type: string
                secret:
                  type: string
              type: object
          type: object
        region:
          minLength: 1
          type: string
        secondary_ipsec_tunnel:
          type: string
        spn_name:
          description: spn-name is needed when license_type is FWAAS-AGGREGATE
          type: string
        subnets:
          items:
            type: string
          type: array
      required:
      - name
      - region
      - license_type
      type: object
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    ErrorResponse:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Alert malware configured threat rule network malware configured on.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Threat configured alert firewall violation monitoring traffic activity.
            details: {}
          - code: example-code
            message: Blocked threat Security traffic firewall monitoring malware endpoint suspicious network.
            details: {}
        _request_id:
          type: string
          example: '980164'
    RemoteNetwork:
      type: object
      required:
      - name
      - region
      properties:
        id:
          type: string
          description: Unique identifier for the remote network.
          readOnly: true
          example: example-id
        name:
          type: string
          description: Name of the remote network.
          example: Corporate Sensor 34
        region:
          type: string
          description: Prisma Access compute region (e.g., us-east-1, eu-west-1).
          example: us-west-2
        license_type:
          type: string
          enum:
          - FWAAS-AGGREGATE
          - FWAAS-BYOL
          description: License type assigned to this remote network.
          example: FWAAS-AGGREGATE
        spn_name:
          type: string
          description: Service provider node name for the Prisma Access gateway location.
          example: Production Gateway 60
        ecmp_load_balancing:
          type: string
          enum:
          - enable
          - disable
          description: Enable or disable ECMP load balancing.
          example: disable
        subnets:
          type: array
          items:
            type: string
          description: Local subnets at the remote network site.
          example:
          - 10.231.109.0/24
          - 10.117.88.0/24
        folder:
          type: string
          description: Folder containing this remote network.
          readOnly: true
          example: example-folder
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow for obtaining an access token. Requires a client ID and client secret from the Palo Alto Networks SASE identity provider.
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
x-refined-from:
- palo-alto-access-prisma-access-config-remotenetworks-openapi.yaml
- palo-alto-networks-remotenetworks-api-openapi.yml
- palo-alto-prisma-access-api-openapi-original.yml
