openapi: 3.2.0
info:
  title: SASE 5G Monitor Service Added and Cleared Mappings API
  version: '1.0'
  description: 'The SASE 5G Monitoring Service provides real-time visibility and technical telemetry

    for enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem.'
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: Added and Cleared Mappings
paths:
  /mt/monitor/5g/ueIp/count:
    post:
      tags:
      - Added and Cleared Mappings
      summary: Get Added/Cleared Mappings Count
      description: Returns the count of added and cleared UE IP Address mappings over a period of time.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountFilterRequest'
            example:
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  add_count: 28
                  delete_count: 19
                header:
                  createdAt: '2025-12-17T02:07:14Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gUeipCount
components:
  schemas:
    CountFilterRequest:
      type: object
      properties:
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
