openapi: 3.2.0
info:
  title: Palo Alto Networks Throughput Trend API
  version: '1.0'
  description: 'Operations tagged Throughput Trend across 3 of this provider''s published API definitions: palo-alto-networks-throughput-trend-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Throughput Trend
paths:
  /mt/monitor/5g/interconnect/throughput:
    post:
      tags:
      - Throughput Trend
      summary: Palo Alto Networks Analyze Throughput Performance
      description: "Generates egress and ingress throughput metrics for 5G interconnects \nover a requested interval. Analysts monitor these throughput levels \nto detect congestion points and optimize traffic flow across the \nregional security perimeter."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThroughputRequest'
            example:
              properties:
              - property: egress_throughput
              - property: ingress_throughput
              - property: event_time
              - property: region
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
                - property: region
                  operator: equals
                  values:
                  - us-central1
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - egress_throughput: 0.002508770165798529
                  ingress_throughput: 0.003023766583801299
                  event_time: 1765324800000
                  region: us-central1
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gInterconnectThroughput
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    ThroughputRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
                example: example-property
          example:
          - property: example-property
          - property: example-property
        filter:
          type: object
          properties:
            operator:
              type: string
              example: example-operator
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                    example: example-property
                  operator:
                    type: string
                    example: example-operator
                  values:
                    type: array
                    items:
                      type: object
                    example:
                    - {}
              example:
              - property: example-property
                operator: example-operator
                values:
                - {}
                - {}
              - property: example-property
                operator: example-operator
                values:
                - {}
          example:
            operator: example-operator
            rules:
            - property: example-property
              operator: example-operator
              values:
              - {}
        histogram:
          type: object
          properties:
            property:
              type: string
              example: example-property
            range:
              type: string
              example: example-range
            enableEmptyInterval:
              type: boolean
              example: false
            value:
              type: string
              example: example-value
          example:
            property: example-property
            range: example-range
            enableEmptyInterval: true
            value: example-value
    ThroughputRequest_2:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-throughput-trend-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
