openapi: 3.2.0
info:
  title: SASE 5G Monitor Service Throughput Trend API
  version: '1.0'
  description: 'The SASE 5G Monitoring Service provides real-time visibility and technical telemetry

    for enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem.'
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: Throughput Trend
paths:
  /mt/monitor/5g/interconnect/throughput:
    post:
      tags:
      - Throughput Trend
      summary: Get Throughput Trend
      description: Returns the throughput trend data for egress and ingress traffic.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThroughputRequest'
            example:
              properties:
              - property: egress_throughput
              - property: ingress_throughput
              - property: event_time
              - property: region
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
                - property: region
                  operator: equals
                  values:
                  - us-central1
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - egress_throughput: 0.002508770165798529
                  ingress_throughput: 0.003023766583801299
                  event_time: 1765324800000
                  region: us-central1
                - egress_throughput: 0.0027237501165300205
                  ingress_throughput: 0.0034827909235609217
                  event_time: 1765411200000
                  region: us-central1
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gInterconnectThroughput
components:
  schemas:
    ThroughputRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
