openapi: 3.1.0
info:
  title: Palo Alto Networks Prisma SD-WAN API
  description: >-
    REST API for the Prisma SD-WAN branch networking platform providing
    programmatic access to site management, WAN and LAN interface
    configuration, QoS rules, path policy rules, site performance
    metrics, application usage monitoring, and alarm management. Prisma
    SD-WAN enables intelligent path selection, application-aware routing,
    and centralized management of branch office connectivity across the
    SASE fabric. The unified API is available at
    https://api.sase.paloaltonetworks.com. A legacy CloudGenix-compatible
    API is available at https://api.cloudgenix.com/v4.7.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com
    description: Prisma SD-WAN unified SASE API server.
  - url: https://api.cloudgenix.com/v4.7
    description: Legacy CloudGenix API server (v4.7).
security:
  - oauth2: []
tags:
  - name: LANNetworks
    description: >-
      LAN network configuration for defining local networks at
      SD-WAN sites.
  - name: Monitoring
    description: >-
      Site performance metrics, application usage data, and alarm
      monitoring.
  - name: PathRules
    description: >-
      Path policy rule management for controlling traffic steering
      decisions across available WAN links.
  - name: QoSRules
    description: >-
      Quality of Service rule management for traffic prioritization
      across WAN links.
  - name: Sites
    description: >-
      SD-WAN site management for branch offices, data centers, and
      remote locations.
  - name: WANInterfaces
    description: >-
      WAN interface configuration for defining upstream connectivity
      including ISP links, MPLS circuits, and LTE connections.
paths:
  /sdwan/config/v1/sites:
    get:
      operationId: listSites
      summary: Palo Alto Networks List SD-WAN sites
      description: >-
        Returns a list of all SD-WAN sites configured in the tenant.
        Each site represents a physical location such as a branch
        office, data center, or retail store with one or more ION
        devices providing SD-WAN functionality.
      tags:
        - Sites
      parameters:
        - name: offset
          in: query
          description: Starting offset for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of sites to return.
          schema:
            type: integer
            default: 100
            maximum: 1000
        - name: name
          in: query
          description: Filter sites by name.
          schema:
            type: string
      responses:
        '200':
          description: Sites returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of sites matching the query.
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createSite
      summary: Palo Alto Networks Create an SD-WAN site
      description: >-
        Creates a new SD-WAN site definition. After creation, ION
        elements and WAN interfaces can be configured and assigned
        to the site.
      tags:
        - Sites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
      responses:
        '200':
          description: Site created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdwan/config/v1/sites/{site_id}:
    get:
      operationId: getSite
      summary: Palo Alto Networks Get an SD-WAN site
      description: Returns the configuration of a specific SD-WAN site by ID.
      tags:
        - Sites
      parameters:
        - name: site_id
          in: path
          required: true
          description: Unique site identifier.
          schema:
            type: string
      responses:
        '200':
          description: Site returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateSite
      summary: Palo Alto Networks Update an SD-WAN site
      description: Updates the configuration of an existing SD-WAN site.
      tags:
        - Sites
      parameters:
        - name: site_id
          in: path
          required: true
          description: Unique site identifier.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
      responses:
        '200':
          description: Site updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteSite
      summary: Palo Alto Networks Delete an SD-WAN site
      description: Deletes an SD-WAN site and all associated configuration.
      tags:
        - Sites
      parameters:
        - name: site_id
          in: path
          required: true
          description: Unique site identifier.
          schema:
            type: string
      responses:
        '200':
          description: Site deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdwan/config/v1/sites/{site_id}/wan-interfaces:
    get:
      operationId: listSiteWANInterfaces
      summary: Palo Alto Networks List WAN interfaces at a site
      description: >-
        Returns a list of WAN interfaces configured at the specified
        site. WAN interfaces represent upstream network connections
        such as broadband ISP links, MPLS circuits, or LTE backup
        links.
      tags:
        - WANInterfaces
      parameters:
        - name: site_id
          in: path
          required: true
          description: Unique site identifier.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: WAN interfaces returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WANInterface'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createSiteWANInterface
      summary: Palo Alto Networks Create a WAN interface at a site
      description: Creates a new WAN interface configuration at the specified site.
      tags:
        - WANInterfaces
      parameters:
        - name: site_id
          in: path
          required: true
          description: Unique site identifier.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WANInterface'
      responses:
        '200':
          description: WAN interface created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WANInterface'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdwan/config/v1/sites/{site_id}/lan-networks:
    get:
      operationId: listSiteLANNetworks
      summary: Palo Alto Networks List LAN networks at a site
      description: >-
        Returns a list of LAN networks configured at the specified site.
        LAN networks define the local subnets and VLAN configurations
        served by the SD-WAN device at the site.
      tags:
        - LANNetworks
      parameters:
        - name: site_id
          in: path
          required: true
          description: Unique site identifier.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: LAN networks returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LANNetwork'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createSiteLANNetwork
      summary: Palo Alto Networks Create a LAN network at a site
      description: Creates a new LAN network configuration at the specified site.
      tags:
        - LANNetworks
      parameters:
        - name: site_id
          in: path
          required: true
          description: Unique site identifier.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LANNetwork'
      responses:
        '200':
          description: LAN network created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LANNetwork'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdwan/config/v1/policies/qos-rules:
    get:
      operationId: listQoSRules
      summary: Palo Alto Networks List QoS rules
      description: >-
        Returns a list of Quality of Service rules configured in the
        SD-WAN tenant. QoS rules define traffic prioritization and
        bandwidth allocation policies for applications traversing
        WAN links.
      tags:
        - QoSRules
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: QoS rules returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/QoSRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createQoSRule
      summary: Palo Alto Networks Create a QoS rule
      description: Creates a new QoS traffic prioritization rule.
      tags:
        - QoSRules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QoSRule'
      responses:
        '200':
          description: QoS rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QoSRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdwan/config/v1/policies/path-rules:
    get:
      operationId: listPathRules
      summary: Palo Alto Networks List path policy rules
      description: >-
        Returns a list of path policy rules. Path rules control traffic
        steering decisions across available WAN links based on
        application identity, source, destination, and link quality
        conditions.
      tags:
        - PathRules
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Path policy rules returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PathRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createPathRule
      summary: Palo Alto Networks Create a path policy rule
      description: Creates a new path policy rule for traffic steering.
      tags:
        - PathRules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PathRule'
      responses:
        '200':
          description: Path policy rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PathRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdwan/monitor/v1/sites/{site_id}/metrics:
    get:
      operationId: getSiteMetrics
      summary: Palo Alto Networks Get site performance metrics
      description: >-
        Returns performance metrics for a specific SD-WAN site including
        WAN link utilization, latency, jitter, and packet loss data
        collected from the site's ION devices.
      tags:
        - Monitoring
      parameters:
        - name: site_id
          in: path
          required: true
          description: Unique site identifier.
          schema:
            type: string
        - name: start_time
          in: query
          description: Start of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: metric_type
          in: query
          description: Type of metric to retrieve.
          schema:
            type: string
            enum:
              - bandwidth
              - latency
              - jitter
              - packet_loss
        - name: granularity
          in: query
          description: Time granularity for metric aggregation.
          schema:
            type: string
            enum:
              - 5m
              - 15m
              - 1h
              - 1d
            default: 1h
      responses:
        '200':
          description: Site metrics returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  site_id:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SiteMetric'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdwan/monitor/v1/applications:
    get:
      operationId: getApplicationUsage
      summary: Palo Alto Networks Get application usage
      description: >-
        Returns application usage and performance data across all
        SD-WAN sites. Includes bandwidth consumption, session counts,
        and quality metrics per application.
      tags:
        - Monitoring
      parameters:
        - name: start_time
          in: query
          description: Start of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of the time range in ISO 8601 format.
          schema:
            type: string
            format: date-time
        - name: site_id
          in: query
          description: Filter by specific site.
          schema:
            type: string
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Application usage returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationUsage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /sdwan/monitor/v1/alarms:
    get:
      operationId: listAlarms
      summary: Palo Alto Networks List active alarms
      description: >-
        Returns a list of active SD-WAN alarms across all monitored
        sites. Alarms indicate conditions requiring attention such as
        WAN link failures, high latency, device disconnections, and
        tunnel state changes.
      tags:
        - Monitoring
      parameters:
        - name: site_id
          in: query
          description: Filter alarms by site.
          schema:
            type: string
        - name: severity
          in: query
          description: Filter alarms by severity level.
          schema:
            type: string
            enum:
              - critical
              - major
              - minor
              - info
        - name: acknowledged
          in: query
          description: Filter by acknowledgement status.
          schema:
            type: boolean
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Alarms returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alarm'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: >-
        OAuth 2.0 client credentials flow for obtaining an access token.
        Requires a client ID and client secret from the Palo Alto Networks
        SASE identity provider.
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
  responses:
    Unauthorized:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Site:
      type: object
      required:
        - name
      properties:
        id:
          type: string
          description: Unique identifier for the site.
          readOnly: true
        name:
          type: string
          description: Name of the SD-WAN site.
        description:
          type: string
          description: Optional description of the site.
        admin_state:
          type: string
          enum:
            - active
            - disabled
          default: active
          description: Administrative state of the site.
        element_cluster_role:
          type: string
          enum:
            - SPOKE
            - HUB
            - NONE
          default: SPOKE
          description: Role of the site in the SD-WAN topology.
        address:
          type: object
          description: Physical address of the site.
          properties:
            street:
              type: string
            city:
              type: string
            state:
              type: string
            post_code:
              type: string
            country:
              type: string
        location:
          type: object
          description: Geographic coordinates of the site.
          properties:
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
        tags:
          type: array
          items:
            type: string
          description: Tags for organizing and filtering sites.
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
    WANInterface:
      type: object
      required:
        - name
        - type
      properties:
        id:
          type: string
          description: Unique identifier for the WAN interface.
          readOnly: true
        name:
          type: string
          description: Name of the WAN interface.
        description:
          type: string
        type:
          type: string
          enum:
            - publicwan
            - privatewan
          description: Type of WAN connection.
        link_bw_down:
          type: number
          description: Downstream bandwidth in Mbps.
        link_bw_up:
          type: number
          description: Upstream bandwidth in Mbps.
        cost:
          type: integer
          minimum: 0
          maximum: 255
          description: Cost metric for path selection. Lower cost is preferred.
        lqm_enabled:
          type: boolean
          default: true
          description: Whether Link Quality Monitoring is enabled.
        label_id:
          type: string
          description: WAN interface label for policy-based routing.
        site_id:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
    LANNetwork:
      type: object
      required:
        - name
        - network
      properties:
        id:
          type: string
          description: Unique identifier for the LAN network.
          readOnly: true
        name:
          type: string
          description: Name of the LAN network.
        description:
          type: string
        network:
          type: string
          description: Subnet CIDR for the LAN network (e.g., 192.168.1.0/24).
        vlan_id:
          type: integer
          minimum: 1
          maximum: 4094
          description: VLAN identifier for this LAN network.
        dhcp_enabled:
          type: boolean
          default: false
          description: Whether the ION device serves DHCP for this network.
        site_id:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
    QoSRule:
      type: object
      required:
        - name
      properties:
        id:
          type: string
          description: Unique identifier for the QoS rule.
          readOnly: true
        name:
          type: string
          description: Name of the QoS rule.
        description:
          type: string
        priority:
          type: string
          enum:
            - high
            - medium
            - low
            - default
          description: Traffic priority for matching flows.
        dscp_class:
          type: string
          description: DSCP class to apply for marking traffic.
        app_filters:
          type: array
          items:
            type: string
          description: Application names or identifiers this rule applies to.
        bandwidth_limit_up:
          type: number
          description: Upstream bandwidth limit in Mbps for matched traffic.
        bandwidth_limit_down:
          type: number
          description: Downstream bandwidth limit in Mbps for matched traffic.
        enabled:
          type: boolean
          default: true
          description: Whether the rule is active.
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
    PathRule:
      type: object
      required:
        - name
      properties:
        id:
          type: string
          description: Unique identifier for the path rule.
          readOnly: true
        name:
          type: string
          description: Name of the path rule.
        description:
          type: string
        app_filters:
          type: array
          items:
            type: string
          description: Application identifiers this path rule applies to.
        preferred_paths:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
                description: WAN interface label for the preferred path.
              type:
                type: string
                enum:
                  - active
                  - backup
                description: Whether this path is active or backup.
          description: Ordered list of preferred WAN paths for traffic steering.
        sla_threshold:
          type: object
          description: SLA thresholds that trigger path switching.
          properties:
            latency_ms:
              type: integer
              description: Maximum acceptable latency in milliseconds.
            packet_loss_pct:
              type: number
              description: Maximum acceptable packet loss percentage.
            jitter_ms:
              type: integer
              description: Maximum acceptable jitter in milliseconds.
        enabled:
          type: boolean
          default: true
          description: Whether the rule is active.
        priority:
          type: integer
          description: Rule evaluation priority. Lower numbers are evaluated first.
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
    SiteMetric:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: Time bucket for the aggregated metric.
        site_id:
          type: string
          description: Site identifier.
        interface_name:
          type: string
          description: WAN interface name.
        metric_type:
          type: string
          enum:
            - bandwidth
            - latency
            - jitter
            - packet_loss
          description: Type of metric.
        value:
          type: number
          description: Metric value.
        unit:
          type: string
          description: Unit of measurement (e.g., Mbps, ms, pct).
        direction:
          type: string
          enum:
            - upload
            - download
          description: Traffic direction for bandwidth metrics.
    ApplicationUsage:
      type: object
      properties:
        application:
          type: string
          description: Application name.
        site_id:
          type: string
          description: Site where the application traffic was observed.
        bytes_up:
          type: integer
          format: int64
          description: Uploaded bytes for the application.
        bytes_down:
          type: integer
          format: int64
          description: Downloaded bytes for the application.
        sessions:
          type: integer
          description: Number of application sessions.
        avg_latency_ms:
          type: number
          description: Average latency for application traffic.
        timestamp:
          type: string
          format: date-time
          description: Time bucket for the usage data.
    Alarm:
      type: object
      properties:
        id:
          type: string
          description: Unique alarm identifier.
        type:
          type: string
          description: Alarm type identifier.
        severity:
          type: string
          enum:
            - critical
            - major
            - minor
            - info
          description: Alarm severity level.
        site_id:
          type: string
          description: Site where the alarm was generated.
        site_name:
          type: string
          description: Name of the site where the alarm was generated.
        element_id:
          type: string
          description: ION element identifier that generated the alarm.
        message:
          type: string
          description: Human-readable alarm description.
        acknowledged:
          type: boolean
          description: Whether the alarm has been acknowledged.
        acknowledged_by:
          type: string
          description: User who acknowledged the alarm.
        acknowledged_at:
          type: string
          format: date-time
          description: Timestamp when the alarm was acknowledged.
        raised_at:
          type: string
          format: date-time
          description: Timestamp when the alarm was raised.
        cleared_at:
          type: string
          format: date-time
          description: Timestamp when the alarm was cleared. Null if still active.
    ErrorResponse:
      type: object
      properties:
        _error:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
