openapi: 3.1.0
info:
  title: Palo Alto Networks Prisma Cloud CSPM API
  description: >-
    REST API for Prisma Cloud Security Posture Management providing
    programmatic access to cloud security monitoring across AWS, Azure, GCP,
    and Oracle Cloud. The API supports managing security alerts, compliance
    policies, cloud account onboarding, asset inventories, and resource
    queries using RQL (Resource Query Language). Authentication uses JWT
    tokens obtained from the /login endpoint with access key credentials.
    Tokens are valid for 10 minutes and must be refreshed for long-running
    operations.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.prismacloud.io
    description: Prisma Cloud API (US region 1).
  - url: https://api2.prismacloud.io
    description: Prisma Cloud API (US region 2).
  - url: https://api3.prismacloud.io
    description: Prisma Cloud API (US region 3).
  - url: https://api.eu.prismacloud.io
    description: Prisma Cloud API (EU).
  - url: https://api.anz.prismacloud.io
    description: Prisma Cloud API (ANZ).
  - url: https://api.sg.prismacloud.io
    description: Prisma Cloud API (Singapore).
  - url: https://api.ca.prismacloud.io
    description: Prisma Cloud API (Canada).
security:
  - bearerAuth: []
tags:
  - name: Alerts
    description: Security alert management.
  - name: Authentication
    description: Login and token management.
  - name: CloudAccounts
    description: Cloud account onboarding and management.
  - name: Compliance
    description: Compliance posture and reporting.
  - name: Policies
    description: Security policy management.
  - name: Reports
    description: Report management.
  - name: Search
    description: RQL-based resource and configuration search.
paths:
  /login:
    post:
      operationId: login
      summary: Palo Alto Networks Authenticate and get JWT token
      description: >-
        Authenticates with Prisma Cloud access key credentials and returns
        a JWT token for subsequent API calls. Tokens are valid for 10
        minutes.
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  description: Access Key ID from Prisma Cloud Settings.
                password:
                  type: string
                  description: Secret Key associated with the Access Key.
                customerName:
                  type: string
                  description: Customer name (required for multi-tenant accounts).
      responses:
        '200':
          description: Authentication successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT bearer token for API authorization.
                  message:
                    type: string
                  customerNames:
                    type: array
                    items:
                      type: object
                      properties:
                        customerName:
                          type: string
                        tosAccepted:
                          type: boolean
        '401':
          description: Invalid credentials.
  /alert:
    get:
      operationId: getAlerts
      summary: Palo Alto Networks List alerts
      description: >-
        Returns security alerts matching the specified filters. Supports
        filtering by status, severity, policy, time range, cloud type,
        and account. The timeType, timeAmount, and timeUnit parameters
        control the time range filter for relative time windows.
      tags:
        - Alerts
      parameters:
        - name: timeType
          in: query
          description: Time filter type.
          schema:
            type: string
            enum:
              - relative
              - absolute
              - to_now
        - name: timeAmount
          in: query
          description: Time amount for relative time type.
          schema:
            type: integer
        - name: timeUnit
          in: query
          description: Time unit for relative time type.
          schema:
            type: string
            enum:
              - minute
              - hour
              - day
              - week
              - month
              - year
        - name: startTime
          in: query
          description: Start time in epoch milliseconds for absolute time type.
          schema:
            type: integer
        - name: endTime
          in: query
          description: End time in epoch milliseconds for absolute time type.
          schema:
            type: integer
        - name: limit
          in: query
          description: Maximum number of alerts to return.
          schema:
            type: integer
            default: 10000
        - name: offset
          in: query
          description: Pagination offset.
          schema:
            type: integer
            default: 0
        - name: severity
          in: query
          description: Filter by alert severity.
          schema:
            type: string
            enum:
              - critical
              - high
              - medium
              - low
              - informational
        - name: policy.id
          in: query
          description: Filter alerts by policy identifier.
          schema:
            type: string
        - name: detailed
          in: query
          description: Include full alert details.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Alerts returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalRows:
                    type: integer
                    description: Total number of alerts matching filters.
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /alert/{id}:
    get:
      operationId: getAlert
      summary: Palo Alto Networks Get alert details
      description: Returns full details for a specific security alert.
      tags:
        - Alerts
      parameters:
        - name: id
          in: path
          required: true
          description: Unique alert identifier.
          schema:
            type: string
      responses:
        '200':
          description: Alert details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /alert/dismiss:
    post:
      operationId: dismissAlerts
      summary: Palo Alto Networks Dismiss alerts
      description: Dismisses one or more security alerts with a reason and optional note.
      tags:
        - Alerts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - alerts
                - dismissalNote
              properties:
                alerts:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                  description: List of alert IDs to dismiss.
                dismissalNote:
                  type: string
                  description: Reason for dismissal.
                dismissalTimeRange:
                  $ref: '#/components/schemas/TimeRange'
                filter:
                  type: object
                  properties:
                    timeRange:
                      $ref: '#/components/schemas/TimeRange'
                    filters:
                      type: array
                      items:
                        $ref: '#/components/schemas/AlertFilter'
      responses:
        '200':
          description: Alerts dismissed successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /alert/reopen:
    post:
      operationId: reopenAlerts
      summary: Palo Alto Networks Reopen dismissed alerts
      description: >-
        Reopens one or more previously dismissed alerts, restoring them
        to open status for active review.
      tags:
        - Alerts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - alerts
              properties:
                alerts:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                  description: List of dismissed alert IDs to reopen.
      responses:
        '200':
          description: Alerts reopened successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /policy:
    get:
      operationId: listPolicies
      summary: Palo Alto Networks List policies
      description: >-
        Returns all security policies including built-in and custom
        policies with their severity, cloud type, and compliance mappings.
      tags:
        - Policies
      responses:
        '200':
          description: Policies returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createPolicy
      summary: Palo Alto Networks Create a custom policy
      description: Creates a new custom security policy with an RQL query.
      tags:
        - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyInput'
      responses:
        '200':
          description: Policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /policy/{policyId}:
    get:
      operationId: getPolicy
      summary: Palo Alto Networks Get policy details
      description: Returns details of a specific policy.
      tags:
        - Policies
      parameters:
        - name: policyId
          in: path
          required: true
          description: Unique policy identifier.
          schema:
            type: string
      responses:
        '200':
          description: Policy returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updatePolicy
      summary: Palo Alto Networks Update a policy
      description: Updates an existing security policy.
      tags:
        - Policies
      parameters:
        - name: policyId
          in: path
          required: true
          description: Unique policy identifier.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyInput'
      responses:
        '200':
          description: Policy updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /cloud:
    get:
      operationId: listCloudAccounts
      summary: Palo Alto Networks List cloud accounts
      description: >-
        Returns a list of all cloud accounts onboarded to Prisma Cloud
        for security monitoring.
      tags:
        - CloudAccounts
      responses:
        '200':
          description: Cloud accounts returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudAccount'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /cloud/{cloudType}:
    post:
      operationId: addCloudAccount
      summary: Palo Alto Networks Add a cloud account
      description: >-
        Onboards a cloud account (AWS, Azure, GCP, or OCI) for security
        monitoring. Requires appropriate cloud credentials and permissions.
      tags:
        - CloudAccounts
      parameters:
        - name: cloudType
          in: path
          required: true
          description: Cloud provider type to onboard.
          schema:
            type: string
            enum:
              - aws
              - azure
              - gcp
              - oci
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountId
                - name
              properties:
                accountId:
                  type: string
                  description: Cloud provider account identifier.
                enabled:
                  type: boolean
                  default: true
                  description: Whether monitoring is enabled for this account.
                name:
                  type: string
                  description: Display name for the account.
                groupIds:
                  type: array
                  items:
                    type: string
                  description: Account group IDs to associate.
      responses:
        '200':
          description: Cloud account onboarded successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /cloud/{cloudType}/{id}:
    delete:
      operationId: removeCloudAccount
      summary: Palo Alto Networks Remove a cloud account
      description: >-
        Removes a cloud account from Prisma Cloud monitoring. All
        associated alerts and data are retained for historical analysis.
      tags:
        - CloudAccounts
      parameters:
        - name: cloudType
          in: path
          required: true
          description: Cloud provider type.
          schema:
            type: string
            enum:
              - aws
              - azure
              - gcp
              - oci
        - name: id
          in: path
          required: true
          description: Cloud account identifier.
          schema:
            type: string
      responses:
        '200':
          description: Cloud account removed successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /search/asset:
    post:
      operationId: searchAsset
      summary: Palo Alto Networks Search assets with RQL
      description: >-
        Executes an RQL (Resource Query Language) asset query against
        cloud resource configurations and returns matching resources.
        Supports config, network, and event query types.
      tags:
        - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - timeRange
              properties:
                query:
                  type: string
                  description: >-
                    RQL query string (e.g., "config from cloud.resource
                    where cloud.type = 'aws'").
                timeRange:
                  $ref: '#/components/schemas/TimeRange'
                limit:
                  type: integer
                  default: 100
                withResourceJson:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Asset search results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /search/config:
    post:
      operationId: searchConfig
      summary: Palo Alto Networks Search cloud resource configurations
      description: >-
        Executes an RQL config query against cloud resource configurations.
        Returns resources matching the query criteria with their
        configuration details.
      tags:
        - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - timeRange
              properties:
                query:
                  type: string
                  description: RQL config query string.
                timeRange:
                  $ref: '#/components/schemas/TimeRange'
                limit:
                  type: integer
                  default: 100
                withResourceJson:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Config search results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /compliance:
    get:
      operationId: listComplianceStandards
      summary: Palo Alto Networks List compliance standards
      description: >-
        Returns a list of compliance standards available in Prisma Cloud,
        including built-in standards (CIS, NIST, PCI-DSS, HIPAA, SOC 2)
        and custom standards.
      tags:
        - Compliance
      responses:
        '200':
          description: Compliance standards returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ComplianceStandard'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /report:
    get:
      operationId: listReports
      summary: Palo Alto Networks List reports
      description: >-
        Returns a list of configured reports including scheduled and
        on-demand reports for compliance, asset inventory, and alert
        summaries.
      tags:
        - Reports
      responses:
        '200':
          description: Reports returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        JWT token obtained from the /login endpoint. Valid for 10 minutes.
        Include as Authorization: Bearer <token> in request headers.
  responses:
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or expired JWT token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Alert:
      type: object
      properties:
        id:
          type: string
          description: Unique alert identifier.
        status:
          type: string
          enum:
            - open
            - dismissed
            - snoozed
            - resolved
          description: Current alert status.
        reason:
          type: string
          description: Reason for the current alert status.
        firstSeen:
          type: integer
          description: Epoch timestamp in milliseconds when the alert was first generated.
        lastSeen:
          type: integer
          description: Epoch timestamp in milliseconds when the alert was last seen.
        alertTime:
          type: integer
          description: Epoch timestamp in milliseconds of the alert.
        policy:
          type: object
          properties:
            policyId:
              type: string
            policyType:
              type: string
            name:
              type: string
            severity:
              type: string
              enum:
                - critical
                - high
                - medium
                - low
                - informational
            recommendation:
              type: string
          description: Policy that generated this alert.
        resource:
          type: object
          properties:
            rrn:
              type: string
              description: Prisma Cloud Resource RRN.
            id:
              type: string
            name:
              type: string
            cloudType:
              type: string
            accountId:
              type: string
            accountName:
              type: string
            regionId:
              type: string
            resourceType:
              type: string
          description: Cloud resource associated with the alert.
        riskDetail:
          type: object
          properties:
            score:
              type: integer
            rating:
              type: string
    AlertFilter:
      type: object
      properties:
        name:
          type: string
          description: >-
            Filter field name (e.g., alert.status, cloud.type,
            policy.severity, cloud.accountId).
        operator:
          type: string
          enum:
            - '='
        value:
          type: string
    TimeRange:
      type: object
      properties:
        type:
          type: string
          enum:
            - relative
            - absolute
            - to_now
        value:
          type: object
          properties:
            amount:
              type: integer
            unit:
              type: string
              enum:
                - minute
                - hour
                - day
                - week
                - month
                - year
    Policy:
      type: object
      properties:
        policyId:
          type: string
          description: Unique policy identifier.
        name:
          type: string
          description: Policy name.
        policyType:
          type: string
          enum:
            - config
            - network
            - audit_event
            - anomaly
            - data
            - iam
          description: Type of policy check.
        severity:
          type: string
          enum:
            - critical
            - high
            - medium
            - low
            - informational
          description: Policy severity level.
        description:
          type: string
          description: Policy description.
        recommendation:
          type: string
          description: Recommended remediation for policy violations.
        cloudType:
          type: string
          description: Cloud provider the policy applies to.
        enabled:
          type: boolean
          description: Whether the policy is active.
        systemDefault:
          type: boolean
          description: Whether this is a built-in policy.
        rule:
          type: object
          properties:
            name:
              type: string
            criteria:
              type: string
              description: RQL query string.
            type:
              type: string
        complianceMetadata:
          type: array
          items:
            type: object
            properties:
              standardName:
                type: string
              requirementId:
                type: string
              requirementName:
                type: string
              sectionId:
                type: string
    PolicyInput:
      type: object
      required:
        - name
        - policyType
        - severity
        - rule
      properties:
        name:
          type: string
        policyType:
          type: string
        severity:
          type: string
        description:
          type: string
        recommendation:
          type: string
        cloudType:
          type: string
        enabled:
          type: boolean
          default: true
        rule:
          type: object
          required:
            - name
            - criteria
            - type
          properties:
            name:
              type: string
            criteria:
              type: string
              description: RQL query for the policy rule.
            type:
              type: string
    CloudAccount:
      type: object
      properties:
        accountId:
          type: string
          description: Cloud provider account identifier.
        name:
          type: string
          description: Display name of the account.
        cloudType:
          type: string
          enum:
            - aws
            - azure
            - gcp
            - oci
          description: Cloud provider type.
        enabled:
          type: boolean
          description: Whether monitoring is enabled.
        numberOfPolicies:
          type: integer
          description: Number of policies applied to this account.
        lastModifiedTs:
          type: integer
          description: Epoch timestamp of last modification.
    SearchResult:
      type: object
      properties:
        cloudType:
          type: string
          description: Cloud provider type for the search results.
        query:
          type: string
          description: RQL query that was executed.
        data:
          type: object
          properties:
            totalRows:
              type: integer
              description: Total number of matching resources.
            items:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  cloudType:
                    type: string
                  accountId:
                    type: string
                  accountName:
                    type: string
                  regionId:
                    type: string
                  resourceType:
                    type: string
                  overallPassed:
                    type: boolean
    ComplianceStandard:
      type: object
      properties:
        id:
          type: string
          description: Unique compliance standard identifier.
        name:
          type: string
          description: Name of the compliance standard.
        description:
          type: string
          description: Standard description.
        cloudType:
          type: array
          items:
            type: string
          description: Cloud providers the standard applies to.
        systemDefault:
          type: boolean
          description: Whether this is a built-in compliance standard.
        policiesAssigned:
          type: integer
          description: Number of policies mapped to this standard.
        createdBy:
          type: string
          description: User who created the standard.
        lastModifiedTs:
          type: integer
          description: Epoch timestamp of last modification.
    Report:
      type: object
      properties:
        id:
          type: string
          description: Unique report identifier.
        name:
          type: string
          description: Report name.
        type:
          type: string
          description: Report type.
          enum:
            - RIS
            - COMPLIANCE
            - ALERT
        status:
          type: string
          enum:
            - pending
            - processing
            - completed
            - failed
          description: Current report generation status.
        createdOn:
          type: integer
          description: Epoch timestamp when the report was created.
        lastModifiedOn:
          type: integer
          description: Epoch timestamp of last modification.
        downloadUrl:
          type: string
          description: URL for downloading the completed report.
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
        error:
          type: string
          description: Error code.
