openapi: 3.2.0
info:
  title: Prisma AIRS API Management service Customer App API
  description: OpenAPI Specification for Prisma AIRS AI Runtime API Management Service
  version: 0.0.0
  contact:
    name: Palo Alto Networks
    url: https://www.paloaltonetworks.com
    email: support@paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/aisec
  description: Prisma AIRS API service URL
tags:
- name: Customer App
  description: Operations related to customer application management
paths:
  /v1/mgmt/customerapp:
    get:
      summary: Get Customer Application Details
      description: Get the customer app details for a given TSG ID and app name
      tags:
      - Customer App
      security:
      - Auth: []
      operationId: GetCustomerApp
      parameters:
      - name: app_name
        in: query
        description: The customer app name for which to fetch details
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully returned metadata for a Customer App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAppObject'
        '404':
          description: Customer app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete Customer App
      description: Delete a customer app for the specified TSG ID and app name
      tags:
      - Customer App
      operationId: DeleteCustomerApp
      parameters:
      - name: app_name
        in: query
        description: The customer app name for which to delete
        required: true
        schema:
          type: string
      - name: updated_by
        in: query
        description: The email address of the user who is deleting the Customer App
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successfully deleted Customer App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAppObject'
        '404':
          description: Customer app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: Update Customer App
      description: Update Customer App information for a given TSG ID and App name
      tags:
      - Customer App
      operationId: updateCustomerAppById
      parameters:
      - name: customer_app_id
        in: query
        description: The uuid of the Customer App to update
        required: true
        schema:
          type: string
      requestBody:
        description: CustomerApp object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAppObject'
      responses:
        200:
          description: Successfully updated Customer App
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAppObject'
        '404':
          description: Customer app not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/mgmt/customerapps:
    get:
      summary: Get All Customer Apps
      description: Get all Customer Apps and their metadata for the auth token's TSG
      tags:
      - Customer App
      operationId: GetAllCustomerAppsForTsgID
      parameters:
      - name: offset
        in: query
        description: The offset at which to start fetching more records
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The number of records to return.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: Successfully returned metadata for all Customer Apps for a given TSG ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomerAppObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    APIKeyDPInfo:
      type: object
      properties:
        api_key_name:
          type: string
        dp_name:
          type: string
        auth_code:
          type: string
      required:
      - api_key_name
      - dp_name
      - auth_code
    CustomerAppObjectWithAPIKeyAndDP:
      type: object
      properties:
        customer_appId:
          type: string
        tsg_id:
          type: string
          description: Tenant Service Group ID
        app_name:
          type: string
        model_name:
          type: string
        cloud_provider:
          type: string
        environment:
          type: string
        ai_agent_framework:
          type: string
        api_keys_dp_info:
          type: array
          items:
            $ref: '#/components/schemas/APIKeyDPInfo'
      required:
      - tsg_id
      - customer_appId
      - app_name
      - cloud_provider
      - environment
    Error:
      type: object
      properties:
        status_code:
          type: integer
          format: int32
        error_message:
          type: string
      required:
      - status_code
      - error_message
    CustomerAppObject:
      type: object
      properties:
        customer_appId:
          type: string
          description: Customer Application ID
        tsg_id:
          type: string
          description: Tenant Service Group ID for Customer App
        app_name:
          type: string
          description: Customer Application Name
        model_name:
          type: string
          description: AI Model Name for Customer App
        cloud_provider:
          type: string
          description: Cloud Provider Name for Customer App
        environment:
          type: string
          description: Cloud Provider Name for Customer App
        status:
          type: string
          description: Indicates Customer App Status whether completed or pending
        created_by:
          type: string
          description: Customer App timestamp
        updated_by:
          type: string
          description: Customer App timestamp
        ai_agent_framework:
          type: string
          description: Framework associated for AI Agent
      required:
      - app_name
      - cloud_provider
      - environment
    PaginatedCustomerAppObject:
      type: object
      properties:
        customer_apps:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAppObjectWithAPIKeyAndDP'
        next_offset:
          type: integer
          format: int32
  securitySchemes:
    Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
