openapi: 3.1.0
info:
  title: Palo Alto Networks ZTNA Connector API
  description: >-
    ZTNA Connector API for zero trust network access management. Provides
    programmatic control over ZTNA connectors, connector groups, protected
    applications, FQDN-based access rules, subnet-based access rules, and
    license information. Connectors are software agents deployed in private
    network environments that provide secure access paths for ZTNA-protected
    applications without requiring inbound firewall rules. Part of the Palo
    Alto Networks SASE platform.
  version: '2.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/ztna
    description: SASE ZTNA Connector API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Connectors
    description: ZTNA connector lifecycle management.
  - name: Connector Groups
    description: Logical grouping of ZTNA connectors for high availability.
  - name: Applications
    description: ZTNA-protected application definitions.
  - name: FQDN Rules
    description: FQDN-based access rules for ZTNA applications.
  - name: Subnet Rules
    description: Subnet-based access rules for ZTNA network segments.
  - name: Licenses
    description: ZTNA license and entitlement information.
paths:
  /v2/connectors:
    get:
      operationId: listConnectors
      summary: Palo Alto Networks List ZTNA connectors
      description: >-
        Returns the list of ZTNA connectors configured for the tenant.
        Connectors are software agents deployed in private network environments.
        Each connector entry includes its current health status, associated
        connector group, software version, and connected application count.
      tags:
        - Connectors
      parameters:
        - name: group_id
          in: query
          description: Filter connectors by connector group ID.
          schema:
            type: string
        - name: status
          in: query
          description: Filter connectors by health status.
          schema:
            type: string
            enum:
              - connected
              - disconnected
              - upgrading
              - error
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of connectors to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Connectors returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connector'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createConnector
      summary: Palo Alto Networks Create ZTNA connector
      description: >-
        Creates a new ZTNA connector configuration and generates the
        installation token needed to deploy the connector software in a
        private network environment. The connector must be assigned to an
        existing connector group.
      tags:
        - Connectors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest'
      responses:
        '201':
          description: Connector created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/connectors/{connector_id}:
    get:
      operationId: getConnector
      summary: Palo Alto Networks Get ZTNA connector
      description: Returns full details for a specific ZTNA connector by ID.
      tags:
        - Connectors
      parameters:
        - name: connector_id
          in: path
          required: true
          description: Unique identifier of the connector.
          schema:
            type: string
      responses:
        '200':
          description: Connector details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Connector not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateConnector
      summary: Palo Alto Networks Update ZTNA connector
      description: Updates the configuration of an existing ZTNA connector.
      tags:
        - Connectors
      parameters:
        - name: connector_id
          in: path
          required: true
          description: Unique identifier of the connector to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest'
      responses:
        '200':
          description: Connector updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Connector not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteConnector
      summary: Palo Alto Networks Delete ZTNA connector
      description: >-
        Deletes a ZTNA connector. The connector must be in a disconnected
        state before deletion. Any applications relying on this connector
        must be reassigned first.
      tags:
        - Connectors
      parameters:
        - name: connector_id
          in: path
          required: true
          description: Unique identifier of the connector to delete.
          schema:
            type: string
      responses:
        '204':
          description: Connector deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Connector not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/connectors/{connector_id}/upgrade:
    post:
      operationId: scheduleConnectorUpgrade
      summary: Palo Alto Networks Schedule connector upgrade
      description: >-
        Schedules a software upgrade for a specific ZTNA connector. The
        upgrade can be scheduled for immediate execution or for a specified
        maintenance window. During the upgrade, the connector briefly
        disconnects; traffic is routed through other connectors in the
        same group if available.
      tags:
        - Connectors
      parameters:
        - name: connector_id
          in: path
          required: true
          description: Unique identifier of the connector to upgrade.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_at:
                  type: string
                  format: date-time
                  description: >-
                    Scheduled time for the upgrade. If omitted, the upgrade
                    starts immediately.
                target_version:
                  type: string
                  description: >-
                    Target software version. If omitted, upgrades to the
                    latest available version.
      responses:
        '200':
          description: Upgrade scheduled successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connector_id:
                    type: string
                  upgrade_status:
                    type: string
                    enum:
                      - scheduled
                      - in_progress
                  scheduled_at:
                    type: string
                    format: date-time
                  target_version:
                    type: string
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Connector not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/connector-groups:
    get:
      operationId: listConnectorGroups
      summary: Palo Alto Networks List connector groups
      description: >-
        Returns the list of connector groups. Connector groups logically
        group multiple connectors for high availability and load balancing.
        Applications are assigned to connector groups rather than individual
        connectors.
      tags:
        - Connector Groups
      responses:
        '200':
          description: Connector groups returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConnectorGroup'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createConnectorGroup
      summary: Palo Alto Networks Create connector group
      description: Creates a new connector group for organizing ZTNA connectors.
      tags:
        - Connector Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorGroupRequest'
      responses:
        '201':
          description: Connector group created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/connector-groups/{group_id}:
    get:
      operationId: getConnectorGroup
      summary: Palo Alto Networks Get connector group
      description: Returns full details for a specific connector group.
      tags:
        - Connector Groups
      parameters:
        - name: group_id
          in: path
          required: true
          description: Unique identifier of the connector group.
          schema:
            type: string
      responses:
        '200':
          description: Connector group details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateConnectorGroup
      summary: Palo Alto Networks Update connector group
      description: Updates an existing connector group configuration.
      tags:
        - Connector Groups
      parameters:
        - name: group_id
          in: path
          required: true
          description: Unique identifier of the connector group to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorGroupRequest'
      responses:
        '200':
          description: Connector group updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteConnectorGroup
      summary: Palo Alto Networks Delete connector group
      description: >-
        Deletes a connector group. The group must have no connectors assigned
        before deletion.
      tags:
        - Connector Groups
      parameters:
        - name: group_id
          in: path
          required: true
          description: Unique identifier of the connector group to delete.
          schema:
            type: string
      responses:
        '204':
          description: Connector group deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/applications:
    get:
      operationId: listZTNAApplications
      summary: Palo Alto Networks List ZTNA-protected applications
      description: >-
        Returns the list of applications protected by ZTNA. Each application
        defines the private resource users can access along with the connector
        group that provides access.
      tags:
        - Applications
      responses:
        '200':
          description: ZTNA applications returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ZTNAApplication'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createZTNAApplication
      summary: Palo Alto Networks Create ZTNA application
      description: Creates a new ZTNA-protected application definition.
      tags:
        - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZTNAApplicationRequest'
      responses:
        '201':
          description: ZTNA application created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZTNAApplication'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/applications/{app_id}:
    get:
      operationId: getZTNAApplication
      summary: Palo Alto Networks Get ZTNA application
      description: Returns full details for a specific ZTNA-protected application.
      tags:
        - Applications
      parameters:
        - name: app_id
          in: path
          required: true
          description: Unique identifier of the ZTNA application.
          schema:
            type: string
      responses:
        '200':
          description: ZTNA application details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZTNAApplication'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ZTNA application not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateZTNAApplication
      summary: Palo Alto Networks Update ZTNA application
      description: Updates an existing ZTNA-protected application definition.
      tags:
        - Applications
      parameters:
        - name: app_id
          in: path
          required: true
          description: Unique identifier of the ZTNA application to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZTNAApplicationRequest'
      responses:
        '200':
          description: ZTNA application updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZTNAApplication'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ZTNA application not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteZTNAApplication
      summary: Palo Alto Networks Delete ZTNA application
      description: Deletes a ZTNA-protected application definition.
      tags:
        - Applications
      parameters:
        - name: app_id
          in: path
          required: true
          description: Unique identifier of the ZTNA application to delete.
          schema:
            type: string
      responses:
        '204':
          description: ZTNA application deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: ZTNA application not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/fqdn-rules:
    get:
      operationId: listFQDNRules
      summary: Palo Alto Networks List FQDN-based access rules
      description: >-
        Returns the list of FQDN-based access rules that define which
        hostnames are accessible through ZTNA. FQDN rules specify the
        domain patterns and ports that users can reach through a connector
        group.
      tags:
        - FQDN Rules
      responses:
        '200':
          description: FQDN rules returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FQDNRule'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createFQDNRule
      summary: Palo Alto Networks Create FQDN-based access rule
      description: Creates a new FQDN-based access rule for ZTNA.
      tags:
        - FQDN Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FQDNRuleRequest'
      responses:
        '201':
          description: FQDN rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FQDNRule'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/subnet-rules:
    get:
      operationId: listSubnetRules
      summary: Palo Alto Networks List subnet-based access rules
      description: >-
        Returns the list of subnet-based access rules that define which IP
        network ranges are accessible through ZTNA connectors.
      tags:
        - Subnet Rules
      responses:
        '200':
          description: Subnet rules returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubnetRule'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createSubnetRule
      summary: Palo Alto Networks Create subnet-based access rule
      description: Creates a new subnet-based access rule for ZTNA.
      tags:
        - Subnet Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubnetRuleRequest'
      responses:
        '201':
          description: Subnet rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetRule'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v2/licenses:
    get:
      operationId: getZTNALicenses
      summary: Palo Alto Networks Get ZTNA license information
      description: >-
        Returns current ZTNA license entitlements including the number of
        licensed users, active users, and subscription expiration date.
      tags:
        - Licenses
      responses:
        '200':
          description: License information returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfo'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    Connector:
      type: object
      properties:
        connector_id:
          type: string
          description: Unique identifier of the connector.
        name:
          type: string
          description: Display name of the connector.
        group_id:
          type: string
          description: ID of the connector group this connector belongs to.
        status:
          type: string
          enum:
            - connected
            - disconnected
            - upgrading
            - error
          description: Current health status of the connector.
        version:
          type: string
          description: Installed connector software version.
        hostname:
          type: string
          description: Hostname of the system where the connector is installed.
        ip_address:
          type: string
          description: IP address of the connector host.
        region:
          type: string
          description: Geographic region where the connector is deployed.
        last_seen_at:
          type: string
          format: date-time
          description: Timestamp of the connector's most recent heartbeat.
        created_at:
          type: string
          format: date-time
    ConnectorRequest:
      type: object
      required:
        - name
        - group_id
      properties:
        name:
          type: string
          description: Display name for the connector.
        group_id:
          type: string
          description: ID of the connector group to assign the connector to.
        description:
          type: string
          description: Optional description of the connector's purpose or location.
    ConnectorGroup:
      type: object
      properties:
        group_id:
          type: string
          description: Unique identifier of the connector group.
        name:
          type: string
          description: Display name of the connector group.
        description:
          type: string
          description: Description of the connector group's purpose.
        connector_count:
          type: integer
          description: Number of connectors in this group.
        region:
          type: string
          description: Primary geographic region for this connector group.
        created_at:
          type: string
          format: date-time
    ConnectorGroupRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Display name for the connector group.
        description:
          type: string
          description: Optional description of the connector group.
        region:
          type: string
          description: Geographic region for this connector group.
    ZTNAApplication:
      type: object
      properties:
        app_id:
          type: string
          description: Unique identifier of the ZTNA application.
        name:
          type: string
          description: Display name of the application.
        description:
          type: string
          description: Description of the application.
        group_id:
          type: string
          description: Connector group ID used to access this application.
        fqdn:
          type: string
          description: Fully qualified domain name of the private application.
        ports:
          type: array
          items:
            type: integer
          description: TCP/UDP ports accessible through ZTNA.
        protocols:
          type: array
          items:
            type: string
            enum:
              - TCP
              - UDP
          description: Network protocols allowed for this application.
        enabled:
          type: boolean
          description: Whether ZTNA access for this application is enabled.
        created_at:
          type: string
          format: date-time
    ZTNAApplicationRequest:
      type: object
      required:
        - name
        - group_id
        - fqdn
      properties:
        name:
          type: string
          description: Display name for the ZTNA application.
        description:
          type: string
          description: Optional description of the application.
        group_id:
          type: string
          description: Connector group ID to use for accessing the application.
        fqdn:
          type: string
          description: Fully qualified domain name of the private application.
        ports:
          type: array
          items:
            type: integer
          description: TCP/UDP ports to expose through ZTNA.
        protocols:
          type: array
          items:
            type: string
            enum:
              - TCP
              - UDP
          description: Network protocols to allow.
        enabled:
          type: boolean
          default: true
          description: Whether to enable ZTNA access immediately after creation.
    FQDNRule:
      type: object
      properties:
        rule_id:
          type: string
          description: Unique identifier of the FQDN rule.
        name:
          type: string
          description: Display name of the rule.
        fqdn_pattern:
          type: string
          description: >-
            FQDN pattern or wildcard (e.g., *.internal.example.com) that
            this rule matches.
        group_id:
          type: string
          description: Connector group used to resolve and access matching FQDNs.
        ports:
          type: array
          items:
            type: integer
          description: Ports covered by this rule.
        enabled:
          type: boolean
          description: Whether this rule is active.
        created_at:
          type: string
          format: date-time
    FQDNRuleRequest:
      type: object
      required:
        - name
        - fqdn_pattern
        - group_id
      properties:
        name:
          type: string
          description: Display name for the FQDN rule.
        fqdn_pattern:
          type: string
          description: FQDN pattern or wildcard this rule matches.
        group_id:
          type: string
          description: Connector group to use for matching FQDNs.
        ports:
          type: array
          items:
            type: integer
          description: Ports covered by this rule.
        enabled:
          type: boolean
          default: true
    SubnetRule:
      type: object
      properties:
        rule_id:
          type: string
          description: Unique identifier of the subnet rule.
        name:
          type: string
          description: Display name of the rule.
        subnet:
          type: string
          description: CIDR notation subnet this rule covers (e.g., 10.0.0.0/8).
        group_id:
          type: string
          description: Connector group used to route traffic to this subnet.
        enabled:
          type: boolean
          description: Whether this rule is active.
        created_at:
          type: string
          format: date-time
    SubnetRuleRequest:
      type: object
      required:
        - name
        - subnet
        - group_id
      properties:
        name:
          type: string
          description: Display name for the subnet rule.
        subnet:
          type: string
          description: CIDR notation subnet this rule covers.
        group_id:
          type: string
          description: Connector group to use for routing traffic to this subnet.
        enabled:
          type: boolean
          default: true
    LicenseInfo:
      type: object
      properties:
        licensed_users:
          type: integer
          description: Total number of ZTNA user licenses purchased.
        active_users:
          type: integer
          description: Number of users actively using ZTNA.
        subscription_id:
          type: string
          description: Subscription identifier.
        expires_at:
          type: string
          format: date-time
          description: Subscription expiration date and time.
        features:
          type: array
          items:
            type: string
          description: List of enabled ZTNA feature entitlements.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
