openapi: 3.1.0
info:
  title: Palo Alto Networks Prisma Access Browser Management API
  description: >-
    Prisma Access Browser Management API for enterprise browser security.
    Provides programmatic control over browser security policies, user
    sessions, deployment configurations, managed device inventory, and
    usage reporting. The Prisma Access Browser is a Chromium-based enterprise
    browser with built-in security controls including data loss prevention,
    threat protection, and access control. Requires Super User or View-Only
    Admin role within the SASE platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/browser-mgmt
    description: SASE Prisma Access Browser Management API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Policies
    description: Browser security policy management.
  - name: Users
    description: Browser user management and session visibility.
  - name: Deployments
    description: Browser deployment configuration management.
  - name: Devices
    description: Managed device inventory.
  - name: Reports
    description: Usage and activity reporting.
paths:
  /v1/policies:
    get:
      operationId: listBrowserPolicies
      summary: Palo Alto Networks List browser security policies
      description: >-
        Returns the list of browser security policies configured for the
        tenant. Policies control browser behavior including allowed websites,
        DLP rules, extension permissions, download controls, and clipboard
        restrictions.
      tags:
        - Policies
      parameters:
        - name: enabled
          in: query
          description: Filter policies by enabled state.
          schema:
            type: boolean
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of policies to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Browser security policies returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserPolicy'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions. Requires Super User or View-Only Admin role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createBrowserPolicy
      summary: Palo Alto Networks Create browser security policy
      description: >-
        Creates a new browser security policy. Policies define security
        controls applied to users of the Prisma Access Browser including
        web filtering, DLP, and extension management settings.
      tags:
        - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserPolicyRequest'
      responses:
        '201':
          description: Browser policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/policies/{policy_id}:
    get:
      operationId: getBrowserPolicy
      summary: Palo Alto Networks Get browser security policy
      description: Returns full details for a specific browser security policy.
      tags:
        - Policies
      parameters:
        - name: policy_id
          in: path
          required: true
          description: Unique identifier of the browser policy.
          schema:
            type: string
      responses:
        '200':
          description: Browser policy details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateBrowserPolicy
      summary: Palo Alto Networks Update browser security policy
      description: Updates an existing browser security policy configuration.
      tags:
        - Policies
      parameters:
        - name: policy_id
          in: path
          required: true
          description: Unique identifier of the browser policy to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserPolicyRequest'
      responses:
        '200':
          description: Browser policy updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteBrowserPolicy
      summary: Palo Alto Networks Delete browser security policy
      description: >-
        Deletes a browser security policy. Policies assigned to active
        deployments must be unassigned before deletion.
      tags:
        - Policies
      parameters:
        - name: policy_id
          in: path
          required: true
          description: Unique identifier of the browser policy to delete.
          schema:
            type: string
      responses:
        '204':
          description: Browser policy deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/users:
    get:
      operationId: listBrowserUsers
      summary: Palo Alto Networks List browser users
      description: >-
        Returns the list of users enrolled in the Prisma Access Browser.
        Includes user identity information, assigned policy, and current
        active session count.
      tags:
        - Users
      parameters:
        - name: policy_id
          in: query
          description: Filter users by assigned browser policy.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of users to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Browser users returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserUser'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/users/{user_id}/sessions:
    get:
      operationId: getUserSessions
      summary: Palo Alto Networks Get user sessions
      description: >-
        Returns the active and recent browser sessions for a specific user.
        Session data includes device, IP address, policy applied, and
        session duration.
      tags:
        - Users
      parameters:
        - name: user_id
          in: path
          required: true
          description: Unique identifier of the browser user.
          schema:
            type: string
        - name: status
          in: query
          description: Filter sessions by status.
          schema:
            type: string
            enum:
              - active
              - terminated
        - name: limit
          in: query
          description: Maximum number of sessions to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: User sessions returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserSession'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/deployments:
    get:
      operationId: listDeployments
      summary: Palo Alto Networks List browser deployments
      description: >-
        Returns the list of browser deployment configurations. Deployments
        define how the Prisma Access Browser is distributed and configured
        for groups of users, including installation packages and update
        channel settings.
      tags:
        - Deployments
      responses:
        '200':
          description: Deployments returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserDeployment'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createDeployment
      summary: Palo Alto Networks Create browser deployment
      description: Creates a new browser deployment configuration.
      tags:
        - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserDeploymentRequest'
      responses:
        '201':
          description: Deployment created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/deployments/{deployment_id}:
    get:
      operationId: getDeployment
      summary: Palo Alto Networks Get browser deployment
      description: Returns full details for a specific browser deployment configuration.
      tags:
        - Deployments
      parameters:
        - name: deployment_id
          in: path
          required: true
          description: Unique identifier of the deployment.
          schema:
            type: string
      responses:
        '200':
          description: Deployment details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateDeployment
      summary: Palo Alto Networks Update browser deployment
      description: Updates an existing browser deployment configuration.
      tags:
        - Deployments
      parameters:
        - name: deployment_id
          in: path
          required: true
          description: Unique identifier of the deployment to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserDeploymentRequest'
      responses:
        '200':
          description: Deployment updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteDeployment
      summary: Palo Alto Networks Delete browser deployment
      description: Deletes a browser deployment configuration.
      tags:
        - Deployments
      parameters:
        - name: deployment_id
          in: path
          required: true
          description: Unique identifier of the deployment to delete.
          schema:
            type: string
      responses:
        '204':
          description: Deployment deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/devices:
    get:
      operationId: listManagedDevices
      summary: Palo Alto Networks List managed devices
      description: >-
        Returns the inventory of managed devices running the Prisma Access
        Browser. Includes device platform, browser version, compliance
        status, and last seen timestamp.
      tags:
        - Devices
      parameters:
        - name: platform
          in: query
          description: Filter devices by operating system platform.
          schema:
            type: string
            enum:
              - windows
              - macos
              - linux
              - chromeos
        - name: compliance_status
          in: query
          description: Filter devices by compliance status.
          schema:
            type: string
            enum:
              - compliant
              - non_compliant
              - unknown
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of devices to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Managed devices returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ManagedDevice'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/reports/usage:
    get:
      operationId: getUsageReport
      summary: Palo Alto Networks Get usage report
      description: >-
        Returns browser usage statistics for the specified time period
        including active users, session counts, data transferred, blocked
        threats, and DLP events.
      tags:
        - Reports
      parameters:
        - name: start_date
          in: query
          required: true
          description: Start of the reporting period (ISO 8601).
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          description: End of the reporting period (ISO 8601).
          schema:
            type: string
            format: date
        - name: group_by
          in: query
          description: Dimension to group results by.
          schema:
            type: string
            enum:
              - day
              - week
              - month
              - user
              - device
              - policy
      responses:
        '200':
          description: Usage report returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageReport'
        '400':
          description: Invalid date range or query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Requires
        Super User or View-Only Admin role. Obtain using the
        client_credentials grant with your SASE service account credentials.
  schemas:
    BrowserPolicy:
      type: object
      properties:
        policy_id:
          type: string
          description: Unique identifier of the browser policy.
        name:
          type: string
          description: Display name of the policy.
        description:
          type: string
          description: Description of the policy's purpose.
        enabled:
          type: boolean
          description: Whether the policy is active.
        web_filtering:
          type: object
          description: Web filtering configuration.
          properties:
            enabled:
              type: boolean
            blocked_categories:
              type: array
              items:
                type: string
        dlp_enabled:
          type: boolean
          description: Whether DLP controls are enabled.
        extension_policy:
          type: string
          enum:
            - allow_all
            - allow_list
            - block_all
          description: Extension installation policy.
        download_control:
          type: string
          enum:
            - allow
            - scan
            - block
          description: File download control setting.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BrowserPolicyRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Display name for the browser policy.
        description:
          type: string
          description: Optional description.
        enabled:
          type: boolean
          default: true
        web_filtering:
          type: object
          properties:
            enabled:
              type: boolean
            blocked_categories:
              type: array
              items:
                type: string
        dlp_enabled:
          type: boolean
          default: false
        extension_policy:
          type: string
          enum:
            - allow_all
            - allow_list
            - block_all
          default: allow_all
        download_control:
          type: string
          enum:
            - allow
            - scan
            - block
          default: allow
    BrowserUser:
      type: object
      properties:
        user_id:
          type: string
          description: Unique identifier of the browser user.
        email:
          type: string
          format: email
          description: User email address.
        display_name:
          type: string
          description: User display name.
        policy_id:
          type: string
          description: ID of the browser policy assigned to this user.
        active_sessions:
          type: integer
          description: Current number of active browser sessions.
        last_active_at:
          type: string
          format: date-time
    BrowserSession:
      type: object
      properties:
        session_id:
          type: string
          description: Unique identifier of the browser session.
        user_id:
          type: string
          description: User ID of the session owner.
        device_id:
          type: string
          description: Device ID used in this session.
        ip_address:
          type: string
          description: Client IP address.
        policy_id:
          type: string
          description: Policy applied during this session.
        browser_version:
          type: string
          description: Prisma Access Browser version.
        status:
          type: string
          enum:
            - active
            - terminated
          description: Session status.
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
    BrowserDeployment:
      type: object
      properties:
        deployment_id:
          type: string
          description: Unique identifier of the deployment.
        name:
          type: string
          description: Display name of the deployment.
        description:
          type: string
          description: Description of the deployment configuration.
        platform:
          type: string
          enum:
            - windows
            - macos
            - linux
            - chromeos
          description: Target operating system platform.
        policy_id:
          type: string
          description: Default browser policy assigned to users in this deployment.
        update_channel:
          type: string
          enum:
            - stable
            - beta
          description: Browser update channel for this deployment.
        device_count:
          type: integer
          description: Number of devices in this deployment.
        created_at:
          type: string
          format: date-time
    BrowserDeploymentRequest:
      type: object
      required:
        - name
        - platform
      properties:
        name:
          type: string
          description: Display name for the deployment.
        description:
          type: string
        platform:
          type: string
          enum:
            - windows
            - macos
            - linux
            - chromeos
          description: Target operating system platform.
        policy_id:
          type: string
          description: Default browser policy ID for this deployment.
        update_channel:
          type: string
          enum:
            - stable
            - beta
          default: stable
    ManagedDevice:
      type: object
      properties:
        device_id:
          type: string
          description: Unique identifier of the managed device.
        hostname:
          type: string
          description: Device hostname.
        platform:
          type: string
          enum:
            - windows
            - macos
            - linux
            - chromeos
          description: Operating system platform.
        browser_version:
          type: string
          description: Installed Prisma Access Browser version.
        compliance_status:
          type: string
          enum:
            - compliant
            - non_compliant
            - unknown
          description: Device compliance status.
        user_id:
          type: string
          description: ID of the last user who logged in on this device.
        last_seen_at:
          type: string
          format: date-time
          description: Timestamp of the device's last check-in.
    UsageReport:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
        active_users:
          type: integer
          description: Number of unique active users during the period.
        total_sessions:
          type: integer
          description: Total browser sessions started during the period.
        data_transferred_gb:
          type: number
          format: float
          description: Total data transferred through the browser in GB.
        threats_blocked:
          type: integer
          description: Number of threats blocked by the browser.
        dlp_events:
          type: integer
          description: Number of DLP policy events triggered.
        data_points:
          type: array
          description: Time-series data points for the report.
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              active_users:
                type: integer
              sessions:
                type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
