openapi: 3.2.0
info:
  title: SP Interconnect Monitor VLAN Attachment Throughput API
  version: '1.0'
  description: "These APIs deliver real-time visibility and performance analytics for all configured interconnect \nresources through the monitoring plane. They allow network teams to track health, bandwidth throughput, \nand data transfer volumes at the edge to ensure optimal network security and reliability. \nAccess these metrics during routine audits or active troubleshooting to diagnose latency spikes or BGP session instability. \nBy applying time-based filters and histograms, you can generate detailed traffic trends and monitor IP pool consumption across your global infrastructure. Created on February 12, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- authKey: []
tags:
- name: VLAN Attachment Throughput
paths:
  /mt/sp-interconnect/monitor/vlanAttachments/throughput:
    post:
      tags:
      - VLAN Attachment Throughput
      summary: Get Vlan Attachment Throughput Trends
      description: Track throughput performance specifically for individual virtual circuits within an Interconnect. This provides granular visibility into the load distribution across multiple VlanAttachments to ensure high-availability (HA) domains are operating as expected. Use this when diagnosing specific circuit failures or verifying that a new attachment is carrying traffic correctly. Define the VlanAttachment ID and apply a time-based histogram to visualize throughput shifts over the desired monitoring period.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorRequest'
            example:
              properties:
              - property: egress_throughput
                function: avg
              - property: ingress_throughput
                function: avg
              - property: vlan_attachment_name
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 30
                - property: vlan_attachment_id
                  operator: in
                  values:
                  - 30eb7634-0f21-4dae-a42f-94d7f7cfdbd1
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - vlan_attachment_name: us-centrl-con-2
                  event_time: 1763424000000
                  egress_throughput: 0.0012025526091289183
                  ingress_throughput: 0.0019499224276655067
                - vlan_attachment_name: us-centrl-con-2
                  event_time: 1763510400000
                  egress_throughput: 0.001203609572708337
                  ingress_throughput: 0.0017978866898611117
                requestId: 8bcffcf2-5cba-4ed6-bc63-ed1e8a60bec6
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtSp-interconnectMonitorVlanattachmentsThroughput
components:
  schemas:
    MonitorRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              function:
                type: string
              alias:
                type: string
              sort:
                type: object
                properties:
                  order:
                    type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
  securitySchemes:
    authKey:
      type: http
      scheme: Bearer
