openapi: 3.2.0
info:
  title: SSPM Management JIRA API
  version: 1.0.0
  description: © 2025 Palo Alto Networks, Inc This Open API spec file was created on March 02, 2026. © 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html). All other marks mentioned herein may be trademarks of their respective companies.
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com
tags:
- name: JIRA
paths:
  /sspm/api/v1/integration/integrations/{integration_id}/{integration_type}/issue/{key}:
    get:
      summary: JIRA Ticket Issue Details
      description: Retrieve onboarded JIRA ticketing issue details by key.
      operationId: getJiraIssue
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JiraIssueResponse'
          description: successful operation
        '404':
          description: not registered jira-ticketing integration
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: integration id
        example: 65dcec42a2f1d37173e6294c
        in: path
        name: integration_id
        required: true
        schema:
          type: string
      - description: integration type
        example: JIRA_TICKETING
        in: path
        name: integration_type
        required: true
        schema:
          type: string
      - description: issue key
        example: '10001'
        in: path
        name: key
        required: true
        schema:
          type: string
      tags:
      - JIRA
  /sspm/api/v1/integration/integrations/{integration_id}/{integration_type}/project/{key}:
    get:
      summary: JIRA Ticket Project Details
      description: Retrieve onboarded JIRA ticketing project details by key.
      operationId: getJiraProjectDetail
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JiraProjectDetailResponse'
          description: successful operation
        '404':
          description: not registered jira-ticketing integration
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: integration id
        example: 65dcec42a2f1d37173e6294c
        in: path
        name: integration_id
        required: true
        schema:
          type: string
      - description: integration type
        example: JIRA_TICKETING
        in: path
        name: integration_type
        required: true
        schema:
          type: string
      - description: project key
        example: TestProject
        in: path
        name: key
        required: true
        schema:
          type: string
      tags:
      - JIRA
  /sspm/api/v1/integration/integrations/{integration_id}/{integration_type}/projects:
    get:
      summary: JIRA Ticket Project List
      description: Retrieve the onboarded JIRA ticketing project list.
      operationId: getJiraProjects
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: successful operation
        '404':
          description: not registered jira-ticketing integration
      parameters:
      - description: region
        in: header
        name: x-panw-region
        required: false
        schema:
          type: string
      - description: integration id
        example: 65dcec42a2f1d37173e6294c
        in: path
        name: integration_id
        required: true
        schema:
          type: string
      - description: integration type
        example: JIRA_TICKETING
        in: path
        name: integration_type
        required: true
        schema:
          type: string
      tags:
      - JIRA
components:
  schemas:
    JiraIdentity:
      properties:
        accountId:
          type: string
        displayName:
          type: string
      type: object
    Status:
      properties:
        name:
          type: string
      type: object
    JiraIssueFields:
      properties:
        assignee:
          $ref: '#/components/schemas/JiraIdentity'
        reporter:
          $ref: '#/components/schemas/JiraIdentity'
        status:
          $ref: '#/components/schemas/Status'
      type: object
    JiraProjectDetailResponse:
      properties:
        issueTypes:
          items:
            $ref: '#/components/schemas/JiraIssueType'
          type: array
      type: object
    JiraIssueResponse:
      properties:
        fields:
          $ref: '#/components/schemas/JiraIssueFields'
      type: object
    JiraIssueType:
      properties:
        id:
          type: string
        name:
          type: string
      type: object
