openapi: 3.2.0
info:
  title: Palo Alto Networks Compliance Analytics API
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  version: '1.0'
  description: 'Operations tagged Compliance Analytics across 2 of this provider''s published API definitions: palo-alto-scm-config-posture-management-compliance-framework-compliance-center-recent-v1-openapi.yaml, palo-alto-scm-config-posture-management-posture-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.strata.paloaltonetworks.com/posture/compliance-frameworks/v1
  description: Current
- url: https://api.strata.paloaltonetworks.com/posture
  description: Current
security:
- BearerAuth: []
tags:
- name: Compliance Analytics
  description: Analytics and reporting for compliance frameworks including summaries, scores, and timelines.
paths:
  /summaries:
    get:
      tags:
      - Compliance Analytics
      summary: List Framework Summaries
      description: Retrieve summary view of compliance frameworks per current revision, grouped and filtered by product type
      operationId: getCFSummary
      security:
      - BearerAuth: []
      parameters:
      - name: product
        in: query
        required: false
        schema:
          type: string
          enum:
          - sase
          - ngfw
          - all
        description: 'Filter by product type. Available values: sase, ngfw, all'
        example: sase
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CFSummaryResponse'
        '400':
          description: Bad request - invalid query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                _errors:
                - code: API_CF_E00035
                  message: Invalid query parameter
                  details:
                  - Invalid value for query parameter 'product'
                  help: https://docs.paloaltonetworks.com/compliance-center/api/errors#API_CF_E00035
                _request_id: eb18eb0c-d5b7-43f3-9e38-38464ee11e2f
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture/compliance-frameworks/v1
      description: Current
  /overall-compliance/{id}:
    get:
      tags:
      - Compliance Analytics
      summary: Get Framework Compliance Scores
      description: Retrieve overall compliance scores for a framework across different products and categories
      operationId: getOverallCompliance
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Compliance framework ID
        example: PCF-7f1ae852-f5a4-40ed-911a-88d54ebf8876
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: object
                    description: Product-specific compliance data
                    properties:
                      all:
                        type: object
                        description: Aggregated compliance across all products
                        properties:
                          name:
                            type: string
                            example: all
                          data_available:
                            type: boolean
                            description: Whether compliance data is available for this product
                          compliance:
                            type: object
                            properties:
                              overall_score:
                                type: integer
                                description: Overall compliance score (0-100, -1 if not available)
                              industry_score:
                                type: integer
                                description: Industry compliance score (0-100, -1 if not available)
                      ngfw:
                        type: object
                        description: Next-Generation Firewall compliance data
                        properties:
                          name:
                            type: string
                            example: ngfw
                          data_available:
                            type: boolean
                            description: Whether compliance data is available for this product
                          compliance:
                            type: object
                            properties:
                              overall_score:
                                type: integer
                              industry_score:
                                type: integer
                          categories:
                            type: array
                            description: Compliance scores by category
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  description: Category name
                                  enum:
                                  - network
                                  - infra
                                  - security
                                compliance:
                                  type: object
                                  properties:
                                    overall_score:
                                      type: integer
                                    industry_score:
                                      type: integer
                      sase:
                        type: object
                        description: SASE compliance data
                        properties:
                          name:
                            type: string
                            example: sase
                          data_available:
                            type: boolean
                            description: Whether compliance data is available for this product
                          compliance:
                            type: object
                            properties:
                              overall_score:
                                type: integer
                              industry_score:
                                type: integer
                          categories:
                            type: array
                            description: Compliance scores by category
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  enum:
                                  - network
                                  - infra
                                  - security
                                compliance:
                                  type: object
                                  properties:
                                    overall_score:
                                      type: integer
                                    industry_score:
                                      type: integer
                  category:
                    type: string
                    description: Framework category (PCF or CCF)
                    enum:
                    - PCF
                    - CCF
              example:
                products:
                  all:
                    name: all
                    data_available: true
                    compliance:
                      overall_score: 83
                      industry_score: 87
                  ngfw:
                    name: ngfw
                    data_available: true
                    compliance:
                      overall_score: 83
                      industry_score: 87
                    categories:
                    - name: network
                      compliance:
                        overall_score: 62
                        industry_score: 87
                    - name: infra
                      compliance:
                        overall_score: 66
                        industry_score: 87
                    - name: security
                      compliance:
                        overall_score: 87
                        industry_score: 87
                  sase:
                    name: sase
                    data_available: false
                    compliance:
                      overall_score: -1
                      industry_score: -1
                    categories:
                    - name: network
                      compliance:
                        overall_score: -1
                        industry_score: -1
                    - name: infra
                      compliance:
                        overall_score: -1
                        industry_score: -1
                    - name: security
                      compliance:
                        overall_score: -1
                        industry_score: -1
                category: PCF
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture/compliance-frameworks/v1
      description: Current
  /overall-compliance-timeline/{id}:
    get:
      tags:
      - Compliance Analytics
      summary: Get Compliance Timeline
      description: Retrieve compliance score timeline data over 30 days
      operationId: getConfigurationsAssessedTimeline
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Compliance framework ID
      - name: product
        in: query
        required: false
        schema:
          type: string
          enum:
          - sase
          - ngfw
          - all
        description: Product filter
        example: sase
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  timeline_30_days:
                    type: array
                    description: Compliance scores over the last 30 days
                    items:
                      type: object
                      properties:
                        ts:
                          type: integer
                          format: int64
                          description: Timestamp in microseconds (epoch)
                        compliance_score:
                          type: integer
                          description: Compliance score (0-100)
                        data_available:
                          type: boolean
                          description: Whether data is available for this timestamp
                  timeline_1_year:
                    type: array
                    description: Compliance scores over the last year
                    items:
                      type: object
                      properties:
                        ts:
                          type: integer
                          format: int64
                          description: Timestamp in microseconds (epoch)
                        compliance_score:
                          type: integer
                          description: Compliance score (0-100)
                        data_available:
                          type: boolean
                          description: Whether data is available for this timestamp
              example:
                timeline_30_days:
                - ts: 1774051200000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773964800000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773878400000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773792000000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773705600000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773532800000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773446400000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773360000000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773273600000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773187200000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773100800000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773014400000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772928000000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772841600000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772755200000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772668800000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772582400000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772496000000000
                  compliance_score: 82
                  data_available: true
                timeline_1_year:
                - ts: 1774051200000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773964800000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773878400000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773792000000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773705600000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773532800000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773446400000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773360000000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773273600000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773187200000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773100800000000
                  compliance_score: 83
                  data_available: true
                - ts: 1773014400000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772928000000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772841600000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772755200000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772668800000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772582400000000
                  compliance_score: 83
                  data_available: true
                - ts: 1772496000000000
                  compliance_score: 82
                  data_available: true
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture/compliance-frameworks/v1
      description: Current
  /configurations-assessed/{id}:
    get:
      tags:
      - Compliance Analytics
      summary: Get Assessed Configurations
      description: Retrieve assessed configurations
      operationId: getConfigurationsAssessed
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Compliance framework ID
      - name: product
        in: query
        required: false
        schema:
          type: string
          enum:
          - sase
          - ngfw
          - all
        description: Product filter
        example: sase
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  configurations_assessed:
                    type: object
                    properties:
                      checks:
                        type: integer
                        description: Number of checks
                      assessments:
                        type: integer
                        description: Number of assessments
                      s:
                        type: integer
                        description: Total number of exceptions
                      expiring_exceptions:
                        type: integer
                        description: Number of expiring exceptions
              example:
                configurations_assessed:
                  checks: 87
                  assessments: 270
                  total_exceptions: 29
                  expiring_exceptions: 0
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture/compliance-frameworks/v1
      description: Current
  /compliance-controls/{id}:
    get:
      tags:
      - Compliance Analytics
      summary: Get Compliance Controls
      description: Retrieve compliance controls for a framework
      operationId: getComplianceControls
      security:
      - BearerAuth: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Compliance framework ID
      - name: product
        in: query
        required: false
        schema:
          type: string
          enum:
          - sase
          - ngfw
          - all
        description: Product filter
        example: sase
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  empty:
                    type: boolean
                    description: Whether the response is empty
                  compliance_framework_metadata:
                    type: object
                    description: Framework metadata
                    properties:
                      id:
                        type: string
                        description: Compliance framework ID
                      name:
                        type: string
                        description: Compliance framework name
                      assessment_date:
                        type: string
                        format: date
                        description: Assessment date (YYYY-MM-DD)
                      framework_version:
                        type: string
                        description: Framework version
                  compliance_framework_control_groups:
                    type: array
                    description: Array of compliance control groups with statistics
                    items:
                      type: object
                      properties:
                        control_name:
                          type: string
                          description: Control name and identifier
                        data_available:
                          type: boolean
                          description: Whether data is available for this control
                        all:
                          type: object
                          description: Aggregated statistics across all products
                          properties:
                            most_severe:
                              type: object
                              description: Most severe finding category
                              properties:
                                category:
                                  type: integer
                                  description: Severity category (1-5)
                                category_name:
                                  type: string
                                  description: Human-readable severity category name (1=Informational, 3=Warning, 5=Critical)
                                  enum:
                                  - Informational
                                  - Warning
                                  - Critical
                                count:
                                  type: integer
                                  description: Count of findings in this category
                            failed:
                              type: integer
                              description: Number of failed checks
                            passed:
                              type: integer
                              description: Number of passed checks
                            overall_score:
                              type: number
                              format: float
                              description: Compliance percentage (0-100, -1 if not available)
                        group_stats:
                          type: object
                          description: Group-specific statistics
                          additionalProperties: true
              example:
                empty: false
                compliance_framework_metadata:
                  id: PCF-820bfe1c-0817-44e8-bf4f-375edf31a7e0
                  name: NIST 800-53 r5
                  assessment_date: '2026-03-21'
                  framework_version: NIST 800-53 r5
                compliance_framework_control_groups:
                - control_name: 'AC-1 : Policy and Procedures'
                  data_available: true
                  all:
                    most_severe:
                      category: 1
                      category_name: Informational
                      count: 0
                    failed: 0
                    passed: 22
                    overall_score: 100.0
                  group_stats: {}
                - control_name: 'AC-2 : Account Management'
                  data_available: true
                  all:
                    most_severe:
                      category: 5
                      category_name: Critical
                      count: 6
                    failed: 9
                    passed: 40
                    overall_score: 81.0
                  group_stats: {}
                - control_name: 'AC-3 : Access Enforcement'
                  data_available: true
                  all:
                    most_severe:
                      category: 5
                      category_name: Critical
                      count: 7
                    failed: 10
                    passed: 15
                    overall_score: 60.0
                  group_stats: {}
                - control_name: 'AC-4 : Information Flow Enforcement'
                  data_available: true
                  all:
                    most_severe:
                      category: 3
                      category_name: Warning
                      count: 6
                    failed: 11
                    passed: 45
                    overall_score: 80.0
                  group_stats: {}
                - control_name: 'AC-7 : Unsuccessful Logon Attempts'
                  data_available: true
                  all:
                    most_severe:
                      category: 1
                      category_name: Informational
                      count: 1
                    failed: 1
                    passed: 0
                    overall_score: 0.0
                  group_stats: {}
                - control_name: 'IA : Identification and Authentication'
                  data_available: true
                  all:
                    most_severe:
                      category: 3
                      category_name: Warning
                      count: 3
                    failed: 4
                    passed: 0
                    overall_score: 0.0
                  group_stats: {}
                - control_name: 'IR : Incident Response'
                  data_available: true
                  all:
                    most_severe:
                      category: 1
                      category_name: Informational
                      count: 0
                    failed: 0
                    passed: 7
                    overall_score: 100.0
                  group_stats: {}
        '400':
          $ref: '#/components/responses/BadRequestError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture/compliance-frameworks/v1
      description: Current
  /compliance-frameworks/v1/summaries:
    get:
      tags:
      - Compliance Analytics
      summary: List Framework Summaries
      description: Retrieve summary view of compliance frameworks per current revision, grouped and filtered by product type.
      operationId: ListComplianceFrameworkSummaries
      parameters:
      - name: product
        in: query
        required: false
        schema:
          type: string
          enum:
          - sase
          - ngfw
          - all
        description: Filter by product type.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceFrameworkSummaryResponse'
        '400':
          description: Bad request - invalid query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture
      description: Current
  /compliance-frameworks/v1/overall-compliance/{id}:
    get:
      tags:
      - Compliance Analytics
      summary: Get Framework Compliance Scores
      description: Retrieve overall compliance scores for a framework across different products and categories.
      operationId: GetOverallCompliance
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Compliance framework ID.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverallComplianceResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Compliance framework not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture
      description: Current
  /compliance-frameworks/v1/overall-compliance-timeline/{id}:
    get:
      tags:
      - Compliance Analytics
      summary: Get Compliance Timeline
      description: Retrieve compliance score timeline data over 30 days and 1 year.
      operationId: GetComplianceTimeline
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Compliance framework ID.
      - name: product
        in: query
        required: false
        schema:
          type: string
          enum:
          - sase
          - ngfw
          - all
        description: Product filter.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceTimelineResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Compliance framework not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture
      description: Current
  /compliance-frameworks/v1/configurations-assessed/{id}:
    get:
      tags:
      - Compliance Analytics
      summary: Get Assessed Configurations
      description: Retrieve assessed configurations for a compliance framework.
      operationId: GetConfigurationsAssessed
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Compliance framework ID.
      - name: product
        in: query
        required: false
        schema:
          type: string
          enum:
          - sase
          - ngfw
          - all
        description: Product filter.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurationsAssessedResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Compliance framework not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture
      description: Current
  /compliance-frameworks/v1/compliance-controls/{id}:
    get:
      tags:
      - Compliance Analytics
      summary: Get Compliance Controls
      description: Retrieve compliance controls for a framework.
      operationId: GetComplianceControls
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Compliance framework ID.
      - name: product
        in: query
        required: false
        schema:
          type: string
          enum:
          - sase
          - ngfw
          - all
        description: Product filter.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComplianceControlsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Compliance framework not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.strata.paloaltonetworks.com/posture
      description: Current
components:
  responses:
    BadRequestError:
      description: Bad request - invalid parameters or request body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            _errors:
            - code: API_CF_E00001
              message: Invalid input
              details:
              - Query parameter 'cf-id' is required
              help: https://docs.paloaltonetworks.com/compliance-center/api/errors#API_CF_E00001
            _request_id: eb18eb0c-d5b7-43f3-9e38-38464ee11e2f
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            _errors:
            - code: API_CF_E00500
              message: Internal server error
              details:
              - An unexpected error occurred while processing the request
              help: https://docs.paloaltonetworks.com/compliance-center/api/errors#API_CF_E00500
            _request_id: eb18eb0c-d5b7-43f3-9e38-38464ee11e2f
    NotFoundError:
      description: Not found - resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            _errors:
            - code: API_CF_E00004
              message: Resource not found
              details:
              - Compliance framework 'PCF-7f1ae852-f5a4-40ed-911a-88d54ebf8876' not found
              help: https://docs.paloaltonetworks.com/compliance-center/api/errors#API_CF_E00004
            _request_id: eb18eb0c-d5b7-43f3-9e38-38464ee11e2f
    ForbiddenError:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            _errors:
            - code: API_CF_E00003
              message: Access denied
              details:
              - User does not have permission to access this resource
              help: https://docs.paloaltonetworks.com/compliance-center/api/errors#API_CF_E00003
            _request_id: eb18eb0c-d5b7-43f3-9e38-38464ee11e2f
  schemas:
    ErrorResponse:
      type: object
      description: Standard error response format
      properties:
        _errors:
          type: array
          description: List of error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          minItems: 1
        _request_id:
          type: string
          description: Unique request identifier for troubleshooting
          format: uuid
          example: eb18eb0c-d5b7-43f3-9e38-38464ee11e2f
      required:
      - _errors
      - _request_id
    ErrorDetail:
      type: object
      description: Individual error information
      properties:
        code:
          type: string
          description: Machine-readable error code following format API_CF_{severity}{number}
          pattern: ^API_CF_[EWI][0-9]{5}
          example: API_CF_E00001
        message:
          type: string
          description: Human-readable error summary
          minLength: 1
          example: Invalid query parameter
        details:
          type: array
          description: Detailed error explanations
          items:
            type: string
            minLength: 1
          minItems: 1
          example:
          - Invalid value for parameter 'cf-id'
        help:
          type: string
          description: Documentation URL for error resolution
          format: uri
          example: https://docs.paloaltonetworks.com/compliance-center/api/errors#API_CF_E00001
      required:
      - code
      - message
    CFSummaryResponse:
      type: object
      description: Compliance framework summary response
      properties:
        data:
          type: array
          description: Array of compliance framework summaries
          items:
            type: object
            properties:
              id:
                type: string
                description: Compliance framework ID
                example: PCF-7f1ae852-f5a4-40ed-911a-88d54ebf8876
              category:
                type: string
                description: Framework category (PCF or CCF)
                example: PCF
              create_time:
                type: integer
                format: int64
                description: Framework creation timestamp (epoch milliseconds)
                example: 1758913230056
              benchmark:
                type: boolean
                description: Whether this framework is a benchmark
                example: true
              benchmark_by:
                type: string
                description: User who marked this framework as benchmark (only present if benchmark is true)
                example: cchristiansen@paloaltonetworks.com
              benchmark_time:
                type: integer
                format: int64
                description: Timestamp when framework was marked as benchmark (epoch milliseconds, only present if benchmark is true)
                example: 1771871351110
              revision_summary:
                type: array
                description: Array of framework revisions
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Compliance framework name
                      example: NIST CSF 2.0
                    source_url:
                      type: string
                      description: Source URL of the framework
                      example: https://nvlpubs.nist.gov/nistpubs/CSWP/NIST.CSWP.29.pdf
                    source:
                      type: string
                      description: Framework source
                      example: NIST
                    update_time:
                      type: integer
                      format: int64
                      description: Revision update timestamp (epoch milliseconds)
                      example: 1764789586408
                    revision_id:
                      type: string
                      description: Revision ID
                      example: in_release
                    revision_name:
                      type: string
                      description: Revision name
                      example: Added logo
                    revision_number:
                      type: string
                      description: Revision number
                      example: Updated logo
                    description:
                      type: string
                      description: Framework description
                      example: NIST CSF 2.0 compliance refers to the guidelines and recommendations outlined in the National Institute of Standards and Technology Cybersecurity Framework (NIST CSF)
                    state:
                      type: string
                      description: Revision state
                      enum:
                      - draft
                      - released
                      example: released
                    overall_score:
                      type: integer
                      description: Overall compliance score (0-100, -1 if not available)
                      example: 82
                    industry_score:
                      type: integer
                      description: Industry compliance score (0-100, -1 if not available)
                      example: 80
                    data_available:
                      type: boolean
                      description: Whether compliance data is available (false when overall_score is -1)
                      example: true
                    releasable:
                      type: boolean
                      description: Whether this revision can be released
                      example: true
                    updated_by:
                      type: string
                      description: User who last updated this revision
                      example: cchristiansen@paloaltonetworks.com
              logo:
                type: object
                description: Framework logo information
                properties:
                  image:
                    type: string
                    description: Base64 encoded logo image data
                    example: data:image/png;base64,iVBORw0KGg...
                  type:
                    type: string
                    description: Image MIME type
                    example: image/png
                  name:
                    type: string
                    description: Image file name
                    example: nist.png
      example:
        data:
        - id: PCF-7f1ae852-f5a4-40ed-911a-88d54ebf8876
          category: PCF
          create_time: 1758913230056
          benchmark: true
          benchmark_by: cchristiansen@paloaltonetworks.com
          benchmark_time: 1771871351110
          revision_summary:
          - name: NIST CSF 2.0
            source_url: https://nvlpubs.nist.gov/nistpubs/CSWP/NIST.CSWP.29.pdf
            source: NIST
            update_time: 1764789586408
            revision_id: in_release
            revision_name: Added logo
            revision_number: Updated logo
            description: NIST CSF 2.0 compliance refers to the guidelines and recommendations outlined in the National Institute of Standards and Technology Cybersecurity Framework (NIST CSF)
            state: released
            overall_score: 82
            industry_score: 80
            data_available: true
            releasable: true
            updated_by: cchristiansen@paloaltonetworks.com
          logo:
            image: data:image/png;base64,iVBORw0KGg...
            type: image/png
            name: nist.png
    OverallComplianceResponse:
      type: object
      properties:
        products:
          type: object
          properties:
            all:
              $ref: '#/components/schemas/ProductCompliance'
            ngfw:
              $ref: '#/components/schemas/ProductCompliance'
            sase:
              $ref: '#/components/schemas/ProductCompliance'
        category:
          type: string
          enum:
          - PCF
          - CCF
    ConfigurationsAssessedResponse:
      type: object
      properties:
        configurations_assessed:
          type: object
          properties:
            checks:
              type: integer
            assessments:
              type: integer
            total_exceptions:
              type: integer
            expiring_exceptions:
              type: integer
    ComplianceTimelineResponse:
      type: object
      properties:
        timeline_30_days:
          type: array
          items:
            $ref: '#/components/schemas/TimelineDataPoint'
        timeline_1_year:
          type: array
          items:
            $ref: '#/components/schemas/TimelineDataPoint'
    ComplianceFrameworkSummaryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: Compliance framework ID.
              category:
                type: string
                description: Framework category.
              create_time:
                type: integer
                format: int64
                description: Framework creation timestamp (epoch milliseconds).
              benchmark:
                type: boolean
                description: Whether this framework is a benchmark.
              benchmark_by:
                type: string
                description: User who marked this framework as benchmark.
              benchmark_time:
                type: integer
                format: int64
                description: Timestamp when framework was marked as benchmark.
              revision_summary:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    source_url:
                      type: string
                    source:
                      type: string
                    update_time:
                      type: integer
                      format: int64
                    revision_id:
                      type: string
                    revision_name:
                      type: string
                    revision_number:
                      type: string
                    description:
                      type: string
                    state:
                      type: string
                      enum:
                      - draft
                      - released
                    overall_score:
                      type: integer
                    industry_score:
                      type: integer
                    data_available:
                      type: boolean
                    releasable:
                      type: boolean
                    updated_by:
                      type: string
              logo:
                type: object
                properties:
                  image:
                    type: string
                  type:
                    type: string
                  name:
                    type: string
    ComplianceControlsResponse:
      type: object
      properties:
        empty:
          type: boolean
        compliance_framework_metadata:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            assessment_date:
              type: string
              format: date
            framework_version:
              type: string
        compliance_framework_control_groups:
          type: array
          items:
            type: object
            properties:
              control_name:
                type: string
              data_available:
                type: boolean
              all:
                type: object
                properties:
                  most_severe:
                    type: object
                    properties:
                      category:
                        type: integer
                      category_name:
                        type: string
                        enum:
                        - Informational
                        - Warning
                        - Critical
                      count:
                        type: integer
                  failed:
                    type: integer
                  passed:
                    type: integer
                  overall_score:
                    type: number
                    format: float
              group_stats:
                type: object
                additionalProperties: true
    ProductCompliance:
      type: object
      properties:
        name:
          type: string
        data_available:
          type: boolean
        compliance:
          type: object
          properties:
            overall_score:
              type: integer
            industry_score:
              type: integer
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                enum:
                - network
                - infra
                - security
              compliance:
                type: object
                properties:
                  overall_score:
                    type: integer
                  industry_score:
                    type: integer
    TimelineDataPoint:
      type: object
      properties:
        ts:
          type: integer
          format: int64
          description: Timestamp in microseconds (epoch).
        compliance_score:
          type: integer
          description: Compliance score (0-100).
        data_available:
          type: boolean
    Error:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: The error code representing a specific error condition.
              message:
                type: string
                description: A brief description of the error condition.
              details:
                type: array
                items:
                  type: string
                description: An explanation of the error condition.
              help:
                type: string
                format: uri
                description: A URL link to documentation describing the error condition.
        _request_id:
          type: string
          format: uuid
          description: The request ID for troubleshooting purposes.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication using JWT
x-refined-from:
- palo-alto-scm-config-posture-management-compliance-framework-compliance-center-recent-v1-openapi.yaml
- palo-alto-scm-config-posture-management-posture-openapi.yaml
