openapi: 3.1.0
info:
  title: SASE Subscription Service API
  description: >-
    SASE Subscription Service API for license and subscription management.
    Provides visibility into active SASE subscriptions, entitlement details
    such as licensed user counts and feature entitlements, and license
    allocation controls for distributing capacity across Tenant Service
    Groups. Used by administrators to monitor license utilization and
    manage license distribution in multi-tenant SASE deployments.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/subscription/v1
    description: SASE Subscription Service API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Subscriptions
    description: Subscription and license management.
paths:
  /subscriptions:
    get:
      operationId: listSubscriptions
      summary: List subscriptions for TSG
      description: >-
        Returns the active subscriptions for the specified Tenant Service
        Group. Each subscription entry includes the product SKU, licensed
        quantities, current utilization, and subscription term dates.
      tags:
        - Subscriptions
      parameters:
        - name: tsg_id
          in: query
          required: true
          description: Tenant Service Group ID for which to list subscriptions.
          schema:
            type: string
        - name: product
          in: query
          description: Filter subscriptions by product name.
          schema:
            type: string
        - name: status
          in: query
          description: Filter subscriptions by status.
          schema:
            type: string
            enum:
              - active
              - expired
              - pending
      responses:
        '200':
          description: Subscriptions returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of subscriptions for the TSG.
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Subscription'
        '400':
          description: Invalid query parameters or missing tsg_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscription_id}:
    get:
      operationId: getSubscription
      summary: Get subscription details
      description: >-
        Returns full details for a specific subscription including product
        information, licensed capacity, current utilization, and term dates.
      tags:
        - Subscriptions
      parameters:
        - name: subscription_id
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      responses:
        '200':
          description: Subscription details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscription_id}/entitlements:
    get:
      operationId: getSubscriptionEntitlements
      summary: Get subscription entitlement details
      description: >-
        Returns the granular entitlement breakdown for a subscription
        including individual feature entitlements, allocated and available
        quantities per feature, and per-TSG allocation details.
      tags:
        - Subscriptions
      parameters:
        - name: subscription_id
          in: path
          required: true
          description: Unique identifier of the subscription.
          schema:
            type: string
      responses:
        '200':
          description: Entitlement details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionEntitlements'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /subscriptions/{subscription_id}/allocation:
    put:
      operationId: allocateLicenses
      summary: Allocate licenses
      description: >-
        Allocates or reallocates license capacity from a subscription to
        specific child Tenant Service Groups. The total allocated quantity
        across all child TSGs cannot exceed the subscription's licensed
        quantity.
      tags:
        - Subscriptions
      parameters:
        - name: subscription_id
          in: path
          required: true
          description: Unique identifier of the subscription to allocate from.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllocationRequest'
      responses:
        '200':
          description: License allocation updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionEntitlements'
        '400':
          description: Invalid allocation request or insufficient license capacity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Subscription not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    Subscription:
      type: object
      properties:
        subscription_id:
          type: string
          description: Unique identifier of the subscription.
        tsg_id:
          type: string
          description: Tenant Service Group ID this subscription is associated with.
        product_name:
          type: string
          description: Product name (e.g., Prisma Access, Prisma SD-WAN).
        sku:
          type: string
          description: Product SKU identifier.
        status:
          type: string
          enum:
            - active
            - expired
            - pending
          description: Current subscription status.
        licensed_quantity:
          type: integer
          description: Total licensed quantity (e.g., number of users or devices).
        licensed_unit:
          type: string
          description: Unit of measure for the licensed quantity (e.g., users, devices, Mbps).
        utilized_quantity:
          type: integer
          description: Currently utilized quantity.
        start_date:
          type: string
          format: date
          description: Subscription start date.
        end_date:
          type: string
          format: date
          description: Subscription end date.
        support_level:
          type: string
          description: Support tier included with the subscription.
    SubscriptionEntitlements:
      type: object
      properties:
        subscription_id:
          type: string
          description: Unique identifier of the subscription.
        product_name:
          type: string
          description: Product name.
        entitlements:
          type: array
          description: Granular entitlements included in the subscription.
          items:
            $ref: '#/components/schemas/Entitlement'
        allocations:
          type: array
          description: Current license allocations by child TSG.
          items:
            $ref: '#/components/schemas/AllocationEntry'
    Entitlement:
      type: object
      properties:
        feature:
          type: string
          description: Feature or capability name.
        licensed_quantity:
          type: integer
          description: Licensed quantity for this entitlement.
        allocated_quantity:
          type: integer
          description: Quantity already allocated to child TSGs.
        available_quantity:
          type: integer
          description: Remaining quantity available for allocation.
        unit:
          type: string
          description: Unit of measure.
    AllocationEntry:
      type: object
      properties:
        tsg_id:
          type: string
          description: Child TSG ID receiving this allocation.
        tsg_name:
          type: string
          description: Display name of the child TSG.
        allocated_quantity:
          type: integer
          description: Quantity allocated to this TSG.
        utilized_quantity:
          type: integer
          description: Quantity currently utilized by this TSG.
    AllocationRequest:
      type: object
      required:
        - allocations
      properties:
        allocations:
          type: array
          description: >-
            Array of TSG allocations to set. Each entry specifies a child
            TSG and the quantity to allocate to it. Existing allocations
            for TSGs not included in the array are unchanged.
          items:
            type: object
            required:
              - tsg_id
              - quantity
            properties:
              tsg_id:
                type: string
                description: Child TSG ID to allocate licenses to.
              quantity:
                type: integer
                description: Number of licenses to allocate to this TSG.
                minimum: 0
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
