openapi: 3.1.0
info:
  title: Prisma Cloud Code Security API
  description: >-
    REST API for Prisma Cloud Code Security (formerly Bridgecrew) providing
    programmatic access to Infrastructure as Code (IaC) scanning, software
    composition analysis, CI/CD pipeline security, and supply chain risk
    management. The API enables integration with version control systems such
    as GitHub, GitLab, Bitbucket, and Azure Repos, and supports scanning
    Terraform, CloudFormation, Kubernetes manifests, Dockerfiles, and other
    IaC frameworks using the Checkov scanning engine. Authentication requires
    a JWT token obtained from the Prisma Cloud CSPM /login endpoint, passed
    via the x-redlock-auth header.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.prismacloud.io
    description: Prisma Cloud API (US region 1).
  - url: https://api2.prismacloud.io
    description: Prisma Cloud API (US region 2).
  - url: https://api3.prismacloud.io
    description: Prisma Cloud API (US region 3).
  - url: https://api.eu.prismacloud.io
    description: Prisma Cloud API (EU).
  - url: https://api.anz.prismacloud.io
    description: Prisma Cloud API (ANZ).
  - url: https://api.sg.prismacloud.io
    description: Prisma Cloud API (Singapore).
  - url: https://api.ca.prismacloud.io
    description: Prisma Cloud API (Canada).
security:
  - redlockAuth: []
tags:
  - name: Repositories
    description: VCS repository onboarding and management.
  - name: Scans
    description: IaC and SCA scan execution and results.
  - name: Errors
    description: Code security errors and policy violations in scanned files.
  - name: Fixes
    description: Automated fix suggestions for detected misconfigurations.
  - name: Suppressions
    description: Suppression rules for managing false positives and accepted risks.
paths:
  /code/api/v1/repositories:
    get:
      operationId: listRepositories
      summary: List onboarded repositories
      description: >-
        Returns a list of all repositories that have been onboarded to Prisma
        Cloud Code Security. Includes repository metadata such as the source
        VCS provider, default branch, last scan time, and counts of open
        security errors. Supports pagination and filtering by source type.
      tags:
        - Repositories
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: search
          in: query
          description: Search term to filter repositories by name or owner.
          schema:
            type: string
        - name: sourceType
          in: query
          description: Filter by VCS provider type.
          schema:
            type: string
            enum:
              - Github
              - Gitlab
              - Bitbucket
              - AzureRepos
              - githubEnterprise
              - gitlabEnterprise
              - bitbucketEnterprise
      responses:
        '200':
          description: Repositories returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of onboarded repositories.
                  repositories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Repository'
        '401':
          description: Unauthorized. Invalid or expired token.
  /code/api/v1/vcs-repository/repositories:
    get:
      operationId: listVcsRepositories
      summary: List VCS repositories available for onboarding
      description: >-
        Returns a list of repositories discovered in connected VCS integrations
        that are available for onboarding. This includes repositories that have
        not yet been onboarded as well as those already integrated. Use this
        endpoint to discover new repositories for security scanning.
      tags:
        - Repositories
      parameters:
        - name: sourceType
          in: query
          required: true
          description: VCS provider type to list repositories from.
          schema:
            type: string
            enum:
              - Github
              - Gitlab
              - Bitbucket
              - AzureRepos
        - name: orgName
          in: query
          description: Organization or group name to filter repositories.
          schema:
            type: string
      responses:
        '200':
          description: VCS repositories returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Repository identifier in the VCS provider.
                    name:
                      type: string
                      description: Repository name.
                    owner:
                      type: string
                      description: Repository owner or organization.
                    defaultBranch:
                      type: string
                      description: Default branch name.
                    isOnboarded:
                      type: boolean
                      description: Whether the repository has been onboarded.
                    url:
                      type: string
                      description: URL to the repository in the VCS provider.
        '401':
          description: Unauthorized. Invalid or expired token.
  /code/api/v1/scans/integrations:
    post:
      operationId: triggerScanIntegration
      summary: Trigger a scan for a repository integration
      description: >-
        Initiates an IaC and SCA scan for a specific repository integration.
        The scan analyzes all supported file types in the repository including
        Terraform, CloudFormation, Kubernetes YAML, Helm charts, Dockerfiles,
        and open-source dependency manifests. Scan results are available via
        the errors and fixes endpoints once processing is complete.
      tags:
        - Scans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - repositoryId
              properties:
                repositoryId:
                  type: string
                  description: >-
                    Unique identifier of the onboarded repository to scan.
                branch:
                  type: string
                  description: >-
                    Branch to scan. Defaults to the repository default branch
                    if not specified.
                scanTypes:
                  type: array
                  description: >-
                    Types of scans to perform. If omitted, all scan types are
                    run.
                  items:
                    type: string
                    enum:
                      - iac
                      - sca
                      - secrets
                      - cicd
      responses:
        '200':
          description: Scan initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResult'
        '400':
          description: Invalid request parameters.
        '401':
          description: Unauthorized. Invalid or expired token.
        '404':
          description: Repository not found.
  /code/api/v1/errors/files:
    get:
      operationId: listCodeErrors
      summary: List code security errors by file
      description: >-
        Returns code security errors (policy violations, misconfigurations,
        and vulnerabilities) grouped by file path. Each error includes the
        Checkov policy ID, severity, resource name, and the file location
        where the issue was detected. Supports filtering by repository,
        branch, severity, and error type.
      tags:
        - Errors
      parameters:
        - name: repositoryId
          in: query
          required: true
          description: Filter errors by repository ID.
          schema:
            type: string
        - name: branch
          in: query
          description: Filter errors by branch name.
          schema:
            type: string
        - name: severity
          in: query
          description: Filter errors by severity level.
          schema:
            type: string
            enum:
              - CRITICAL
              - HIGH
              - MEDIUM
              - LOW
              - INFO
        - name: errorType
          in: query
          description: Filter by error category.
          schema:
            type: string
            enum:
              - iac
              - sca
              - secrets
              - cicd
        - name: status
          in: query
          description: Filter by error status.
          schema:
            type: string
            enum:
              - OPEN
              - SUPPRESSED
              - FIXED
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Code errors returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of errors matching the filter criteria.
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/CodeError'
        '401':
          description: Unauthorized. Invalid or expired token.
  /code/api/v1/fixes/checkovScanResults:
    get:
      operationId: getCheckovFixResults
      summary: Get auto-fix suggestions from Checkov scan
      description: >-
        Returns automated fix suggestions for misconfigurations detected by
        the Checkov scanning engine. Each fix includes the original code
        snippet, the suggested replacement, and the policy that triggered
        the finding. Fix suggestions are available for IaC files including
        Terraform, CloudFormation, and Kubernetes manifests.
      tags:
        - Fixes
      parameters:
        - name: repositoryId
          in: query
          required: true
          description: Repository ID to retrieve fix suggestions for.
          schema:
            type: string
        - name: branch
          in: query
          description: Branch to retrieve fix suggestions for.
          schema:
            type: string
        - name: filePath
          in: query
          description: Filter fix suggestions by specific file path.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Fix suggestions returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of available fix suggestions.
                  fixes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fix'
        '401':
          description: Unauthorized. Invalid or expired token.
  /code/api/v1/suppressions:
    post:
      operationId: createSuppression
      summary: Create a suppression rule
      description: >-
        Creates a suppression rule to suppress specific code security errors.
        Suppressions can be scoped to a specific resource, file, repository,
        or applied globally for a policy. Use suppressions to manage accepted
        risks, false positives, or findings that are addressed through
        compensating controls.
      tags:
        - Suppressions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - policyId
                - suppressionType
              properties:
                policyId:
                  type: string
                  description: >-
                    Checkov policy ID to suppress (e.g., CKV_AWS_18,
                    BC_AWS_GENERAL_31).
                suppressionType:
                  type: string
                  description: Scope of the suppression rule.
                  enum:
                    - Policy
                    - Resources
                    - Accounts
                    - Tags
                justification:
                  type: string
                  description: >-
                    Reason for creating the suppression. Required for audit
                    trail compliance.
                expirationDate:
                  type: string
                  format: date-time
                  description: >-
                    Optional expiration date for the suppression. After this
                    date, the suppression is automatically removed.
                resources:
                  type: array
                  description: >-
                    List of specific resources to suppress. Required when
                    suppressionType is Resources.
                  items:
                    type: object
                    properties:
                      repositoryId:
                        type: string
                      filePath:
                        type: string
                      resourceId:
                        type: string
                accountIds:
                  type: array
                  description: >-
                    List of repository IDs to suppress. Required when
                    suppressionType is Accounts.
                  items:
                    type: string
                tags:
                  type: array
                  description: >-
                    List of tag key-value pairs to suppress. Required when
                    suppressionType is Tags.
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
      responses:
        '200':
          description: Suppression created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suppression'
        '400':
          description: Invalid suppression parameters.
        '401':
          description: Unauthorized. Invalid or expired token.
    get:
      operationId: listSuppressions
      summary: List suppression rules
      description: >-
        Returns all active suppression rules configured for code security
        findings. Supports filtering by policy ID, suppression type, and
        creator.
      tags:
        - Suppressions
      parameters:
        - name: policyId
          in: query
          description: Filter suppressions by Checkov policy ID.
          schema:
            type: string
        - name: suppressionType
          in: query
          description: Filter by suppression scope.
          schema:
            type: string
            enum:
              - Policy
              - Resources
              - Accounts
              - Tags
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Suppression rules returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of suppression rules.
                  suppressions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Suppression'
        '401':
          description: Unauthorized. Invalid or expired token.
components:
  securitySchemes:
    redlockAuth:
      type: apiKey
      in: header
      name: x-redlock-auth
      description: >-
        JWT token obtained from the Prisma Cloud /login endpoint. Pass the
        token value in the x-redlock-auth header. Tokens are valid for 10
        minutes.
  schemas:
    Repository:
      type: object
      properties:
        id:
          type: string
          description: Unique repository identifier in Prisma Cloud.
        name:
          type: string
          description: Repository name.
        owner:
          type: string
          description: Repository owner or organization name.
        fullName:
          type: string
          description: Full repository name in owner/repo format.
        sourceType:
          type: string
          description: VCS provider type.
          enum:
            - Github
            - Gitlab
            - Bitbucket
            - AzureRepos
            - githubEnterprise
            - gitlabEnterprise
            - bitbucketEnterprise
        defaultBranch:
          type: string
          description: Default branch of the repository.
        url:
          type: string
          description: URL to the repository in the VCS provider.
        isPublic:
          type: boolean
          description: Whether the repository is publicly accessible.
        lastScanDate:
          type: string
          format: date-time
          description: Timestamp of the most recent scan.
        lastScanStatus:
          type: string
          description: Status of the most recent scan.
          enum:
            - completed
            - running
            - failed
            - pending
        errorCounts:
          type: object
          description: Count of open errors by severity.
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer
            info:
              type: integer
        frameworksDetected:
          type: array
          description: IaC frameworks detected in the repository.
          items:
            type: string
            enum:
              - Terraform
              - CloudFormation
              - Kubernetes
              - Helm
              - Dockerfile
              - Serverless
              - ARM
              - Bicep
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the repository was onboarded.
    ScanResult:
      type: object
      properties:
        scanId:
          type: string
          description: Unique scan identifier.
        repositoryId:
          type: string
          description: Repository that was scanned.
        branch:
          type: string
          description: Branch that was scanned.
        status:
          type: string
          description: Current scan status.
          enum:
            - queued
            - running
            - completed
            - failed
        startTime:
          type: string
          format: date-time
          description: Scan start timestamp.
        endTime:
          type: string
          format: date-time
          description: Scan completion timestamp. Null if scan is still running.
        scanTypes:
          type: array
          description: Types of scans included in this run.
          items:
            type: string
            enum:
              - iac
              - sca
              - secrets
              - cicd
        summary:
          type: object
          description: >-
            High-level scan result summary. Available after scan completion.
          properties:
            filesScanned:
              type: integer
              description: Number of files analyzed.
            resourcesScanned:
              type: integer
              description: Number of IaC resources evaluated.
            errorsByType:
              type: object
              properties:
                iac:
                  type: integer
                sca:
                  type: integer
                secrets:
                  type: integer
                cicd:
                  type: integer
            errorsBySeverity:
              type: object
              properties:
                critical:
                  type: integer
                high:
                  type: integer
                medium:
                  type: integer
                low:
                  type: integer
                info:
                  type: integer
    CodeError:
      type: object
      properties:
        errorId:
          type: string
          description: Unique error identifier.
        policyId:
          type: string
          description: >-
            Checkov policy ID that triggered the error (e.g., CKV_AWS_18,
            BC_AWS_S3_19).
        policyName:
          type: string
          description: Human-readable name of the violated policy.
        severity:
          type: string
          description: Error severity level.
          enum:
            - CRITICAL
            - HIGH
            - MEDIUM
            - LOW
            - INFO
        category:
          type: string
          description: Error category based on the type of scan that detected it.
          enum:
            - IAC
            - SCA
            - SECRETS
            - CICD
        status:
          type: string
          description: Current status of the error.
          enum:
            - OPEN
            - SUPPRESSED
            - FIXED
        resourceName:
          type: string
          description: >-
            Name of the IaC resource where the error was detected (e.g.,
            aws_s3_bucket.my_bucket).
        resourceType:
          type: string
          description: >-
            Type of the IaC resource (e.g., aws_s3_bucket, google_compute_instance).
        filePath:
          type: string
          description: Relative path to the file containing the error.
        fileLineRange:
          type: array
          description: Start and end line numbers of the affected code block.
          items:
            type: integer
          minItems: 2
          maxItems: 2
        repositoryId:
          type: string
          description: Repository where the error was found.
        branch:
          type: string
          description: Branch where the error was detected.
        guideline:
          type: string
          description: URL to documentation explaining the policy and remediation steps.
        firstDetected:
          type: string
          format: date-time
          description: Timestamp when the error was first detected.
        lastDetected:
          type: string
          format: date-time
          description: Timestamp of the most recent scan where the error was found.
        cveId:
          type: string
          description: >-
            CVE identifier if the error is an SCA vulnerability finding.
            Null for IaC errors.
        packageName:
          type: string
          description: >-
            Affected package name for SCA findings. Null for IaC errors.
        packageVersion:
          type: string
          description: >-
            Installed package version for SCA findings. Null for IaC errors.
        fixedVersion:
          type: string
          description: >-
            Fixed package version for SCA findings. Null if no fix is available.
    Fix:
      type: object
      properties:
        fixId:
          type: string
          description: Unique fix suggestion identifier.
        policyId:
          type: string
          description: Checkov policy ID associated with the fix.
        policyName:
          type: string
          description: Human-readable policy name.
        severity:
          type: string
          description: Severity of the original finding.
          enum:
            - CRITICAL
            - HIGH
            - MEDIUM
            - LOW
            - INFO
        resourceName:
          type: string
          description: IaC resource name where the fix applies.
        filePath:
          type: string
          description: Relative path to the file requiring the fix.
        lineRange:
          type: array
          description: Start and end line numbers of the code to be replaced.
          items:
            type: integer
          minItems: 2
          maxItems: 2
        originalCode:
          type: string
          description: Original code snippet that contains the misconfiguration.
        suggestedCode:
          type: string
          description: >-
            Suggested replacement code that resolves the misconfiguration.
        framework:
          type: string
          description: IaC framework of the affected file.
          enum:
            - Terraform
            - CloudFormation
            - Kubernetes
            - Helm
            - Dockerfile
            - ARM
            - Bicep
        repositoryId:
          type: string
          description: Repository where the fix applies.
        branch:
          type: string
          description: Branch where the fix applies.
    Suppression:
      type: object
      properties:
        suppressionId:
          type: string
          description: Unique suppression rule identifier.
        policyId:
          type: string
          description: Checkov policy ID being suppressed.
        policyName:
          type: string
          description: Human-readable policy name.
        suppressionType:
          type: string
          description: Scope of the suppression.
          enum:
            - Policy
            - Resources
            - Accounts
            - Tags
        justification:
          type: string
          description: Reason provided for the suppression.
        createdBy:
          type: string
          description: Email address of the user who created the suppression.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the suppression was created.
        expirationDate:
          type: string
          format: date-time
          description: >-
            Expiration date of the suppression. Null if the suppression does
            not expire.
        resources:
          type: array
          description: >-
            Specific resources targeted by this suppression. Populated when
            suppressionType is Resources.
          items:
            type: object
            properties:
              repositoryId:
                type: string
              filePath:
                type: string
              resourceId:
                type: string
        accountIds:
          type: array
          description: >-
            Repository IDs targeted by this suppression. Populated when
            suppressionType is Accounts.
          items:
            type: string
        tags:
          type: array
          description: >-
            Tag key-value pairs targeted by this suppression. Populated when
            suppressionType is Tags.
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
        suppressedErrorCount:
          type: integer
          description: Number of errors currently suppressed by this rule.
