openapi: 3.2.0
info:
  title: Palo Alto Networks IP Sec Tunnels API
  version: '1.0'
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged IPSecTunnels across 3 of this provider''s published API definitions: palo-alto-access-prisma-access-config-ipsectunnels-openapi.yaml, palo-alto-networks-ipsectunnels-api-openapi.yml, palo-alto-prisma-access-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Prisma Access SASE configuration API server.
tags:
- name: IPSecTunnels
paths:
  /sse/config/v1/ipsec-tunnels:
    get:
      description: Retrieve IPSec tunnels.
      operationId: get-sse-config-v1-ipsec-tunnels
      parameters:
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/name-optional'
      - $ref: '#/components/parameters/folder'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/ipsec-tunnels'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of ipsec tunnels
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: List IPSec tunnels
      tags:
      - IPSecTunnels
    post:
      description: Create an IPSec tunnel.
      operationId: post-sse-config-v1-ipsec-tunnels
      parameters:
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec-tunnels'
        description: The ipsec tunnel you want to create
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create IPSec tunnels
      tags:
      - IPSecTunnels
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/ipsec-tunnels/{id}:
    delete:
      description: 'Delete a ipsec tunnel.

        '
      operationId: delete-sse-config-v1-ipsec-tunnels-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete a ipsec tunnel.
      tags:
      - IPSecTunnels
    get:
      description: Get an IPSec tunnel.
      operationId: get-sse-config-v1-ipsec-tunnels-id
      parameters:
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - items:
                    $ref: '#/components/schemas/ipsec-tunnels'
                  type: array
          description: Get the ipsec tunnel by id.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Get an IPSec tunnel
      tags:
      - IPSecTunnels
    put:
      description: 'Modify a ipsec tunnel.

        '
      operationId: put-sse-config-v1-ipsec-tunnels-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec-tunnels'
        description: The ipsec tunnel you want to edit
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Edit a ipsec tunnel.
      tags:
      - IPSecTunnels
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /ipsec-tunnels:
    get:
      operationId: listIPSecTunnels
      summary: Palo Alto Networks List IPSec Tunnels
      description: Returns a list of IPSec tunnel configurations. IPSec tunnels use the IKE gateways to establish encrypted VPN connectivity between branch sites or data centers and Prisma Access.
      tags:
      - IPSecTunnels
      parameters:
      - name: folder
        in: query
        description: Filter by folder.
        schema:
          type: string
        example: example-folder
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 200
        example: 200
      responses:
        '200':
          description: IPSec tunnels returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IPSecTunnel'
                  offset:
                    type: integer
                  total:
                    type: integer
                  limit:
                    type: integer
              examples:
                ListIpsecTunnels200Example:
                  summary: Default listIPSecTunnels 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: example-id
                      name: Staging Firewall 42
                      auto_key:
                        ike_gateway:
                        - name: Corporate Firewall 77
                        ipsec_crypto_profile: HVAC Controller
                      tunnel_monitor:
                        enable: false
                        destination_ip: 10.26.144.251
                        proxy_id: '408309'
                      anti_replay: true
                      folder: example-folder
                    offset: 212
                    total: 309
                    limit: 181
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    post:
      operationId: createIPSecTunnel
      summary: Palo Alto Networks Create an IPSec Tunnel
      description: Creates a new IPSec tunnel in the candidate configuration.
      tags:
      - IPSecTunnels
      parameters:
      - name: folder
        in: query
        required: true
        description: Target folder for the IPSec tunnel.
        schema:
          type: string
        example: example-folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPSecTunnel'
            examples:
              CreateIpsecTunnelRequestExample:
                summary: Default createIPSecTunnel request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Staging Firewall 42
                  auto_key:
                    ike_gateway:
                    - name: Corporate Firewall 77
                    ipsec_crypto_profile: HVAC Controller
                  tunnel_monitor:
                    enable: false
                    destination_ip: 10.26.144.251
                    proxy_id: '408309'
                  anti_replay: true
                  folder: example-folder
      responses:
        '201':
          description: IPSec tunnel created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPSecTunnel'
              examples:
                CreateIpsecTunnel201Example:
                  summary: Default createIPSecTunnel 201 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Staging Firewall 42
                    auto_key:
                      ike_gateway:
                      - name: Corporate Firewall 77
                      ipsec_crypto_profile: HVAC Controller
                    tunnel_monitor:
                      enable: false
                      destination_ip: 10.26.144.251
                      proxy_id: '408309'
                    anti_replay: true
                    folder: example-folder
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /ipsec-tunnels/{id}:
    get:
      operationId: getIPSecTunnel
      summary: Palo Alto Networks Get an IPSec Tunnel
      description: Returns the configuration of a specific IPSec tunnel.
      tags:
      - IPSecTunnels
      parameters:
      - name: id
        in: path
        required: true
        description: Unique IPSec tunnel identifier.
        schema:
          type: string
        example: example-id
      responses:
        '200':
          description: IPSec tunnel returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPSecTunnel'
              examples:
                GetIpsecTunnel200Example:
                  summary: Default getIPSecTunnel 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Staging Firewall 42
                    auto_key:
                      ike_gateway:
                      - name: Corporate Firewall 77
                      ipsec_crypto_profile: HVAC Controller
                    tunnel_monitor:
                      enable: false
                      destination_ip: 10.26.144.251
                      proxy_id: '408309'
                    anti_replay: true
                    folder: example-folder
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    put:
      operationId: updateIPSecTunnel
      summary: Palo Alto Networks Update an IPSec Tunnel
      description: Updates an existing IPSec tunnel in the candidate configuration.
      tags:
      - IPSecTunnels
      parameters:
      - name: id
        in: path
        required: true
        description: Unique IPSec tunnel identifier.
        schema:
          type: string
        example: example-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPSecTunnel'
            examples:
              UpdateIpsecTunnelRequestExample:
                summary: Default updateIPSecTunnel request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Staging Firewall 42
                  auto_key:
                    ike_gateway:
                    - name: Corporate Firewall 77
                    ipsec_crypto_profile: HVAC Controller
                  tunnel_monitor:
                    enable: false
                    destination_ip: 10.26.144.251
                    proxy_id: '408309'
                  anti_replay: true
                  folder: example-folder
      responses:
        '200':
          description: IPSec tunnel updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPSecTunnel'
              examples:
                UpdateIpsecTunnel200Example:
                  summary: Default updateIPSecTunnel 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Staging Firewall 42
                    auto_key:
                      ike_gateway:
                      - name: Corporate Firewall 77
                      ipsec_crypto_profile: HVAC Controller
                    tunnel_monitor:
                      enable: false
                      destination_ip: 10.26.144.251
                      proxy_id: '408309'
                    anti_replay: true
                    folder: example-folder
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    delete:
      operationId: deleteIPSecTunnel
      summary: Palo Alto Networks Delete an IPSec Tunnel
      description: Deletes an IPSec tunnel from the candidate configuration.
      tags:
      - IPSecTunnels
      parameters:
      - name: id
        in: path
        required: true
        description: Unique IPSec tunnel identifier.
        schema:
          type: string
        example: example-id
      responses:
        '200':
          description: IPSec tunnel deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  examples:
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Object
        _request_id: abcd-1234
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          details: {}
          message: Object Not Unique
        _request_id: abcd-1234
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Input Format Mismatch: input-format=json'
        _request_id: abcd-1234
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: 'Action Not Supported: move'
        _request_id: abcd-1234
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Expired
        _request_id: abcd-1234
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          details: {}
          message: Bad XPath
        _request_id: abcd-1234
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          details: {}
          message: Missing Body
        _request_id: abcd-1234
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          details: {}
          message: Unauthorized
        _request_id: abcd-1234
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          details: {}
          message: Invalid Credential
        _request_id: abcd-1234
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: 4
          details: {}
          message: Session Timeout
        _request_id: abcd-1234
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          details: {}
          message: Not Authenticated
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Command
        _request_id: abcd-1234
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Too Long
        _request_id: abcd-1234
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          details: {}
          message: Name Not Unique
        _request_id: abcd-1234
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          details: {}
          message: The password needs to be changed.
        _request_id: abcd-1234
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Method Not Supported
        _request_id: abcd-1234
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Malformed Command
        _request_id: abcd-1234
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          details: {}
          message: Reference Not Zero
        _request_id: abcd-1234
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Invalid Query Parameter: location=invalid'
        _request_id: abcd-1234
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Version Not Supported
        _request_id: abcd-1234
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Missing Query Parameter: name'
        _request_id: abcd-1234
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Output Format Mismatch: output-format=json Accept=xml'
        _request_id: abcd-1234
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          details: {}
          message: Object Not Present
        _request_id: abcd-1234
  responses:
    access_errors:
      content:
        application/json:
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Forbidden
    not_found:
      content:
        application/json:
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Not Found
    conflict_errors:
      content:
        application/json:
          examples:
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Conflict
    http_created:
      description: Created
    bad_request_errors_basic:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    default_errors:
      content:
        application/json:
          examples:
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    auth_errors:
      content:
        application/json:
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Unauthorized
    bad_request_errors_basic_with_body:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    http_ok:
      description: Ok
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    offset-optional:
      description: 'The offset of the result entry.

        '
      in: query
      name: offset
      required: false
      schema:
        type: number
    limit-optional:
      description: 'The maximum number of result objects to return per page.

        '
      in: query
      name: limit
      required: false
      schema:
        type: number
    folder:
      description: 'The folder on which you want to perform this operation.

        '
      in: query
      name: folder
      required: true
      schema:
        enum:
        - Shared
        - Mobile Users
        - Remote Networks
        - Service Connections
        - Mobile Users Container
        - Mobile Users Explicit Proxy
        pattern: ^[0-9a-zA-Z._-\s]{1,}$
        type: string
    uuid-required:
      description: 'The resource''s unique identifier.

        '
      in: path
      name: id
      required: true
      schema:
        type: string
    name-optional:
      description: 'The name of the entry.

        '
      in: query
      name: name
      required: false
      schema:
        type: string
  schemas:
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    ipsec-tunnels:
      properties:
        anti_replay:
          description: Enable Anti-Replay check on this tunnel
          type: boolean
        auto_key:
          properties:
            ike_gateway:
              items:
                properties:
                  name:
                    type: string
                type: object
              type: array
            ipsec_crypto_profile:
              type: string
            proxy_id:
              description: IPv4 type of proxy_id values
              items:
                properties:
                  local:
                    type: string
                  name:
                    type: string
                  protocol:
                    oneOf:
                    - properties:
                        number:
                          description: IP protocol number
                          maximum: 254
                          minimum: 1
                          type: integer
                      title: number
                      type: object
                    - properties:
                        tcp:
                          properties:
                            local_port:
                              default: 0
                              maximum: 65535
                              minimum: 0
                              type: integer
                            remote_port:
                              default: 0
                              maximum: 65535
                              minimum: 0
                              type: integer
                          type: object
                      title: tcp
                      type: object
                    - properties:
                        udp:
                          properties:
                            local_port:
                              default: 0
                              maximum: 65535
                              minimum: 0
                              type: integer
                            remote_port:
                              default: 0
                              maximum: 65535
                              minimum: 0
                              type: integer
                          type: object
                      title: udp
                      type: object
                    type: object
                  remote:
                    type: string
                required:
                - name
                type: object
              type: array
            proxy_id_v6:
              description: IPv6 type of proxy_id values
              items:
                properties:
                  local:
                    type: string
                  name:
                    type: string
                  protocol:
                    oneOf:
                    - properties:
                        number:
                          description: IP protocol number
                          maximum: 254
                          minimum: 1
                          type: integer
                      title: number
                      type: object
                    - properties:
                        tcp:
                          properties:
                            local_port:
                              default: 0
                              maximum: 65535
                              minimum: 0
                              type: integer
                            remote_port:
                              default: 0
                              maximum: 65535
                              minimum: 0
                              type: integer
                          type: object
                      title: tcp
                      type: object
                    - properties:
                        udp:
                          properties:
                            local_port:
                              default: 0
                              maximum: 65535
                              minimum: 0
                              type: integer
                            remote_port:
                              default: 0
                              maximum: 65535
                              minimum: 0
                              type: integer
                          type: object
                      title: udp
                      type: object
                    type: object
                  remote:
                    type: string
                required:
                - name
                type: object
              type: array
          required:
          - ike_gateway
          - ipsec_crypto_profile
          type: object
        copy_tos:
          default: false
          description: Copy IP TOS bits from inner packet to IPSec packet (not recommended)
          type: boolean
        enable_gre_encapsulation:
          default: false
          description: allow GRE over IPSec
          type: boolean
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 63
          type: string
        tunnel_monitor:
          properties:
            destination_ip:
              description: Destination IP to send ICMP probe
              type: string
            enable:
              default: true
              description: Enable tunnel monitoring on this tunnel
              type: boolean
            proxy_id:
              description: Which proxy-id (or proxy-id-v6) the monitoring traffic will use
              type: string
          required:
          - destination_ip
          type: object
      required:
      - name
      - auto_key
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    ErrorResponse:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Alert malware configured threat rule network malware configured on.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Threat configured alert firewall violation monitoring traffic activity.
            details: {}
          - code: example-code
            message: Blocked threat Security traffic firewall monitoring malware endpoint suspicious network.
            details: {}
        _request_id:
          type: string
          example: '980164'
    IPSecTunnel:
      type: object
      required:
      - name
      - auto_key
      properties:
        id:
          type: string
          description: Unique identifier for the IPSec tunnel.
          readOnly: true
          example: example-id
        name:
          type: string
          description: Name of the IPSec tunnel.
          example: Staging Firewall 42
        auto_key:
          type: object
          description: Auto-key IKE configuration for the tunnel.
          properties:
            ike_gateway:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Name of the IKE gateway to use.
                    example: Production Agent 99
              example:
              - name: Branch Agent 66
              - name: Primary Agent 16
            ipsec_crypto_profile:
              type: string
              description: IPSec crypto profile name.
              example: IP Camera
          example:
            ike_gateway:
            - name: Corporate Firewall 77
            ipsec_crypto_profile: HVAC Controller
        tunnel_monitor:
          type: object
          properties:
            enable:
              type: boolean
              example: false
            destination_ip:
              type: string
              format: ipv4
              example: 10.93.88.181
            proxy_id:
              type: string
              example: '109061'
          example:
            enable: false
            destination_ip: 10.26.144.251
            proxy_id: '408309'
        anti_replay:
          type: boolean
          default: true
          description: Whether anti-replay protection is enabled.
          example: true
        folder:
          type: string
          readOnly: true
          example: example-folder
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow for obtaining an access token. Requires a client ID and client secret from the Palo Alto Networks SASE identity provider.
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
x-refined-from:
- palo-alto-access-prisma-access-config-ipsectunnels-openapi.yaml
- palo-alto-networks-ipsectunnels-api-openapi.yml
- palo-alto-prisma-access-api-openapi-original.yml
