openapi: 3.2.0
info:
  title: ZTNA Restful Connector API
  version: v2
  license:
    name: Palo Alto Networks EULA
    url: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  description: ZTNA Connector Restful API Specification This Open API spec file was created on March 25, 2026. © 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html). All other marks mentioned herein may be trademarks of their respective companies.
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- bearerAuth: []
tags:
- name: Connector
paths:
  /sse/connector/v2.0/api/connectors:
    get:
      summary: List Connectors
      description: Retrieve the connectors details through this Application Programming Interface endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector.list'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      - $ref: '#/components/parameters/pagination.offset'
      - $ref: '#/components/parameters/pagination.limit'
      - $ref: '#/components/parameters/query.sort'
      - $ref: '#/components/parameters/query.search'
      - $ref: '#/components/parameters/query.filters'
      tags:
      - Connector
      operationId: list.connectors.v2
    post:
      summary: Create Connector
      description: Create the connectors details through this Application Programming Interface endpoint.
      responses:
        '201':
          $ref: '#/components/responses/http.201_created'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
        '403':
          $ref: '#/components/responses/error-403'
        '409':
          $ref: '#/components/responses/error-409'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      tags:
      - Connector
      operationId: create.connector.v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector-new'
  /sse/connector/v2.0/api/connectors/{oid}:
    get:
      summary: Get Connector
      description: Retrieve the {oid} details through this Application Programming Interface endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/connector-existing'
                - $ref: '#/components/schemas/entity_meta'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
        '404':
          $ref: '#/components/responses/error-404'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: get.connector.v2
    put:
      summary: Update Connector
      description: Update the {oid} details through this Application Programming Interface endpoint.
      responses:
        '200':
          $ref: '#/components/responses/http.200_ok'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
        '403':
          $ref: '#/components/responses/error-403'
        '404':
          $ref: '#/components/responses/error-404'
        '409':
          $ref: '#/components/responses/error-409'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: update.connector.v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector-existing'
    delete:
      summary: Delete Connector
      description: Delete the {oid} details through this Application Programming Interface endpoint.
      responses:
        '202':
          $ref: '#/components/responses/http.202_accepted'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
        '403':
          $ref: '#/components/responses/error-403'
        '404':
          $ref: '#/components/responses/error-404'
        '409':
          $ref: '#/components/responses/error-409'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: delete.connector.v2
  /sse/connector/v2.0/api/connectors/filters:
    get:
      summary: List Connector Filters
      description: Get filter values for connector fields.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filters'
              examples:
                empty:
                  $ref: '#/components/examples/filter-empty'
                common:
                  $ref: '#/components/examples/filter'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      - $ref: '#/components/parameters/query.field'
      - $ref: '#/components/parameters/query.search'
      tags:
      - Connector
      operationId: list.connector.filters.v2
  /sse/connector/v2.0/api/connectors/{oid}/quiesce:
    get:
      summary: Get Connector Quiesce State
      description: Retrieve the quiesce details through this Application Programming Interface endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector.quiesce'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
        '404':
          $ref: '#/components/responses/error-404'
        '424':
          $ref: '#/components/responses/error-424'
        5XX:
          $ref: '#/components/responses/error-5xx'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: get.connector.quiesce.v2
    put:
      summary: Update Connector Quiesce State
      description: Update the quiesce details through this Application Programming Interface endpoint.
      responses:
        '204':
          $ref: '#/components/responses/http.204_no_content'
        '400':
          $ref: '#/components/responses/error-400'
        '404':
          $ref: '#/components/responses/error-404'
        '424':
          $ref: '#/components/responses/error-424'
        5XX:
          $ref: '#/components/responses/error-5xx'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: update.connector.quiesce.v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector.quiesce'
  /sse/connector/v2.0/api/connectors/{oid}/scheduled-upgrade:
    post:
      summary: Create Connector Scheduled Upgrade
      description: Create the scheduled upgrade details through this Application Programming Interface endpoint.
      responses:
        '201':
          $ref: '#/components/responses/http.201_created'
        '400':
          $ref: '#/components/responses/error-400'
        '404':
          $ref: '#/components/responses/error-404'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: create.connector.scheduled_upgrade.v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector.scheduled_upgrade'
    get:
      summary: Get Connector Scheduled Upgrade
      description: Retrieve the scheduled upgrade details through this Application Programming Interface endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector.scheduled_upgrade'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
        '404':
          $ref: '#/components/responses/error-404'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: get.connector.scheduled_upgrade.v2
    put:
      summary: Update Connector Scheduled Upgrade
      description: Update the scheduled upgrade details through this Application Programming Interface endpoint.
      responses:
        '204':
          $ref: '#/components/responses/http.204_no_content'
        '400':
          $ref: '#/components/responses/error-400'
        '404':
          $ref: '#/components/responses/error-404'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: update.connector.scheduled_upgrade.v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connector.scheduled_upgrade'
    delete:
      summary: Delete Connector Scheduled Upgrade
      description: Delete the scheduled upgrade details through this Application Programming Interface endpoint.
      responses:
        '202':
          $ref: '#/components/responses/http.202_accepted'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
        '403':
          $ref: '#/components/responses/error-403'
        '404':
          $ref: '#/components/responses/error-404'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: delete.connector.scheduled_upgrade.v2
  /sse/connector/v2.0/api/connectors/{oid}/scheduled-upgrade-status:
    get:
      summary: Get Connector Scheduled Upgrade Status
      description: Retrieves the detailed scheduled upgrade status for a specific connector.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connector.upgrade_status'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
        '404':
          $ref: '#/components/responses/error-404'
        5XX:
          $ref: '#/components/responses/error-5xx'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: get.connector.scheduled_upgrade_status.v2
  /sse/connector/v2.0/api/connectors/{oid}/pcaps:
    get:
      summary: List Connector Packet Capture Files
      description: 'This Application Programming Interface is used to get the list of captured packet files on the ZTNA connector.

        The result is an array of file information objects.

        Each file information object has Identifier, state, date, name and size of the file.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagnostic_file.list'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: list.connector.packet_captures.v2
    post:
      summary: Start Connector Packet Capture
      description: This Application Programming Interface will start a packet capture operation on the ZTNA connector. The Interface information must be provided in the Application Programming Interface.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packet_capture'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: start.connector.packet_capture.v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/packet_capture.create'
  /sse/connector/v2.0/api/connectors/{oid}/pcaps/{id}:stop:
    post:
      summary: Stop Connector Packet Capture
      description: This Application Programming Interface will stop an in-progress packet capture operation on the ZTNA connector.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/packet_capture'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      - $ref: '#/components/parameters/path.id'
      tags:
      - Connector
      operationId: stop.connector.packet_capture.v2
  /sse/connector/v2.0/api/connectors/{oid}/pcaps/{id}:download:
    get:
      summary: Download Connector Packet Capture File
      description: This Application Programming Interface downloads the captured packet file from the ZTNA connector.
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      - $ref: '#/components/parameters/path.id'
      tags:
      - Connector
      operationId: download.connector.packet_capture_file.v2
  /sse/connector/v2.0/api/connectors/{oid}/tech-support-files:
    get:
      summary: List Connector Tech Support Files
      description: 'This Application Programming Interface is used to get the list the available "dump tech-support" data files on the ZTNA connector.

        The result is an array of file information objects.

        Each file information object has Identifier, state, date, name and size of the file.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/diagnostic_file.list'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: list.connector.tech_support_files.v2
    post:
      summary: Start Connector Tech Support Generation
      description: 'This Application Programming Interface will start a tech support operation on the ZTNA connector.

        In the current implementation it uses the "dump tech-support" command to generate the data.'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      tags:
      - Connector
      operationId: generate.connector.tech_support_file.v2
  /sse/connector/v2.0/api/connectors/{oid}/tech-support-files/{id}:stop:
    post:
      summary: Stop Connector Tech Support Generation
      description: This Application Programming Interface will stop an in-progress tech support operation on the ZTNA connector.
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      - $ref: '#/components/parameters/path.id'
      tags:
      - Connector
      operationId: stop.connector.tech_support_file.v2
  /sse/connector/v2.0/api/connectors/{oid}/tech-support-files/{id}:download:
    get:
      summary: Download Connector Tech Support File
      description: This Application Programming Interface downloads a tech support file from the ZTNA connector.
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/path.oid'
      - $ref: '#/components/parameters/path.id'
      tags:
      - Connector
      operationId: download.connector.tech_support_file.v2
  /sse/connector/v2.0/api/connector-images:
    get:
      summary: List Connector Image Versions
      description: Retrieve the connector images details through this Application Programming Interface endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters: []
      tags:
      - Connector
      operationId: list.connect_images.v2
components:
  examples:
    filter-empty:
      summary: when no filter value is available
      value: []
    filter:
      summary: common scenario
      value:
      - value 1
      - value 2
  schemas:
    pagination.total:
      type: integer
      title: The total number of objects
    pagination.limit:
      type: integer
      title: The manimum number of objects to return
    diagnostic_file.list:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                description: Request id
                type: string
              state:
                description: stopped, complete, inprogress
                type: string
                enum:
                - inprogress
                - complete
                - stopped
              date:
                type: string
              filename:
                description: Name of the file.
                type: string
              filesize:
                description: Size of the file.
                type: number
    connector.status:
      type: object
      properties:
        cgnx_sw_version:
          type: string
        cgnx_vion_ip:
          type: string
        cgnx_location:
          type: string
        cidr:
          type: string
        local_ip:
          type: string
        sc_id:
          description: Service Connection ID
          type: string
        sc_name:
          type: string
        token_active:
          type: string
        token_secret:
          type: string
        state_bits:
          type: number
        flags:
          type: object
          properties:
            config_state:
              type: string
            tunnel_up:
              type: boolean
            token_state:
              type: string
            control_plane_up:
              type: boolean
            capabilities:
              type: object
              properties:
                wildcard_supported:
                  type: boolean
                ipsubnet_supported:
                  type: boolean
        error:
          type: object
        cgnx_scheduled_sw_version:
          type: string
        cgnx_scheduled_download:
          type: string
        cgnx_scheduled_upgrade:
          type: string
        cgnx_upgrade_state:
          description: When undefined, no upgrade is in progress.
          type: string
          enum:
          - download_cancelled
          - download_complete
          - download_discovery
          - download_failed
          - download_init
          - download_scheduled
          - failed
          - init
          - installing
          - install_failed
          - upgrade_cancelled
          - upgrade_init
          - upgrade_scheduled
          - upgrade_timeout
          - upgrading
          - verify
          - verifying
        cgnx_upgrade_description:
          type: string
        cgnx_upgrade_failure_info:
          type: string
        cgnx_upgrade_download_percent:
          type: number
        cgnx_upgrade_retry_count:
          type: number
        cgnx_upgrade_status_last_updated:
          type: string
    connector-new:
      type: object
      properties:
        name:
          type: string
          description: 'Name of the connector.


            It can only be 64 characters long

            and contain unicode text, space, dash, or underscore, or period.'
          maxLength: 64
          minLength: 1
          pattern: ^[\p{L}\p{N}\p{P}\s,.:_-]*$
        description:
          type: string
          description: Description of the connector.
          maxLength: 64
          pattern: ^[\p{L}\p{N}\p{P}\s,.:_-]*$
        group:
          type: string
          description: The [connector group id](#tag/connector-group/operation/list.connector_group.v2)
      required:
      - name
      - group
    connector-existing:
      type: object
      properties:
        oid:
          type: string
          description: Id of the entry.
          readOnly: true
        name:
          type: string
          description: 'Name of the connector.


            It can only be 64 characters long

            and contain unicode text, space, dash, or underscore, or period.'
          maxLength: 64
          minLength: 1
          pattern: ^[\p{L}\p{N}\p{P}\s,.:_-]*$
          readOnly: true
        description:
          type: string
          description: Description of the connector.
          maxLength: 64
          pattern: ^[\p{L}\p{N}\p{P}\s,.:_-]*$
        group:
          type: string
          description: The [connector group id](#tag/connector-group/operation/list.connector_group.v2)
          readOnly: true
      required:
      - oid
      - name
      - group
    connector.quiesce:
      type: object
      properties:
        mode:
          type: string
      required:
      - mode
    packet_capture.create:
      type: object
      properties:
        interface:
          description: Following are the acceptable labels - internal, external, tunnel
          type: string
        host:
          description: IPv4 address
          type: string
        port:
          description: Port number
          type: string
        protocol:
          description: Following are the acceptable labels - TCP, UDP, ICMP, ARP
          type: string
      required:
      - interface
    error_detail:
      type: object
      description: Error detail information following Google Cloud API CauseInfo format
      properties:
        '@type':
          type: string
          description: Type identifier for the detail object
          example: google-cloud-api/CauseInfo
        message:
          type: string
          description: Detailed error message
        causes:
          type: array
          description: Array of cause information objects
          items:
            type: object
            properties:
              message:
                type: string
                description: Cause message
              module:
                type: string
                description: Module where the cause originated
    pagination.offset:
      type: integer
      title: The offset into the total number of objects
    filters:
      type: array
      items:
        type: string
    connector.upgrade_status:
      type: object
      properties:
        upgrade_image_id:
          type: string
          description: Target upgrade image ID
        previous_image_id:
          type: string
          description: Previous image ID
        upgrade_description:
          type: string
          description: Description of the upgrade
        active_image_id:
          type: string
          description: Currently active image ID
        active_version:
          type: string
          description: Currently active software version
        upgrade_state:
          type: string
          description: Current state of the upgrade process
        failure_info:
          type: string
          description: Failure information if upgrade failed
        download_percent:
          type: integer
          description: Download progress percentage
        scheduled_download:
          type: string
          description: Scheduled download time
        scheduled_upgrade:
          type: string
          description: Scheduled upgrade time
    entity_meta:
      type: object
      properties:
        created_time:
          type: string
        updated_time:
          type: string
    error_response:
      type: object
      description: Error response payload
      properties:
        error:
          $ref: '#/components/schemas/error_object'
      required:
      - error
    packet_capture:
      type: object
      properties:
        id:
          description: Request id generated by the micro-service, and is used on other API calls
          type: string
        status:
          description: Return code (CDBG_ERROR or CDBG_OK)
          type: string
        message:
          description: Return code description
          type: number
    connector.scheduled_upgrade:
      type: object
      properties:
        image_id:
          type: string
          description: The connector image version ID to upgrade to.
        scheduled_download:
          type: string
          format: date-time
          description: 'The scheduled download time in RFC3339 format (UTC).


            If omitted, defaults to current UTC time.'
        scheduled_upgrade:
          type: string
          format: date-time
          description: 'The scheduled upgrade time in RFC3339 format (UTC).


            Must be after the scheduled_download time. If omitted, defaults to current UTC time.'
      required:
      - image_id
    connector.list:
      type: object
      properties:
        data:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/connector-existing'
            - $ref: '#/components/schemas/connector.status'
            - $ref: '#/components/schemas/entity_meta'
        total:
          $ref: '#/components/schemas/pagination.total'
        limit:
          $ref: '#/components/schemas/pagination.limit'
        offset:
          $ref: '#/components/schemas/pagination.offset'
      required:
      - data
      - total
      - offset
      - limit
    error_object:
      type: object
      description: Error object following Google Cloud API error format
      properties:
        code:
          type: string
          description: Error code
          example: INVALID_ARGUMENT
        message:
          type: string
          description: Human-readable error message
          example: Unable to find tenantID from TSG mapping or request
        details:
          type: array
          description: Additional error details
          items:
            $ref: '#/components/schemas/error_detail'
  responses:
    error-404:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    error-400:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    error-424:
      description: Failed Dependency
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    error-403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    http.201_created:
      x-summary: Created
      description: '[201 Created](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/201)

        '
    http.200_ok:
      x-summary: OK
      description: '[200 OK](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200)

        '
    error-401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    error-5xx:
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    error-409:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    http.204_no_content:
      x-summary: No Content
      description: '[204 No Content](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204)

        '
    http.202_accepted:
      x-summary: Accepted
      description: '[202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)

        '
  parameters:
    pagination.limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
      description: The max count in result entry (count per page)
    query.search:
      name: search
      description: String to filter list results by. Is searched over multiple fields in each object. Multiple searches can be specified.
      in: query
      schema:
        type: string
        example: connector1
    path.id:
      name: id
      in: path
      description: request id
      required: true
      schema:
        type: string
    query.sort:
      name: sort
      description: List of fields from item response to sort by.
      in: query
      schema:
        type: string
      examples:
        threeItems:
          value: A[asc],B[desc],C
          summary: An example sort list that sorts first by A in ascending order, then B in descending order, and finally C in ascending order.
    pagination.offset:
      name: offset
      description: 'A 0-based offset into the collection.

        It is the index of the starting entry of the page

        '
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
    query.field:
      name: field
      description: String that represents a static filter field. Call any of the /filters endpoints without specifying a field to get a list of all available fields.
      in: query
      schema:
        type: string
        example: connector_group
    path.oid:
      name: oid
      in: path
      description: Object ID
      required: true
      schema:
        type: string
    query.filters:
      name: filters
      description: String to filter list results by searching one specified field of an object. Multiple filters can be specified.
      in: query
      schema:
        type: string
      examples:
        freeFormFilter:
          value: '{"field":"name","search":"abc"}'
          summary: A free form filter on the field name searching for a substring match of abc.
        staticFilter:
          value: '{"field":"connector_group","filter":"abc"}'
          summary: A static filter on the field connector_group searching for an exact match of abc.
    x-panw-region:
      name: x-panw-region
      description: The region of the tenant
      in: header
      schema:
        type: string
        enum:
        - ae
        - americas
        - au
        - br
        - ca
        - ch
        - cn
        - de
        - es
        - europe
        - fr
        - id
        - il
        - in
        - it
        - jp
        - kr
        - pl
        - qa
        - sa
        - sg
        - tw
        - uk
        - za
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
