openapi: 3.2.0
info:
  title: Prisma AIRS Red Teaming Dataplane Error Logs API
  description: Red Teaming Data Plane API - Data processing and scanning services for AI/ML model security. © 2025 Palo Alto Networks, Inc
  version: 0.7.75
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  license:
    name: MIT
    url: https://opensource.org/license/mit
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
security:
- bearerAuth: []
tags:
- name: ErrorLogs
  description: Operations for retrieving and managing error logs.
paths:
  /v1/error-log/job/{job_id}:
    get:
      tags:
      - ErrorLogs
      summary: List error logs for a scan
      description: List error logs for a specific job
      operationId: list_error_logs_for_job_v1_error_log_job__job_id__get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of attacks to return (1-100)
          default: 5
          title: Limit
        description: Number of attacks to return (1-100)
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of attacks to skip for pagination
          default: 0
          title: Skip
        description: Number of attacks to skip for pagination
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLogListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/error-log/target-profile/{target_id}:
    get:
      tags:
      - ErrorLogs
      summary: List profiling errors for a target
      description: List deduplicated profiling error logs for a target's latest profiling run.
      operationId: list_error_logs_for_target_profile_v1_error_log_target_profile__target_id__get
      parameters:
      - name: target_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Target Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Number of errors to return (1-100)
          default: 5
          title: Limit
        description: Number of errors to return (1-100)
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorLogListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ErrorLogListResponseSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/ErrorLogListSchema'
          type: array
          title: Data
          description: List of error logs
      type: object
      required:
      - pagination
      - data
      title: ErrorLogListResponseSchema
      description: Schema for error log list response.
    PaginationSchema:
      properties:
        total_items:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Items
      type: object
      title: PaginationSchema
    ErrorType:
      type: string
      enum:
      - CONTENT_FILTER
      - RATE_LIMIT
      - AUTHENTICATION
      - NETWORK
      - VALIDATION
      - NETWORK_CHANNEL
      - TRANSLATION
      - CUSTOM_TARGET_ADAPTER
      - UNKNOWN
      title: ErrorType
      description: Classification of error types.
    ErrorLogListSchema:
      properties:
        job_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Job Id
          description: UUID of the job associated with this error
        target_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Target Id
          description: UUID of the target associated with this error
        target_version:
          anyOf:
          - type: integer
          - type: 'null'
          title: Target Version
          description: Version of the target configuration when error occurred
        attack_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attack Id
          description: UUID of the attack attempt that caused the error
        error_type:
          anyOf:
          - $ref: '#/components/schemas/ErrorType'
          - type: 'null'
          description: Type/category of the error
        error_source:
          anyOf:
          - $ref: '#/components/schemas/ErrorSource'
          - type: 'null'
          description: Source/origin of the error
        error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Error Message
          description: Human-readable error message
        target_object:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Target Object
          description: Snapshot of target configuration at error time
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Any additional context or metadata
        version:
          type: integer
          title: Version
          description: Schema version for future evolution
          default: 1
        created_at:
          type: string
          format: date-time
          title: Created At
          description: When the error log was created
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: When the error log was last updated
      type: object
      required:
      - created_at
      - updated_at
      title: ErrorLogListSchema
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ErrorSource:
      type: string
      enum:
      - TARGET
      - JOB
      - SYSTEM
      - VALIDATION
      - TARGET_PROFILING
      title: ErrorSource
      description: Source/origin of the error.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
