openapi: 3.2.0
info:
  contact: {}
  description: 'Access Keys are a secure way to enable programmatic access to the Prisma Cloud API. By default, only

    the System Admin has API access and can enable API access for other administrators. If you have API access,

    you can create up to two access keys. Create an access key for a limited time period and regenerate your API

    keys periodically to minimize exposure and follow security best practices.'
  title: Prisma Cloud Access Keys API Overview System API
  version: Latest
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
tags:
- description: Quickly check if Prisma Cloud is available.
  name: System
paths:
  /check:
    get:
      description: Allows a user to check and see if the Prisma Cloud API is up and running.
      operationId: health-check
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TmpModel'
          description: successful operation
        '500':
          description: ''
      summary: Health Check
      tags:
      - System
      security:
      - x-redlock-auth: []
components:
  schemas:
    TmpModel:
      properties:
        message:
          description: Message
          type: string
      type: object
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
