openapi: 3.2.0
info:
  title: Palo Alto Networks Total Proxies API
  version: '1.0'
  description: 'Operations tagged Total Proxies across 3 of this provider''s published API definitions: palo-alto-networks-total-proxies-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Total Proxies
paths:
  /mt/monitor/5g/proxy:
    get:
      tags:
      - Total Proxies
      summary: Palo Alto Networks Count Active Proxies
      description: "Returns the total number of proxy servers configured to handle 5G \ncontrol plane traffic. Administrators audit this count during \ninfrastructure maintenance to ensure all intended signaling gateways \nare recognized by the monitoring service."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  count: 5
                header:
                  createdAt: '2025-12-17T02:05:51Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gProxy
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-total-proxies-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
