openapi: 3.2.0
info:
  title: Palo Alto Networks 5G Network Interconnects and Bandwidth API
  version: '1.0'
  description: 'Operations tagged 5G Network Interconnects and Bandwidth across 3 of this provider''s published API definitions: palo-alto-networks-5g-network-interconnects-and-bandwidth-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: 5G Network Interconnects and Bandwidth
paths:
  /mt/monitor/5g/interconnect/details:
    get:
      tags:
      - 5G Network Interconnects and Bandwidth
      summary: Palo Alto Networks Inspect Interconnect Health
      description: "Provides a detailed overview of 5G network interconnects, including \ntotal bandwidth and regional VLAN status. Network engineers utilize \nthis check to verify that regional data paths remain \"up\" and meet \nthroughput capacity requirements."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - bandwidth: 200
                  regions:
                  - us-east1
                  - us-west2
                  - us-central1
                  vlanStatus:
                    down: 0
                    total: 8
                    up: 8
                header:
                  createdAt: '2025-12-17T02:07:25Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gInterconnectDetails
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-5g-network-interconnects-and-bandwidth-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
