openapi: 3.2.0
info:
  title: Palo Alto Networks IKE Gateways API
  version: '1.0'
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  description: 'Operations tagged IKEGateways across 3 of this provider''s published API definitions: palo-alto-access-prisma-access-config-ikegateways-openapi.yaml, palo-alto-networks-ikegateways-api-openapi.yml, palo-alto-prisma-access-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Prisma Access SASE configuration API server.
tags:
- name: IKEGateways
paths:
  /sse/config/v1/ike-gateways:
    get:
      description: Retrieve IKE gateway.
      operationId: get-sse-config-v1-ike-gateways
      parameters:
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/name-optional'
      - $ref: '#/components/parameters/folder'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/ike-gateways'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of ike gateways
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: List IKE gateways
      tags:
      - IKEGateways
    post:
      description: Create an IKE gateway.
      operationId: post-sse-config-v1-ike-gateways
      parameters:
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ike-gateways'
        description: The ike gateway you want to create
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create IKE gateways
      tags:
      - IKEGateways
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/ike-gateways/{id}:
    delete:
      description: 'Delete a ike gateway.

        '
      operationId: delete-sse-config-v1-ike-gateways-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete a ike gateway.
      tags:
      - IKEGateways
    get:
      description: Get an IKE gateway.
      operationId: get-sse-config-v1-ike-gateways-id
      parameters:
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - items:
                    $ref: '#/components/schemas/ike-gateways'
                  type: array
          description: Get the ike gateway by id.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Get an IKE gateway
      tags:
      - IKEGateways
    put:
      description: 'Modify a ike gateway.

        '
      operationId: put-sse-config-v1-ike-gateways-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ike-gateways'
        description: The ike gateway you want to edit
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Edit a ike gateway.
      tags:
      - IKEGateways
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /ike-gateways:
    get:
      operationId: listIKEGateways
      summary: Palo Alto Networks List IKE Gateways
      description: Returns a list of IKE gateway configurations. IKE gateways define the parameters for establishing the IKE phase 1 negotiation used by IPSec VPN tunnels connecting to Prisma Access.
      tags:
      - IKEGateways
      parameters:
      - name: folder
        in: query
        description: Filter by folder.
        schema:
          type: string
        example: example-folder
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 200
        example: 200
      responses:
        '200':
          description: IKE gateways returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IKEGateway'
                  offset:
                    type: integer
                  total:
                    type: integer
                  limit:
                    type: integer
              examples:
                ListIkegateways200Example:
                  summary: Default listIKEGateways 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - id: example-id
                      name: Branch Sensor 55
                      version: ikev2-preferred
                      peer_address:
                        ip: 10.213.81.33
                        dynamic: true
                      authentication:
                        pre_shared_key: example-pre_shared_key
                        certificate:
                          local_certificate: example-local_certificate
                      local_id:
                        type: fqdn
                        id: example-id
                      peer_id:
                        type: ufqdn
                        id: example-id
                      folder: example-folder
                    - id: example-id
                      name: Branch Sensor 55
                      version: ikev2-preferred
                      peer_address:
                        ip: 10.213.81.33
                        dynamic: true
                      authentication:
                        pre_shared_key: example-pre_shared_key
                        certificate:
                          local_certificate: example-local_certificate
                      local_id:
                        type: fqdn
                        id: example-id
                      peer_id:
                        type: ufqdn
                        id: example-id
                      folder: example-folder
                    offset: 969
                    total: 242
                    limit: 163
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    post:
      operationId: createIKEGateway
      summary: Palo Alto Networks Create an IKE Gateway
      description: Creates a new IKE gateway in the candidate configuration.
      tags:
      - IKEGateways
      parameters:
      - name: folder
        in: query
        required: true
        description: Target folder for the IKE gateway.
        schema:
          type: string
        example: example-folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IKEGateway'
            examples:
              CreateIkegatewayRequestExample:
                summary: Default createIKEGateway request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Branch Sensor 55
                  version: ikev2-preferred
                  peer_address:
                    ip: 10.213.81.33
                    dynamic: true
                  authentication:
                    pre_shared_key: example-pre_shared_key
                    certificate:
                      local_certificate: example-local_certificate
                  local_id:
                    type: fqdn
                    id: example-id
                  peer_id:
                    type: ufqdn
                    id: example-id
                  folder: example-folder
      responses:
        '201':
          description: IKE gateway created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IKEGateway'
              examples:
                CreateIkegateway201Example:
                  summary: Default createIKEGateway 201 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Branch Sensor 55
                    version: ikev2-preferred
                    peer_address:
                      ip: 10.213.81.33
                      dynamic: true
                    authentication:
                      pre_shared_key: example-pre_shared_key
                      certificate:
                        local_certificate: example-local_certificate
                    local_id:
                      type: fqdn
                      id: example-id
                    peer_id:
                      type: ufqdn
                      id: example-id
                    folder: example-folder
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /ike-gateways/{id}:
    get:
      operationId: getIKEGateway
      summary: Palo Alto Networks Get an IKE Gateway
      description: Returns the configuration of a specific IKE gateway.
      tags:
      - IKEGateways
      parameters:
      - name: id
        in: path
        required: true
        description: Unique IKE gateway identifier.
        schema:
          type: string
        example: example-id
      responses:
        '200':
          description: IKE gateway returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IKEGateway'
              examples:
                GetIkegateway200Example:
                  summary: Default getIKEGateway 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Branch Sensor 55
                    version: ikev2-preferred
                    peer_address:
                      ip: 10.213.81.33
                      dynamic: true
                    authentication:
                      pre_shared_key: example-pre_shared_key
                      certificate:
                        local_certificate: example-local_certificate
                    local_id:
                      type: fqdn
                      id: example-id
                    peer_id:
                      type: ufqdn
                      id: example-id
                    folder: example-folder
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    put:
      operationId: updateIKEGateway
      summary: Palo Alto Networks Update an IKE Gateway
      description: Updates an existing IKE gateway in the candidate configuration.
      tags:
      - IKEGateways
      parameters:
      - name: id
        in: path
        required: true
        description: Unique IKE gateway identifier.
        schema:
          type: string
        example: example-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IKEGateway'
            examples:
              UpdateIkegatewayRequestExample:
                summary: Default updateIKEGateway request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Branch Sensor 55
                  version: ikev2-preferred
                  peer_address:
                    ip: 10.213.81.33
                    dynamic: true
                  authentication:
                    pre_shared_key: example-pre_shared_key
                    certificate:
                      local_certificate: example-local_certificate
                  local_id:
                    type: fqdn
                    id: example-id
                  peer_id:
                    type: ufqdn
                    id: example-id
                  folder: example-folder
      responses:
        '200':
          description: IKE gateway updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IKEGateway'
              examples:
                UpdateIkegateway200Example:
                  summary: Default updateIKEGateway 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Branch Sensor 55
                    version: ikev2-preferred
                    peer_address:
                      ip: 10.213.81.33
                      dynamic: true
                    authentication:
                      pre_shared_key: example-pre_shared_key
                      certificate:
                        local_certificate: example-local_certificate
                    local_id:
                      type: fqdn
                      id: example-id
                    peer_id:
                      type: ufqdn
                      id: example-id
                    folder: example-folder
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    delete:
      operationId: deleteIKEGateway
      summary: Palo Alto Networks Delete an IKE Gateway
      description: Deletes an IKE gateway from the candidate configuration.
      tags:
      - IKEGateways
      parameters:
      - name: id
        in: path
        required: true
        description: Unique IKE gateway identifier.
        schema:
          type: string
        example: example-id
      responses:
        '200':
          description: IKE gateway deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  examples:
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Object
        _request_id: abcd-1234
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          details: {}
          message: Object Not Unique
        _request_id: abcd-1234
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Input Format Mismatch: input-format=json'
        _request_id: abcd-1234
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: 'Action Not Supported: move'
        _request_id: abcd-1234
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Expired
        _request_id: abcd-1234
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          details: {}
          message: Bad XPath
        _request_id: abcd-1234
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          details: {}
          message: Missing Body
        _request_id: abcd-1234
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          details: {}
          message: Unauthorized
        _request_id: abcd-1234
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          details: {}
          message: Invalid Credential
        _request_id: abcd-1234
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: 4
          details: {}
          message: Session Timeout
        _request_id: abcd-1234
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          details: {}
          message: Not Authenticated
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Command
        _request_id: abcd-1234
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Too Long
        _request_id: abcd-1234
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          details: {}
          message: Name Not Unique
        _request_id: abcd-1234
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          details: {}
          message: The password needs to be changed.
        _request_id: abcd-1234
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Method Not Supported
        _request_id: abcd-1234
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Malformed Command
        _request_id: abcd-1234
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          details: {}
          message: Reference Not Zero
        _request_id: abcd-1234
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Invalid Query Parameter: location=invalid'
        _request_id: abcd-1234
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Version Not Supported
        _request_id: abcd-1234
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Missing Query Parameter: name'
        _request_id: abcd-1234
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Output Format Mismatch: output-format=json Accept=xml'
        _request_id: abcd-1234
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          details: {}
          message: Object Not Present
        _request_id: abcd-1234
  responses:
    access_errors:
      content:
        application/json:
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Forbidden
    not_found:
      content:
        application/json:
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Not Found
    conflict_errors:
      content:
        application/json:
          examples:
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Conflict
    http_created:
      description: Created
    bad_request_errors_basic:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    default_errors:
      content:
        application/json:
          examples:
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    auth_errors:
      content:
        application/json:
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Unauthorized
    bad_request_errors_basic_with_body:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    http_ok:
      description: Ok
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    offset-optional:
      description: 'The offset of the result entry.

        '
      in: query
      name: offset
      required: false
      schema:
        type: number
    limit-optional:
      description: 'The maximum number of result objects to return per page.

        '
      in: query
      name: limit
      required: false
      schema:
        type: number
    folder:
      description: 'The folder on which you want to perform this operation.

        '
      in: query
      name: folder
      required: true
      schema:
        enum:
        - Shared
        - Mobile Users
        - Remote Networks
        - Service Connections
        - Mobile Users Container
        - Mobile Users Explicit Proxy
        pattern: ^[0-9a-zA-Z._-\s]{1,}$
        type: string
    uuid-required:
      description: 'The resource''s unique identifier.

        '
      in: path
      name: id
      required: true
      schema:
        type: string
    name-optional:
      description: 'The name of the entry.

        '
      in: query
      name: name
      required: false
      schema:
        type: string
  schemas:
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    ike-gateways:
      properties:
        authentication:
          oneOf:
          - properties:
              pre_shared_key:
                properties:
                  key:
                    type: string
                type: object
            title: pre_shared_key
            type: object
          - properties:
              certificate:
                properties:
                  allow_id_payload_mismatch:
                    type: boolean
                  certificate_profile:
                    type: string
                  local_certificate:
                    properties:
                      local_certificate_name:
                        type: string
                    type: object
                  strict_validation_revocation:
                    type: boolean
                  use_management_as_source:
                    type: boolean
                type: object
            title: certificate
            type: object
          type: object
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        local_id:
          properties:
            id:
              description: Local ID string
              maxLength: 1024
              minLength: 1
              pattern: ^(.+\@[a-zA-Z0-9.-]+)$|^([$a-zA-Z0-9_:.-]+)$|^(([[:xdigit:]][[:xdigit:]])+)$|^([a-zA-Z0-9.]+=(\\,|[^,])+[, ]+)*([a-zA-Z0-9.]+=(\\,|[^,])+)$
              type: string
            type:
              type: string
          type: object
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 63
          type: string
        peer_address:
          oneOf:
          - properties:
              ip:
                description: peer gateway has static IP address
                type: string
            title: ip
            type: object
          - properties:
              fqdn:
                description: peer gateway FQDN name
                maxLength: 255
                type: string
            title: fqdn
            type: object
          - properties:
              dynamic:
                default: {}
                type: object
            title: dynamic
            type: object
          type: object
        peer_id:
          properties:
            id:
              description: Peer ID string
              maxLength: 1024
              minLength: 1
              pattern: ^(.+\@[\*a-zA-Z0-9.-]+)$|^([\*$a-zA-Z0-9_:.-]+)$|^(([[:xdigit:]][[:xdigit:]])+)$|^([a-zA-Z0-9.]+=(\\,|[^,])+[, ]+)*([a-zA-Z0-9.]+=(\\,|[^,])+)$
              type: string
            type:
              enum:
              - ipaddr
              - keyid
              - fqdn
              - ufqdn
              type: string
          type: object
        protocol:
          properties:
            ikev1:
              properties:
                dpd:
                  properties:
                    enable:
                      type: boolean
                  type: object
                ike_crypto_profile:
                  type: string
              type: object
            ikev2:
              properties:
                dpd:
                  properties:
                    enable:
                      type: boolean
                  type: object
                ike_crypto_profile:
                  type: string
              type: object
            version:
              default: ikev2-preferred
              enum:
              - ikev2-preferred
              - ikev1
              - ikev2
              type: string
          type: object
        protocol_common:
          properties:
            fragmentation:
              properties:
                enable:
                  default: false
                  enum:
                  - false
                  type: boolean
              type: object
            nat_traversal:
              properties:
                enable:
                  type: boolean
              type: object
            passive_mode:
              type: boolean
          type: object
      required:
      - name
      - authentication
      - protocol
      - peer_address
      type: object
    ErrorResponse:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Alert malware configured threat rule network malware configured on.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Threat configured alert firewall violation monitoring traffic activity.
            details: {}
          - code: example-code
            message: Blocked threat Security traffic firewall monitoring malware endpoint suspicious network.
            details: {}
        _request_id:
          type: string
          example: '980164'
    IKEGateway:
      type: object
      required:
      - name
      - peer_address
      - authentication
      properties:
        id:
          type: string
          description: Unique identifier for the IKE gateway.
          readOnly: true
          example: example-id
        name:
          type: string
          description: Name of the IKE gateway.
          example: Branch Sensor 55
        version:
          type: string
          enum:
          - ikev1
          - ikev2
          - ikev2-preferred
          default: ikev2-preferred
          description: IKE protocol version.
          example: ikev2-preferred
        peer_address:
          type: object
          description: Peer IP address configuration.
          properties:
            ip:
              type: string
              format: ipv4
              description: Static peer IP address.
              example: 10.81.220.11
            dynamic:
              type: boolean
              description: Whether the peer address is dynamic.
              example: false
          example:
            ip: 10.213.81.33
            dynamic: true
        authentication:
          type: object
          description: IKE authentication configuration.
          properties:
            pre_shared_key:
              type: string
              description: Pre-shared key for IKE authentication.
              example: example-pre_shared_key
            certificate:
              type: object
              properties:
                local_certificate:
                  type: string
                  description: Local certificate profile name.
                  example: example-local_certificate
              example:
                local_certificate: example-local_certificate
          example:
            pre_shared_key: example-pre_shared_key
            certificate:
              local_certificate: example-local_certificate
        local_id:
          type: object
          properties:
            type:
              type: string
              enum:
              - ipaddr
              - keyid
              - fqdn
              - ufqdn
              example: ufqdn
            id:
              type: string
              example: example-id
          example:
            type: fqdn
            id: example-id
        peer_id:
          type: object
          properties:
            type:
              type: string
              enum:
              - ipaddr
              - keyid
              - fqdn
              - ufqdn
              example: ipaddr
            id:
              type: string
              example: example-id
          example:
            type: ufqdn
            id: example-id
        folder:
          type: string
          readOnly: true
          example: example-folder
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow for obtaining an access token. Requires a client ID and client secret from the Palo Alto Networks SASE identity provider.
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
x-refined-from:
- palo-alto-access-prisma-access-config-ikegateways-openapi.yaml
- palo-alto-networks-ikegateways-api-openapi.yml
- palo-alto-prisma-access-api-openapi-original.yml
