openapi: 3.2.0
info:
  title: SASE 5G Manage Service Enable 5 GAPI API
  version: '1.0'
  description: 'The SASE 5G Management Service provides the administrative framework required to provision,

    configure, and oversee 5G security infrastructure within the Strata Cloud Manager (SCM) ecosystem.'
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- JWT: []
tags:
- name: Enable 5 GAPI
paths:
  /mt/manage/5g/ipcidr/{compute_region}:
    get:
      tags:
      - Enable 5 GAPI
      summary: Show Regional CIDRs
      description: 'Returns the IPv4 and IPv6 CIDR blocks assigned to a specific compute region.

        Network engineers query these ranges when verifying IP Address allocation to prevent

        address overlaps across the management plane and ensure routing integrity.'
      parameters:
      - name: compute_region
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: GetMtManage5gIpcidrBy_compute_region
  /mt/manage/5g/setup:
    post:
      tags:
      - Enable 5 GAPI
      summary: Initialize Regional Connectivity
      description: 'Activates 5G connectivity for a designated compute region using specific IP Address address

        blocks. Infrastructure leads trigger this during site onboarding to provision the

        underlying 5G network layer and establish the regional security perimeter.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Enable5GRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: PostMtManage5gSetup
components:
  schemas:
    Enable5GRequest:
      type: object
      properties:
        compute_region:
          type: string
        action:
          type: string
        ipv4_cidr:
          type: string
        ipv6_cidr:
          type: string
