openapi: 3.1.0
info:
  title: Enterprise DLP API
  description: >-
    REST API for managing Enterprise Data Loss Prevention (DLP) through
    Palo Alto Networks cloud-delivered security services. Provides
    incident detection and management, data pattern configuration,
    and reporting capabilities for monitoring sensitive data exposure
    across network traffic, SaaS applications, and endpoints. Enables
    integration with SIEM, SOAR, and ticketing systems for automated
    incident response workflows. Requires an active Enterprise DLP
    subscription with SASE. Authentication uses OAuth 2.0 Bearer tokens
    from the SASE authentication framework.
  version: '4.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.dlp.paloaltonetworks.com/v4
    description: Enterprise DLP API production server.
security:
  - bearerAuth: []
tags:
  - name: Incidents
    description: DLP incident detection and management operations.
  - name: DataPatterns
    description: Data pattern configuration and lookup operations.
  - name: Reports
    description: DLP reporting and summary operations.
paths:
  /incidents:
    get:
      operationId: listIncidents
      summary: List DLP incidents
      description: >-
        Returns a paginated list of DLP incidents detected across
        monitored channels. Supports filtering by status, severity,
        and time range. Each incident represents a detected occurrence
        of sensitive data matching one or more configured data patterns.
      tags:
        - Incidents
      parameters:
        - name: offset
          in: query
          description: Pagination offset.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of incidents to return.
          schema:
            type: integer
            default: 100
            maximum: 500
        - name: status
          in: query
          description: Filter incidents by current status.
          schema:
            type: string
            enum:
              - open
              - in_review
              - resolved
              - dismissed
        - name: severity
          in: query
          description: Filter incidents by severity level.
          schema:
            type: string
            enum:
              - critical
              - high
              - medium
              - low
              - informational
        - name: start_time
          in: query
          description: Start of time range filter (ISO 8601 format).
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of time range filter (ISO 8601 format).
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: DLP incidents returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of incidents matching the query.
                  offset:
                    type: integer
                  limit:
                    type: integer
                  incidents:
                    type: array
                    items:
                      $ref: '#/components/schemas/DLPIncident'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /incidents/{incident_id}:
    get:
      operationId: getIncident
      summary: Get DLP incident by ID
      description: >-
        Returns detailed information for a specific DLP incident
        including the full data pattern match context, affected file
        or transaction metadata, user attribution, and remediation
        history.
      tags:
        - Incidents
      parameters:
        - name: incident_id
          in: path
          required: true
          description: Unique incident identifier.
          schema:
            type: string
      responses:
        '200':
          description: DLP incident details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLPIncident'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateIncident
      summary: Update DLP incident
      description: >-
        Updates the status or reviewer comments for a specific DLP
        incident. Used to progress incidents through the investigation
        workflow and to document review findings.
      tags:
        - Incidents
      parameters:
        - name: incident_id
          in: path
          required: true
          description: Unique incident identifier.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - open
                    - in_review
                    - resolved
                    - dismissed
                  description: New status for the incident.
                reviewer_comments:
                  type: string
                  description: Comments from the reviewing analyst.
      responses:
        '200':
          description: Incident updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DLPIncident'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /incidents/{incident_id}/snippets:
    get:
      operationId: getIncidentSnippets
      summary: Get incident content snippets
      description: >-
        Returns content snippets showing the context around data pattern
        matches in the incident. Snippets provide visibility into the
        sensitive data that triggered the DLP policy without returning
        the full document or transaction content. Matched values are
        partially masked by default.
      tags:
        - Incidents
      parameters:
        - name: incident_id
          in: path
          required: true
          description: Unique incident identifier.
          schema:
            type: string
      responses:
        '200':
          description: Content snippets returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident_id:
                    type: string
                    description: Identifier of the parent incident.
                  snippets:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentSnippet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /data-patterns:
    get:
      operationId: listDataPatterns
      summary: List data patterns
      description: >-
        Returns a list of configured data patterns used for DLP
        detection. Includes both predefined system patterns (such as
        credit card numbers, social security numbers, and HIPAA
        identifiers) and custom patterns defined by the organization.
        Each pattern includes its detection rules, confidence
        thresholds, and associated data profile assignments.
      tags:
        - DataPatterns
      parameters:
        - name: offset
          in: query
          description: Pagination offset.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of patterns to return.
          schema:
            type: integer
            default: 100
            maximum: 500
      responses:
        '200':
          description: Data patterns returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of data patterns.
                  data_patterns:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataPattern'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /data-patterns/{id}:
    get:
      operationId: getDataPattern
      summary: Get data pattern details
      description: >-
        Returns detailed configuration for a specific data pattern
        including its detection rules, regular expressions or keyword
        lists, proximity settings, and confidence scoring parameters.
      tags:
        - DataPatterns
      parameters:
        - name: id
          in: path
          required: true
          description: Unique data pattern identifier.
          schema:
            type: string
      responses:
        '200':
          description: Data pattern details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPattern'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /reports/summary:
    get:
      operationId: getReportSummary
      summary: Get incident summary report
      description: >-
        Returns an aggregated summary of DLP incidents over a specified
        time period. Includes breakdowns by severity, channel, data
        pattern, top users, and trend data. Useful for executive
        reporting and compliance dashboards.
      tags:
        - Reports
      parameters:
        - name: start_time
          in: query
          required: true
          description: Start of reporting period (ISO 8601 format).
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          required: true
          description: End of reporting period (ISO 8601 format).
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Incident summary report returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 bearer token obtained from the Palo Alto Networks
        SASE authentication service using the client credentials flow.
  responses:
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or expired bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    DLPIncident:
      type: object
      properties:
        incident_id:
          type: string
          description: Unique incident identifier.
        status:
          type: string
          enum:
            - open
            - in_review
            - resolved
            - dismissed
          description: Current incident status.
        severity:
          type: string
          enum:
            - critical
            - high
            - medium
            - low
            - informational
          description: Incident severity level.
        data_pattern_name:
          type: string
          description: Name of the data pattern that triggered the incident.
        data_pattern_id:
          type: string
          description: Identifier of the data pattern that triggered the incident.
        match_count:
          type: integer
          description: Number of data pattern matches in the content.
        channel:
          type: string
          enum:
            - web
            - ssl
            - saas
            - email
            - endpoint
          description: Channel where the data exposure was detected.
        user:
          type: string
          description: Email address or username of the user involved.
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the incident was detected.
        application:
          type: string
          description: Application associated with the incident.
        file_name:
          type: string
          description: Name of the file containing sensitive data.
        file_type:
          type: string
          description: MIME type of the file.
        file_size:
          type: integer
          description: Size of the file in bytes.
        direction:
          type: string
          enum:
            - upload
            - download
            - internal
          description: Direction of data movement.
        action_taken:
          type: string
          enum:
            - alert
            - block
            - quarantine
            - encrypt
          description: Automated action taken on the incident.
        reviewer_comments:
          type: string
          description: Comments added by the reviewing analyst.
        reviewed_by:
          type: string
          description: Email address of the analyst who reviewed the incident.
        reviewed_at:
          type: string
          format: date-time
          description: Timestamp when the incident was last reviewed.
    ContentSnippet:
      type: object
      properties:
        pattern_id:
          type: string
          description: Data pattern identifier that matched.
        pattern_name:
          type: string
          description: Data pattern name that matched.
        snippet:
          type: string
          description: Context snippet around the data pattern match.
        position:
          type: integer
          description: Character offset position of the match within the document.
        masked:
          type: boolean
          description: Whether the matched content within the snippet is masked.
    DataPattern:
      type: object
      properties:
        id:
          type: string
          description: Unique data pattern identifier.
        name:
          type: string
          description: Display name of the data pattern.
        description:
          type: string
          description: Human-readable description of what the pattern detects.
        type:
          type: string
          enum:
            - predefined
            - custom
          description: Whether the pattern is predefined or custom.
        category:
          type: string
          description: Pattern category (e.g., PII, PCI, HIPAA, Financial).
        confidence:
          type: string
          enum:
            - high
            - medium
            - low
          description: Confidence threshold for the pattern.
        detection_rules:
          type: array
          items:
            type: object
            properties:
              rule_type:
                type: string
                enum:
                  - regex
                  - keyword
                  - dictionary
                  - file_property
              value:
                type: string
              proximity:
                type: integer
          description: Detection rule definitions for the pattern.
        enabled:
          type: boolean
          description: Whether the data pattern is active.
        incident_count:
          type: integer
          description: Total number of incidents triggered by this pattern.
    IncidentSummary:
      type: object
      properties:
        total_incidents:
          type: integer
          description: Total number of incidents in the reporting period.
        open_incidents:
          type: integer
          description: Number of incidents still in open status.
        resolved_incidents:
          type: integer
          description: Number of resolved incidents.
        by_severity:
          type: object
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer
            informational:
              type: integer
          description: Incident count breakdown by severity.
        by_channel:
          type: object
          properties:
            web:
              type: integer
            ssl:
              type: integer
            saas:
              type: integer
            email:
              type: integer
            endpoint:
              type: integer
          description: Incident count breakdown by detection channel.
        top_data_patterns:
          type: array
          items:
            type: object
            properties:
              pattern_name:
                type: string
              incident_count:
                type: integer
          description: Most frequently triggered data patterns.
        top_users:
          type: array
          items:
            type: object
            properties:
              user:
                type: string
              incident_count:
                type: integer
          description: Users with the most incidents.
        reporting_period:
          type: object
          properties:
            start_time:
              type: string
              format: date-time
            end_time:
              type: string
              format: date-time
          description: Time range for the summary report.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code or type.
        message:
          type: string
          description: Human-readable error message.
