openapi: 3.2.0
info:
  title: ZTNA Connector Restful Tenant API
  version: v2
  license:
    name: Palo Alto Networks EULA
    url: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  description: ZTNA Connector Restful API Specification This Open API spec file was created on March 25, 2026. © 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html). All other marks mentioned herein may be trademarks of their respective companies.
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- bearerAuth: []
tags:
- name: Tenant
paths:
  /sse/connector/v2.0/api/license:
    get:
      summary: Get Tenant License Info
      description: Retrieve the license details through this Application Programming Interface endpoint.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/license_info'
        '401':
          $ref: '#/components/responses/error-401'
        '424':
          $ref: '#/components/responses/error-424'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      tags:
      - Tenant
      operationId: get.license.v2
  /sse/connector/v2.0/api/tenant:start-onboarding:
    post:
      summary: Start Tenant Onboarding
      description: Create the tenant:start onboarding details through this Application Programming Interface endpoint.
      responses:
        '202':
          $ref: '#/components/responses/http.202_accepted'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      tags:
      - Tenant
      operationId: start_onboarding.v2
  /sse/connector/v2.0/api/tenant:start-offboarding:
    post:
      summary: Start Tenant Offboarding
      description: Initiates tenant deletion. This marks the tenant for deletion and triggers the cleanup process.
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  msg:
                    type: string
                    description: Confirmation message
        '401':
          $ref: '#/components/responses/error-401'
        '404':
          $ref: '#/components/responses/error-404'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      tags:
      - Tenant
      operationId: start_offboarding.v2
  /sse/connector/v2.0/api/tenant:status:
    get:
      summary: Get Tenant Status
      description: Retrieves the current status of the tenant.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tenant.status'
        '400':
          $ref: '#/components/responses/error-400'
        '401':
          $ref: '#/components/responses/error-401'
      parameters:
      - $ref: '#/components/parameters/x-panw-region'
      tags:
      - Tenant
      operationId: get.tenant.status.v2
components:
  schemas:
    tenant.status:
      type: object
      properties:
        status:
          type: string
          description: Tenant status
          enum:
          - ok
          - not_found
          - delete_in_progress
      required:
      - status
    license_info:
      type: object
      properties:
        license_name:
          type: string
        max_applications:
          type: number
        max_connectors:
          type: number
        applications:
          type: number
        connectors:
          type: number
        expiry:
          type: string
          format: date-time
    error_object:
      type: object
      description: Error object following Google Cloud API error format
      properties:
        code:
          type: string
          description: Error code
          example: INVALID_ARGUMENT
        message:
          type: string
          description: Human-readable error message
          example: Unable to find tenantID from TSG mapping or request
        details:
          type: array
          description: Additional error details
          items:
            $ref: '#/components/schemas/error_detail'
    error_response:
      type: object
      description: Error response payload
      properties:
        error:
          $ref: '#/components/schemas/error_object'
      required:
      - error
    error_detail:
      type: object
      description: Error detail information following Google Cloud API CauseInfo format
      properties:
        '@type':
          type: string
          description: Type identifier for the detail object
          example: google-cloud-api/CauseInfo
        message:
          type: string
          description: Detailed error message
        causes:
          type: array
          description: Array of cause information objects
          items:
            type: object
            properties:
              message:
                type: string
                description: Cause message
              module:
                type: string
                description: Module where the cause originated
  responses:
    error-401:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    error-400:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    error-424:
      description: Failed Dependency
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
    http.202_accepted:
      x-summary: Accepted
      description: '[202 Accepted](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/202)

        '
    error-404:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_response'
  parameters:
    x-panw-region:
      name: x-panw-region
      description: The region of the tenant
      in: header
      schema:
        type: string
        enum:
        - ae
        - americas
        - au
        - br
        - ca
        - ch
        - cn
        - de
        - es
        - europe
        - fr
        - id
        - il
        - in
        - it
        - jp
        - kr
        - pl
        - qa
        - sa
        - sg
        - tw
        - uk
        - za
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
