openapi: 3.2.0
info:
  title: Palo Alto Networks Certificates API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Certificates across 3 of this provider''s published API definitions: palo-alto-access-prisma-access-config-certificates-openapi.yaml, palo-alto-scm-config-cloudngfw-identity-identity-services-openapi.yaml, palo-alto-scm-config-ngts-tlsprotect-cloud-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com/config/identity/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
- url: https://api.strata.paloaltonetworks.com/ngts
  description: Strata Cloud Manager API
tags:
- name: Certificates
paths:
  /sse/config/v1/certificates:
    get:
      description: 'List certificates.

        '
      operationId: get-sse-config-v1-certificates
      parameters:
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/name-optional'
      - $ref: '#/components/parameters/folder'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/certificates-get'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of certificates info
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: List certificates
      tags:
      - Certificates
    post:
      description: 'Create a certificate.

        '
      operationId: post-sse-config-v1-certificates
      parameters:
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificates-post'
        description: The certificate info you want to create
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create certificates
      tags:
      - Certificates
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/certificates/{id}:
    delete:
      description: 'Delete a certificate.

        '
      operationId: delete-sse-config-v1-certificates-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete certificates
      tags:
      - Certificates
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/certificates:import:
    post:
      description: 'Import a certificate.

        '
      operationId: post-sse-config-v1-certificates:import
      parameters:
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificates-import'
        description: The certificate you want to import
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Import a certificate
      tags:
      - Certificates
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /certificates:
    get:
      tags:
      - Certificates
      summary: List certificates
      description: 'Retrieve a list of certificates.

        '
      operationId: ListCertificates
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder_2'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/certificates-get_2'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    post:
      tags:
      - Certificates
      summary: Generate a certificate
      description: 'Generate a new certificate.

        '
      operationId: CreateCertificates
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificates-post_2'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certificates-get_2'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/identity/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /certificates:import:
    post:
      tags:
      - Certificates
      summary: Import a certificate
      description: 'Import a certificate.

        '
      operationId: ImportCertificates
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/certificates-import_2'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certificates-import_2'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/identity/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /certificates/{id}:
    get:
      tags:
      - Certificates
      summary: Get a certificate
      description: 'Get an existing certificate.

        '
      operationId: GetCertificatesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/certificates-get_2'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    delete:
      tags:
      - Certificates
      summary: Delete a certificate
      description: 'Delete a certificate.

        '
      operationId: DeleteCertificatesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok_2'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/identity/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /certificates/{id}:export:
    post:
      tags:
      - Certificates
      summary: Export a certificate
      description: 'Export a certificate.

        '
      operationId: ExportCertificateByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        description: Export a Certificate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/export-certificate-payload'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/export-certificate-response'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/identity/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /outagedetection/v1/certificates:
    get:
      description: 'This endpoint allows you to retrieve all your certificates according to a specified criteria. This API provides a quick way to gather certificate details in order to install the certificates where they are needed.


        Use the `subject` query parameter to limit the search based on the certificate subject common name.'
      operationId: certificates_getAll
      parameters:
      - in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      - in: query
        name: excludeSupersededInstances
        schema:
          default: false
          type: boolean
      - description: Ability to enter regular expression to match specific criteria.
        in: query
        name: subject
        schema:
          type: string
      - description: Indicates the maximum integer number of certificates returned.
        in: query
        name: limit
        schema:
          default: 1000
          maximum: 10000
          minimum: 1
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
          description: Certificate(s) response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
      summary: Retrieve all certificate data
      tags:
      - Certificates
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/ngts
      description: Strata Cloud Manager API
  /outagedetection/v1/certificates/{id}:
    get:
      description: Retrieves the details of the certificate that has the specified `id`.
      operationId: certificates_getById
      parameters:
      - description: Indicates whether response should include nested ownership data (e.g., `owningContainers`).
        in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      - in: query
        name: excludeSupersededInstances
        schema:
          default: false
          type: boolean
      - description: UUID of a Certificate.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedCertificateInformation'
          description: Certificate was found; details in response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Certificate was not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      summary: Get a certificate details
      tags:
      - Certificates
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/ngts
      description: Strata Cloud Manager API
  /outagedetection/v1/certificates/{id}/contents:
    get:
      description: Exports the certificate that has the specified `id` in PEM or DER format. Chain CA certificates are included for PEM format when `chainOrder` is EE_FIRST or ROOT_FIRST.
      operationId: certificates_getContentsById
      parameters:
      - description: Specify an 'accept' header parameter's value
        in: header
        name: Accept
        schema:
          enum:
          - text/plain
          - application/octet-stream
          type: string
      - description: UUID of a Certificate.
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Format of certificate in response.
        in: query
        name: format
        schema:
          enum:
          - PEM
          - DER
          type: string
      - description: Order of certificates in response.
        in: query
        name: chainOrder
        schema:
          enum:
          - EE_ONLY
          - EE_FIRST
          - ROOT_FIRST
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
            application/octet-stream:
              schema:
                type: string
            text/plain:
              schema:
                type: string
          description: Raw certificate in response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Certificate not found.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/plain:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      summary: Download a certificate
      tags:
      - Certificates
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/ngts
      description: Strata Cloud Manager API
  /outagedetection/v1/certificates/validation:
    post:
      description: Submits one or more certificates for TLS validation.
      operationId: certificates_validation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateValidationRequest'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateValidationResponse'
          description: Certificates submitted for validation response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      summary: Request validation for a set of
      tags:
      - Certificates
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/ngts
      description: Strata Cloud Manager API
  /outagedetection/v1/certificates/retirement:
    post:
      description: This endpoint retires one or more certificates by using the **certificateIds** parameter to match a specified value.
      operationId: certificateretirement_retireCertificates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateRetirementRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
          description: Certificate retirement response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
      summary: Retire certificates
      tags:
      - Certificates
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/ngts
      description: Strata Cloud Manager API
  /outagedetection/v1/certificates/recovery:
    post:
      description: Recover the certificates specified by `certificateIds`, including any previous versions of those certificates.
      operationId: certificateretirement_recoverCertificates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateRecoveryRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
          description: Certificates were recovered. Total number and details are in the response body.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      summary: Recover a set of certificates
      tags:
      - Certificates
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/ngts
      description: Strata Cloud Manager API
  /outagedetection/v1/certificates/deletion:
    post:
      description: Permanently deletes the retired certificates specified by `certificateIds` from the inventory.
      operationId: certificateretirement_deleteCertificates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateDeletionRequest'
        required: true
      responses:
        '204':
          description: Certificates were deleted.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Incomplete or malformed request.
      summary: Delete a set of retired certificates
      tags:
      - Certificates
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/ngts
      description: Strata Cloud Manager API
  /outagedetection/v1/certificatesearch:
    post:
      description: 'This endpoint retrieves certificate data according to specified search criteria based on commonly used field search parameters. Some examples are `signatureHashAlgorithm`, `validityEnd`, and `issuerCN`. For more information, see [common search parameters](https://docs.venafi.cloud/api/about-api-search-fields/).

        '
      operationId: certificates_search_getByExpression
      parameters:
      - in: query
        name: ownershipTree
        schema:
          default: false
          type: boolean
      - in: query
        name: excludeSupersededInstances
        schema:
          default: false
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Filter'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
          description: Certificate response.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
            text/csv:
              schema:
                $ref: '#/components/schemas/ErrorResponse4'
          description: Request conditions failed.
      summary: Retrieve certificate data matching search criteria
      tags:
      - Certificates
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/ngts
      description: Strata Cloud Manager API
components:
  examples:
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Object
        _request_id: abcd-1234
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          details: {}
          message: Object Not Unique
        _request_id: abcd-1234
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Input Format Mismatch: input-format=json'
        _request_id: abcd-1234
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: 'Action Not Supported: move'
        _request_id: abcd-1234
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Expired
        _request_id: abcd-1234
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          details: {}
          message: Bad XPath
        _request_id: abcd-1234
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          details: {}
          message: Missing Body
        _request_id: abcd-1234
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          details: {}
          message: Unauthorized
        _request_id: abcd-1234
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          details: {}
          message: Invalid Credential
        _request_id: abcd-1234
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: 4
          details: {}
          message: Session Timeout
        _request_id: abcd-1234
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          details: {}
          message: Not Authenticated
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Command
        _request_id: abcd-1234
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Too Long
        _request_id: abcd-1234
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          details: {}
          message: Name Not Unique
        _request_id: abcd-1234
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          details: {}
          message: The password needs to be changed.
        _request_id: abcd-1234
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Method Not Supported
        _request_id: abcd-1234
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Malformed Command
        _request_id: abcd-1234
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          details: {}
          message: Reference Not Zero
        _request_id: abcd-1234
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Invalid Query Parameter: location=invalid'
        _request_id: abcd-1234
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Version Not Supported
        _request_id: abcd-1234
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Missing Query Parameter: name'
        _request_id: abcd-1234
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Output Format Mismatch: output-format=json Accept=xml'
        _request_id: abcd-1234
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          details: {}
          message: Object Not Present
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_object_2:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique_2:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch_2:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported_2:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired_2:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath_2:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body_2:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized_2:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential_2:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout_2:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated_2:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long_2:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command_2:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change_2:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique_2:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported_2:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command_2:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero_2:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter_2:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported_2:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter_2:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch_2:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present_2:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  responses:
    access_errors:
      content:
        application/json:
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Forbidden
    not_found:
      content:
        application/json:
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Not Found
    conflict_errors:
      content:
        application/json:
          examples:
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Conflict
    http_created:
      description: Created
    bad_request_errors_basic:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    default_errors:
      content:
        application/json:
          examples:
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    auth_errors:
      content:
        application/json:
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Unauthorized
    bad_request_errors_basic_with_body:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    http_ok:
      description: Ok
    http_ok_2:
      description: OK
  parameters:
    offset-optional:
      description: 'The offset of the result entry.

        '
      in: query
      name: offset
      required: false
      schema:
        type: number
    limit-optional:
      description: 'The maximum number of result objects to return per page.

        '
      in: query
      name: limit
      required: false
      schema:
        type: number
    folder:
      description: 'The folder on which you want to perform this operation.

        '
      in: query
      name: folder
      required: true
      schema:
        enum:
        - Shared
        - Mobile Users
        - Remote Networks
        - Service Connections
        - Mobile Users Container
        - Mobile Users Explicit Proxy
        pattern: ^[0-9a-zA-Z._-\s]{1,}$
        type: string
    uuid-required:
      description: 'The resource''s unique identifier.

        '
      in: path
      name: id
      required: true
      schema:
        type: string
    name-optional:
      description: 'The name of the entry.

        '
      in: query
      name: name
      required: false
      schema:
        type: string
    device:
      name: device
      in: query
      description: 'The device in which the resource is defined

        '
      schema:
        type: string
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    uuid:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000
    folder_2:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      required: false
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    snippet:
      name: snippet
      in: query
      description: 'The snippet in which the resource is defined

        '
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
  schemas:
    certificates-import:
      properties:
        certificate_file:
          description: base64 encoded content of the certificate file
          type: string
        format:
          default: pem
          enum:
          - pem
          - pkcs12
          - der
          type: string
        key_file:
          description: base64 encoded content of the key file
          type: string
        name:
          description: name of the certificate
          minLength: 1
          type: string
        passphrase:
          description: required when key_file is presented
          type: string
      required:
      - name
      - certificate_file
      - format
      type: object
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    certificates-post:
      properties:
        algorithm:
          oneOf:
          - properties:
              rsa_number_of_bits:
                enum:
                - 512
                - 1024
                - 2048
                - 3072
                - 4096
                type: number
            required:
            - rsa_number_of_bits
            title: rsa_number_of_bits
          - properties:
              ecdsa_number_of_bits:
                enum:
                - 245
                - 384
                - 2048
                - 3072
                - 4096
                type: number
            required:
            - ecdsa_number_of_bits
            title: ecdsa_number_of_bits
          type: object
        alternate_email:
          items:
            type: string
          type: array
        certificate_name:
          minLength: 1
          type: string
        common_name:
          minLength: 1
          type: string
        country_code:
          type: string
        day_till_expiration:
          type: number
        department:
          items:
            type: string
          type: array
        digest:
          enum:
          - sha1
          - sha256
          - sha384
          - sha512
          - md5
          type: string
        email:
          maxLength: 255
          type: string
        hostname:
          items:
            maxItems: 4
            maxLength: 64
            minLength: 1
            type: string
          type: array
        ip:
          items:
            maxItems: 4
            maxLength: 64
            minLength: 1
            type: string
          type: array
        is_block_privateKey:
          type: boolean
        is_certificate_authority:
          type: boolean
        locality:
          maxLength: 64
          type: string
        ocsp_responder_url:
          maxLength: 64
          type: string
        signed_by:
          maxLength: 64
          type: string
        state:
          maxLength: 32
          type: string
      required:
      - algorithm
      - certificate_name
      - common_name
      - digest
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    certificates-get:
      properties:
        algorithm:
          type: string
        ca:
          type: boolean
        common_name:
          type: string
        common_name_int:
          type: string
        expiry_epoch:
          type: string
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        issuer:
          type: string
        issuer_hash:
          type: string
        not_valid_after:
          type: string
        not_valid_before:
          type: string
        public_key:
          type: string
        subject:
          type: string
        subject_hash:
          type: string
        subject_int:
          type: string
      type: object
    certificates-import_2:
      type: object
      required:
      - name
      - certificate_file
      - format
      properties:
        name:
          type: string
          description: The name of the certificate
          minLength: 1
        certificate_file:
          type: string
          description: The Base64 encoded content of the certificate public key
        format:
          enum:
          - pem
          - pkcs12
          - der
          default: pem
          description: Certificate format
        key_file:
          type: string
          description: The Base64 encoded content of the certificate private key
        passphrase:
          type: string
          format: password
          description: Passphrase to protect the certificate private key
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required:
        - folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required:
        - snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required:
        - device
    generic_error_2:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos_2'
        _request_id:
          type: string
      x-examples: {}
    export-certificate-response:
      type: object
      properties:
        certificate:
          type: string
    certificates-post_2:
      type: object
      required:
      - id
      - name
      - common_name
      - signed_by
      - algorithm
      - certificate_name
      - digest
      properties:
        algorithm:
          type: object
          oneOf:
          - type: object
            title: rsa_number_of_bits
            properties:
              rsa_number_of_bits:
                enum:
                - 512
                - 1024
                - 2048
                - 3072
                - 4096
            required:
            - rsa_number_of_bits
          - type: object
            title: ecdsa_number_of_bits
            properties:
              ecdsa_number_of_bits:
                enum:
                - 245
                - 384
                - 2048
                - 3072
                - 4096
            required:
            - ecdsa_number_of_bits
          description: Encryption algorithm
        alternate_email:
          type: array
          items:
            type: string
          description: Alternate email
        certificate_name:
          type: string
          minLength: 1
          description: Certificate name
        common_name:
          type: string
          minLength: 1
          description: Common name
        country_code:
          type: string
          description: Country code
        day_till_expiration:
          type: integer
          description: Expiration (days)
        department:
          type: array
          items:
            type: string
          description: Department
        digest:
          enum:
          - sha1
          - sha256
          - sha384
          - sha512
          - md5
          description: Hash algorithm
        email:
          type: string
          format: email
          maxLength: 255
          description: Email
        hostname:
          type: array
          items:
            type: string
            format: hostname
            minLength: 1
            maxLength: 64
          description: Hostname
        ip:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 64
          description: IP address
        is_block_privateKey:
          type: boolean
          description: Block private key export?
        is_certificate_authority:
          type: boolean
          description: Certificate authority certificate?
        locality:
          type: string
          maxLength: 64
          description: Locality
        ocsp_responder_url:
          type: string
          maxLength: 64
          description: OCSP responder URL
        signed_by:
          type: string
          maxLength: 64
          description: Signed by
        state:
          type: string
          maxLength: 32
          description: State
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required:
        - folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required:
        - snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required:
        - device
    error_detail_cause_infos_2:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info_2'
      x-examples: {}
    error_detail_cause_info_2:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    certificates-get_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The UUID of the certificate
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: The name of the certificate
        algorithm:
          type: string
          description: Algorithm
        ca:
          type: boolean
          description: CA certificate?
        common_name:
          type: string
          description: Common name
        common_name_int:
          type: string
        expiry_epoch:
          type: string
        issuer:
          type: string
          description: Issuer
        issuer_hash:
          type: string
          description: Issue hash
        not_valid_after:
          type: string
          format: date
          description: Not valid after this date
        not_valid_before:
          type: string
          format: date
          description: Not valid before this date
        public_key:
          type: string
          description: Public key
        subject:
          type: string
          description: Subject
        subject_hash:
          type: string
          description: Subject hash
        subject_int:
          type: string
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required:
        - folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required:
        - snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required:
        - device
    export-certificate-payload:
      type: object
      properties:
        format:
          type: string
        passphrase:
          type: string
          enum:
          - pkcs12
          - pem
          - der
          - pkcs10
      required:
      - format
    CertificateOwnership:
      properties:
        owningContainers:
          items:
            $ref: '#/components/schemas/ExtendedApplicationOwnership'
          type: array
          uniqueItems: true
      type: object
    ExtendedApplicationOwnership:
      properties:
        id:
          format: uuid
          type: string
        owningTeams:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        owningUsers:
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        type:
          type: string
      type: object
    Filter:
      properties:
        expression:
          $ref: '#/components/schemas/BaseFilter'
        ordering:
          $ref: '#/components/schemas/BaseOrdering'
        paging:
          $ref: '#/components/schemas/Page1'
      type: object
    CertificateResponse:
      properties:
        certificates:
          description: A collection of certificates
          items:
            $ref: '#/components/schemas/CertificateInformation'
          type: array
        count:
          description: The number of certificates.
          example: 2
          format: int32
          type: integer
      type: object
    FilterOperands:
      properties:
        operands:
          description: A list of conditions that will be used for filtering
          example:
          - field: certificateStatus
            operator: EQ
            value: ACTIVE
          - field: certificateName
            operator: EQ
            value: venafi.com
          items:
            $ref: '#/components/schemas/BaseFilter'
          type: array
        operator:
          description: An operator for filtering
          enum:
          - AND
          - OR
          example: OR
          type: string
      type: object
    Condition:
      description: A Condition for filtering
      properties:
        field:
          description: Represents a field for filtering
          example: certificateName
          type: string
        operator:
          description: An operator for filtering
          enum:
          - EQ
          - LT
          - LTE
          - GT
          - GTE
          - MATCH
          - FIND
          - IN
          example: EQ
          type: string
        value:
          description: represents a field's value
          example: venafi.com
          type: string
        values:
          description: represents a field's values
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
      type: object
    GeneralNamesData2:
      description: A certificate subject alternative name by type
      example:
        dNSName:
        - www.venafi.com
        - venafi.com
      properties:
        dNSName:
          items:
            type: string
          type: array
        directoryName:
          items:
            type: string
          type: array
        ediPartyName:
          items:
            type: string
          type: array
        iPAddress:
          items:
            type: string
          type: array
        otherName:
          items:
            type: string
          type: array
        registeredID:
          items:
            type: string
          type: array
        rfc822Name:
          items:
            type: string
          type: array
        uniformResourceIdentifier:
          items:
            type: string
          type: array
        x400Address:
          items:
            type: string
          type: array
      type: object
    CertificateRetirementRequest:
      properties:
        addToBlocklist:
          description: This parameter ensures the deleted certificate will not be discovered again.
          example: true
          type: boolean
        certificateIds:
          description: A collection of certificates UUIDs
          example:
          - f2b42d60-df9c-11ed-b8ab-4788d83ace9f
          - f2c173d0-df9c-11ed-b8ab-4788d83ace9f
          items:
            format: uuid
            type: string
          type: array
      required:
      - certificateIds
      type: object
    ErrorResponse4:
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorInformation4'
          type: array
      type: object
    CertificateDeletionRequest:
      properties:
        certificateIds:
          description: A collection of certificates UUIDs
          example:
          - f2b42d60-df9c-11ed-b8ab-4788d83ace9f
          - f2c173d0-df9c-11ed-b8ab-4788d83ace9f
          items:
            format: uuid
            type: string
          type: array
      required:
      - certificateIds
      type: object
    CertificateValidationResponse:
      properties:
        fingerprints:
          description: A collection of certificate's fingerprints
          example:
          - 2C85B0AD64F55AA70BAC75F69711578DC505C3F9
          - 051ECFBD202B0383A7745F479F978C8E9FA9ADE1
          items:
            type: string
          type: array
      type: object
    CertificateInstanceInformation:
      properties:
        applicationIds:
          description: A collection of application IDs
          example:
          - d3cce873-6957-4071-a65e-7676c0ae1123
          - 322bcd99-286a-47ea-8dcd-8291ec5bff14
          items:
            format: uuid
            type: string
          type: array
        certificateId:
          description: UUID of a certificate
          example: 2eb29780-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        certificateInstanceId:
          description: UUID of a certificate instance
          example: f68daf30-4690-45bc-85b3-bb327024735e
          format: uuid
          type: string
        certificateSource:
          description: Certificate source
          enum:
          - UNKNOWN
          - USER_PROVIDED
          - USER_IMPORTED
          - USER_SCAN
          - TRUSTNET_SCAN
          - ON_PREM_CA_IMPORT
          - EXTERNAL_CA_IMPORT
          - FILE_IMPORT
          - EXTERNAL_SCAN
          - DOMAIN_SCAN
          - SMART_SCAN_INTERNAL
          - SMART_SCAN_EXTERNAL
          - SMART_VALIDATION_INTERNAL
          - SMART_VALIDATION_EXTERNAL
          - MACHINE_DISCOVERY
          - KUBERNETES_DISCOVERY
          - AWS_DISCOVERY
          - AZURE_DISCOVERY
          - GCP_DISCOVERY
          example: USER_SCAN
          type: string
        deploymentStatus:
          description: The deployment status
          enum:
          - UNKNOWN
          - IN_USE
          - SUPERSEDED
          example: IN_USE
          type: string
        hostname:
          description: A hostname
          example: venafi.com
          type: string
        instanceChainValidationStatus:
          description: A collection of the instance chain validation status
          example:
          - OK
          items:
            enum:
            - OK
            - CHAIN_BUILDING_FAILED
            - INCOMPLETE_CHAIN
            - CHAIN_EXPIRE_BEFORE_EE
            - DISTRUSTED
            - UNKNOWN_ERROR
            - SELF_SIGNED
            type: string
          type: array
        ipAddress:
          description: An ip address
          example: 14.183.1.32
          type: string
        lastScanDate:
          description: The last scan date
          example: '2023-01-10T09:12:28Z'
          format: date-time
          type: string
        lastValidatedAttempt:
          description: The last validation attempt date
          example: '2023-01-11T09:12:28Z'
          format: date-time
          type: string
        modificationDate:
          description: The last modification date
          example: '2023-01-10T09:12:28Z'
          format: date-time
          type: string
        port:
          description: A port number
          example: 443
          format: int32
          type: integer
        serviceIds:
          description: A collection of service IDs
          items:
            format: uuid
            type: string
          type: array
        sslProtocols:
          description: A collection of ssl protocols
          example:
          - TLSv1.1
          - TLSv1.2
          items:
            type: string
          type: array
        sslValidationErrorArguments:
          description: A collection of ssl validation error arguments
          example:
          - B69950CC5F51EDDF55F36AD2BC898767BC43CC2A
          - 24E5796GA7298E78EDE47D6FAED0790E8F464G54
          items:
            type: string
          type: array
        sslValidationStatus:
          description: SSL validation status
          enum:
          - HOSTNAME_NOT_RESOLVABLE
          - NO_CERTIFICATE_PRESENTED
          - INVALID_CERTIFICATE_FOUND
          - UNEXPECTED_CERTIFICATE_FOUND
          - OLD_VERSION_CERTIFICATE_FOUND
          - TARGET_UNREACHABLE
          - UNKNOWN_ERROR
          - OK
          example: OK
          type: string
        sslValidationStatusMessage:
          description: SSL validation status message
          example: Certificate installation is using older versions of certificate
          type: string
      type: object
    ErrorInformation4:
      properties:
        args:
          items:
            $ref: '#/components/schemas/AnyValue4'
          type: array
        code:
          format: int32
          type: integer
        message:
          type: string
      type: object
    Page1:
      description: Specify pagination on the search request
      properties:
        pageNumber:
          description: page number
          example: 0
          format: int32
          type: integer
        pageSize:
          description: page size
          example: 10
          format: int32
          type: integer
      type: object
    CertificateRecoveryRequest:
      properties:
        applicationIds:
          description: A collection of applications UUIDs
          example:
          - 47c9d920-da21-11ed-a63c-d508f08eeaa0
          - 9303e940-df9d-11ed-8850-f18176fc5513
          items:
            format: uuid
            type: string
          type: array
        certificateIds:
          description: A collection of certificates UUIDs
          example:
          - f2b42d60-df9c-11ed-b8ab-4788d83ace9f
          - f2c173d0-df9c-11ed-b8ab-4788d83ace9f
          items:
            format: uuid
            type: string
          type: array
      required:
      - certificateIds
      type: object
    AnyValue4:
      description: Can be any value - string, number, boolean, array or object.
    CertificateInformation:
      properties:
        applicationIds:
          description: A collection of application IDs
          example:
          - 561baf7c-98b7-49af-ab9c-7b3a9fea3028
          - 4adeba6f-0c94-4595-a5b6-babea458249f
          items:
            format: uuid
            type: string
          type: array
        archivedDate:
          description: The date a certificate was archived
          example: '2022-05-24T09:12:28Z'
          format: date-time
          type: string
        authorityKeyIdentifierHash:
          description: An authority key identifier hash
          example: 40572B10F85DDAF18BFF987372178532AB875BCA
          type: string
        certificateAuthorityAccountId:
          description: UUID  of a certificate authority account
          format: uuid
          type: string
        certificateName:
          description: A certificate name
          example: venafi.com
          type: string
        certificateRequestId:
          description: UUID  of a certificate request
          example: 2e8964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        certificateStatus:
          description: Certificate's status
          enum:
          - ACTIVE
          - RETIRED
          - DELETED
          example: ACTIVE
          type: string
        companyId:
          description: UUID  of a company
          example: 85595df0-8e14-11ed-87e3-755db050f29d
          format: uuid
          type: string
        dekHash:
          description: A certificate dek hash
          example: RaBDrLmQ69hACXOrPU6542RBT-M-yZOkw4XKsT-r55i=
          type: string
        encryptionType:
          description: A certificate encryption type
          enum:
          - RSA
          - DSA
          - EC
          - GOST3410
          - ECGOST3410
          - RESERVED3
          - UNKNOWN
          example: EC
          type: string
        extendedKeyUsage:
          description: A collection of certificate extended key usages
          example:
          - 1.3.6.1.5.5.7.3.2
          - 1.3.6.1.5.5.7.3.1
          items:
            type: string
          type: array
        fingerprint:
          description: A certificate fingerprint
          example: 6D4C95512C117B004191F1A096ECAD13242FCD9F
          type: string
        id:
          description: UUID of a certificate
          example: 2eb29780-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        inhibitAnyPolicy:
          description: Inhibit any policy
          example: 150
          format: int32
          type: integer
        inhibitPolicyMapping:
          description: Inhibit policy mapping
          example: 200
          format: int32
          type: integer
        instances:
          description: A collection of certificate instances information
          example:
          - certificateId: 7ec12010-9051-11ed-8e50-b994b27d2ece
            certificateInstanceId: 7ec1bc50-9051-11ed-8e50-b994b27d2ece
            certificateSource: USER_SCAN
            deploymentStatus: IN_USE
            hostname: venafi.com
            instanceChainValidationStatus:
            - OK
            ipAddress: 23.185.0.2
            lastScanDate: '2023-01-09T19:12:05.314+00:00'
            lastValidatedAttempt: '2023-01-09T19:12:05.446+00:00'
            modificationDate: '2023-01-09T19:12:14.865+00:00'
            port: 443
            serviceIds:
            - 1d61e9e0-9046-11ed-bf12-53a1b041cf25
            sslProtocols:
            - TLSv1.3
            - TLSv1.2
            sslValidationErrorArguments: []
            sslValidationStatus: OK
          items:
            $ref: '#/components/schemas/CertificateInstanceInformation'
          type: array
        issuerAlternativeNameDns:
          description: A collection of certificate issuer alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        issuerAlternativeNameNonDns:
          description: A collection of certificate issuer alternative name none DNs
          example:
          - venafi issuer doman
          items:
            type: string
          type: array
        issuerC:
          description: A certificate issues Country
          example: US
          type: string
        issuerCN:
          description: A collection of certificate issuer Common names
          example:
          - HydrantID SSL CA G3
          items:
            type: string
          type: array
        issuerCertificateIds:
          description: A collection of issuer certificate IDs
          example:
          - 2e8964a0-9046-11ed-8e50-b994b27d2ece
          - d5b418a0-297e-11eb-bc4c-8b24e5a66fb6
          items:
            format: uuid
            type: string
          type: array
        issuerDN:
          description: A certificate issue DN
          example: cn=HydrantID SSL CA G3,o=HydrantID (Avalanche Cloud Corporation),c=US
          type: string
        issuerL:
          description: A certificate issues Locality
          example: Salt Lake City
          type: string
        issuerOU:
          description: A collection of certificate issuer Organization units
          example:
          - Issuer CA
          items:
            type: string
          type: array
        issuerST:
          description: A certificate issuer State
          example: Utah
          type: string
        keyCurve:
          description: A certificate key curve
          enum:
          - P256
          - P384
          - P521
          - ED25519
          - UNKNOWN
          example: P256
          type: string
        keyStrength:
          description: A certificate key strength
          example: 2048
          format: int32
          type: integer
        keyUsage:
          description: A collection of certificate key usages
          example:
          - digitalSignature
          - keyEncipherment
          items:
            type: string
          type: array
        lastNotification:
          format: int32
          type: integer
        managedCertificateId:
          description: UUID  of a managed certificate
          example: 2f0e7320-9046-11ed-8ab8-19e0a618d9cd
          format: uuid
          type: string
        modificationDate:
          description: The last date a certificate was modified
          example: '2022-03-24T09:12:28Z'
          format: date-time
          type: string
        ocspNoCheck:
          description: If a certificate no ocsp check
          example: false
          type: boolean
        ownership:
          $ref: '#/components/schemas/CertificateOwnership'
        pathLength:
          description: A certificate path length
          example: 3
          format: int32
          type: integer
        requireExplicitPolicy:
          description: Required explicit policy is required
          example: 1
          format: int32
          type: integer
        selfSigned:
          description: If the certificate is self singed
          example: true
          type: boolean
        serialNumber:
          description: A certificate serial number
          example: 0C51A562B02A19A222FFB4730C47A8E2
          type: string
        signatureAlgorithm:
          description: A certificate signature algorithm
          enum:
          - MD2_WITH_RSA_ENCRYPTION
          - MD5_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION2
          - SHA256_WITH_RSA_ENCRYPTION
          - SHA384_WITH_RSA_ENCRYPTION
          - SHA512_WITH_RSA_ENCRYPTION
          - ID_DSA_WITH_SHA1
          - dsaWithSHA1
          - EC_DSA_WITH_SHA1
          - EC_DSA_WITH_SHA224
          - EC_DSA_WITH_SHA256
          - EC_DSA_WITH_SHA384
          - EC_DSA_WITH_SHA512
          - UNKNOWN
          - SHA1_WITH_RSAandMGF1
          - GOST_R3411_94_WITH_GOST_R3410_2001
          - GOST_R3411_94_WITH_GOST_R3410_94
          example: SHA256_WITH_RSA_ENCRYPTION
          type: string
        signatureHashAlgorithm:
          description: A certificate signature hash algorithm
          enum:
          - MD5
          - SHA1
          - MD2
          - SHA224
          - SHA256
          - SHA384
          - SHA512
          - UNKNOWN
          - GOSTR3411_94
          example: SHA256
          type: string
        statusModificationDate:
          description: The date a certificate's status was modified
          example: '2022-04-24T09:12:28Z'
          format: date-time
          type: string
        statusModificationUserId:
          description: UUID of the user that modified the certificate installation
          example: 3c9964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        subjectAlternativeNameDns:
          description: A collection of certificate subject alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        subjectAlternativeNameNonDns:
          description: A collection of certificate subject alternative name none DNs
          example:
          - venafi domain
          items:
            type: string
          type: array
        subjectAlternativeNamesByType:
          $ref: '#/components/schemas/GeneralNamesData2'
        subjectC:
          description: A certificate subject Country
          example: US
          type: string
        subjectCN:
          description: A collection of certificate subject CNs
          example:
          - venafi.com
          - cloud.venafi
          items:
            type: string
          type: array
        subjectDN:
          description: A certificate subject DN
          example: cn=www.venafi.com,o=Venafi, Inc.,c=US,st=Utah,l=Salt Lake City
          type: string
        subjectKeyIdentifierHash:
          description: A subject key identifier hash
          example: 4E0CE93D3240561F468C33A85F08FCD3B04CC9DC
          type: string
        subjectL:
          description: A certificate subject Locality
          example: Salt Lake City
          type: string
        subjectO:
          description: A certificate subject Organization
          example: Venafi, Inc.
          type: string
        subjectOU:
          description: A collection of certificate subject Organization units
          example:
          - devops
          - test
          items:
            type: string
          type: array
        subjectST:
          description: A certificate subject State
          example: Utah
          type: string
        tags:
          description: A collection of tags
          example:
          - owner:test.user
          - 90-day
          items:
            type: string
          type: array
        totalActiveInstanceCount:
          description: total active instances of a certificate
          example: 50
          format: int32
          type: integer
        totalInstanceCount:
          description: total instances of a certificate
          example: 100
          format: int32
          type: integer
        validityEnd:
          description: The date a certificate validity ends
          example: '2023-01-24T09:12:28Z'
          format: date-time
          type: string
        validityStart:
          description: The date a certificate validity starts
          example: '2022-01-24T09:12:28Z'
          format: date-time
          type: string
        versionType:
          description: A certificate version type
          enum:
          - OLD
          - CURRENT
          example: CURRENT
          type: string
      type: object
    BaseOrdering:
      description: Specify the ordering of a search result
      properties:
        orders:
          items:
            $ref: '#/components/schemas/Order'
          type: array
      type: object
    ExtendedCertificateInformation:
      properties:
        applicationIds:
          description: A collection of application IDs
          example:
          - 561baf7c-98b7-49af-ab9c-7b3a9fea3028
          - 4adeba6f-0c94-4595-a5b6-babea458249f
          items:
            format: uuid
            type: string
          type: array
        archivedDate:
          description: The date a certificate was archived
          example: '2022-05-24T09:12:28Z'
          format: date-time
          type: string
        authorityKeyIdentifierHash:
          description: An authority key identifier hash
          example: 40572B10F85DDAF18BFF987372178532AB875BCA
          type: string
        certificateAuthorityAccountId:
          description: UUID  of a certificate authority account
          format: uuid
          type: string
        certificateName:
          description: A certificate name
          example: venafi.com
          type: string
        certificateRequestId:
          description: UUID  of a certificate request
          example: 2e8964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        certificateStatus:
          description: Certificate's status
          enum:
          - ACTIVE
          - RETIRED
          - DELETED
          example: ACTIVE
          type: string
        companyId:
          description: UUID  of a company
          example: 85595df0-8e14-11ed-87e3-755db050f29d
          format: uuid
          type: string
        dekHash:
          description: A certificate dek hash
          example: RaBDrLmQ69hACXOrPU6542RBT-M-yZOkw4XKsT-r55i=
          type: string
        encryptionType:
          description: A certificate encryption type
          enum:
          - RSA
          - DSA
          - EC
          - GOST3410
          - ECGOST3410
          - RESERVED3
          - UNKNOWN
          example: EC
          type: string
        extendedKeyUsage:
          description: A collection of certificate extended key usages
          example:
          - 1.3.6.1.5.5.7.3.2
          - 1.3.6.1.5.5.7.3.1
          items:
            type: string
          type: array
        fingerprint:
          description: A certificate fingerprint
          example: 6D4C95512C117B004191F1A096ECAD13242FCD9F
          type: string
        id:
          description: UUID of a certificate
          example: 2eb29780-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        inhibitAnyPolicy:
          description: Inhibit any policy
          example: 150
          format: int32
          type: integer
        inhibitPolicyMapping:
          description: Inhibit policy mapping
          example: 200
          format: int32
          type: integer
        instances:
          description: A collection of certificate instances information
          example:
          - certificateId: 7ec12010-9051-11ed-8e50-b994b27d2ece
            certificateInstanceId: 7ec1bc50-9051-11ed-8e50-b994b27d2ece
            certificateSource: USER_SCAN
            deploymentStatus: IN_USE
            hostname: venafi.com
            instanceChainValidationStatus:
            - OK
            ipAddress: 23.185.0.2
            lastScanDate: '2023-01-09T19:12:05.314+00:00'
            lastValidatedAttempt: '2023-01-09T19:12:05.446+00:00'
            modificationDate: '2023-01-09T19:12:14.865+00:00'
            port: 443
            serviceIds:
            - 1d61e9e0-9046-11ed-bf12-53a1b041cf25
            sslProtocols:
            - TLSv1.3
            - TLSv1.2
            sslValidationErrorArguments: []
            sslValidationStatus: OK
          items:
            $ref: '#/components/schemas/CertificateInstanceInformation'
          type: array
        issuerAlternativeNameDns:
          description: A collection of certificate issuer alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        issuerAlternativeNameNonDns:
          description: A collection of certificate issuer alternative name none DNs
          example:
          - venafi issuer doman
          items:
            type: string
          type: array
        issuerC:
          description: A certificate issues Country
          example: US
          type: string
        issuerCN:
          description: A collection of certificate issuer Common names
          example:
          - HydrantID SSL CA G3
          items:
            type: string
          type: array
        issuerCertificateIds:
          description: A collection of issuer certificate IDs
          example:
          - 2e8964a0-9046-11ed-8e50-b994b27d2ece
          - d5b418a0-297e-11eb-bc4c-8b24e5a66fb6
          items:
            format: uuid
            type: string
          type: array
        issuerCertificates:
          description: A collection of certificate information
          items:
            $ref: '#/components/schemas/CertificateInformation'
          type: array
        issuerDN:
          description: A certificate issue DN
          example: cn=HydrantID SSL CA G3,o=HydrantID (Avalanche Cloud Corporation),c=US
          type: string
        issuerL:
          description: A certificate issues Locality
          example: Salt Lake City
          type: string
        issuerOU:
          description: A collection of certificate issuer Organization units
          example:
          - Issuer CA
          items:
            type: string
          type: array
        issuerST:
          description: A certificate issuer State
          example: Utah
          type: string
        keyCurve:
          description: A certificate key curve
          enum:
          - P256
          - P384
          - P521
          - ED25519
          - UNKNOWN
          example: P256
          type: string
        keyStrength:
          description: A certificate key strength
          example: 2048
          format: int32
          type: integer
        keyUsage:
          description: A collection of certificate key usages
          example:
          - digitalSignature
          - keyEncipherment
          items:
            type: string
          type: array
        lastNotification:
          format: int32
          type: integer
        managedCertificateId:
          description: UUID  of a managed certificate
          example: 2f0e7320-9046-11ed-8ab8-19e0a618d9cd
          format: uuid
          type: string
        modificationDate:
          description: The last date a certificate was modified
          example: '2022-03-24T09:12:28Z'
          format: date-time
          type: string
        ocspNoCheck:
          description: If a certificate no ocsp check
          example: false
          type: boolean
        ownership:
          $ref: '#/components/schemas/CertificateOwnership'
        pathLength:
          description: A certificate path length
          example: 3
          format: int32
          type: integer
        requireExplicitPolicy:
          description: Required explicit policy is required
          example: 1
          format: int32
          type: integer
        selfSigned:
          description: If the certificate is self singed
          example: true
          type: boolean
        serialNumber:
          description: A certificate serial number
          example: 0C51A562B02A19A222FFB4730C47A8E2
          type: string
        signatureAlgorithm:
          description: A certificate signature algorithm
          enum:
          - MD2_WITH_RSA_ENCRYPTION
          - MD5_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION
          - SHA1_WITH_RSA_ENCRYPTION2
          - SHA256_WITH_RSA_ENCRYPTION
          - SHA384_WITH_RSA_ENCRYPTION
          - SHA512_WITH_RSA_ENCRYPTION
          - ID_DSA_WITH_SHA1
          - dsaWithSHA1
          - EC_DSA_WITH_SHA1
          - EC_DSA_WITH_SHA224
          - EC_DSA_WITH_SHA256
          - EC_DSA_WITH_SHA384
          - EC_DSA_WITH_SHA512
          - UNKNOWN
          - SHA1_WITH_RSAandMGF1
          - GOST_R3411_94_WITH_GOST_R3410_2001
          - GOST_R3411_94_WITH_GOST_R3410_94
          example: SHA256_WITH_RSA_ENCRYPTION
          type: string
        signatureHashAlgorithm:
          description: A certificate signature hash algorithm
          enum:
          - MD5
          - SHA1
          - MD2
          - SHA224
          - SHA256
          - SHA384
          - SHA512
          - UNKNOWN
          - GOSTR3411_94
          example: SHA256
          type: string
        statusModificationDate:
          description: The date a certificate's status was modified
          example: '2022-04-24T09:12:28Z'
          format: date-time
          type: string
        statusModificationUserId:
          description: UUID of the user that modified the certificate installation
          example: 3c9964a0-9046-11ed-8e50-b994b27d2ece
          format: uuid
          type: string
        subjectAlternativeNameDns:
          description: A collection of certificate subject alternative names DNs
          example:
          - venafi.com
          - www.venafi.com
          items:
            type: string
          type: array
        subjectAlternativeNameNonDns:
          description: A collection of certificate subject alternative name none DNs
          example:
          - venafi domain
          items:
            type: string
          type: array
        subjectAlternativeNamesByType:
          $ref: '#/components/schemas/GeneralNamesData2'
        subjectC:
          description: A certificate subject Country
          example: US
          type: string
        subjectCN:
          description: A collection of certificate subject CNs
          example:
          - venafi.com
          - cloud.venafi
          items:
            type: string
          type: array
        subjectDN:
          description: A certificate subject DN
          example: cn=www.venafi.com,o=Venafi, Inc.,c=US,st=Utah,l=Salt Lake City
          type: string
        subjectKeyIdentifierHash:
          description: A subject key identifier hash
          example: 4E0CE93D3240561F468C33A85F08FCD3B04CC9DC
          type: string
        subjectL:
          description: A certificate subject Locality
          example: Salt Lake City
          type: string
        subjectO:
          description: A certificate subject Organization
          example: Venafi, Inc.
          type: string
        subjectOU:
          description: A collection of certificate subject Organization units
          example:
          - devops
          - test
          items:
            type: string
          type: array
        subjectST:
          description: A certificate subject State
          example: Utah
          type: string
        tags:
          description: A collection of tags
          example:
          - owner:test.user
          - 90-day
          items:
            type: string
          type: array
        totalActiveInstanceCount:
          description: total active instances of a certificate
          example: 50
          format: int32
          type: integer
        totalInstanceCount:
          description: total instances of a certificate
          example: 100
          format: int32
          type: integer
        validityEnd:
          description: The date a certificate validity ends
          example: '2023-01-24T09:12:28Z'
          format: date-time
          type: string
        validityStart:
          description: The date a certificate validity starts
          example: '2022-01-24T09:12:28Z'
          format: date-time
          type: string
        versionType:
          description: A certificate version type
          enum:
          - OLD
          - CURRENT
          example: CURRENT
          type: string
      type: object
    BaseFilter:
      description: Root expression for filtering
      oneOf:
      - $ref: '#/components/schemas/FilterOperands'
      - $ref: '#/components/schemas/FilterOperand'
      - $ref: '#/components/schemas/Condition'
      type: object
    Order:
      properties:
        direction:
          description: An ordering direction
          enum:
          - ASC
          - DESC
          example: DESC
          type: string
        field:
          description: A field, that will be used for ordering
          example: modificationDate
          type: string
      type: object
    FilterOperand:
      properties:
        operand:
          $ref: '#/components/schemas/Condition'
        operator:
          description: An operator for filtering
          enum:
          - NOT
          example: NOT
          type: string
      type: object
    CertificateValidationRequest:
      properties:
        certificateIds:
          description: 'A collection of certificates UUIDs  '
          example:
          - f2b42d60-df9c-11ed-b8ab-4788d83ace9f
          - f2c173d0-df9c-11ed-b8ab-4788d83ace9f
          items:
            format: uuid
            type: string
          type: array
      required:
      - certificateIds
      type: object
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- palo-alto-access-prisma-access-config-certificates-openapi.yaml
- palo-alto-scm-config-cloudngfw-identity-identity-services-openapi.yaml
- palo-alto-scm-config-ngts-tlsprotect-cloud-openapi.json
