openapi: 3.1.0
info:
  title: Security Advisory API
  description: >-
    Public REST API for querying Palo Alto Networks Product Security Incident
    Response Team (PSIRT) security advisories. Beta release. Provides access
    to published vulnerability advisories including CVE identifiers, severity
    ratings, CVSS scores, affected products and versions, fixed versions, and
    remediation guidance. No authentication is required. Advisory data covers
    PAN-OS, Cortex XDR, Prisma Cloud, GlobalProtect, and other Palo Alto
    Networks products.
  version: '1.0-beta'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://security.paloaltonetworks.com/api
    description: Palo Alto Networks Security Advisory API (public beta).
security: []
tags:
  - name: Advisories
    description: Query and retrieve PSIRT security advisories.
  - name: Products
    description: Query affected products referenced in security advisories.
paths:
  /advisories:
    get:
      operationId: listAdvisories
      summary: List all security advisories
      description: >-
        Returns a paginated list of published PSIRT security advisories.
        Supports filtering by severity, affected product, and sorting by
        publication date or CVSS score. This endpoint is publicly accessible
        and does not require authentication. Results include advisory metadata,
        CVE identifiers, severity ratings, and affected product summaries.
      tags:
        - Advisories
      parameters:
        - name: severity
          in: query
          description: Filter advisories by severity level.
          schema:
            type: string
            enum:
              - NONE
              - LOW
              - MEDIUM
              - HIGH
              - CRITICAL
        - name: affected_product
          in: query
          description: >-
            Filter by affected product name. Examples: PAN-OS, Cortex XDR
            Agent, Prisma Cloud, GlobalProtect, Cortex XSOAR.
          schema:
            type: string
        - name: sort
          in: query
          description: Field and direction to sort results by.
          schema:
            type: string
            enum:
              - -publishedDate
              - publishedDate
              - -cvssScore
              - cvssScore
            default: -publishedDate
        - name: limit
          in: query
          description: Maximum number of advisories to return per page.
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Security advisories returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of advisories matching the query.
                  offset:
                    type: integer
                    description: Current pagination offset.
                  limit:
                    type: integer
                    description: Number of results per page.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Advisory'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advisories/{advisory_id}:
    get:
      operationId: getAdvisory
      summary: Get a single security advisory
      description: >-
        Returns full details for a specific security advisory by its advisory
        ID. Includes the complete description, CVSS scoring, affected product
        versions, fixed versions, available workarounds, and references to
        external resources such as NVD entries.
      tags:
        - Advisories
      parameters:
        - name: advisory_id
          in: path
          required: true
          description: >-
            Palo Alto Networks advisory identifier (e.g., PAN-SA-2024-0001).
          schema:
            type: string
      responses:
        '200':
          description: Advisory details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisory'
        '400':
          description: Invalid advisory ID format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Advisory not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advisories/cve/{cve_id}:
    get:
      operationId: getAdvisoryByCVE
      summary: Get advisories by CVE ID
      description: >-
        Returns all security advisories associated with a specific CVE
        identifier. A single CVE may be referenced in multiple advisories
        when the vulnerability affects several Palo Alto Networks products.
        Returns an array of matching advisory objects.
      tags:
        - Advisories
      parameters:
        - name: cve_id
          in: path
          required: true
          description: CVE identifier (e.g., CVE-2024-3400).
          schema:
            type: string
            pattern: '^CVE-\d{4}-\d{4,}$'
      responses:
        '200':
          description: Advisories for the CVE returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Number of advisories found for the CVE.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Advisory'
        '400':
          description: Invalid CVE ID format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No advisories found for the specified CVE.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /products:
    get:
      operationId: listAffectedProducts
      summary: List affected products
      description: >-
        Returns the list of Palo Alto Networks products that are referenced
        in at least one published security advisory. Use the product names
        returned by this endpoint as values for the affected_product filter
        on the /advisories endpoint.
      tags:
        - Products
      responses:
        '200':
          description: Product list returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of distinct products.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Advisory:
      type: object
      description: A PSIRT security advisory for a Palo Alto Networks product.
      properties:
        advisory_id:
          type: string
          description: Palo Alto Networks advisory identifier (e.g., PAN-SA-2024-0001).
        cve_id:
          type: string
          description: CVE identifier (e.g., CVE-2024-3400).
        title:
          type: string
          description: Advisory title summarizing the vulnerability.
        description:
          type: string
          description: >-
            Detailed description of the vulnerability including impact and
            attack vector.
        severity:
          type: string
          enum:
            - NONE
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
          description: Severity rating based on CVSS v3.1 base score.
        cvss_score:
          type: number
          description: CVSS v3.1 base score (0.0 to 10.0).
          minimum: 0.0
          maximum: 10.0
        cvss_vector:
          type: string
          description: >-
            CVSS v3.1 vector string
            (e.g., CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:C/C:H/I:H/A:H).
        cwe:
          type: string
          description: CWE identifier for the vulnerability class.
        affected_products:
          type: array
          description: Products and version ranges affected by this vulnerability.
          items:
            $ref: '#/components/schemas/AffectedProduct'
        fixed_versions:
          type: array
          items:
            type: string
          description: Product versions in which the vulnerability is fixed.
        workarounds:
          type: string
          description: Available workarounds or mitigations if a fix is not yet deployed.
        exploit_status:
          type: string
          enum:
            - None
            - Proof-of-Concept
            - Active
          description: Known exploit activity status.
        published_date:
          type: string
          format: date-time
          description: Date and time when the advisory was first published.
        last_modified_date:
          type: string
          format: date-time
          description: Date and time of the most recent advisory update.
        references:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                format: uri
                description: Reference URL.
              description:
                type: string
                description: Description of the referenced resource.
          description: External references and related advisories.
    AffectedProduct:
      type: object
      properties:
        product:
          type: string
          description: Product name (e.g., PAN-OS, Cortex XDR Agent).
        versions:
          type: array
          items:
            type: object
            properties:
              version:
                type: string
                description: Affected version or version range.
              status:
                type: string
                enum:
                  - Affected
                  - Unaffected
                  - Fixed
                description: Vulnerability status for this version.
    Product:
      type: object
      properties:
        name:
          type: string
          description: Product name as referenced in advisories.
        advisory_count:
          type: integer
          description: Number of published advisories referencing this product.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
