openapi: 3.2.0
info:
  title: SP Interconnect Monitor VLAN Attachment Latency API
  version: '1.0'
  description: "These APIs deliver real-time visibility and performance analytics for all configured interconnect \nresources through the monitoring plane. They allow network teams to track health, bandwidth throughput, \nand data transfer volumes at the edge to ensure optimal network security and reliability. \nAccess these metrics during routine audits or active troubleshooting to diagnose latency spikes or BGP session instability. \nBy applying time-based filters and histograms, you can generate detailed traffic trends and monitor IP pool consumption across your global infrastructure. Created on February 12, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- authKey: []
tags:
- name: VLAN Attachment Latency
paths:
  /mt/sp-interconnect/monitor/vlanAttachments/latency:
    post:
      tags:
      - VLAN Attachment Latency
      summary: Get Vlan Attachment Latency Trends
      description: Monitor latency performance for virtual circuits to ensure network paths meet required service levels. This metric measures the delay in traffic traversal between Prisma Access and the Service Provider edge. Access this during troubleshooting to determine if network slowness is related to the private Interconnect path rather than internal cloud routing. Specify the vlan_attachment_id and utilize a daily or hourly histogram to detect latency spikes or persistent high-delay trends.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorRequest'
            example:
              properties:
              - property: latency
              - property: event_time
              - property: region
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 30
                - property: vlan_attachment_id
                  operator: in
                  values:
                  - 30eb7634-0f21-4dae-a42f-94d7f7cfdbd1
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - vlan_attachment_name: us-centrl-con-2
                  event_time: 1766016000000
                  latency: 4.204661846160889
                - vlan_attachment_name: us-centrl-con-2
                  event_time: 1765238400000
                  latency: 3.15822172164917
                - vlan_attachment_name: us-centrl-con-2
                  event_time: 1764115200000
                  latency: 4.052086353302002
                requestId: 8e701533-5ab3-4815-90af-b4da543804a9
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtSp-interconnectMonitorVlanattachmentsLatency
components:
  schemas:
    MonitorRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              function:
                type: string
              alias:
                type: string
              sort:
                type: object
                properties:
                  order:
                    type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
  securitySchemes:
    authKey:
      type: http
      scheme: Bearer
