openapi: 3.2.0
info:
  title: SASE 5G Monitor Service API Stats API
  version: '1.0'
  description: "The SASE 5G Monitoring Service provides real-time visibility and technical telemetry \nfor enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nTechnical leads and network analysts utilize these APIs to track subscriber scaling, \nmonitor regional registration trends, and audit network throughput performance.\n\nBy leveraging these endpoints, organizations maintain a continuous feedback loop on \nUser Equipment (UE) activity and regional interconnect health. The service enables \nproactive troubleshooting through incident severity tracking and API performance \nmonitoring, ensuring that global 5G connectivity meets strict service level objectives \nwhile identifying unauthorized traffic or signaling gaps. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: API Stats
paths:
  /mt/monitor/5g/api/stats:
    post:
      tags:
      - API Stats
      summary: Get Application Programming Interface Stats
      description: Returns the total Application Programming Interface calls made and count of success and failure calls. Applicable for interface type Application Programming Interface.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountFilterRequest'
            example:
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  total_count: 0
                  success_count: 0
                  failure_count: 0
                header:
                  createdAt: '2025-12-17T02:06:39Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gApiStats
components:
  schemas:
    CountFilterRequest:
      type: object
      properties:
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
