openapi: 3.2.0
info:
  contact: {}
  description: 'Access Keys are a secure way to enable programmatic access to the Prisma Cloud API. By default, only

    the System Admin has API access and can enable API access for other administrators. If you have API access,

    you can create up to two access keys. Create an access key for a limited time period and regenerate your API

    keys periodically to minimize exposure and follow security best practices.'
  title: Prisma Cloud Access Keys API Overview Adoption Advisor API
  version: Latest
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
tags:
- description: 'The Adoption Advisor API provides visibility into which Prisma Cloud capabilities you have adopted and

    helps you uncover security capabilities that you not have yet explored.'
  name: Adoption Advisor
paths:
  /adoptionadvisor/checks:
    get:
      description: Returns data about the Prisma Cloud capabilities you've adopted and identifies available capabilities not yet utilized.
      operationId: get-adoption-check-score
      parameters:
      - description: true = Show formula used to calculate capability use. Default is false.
        in: query
        name: showFormula
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AdoptionAdvisorChecksResponseModel'
          description: Complete list of adoption check breakdowns
        '202':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AdoptionAdvisorChecksResponseModel'
          description: Request accepted. Partial list of adoption check breakdown response as some scores are still being computed
        '206':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AdoptionAdvisorChecksResponseModel'
          description: Partial list of adoption check breakdown response. Errors were encountered in one or more computations
        '400':
          description: bad_request
        '401':
          description: unauthorized_access
      security:
      - x-redlock-auth: []
      summary: Get Adoption Check Score
      tags:
      - Adoption Advisor
  /adoptionadvisor/report:
    get:
      operationId: adoption-advisor-get-all-report-configs
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel'
                type: array
          description: successful operation
        '400':
          description: bad_request
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Get Adoption Advisor Report Configs
      tags:
      - Adoption Advisor
    post:
      operationId: create-adoption-advisor-config
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel'
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel'
          description: successful operation
        '400':
          description: bad_request
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Create Adoption Advisor Report Config
      tags:
      - Adoption Advisor
  /adoptionadvisor/report/generate:
    post:
      operationId: adoption-advisor-create-report
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel'
      responses:
        '200':
          description: successful operation
        '400':
          description: bad_request
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Create and Get an Adoption Advisor Report on demand
      tags:
      - Adoption Advisor
  /adoptionadvisor/report/{reportId}:
    put:
      operationId: adoption-advisor-update-report
      parameters:
      - in: path
        name: reportId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel'
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AdoptionAdvisorReportGenerationConfigApiModel'
          description: successful operation
        '400':
          description: bad_request
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Update Adoption Advisor Report
      tags:
      - Adoption Advisor
    delete:
      operationId: adoption-advisor-delete-report
      parameters:
      - in: path
        name: reportId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: bad_request
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Delete Adoption Advisor Report
      tags:
      - Adoption Advisor
  /adoptionadvisor/report/{reportId}/download:
    get:
      operationId: adoption-advisor-download-latest-report
      parameters:
      - in: path
        name: reportId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: bad_request
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Download Latest Adoption Advisor Report
      tags:
      - Adoption Advisor
  /adoptionadvisor/report/{reportId}/{createdOn}/download:
    get:
      operationId: adoption-advisor-download-report-by-id-and-creation-time
      parameters:
      - in: path
        name: reportId
        required: true
        schema:
          type: string
      - in: path
        name: createdOn
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: success
        '204':
          description: pending
        '400':
          description: error
        '404':
          description: not_found / error
      security:
      - x-redlock-auth: []
      summary: Download Adoption Advisor Report
      tags:
      - Adoption Advisor
components:
  schemas:
    AdoptionAdvisorReportGenerationConfigApiModel:
      description: Model for Adoption Advisor report generation configuration
      properties:
        emailIds:
          description: List of email addresses to receive notification
          items:
            type: string
          type: array
        enabled:
          description: Report scheduling enabled
          type: boolean
        id:
          description: Report ID
          type: string
        name:
          description: Report name
          type: string
        schedule:
          description: Recurring report schedule in RRULE format
          type: string
        widgetDays:
          description: Widget days--30, 60, or 90
          format: int32
          type: integer
      required:
      - emailIds
      - enabled
      - name
      - schedule
      - widgetDays
      type: object
    AdoptionAdvisorChecksResponseModel:
      description: Model for Adoption Advisor Checks Response
      properties:
        errors:
          description: List of errors. Each item has the title, status, detail, and parameters of each error.
          items:
            $ref: '#/components/schemas/AdoptionScoreProblemModel'
          type: array
        response:
          description: List of Adoption Advisor Checks Computation Responses
          items:
            $ref: '#/components/schemas/AdoptionAdvisorChecksComputationResponseModel'
          type: array
      type: object
    AdoptionAdvisorChecksComputationResponseModel:
      description: Model for Adoption Advisor Checks Computation Response
      properties:
        adoptionAdvisorChecks:
          description: List of Adoption Advisor checks
          items:
            $ref: '#/components/schemas/AdoptionAdvisorCheckModel'
          type: array
        creationTimeMillis:
          description: Creation time in milliseconds
          format: int64
          type: integer
        customData:
          additionalProperties:
            items:
              $ref: '#/components/schemas/CustomDataCountObjectModel'
            type: array
          description: Custom data objects map
          type: object
        customerName:
          description: Customer name
          type: string
      type: object
    AdoptionScoreProblemModel:
      description: Model for Adoption Score Problem
      properties:
        detail:
          description: Error details
          type: string
        status:
          description: Status code
          type: string
        title:
          description: Title of error
          type: string
      type: object
    AdoptionAdvisorCheckModel:
      description: Model for Adoption Advisor Check
      properties:
        category:
          description: List of categories for this check
          items:
            type: string
          type: array
        checkName:
          description: Check name
          type: string
        createdTime:
          description: Creation time in milliseconds
          format: int64
          type: integer
        errors:
          description: List of errors. Each item has the title, status, detail, and parameters of each error.
          items:
            $ref: '#/components/schemas/AdoptionScoreProblemModel'
          type: array
        executionTimeMillis:
          description: Execution time in milliseconds
          format: int64
          type: integer
        internalKey:
          description: Internal key
          type: string
        module:
          description: Module
          type: string
        pillar:
          description: List of pillars for this check
          items:
            type: string
          type: array
        stage:
          description: List of stages for this check
          items:
            type: string
          type: array
        status:
          description: Status of completion or calculation for this check
          enum:
          - COMPLETE
          - IN_COMPLETE
          - ERROR
          - NOT_APPLICABLE
          - IN_PROGRESS
          type: string
      type: object
    CustomDataCountObjectModel:
      description: Model for Custom Data Category By Type
      properties:
        label:
          description: Label for custom object
          type: string
        total:
          description: Total number counted
          format: int64
          type: integer
      type: object
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
