openapi: 3.2.0
info:
  title: Dig Security public Classification API
  description: Dig Security public API. 12 operations across 12 paths.
  version: 1.0.0
  x-description-source: desc/intro.md
servers:
- url: https://api.dig.security
  description: Dig Security public API
- url: PATH_TO_CONSOLE
tags:
- name: Classification
  description: Classification. 3 operations in this definition.
  x-description-source: desc/classification/classification.md
paths:
  /v1/classification/asset-files/id:
    post:
      tags:
      - Classification
      operationId: post-classification-asset-files-id
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
          default: '1'
      - name: size
        in: query
        required: false
        schema:
          maximum: 150
          type: integer
          default: 20
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFilesFilterBodyRequest'
      responses:
        '200':
          description: Returns list of asset files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigFileThirdPartyBundle'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigFileThirdPartyBundle'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigFileThirdPartyBundle'
      summary: Get Asset files
      description: 'Get Asset files. POST /v1/classification/asset-files/id on the Classification API. Takes 3 query parameters, an optional request body. Documented responses: 200, 400, 404.'
      x-description-source: desc/classification/asset_files_id_post.md
  /v1/classification/asset-fields/id:
    post:
      tags:
      - Classification
      operationId: post-classification-asset-fields-id
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: false
        schema:
          type: string
          default: '1'
      - name: size
        in: query
        required: false
        schema:
          maximum: 150
          type: integer
          default: 20
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFieldsFilterBodyRequest'
      responses:
        '200':
          description: Returns list of asset fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DBContents'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DBContents'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DBContents'
      summary: List Asset Fields
      description: 'List Asset Fields. POST /v1/classification/asset-fields/id on the Classification API. Takes 3 query parameters, an optional request body. Documented responses: 200, 400, 404.'
      x-description-source: desc/classification/asset_fields_id_post.md
  /v1/classification/data-types:
    get:
      tags:
      - Classification
      operationId: get-classification-data-types
      parameters:
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns list of data types for company
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      summary: List Found Data Types
      description: 'List Found Data Types. GET /v1/classification/data-types on the Classification API. Documented responses: 200.'
      x-description-source: desc/classification/data_types_id_get.md
components:
  schemas:
    FieldLabelFilter:
      type: object
      properties:
        equals:
          type: string
    DataTypeAnyInFilter:
      type: object
      properties:
        anyIn:
          type: array
          items:
            type: string
    LabelFilter:
      type: object
      properties:
        anyIn:
          type: array
          items:
            type: string
        allIn:
          type: array
          items:
            type: string
        hasAny:
          type: array
          items:
            type: string
    ListFilesFilterBodyRequest:
      required:
      - dataType
      - fileExtension
      - fileName
      - filePath
      - fileType
      - ignored
      - isMalicious
      - label
      - public
      - shadowBackup
      type: object
      properties:
        dataType:
          $ref: '#/components/schemas/DataTypeFilter'
        label:
          $ref: '#/components/schemas/LabelFilter'
        fileName:
          $ref: '#/components/schemas/FileNameFilter'
        fileExtension:
          $ref: '#/components/schemas/FileExtensionFilter'
        filePath:
          $ref: '#/components/schemas/FilePathFilter'
        fileType:
          $ref: '#/components/schemas/FileTypeFilter'
        public:
          $ref: '#/components/schemas/PublicFilter'
        isMalicious:
          $ref: '#/components/schemas/IsMaliciousFilter'
        shadowBackup:
          $ref: '#/components/schemas/ShadowBackup'
        ignored:
          $ref: '#/components/schemas/IgnoredFilter'
    FileNameFilter:
      type: object
      properties:
        equals:
          type: string
    FilePathFilter:
      type: object
      properties:
        contains:
          type: string
    DBContents:
      required:
      - fields
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/StructuredSemiStructuredField'
    StructuredSemiStructuredField:
      required:
      - name
      type: object
      properties:
        name:
          type: string
        dataTypes:
          type: array
          items:
            $ref: '#/components/schemas/ContentTypeWithDataTypePercentage'
        path:
          type: string
        tableName:
          type: string
        tableSize:
          type: string
        databaseName:
          type: string
        collectionName:
          type: string
        type:
          type: string
        schemaName:
          type: string
    DigFileThirdPartyAPI:
      required:
      - dataTypes
      - filename
      - isDeleted
      - isMalicious
      - labels
      - openToWorld
      - path
      - size
      - type
      type: object
      properties:
        filename:
          type: string
        path:
          type: string
        type:
          type: string
        size:
          type: string
        openToWorld:
          type: boolean
        isDeleted:
          type: boolean
        isMalicious:
          type: boolean
        dataTypes:
          type: array
          items:
            $ref: '#/components/schemas/DigFileDataTypeAPI'
        labels:
          type: array
          items:
            type: string
        isDbDump:
          type: boolean
    FileTypeFilter:
      type: object
      properties:
        anyIn:
          type: array
          items:
            type: string
            enum:
            - AUDIO
            - TEXT
            - IMAGE
            - VIDEO
            - DOCUMENT
            - DATA_FORMAT
            - EXECUTABLE
            - CREDENTIAL
            - LOGS
            - SNAPSHOTS
            - CODE
            - COMPRESSED
            - OTHER
        allIn:
          type: array
          items:
            type: string
            enum:
            - AUDIO
            - TEXT
            - IMAGE
            - VIDEO
            - DOCUMENT
            - DATA_FORMAT
            - EXECUTABLE
            - CREDENTIAL
            - LOGS
            - SNAPSHOTS
            - CODE
            - COMPRESSED
            - OTHER
    FieldPathFilter:
      type: object
      properties:
        contains:
          type: string
    IgnoredFilter:
      type: object
      properties:
        equals:
          type: boolean
    FileExtensionFilter:
      type: object
      properties:
        equals:
          type: string
    ContentTypeWithDataTypePercentage:
      required:
      - hitPercentage
      - label
      - name
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        hitPercentage:
          type: integer
          format: int64
        maskedValues:
          type: array
          items:
            $ref: '#/components/schemas/ValueDetails'
    ValueDetails:
      required:
      - masked_value
      type: object
      properties:
        masked_value:
          type: string
        line:
          type: integer
          format: int64
    FieldNameFilter:
      type: object
      properties:
        contains:
          type: string
    IsMaliciousFilter:
      type: object
      properties:
        equals:
          type: boolean
    DataTypeFilter:
      type: object
      properties:
        allIn:
          type: array
          items:
            type: string
        anyIn:
          type: array
          items:
            type: string
    FieldTypeFilter:
      type: object
      properties:
        contains:
          type: string
        equals:
          type: string
    ListFieldsFilterBodyRequest:
      required:
      - dataType
      - fieldName
      - fieldPath
      - fieldType
      - label
      type: object
      properties:
        dataType:
          $ref: '#/components/schemas/DataTypeAnyInFilter'
        label:
          $ref: '#/components/schemas/FieldLabelFilter'
        fieldType:
          $ref: '#/components/schemas/FieldTypeFilter'
        fieldPath:
          $ref: '#/components/schemas/FieldPathFilter'
        fieldName:
          $ref: '#/components/schemas/FieldNameFilter'
    DigFileDataTypeAPI:
      required:
      - count
      - label
      - name
      - valueDetails
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        count:
          type: integer
          format: int64
        valueDetails:
          type: array
          items:
            $ref: '#/components/schemas/ValueDetails'
    PublicFilter:
      type: object
      properties:
        equals:
          type: boolean
    DigFileThirdPartyBundle:
      required:
      - files
      - filesCount
      type: object
      properties:
        files:
          type: array
          items:
            $ref: '#/components/schemas/DigFileThirdPartyAPI'
        filesCount:
          type: integer
          format: int64
    ShadowBackup:
      type: object
      properties:
        equals:
          type: boolean
