openapi: 3.2.0
info:
  title: Palo Alto Networks Devices API
  version: '1.0'
  description: 'Operations tagged Devices across 2 of this provider''s published API definitions: palo-alto-access-browser-mgmt-prismaaccess-browser-management-latest-openapi.yaml, palo-alto-scm-config-cloudngfw-setup-config-setup-feb-v1-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.strata.paloaltonetworks.com/config/setup/v1
  description: Current
tags:
- name: Devices
paths:
  /seb-api/v1/devices:
    get:
      summary: Returns a list of devices
      description: Retrieve the devices details through this Application Programming Interface endpoint.
      operationId: GetSeb-apiV1Devices
      responses:
        '200':
          description: A list of devices with pagination info
          content:
            application/json:
              schema:
                type: object
                properties:
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
        '400':
          description: Bad request
        '500':
          description: Internal server error
      parameters:
      - name: limit
        in: query
        description: Number of devices to return
        required: false
        schema:
          type: integer
          format: int32
      - name: device.hostname
        in: query
        description: Filter by hostname
        required: false
        schema:
          type: string
      - name: user.name
        in: query
        description: Filter by user name
        required: false
        schema:
          type: string
      - name: device.os_type
        in: query
        description: Filter by OS type
        required: false
        schema:
          type: string
      - name: device.first_seen_gte
        in: query
        description: Filter by first seen time or after
        required: false
        schema:
          type: string
          format: date-time
      - name: device.last_seen_lte
        in: query
        description: Filter by last seen time or before
        required: false
        schema:
          type: string
          format: date-time
      - name: device.last_seen_gte
        in: query
        description: Filter by last seen time or after
        required: false
        schema:
          type: string
          format: date-time
      - name: device.type
        in: query
        description: Filter by device type
        required: false
        schema:
          type: string
      - name: device.firewall_status
        in: query
        description: Filter by firewall status
        required: false
        schema:
          type: string
      - name: device.screen_lock_status
        in: query
        description: Filter by screen lock status
        required: false
        schema:
          type: string
      - name: device.disk_encryption_status
        in: query
        description: Filter by disk encryption status
        required: false
        schema:
          type: string
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - name: sort
        in: query
        description: The field to sort by
        required: false
        schema:
          type: string
          enum:
          - device.hostname
          - device.os_type
          - device.browser_version
          - device.first_seen
          - device.last_seen
          - user.name
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      tags:
      - Devices
      security:
      - BearerAuth: []
  /seb-api/v1/devices/{id}:
    get:
      summary: Returns a device by ID
      description: Retrieve the {id} details through this Application Programming Interface endpoint.
      operationId: GetSeb-apiV1Devicesbyid
      responses:
        '200':
          description: A device
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '404':
          description: Device not found
      parameters:
      - name: id
        in: path
        description: Device ID
        required: true
        schema:
          type: string
      tags:
      - Devices
      security:
      - BearerAuth: []
  /seb-api/v1/devices/archive:
    post:
      summary: Archive devices
      description: Archive one or more devices by changing their status to archived.
      operationId: PostSeb-apiV1DevicesArchive
      responses:
        '200':
          description: Devices archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceArchiveResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      security:
      - BearerAuth: []
  /seb-api/v1/devices/restore:
    post:
      summary: Restore archived devices
      description: Restore one or more archived devices by changing their status to active.
      operationId: PostSeb-apiV1DevicesRestore
      responses:
        '200':
          description: Devices restored successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRestoreResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      security:
      - BearerAuth: []
  /seb-api/v1/devices/suspend:
    post:
      summary: Suspend devices
      description: Suspend one or more devices by changing their status to suspended.
      operationId: PostSeb-apiV1DevicesSuspend
      responses:
        '200':
          description: Devices suspended successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceSuspendResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      security:
      - BearerAuth: []
  /seb-api/v1/devices/resume:
    post:
      summary: Resume suspended devices
      description: Resume one or more suspended devices by changing their status to active.
      operationId: PostSeb-apiV1DevicesResume
      responses:
        '200':
          description: Devices resumed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResumeResponse'
        '400':
          description: Bad request - invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      security:
      - BearerAuth: []
  /seb-api/v1/devices/delete:
    post:
      summary: Delete devices
      description: Delete one or more devices permanently. Suspended devices cannot be deleted - they must be resumed first.
      operationId: PostSeb-apiV1DevicesDelete
      responses:
        '200':
          description: Devices deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDeleteResponse'
        '400':
          description: Bad request - invalid input or attempting to delete suspended devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      security:
      - BearerAuth: []
  /seb-api/v1/devices/force-reauth:
    post:
      summary: Force re-authentication for devices
      description: Force re-authentication on one or more specific devices. Upon execution, targeted devices will require their user to re-authenticate to the browser.
      operationId: PostSeb-apiV1DevicesForce-reauth
      responses:
        '200':
          description: Force re-authentication initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceForceReauthResponse'
        '400':
          description: Bad request - invalid input or too many devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: One or more devices not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceStatusChangeRequest'
      security:
      - BearerAuth: []
  /devices:
    get:
      summary: List devices
      description: 'Retrieve a list of devices.

        '
      tags:
      - Devices
      operationId: ListDevices
      parameters:
      - $ref: '#/components/parameters/pagination-optional'
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/name-optional'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/devices'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
          description: OK
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/setup/v1
      description: Current
  /devices/{id}:
    get:
      summary: Get a device
      description: 'Retrieve an existing device.

        '
      tags:
      - Devices
      operationId: GetDeviceByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/devices'
          description: OK
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    put:
      summary: Update a device
      description: 'Update an existing device.

        '
      tags:
      - Devices
      operationId: UpdateDeviceByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/devices-put'
        description: The `device` resource definition.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/devices'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/setup/v1
      description: Current
components:
  schemas:
    DevicePlatform:
      type: string
      description: Device platform
      enum:
      - Desktop Browser
      - Mobile Browser
      - Browser Extension
      - Unknown
    DeviceStatusChangeRequest:
      type: object
      properties:
        deviceIds:
          type: array
          items:
            type: string
          description: List of device IDs
          minItems: 1
      required:
      - deviceIds
    DeviceForceReauthResponse:
      type: object
      properties:
        forcedReauthDeviceIds:
          type: array
          items:
            type: string
          description: List of device IDs that were force re-authenticated
        message:
          type: string
          example: Force re-authentication initiated for 2 devices
    DiskEncryptionProduct:
      type: object
      description: Disk encryption product information
      required:
      - vendorName
      - productName
      - fullyEncrypted
      properties:
        vendorName:
          $ref: '#/components/schemas/DiskEncryptionVendorName'
        productName:
          type: string
          description: Product name of the disk encryption product
    BrowserSelfProtectionModule:
      type: object
      description: Browser self-protection module
      properties:
        windows:
          type: object
          description: Windows driver info
          properties:
            status:
              $ref: '#/components/schemas/BrowserSelfProtectionWindowsDriverStatus'
    CrowdstrikeZTAPosture:
      type: object
      required:
      - score
      - sensorScore
      - osScore
      - CID
      properties:
        score:
          type: integer
        sensorScore:
          type: integer
        osScore:
          type: integer
        CID:
          type: string
    DeviceDeleteResponse:
      type: object
      properties:
        deletedDeviceIds:
          type: array
          items:
            type: string
          description: List of device IDs that were deleted
        message:
          type: string
          example: 3 devices deleted successfully
    FirewallVendorName:
      type: string
      description: Firewall vendor name
      enum:
      - Agnitum Ltd.
      - NETGATE Technologies s.r.o.
      - ParetoLogic, Inc.
      - LANDESK Software, Inc.
      - AT&T
      - Bitdefender
      - Mysecuritywin
      - G Data Software AG
      - Max Secure Software
      - AhnLab, Inc.
      - AVG Technologies CZ, s.r.o.
      - Symantec Corporation
      - Kaspersky Lab
      - Avira GmbH
      - Panda Security, S.L.
      - Webroot Software, Inc.
      - Quick Heal Technologies (P) Ltd.
      - nProtect, Inc.
      - F-Secure Corporation
      - ThreatTrack Security, Inc.
      - McAfee, Inc.
      - eEye Digital Security
      - Arcabit
      - BeyondTrust, Inc.
      - Telefónica S.A.
      - GEN-X Technologies
      - K7 Computing Pvt Ltd
      - Faronics Corporation
      - TELUS
      - Kingsoft Corporation
      - BiniSoft.org
      - GFI Software Ltd.
      - TG Soft S.a.s.
      - Scandium Security Inc.
      - Datpol
      - Tech Guard Technologies
      - NCP engineering GmbH
      - SoftSphere Technologies
      - Quick Guard Technologies
      - Emsisoft Ltd
      - Datalink Industrial Corporation
      - COMODO Security Solutions
      - MicroWorld Technologies Inc.
      - AVAST Software a.s.
      - ESET
      - Beijing Rising Information Technology Co., Ltd.
      - Smart Heal
      - Rogers
      - Check Point Software Technologies
      - CellSecurity
      - AS3 Soft4U
      - Ates Software & Internet Technologies
      - MSecure Data Labs
      - SGA SOLUTIONS
      - ALLIT Service, LLC.
      - adaware
      - SentinelOne
      - CrowdStrike, Inc.
      - CSIS Security Group
      - SOURCENEXT CORPORATION
      - Microsoft Corporation
      - SecureMix LLC
      - Swiss security laboratory.
      - AsiaInfo, Inc.
      - INCA Internet Co., Ltd.
      - ESTsoft Corp.
      - Sunrise Antivirus
      - Hauri, Inc.
      - SecuraShield India Pvt. Ltd.
      - NIFTY Corporation
      - Trend Micro, Inc.
      - Fujitsu Services Ltd.
      - LogMeIn, Inc.
      - Stormshield
      - Palo Alto Networks, Inc.
      - Chili Security
      - Sophos Limited
      - NortonLifeLock Inc
      - Massachusetts Institute of Technology
      - WatchGuard Technologies Inc
      - Beijing Huorong Network Technology Co., Ltd.
      - Le Minh Thanh
      - Qi An Xin Group
      - Avast Software s.r.o.
      - TEHTRIS
      - Avira Operations GmbH & Co. KG
      - WithSecure Corporation
      - Musarubra US LLC.
      - GoTo, Inc.
      - INCA Internet Co.,Ltd.
      - SECURA WEB DATA LABS PVT LTD
      - Broadcom
      - Gen Digital Inc.
      - Actipace Private Limited
      - Siyano Labs Pvt. Ltd.
      - Bkav Corporation
      - CMC InfoSec
      - Total Defense, Inc.
      - TrustPort, a.s.
      - Fortinet Inc.
      - Avanquest Software
      - Doctor Web, Ltd.
      - Security Software Limited
      - BullGuard Ltd.
      - HDD Labs. Inc
      - EarthLink, Inc.
      - Roboscan Inc
      - Thirtyseven4
      - PC Security Shield
      - CA, Inc.
      - Privacyware/PWI, Inc.
      - Károly Pados
      - PeerBlock, LLC
      - ProgrammerWorld.Net
      - Jetico, Inc.
      - Tiny Software Inc.
      - Sphinx Software
      - Defender Pro
      - Soft4Ever
      - Lavasoft
      - Norman AS
      - PC Tools Software
      - Apple Inc.
    LocationMethod:
      type: string
      description: Location detection method
      enum:
      - GeoIp
      - Location services
      - Unknown
    DeviceEPP:
      type: object
      required:
      - products
      - enabled
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/EPP'
        enabled:
          type: boolean
    Device:
      type: object
      properties:
        id:
          type: string
          format: string
          description: Unique identifier
        externalId:
          type: string
          format: string
          description: External identifier
        status:
          type: string
          description: Device status
          enum:
          - active
          - archived
          - suspended
        firstSeen:
          type: string
          format: date-time
          description: First seen time
        lastSeen:
          type: string
          format: date-time
          description: Last seen time
        osType:
          type: string
          description: Operating System type
          enum:
          - windows
          - macOS
          - linux
          - ios
          - android
          - unknown
        osVersion:
          type: string
          description: OS Version
        osDisplayName:
          type: string
          description: OS Display Name
        chromeosVersion:
          type: string
          description: ChromeOS version (only for ChromeOS devices)
        locationMethod:
          $ref: '#/components/schemas/LocationMethod'
        arch:
          type: string
          description: Architecture
        nativeArch:
          type: string
          description: Native Architecture
        hostname:
          type: string
          description: Hostname
        model:
          type: string
          description: Device Model
        serialNumber:
          type: string
          description: Serial Number
        mobileVendor:
          type: string
          description: Mobile device vendor/manufacturer (e.g., Samsung, Apple)
        mobileHardware:
          type: string
          description: Mobile device hardware identifier (e.g., iPhone14,2, SM-G998B)
        mobileIsRooted:
          type: boolean
          description: Whether the mobile device is rooted/jailbroken
        macAddresses:
          type: array
          items:
            type: string
          description: MAC Addresses
        screenLockStatus:
          type: string
          description: Screen Lock Status
          enum:
          - ScreenLockStatusUnknown
          - ScreenLockStatusDisabled
          - ScreenLockStatusEnabled
        diskEncryptionStatus:
          type: string
          description: Disk Encryption Status
          enum:
          - DiskEncryptionStatusUnknown
          - DiskEncryptionStatusDisabled
          - DiskEncryptionStatusEnabled
        diskEncryptionDetails:
          $ref: '#/components/schemas/DeviceDiskEncryptionDetails'
        firewallStatus:
          type: string
          description: Firewall Status
          enum:
          - FireWallStatusUnknown
          - FireWallStatusDisabled
          - FireWallStatusEnabled
        firewallDetails:
          $ref: '#/components/schemas/DeviceFirewallDetails'
        userAgent:
          type: string
          description: User Agent
        ip:
          type:
          - string
          - 'null'
          description: IP Address
        talonExtensionVersion:
          type: string
          description: Talon Extension Version
        browserVersion:
          type: string
          description: Browser Version
        browserBrand:
          $ref: '#/components/schemas/DeviceBrowserBrand'
        deviceType:
          type: string
          description: Device Type
          enum:
          - unknown
          - desktop
          - laptop
          - vm
          - smartphone
          - tablet
          - chromebook
        platform:
          $ref: '#/components/schemas/DevicePlatform'
        deviceEPP:
          $ref: '#/components/schemas/DeviceEPP'
        devicePassword:
          $ref: '#/components/schemas/DevicePasswordPosture'
        crowdstrikeZTA:
          $ref: '#/components/schemas/CrowdstrikeZTAPosture'
        systemIntegrity:
          $ref: '#/components/schemas/SystemIntegrityPosture'
        isRunningOnRemoteSession:
          type: boolean
          description: Whether the device is running on a remote session (e.g., RDP, VNC)
        deviceManagement:
          $ref: '#/components/schemas/DeviceManagement'
        browserSelfProtectionModule:
          $ref: '#/components/schemas/BrowserSelfProtectionModule'
        isOSUserAdmin:
          type: boolean
          description: OS user is admin
        isBrowserInstalledAsAdmin:
          type: boolean
          description: Browser installed as admin
        user:
          $ref: '#/components/schemas/User'
      required:
      - id
      - status
      - firstSeen
      - lastSeen
      - osType
      - osDisplayName
      - platform
      - browserBrand
      - arch
      - nativeArch
      - hostname
      - model
      - serialNumber
      - macAddresses
      - screenLockStatus
      - diskEncryptionStatus
      - firewallStatus
      - isBrowserInstalledAsAdmin
      - userAgent
      - talonExtensionVersion
      - browserVersion
      - deviceType
      - osVersion
      - externalId
    DeviceManagementSystem:
      type: object
      properties:
        system:
          type: string
          enum:
          - ad
          - azureAd
          - intune
          - jamf
        details:
          type: string
    PageInfo:
      type: object
      properties:
        hasNextPage:
          type: boolean
          description: When paginating forwards, are there more items?
        cursor:
          type:
          - string
          - 'null'
          description: When paginating forwards, the cursor to continue.
      required:
      - hasNextPage
    BrowserSelfProtectionWindowsDriverStatus:
      type: string
      description: Windows driver status
      default: Unknown
      enum:
      - Unknown
      - Protected
      - Inactive
      - UnprotectedArmIncompatible
      - UnprotectedUserInstall
      - Unprotected
    User:
      type: object
      properties:
        id:
          type: string
          format: string
          description: Unique identifier
        externalId:
          type: string
          format: string
          description: External identifier
        email:
          type: string
          description: Email
        lastSeen:
          type: string
          format: date-time
          description: Last seen time
        firstSeen:
          type: string
          format: date-time
          description: First seen time
        name:
          type: string
          description: Name
        profilePictureURL:
          type: string
          description: Profile Picture URL
        deletedTime:
          type: string
          format: date-time
          description: Deleted Time
        status:
          $ref: '#/components/schemas/UserStatus'
        provider:
          type: string
          description: Provider
          enum:
          - saml
          - local
          - oidc
        deviceIds:
          type: array
          description: Device IDs
          items:
            type: string
        userGroups:
          type: array
          description: User Groups
          items:
            $ref: '#/components/schemas/UserGroup'
      required:
      - id
      - email
      - lastSeen
      - firstSeen
      - name
      - profilePictureURL
      - deletedTime
      - status
      - provider
      - externalId
    DeviceDiskEncryptionDetails:
      type: object
      description: Disk encryption details for the device
      required:
      - products
      properties:
        products:
          type: array
          description: List of disk encryption products detected on the device
          items:
            $ref: '#/components/schemas/DiskEncryptionProduct'
    Order:
      type: string
      description: The sort order
      enum:
      - asc
      - desc
    DeviceResumeResponse:
      type: object
      properties:
        resumedDeviceIds:
          type: array
          items:
            type: string
          description: List of device IDs that were resumed
        message:
          type: string
          example: 3 devices resumed successfully
    UserGroup:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier
        name:
          type: string
          description: Name
        lastUpdated:
          type: string
          format: date-time
          description: Last updated
        createdAt:
          type: string
          format: date-time
          description: Created at
        provider:
          type: string
          enum:
          - sso
          - local
          description: Provider
      required:
      - id
      - name
    DiskEncryptionVendorName:
      type: string
      description: Disk encryption vendor name
      enum:
      - 2BrightSparks Pte Ltd
      - Acronis
      - Adolix
      - Apimac, software
      - Apple Inc.
      - archicrypt
      - Arcserve (USA), LLC
      - Ashampoo GmbH & Co. KG
      - AVG Technologies CZ, s.r.o.
      - Axantum Software AB
      - AxCrypt AB
      - Beachhead Solutions
      - Becrypt Ltd
      - BeLight Software Ltd.
      - Bitdefender
      - Braincell consult & research GmbH
      - Check Point Software Technologies
      - CipherShed
      - COMODO Security Solutions
      - CoSoSys Ltd.
      - CP-Lab.com
      - Crypto Systems, Inc.
      - Cypherix Software Pvt. Ltd.
      - DATEV eG
      - Dekart
      - Dell Inc.
      - Deltacrypt Technologies Inc
      - DESlock Limited
      - Digital Millenium Inc.
      - DoGoodSoft
      - EgoSecure
      - EGSoftWeb
      - ENC Security Systems
      - Encrypt4all Software
      - ESET
      - Evgeny Korovin
      - EXLADE, Inc.
      - Exosphere Labs, Inc.
      - FileEncryption.org.
      - G Data Software AG
      - GiliSoft International LLC
      - GitHub, Inc.
      - GitLab Inc.
      - Hewlett-Packard
      - Hitek Software LLC
      - HummerStudio
      - IDRIX
      - InterCrypto Ltd
      - Inv Softworks LLC
      - Jetico, Inc.
      - Kaspersky Lab
      - Kovell Ventures Ltd.
      - Kromtech
      - Kruptos 2 Software
      - Lavasoft
      - MadowSoft Software
      - Max Secure Software
      - McAfee, Inc.
      - Microsoft Corporation
      - MicroWorld Technologies Inc.
      - Mnemonic Security Inc.
      - MoRUN.net
      - MSecure Data Labs
      - NCH Software
      - New Softwares.net
      - Nomadesk NV
      - ntldr
      - Packetizer, Inc.
      - Panda Security, S.L.
      - PC Dynamics
      - PDFKey
      - PRIMX
      - R-tools Technology, Inc.
      - Ranquel Technologies
      - RentAnAdviser
      - Rogers
      - Safetica Technologies
      - Sarah Dean
      - SecurStar GmbH
      - SoftWinter
      - Solid Programs
      - Sophos Limited
      - Stoneage Softwares
      - SUSE LINUX GmbH
      - Symantec Corporation
      - TEHTRIS
      - Tesline-Service SRL
      - The Gpg4win Project
      - Trellix
      - Trend Micro, Inc.
      - TrueCrypt Foundation
      - TrustPort, a.s.
      - Utimaco Safeware AG
      - Vassil Arabadjiev
      - WARDWIZ
      - Webminds, Inc.
      - WinEncrypt
      - WinMagic Inc.
      - Zmanda, Inc.
    SystemIntegrityPostureServices:
      type: object
      properties:
        driversSigningEnforcement:
          type: boolean
        kernelDebugger:
          type: boolean
        secureBoot:
          type: boolean
        SIP:
          type: boolean
        gatekeeper:
          type: boolean
    DeviceRestoreResponse:
      type: object
      properties:
        restoredDeviceIds:
          type: array
          items:
            type: string
          description: List of device IDs that were restored
        message:
          type: string
          example: 3 devices restored successfully
    DeviceManagement:
      type: object
      required:
      - status
      - systems
      properties:
        status:
          type: string
          enum:
          - managed
          - unmanaged
        systems:
          type: array
          description: Device Management
          items:
            $ref: '#/components/schemas/DeviceManagementSystem'
    UserStatus:
      type: string
      description: User status
      enum:
      - active
      - suspended
    DeviceFirewallDetails:
      type: object
      description: Firewall details for the device
      required:
      - products
      properties:
        products:
          type: array
          description: List of firewall products detected on the device
          items:
            $ref: '#/components/schemas/FirewallProduct'
    SystemIntegrityPostureStatus:
      type: string
      description: System integrity status
      enum:
      - pass
      - fail
      - unknown
    DeviceArchiveResponse:
      type: object
      properties:
        archivedDeviceIds:
          type: array
          items:
            type: string
          description: List of device IDs that were archived
        message:
          type: string
          example: 3 devices archived successfully
    DeviceSuspendResponse:
      type: object
      properties:
        suspendedDeviceIds:
          type: array
          items:
            type: string
          description: List of device IDs that were suspended
        message:
          type: string
          example: 3 devices suspended successfully
    FirewallProduct:
      type: object
      description: Firewall product information
      required:
      - vendorName
      - productName
      - enabled
      properties:
        vendorName:
          $ref: '#/components/schemas/FirewallVendorName'
        productName:
          type: string
          description: Product name of the firewall
        enabled:
          type: boolean
          description: Whether the firewall is enabled
    DevicePasswordPosturePolicy:
      type: object
      required:
      - complexityReq
      - maxPasswordAge
      - minPasswordLength
      properties:
        complexityReq:
          type: boolean
        maxPasswordAge:
          type: integer
        minPasswordLength:
          type: integer
    ErrorResponse:
      type: object
      required:
      - message
      properties:
        error:
          type: string
        message:
          type: string
        missingDeviceIds:
          type: array
          items:
            type: string
          description: List of device IDs that were not found (only present for device not found errors)
        missingUserIds:
          type: array
          items:
            type: string
          description: List of user IDs that were not found (only present for user not found errors)
    DeviceBrowserBrand:
      type: string
      description: Browser brand
      enum:
      - Arc
      - Brave
      - Chrome
      - Edge
      - Opera
      - Dia
      - Comet
      - Prisma Browser
      - Unknown
    EPP:
      type: object
      required:
      - name
      - version
      - state
      properties:
        name:
          type: string
        version:
          type: string
        state:
          type: string
    DevicePasswordPosture:
      type: object
      required:
      - enabled
      - products
      properties:
        enabled:
          type: boolean
        passwordPolicy:
          $ref: '#/components/schemas/DevicePasswordPosturePolicy'
    SystemIntegrityPosture:
      type: object
      required:
      - status
      - services
      properties:
        status:
          $ref: '#/components/schemas/SystemIntegrityPostureStatus'
        services:
          $ref: '#/components/schemas/SystemIntegrityPostureServices'
    generic_error:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
    error_detail_cause_info:
      title: Cause Info
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    error_detail_cause_infos:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
    devices-put:
      type: object
      properties:
        display_name:
          type: string
          description: The display name of the device
        folder:
          type: string
          description: The folder containing the device
        description:
          type: string
          description: The description of the device
        labels:
          type: array
          items:
            type: string
          description: Labels assigned to the device
        snippets:
          type: array
          items:
            type: string
          description: Snippets associated with the device
    devices:
      type: object
      required:
      - name
      - id
      - folder
      properties:
        id:
          type: string
          readOnly: true
          description: The UUID of the device
        name:
          type: string
          description: The name of the device
        display_name:
          type: string
          description: The display name of the device
        folder:
          type: string
          description: The folder containing the device
        description:
          type: string
          description: The description of the device
        hostname:
          type: string
          readOnly: true
          description: The hostname of the device
        ip_address:
          type: string
          readOnly: true
          description: The IPv4 address of the device
        ipV6_address:
          type: string
          readOnly: true
          description: The IPv6 address of the device
        mac_address:
          type: string
          readOnly: true
          description: The MAC address of the device
        family:
          type: string
          readOnly: true
          description: The product family of the device
        model:
          type: string
          readOnly: true
          description: The model of the device
        labels:
          type: array
          items:
            type: string
          description: Labels assigned to the device
        snippets:
          type: array
          items:
            type: string
          description: Snippets associated with the device
        app_version:
          type: string
          readOnly: true
        threat_version:
          type: string
          readOnly: true
        anti_virus_version:
          type: string
          readOnly: true
        wf_ver:
          type: string
          readOnly: true
        iot_version:
          type: string
          readOnly: true
        url_db_type:
          type: string
          readOnly: true
        url_db_ver:
          type: string
          readOnly: true
        software_version:
          type: string
          readOnly: true
        vm_state:
          type: string
          readOnly: true
        gp_client_verion:
          type: string
          readOnly: true
        gp_data_version:
          type: string
          readOnly: true
        log_db_version:
          type: string
          readOnly: true
        uptime:
          type: string
          readOnly: true
        dev_cert_detail:
          type: string
          readOnly: true
        dev_cert_expiry_date:
          type: string
          readOnly: true
        ha_state:
          type: string
          readOnly: true
        ha_peer_serial:
          type: string
          readOnly: true
        ha_peer_state:
          type: string
          readOnly: true
        is_connected:
          type: boolean
          readOnly: true
        connected_since:
          type: string
          format: date-time
          readOnly: true
        app_release_date:
          type: string
          readOnly: true
        threat_release_date:
          type: string
          readOnly: true
        av_release_date:
          type: string
          readOnly: true
        wf_release_date:
          type: string
          readOnly: true
        iot_release_date:
          type: string
          readOnly: true
        license_match:
          type: boolean
          readOnly: true
        available_licensess:
          type: array
          items:
            type: object
            properties:
              issued:
                type: string
                format: date
                readOnly: true
              expires:
                type: string
                format: date
                readOnly: true
              feature:
                type: string
                readOnly: true
              authcode:
                type: string
                readOnly: true
          readOnly: true
        installed_licenses:
          type: array
          items:
            type: object
            properties:
              issued:
                type: string
                format: date
                readOnly: true
              expired:
                type: string
                readOnly: true
              expires:
                type: string
                readOnly: true
              feature:
                type: string
                readOnly: true
              authcode:
                type: string
                readOnly: true
          readOnly: true
  examples:
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: abcd-1234
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: abcd-1234
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: abcd-1234
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: abcd-1234
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: abcd-1234
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: abcd-1234
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: abcd-1234
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: abcd-1234
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: abcd-1234
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: abcd-1234
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: abcd-1234
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: abcd-1234
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: abcd-1234
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: abcd-1234
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: abcd-1234
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: abcd-1234
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: abcd-1234
  parameters:
    uuid:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The UUID of the resource
    pagination-optional:
      name: pagination
      in: query
      required: false
      schema:
        type: boolean
      description: The parameter to mention if the response should be paginated. By default, its set to false
    offset-optional:
      name: offset
      in: query
      required: false
      schema:
        type: integer
      description: The offset into the list of resources returned
    limit-optional:
      name: limit
      in: query
      required: false
      schema:
        type: integer
      description: The maximum number of resources to return
    name-optional:
      name: name
      in: query
      required: false
      schema:
        type: string
      description: The name of the resource
  responses:
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter your JWT Bearer token to authorize.
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- palo-alto-access-browser-mgmt-prismaaccess-browser-management-latest-openapi.yaml
- palo-alto-scm-config-cloudngfw-setup-config-setup-feb-v1-openapi.yaml
