openapi: 3.2.0
info:
  title: Palo Alto Networks Tenants API
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
  description: 'Operations tagged Tenants across 3 of this provider''s published API definitions: palo-alto-networks-tenants-api-openapi.yml, palo-alto-sase-5g-api-openapi-original.yml, palo-alto-sase-aggregate-monitoring-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.sase.paloaltonetworks.com/5g/v1
  description: SASE 5G Managed Services API production server.
- url: https://api.sase.paloaltonetworks.com/mt/monitor/v1
  description: SASE Aggregate Monitoring API production server.
security:
- oauth2Bearer: []
tags:
- name: Tenants
  description: Multi-tenant 5G configuration management.
paths:
  /tenants:
    get:
      operationId: list5GTenants
      summary: Palo Alto Networks List Multi-tenant 5G Configurations
      description: Returns the list of tenant configurations in the 5G security deployment. Each tenant entry defines the slice assignments and security policy bindings for a specific customer or business unit.
      tags:
      - Tenants
      responses:
        '200':
          description: 5G tenant configurations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant5G'
              examples:
                List5Gtenants200Example:
                  summary: Default list5GTenants 200 response
                  x-microcks-default: true
                  value:
                    total: 707
                    items:
                    - tenant_id: tenant-79ef053e
                      name: Primary Policy 73
                      description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                      assigned_slices:
                      - example-assigned_slices_item
                      - example-assigned_slices_item
                      default_policy_id: '861821'
                      created_at: '2025-12-16T10:55:16Z'
                      updated_at: '2024-10-16T22:09:31Z'
                    - tenant_id: tenant-79ef053e
                      name: Primary Policy 73
                      description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                      assigned_slices:
                      - example-assigned_slices_item
                      - example-assigned_slices_item
                      default_policy_id: '861821'
                      created_at: '2025-12-16T10:55:16Z'
                      updated_at: '2024-10-16T22:09:31Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5Gtenants401Example:
                  summary: Default list5GTenants 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5Gtenants403Example:
                  summary: Default list5GTenants 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5Gtenants500Example:
                  summary: Default list5GTenants 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: create5GTenant
      summary: Palo Alto Networks Create Multi-tenant 5G Configuration
      description: Creates a new tenant configuration for 5G security.
      tags:
      - Tenants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant5GRequest'
            examples:
              Create5GtenantRequestExample:
                summary: Default create5GTenant request
                x-microcks-default: true
                value:
                  name: Corporate Gateway 18
                  description: Malware configured network rule monitoring configured traffic violation.
                  assigned_slices:
                  - example-assigned_slices_item
                  default_policy_id: '449021'
      responses:
        '201':
          description: 5G tenant configuration created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
              examples:
                Create5Gtenant201Example:
                  summary: Default create5GTenant 201 response
                  x-microcks-default: true
                  value:
                    tenant_id: tenant-79ef053e
                    name: Primary Policy 73
                    description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                    assigned_slices:
                    - example-assigned_slices_item
                    - example-assigned_slices_item
                    default_policy_id: '861821'
                    created_at: '2025-12-16T10:55:16Z'
                    updated_at: '2024-10-16T22:09:31Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5Gtenant400Example:
                  summary: Default create5GTenant 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5Gtenant401Example:
                  summary: Default create5GTenant 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5Gtenant403Example:
                  summary: Default create5GTenant 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5Gtenant500Example:
                  summary: Default create5GTenant 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /tenants/{tenant_id}:
    get:
      operationId: get5GTenant
      summary: Palo Alto Networks Get 5G Tenant Configuration
      description: Returns full details for a specific 5G tenant configuration.
      tags:
      - Tenants
      parameters:
      - name: tenant_id
        in: path
        required: true
        description: Unique identifier of the 5G tenant configuration.
        schema:
          type: string
        example: tenant-79c02660
      responses:
        '200':
          description: 5G tenant configuration details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
              examples:
                Get5Gtenant200Example:
                  summary: Default get5GTenant 200 response
                  x-microcks-default: true
                  value:
                    tenant_id: tenant-79ef053e
                    name: Primary Policy 73
                    description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                    assigned_slices:
                    - example-assigned_slices_item
                    - example-assigned_slices_item
                    default_policy_id: '861821'
                    created_at: '2025-12-16T10:55:16Z'
                    updated_at: '2024-10-16T22:09:31Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5Gtenant401Example:
                  summary: Default get5GTenant 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5Gtenant403Example:
                  summary: Default get5GTenant 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5Gtenant404Example:
                  summary: Default get5GTenant 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5Gtenant500Example:
                  summary: Default get5GTenant 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: update5GTenant
      summary: Palo Alto Networks Update 5G Tenant Configuration
      description: Updates an existing 5G tenant configuration.
      tags:
      - Tenants
      parameters:
      - name: tenant_id
        in: path
        required: true
        description: Unique identifier of the 5G tenant configuration to update.
        schema:
          type: string
        example: tenant-eb386617
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant5GRequest'
            examples:
              Update5GtenantRequestExample:
                summary: Default update5GTenant request
                x-microcks-default: true
                value:
                  name: Corporate Gateway 18
                  description: Malware configured network rule monitoring configured traffic violation.
                  assigned_slices:
                  - example-assigned_slices_item
                  default_policy_id: '449021'
      responses:
        '200':
          description: 5G tenant configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
              examples:
                Update5Gtenant200Example:
                  summary: Default update5GTenant 200 response
                  x-microcks-default: true
                  value:
                    tenant_id: tenant-79ef053e
                    name: Primary Policy 73
                    description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                    assigned_slices:
                    - example-assigned_slices_item
                    - example-assigned_slices_item
                    default_policy_id: '861821'
                    created_at: '2025-12-16T10:55:16Z'
                    updated_at: '2024-10-16T22:09:31Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant400Example:
                  summary: Default update5GTenant 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant401Example:
                  summary: Default update5GTenant 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant403Example:
                  summary: Default update5GTenant 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant404Example:
                  summary: Default update5GTenant 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant500Example:
                  summary: Default update5GTenant 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: delete5GTenant
      summary: Palo Alto Networks Delete 5G Tenant Configuration
      description: Deletes a 5G tenant configuration.
      tags:
      - Tenants
      parameters:
      - name: tenant_id
        in: path
        required: true
        description: Unique identifier of the 5G tenant configuration to delete.
        schema:
          type: string
        example: tenant-11600a6e
      responses:
        '204':
          description: 5G tenant configuration deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5Gtenant401Example:
                  summary: Default delete5GTenant 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5Gtenant403Example:
                  summary: Default delete5GTenant 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5Gtenant404Example:
                  summary: Default delete5GTenant 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5Gtenant500Example:
                  summary: Default delete5GTenant 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    Tenant5GRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the tenant configuration.
          example: Corporate Gateway 18
        description:
          type: string
          description: Optional description.
          example: Malware configured network rule monitoring configured traffic violation.
        assigned_slices:
          type: array
          items:
            type: string
          description: Network slice IDs to assign to this tenant.
          example:
          - example-assigned_slices_item
        default_policy_id:
          type: string
          description: Default security policy ID for this tenant.
          example: '449021'
    Tenant5G:
      type: object
      properties:
        tenant_id:
          type: string
          description: Unique identifier of the 5G tenant configuration.
          example: tenant-79ef053e
        name:
          type: string
          description: Tenant display name.
          example: Primary Policy 73
        description:
          type: string
          description: Description of the tenant.
          example: Alert on policy traffic suspicious suspicious Security alert network detected threat.
        assigned_slices:
          type: array
          items:
            type: string
          description: Network slice IDs assigned to this tenant.
          example:
          - example-assigned_slices_item
          - example-assigned_slices_item
        default_policy_id:
          type: string
          description: Default security policy ID for this tenant's traffic.
          example: '861821'
        created_at:
          type: string
          format: date-time
          example: '2025-12-16T10:55:16Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-10-16T22:09:31Z'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: b8969609-ec40-4367-a0fc-c65a6696edee
    TenantSummary:
      type: object
      properties:
        tsg_id:
          type: string
          description: Tenant Service Group ID.
          example: '301496'
        display_name:
          type: string
          description: TSG display name.
          example: Carlos Wilson
        parent_id:
          type: string
          description: Parent TSG ID.
          example: '264676'
        depth:
          type: integer
          description: Depth in the hierarchy (0 for root).
          example: 182
        child_count:
          type: integer
          description: Number of direct child TSGs.
          example: 779
    ErrorResponse_2:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Endpoint blocked traffic applied blocked on threat.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: 34be728a-625b-4e23-9e3a-12d7366cb00d
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-tenants-api-openapi.yml
- palo-alto-sase-5g-api-openapi-original.yml
- palo-alto-sase-aggregate-monitoring-api-openapi-original.yml
