openapi: 3.2.0
info:
  title: Palo Alto Networks Reports API
  version: '1.0'
  description: 'Operations tagged Reports across 7 of this provider''s published API definitions: palo-alto-cspm-consolidated-spec-cspm-spec-openapi.json, palo-alto-cspm-reports-openapi.json, palo-alto-dlp-api-openapi-original.yml, palo-alto-iot-security-api-openapi-original.yml, palo-alto-networks-reports-api-openapi.yml, palo-alto-prisma-access-browser-api-openapi-original.yml, palo-alto-prisma-cloud-cspm-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
- url: https://api.dlp.paloaltonetworks.com/v4
  description: Enterprise DLP API production server.
- url: https://{customer}.iot.paloaltonetworks.com/pub/v4.0
  description: IoT Security API production server.
  variables:
    customer:
      description: Customer-specific tenant identifier.
      default: customer-tenant
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.sase.paloaltonetworks.com/browser-mgmt
  description: SASE Prisma Access Browser Management API production server.
tags:
- description: "Creating compliance reports is the best way to monitor your cloud accounts across all cloud types and ensure that you \nare adhering to all compliance standards. You can create compliance reports based on a cloud compliance standard for \nimmediate download or schedule recurring reports so you can monitor compliance to the standard over time. From a single \nreport, you have a consolidated view of how well all of your cloud accounts are adhering to the selected standard. You \ncan also download historic reports so that you can see your compliance trend.\n"
  name: Reports
paths:
  /report:
    get:
      description: "Returns a list of compliance report generation configurations, including the ID for each configuration. Accepts query parameters to narrow the list.  \n\nOptional query parameters are available to narrow the reports list request. See \n[Get Report Overview Filters and Options](/prisma-cloud/api/cspm/get-report-filters-and-options) \nfor the REST API request to get the available query parameters.\n"
      operationId: list-reports
      parameters:
      - description: Cloud account
        in: query
        name: cloud.account
        required: false
        schema:
          type: string
      - description: Cloud type
        in: query
        name: cloud.type
        required: false
        schema:
          type: string
      - description: Cloud region
        in: query
        name: cloud.region
        required: false
        schema:
          type: string
      - description: Account group
        in: query
        name: account.group
        required: false
        schema:
          type: string
      - description: Policy compliance standard name
        in: query
        name: policy.complianceStandard
        required: false
        schema:
          type: string
      - description: Report frequency
        in: query
        name: report.frequency
        required: false
        schema:
          enum:
          - one_time
          - scheduled
          type: string
      - description: Report schedule
        in: query
        name: report.schedule
        required: false
        schema:
          enum:
          - daily
          - weekly
          - monthly
          type: string
      - description: Report email recipients
        in: query
        name: report.email.recipients
        required: false
        schema:
          type: string
      - description: Report type. Default is COMPLIANCE
        in: query
        name: report_view
        required: false
        schema:
          enum:
          - COMPLIANCE
          - RIS
          - INVENTORY_DETAIL
          - INVENTORY_OVERVIEW
          type: string
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ReportGenerationConfigApiModel'
                type: array
          description: success
      security:
      - x-redlock-auth: []
      summary: List Report Configs
      tags:
      - Reports
    post:
      description: "Creates a compliance report generation configuration based on the specified parameters. Report generation can be either one-time or recurring.  \n\nYou can use the body parameters to specify whether the report is a one-time report \nor a recurring report. Specify a recurring report by providing a valid \n**target.schedule** body parameter.\n"
      operationId: save-report
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ReportGenerationConfigApiModel'
        description: Model for report generation configuration
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ReportGenerationConfigApiModel'
          description: successful operation
        '400':
          description: missing_required_parameter / invalid_parameter_value
      security:
      - x-redlock-auth: []
      summary: Add Report Config
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /report/type:
    get:
      description: Returns a list of the compliance report types and identifies which report types are available for each cloud type.
      operationId: get-report-types
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                  uniqueItems: true
                type: object
          description: success
        '400':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Get Report Types
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /report/{id}:
    get:
      description: Returns the compliance report generation configuration with the specified ID. The response includes pass/fail counts for this ID.
      operationId: get-specified-report
      parameters:
      - description: Report ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ReportGenerationConfigApiModel'
          description: success
        '400':
          description: error
        '404':
          description: not_found
      security:
      - x-redlock-auth: []
      summary: Get Report Config
      tags:
      - Reports
    put:
      description: "Updates the compliance report generation configuration with the specified ID.   \n\nYou can update a recurring report schedule through this request. \nWhen using this request to update a report schedule, the only body \nparameter that is required is **target**.\n"
      operationId: update-report
      parameters:
      - description: Report ID
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ReportGenerationConfigApiModel'
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ReportGenerationConfigApiModel'
          description: success
        '400':
          description: missing_required_parameter / invalid_parameter_value
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Update Report Config
      tags:
      - Reports
    delete:
      description: Deletes the compliance report generation configuration with the specified ID.
      operationId: delete-report
      parameters:
      - description: Report ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: success
        '400':
          description: error
        '404':
          description: not_found
      security:
      - x-redlock-auth: []
      summary: Delete Report Config
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /report/{id}/download:
    get:
      description: Downloads the compliance report with the specified ID. If the report is scheduled, then the request downloads the latest generated report.
      operationId: download-report
      parameters:
      - description: Report ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
        '204':
          description: pending
        '400':
          description: error
        '404':
          description: not_found / error
      security:
      - x-redlock-auth: []
      summary: Download Report
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /report/{id}/history:
    get:
      description: Returns a list of metadata for the scheduled compliance reports that have been run for the specified report ID.
      operationId: get-historical-report-by-id
      parameters:
      - description: Report ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                items:
                  $ref: '#/components/schemas/ReportGenerationConfigApiModel'
                type: array
          description: success
        '400':
          description: error
        '404':
          description: not_found
        '405':
          description: method_not_allowed_for_legacy_reports
      security:
      - x-redlock-auth: []
      summary: List Historical Reports Data
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /report/{id}/{lastScheduled}:
    get:
      description: Returns metadata for the scheduled compliance report that has the specified report ID and was generated on the given timestamp. Returned data includes pass/fail counts.
      operationId: get-last-scheduled-report-by-id
      parameters:
      - description: Report ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Timestamp of report generation
        in: path
        name: lastScheduled
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ReportGenerationConfigApiModel'
          description: success
        '400':
          description: error
        '404':
          description: not_found
        '405':
          description: method_not_allowed_for_legacy_reports
      security:
      - x-redlock-auth: []
      summary: Get Historical Report Data
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /report/{id}/{lastScheduled}/download:
    get:
      description: Downloads the compliance report that has the specified report ID and was generated on the specified timestamp.
      operationId: download-historical-by-id
      parameters:
      - description: Report ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: Timestamp of report generation
        in: path
        name: lastScheduled
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: success
        '204':
          description: pending
        '400':
          description: error
        '404':
          description: not_found/error
      security:
      - x-redlock-auth: []
      summary: Download Historical Report
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /filter/report/suggest:
    get:
      description: "Returns an object whose key/value pairs identify filter options for compliance posture data. The keys are supported filters, and the corresponding values identify the available and saved filter options.  \n\nThe keys in the response object are the filter names you can use in \n[List Report Overview Filter Autocomplete Suggestions](/prisma-cloud/api/cspm/get-report-posture-filter-options).\n"
      operationId: get-report-filters-and-options
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReportFilterSuggestion'
          description: success
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Get Report Overview Filters and Options
      tags:
      - Reports
    post:
      description: "Returns the available options for a specific report posture filter. Also supports fuzzy autocomplete search for easier filtering.  \n\nYou can find the available filter names through \n[Get Report Overview Filters and Options request](/prisma-cloud/api/cspm/get-report-filters-and-options). \nThe keys in the response object from that GET request are \nthe available filter names.\n"
      operationId: get-report-posture-filter-options
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterSuggestionModel'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ParsedTableFilter'
          description: success
        '400':
          description: missing_required_parameter / invalid_parameter_value
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: List Report Overview Filter Autocomplete Suggestions
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /v2/report:
    post:
      description: "Creates a compliance report generation configuration based on the specified parameters. Report generation can be either one-time or recurring.  \n\nYou can use the body parameters to specify whether the report is a one-time report \nor a recurring report. Specify a recurring report by providing a valid \n**target.schedule** body parameter.\n\n**Note:** The `complianceStandardIds` parameter is not applicable to `COMPLIANCE` or `RIS` report types\n"
      operationId: save-report-v2
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/BaseReportGenerationConfigApiModel'
        description: Model for report generation configuration
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ReportGenerationConfigApiModel_2'
          description: successful operation
        '400':
          description: missing_required_parameter / invalid_parameter_value
      security:
      - x-redlock-auth: []
      summary: Add Report Config V2
      tags:
      - Reports
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /reports/summary:
    get:
      operationId: getReportSummary
      summary: Palo Alto Networks Get Incident Summary Report
      description: Returns an aggregated summary of DLP incidents over a specified time period. Includes breakdowns by severity, channel, data pattern, top users, and trend data. Useful for executive reporting and compliance dashboards.
      tags:
      - Reports
      parameters:
      - name: start_time
        in: query
        required: true
        description: Start of reporting period (ISO 8601 format).
        schema:
          type: string
          format: date-time
        example: '2026-09-18T10:51:33Z'
      - name: end_time
        in: query
        required: true
        description: End of reporting period (ISO 8601 format).
        schema:
          type: string
          format: date-time
        example: '2026-11-06T16:58:45Z'
      responses:
        '200':
          description: Incident summary report returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentSummary'
              examples:
                GetReportSummary200Example:
                  summary: Default getReportSummary 200 response
                  x-microcks-default: true
                  value:
                    total_incidents: 619
                    open_incidents: 195
                    resolved_incidents: 393
                    by_severity:
                      critical: 30
                      high: 424
                      medium: 932
                      low: 723
                      informational: 986
                    by_channel:
                      web: 358
                      ssl: 453
                      saas: 815
                      email: 786
                      endpoint: 131
                    top_data_patterns:
                    - pattern_name: Production Sensor 38
                      incident_count: 299
                    top_users:
                    - user: example-user
                      incident_count: 609
                    - user: example-user
                      incident_count: 164
                    reporting_period:
                      start_time: '2024-09-15T06:09:00Z'
                      end_time: '2026-07-19T16:10:14Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.dlp.paloaltonetworks.com/v4
      description: Enterprise DLP API production server.
  /report/asset:
    get:
      operationId: getAssetReport
      summary: Palo Alto Networks Get Asset Report
      description: Returns an asset inventory report summarizing all discovered IoT and OT devices. The report includes breakdowns by device category, profile, risk level, and site. Useful for asset inventory management and compliance reporting.
      tags:
      - Reports
      parameters:
      - name: customerid
        in: query
        required: true
        description: Customer tenant identifier.
        schema:
          type: string
        example: '725385'
      - name: offset
        in: query
        description: Pagination offset for results.
        schema:
          type: integer
          default: 0
        example: 0
      - name: pagelength
        in: query
        description: Number of report records to return per page.
        schema:
          type: integer
          default: 100
        example: 100
      responses:
        '200':
          description: Asset report returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of assets in the report.
                  report:
                    $ref: '#/components/schemas/AssetReport'
              examples:
                GetAssetReport200Example:
                  summary: Default getAssetReport 200 response
                  x-microcks-default: true
                  value:
                    total: 9
                    report:
                      total_devices: 646
                      monitored_devices: 724
                      by_category: {}
                      by_risk_level:
                        critical: 372
                        high: 696
                        medium: 301
                        low: 206
                      by_site:
                      - site: HQ-SanFrancisco
                        device_count: 327
                      top_profiles:
                      - profile: Network Printer
                        device_count: 597
                      report_time: '2025-03-06T06:54:38Z'
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - keyId: []
        accessKey: []
    servers:
    - url: https://{customer}.iot.paloaltonetworks.com/pub/v4.0
      description: IoT Security API production server.
      variables:
        customer:
          description: Customer-specific tenant identifier.
          default: customer-tenant
  /v1/reports/usage:
    get:
      operationId: getUsageReport
      summary: Palo Alto Networks Get Usage Report
      description: Returns browser usage statistics for the specified time period including active users, session counts, data transferred, blocked threats, and DLP events.
      tags:
      - Reports
      parameters:
      - name: start_date
        in: query
        required: true
        description: Start of the reporting period (ISO 8601).
        schema:
          type: string
          format: date
        example: '2026-10-14'
      - name: end_date
        in: query
        required: true
        description: End of the reporting period (ISO 8601).
        schema:
          type: string
          format: date
        example: '2025-04-14'
      - name: group_by
        in: query
        description: Dimension to group results by.
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - user
          - device
          - policy
        example: week
      responses:
        '200':
          description: Usage report returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageReport'
              examples:
                GetUsageReport200Example:
                  summary: Default getUsageReport 200 response
                  x-microcks-default: true
                  value:
                    period:
                      start: '2025-02-09'
                      end: '2025-07-27'
                    active_users: 489
                    total_sessions: 336
                    data_transferred_gb: 1.65
                    threats_blocked: 211
                    dlp_events: 404
                    data_points:
                    - timestamp: '2026-04-05T18:42:10Z'
                      active_users: 55
                      sessions: 417
                    - timestamp: '2025-12-14T19:49:02Z'
                      active_users: 469
                      sessions: 309
        '400':
          description: Invalid date range or query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                GetUsageReport400Example:
                  summary: Default getUsageReport 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                GetUsageReport401Example:
                  summary: Default getUsageReport 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                GetUsageReport403Example:
                  summary: Default getUsageReport 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                GetUsageReport500Example:
                  summary: Default getUsageReport 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    NameValueIntegerString:
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
      type: object
    FilterSuggestionModel:
      description: Model for Filter Suggestions
      properties:
        filterName:
          description: Filter name
          type: string
        query:
          description: Case-insensitive fuzzy search autocomplete filter. Includes only items that contain the query as a substring.
          type: string
      required:
      - filterName
      type: object
    ReportGenerationConfigApiModel:
      description: Model for report generation configuration
      properties:
        cloudType:
          description: Cloud type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        complianceStandardDeleted:
          description: Compliance Standard Deleted
          readOnly: true
          type: boolean
        complianceStandardId:
          description: Compliance standard ID
          format: uuid
          readOnly: true
          type: string
        counts:
          allOf:
          - $ref: '#/components/schemas/ComplianceAggregateCount'
          - description: Model for compliance aggregate count
            readOnly: true
        createdBy:
          description: User who created this report
          readOnly: true
          type: string
        createdOn:
          description: Report created on this timestamp
          format: int64
          readOnly: true
          type: integer
        id:
          description: Report ID
          readOnly: true
          type: string
        lastModifiedBy:
          description: Last modified by
          readOnly: true
          type: string
        lastModifiedOn:
          description: Timestamp of last modification
          format: int64
          readOnly: true
          type: integer
        lastScheduled:
          description: Timestamp of last generated report
          format: int64
          readOnly: true
          type: integer
        locale:
          description: Locale of caller (e.g. en_us, jp). Default is en_us.
          type: string
        name:
          description: Report name
          type: string
        nextSchedule:
          description: Timestamp of next scheduled report
          format: int64
          readOnly: true
          type: integer
        status:
          description: Report generation status
          readOnly: true
          type: string
        target:
          allOf:
          - $ref: '#/components/schemas/ReportTargetModel'
          - description: Report definition
        totalInstanceCount:
          description: Total number of reports for the report ID
          format: int32
          readOnly: true
          type: integer
        type:
          description: Report type. Default is COMPLIANCE.
          enum:
          - COMPLIANCE
          - RIS
          - INVENTORY_OVERVIEW
          - INVENTORY_DETAIL
          type: string
      required:
      - cloudType
      - name
      - target
      type: object
    ParsedTableFilter:
      description: Model for parsed table filter
      properties:
        completeParameters:
          items:
            $ref: '#/components/schemas/UIFilterModel'
          type: array
        links:
          description: JSON query builder links
          type: string
        needsOffsetUpdate:
          description: Needs offset update (for internal use)
          type: boolean
        offset:
          description: Offset within query
          format: int32
          type: integer
        queryRemainder:
          description: Query remainder
          type: string
        suggestions:
          description: List of suggestions
          items:
            type: string
          type: array
        translate:
          description: Translate (for internal use)
          type: boolean
        valid:
          description: Query is valid
          type: boolean
      type: object
    ReportFilterSuggestion:
      description: Model for ReportFilterSuggestion
      properties:
        account.group:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - description: Account group
        cloud.account:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - description: Cloud account
        cloud.region:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - description: Cloud region
        cloud.type:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
        policy.complianceStandard:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - description: Policy compliance standard
        report.email.recipients:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - description: Report email recepients
        report.frequency:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
        report.schedule:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
        schedule.status:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
      type: object
    TimeModel:
      description: Model for Time
      properties:
        endTime:
          description: End timestamp
          format: int64
          type: integer
        startTime:
          description: Start timestamp
          format: int64
          type: integer
      type: object
    RelativeTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for RelativeTimeRangeConfig
        properties:
          relativeTimeType:
            description: Direction in which to count time. Default = BACKWARD
            enum:
            - BACKWARD
            - FORWARD
            type: string
          type:
            example: relative
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/RelativeTimeDurationModel'
            - description: Time range object
        required:
        - value
        type: object
    TimeRangeConfigModel:
      description: 'See the [Time Range Model](/prisma-cloud/api/cspm/api-time-range-model) for details.

        '
      discriminator:
        mapping:
          absolute: '#/components/schemas/AbsoluteTimeRangeConfigModel'
          relative: '#/components/schemas/RelativeTimeRangeConfigModel'
          to_now: '#/components/schemas/ToNowTimeRangeConfigModel'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/RelativeTimeRangeConfigModel'
      - $ref: '#/components/schemas/AbsoluteTimeRangeConfigModel'
      - $ref: '#/components/schemas/ToNowTimeRangeConfigModel'
      properties:
        type:
          description: Time type
          type: string
      required:
      - type
      type: object
    RelativeTimeDurationModel:
      description: Model for RelativeTimeDuration
      properties:
        amount:
          description: Number of time units
          format: int32
          type: integer
        unit:
          description: Time unit
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          type: string
      type: object
    AbsoluteTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for AbsoluteTimeRangeConfig
        properties:
          type:
            example: absolute
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/TimeModel'
            - description: Time range object
        required:
        - value
        type: object
    ToNowTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for ToNowTimeRangeConfig
        properties:
          value:
            description: Time range object
            enum:
            - MINUTE
            - HOUR
            - DAY
            - WEEK
            - MONTH
            - YEAR
            - EPOCH
            - LOGIN
            type: string
        type: object
    FilterSuggestion:
      description: Model for FilterSuggestion
      properties:
        nameValue:
          description: Filter options
          items:
            $ref: '#/components/schemas/NameValueIntegerString'
          type: array
        options:
          description: Filter options, which lists all the default options for static filters or all the recent options, if any, for non-static filters
          items:
            type: string
          type: array
          uniqueItems: true
        staticFilter:
          description: Filter is a static filter
          type: boolean
      type: object
    ReportTargetModel:
      description: Model for report target
      properties:
        accountGroups:
          description: List of cloud account groups
          items:
            type: string
          type: array
        accounts:
          description: List of cloud accounts
          items:
            type: string
          type: array
        complianceStandardIds:
          description: List of compliance Standard IDs
          items:
            type: string
          type: array
        compressionEnabled:
          description: Business unit detailed report compression enabled
          type: boolean
        downloadNow:
          description: True = download now
          type: boolean
        notificationTemplateId:
          description: Notification template id
          readOnly: true
          type: string
        notifyTo:
          description: List of email addresses to receive notification
          items:
            type: string
          type: array
        regions:
          description: List of regions
          items:
            type: string
          type: array
        schedule:
          description: Recurring report schedule in RRULE format
          type: string
        scheduleEnabled:
          description: Report scheduling enabled
          type: boolean
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time range
      required:
      - timeRange
      type: object
    UIFilterModel:
      description: Model for UIFilter
      properties:
        name:
          description: Name
          type: string
        operator:
          description: Operator
          enum:
          - '='
          type: string
        value:
          description: Value
          type: string
      type: object
    ComplianceAggregateCount:
      description: Model for compliance aggregate count
      properties:
        criticalSeverityFailed:
          description: Number of critical-severity failures
          format: int64
          readOnly: true
          type: integer
        failed:
          description: Failed
          format: int64
          readOnly: true
          type: integer
        highSeverityFailed:
          description: Number of high-severity failures
          format: int64
          readOnly: true
          type: integer
        informationalSeverityFailed:
          description: Number of informational-severity failures
          format: int64
          readOnly: true
          type: integer
        lowSeverityFailed:
          description: Number of low-severity failures
          format: int64
          readOnly: true
          type: integer
        mediumSeverityFailed:
          description: Number of medium-severity failures
          format: int64
          readOnly: true
          type: integer
        passed:
          description: Passed
          format: int64
          readOnly: true
          type: integer
        total:
          description: Total
          format: int64
          readOnly: true
          type: integer
      type: object
    BaseReportTargetModel:
      description: Model for base report target
      properties:
        accountGroups:
          description: List of cloud account groups
          items:
            type: string
          type: array
        accounts:
          description: List of cloud accounts
          items:
            type: string
          type: array
        complianceStandardIds:
          description: List of compliance Standard IDs
          items:
            type: string
          type: array
        compressionEnabled:
          description: Business unit detailed report compression enabled
          type: boolean
        downloadNow:
          description: True = download now
          type: boolean
        notificationTemplateId:
          description: Notification template id
          readOnly: true
          type: string
        notifyTo:
          description: List of email addresses to receive notification
          items:
            type: string
          type: array
        regions:
          description: List of regions
          items:
            type: string
          type: array
        schedule:
          description: Recurring report schedule in RRULE format
          type: string
        scheduleEnabled:
          description: Report scheduling enabled
          type: boolean
      type: object
    ReportGenerationConfigApiModel_2:
      description: Model for report generation configuration
      properties:
        cloudType:
          description: Cloud type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        complianceStandardDeleted:
          description: Compliance Standard Deleted
          readOnly: true
          type: boolean
        complianceStandardId:
          description: Compliance standard ID
          format: uuid
          readOnly: true
          type: string
        counts:
          allOf:
          - $ref: '#/components/schemas/ComplianceAggregateCount'
          - description: Model for compliance aggregate count
            readOnly: true
        createdBy:
          description: User who created this report
          readOnly: true
          type: string
        createdOn:
          description: Report created on this timestamp
          format: int64
          readOnly: true
          type: integer
        id:
          description: Report ID
          readOnly: true
          type: string
        lastModifiedBy:
          description: Last modified by
          readOnly: true
          type: string
        lastModifiedOn:
          description: Timestamp of last modification
          format: int64
          readOnly: true
          type: integer
        lastScheduled:
          description: Timestamp of last generated report
          format: int64
          readOnly: true
          type: integer
        locale:
          description: Locale of caller (e.g. en_us, jp). Default is en_us.
          type: string
        name:
          description: Report name
          type: string
        nextSchedule:
          description: Timestamp of next scheduled report
          format: int64
          readOnly: true
          type: integer
        status:
          description: Report generation status
          readOnly: true
          type: string
        target:
          allOf:
          - $ref: '#/components/schemas/ReportTargetModel'
          - description: Report definition
        totalInstanceCount:
          description: Total number of reports for the report ID
          format: int32
          readOnly: true
          type: integer
        type:
          description: Report type. Default is COMPLIANCE.
          enum:
          - COMPLIANCE
          - RIS
          - INVENTORY_OVERVIEW
          - INVENTORY_DETAIL
          type: string
      required:
      - cloudType
      - name
      type: object
    BaseReportGenerationConfigApiModel:
      description: Base Model for report generation configuration
      properties:
        cloudType:
          description: Cloud type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        complianceStandardDeleted:
          description: Compliance Standard Deleted
          readOnly: true
          type: boolean
        complianceStandardId:
          description: Compliance standard ID
          format: uuid
          readOnly: true
          type: string
        counts:
          allOf:
          - $ref: '#/components/schemas/ComplianceAggregateCount'
          - description: Model for compliance aggregate count
            readOnly: true
        createdBy:
          description: User who created this report
          readOnly: true
          type: string
        createdOn:
          description: Report created on this timestamp
          format: int64
          readOnly: true
          type: integer
        id:
          description: Report ID
          readOnly: true
          type: string
        lastModifiedBy:
          description: Last modified by
          readOnly: true
          type: string
        lastModifiedOn:
          description: Timestamp of last modification
          format: int64
          readOnly: true
          type: integer
        lastScheduled:
          description: Timestamp of last generated report
          format: int64
          readOnly: true
          type: integer
        locale:
          description: Locale of caller (e.g. en_us, jp). Default is en_us.
          type: string
        name:
          description: Report name
          type: string
        nextSchedule:
          description: Timestamp of next scheduled report
          format: int64
          readOnly: true
          type: integer
        status:
          description: Report generation status
          readOnly: true
          type: string
        target:
          allOf:
          - $ref: '#/components/schemas/BaseReportTargetModel'
          - description: Report definition
        totalInstanceCount:
          description: Total number of reports for the report ID
          format: int32
          readOnly: true
          type: integer
        type:
          description: Report type. Default is COMPLIANCE.
          enum:
          - COMPLIANCE
          - RIS
          - INVENTORY_OVERVIEW
          - INVENTORY_DETAIL
          type: string
      required:
      - cloudType
      - name
      type: object
    UIFilterModel_2:
      description: Model for UIFilter
      properties:
        name:
          description: Name
          type: string
        operator:
          description: Operator
          enum:
          - tag:yaml.org,2002:value =
          type: string
        value:
          description: Value
          type: string
      type: object
    IncidentSummary:
      type: object
      properties:
        total_incidents:
          type: integer
          description: Total number of incidents in the reporting period.
          example: 619
        open_incidents:
          type: integer
          description: Number of incidents still in open status.
          example: 195
        resolved_incidents:
          type: integer
          description: Number of resolved incidents.
          example: 393
        by_severity:
          type: object
          properties:
            critical:
              type: integer
              example: 256
            high:
              type: integer
              example: 125
            medium:
              type: integer
              example: 374
            low:
              type: integer
              example: 290
            informational:
              type: integer
              example: 50
          description: Incident count breakdown by severity.
          example:
            critical: 30
            high: 424
            medium: 932
            low: 723
            informational: 986
        by_channel:
          type: object
          properties:
            web:
              type: integer
              example: 645
            ssl:
              type: integer
              example: 738
            saas:
              type: integer
              example: 323
            email:
              type: integer
              example: 838
            endpoint:
              type: integer
              example: 664
          description: Incident count breakdown by detection channel.
          example:
            web: 358
            ssl: 453
            saas: 815
            email: 786
            endpoint: 131
        top_data_patterns:
          type: array
          items:
            type: object
            properties:
              pattern_name:
                type: string
                example: Corporate Firewall 91
              incident_count:
                type: integer
                example: 629
          description: Most frequently triggered data patterns.
          example:
          - pattern_name: Production Sensor 38
            incident_count: 299
        top_users:
          type: array
          items:
            type: object
            properties:
              user:
                type: string
                example: example-user
              incident_count:
                type: integer
                example: 403
          description: Users with the most incidents.
          example:
          - user: example-user
            incident_count: 609
          - user: example-user
            incident_count: 164
        reporting_period:
          type: object
          properties:
            start_time:
              type: string
              format: date-time
              example: '2024-04-04T07:15:01Z'
            end_time:
              type: string
              format: date-time
              example: '2024-04-24T08:10:19Z'
          description: Time range for the summary report.
          example:
            start_time: '2024-09-15T06:09:00Z'
            end_time: '2026-07-19T16:10:14Z'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code or type.
          example: example-error
        message:
          type: string
          description: Human-readable error message.
          example: Policy blocked rule alert configured traffic Security activity.
    AssetReport:
      type: object
      properties:
        total_devices:
          type: integer
          description: Total number of discovered devices.
          example: 646
        monitored_devices:
          type: integer
          description: Number of actively monitored devices.
          example: 724
        by_category:
          type: object
          description: Device count breakdown by category.
          additionalProperties:
            type: integer
          example: {}
        by_risk_level:
          type: object
          description: Device count breakdown by risk level.
          properties:
            critical:
              type: integer
              example: 399
            high:
              type: integer
              example: 441
            medium:
              type: integer
              example: 911
            low:
              type: integer
              example: 769
          example:
            critical: 372
            high: 696
            medium: 301
            low: 206
        by_site:
          type: array
          items:
            type: object
            properties:
              site:
                type: string
                example: HQ-SanFrancisco
              device_count:
                type: integer
                example: 930
          description: Device count breakdown by network site.
          example:
          - site: HQ-SanFrancisco
            device_count: 327
        top_profiles:
          type: array
          items:
            type: object
            properties:
              profile:
                type: string
                example: Network Printer
              device_count:
                type: integer
                example: 267
          description: Most common device profiles.
          example:
          - profile: Network Printer
            device_count: 597
        report_time:
          type: string
          format: date-time
          description: Timestamp when the report was generated.
          example: '2025-03-06T06:54:38Z'
    ErrorResponse_2:
      type: object
      properties:
        error:
          type: string
          description: Error code or type.
          example: example-error
        message:
          type: string
          description: Human-readable error message.
          example: Monitoring traffic activity network investigation investigation network policy traffic violation rule rule.
    Report:
      type: object
      properties:
        id:
          type: string
          description: Unique report identifier.
          example: example-id
        name:
          type: string
          description: Report name.
          example: Production Agent 34
        type:
          type: string
          description: Report type.
          enum:
          - RIS
          - COMPLIANCE
          - ALERT
          example: COMPLIANCE
        status:
          type: string
          enum:
          - pending
          - processing
          - completed
          - failed
          description: Current report generation status.
          example: failed
        createdOn:
          type: integer
          description: Epoch timestamp when the report was created.
          example: 972
        lastModifiedOn:
          type: integer
          description: Epoch timestamp of last modification.
          example: 196
        downloadUrl:
          type: string
          description: URL for downloading the completed report.
          example: example-downloadUrl
    UsageReport:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              format: date
              example: '2025-07-03'
            end:
              type: string
              format: date
              example: '2024-01-15'
          example:
            start: '2025-02-09'
            end: '2025-07-27'
        active_users:
          type: integer
          description: Number of unique active users during the period.
          example: 489
        total_sessions:
          type: integer
          description: Total browser sessions started during the period.
          example: 336
        data_transferred_gb:
          type: number
          format: float
          description: Total data transferred through the browser in GB.
          example: 1.65
        threats_blocked:
          type: integer
          description: Number of threats blocked by the browser.
          example: 211
        dlp_events:
          type: integer
          description: Number of DLP policy events triggered.
          example: 404
        data_points:
          type: array
          description: Time-series data points for the report.
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
                example: '2026-04-21T12:03:31Z'
              active_users:
                type: integer
                example: 967
              sessions:
                type: integer
                example: 55
          example:
          - timestamp: '2026-04-05T18:42:10Z'
            active_users: 55
            sessions: 417
          - timestamp: '2025-12-14T19:49:02Z'
            active_users: 469
            sessions: 309
    ErrorResponse_4:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 747
        message:
          type: string
          description: Human-readable error message.
          example: Traffic violation investigation monitoring policy incident applied threat monitoring alert.
        error:
          type: string
          description: Error code.
          example: example-error
    ErrorResponse_3:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Suspicious detected incident malware activity traffic traffic.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
    ErrorResponse_5:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Suspicious detected incident malware activity traffic traffic.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
    ErrorResponse_6:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 747
        message:
          type: string
          description: Human-readable error message.
          example: Traffic violation investigation monitoring policy incident applied threat monitoring alert.
        error:
          type: string
          description: Error code.
          example: example-error
  responses:
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or expired bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest_2:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    Unauthorized_2:
      description: Invalid or missing API keys.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    Unauthorized_3:
      description: Invalid or expired JWT token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_4'
    Unauthorized_4:
      description: Invalid or expired JWT token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_6'
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token obtained from the Palo Alto Networks SASE authentication service using the client credentials flow.
    keyId:
      type: apiKey
      in: header
      name: X-Key-Id
      description: IoT Security API key identifier. Generated from the IoT Security portal under Settings > API Keys.
    accessKey:
      type: apiKey
      in: header
      name: X-Access-Key
      description: IoT Security API access key. Generated alongside the key identifier from the IoT Security portal.
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-cspm-consolidated-spec-cspm-spec-openapi.json
- palo-alto-cspm-reports-openapi.json
- palo-alto-dlp-api-openapi-original.yml
- palo-alto-iot-security-api-openapi-original.yml
- palo-alto-networks-reports-api-openapi.yml
- palo-alto-prisma-access-browser-api-openapi-original.yml
- palo-alto-prisma-cloud-cspm-api-openapi-original.yml
