openapi: 3.2.0
info:
  title: Palo Alto Networks Stack Details Endpoint API
  version: '1.0'
  description: 'Operations tagged Stack Details Endpoint across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-stack-details-endpoint-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: Stack Details Endpoint
paths:
  /api/v1/stack-mapping:
    get:
      tags:
      - Stack Details Endpoint
      summary: Get list of stacks and api hosts
      description: Returns the list of stacks with display name and apiHosts, and plan types
      operationId: requestStackMapping
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/StackMappingPlanTypesListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  schemas:
    StackMappingResponse:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        apiHost:
          type: string
    StackMappingPlanTypesListResponse:
      type: object
      properties:
        stackMappings:
          type: array
          items:
            $ref: '#/components/schemas/StackMappingResponse'
        planTypes:
          type: array
          items:
            type: string
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    StackMappingResponse_2:
      type: object
      properties:
        name:
          type: string
          example: Primary Policy 95
        displayName:
          type: string
          example: Branch Firewall 99
        apiHost:
          type: string
          example: example-apiHost
    StackMappingPlanTypesListResponse_2:
      type: object
      properties:
        stackMappings:
          type: array
          items:
            $ref: '#/components/schemas/StackMappingResponse_2'
          example:
          - name: Production Policy 31
            displayName: Corporate Agent 42
            apiHost: example-apiHost
          - name: Production Sensor 26
            displayName: Staging Agent 35
            apiHost: example-apiHost
        planTypes:
          type: array
          items:
            type: string
          example:
          - standard
          - advanced
    Error_2:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    StackMappingResponse_3:
      type: object
      properties:
        name:
          type: string
          example: Primary Policy 95
        displayName:
          type: string
          example: Branch Firewall 99
        apiHost:
          type: string
          example: example-apiHost
    StackMappingPlanTypesListResponse_3:
      type: object
      properties:
        stackMappings:
          type: array
          items:
            $ref: '#/components/schemas/StackMappingResponse_3'
          example:
          - name: Production Policy 31
            displayName: Corporate Agent 42
            apiHost: example-apiHost
          - name: Production Sensor 26
            displayName: Staging Agent 35
            apiHost: example-apiHost
        planTypes:
          type: array
          items:
            type: string
          example:
          - standard
          - advanced
    Error_3:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-stack-details-endpoint-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
