openapi: 3.2.0
info:
  title: Palo Alto Networks Remote Networks API
  version: '1.0'
  description: 'Operations tagged Remote Networks across 2 of this provider''s published API definitions: palo-alto-sase-config-orch-paloaltonetworks-remote-networks-openapi.yaml, palo-alto-scm-config-sase-deployment-deployment-services-june-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com/config/deployment/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
tags:
- name: Remote Networks
paths:
  /v1/remote-networks:
    delete:
      description: 'Allows you to delete the set of IPSec tunnels.

        '
      operationId: delete-v1-remote-networks
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      - description: remote networks prefix for bulk deletion
        in: query
        name: remote_networks_prefix
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/RemoteNetworksNames'
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Bulk delete IPSec tunnels
      tags:
      - Remote Networks
    get:
      description: 'Get remote networks IPSec tunnel details for create, modify, or delete by ID.

        '
      operationId: get-v1-remote-networks
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteNetworksResponse'
          description: Remote networks IPSEC tunnel details.
      security:
      - Bearer: []
      summary: Get IPSec tunnel details
      tags:
      - Remote Networks
    post:
      description: 'Create  remote network IPSec tunnels.

        '
      operationId: post-v1-remote-networks
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteNetworksIpsecTunnelSet'
        description: Create the remote network IPSEC tunnels.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create IPSec tunnels
      tags:
      - Remote Networks
    put:
      description: 'Modify remote network IPSec tunnels.

        '
      operationId: put-v1-remote-networks
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteNetworksIpsecTunnelSet'
        description: Modify the remote network IPSEC tunnels.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Modify IPSec tunnels
      tags:
      - Remote Networks
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /v1/remote-networks-read:
    get:
      description: 'Read the remote networks IPSec tunnel status by UUID.

        '
      operationId: get-v1-remote-networks-read
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteNetworksReadResult'
          description: Get the remote networks IPSEC tunnel status by UUID.
      security:
      - Bearer: []
      summary: Read IPSec tunnel details
      tags:
      - Remote Networks
    post:
      description: 'Create a request to read remote network IPSec tunnels.

        '
      operationId: post-v1-remote-networks-read
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteNetworksNamesSet'
        description: Request to read remote networks IPSEC tunnels.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Request to read IPSec tunnels
      tags:
      - Remote Networks
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /remote-networks:
    get:
      tags:
      - Remote Networks
      summary: List remote networks
      description: 'Retrieve a list of remote networks.

        '
      operationId: ListRemoteNetworks
      parameters:
      - $ref: '#/components/parameters/folder-remotenetworks'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/remote-networks'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    post:
      tags:
      - Remote Networks
      summary: Create a remote network
      description: 'Create a new remote network.

        '
      operationId: CreateRemoteNetworks
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remote-networks'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/remote-networks'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body_2'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/deployment/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /remote-networks/{id}:
    get:
      tags:
      - Remote Networks
      summary: Get a remote network
      description: 'Get an existing remote network.

        '
      operationId: GetRemoteNetworksByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/remote-networks'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    put:
      tags:
      - Remote Networks
      summary: Update a remote network
      description: 'Update an existing remote network.

        '
      operationId: UpdateRemoteNetworksByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remote-networks'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/remote-networks'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body_2'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    delete:
      tags:
      - Remote Networks
      summary: Delete a remote network
      description: 'Delete a remote network.

        '
      operationId: DeleteRemoteNetworksByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/deployment/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
components:
  schemas:
    IkeCryptoProfiles:
      properties:
        authentication_multiple:
          default: 0
          description: IKEv2 SA reauthentication interval equals authetication-multiple * rekey-lifetime; 0 means reauthentication disabled
          maximum: 50
          type: integer
        dh_group:
          items:
            default: group2
            description: Phase-1 DH group
            enum:
            - group1
            - group2
            - group5
            - group14
            - group19
            - group20
            type: string
          type: array
        encryption:
          description: Encryption algorithm
          items:
            default: aes-128-cbc
            enum:
            - des
            - 3des
            - aes-128-cbc
            - aes-192-cbc
            - aes-256-cbc
            - aes-128-gcm
            - aes-256-gcm
            type: string
          type: array
        hash:
          items:
            default: sha1
            description: Hashing algorithm
            enum:
            - md5
            - sha1
            - sha256
            - sha384
            - sha512
            type: string
          type: array
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        lifetime:
          oneOf:
          - properties:
              seconds:
                description: specify lifetime in seconds
                maximum: 65535
                minimum: 180
                type: integer
            title: seconds
            type: object
          - properties:
              minutes:
                description: specify lifetime in minutes
                maximum: 65535
                minimum: 3
                type: integer
            title: minutes
            type: object
          - properties:
              hours:
                description: specify lifetime in hours
                maximum: 65535
                minimum: 1
                type: integer
            title: hours
            type: object
          - properties:
              days:
                description: specify lifetime in days
                maximum: 365
                minimum: 1
                type: integer
            title: days
            type: object
          type: object
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 31
          type: string
      required:
      - name
      - encryption
      - hash
      - dh_group
      type: object
    EcmpLoadBalancing:
      properties:
        ecmp_load_balancing_enabled:
          default: disable
          enum:
          - enable
          - disable
          type: string
        ecmp_tunnels:
          description: ecmp_tunnels is required when ecmp_load_balancing is enable
          items:
            properties:
              bgp:
                properties:
                  do_not_export_routes:
                    type: boolean
                  enable:
                    type: boolean
                  local_ip_address:
                    type: string
                  originate_default_route:
                    type: boolean
                  peer_as:
                    type: string
                  peer_ip_address:
                    type: string
                  peering_type:
                    description: 'Exchange Routes: exchange-v4-over-v4 stands for Exchange IPv4 routes over IPv4 peering. exchange-v4-v6-over-v4 stands for Exchange both IPv4 and IPv6 routes over IPv4 peering. exchange-v4-over-v4-v6-over-v6 stands for Exchange IPv4 routes over IPv4 peer and IPv6 route over IPv6 peer. exchange-v6-over-v6 stands for Exchange IPv6 routes over IPv6 peering.'
                    enum:
                    - exchange-v4-over-v4
                    - exchange-v4-v6-over-v4
                    - exchange-v4-over-v4-v6-over-v6
                    - exchange-v6-over-v6
                    type: string
                  secret:
                    type: string
                  summarize_mobile_user_routes:
                    type: boolean
                type: object
              ipsec_tunnel:
                $ref: '#/components/schemas/IpsecTunnel'
              name:
                type: string
            required:
            - name
            - ipsec_tunnel
            type: object
          maxLength: 4
          type: array
      type: object
    RemoteNetworksProtocolBgp:
      properties:
        do_not_export_routes:
          type: boolean
        enable:
          description: To setup bgp protocol, enable need to set as true
          type: boolean
        local_ip_address:
          type: string
        originate_default_route:
          type: boolean
        peer_as:
          type: string
        peer_ip_address:
          type: string
        peering_type:
          description: 'Exchange Routes: exchange-v4-over-v4 stands for Exchange IPv4 routes over IPv4 peering. exchange-v4-v6-over-v4 stands for Exchange both IPv4 and IPv6 routes over IPv4 peering. exchange-v4-over-v4-v6-over-v6 stands for Exchange IPv4 routes over IPv4 peer and IPv6 route over IPv6 peer. exchange-v6-over-v6 stands for Exchange IPv6 routes over IPv6 peering.'
          enum:
          - exchange-v4-over-v4
          - exchange-v4-v6-over-v4
          - exchange-v4-over-v4-v6-over-v6
          - exchange-v6-over-v6
          type: string
        secret:
          type: string
        summarize_mobile_user_routes:
          type: boolean
      type: object
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    RemoteNetworksIpsecTunnel:
      properties:
        bgp:
          properties:
            bgp_peer:
              properties:
                local_ip_address:
                  type: string
                peer_ip_address:
                  type: string
                secret:
                  type: string
              type: object
            do_not_export_routes:
              type: boolean
            enable:
              type: boolean
            local_ip_address:
              type: string
            originate_default_route:
              type: boolean
            peer_as:
              type: string
            peer_ip_address:
              type: string
            peering_type:
              description: 'Exchange Routes: exchange-v4-over-v4 stands for Exchange IPv4 routes over IPv4 peering. exchange-v4-v6-over-v4 stands for Exchange both IPv4 and IPv6 routes over IPv4 peering. exchange-v4-over-v4-v6-over-v6 stands for Exchange IPv4 routes over IPv4 peer and IPv6 route over IPv6 peer. exchange-v6-over-v6 stands for Exchange IPv6 routes over IPv6 peering.'
              enum:
              - exchange-v4-over-v4
              - exchange-v4-v6-over-v4
              - exchange-v4-over-v4-v6-over-v6
              - exchange-v6-over-v6
              type: string
            secret:
              type: string
            summarize_mobile_user_routes:
              type: boolean
          type: object
        ecmp-load-balancing:
          $ref: '#/components/schemas/EcmpLoadBalancing'
        ipsec-termination-node:
          description: ipsec termination node
          type: string
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 63
          type: string
        primary_tunnel:
          $ref: '#/components/schemas/IpsecTunnel'
        region:
          minLength: 5
          type: string
        secondary_tunnel:
          $ref: '#/components/schemas/IpsecTunnel'
        subnets:
          items:
            type: string
          type: array
      required:
      - name
      - region
      type: object
    Ike:
      properties:
        advanced:
          $ref: '#/components/schemas/IkeAdvanced'
        authentication:
          properties:
            pre_shared_key_auth:
              description: user provided key
              type: string
          type: object
        crypto:
          oneOf:
          - $ref: '#/components/schemas/IkeCryptoProfiles'
          - $ref: '#/components/schemas/IkeCrypto'
          type: object
        local_id:
          properties:
            id:
              description: Local ID string
              maxLength: 1024
              minLength: 1
              pattern: ^(.+\@[a-zA-Z0-9.-]+)$|^([$a-zA-Z0-9_:.-]+)$|^(([[:xdigit:]][[:xdigit:]])+)$|^([a-zA-Z0-9.]+=(\\,|[^,])+[, ]+)*([a-zA-Z0-9.]+=(\\,|[^,])+)$
              type: string
            type:
              type: string
          type: object
        peer_address:
          oneOf:
          - properties:
              ip:
                description: peer gateway has static IP address
                type: string
            title: ip
            type: object
          - properties:
              fqdn:
                description: peer gateway FQDN name
                maxLength: 255
                type: string
            title: fqdn
            type: object
          - properties:
              dynamic:
                default: {}
                description: 'enable dynamic option please set the value of this field to {'''': ''''}'
                type: object
            title: dynamic
            type: object
          type: object
        peer_id:
          properties:
            id:
              description: Peer ID string
              maxLength: 1024
              minLength: 1
              pattern: ^(.+\@[\*a-zA-Z0-9.-]+)$|^([\*$a-zA-Z0-9_:.-]+)$|^(([[:xdigit:]][[:xdigit:]])+)$|^([a-zA-Z0-9.]+=(\\,|[^,])+[, ]+)*([a-zA-Z0-9.]+=(\\,|[^,])+)$
              type: string
            type:
              enum:
              - ipaddr
              - keyid
              - fqdn
              - ufqdn
              type: string
          type: object
        version:
          enum:
          - ikev1
          - ikev2
          - ikev2-preferred
          type: string
      required:
      - authentication
      - crypto
      - peer_address
      type: object
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    Lifetime:
      oneOf:
      - properties:
          seconds:
            description: specify lifetime in seconds
            maximum: 65535
            minimum: 180
            type: integer
        title: seconds
        type: object
      - properties:
          minutes:
            description: specify lifetime in minutes
            maximum: 65535
            minimum: 3
            type: integer
        title: minutes
        type: object
      - properties:
          hours:
            description: specify lifetime in hours
            maximum: 65535
            minimum: 1
            type: integer
        title: hours
        type: object
      - properties:
          days:
            description: specify lifetime in days
            maximum: 365
            minimum: 1
            type: integer
        title: days
        type: object
      type: object
    Lifesize:
      oneOf:
      - properties:
          kb:
            description: specify lifesize in kilobytes(KB)
            maximum: 65535
            minimum: 1
            type: integer
        title: kb
        type: object
      - properties:
          mb:
            description: specify lifesize in megabytes(MB)
            maximum: 65535
            minimum: 1
            type: integer
        title: mb
        type: object
      - properties:
          gb:
            description: specify lifesize in gigabytes(GB)
            maximum: 65535
            minimum: 1
            type: integer
        title: gb
        type: object
      - properties:
          tb:
            description: specify lifesize in terabytes(TB)
            maximum: 65535
            minimum: 1
            type: integer
        title: tb
        type: object
      type: object
    IpsecTunnel:
      properties:
        anti_replay:
          description: Enable Anti-Replay check on this tunnel
          type: boolean
        copy_tos:
          default: false
          description: Copy IP TOS bits from inner packet to IPSec packet (not recommended)
          type: boolean
        crypto:
          oneOf:
          - $ref: '#/components/schemas/IpsecCryptoProfiles'
          - $ref: '#/components/schemas/IpsecCrypto'
          type: object
        enable_gre_encapsulation:
          default: false
          description: allow GRE over IPSec
          type: boolean
        ike:
          $ref: '#/components/schemas/Ike'
        tunnel_monitor:
          properties:
            destination_ip:
              default: ''
              description: Destination IP to send ICMP probe
              type: string
            enable:
              default: true
              description: Enable tunnel monitoring on this tunnel
              type: boolean
            proxy_id:
              description: Which proxy-id (or proxy-id-v6) the monitoring traffic will use
              type: string
          type: object
      required:
      - ike
      type: object
    RemoteNetworksIpsecTunnelResponse:
      properties:
        name:
          description: rn name
          type: string
        pre_shared_key:
          description: Pre Shared Key for the Ipsec Tunnel
          type: string
        service_ip:
          description: Service Ip for the provisioned remote network tunnel
          format: ipv4
          type: string
        tunnel_id:
          description: tunnel id
          type: string
      type: object
    IkeAdvanced:
      properties:
        fragmentation:
          properties:
            enable:
              default: false
              enum:
              - false
              type: boolean
          type: object
        nat_traversal:
          properties:
            enable:
              type: boolean
          type: object
        passive_mode:
          type: boolean
      type: object
    IpsecCryptoProfiles:
      properties:
        ah:
          properties:
            authentication:
              items:
                enum:
                - md5
                - sha1
                - sha256
                - sha384
                - sha512
                type: string
              type: array
          required:
          - authentication
          type: object
        dh_group:
          default: group2
          description: phase-2 DH group (PFS DH group)
          enum:
          - no-pfs
          - group1
          - group2
          - group5
          - group14
          - group19
          - group20
          type: string
        esp:
          properties:
            authentication:
              description: Authentication algorithm
              items:
                default: sha1
                type: string
              type: array
            encryption:
              description: Encryption algorithm
              items:
                default: aes-128-cbc
                enum:
                - des
                - 3des
                - aes-128-cbc
                - aes-192-cbc
                - aes-256-cbc
                - aes-128-gcm
                - aes-256-gcm
                - 'null'
                type: string
              type: array
          required:
          - encryption
          - authentication
          type: object
        lifesize:
          $ref: '#/components/schemas/Lifesize'
        lifetime:
          $ref: '#/components/schemas/Lifetime'
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 31
          type: string
      required:
      - name
      - lifetime
      type: object
    RemoteNetworksIpsecTunnelSet:
      properties:
        name:
          description: provide a name to use as a suffix for bulk operations
          type: string
        remote_networks_ipsec_tunnels:
          items:
            $ref: '#/components/schemas/RemoteNetworksIpsecTunnel'
          maxItems: 100
          minItems: 1
          type: array
          uniqueItems: true
      required:
      - name
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    RemoteNetworksNamesSet:
      properties:
        remote_networks_names:
          items:
            type: string
          maxItems: 100
          minItems: 0
          type: array
          uniqueItems: true
      type: object
    UuidResponse:
      properties:
        uuid:
          format: uuid
          type: string
      readOnly: true
      type: object
    RemoteNetworksIpsecTunnelResponseSet:
      properties:
        remote_networks_ipsec_tunnel_response_set:
          items:
            $ref: '#/components/schemas/RemoteNetworksIpsecTunnelResponse'
          type: array
      type: object
    RemoteNetworksConfiguration:
      properties:
        ecmp_load_balancing:
          default: disable
          enum:
          - enable
          - disable
          type: string
        ecmp_tunnels:
          description: ecmp_tunnels is required when ecmp_load_balancing is enable
          items:
            properties:
              ipsec_tunnel:
                type: string
              name:
                type: string
              protocol:
                properties:
                  bgp:
                    $ref: '#/components/schemas/RemoteNetworksProtocolBgp'
                type: object
            required:
            - name
            - ipsec_tunnel
            - protocol
            type: object
          maxLength: 4
          type: array
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        inbound_access:
          properties:
            applications:
              items:
                properties:
                  dedicated_ip:
                    default: false
                    description: Dedicated IP address for this application
                    type: boolean
                  port:
                    description: Destination port
                    maximum: 65535
                    minimum: 1
                    type: integer
                  private_ip:
                    description: Private IP address
                    type: string
                  protocol:
                    description: Protocol used by this application
                    enum:
                    - TCP
                    - UDP
                    type: string
                type: object
              type: array
            enabled:
              default: false
              description: Enable Inbound Access
              type: boolean
            public_ip:
              default: 5
              enum:
              - 5
              - 10
              type: string
            snat_enabled:
              default: true
              description: Enable source NAT
              type: boolean
          type: object
        ipsec_tunnel:
          description: ipsec_tunnel is required when ecmp_load_balancing is disable
          type: string
        license_type:
          default: FWAAS-AGGREGATE
          description: New customer will only be on aggregate bandwidth licensing
          minLength: 1
          type: string
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 63
          type: string
        override_spn_name:
          default: false
          description: Enable/disable the ability to override the remote-network's spn-name at site level
          type: boolean
        protocol:
          description: setup the protocol when ecmp_load_balancing is disable
          properties:
            bgp:
              $ref: '#/components/schemas/RemoteNetworksProtocolBgp'
            bgp_peer:
              description: secondary bgp routing as bgp_peer
              properties:
                local_ip_address:
                  type: string
                peer_ip_address:
                  type: string
                secret:
                  type: string
              type: object
          type: object
        region:
          minLength: 1
          type: string
        secondary_ipsec_tunnel:
          description: specify secondary ipsec_tunnel if needed
          type: string
        spn_name:
          description: spn-name is needed when license_type is FWAAS-AGGREGATE
          type: string
        subnets:
          items:
            type: string
          type: array
      required:
      - name
      - region
      - license_type
      type: object
    RemoteNetworksReadResult:
      properties:
        configuration:
          $ref: '#/components/schemas/RemoteNetworksConfiguration'
        error:
          additionalProperties: true
          type: object
        name:
          type: string
        networkDetails:
          $ref: '#/components/schemas/RemoteNetworksIpsecTunnelResponse'
        status:
          type: string
      required:
      - name
      type: object
    RemoteNetworksResponse:
      description: Remote Networks Response
      properties:
        errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        result:
          $ref: '#/components/schemas/RemoteNetworksIpsecTunnelResponseSet'
        status:
          type: string
      type: object
    IpsecCrypto:
      properties:
        ipsec_crypto_profile:
          example:
          - ipsec_aruba
          - ipsec_aryaka
          - ipsec_citrix
          - ipsec_riverbed
          type: string
      type: object
    IkeCrypto:
      properties:
        ipsec_crypto_profile:
          example:
          - ike_aruba
          - ike_aryaka
          - ike_citrix
          - ike_riverbed
          type: string
      type: object
    generic_error_2:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos_2'
        _request_id:
          type: string
      x-examples: {}
    remote-networks:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The UUID of the remote network
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: The name of the remote network
          maxLength: 63
        folder:
          type: string
          description: The folder that contains the remote network
          default: Remote Networks
        ipsec_tunnel:
          type: string
          description: ipsec_tunnel is required when ecmp_load_balancing is disable
        secondary_ipsec_tunnel:
          type: string
          description: specify secondary ipsec_tunnel if needed
        license_type:
          type: string
          description: New customer will only be on aggregate bandwidth licensing
          minLength: 1
          default: FWAAS-AGGREGATE
        region:
          type: string
          minLength: 1
        subnets:
          type: array
          items:
            type: string
        protocol:
          type: object
          description: setup the protocol when ecmp_load_balancing is disable
          properties:
            bgp:
              $ref: '#/components/schemas/remote-networks-protocol-bgp'
            bgp_peer:
              type: object
              description: secondary bgp routing as bgp_peer
              properties:
                same_as_primary:
                  description: Same peer IP address as primary WAN
                  type: boolean
                peer_ip_address:
                  description: Remote peer IP address (secondary WAN)
                  type: string
                local_ip_address:
                  description: Local peer IP address (secondary WAN)
                  type: string
                secret:
                  description: BGP peering secret (secondary WAN)
                  type: string
                  format: password
        spn_name:
          type: string
          description: spn-name is needed when license_type is FWAAS-AGGREGATE
        ecmp_load_balancing:
          type: string
          enum:
          - enable
          - disable
          default: disable
        ecmp_tunnels:
          type: array
          description: ecmp_tunnels is required when ecmp_load_balancing is enable
          items:
            maxItems: 4
            type: object
            properties:
              name:
                type: string
              ipsec_tunnel:
                type: string
              protocol:
                type: object
                properties:
                  bgp:
                    $ref: '#/components/schemas/remote-networks-protocol-bgp'
            required:
            - name
            - ipsec_tunnel
            - protocol
      required:
      - id
      - name
      - folder
      - license_type
      - region
    error_detail_cause_info_2:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    remote-networks-protocol-bgp:
      type: object
      properties:
        enable:
          description: Enable BGP peering?
          type: boolean
        summarize_mobile_user_routes:
          description: Summarize mobile user routes?
          type: boolean
        originate_default_route:
          description: Originate default route?
          type: boolean
        do_not_export_routes:
          description: Do not export routes?
          type: boolean
        peer_ip_address:
          description: Remote peer IP address
          type: string
        peer_as:
          description: BGP peer ASN
          type: string
        local_ip_address:
          description: Local peer IP address
          type: string
        secret:
          description: BGP peering secret
          type: string
          format: password
        peering_type:
          description: Route exchange types
          type: string
          enum:
          - exchange-v4-over-v4
          - exchange-v4-v6-over-v4
          - exchange-v4-over-v4-v6-over-v6
          - exchange-v6-over-v6
    error_detail_cause_infos_2:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info_2'
      x-examples: {}
  parameters:
    uuid:
      description: 'UUID for the request.

        '
      in: query
      name: id
      required: true
      schema:
        format: uuid
        type: string
    SubTenantName:
      description: 'Sub-tenant name in a panorama multi-tenancy setup.

        '
      in: query
      name: SubTenantName
      schema:
        type: string
    RemoteNetworksNames:
      description: 'List of remote networks along with their names.

        '
      explode: true
      in: query
      name: Name
      required: false
      schema:
        items:
          type: string
        type: array
      style: deepObject
    uuid_2:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
    folder-remotenetworks:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      required: true
      schema:
        enum:
        - Remote Networks
        default: Remote Networks
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
  responses:
    default_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    bad_request_errors_basic_with_body:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    http_ok:
      description: OK
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    default_errors_2:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    bad_request_errors_basic_with_body_2:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
  examples:
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- palo-alto-sase-config-orch-paloaltonetworks-remote-networks-openapi.yaml
- palo-alto-scm-config-sase-deployment-deployment-services-june-openapi.yaml
