openapi: 3.1.0
info:
  title: DNS Security API
  description: >-
    REST API for querying DNS domain categorization and threat intelligence
    from Palo Alto Networks DNS Security cloud service. Beta release. Provides
    domain category lookups, risk level assessments, DNS security category
    verdicts, and network access statistics. Enables security teams to
    investigate suspicious domains, enrich security events with DNS threat
    intelligence, and automate domain-based threat hunting workflows. Requires
    an active DNS Security subscription.
  version: '1.0-beta'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.dns.service.paloaltonetworks.com/v1
    description: DNS Security API production server.
security:
  - dnsApiKey: []
tags:
  - name: Domains
    description: Domain categorization and threat intelligence lookups.
  - name: Statistics
    description: Network access and DNS query statistics.
paths:
  /domain:
    get:
      operationId: getDomain
      summary: Query domain details
      description: >-
        Returns categorization, risk level, and DNS security verdict for a
        specific domain. The response includes the URL filtering category,
        risk level score, and the DNS Security category classification used
        to make enforcement decisions. Requires a valid customer ID associated
        with an active DNS Security subscription.
      tags:
        - Domains
      parameters:
        - name: domain
          in: query
          required: true
          description: Fully qualified domain name to query (e.g., example.com).
          schema:
            type: string
        - name: customerid
          in: query
          required: true
          description: >-
            Customer ID associated with the DNS Security subscription. Used
            to scope results to the tenant's DNS Security policy context.
          schema:
            type: string
      responses:
        '200':
          description: Domain details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetail'
        '400':
          description: Invalid domain format or missing required parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing X-DNS-API-APIKEY header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: DNS Security subscription not active for the customer ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Domain not found in DNS Security database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /domain/bulk:
    get:
      operationId: getDomainBulk
      summary: Bulk domain query
      description: >-
        Returns categorization, risk level, and DNS security verdicts for
        multiple domains in a single request. More efficient than issuing
        individual domain queries when enriching security events that reference
        multiple domains. The domains parameter accepts a comma-separated list
        or multiple query parameter instances.
      tags:
        - Domains
      parameters:
        - name: domains
          in: query
          required: true
          description: >-
            Array of fully qualified domain names to query. Provide multiple
            values using repeated query parameters or a comma-separated list.
          schema:
            type: array
            items:
              type: string
            maxItems: 100
          style: form
          explode: true
        - name: customerid
          in: query
          required: true
          description: Customer ID associated with the DNS Security subscription.
          schema:
            type: string
      responses:
        '200':
          description: Bulk domain results returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Number of domains in the response.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DomainDetail'
        '400':
          description: Invalid request parameters or too many domains requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing X-DNS-API-APIKEY header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: DNS Security subscription not active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /stats/network:
    get:
      operationId: getNetworkStats
      summary: Get network access statistics
      description: >-
        Returns DNS query and network access statistics for a customer's
        environment within a specified time range. Supports filtering by
        domain to return per-domain statistics. Useful for monitoring DNS
        query volumes, identifying anomalous lookup patterns, and generating
        compliance reports on DNS Security policy enforcement activity.
      tags:
        - Statistics
      parameters:
        - name: customerid
          in: query
          required: true
          description: Customer ID for which to return network statistics.
          schema:
            type: string
        - name: domain
          in: query
          required: false
          description: >-
            Filter statistics to a specific domain. When omitted, aggregate
            statistics for all domains are returned.
          schema:
            type: string
        - name: stime
          in: query
          required: true
          description: >-
            Start time for the statistics period in ISO 8601 format or Unix
            epoch seconds.
          schema:
            type: string
        - name: etime
          in: query
          required: true
          description: >-
            End time for the statistics period in ISO 8601 format or Unix
            epoch seconds.
          schema:
            type: string
      responses:
        '200':
          description: Network access statistics returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStats'
        '400':
          description: Invalid query parameters or time range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing X-DNS-API-APIKEY header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: DNS Security subscription not active.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    dnsApiKey:
      type: apiKey
      in: header
      name: X-DNS-API-APIKEY
      description: >-
        DNS Security API key. Requires an active DNS Security subscription
        associated with a Palo Alto Networks support account. Obtain from
        the DNS Security portal under API settings.
  schemas:
    DomainDetail:
      type: object
      properties:
        domain:
          type: string
          description: Fully qualified domain name queried.
        category:
          type: string
          description: >-
            URL filtering category assigned to the domain (e.g., malware,
            phishing, command-and-control, business-and-economy).
        risk_level:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
          description: Risk level assessment for the domain.
        risk_score:
          type: number
          format: float
          description: Numeric risk score from 0.0 (no risk) to 100.0 (critical risk).
          minimum: 0.0
          maximum: 100.0
        dns_security_category:
          type: string
          enum:
            - benign
            - malware
            - phishing
            - command-and-control
            - grayware
            - dynamic-dns
            - newly-registered
            - parked
            - unknown
          description: DNS Security category classification used for policy enforcement.
        first_seen:
          type: string
          format: date-time
          description: Timestamp when the domain was first observed by DNS Security.
        last_seen:
          type: string
          format: date-time
          description: Timestamp when the domain was most recently observed.
        registrar:
          type: string
          description: Domain registrar name.
        registration_date:
          type: string
          format: date
          description: Date the domain was registered.
        ip_addresses:
          type: array
          items:
            type: string
          description: Current IP addresses the domain resolves to.
    NetworkStats:
      type: object
      properties:
        customerid:
          type: string
          description: Customer ID for which statistics are returned.
        period:
          type: object
          properties:
            start:
              type: string
              description: Start of the statistics period.
            end:
              type: string
              description: End of the statistics period.
        total_queries:
          type: integer
          description: Total DNS queries processed during the period.
        blocked_queries:
          type: integer
          description: DNS queries blocked by DNS Security policy.
        allowed_queries:
          type: integer
          description: DNS queries allowed by DNS Security policy.
        sinkholed_queries:
          type: integer
          description: DNS queries redirected to sinkhole.
        top_queried_domains:
          type: array
          description: Most frequently queried domains during the period.
          items:
            type: object
            properties:
              domain:
                type: string
              query_count:
                type: integer
              dns_security_category:
                type: string
        category_breakdown:
          type: array
          description: Query counts grouped by DNS Security category.
          items:
            type: object
            properties:
              category:
                type: string
              count:
                type: integer
              percentage:
                type: number
                format: float
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
