openapi: 3.2.0
info:
  title: Palo Alto Networks Asset Explorer API
  version: '1.0'
  description: 'Operations tagged Asset Explorer across 3 of this provider''s published API definitions: palo-alto-cspm-assetexplorer-openapi.json, palo-alto-cspm-assetmicroservice-openapi.json, palo-alto-cspm-consolidated-spec-cspm-spec-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- description: "The Asset Explorer APIs enable you to list resource information filters, \nautocomplete suggestions for resource information filter, and list resource scan information.\n"
  name: Asset Explorer
paths:
  /filter/resource/scan_info/suggest:
    get:
      description: Returns an object where the keys are supported Resource Info filters and values contain default recent options.
      operationId: get-resource-info-filters-and-options
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryFilterSuggestion'
          description: success
      security:
      - x-redlock-auth: []
      summary: List Resource Info Filters
      tags:
      - Asset Explorer
    post:
      description: Returns an object that includes a list of autocomplete suggestions for the specified resource info filter.
      operationId: get-resource-info-filter-options
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterSuggestionModel'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ParsedTableFilter'
          description: success
      security:
      - x-redlock-auth: []
      summary: List Resource Info Filter Autocomplete Suggestions
      tags:
      - Asset Explorer
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /resource/scan_info:
    get:
      deprecated: true
      description: "Returns a full breakdown of passed/failed statistics and associated policies for resources.\n:::info\n **Replacement  Endpoint: [Resource Scan Info V2 - GET](/prisma-cloud/api/cspm/get-resource-scan-info-v-2)**\n:::\n\n  \n\nThe query parameters enable you to add filters to your request to narrow your results.\n### Filter by Time\nThe following table has examples of common filters by time. The time filter narrows the\nresponse to resources from account onboarding until the point in time of interest.\n\nPoint in time of interest | timeAmount | timeType | timeUnit \n-------------| ---- | ----------- | -------------\n24 hours ago | 24 | **relative** | hour      \n1 week ago |  1 | **relative** | week\n1 month ago | 1 | **relative** | month        \n1 year ago | 1 | **relative** | year                \nLatest | Not required with **to_now** | **to_now** | Defaults to **epoch**\n\n### How Current is the Returned Data?\nSince Prisma Cloud relies on snapshots of data, there can be an hour or two delay between the \ntime a resource passes or fails a policy check and the reporting of that result through this method.\n\n### Filter by Cloud Type\nYou can specify more than one cloud type to request a combination of data. For \nexample **cloud.type=gcp&cloud.type=azure** returns data for both **gcp** and **azure**.\n\n### Filter by Compliance Standard, Requirement, and/or Section \nYou can also broaden your filter by specifying any of the following query parameters more than once:\n* **policy.complianceStandard**\n* **policy.complianceRequirement**\n* **policy.complianceSection**\n"
      operationId: get-resource-scan-info
      parameters:
      - description: Time Type
        in: query
        name: timeType
        required: true
        schema:
          enum:
          - relative
          - to_now
          type: string
      - description: Time Amount. Required for **timeType** **relative**. Unused for **timeType** **to_now**
        in: query
        name: timeAmount
        required: false
        schema:
          type: string
      - description: Time Unit. Required for **timeType** **relative**. Unused for **timeType** **to_now**
        in: query
        name: timeUnit
        required: false
        schema:
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          type: string
      - description: Cloud account
        in: query
        name: cloud.account
        required: false
        schema:
          type: string
      - description: Cloud type
        in: query
        name: cloud.type
        required: false
        schema:
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
      - description: Cloud region
        in: query
        name: cloud.region
        required: false
        schema:
          type: string
      - description: Account group
        in: query
        name: account.group
        required: false
        schema:
          type: string
      - description: Policy compliance standard. You can specify policy.complianceStandard=* to return the data for all compliance standards.
        in: query
        name: policy.complianceStandard
        required: false
        schema:
          type: string
      - description: Policy compliance requirement name
        in: query
        name: policy.complianceRequirement
        required: false
        schema:
          type: string
      - description: Policy compliance section ID
        in: query
        name: policy.complianceSection
        required: false
        schema:
          type: string
      - description: Maximum number of entries to be returned. A single API call retrieves a maximum of 10,000 resources, which is also the default.
        in: query
        name: limit
        required: false
        schema:
          type: string
      - description: Whether or not the resources were scanned and whether they passed or failed the scan. The default is **all**.
        in: query
        name: scan.status
        required: false
        schema:
          enum:
          - all
          - passed
          - failed
          type: string
      - description: Token identifying the required page of data. When there are multiple pages of data, the **nextPageToken** from the response can be used in this parameter
        in: query
        name: pageToken
        required: false
        schema:
          type: string
      - description: Policy severity
        in: query
        name: asset.severity
        required: false
        schema:
          type: string
      - description: Vulnerability Severity
        in: query
        name: vulnerability.severity
        required: false
        schema:
          type: string
      - description: Include Foreign Entities. This is only applicable for compliance flows. This is because the Asset Inventory only counts assets that belong to your cloud account, and the Compliance Dashboard includes foreign entities such as SSO or Federated Users that are not resources ingested directly from the monitored cloud accounts
        in: query
        name: includeEventForeignEntities
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecoratedResourceInfoResult'
          description: success
        '400':
          description: bad_request
      security:
      - x-redlock-auth: []
      summary: Resource Scan Info - GET
      tags:
      - Asset Explorer
    post:
      deprecated: true
      description: "Returns a full breakdown of passed/failed statistics and associated policies for resources.\n:::info\n **Replacement  Endpoint: [Resource Scan Info V2 - POST](/prisma-cloud/api/cspm/post-resource-scan-info-v-2)**\n:::\n\n  \n\nYou can get a list of the valid names and values for the filters body parameter through \n[List Inventory Filters V2](/prisma-cloud/api/cspm/get-asset-inventory-v-2-dashboard-filter-options).\n\n### Filter by Time\nThe time filter narrows the response to resources from account onboarding until the point in time of interest.\n\n#### Time Types\n\nTime Type | Required **timeRange.value** Parameters\n----------|-----------------\n**to_now** | No **timeRange.value** parameter required\n**relative** | **timeRange.value.amount**, **timeRange.value.unit** \n**absolute** | **timeRange.value.endTime** (**timeRange.value.startTime** is ignored)\n\n### How Current is the Returned Data?\nSince Prisma Cloud relies on snapshots of data, there can be an hour or two delay between the \ntime a resource passes or fails a policy check and the reporting of that result through this method.\n"
      operationId: post-resource-scan-info
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterModel'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecoratedResourceInfoResult'
          description: success
        '400':
          description: bad_request
        '404':
          description: not_found
      security:
      - x-redlock-auth: []
      summary: Resource Scan Info - POST
      tags:
      - Asset Explorer
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /v2/resource/scan_info:
    get:
      description: "Returns a full breakdown of passed/failed statistics and associated policies for resources.  \n\nThe query parameters enable you to add filters to your request to narrow your results.\n### How Current is the Returned Data?\nSince Prisma Cloud relies on snapshots of data, there can be an hour or two delay between the \ntime a resource passes or fails a policy check and the reporting of that result through this method.\n\n### Filter by Cloud Type\nYou can specify more than one cloud type to request a combination of data. For \nexample **cloud.type=gcp&cloud.type=azure** returns data for both **gcp** and **azure**.\n\n### Filter by Compliance Standard, Requirement, and/or Section \nYou can also broaden your filter by specifying any of the following query parameters more than once:\n* **policy.complianceStandard**\n* **policy.complianceRequirement**\n* **policy.complianceSection**\n"
      operationId: get-resource-scan-info-v2
      parameters:
      - description: Cloud account
        in: query
        name: cloud.account
        required: false
        schema:
          type: string
      - description: Cloud type
        in: query
        name: cloud.type
        required: false
        schema:
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
      - description: Cloud region
        in: query
        name: cloud.region
        required: false
        schema:
          type: string
      - description: Account group
        in: query
        name: account.group
        required: false
        schema:
          type: string
      - description: Policy compliance standard. You can specify policy.complianceStandard=* to return the data for all compliance standards.
        in: query
        name: policy.complianceStandard
        required: false
        schema:
          type: string
      - description: Policy compliance requirement name
        in: query
        name: policy.complianceRequirement
        required: false
        schema:
          type: string
      - description: Policy compliance section ID
        in: query
        name: policy.complianceSection
        required: false
        schema:
          type: string
      - description: Maximum number of entries to be returned. A single API call retrieves a maximum of 10,000 resources, which is also the default.
        in: query
        name: limit
        required: false
        schema:
          type: string
      - description: Whether or not the resources were scanned and whether they passed or failed the scan. The default is **all**.
        in: query
        name: scan.status
        required: false
        schema:
          enum:
          - all
          - passed
          - failed
          type: string
      - description: Token identifying the required page of data. When there are multiple pages of data, the **nextPageToken** from the response can be used in this parameter
        in: query
        name: pageToken
        required: false
        schema:
          type: string
      - description: Policy severity
        in: query
        name: asset.severity
        required: false
        schema:
          type: string
      - description: Vulnerability Severity
        in: query
        name: vulnerability.severity
        required: false
        schema:
          type: string
      - description: Include Foreign Entities. This is only applicable for compliance flows. This is because the Asset Inventory only counts assets that belong to your cloud account, and the Compliance Dashboard includes foreign entities such as SSO or Federated Users that are not resources ingested directly from the monitored cloud accounts
        in: query
        name: includeEventForeignEntities
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecoratedResourceInfoResult'
          description: success
        '400':
          description: bad_request
      security:
      - x-redlock-auth: []
      summary: Resource Scan Info V2 - GET
      tags:
      - Asset Explorer
    post:
      description: "Returns a full breakdown of passed/failed statistics and associated policies for resources.  \n\nYou can get a list of the valid names and values for the filters body parameter through \n[List Inventory Filters V2](/prisma-cloud/api/cspm/get-asset-inventory-v-2-dashboard-filter-options).\n### How Current is the Returned Data?\nSince Prisma Cloud relies on snapshots of data, there can be an hour or two delay between the \ntime a resource passes or fails a policy check and the reporting of that result through this method.\n\n:::info\nThe `offset`, `sortBy`, `fields` and `detailed` fields in the request body are not supported for this endpoint\n:::"
      operationId: post-resource-scan-info-v2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BaseFilterModel'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecoratedResourceInfoResult'
          description: success
        '400':
          description: bad_request
        '404':
          description: not_found
      security:
      - x-redlock-auth: []
      summary: Resource Scan Info V2 - POST
      tags:
      - Asset Explorer
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /uai/v1/asset:
    post:
      tags:
      - Asset Explorer
      summary: Get Asset
      description: "Returns detailed information for the asset with the given id.\n\nThe data field in the response object contains the raw JSON blob as returned by the source cloud service provider API for the given asset.\n\nOnly the rrn parameter in the request body is used for this API. Ignore the timelineItemId and findingType fields.\n\n Ensure to add the required parameters for the asset query parameter with type as follows: \n\n | **Type** | **Conditionally Required Query Parameters**                                              |\n| ------------------------------- | ----------------------------------------------------------------- |\n| external_finding                | <ul><li>findingType</li><li>riskFactors </li></ul>                                   |\n| alerts                          | alertIds                                                          |\n| attack_path                      | attackPathIds                                                     |\n| package_info                    | <ul><li>vulnerabilityInfoTypeId</li><li>filters</li></ul>                           |\n| labels                          | filters                                                           |\n| vulnerability_aggregates        | filters                                                           |\n| process_info                    | filters                                                          |\n| vulnerabilities_group_by_type   |<ul><li>vulnerabilityInfoTypeId</li><li>   filters</li></ul>                           |\n| asset_cwp_vulns                 |<ul><li>vulnerabilityInfoTypeId</li><li>vulnerabilityInfoType</li><li>filters</li></ul> |\n\n"
      operationId: get-asset-details-by-id
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetRequest'
        required: true
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
      x-public: 'true'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
components:
  schemas:
    ResourceInfoPageOption:
      properties:
        failedEventOffset:
          type: boolean
        lastRowIdx:
          format: int64
          type: integer
        limit:
          format: int64
          type: integer
        offset:
          format: int64
          type: integer
        previousTotalMatchedCount:
          format: int64
          type: integer
        timestamp:
          format: int64
          type: integer
      type: object
    AlertStatus:
      properties:
        critical:
          format: int64
          type: integer
        high:
          format: int64
          type: integer
        informational:
          format: int64
          type: integer
        low:
          format: int64
          type: integer
        medium:
          format: int64
          type: integer
      type: object
    NameValueIntegerString:
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
      type: object
    TimeModel:
      description: Model for Time
      properties:
        endTime:
          description: End timestamp
          format: int64
          type: integer
        startTime:
          description: Start timestamp
          format: int64
          type: integer
      type: object
    AbsoluteTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for AbsoluteTimeRangeConfig
        properties:
          type:
            example: absolute
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/TimeModel'
            - description: Time range object
        required:
        - value
        type: object
    RelativeTimeDurationModel:
      description: Model for RelativeTimeDuration
      properties:
        amount:
          description: Number of time units
          format: int32
          type: integer
        unit:
          description: Time unit
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          type: string
      type: object
    VulnerabilityStatus:
      properties:
        critical:
          format: int64
          type: integer
        high:
          format: int64
          type: integer
        low:
          format: int64
          type: integer
        medium:
          format: int64
          type: integer
      type: object
    BaseFilterModel:
      description: Model for Filter
      discriminator:
        propertyName: type
      properties:
        detailed:
          description: Detailed
          type: boolean
        fields:
          description: Array of specific fields to return
          items:
            type: string
          type: array
        filters:
          description: "Filtering parameters. \n\nFor filter names, refer to List Filters API. \n\nFor filter values, refer to List filter suggestions. \n\nThe only exception is **resource.tagv2** filter name, provide filter value for it in the following format: \"{\"key\":\"'CustomerTagKey'\",\"value\":\"'CustomerTagValue'\"}\""
          items:
            $ref: '#/components/schemas/UIFilterModel'
          type: array
        groupBy:
          description: For asset or data inventory only. Group returned items by **cloud.type**, **cloud.service**, **cloud.region**, **cloud.account**, and/or **resource.type**
          items:
            type: string
          type: array
        limit:
          description: Maximum number of items to return. When data is paginated, maximum number of items per page.The maximum cannot exceed 10,000. The default is 10,000.
          type: number
        offset:
          description: The number of items to skip before selecting items to return. Default is zero
          type: number
        pageToken:
          description: 'Setting this pagination Token to the **nextPageToken** from a response object returns the next page of data '
          type: string
        sortBy:
          description: Array of sort properties. Append **:asc** or  **:desc** to the key to sort by ascending or descending order respectively. Example sort properties are **id:asc** and **timestamp:desc**
          items:
            type: string
          type: array
        type:
          type: string
      type: object
    ScannedPolicyInfo:
      properties:
        id:
          type: string
        labels:
          items:
            type: string
          type: array
          uniqueItems: true
        name:
          type: string
        passed:
          type: boolean
        severity:
          enum:
          - INFORMATIONAL
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
          type: string
      type: object
    ToNowTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for ToNowTimeRangeConfig
        properties:
          value:
            description: Time range object
            enum:
            - MINUTE
            - HOUR
            - DAY
            - WEEK
            - MONTH
            - YEAR
            - EPOCH
            - LOGIN
            type: string
        type: object
    DecoratedResourceInfo:
      description: Model for resource info and status list
      properties:
        accountId:
          description: Account ID
          type: string
        accountName:
          description: Account name
          type: string
        alertStatus:
          allOf:
          - $ref: '#/components/schemas/AlertStatus'
          - description: Count of alerts found by their policy severity
        appNames:
          items:
            type: string
          type: array
          uniqueItems: true
        assetType:
          description: Asset Type
          type: string
        cloudType:
          description: Cloud type
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - IBM
          type: string
        id:
          description: Resource ID
          type: string
        name:
          description: Resource name
          type: string
        overallPassed:
          description: All policies passed
          type: boolean
        regionId:
          description: Region ID
          type: string
        regionName:
          description: Region Name
          type: string
        resourceConfigJsonAvailable:
          description: Resource config JSON available
          type: boolean
        resourceDetailsAvailable:
          description: Resource details available
          type: boolean
        rrn:
          description: RRN
          type: string
        scannedPolicies:
          description: Scanned policies
          items:
            $ref: '#/components/schemas/ScannedPolicyInfo'
          type: array
        unifiedAssetId:
          description: Asset Id
          type: string
        vulnerabilityStatus:
          allOf:
          - $ref: '#/components/schemas/VulnerabilityStatus'
          - description: Count of vulnerabilities found by their severity
      type: object
    UIFilterModel:
      description: Model for UIFilter
      properties:
        name:
          description: Name
          type: string
        operator:
          description: Operator
          enum:
          - tag:yaml.org,2002:value =
          type: string
        value:
          description: Value
          type: string
      type: object
    DecoratedResourceInfoResult:
      description: Model for resource info and status list
      properties:
        nextPageToken:
          allOf:
          - $ref: '#/components/schemas/ResourceInfoPageOption'
          - description: Use as page token to return next page of data
        pageSize:
          description: Page size
          format: int64
          type: integer
        resources:
          description: List of metadata for resources that match filter
          items:
            $ref: '#/components/schemas/DecoratedResourceInfo'
          type: array
        timestamp:
          description: Epoch timestamp
          format: int64
          type: integer
        totalMatchedCount:
          description: Total number of filtered resources, both scanned and unscanned
          format: int64
          type: integer
      type: object
    FilterSuggestionModel:
      description: Model for Filter Suggestions
      properties:
        filterName:
          description: Filter name
          type: string
        query:
          description: Case-insensitive fuzzy search autocomplete filter. Includes only items that contain the query as a substring.
          type: string
      required:
      - filterName
      type: object
    InventoryFilterSuggestion:
      description: Model for InventoryFilterSuggestion
      properties:
        account.group:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.account:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.region:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.service:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.type:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
      type: object
    FilterModel:
      allOf:
      - $ref: '#/components/schemas/BaseFilterModel'
      - description: Model for Filter
        properties:
          timeRange:
            allOf:
            - $ref: '#/components/schemas/TimeRangeConfigModel'
            - description: Time range
        type: object
    RelativeTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for RelativeTimeRangeConfig
        properties:
          relativeTimeType:
            description: Direction in which to count time. Default = BACKWARD
            enum:
            - BACKWARD
            - FORWARD
            type: string
          type:
            example: relative
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/RelativeTimeDurationModel'
            - description: Time range object
        required:
        - value
        type: object
    TimeRangeConfigModel:
      description: 'See the [Time Range Model](/prisma-cloud/api/cspm/api-time-range-model) for details.

        '
      discriminator:
        mapping:
          absolute: '#/components/schemas/AbsoluteTimeRangeConfigModel'
          relative: '#/components/schemas/RelativeTimeRangeConfigModel'
          to_now: '#/components/schemas/ToNowTimeRangeConfigModel'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/RelativeTimeRangeConfigModel'
      - $ref: '#/components/schemas/AbsoluteTimeRangeConfigModel'
      - $ref: '#/components/schemas/ToNowTimeRangeConfigModel'
      properties:
        type:
          description: Time type
          type: string
      required:
      - type
      type: object
    FilterSuggestion:
      description: Model for FilterSuggestion
      properties:
        nameValue:
          description: Filter options
          items:
            $ref: '#/components/schemas/NameValueIntegerString'
          type: array
        options:
          description: Filter options, which lists all the default options for static filters or all the recent options, if any, for non-static filters
          items:
            type: string
          type: array
          uniqueItems: true
        staticFilter:
          description: Filter is a static filter
          type: boolean
      type: object
    ParsedTableFilter:
      description: Model for parsed table filter
      properties:
        completeParameters:
          items:
            $ref: '#/components/schemas/UIFilterModel'
          type: array
        links:
          description: JSON query builder links
          type: string
        needsOffsetUpdate:
          description: Needs offset update (for internal use)
          type: boolean
        offset:
          description: Offset within query
          format: int32
          type: integer
        queryRemainder:
          description: Query remainder
          type: string
        suggestions:
          description: List of suggestions
          items:
            type: string
          type: array
        translate:
          description: Translate (for internal use)
          type: boolean
        valid:
          description: Query is valid
          type: boolean
      type: object
    CountBySeverity:
      type: object
      properties:
        severity:
          type: string
        count:
          type: integer
          format: int32
    GraphQLErrorDebugInfo:
      required:
      - subquery
      - variables
      type: object
      properties:
        subquery:
          type: string
        variables:
          type: object
          additionalProperties:
            type: object
        additionalInformation:
          type: object
          additionalProperties:
            type: object
          writeOnly: true
    ExternalIntegrationAttribute:
      type: object
      properties:
        problem:
          $ref: '#/components/schemas/Problem'
        id:
          type: string
        name:
          type: string
        firstSeen:
          type: integer
          format: int64
        lastSeen:
          type: integer
          format: int64
        rlUpdatedOn:
          type: integer
          format: int64
        source:
          type: string
        hasAgent:
          type: boolean
        tags:
          type: array
          items:
            type: object
    AlertAttribute:
      required:
      - isHyperionPolicy
      type: object
      properties:
        problem:
          $ref: '#/components/schemas/Problem'
        id:
          type: string
        severity:
          type: string
        policyId:
          type: string
        isHyperionPolicy:
          type: boolean
        policyType:
          type: string
        policyName:
          type: string
        policyDescription:
          type: string
        alertTime:
          type: integer
          format: int64
        hyperionPolicy:
          type: boolean
          writeOnly: true
    WorkLoadFilters:
      type: object
      properties:
        offset:
          type: integer
        nextPageToken:
          type: string
        limit:
          type: integer
        search:
          type: string
        sort:
          type: string
        reverse:
          type: boolean
        type:
          type: string
        path:
          type: string
        riskFactors:
          type: array
          items:
            type: string
        funnelStage:
          type: string
        patchable:
          type: boolean
        vulnerable:
          type: boolean
        severity:
          type: string
        packageInUse:
          type: boolean
      description: Filters applied to CWP Vulns
    AssetResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AssetWrapper'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GraphQLError'
      description: Asset object
    ResourceTimelineVulnerability:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
    Finding:
      type: object
      properties:
        problem:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        accountId:
          type: string
        count:
          type: string
        createdOn:
          type: integer
          format: int64
        customerId:
          type: integer
          format: int64
        cveId:
          type: string
        description:
          type: string
        externalId:
          type: integer
        id:
          type: string
        normalizedName:
          type: string
        normalizedNames:
          type: array
          items:
            type: string
        nvdUrl:
          type: string
        link:
          type: string
        rawData:
          type: string
        regionId:
          type: string
        resourceCloudId:
          type: string
        resourceId:
          type: integer
          format: int64
        resourceUrl:
          type: string
        riskFactors:
          type: array
          items:
            type: string
            enum:
            - CRITICAL_SEVERITY
            - HIGH_SEVERITY
            - MEDIUM_SEVERITY
            - HAS_FIX
            - REMOTE_EXECUTION
            - DOS
            - RECENT_VULNERABILITY
            - EXPLOIT_EXISTS
            - ATTACK_COMPLEXITY_LOW
            - ATTACK_VECTOR_NETWORK
            - REACHABLE_FROM_THE_INTERNET
            - LISTENING_PORTS
            - CONTAINER_IS_RUNNING_AS_ROOT
            - NO_MANDATORY_SECURITY_PROFILE_APPLIED
            - RUNNING_AS_PRIVILEGED_CONTAINER
            - PACKAGE_IN_USE
            - DOS_LOW
            - DOS_HIGH
            - EXPLOIT_EXISTS_IN_THE_WILD
            - EXPLOIT_EXISTS_POC
            - SENSITIVE_INFORMATION
            - ROOT_MOUNT
            - RUNTIME_SOCKET
            - HOST_ACCESS
        rlUpdatedOn:
          type: integer
          format: int64
        scanId:
          type: string
        score:
          type: string
        severity:
          type: string
          enum:
          - informational
          - low
          - medium
          - high
          - critical
          - error
          - warning
          - info
        source:
          type: string
          enum:
          - aws_inspector
          - aws_guard_duty
          - tenable
          - qualys
          - prisma_cloud
          - azure_security_center
          - prismacloud
          - inspector
          - guardduty
          - azuresecuritycenter
        sourceData:
          type: object
        status:
          type: string
          enum:
          - pending
          - no_error
          - error
          - enabled
          - disabled
          - open
          - dismissed
          - resolved
          - descoped
          - risk_scoring_error
          - active
          - closed
          - suppressed
        title:
          type: string
        type:
          type: string
        packageName:
          type: string
        updatedOn:
          type: integer
          format: int64
    AssetRequest:
      required:
      - assetId
      - type
      type: object
      properties:
        assetId:
          type: string
          description: Unified Asset Id or RRN (Restricted Resource Name)
          example: rrn:xxx:xx:xx-xx-x:xxx:xxx:x-xxxx or unified-asset-id
        type:
          type: string
          description: Asset Domain Service query type.
          enum:
          - external_finding
          - asset
          - asset_lite
          - alerts
          - alerts_counts
          - alert_summary
          - finding_summary
          - attack_path
          - attack_path_summary
          - raw_config
          - network
          - timeline
          - external_integration
          - asset_data_indicators
          - relationships
          - findings
          - vulnerabilities
          - permissions
          - package_info
          - labels
          - vulnerability_aggregates
          - process_info
          - vulnerabilities_group_by_type
          - asset_cwp_vulns
          - app_contexts
          - attributes
          - data_security
          - data_security_summary
        findingType:
          type: array
          description: External Finding Types
          items:
            $ref: '#/components/schemas/FindingType'
        riskFactors:
          type: array
          description: External finding risk factors
          items:
            type: string
            description: External finding risk factors
            enum:
            - CRITICAL_SEVERITY
            - HIGH_SEVERITY
            - MEDIUM_SEVERITY
            - HAS_FIX
            - REMOTE_EXECUTION
            - DOS
            - RECENT_VULNERABILITY
            - EXPLOIT_EXISTS
            - ATTACK_COMPLEXITY_LOW
            - ATTACK_VECTOR_NETWORK
            - REACHABLE_FROM_THE_INTERNET
            - LISTENING_PORTS
            - CONTAINER_IS_RUNNING_AS_ROOT
            - NO_MANDATORY_SECURITY_PROFILE_APPLIED
            - RUNNING_AS_PRIVILEGED_CONTAINER
            - PACKAGE_IN_USE
            - DOS_LOW
            - DOS_HIGH
            - EXPLOIT_EXISTS_IN_THE_WILD
            - EXPLOIT_EXISTS_POC
            - SENSITIVE_INFORMATION
            - ROOT_MOUNT
            - RUNTIME_SOCKET
            - HOST_ACCESS
        timelineItemId:
          type: string
          description: Timeline Item ID
        alertIds:
          type: array
          description: List of Alert Ids
          items:
            type: string
            description: List of Alert Ids
        attackPathIds:
          type: array
          description: List of Attack Path Ids
          items:
            $ref: '#/components/schemas/AttackPathRequest'
        limit:
          type: integer
          description: Limit number of records
          format: int32
        permissionType:
          type: string
          description: Permissions Type
        pageToken:
          type: string
          description: Next Page Token
        prismaCloudFindingsOnly:
          type: boolean
          description: Filter Hyperion Findings
        vulnerabilityInfoTypeId:
          type: string
          description: CVE Id, or Package Id or Layer Id. The value needs to be fetched from one of the group by api calls
        vulnerabilityInfoType:
          type: string
          description: 'Supported Vuln Info Types: Package, layer and CVE'
          enum:
          - CVE
          - PACKAGE
          - LAYER
        filters:
          $ref: '#/components/schemas/WorkLoadFilters'
    RenderAttribute:
      required:
      - alertsCount
      - allowDrillDown
      - findingTypes
      - hasExtFindingRiskFactors
      - hasExternalFinding
      - hasExternalIntegration
      - hasNetwork
      - problem
      type: object
      properties:
        assetId:
          type: string
        appName:
          type: array
          items:
            type: string
        allowDrillDown:
          type: boolean
        hasNetwork:
          type: boolean
        hasExternalFinding:
          type: boolean
        hasExternalIntegration:
          type: boolean
        hasExtFindingRiskFactors:
          type: boolean
        alertsCount:
          type: array
          items:
            $ref: '#/components/schemas/CountBySeverity'
        findingTypes:
          uniqueItems: true
          type: array
          items:
            type: string
        relatedImages:
          type: object
        assetCategory:
          type: string
        dataSecurityServiceProviderId:
          type: string
        problem:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    UnifiedAsset:
      required:
      - deleted
      type: object
      properties:
        problem:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        id:
          type: string
        prismaId:
          type: string
        appName:
          type: array
          items:
            type: string
        externalAssetId:
          type: string
        assetTypeId:
          type: integer
          format: int32
        cloudType:
          type: string
          enum:
          - all
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          - other
          - ibm
        createdTs:
          type: integer
          format: int64
        insertTs:
          type: integer
          format: int64
        data:
          type: object
        dynamicData:
          type: object
        riskGrade:
          type: string
        stateId:
          type: string
        name:
          type: string
        regionId:
          type: string
        regionName:
          type: string
        altAssetId:
          type: array
          items:
            type: string
        url:
          type: string
        vpcId:
          type: string
        vpcExternalAssetId:
          type: string
        vpcName:
          type: string
        tags:
          type: object
        relationshipCounts:
          type: integer
          format: int64
        vulnerabilityCounts:
          type: object
        accountGroup:
          type: string
          description: '''accountGroup'' is deprecated.'
          deprecated: true
        accountName:
          type: string
        assetType:
          type: string
        serviceName:
          type: string
        resourceType:
          type: string
        deleted:
          type: boolean
        assetClassId:
          type: string
        assetClass:
          type: string
        attributes:
          type: object
          additionalProperties:
            type: object
        packageInfo:
          type: object
        vulnerabilityAggregates:
          type: object
        alertsCount:
          type: array
          items:
            $ref: '#/components/schemas/CountBySeverity'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/AlertAttribute'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/Relationships'
        finding:
          type: array
          items:
            $ref: '#/components/schemas/Finding'
        findings:
          type: array
          items:
            $ref: '#/components/schemas/Finding'
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/Finding'
        externalIntegration:
          type: array
          items:
            $ref: '#/components/schemas/ExternalIntegrationAttribute'
        network:
          type: array
          items:
            $ref: '#/components/schemas/NetworkAttribute'
        renderAttribute:
          $ref: '#/components/schemas/RenderAttribute'
        ipAddresses:
          type: array
          items:
            type: string
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/TimelineAttribute'
        trueInternetExposure:
          type: string
          description: Indicates the asset’s internet exposure level. Possible values are `y`,`n`,`NULL`. `y` means exposed, `n` means no internet exposure, and `NULL` indicates the module does not support or send this attribute.
          example: y
        dataSecurity:
          type: object
          additionalProperties:
            type: object
      description: Asset Domain Service Object type.
    StatusType:
      type: object
      properties:
        statusCode:
          type: integer
          format: int32
        reasonPhrase:
          type: string
    Relationships:
      required:
      - assetTypeId
      - problem
      - pseudoAsset
      type: object
      properties:
        assetId:
          type: string
        relationshipType:
          type: string
        assetTypeId:
          type: integer
          format: int32
        assetType:
          type: string
        assetName:
          type: string
        externalAssetId:
          type: string
        cloudId:
          type: string
        cloudName:
          type: string
        pseudoAsset:
          type: boolean
        region:
          type: string
        cloudAccountId:
          type: string
        assetClassId:
          type: string
        assetClass:
          type: string
        alertsCount:
          type: array
          items:
            $ref: '#/components/schemas/CountBySeverity'
        alertCountBySeverity:
          type: array
          items:
            $ref: '#/components/schemas/CountBySeverity'
        vulnerabilityCounts:
          type: object
        problem:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GraphQLError:
      required:
      - locations
      - message
      - path
      - pathAsString
      type: object
      properties:
        message:
          type: string
        path:
          type: array
          items:
            type: object
        locations:
          type: array
          items:
            type: object
        extensions:
          $ref: '#/components/schemas/GraphQLErrorExtensions'
        pathAsString:
          type: string
      description: Error Object.
    AttackPathRequest:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum:
          - ALERT_ID
      description: List of Attack Path Ids
    GraphQLErrorExtensions:
      required:
      - classification
      - debugInfo
      - origin
      type: object
      properties:
        errorType:
          type: string
          enum:
          - UNKNOWN
          - INTERNAL
          - NOT_FOUND
          - UNAUTHENTICATED
          - PERMISSION_DENIED
          - BAD_REQUEST
          - UNAVAILABLE
          - FAILED_PRECONDITION
        errorDetail:
          type: string
        origin:
          type: string
        debugInfo:
          $ref: '#/components/schemas/GraphQLErrorDebugInfo'
        classification:
          type: object
    AssetWrapper:
      type: object
      properties:
        asset:
          $ref: '#/components/schemas/UnifiedAsset'
      description: Asset Domain Service Object type.
    Problem:
      type: object
      properties:
        title:
          type: string
        status:
          $ref: '#/components/schemas/StatusType'
        detail:
          type: string
        instance:
          type: string
          format: uri
        type:
          type: string
          format: uri
        parameters:
          type: object
          additionalProperties:
            type: object
    FindingType:
      type: object
      description: External Finding Types
      oneOf:
      - type: string
        enum:
        - COMPLIANCE_CIS
        - GUARD_DUTY_HOST
        - GUARD_DUTY_IAM
        - INSPECTOR_RBA
        - INSPECTOR_SBP
        - NETWORK_REACHABILITY
        - AZURE_SECURITY_CENTER_ALERTS
        - UNCLASSIFIED
        - COMMAND_AND_CONTROL
        - CREDENTIAL_ACCESS
        - CROSS_ACCOUNT_TRUST
        - DATA_EXFILTRATION
        - DEFENSE_EVASION
        - DISCOVERY
        - HIGH_PRIVILEGED_ROLE
        - INITIAL_ACCESS
        - INTERNET_EXPOSURE
        - KEYS_AND_SECRETS
        - LATERAL_MOVEMENT
        - MALWARE
        - MFA
        - MISCONFIGURATION
        - NETWORK_ANOMALY
        - PRIVILEGE_ESCALATION
        - RECONNAISSANCE
        - RESOURCE_HIJACKING
        - SSH_BRUTE_FORCE
        - UNAUTHORIZED_ACCESS
        - UNENCRYPTED_DATA
        - UNUSED_PRIVILEGES
        - USER_ANOMALY
        - WEAK_PASSWORD
        - SENSITIVE_DATA_EXPOSURE
        - INJECTIONS
        - VULNERABILITY_SCANNING
        - SHELLSHOCK
        - KNOWN_BOTS
        - UNKNOWN_BOTS
        - VIRTUAL_PATCHES
        - WEB_ATTACK
        - BOT_ACTIVITY
        - WEB_SCRAPING
        - CUSTOM
        - VULNERABILITY
      - type: string
        enum:
        - HOST_VULNERABILITY_CVE
        - CONTAINER_IMAGE_VULNERABILITY_CVE
        - VIRTUAL_IMAGE_VULNERABILITY_CVE
        - SERVERLESS_VULNERABILITY
        - PACKAGE_VULNERABILITY
    NetworkAttribute:
      type: object
      properties:
        problem:
          $ref: '#/components/schemas/Problem'
        id:
          type: integer
          format: int64
        access:
          type: string
        direction:
          type: string
        ips:
          type: string
        ports:
          type: string
        protocol:
          type: string
        priority:
          type: integer
          format: int64
    TimelineAttribute:
      type: object
      properties:
        problem:
          $ref: '#/components/schemas/Problem'
        id:
          type: string
        eventName:
          type: string
        eventType:
          type: string
        type:
          type: string
          enum:
          - state_change
          - event
          - vulnerability
        timestamp:
          type: integer
          format: int64
        alertIds:
          type: array
          items:
            type: string
        firstState:
          type: boolean
        similarSince:
          type: integer
          format: int64
        similarStateCount:
          type: integer
          format: int32
        user:
          type: string
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/ResourceTimelineVulnerability'
        previousStateId:
          type: string
        discoveredTs:
          type: integer
          format: int64
    ExternalIntegrationAttribute_2:
      type: object
      properties:
        problem:
          $ref: '#/components/schemas/Problem'
        id:
          type: string
        name:
          type: string
        firstSeen:
          type: integer
          format: int64
        lastSeen:
          type: integer
          format: int64
        rlUpdatedOn:
          type: integer
          format: int64
        source:
          type: string
        hasAgent:
          type: boolean
        tags:
          type: array
          items:
            type: object
        assetJson:
          type: object
    AlertAttribute_2:
      type: object
      properties:
        problem:
          $ref: '#/components/schemas/Problem'
        id:
          type: string
        severity:
          type: string
    ExternalFinding:
      type: object
      properties:
        problem:
          $ref: '#/components/schemas/Problem'
        accountId:
          type: string
        count:
          type: string
        createdOn:
          type: integer
          format: int64
        customerId:
          type: integer
          format: int64
        cveId:
          type: string
        description:
          type: string
        externalFindingId:
          type: integer
          format: int32
        findingId:
          type: string
        normalizedName:
          type: string
        normalizedNames:
          type: array
          items:
            type: string
        nvdUrl:
          type: string
        link:
          type: string
        rawData:
          type: string
        regionId:
          type: string
        resourceCloudId:
          type: string
        resourceId:
          type: integer
          format: int64
        resourceUrl:
          type: string
        riskFactors:
          type: array
          items:
            type: string
            enum:
            - CRITICAL_SEVERITY
            - HIGH_SEVERITY
            - MEDIUM_SEVERITY
            - HAS_FIX
            - REMOTE_EXECUTION
            - DOS
            - RECENT_VULNERABILITY
            - EXPLOIT_EXISTS
            - ATTACK_COMPLEXITY_LOW
            - ATTACK_VECTOR_NETWORK
            - REACHABLE_FROM_THE_INTERNET
            - LISTENING_PORTS
            - CONTAINER_IS_RUNNING_AS_ROOT
            - NO_MANDATORY_SECURITY_PROFILE_APPLIED
            - RUNNING_AS_PRIVILEGED_CONTAINER
            - PACKAGE_IN_USE
            - DOS_LOW
            - DOS_HIGH
            - EXPLOIT_EXISTS_IN_THE_WILD
            - EXPLOIT_EXISTS_POC
            - SENSITIVE_INFORMATION
            - ROOT_MOUNT
            - RUNTIME_SOCKET
            - HOST_ACCESS
            - critical_severity
            - high_severity
            - medium_severity
            - has_fix
            - remote_execution
            - dos
            - recent_vulnerability
            - exploit_exists
            - attack_complexity_low
            - attack_vector_network
            - reachable_from_the_internet
            - listening_ports
            - container_is_running_as_root
            - no_mandatory_security_profile_applied
            - running_as_privileged_container
            - package_in_use
            - dos_low
            - dos_high
            - exploit_exists_in_the_wild
            - exploit_exists_poc
            - sensitive_information
            - root_mount
            - runtime_socket
            - host_access
        rlUpdatedOn:
          type: integer
          format: int64
        scanId:
          type: string
        score:
          type: string
        severity:
          type: string
          enum:
          - INFORMATIONAL
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
          - ERROR
          - WARNING
          - INFO
          - informational
          - low
          - medium
          - high
          - critical
          - error
          - warning
          - info
        source:
          type: string
          enum:
          - AWS_INSPECTOR
          - AWS_GUARD_DUTY
          - TENABLE
          - QUALYS
          - PRISMA_CLOUD
          - AZURE_SECURITY_CENTER
          - PRISMACLOUD
          - INSPECTOR
          - GUARDDUTY
          - AZURESECURITYCENTER
          - aws_inspector
          - aws_guard_duty
          - tenable
          - qualys
          - prisma_cloud
          - azure_security_center
          - prismacloud
          - inspector
          - guardduty
          - azuresecuritycenter
        sourceData:
          type: object
        status:
          type: string
          enum:
          - PENDING
          - NO_ERROR
          - ERROR
          - ENABLED
          - DISABLED
          - OPEN
          - DISMISSED
          - RESOLVED
          - DESCOPED
          - RISK_SCORING_ERROR
          - ACTIVE
          - CLOSED
          - SUPPRESSED
          - pending
          - no_error
          - error
          - enabled
          - disabled
          - open
          - dismissed
          - resolved
          - descoped
          - risk_scoring_error
          - active
          - closed
          - suppressed
        title:
          type: string
        type:
          type: string
          enum:
          - HOST_VULNERABILITY_CVE
          - CONTAINER_IMAGE_VULNERABILITY_CVE
          - COMPLIANCE_CIS
          - GUARD_DUTY_HOST
          - GUARD_DUTY_IAM
          - INSPECTOR_RBA
          - INSPECTOR_SBP
          - SERVERLESS_VULNERABILITY
          - NETWORK_REACHABILITY
          - PACKAGE_VULNERABILITY
          - AZURE_SECURITY_CENTER_ALERTS
          - host_vulnerability_cve
          - container_image_vulnerability_cve
          - compliance_cis
          - guard_duty_host
          - guard_duty_iam
          - inspector_rba
          - inspector_sbp
          - serverless_vulnerability
          - network_reachability
          - package_vulnerability
          - azure_security_center_alerts
        updatedOn:
          type: integer
          format: int64
    AssetResponse_2:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/AssetWrapper'
        errors:
          required:
          - locations
          - message
          - path
          - pathAsString
          type: object
          properties:
            message:
              type: string
            path:
              type: array
              items:
                type: object
            locations:
              type: array
              items:
                type: object
            extensions:
              $ref: '#/components/schemas/GraphQLErrorExtensions_2'
            pathAsString:
              type: string
          description: Error Object.
      description: Asset object
    AlertCountTuple:
      required:
      - count
      - severity
      type: object
      properties:
        severity:
          type: string
        count:
          type: integer
          format: int32
        problem:
          $ref: '#/components/schemas/Problem'
    RenderAttribute_2:
      required:
      - allowDrillDown
      - hasExtFindingRiskFactors
      - hasExternalFinding
      - hasExternalIntegration
      - hasNetwork
      type: object
      properties:
        assetId:
          type: string
        allowDrillDown:
          type: boolean
        hasNetwork:
          type: boolean
        hasExternalFinding:
          type: boolean
        hasExternalIntegration:
          type: boolean
        hasExtFindingRiskFactors:
          type: boolean
        problem:
          $ref: '#/components/schemas/Problem'
    ChunkedAssetRequest:
      required:
      - assetId
      - type
      type: object
      properties:
        assetId:
          type: string
          description: Unified Asset Id or RRN (Restricted Resource Name)
          example: '[rrn:xxx:xx:xx-xx-x:xxx:xxx:x-xxxx or unified-asset-id]'
        type:
          type: string
          description: Asset Query Type. The enum values are **case-insensitive.**
          enum:
          - EXTERNAL_FINDING
          - ASSET
          - ALERTS
          - RAW_CONFIG
          - NETWORK
          - TIMELINE
          - EXTERNAL_INTEGRATION
          - ASSET_DATA_INDICATORS
          - RELATIONSHIPS
        findingType:
          type: array
          description: External Finding Type. Applies to **EXTERNAL_FINDING** Asset query type only. The enum values are **case-insensitive.**
          items:
            type: string
            description: External Finding Types
            enum:
            - HOST_VULNERABILITY_CVE
            - CONTAINER_IMAGE_VULNERABILITY_CVE
            - COMPLIANCE_CIS
            - GUARD_DUTY_HOST
            - GUARD_DUTY_IAM
            - INSPECTOR_RBA
            - INSPECTOR_SBP
            - SERVERLESS_VULNERABILITY
            - NETWORK_REACHABILITY
            - PACKAGE_VULNERABILITY
            - AZURE_SECURITY_CENTER_ALERTS
        riskFactors:
          type: array
          description: External Finding Risk Factors. Applies to **EXTERNAL_FINDING** Asset query type only. The enum values are **case-insensitive.**
          items:
            type: string
            description: External finding risk factors
            enum:
            - CRITICAL_SEVERITY
            - HIGH_SEVERITY
            - MEDIUM_SEVERITY
            - HAS_FIX
            - REMOTE_EXECUTION
            - DOS
            - RECENT_VULNERABILITY
            - EXPLOIT_EXISTS
            - ATTACK_COMPLEXITY_LOW
            - ATTACK_VECTOR_NETWORK
            - REACHABLE_FROM_THE_INTERNET
            - LISTENING_PORTS
            - CONTAINER_IS_RUNNING_AS_ROOT
            - NO_MANDATORY_SECURITY_PROFILE_APPLIED
            - RUNNING_AS_PRIVILEGED_CONTAINER
            - PACKAGE_IN_USE
            - DOS_LOW
            - DOS_HIGH
            - EXPLOIT_EXISTS_IN_THE_WILD
            - EXPLOIT_EXISTS_POC
            - SENSITIVE_INFORMATION
            - ROOT_MOUNT
            - RUNTIME_SOCKET
            - HOST_ACCESS
        timelineItemId:
          type: string
          description: Timeline Item ID
    UnifiedAsset_2:
      required:
      - deleted
      type: object
      properties:
        problem:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
        id:
          type: string
        prismaId:
          type: string
        appName:
          type: array
          items:
            type: string
        externalAssetId:
          type: string
        assetTypeId:
          type: integer
          format: int32
        cloudType:
          type: string
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - OTHER
          - IBM
          - all
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          - other
          - ibm
        createdTs:
          type: integer
          format: int64
        insertTs:
          type: integer
          format: int64
        data:
          type: object
        dynamicData:
          type: object
        name:
          type: string
        regionId:
          type: string
        regionName:
          type: string
        riskGrade:
          type: string
        altAssetId:
          type: array
          items:
            type: string
        stateId:
          type: string
        url:
          type: string
        vpcId:
          type: string
        vpcExternalAssetId:
          type: string
        vpcName:
          type: string
        tags:
          type: object
        relationshipCounts:
          type: integer
          format: int32
        vulnerabilityCounts:
          type: object
        accountGroup:
          type: string
        accountName:
          type: string
        assetType:
          type: string
        serviceName:
          type: string
        resourceType:
          type: string
        deleted:
          type: boolean
        alertsCount:
          type: array
          items:
            $ref: '#/components/schemas/AlertCountTuple'
        alerts:
          type: array
          items:
            $ref: '#/components/schemas/AlertAttribute_2'
        relationships:
          type: array
          items:
            $ref: '#/components/schemas/Relationships_2'
        finding:
          type: array
          items:
            $ref: '#/components/schemas/ExternalFinding'
        externalIntegration:
          type: array
          items:
            $ref: '#/components/schemas/ExternalIntegrationAttribute_2'
        network:
          type: array
          items:
            $ref: '#/components/schemas/NetworkAttribute'
        renderAttribute:
          $ref: '#/components/schemas/RenderAttribute_2'
        timeline:
          type: array
          items:
            $ref: '#/components/schemas/TimelineAttribute_2'
      description: Asset Domain Service Object type.
    Relationships_2:
      required:
      - assetTypeId
      - problem
      - pseudoAsset
      type: object
      properties:
        assetId:
          type: string
        relationshipType:
          type: string
        assetTypeId:
          type: integer
          format: int32
        assetType:
          type: string
        assetName:
          type: string
        externalAssetId:
          type: string
        cloudId:
          type: string
        cloudName:
          type: string
        pseudoAsset:
          type: boolean
        region:
          type: string
        cloudAccountId:
          type: string
        problem:
          type: array
          items:
            $ref: '#/components/schemas/Problem'
    GraphQLErrorExtensions_2:
      required:
      - classification
      - debugInfo
      - origin
      type: object
      properties:
        errorType:
          type: string
          enum:
          - UNKNOWN
          - INTERNAL
          - NOT_FOUND
          - UNAUTHENTICATED
          - PERMISSION_DENIED
          - BAD_REQUEST
          - UNAVAILABLE
          - FAILED_PRECONDITION
        errorDetail:
          type: string
        origin:
          type: string
        debugInfo:
          $ref: '#/components/schemas/GraphQLErrorDebugInfo_2'
        classification:
          type: string
    TimelineAttribute_2:
      type: object
      properties:
        problem:
          $ref: '#/components/schemas/Problem'
        id:
          type: string
        eventName:
          type: string
        eventType:
          type: string
        type:
          type: string
          enum:
          - STATE_CHANGE
          - EVENT
          - VULNERABILITY
          - state_change
          - event
          - vulnerability
        timestamp:
          type: integer
          format: int64
        alertIds:
          type: array
          items:
            type: string
        firstState:
          type: boolean
        similarSince:
          type: integer
          format: int64
        similarStateCount:
          type: integer
          format: int32
        user:
          type: string
        vulnerabilities:
          type: array
          items:
            $ref: '#/components/schemas/ResourceTimelineVulnerability'
        previousStateId:
          type: string
        discoveredTs:
          type: integer
          format: int64
    UIFilterModel_2:
      description: Model for UIFilter
      properties:
        name:
          description: Name
          type: string
        operator:
          description: Operator
          enum:
          - '='
          type: string
        value:
          description: Value
          type: string
      type: object
    FilterModel_2:
      description: Model for Filter
      properties:
        detailed:
          description: Detailed
          type: boolean
        fields:
          description: Array of specific fields to return
          items:
            type: string
          type: array
        filters:
          description: "Filtering parameters. \n\nFor filter names, refer to List Filters API. \n\nFor filter values, refer to List filter suggestions. \n\nThe only exception is **resource.tagv2** filter name, provide filter value for it in the following format: \"{\"key\":\"'CustomerTagKey'\",\"value\":\"'CustomerTagValue'\"}\""
          items:
            $ref: '#/components/schemas/UIFilterModel_2'
          type: array
        groupBy:
          description: For asset or data inventory only. Group returned items by **cloud.type**, **cloud.service**, **cloud.region**, **cloud.account**, and/or **resource.type**
          items:
            type: string
          type: array
        limit:
          description: Maximum number of items to return. When data is paginated, maximum number of items per page.The maximum cannot exceed 10,000. The default is 10,000.
          type: number
        offset:
          description: The number of items to skip before selecting items to return. Default is zero
          type: number
        pageToken:
          description: 'Setting this pagination Token to the **nextPageToken** from a response object returns the next page of data '
          type: string
        sortBy:
          description: Array of sort properties. Append **:asc** or  **:desc** to the key to sort by ascending or descending order respectively. Example sort properties are **id:asc** and **timestamp:desc**
          items:
            type: string
          type: array
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time range
      type: object
    GraphQLErrorDebugInfo_2:
      required:
      - subquery
      - variables
      type: object
      properties:
        subquery:
          type: string
        variables:
          type: object
          additionalProperties:
            type: object
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
x-refined-from:
- palo-alto-cspm-assetexplorer-openapi.json
- palo-alto-cspm-assetmicroservice-openapi.json
- palo-alto-cspm-consolidated-spec-cspm-spec-openapi.json
