openapi: 3.2.0
info:
  title: 'Prisma Cloud: Managed Security Service Provider (MSSP) Policy Group to Tenant Group Management API'
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
  version: '1.0'
servers:
- url: https://mssp-api.prismacloud.io
tags:
- name: Policy Group to Tenant Group Management
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
paths:
  /api/v1/mssp/{mssp-id}/tenant-group-policy-group-mapping:
    post:
      tags:
      - Policy Group to Tenant Group Management
      summary: Associate policy groups to selected tenant group
      description: Assign the selected policy groups to selected tenant group. Will use msspId from the auth token if available.
      operationId: add-tenant-group-policy-group-mapping
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the tenant group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/TenantGroupPolicyGroupMapRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupPolicyGroupMappingsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
  /api/v1/mssp/{mssp-id}/tenant-group-policy-group-mapping/{mapping-id}:
    delete:
      tags:
      - Policy Group to Tenant Group Management
      summary: Delete an association of policy group from tenant group
      description: Deletes a policy group association from a tenant group. Will use msspId from the auth token if available.
      operationId: delete-tenant-group-policy-group-mapping
      parameters:
      - name: mapping-id
        in: path
        description: the id of the policy group to tenant group mapping. You can get this from tenantGroups[x].id of the policy group response.
        required: true
        schema:
          type: string
          format: uuid
        example: 52017d1a-d665-4187-8675-33ee1ac5b365
      - name: mssp-id
        in: path
        description: the mssp the policy group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      responses:
        '204':
          description: Delete Accepted
          headers:
            Location:
              description: The relative path to the deleted tenant group to policy group mapping
              style: simple
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
components:
  schemas:
    TenantGroupPolicyGroupMappingsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMappingResponse'
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantGroupPolicyGroupMapping:
      required:
      - policyGroupIds
      - tenantGroupId
      type: object
      properties:
        tenantGroupId:
          type: string
          description: Tenant group to which the policy groups are mapped.
          format: uuid
        policyGroupIds:
          type: array
          description: Policy groups to be mapped.
          items:
            type: string
            description: Policy groups to be mapped.
            format: uuid
      description: Tenant group to Policy groups mappings.
    TenantGroupPolicyGroupMappingResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantGroupId:
          type: string
          format: uuid
        policyGroupId:
          type: string
          format: uuid
    TenantGroupPolicyGroupMapRequest:
      required:
      - mappings
      type: object
      properties:
        mappings:
          type: array
          description: Tenant group to Policy groups mappings.
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMapping'
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- tags:
  - User Authentication
  - MSSP Account Management
  - User Management
  - MSSP Managed Tenant Lifecycle Endpoints
  - Tenant Group Lifecycle Endpoints
  - Policy Group Lifecycle Endpoints
  - Policy Group to Tenant Group Management
  - MSSP Operations Retry
  - Mssp License Endpoints
  - Stack Details Endpoint
  - Proxy Endpoint Provider
  name: public
- tags:
  - Managed Tenant Management Service
  - MSSP Async Change Management
  - Licensing Job Schedule Management
  - OIDC Discovery Endpoint
  - MSSP Account Management Service Endpoint
  name: service
- tags:
  - Hard Delete Managed Tenant
  name: support
