openapi: 3.1.0
info:
  title: Palo Alto Networks SaaS Security API
  description: >-
    SaaS Security API (Aperture) for cloud application security. Provides
    programmatic access to security incidents, scanned assets, connected SaaS
    applications, user activity data, and log forwarding configuration.
    Enables security teams to automate incident response workflows, investigate
    exposed assets, and monitor user behavior across sanctioned SaaS
    applications including Google Workspace, Microsoft 365, Salesforce,
    Box, Dropbox, and other connected applications.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.aperture.paloaltonetworks.com
    description: SaaS Security (Aperture) API production server.
security:
  - bearerAuth: []
tags:
  - name: Incidents
    description: Security incident management and status updates.
  - name: Assets
    description: Scanned asset inventory and exposure analysis.
  - name: Applications
    description: Connected SaaS application management.
  - name: Users
    description: User account and activity data.
  - name: Settings
    description: Log forwarding and configuration settings.
paths:
  /api/incidents:
    get:
      operationId: listIncidents
      summary: Palo Alto Networks List incidents
      description: >-
        Returns a paginated list of security incidents detected across
        connected SaaS applications. Supports filtering by status, severity,
        application, and date range. Incidents represent policy violations
        or anomalous activity such as external sharing of sensitive data,
        malware uploads, or configuration violations.
      tags:
        - Incidents
      parameters:
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of incidents to return per page.
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: status
          in: query
          description: Filter incidents by current status.
          schema:
            type: string
            enum:
              - new
              - in_progress
              - resolved
              - dismissed
        - name: severity
          in: query
          description: Filter incidents by severity level.
          schema:
            type: string
            enum:
              - low
              - medium
              - high
              - critical
        - name: app_id
          in: query
          description: Filter incidents by SaaS application ID.
          schema:
            type: string
        - name: start_date
          in: query
          description: Filter incidents created on or after this date (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: Filter incidents created on or before this date (ISO 8601).
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Incidents returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of incidents matching the query.
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Incident'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/incidents/{id}:
    get:
      operationId: getIncident
      summary: Palo Alto Networks Get incident details
      description: >-
        Returns complete details for a specific security incident including
        the affected assets, impacted users, policy violations triggered,
        timeline of events, and current remediation status.
      tags:
        - Incidents
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the incident.
          schema:
            type: string
      responses:
        '200':
          description: Incident details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Incident not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateIncident
      summary: Palo Alto Networks Update incident
      description: >-
        Updates the status, assignee, or adds a note to an existing security
        incident. Use this endpoint to integrate SaaS Security into incident
        response workflows and SOAR playbooks.
      tags:
        - Incidents
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the incident to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - new
                    - in_progress
                    - resolved
                    - dismissed
                  description: New status for the incident.
                assignee_id:
                  type: string
                  description: User ID to assign the incident to.
                note:
                  type: string
                  description: Text note to add to the incident timeline.
                  maxLength: 4096
      responses:
        '200':
          description: Incident updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Incident not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/assets:
    get:
      operationId: listAssets
      summary: Palo Alto Networks List scanned assets
      description: >-
        Returns a paginated list of assets scanned across connected SaaS
        applications. Assets include files, folders, emails, and other content
        objects. Supports filtering by application, asset type, and exposure
        level indicating who can access the asset.
      tags:
        - Assets
      parameters:
        - name: app_id
          in: query
          description: Filter assets by SaaS application ID.
          schema:
            type: string
        - name: type
          in: query
          description: Filter by asset type.
          schema:
            type: string
            enum:
              - file
              - folder
              - email
              - calendar_event
              - contact
        - name: exposure
          in: query
          description: Filter by exposure level.
          schema:
            type: string
            enum:
              - private
              - internal
              - external
              - public
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of assets to return per page.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Assets returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/assets/{id}:
    get:
      operationId: getAsset
      summary: Palo Alto Networks Get asset details
      description: >-
        Returns detailed information about a specific scanned asset including
        its current exposure, collaborators with access, DLP policy violations,
        and scan history.
      tags:
        - Assets
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the asset.
          schema:
            type: string
      responses:
        '200':
          description: Asset details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Asset not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/applications:
    get:
      operationId: listApplications
      summary: Palo Alto Networks List connected SaaS applications
      description: >-
        Returns the list of SaaS applications connected to the SaaS Security
        tenant. Each application entry includes its connection status, the
        number of scanned assets, and the number of active incidents.
      tags:
        - Applications
      responses:
        '200':
          description: Connected applications returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/users:
    get:
      operationId: listUsers
      summary: Palo Alto Networks List users
      description: >-
        Returns the list of users discovered across connected SaaS applications.
        Includes user account details, access levels, and activity summaries.
      tags:
        - Users
      parameters:
        - name: app_id
          in: query
          description: Filter users by SaaS application.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of users to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Users returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/user/{id}/activities:
    get:
      operationId: getUserActivities
      summary: Palo Alto Networks Get user activity
      description: >-
        Returns the activity history for a specific user across connected SaaS
        applications. Activity includes file operations, sharing actions, login
        events, and policy-triggered events. Useful for user behavior analysis
        and insider threat investigations.
      tags:
        - Users
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user.
          schema:
            type: string
        - name: start_date
          in: query
          description: Filter activities on or after this date (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: end_date
          in: query
          description: Filter activities on or before this date (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: app_id
          in: query
          description: Filter activities by SaaS application.
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of activity records to return.
          schema:
            type: integer
            default: 100
            maximum: 500
      responses:
        '200':
          description: User activities returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserActivity'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/settings/log-forwarding:
    get:
      operationId: getLogForwardingSettings
      summary: Palo Alto Networks Get log forwarding settings
      description: >-
        Returns the current log forwarding configuration for the SaaS Security
        tenant, including enabled destinations such as syslog servers, SIEM
        integrations, and storage buckets.
      tags:
        - Settings
      responses:
        '200':
          description: Log forwarding settings returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogForwardingSettings'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token. Obtain by authenticating with the SaaS
        Security API token endpoint using your service account credentials.
  schemas:
    Incident:
      type: object
      properties:
        id:
          type: string
          description: Unique incident identifier.
        title:
          type: string
          description: Summary title of the incident.
        description:
          type: string
          description: Detailed description of the security incident.
        status:
          type: string
          enum:
            - new
            - in_progress
            - resolved
            - dismissed
          description: Current incident status.
        severity:
          type: string
          enum:
            - low
            - medium
            - high
            - critical
          description: Incident severity level.
        app_id:
          type: string
          description: ID of the SaaS application where the incident occurred.
        app_name:
          type: string
          description: Name of the SaaS application.
        policy_name:
          type: string
          description: Name of the policy that triggered the incident.
        affected_assets:
          type: array
          items:
            type: string
          description: IDs of assets involved in the incident.
        affected_users:
          type: array
          items:
            type: string
          description: User IDs of users involved in the incident.
        assignee_id:
          type: string
          description: User ID of the assigned analyst.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the incident was detected.
        updated_at:
          type: string
          format: date-time
          description: Timestamp of the most recent update.
    Asset:
      type: object
      properties:
        id:
          type: string
          description: Unique asset identifier.
        name:
          type: string
          description: Asset name or filename.
        type:
          type: string
          enum:
            - file
            - folder
            - email
            - calendar_event
            - contact
          description: Asset type.
        app_id:
          type: string
          description: ID of the SaaS application containing the asset.
        app_name:
          type: string
          description: Name of the SaaS application.
        owner:
          type: string
          description: User ID of the asset owner.
        exposure:
          type: string
          enum:
            - private
            - internal
            - external
            - public
          description: Current exposure level of the asset.
        size_bytes:
          type: integer
          description: Asset size in bytes.
        dlp_violations:
          type: array
          items:
            type: string
          description: DLP policy violation names triggered for this asset.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        last_scanned_at:
          type: string
          format: date-time
    Application:
      type: object
      properties:
        id:
          type: string
          description: Unique application identifier.
        name:
          type: string
          description: SaaS application name (e.g., Google Drive, Microsoft SharePoint).
        type:
          type: string
          description: Application type or category.
        status:
          type: string
          enum:
            - connected
            - disconnected
            - error
          description: Current connection status.
        asset_count:
          type: integer
          description: Number of assets scanned for this application.
        incident_count:
          type: integer
          description: Number of active incidents for this application.
        connected_at:
          type: string
          format: date-time
          description: Timestamp when the application was connected.
    User:
      type: object
      properties:
        id:
          type: string
          description: Unique user identifier.
        email:
          type: string
          format: email
          description: User email address.
        display_name:
          type: string
          description: User display name.
        app_id:
          type: string
          description: SaaS application ID the user belongs to.
        account_type:
          type: string
          enum:
            - internal
            - external
            - service
          description: Type of user account.
        last_activity:
          type: string
          format: date-time
          description: Timestamp of the user's most recent activity.
    UserActivity:
      type: object
      properties:
        id:
          type: string
          description: Unique activity record identifier.
        user_id:
          type: string
          description: ID of the user who performed the action.
        app_id:
          type: string
          description: SaaS application where the activity occurred.
        action:
          type: string
          description: Type of action performed (e.g., file_download, share_external).
        asset_id:
          type: string
          description: ID of the asset involved in the activity.
        timestamp:
          type: string
          format: date-time
          description: Timestamp when the activity occurred.
        ip_address:
          type: string
          description: Source IP address of the activity.
        risk_level:
          type: string
          enum:
            - low
            - medium
            - high
          description: Risk level assigned to this activity.
    LogForwardingSettings:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether log forwarding is globally enabled.
        destinations:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - syslog
                  - https
                  - s3
                  - splunk
                description: Forwarding destination type.
              name:
                type: string
                description: Destination name.
              enabled:
                type: boolean
                description: Whether this destination is active.
              log_types:
                type: array
                items:
                  type: string
                description: Log types forwarded to this destination.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
