openapi: 3.2.0
info:
  title: Palo Alto Networks IPSec Crypto Profiles API
  x-refined-note:
  - x-audience differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged IPSec Crypto Profiles across 2 of this provider''s published API definitions: palo-alto-sase-config-orch-paloaltonetworks-remote-networks-openapi.yaml, palo-alto-scm-config-cloudngfw-network-network-services-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com/config/network/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
tags:
- name: IPSec Crypto Profiles
paths:
  /v1/ipsec-crypto-profiles:
    delete:
      description: 'Delete an IPSec crypto profile.

        '
      operationId: delete-v1-ipsec-crypto-profiles
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      - description: IPSEC Crypto Profile name.
        in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete IPSec crypto profile
      tags:
      - IPSec Crypto Profiles
    get:
      description: 'Lists the status of IPSec Crypto Profiles. Shows results of create, modify, and delete actions with their associated UUIDs.

        Users can perform these actions and then use this GET request to verify the status by referencing the UUID received during the initial action.

        '
      operationId: get-v1-ipsec-crypto-profiles
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpsecCryptoProfilesResponse'
          description: Status of the created IPSEC Crypto Profiles.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: IPSec crypto profiles list
      tags:
      - IPSec Crypto Profiles
    post:
      description: 'Create an IPSec crypto profile.

        '
      operationId: post-v1-ipsec-crypto-profiles
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsecCryptoProfiles'
        description: Create the IPSEC Crypto Profile.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create IPSec crypto profile
      tags:
      - IPSec Crypto Profiles
    put:
      description: 'Edit an IPSec crypto profile.

        '
      operationId: put-v1-ipsec-crypto-profiles
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsecCryptoProfiles'
        description: Edit The IPSEC Crypto Profile.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Modify IPSec Crypto Profile
      tags:
      - IPSec Crypto Profiles
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /v1/ipsec-crypto-profiles-read:
    get:
      description: "You can read a list of Internet Protocol Security (IPSec) crypto profiles configurations that are created. \n"
      operationId: get-v1-ipsec-crypto-profiles-read
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/IpsecCryptoProfilesSet'
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of IPSEC Crypto Profiles configurations.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Read IPSec Crypto Profiles configuration list
      tags:
      - IPSec Crypto Profiles
    post:
      description: 'Create a request to read a list IPSec Crypto Profile.

        '
      operationId: post-v1-ipsec-crypto-profiles-read
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpsecCryptoProfilesNamesSet'
        description: Read the list of IPSEC Crypto Profiles.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create a request to read IPSec Crypto Profile
      tags:
      - IPSec Crypto Profiles
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /ipsec-crypto-profiles:
    get:
      tags:
      - IPSec Crypto Profiles
      summary: List IPsec crypto profiles
      description: 'Retrieve a list of IPsec crypto profiles.

        '
      operationId: ListIPsecCryptoProfiles
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/ipsec-crypto-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '404':
          $ref: '#/components/responses/not_found_2'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    post:
      tags:
      - IPSec Crypto Profiles
      summary: Create an IPsec crypto profile
      description: 'Create a new IPsec crypto profile.

        '
      operationId: CreateIPsecCryptoProfiles
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec-crypto-profiles'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-crypto-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/network/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /ipsec-crypto-profiles/{id}:
    get:
      tags:
      - IPSec Crypto Profiles
      summary: Get an IPsec crypto profile
      description: 'Get an existing IPsec crypto profile.

        '
      operationId: GetIPsecCryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-crypto-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '404':
          $ref: '#/components/responses/not_found_2'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    put:
      tags:
      - IPSec Crypto Profiles
      summary: Update an IPsec crypto profile
      description: 'Update an IPsec crypto profile.

        '
      operationId: UpdateIPsecCryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ipsec-crypto-profiles'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ipsec-crypto-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '404':
          $ref: '#/components/responses/not_found_2'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    delete:
      tags:
      - IPSec Crypto Profiles
      summary: Delete an IPsec crypto profile
      description: 'Delete an IPsec crypto profile.

        '
      operationId: DeleteIPsecCryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '404':
          $ref: '#/components/responses/not_found_2'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/network/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
components:
  responses:
    auth_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Unauthorized
    access_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Forbidden
    not_found:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Not Found
    bad_request_errors_basic_with_body:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    bad_request_errors_basic:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    default_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    access_errors_2:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    not_found_2:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    bad_request_errors_basic_2:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    default_errors_2:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    auth_errors_2:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    bad_request_errors_basic_with_body_2:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    http_ok:
      description: OK
  schemas:
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    IpsecCryptoProfilesResponse:
      description: Ipsec Crypto Profiles Response
      properties:
        errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        result:
          type: string
        status:
          type: string
      type: object
    IpsecCryptoProfiles:
      properties:
        ah:
          properties:
            authentication:
              items:
                enum:
                - md5
                - sha1
                - sha256
                - sha384
                - sha512
                type: string
              type: array
          required:
          - authentication
          type: object
        dh_group:
          default: group2
          description: phase-2 DH group (PFS DH group)
          enum:
          - no-pfs
          - group1
          - group2
          - group5
          - group14
          - group19
          - group20
          type: string
        esp:
          properties:
            authentication:
              description: Authentication algorithm
              items:
                default: sha1
                type: string
              type: array
            encryption:
              description: Encryption algorithm
              items:
                default: aes-128-cbc
                enum:
                - des
                - 3des
                - aes-128-cbc
                - aes-192-cbc
                - aes-256-cbc
                - aes-128-gcm
                - aes-256-gcm
                - 'null'
                type: string
              type: array
          required:
          - encryption
          - authentication
          type: object
        lifesize:
          $ref: '#/components/schemas/Lifesize'
        lifetime:
          $ref: '#/components/schemas/Lifetime'
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 31
          type: string
      required:
      - name
      - lifetime
      type: object
    Lifetime:
      oneOf:
      - properties:
          seconds:
            description: specify lifetime in seconds
            maximum: 65535
            minimum: 180
            type: integer
        title: seconds
        type: object
      - properties:
          minutes:
            description: specify lifetime in minutes
            maximum: 65535
            minimum: 3
            type: integer
        title: minutes
        type: object
      - properties:
          hours:
            description: specify lifetime in hours
            maximum: 65535
            minimum: 1
            type: integer
        title: hours
        type: object
      - properties:
          days:
            description: specify lifetime in days
            maximum: 365
            minimum: 1
            type: integer
        title: days
        type: object
      type: object
    Lifesize:
      oneOf:
      - properties:
          kb:
            description: specify lifesize in kilobytes(KB)
            maximum: 65535
            minimum: 1
            type: integer
        title: kb
        type: object
      - properties:
          mb:
            description: specify lifesize in megabytes(MB)
            maximum: 65535
            minimum: 1
            type: integer
        title: mb
        type: object
      - properties:
          gb:
            description: specify lifesize in gigabytes(GB)
            maximum: 65535
            minimum: 1
            type: integer
        title: gb
        type: object
      - properties:
          tb:
            description: specify lifesize in terabytes(TB)
            maximum: 65535
            minimum: 1
            type: integer
        title: tb
        type: object
      type: object
    IpsecCryptoProfilesSet:
      description: set of ipsec crypto profiles
      properties:
        IkeCryptoProfiles:
          description: The ipsec crypto profile
          items:
            $ref: '#/components/schemas/IpsecCryptoProfiles'
          type: array
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    IpsecCryptoProfilesNamesSet:
      properties:
        ipsec_crypto_profiles_names:
          items:
            type: string
          maxItems: 100
          minItems: 0
          type: array
          uniqueItems: true
      type: object
    UuidResponse:
      properties:
        uuid:
          format: uuid
          type: string
      readOnly: true
      type: object
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    ipsec-crypto-profiles:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 31
        dh_group:
          enum:
          - no-pfs
          - group1
          - group2
          - group5
          - group14
          - group19
          - group20
          description: phase-2 DH group (PFS DH group)
          default: group2
        lifetime:
          type: object
          description: Ipsec crypto profile lifetime
          oneOf:
          - type: object
            title: seconds
            properties:
              seconds:
                type: integer
                description: specify lifetime in seconds
                minimum: 180
                maximum: 65535
          - type: object
            title: minutes
            properties:
              minutes:
                type: integer
                description: specify lifetime in minutes
                minimum: 3
                maximum: 65535
          - type: object
            title: hours
            properties:
              hours:
                type: integer
                description: specify lifetime in hours
                minimum: 1
                maximum: 65535
          - type: object
            title: days
            properties:
              days:
                type: integer
                description: specify lifetime in days
                minimum: 1
                maximum: 365
        lifesize:
          type: object
          oneOf:
          - type: object
            title: kb
            properties:
              kb:
                type: integer
                description: specify lifesize in kilobytes(KB)
                minimum: 1
                maximum: 65535
          - type: object
            title: mb
            properties:
              mb:
                type: integer
                description: specify lifesize in megabytes(MB)
                minimum: 1
                maximum: 65535
          - type: object
            title: gb
            properties:
              gb:
                type: integer
                description: specify lifesize in gigabytes(GB)
                minimum: 1
                maximum: 65535
          - type: object
            title: tb
            properties:
              tb:
                type: integer
                description: specify lifesize in terabytes(TB)
                minimum: 1
                maximum: 65535
        ake:
          type: object
          description: 'RFC 9370 Additional Key Exchange (AKE) configuration for IPSec/ESP.

            Supports up to 7 rounds of additional key exchanges.

            Unlike IKE, each round accepts only a single algorithm (not an array).

            Supported algorithms: ml-kem-512, ml-kem-768, ml-kem-1024, and DH groups.

            '
          properties:
            ake_1:
              type: string
              description: Round 1 algorithm (e.g., "ml-kem-768")
            ake_2:
              type: string
              description: Round 2 algorithm
            ake_3:
              type: string
              description: Round 3 algorithm
            ake_4:
              type: string
              description: Round 4 algorithm
            ake_5:
              type: string
              description: Round 5 algorithm
            ake_6:
              type: string
              description: Round 6 algorithm
            ake_7:
              type: string
              description: Round 7 algorithm
      required:
      - name
      - lifetime
      anyOf:
      - oneOf:
        - type: object
          title: esp
          properties:
            esp:
              type: object
              properties:
                encryption:
                  type: array
                  description: Encryption algorithm
                  items:
                    type: string
                    enum:
                    - des
                    - 3des
                    - aes-128-cbc
                    - aes-192-cbc
                    - aes-256-cbc
                    - aes-128-gcm
                    - aes-256-gcm
                    - 'null'
                    default: aes-128-cbc
                authentication:
                  type: array
                  description: Authentication algorithm
                  items:
                    type: string
                    default: sha1
              required:
              - encryption
              - authentication
          required:
          - esp
        - type: object
          title: ah
          properties:
            ah:
              type: object
              properties:
                authentication:
                  type: array
                  items:
                    type: string
                    enum:
                    - md5
                    - sha1
                    - sha256
                    - sha384
                    - sha512
              required:
              - authentication
          required:
          - ah
      - oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required:
          - folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required:
          - snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required:
          - device
    generic_error_2:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos_2'
        _request_id:
          type: string
      x-examples: {}
    error_detail_cause_infos_2:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info_2'
      x-examples: {}
    error_detail_cause_info_2:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
  parameters:
    uuid:
      description: 'UUID for the request.

        '
      in: query
      name: id
      required: true
      schema:
        format: uuid
        type: string
    SubTenantName:
      description: 'Sub-tenant name in a panorama multi-tenancy setup.

        '
      in: query
      name: SubTenantName
      schema:
        type: string
    device:
      name: device
      in: query
      description: 'The device in which the resource is defined

        '
      required: false
      schema:
        type: string
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    uuid_2:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000
    folder:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      required: false
      schema:
        type: string
    snippet:
      name: snippet
      in: query
      description: 'The snippet in which the resource is defined

        '
      required: false
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
  examples:
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes:
            tsg_id: Your tenant service group in the form `tsg_id:XXXXXXXXXX`
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- palo-alto-sase-config-orch-paloaltonetworks-remote-networks-openapi.yaml
- palo-alto-scm-config-cloudngfw-network-network-services-openapi.yaml
