openapi: 3.2.0
info:
  title: 'Prisma Cloud: Managed Security Service Provider (MSSP) Mssp License Endpoints API'
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
  version: '1.0'
servers:
- url: https://mssp-api.prismacloud.io
tags:
- name: Mssp License Endpoints
paths:
  /api/v1/license/usage:
    post:
      tags:
      - Mssp License Endpoints
      summary: Get the license Usage for MSSP
      description: Get the license Usage for a MSSP
      operationId: getMsspLicenseUsageV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MsspLicenseUsageRequestObject'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspLicenseUsageResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Authorization failed, user doesn't have access to the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
  /api/v1/license/info:
    get:
      tags:
      - Mssp License Endpoints
      summary: Get the license info for MSSP
      description: Get the license info for a MSSP
      operationId: getMsspLicenseInfoV1
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspLicenseInfoResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Authorization failed, user doesn't have access to the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
components:
  schemas:
    RelativeTimeRangeConfig:
      type: object
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigObject'
      - type: object
        properties:
          value:
            $ref: '#/components/schemas/RelativeTimeDuration'
    MsspLicenseUsageResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantLicenseUsage'
        nextPageToken:
          type: string
    MsspLicenseInfoResponse:
      type: object
      properties:
        creditsPurchased:
          type: integer
          format: int32
        creditsAllocated:
          type: integer
          format: int32
        balanceCredit:
          type: integer
          format: int32
        numOfTenant:
          type: integer
          format: int32
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
        msspLicensePoolInfos:
          type: array
          items:
            $ref: '#/components/schemas/LicensePoolInfo'
    MsspLicenseUsageRequestObject:
      required:
      - licensePoolId
      type: object
      properties:
        tenantGroupId:
          type: string
        licensePoolId:
          type: string
        timeRange:
          oneOf:
          - $ref: '#/components/schemas/RelativeTimeRangeConfig'
          - $ref: '#/components/schemas/ToNowTimeRangeConfig'
        nextPageToken:
          type: string
    TenantGroupLicenseInfo:
      type: object
      properties:
        tenantGroupName:
          type: string
        tenantGroupId:
          type: string
        numOfTenant:
          type: integer
          format: int32
        creditsAllocated:
          type: integer
          format: int32
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    LicensePoolInfo:
      type: object
      properties:
        licensePoolName:
          type: string
        licensePoolId:
          type: string
        serialNumber:
          type: string
        startTime:
          type: integer
          format: int64
        endTime:
          type: integer
          format: int64
        numOfTenant:
          type: integer
          format: int32
        creditsAllocated:
          type: integer
          format: int32
        creditsPurchased:
          type: integer
          format: int32
        tenantGroupLicenseInfos:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupLicenseInfo'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantLicenseUsage:
      type: object
      properties:
        tenantName:
          type: string
        prismaId:
          type: string
        createdOn:
          type: integer
          format: int64
        expiringOn:
          type: integer
          format: int64
        status:
          type: string
          enum:
          - ACTIVE
          - PROVISIONING
          - UPDATING
          - DELETING
          - DELETED
          - OFFBOARDING
          - ERRORED
        creditsAllocated:
          type: integer
          format: int32
        avgConsumption:
          type: integer
          format: int32
        lastUpdated:
          type: integer
          format: int64
        externalTenantId:
          type: string
    ToNowTimeRangeConfig:
      type: object
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigObject'
      - type: object
        properties:
          value:
            type: string
            enum:
            - week
            - month
            - year
    RelativeTimeDuration:
      type: object
      properties:
        unit:
          type: string
          enum:
          - week
          - month
          - year
        amount:
          type: integer
          description: Number of time units
          format: int32
    TimeRangeConfigObject:
      type: object
      properties:
        type:
          type: string
        timeUnit:
          type: string
        timeValue:
          type: integer
          format: int32
      discriminator:
        propertyName: type
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- tags:
  - User Authentication
  - MSSP Account Management
  - User Management
  - MSSP Managed Tenant Lifecycle Endpoints
  - Tenant Group Lifecycle Endpoints
  - Policy Group Lifecycle Endpoints
  - Policy Group to Tenant Group Management
  - MSSP Operations Retry
  - Mssp License Endpoints
  - Stack Details Endpoint
  - Proxy Endpoint Provider
  name: public
- tags:
  - Managed Tenant Management Service
  - MSSP Async Change Management
  - Licensing Job Schedule Management
  - OIDC Discovery Endpoint
  - MSSP Account Management Service Endpoint
  name: service
- tags:
  - Hard Delete Managed Tenant
  name: support
