openapi: 3.2.0
info:
  title: SP Interconnect Manage Physical Connection API
  version: '1.0'
  description: "These APIs provide the administrative tools necessary to configure and manage the lifecycle of Service Provider (SP) Interconnects \nand virtual VlanAttachments within the management plane. They enable administrators to establish private, secure bridges between Service Providers \nand Prisma Access to bypass public cloud backbones. Use these tools during initial deployment or regional expansion to provision high-capacity physical and virtual links. \nBy submitting specific interconnect requests, you can manage bandwidth allocations and routing parameters to ensure secure, dedicated connectivity for your global infrastructure. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- authKey: []
tags:
- name: Physical Connection
paths:
  /mt/sp-interconnect/interconnects/physical-connections:
    get:
      tags:
      - Physical Connection
      summary: List Physical Connections
      description: Retrieve technical data regarding the underlying hardware links that support your Interconnects. This visibility allows network engineers to monitor link speeds (10G/100G) and MACsec encryption status at specific colocation sites. Access this information when troubleshooting layer-1 connectivity or performing routine infrastructure health checks. The system returns a list of physical resources, indicating their current operational status and colocation zone.
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get Physical Connections in a backbone:
                  value:
                    data:
                    - address: 'Telehouse - Global Data Centers

                        65 Rue Léon Frot

                        75011 Paris

                        France'
                      city: Paris
                      coloFacility: cdg-zone1-53
                      ha: false
                      id: 0c48519e-5738-4719-b2aa-92fcb9e4a96f
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      permittedActions:
                      - DELETE_CONNECTION
                      physicalConnectionName: abc-1
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    - address: 'Telehouse - Global Data Centers

                        65 Rue Léon Frot

                        75011 Paris

                        France'
                      city: Paris
                      coloFacility: cdg-zone2-53
                      ha: false
                      id: fe3bff54-f4b2-4aac-958f-15c60913c9de
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      permittedActions:
                      - DELETE_CONNECTION
                      physicalConnectionName: abc-2
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    requestId: 0578a2a6-99a7-4fe6-969f-28eafecb362a
        '400':
          description: Bad Request
        '500':
          description: Server Error
      operationId: GetMtSp-interconnectInterconnectsPhysical-connections
    post:
      tags:
      - Physical Connection
      summary: Provision Physical Connection
      description: Initiate a physical link request within an Interconnect at a specific colocation facility. This establishes the core hardware foundation required before virtual circuits can be provisioned. Use this when expanding regional bandwidth capacity or establishing a new physical Point of Presence (PoP). To proceed, define the desired link speed, the link count, and the specific colocation facility IDs intended for deployment.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhysicalConnectionEntry'
            examples:
              Create 10G physical connection:
                value:
                  physicalConnectionName: abc-1
                  linkType: LINK_TYPE_ETHERNET_10G_LR
                  requestedLinkCount: 1
                  coloFacilities:
                  - cdg-zone1-53
                  - cdg-zone2-53
                  macSecEnabled: false
                  partnerName: datacenter-ops
                  partnerEmail: ops@datacenter.com
              Create 100G physical connection with MACsec:
                value:
                  physicalConnectionName: high-speed-conn
                  linkType: LINK_TYPE_ETHERNET_100G_LR
                  requestedLinkCount: 2
                  coloFacilities:
                  - yvr-zone1-1881
                  - yvr-zone2-1881
                  macSecEnabled: true
                  partnerName: enterprise-net
                  partnerEmail: network@enterprise.com
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              examples:
                Add physical connection in backbone:
                  value:
                    data:
                    - address: 'Telehouse - Global Data Centers

                        65 Rue Léon Frot

                        75011 Paris

                        France'
                      city: Paris
                      coloFacility: cdg-zone1-53
                      ha: false
                      id: 0c48519e-5738-4719-b2aa-92fcb9e4a96f
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      physicalConnectionName: abc-1
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    - address: 'Telehouse - Global Data Centers

                        65 Rue Léon Frot

                        75011 Paris

                        France'
                      city: Paris
                      coloFacility: cdg-zone2-53
                      ha: false
                      id: fe3bff54-f4b2-4aac-958f-15c60913c9de
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      physicalConnectionName: abc-2
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    requestId: a14eb282-9e97-4cf0-b232-a7c9f4b06fc4
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Add physical connection, interconnect not found:
                  value:
                    error:
                      errorCode: 50004
                      errorType: NOT_FOUND
                      httpStatus: 404
                      msg: Interconnect not found!
                    requestId: d42dba1a-23f1-4818-813b-2da9f35c95bb
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Physical connection name exists:
                  value:
                    error:
                      errorCode: 52105
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Physical Connection name already exists
                    requestId: a1b2c3d4-5e6f-7890-abcd-ef1234567890
                Invalid link count for 10G:
                  value:
                    error:
                      errorCode: 52109
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: requestedLinkCount for LINK_TYPE_ETHERNET_10G_LR linkType must be 1 or 2
                    requestId: b2c3d4e5-6f78-9012-bcde-f12345678901
                Invalid link count for 100G:
                  value:
                    error:
                      errorCode: 52110
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: requestedLinkCount for LINK_TYPE_ETHERNET_100G_LR linkType must be from 1-8
                    requestId: c3d4e5f6-7890-1234-cdef-012345678901
                Invalid colo facilities count:
                  value:
                    error:
                      errorCode: 52111
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: two entries must be provided in coloFacilities for physical connection
                    requestId: d4e5f678-9012-3456-def0-123456789012
        '500':
          description: Server Error
          content:
            application/json:
              examples:
                Add physical connection failed:
                  value:
                    error:
                      errorCode: 50018
                      errorType: INTERNAL_ERROR
                      httpStatus: 500
                      msg: Failed to add connection in db!
                    requestId: d42dba1a-23f1-4818-813b-2da9f35c95bb
      operationId: PostMtSp-interconnectInterconnectsPhysical-connections
  /mt/sp-interconnect/interconnects/physical-connections/{physicalConnectionId}:
    delete:
      tags:
      - Physical Connection
      summary: Delete Physical Connection
      description: Decommission a specific physical link from the environment using its unique identifier. Terminating these links helps release hardware resources and end service agreements when specific hardware paths are no longer required. Execute this during hardware refreshes or regional exit strategies. The system immediately marks the connection for deletion and initiates the teardown in the management database and provider portals.
      parameters:
      - name: physicalConnectionId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Delete Backbone:
                  value:
                    data: Successfully marked connection for deletion
                    requestId: 7e656271-20f3-4fa4-9c4a-e0f455476fe9
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Delete Connection not found:
                  value:
                    error:
                      errorCode: 50007
                      errorType: NOT_FOUND
                      httpStatus: 404
                      msg: Connection not found!
                    requestId: cf32af05-7df6-4dd2-b27e-7b6ef2683145
        '400':
          description: Bad Request
        '500':
          description: Server Error
      operationId: DeleteMtSp-interconnectInterconnectsPhysical-connectionsBy_physicalconnectionid
    get:
      tags:
      - Physical Connection
      summary: Get Physical Connection
      description: View the detailed technical specification of a single physical link. This displays configuration parameters such as colocation addresses, HA status, and link types. Use this when preparing for on-site maintenance at a data center or verifying link readiness before provisioning virtual circuits. By submitting the physicalConnectionId, you obtain the full state and list of permitted management actions for that specific resource.
      parameters:
      - name: physicalConnectionId
        in: path
        required: true
        schema:
          type: string
      - name: includeDetails
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get Physical Connection by Id:
                  value:
                    data:
                      address: 'Telehouse - Global Data Centers

                        65 Rue Léon Frot

                        75011 Paris

                        France'
                      city: Paris
                      coloFacility: cdg-zone1-53
                      ha: false
                      id: 0c48519e-5738-4719-b2aa-92fcb9e4a96f
                      linkType: LINK_TYPE_ETHERNET_100G_LR
                      macSecEnabled: true
                      permittedActions:
                      - DELETE_CONNECTION
                      physicalConnectionName: abc-1
                      region: C_EUROPE
                      requestedLinkCount: 1
                      status: PENDING
                    requestId: 82923271-2db3-4895-b1cf-a5faa77d28e3
        '404':
          description: Not Found
          content:
            application/json:
              examples:
                Get physical connection by Id not found:
                  value:
                    error:
                      errorCode: 50007
                      errorType: NOT_FOUND
                      httpStatus: 404
                      msg: Physical Connection not found
                    requestId: 37e45511-7795-41ad-807f-ec38214e8c30
      operationId: GetMtSp-interconnectInterconnectsPhysical-connectionsBy_physicalconnectionid
components:
  schemas:
    PhysicalInterconnectLinkType:
      type: string
      enum:
      - LINK_TYPE_ETHERNET_10G_LR
      - LINK_TYPE_ETHERNET_100G_LR
    PhysicalConnectionEntry:
      type: object
      required:
      - physicalConnectionName
      - linkType
      - coloFacilities
      - partnerName
      - partnerEmail
      properties:
        physicalConnectionName:
          type: string
          pattern: \\S
        linkType:
          $ref: '#/components/schemas/PhysicalInterconnectLinkType'
        requestedLinkCount:
          type: integer
          format: int32
        coloFacilities:
          type: array
          minItems: 1
          items:
            type: string
        macSecEnabled:
          type: boolean
        partnerName:
          type: string
          pattern: \\S
        partnerEmail:
          type: string
          pattern: \\S
  securitySchemes:
    authKey:
      type: http
      scheme: Bearer
