openapi: 3.2.0
info:
  title: Dig Security public Risk Findings API
  description: Dig Security public API. 12 operations across 12 paths.
  version: 1.0.0
  x-description-source: desc/intro.md
servers:
- url: https://api.dig.security
  description: Dig Security public API
- url: PATH_TO_CONSOLE
tags:
- name: Risk Findings
paths:
  /v1/risk-findings/id/{id}/status/{status}:
    patch:
      tags:
      - Risk Findings
      operationId: patch-risk-findings-id-id-status-status
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: path
        required: true
        schema:
          type: string
          enum:
          - OPEN
          - CLOSED
          - UNIMPORTANT
          - WRONG
          - HANDLED
          - INVESTIGATING
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRiskDetectionResponseDTO'
      summary: Update Risk Finding Status
      description: 'Update Risk Finding Status. PATCH /v1/risk-findings/id/{id}/status/{status} on the Risk Findings API. Takes 2 path parameters. Documented responses: 200.'
      x-description-source: desc/risk-findings/risk-findings_id_status_patch.md
  /v1/risk-findings:
    get:
      tags:
      - Risk Findings
      operationId: get-risk-findings
      parameters:
      - name: ruleName.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: ruleName.equals
        in: query
        required: false
        schema:
          type: string
      - name: ruleName.contains
        in: query
        required: false
        schema:
          type: string
      - name: ruleName.notContain
        in: query
        required: false
        schema:
          type: string
      - name: dspmTagKey.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: dspmTagKey.equals
        in: query
        required: false
        schema:
          type: string
      - name: dspmTagKey.contains
        in: query
        required: false
        schema:
          type: string
      - name: dspmTagKey.notContain
        in: query
        required: false
        schema:
          type: string
      - name: dspmTagValue.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: dspmTagValue.equals
        in: query
        required: false
        schema:
          type: string
      - name: dspmTagValue.contains
        in: query
        required: false
        schema:
          type: string
      - name: dspmTagValue.notContain
        in: query
        required: false
        schema:
          type: string
      - name: projectId.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: projectId.equals
        in: query
        required: false
        schema:
          type: string
      - name: projectId.contains
        in: query
        required: false
        schema:
          type: string
      - name: projectId.notContain
        in: query
        required: false
        schema:
          type: string
      - name: affectedAssetName.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: affectedAssetName.equals
        in: query
        required: false
        schema:
          type: string
      - name: affectedAssetName.contains
        in: query
        required: false
        schema:
          type: string
      - name: affectedAssetName.notContain
        in: query
        required: false
        schema:
          type: string
      - name: cloudProvider.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AWS
            - AZURE
            - GCP
            - SNOWFLAKE
            - FILE_SHARE
            - O365
      - name: cloudProvider.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
      - name: affects.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - SECURITY
            - COMPLIANCE
            - GOVERNANCE
            - SECURITY_AND_COMPLIANCE
            - SECURITY_AND_GOVERNANCE
            - COMPLIANCE_AND_GOVERNANCE
            - SECURITY_AND_COMPLIANCE_AND_GOVERNANCE
      - name: affects.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - SECURITY
          - COMPLIANCE
          - GOVERNANCE
          - SECURITY_AND_COMPLIANCE
          - SECURITY_AND_GOVERNANCE
          - COMPLIANCE_AND_GOVERNANCE
          - SECURITY_AND_COMPLIANCE_AND_GOVERNANCE
      - name: status.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - OPEN
            - CLOSED
            - UNIMPORTANT
            - WRONG
            - HANDLED
            - INVESTIGATING
      - name: status.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - CLOSED
          - UNIMPORTANT
          - WRONG
          - HANDLED
          - INVESTIGATING
      - name: severity.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - LOW
            - MEDIUM
            - HIGH
      - name: severity.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - LOW
          - MEDIUM
          - HIGH
      - name: sort
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        required: false
        schema:
          maximum: 50
          type: integer
          default: 20
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a list of risk findings
          headers:
            X-Total-Count:
              description: The total number of items in the page
              style: simple
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RiskDetectionsDTO'
      summary: List Risk findings
      description: 'List Risk findings. GET /v1/risk-findings on the Risk Findings API. Takes 31 query parameters. Documented responses: 200.'
      x-description-source: desc/risk-findings/get.md
  /v1/risk-findings/id/{id}:
    get:
      tags:
      - Risk Findings
      operationId: get-risk-findings-id-id
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskDetectionOfficialApiResponseDTO'
      summary: Describe Risk Finding
      description: 'Describe Risk Finding. GET /v1/risk-findings/id/{id} on the Risk Findings API. Takes 1 path parameter. Documented responses: 200.'
      x-description-source: desc/risk-findings/id_get.md
components:
  schemas:
    DataTypeEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          files:
            type: array
            items:
              $ref: '#/components/schemas/FileEvidenceDTO'
          filesCount:
            type: integer
            format: int32
    FileEvidenceDataTypesDTO:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        count:
          type: integer
          format: int32
    FileEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          files:
            type: array
            items:
              $ref: '#/components/schemas/PublicFileEvidenceDTO'
          filesCount:
            type: integer
            format: int32
    RiskDetectionAssetDTO:
      type: object
      properties:
        name:
          type: string
        assetId:
          type: string
        cloudTags:
          type: object
          additionalProperties:
            type: string
        dspmTags:
          type: object
          additionalProperties:
            uniqueItems: true
            type: array
            items:
              type: string
        dataTypes:
          uniqueItems: true
          type: array
          items:
            type: string
        assetLabels:
          uniqueItems: true
          type: array
          items:
            type: string
        service:
          type: string
          enum:
          - ATHENA
          - AURORA
          - AWS_BACKUP
          - DOCUMENTDB
          - DYNAMODB
          - DAX
          - EMR
          - EBS
          - EFS
          - ELASTICACHE
          - FSX
          - KINESIS_DELIVERY_STREAM
          - MEMORYDB
          - NEPTUNE
          - QLDB
          - RDS
          - REDSHIFT
          - S3
          - TIMESTREAM
          - OPENSEARCH
          - OPENSEARCH_SERVERLESS
          - COSMOS_DB
          - SYNAPSE
          - CACHE_FOR_REDIS
          - MARIA_DB
          - MYSQL_SERVER
          - POSTGRESQL_SERVER
          - SQL_SERVER
          - STORAGE_ACCOUNT
          - SQL_MANAGED_INSTANCE
          - ANF
          - CLOUD_STORAGE
          - CLOUD_SQL
          - BIG_QUERY
          - FILE_STORE
          - CLOUD_SPANNER
          - MEMORY_STORE
          - BIG_TABLE
          - FIRE_STORE
          - UNMANAGED_AWS_MYSQL
          - UNMANAGED_AWS_ORACLE_SERVER
          - UNMANAGED_AWS_MONGO_DB
          - UNMANAGED_AWS_POSTGRESQL
          - UNMANAGED_AWS_REDIS
          - UNMANAGED_AWS_SQLITE
          - UNMANAGED_AWS_MS_SQL
          - UNMANAGED_AWS_MARIA_DB
          - UNMANAGED_AWS_NEO4_J
          - UNMANAGED_AWS_ELASTIC
          - UNMANAGED_AWS_COCKROACH_DB
          - UNMANAGED_AWS_AEROSPIKE
          - UNMANAGED_AWS_SCYLLA_DB
          - UNMANAGED_AZURE_MYSQL
          - UNMANAGED_AZURE_ORACLE_SERVER
          - UNMANAGED_AZURE_MONGO_DB
          - UNMANAGED_AZURE_POSTGRESQL
          - UNMANAGED_AZURE_REDIS
          - UNMANAGED_AZURE_SQLITE
          - UNMANAGED_AZURE_MS_SQL
          - UNMANAGED_AZURE_MARIA_DB
          - UNMANAGED_AZURE_NEO4_J
          - UNMANAGED_AZURE_ELASTIC
          - UNMANAGED_AZURE_COCKROACH_DB
          - UNMANAGED_AZURE_AEROSPIKE
          - UNMANAGED_AZURE_SCYLLA_DB
          - UNMANAGED_GCP_MYSQL
          - UNMANAGED_GCP_ORACLE_SERVER
          - UNMANAGED_GCP_MONGO_DB
          - UNMANAGED_GCP_POSTGRESQL
          - UNMANAGED_GCP_REDIS
          - UNMANAGED_GCP_SQLITE
          - UNMANAGED_GCP_MS_SQL
          - UNMANAGED_GCP_MARIA_DB
          - UNMANAGED_GCP_NEO4_J
          - UNMANAGED_GCP_ELASTIC
          - UNMANAGED_GCP_COCKROACH_DB
          - UNMANAGED_GCP_AEROSPIKE
          - UNMANAGED_GCP_SCYLLA_DB
          - SNOWFLAKE_DB
          - FILE_SHARE
          - ONE_DRIVE
          - SHARE_POINT
          - AZURE_OPEN_AI_DEPLOYMENT
          - VERTEX_ENDPOINT
          - BEDROCK_PROVISIONED_THROUGHPUT
          - BEDROCK_AGENT
          - UNMANAGED_AI_AWS_FALCON
          - UNMANAGED_AI_AWS_LLAMA
          - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AWS_GEMMA
          - UNMANAGED_AI_AWS_GPT2
          - UNMANAGED_AI_AWS_MISTRAL
          - UNMANAGED_AI_AWS_PHI
          - UNMANAGED_AI_AWS_QWEN2
          - UNMANAGED_AI_AWS_ROBERTA
          - UNMANAGED_AI_AWS_JAMBA
          - UNMANAGED_AI_AZURE_FALCON
          - UNMANAGED_AI_AZURE_LLAMA
          - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AZURE_GEMMA
          - UNMANAGED_AI_AZURE_GPT2
          - UNMANAGED_AI_AZURE_MISTRAL
          - UNMANAGED_AI_AZURE_PHI
          - UNMANAGED_AI_AZURE_QWEN2
          - UNMANAGED_AI_AZURE_ROBERTA
          - UNMANAGED_AI_AZURE_JAMBA
          - UNMANAGED_AI_GCP_FALCON
          - UNMANAGED_AI_GCP_LLAMA
          - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
          - UNMANAGED_AI_GCP_GEMMA
          - UNMANAGED_AI_GCP_GPT2
          - UNMANAGED_AI_GCP_MISTRAL
          - UNMANAGED_AI_GCP_PHI
          - UNMANAGED_AI_GCP_QWEN2
          - UNMANAGED_AI_GCP_ROBERTA
          - UNMANAGED_AI_GCP_JAMBA
    ShadowBackupFileEvidenceDTO:
      type: object
      properties:
        size:
          type: string
        filename:
          type: string
        path:
          type: string
        dataTypes:
          type: array
          items:
            $ref: '#/components/schemas/FileEvidenceDataTypesDTO'
        shadowBackup:
          type: boolean
        deleted:
          type: boolean
    FlowEvidenceDTO:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - REPLICATION_RULE
          - S3_REPLICATION_RULE
          - BIG_QUERY_REPLICATION
          - CLOUD_STORAGE_REPLICATION
          - STORAGE_ACCOUNT_REPLICATION_RULE
    FreshnessEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
    UpdateRiskDetectionResponseDTO:
      type: object
      properties:
        riskFindingId:
          type: string
        oldStatus:
          type: string
          enum:
          - OPEN
          - CLOSED
          - UNIMPORTANT
          - WRONG
          - HANDLED
          - INVESTIGATING
        newStatus:
          type: string
          enum:
          - OPEN
          - CLOSED
          - UNIMPORTANT
          - WRONG
          - HANDLED
          - INVESTIGATING
    LabelEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          files:
            type: array
            items:
              $ref: '#/components/schemas/FileEvidenceDTO'
          filesCount:
            type: integer
            format: int32
    ChatHistoryEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          assets:
            type: array
            items:
              $ref: '#/components/schemas/AssetEvidenceResultDTO'
          chatHistoryDetails:
            type: array
            items:
              $ref: '#/components/schemas/AiChatHistoryDetailsEvidenceDTO'
          serviceType:
            type: string
            enum:
            - ATHENA
            - AURORA
            - AWS_BACKUP
            - DOCUMENTDB
            - DYNAMODB
            - DAX
            - EMR
            - EBS
            - EFS
            - ELASTICACHE
            - FSX
            - KINESIS_DELIVERY_STREAM
            - MEMORYDB
            - NEPTUNE
            - QLDB
            - RDS
            - REDSHIFT
            - S3
            - TIMESTREAM
            - OPENSEARCH
            - OPENSEARCH_SERVERLESS
            - COSMOS_DB
            - SYNAPSE
            - CACHE_FOR_REDIS
            - MARIA_DB
            - MYSQL_SERVER
            - POSTGRESQL_SERVER
            - SQL_SERVER
            - STORAGE_ACCOUNT
            - SQL_MANAGED_INSTANCE
            - ANF
            - CLOUD_STORAGE
            - CLOUD_SQL
            - BIG_QUERY
            - FILE_STORE
            - CLOUD_SPANNER
            - MEMORY_STORE
            - BIG_TABLE
            - FIRE_STORE
            - UNMANAGED_AWS_MYSQL
            - UNMANAGED_AWS_ORACLE_SERVER
            - UNMANAGED_AWS_MONGO_DB
            - UNMANAGED_AWS_POSTGRESQL
            - UNMANAGED_AWS_REDIS
            - UNMANAGED_AWS_SQLITE
            - UNMANAGED_AWS_MS_SQL
            - UNMANAGED_AWS_MARIA_DB
            - UNMANAGED_AWS_NEO4_J
            - UNMANAGED_AWS_ELASTIC
            - UNMANAGED_AWS_COCKROACH_DB
            - UNMANAGED_AWS_AEROSPIKE
            - UNMANAGED_AWS_SCYLLA_DB
            - UNMANAGED_AZURE_MYSQL
            - UNMANAGED_AZURE_ORACLE_SERVER
            - UNMANAGED_AZURE_MONGO_DB
            - UNMANAGED_AZURE_POSTGRESQL
            - UNMANAGED_AZURE_REDIS
            - UNMANAGED_AZURE_SQLITE
            - UNMANAGED_AZURE_MS_SQL
            - UNMANAGED_AZURE_MARIA_DB
            - UNMANAGED_AZURE_NEO4_J
            - UNMANAGED_AZURE_ELASTIC
            - UNMANAGED_AZURE_COCKROACH_DB
            - UNMANAGED_AZURE_AEROSPIKE
            - UNMANAGED_AZURE_SCYLLA_DB
            - UNMANAGED_GCP_MYSQL
            - UNMANAGED_GCP_ORACLE_SERVER
            - UNMANAGED_GCP_MONGO_DB
            - UNMANAGED_GCP_POSTGRESQL
            - UNMANAGED_GCP_REDIS
            - UNMANAGED_GCP_SQLITE
            - UNMANAGED_GCP_MS_SQL
            - UNMANAGED_GCP_MARIA_DB
            - UNMANAGED_GCP_NEO4_J
            - UNMANAGED_GCP_ELASTIC
            - UNMANAGED_GCP_COCKROACH_DB
            - UNMANAGED_GCP_AEROSPIKE
            - UNMANAGED_GCP_SCYLLA_DB
            - SNOWFLAKE_DB
            - FILE_SHARE
            - ONE_DRIVE
            - SHARE_POINT
            - AZURE_OPEN_AI_DEPLOYMENT
            - VERTEX_ENDPOINT
            - BEDROCK_PROVISIONED_THROUGHPUT
            - BEDROCK_AGENT
            - UNMANAGED_AI_AWS_FALCON
            - UNMANAGED_AI_AWS_LLAMA
            - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
            - UNMANAGED_AI_AWS_GEMMA
            - UNMANAGED_AI_AWS_GPT2
            - UNMANAGED_AI_AWS_MISTRAL
            - UNMANAGED_AI_AWS_PHI
            - UNMANAGED_AI_AWS_QWEN2
            - UNMANAGED_AI_AWS_ROBERTA
            - UNMANAGED_AI_AWS_JAMBA
            - UNMANAGED_AI_AZURE_FALCON
            - UNMANAGED_AI_AZURE_LLAMA
            - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
            - UNMANAGED_AI_AZURE_GEMMA
            - UNMANAGED_AI_AZURE_GPT2
            - UNMANAGED_AI_AZURE_MISTRAL
            - UNMANAGED_AI_AZURE_PHI
            - UNMANAGED_AI_AZURE_QWEN2
            - UNMANAGED_AI_AZURE_ROBERTA
            - UNMANAGED_AI_AZURE_JAMBA
            - UNMANAGED_AI_GCP_FALCON
            - UNMANAGED_AI_GCP_LLAMA
            - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
            - UNMANAGED_AI_GCP_GEMMA
            - UNMANAGED_AI_GCP_GPT2
            - UNMANAGED_AI_GCP_MISTRAL
            - UNMANAGED_AI_GCP_PHI
            - UNMANAGED_AI_GCP_QWEN2
            - UNMANAGED_AI_GCP_ROBERTA
            - UNMANAGED_AI_GCP_JAMBA
    AiContentFilterEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          aiContentFilters:
            type: array
            items:
              $ref: '#/components/schemas/AiContentFilterDataDashboardDTO'
    RiskEvidenceOfficialApiDTO:
      type: object
      properties:
        success:
          type: boolean
        error:
          type: string
        result:
          oneOf:
          - $ref: '#/components/schemas/AccessEvidenceResult'
          - $ref: '#/components/schemas/AiContentFilterEvidenceResult'
          - $ref: '#/components/schemas/AiDatasetPublicEvidenceResult'
          - $ref: '#/components/schemas/ChatHistoryEvidenceResult'
          - $ref: '#/components/schemas/ConfigEvidenceResult'
          - $ref: '#/components/schemas/DataFlowEvidenceResult'
          - $ref: '#/components/schemas/DataTypeEvidenceResult'
          - $ref: '#/components/schemas/FileEvidenceResult'
          - $ref: '#/components/schemas/FreshnessEvidenceResult'
          - $ref: '#/components/schemas/InferenceDataSourceIngestInForeignAccountEvidenceResult'
          - $ref: '#/components/schemas/LabelEvidenceResult'
          - $ref: '#/components/schemas/MalwareEvidenceResult'
          - $ref: '#/components/schemas/ShadowBackupEvidenceResult'
          - $ref: '#/components/schemas/SnapshotEvidenceResult'
    RiskDetectionsAssetDTO:
      type: object
      properties:
        name:
          type: string
        assetId:
          type: string
        service:
          type: string
          enum:
          - ATHENA
          - AURORA
          - AWS_BACKUP
          - DOCUMENTDB
          - DYNAMODB
          - DAX
          - EMR
          - EBS
          - EFS
          - ELASTICACHE
          - FSX
          - KINESIS_DELIVERY_STREAM
          - MEMORYDB
          - NEPTUNE
          - QLDB
          - RDS
          - REDSHIFT
          - S3
          - TIMESTREAM
          - OPENSEARCH
          - OPENSEARCH_SERVERLESS
          - COSMOS_DB
          - SYNAPSE
          - CACHE_FOR_REDIS
          - MARIA_DB
          - MYSQL_SERVER
          - POSTGRESQL_SERVER
          - SQL_SERVER
          - STORAGE_ACCOUNT
          - SQL_MANAGED_INSTANCE
          - ANF
          - CLOUD_STORAGE
          - CLOUD_SQL
          - BIG_QUERY
          - FILE_STORE
          - CLOUD_SPANNER
          - MEMORY_STORE
          - BIG_TABLE
          - FIRE_STORE
          - UNMANAGED_AWS_MYSQL
          - UNMANAGED_AWS_ORACLE_SERVER
          - UNMANAGED_AWS_MONGO_DB
          - UNMANAGED_AWS_POSTGRESQL
          - UNMANAGED_AWS_REDIS
          - UNMANAGED_AWS_SQLITE
          - UNMANAGED_AWS_MS_SQL
          - UNMANAGED_AWS_MARIA_DB
          - UNMANAGED_AWS_NEO4_J
          - UNMANAGED_AWS_ELASTIC
          - UNMANAGED_AWS_COCKROACH_DB
          - UNMANAGED_AWS_AEROSPIKE
          - UNMANAGED_AWS_SCYLLA_DB
          - UNMANAGED_AZURE_MYSQL
          - UNMANAGED_AZURE_ORACLE_SERVER
          - UNMANAGED_AZURE_MONGO_DB
          - UNMANAGED_AZURE_POSTGRESQL
          - UNMANAGED_AZURE_REDIS
          - UNMANAGED_AZURE_SQLITE
          - UNMANAGED_AZURE_MS_SQL
          - UNMANAGED_AZURE_MARIA_DB
          - UNMANAGED_AZURE_NEO4_J
          - UNMANAGED_AZURE_ELASTIC
          - UNMANAGED_AZURE_COCKROACH_DB
          - UNMANAGED_AZURE_AEROSPIKE
          - UNMANAGED_AZURE_SCYLLA_DB
          - UNMANAGED_GCP_MYSQL
          - UNMANAGED_GCP_ORACLE_SERVER
          - UNMANAGED_GCP_MONGO_DB
          - UNMANAGED_GCP_POSTGRESQL
          - UNMANAGED_GCP_REDIS
          - UNMANAGED_GCP_SQLITE
          - UNMANAGED_GCP_MS_SQL
          - UNMANAGED_GCP_MARIA_DB
          - UNMANAGED_GCP_NEO4_J
          - UNMANAGED_GCP_ELASTIC
          - UNMANAGED_GCP_COCKROACH_DB
          - UNMANAGED_GCP_AEROSPIKE
          - UNMANAGED_GCP_SCYLLA_DB
          - SNOWFLAKE_DB
          - FILE_SHARE
          - ONE_DRIVE
          - SHARE_POINT
          - AZURE_OPEN_AI_DEPLOYMENT
          - VERTEX_ENDPOINT
          - BEDROCK_PROVISIONED_THROUGHPUT
          - BEDROCK_AGENT
          - UNMANAGED_AI_AWS_FALCON
          - UNMANAGED_AI_AWS_LLAMA
          - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AWS_GEMMA
          - UNMANAGED_AI_AWS_GPT2
          - UNMANAGED_AI_AWS_MISTRAL
          - UNMANAGED_AI_AWS_PHI
          - UNMANAGED_AI_AWS_QWEN2
          - UNMANAGED_AI_AWS_ROBERTA
          - UNMANAGED_AI_AWS_JAMBA
          - UNMANAGED_AI_AZURE_FALCON
          - UNMANAGED_AI_AZURE_LLAMA
          - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AZURE_GEMMA
          - UNMANAGED_AI_AZURE_GPT2
          - UNMANAGED_AI_AZURE_MISTRAL
          - UNMANAGED_AI_AZURE_PHI
          - UNMANAGED_AI_AZURE_QWEN2
          - UNMANAGED_AI_AZURE_ROBERTA
          - UNMANAGED_AI_AZURE_JAMBA
          - UNMANAGED_AI_GCP_FALCON
          - UNMANAGED_AI_GCP_LLAMA
          - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
          - UNMANAGED_AI_GCP_GEMMA
          - UNMANAGED_AI_GCP_GPT2
          - UNMANAGED_AI_GCP_MISTRAL
          - UNMANAGED_AI_GCP_PHI
          - UNMANAGED_AI_GCP_QWEN2
          - UNMANAGED_AI_GCP_ROBERTA
          - UNMANAGED_AI_GCP_JAMBA
    MalwareEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          files:
            type: array
            items:
              $ref: '#/components/schemas/MalwareFileEvidenceDTO'
          filesCount:
            type: integer
            format: int32
    PublicFileEvidenceDTO:
      type: object
      properties:
        size:
          type: string
        filename:
          type: string
        path:
          type: string
        dataTypes:
          type: array
          items:
            $ref: '#/components/schemas/FileEvidenceDataTypesDTO'
        openToWorld:
          type: boolean
        deleted:
          type: boolean
    ConfigEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          configurationOptions:
            type: object
            additionalProperties:
              type: object
    AccessEvidenceDTO:
      type: object
      properties:
        id:
          type: string
        project:
          type: string
        cloudAccountInformation:
          $ref: '#/components/schemas/CloudAccountInformationDTO'
        entityType:
          type: string
        name:
          type: string
        riskIndicators:
          uniqueItems: true
          type: array
          items:
            type: string
    RiskEvidenceResult:
      type: object
      properties:
        type:
          type: string
          enum:
          - FILE
          - SNAPSHOT
          - CONFIG
          - FRESHNESS
          - ACCESS
          - MALWARE
          - DATA_FLOW
          - SHADOW_BACKUP
          - DATA_TYPE
          - LABEL
          - AI_DATASET_PUBLIC
          - AI_CHAT_HISTORY
          - INFERENCE_DATA_SOURCE_INGEST_IN_FOREIGN_ACCOUNT
          - AI_CONTENT_FILTER
      discriminator:
        propertyName: type
    DestinationEvidenceDTO:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        projectId:
          type: string
        projectName:
          type: string
        cloudEnvironment:
          type: string
          enum:
          - UNKNOWN
          - DEVELOPMENT
          - STAGING
          - TESTING
          - PRODUCTION
        cloudProvider:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
        region:
          type: string
        serviceType:
          type: string
          enum:
          - ATHENA
          - AURORA
          - AWS_BACKUP
          - DOCUMENTDB
          - DYNAMODB
          - DAX
          - EMR
          - EBS
          - EFS
          - ELASTICACHE
          - FSX
          - KINESIS_DELIVERY_STREAM
          - MEMORYDB
          - NEPTUNE
          - QLDB
          - RDS
          - REDSHIFT
          - S3
          - TIMESTREAM
          - OPENSEARCH
          - OPENSEARCH_SERVERLESS
          - COSMOS_DB
          - SYNAPSE
          - CACHE_FOR_REDIS
          - MARIA_DB
          - MYSQL_SERVER
          - POSTGRESQL_SERVER
          - SQL_SERVER
          - STORAGE_ACCOUNT
          - SQL_MANAGED_INSTANCE
          - ANF
          - CLOUD_STORAGE
          - CLOUD_SQL
          - BIG_QUERY
          - FILE_STORE
          - CLOUD_SPANNER
          - MEMORY_STORE
          - BIG_TABLE
          - FIRE_STORE
          - UNMANAGED_AWS_MYSQL
          - UNMANAGED_AWS_ORACLE_SERVER
          - UNMANAGED_AWS_MONGO_DB
          - UNMANAGED_AWS_POSTGRESQL
          - UNMANAGED_AWS_REDIS
          - UNMANAGED_AWS_SQLITE
          - UNMANAGED_AWS_MS_SQL
          - UNMANAGED_AWS_MARIA_DB
          - UNMANAGED_AWS_NEO4_J
          - UNMANAGED_AWS_ELASTIC
          - UNMANAGED_AWS_COCKROACH_DB
          - UNMANAGED_AWS_AEROSPIKE
          - UNMANAGED_AWS_SCYLLA_DB
          - UNMANAGED_AZURE_MYSQL
          - UNMANAGED_AZURE_ORACLE_SERVER
          - UNMANAGED_AZURE_MONGO_DB
          - UNMANAGED_AZURE_POSTGRESQL
          - UNMANAGED_AZURE_REDIS
          - UNMANAGED_AZURE_SQLITE
          - UNMANAGED_AZURE_MS_SQL
          - UNMANAGED_AZURE_MARIA_DB
          - UNMANAGED_AZURE_NEO4_J
          - UNMANAGED_AZURE_ELASTIC
          - UNMANAGED_AZURE_COCKROACH_DB
          - UNMANAGED_AZURE_AEROSPIKE
          - UNMANAGED_AZURE_SCYLLA_DB
          - UNMANAGED_GCP_MYSQL
          - UNMANAGED_GCP_ORACLE_SERVER
          - UNMANAGED_GCP_MONGO_DB
          - UNMANAGED_GCP_POSTGRESQL
          - UNMANAGED_GCP_REDIS
          - UNMANAGED_GCP_SQLITE
          - UNMANAGED_GCP_MS_SQL
          - UNMANAGED_GCP_MARIA_DB
          - UNMANAGED_GCP_NEO4_J
          - UNMANAGED_GCP_ELASTIC
          - UNMANAGED_GCP_COCKROACH_DB
          - UNMANAGED_GCP_AEROSPIKE
          - UNMANAGED_GCP_SCYLLA_DB
          - SNOWFLAKE_DB
          - FILE_SHARE
          - ONE_DRIVE
          - SHARE_POINT
          - AZURE_OPEN_AI_DEPLOYMENT
          - VERTEX_ENDPOINT
          - BEDROCK_PROVISIONED_THROUGHPUT
          - BEDROCK_AGENT
          - UNMANAGED_AI_AWS_FALCON
          - UNMANAGED_AI_AWS_LLAMA
          - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AWS_GEMMA
          - UNMANAGED_AI_AWS_GPT2
          - UNMANAGED_AI_AWS_MISTRAL
          - UNMANAGED_AI_AWS_PHI
          - UNMANAGED_AI_AWS_QWEN2
          - UNMANAGED_AI_AWS_ROBERTA
          - UNMANAGED_AI_AWS_JAMBA
          - UNMANAGED_AI_AZURE_FALCON
          - UNMANAGED_AI_AZURE_LLAMA
          - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AZURE_GEMMA
          - UNMANAGED_AI_AZURE_GPT2
          - UNMANAGED_AI_AZURE_MISTRAL
          - UNMANAGED_AI_AZURE_PHI
          - UNMANAGED_AI_AZURE_QWEN2
          - UNMANAGED_AI_AZURE_ROBERTA
          - UNMANAGED_AI_AZURE_JAMBA
          - UNMANAGED_AI_GCP_FALCON
          - UNMANAGED_AI_GCP_LLAMA
          - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
          - UNMANAGED_AI_GCP_GEMMA
          - UNMANAGED_AI_GCP_GPT2
          - UNMANAGED_AI_GCP_MISTRAL
          - UNMANAGED_AI_GCP_PHI
          - UNMANAGED_AI_GCP_QWEN2
          - UNMANAGED_AI_GCP_ROBERTA
          - UNMANAGED_AI_GCP_JAMBA
        family:
          type: string
          enum:
          - ANALYTICS
          - DB
          - STORAGE
          - AI
        deploymentType:
          type: string
          enum:
          - MANAGED
          - UNMANAGED
          - DBAAS
          - ONPREM
          - SAAS
        assetId:
          type: integer
          format: int64
        assetTags:
          type: object
          additionalProperties:
            type: string
        assetDspmTags:
          type: object
          additionalProperties:
            uniqueItems: true
            type: array
            items:
              type: string
    DataFlowEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          flowInfo:
            $ref: '#/components/schemas/FlowEvidenceDTO'
          destinationAsset:
            $ref: '#/components/schemas/DestinationEvidenceDTO'
    InferenceDataSourceIngestInForeignAccountEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          destinationAsset:
            $ref: '#/components/schemas/DestinationEvidenceDTO'
    AccessEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          permittedEntities:
            type: array
            items:
              $ref: '#/components/schemas/AccessEvidenceDTO'
    AssetEvidenceResultDTO:
      type: object
      properties:
        assetId:
          type: integer
          format: int64
        assetName:
          type: string
        projectId:
          type: string
        projectName:
          type: string
        assetRegion:
          type: string
        family:
          type: string
          enum:
          - ANALYTICS
          - DB
          - STORAGE
          - AI
        deploymentType:
          type: string
          enum:
          - MANAGED
          - UNMANAGED
          - DBAAS
          - ONPREM
          - SAAS
        serviceType:
          type: string
          enum:
          - ATHENA
          - AURORA
          - AWS_BACKUP
          - DOCUMENTDB
          - DYNAMODB
          - DAX
          - EMR
          - EBS
          - EFS
          - ELASTICACHE
          - FSX
          - KINESIS_DELIVERY_STREAM
          - MEMORYDB
          - NEPTUNE
          - QLDB
          - RDS
          - REDSHIFT
          - S3
          - TIMESTREAM
          - OPENSEARCH
          - OPENSEARCH_SERVERLESS
          - COSMOS_DB
          - SYNAPSE
          - CACHE_FOR_REDIS
          - MARIA_DB
          - MYSQL_SERVER
          - POSTGRESQL_SERVER
          - SQL_SERVER
          - STORAGE_ACCOUNT
          - SQL_MANAGED_INSTANCE
          - ANF
          - CLOUD_STORAGE
          - CLOUD_SQL
          - BIG_QUERY
          - FILE_STORE
          - CLOUD_SPANNER
          - MEMORY_STORE
          - BIG_TABLE
          - FIRE_STORE
          - UNMANAGED_AWS_MYSQL
          - UNMANAGED_AWS_ORACLE_SERVER
          - UNMANAGED_AWS_MONGO_DB
          - UNMANAGED_AWS_POSTGRESQL
          - UNMANAGED_AWS_REDIS
          - UNMANAGED_AWS_SQLITE
          - UNMANAGED_AWS_MS_SQL
          - UNMANAGED_AWS_MARIA_DB
          - UNMANAGED_AWS_NEO4_J
          - UNMANAGED_AWS_ELASTIC
          - UNMANAGED_AWS_COCKROACH_DB
          - UNMANAGED_AWS_AEROSPIKE
          - UNMANAGED_AWS_SCYLLA_DB
          - UNMANAGED_AZURE_MYSQL
          - UNMANAGED_AZURE_ORACLE_SERVER
          - UNMANAGED_AZURE_MONGO_DB
          - UNMANAGED_AZURE_POSTGRESQL
          - UNMANAGED_AZURE_REDIS
          - UNMANAGED_AZURE_SQLITE
          - UNMANAGED_AZURE_MS_SQL
          - UNMANAGED_AZURE_MARIA_DB
          - UNMANAGED_AZURE_NEO4_J
          - UNMANAGED_AZURE_ELASTIC
          - UNMANAGED_AZURE_COCKROACH_DB
          - UNMANAGED_AZURE_AEROSPIKE
          - UNMANAGED_AZURE_SCYLLA_DB
          - UNMANAGED_GCP_MYSQL
          - UNMANAGED_GCP_ORACLE_SERVER
          - UNMANAGED_GCP_MONGO_DB
          - UNMANAGED_GCP_POSTGRESQL
          - UNMANAGED_GCP_REDIS
          - UNMANAGED_GCP_SQLITE
          - UNMANAGED_GCP_MS_SQL
          - UNMANAGED_GCP_MARIA_DB
          - UNMANAGED_GCP_NEO4_J
          - UNMANAGED_GCP_ELASTIC
          - UNMANAGED_GCP_COCKROACH_DB
          - UNMANAGED_GCP_AEROSPIKE
          - UNMANAGED_GCP_SCYLLA_DB
          - SNOWFLAKE_DB
          - FILE_SHARE
          - ONE_DRIVE
          - SHARE_POINT
          - AZURE_OPEN_AI_DEPLOYMENT
          - VERTEX_ENDPOINT
          - BEDROCK_PROVISIONED_THROUGHPUT
          - BEDROCK_AGENT
          - UNMANAGED_AI_AWS_FALCON
          - UNMANAGED_AI_AWS_LLAMA
          - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AWS_GEMMA
          - UNMANAGED_AI_AWS_GPT2
          - UNMANAGED_AI_AWS_MISTRAL
          - UNMANAGED_AI_AWS_PHI
          - UNMANAGED_AI_AWS_QWEN2
          - UNMANAGED_AI_AWS_ROBERTA
          - UNMANAGED_AI_AWS_JAMBA
          - UNMANAGED_AI_AZURE_FALCON
          - UNMANAGED_AI_AZURE_LLAMA
          - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AZURE_GEMMA
          - UNMANAGED_AI_AZURE_GPT2
          - UNMANAGED_AI_AZURE_MISTRAL
          - UNMANAGED_AI_AZURE_PHI
          - UNMANAGED_AI_AZURE_QWEN2
          - UNMANAGED_AI_AZURE_ROBERTA
          - UNMANAGED_AI_AZURE_JAMBA
          - UNMANAGED_AI_GCP_FALCON
          - UNMANAGED_AI_GCP_LLAMA
          - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
          - UNMANAGED_AI_GCP_GEMMA
          - UNMANAGED_AI_GCP_GPT2
          - UNMANAGED_AI_GCP_MISTRAL
          - UNMANAGED_AI_GCP_PHI
          - UNMANAGED_AI_GCP_QWEN2
          - UNMANAGED_AI_GCP_ROBERTA
          - UNMANAGED_AI_GCP_JAMBA
        snapshotServiceType:
          type: string
          enum:
          - SNAPSHOT_RDS_INSTANCE
          - SNAPSHOT_FILE_STORE
          - SNAPSHOT_CLOUD_SPANNER
          - SNAPSHOT_BIG_TABLE
        cloudEnvironment:
          type: string
          enum:
          - UNKNOWN
          - DEVELOPMENT
          - STAGING
          - TESTING
          - PRODUCTION
        cloud:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
        assetTags:
          type: object
          additionalProperties:
            type: string
        assetDspmTags:
          type: object
          additionalProperties:
            uniqueItems: true
            type: array
            items:
              type: string
        assetLabels:
          uniqueItems: true
          type: array
          items:
            type: string
        assetDataTypes:
          type: object
          additionalProperties:
            type: integer
            format: int64
    AiChatHistoryDetailsEvidenceDTO:
      type: object
      properties:
        region:
          type: string
        project:
          type: string
        projectName:
          type: string
        cloudEnvironment:
          type: string
          enum:
          - UNKNOWN
          - DEVELOPMENT
          - STAGING
          - TESTING
          - PRODUCTION
        cloudProvider:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
    SnapshotEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          id:
            type: string
          region:
            type: string
          service:
            type: string
          originalAssetId:
            type: string
          sharingScope:
            uniqueItems: true
            type: array
            items:
              type: string
          sizeInGB:
            type: integer
            format: int32
          createdTime:
            type: string
          projectId:
            type: string
          externalLink:
            type: string
    AiContentFilterDataDashboardDTO:
      type: object
      properties:
        contentFilterType:
          type: string
        securityInputBlocked:
          type: boolean
        category:
          type: string
          enum:
          - SECURITY
          - CONTENT
        inputLevel:
          type: string
          enum:
          - HIGH
          - MEDIUM
          - LOW
          - NONE
        outputLevel:
          type: string
          enum:
          - HIGH
          - MEDIUM
          - LOW
          - NONE
    RiskDetectionOfficialApiResponseDTO:
      type: object
      properties:
        id:
          type: string
        ruleName:
          type: string
        severity:
          type: string
          enum:
          - LOW
          - MEDIUM
          - HIGH
        asset:
          $ref: '#/components/schemas/RiskDetectionAssetDTO'
        status:
          type: string
          enum:
          - OPEN
          - CLOSED
          - UNIMPORTANT
          - WRONG
          - HANDLED
          - INVESTIGATING
        projectId:
          type: string
        cloudProvider:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
        cloudEnvironment:
          type: string
          enum:
          - UNKNOWN
          - DEVELOPMENT
          - STAGING
          - TESTING
          - PRODUCTION
        firstDiscovered:
          type: string
          format: date-time
        complianceStandards:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        riskEvidence:
          type: array
          items:
            $ref: '#/components/schemas/RiskEvidenceOfficialApiDTO'
        remediate:
          type: string
        description:
          type: string
    AiDatasetPublicEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          datasetAsset:
            $ref: '#/components/schemas/AssetEvidenceResultDTO'
    RiskDetectionsDTO:
      type: object
      properties:
        id:
          type: string
        ruleName:
          type: string
        severity:
          type: string
          enum:
          - LOW
          - MEDIUM
          - HIGH
        asset:
          $ref: '#/components/schemas/RiskDetectionsAssetDTO'
        status:
          type: string
          enum:
          - OPEN
          - CLOSED
          - UNIMPORTANT
          - WRONG
          - HANDLED
          - INVESTIGATING
        projectId:
          type: string
        cloudProvider:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
        cloudEnvironment:
          type: string
          enum:
          - UNKNOWN
          - DEVELOPMENT
          - STAGING
          - TESTING
          - PRODUCTION
        firstDiscovered:
          type: string
          format: date-time
        complianceStandards:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    CloudAccountInformationDTO:
      type: object
      properties:
        name:
          type: string
        projectId:
          type: string
        cloudProvider:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
        cloudEnvironment:
          type: string
          enum:
          - UNKNOWN
          - DEVELOPMENT
          - STAGING
          - TESTING
          - PRODUCTION
        verifiedVendor:
          type: boolean
        foreign:
          type: boolean
    MalwareFileEvidenceDTO:
      type: object
      properties:
        size:
          type: string
        filename:
          type: string
        path:
          type: string
        dataTypes:
          type: array
          items:
            $ref: '#/components/schemas/FileEvidenceDataTypesDTO'
        malwareFamily:
          type: array
          items:
            type: object
        malwareConfidence:
          type: string
        malicious:
          type: boolean
        deleted:
          type: boolean
    ShadowBackupEvidenceResult:
      type: object
      allOf:
      - $ref: '#/components/schemas/RiskEvidenceResult'
      - type: object
        properties:
          files:
            type: array
            items:
              $ref: '#/components/schemas/ShadowBackupFileEvidenceDTO'
          filesCount:
            type: integer
            format: int32
    FileEvidenceDTO:
      type: object
      properties:
        size:
          type: string
        filename:
          type: string
        path:
          type: string
        dataTypes:
          type: array
          items:
            $ref: '#/components/schemas/FileEvidenceDataTypesDTO'
        deleted:
          type: boolean
