openapi: 3.2.0
info:
  version: 2.0.0
  title: Network Services BGP Route Map Redistributions API
  description: These APIs are used for defining and managing network services configuration within Strata Cloud Manager.
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
- url: https://api.strata.paloaltonetworks.com/config/network/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
security:
- scmToken: []
tags:
- name: BGP Route Map Redistributions
  description: BGP Route Map Redistributions
paths:
  /bgp-route-map-redistributions:
    get:
      tags:
      - BGP Route Map Redistributions
      summary: List BGP route map redistributions
      description: 'Retrieve a list of BGP route map redistributions.

        '
      operationId: ListBGPRouteMapRedistributions
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/bgp-route-map-redistributions'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
      - BGP Route Map Redistributions
      summary: Create a BGP route map redistribution
      description: 'Create a new BGP route map redistribution.

        '
      operationId: CreateBGPRouteMapRedistributions
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-route-map-redistributions'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-map-redistributions'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /bgp-route-map-redistributions/{id}:
    get:
      tags:
      - BGP Route Map Redistributions
      summary: Get a BGP route map redistribution
      description: 'Get an existing BGP route map redistribution.

        '
      operationId: GetBGPRouteMapRedistributionsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-map-redistributions'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
      - BGP Route Map Redistributions
      summary: Update a BGP route map redistribution
      description: 'Update an existing BGP route map redistribution.

        '
      operationId: UpdateBGPRouteMapRedistributionsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bgp-route-map-redistributions'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bgp-route-map-redistributions'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
      - BGP Route Map Redistributions
      summary: Delete a BGP route map redistribution
      description: 'Delete a BGP route map redistribution.

        '
      operationId: DeleteBGPRouteMapRedistributionsByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
components:
  examples:
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  parameters:
    uuid:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    folder:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      required: false
      schema:
        type: string
    snippet:
      name: snippet
      in: query
      description: 'The snippet in which the resource is defined

        '
      required: false
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    device:
      name: device
      in: query
      description: 'The device in which the resource is defined

        '
      required: false
      schema:
        type: string
  responses:
    http_ok:
      description: OK
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
  schemas:
    generic_error:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      x-examples: {}
    bgp-route-map-redistributions:
      type: object
      required:
      - name
      properties:
        id:
          type: string
          description: BGP Route Map Redistributions UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          description: BGP Route Map Redistributions Name
          type: string
        description:
          description: BGP Route Map Redistributions Description
          type: string
      anyOf:
      - oneOf:
        - title: bgp
          required:
          - bgp
          properties:
            bgp:
              type: object
              oneOf:
              - title: ospf
                description: BGP Root OSPF
                required:
                - ospf
                properties:
                  ospf:
                    type: object
                    properties:
                      route_map:
                        description: BGP Root OSPF Route maps
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: BGP Root OSPF Route maps Sequence number
                              type: integer
                              minimum: 1
                              maximum: 65535
                            action:
                              description: BGP Root OSPF Route maps Action
                              type: string
                              enum:
                              - permit
                              - deny
                            description:
                              description: BGP Root OSPF Route maps Description
                              type: string
                            match:
                              type: object
                              properties:
                                as_path_access_list:
                                  description: BGP Root OSPF Route maps match AS path access list
                                  type: string
                                regular_community:
                                  description: BGP Root OSPF Route maps match Regular community
                                  type: string
                                large_community:
                                  description: BGP Root OSPF Route maps match Large community
                                  type: string
                                extended_community:
                                  description: EBGP Root OSPF Route maps match xtended community
                                  type: string
                                interface:
                                  description: BGP Root OSPF Route maps match Interface
                                  type: string
                                origin:
                                  description: BGP Root OSPF Route maps match Origin
                                  type: string
                                metric:
                                  description: BGP Root OSPF Route maps match Metric
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                tag:
                                  description: BGP Root OSPF Route maps match Tag
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
                                local_preference:
                                  description: BGP Root OSPF Route maps match Local preference
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
                                peer:
                                  description: BGP Root OSPF Route maps match Peer
                                  type: string
                                  enum:
                                  - local
                                  - none
                                ipv4:
                                  type: object
                                  description: BGP Root OSPF Route maps match bgp-route-map-redistributions ipv4 object
                                  properties:
                                    address:
                                      type: object
                                      description: BGP Root OSPF Route maps match bgp-route-map-redistributions ipv4 object address
                                      properties:
                                        access_list:
                                          description: BGP Root OSPF Route maps match ipv4 Access list
                                          type: string
                                        prefix_list:
                                          description: BGP Root OSPF Route maps match ipv4 Prefix list
                                          type: string
                                    next_hop:
                                      type: object
                                      description: BGP Root OSPF Route maps match  bgp-route-map-redistributions ipv4 object next_hop
                                      properties:
                                        access_list:
                                          description: BGP Root OSPF Route maps ipv4 next_vr hop Access list
                                          type: string
                                        prefix_list:
                                          description: BGP Root OSPF Route maps ipv4 next hop Prefix list
                                          type: string
                                    route_source:
                                      type: object
                                      description: BGP Root OSPF Route maps ipv4 bgp-route-map-redistributions ipv4 object route_source
                                      properties:
                                        access_list:
                                          description: BGP Root OSPF Route maps ipv4 route source Access list
                                          type: string
                                        prefix_list:
                                          description: BGP Root OSPF Route maps ipv4 route source Prefix list
                                          type: string
                            set:
                              type: object
                              description: BGP Root OSPF Set
                              properties:
                                metric:
                                  type: object
                                  properties:
                                    value:
                                      description: BGP Root OSPF Route maps set Metric value
                                      type: integer
                                      minimum: 0
                                      maximum: 4294967295
                                    action:
                                      description: BGP Root OSPF Route maps set Metric action
                                      type: string
                                      enum:
                                      - set
                                      - add
                                      - subtract
                                metric_type:
                                  description: BGP Root OSPF Route maps set Metric type
                                  type: string
                                  enum:
                                  - type-1
                                  - type-2
                                tag:
                                  description: BGP Root OSPF Route maps set Tag
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
              - title: rib
                required:
                - rib
                properties:
                  rib:
                    type: object
                    description: BGP Root RIB
                    properties:
                      route_map:
                        description: BGP Root RIB Route maps
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: BGP Root RIB Route maps Sequence number
                              type: integer
                              minimum: 1
                              maximum: 65535
                            action:
                              description: BGP Root RIB Route maps Action
                              type: string
                              enum:
                              - permit
                              - deny
                            description:
                              description: BGP Root RIB Route maps Description
                              type: string
                            match:
                              type: object
                              description: match attribute for BG Rib route map
                              properties:
                                as_path_access_list:
                                  description: BGP Root RIB Route maps match AS path access list
                                  type: string
                                regular_community:
                                  description: BGP Root RIB Route maps match Regular community
                                  type: string
                                large_community:
                                  description: BGP Root RIB Route maps match Large community
                                  type: string
                                extended_community:
                                  description: BGP Root RIB Route maps match Extended community
                                  type: string
                                interface:
                                  description: BGP Root RIB Route maps match Interface
                                  type: string
                                origin:
                                  description: BGP Root RIB Route maps match Origin
                                  type: string
                                metric:
                                  description: BGP Root RIB Route maps match Metric
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                tag:
                                  description: BGP Root RIB Route maps match Tag
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
                                local_preference:
                                  description: BGP Root RIB Route maps match Local preference
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
                                peer:
                                  description: BGP Root RIB Route maps match Peer
                                  type: string
                                  enum:
                                  - local
                                  - none
                                ipv4:
                                  type: object
                                  description: BGP Route Map Redistributions Root BGP rib Route Map IPv4
                                  properties:
                                    address:
                                      type: object
                                      description: bgp-route-map-redistributions ipv4 rib object address
                                      properties:
                                        access_list:
                                          description: BGP Root RIB Route maps match ipv Access list
                                          type: string
                                        prefix_list:
                                          description: BGP Root RIB Route maps match ipv Prefix list
                                          type: string
                                    next_hop:
                                      type: object
                                      description: bgp-route-map-redistributions ipv4 rib object next_hop
                                      properties:
                                        access_list:
                                          description: BGP Root RIB Route maps match ipv next hop Access list
                                          type: string
                                        prefix_list:
                                          description: BGP Root RIB Route maps match ipv next hop Prefix list
                                          type: string
                                    route_source:
                                      type: object
                                      properties:
                                        access_list:
                                          description: BGP Root RIB Route maps match ipv route source Access list
                                          type: string
                                        prefix_list:
                                          description: BGP Root RIB Route maps match ipv route source Prefix list
                                          type: string
                            set:
                              type: object
                              description: Set attributes for BGP route map
                              properties:
                                source_address:
                                  description: BGP Root RIB Route maps set Source address
                                  type: string
        - title: ospf
          description: OSPF Root
          required:
          - ospf
          properties:
            ospf:
              type: object
              oneOf:
              - title: bgp
                required:
                - bgp
                properties:
                  bgp:
                    type: object
                    description: OSPF Root BGP
                    properties:
                      route_map:
                        description: OSPF BGP Route maps
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: OSPF BGP Route maps Sequence number
                              type: integer
                              minimum: 1
                              maximum: 65535
                            action:
                              description: OSPF BGP Route maps Action
                              type: string
                              enum:
                              - permit
                              - deny
                            description:
                              description: OSPF BGP Route maps Description
                              type: string
                            match:
                              type: object
                              properties:
                                interface:
                                  description: OSPF BGP Route maps Interface
                                  type: string
                                metric:
                                  description: OSPF BGP Route maps Metric
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                tag:
                                  description: OSPF BGP Route maps Tag
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
                                address:
                                  type: object
                                  description: bgp-route-map-redistributions ospf address
                                  properties:
                                    access_list:
                                      description: OSPF BGP Route maps match Access list
                                      type: string
                                    prefix_list:
                                      description: OSPF BGP Route maps match Prefix list
                                      type: string
                                next_hop:
                                  type: object
                                  description: bgp-route-map-redistributions ospf next_hop
                                  properties:
                                    access_list:
                                      description: OSPF BGP Route maps next_hop Access list
                                      type: string
                                    prefix_list:
                                      description: OSPF BGP Route maps next_hop Prefix list
                                      type: string
                            set:
                              type: object
                              description: OSPF Root Set
                              properties:
                                atomic_aggregate:
                                  description: OSPF BGP Route maps set Enable BGP atomic aggregate?
                                  type: boolean
                                local_preference:
                                  description: OSPF BGP Route maps set Local preference
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                tag:
                                  description: OSPF BGP Route maps set Tag
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
                                metric:
                                  type: object
                                  properties:
                                    action:
                                      description: OSPF BGP Route maps set Metric action
                                      type: string
                                      enum:
                                      - set
                                      - add
                                      - substract
                                    value:
                                      description: OSPF BGP Route maps set Metric value
                                      type: integer
                                      minimum: 0
                                      maximum: 4294967295
                                weight:
                                  description: OSPF BGP Route maps set Weight
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                origin:
                                  description: OSPF BGP Route maps set Origin
                                  type: string
                                  enum:
                                  - none
                                  - egp
                                  - igp
                                  - incomplete
                                originator_id:
                                  description: OSPF BGP Route maps set Originator ID
                                  type: string
                                aggregator:
                                  type: object
                                  description: bgp-route-map-redistributions set aggregator
                                  properties:
                                    as:
                                      description: OSPF BGP Route maps set Aggregator AS
                                      type: integer
                                      minimum: 1
                                      maximum: 4294967295
                                    router_id:
                                      description: OSPF BGP Route maps set Router ID
                                      type: string
                                ipv4:
                                  type: object
                                  properties:
                                    source_address:
                                      description: OSPF BGP Route maps set ipv4 Source address
                                      type: string
                                    next_hop:
                                      description: OSPF BGP Route maps set ipv4 Next hop
                                      type: string
                                aspath_prepend:
                                  description: OSPF BGP Route maps set AS numbers
                                  type: array
                                  items:
                                    description: OSPF BGP Route maps set AS number
                                    type: integer
                                    minimum: 1
                                    maximum: 65535
                                regular_community:
                                  description: OSPF BGP Route maps set Regular communities
                                  type: array
                                  items:
                                    description: OSPF BGP Route maps set Regular community
                                    type: string
                                large_community:
                                  description: OSPF BGP Route maps set Large communities
                                  type: array
                                  items:
                                    description: OSPF BGP Route maps set Large community
                                    type: string
              - title: rib
                description: OSPF Root RIB
                required:
                - rib
                properties:
                  rib:
                    type: object
                    properties:
                      route_map:
                        description: OSPF RIB Route maps set Route maps
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: OSPF RIB Route mapsSequence number
                              type: integer
                              minimum: 1
                              maximum: 65535
                            action:
                              description: OSPF RIB Route maps Action
                              type: string
                              enum:
                              - permit
                              - deny
                            description:
                              description: OSPF RIB Route maps Description
                              type: string
                            match:
                              type: object
                              properties:
                                interface:
                                  description: OSPF RIB Route maps Interface
                                  type: string
                                metric:
                                  description: OSPF RIB Route maps Metric
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                tag:
                                  description: OSPF RIB Route maps tag
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
                                address:
                                  type: object
                                  description: OSPF RIB Route maps address
                                  properties:
                                    access_list:
                                      description: OSPF RIB Route maps address Access list
                                      type: string
                                    prefix_list:
                                      description: OSPF RIB Route maps address Prefix list
                                      type: string
                                next_hop:
                                  type: object
                                  description: OSPF RIB Route maps next_hop
                                  properties:
                                    access_list:
                                      description: OSPF RIB Route maps next_hop Access list
                                      type: string
                                    prefix_list:
                                      description: OSPF RIB Route maps next_hop Prefix list
                                      type: string
                            set:
                              type: object
                              description: OSPF RIB Route maps set
                              properties:
                                source_address:
                                  description: OSPF RIB Route maps set Source address
                                  type: string
        - title: connected_static
          description: Connected Static Root
          required:
          - connected_static
          properties:
            connected_static:
              type: object
              oneOf:
              - title: bgp
                required:
                - bgp
                properties:
                  bgp:
                    type: object
                    description: Connected Static Root BGP
                    properties:
                      route_map:
                        description: Connected Static BGP Route maps
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: Connected Static BGP Route maps Sequence number
                              type: integer
                              minimum: 1
                              maximum: 65535
                            action:
                              description: Connected Static BGP Route maps Action
                              type: string
                              enum:
                              - permit
                              - deny
                            description:
                              description: Connected Static BGP Route maps Description
                              type: string
                            match:
                              type: object
                              properties:
                                interface:
                                  description: Connected Static BGP Route maps match Interface
                                  type: string
                                metric:
                                  description: Connected Static BGP Route maps match Metric
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                ipv4:
                                  type: object
                                  description: bgp-route-map-redistributions connected-static ipv4
                                  properties:
                                    address:
                                      type: object
                                      properties:
                                        access_list:
                                          description: Connected Static BGP Route maps match ip4 Access list
                                          type: string
                                        prefix_list:
                                          description: Connected Static BGP Route maps match ip4  Prefix list
                                          type: string
                                    next_hop:
                                      type: object
                                      properties:
                                        access_list:
                                          description: Connected Static BGP Route maps match ip4 next hop Access list
                                          type: string
                                        prefix_list:
                                          description: Connected Static BGP Route maps match ip4 next hop Prefix list
                                          type: string
                            set:
                              type: object
                              properties:
                                atomic_aggregate:
                                  description: Connected Static BGP Route maps set Enable BGP atomic aggregate?
                                  type: boolean
                                local_preference:
                                  description: Connected Static BGP Route maps set Local preference
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                tag:
                                  description: Connected Static BGP Route maps set Tag
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
                                metric:
                                  type: object
                                  properties:
                                    action:
                                      description: Connected Static BGP Route maps set Metric action
                                      type: string
                                      enum:
                                      - set
                                      - add
                                      - substract
                                    value:
                                      description: Connected Static BGP Route maps set Metric value
                                      type: integer
                                      minimum: 0
                                      maximum: 4294967295
                                weight:
                                  description: Connected Static BGP Route maps set Weight
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                origin:
                                  description: Connected Static BGP Route maps set Origin
                                  type: string
                                  enum:
                                  - none
                                  - egp
                                  - igp
                                  - incomplete
                                originator_id:
                                  description: Connected Static BGP Route maps set Originator ID
                                  type: string
                                aggregator:
                                  type: object
                                  description: bgp-route-map-redistributions connected_static aggregator
                                  properties:
                                    as:
                                      description: Connected Static BGP Route maps set Aggregator AS
                                      type: integer
                                      minimum: 1
                                      maximum: 4294967295
                                    router_id:
                                      description: Connected Static BGP Route maps set Router ID
                                      type: string
                                ipv4:
                                  type: object
                                  properties:
                                    source_address:
                                      description: Connected Static BGP Route maps set ipv4 Source address
                                      type: string
                                    next_hop:
                                      description: Connected Static BGP Route maps set Next ipv4 hop
                                      type: string
                                aspath_prepend:
                                  description: Connected Static BGP Route maps set AS numbers
                                  type: array
                                  items:
                                    description: Connected Static  BGP Route maps set AS number
                                    type: integer
                                    minimum: 1
                                    maximum: 65535
                                regular_community:
                                  description: Connected Static  BGP Route maps set Regular communities
                                  type: array
                                  items:
                                    description: Connected Static  BGP Route maps set Regular community
                                    type: string
                                large_community:
                                  description: Connected Static  BGP Route maps set Large communities
                                  type: array
                                  items:
                                    description: Connected Static  BGP Route maps set Large community
                                    type: string
              - title: ospf
                description: Connected Static Root OSPF
                required:
                - ospf
                properties:
                  ospf:
                    type: object
                    properties:
                      route_map:
                        description: Connected Static  BGP OSPF Route maps
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: Connected Static BGP OSPF Route map Sequence number
                              type: integer
                              minimum: 1
                              maximum: 65535
                            action:
                              description: Connected Static BGP OSPF Route map Action
                              type: string
                              enum:
                              - permit
                              - deny
                            description:
                              description: Connected Static BGP OSPF Route map Description
                              type: string
                            match:
                              type: object
                              properties:
                                interface:
                                  description: Connected Static BGP OSPF Route map Interface
                                  type: string
                                metric:
                                  description: Connected Static BGP OSPF Route map Metric
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                ipv4:
                                  type: object
                                  description: bgp-route-map-redistributions connected-static match ipv4
                                  properties:
                                    address:
                                      type: object
                                      description: Connected Static Root OSPF Address
                                      properties:
                                        access_list:
                                          description: Connected Static BGP OSPF Route map ipv4 Access list
                                          type: string
                                        prefix_list:
                                          description: Connected Static BGP OSPF Route map ipv4 Prefix list
                                          type: string
                                    next_hop:
                                      type: object
                                      properties:
                                        access_list:
                                          description: Connected Static BGP OSPF Route map ipv4 next hop Access list
                                          type: string
                                        prefix_list:
                                          description: Connected Static BGP OSPF Route map ipv4 next hop Prefix list
                                          type: string
                            set:
                              type: object
                              description: Connected Static Root OSPF Set
                              properties:
                                metric:
                                  type: object
                                  properties:
                                    action:
                                      description: Connected Static BGP OSPF Route map set Metric action
                                      type: string
                                      enum:
                                      - set
                                      - add
                                      - substract
                                    value:
                                      description: Connected Static BGP OSPF Route map set Metric value
                                      type: integer
                                      minimum: 0
                                      maximum: 4294967295
                                metric_type:
                                  description: Connected Static BGP OSPF Route map set Metric type
                                  type: string
                                  enum:
                                  - type-1
                                  - type-2
                                tag:
                                  description: Connected Static BGP OSPF Route map set Tag
                                  type: integer
                                  minimum: 1
                                  maximum: 4294967295
              - title: rib
                description: Connected Static Root BGP
                required:
                - rib
                properties:
                  rib:
                    type: object
                    properties:
                      route_map:
                        description: Connected Static BGP Rib Route maps
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              description: Connected Static BGP Rib Route maps Sequence number
                              type: integer
                              minimum: 1
                              maximum: 65535
                            action:
                              description: Connected Static BGP Rib Route maps Action
                              type: string
                              enum:
                              - permit
                              - deny
                            description:
                              description: Connected Static BGP Rib Route maps Description
                              type: string
                            match:
                              type: object
                              properties:
                                interface:
                                  description: Connected Static BGP Rib Route maps Interface
                                  type: string
                                metric:
                                  description: Connected Static BGP Rib Route maps Metric
                                  type: integer
                                  minimum: 0
                                  maximum: 4294967295
                                ipv4:
                                  type: object
                                  properties:
                                    address:
                                      type: object
                                      description: Connected Static BGP Rib Route maps ipv4 address
                                      properties:
                                        access_list:
                                          description: Connected Static BGP Rib Route maps ipv4 Access list
                                          type: string
                                        prefix_list:
                                          description: Connected Static BGP Rib Route maps ipv4 Prefix list
                                          type: string
                                    next_hop:
                                      type: object
                                      properties:
                                        access_list:
                                          description: Connected Static BGP Rib Route maps ipv4 nect hop Access list
                                          type: string
                                        prefix_list:
                                          description: Connected Static BGP Rib Route maps ipv4 next hop Prefix list
                                          type: string
                            set:
                              type: object
                              description: Connected Static Root RIB set
                              properties:
                                source_address:
                                  description: Connected Static BGP Rib Route Map Distribution Source address
                                  type: string
      - oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required:
          - folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required:
          - snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required:
          - device
    error_detail_cause_info:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    error_detail_cause_infos:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      x-examples: {}
  securitySchemes:
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes:
            tsg_id: Your tenant service group in the form `tsg_id:XXXXXXXXXX`
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-internal: false
