openapi: 3.2.0
info:
  title: Prisma AIRS Red Teaming Dataplane Quota API
  description: Red Teaming Data Plane API - Data processing and scanning services for AI/ML model security. © 2025 Palo Alto Networks, Inc
  version: 0.7.75
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  license:
    name: MIT
    url: https://opensource.org/license/mit
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
security:
- bearerAuth: []
tags:
- name: Quota
  description: Operations for quota management and limits.
paths:
  /v1/metering/quota:
    post:
      tags:
      - Quota
      summary: Get quota summary
      description: Get aggregated quota summary for the current TSG (POST endpoint for backward compatibility).
      operationId: post_quota_summary_v1_metering_quota_post
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuotaSummarySchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    QuotaSummarySchema:
      properties:
        static:
          $ref: '#/components/schemas/QuotaDetails'
          description: Static scan quota details
        dynamic:
          $ref: '#/components/schemas/QuotaDetails'
          description: Dynamic scan quota details
        custom:
          $ref: '#/components/schemas/QuotaDetails'
          description: Custom scan quota details
      type: object
      required:
      - static
      - dynamic
      - custom
      title: QuotaSummarySchema
      description: Schema for quota summary response organized by scan type.
    QuotaDetails:
      properties:
        allocated:
          type: integer
          title: Allocated
          description: Total allocated scans for this type
        unlimited:
          type: boolean
          title: Unlimited
          description: Whether this scan type has unlimited quota
        consumed:
          type: integer
          title: Consumed
          description: Total consumed scans for this type
      type: object
      required:
      - allocated
      - unlimited
      - consumed
      title: QuotaDetails
      description: Details for a specific scan type quota.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
