openapi: 3.2.0
info:
  title: SASE 5G Manage Service UE Enrichment API
  version: '1.0'
  description: "The SASE 5G Management Service provides the administrative framework required to provision, \nconfigure, and oversee 5G security infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nArchitects and administrators utilize these APIs during the activation and lifecycle management \nphases to bridge enterprise 5G networks with Prisma Access security.\n\nBy leveraging these endpoints, organizations implement robust hardware-to-tenant mapping using \nIMSI and IMEI identifiers, ensuring precise traffic attribution and policy enforcement. \nThe service manages critical control plane components—including certificate handling and \nRadius server integration—directly through the SCM management plane. This centralized \napproach allows technical teams to scale 5G connectivity across global compute regions \nwhile maintaining granular visibility into subscriber groups and regional interconnect health. This spec was created on February 11, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- JWT: []
tags:
- name: UE Enrichment
paths:
  /mt/manage/5g/register/ue:
    post:
      tags:
      - UE Enrichment
      summary: Register Subscriber Session
      description: "Initiates registration for User Equipment (UE) devices with real-time session \nparameters. The 5G core triggers this using IMSI and event time to enrich \nsubscriber telemetry and profile data within Strata Cloud Manager."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUE'
      responses:
        '202':
          description: Accepted
        '207':
          description: Partial Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
      operationId: PostMtManage5gRegisterUe
  /mt/manage/5g/deregister/ue:
    post:
      tags:
      - UE Enrichment
      summary: Terminate Subscriber Session
      description: "Signals the termination of a User Equipment session. The 5G gateway executes \nthis deregistration when a device disconnects to ensure monitoring metrics \nand security states are accurately reflected in the management plane."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterUE'
      responses:
        '202':
          description: Accepted
        '401':
          description: Unauthorized
      operationId: PostMtManage5gDeregisterUe
components:
  schemas:
    RegisterUE:
      type: array
      description: A list of one or more UEs
      items:
        type: object
        properties:
          apn:
            description: APN (Access Point Name) for the Tenant UE
            example: apn@panw.com
            type: string
          imei:
            description: 15 digit IMEI number.
            example: '123456789012345'
            type: string
          imsi:
            description: 15 digit IMSI number.
            example: '123456789012345'
            type: string
          ipType:
            description: it tells whether it is ipv4, ipv6 or dual stack. Valid values are IPv4, IPv6, IPv4v6
            example: IPV4
            type: string
          ipv4Addr:
            type: string
          ipv6Addr:
            type: string
          eventTime:
            description: epoc time in ms
            type: integer
          expiryTime:
            description: epoc time in ms
            type: integer
          sliceId:
            type: string
          msisdn:
            type: string
          ratType:
            type: string
          cellId:
            type: string
          supi:
            type: string
        required:
        - eventTime
        - ipType
        - imsi
        - imei
        - apn
