openapi: 3.2.0
info:
  title: Palo Alto Networks Vulnerabilities Dashboard API
  version: '1.0'
  description: 'Operations tagged Vulnerabilities Dashboard across 3 of this provider''s published API definitions: palo-alto-cspm-uvedashboardmicroservice-openapi.json, palo-alto-cspm-uveremediationmicroservice-openapi.json, palo-alto-cspm-uvesearchmicroservice-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- name: Vulnerabilities Dashboard
paths:
  /trace/api/v1/asset:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get C2C Trace Asset Graph
      description: 'Returns the relation between the assets from code to cloud stages

        >**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled.'
      operationId: c2c-trace-api
      parameters:
      - name: x-redlock-auth
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CBDRAssetTraceRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTraceGraphView'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/dashboard/vulnerabilities/cve-overview:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Cve Overview
      description: "Get the overview of the CVE with its CVSS score, the impacted stages, severity, risk factors, the package name, and the distributions affected by this CVE. \n:::info\n **Replacement Endpoint: [Get CVE Overview - POST](/prisma-cloud/api/cspm/cve-overview-v-3/)**\n:::\n\n"
      operationId: cve-overview
      parameters:
      - name: cve_id
        in: query
        description: CVE ID
        required: true
        example: CVE-2021-44288
        schema:
          type: string
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      - name: severities
        in: query
        description: Severities
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - critical
            - medium
            - high
            - low
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CveOverview'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v1/cve-overview:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Cve Overview V2
      description: "Get the detailed information for a given cve. This endpoint returns additional information, such as EPSS details, CVSS details, exploit details, and environment factors, compared to the [Get CVE Overview](https://pan.dev/prisma-cloud/api/cspm/cve-overview/) endpoint. \n:::info\n **Replacement Endpoint: [Get CVE Overview - POST](/prisma-cloud/api/cspm/cve-overview-v-3/)**\n:::\n\n"
      operationId: cve-overview-v-2
      parameters:
      - name: cve_id
        in: query
        description: CVE ID
        required: true
        example: CVE-2021-44288
        schema:
          type: string
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      - name: severities
        in: query
        description: Severities
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - critical
            - medium
            - high
            - low
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CveOverviewV2'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v2/cve-overview:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get CVE Overview - POST
      description: Get the detailed information for a given cve. This endpoint returns information, such as EPSS details, CVSS details, exploit details, and environment factors. This API supports the additional filters like accountGroup and accountIds when compared to the [Get CVE Overview V2](https://pan.dev/prisma-cloud/api/cspm/cve-overview-v-2/) endpoint
      operationId: cve-overview-v-3
      requestBody:
        $ref: '#/components/requestBodies/WidgetRequestSidecar'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CveOverviewV2'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v2/dashboard/vulnerabilities/burndown:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerabilities Burndown
      description: 'Returns the total count of vulnerabilities and the count of remediated vulnerabilities over the past 30 days.

        >**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled.'
      operationId: get-burndown
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      - name: severities
        in: query
        description: Severities
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - critical
            - medium
            - high
            - low
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BurndownTrend'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/dashboard/vulnerabilities/vuln-assets:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerable Assets by CVE
      description: "Get the list of all the assets affected by the CVE. \n:::info\n **Replacement Endpoint: [Get Vulnerable Assets by CVE V2](/prisma-cloud/api/cspm/list-vulnerable-assets-cve-v-2/)**\n:::\n\n"
      operationId: list-vulnerable-assets-cve
      requestBody:
        $ref: '#/components/requestBodies/AssetsSearchRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnAssetsSidecarResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v1/vuln-assets:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerable Assets by CVE V2
      description: Get the list of all the assets affected by the CVE. This API supports the account group and account Id filters in addition to the filters we have in the [Get Vulnerable Assets by CVE](https://pan.dev/prisma-cloud/api/cspm/list-vulnerable-assets-cve/) endpoint.
      operationId: list-vulnerable-assets-cve-v-2
      requestBody:
        $ref: '#/components/requestBodies/AssetsSearchRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnAssetsSidecarResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/dashboard/vulnerabilities/prioritised:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Prioritized Vulnerabilities V1
      description: "Returns the count of top-priority vulnerabilities which are aggregated based on the most urgent, exploitable, patchable, and vulnerable packages in use. \n:::info\n **Replacement Endpoint: [Get Prioritized Vulnerabilities - POST](/prisma-cloud/api/cspm/prioritised-vulnerability-v-5/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: prioritised-vulnerability
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        example: packages,serverless
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        example: code,build,deploy,run
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: risk_factors
        in: query
        description: Risk Factors
        required: false
        example: Critical severity, Package in use
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrioritizedVulnerabilities'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v2/dashboard/vulnerabilities/prioritised:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Prioritized Vulnerabilities V2
      description: "Returns the top-priority unique vulnerabilities which are aggregated based on the most urgent, exploitable, patchable, and vulnerable packages in use along with the number of assets they occur in. \n:::info\n **Replacement Endpoint: [Get Prioritized Vulnerabilities - POST](/prisma-cloud/api/cspm/prioritised-vulnerability-v-5/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: prioritised-vulnerability-v-2
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      - name: risk_factors
        in: query
        description: Risk Factors
        required: false
        example: Critical severity, Package in use
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrioritizedVulnerabilitiesV2'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v3/dashboard/vulnerabilities/prioritised:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Prioritized Vulnerabilities V3
      description: "Returns the top-priority unique vulnerabilities which are aggregated based on the most urgent, exploitable, patchable, and vulnerable packages in use along with the number of assets they occur in. This endpoint also returns vulnerabilities based on internet exposure, in addition to those from [Get Prioritized Vulnerabilities V2](https://pan.dev/prisma-cloud/api/cspm/prioritised-vulnerability-v-2/). \n:::info\n **Replacement Endpoint: [Get Prioritized Vulnerabilities - POST](/prisma-cloud/api/cspm/prioritised-vulnerability-v-5/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: prioritised-vulnerability-v-3
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrioritizedVulnerabilitiesV3'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v4/dashboard/vulnerabilities/prioritised:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Prioritized Vulnerabilities V4
      description: "Returns the top-priority vulnerabilities which are aggregated based on the most urgent, exploitable, patchable, internet exposed and vulnerable packages in use along with the number of assets they occur in. \n:::info\n **Replacement Endpoint: [Get Prioritized Vulnerabilities - POST](/prisma-cloud/api/cspm/prioritised-vulnerability-v-5/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: prioritised-vulnerability-v-4
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrioritizedVulnerabilitiesV3'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v5/dashboard/vulnerabilities/prioritised:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Prioritized Vulnerabilities - POST
      description: 'Returns the top-priority vulnerabilities which are aggregated based on the most urgent, exploitable, patchable, internet exposed and vulnerable packages in use along with the number of assets they occur in. This API supports the account group and account Id filters in addition to the filters we have in the [Get Prioritized Vulnerabilities V4](https://pan.dev/prisma-cloud/api/cspm/prioritised-vulnerability-v-4/) endpoint.

        >**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled.'
      operationId: prioritised-vulnerability-v-5
      requestBody:
        $ref: '#/components/requestBodies/WidgetRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrioritizedVulnerabilitiesV3'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/dashboard/vulnerabilities/prioritised-vuln:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Top Impacting Vulnerabilities
      description: "Returns the CVEs of top critical vulnerabilities in your environment based on the risk score. Each CVE includes risk factors, severity, CVSS, risk factors, and assets impacted.\n:::info\n **Replacement Endpoint: [Get Top Impacting Vulnerabilities - POST](/prisma-cloud/api/cspm/top-prioritised-vulnerability-v-3/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: top-prioritised-vulnerability
      parameters:
      - name: life_cycle
        in: query
        description: Life Cycle
        required: true
        example: code,build,deploy,run
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: topN
        in: query
        description: TopN
        required: false
        example: 5
        schema:
          type: integer
          format: int32
          default: 5
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopPrioritizedVulnerabilities'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v2/dashboard/vulnerabilities/prioritised-vuln:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Top Impacting Vulnerabilities V2
      description: "Returns the CVEs of top critical vulnerabilities in your environment based on the risk score. Each CVE includes risk factors, epssScore, severity, CVSS, risk factors, and assets impacted. This endpoint returns the epss score details in addition to those from [Get Top Impacting Vulnerabilities](https://pan.dev/prisma-cloud/api/cspm/prioritised-vulnerability-v-2/).\n:::info\n **Replacement Endpoint: [Get Top Impacting Vulnerabilities - POST](/prisma-cloud/api/cspm/top-prioritised-vulnerability-v-3/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: top-prioritised-vulnerability-v-2
      parameters:
      - name: topN
        in: query
        description: TopN
        required: true
        example: 5
        schema:
          type: integer
          format: int32
      - name: life_cycle
        in: query
        description: Life Cycle
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopPrioritizedVulnerabilitiesV2'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v3/dashboard/vulnerabilities/prioritised-vuln:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Top Impacting Vulnerabilities - POST
      description: 'Returns the CVEs of top critical vulnerabilities in your environment based on the risk score. Each CVE includes risk factors, epssScore, severity, CVSS, EPSS, risk factors, and assets impacted. This API supports the account group and account Id filters in addition to the filters we have in the [Get Top Impacting Vulnerabilities V2](https://pan.dev/prisma-cloud/api/cspm/top-prioritised-vulnerability-v-2/) endpoint.

        >**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled.'
      operationId: top-prioritised-vulnerability-v-3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetRequestTopN'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrioritizedVulnerabilitiesV3'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/dashboard/vulnerabilities/overview:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerability Overview
      description: "Returns a summary of the total vulnerabilities in your environment which is further divided into Vulnerabilities by Asset and Vulnerabilities that have already been remediated. \n:::info\n **Replacement Endpoint: [Get CVE Overview - POST](/prisma-cloud/api/cspm/vulnerability-dashboard-overview-v-4/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: vulnerability-dashboard-overview
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      - name: risk_factors
        in: query
        description: Risk Factors
        required: false
        example: Critical severity, Package in use
        schema:
          type: ref
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewWidget'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v2/dashboard/vulnerabilities/overview:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerability Overview V2
      description: "Returns a summary of the total runtime vulnerabilities in your environment which is further divided into runtime Vulnerabilities by Asset and Vulnerabilities that have already been remediated. \n:::info\n **Replacement Endpoint: [Get CVE Overview - POST](/prisma-cloud/api/cspm/vulnerability-dashboard-overview-v-4/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: vulnerability-dashboard-overview-v-2
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewWidgetV2'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v3/dashboard/vulnerabilities/overview:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerability Overview V3
      description: "Returns a summary of the total unique vulnerabilities, the count of vulnerabilities, and the count of remediated vulnerabilities, including a breakdown by severity for each category. The percentage reflects the change between the current data and the data from seven days prior. \n:::info\n **Replacement Endpoint: [Get CVE Overview - POST](/prisma-cloud/api/cspm/vulnerability-dashboard-overview-v-4/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: vulnerability-dashboard-overview-v-3
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        example: packages,serverless
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        example: code,build,deploy,run
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: severities
        in: query
        description: Severities
        required: false
        example: critical,high
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewWidgetV3'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v4/dashboard/vulnerabilities/overview:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerability Overview - POST
      description: 'Returns a summary of the total unique vulnerabilities, the count of vulnerabilities, and the count of remediated vulnerabilities, including a breakdown by severity for each category. The percentage reflects the change between the current data and the data from seven days prior. This API supports the account group and account Id filters in addition to the filters we have in the [Get Vulnerability Overview V3](https://pan.dev/prisma-cloud/api/cspm/vulnerability-dashboard-overview-v-3/) endpoint.

        >**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled.'
      operationId: vulnerability-dashboard-overview-v-4
      requestBody:
        $ref: '#/components/requestBodies/WidgetRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OverviewWidgetV3'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/dashboard/vulnerabilities/impact-stage:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerability Impact by Stage
      description: "Returns a summary of vulnerability across app stages of your application lifecycle. \n:::info\n **Replacement Endpoint: [Get Vulnerability Impact by Stage - POST](/prisma-cloud/api/cspm/vulnerability-impact-by-stage-v-2/)**\n:::\n\n\n>**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled."
      operationId: vulnerability-impact-by-stage
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      - name: severities
        in: query
        description: Severities
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - critical
            - medium
            - high
            - low
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactByStageResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v2/dashboard/vulnerabilities/impact-stage:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerability Impact by Stage - POST
      description: 'Returns a summary of vulnerability across app stages of your application lifecycle. This API supports the account group and account Id filters in addition to the filters we have in the [Get Vulnerability Impact by Stage](https://pan.dev/prisma-cloud/api/cspm/vulnerability-impact-by-stage/) endpoint.

        >**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled.'
      operationId: vulnerability-impact-by-stage-v-2
      requestBody:
        $ref: '#/components/requestBodies/WidgetRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImpactByStageResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/dashboard/vulnerabilities/vulnerableAsset:
    get:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerable Assets
      description: 'Returns a summary of vulnerable assets and detailed vulnerability statistics, including the total number of vulnerabilities by severity, registry count, package count, repository count, and more, across different stages of your application lifecycle.

        >**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled.'
      operationId: vulnerable-assets
      parameters:
      - name: asset_type
        in: query
        description: Asset Type
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - package
            - iac
            - deployedImage
            - vmImage
            - registryImage
            - host
            - serverlessFunction
      - name: life_cycle
        in: query
        description: Life Cycle
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - code
            - build
            - deploy
            - run
      - name: severities
        in: query
        description: Severities
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - critical
            - medium
            - high
            - low
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerableAsset'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v2/dashboard/vulnerabilities/vulnerableAsset:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerable Assets Stats - POST
      description: 'Returns overall stats like total vulnerabilities, total assets, vulnerability by severity across the life stage (code, build, deploy and run) per cloud provider. This API supports the account group and account Id filters in addition to the filters we have in the [Get Vulnerable Assets](https://pan.dev/prisma-cloud/api/cspm/vulnerable-assets/) endpoint.

        >**Note:** You need `vulnerabilityDashboard` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Dashboard > Vulnerability** is enabled.'
      operationId: vulnerable-assets-v-2
      requestBody:
        $ref: '#/components/requestBodies/WidgetRequestSidecar'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerableAsset'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User doesn't have required role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/remediation/vuln-remediation-status:
    post:
      summary: Get Remediation Status
      tags:
      - Vulnerabilities Dashboard
      operationId: fetch-Remediation-Status
      description: "Get the remediation action status of assets. You can get the remediation status at two levels: \n- **Asset level** - Get the remediation status of an asset by asset ID\n- **Group level** - Get the remediation status of all assets of a specific asset type. To get group level status, specify only the asset type and not the asset ID.\n\n>**Note:** You need 'vulnerabilityRemediation' feature with 'View' permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Alerts > Remediate Vulnerabilities** is enabled."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemediationStatusRequest'
            examples:
              assetLevel:
                value:
                  cveId: CVE-2022-32207
                  prismaId: '1115545679050296320'
                  assetId:
                  - 0230eb1308fcf8dad743549e4092f4af
                  assetType: host
              groupLevel:
                value:
                  cveId: CVE-2022-32207
                  prismaId: '1115545679050296320'
                  assetType: host
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStatusResponse'
              examples:
                assetLevel:
                  value:
                    values:
                    - prismaId: '1115545679050296320'
                      unifiedAssetId: 0230eb1308fcf8dad743549e4092f4af
                      assetType: host
                      assetLifecycle: code
                      cveId: CVE-2022-32207
                      source: COMPUTE
                      remediationAction:
                      - action: createTask
                        status: UNAVAILABLE
                        actionResult: 'null'
                        message: Invalid Assets
                      lastUpdatedTimestamp: 1701782645308
                groupLevel:
                  value:
                    values:
                    - prismaId: '1115545679050296320'
                      unifiedAssetId: code
                      assetType: host
                      assetLifecycle: code
                      cveId: CVE-2022-32207
                      source: COMPUTE
                      remediationAction:
                      - action: createTask
                        status: AVAILABLE
                        actionResult: 'null'
                        message: 'null'
                      lastUpdatedTimestamp: 1701782708619
      x-public: 'true'
      x-ga: 24.1.1
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /uve/api/v1/remediation/vuln-create-remediation:
    post:
      summary: Create Remediation Request
      tags:
      - Vulnerabilities Dashboard
      operationId: create-Remediation-Request
      description: "You create one of the following remediation action request for an asset or a set of assets:\n - Create a task or JIRA ticket \n - Create a merge request \n - Suppress the vulnerability \n\n Remediation action request can be created at the following levels:\n- **Asset level**- Perform remediation action on an asset by asset ID\n - **Group level**- Perform remediation action for all the assets of a particular asset type for a specified CVE ID \n - **Global level**- Perform remediation action on all assets of a specified CVE ID. \n\n>**Note:** You need 'vulnerabilityRemediation' feature with 'Create' permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Alerts > Remediate Vulnerabilities** is enabled."
      parameters:
      - name: template-id
        in: header
        description: JIRA ID. Required only for **createTask** remediation action.
        schema:
          type: string
      - name: assignee
        in: header
        description: JIRA assignee. Required only for **createTask** remediation action.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemediationItem'
            examples:
              assetLevel:
                value:
                  cveId: CVE-2022-0529
                  prismaId: '1115545679050296320'
                  source: COMPUTE
                  remediationAction: createPr
                  assetDetails:
                  - assetType: package
                    assetId: 31ad4d5160bec151ed7c6bf372442df7
                  - assetType: package
                    assetId: d5160bec151ed7c6bf372442df7
              groupLevel:
                value:
                  cveId: CVE-2022-0529
                  prismaId: '1115545679050296320'
                  source: BRIDGECREW
                  remediationAction: suppress
                  assetType: package
              globalLevel:
                value:
                  cveId: CVE-2022-0529
                  prismaId: '1115545679050296320'
                  remediationAction: createTask
      responses:
        '200':
          description: ACCEPTED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ACCEPTED
                    description: Response message
                  details:
                    type: string
                    example: ''
                    description: Error details if applicable
                  timeStamp:
                    type: integer
                    example: 1701778720128
                    description: Timestamp of resppnse
                  request_id:
                    type: string
                    example: b17d66dd-2f8c-46f0-be1a-b3e21ba7990c
                    description: UUID identifier to indentify the request
        '206':
          description: PARTIALLY ACCEPTED
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: PARTIALLY_ACCEPTED
                    description: Response message
                  details:
                    type: string
                    example: Assets are suppressed or Jira Ticket already exists
                    description: Error details if applicable
                  timeStamp:
                    type: integer
                    example: 1701778720128
                    description: Timestamp of resppnse
                  request_id:
                    type: string
                    example: b17d66dd-2f8c-46f0-be1a-b3e21ba7990c
                    description: UUID identifier to indentify the request
        '400':
          description: BAD REQUEST
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: BAD_REQUEST
                    description: Response message
                  details:
                    type: string
                    example: Invalid payload
                    description: Error details if applicable
                  timeStamp:
                    type: integer
                    example: 1701778720128
                    description: Timestamp of resppnse
                  request_id:
                    type: string
                    example: b17d66dd-2f8c-46f0-be1a-b3e21ba7990c
                    description: UUID identifier to indentify the request
      x-public: 'true'
      x-ga: 24.1.1
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /uve/api/v1/vulnerabilities/search/download:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Download All Vulnerabilities by RQL
      description: Download the list of vulnerabilities and their details based on an RQL query in a GZIP CSV format. Maximum of 10k records can be downloaded. For vulnerability RQL query attributes, see [Vulnerability Query Attributes](https://docs.prismacloud.io/en/enterprise-edition/content-collections/search-and-investigate/vulnerability-queries/vulnerability-query-attributes). For example queries, see [Vulnerability Query Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/search-and-investigate/vulnerability-queries/vulnerability-query-examples).
      operationId: download-vulnerability-csv-file-in-investigate-table-view
      requestBody:
        $ref: '#/components/requestBodies/VulnerabilitySearchRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '202':
          description: Successfully returned the response for the request
        '400':
          description: Bad request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized Access
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User Doesn't have role to access
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Failed with an Exception, Internal Error Occurred
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/vulnerabilities/download:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get CVE Details by ID
      description: "Get the CVE details and impacted assets by CVE ID in a GZIP CSV format. \n:::info\n **Replacement Endpoint: [Get CVE Details by ID V3](/prisma-cloud/api/cspm/download-vulnerability-file-v-3/)**\n:::\n\n\n>**Note:** You need `investigateVulnerabilityRql` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Investigate > Vulnerability** is enabled."
      operationId: download-vulnerability-file
      requestBody:
        $ref: '#/components/requestBodies/VulnerabilityDownloadRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '202':
          description: Successfully returned the response for the request
        '400':
          description: Bad request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized Access
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User Doesn't have role to access
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Failed with an Exception, Internal Error Occurred
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v2/vulnerabilities/download:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get CVE Details by ID V2
      description: "Get the CVE details and impacted assets by CVE ID in a GZIP CSV format. \n:::info\n **Replacement Endpoint: [Get CVE Details by ID V3](/prisma-cloud/api/cspm/download-vulnerability-file-v-3/)**\n:::\n\n\n>**Note:** You need `investigateVulnerabilityRql` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Investigate > Vulnerability** is enabled."
      operationId: download-vulnerability-file-v2
      requestBody:
        $ref: '#/components/requestBodies/VulnerabilityDownloadRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '202':
          description: Successfully returned the response for the request
        '400':
          description: Bad request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized Access
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User Doesn't have role to access
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Failed with an Exception, Internal Error Occurred
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      deprecated: true
      x-public: 'true'
  /uve/api/v3/vulnerabilities/download:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get CVE Details by ID V3
      description: 'Get the CVE details and impacted assets by CVE ID in a GZIP CSV format.

        >**Note:** You need `investigateVulnerabilityRql` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Investigate > Vulnerability** is enabled.'
      operationId: download-vulnerability-file-v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VulnerabilityDownloadRequestV3'
      responses:
        '200':
          description: successful operation
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '202':
          description: Successfully returned the response for the request
        '400':
          description: Bad request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized Access
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User Doesn't have role to access
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Failed with an Exception, Internal Error Occurred
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/vulnerabilities/search/asset:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerable Assets by RQL
      description: 'Get the list of vulnerable Assets and their IDs based on an RQL query. For vulnerability RQL query attributes, see [Vulnerability Query Attributes](https://docs.prismacloud.io/en/enterprise-edition/content-collections/search-and-investigate/vulnerability-queries/vulnerability-query-attributes). For example queries, see [Vulnerability Query Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/search-and-investigate/vulnerability-queries/vulnerability-query-examples).

        >**Note:** You need `investigateVulnerabilityRql` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Investigate > Vulnerability** is enabled.'
      operationId: list-vulnerable-assets
      parameters:
      - name: Token for pagination
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsSearchRequest_2'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset_Search_Response'
        '202':
          description: Successfully returned the response for the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset_Search_Response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized Access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User Doesn't have role to access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Failed with an Exception, Internal Error Occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
  /uve/api/v1/vulnerabilities/search:
    post:
      tags:
      - Vulnerabilities Dashboard
      summary: Get Vulnerabilities by RQL
      description: 'Get the list of vulnerabilities and their details based on an RQL query. For vulnerability RQL query attributes, see [Vulnerability Query Attributes](https://docs.prismacloud.io/en/enterprise-edition/content-collections/search-and-investigate/vulnerability-queries/vulnerability-query-attributes). For example queries, see [Vulnerability Query Examples](https://docs.prismacloud.io/en/enterprise-edition/content-collections/search-and-investigate/vulnerability-queries/vulnerability-query-examples).


        To download all the vulnerabilities by RQL in a CSV format, see [Download All Vulnerabilities by RQL](https://pan.dev/prisma-cloud/api/cspm/download-vulnerability-csv-file-in-investigate-table-view)

        >**Note:** You need `investigateVulnerabilityRql` feature with `View` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that **Investigate > Vulnerability** is enabled.'
      operationId: vulnerabilities-search-api
      parameters:
      - name: page_token
        in: query
        description: Token for pagination
        required: false
        schema:
          type: string
      - name: view
        in: query
        description: Filter vulnerabilities based on the CVE or Asset view as available in the UI. **cve** is used to get details of the CVEs that matches the query and **asset** is used to get the details of the assets that have the CVE which matches the query.
        required: false
        schema:
          type: string
          enum:
          - asset
          - cve
      requestBody:
        $ref: '#/components/requestBodies/VulnerabilitySearchRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilitySearchResponse'
        '202':
          description: Successfully returned the response for the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilitySearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized Access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '403':
          description: User Doesn't have role to access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '429':
          description: Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Failed with an Exception, Internal Error Occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
components:
  schemas:
    OverviewSummary:
      type: object
      properties:
        totalVulnerableRuntimeAssets:
          $ref: '#/components/schemas/OverviewAssetStats'
        totalVulnerabilitiesinRuntime:
          $ref: '#/components/schemas/OverviewStats'
        totalRemediatedinRuntime:
          $ref: '#/components/schemas/OverviewStats'
    ImpactByStageResponse:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/Code'
        build:
          $ref: '#/components/schemas/Build'
        run:
          $ref: '#/components/schemas/Run'
        deploy:
          $ref: '#/components/schemas/Deploy'
    DistroDetails:
      type: object
      properties:
        cvss:
          type: number
          format: double
        packageName:
          type: string
        release:
          type: string
        severity:
          type: string
        affectedVersion:
          type: string
        fixedTime:
          type: integer
          format: int64
        publishedDate:
          type: integer
          format: int64
        modifiedDate:
          type: integer
          format: int64
    Action:
      type: object
      properties:
        action:
          type: string
        status:
          type: string
        actionResult:
          type: string
        message:
          type: string
    Build:
      type: object
    PrioritizedVulnerabilitiesV2:
      type: object
      properties:
        lastUpdatedDateTime:
          type: integer
          format: int64
        totalVulnerabilities:
          type: integer
          format: int64
        urgent:
          $ref: '#/components/schemas/VulnerabilityInfo'
        patchable:
          $ref: '#/components/schemas/VulnerabilityInfo'
        exploitable:
          $ref: '#/components/schemas/VulnerabilityInfo'
        packageInUse:
          $ref: '#/components/schemas/VulnerabilityInfo'
    AssetTraceGraphView:
      type: object
      properties:
        nodes:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TraceNode'
        edges:
          type: array
          items:
            $ref: '#/components/schemas/Edge'
    Trend:
      type: object
      properties:
        reportedDate:
          type: integer
          format: int64
        assetsWithCveCount:
          type: integer
          format: int64
    FixImpact:
      type: object
      properties:
        percentageVulns:
          type: number
          format: float
        across:
          type: integer
          format: int64
    TraceStage:
      type: object
      required:
      - cveId
      - name
      properties:
        name:
          type: string
          description: Stage Name
        cveId:
          type: string
          description: CveId
        repoId:
          type: string
          description: RepoId
        apiIds:
          type: array
          description: ApiIds
          items:
            type: integer
            format: int32
    EpssDetails:
      type: object
      properties:
        epss:
          type: integer
          format: int64
        epss_previous:
          type: integer
          format: int64
        probabilityScore:
          type: number
          format: double
    Overview:
      type: object
      properties:
        lastUpdatedDateTime:
          type: integer
          format: int64
        totalVulnerabilityCount:
          type: integer
          format: int64
        totalVulnerableAsset:
          type: integer
          format: int64
        totalRemediationCount:
          type: integer
          format: int64
    VulnAssetsSidecarResponse:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/AssetData'
    WidgetRequestTopN:
      type: object
      properties:
        assetTypes:
          type: array
          example: package,serverlessFunction,iac,deployedImage,vmImage,registryImage,host
          description: List of Asset Types
          items:
            type: string
        lifeCycle:
          type: array
          example: code,build,deploy,run
          description: List of Asset Life Cycles
          items:
            type: string
        severities:
          type: array
          example: critical,high,low,medium,informational
          description: List of Severities
          items:
            type: string
        accountGroups:
          type: array
          description: List of Cloud Account Groups
          items:
            type: string
        accountIds:
          type: array
          description: List of Cloud Account IDs
          items:
            type: string
        clusters:
          type: array
          description: List of Clusters
          items:
            type: string
        clusterNamespaces:
          type: array
          description: List of Namespaces
          items:
            type: string
        accountNames:
          type: array
          description: List of Account Name
          items:
            type: string
        topNValue:
          type: integer
          format: int32
          example: 5,10
          description: Integer value for TopN Widget
      description: Request Model for Dashboard Widgets
    StatsByProvider:
      type: object
      properties:
        provider:
          type: string
        repositories:
          type: integer
          format: int64
        registries:
          type: integer
          format: int64
        packages:
          type: integer
          format: int64
        assets:
          type: integer
          format: int64
        users:
          type: integer
          format: int64
        cloudAccounts:
          type: integer
          format: int64
        vulnerabilities:
          $ref: '#/components/schemas/VulnerabilitiesBySeverity'
    Edge:
      type: object
      properties:
        id:
          type: string
        label:
          type: string
        source:
          type: string
        target:
          type: string
        directed:
          type: boolean
        relation:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
        relationshipTypeId:
          type: integer
          format: int32
    CvssDetails:
      type: object
      properties:
        publishedDate:
          type: integer
          format: int64
        lastModifiedDate:
          type: integer
          format: int64
        attackVector:
          type: string
        privilegesRequired:
          type: string
        confidentiality:
          type: string
        attackComplexity:
          type: string
        userInteractionRequired:
          type: string
        integrity:
          type: string
        patchable:
          type: boolean
        exploitable:
          type: boolean
    Cve2:
      type: object
      properties:
        id:
          type: string
        cvssScore:
          type: number
          format: double
        epssScore:
          type: integer
          format: int64
        epssScorePrevious:
          type: integer
          format: int64
        completeEpssScore:
          type: number
          format: double
        severity:
          type: string
        riskFactors:
          type: array
          uniqueItems: true
          items:
            type: string
        assetsImpacted:
          $ref: '#/components/schemas/AssetsImpacted'
        assetsAtRisk:
          type: integer
          format: int64
    VulnerableAsset:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/VulnerableAssetStat'
    AdditionalLinks:
      type: object
      properties:
        vendorLinks:
          type: array
          items:
            type: string
        nvdlinks:
          type: array
          items:
            type: string
    Cve:
      type: object
      properties:
        id:
          type: string
        cvssScore:
          type: number
          format: double
        severity:
          type: string
        trends:
          type: array
          items:
            $ref: '#/components/schemas/Trend'
        riskFactors:
          type: array
          uniqueItems: true
          items:
            type: string
        assetsImpacted:
          $ref: '#/components/schemas/AssetsImpacted'
    EnvironmentFactors:
      type: object
      properties:
        internetExposed:
          type: boolean
        packageInUse:
          type: boolean
    ImpactedDistros:
      type: object
      properties:
        distro:
          type: string
        impactCount:
          type: integer
          format: int32
        highestCVSS:
          type: number
          format: double
        highestSeverity:
          type: string
        firstPublishedDate:
          type: integer
          format: int64
        lastModifiedDate:
          type: integer
          format: int64
        distroDetailsList:
          type: array
          items:
            $ref: '#/components/schemas/DistroDetails'
    VulnerabilitiesBySeverity:
      type: object
      properties:
        criticalCount:
          type: integer
          format: int64
        highCount:
          type: integer
          format: int64
        mediumCount:
          type: integer
          format: int64
        lowCount:
          type: integer
          format: int64
    OverviewStats:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        criticalCount:
          type: integer
          format: int64
        highCount:
          type: integer
          format: int64
        mediumCount:
          type: integer
          format: int64
        lowCount:
          type: integer
          format: int64
    ApiErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
    AssetInfo:
      type: object
      properties:
        count:
          type: integer
          format: int32
        repositorycount:
          type: integer
          format: int32
        fixImpact:
          $ref: '#/components/schemas/FixImpact'
        remediationAvailable:
          type: array
          items:
            $ref: '#/components/schemas/Action'
    OverviewStatsV3:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        criticalCount:
          type: integer
          format: int64
        highCount:
          type: integer
          format: int64
        mediumCount:
          type: integer
          format: int64
        lowCount:
          type: integer
          format: int64
        percentageChange:
          type: integer
          format: int64
    OverviewWidget:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/Overview'
    AssetsImpacted:
      type: object
      properties:
        codeCount:
          type: integer
          format: int64
        buildCount:
          type: integer
          format: int64
        deployCount:
          type: integer
          format: int64
        runtimeCount:
          type: integer
          format: int64
    PrioritizedVulnerabilitiesV3:
      type: object
      properties:
        lastUpdatedDateTime:
          type: integer
          format: int64
        totalVulnerabilities:
          type: integer
          format: int64
        urgent:
          $ref: '#/components/schemas/VulnerabilityInfo'
        patchable:
          $ref: '#/components/schemas/VulnerabilityInfo'
        exploitable:
          $ref: '#/components/schemas/VulnerabilityInfo'
        internetExposed:
          $ref: '#/components/schemas/VulnerabilityInfo'
        packageInUse:
          $ref: '#/components/schemas/VulnerabilityInfo'
    VulnerabilityInfo:
      type: object
      properties:
        vulnerability_count:
          type: integer
          format: int64
        asset_count:
          type: integer
          format: int64
        cve_count:
          type: integer
          format: int64
    VulnerableAssetStat:
      type: object
      properties:
        stage:
          type: string
        totalVulnerabilities:
          type: integer
          format: int64
        assetType:
          type: string
        totalAssets:
          type: integer
          format: int64
        stats:
          type: array
          items:
            $ref: '#/components/schemas/StatsByProvider'
    OverviewSummaryV3:
      type: object
      properties:
        totalUniqueCves:
          $ref: '#/components/schemas/OverviewStatsV3'
        totalVulnerabilities:
          $ref: '#/components/schemas/OverviewStatsV3'
        totalRemediated:
          $ref: '#/components/schemas/OverviewStatsV3'
    TraceNode:
      type: object
      properties:
        type:
          type: string
        label:
          type: string
    Code:
      type: object
      properties:
        packageCount:
          type: integer
          format: int32
        iac:
          type: integer
          format: int32
    OverviewWidgetV3:
      type: object
      properties:
        overviewSummary:
          $ref: '#/components/schemas/OverviewSummaryV3'
    ExploitDetails:
      type: object
      properties:
        cisaLink:
          type: string
        cisaKind:
          type: string
    Source:
      type: object
      required:
      - stage
      - unifiedAssetId
      properties:
        unifiedAssetId:
          type: string
          description: Unified Asset Identifier
        stage:
[...]
