openapi: 3.2.0
info:
  title: Prisma AIRS API Management service OAUTH API
  description: OpenAPI Specification for Prisma AIRS AI Runtime API Management Service
  version: 0.0.0
  contact:
    name: Palo Alto Networks
    url: https://www.paloaltonetworks.com
    email: support@paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/aisec
  description: Prisma AIRS API service URL
tags:
- name: Oauth
  description: Operations related to OAuth tokens
paths:
  /v1/mgmt/oauth/client_credential/accesstoken:
    post:
      summary: Get OAuth Token
      description: Get oauth2.0 token for a given set of client credentials
      tags:
      - Oauth
      security:
      - Auth: []
      operationId: GetApigeeOauthToken
      parameters:
      - name: tokenTtlInterval
        in: query
        description: The token time-to-live (TTL) interval (1h, 3h, 24h, 1 day, 7 days, 30 days) in the OAuth token request
        required: false
        schema:
          type: integer
          format: int32
      - name: tokenTtlUnit
        in: query
        description: The token time-to-live (TTL) unit (hours) in the OAuth token request
        required: false
        schema:
          type: string
      requestBody:
        description: ClientId and Customer App Name object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientIdAndCustomerApp'
      responses:
        '200':
          description: Successfully returned Oauth2 token for a given set of client credentials for a given TSG ID. Default duration is 24 hour.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Oauth2TokenObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Oauth2TokenObject:
      type: object
      properties:
        token_type:
          type: string
        issued_at:
          type: string
        client_id:
          type: string
        access_token:
          type: string
        expires_in:
          type: string
        status:
          type: string
      required:
      - access_token
    ClientIdAndCustomerApp:
      type: object
      properties:
        client_id:
          type: string
        customer_app:
          type: string
      required:
      - client_id
      - customer_app
    Error:
      type: object
      properties:
        status_code:
          type: integer
          format: int32
        error_message:
          type: string
      required:
      - status_code
      - error_message
  securitySchemes:
    Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
