openapi: 3.2.0
info:
  version: 2.0.0
  title: GlobalProtect Forwarding Profiles API
  description: These APIs are used for defining and managing Prisma Access GlobalProtect services within Strata Cloud Manager.
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
- url: https://api.strata.paloaltonetworks.com/config/mobile-agent/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1/mobile-agent
  description: Legacy
security:
- scmToken: []
tags:
- name: Forwarding Profiles
  description: Forwarding Profiles
paths:
  /forwarding-profiles:
    get:
      tags:
      - Forwarding Profiles
      summary: List GlobalProtect forwarding profiles
      description: 'Retrieve a list of GlobalProtect forwarding profiles

        '
      operationId: ListGlobalProtectForwardingProfiles
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/folder-mobileusers-required'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/forwarding-profile'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
      - Forwarding Profiles
      summary: Create a GlobalProtect forwarding profile
      description: 'Create a new GlobalProtect forwarding profile

        '
      operationId: CreateGlobalProtectForwardingProfile
      parameters:
      - $ref: '#/components/parameters/folder-mobileusers-required'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/forwarding-profile'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forwarding-profile'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /forwarding-profiles/{id}:
    get:
      tags:
      - Forwarding Profiles
      summary: Get a GlobalProtect forwarding profile
      description: 'Retrieve an existing GlobalProtect forwarding profile

        '
      operationId: GetGlobalProtectForwardingProfileByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forwarding-profile'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
      - Forwarding Profiles
      summary: Update a GlobalProtect forwarding profile
      description: 'Update an existing GlobalProtect forwarding profile

        '
      operationId: UpdateGlobalProtectForwardingProfileByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        description: The forwarding profile resource definition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/forwarding-profile'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forwarding-profile'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
      - Forwarding Profiles
      summary: Delete a GlobalProtect forwarding profile
      description: 'Delete a GlobalProtect forwarding profile

        '
      operationId: DeleteGlobalProtectForwardingProfile
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
components:
  examples:
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  schemas:
    forwarding-rule-basic:
      type: object
      properties:
        name:
          type: string
          maxLength: 64
          pattern: ^[0-9a-zA-Z._-]+$
          description: alphanumeric string [ 0-9a-zA-Z._-]
        enabled:
          type: boolean
          default: true
          description: Enable forwarding rule
        user_locations:
          type: string
          maxLength: 64
          default: Any
        destinations:
          type: string
          maxLength: 64
          default: Any
        connectivity:
          type: string
          maxLength: 64
          default: direct
      required:
      - name
    forwarding-profile:
      type: object
      properties:
        id:
          type: string
          readOnly: true
          description: The UUID of the forwarding profile
        name:
          type: string
          maxLength: 64
          pattern: ^[0-9a-zA-Z._-]+$
          description: alphanumeric string [ 0-9a-zA-Z._-]
        description:
          type: string
          maxLength: 1023
        definition_method:
          type: string
          enum:
          - rules
          - pac-file
          default: rules
          description: Enable forwarding rule
        type:
          type: object
          oneOf:
          - $ref: '#/components/schemas/forwarding-profile-pac-file'
          - $ref: '#/components/schemas/forwarding-profile-global-protect-proxy'
          - $ref: '#/components/schemas/forwarding-profile-ztna-agent'
      required:
      - name
    block-rule-basic:
      type: object
      properties:
        enable:
          type: boolean
          description: Enable block rule
        allow_tcp:
          type: object
          properties:
            enable_locations:
              type: boolean
              description: Enable locations for allow-tcp
            locations:
              type: array
              items:
                type: string
                maxLength: 64
        allow_udp:
          type: object
          properties:
            enable_locations:
              type: boolean
              description: Enable locations for allow-udp
            enable_destinations:
              type: boolean
              description: Enable destinations for allow-udp
            locations:
              type: array
              items:
                type: string
                maxLength: 64
            destinations:
              type: string
              maxLength: 64
    block-rule-ztna:
      type: object
      properties:
        block_all_other_unmatched_outbound_connections:
          type: boolean
          default: false
          description: Block all other unmatched outbound connections
        block_outbound_lan_access_when_connected_to_tunnel:
          type: boolean
          default: false
          description: Block outbound LAN access when connected to tunnel
        block_inbound_access_when_connected_to_tunnel:
          type: boolean
          default: false
          description: Block inbound access when connected to tunnel
        block_non_tcp_non_udp_based_traffic_when_connected_to_tunnel:
          type: boolean
          default: false
          description: Block Non-TCP Non UDP based traffic when connected to tunnel
        allow_icmp_for_troubleshooting:
          type: boolean
          default: false
          description: Allow ICMP for troubleshooting
        enforcer_fqdn_dns_resolution_via_dns_servers:
          type: boolean
          default: true
          description: Enforce FQDN DNS resolution via tunnel DNS servers
        resolve_all_fqdns_using_dns_servers_assigned_by_the_tunnel:
          type: boolean
          default: true
          description: Resolve All FQDNs using DNS servers assigned by the tunnel (Windows Only)
    forwarding-profile-global-protect-proxy:
      type: object
      properties:
        global_protect_proxy:
          type: object
          properties:
            pac_upload:
              type: boolean
              default: false
              description: User upload PAC file
            forwarding_rules:
              type: array
              items:
                $ref: '#/components/schemas/forwarding-rule-basic'
            block_rule:
              $ref: '#/components/schemas/block-rule-basic'
    generic_error:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      x-examples: {}
    error_detail_cause_infos:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      x-examples: {}
    forwarding-profile-ztna-agent:
      type: object
      properties:
        ztna_agent:
          type: object
          properties:
            pac_upload:
              type: boolean
              default: false
              description: User upload PAC file
            forwarding_rules:
              type: array
              items:
                $ref: '#/components/schemas/forwarding-rule-ztna'
            block_rule:
              $ref: '#/components/schemas/block-rule-ztna'
    error_detail_cause_info:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    forwarding-profile-pac-file:
      type: object
      properties:
        pac_file:
          type: object
          properties:
            pac_upload:
              type: boolean
              default: false
              description: User upload PAC file
            forwarding_rules:
              type: array
              items:
                $ref: '#/components/schemas/forwarding-rule-basic'
            block_rule:
              $ref: '#/components/schemas/block-rule-basic'
    forwarding-rule-ztna:
      type: object
      properties:
        name:
          type: string
          maxLength: 64
          pattern: ^[0-9a-zA-Z._-]+$
          description: alphanumeric string [ 0-9a-zA-Z._-]
        traffic_type:
          type: string
          enum:
          - dns
          - dns-and-network-traffic
          - network-traffic
          default: dns
        enabled:
          type: boolean
          default: true
          description: Enable forwarding rule
        user_locations:
          type: string
          maxLength: 64
          default: Any
        source_applications:
          type: string
          default: Any
        destinations:
          type: string
          maxLength: 64
          default: Any
        connectivity:
          type: string
          maxLength: 64
          default: direct
      required:
      - name
  responses:
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    http_ok:
      description: OK
  parameters:
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    uuid:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The UUID of the resource
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    folder-mobileusers-required:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      schema:
        enum:
        - Mobile Users
  securitySchemes:
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes: {}
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-internal: false
