openapi: 3.2.0
info:
  title: Palo Alto Networks IKE Crypto Profiles API
  x-refined-note:
  - x-audience differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged IKE Crypto Profiles across 2 of this provider''s published API definitions: palo-alto-sase-config-orch-paloaltonetworks-remote-networks-openapi.yaml, palo-alto-scm-config-cloudngfw-network-network-services-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com/config/network/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
tags:
- name: IKE Crypto Profiles
paths:
  /v1/ike-crypto-profiles:
    delete:
      description: "Delete an IKE Crypto Profiles. \n"
      operationId: delete-v1-ike-crypto-profiles
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      - description: IKE Crypto Profile name.
        in: query
        name: name
        required: true
        schema:
          type: string
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete IKE Crypto Profiles
      tags:
      - IKE Crypto Profiles
    get:
      description: "Provides a status of Internet Key Exchange(IKE) Crypto Profiles created along with the UUID. \n"
      operationId: get-v1-ike-crypto-profiles
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IkeCryptoProfilesResponse'
          description: Status of the created IKE Crypto Profiles.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Get IKE crypto profile
      tags:
      - IKE Crypto Profiles
    post:
      description: "Create an IKE Crypto Profiles. \n"
      operationId: post-v1-ike-crypto-profiles
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IkeCryptoProfiles'
        description: Create the IKE Crypto Profile.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create IKE Crypto Profile
      tags:
      - IKE Crypto Profiles
    put:
      description: "Edit an IKE Crypto Profiles. \n"
      operationId: put-v1-ike-crypto-profiles
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IkeCryptoProfiles'
        description: Edit the IKE Crypto Profile.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Edit IKE Crypto Profile
      tags:
      - IKE Crypto Profiles
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /v1/ike-crypto-profiles-read:
    get:
      description: 'Read the list of IKE Crypto Profiles.

        '
      operationId: get-v1-ike-crypto-profiles-read
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/IkeCryptoProfilesSet'
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of IKE Crypto Profiles configurations.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Read IKE Crypto Profiles list
      tags:
      - IKE Crypto Profiles
    post:
      description: 'Create a request to read the list of IKE Crypto Profiles.

        '
      operationId: post-v1-ike-crypto-profiles-read
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IkeCryptoProfilesNamesSet'
        description: Read the list of IKE Crypto Profiles.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create a request to read IKE Crypto Profiles
      tags:
      - IKE Crypto Profiles
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /ike-crypto-profiles:
    get:
      tags:
      - IKE Crypto Profiles
      summary: List IKE crypto profiles
      description: 'Retrieve a list of IKE crypto profiles.

        '
      operationId: ListIKECryptoProfiles
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/ike-crypto-profiles'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '404':
          $ref: '#/components/responses/not_found_2'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    post:
      tags:
      - IKE Crypto Profiles
      summary: Create an IKE crypto profile
      description: 'Create a new IKE crypto profile.

        '
      operationId: CreateIKECryptoProfiles
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ike-crypto-profiles'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-crypto-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/network/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
  /ike-crypto-profiles/{id}:
    get:
      tags:
      - IKE Crypto Profiles
      summary: Get an IKE crypto profile
      description: 'Get an existing IKE crypto profile.

        '
      operationId: GetIKECryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-crypto-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '404':
          $ref: '#/components/responses/not_found_2'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    put:
      tags:
      - IKE Crypto Profiles
      summary: Update an IKE crypto profile
      description: 'Update an existing IKE crypto profile.

        '
      operationId: UpdateIKECryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ike-crypto-profiles'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ike-crypto-profiles'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '404':
          $ref: '#/components/responses/not_found_2'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    delete:
      tags:
      - IKE Crypto Profiles
      summary: Delete an IKE crypto profile
      description: 'Delete an IKE crypto profile.

        '
      operationId: DeleteIKECryptoProfilesByID
      parameters:
      - $ref: '#/components/parameters/uuid_2'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_2'
        '401':
          $ref: '#/components/responses/auth_errors_2'
        '403':
          $ref: '#/components/responses/access_errors_2'
        '404':
          $ref: '#/components/responses/not_found_2'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors_2'
      security:
      - scmToken: []
    servers:
    - url: https://api.strata.paloaltonetworks.com/config/network/v1
      description: Current
    - url: https://api.sase.paloaltonetworks.com/sse/config/v1
      description: Legacy
components:
  responses:
    auth_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Unauthorized
    access_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Forbidden
    not_found:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Not Found
    bad_request_errors_basic_with_body:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    bad_request_errors_basic:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    default_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    access_errors_2:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    not_found_2:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    bad_request_errors_basic_2:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    default_errors_2:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    auth_errors_2:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    bad_request_errors_basic_with_body_2:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error_2'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    http_ok:
      description: OK
  schemas:
    IkeCryptoProfilesSet:
      description: set of ike crypto profiles
      properties:
        IkeCryptoProfiles:
          description: The ike crypto profile
          items:
            $ref: '#/components/schemas/IkeCryptoProfiles'
          type: array
      type: object
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    IkeCryptoProfiles:
      properties:
        authentication_multiple:
          default: 0
          description: IKEv2 SA reauthentication interval equals authetication-multiple * rekey-lifetime; 0 means reauthentication disabled
          maximum: 50
          type: integer
        dh_group:
          items:
            default: group2
            description: Phase-1 DH group
            enum:
            - group1
            - group2
            - group5
            - group14
            - group19
            - group20
            type: string
          type: array
        encryption:
          description: Encryption algorithm
          items:
            default: aes-128-cbc
            enum:
            - des
            - 3des
            - aes-128-cbc
            - aes-192-cbc
            - aes-256-cbc
            - aes-128-gcm
            - aes-256-gcm
            type: string
          type: array
        hash:
          items:
            default: sha1
            description: Hashing algorithm
            enum:
            - md5
            - sha1
            - sha256
            - sha384
            - sha512
            type: string
          type: array
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        lifetime:
          oneOf:
          - properties:
              seconds:
                description: specify lifetime in seconds
                maximum: 65535
                minimum: 180
                type: integer
            title: seconds
            type: object
          - properties:
              minutes:
                description: specify lifetime in minutes
                maximum: 65535
                minimum: 3
                type: integer
            title: minutes
            type: object
          - properties:
              hours:
                description: specify lifetime in hours
                maximum: 65535
                minimum: 1
                type: integer
            title: hours
            type: object
          - properties:
              days:
                description: specify lifetime in days
                maximum: 365
                minimum: 1
                type: integer
            title: days
            type: object
          type: object
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 31
          type: string
      required:
      - name
      - encryption
      - hash
      - dh_group
      type: object
    IkeCryptoProfilesNamesSet:
      properties:
        ike_crypto_profiles_names:
          items:
            type: string
          maxItems: 100
          minItems: 0
          type: array
          uniqueItems: true
      type: object
    IkeCryptoProfilesResponse:
      description: Ike Crypto Profiles Response
      properties:
        errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        result:
          type: string
        status:
          type: string
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    UuidResponse:
      properties:
        uuid:
          format: uuid
          type: string
      readOnly: true
      type: object
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    generic_error_2:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos_2'
        _request_id:
          type: string
      x-examples: {}
    ike-crypto-profiles:
      type: object
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 31
        hash:
          type: array
          items:
            type: string
            enum:
            - md5
            - sha1
            - sha256
            - sha384
            - sha512
            - non-auth
            description: Hashing algorithm
            default: sha1
        encryption:
          type: array
          description: Encryption algorithm
          items:
            type: string
            enum:
            - des
            - 3des
            - aes-128-cbc
            - aes-192-cbc
            - aes-256-cbc
            - aes-128-gcm
            - aes-256-gcm
            default: aes-128-cbc
        dh_group:
          type: array
          items:
            type: string
            enum:
            - group1
            - group2
            - group5
            - group14
            - group19
            - group20
            description: Phase-1 DH group
            default: group2
        lifetime:
          type: object
          description: Ike crypto profile lifetime
          oneOf:
          - type: object
            title: seconds
            properties:
              seconds:
                type: integer
                description: specify lifetime in seconds
                minimum: 180
                maximum: 65535
          - type: object
            title: minutes
            properties:
              minutes:
                type: integer
                description: specify lifetime in minutes
                minimum: 3
                maximum: 65535
          - type: object
            title: hours
            properties:
              hours:
                type: integer
                description: specify lifetime in hours
                minimum: 1
                maximum: 65535
          - type: object
            title: days
            properties:
              days:
                type: integer
                description: specify lifetime in days
                minimum: 1
                maximum: 365
        authentication_multiple:
          type: integer
          description: IKEv2 SA reauthentication interval equals authetication-multiple * rekey-lifetime; 0 means reauthentication disabled
          maximum: 50
          default: 0
        ake:
          type: object
          description: 'RFC 9370 Additional Key Exchange (AKE) configuration for IKE.

            Supports up to 7 rounds of additional key exchanges.

            Each round can specify multiple algorithms in preference order.

            Supported algorithms: ml-kem-512, ml-kem-768, ml-kem-1024, and DH groups.

            '
          properties:
            enabled:
              type: boolean
              description: Enable additional key exchanges
            ake_1:
              type: array
              items:
                type: string
              description: Round 1 algorithms (e.g., ["ml-kem-768", "group14"])
            ake_2:
              type: array
              items:
                type: string
              description: Round 2 algorithms
            ake_3:
              type: array
              items:
                type: string
              description: Round 3 algorithms
            ake_4:
              type: array
              items:
                type: string
              description: Round 4 algorithms
            ake_5:
              type: array
              items:
                type: string
              description: Round 5 algorithms
            ake_6:
              type: array
              items:
                type: string
              description: Round 6 algorithms
            ake_7:
              type: array
              items:
                type: string
              description: Round 7 algorithms
      required:
      - name
      - hash
      - encryption
      - dh_group
      oneOf:
      - type: object
        title: folder
        properties:
          folder:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The folder in which the resource is defined
            example: My Folder
        required:
        - folder
      - type: object
        title: snippet
        properties:
          snippet:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The snippet in which the resource is defined
            example: My Snippet
        required:
        - snippet
      - type: object
        title: device
        properties:
          device:
            type: string
            pattern: ^[a-zA-Z\d\-_\. ]+$
            maxLength: 64
            description: The device in which the resource is defined
            example: My Device
        required:
        - device
    error_detail_cause_infos_2:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info_2'
      x-examples: {}
    error_detail_cause_info_2:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
  parameters:
    uuid:
      description: 'UUID for the request.

        '
      in: query
      name: id
      required: true
      schema:
        format: uuid
        type: string
    SubTenantName:
      description: 'Sub-tenant name in a panorama multi-tenancy setup.

        '
      in: query
      name: SubTenantName
      schema:
        type: string
    device:
      name: device
      in: query
      description: 'The device in which the resource is defined

        '
      required: false
      schema:
        type: string
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    uuid_2:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000
    folder:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      required: false
      schema:
        type: string
    snippet:
      name: snippet
      in: query
      description: 'The snippet in which the resource is defined

        '
      required: false
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
  examples:
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes:
            tsg_id: Your tenant service group in the form `tsg_id:XXXXXXXXXX`
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- palo-alto-sase-config-orch-paloaltonetworks-remote-networks-openapi.yaml
- palo-alto-scm-config-cloudngfw-network-network-services-openapi.yaml
