openapi: 3.2.0
info:
  title: Palo Alto Networks Network Slices API
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
  description: 'Operations tagged Network Slices across 2 of this provider''s published API definitions: palo-alto-networks-network-slices-api-openapi.yml, palo-alto-sase-5g-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.sase.paloaltonetworks.com/5g/v1
  description: SASE 5G Managed Services API production server.
security:
- oauth2Bearer: []
tags:
- name: Network Slices
  description: 5G network slice configuration and management.
paths:
  /network-slices:
    get:
      operationId: listNetworkSlices
      summary: Palo Alto Networks List 5G Network Slices
      description: Returns the list of 5G network slices configured for the tenant. Network slices are logical partitions of the 5G network with independent security policies and quality of service parameters. Each slice can be associated with a specific application, customer segment, or service type.
      tags:
      - Network Slices
      parameters:
      - name: status
        in: query
        description: Filter slices by status.
        schema:
          type: string
          enum:
          - active
          - inactive
          - provisioning
          - error
        example: error
      - name: slice_type
        in: query
        description: Filter by slice type (SST values).
        schema:
          type: string
          enum:
          - eMBB
          - URLLC
          - mMTC
        example: eMBB
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of network slices to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Network slices returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkSlice'
              examples:
                ListNetworkSlices200Example:
                  summary: Default listNetworkSlices 200 response
                  x-microcks-default: true
                  value:
                    total: 181
                    offset: 468
                    limit: 220
                    items:
                    - slice_id: '411916'
                      name: Primary Agent 05
                      description: Rule policy policy incident violation policy suspicious alert configured.
                      slice_type: URLLC
                      sst: 528
                      sd: example-sd
                      status: inactive
                      security_policy_id: '381926'
                      created_at: '2025-07-21T07:27:57Z'
                      updated_at: '2024-11-10T00:28:23Z'
                    - slice_id: '411916'
                      name: Primary Agent 05
                      description: Rule policy policy incident violation policy suspicious alert configured.
                      slice_type: URLLC
                      sst: 528
                      sd: example-sd
                      status: inactive
                      security_policy_id: '381926'
                      created_at: '2025-07-21T07:27:57Z'
                      updated_at: '2024-11-10T00:28:23Z'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListNetworkSlices400Example:
                  summary: Default listNetworkSlices 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListNetworkSlices401Example:
                  summary: Default listNetworkSlices 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListNetworkSlices403Example:
                  summary: Default listNetworkSlices 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListNetworkSlices500Example:
                  summary: Default listNetworkSlices 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNetworkSlice
      summary: Palo Alto Networks Create 5G Network Slice
      description: Creates a new 5G network slice configuration.
      tags:
      - Network Slices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSliceRequest'
            examples:
              CreateNetworkSliceRequestExample:
                summary: Default createNetworkSlice request
                x-microcks-default: true
                value:
                  name: Primary Agent 44
                  description: Threat monitoring configured investigation detected traffic violation traffic applied detected.
                  slice_type: mMTC
                  sd: example-sd
                  security_policy_id: '716910'
      responses:
        '201':
          description: Network slice created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
              examples:
                CreateNetworkSlice201Example:
                  summary: Default createNetworkSlice 201 response
                  x-microcks-default: true
                  value:
                    slice_id: '411916'
                    name: Primary Agent 05
                    description: Rule policy policy incident violation policy suspicious alert configured.
                    slice_type: URLLC
                    sst: 528
                    sd: example-sd
                    status: inactive
                    security_policy_id: '381926'
                    created_at: '2025-07-21T07:27:57Z'
                    updated_at: '2024-11-10T00:28:23Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateNetworkSlice400Example:
                  summary: Default createNetworkSlice 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateNetworkSlice401Example:
                  summary: Default createNetworkSlice 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateNetworkSlice403Example:
                  summary: Default createNetworkSlice 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateNetworkSlice500Example:
                  summary: Default createNetworkSlice 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /network-slices/{slice_id}:
    get:
      operationId: getNetworkSlice
      summary: Palo Alto Networks Get 5G Network Slice
      description: Returns full details for a specific 5G network slice.
      tags:
      - Network Slices
      parameters:
      - name: slice_id
        in: path
        required: true
        description: Unique identifier of the network slice.
        schema:
          type: string
        example: '344064'
      responses:
        '200':
          description: Network slice details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
              examples:
                GetNetworkSlice200Example:
                  summary: Default getNetworkSlice 200 response
                  x-microcks-default: true
                  value:
                    slice_id: '411916'
                    name: Primary Agent 05
                    description: Rule policy policy incident violation policy suspicious alert configured.
                    slice_type: URLLC
                    sst: 528
                    sd: example-sd
                    status: inactive
                    security_policy_id: '381926'
                    created_at: '2025-07-21T07:27:57Z'
                    updated_at: '2024-11-10T00:28:23Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetNetworkSlice401Example:
                  summary: Default getNetworkSlice 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetNetworkSlice403Example:
                  summary: Default getNetworkSlice 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetNetworkSlice404Example:
                  summary: Default getNetworkSlice 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetNetworkSlice500Example:
                  summary: Default getNetworkSlice 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateNetworkSlice
      summary: Palo Alto Networks Update 5G Network Slice
      description: Updates an existing 5G network slice configuration.
      tags:
      - Network Slices
      parameters:
      - name: slice_id
        in: path
        required: true
        description: Unique identifier of the network slice to update.
        schema:
          type: string
        example: '894244'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSliceRequest'
            examples:
              UpdateNetworkSliceRequestExample:
                summary: Default updateNetworkSlice request
                x-microcks-default: true
                value:
                  name: Primary Agent 44
                  description: Threat monitoring configured investigation detected traffic violation traffic applied detected.
                  slice_type: mMTC
                  sd: example-sd
                  security_policy_id: '716910'
      responses:
        '200':
          description: Network slice updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
              examples:
                UpdateNetworkSlice200Example:
                  summary: Default updateNetworkSlice 200 response
                  x-microcks-default: true
                  value:
                    slice_id: '411916'
                    name: Primary Agent 05
                    description: Rule policy policy incident violation policy suspicious alert configured.
                    slice_type: URLLC
                    sst: 528
                    sd: example-sd
                    status: inactive
                    security_policy_id: '381926'
                    created_at: '2025-07-21T07:27:57Z'
                    updated_at: '2024-11-10T00:28:23Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice400Example:
                  summary: Default updateNetworkSlice 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice401Example:
                  summary: Default updateNetworkSlice 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice403Example:
                  summary: Default updateNetworkSlice 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice404Example:
                  summary: Default updateNetworkSlice 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice500Example:
                  summary: Default updateNetworkSlice 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNetworkSlice
      summary: Palo Alto Networks Delete 5G Network Slice
      description: Deletes a 5G network slice configuration.
      tags:
      - Network Slices
      parameters:
      - name: slice_id
        in: path
        required: true
        description: Unique identifier of the network slice to delete.
        schema:
          type: string
        example: '313522'
      responses:
        '204':
          description: Network slice deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteNetworkSlice401Example:
                  summary: Default deleteNetworkSlice 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteNetworkSlice403Example:
                  summary: Default deleteNetworkSlice 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteNetworkSlice404Example:
                  summary: Default deleteNetworkSlice 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteNetworkSlice500Example:
                  summary: Default deleteNetworkSlice 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    NetworkSliceRequest:
      type: object
      required:
      - name
      - slice_type
      properties:
        name:
          type: string
          description: Display name for the network slice.
          example: Primary Agent 44
        description:
          type: string
          description: Optional description.
          example: Threat monitoring configured investigation detected traffic violation traffic applied detected.
        slice_type:
          type: string
          enum:
          - eMBB
          - URLLC
          - mMTC
          description: 5G slice type.
          example: mMTC
        sd:
          type: string
          description: Slice Differentiator hex string.
          example: example-sd
        security_policy_id:
          type: string
          description: Security policy ID to apply to this slice.
          example: '716910'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: b8969609-ec40-4367-a0fc-c65a6696edee
    NetworkSlice:
      type: object
      properties:
        slice_id:
          type: string
          description: Unique identifier of the network slice.
          example: '411916'
        name:
          type: string
          description: Display name of the network slice.
          example: Primary Agent 05
        description:
          type: string
          description: Description of the slice's purpose or use case.
          example: Rule policy policy incident violation policy suspicious alert configured.
        slice_type:
          type: string
          enum:
          - eMBB
          - URLLC
          - mMTC
          description: 5G slice type based on 3GPP SST values. eMBB for enhanced mobile broadband, URLLC for ultra-reliable low-latency, mMTC for massive machine-type communications.
          example: URLLC
        sst:
          type: integer
          description: Slice/Service Type numeric value (1=eMBB, 2=URLLC, 3=mMTC).
          example: 528
        sd:
          type: string
          description: Slice Differentiator hex string for distinguishing slices of the same type.
          example: example-sd
        status:
          type: string
          enum:
          - active
          - inactive
          - provisioning
          - error
          description: Current slice status.
          example: inactive
        security_policy_id:
          type: string
          description: ID of the security policy applied to this slice.
          example: '381926'
        created_at:
          type: string
          format: date-time
          example: '2025-07-21T07:27:57Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-11-10T00:28:23Z'
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-network-slices-api-openapi.yml
- palo-alto-sase-5g-api-openapi-original.yml
