openapi: 3.2.0
info:
  title: 'Prisma Cloud: Managed Security Service Provider (MSSP) Tenant Group Lifecycle Endpoints API'
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
  version: '1.0'
servers:
- url: https://mssp-api.prismacloud.io
tags:
- name: Tenant Group Lifecycle Endpoints
paths:
  /api/v1/mssp/{mssp-id}/tenant-group:
    get:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Get the tenant group list for an MSSP
      description: Gets the list of tenant groups for an MSSP. Will use msspId from the auth token if available.
      operationId: getTenantGroupsByMsspId
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
      - name: next_page_token
        in: query
        description: pagination token to continue a previous queryif set
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupsResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    post:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Create a tenant group
      description: Creates a tenant group if it doesn't exist. Will use msspId from the auth token if available.
      operationId: createTenantGroup
      parameters:
      - name: mssp-id
        in: path
        description: the id mssp the tenant group belongs to
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateTenantGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
  /api/v1/mssp/{mssp-id}/tenant-group/{id}:
    get:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Get the tenant group by id
      description: Gets a tenant group by id.
      operationId: getTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    delete:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Delete an existing tenant group
      description: Deletes a tenant group if it is empty. Will use msspId from the auth token if available.
      operationId: deleteTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the tenant group belongs to
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Deletion accepted
        '404':
          description: The MSSP or tenant group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    patch:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Modify the tenant group by id
      description: Modifies a tenant group by id.
      operationId: patchTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantGroupRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
components:
  schemas:
    TenantGroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        groupName:
          type: string
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/TenantIds'
        createdAt:
          type: integer
          format: int64
        createdBy:
          type: string
    TenantIds:
      type: object
      properties:
        externalTenantId:
          type: string
        prismaId:
          type: string
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    CreateTenantGroupRequest:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
        tenantIds:
          type: array
          items:
            type: string
    TenantGroupsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupResponse'
        nextPageToken:
          type: string
    UpdateTenantGroupRequest:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
        tenantIds:
          type: array
          items:
            type: string
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- tags:
  - User Authentication
  - MSSP Account Management
  - User Management
  - MSSP Managed Tenant Lifecycle Endpoints
  - Tenant Group Lifecycle Endpoints
  - Policy Group Lifecycle Endpoints
  - Policy Group to Tenant Group Management
  - MSSP Operations Retry
  - Mssp License Endpoints
  - Stack Details Endpoint
  - Proxy Endpoint Provider
  name: public
- tags:
  - Managed Tenant Management Service
  - MSSP Async Change Management
  - Licensing Job Schedule Management
  - OIDC Discovery Endpoint
  - MSSP Account Management Service Endpoint
  name: service
- tags:
  - Hard Delete Managed Tenant
  name: support
