openapi: 3.2.0
info:
  title: SASE 5G Monitor Service UE Mappings API
  version: '1.0'
  description: "The SASE 5G Monitoring Service provides real-time visibility and technical telemetry \nfor enterprise 5G infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nTechnical leads and network analysts utilize these APIs to track subscriber scaling, \nmonitor regional registration trends, and audit network throughput performance.\n\nBy leveraging these endpoints, organizations maintain a continuous feedback loop on \nUser Equipment (UE) activity and regional interconnect health. The service enables \nproactive troubleshooting through incident severity tracking and API performance \nmonitoring, ensuring that global 5G connectivity meets strict service level objectives \nwhile identifying unauthorized traffic or signaling gaps. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- BearerAuth: []
tags:
- name: UE Mappings
paths:
  /mt/monitor/5g/mapping:
    post:
      tags:
      - UE Mappings
      summary: UE Mapping Details
      description: List all the UE Mappings or search a particular UE Mapping by IMSI, IMEI or IP Address Address. If no pagination is provided by deafult 100 records will be returned.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingRequest'
            examples:
              Paginated List:
                value:
                  pageSize: 100
                  pageNum: 0
              Paginated List With Tenant Filter:
                value:
                  pageSize: 100
                  pageNum: 0
                  tenant:
                  - '1459340040'
                  - '1635727460'
              Paginated List With Region Filter:
                value:
                  pageSize: 100
                  pageNum: 0
                  region: us-west2
              Paginated List With Region  and Tenant Filter:
                value:
                  pageSize: 100
                  pageNum: 0
                  region: us-west2
                  tenant:
                  - '1459340040'
                  - '1635727460'
              Search with Pagination:
                value:
                  searchKey: '500012222222222'
                  pageSize: 100
                  pageNum: 0
              Search with Pagination and Filtering:
                value:
                  searchKey: '310260418380113'
                  pageSize: 100
                  pageNum: 0
                  region: us-west2
                  tenant:
                  - '1459340040'
                  - '1635727460'
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Single Mapping:
                  value:
                    data:
                      mappings:
                      - apn: demo.com
                        createTime: 1737113951692
                        groups: new_grp
                        imei: '000000000000000'
                        imsi: '500012222222222'
                        tenantProvisioned: Inactive
                        tsgId: '1131085573'
                      totalCount: 1
                    header:
                      createdAt: '2025-12-17T02:07:58Z'
                      clientRequestId: null
                      dataCount: 1
                      status:
                        subCode: 200
                Multiple Mappings:
                  value:
                    data:
                      mappings:
                      - apn: pan.pcweb.comm
                        createTime: 1759426780582
                        imei: '000000000000000'
                        imsi: '310260418380113'
                        tenantProvisioned: Inactive
                        tsgId: '1558164857'
                      - apn: pan.fast.comm
                        createTime: 1759426957812
                        imei: '359414782481750'
                        imsi: '310260418380113'
                        tenantProvisioned: Inactive
                        tsgId: '1558164857'
                      totalCount: 2
                    header:
                      createdAt: '2025-12-17T02:08:33Z'
                      clientRequestId: null
                      dataCount: 2
                      status:
                        subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gMapping
components:
  schemas:
    MappingRequest:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
        pageNum:
          type: integer
          format: int32
        searchKey:
          type: string
        region:
          type: string
        tenant:
          type: array
          items:
            type: string
