openapi: 3.2.0
info:
  title: 'Prisma Cloud: Managed Security Service Provider (MSSP) MSSP Account Management API'
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
  version: '1.0'
servers:
- url: https://mssp-api.prismacloud.io
tags:
- name: MSSP Account Management
paths:
  /api/v1/mssp/{mssp-id}/tos:
    post:
      tags:
      - MSSP Account Management
      summary: Terms of Service
      description: Endpoint used to accept terms of service.
      operationId: tosAcceptance
      parameters:
      - name: mssp-id
        in: path
        description: The id of the MSSP of interest
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
      security:
      - UserJwt: []
      x-public: 'true'
  /api/v1/mssp/{mssp-id}:
    get:
      tags:
      - MSSP Account Management
      summary: Get the details of an existing MSSP
      description: Returns the details of an existing MSSP account
      operationId: getMssp
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
  /api/v1/mssp/{mssp-id}/operation:
    get:
      tags:
      - MSSP Account Management
      summary: Get the operation list for an MSSP
      description: Gets the list of operations for an MSSP.
      operationId: getMsspOperations
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: optional filter by status, accepts "success", "failure", "in_progress"
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - IN_PROGRESS
            - SUCCESS
            - FAILURE
      - name: show_retried
        in: query
        description: optional boolean filter to show retried operations, defaults to false
        required: false
        schema:
          type: boolean
          default: false
      - name: nextPageToken
        in: query
        description: pagination token to continue a previous query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/OperationsResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
  /api/v1/mssp/{mssp-id}/license-pool:
    get:
      tags:
      - MSSP Account Management
      summary: Get the license pool details of an existing MSSP
      description: Returns the details of an existing MSSP.
      operationId: getMsspLicensePools
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspLicensePoolsResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
components:
  schemas:
    OperationResponse:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
        msspId:
          type: string
          format: uuid
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
        operationDescription:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse'
        startedBy:
          type: string
        startedAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        isRetryable:
          type: boolean
        retryOf:
          type: string
          format: uuid
        retriedBy:
          type: string
          format: uuid
    ManagedTenantLicenseResponse:
      type: object
      properties:
        tenantLicenseId:
          type: string
        serialNumber:
          type: string
        licensePoolId:
          type: string
        allocatedCredits:
          type: integer
          format: int32
        startDate:
          type: integer
          format: int64
        endDate:
          type: integer
          format: int64
    OperationsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OperationResponse'
        nextPageToken:
          type: string
    ContactInfo:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          maxLength: 63
          minLength: 1
          type: string
        lastName:
          maxLength: 63
          minLength: 1
          type: string
        email:
          maxLength: 128
          minLength: 1
          type: string
    MsspResponse:
      type: object
      properties:
        msspId:
          type: string
        name:
          type: string
        createdBy:
          type: string
        createdAt:
          type: integer
          format: int64
        customerSupportId:
          type: string
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    MsspLicensePoolsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MsspLicensePoolResponse'
        nextPageToken:
          type: string
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantChangeResponse:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
        externalTenantId:
          type: string
        tenantPrismaId:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        updatedAt:
          type: integer
          format: int64
    MsspLicensePoolResponse:
      type: object
      properties:
        licensePoolId:
          type: string
        poolName:
          type: string
        serialNumber:
          type: string
        msspId:
          type: string
        totalCredits:
          type: integer
          format: int32
        unallocatedCredits:
          type: integer
          format: int32
        startDate:
          type: integer
          format: int64
        endDate:
          type: integer
          format: int64
        tenantLicenses:
          type: array
          items:
            $ref: '#/components/schemas/ManagedTenantLicenseResponse'
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- tags:
  - User Authentication
  - MSSP Account Management
  - User Management
  - MSSP Managed Tenant Lifecycle Endpoints
  - Tenant Group Lifecycle Endpoints
  - Policy Group Lifecycle Endpoints
  - Policy Group to Tenant Group Management
  - MSSP Operations Retry
  - Mssp License Endpoints
  - Stack Details Endpoint
  - Proxy Endpoint Provider
  name: public
- tags:
  - Managed Tenant Management Service
  - MSSP Async Change Management
  - Licensing Job Schedule Management
  - OIDC Discovery Endpoint
  - MSSP Account Management Service Endpoint
  name: service
- tags:
  - Hard Delete Managed Tenant
  name: support
