openapi: 3.2.0
info:
  title: SSPM Management Plugin API
  version: 1.0.0
  description: © 2025 Palo Alto Networks, Inc This Open API spec file was created on March 02, 2026. © 2026 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo Alto Networks. A list of our trademarks can be found at [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html). All other marks mentioned herein may be trademarks of their respective companies.
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.strata.paloaltonetworks.com
tags:
- name: plugin
paths:
  /sspm/api/v1/plugin-users:
    get:
      summary: Third-Party Plugin Users
      description: Fetch list of third-party plugin users.
      operationId: getPluginUsersByFilter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginUserPage'
          description: successful operation
        '404':
          description: Not Found
      parameters:
      - description: tenant
        in: header
        name: x-ps-tenant
        required: true
        schema:
          type: string
      - description: 'List of filters. Format: FIELD_NAME:VALUE1|VALUE2,...'
        example: filter=email:xyz
        in: query
        name: filter
        schema:
          type: string
      - description: 'List of sort fields.Format: FIELD_NAME:DIRECTION,... .'
        example: order_by=full_name:asc
        in: query
        name: order_by
        schema:
          type: string
      - description: applies page_token to get requested page of items
        in: query
        name: page_token
        schema:
          type: string
      - description: Int limit of the integrations requested
        in: query
        name: limit
        schema:
          type: string
      tags:
      - plugin
  /sspm/api/v1/plugin-users/{id}/plugins:
    get:
      summary: Third-Party Plugin User By ID
      description: Get list of third-party plugins user by ID.
      operationId: getPluginsForUser
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserToPluginPage'
          description: successful operation
        '404':
          description: Not Found
      parameters:
      - description: tenant
        in: header
        name: x-ps-tenant
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: string
      - description: applies page_token to get requested page of items
        in: query
        name: page_token
        schema:
          type: string
      - description: Int limit of the integrations requested
        in: query
        name: limit
        schema:
          type: string
      tags:
      - plugin
  /sspm/api/v1/plugins:
    get:
      summary: Third-party Plugins
      description: Fetch list of third-party plugins.
      operationId: getPluginsByFilter
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PluginPage'
          description: successful operation
        '404':
          description: Not Found
      parameters:
      - description: tenant
        in: header
        name: x-ps-tenant
        required: true
        schema:
          type: string
      - description: 'List of filters. Format: FIELD_NAME:VALUE1|VALUE2,...'
        example: filter=marketplace_plugin_id:123,use_cases:analytics|visibility
        in: query
        name: filter
        schema:
          type: string
      - description: 'List of sort fields.Format: FIELD_NAME:DIRECTION,... .'
        example: order_by=publisher_name:asc|marketplace:desc
        in: query
        name: order_by
        schema:
          type: string
      - description: applies page_token to get requested page of items
        in: query
        name: page_token
        schema:
          type: string
      - description: Int limit of the integrations requested
        in: query
        name: limit
        schema:
          type: string
      tags:
      - plugin
  /sspm/api/v1/plugins/{id}:
    get:
      summary: Plugin Details
      description: Get details on the plugin.
      operationId: getPlugin
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plugin'
          description: successful operation
        '404':
          description: Not Found
      parameters:
      - description: tenant
        in: header
        name: x-ps-tenant
        required: true
        schema:
          type: string
      - description: plugin id
        in: path
        name: id
        required: true
        schema:
          type: string
      tags:
      - plugin
  /sspm/api/v1/plugins/classification-aggregates:
    get:
      summary: Aggregate Plugin Information
      description: Aggregate plugin related information.
      operationId: getClassificationStatusAggregates
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassificationStatusAggregation'
          description: successful operation
        '404':
          description: Not Found
      parameters:
      - description: tenant
        in: header
        name: x-ps-tenant
        required: true
        schema:
          type: string
      tags:
      - plugin
components:
  schemas:
    ThirdPartyAppScope:
      properties:
        id:
          type: string
        name:
          type: string
        risk:
          type: string
      required:
      - id
      - name
      - risk
      type: object
    UserToPlugin:
      properties:
        app_id:
          type: string
        app_name:
          type: string
        full_name:
          type: string
        level:
          enum:
          - PRODUCT
          - ORGANIZATION
          - WORKSPACE
          - USER
          type: string
        marketplace:
          type: string
        severity:
          type: string
        status:
          type: string
        tenant:
          type: string
        third_party_app_id:
          type: string
        third_party_app_name:
          type: string
        user_id:
          type: string
      type: object
    PluginPage:
      properties:
        items:
          items:
            $ref: '#/components/schemas/Plugin'
          type: array
        limit:
          format: int32
          type: integer
        next_path:
          type: string
        prev_path:
          type: string
        total:
          format: int64
          type: integer
      type: object
    ClassificationStatusAggregation:
      properties:
        sanctioned_third_party_apps:
          format: int32
          type: integer
        total_third_party_apps:
          format: int32
          type: integer
        users_using_unsanctioned_apps:
          format: int32
          type: integer
      type: object
    Metadata:
      properties:
        badge:
          items:
            type: string
          type: array
        compatible_products:
          items:
            type: string
          type: array
        data_used_in_models:
          type: string
        description:
          type: string
        download_count:
          format: int32
          type: integer
        icon:
          type: string
        is_bot:
          type: boolean
        is_copilot:
          type: boolean
        is_gen_ai:
          type: boolean
        plugin_name:
          type: string
        publisher_name:
          type: string
        review_count:
          format: int32
          type: integer
        risk:
          format: int32
          type: integer
        use_cases:
          items:
            type: string
          type: array
      type: object
    Plugin:
      properties:
        app_id:
          type: string
        app_name:
          type: string
        app_type:
          type: string
        base_app_id:
          type: string
        classification:
          type: string
        has_policies:
          type: boolean
        high_scopes:
          items:
            $ref: '#/components/schemas/ThirdPartyAppScope'
          type: array
        id:
          type: string
        is_public:
          type: boolean
        level:
          enum:
          - PRODUCT
          - ORGANIZATION
          - WORKSPACE
          - USER
          type: string
        low_scopes:
          items:
            $ref: '#/components/schemas/ThirdPartyAppScope'
          type: array
        marketplace:
          type: string
        marketplace_app_id:
          type: string
        medium_scopes:
          items:
            $ref: '#/components/schemas/ThirdPartyAppScope'
          type: array
        metadata:
          $ref: '#/components/schemas/Metadata'
        severity:
          type: string
        status:
          type: string
        tenant:
          type: string
        third_party_app_id:
          type: string
        third_party_app_name:
          type: string
        user_count:
          format: int32
          type: integer
        user_counts:
          additionalProperties:
            format: int32
            type: integer
          type: object
      type: object
    UserToPluginPage:
      properties:
        items:
          items:
            $ref: '#/components/schemas/UserToPlugin'
          type: array
        limit:
          format: int32
          type: integer
        next_path:
          type: string
        prev_path:
          type: string
        total:
          format: int64
          type: integer
      type: object
    PluginUserPage:
      properties:
        items:
          items:
            $ref: '#/components/schemas/PluginUser'
          type: array
        limit:
          format: int32
          type: integer
        next_path:
          type: string
        prev_path:
          type: string
        total:
          format: int64
          type: integer
      type: object
    PluginUser:
      properties:
        email:
          type: string
        full_names:
          items:
            type: string
          type: array
        id:
          type: string
        marketplaces:
          items:
            type: string
          type: array
        tenant:
          type: string
        user_level_plugins_count:
          format: int32
          type: integer
      type: object
