openapi: 3.1.0
info:
  title: Palo Alto Networks SASE IAM Service API
  description: >-
    SASE Identity and Access Management (IAM) Service API. Provides
    programmatic management of service accounts, API key credentials,
    and access policies for the Palo Alto Networks SASE platform. Service
    accounts are machine identities used for API automation. Access policies
    bind roles to service accounts or users, controlling what operations
    they can perform within a Tenant Service Group scope.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/iam/v1
    description: SASE IAM Service API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Service Accounts
    description: Service account management and credential generation.
  - name: Access Policies
    description: Access policy management for role-based access control.
  - name: Roles
    description: Available IAM roles and their permissions.
paths:
  /service-accounts:
    get:
      operationId: listServiceAccounts
      summary: Palo Alto Networks List service accounts
      description: >-
        Returns the list of service accounts for the authenticated tenant.
        Service accounts are machine identities used to authenticate API
        automation workflows using the client_credentials OAuth 2.0 grant.
      tags:
        - Service Accounts
      parameters:
        - name: tsg_id
          in: query
          description: Filter service accounts by Tenant Service Group ID.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of service accounts to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Service accounts returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceAccount'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createServiceAccount
      summary: Palo Alto Networks Create service account
      description: >-
        Creates a new service account. After creation, use the
        POST /service-accounts/{id}/keys endpoint to generate credentials.
        Service accounts are scoped to a Tenant Service Group and must be
        assigned access policies to grant API permissions.
      tags:
        - Service Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAccountRequest'
      responses:
        '201':
          description: Service account created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccount'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A service account with this name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /service-accounts/{id}:
    get:
      operationId: getServiceAccount
      summary: Palo Alto Networks Get service account
      description: Returns full details for a specific service account.
      tags:
        - Service Accounts
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the service account.
          schema:
            type: string
      responses:
        '200':
          description: Service account details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccount'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Service account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateServiceAccount
      summary: Palo Alto Networks Update service account
      description: Updates the display name or description of an existing service account.
      tags:
        - Service Accounts
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the service account to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAccountUpdate'
      responses:
        '200':
          description: Service account updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccount'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Service account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteServiceAccount
      summary: Palo Alto Networks Delete service account
      description: >-
        Deletes a service account and revokes all associated credentials.
        Any active API sessions using credentials from this account will
        be invalidated.
      tags:
        - Service Accounts
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the service account to delete.
          schema:
            type: string
      responses:
        '204':
          description: Service account deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Service account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /service-accounts/{id}/keys:
    post:
      operationId: generateServiceAccountCredentials
      summary: Palo Alto Networks Generate service account credentials
      description: >-
        Generates a new client ID and client secret for a service account.
        The client secret is returned only once in the response and cannot
        be retrieved again. Store the credentials securely. Use these
        credentials with the OAuth 2.0 client_credentials grant to obtain
        Bearer tokens for API authentication.
      tags:
        - Service Accounts
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the service account.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Optional description for this set of credentials.
                expires_in_days:
                  type: integer
                  description: >-
                    Number of days until the credentials expire. If omitted,
                    credentials do not expire.
                  minimum: 1
                  maximum: 365
      responses:
        '201':
          description: Credentials generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccountCredentials'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Service account not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /service-accounts/{id}/keys/{key_id}:
    delete:
      operationId: revokeServiceAccountKey
      summary: Palo Alto Networks Revoke service account key
      description: >-
        Revokes a specific set of credentials for a service account. Any
        active API sessions using these credentials will be invalidated
        immediately.
      tags:
        - Service Accounts
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the service account.
          schema:
            type: string
        - name: key_id
          in: path
          required: true
          description: Unique identifier of the key to revoke.
          schema:
            type: string
      responses:
        '204':
          description: Credentials revoked successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Service account or key not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /access-policies:
    get:
      operationId: listAccessPolicies
      summary: Palo Alto Networks List access policies
      description: >-
        Returns the access policies defined for the tenant. Access policies
        bind a principal (service account or user) to a role within a
        specific TSG scope, controlling what API operations the principal
        can perform.
      tags:
        - Access Policies
      parameters:
        - name: principal_id
          in: query
          description: Filter policies by principal ID (service account or user).
          schema:
            type: string
        - name: tsg_id
          in: query
          description: Filter policies by TSG scope.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of policies to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Access policies returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccessPolicy'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createAccessPolicy
      summary: Palo Alto Networks Create access policy
      description: >-
        Creates a new access policy binding a principal to a role within a
        TSG scope. The role determines which API operations the principal
        can perform on resources within the specified TSG.
      tags:
        - Access Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyRequest'
      responses:
        '201':
          description: Access policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicy'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /access-policies/{id}:
    get:
      operationId: getAccessPolicy
      summary: Palo Alto Networks Get access policy
      description: Returns full details for a specific access policy.
      tags:
        - Access Policies
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the access policy.
          schema:
            type: string
      responses:
        '200':
          description: Access policy details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicy'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Access policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateAccessPolicy
      summary: Palo Alto Networks Update access policy
      description: Updates the role assignment for an existing access policy.
      tags:
        - Access Policies
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the access policy to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicyRequest'
      responses:
        '200':
          description: Access policy updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicy'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Access policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteAccessPolicy
      summary: Palo Alto Networks Delete access policy
      description: Deletes an access policy, revoking the role binding from the principal.
      tags:
        - Access Policies
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the access policy to delete.
          schema:
            type: string
      responses:
        '204':
          description: Access policy deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Access policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /roles:
    get:
      operationId: listRoles
      summary: Palo Alto Networks List available roles
      description: >-
        Returns the list of available IAM roles that can be assigned in
        access policies. Each role defines a set of API permissions for
        specific SASE services and operations.
      tags:
        - Roles
      responses:
        '200':
          description: Available roles returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    ServiceAccount:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the service account.
        name:
          type: string
          description: Unique name of the service account within the TSG.
        display_name:
          type: string
          description: Human-readable display name.
        description:
          type: string
          description: Description of the service account's purpose.
        tsg_id:
          type: string
          description: Tenant Service Group ID this service account belongs to.
        key_count:
          type: integer
          description: Number of active credential keys for this service account.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ServiceAccountRequest:
      type: object
      required:
        - name
        - tsg_id
      properties:
        name:
          type: string
          description: Unique name for the service account within the TSG.
          pattern: '^[a-z][a-z0-9-]{0,63}$'
        display_name:
          type: string
          description: Human-readable display name.
        description:
          type: string
          description: Description of the service account's purpose.
        tsg_id:
          type: string
          description: Tenant Service Group ID to create this service account in.
    ServiceAccountUpdate:
      type: object
      properties:
        display_name:
          type: string
          description: Updated display name.
        description:
          type: string
          description: Updated description.
    ServiceAccountCredentials:
      type: object
      properties:
        key_id:
          type: string
          description: Unique identifier of the generated key.
        client_id:
          type: string
          description: OAuth 2.0 client ID for this credential set.
        client_secret:
          type: string
          description: >-
            OAuth 2.0 client secret. Returned only once at creation time.
            Store this value securely as it cannot be retrieved again.
          writeOnly: true
        description:
          type: string
          description: Description provided when the key was created.
        expires_at:
          type: string
          format: date-time
          description: Expiration timestamp, or null if credentials do not expire.
        created_at:
          type: string
          format: date-time
    AccessPolicy:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the access policy.
        principal_id:
          type: string
          description: ID of the service account or user this policy applies to.
        principal_type:
          type: string
          enum:
            - service_account
            - user
          description: Type of principal.
        role_id:
          type: string
          description: ID of the role assigned by this policy.
        role_name:
          type: string
          description: Name of the role assigned.
        tsg_id:
          type: string
          description: TSG scope this policy applies to.
        created_at:
          type: string
          format: date-time
    AccessPolicyRequest:
      type: object
      required:
        - principal_id
        - principal_type
        - role_id
        - tsg_id
      properties:
        principal_id:
          type: string
          description: ID of the service account or user to grant access to.
        principal_type:
          type: string
          enum:
            - service_account
            - user
          description: Type of principal.
        role_id:
          type: string
          description: ID of the role to assign.
        tsg_id:
          type: string
          description: TSG scope for this policy.
    Role:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the role.
        name:
          type: string
          description: Role name (e.g., superuser, network_admin, readonly).
        display_name:
          type: string
          description: Human-readable role display name.
        description:
          type: string
          description: Description of the permissions granted by this role.
        permissions:
          type: array
          items:
            type: string
          description: List of permission identifiers included in this role.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
