openapi: 3.2.0
info:
  title: Palo Alto Networks Custom Attack API
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  version: '1.0'
  description: 'Operations tagged CustomAttack across 2 of this provider''s published API definitions: palo-alto-prisma-airs-redteam-data-plane-dp-openapi-openapi.yaml, palo-alto-prisma-airs-redteam-management-mp-openapi-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
security:
- bearerAuth: []
tags:
- name: CustomAttack
  description: Operations for custom attack configurations and prompts.
paths:
  /v1/custom-attacks/report/{job_id}:
    get:
      tags:
      - CustomAttack
      summary: Get custom attack Report
      description: Get comprehensive custom attack report.
      operationId: get_custom_attack_report_v1_custom_attacks_report__job_id__get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomAttackReportResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/custom-attacks/report/{job_id}/prompt-sets:
    get:
      tags:
      - CustomAttack
      summary: Get prompt sets
      description: Get prompt sets with filtering and pagination.
      operationId: get_prompt_sets_v1_custom_attacks_report__job_id__prompt_sets_get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      - name: property_filters
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: JSON string of property filters
          title: Property Filters
        description: JSON string of property filters
      - name: is_threat
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by threat status
          title: Is Threat
        description: Filter by threat status
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of records to return
          default: 20
          title: Limit
        description: Maximum number of records to return
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptSetsReportResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/custom-attacks/report/{job_id}/prompt-set/{prompt_set_id}/prompts:
    get:
      tags:
      - CustomAttack
      summary: Get prompts by set
      description: Get prompts for a specific prompt set with pagination.
      operationId: get_prompts_by_set_v1_custom_attacks_report__job_id__prompt_set__prompt_set_id__prompts_get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      - name: prompt_set_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Id
      - name: is_threat
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by threat status
          title: Is Threat
        description: Filter by threat status
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum number of records to return
          default: 20
          title: Limit
        description: Maximum number of records to return
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromptDetailResponse'
                title: Response Get Prompts By Set V1 Custom Attacks Report  Job Id  Prompt Set  Prompt Set Id  Prompts Get
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/custom-attacks/report/{job_id}/prompt/{prompt_id}:
    get:
      tags:
      - CustomAttack
      summary: Get prompt detail
      description: Get detailed information for a specific prompt.
      operationId: get_prompt_detail_v1_custom_attacks_report__job_id__prompt__prompt_id__get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      - name: prompt_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptDetailResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/custom-attacks/job/{job_id}/list-custom-attacks:
    get:
      tags:
      - CustomAttack
      summary: List custom attacks
      description: List custom attacks with V2 features.
      operationId: list_custom_attacks_v1_custom_attacks_job__job_id__list_custom_attacks_get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          description: Maximum number of records to return
          default: 100
          title: Limit
        description: Maximum number of records to return
      - name: threat
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: '[Deprecated: use status] Filter by threat status'
          title: Threat
        description: '[Deprecated: use status] Filter by threat status'
      - name: prompt_set_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by prompt set ID
          title: Prompt Set Id
        description: Filter by prompt set ID
      - name: property_value
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: JSON string of property filters
          title: Property Value
        description: JSON string of property filters
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/StatusQueryParam'
          - type: 'null'
          description: 'Filter by status: SUCCESSFUL, FAILED, ERROR'
          title: Status
        description: 'Filter by status: SUCCESSFUL, FAILED, ERROR'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomAttacksListResponse'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/custom-attacks/job/{job_id}/attack/{attack_id}/list-outputs:
    get:
      tags:
      - CustomAttack
      summary: Get attack outputs
      description: Get outputs for a specific attack.
      operationId: get_attack_outputs_v1_custom_attacks_job__job_id__attack__attack_id__list_outputs_get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      - name: attack_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Attack Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CustomAttackOutputResponseSchema'
                title: Response Get Attack Outputs V1 Custom Attacks Job  Job Id  Attack  Attack Id  List Outputs Get
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/custom-attacks/job/{job_id}/property-stats:
    get:
      tags:
      - CustomAttack
      summary: Get property stats
      description: Get property-based statistics for custom attacks.
      operationId: get_property_stats_v1_custom_attacks_job__job_id__property_stats_get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                title: Response Get Property Stats V1 Custom Attacks Job  Job Id  Property Stats Get
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/custom-attack/custom-prompt-set:
    post:
      tags:
      - CustomAttack
      summary: Create a new custom prompt set
      description: Create a new custom prompt set.
      operationId: create_prompt_set_v1_custom_attack_custom_prompt_set_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptSetCreateRequestSchema'
        required: true
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/list-custom-prompt-sets:
    get:
      tags:
      - CustomAttack
      summary: List custom prompt sets
      description: List all custom prompt sets with pagination and filtering support.
      operationId: list_prompt_sets_v1_custom_attack_list_custom_prompt_sets_get
      parameters:
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum records to return
          default: 10
          title: Limit
        description: Maximum records to return
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by status
          title: Status
        description: Filter by status
      - name: active
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by active status
          title: Active
        description: Filter by active status
      - name: archive
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by archive status (None=non-archived only, True=archived only, False=non-archived only)
          title: Archive
        description: Filter by archive status (None=non-archived only, True=archived only, False=non-archived only)
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search in name and description
          title: Search
        description: Search in name and description
      - name: language
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by language code (ISO 639-1)
          title: Language
        description: Filter by language code (ISO 639-1)
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetListSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}:
    get:
      tags:
      - CustomAttack
      summary: Get prompt set details
      description: Retrieve a specific prompt set by UUID with complete details including properties.
      operationId: get_prompt_set_v1_custom_attack_custom_prompt_set__prompt_set_uuid__get
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - CustomAttack
      summary: Update prompt set
      description: Update prompt set details including name, description, and properties.
      operationId: update_prompt_set_v1_custom_attack_custom_prompt_set__prompt_set_uuid__put
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptSetUpdateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/archive:
    put:
      tags:
      - CustomAttack
      summary: Archive or unarchive a prompt set
      description: Archive or unarchive a prompt set to manage its lifecycle.
      operationId: archive_prompt_set_v1_custom_attack_custom_prompt_set__prompt_set_uuid__archive_put
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptSetArchiveRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/custom-prompt-set/custom-prompt:
    post:
      tags:
      - CustomAttack
      summary: Create prompt in a prompt set
      description: Create a new prompt in a prompt set.
      operationId: create_prompt_v1_custom_attack_custom_prompt_set_custom_prompt_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptCreateRequestSchema'
        required: true
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/list-custom-prompts:
    get:
      tags:
      - CustomAttack
      summary: List prompts in a prompt set
      description: List all prompts within a specific prompt set with pagination and filtering.
      operationId: list_prompts_in_set_v1_custom_attack_custom_prompt_set__prompt_set_uuid__list_custom_prompts_get
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      - name: skip
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of records to skip
          default: 0
          title: Skip
        description: Number of records to skip
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Maximum records to return
          default: 10
          title: Limit
        description: Maximum records to return
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by status
          title: Status
        description: Filter by status
      - name: active
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by active status
          title: Active
        description: Filter by active status
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Search in prompt text
          title: Search
        description: Search in prompt text
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptListSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/custom-prompt/{prompt_uuid}:
    get:
      tags:
      - CustomAttack
      summary: Get prompt details
      description: Get a specific prompt by UUID.
      operationId: get_prompt_v1_custom_attack_custom_prompt_set__prompt_set_uuid__custom_prompt__prompt_uuid__get
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      - name: prompt_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    put:
      tags:
      - CustomAttack
      summary: Update prompt
      description: Update an existing prompt.
      operationId: update_prompt_v1_custom_attack_custom_prompt_set__prompt_set_uuid__custom_prompt__prompt_uuid__put
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      - name: prompt_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPromptUpdateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - CustomAttack
      summary: Delete prompt
      description: Delete a prompt.
      operationId: delete_prompt_v1_custom_attack_custom_prompt_set__prompt_set_uuid__custom_prompt__prompt_uuid__delete
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      - name: prompt_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Uuid
      responses:
        204:
          description: Successful Response
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/property-names:
    get:
      tags:
      - CustomAttack
      summary: Get property names
      description: Get all available property names for use in prompt sets.
      operationId: get_property_names_v1_custom_attack_property_names_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyNamesListResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - CustomAttack
      summary: Create property name
      description: Create a new property name that can be used in prompt sets.
      operationId: create_property_name_v1_custom_attack_property_names_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyNameCreateRequestSchema'
        required: true
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyNamesListResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/property-values/{property_name}:
    get:
      tags:
      - CustomAttack
      summary: Get property name
      description: Get all available values for a specific property name.
      operationId: get_property_values_v1_custom_attack_property_values__property_name__get
      parameters:
      - name: property_name
        in: path
        required: true
        schema:
          type: string
          title: Property Name
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyValuesResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/property-values:
    post:
      tags:
      - CustomAttack
      summary: Create property value
      description: Create a new value for an existing property name.
      operationId: create_property_value_v1_custom_attack_property_values_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyValueCreateRequestSchema'
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - CustomAttack
      summary: Get values for multiple property names
      description: Get values for multiple property names in a single request.
      operationId: get_property_values_multiple_v1_custom_attack_property_values_get
      parameters:
      - name: property_names
        in: query
        required: true
        schema:
          type: string
          description: Comma-separated list of property names
          title: Property Names
        description: Comma-separated list of property names
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyValuesMultipleResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/upload-custom-prompts-csv:
    post:
      tags:
      - CustomAttack
      summary: Upload custom prompts
      description: Upload a CSV file containing custom prompts with properties for a specific prompt set.
      operationId: upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post
      parameters:
      - name: prompt_set_uuid
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: UUID of the prompt set
          title: Prompt Set Uuid
        description: UUID of the prompt set
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post'
      responses:
        201:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/download-template/{prompt_set_uuid}:
    get:
      tags:
      - CustomAttack
      summary: Download template for a prompt set
      description: Download a CSV template with columns for the prompt set's properties.
      operationId: download_template_v1_custom_attack_download_template__prompt_set_uuid__get
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema: {}
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/active-custom-prompt-sets:
    get:
      tags:
      - CustomAttack
      summary: List active custom prompt sets
      description: List all active custom prompt sets available for use by data plane. Returns only sets with snapshots.
      operationId: list_active_prompt_sets_v1_custom_attack_active_custom_prompt_sets_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetListActiveSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/reference:
    get:
      tags:
      - CustomAttack
      summary: Resolve prompt set reference
      description: Get current reference information for a prompt set including latest version.
      operationId: resolve_prompt_set_reference_v1_custom_attack_custom_prompt_set__prompt_set_uuid__reference_get
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetReferenceSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
  /v1/custom-attack/custom-prompt-set/{prompt_set_uuid}/version-info:
    get:
      tags:
      - CustomAttack
      summary: Get prompt set version information
      description: Get detailed version information for a specific prompt set version.
      operationId: get_prompt_set_version_info_v1_custom_attack_custom_prompt_set__prompt_set_uuid__version_info_get
      parameters:
      - name: prompt_set_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Prompt Set Uuid
      - name: version
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Specific version ID
          title: Version
        description: Specific version ID
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomPromptSetVersionInfoSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
components:
  schemas:
    PropertyAssignment:
      properties:
        name:
          type: string
          title: Name
          description: Property name
        value:
          type: string
          title: Value
          description: Property value
      type: object
      required:
      - name
      - value
      title: PropertyAssignment
      description: Property assignment for custom attacks.
    PromptSetSummary:
      properties:
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: Custom prompt set UUID
        prompt_set_name:
          type: string
          title: Prompt Set Name
          description: Name of the prompt set
        total_prompts:
          type: integer
          title: Total Prompts
          description: Total number of unique prompts
        total_attacks:
          type: integer
          title: Total Attacks
          description: Total number of attacks executed
        total_threats:
          type: integer
          title: Total Threats
          description: Number of threats detected
        failed_attacks:
          type: integer
          title: Failed Attacks
          description: Number of failed attacks (no threats detected)
        threat_rate:
          type: number
          title: Threat Rate
          description: Threat detection rate (0-100)
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: List of unique property names in this prompt set
        property_statistics:
          items:
            $ref: '#/components/schemas/PropertyStatistic'
          type: array
          title: Property Statistics
          description: Property-based statistics
      type: object
      required:
      - prompt_set_id
      - prompt_set_name
      - total_prompts
      - total_attacks
      - total_threats
      - failed_attacks
      - threat_rate
      title: PromptSetSummary
      description: Prompt set summary with statistics.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    PromptSetsReportResponse:
      properties:
        prompt_sets:
          items:
            $ref: '#/components/schemas/PromptSetSummary'
          type: array
          title: Prompt Sets
          description: List of prompt set summaries
        total_prompt_sets:
          type: integer
          title: Total Prompt Sets
          description: Total number of prompt sets
        applied_filters:
          additionalProperties: true
          type: object
          title: Applied Filters
          description: Filters applied to the results
      type: object
      required:
      - prompt_sets
      - total_prompt_sets
      title: PromptSetsReportResponse
      description: Response for prompt sets with filtering.
    PropertyStatistic:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Name of the property
        values:
          items:
            $ref: '#/components/schemas/PropertyValueStatistic'
          type: array
          title: Values
          description: Statistics for each property value
      type: object
      required:
      - property_name
      - values
      title: PropertyStatistic
      description: Property statistics for prompt sets and job-level aggregation.
    CustomAttackOutputResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
        tsg_id:
          type: string
          title: Tsg Id
        custom_attack_id:
          type: string
          format: uuid
          title: Custom Attack Id
          description: Associated custom attack UUID
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Associated job UUID
        target_id:
          type: string
          format: uuid
          title: Target Id
          description: Target UUID
        output:
          type: string
          title: Output
          description: Attack output content
        threat:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Threat
          description: Threat detection result
        marked_safe:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Marked Safe
          description: Manual safety marking
        error:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Error
          description: Whether this output is an error
        error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Error Message
          description: 'Error message in format ''errType: description'''
      type: object
      required:
      - uuid
      - tsg_id
      - custom_attack_id
      - job_id
      - target_id
      - output
      title: CustomAttackOutputResponseSchema
      description: API response schema — excludes English translation fields.
    PropertyValueStatistic:
      properties:
        value:
          type: string
          title: Value
          description: Property value
        successful_attack_count:
          type: integer
          title: Successful Attack Count
          description: Number of successful attacks
        total_attack_count:
          type: integer
          title: Total Attack Count
          description: Total number of attacks
        success_rate:
          type: number
          title: Success Rate
          description: Auto-calculated success rate percentage
      type: object
      required:
      - value
      - successful_attack_count
      - total_attack_count
      - success_rate
      title: PropertyValueStatistic
      description: Statistics for a specific property value.
    StatusQueryParam:
      type: string
      enum:
      - SUCCESSFUL
      - FAILED
      - ERROR
      title: StatusQueryParam
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    CustomAttacksListResponse:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/PromptDetailResponse'
          type: array
          title: Data
          description: List of attack details
        total_attacks:
          type: integer
          title: Total Attacks
          description: Total number of attacks
        total_threats:
          type: integer
          title: Total Threats
          description: Number of threats detected
      type: object
      required:
      - pagination
      - data
      - total_attacks
      - total_threats
      title: CustomAttacksListResponse
      description: Enhanced list response for custom attacks.
    PaginationSchema:
      properties:
        total_items:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Items
      type: object
      title: PaginationSchema
    CustomAttackReportResponse:
      properties:
        total_prompts:
          type: integer
          title: Total Prompts
          description: Total number of unique prompts
        total_attacks:
          type: integer
          title: Total Attacks
          description: Total number of attacks executed
        total_threats:
          type: integer
          title: Total Threats
          description: Number of threats detected
        failed_attacks:
          type: integer
          title: Failed Attacks
          description: Number of failed attacks (no threats detected)
        score:
          type: number
          title: Score
          description: Overall threat score (0-100)
        asr:
          type: number
          title: Asr
          description: Attack Success Rate (0-100)
        custom_attack_reports:
          items:
            $ref: '#/components/schemas/PromptSetSummary'
          type: array
          title: Custom Attack Reports
          description: Reports for each prompt set
        property_statistics:
          items:
            $ref: '#/components/schemas/PropertyStatistic'
          type: array
          title: Property Statistics
          description: Aggregated property statistics
      type: object
      required:
      - total_prompts
      - total_attacks
      - total_threats
      - failed_attacks
      - score
      - asr
      title: CustomAttackReportResponse
      description: Main custom attack report response.
    PromptDetailResponse:
      properties:
        prompt_id:
          type: string
          format: uuid
          title: Prompt Id
          description: Prompt UUID
        prompt_text:
          type: string
          title: Prompt Text
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether goal is user-defined
          default: false
        properties:
          items:
            $ref: '#/components/schemas/PropertyAssignment'
          type: array
          title: Properties
          description: Property assignments
        attack_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Attack Id
          description: Associated attack UUID
        threat:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Threat
          description: Whether threat was detected
        attack_outputs:
          items:
            type: string
          type: array
          title: Attack Outputs
          description: Attack output strings
        asr:
          anyOf:
          - type: number
            maximum: 100.0
            minimum: 0.0
          - type: 'null'
          title: Asr
          description: Attack Success Rate for this prompt (0-100)
        prompt_set_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Prompt Set Id
          description: Prompt set UUID
        prompt_set_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt Set Name
          description: Prompt set name
        error:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Error
          description: Whether this attack has errors
      type: object
      required:
      - prompt_id
      - prompt_text
      title: PromptDetailResponse
      description: Detailed prompt response.
    PropertyValuesMultipleResponseSchema:
      properties:
        data:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          title: Data
          description: Dictionary mapping property names to their values
      type: object
      title: PropertyValuesMultipleResponseSchema
      description: Schema for property values for multiple property names.
    BaseResponseSchema:
      properties:
        message:
          type: string
          title: Message
          description: Response message
        status:
          type: integer
          title: Status
          description: HTTP status code
      type: object
      required:
      - message
      - status
      title: BaseResponseSchema
      description: Standard response schema for simple operations like create, update, delete.
    CustomPromptListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomPromptListItemSchema'
          type: array
          title: Data
          description: List of custom prompts
      type: object
      required:
      - pagination
      title: CustomPromptListSchema
      description: Schema for custom prompt list responses.
    PropertyValuesResponseSchema:
      properties:
        name:
          type: string
          title: Name
          description: Property name
        values:
          items:
            type: string
          type: array
          title: Values
          description: List of values for this property
      type: object
      required:
      - name
      title: PropertyValuesResponseSchema
      description: Schema for property values for a specific property name.
    CustomPromptSetArchiveRequestSchema:
      properties:
        archive:
          type: boolean
          title: Archive
          description: True to archive, False to unarchive
      additionalProperties: false
      type: object
      required:
      - archive
      title: CustomPromptSetArchiveRequestSchema
      description: Schema for archiving/unarchiving prompt sets.
    Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post:
      properties:
        file:
          type: string
          format: binary
          title: File
      type: object
      required:
      - file
      title: Body_upload_prompts_csv_v1_custom_attack_upload_custom_prompts_csv_post
    CustomPromptSetVersionInfoSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: UUID of the custom prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for this version
        status:
          type: string
          title: Status
          description: Status when this version was created
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Prompt statistics when version was created
        snapshot_created_at:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Snapshot Created At
          description: When the snapshot was created
        is_latest:
          type: boolean
          title: Is Latest
          description: Whether this is the latest version
      type: object
      required:
      - uuid
      - status
      - is_latest
      title: CustomPromptSetVersionInfoSchema
      description: 'Version information for a custom prompt set snapshot.


        Provides metadata about a specific version without full configuration data.

        '
    CustomPromptSetReferenceSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: UUID of the custom prompt set
        name:
          type: string
          title: Name
          description: Name of the prompt set
        language:
          $ref: '#/components/schemas/SupportedLanguage'
          description: Language of prompts in this set
          default: en
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for snapshot versioning
        status:
          type: string
          title: Status
          description: Current status of the prompt set
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        tsg_id:
          type: string
          title: Tsg Id
          description: Tenant Security Group ID
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - status
      - active
      - tsg_id
      - created_at
      - updated_at
      title: CustomPromptSetReferenceSchema
      description: 'Reference schema for custom prompt sets used by data plane.


        Contains minimal information needed for data plane to fetch

        configurations from GCS using the GCS-first pattern.

        '
    PropertyNamesListResponseSchema:
      properties:
        data:
          items:
            type: string
          type: array
          title: Data
          description: List of property names
      type: object
      title: PropertyNamesListResponseSchema
      description: Schema for property names list responses.
    CustomPromptSetUpdateRequestSchema:
      properties:
        name:
          anyOf:
          - type: string
            maxLength: 255
          - type: 'null'
          title: Name
          description: Updated name
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Updated description
        archive:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archive
          description: Archive status
        property_names:
          anyOf:
          - items:
              type: string
            type: array
            maxItems: 2
          - type: 'null'
          title: Property Names
          description: Updated property names (max 2)
      additionalProperties: false
      type: object
      title: CustomPromptSetUpdateRequestSchema
      description: Schema for updating a custom prompt set.
    CustomPromptSetCreateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 255
          title: Name
          description: Name of the custom prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the custom prompt set
          default: null
        property_names:
          items:
            type: string
          type: array
          maxItems: 2
          title: Property Names
          description: Property names for this prompt set (max 2)
        language:
          $ref: '#/components/schemas/SupportedLanguage'
          description: Language code (ISO 639-1) for prompts in this set
          default: en
      additionalProperties: false
      type: object
      required:
      - name
      title: CustomPromptSetCreateRequestSchema
      description: Schema for creating a new custom prompt set.
    PropertyDefinitionSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Property name
        created_at:
          type: string
          format: date-time
          title: Created At
          description: When the property was created
      type: object
      required:
      - property_name
      - created_at
      title: PropertyDefinitionSchema
      description: Schema for property definitions in a prompt set.
    PropertyValueCreateRequestSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Name of the property
        property_value:
          type: string
          maxLength: 256
          title: Property Value
          description: Value for the property
      additionalProperties: false
      type: object
      required:
      - property_name
      - property_value
      title: PropertyValueCreateRequestSchema
      description: Schema for creating a new property value.
    CustomPromptResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether the goal was user-defined
        detector_category:
          anyOf:
          - type: string
          - type: 'null'
          title: Detector Category
          description: Detector category
        severity:
          anyOf:
          - type: string
          - type: 'null'
          title: Severity
          description: Severity level
        status:
          type: string
          title: Status
          description: Status of the prompt
        active:
          type: boolean
          title: Active
          description: Whether the prompt is active
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional information
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: The UUID of the prompt set this prompt belongs to
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments
        property_assignments:
          items:
            $ref: '#/components/schemas/PropertyAssignmentSchema'
          type: array
          title: Property Assignments
          description: Detailed property assignments
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - prompt
      - user_defined_goal
      - status
      - active
      - prompt_set_id
      - created_at
      - updated_at
      title: CustomPromptResponseSchema
      description: Schema for custom prompt responses.
    PropertyNameCreateRequestSchema:
      properties:
        name:
          type: string
          maxLength: 256
          title: Name
          description: Name of the property
      additionalProperties: false
      type: object
      required:
      - name
      title: PropertyNameCreateRequestSchema
      description: Schema for creating a new property name.
    LanguageOptionSchema:
      properties:
        code:
          type: string
          title: Code
        name:
          type: string
          title: Name
      type: object
      required:
      - code
      - name
      title: LanguageOptionSchema
      description: Language representation with code and display name.
    CustomPromptSetListSchema:
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationSchema'
        data:
          items:
            $ref: '#/components/schemas/CustomPromptSetListItemSchema'
          type: array
          title: Data
          description: List of custom prompt sets
      type: object
      required:
      - pagination
      title: CustomPromptSetListSchema
      description: Schema for custom prompt set list responses.
    CustomPromptCreateRequestSchema:
      properties:
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt (user-defined or AI-generated)
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments (property_name -> property_value)
        prompt_set_id:
          type: string
          format: uuid
          title: Prompt Set Id
          description: The UUID of the prompt set
      additionalProperties: false
      type: object
      required:
      - prompt
      - prompt_set_id
      title: CustomPromptCreateRequestSchema
      description: Schema for creating a new custom prompt.
    CustomPromptSetListActiveSchema:
      properties:
        data:
          items:
            $ref: '#/components/schemas/CustomPromptSetReferenceSchema'
          type: array
          title: Data
          description: List of active custom prompt set references
      type: object
      title: CustomPromptSetListActiveSchema
      description: 'Schema for listing active custom prompt sets available for use.


        Used by data plane to discover available prompt sets for job creation.

        '
    SupportedLanguage:
      type: string
      enum:
      - ar
      - bn
      - zh-CN
      - zh-TW
      - nl
      - en
      - fr
      - de
      - hi
      - id
      - it
      - ja
      - ko
      - pl
      - pt
      - ru
      - es
      - sv
      - th
      - tr
      - vi
      title: SupportedLanguage
    CustomPromptSetListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        name:
          type: string
          title: Name
          description: Name of the prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the prompt set
          default: null
        language:
          $ref: '#/components/schemas/LanguageOptionSchema'
          description: Language of prompts in this set
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        archive:
          type: boolean
          title: Archive
          description: Whether the prompt set is archived
        status:
          type: string
          title: Status
          description: Status of the prompt set
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Statistics about the prompt set
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: Property names
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID who created the prompt set
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - active
      - archive
      - status
      - created_at
      - updated_at
      title: CustomPromptSetListItemSchema
      description: Schema for custom prompt set items in list responses.
    CustomPromptUpdateRequestSchema:
      properties:
        prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt
          description: Updated prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Updated goal
        properties:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Properties
          description: Updated property assignments
      additionalProperties: false
      type: object
      title: CustomPromptUpdateRequestSchema
      description: Schema for updating a custom prompt.
    PromptSetStatsSchema:
      properties:
        total_prompts:
          type: integer
          title: Total Prompts
          description: Total number of prompts
        active_prompts:
          type: integer
          title: Active Prompts
          description: Number of active prompts
        failed_prompts:
          type: integer
          title: Failed Prompts
          description: Number of failed prompts
          default: 0
        validation_prompts:
          type: integer
          title: Validation Prompts
          description: Number of validation prompts
          default: 0
        inactive_prompts:
          type: integer
          title: Inactive Prompts
          description: Number of inactive prompts
      type: object
      required:
      - total_prompts
      - active_prompts
      - inactive_prompts
      title: PromptSetStatsSchema
      description: Schema for prompt set statistics.
    CustomPromptSetResponseSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        name:
          type: string
          title: Name
          description: Name of the prompt set
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Description of the prompt set
          default: null
        language:
          $ref: '#/components/schemas/LanguageOptionSchema'
          description: Language of prompts in this set
        active:
          type: boolean
          title: Active
          description: Whether the prompt set is active
        archive:
          type: boolean
          title: Archive
          description: Whether the prompt set is archived
        status:
          type: string
          title: Status
          description: Status of the prompt set
        version:
          anyOf:
          - type: string
          - type: 'null'
          title: Version
          description: GCS generation number for snapshot versioning
        stats:
          anyOf:
          - $ref: '#/components/schemas/PromptSetStatsSchema'
          - type: 'null'
          description: Statistics about the prompt set
        extra_info:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Extra Info
          description: Additional information
        property_names:
          items:
            type: string
          type: array
          title: Property Names
          description: Property names
        properties:
          items:
            $ref: '#/components/schemas/PropertyDefinitionSchema'
          type: array
          title: Properties
          description: Property definitions
        created_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Created By User Id
          description: User ID who created the prompt set
        updated_by_user_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Updated By User Id
          description: User ID who last updated the prompt set
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - name
      - active
      - archive
      - status
      - created_at
      - updated_at
      title: CustomPromptSetResponseSchema
      description: Schema for custom prompt set responses.
    PropertyAssignmentSchema:
      properties:
        property_name:
          type: string
          title: Property Name
          description: Property name (e.g., 'industry', 'role')
        property_value:
          type: string
          title: Property Value
          description: Property value (e.g., 'healthcare', 'CEO')
      type: object
      required:
      - property_name
      - property_value
      title: PropertyAssignmentSchema
      description: Schema for property name-value assignments.
    CustomPromptListItemSchema:
      properties:
        uuid:
          type: string
          format: uuid
          title: Uuid
          description: Unique identifier
        prompt:
          type: string
          title: Prompt
          description: The prompt text
        goal:
          anyOf:
          - type: string
          - type: 'null'
          title: Goal
          description: Goal of the prompt
        user_defined_goal:
          type: boolean
          title: User Defined Goal
          description: Whether the goal was user-defined
        status:
          type: string
          title: Status
          description: Status of the prompt
        active:
          type: boolean
          title: Active
          description: Whether the prompt is active
        properties:
          additionalProperties:
            type: string
          type: object
          title: Properties
          description: Property assignments
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          title: Updated At
          description: Last update timestamp
      type: object
      required:
      - uuid
      - prompt
      - user_defined_goal
      - status
      - active
      - created_at
      - updated_at
      title: CustomPromptListItemSchema
      description: Schema for custom prompt items in list responses.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- palo-alto-prisma-airs-redteam-data-plane-dp-openapi-openapi.yaml
- palo-alto-prisma-airs-redteam-management-mp-openapi-openapi.yaml
