openapi: 3.2.0
info:
  version: 2.0.0
  title: Network Services Aggregate Interfaces API
  description: These APIs are used for defining and managing network services configuration within Strata Cloud Manager.
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
- url: https://api.strata.paloaltonetworks.com/config/network/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
security:
- scmToken: []
tags:
- name: Aggregate Interfaces
  description: Aggregate Interfaces
paths:
  /aggregate-interfaces:
    get:
      tags:
      - Aggregate Interfaces
      summary: List Aggregate Interfaces
      description: 'Retrieve a list of Aggregate Interfaces.

        '
      operationId: ListAggregateInterfaces
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                    - type: array
                      items:
                        $ref: '#/components/schemas/aggregate-interfaces'
                  limit:
                    type: integer
                    default: 200
                  offset:
                    type: integer
                    default: 0
                  total:
                    type: integer
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
      - Aggregate Interfaces
      summary: Create an Aggregate Interface
      description: 'Create a new Aggregate Interface.

        '
      operationId: CreateAggregateInterfaces
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aggregate-interfaces'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregate-interfaces'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /aggregate-interfaces/{id}:
    get:
      tags:
      - Aggregate Interfaces
      summary: Get an Aggregate Interface
      description: 'Get an existing Aggregate Interface.

        '
      operationId: GetAggregateInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregate-interfaces'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
      - Aggregate Interfaces
      summary: Update an Aggregate Interface
      description: 'Update an existing Aggregate Interface.

        '
      operationId: UpdateAggregateInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/aggregate-interfaces'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/aggregate-interfaces'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
      - Aggregate Interfaces
      summary: Delete an Aggregate Interface
      description: 'Delete an Aggregate Interface.

        '
      operationId: DeleteAggregateInterfacesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
components:
  examples:
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  parameters:
    uuid:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    folder:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      required: false
      schema:
        type: string
    snippet:
      name: snippet
      in: query
      description: 'The snippet in which the resource is defined

        '
      required: false
      schema:
        type: string
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    device:
      name: device
      in: query
      description: 'The device in which the resource is defined

        '
      required: false
      schema:
        type: string
  responses:
    http_ok:
      description: OK
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
  schemas:
    generic_error:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      x-examples: {}
    error_detail_cause_info:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    aggregate-interfaces:
      type: object
      required:
      - name
      properties:
        id:
          type: string
          description: UUID of the resource
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          description: Aggregate interface name
          type: string
        default_value:
          description: Default interface assignment
          type: string
        comment:
          description: Aggregate interface description
          type: string
          minLength: 0
          maxLength: 1023
      anyOf:
      - oneOf:
        - title: layer2
          required:
          - layer2
          properties:
            layer2:
              type: object
              properties:
                vlan_tag:
                  description: VLAN tag. Mutually exclusive with vlan_object.
                  type: string
                  pattern: ^([1-9]\d{0,2}|[1-3]\d{3}|40[0-8]\d|409[0-6])$
                  example: '123'
                vlan_object:
                  description: VLAN object reference. Mutually exclusive with vlan_tag.
                  type: string
                lacp:
                  $ref: '#/components/schemas/lacp'
                netflow_profile:
                  description: Name of Netflow Profile to assign to Interface
                  type: string
        - title: layer3
          required:
          - layer3
          properties:
            layer3:
              type: object
              description: Aggregate Interface Layer 3 configuration
              oneOf:
              - title: static
                type: object
                properties:
                  ip:
                    description: Aggregate Interface IP addresses
                    type: array
                    items:
                      type: object
                      required:
                      - name
                      properties:
                        name:
                          description: Aggregate Interface IP addresses name
                          type: string
              - title: dhcp
                $ref: '#/components/schemas/agg-ethernet-dhcp-client'
              properties:
                mtu:
                  description: MTU
                  type: integer
                  minimum: 576
                  maximum: 9216
                  default: 1500
                arp:
                  $ref: '#/components/schemas/agg-ethernet-arp'
                ddns_config:
                  type: object
                  description: Dynamic DNS configuration specific to the Aggregate Interface.
                  allOf:
                  - $ref: '#/components/schemas/ddns-config'
                interface_management_profile:
                  description: Interface management profile
                  type: string
                  maxLength: 31
                netflow_profile:
                  description: Name of Netflow Profile to assign to Interface
                  type: string
                lacp:
                  $ref: '#/components/schemas/lacp'
      - oneOf:
        - type: object
          title: folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
              example: My Folder
          required:
          - folder
        - type: object
          title: snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
              example: My Snippet
          required:
          - snippet
        - type: object
          title: device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
              example: My Device
          required:
          - device
    error_detail_cause_infos:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      x-examples: {}
    agg-ethernet-arp:
      description: Aggregate Ethernet ARP configuration
      type: array
      items:
        type: object
        description: Aggregate Ethernet ARP configuration object
        properties:
          name:
            description: IP address
            type: string
            format: ip-address
          hw_address:
            description: MAC address
            type: string
            format: mac-address
        default: {}
    lacp:
      type: object
      properties:
        enable:
          description: Enable LACP?
          type: boolean
          default: false
        fast_failover:
          description: Fast failover
          type: boolean
          default: false
        mode:
          description: Mode
          type: string
          enum:
          - passive
          - active
          default: passive
        transmission_rate:
          description: Transmission mode
          type: string
          enum:
          - fast
          - slow
          default: slow
        system_priority:
          description: LACP system priority in system ID
          type: integer
          minimum: 1
          maximum: 65535
          default: 32768
        max_ports:
          description: Maximum number of physical ports bundled in the LAG
          type: integer
          minimum: 1
          maximum: 8
          default: 8
    ddns-config:
      type: object
      required:
      - ddns_hostname
      - ddns_cert_profile
      - ddns_vendor
      - ddns_vendor_config
      properties:
        ddns_enabled:
          description: Enable DDNS?
          type: boolean
          default: false
        ddns_vendor:
          description: DDNS vendor
          type: string
          maxLength: 127
        ddns_update_interval:
          description: Update interval (days)
          type: integer
          minimum: 1
          maximum: 30
          default: 1
        ddns_cert_profile:
          description: Certificate profile
          type: string
        ddns_hostname:
          type: string
          pattern: ^[a-zA-Z0-9_\.\-]+$
          maxLength: 255
        ddns_ip:
          description: IP to register (static only)
          type: string
          format: ip-address
        ddns_vendor_config:
          description: DDNS vendor
          type: string
          maxLength: 255
    agg-ethernet-dhcp-client:
      type: object
      description: Aggregate Ethernet DHCP Client
      properties:
        dhcp_client:
          type: object
          description: Aggregate Ethernet DHCP Client Object
          properties:
            enable:
              description: Enable DHCP?
              type: boolean
              default: true
            create_default_route:
              description: Automatically create default route pointing to default gateway provided by server
              type: boolean
              default: true
            send_hostname:
              description: Aggregate Ethernet DHCP Client Send hostname
              type: object
              properties:
                enable:
                  type: boolean
                  default: true
                hostname:
                  description: Set interface hostname
                  type: string
                  minLength: 1
                  maxLength: 64
                  pattern: ^[a-zA-Z0-9\._-]+$
                  default: system-hostname
            default_route_metric:
              description: Metric of the default route created
              type: integer
              minimum: 1
              maximum: 65535
              default: 10
  securitySchemes:
    scmOAuth:
      type: oauth2
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      flows:
        clientCredentials:
          tokenUrl: https://auth.apps.paloaltonetworks.com/oauth2/access_token
          scopes:
            tsg_id: Your tenant service group in the form `tsg_id:XXXXXXXXXX`
    scmToken:
      type: http
      description: "Strata Cloud Manager APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      bearerFormat: JWT
x-internal: false
