openapi: 3.2.0
info:
  title: SASE 5G Manage Service Interconnect API
  version: '1.0'
  description: 'The SASE 5G Management Service provides the administrative framework required to provision,

    configure, and oversee 5G security infrastructure within the Strata Cloud Manager (SCM) ecosystem.'
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- JWT: []
tags:
- name: Interconnect API
paths:
  /mt/manage/5g/interconnect:
    get:
      tags:
      - Interconnect API
      summary: List Regional Interconnects
      description: 'Returns regional 5G interconnect resource details, including bandwidth capacity and

        VLAN attachment health. Network architects utilize this global view to identify

        available compute regions and track infrastructure deployment readiness. The response

        maps regional availability directly to real-time status metrics.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Get Interconnect Details by region:
                  value:
                    data:
                    - bandwidth: 500000000
                      computeRegion: us-west2
                      status: Supported
                      vlanAttachmentCount: 2
                      vlanAttachmentStatusEntry:
                        down: 1
                        up: 1
                    header:
                      createdAt: '2024-08-28T16:05:27Z'
                      dataCount: 4
                      status:
                        subCode: 200
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: GetMtManage5gInterconnect
