openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Policies API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Policies
  description: Security policy recommendation operations.
paths:
  /policy/recommendation:
    get:
      operationId: getPolicyRecommendation
      summary: Palo Alto Networks Get Policy Recommendations
      description: Returns policy recommendations generated by the IoT Security service based on observed device behavior and communication patterns. Recommendations include suggested security rules, microsegmentation policies, and access control configurations that can be applied to Palo Alto Networks firewalls.
      tags:
      - Policies
      parameters:
      - name: customerid
        in: query
        required: true
        description: Customer tenant identifier.
        schema:
          type: string
        example: '134137'
      - name: deviceid
        in: query
        description: Filter recommendations for a specific device.
        schema:
          type: string
        example: '876712'
      responses:
        '200':
          description: Policy recommendations returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of recommendations.
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/PolicyRecommendation'
              examples:
                GetPolicyRecommendation200Example:
                  summary: Default getPolicyRecommendation 200 response
                  x-microcks-default: true
                  value:
                    total: 906
                    recommendations:
                    - id: example-id
                      deviceid: '738250'
                      profile: Network Printer
                      source_zone: dmz
                      destination_zone: dmz
                      applications:
                      - web-browsing
                      services:
                      - example-services_item
                      action: allow
                      confidence: 27.0
                      description: Blocked configured policy endpoint alert endpoint policy incident violation malware suspicious incident.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Policies/SecurityRules:
    get:
      operationId: listSecurityRules
      summary: Palo Alto Networks List Security Rules
      description: Returns all security policy rules configured in the specified rulebase. Security rules control traffic flow between zones and define actions (allow, deny, drop, reset) based on source, destination, application, service, and user criteria.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        description: Filter by security rule name.
        schema:
          type: string
        example: Staging Firewall 77
      responses:
        '200':
          description: Security rules returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@status':
                    type: string
                  '@code':
                    type: string
                  result:
                    type: object
                    properties:
                      '@total-count':
                        type: string
                      '@count':
                        type: string
                      entry:
                        type: array
                        items:
                          $ref: '#/components/schemas/SecurityRule'
              examples:
                ListSecurityRules200Example:
                  summary: Default listSecurityRules 200 response
                  x-microcks-default: true
                  value:
                    '@status': enabled
                    '@code': example-@code
                    result:
                      '@total-count': example-@total-count
                      '@count': example-@count
                      entry:
                      - '@name': Branch Policy 11
                        from:
                          member:
                          - example-member_item
                          - example-member_item
                        to:
                          member:
                          - example-member_item
                        source:
                          member:
                          - example-member_item
                          - example-member_item
                        destination:
                          member:
                          - example-member_item
                          - example-member_item
                        source-user:
                          member:
                          - example-member_item
                        application:
                          member:
                          - example-member_item
                        service:
                          member:
                          - example-member_item
                          - example-member_item
                        category:
                          member:
                          - example-member_item
                          - example-member_item
                        action: drop
                        log-start: 'no'
                        log-end: 'yes'
                        log-setting: example-log-setting
                        profile-setting:
                          group:
                            member:
                            - example-member_item
                            - example-member_item
                        disabled: 'no'
                        description: Endpoint rule network investigation incident blocked detected applied investigation suspicious rule traffic.
                        tag:
                          member:
                          - example-member_item
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSecurityRule
      summary: Palo Alto Networks Create Security Rule
      description: Creates a new security policy rule. The rule is added to the rulebase in the specified position. Define source and destination zones, addresses, applications, services, and the action to take on matching traffic.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the security rule to create.
        schema:
          type: string
        example: Production Gateway 63
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entry:
                  $ref: '#/components/schemas/SecurityRule'
            examples:
              CreateSecurityRuleRequestExample:
                summary: Default createSecurityRule request
                x-microcks-default: true
                value:
                  entry:
                    '@name': Branch Policy 11
                    from:
                      member:
                      - example-member_item
                      - example-member_item
                    to:
                      member:
                      - example-member_item
                    source:
                      member:
                      - example-member_item
                      - example-member_item
                    destination:
                      member:
                      - example-member_item
                      - example-member_item
                    source-user:
                      member:
                      - example-member_item
                    application:
                      member:
                      - example-member_item
                    service:
                      member:
                      - example-member_item
                      - example-member_item
                    category:
                      member:
                      - example-member_item
                      - example-member_item
                    action: drop
                    log-start: 'no'
                    log-end: 'yes'
                    log-setting: example-log-setting
                    profile-setting:
                      group:
                        member:
                        - example-member_item
                        - example-member_item
                    disabled: 'no'
                    description: Endpoint rule network investigation incident blocked detected applied investigation suspicious rule traffic.
                    tag:
                      member:
                      - example-member_item
      responses:
        '200':
          description: Security rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                CreateSecurityRule200Example:
                  summary: Default createSecurityRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateSecurityRule
      summary: Palo Alto Networks Update Security Rule
      description: Updates an existing security rule identified by name. The entire rule definition must be provided as this performs a full replacement.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the security rule to update.
        schema:
          type: string
        example: Corporate Firewall 56
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entry:
                  $ref: '#/components/schemas/SecurityRule'
            examples:
              UpdateSecurityRuleRequestExample:
                summary: Default updateSecurityRule request
                x-microcks-default: true
                value:
                  entry:
                    '@name': Branch Policy 11
                    from:
                      member:
                      - example-member_item
                      - example-member_item
                    to:
                      member:
                      - example-member_item
                    source:
                      member:
                      - example-member_item
                      - example-member_item
                    destination:
                      member:
                      - example-member_item
                      - example-member_item
                    source-user:
                      member:
                      - example-member_item
                    application:
                      member:
                      - example-member_item
                    service:
                      member:
                      - example-member_item
                      - example-member_item
                    category:
                      member:
                      - example-member_item
                      - example-member_item
                    action: drop
                    log-start: 'no'
                    log-end: 'yes'
                    log-setting: example-log-setting
                    profile-setting:
                      group:
                        member:
                        - example-member_item
                        - example-member_item
                    disabled: 'no'
                    description: Endpoint rule network investigation incident blocked detected applied investigation suspicious rule traffic.
                    tag:
                      member:
                      - example-member_item
      responses:
        '200':
          description: Security rule updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                UpdateSecurityRule200Example:
                  summary: Default updateSecurityRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSecurityRule
      summary: Palo Alto Networks Delete Security Rule
      description: Deletes a security policy rule identified by name.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the security rule to delete.
        schema:
          type: string
        example: Branch Policy 56
      responses:
        '200':
          description: Security rule deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                DeleteSecurityRule200Example:
                  summary: Default deleteSecurityRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Policies/NATRules:
    get:
      operationId: listNatRules
      summary: Palo Alto Networks List NAT Rules
      description: Returns all NAT policy rules configured on the firewall. NAT rules define source NAT (SNAT), destination NAT (DNAT), and bidirectional translation policies applied to matching traffic flows.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        description: Filter by NAT rule name.
        schema:
          type: string
        example: Branch Policy 56
      responses:
        '200':
          description: NAT rules returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@status':
                    type: string
                  '@code':
                    type: string
                  result:
                    type: object
                    properties:
                      '@total-count':
                        type: string
                      '@count':
                        type: string
                      entry:
                        type: array
                        items:
                          $ref: '#/components/schemas/NatRule'
              examples:
                ListNatRules200Example:
                  summary: Default listNatRules 200 response
                  x-microcks-default: true
                  value:
                    '@status': running
                    '@code': example-@code
                    result:
                      '@total-count': example-@total-count
                      '@count': example-@count
                      entry:
                      - '@name': Corporate Policy 48
                        from:
                          member:
                          - example-member_item
                          - example-member_item
                        to:
                          member:
                          - example-member_item
                          - example-member_item
                        source:
                          member:
                          - example-member_item
                        destination:
                          member:
                          - example-member_item
                          - example-member_item
                        service: example-service
                        source-translation:
                          dynamic-ip-and-port:
                            interface-address:
                              interface: example-interface
                            translated-address:
                              member:
                              - example-member_item
                              - example-member_item
                          static-ip:
                            translated-address: example-translated-address
                            bi-directional: 'yes'
                        destination-translation:
                          translated-address: example-translated-address
                          translated-port: example-translated-port
                        nat-type: nat64
                        disabled: 'yes'
                        description: Suspicious endpoint network monitoring suspicious threat suspicious on Security.
                        tag:
                          member:
                          - example-member_item
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNatRule
      summary: Palo Alto Networks Create NAT Rule
      description: Creates a new NAT policy rule. Define source and destination zones, addresses, services, and the translation type (static-ip, dynamic-ip, dynamic-ip-and-port) and parameters.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the NAT rule to create.
        schema:
          type: string
        example: Staging Firewall 40
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entry:
                  $ref: '#/components/schemas/NatRule'
            examples:
              CreateNatRuleRequestExample:
                summary: Default createNatRule request
                x-microcks-default: true
                value:
                  entry:
                    '@name': Corporate Policy 48
                    from:
                      member:
                      - example-member_item
                      - example-member_item
                    to:
                      member:
                      - example-member_item
                      - example-member_item
                    source:
                      member:
                      - example-member_item
                    destination:
                      member:
                      - example-member_item
                      - example-member_item
                    service: example-service
                    source-translation:
                      dynamic-ip-and-port:
                        interface-address:
                          interface: example-interface
                        translated-address:
                          member:
                          - example-member_item
                          - example-member_item
                      static-ip:
                        translated-address: example-translated-address
                        bi-directional: 'yes'
                    destination-translation:
                      translated-address: example-translated-address
                      translated-port: example-translated-port
                    nat-type: nat64
                    disabled: 'yes'
                    description: Suspicious endpoint network monitoring suspicious threat suspicious on Security.
                    tag:
                      member:
                      - example-member_item
      responses:
        '200':
          description: NAT rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                CreateNatRule200Example:
                  summary: Default createNatRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateNatRule
      summary: Palo Alto Networks Update NAT Rule
      description: Updates an existing NAT rule identified by name.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the NAT rule to update.
        schema:
          type: string
        example: Production Agent 11
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entry:
                  $ref: '#/components/schemas/NatRule'
            examples:
              UpdateNatRuleRequestExample:
                summary: Default updateNatRule request
                x-microcks-default: true
                value:
                  entry:
                    '@name': Corporate Policy 48
                    from:
                      member:
                      - example-member_item
                      - example-member_item
                    to:
                      member:
                      - example-member_item
                      - example-member_item
                    source:
                      member:
                      - example-member_item
                    destination:
                      member:
                      - example-member_item
                      - example-member_item
                    service: example-service
                    source-translation:
                      dynamic-ip-and-port:
                        interface-address:
                          interface: example-interface
                        translated-address:
                          member:
                          - example-member_item
                          - example-member_item
                      static-ip:
                        translated-address: example-translated-address
                        bi-directional: 'yes'
                    destination-translation:
                      translated-address: example-translated-address
                      translated-port: example-translated-port
                    nat-type: nat64
                    disabled: 'yes'
                    description: Suspicious endpoint network monitoring suspicious threat suspicious on Security.
                    tag:
                      member:
                      - example-member_item
      responses:
        '200':
          description: NAT rule updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                UpdateNatRule200Example:
                  summary: Default updateNatRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNatRule
      summary: Palo Alto Networks Delete NAT Rule
      description: Deletes a NAT policy rule identified by name.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the NAT rule to delete.
        schema:
          type: string
        example: Production Firewall 72
      responses:
        '200':
          description: NAT rule deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                DeleteNatRule200Example:
                  summary: Default deleteNatRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /Policies/QoSRules:
    get:
      operationId: listQosRules
      summary: Palo Alto Networks List QoS Rules
      description: Returns all QoS policy rules configured on the firewall. QoS rules classify and prioritize network traffic to ensure bandwidth allocation and low-latency delivery for critical applications.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        description: Filter by QoS rule name.
        schema:
          type: string
        example: Primary Firewall 08
      responses:
        '200':
          description: QoS rules returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@status':
                    type: string
                  '@code':
                    type: string
                  result:
                    type: object
                    properties:
                      '@total-count':
                        type: string
                      '@count':
                        type: string
                      entry:
                        type: array
                        items:
                          $ref: '#/components/schemas/QosRule'
              examples:
                ListQosRules200Example:
                  summary: Default listQosRules 200 response
                  x-microcks-default: true
                  value:
                    '@status': running
                    '@code': example-@code
                    result:
                      '@total-count': example-@total-count
                      '@count': example-@count
                      entry:
                      - '@name': Staging Policy 36
                        from:
                          member:
                          - example-member_item
                        to:
                          member:
                          - example-member_item
                        source:
                          member:
                          - example-member_item
                        destination:
                          member:
                          - example-member_item
                        application:
                          member:
                          - example-member_item
                          - example-member_item
                        service:
                          member:
                          - example-member_item
                        dscp-tos:
                          any: {}
                        action:
                          class: example-class
                        disabled: 'no'
                        description: Rule blocked Security firewall policy applied suspicious detected firewall endpoint network investigation.
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '401':
          $ref: '#/components/responses/Unauthorized_2'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createQosRule
      summary: Palo Alto Networks Create QoS Rule
      description: Creates a new QoS policy rule that classifies matching traffic into a QoS class for bandwidth management and prioritization.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the QoS rule to create.
        schema:
          type: string
        example: Corporate Policy 81
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entry:
                  $ref: '#/components/schemas/QosRule'
            examples:
              CreateQosRuleRequestExample:
                summary: Default createQosRule request
                x-microcks-default: true
                value:
                  entry:
                    '@name': Staging Policy 36
                    from:
                      member:
                      - example-member_item
                    to:
                      member:
                      - example-member_item
                    source:
                      member:
                      - example-member_item
                    destination:
                      member:
                      - example-member_item
                    application:
                      member:
                      - example-member_item
                      - example-member_item
                    service:
                      member:
                      - example-member_item
                    dscp-tos:
                      any: {}
                    action:
                      class: example-class
                    disabled: 'no'
                    description: Rule blocked Security firewall policy applied suspicious detected firewall endpoint network investigation.
      responses:
        '200':
          description: QoS rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                CreateQosRule200Example:
                  summary: Default createQosRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateQosRule
      summary: Palo Alto Networks Update QoS Rule
      description: Updates an existing QoS rule identified by name.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the QoS rule to update.
        schema:
          type: string
        example: Corporate Gateway 58
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                entry:
                  $ref: '#/components/schemas/QosRule'
            examples:
              UpdateQosRuleRequestExample:
                summary: Default updateQosRule request
                x-microcks-default: true
                value:
                  entry:
                    '@name': Staging Policy 36
                    from:
                      member:
                      - example-member_item
                    to:
                      member:
                      - example-member_item
                    source:
                      member:
                      - example-member_item
                    destination:
                      member:
                      - example-member_item
                    application:
                      member:
                      - example-member_item
                      - example-member_item
                    service:
                      member:
                      - example-member_item
                    dscp-tos:
                      any: {}
                    action:
                      class: example-class
                    disabled: 'no'
                    description: Rule blocked Security firewall policy applied suspicious detected firewall endpoint network investigation.
      responses:
        '200':
          description: QoS rule updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                UpdateQosRule200Example:
                  summary: Default updateQosRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteQosRule
      summary: Palo Alto Networks Delete QoS Rule
      description: Deletes a QoS policy rule identified by name.
      tags:
      - Policies
      parameters:
      - $ref: '#/components/parameters/location'
      - $ref: '#/components/parameters/vsys'
      - name: name
        in: query
        required: true
        description: Name of the QoS rule to delete.
        schema:
          type: string
        example: Production Agent 13
      responses:
        '200':
          description: QoS rule deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanOsResponse'
              examples:
                DeleteQosRule200Example:
                  summary: Default deleteQosRule 200 response
                  x-microcks-default: true
                  value:
                    '@status': error
                    '@code': example-@code
                    msg: example-msg
        '400':
          $ref: '#/components/responses/BadRequest_2'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/policies:
    get:
      operationId: listBrowserPolicies
      summary: Palo Alto Networks List Browser Security Policies
      description: Returns the list of browser security policies configured for the tenant. Policies control browser behavior including allowed websites, DLP rules, extension permissions, download controls, and clipboard restrictions.
      tags:
      - Policies
      parameters:
      - name: enabled
        in: query
        description: Filter policies by enabled state.
        schema:
          type: boolean
        example: true
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of policies to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Browser security policies returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserPolicy'
              examples:
                ListBrowserPolicies200Example:
                  summary: Default listBrowserPolicies 200 response
                  x-microcks-default: true
                  value:
                    total: 299
                    offset: 512
                    limit: 881
                    items:
                    - policy_id: '762727'
                      name: Staging Gateway 02
                      description: Blocked suspicious policy network configured on blocked.
                      enabled: false
                      web_filtering: &id001
                        enabled: true
                        blocked_categories:
                        - example-blocked_categories_item
                        - example-blocked_categories_item
                      dlp_enabled: true
                      extension_policy: block_all
                      download_control: scan
                      created_at: '2025-06-14T10:46:06Z'
                      updated_at: '2025-10-12T19:10:58Z'
                    - policy_id: '762727'
                      name: Staging Gateway 02
                      description: Blocked suspicious policy network configured on blocked.
                      enabled: false
                      web_filtering: *id001
                      dlp_enabled: true
                      extension_policy: block_all
                      download_control: scan
                      created_at: '2025-06-14T10:46:06Z'
                      updated_at: '2025-10-12T19:10:58Z'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                ListBrowserPolicies400Example:
                  summary: Default listBrowserPolicies 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                ListBrowserPolicies401Example:
                  summary: Default listBrowserPolicies 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions. Requires Super User or View-Only Admin role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                ListBrowserPolicies403Example:
                  summary: Default listBrowserPolicies 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                ListBrowserPolicies500Example:
                  summary: Default listBrowserPolicies 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createBrowserPolicy
      summary: Palo Alto Networks Create Browser Security Policy
      description: Creates a new browser security policy. Policies define security controls applied to users of the Prisma Access Browser including web filtering, DLP, and extension management settings.
      tags:
      - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserPolicyRequest'
            examples:
              CreateBrowserPolicyRequestExample:
                summary: Default createBrowserPolicy request
                x-microcks-default: true
                value:
                  name: Primary Sensor 04
                  description: Incident rule applied configured on network incident detected activity.
                  enabled: true
                  web_filtering:
                    enabled: false
                    blocked_categories:
                    - example-blocked_categories_item
                    - example-blocked_categories_item
                  dlp_enabled: false
                  extension_policy: allow_all
                  download_control: allow
      responses:
        '201':
          description: Browser policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
              examples:
                CreateBrowserPolicy201Example:
                  summary: Default createBrowserPolicy 201 response
                  x-microcks-default: true
                  value:
                    policy_id: '762727'
                    name: Staging Gateway 02
                    description: Blocked suspicious policy network configured on blocked.
                    enabled: false
                    web_filtering:
                      enabled: true
                      blocked_categories:
                      - example-blocked_categories_item
                      - example-blocked_categories_item
                    dlp_enabled: true
                    extension_policy: block_all
                    download_control: scan
                    created_at: '2025-06-14T10:46:06Z'
                    updated_at: '2025-10-12T19:10:58Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                CreateBrowserPolicy400Example:
                  summary: Default createBrowserPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                CreateBrowserPolicy401Example:
                  summary: Default createBrowserPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                CreateBrowserPolicy403Example:
                  summary: Default createBrowserPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                CreateBrowserPolicy500Example:
                  summary: Default createBrowserPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/policies/{policy_id}:
    get:
      operationId: getBrowserPolicy
      summary: Palo Alto Networks Get Browser Security Policy
      description: Returns full details for a specific browser security policy.
      tags:
      - Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the browser policy.
        schema:
          type: string
        example: '273495'
      responses:
        '200':
          description: Browser policy details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
              examples:
                GetBrowserPolicy200Example:
                  summary: Default getBrowserPolicy 200 response
                  x-microcks-default: true
                  value:
                    policy_id: '762727'
                    name: Staging Gateway 02
                    description: Blocked suspicious policy network configured on blocked.
                    enabled: false
                    web_filtering:
                      enabled: true
                      blocked_categories:
                      - example-blocked_categories_item
                      - example-blocked_categories_item
                    dlp_enabled: true
                    extension_policy: block_all
                    download_control: scan
                    created_at: '2025-06-14T10:46:06Z'
                    updated_at: '2025-10-12T19:10:58Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                GetBrowserPolicy401Example:
                  summary: Default getBrowserPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                GetBrowserPolicy403Example:
                  summary: Default getBrowserPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                GetBrowserPolicy404Example:
                  summary: Default getBrowserPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                GetBrowserPolicy500Example:
                  summary: Default getBrowserPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateBrowserPolicy
      summary: Palo Alto Networks Update Browser Security Policy
      description: Updates an existing browser security policy configuration.
      tags:
      - Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the browser policy to update.
        schema:
          type: string
        example: '791625'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserPolicyRequest'
            examples:
              UpdateBrowserPolicyRequestExample:
                summary: Default updateBrowserPolicy request
                x-microcks-default: true
                value:
                  name: Primary Sensor 04
                  description: Incident rule applied configured on network incident detected activity.
                  enabled: true
                  web_filtering:
                    enabled: false
                    blocked_categories:
                    - example-blocked_categories_item
                    - example-blocked_categories_item
                  dlp_enabled: false
                  extension_policy: allow_all
                  download_control: allow
      responses:
        '200':
          description: Browser policy updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
              examples:
                UpdateBrowserPolicy200Example:
                  summary: Default updateBrowserPolicy 200 response
                  x-microcks-default: true
                  value:
                    policy_id: '762727'
                    name: Staging Gateway 02
                    description: Blocked suspicious policy network configured on blocked.
                    enabled: false
                    web_filtering:
                      enabled: true
                      blocked_categories:
                      - example-blocked_categories_item
                      - example-blocked_categories_item
                    dlp_enabled: true
                    extension_policy: block_all
                    download_control: scan
                    created_at: '2025-06-14T10:46:06Z'
                    updated_at: '2025-10-12T19:10:58Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                UpdateBrowserPolicy400Example:
                  summary: Default updateBrowserPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                UpdateBrowserPolicy401Example:
                  summary: Default updateBrowserPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                UpdateBrowserPolicy403Example:
                  summary: Default updateBrowserPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                UpdateBrowserPolicy404Example:
                  summary: Default updateBrowserPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                UpdateBrowserPolicy500Example:
                  summary: Default updateBrowserPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteBrowserPolicy
      summary: Palo Alto Networks Delete Browser Security Policy
      description: Deletes a browser security policy. Policies assigned to active deployments must be unassigned before deletion.
      tags:
      - Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the browser policy to delete.
        schema:
          type: string
        example: '462762'
      responses:
        '204':
          description: Browser policy deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                DeleteBrowserPolicy401Example:
                  summary: Default deleteBrowserPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                DeleteBrowserPolicy403Example:
                  summary: Default deleteBrowserPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                DeleteBrowserPolicy404Example:
                  summary: Default deleteBrowserPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
              examples:
                DeleteBrowserPolicy500Example:
                  summary: Default deleteBrowserPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /policies/vulnerability/images:
    get:
      operationId: getImageVulnerabilityPolicy
      summary: Palo Alto Networks Get Image Vulnerability Policy
      description: Returns the currently configured image vulnerability policy. The policy defines the rules for blocking, alerting, and ignoring vulnerabilities found in container images based on severity, CVE, package, and other criteria.
      tags:
      - Policies
      responses:
        '200':
          description: Image vulnerability policy returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityPolicy'
              examples:
                GetImageVulnerabilityPolicy200Example:
                  summary: Default getImageVulnerabilityPolicy 200 response
                  x-microcks-default: true
                  value:
                    rules:
                    - name: Production Agent 10
                      collections:
                      - example-collections_item
                      - example-collections_item
                      effect: alert
                      condition:
                        cves:
                          ids:
                          - example-ids_item
                          - example-ids_item
                          effect: example-effect
                        severities:
                        - critical
                    - name: Production Agent 26
                      collections:
                      - example-collections_item
                      - example-collections_item
                      effect: ignore
                      condition:
                        cves:
                          ids:
                          - example-ids_item
                          - example-ids_item
                          effect: example-effect
                        severities:
                        - critical
                        - high
        '401':
          $ref: '#/components/responses/Unauthorized_3'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateImageVulnerabilityPolicy
      summary: Palo Alto Networks Update Image Vulnerability Policy
      description: Replaces the image vulnerability policy with the provided configuration. The policy is applied to all image scans and enforced at container admission.
      tags:
      - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VulnerabilityPolicy'
            examples:
              UpdateImageVulnerabilityPolicyRequestExample:
                summary: Default updateImageVulnerabilityPolicy request
                x-microcks-default: true
                value:
                  rules:
                  - name: Production Agent 10
                    collections:
                    - example-collections_item
                    - example-collections_item
                    effect: alert
                    condition:
                      cves:
                        ids:
                        - example-ids_item
                        - example-ids_item
                        effect: example-effect
                      severities:
                      - critical
                  - name: Production Agent 26
                    collections:
                    - example-collections_item
                    - example-collections_item
                    effect: ignore
                    condition:
                      cves:
                        ids:
                        - example-ids_item
                        - example-ids_item
                        effect: example-effect
                      severities:
                      - critical
                      - high
      responses:
        '200':
          description: Image vulnerability policy updated successfully.
        '400':
          $ref: '#/components/responses/BadRequest_3'
        '401':
          $ref: '#/components/responses/Unauthorized_3'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /policies/compliance/images:
    get:
      operationId: getImageCompliancePolicy
      summary: Palo Alto Networks Get Image Compliance Policy
      description: Returns the currently configured image compliance policy. The compliance policy defines the checks applied to container images based on CIS benchmarks and custom rules.
      tags:
      - Policies
      responses:
        '200':
          description: Image compliance policy returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompliancePolicy'
              examples:
                GetImageCompliancePolicy200Example:
                  summary: Default getImageCompliancePolicy 200 response
                  x-microcks-default: true
                  value:
                    rules:
                    - name: Primary Agent 83
                      collections:
                      - example-collections_item
                      effect: block
                      condition:
                        checks:
                        - {}
                        - {}
        '401':
          $ref: '#/components/responses/Unauthorized_3'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /policies/runtime/container:
    get:
      operationId: getContainerRuntimePolicy
      summary: Palo Alto Networks Get Container Runtime Policy
      description: Returns the currently configured container runtime defense policy. Runtime policies define allowed process, network, and file system activities for running containers, enabling detection and prevention of anomalous runtime behavior.
      tags:
      - Policies
      responses:
        '200':
          description: Container runtime policy returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimePolicy'
              examples:
                GetContainerRuntimePolicy200Example:
                  summary: Default getContainerRuntimePolicy 200 response
                  x-microcks-default: true
                  value:
                    rules:
                    - name: Primary Policy 20
                      collections:
                      - example-collections_item
                      - example-collections_item
                      processes:
                        effect: ignore
                        whitelist:
                        - example-whitelist_item
                        - example-whitelist_item
                        blacklist:
                        - example-blacklist_item
                      network:
                        effect: block
                      filesystem:
                        effect: block
                    - name: Primary Policy 29
                      collections:
                      - example-collections_item
                      - example-collections_item
                      processes:
                        effect: alert
                        whitelist:
                        - example-whitelist_item
                        blacklist:
                        - example-blacklist_item
                      network:
                        effect: alert
                      filesystem:
                        effect: alert
        '401':
          $ref: '#/components/responses/Unauthorized_3'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /policy:
    get:
      operationId: listPolicies
      summary: Palo Alto Networks List Policies
      description: Returns all security policies including built-in and custom policies with their severity, cloud type, and compliance mappings.
      tags:
      - Policies
      responses:
        '200':
          description: Policies returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
              examples:
                ListPolicies200Example:
                  summary: Default listPolicies 200 response
                  x-microcks-default: true
                  value:
                  - policyId: '167432'
                    name: Production Sensor 48
                    policyType: audit_event
                    severity: high
                    description: Malware malware violation activity blocked detected malware malware suspicious suspicious.
                    recommendation: example-recommendation
                    cloudType: custom
                    enabled: false
                    systemDefault: false
                    rule:
                      name: Staging Policy 35
                      criteria: example-criteria
                      type: standard
                    complianceMetadata:
                    - standardName: Corporate Agent 39
                      requirementId: '465802'
                      requirementName: Production Agent 65
                      sectionId: '568679'
                    - standardName: Branch Sensor 82
                      requirementId: '690794'
                      requirementName: Primary Gateway 49
                      sectionId: '340660'
        '401':
          $ref: '#/components/responses/Unauthorized_4'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createPolicy
      summary: Palo Alto Networks Create a Custom Policy
      description: Creates a new custom security policy with an RQL query.
      tags:
      - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyInput'
            examples:
              CreatePolicyRequestExample:
                summary: Default createPolicy request
                x-microcks-default: true
                value:
                  name: Production Policy 14
                  policyType: standard
                  severity: high
                  description: Investigation endpoint incident detected on suspicious configured endpoint firewall.
                  recommendation: example-recommendation
                  cloudType: custom
                  enabled: true
                  rule:
                    name: Primary Policy 53
                    criteria: example-criteria
                    type: standard
      responses:
        '200':
          description: Policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
              examples:
                CreatePolicy200Example:
                  summary: Default createPolicy 200 response
                  x-microcks-default: true
                  value:
                    policyId: '167432'
                    name: Production Sensor 48
                    policyType: audit_event
                    severity: high
                    description: Malware malware violation activity blocked detected malware malware suspicious suspicious.
                    recommendation: example-recommendation
                    cloudType: custom
                    enabled: false
                    systemDefault: false
                    rule:
                      name: Staging Policy 35
                      criteria: example-criteria
                      type: standard
                    complianceMetadata:
                    - standardName: Corporate Agent 39
                      requirementId: '465802'
                      requirementName: Production Agent 65
                      sectionId: '568679'
                    - standardName: Branch Sensor 82
                      requirementId: '690794'
                      requirementName: Primary Gateway 49
                      sectionId: '340660'
        '400':
          $ref: '#/components/responses/BadRequest_4'
        '401':
          $ref: '#/components/responses/Unauthorized_4'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /policy/{policyId}:
    get:
      operationId: getPolicy
      summary: Palo Alto Networks Get Policy Details
      description: Returns details of a specific policy.
      tags:
      - Policies
      parameters:
      - name: policyId
        in: path
        required: true
        description: Unique policy identifier.
        schema:
          type: string
        example: '397286'
      responses:
        '200':
          description: Policy returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
              examples:
                GetPolicy200Example:
                  summary: Default getPolicy 200 response
                  x-microcks-default: true
                  value:
                    policyId: '167432'
                    name: Production Sensor 48
                    policyType: audit_event
                    severity: high
                    description: Malware malware violation activity blocked detected malware malware suspicious suspicious.
                    recommendation: example-recommendation
                    cloudType: custom
                    enabled: false
                    systemDefault: false
                    rule:
                      name: Staging Policy 35
                      criteria: example-criteria
                      type: standard
                    complianceMetadata:
                    - standardName: Corporate Agent 39
                      requirementId: '465802'
                      requirementName: Production Agent 65
                      sectionId: '568679'
                    - standardName: Branch Sensor 82
                      requirementId: '690794'
                      requirementName: Primary Gateway 49
                      sectionId: '340660'
        '401':
          $ref: '#/components/responses/Unauthorized_4'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '404':
          $ref: '#/components/responses/NotFound_2'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updatePolicy
      summary: Palo Alto Networks Update a Policy
      description: Updates an existing security policy.
      tags:
      - Policies
      parameters:
      - name: policyId
        in: path
        required: true
        description: Unique policy identifier.
        schema:
          type: string
        example: '874390'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyInput'
            examples:
              UpdatePolicyRequestExample:
                summary: Default updatePolicy request
                x-microcks-default: true
                value:
                  name: Production Policy 14
                  policyType: standard
                  severity: high
                  description: Investigation endpoint incident detected on suspicious configured endpoint firewall.
                  recommendation: example-recommendation
                  cloudType: custom
                  enabled: true
                  rule:
                    name: Primary Policy 53
                    criteria: example-criteria
                    type: standard
      responses:
        '200':
          description: Policy updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
              examples:
                UpdatePolicy200Example:
                  summary: Default updatePolicy 200 response
                  x-microcks-default: true
                  value:
                    policyId: '167432'
                    name: Production Sensor 48
                    policyType: audit_event
                    severity: high
                    description: Malware malware violation activity blocked detected malware malware suspicious suspicious.
                    recommendation: example-recommendation
                    cloudType: custom
                    enabled: false
                    systemDefault: false
                    rule:
                      name: Staging Policy 35
                      criteria: example-criteria
                      type: standard
                    complianceMetadata:
                    - standardName: Corporate Agent 39
                      requirementId: '465802'
                      requirementName: Production Agent 65
                      sectionId: '568679'
                    - standardName: Branch Sensor 82
                      requirementId: '690794'
                      requirementName: Primary Gateway 49
                      sectionId: '340660'
        '400':
          $ref: '#/components/responses/BadRequest_4'
        '401':
          $ref: '#/components/responses/Unauthorized_4'
        '403':
          $ref: '#/components/responses/Forbidden_2'
        '404':
          $ref: '#/components/responses/NotFound_2'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /dspm/api/v1/policies:
    get:
      operationId: listDSPMPolicies
      summary: Palo Alto Networks List DSPM Policies
      description: Returns a list of DSPM policies that define data security requirements and governance rules. Policies specify which data classification labels and sensitivity levels require specific security controls such as encryption, access restrictions, and audit logging.
      tags:
      - Policies
      parameters:
      - name: offset
        in: query
        description: Number of records to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of records to return.
        schema:
          type: integer
          default: 25
        example: 25
      - name: enabled
        in: query
        description: Filter by policy enabled status.
        schema:
          type: boolean
        example: false
      - name: search
        in: query
        description: Search term to filter by policy name.
        schema:
          type: string
        example: example-search
      responses:
        '200':
          description: DSPM policies returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of DSPM policies.
                  policies:
                    type: array
                    items:
                      $ref: '#/components/schemas/DSPMPolicy'
              examples:
                ListDspmpolicies200Example:
                  summary: Default listDSPMPolicies 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 302
                    policies:
                    - id: example-id
                      name: Corporate Agent 18
                      description: Threat network applied traffic network threat network activity Security investigation.
                      enabled: false
                      severity: medium
                      classification: example-classification
                      requiredControls:
                      - accessRestriction
                      cloudProviders:
                      - gcp
                      - aws
                      createdAt: '2024-03-06T08:41:09Z'
                      updatedAt: '2026-12-26T20:52:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized_5'
        '403':
          $ref: '#/components/responses/Forbidden_3'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    NatRule:
      type: object
      description: A NAT policy rule defining source or destination address translation for matching traffic.
      properties:
        '@name':
          type: string
          description: Unique name of the NAT rule.
          example: Corporate Policy 48
        from:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              description: Source zones.
              example:
              - example-member_item
              - example-member_item
          example:
            member:
            - example-member_item
            - example-member_item
        to:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              description: Destination zones.
              example:
              - example-member_item
              - example-member_item
          example:
            member:
            - example-member_item
            - example-member_item
        source:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              description: Source addresses.
              example:
              - example-member_item
          example:
            member:
            - example-member_item
        destination:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              description: Destination addresses.
              example:
              - example-member_item
          example:
            member:
            - example-member_item
            - example-member_item
        service:
          type: string
          description: Service object or any.
          example: example-service
        source-translation:
          type: object
          description: Source address translation settings.
          properties:
            dynamic-ip-and-port:
              type: object
              properties:
                interface-address:
                  type: object
                  properties:
                    interface:
                      type: string
                      example: example-interface
                  example:
                    interface: example-interface
                translated-address:
                  type: object
                  properties:
                    member:
                      type: array
                      items:
                        type: string
                      example:
                      - example-member_item
                  example:
                    member:
                    - example-member_item
              example:
                interface-address:
                  interface: example-interface
                translated-address:
                  member:
                  - example-member_item
                  - example-member_item
            static-ip:
              type: object
              properties:
                translated-address:
                  type: string
                  example: example-translated-address
                bi-directional:
                  type: string
                  enum:
                  - 'yes'
                  - 'no'
                  example: 'no'
              example:
                translated-address: example-translated-address
                bi-directional: 'no'
          example:
            dynamic-ip-and-port:
              interface-address:
                interface: example-interface
              translated-address:
                member:
                - example-member_item
                - example-member_item
            static-ip:
              translated-address: example-translated-address
              bi-directional: 'yes'
        destination-translation:
          type: object
          description: Destination address translation settings.
          properties:
            translated-address:
              type: string
              example: example-translated-address
            translated-port:
              type: string
              example: example-translated-port
          example:
            translated-address: example-translated-address
            translated-port: example-translated-port
        nat-type:
          type: string
          enum:
          - ipv4
          - nat64
          - nptv6
          example: nat64
        disabled:
          type: string
          enum:
          - 'yes'
          - 'no'
          example: 'yes'
        description:
          type: string
          example: Suspicious endpoint network monitoring suspicious threat suspicious on Security.
        tag:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              example:
              - example-member_item
              - example-member_item
          example:
            member:
            - example-member_item
    RuntimePolicy:
      type: object
      properties:
        rules:
          type: array
          description: Container runtime defense rules.
          items:
            type: object
            properties:
              name:
                type: string
                example: Production Firewall 87
              collections:
                type: array
                items:
                  type: string
                example:
                - example-collections_item
              processes:
                type: object
                properties:
                  effect:
                    type: string
                    enum:
                    - ignore
                    - alert
                    - block
                    example: alert
                  whitelist:
                    type: array
                    items:
                      type: string
                    example:
                    - example-whitelist_item
                  blacklist:
                    type: array
                    items:
                      type: string
                    example:
                    - example-blacklist_item
                    - example-blacklist_item
                example:
                  effect: ignore
                  whitelist:
                  - example-whitelist_item
                  - example-whitelist_item
                  blacklist:
                  - example-blacklist_item
                  - example-blacklist_item
              network:
                type: object
                properties:
                  effect:
                    type: string
                    enum:
                    - ignore
                    - alert
                    - block
                    example: alert
                example:
                  effect: alert
              filesystem:
                type: object
                properties:
                  effect:
                    type: string
                    enum:
                    - ignore
                    - alert
                    - block
                    example: ignore
                example:
                  effect: ignore
          example:
          - name: Primary Policy 20
            collections:
            - example-collections_item
            - example-collections_item
            processes:
              effect: ignore
              whitelist:
              - example-whitelist_item
              - example-whitelist_item
              blacklist:
              - example-blacklist_item
            network:
              effect: block
            filesystem:
              effect: block
          - name: Primary Policy 29
            collections:
            - example-collections_item
            - example-collections_item
            processes:
              effect: alert
              whitelist:
              - example-whitelist_item
              blacklist:
              - example-blacklist_item
            network:
              effect: alert
            filesystem:
              effect: alert
    DSPMPolicy:
      type: object
      properties:
        id:
          type: string
          description: Unique DSPM policy identifier.
          example: example-id
        name:
          type: string
          description: Policy name.
          example: Corporate Agent 18
        description:
          type: string
          description: Policy description.
          example: Threat network applied traffic network threat network activity Security investigation.
        enabled:
          type: boolean
          description: Whether the policy is currently active.
          example: false
        severity:
          type: string
          enum:
          - critical
          - high
          - medium
          - low
          description: Severity level of violations detected by this policy.
          example: medium
        classification:
          type: string
          description: Classification label this policy governs.
          example: example-classification
        requiredControls:
          type: array
          items:
            type: string
            enum:
            - encryption
            - accessRestriction
            - auditLogging
            - backup
            - networkIsolation
          description: Security controls required for data matching this policy.
          example:
          - accessRestriction
        cloudProviders:
          type: array
          items:
            type: string
            enum:
            - aws
            - azure
            - gcp
          description: Cloud providers this policy applies to.
          example:
          - gcp
          - aws
        createdAt:
          type: string
          format: date-time
          readOnly: true
          example: '2024-03-06T08:41:09Z'
        updatedAt:
          type: string
          format: date-time
          readOnly: true
          example: '2026-12-26T20:52:00Z'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code or type.
          example: example-error
        message:
          type: string
          description: Human-readable error message.
          example: Monitoring traffic activity network investigation investigation network policy traffic violation rule rule.
    ErrorResponse_6:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 177
        message:
          type: string
          description: Human-readable error message.
          example: Suspicious traffic configured monitoring malware endpoint applied.
        error:
          type: string
          description: Error code.
          example: example-error
    VulnerabilityPolicy:
      type: object
      properties:
        rules:
          type: array
          description: Ordered list of vulnerability policy rules.
          items:
            type: object
            properties:
              name:
                type: string
                description: Rule name.
                example: Corporate Agent 90
              collections:
                type: array
                items:
                  type: string
                description: Collections this rule applies to.
                example:
                - example-collections_item
                - example-collections_item
              effect:
                type: string
                enum:
                - ignore
                - alert
                - block
                description: Action to take for matching vulnerabilities.
                example: block
              condition:
                type: object
                description: Conditions that trigger this rule.
                properties:
                  cves:
                    type: object
                    properties:
                      ids:
                        type: array
                        items:
                          type: string
                        example:
                        - example-ids_item
                        - example-ids_item
                      effect:
                        type: string
                        example: example-effect
                    example:
                      ids:
                      - example-ids_item
                      - example-ids_item
                      effect: example-effect
                  severities:
                    type: array
                    items:
                      type: string
                      enum:
                      - critical
                      - high
                      - medium
                      - low
                    example:
                    - critical
                    - medium
                example:
                  cves:
                    ids:
                    - example-ids_item
                    effect: example-effect
                  severities:
                  - low
                  - medium
          example:
          - name: Production Agent 10
            collections:
            - example-collections_item
            - example-collections_item
            effect: alert
            condition:
              cves:
                ids:
                - example-ids_item
                - example-ids_item
                effect: example-effect
              severities:
              - critical
          - name: Production Agent 26
            collections:
            - example-collections_item
            - example-collections_item
            effect: ignore
            condition:
              cves:
                ids:
                - example-ids_item
                - example-ids_item
                effect: example-effect
              severities:
              - critical
              - high
    PanOsResponse:
      type: object
      description: Standard PAN-OS API response envelope.
      properties:
        '@status':
          type: string
          enum:
          - success
          - error
          example: error
        '@code':
          type: string
          example: example-@code
        msg:
          type: string
          example: example-msg
    BrowserPolicy:
      type: object
      properties:
        policy_id:
          type: string
          description: Unique identifier of the browser policy.
          example: '762727'
        name:
          type: string
          description: Display name of the policy.
          example: Staging Gateway 02
        description:
          type: string
          description: Description of the policy's purpose.
          example: Blocked suspicious policy network configured on blocked.
        enabled:
          type: boolean
          description: Whether the policy is active.
          example: false
        web_filtering:
          type: object
          description: Web filtering configuration.
          properties:
            enabled:
              type: boolean
              example: true
            blocked_categories:
              type: array
              items:
                type: string
              example:
              - example-blocked_categories_item
          example:
            enabled: true
            blocked_categories:
            - example-blocked_categories_item
            - example-blocked_categories_item
        dlp_enabled:
          type: boolean
          description: Whether DLP controls are enabled.
          example: true
        extension_policy:
          type: string
          enum:
          - allow_all
          - allow_list
          - block_all
          description: Extension installation policy.
          example: block_all
        download_control:
          type: string
          enum:
          - allow
          - scan
          - block
          description: File download control setting.
          example: scan
        created_at:
          type: string
          format: date-time
          example: '2025-06-14T10:46:06Z'
        updated_at:
          type: string
          format: date-time
          example: '2025-10-12T19:10:58Z'
    QosRule:
      type: object
      description: A QoS policy rule classifying traffic into QoS classes for bandwidth management and prioritization.
      properties:
        '@name':
          type: string
          description: Unique name of the QoS rule.
          example: Staging Policy 36
        from:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              description: Source zones.
              example:
              - example-member_item
          example:
            member:
            - example-member_item
        to:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              description: Destination zones.
              example:
              - example-member_item
              - example-member_item
          example:
            member:
            - example-member_item
        source:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              example:
              - example-member_item
              - example-member_item
          example:
            member:
            - example-member_item
        destination:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
              example:
              - example-member_item
          example:
            member:
            - example-member_item
        application:
          type: object
          properties:
            member:
              type: array
              items:
                type: string
[...]
