openapi: 3.2.0
info:
  title: Prisma AIRS Red Teaming Dataplane Categories API
  description: Red Teaming Data Plane API - Data processing and scanning services for AI/ML model security. © 2025 Palo Alto Networks, Inc
  version: 0.7.75
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  license:
    name: MIT
    url: https://opensource.org/license/mit
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
security:
- bearerAuth: []
tags:
- name: Categories
  description: Operations for managing scan categories.
paths:
  /v1/categories:
    get:
      tags:
      - Categories
      summary: Get all categories with subcategories
      description: Get all available categories with their subcategories.
      operationId: get_all_categories_v1_categories_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CategoryModel'
                type: array
                title: Response Get All Categories V1 Categories Get
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    SubCategoryModel:
      properties:
        id:
          type: string
          title: Id
          description: Unique identifier
        display_name:
          type: string
          title: Display Name
          description: Frontend display name
        description:
          type: string
          title: Description
          description: Description
        preselect:
          type: boolean
          title: Preselect
          description: Whether this subcategory should be preselected in UI
          default: true
        prerequisites:
          anyOf:
          - items:
              $ref: '#/components/schemas/PrerequisiteModel'
            type: array
          - type: 'null'
          title: Prerequisites
          description: List of prerequisites for this subcategory
        active:
          type: boolean
          title: Active
          description: Whether this subcategory is active
          default: true
        file_supported:
          type: boolean
          title: File Supported
          description: Whether this subcategory has multimodal file (document) attacks in the library — drives the file-upload icon in the scan wizard
          default: false
      type: object
      required:
      - id
      - display_name
      - description
      title: SubCategoryModel
      description: Pydantic model for subcategory data
    PrerequisiteModel:
      properties:
        id:
          type: string
          title: Id
          description: Prerequisite unique identifier
        display_name:
          type: string
          title: Display Name
          description: Prerequisite display name for frontend
        description:
          type: string
          title: Description
          description: Prerequisite description
      type: object
      required:
      - id
      - display_name
      - description
      title: PrerequisiteModel
      description: Pydantic model for prerequisite data
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    CategoryModel:
      properties:
        id:
          type: string
          title: Id
          description: Unique identifier
        display_name:
          type: string
          title: Display Name
          description: Frontend display name
        description:
          type: string
          title: Description
          description: Description
        preselect:
          type: boolean
          title: Preselect
          description: Whether this category should be preselected in UI
          default: true
        sub_categories:
          items:
            $ref: '#/components/schemas/SubCategoryModel'
          type: array
          title: Sub Categories
          description: List of subcategories
      type: object
      required:
      - id
      - display_name
      - description
      - sub_categories
      title: CategoryModel
      description: Pydantic model for category data
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
