openapi: 3.1.0
info:
  title: Palo Alto Networks WildFire API
  description: >-
    Cloud-based REST API for submitting files, URLs, and links to the Palo Alto
    Networks WildFire sandbox for advanced malware analysis. WildFire executes
    submitted samples in a safe, isolated environment and returns threat verdicts
    (benign, malware, grayware, phishing) along with detailed behavioral
    analysis reports. The API supports file submission via multipart form
    upload, verdict queries by file hash (MD5 or SHA-256), bulk verdict
    lookups, and retrieval of PCAP network captures and full analysis reports
    in XML or PDF format. Authentication uses an API key passed as a form
    field in every POST request body.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/wildfire/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://wildfire.paloaltonetworks.com/publicapi
    description: WildFire global cloud (US).
  - url: https://wildfire.{region}.paloaltonetworks.com/publicapi
    description: WildFire regional cloud endpoint.
    variables:
      region:
        description: Regional deployment (e.g., eu, jp).
        default: eu
tags:
  - name: Submit
    description: File, URL, and link submission for malware analysis.
  - name: Verdict
    description: Retrieve analysis verdicts by file hash.
  - name: Report
    description: Retrieve detailed analysis reports and supporting files.
paths:
  /submit/file:
    post:
      operationId: submitFile
      summary: Palo Alto Networks Submit file for analysis
      description: >-
        Submits a file to WildFire for malware analysis. The file is executed
        in an isolated sandbox environment and analyzed for malicious behavior.
        Supported file types include PE executables, DLLs, Office documents,
        PDFs, APKs, and scripts. Returns a SHA-256 hash and upload status.
        Poll /get/verdict for the analysis result.
      tags:
        - Submit
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - apikey
                - file
              properties:
                apikey:
                  type: string
                  description: WildFire API key for authentication.
                file:
                  type: string
                  format: binary
                  description: The file to submit for analysis (max 100 MB).
      responses:
        '200':
          description: File submitted successfully.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SubmitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /submit/url:
    post:
      operationId: submitUrl
      summary: Palo Alto Networks Submit URL for analysis
      description: >-
        Submits a URL to WildFire for phishing and malware analysis. WildFire
        visits the URL in an isolated browser environment and analyzes the
        page content and any downloaded files for malicious behavior.
      tags:
        - Submit
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - apikey
                - url
              properties:
                apikey:
                  type: string
                  description: WildFire API key for authentication.
                url:
                  type: string
                  description: URL to submit for analysis (must be a valid HTTP or HTTPS URL).
      responses:
        '200':
          description: URL submitted successfully.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SubmitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /submit/link:
    post:
      operationId: submitLink
      summary: Palo Alto Networks Submit link for analysis
      description: >-
        Submits a hyperlink for WildFire analysis. Similar to URL submission
        but intended for links extracted from email bodies or documents.
      tags:
        - Submit
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - apikey
                - link
              properties:
                apikey:
                  type: string
                  description: WildFire API key for authentication.
                link:
                  type: string
                  description: Link to submit for analysis.
      responses:
        '200':
          description: Link submitted successfully.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SubmitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /get/verdict:
    post:
      operationId: getVerdict
      summary: Palo Alto Networks Get verdict by hash
      description: >-
        Retrieves the WildFire analysis verdict for a file identified by its
        MD5 or SHA-256 hash. Verdicts are: 0 (benign), 1 (malware), 2 (grayware),
        4 (phishing), -100 (pending analysis), -101 (error), -102 (unknown),
        -103 (invalid hash).
      tags:
        - Verdict
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - apikey
                - hash
              properties:
                apikey:
                  type: string
                  description: WildFire API key for authentication.
                hash:
                  type: string
                  description: MD5 or SHA-256 hash of the file to query.
      responses:
        '200':
          description: Verdict returned successfully.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/VerdictResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /get/verdicts:
    post:
      operationId: getBulkVerdicts
      summary: Palo Alto Networks Get bulk verdicts
      description: >-
        Retrieves WildFire analysis verdicts for multiple files in a single
        request. Submit an array of MD5 or SHA-256 hashes to query up to 500
        verdicts simultaneously.
      tags:
        - Verdict
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - apikey
                - hash
              properties:
                apikey:
                  type: string
                  description: WildFire API key for authentication.
                hash:
                  type: array
                  items:
                    type: string
                  description: Array of MD5 or SHA-256 hashes to query (max 500).
      responses:
        '200':
          description: Bulk verdicts returned successfully.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/BulkVerdictResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /get/report:
    post:
      operationId: getReport
      summary: Palo Alto Networks Get analysis report
      description: >-
        Retrieves the full WildFire analysis report for a sample identified
        by its MD5 or SHA-256 hash. Reports include behavioral analysis,
        network activity, file system changes, registry modifications, and
        process information. Reports are available in XML or PDF format.
      tags:
        - Report
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - apikey
                - hash
                - format
              properties:
                apikey:
                  type: string
                  description: WildFire API key for authentication.
                hash:
                  type: string
                  description: MD5 or SHA-256 hash of the analyzed sample.
                format:
                  type: string
                  enum:
                    - xml
                    - pdf
                  description: Report output format.
                type:
                  type: string
                  description: >-
                    Hash type. If omitted, WildFire auto-detects based on
                    hash length.
                  enum:
                    - md5
                    - sha256
      responses:
        '200':
          description: Analysis report returned successfully.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/AnalysisReport'
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /get/sample:
    post:
      operationId: getSample
      summary: Palo Alto Networks Download sample
      description: >-
        Downloads the original sample file identified by its hash. Only
        available for samples where the verdict is malware or grayware.
        Requires an API key with sample download permissions.
      tags:
        - Report
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - apikey
                - hash
              properties:
                apikey:
                  type: string
                  description: WildFire API key with sample download permissions.
                hash:
                  type: string
                  description: MD5 or SHA-256 hash of the sample to download.
                type:
                  type: string
                  enum:
                    - md5
                    - sha256
      responses:
        '200':
          description: Sample file returned successfully.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /get/pcap:
    post:
      operationId: getPcap
      summary: Palo Alto Networks Get PCAP file
      description: >-
        Downloads the network packet capture (PCAP) file recorded during
        sandbox analysis of the specified sample. PCAP files contain the
        network traffic generated by the malware during detonation.
      tags:
        - Report
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - apikey
                - hash
                - platform
              properties:
                apikey:
                  type: string
                  description: WildFire API key for authentication.
                hash:
                  type: string
                  description: MD5 or SHA-256 hash of the analyzed sample.
                type:
                  type: string
                  enum:
                    - md5
                    - sha256
                platform:
                  type: string
                  description: >-
                    Analysis platform identifier (e.g., 100 for Windows XP,
                    200 for Windows 7, 400 for Android).
      responses:
        '200':
          description: PCAP file returned successfully.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    BadRequest:
      description: Malformed request, missing required parameters, or invalid API key format.
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing API key or API key is invalid.
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: >-
        Valid API key but insufficient permissions for the requested operation
        (e.g., sample download requires elevated permissions).
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: No analysis result found for the specified hash.
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: An internal server error occurred.
      content:
        application/xml:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    SubmitResponse:
      type: object
      description: Response returned after successfully submitting a file, URL, or link.
      properties:
        upload-file-info:
          type: object
          properties:
            filename:
              type: string
              description: Original filename of the submitted file.
            filetype:
              type: string
              description: Detected file type.
            fileurl:
              type: string
              description: URL of the submitted link or URL sample.
            md5:
              type: string
              description: MD5 hash of the submitted file.
            sha256:
              type: string
              description: SHA-256 hash of the submitted file.
            size:
              type: integer
              description: File size in bytes.
            url:
              type: string
              description: Submitted URL value.
    VerdictResponse:
      type: object
      description: WildFire verdict result for a single file hash query.
      properties:
        get-verdict-info:
          type: object
          properties:
            md5:
              type: string
              description: MD5 hash of the queried file.
            sha256:
              type: string
              description: SHA-256 hash of the queried file.
            verdict:
              type: integer
              description: >-
                Verdict code: 0 (benign), 1 (malware), 2 (grayware),
                4 (phishing), -100 (pending), -101 (error), -102 (unknown),
                -103 (invalid hash).
              enum:
                - 0
                - 1
                - 2
                - 4
                - -100
                - -101
                - -102
                - -103
    BulkVerdictResponse:
      type: object
      description: WildFire bulk verdict results for multiple hash queries.
      properties:
        get-verdicts-info:
          type: object
          properties:
            entry:
              type: array
              items:
                type: object
                properties:
                  md5:
                    type: string
                  sha256:
                    type: string
                  verdict:
                    type: integer
    AnalysisReport:
      type: object
      description: >-
        Detailed WildFire analysis report including behavioral analysis,
        network activity, and system changes observed during sandbox execution.
      properties:
        wildfire:
          type: object
          properties:
            version:
              type: string
            file_info:
              type: object
              properties:
                file_stype:
                  type: string
                size:
                  type: integer
                md5:
                  type: string
                sha256:
                  type: string
                create_time:
                  type: string
                  format: date-time
            task_info:
              type: object
              properties:
                report:
                  oneOf:
                    - $ref: '#/components/schemas/SandboxReport'
                    - type: array
                      items:
                        $ref: '#/components/schemas/SandboxReport'
    SandboxReport:
      type: object
      description: Analysis results from a single sandbox execution environment.
      properties:
        platform:
          type: string
          description: Platform identifier (e.g., 100 for Windows XP SP3).
        software:
          type: string
          description: Sandbox software environment.
        version:
          type: string
        summary:
          type: object
          properties:
            '@verdict':
              type: string
              enum:
                - benign
                - malware
                - grayware
                - phishing
        network:
          type: object
          properties:
            dns:
              type: array
              items:
                type: object
                properties:
                  '@query':
                    type: string
                  '@response':
                    type: string
            tcp:
              type: array
              items:
                type: object
                properties:
                  '@ip':
                    type: string
                  '@port':
                    type: integer
                  '@country':
                    type: string
            http:
              type: array
              items:
                type: object
                properties:
                  '@request':
                    type: string
                  '@response':
                    type: string
        process_list:
          type: object
          properties:
            process:
              type: array
              items:
                type: object
                properties:
                  '@name':
                    type: string
                  '@pid':
                    type: string
                  '@text':
                    type: string
    ErrorResponse:
      type: object
      description: Error response returned when a request fails.
      properties:
        error:
          type: object
          properties:
            error-message:
              type: string
              description: Human-readable error message.
