openapi: 3.2.0
info:
  version: 2.0.0
  title: Security Services Security Rules API
  description: These APIs are used for defining and managing security services configurations within Strata Cloud Manager.
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
servers:
- url: https://api.strata.paloaltonetworks.com/config/security/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
security:
- scmToken: []
tags:
- name: Security Rules
  description: Security Rules
paths:
  /security-rules:
    get:
      tags:
      - Security Rules
      summary: List security rules
      description: Retrieve a list of security rules.
      operationId: ListRules
      parameters:
      - $ref: '#/components/parameters/name'
      - $ref: '#/components/parameters/position'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/snippet'
      - $ref: '#/components/parameters/device'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRuleListResponse'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    post:
      tags:
      - Security Rules
      summary: Create a security rule
      description: Create a new security rule.
      operationId: CreateSecurityRules
      parameters:
      - $ref: '#/components/parameters/position'
      requestBody:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/security-rules'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/security-rules'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /security-rules/{id}:
    get:
      tags:
      - Security Rules
      summary: Get a security rule
      description: Get an existing security rule.
      operationId: GetSecurityRulesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/security-rules'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
    put:
      tags:
      - Security Rules
      summary: Update a security rule
      description: Update an existing security rule.
      operationId: UpdateSecurityRulesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/security-rules'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/security-rules'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    delete:
      tags:
      - Security Rules
      summary: Delete a security rule
      description: Delete a security rule.
      operationId: DeleteSecurityRulesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /security-rules/{id}:move:
    post:
      tags:
      - Security Rules
      summary: Move a security rule
      description: Move an existing security rule.
      operationId: MoveSecurityRulesByID
      parameters:
      - $ref: '#/components/parameters/uuid'
      requestBody:
        description: OK
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rule-based-move'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
  /sse/config/v1/security-rules:
    get:
      description: List security rules.
      operationId: get-sse-config-v1-security-rules
      parameters:
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/position'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/name-optional'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/security-rules'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of security rules
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: List security rules
      tags:
      - Security Rules
    post:
      description: Create a security rule.
      operationId: post-sse-config-v1-security-rules
      parameters:
      - $ref: '#/components/parameters/position'
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/security-rules'
        description: The security rule you want to create
      responses:
        '200':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create a security rule
      tags:
      - Security Rules
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/security-rules/{id}:
    delete:
      description: Delete a security rule.
      operationId: delete-sse-config-v1-security-rules-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete a security rule
      tags:
      - Security Rules
    get:
      description: Get a security rule.
      operationId: get-sse-config-v1-security-rules-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - items:
                    $ref: '#/components/schemas/security-rules'
                  type: array
          description: Get security rule by id
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Get a security rule
      tags:
      - Security Rules
    put:
      description: Modify a security rule.
      operationId: put-sse-config-v1-security-rules-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/security-rules'
        description: The security rule you want to edit
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Edit a security rule
      tags:
      - Security Rules
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/security-rules/{id}:move:
    post:
      description: Move a security rule.
      operationId: post-sse-config-v1-security-rules-id:move
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rule-based-move'
        description: The security rule you want to move
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Move a security rule
      tags:
      - Security Rules
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /config/rulestacks/{rulestack}/security-rules:
    get:
      operationId: listSecurityRules
      summary: Palo Alto Networks List Security Rules
      description: Returns all security rules in the specified rule stack. Security rules are evaluated in priority order and define traffic inspection and forwarding policy for the Cloud NGFW.
      tags:
      - Security Rules
      parameters:
      - $ref: '#/components/parameters/rulestack'
      - name: maxresults
        in: query
        description: Maximum number of rules to return.
        schema:
          type: integer
          default: 100
        example: 100
      - name: nexttoken
        in: query
        description: Pagination token from a previous response.
        schema:
          type: string
        example: example-nexttoken
      - name: listtype
        in: query
        description: Whether to return candidate or running configuration.
        schema:
          type: string
          enum:
          - CANDIDATE
          - RUNNING
          default: CANDIDATE
        example: CANDIDATE
      responses:
        '200':
          description: Security rules returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    type: object
                    properties:
                      RuleListCandidate:
                        type: array
                        items:
                          $ref: '#/components/schemas/SecurityRuleSummary'
                      NextToken:
                        type: string
                  ResponseStatus:
                    $ref: '#/components/schemas/ResponseStatus'
              examples:
                ListSecurityRules200Example:
                  summary: Default listSecurityRules 200 response
                  x-microcks-default: true
                  value:
                    Response:
                      RuleListCandidate:
                      - Priority: 234
                        RuleName: Production Policy 12
                        Enabled: false
                      NextToken: example-NextToken
                    ResponseStatus:
                      ErrorCode: 0
                      Reason: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - awsSigV4: []
    post:
      operationId: createSecurityRule
      summary: Palo Alto Networks Create Security Rule
      description: Creates a new security rule in the rule stack at the specified priority. Rules with lower priority numbers are evaluated first. Define source and destination criteria, applications, and the enforcement action.
      tags:
      - Security Rules
      parameters:
      - $ref: '#/components/parameters/rulestack'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityRuleRequest'
            examples:
              CreateSecurityRuleRequestExample:
                summary: Default createSecurityRule request
                x-microcks-default: true
                value:
                  Priority: 48316
                  RuleEntry:
                    RuleName: Primary Gateway 01
                    Description: Activity Security blocked suspicious threat alert activity firewall.
                    Enabled: true
                    Source:
                      Cidrs:
                      - example-Cidrs_item
                      Countries:
                      - example-Countries_item
                      Feeds:
                      - example-Feeds_item
                      - example-Feeds_item
                      PrefixLists:
                      - example-PrefixLists_item
                      - example-PrefixLists_item
                    Destination:
                      Cidrs:
                      - example-Cidrs_item
                      - example-Cidrs_item
                      Countries:
                      - example-Countries_item
                      - example-Countries_item
                      Feeds:
                      - example-Feeds_item
                      FqdnLists:
                      - example-FqdnLists_item
                      - example-FqdnLists_item
                      PrefixLists:
                      - example-PrefixLists_item
                    Applications:
                    - ssh
                    Protocol: APPLICATION-DEFAULT
                    Action: DenySilent
      responses:
        '200':
          description: Security rule created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    $ref: '#/components/schemas/SecurityRule'
                  ResponseStatus:
                    $ref: '#/components/schemas/ResponseStatus'
              examples:
                CreateSecurityRule200Example:
                  summary: Default createSecurityRule 200 response
                  x-microcks-default: true
                  value:
                    Response:
                      Priority: 707
                      RuleEntry:
                        RuleName: Primary Gateway 01
                        Description: Firewall alert incident monitoring investigation threat threat blocked activity monitoring.
                        Enabled: true
                        Source:
                          Cidrs:
                          - example-Cidrs_item
                          - example-Cidrs_item
                          Countries:
                          - example-Countries_item
                          - example-Countries_item
                          Feeds:
                          - example-Feeds_item
                          PrefixLists:
                          - example-PrefixLists_item
                        NegateSource: false
                        Destination:
                          Cidrs:
                          - example-Cidrs_item
                          Countries:
                          - example-Countries_item
                          - example-Countries_item
                          Feeds:
                          - example-Feeds_item
                          FqdnLists:
                          - example-FqdnLists_item
                          - example-FqdnLists_item
                          PrefixLists:
                          - example-PrefixLists_item
                        NegateDestination: false
                        Applications:
                        - dns
                        - web-browsing
                        Category:
                          URLCategoryNames:
                          - Production Sensor 06
                          Feeds:
                          - example-Feeds_item
                        Protocol: UDP
                        Action: Allow
                        DecryptionRuleType: SSLOutboundInspection
                        AuditComment: Rule malware monitoring malware firewall violation suspicious detected applied firewall detected applied.
                    ResponseStatus:
                      ErrorCode: 0
                      Reason: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - awsSigV4: []
    servers:
    - url: https://api.{region}.aws.cloudngfw.paloaltonetworks.com/v1
      description: Cloud NGFW for AWS regional API endpoint.
      variables:
        region:
          description: AWS region where Cloud NGFW is deployed (e.g., us-east-1, us-west-2, eu-west-1).
          default: us-east-1
  /config/rulestacks/{rulestack}/security-rules/{priority}:
    get:
      operationId: getSecurityRule
      summary: Palo Alto Networks Get Security Rule
      description: Returns a specific security rule by its priority number within the rule stack.
      tags:
      - Security Rules
      parameters:
      - $ref: '#/components/parameters/rulestack'
      - $ref: '#/components/parameters/priority'
      - name: candidate
        in: query
        description: Return candidate configuration if true, running configuration if false.
        schema:
          type: boolean
          default: true
        example: true
      responses:
        '200':
          description: Security rule returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    $ref: '#/components/schemas/SecurityRule'
                  ResponseStatus:
                    $ref: '#/components/schemas/ResponseStatus'
              examples:
                GetSecurityRule200Example:
                  summary: Default getSecurityRule 200 response
                  x-microcks-default: true
                  value:
                    Response:
                      Priority: 707
                      RuleEntry:
                        RuleName: Primary Gateway 01
                        Description: Firewall alert incident monitoring investigation threat threat blocked activity monitoring.
                        Enabled: true
                        Source:
                          Cidrs:
                          - example-Cidrs_item
                          - example-Cidrs_item
                          Countries:
                          - example-Countries_item
                          - example-Countries_item
                          Feeds:
                          - example-Feeds_item
                          PrefixLists:
                          - example-PrefixLists_item
                        NegateSource: false
                        Destination:
                          Cidrs:
                          - example-Cidrs_item
                          Countries:
                          - example-Countries_item
                          - example-Countries_item
                          Feeds:
                          - example-Feeds_item
                          FqdnLists:
                          - example-FqdnLists_item
                          - example-FqdnLists_item
                          PrefixLists:
                          - example-PrefixLists_item
                        NegateDestination: false
                        Applications:
                        - dns
                        - web-browsing
                        Category:
                          URLCategoryNames:
                          - Production Sensor 06
                          Feeds:
                          - example-Feeds_item
                        Protocol: UDP
                        Action: Allow
                        DecryptionRuleType: SSLOutboundInspection
                        AuditComment: Rule malware monitoring malware firewall violation suspicious detected applied firewall detected applied.
                    ResponseStatus:
                      ErrorCode: 0
                      Reason: ''
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - awsSigV4: []
    put:
      operationId: updateSecurityRule
      summary: Palo Alto Networks Update Security Rule
      description: Updates an existing security rule at the specified priority in the rule stack.
      tags:
      - Security Rules
      parameters:
      - $ref: '#/components/parameters/rulestack'
      - $ref: '#/components/parameters/priority'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityRuleRequest'
            examples:
              UpdateSecurityRuleRequestExample:
                summary: Default updateSecurityRule request
                x-microcks-default: true
                value:
                  Priority: 48316
                  RuleEntry:
                    RuleName: Primary Gateway 01
                    Description: Activity Security blocked suspicious threat alert activity firewall.
                    Enabled: true
                    Source:
                      Cidrs:
                      - example-Cidrs_item
                      Countries:
                      - example-Countries_item
                      Feeds:
                      - example-Feeds_item
                      - example-Feeds_item
                      PrefixLists:
                      - example-PrefixLists_item
                      - example-PrefixLists_item
                    Destination:
                      Cidrs:
                      - example-Cidrs_item
                      - example-Cidrs_item
                      Countries:
                      - example-Countries_item
                      - example-Countries_item
                      Feeds:
                      - example-Feeds_item
                      FqdnLists:
                      - example-FqdnLists_item
                      - example-FqdnLists_item
                      PrefixLists:
                      - example-PrefixLists_item
                    Applications:
                    - ssh
                    Protocol: APPLICATION-DEFAULT
                    Action: DenySilent
      responses:
        '200':
          description: Security rule updated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Response:
                    $ref: '#/components/schemas/SecurityRule'
                  ResponseStatus:
                    $ref: '#/components/schemas/ResponseStatus'
              examples:
                UpdateSecurityRule200Example:
                  summary: Default updateSecurityRule 200 response
                  x-microcks-default: true
                  value:
                    Response:
                      Priority: 707
                      RuleEntry:
                        RuleName: Primary Gateway 01
                        Description: Firewall alert incident monitoring investigation threat threat blocked activity monitoring.
                        Enabled: true
                        Source:
                          Cidrs:
                          - example-Cidrs_item
                          - example-Cidrs_item
                          Countries:
                          - example-Countries_item
                          - example-Countries_item
                          Feeds:
                          - example-Feeds_item
                          PrefixLists:
                          - example-PrefixLists_item
                        NegateSource: false
                        Destination:
                          Cidrs:
                          - example-Cidrs_item
                          Countries:
                          - example-Countries_item
                          - example-Countries_item
                          Feeds:
                          - example-Feeds_item
                          FqdnLists:
                          - example-FqdnLists_item
                          - example-FqdnLists_item
                          PrefixLists:
                          - example-PrefixLists_item
                        NegateDestination: false
                        Applications:
                        - dns
                        - web-browsing
                        Category:
                          URLCategoryNames:
                          - Production Sensor 06
                          Feeds:
                          - example-Feeds_item
                        Protocol: UDP
                        Action: Allow
                        DecryptionRuleType: SSLOutboundInspection
                        AuditComment: Rule malware monitoring malware firewall violation suspicious detected applied firewall detected applied.
                    ResponseStatus:
                      ErrorCode: 0
                      Reason: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - awsSigV4: []
    delete:
      operationId: deleteSecurityRule
      summary: Palo Alto Networks Delete Security Rule
      description: Deletes the security rule at the specified priority from the rule stack.
      tags:
      - Security Rules
      parameters:
      - $ref: '#/components/parameters/rulestack'
      - $ref: '#/components/parameters/priority'
      responses:
        '200':
          description: Security rule deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ResponseStatus:
                    $ref: '#/components/schemas/ResponseStatus'
              examples:
                DeleteSecurityRule200Example:
                  summary: Default deleteSecurityRule 200 response
                  x-microcks-default: true
                  value:
                    ResponseStatus:
                      ErrorCode: 0
                      Reason: ''
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - awsSigV4: []
    servers:
    - url: https://api.{region}.aws.cloudngfw.paloaltonetworks.com/v1
      description: Cloud NGFW for AWS regional API endpoint.
      variables:
        region:
          description: AWS region where Cloud NGFW is deployed (e.g., us-east-1, us-west-2, eu-west-1).
          default: us-east-1
components:
  parameters:
    snippet:
      name: snippet
      in: query
      description: 'The snippet in which the resource is defined

        '
      required: false
      schema:
        type: string
    position:
      name: position
      in: query
      description: 'The position of a security rule

        '
      required: true
      schema:
        enum:
        - pre
        - post
        default: pre
    limit:
      name: limit
      in: query
      description: The maximum number of results per page
      required: false
      schema:
        type: integer
        default: 200
    offset:
      name: offset
      in: query
      description: The offset into the list of results returned
      required: false
      schema:
        type: integer
        default: 0
    device:
      name: device
      in: query
      description: 'The device in which the resource is defined

        '
      required: false
      schema:
        type: string
    name:
      name: name
      in: query
      description: The name of the configuration resource
      required: false
      schema:
        type: string
    folder:
      name: folder
      in: query
      description: 'The folder in which the resource is defined

        '
      required: false
      schema:
        type: string
    uuid:
      name: id
      in: path
      description: The UUID of the configuration resource
      required: true
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426655440000
    offset-optional:
      description: 'The offset of the result entry.

        '
      in: query
      name: offset
      required: false
      schema:
        type: number
    uuid-required:
      description: 'The resource''s unique identifier.

        '
      in: path
      name: id
      required: true
      schema:
        type: string
    limit-optional:
      description: 'The maximum number of result objects to return per page.

        '
      in: query
      name: limit
      required: false
      schema:
        type: number
    name-optional:
      description: 'The name of the entry.

        '
      in: query
      name: name
      required: false
      schema:
        type: string
    priority:
      name: priority
      in: path
      required: true
      description: Priority number of the security rule. Rules with lower numbers are evaluated first (range 1-65535).
      schema:
        type: integer
        minimum: 1
        maximum: 65535
    rulestack:
      name: rulestack
      in: path
      required: true
      description: Name of the rule stack.
      schema:
        type: string
    position_2:
      name: position
      in: query
      description: Rulebase position filter.
      schema:
        type: string
        enum:
        - pre
        - post
    folder_2:
      name: folder
      in: query
      description: Configuration folder scope (e.g., Shared, Mobile Users, Remote Networks, Service Connections).
      schema:
        type: string
    id:
      name: id
      in: path
      required: true
      description: Unique identifier of the resource.
      schema:
        type: string
        format: uuid
    folder_3:
      name: folder
      in: query
      description: Configuration folder scope (e.g., Shared, Mobile Users, Remote Networks, Service Connections).
      schema:
        type: string
    position_3:
      name: position
      in: query
      description: Rulebase position filter.
      schema:
        type: string
        enum:
        - pre
        - post
  examples:
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Input Format Mismatch: input-format=json'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          message: Key Too Long
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          message: 'Action Not Supported: move'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: '4'
          message: Session Timeout
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          message: Object Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          message: Missing Body
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          message: Unauthorized
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          message: Name Not Unique
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Invalid Query Parameter: location=invalid'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          message: Reference Not Zero
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          message: Object Not Present
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          message: Invalid Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          message: The password needs to be changed.
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          message: Not Authenticated
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          message: Version Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          message: Invalid Credential
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          message: Method Not Supported
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          message: Invalid Object
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          message: Malformed Command
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          message: Key Expired
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          message: Bad XPath
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          message: 'Missing Query Parameter: name'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          message: 'Output Format Mismatch: output-format=json Accept=xml'
          details: {}
        _request_id: 123e4567-e89b-12d3-a456-426655440000
  schemas:
    error_detail_cause_infos:
      type: array
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      x-examples: {}
    SecurityRuleListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/security-rules'
        limit:
          type: integer
          default: 200
        offset:
          type: integer
          default: 0
        total:
          type: integer
    internet-rule-type:
      type: object
      description: A simplified security rule for controlling internet access.
      allOf:
      - $ref: '#/components/schemas/base-rule-properties'
      - type: object
        properties:
          negate_user:
            type: boolean
            default: false
          devices:
            type: array
            items:
              type: string
            default:
            - any
          action:
            enum:
            - allow
            - deny
            default: allow
          log_settings:
            type: object
            properties:
              log_sessions:
                type: boolean
                default: true
          security_settings:
            type: object
            properties:
              anti_spyware:
                type: string
                enum:
                - true
                - false
                default: true
              vulnerability:
                type: string
                enum:
                - true
                - false
                default: true
              virus_and_wildfire_analysis:
                type: string
                enum:
                - true
                - false
                default: true
          block_web_application:
            type: array
            items:
              type: string
          block_url_category:
            type: array
            items:
              type: string
          allow_web_application:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                type:
                  type: string
                file_control:
                  type: object
                  properties:
                    upload:
                      type: string
                      enum:
                      - allow-all-file-types
                      - best-practice
                      - block-all-file-types
                    download:
                      type: string
                      enum:
                      - allow-all-file-types
                      - best-practice
                      - block-all-file-types
                saas_enterprise_control:
                  type: object
                  properties:
                    consumer_access:
                      type: object
                      properties:
                        enable:
                          type: string
                          enum:
                          - true
                          - false
                    enterprise_access:
                      type: object
                      properties:
                        enable:
                          type: string
                          enum:
                          - true
                          - false
                        tenant_restrictions:
                          type: array
                          items:
                            type: string
                application_function:
                  type: array
                  items:
                    type: string
                dlp:
                  type: string
                saas_tenant_list:
                  type: array
                  items:
                    type: string
                saas_user_list:
                  type: array
                  items:
                    type: string
                tenant_control:
                  type: object
                  properties:
                    tenants:
                      type: array
                      items:
                        type: string
                    allowed_activities:
                      type: array
                      items:
                        type: string
                    blocked_activities:
                      type: array
                      items:
                        type: string
                    parent_application:
                      type: string
          allow_url_category:
            type: array
            items:
              type: object
              properties:
                name:
                  type: string
                decryption:
                  type: string
                  enum:
                  - enabled
                  - disabled
                  default: enabled
                credential_enforcement:
                  type: string
                  enum:
                  - enabled
                  - disabled
                  default: enabled
                additional_action:
                  type: string
                  enum:
                  - none
                  - continue
                  - redirect
                  - isolate
                  default: none
                isolation_profiles:
                  type: string
                  default: none
                file_control:
                  type: object
                  properties:
                    upload:
                      type: string
                      enum:
                      - allow-all-file-types
                      - best-practice
                      - block-all-file-types
                    download:
                      type: string
                      enum:
                      - allow-all-file-types
                      - best-practice
                      - block-all-file-types
                dlp:
                  type: string
          default_profile_settings:
            type: object
            properties:
              file_control:
                type: object
                properties:
                  upload:
                    type: string
                    enum:
                    - allow-all-file-types
                    - best-practice
                    - block-all-file-types
                  download:
                    type: string
                    enum:
                    - allow-all-file-types
                    - best-practice
                    - block-all-file-types
              dlp:
                type: string
    rule-based-move:
      type: object
      title: rule-based-move
      properties:
        destination:
          enum:
          - top
          - bottom
          - before
          - after
          description: A destination of the rule. Valid destination values are top, bottom, before and after.
        rulebase:
          enum:
          - pre
          - post
          description: A base of a rule. Valid rulebase values are pre and post.
        destination_rule:
          type: string
          description: A destination_rule attribute is required only if the destination value is before or after. Valid destination_rule values are existing rule UUIDs within the same container.
      required:
      - destination
      - rulebase
    generic_error:
      type: object
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      x-examples: {}
    security-rule-type:
      type: object
      required:
      - from
      - to
      - source
      - source_user
      - destination
      - service
      - action
      description: A standard security rule for controlling traffic between zones.
      allOf:
      - $ref: '#/components/schemas/base-rule-properties'
      - type: object
        required:
        - category
        - application
        properties:
          negate_destination:
            type: boolean
            description: Negate the destination addresses(es)?
            default: false
          source_hip:
            type: array
            description: The source Host Integrity Profile(s)
            items:
              type: string
              default: any
          destination_hip:
            type: array
            description: The destination Host Integrity Profile(s)
            uniqueItems: true
            items:
              type: string
              default: any
          application:
            type: array
            description: The application(s) being accessed
            uniqueItems: true
            items:
              type: string
              default: any
          category:
            type: array
            description: The URL categories being accessed
            uniqueItems: true
            items:
              type: string
              default: any
          action:
            enum:
            - allow
            - deny
            - drop
            - reset-client
            - reset-server
            - reset-both
            description: The action to be taken when the rule is matched
          profile_setting:
            type: object
            description: The security profile object
            properties:
              group:
                type: array
                description: The security profile group
                items:
                  type: string
                  default: best-practice
          log_setting:
            type: string
            description: The external log forwarding profile
          log_start:
            type: boolean
            description: Log at session start?
          log_end:
            type: boolean
            description: Log at session end?
          tenant_restrictions:
            type: array
            items:
              type: string
              default: any
    error_detail_cause_info:
      type: object
      title: Cause Info
      properties:
        code:
          type: string
        message:
          type: string
        details:
          oneOf:
          - type: string
          - type: object
        help:
          type: string
    security-rules:
      type: object
      description: 'Represents a Security or Internet security rule.

        A rule must be one of the policy types AND exist in one scope (folder, snippet, or device).'
      allOf:
      - oneOf:
        - $ref: '#/components/schemas/security-rule-type'
        - $ref: '#/components/schemas/internet-rule-type'
        discriminator:
          propertyName: policy_type
          mapping:
            Security: '#/components/schemas/security-rule-type'
            Internet: '#/components/schemas/internet-rule-type'
      - oneOf:
        - type: object
          title: folder
          required:
          - folder
          properties:
            folder:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The folder in which the resource is defined
        - type: object
          title: snippet
          required:
          - snippet
          properties:
            snippet:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The snippet in which the resource is defined
        - type: object
          title: device
          required:
          - device
          properties:
            device:
              type: string
              pattern: ^[a-zA-Z\d\-_\. ]+$
              maxLength: 64
              description: The device in which the resource is defined
    base-rule-properties:
      type: object
      required:
      - name
      properties:
        id:
          type: string
          description: The UUID of the security rule
          format: uuid
          readOnly: true
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          description: The name of the security rule
        policy_type:
          type: string
          default: Security
        disabled:
          type: boolean
          description: Is the security rule disabled?
          default: false
        description:
          type: string
          description: The description of the security rule
        tag:
          type: array
          description: The tags associated with the security rule
          uniqueItems: true
          items:
            type: string
        from:
          type: array
          description: The source security zone(s)
          uniqueItems: true
          items:
            type: string
            default: any
        to:
          type: array
          description: The destination security zone(s)
          uniqueItems: true
          items:
            type: string
            default: any
        source:
          type: array
          description: The source addresses(es)
          uniqueItems: true
          items:
            type: string
            default: any
        negate_source:
          type: boolean
          description: Negate the source address(es)?
          default: false
        source_user:
          type: array
          description: List of source users and/or groups.  Reserved words include `any`, `pre-login`, `known-user`, and `unknown`.
          uniqueItems: true
          items:
            type: string
            default: any
        destination:
          type: array
          description: The destination address(es)
          uniqueItems: true
          items:
            type: string
            default: any
        service:
          type: array
          description: The service(s) being accessed
          uniqueItems: true
          items:
            type: string
            default: any
        schedule:
          type: string
          description: Schedule in which this rule will be applied
        action:
          enum:
          - allow
          - deny
          - drop
          - reset-client
          - reset-server
          - reset-both
          description: The action to be taken when the rule is matched
    SecurityRuleRequest:
      type: object
      required:
      - Priority
      - RuleEntry
      properties:
        Priority:
          type: integer
          minimum: 1
          maximum: 65535
          example: 48316
        RuleEntry:
          type: object
          required:
          - RuleName
          - Action
          properties:
            RuleName:
              type: string
              example: Primary Sensor 76
            Description:
              type: string
              example: Threat alert rule policy investigation on activity rule threat activity traffic.
            Enabled:
              type: boolean
              default: true
              example: true
            Source:
              $ref: '#/components/schemas/RuleSource'
            Destination:
              $ref: '#/components/schemas/RuleDestination'
            Applications:
              type: array
              items:
                type: string
              example:
              - ssl
              - web-browsing
            Protocol:
              type: string
              enum:
              - APPLICATION-DEFAULT
              - ANY
              example: APPLICATION-DEFAULT
            Action:
              type: string
              enum:
              - Allow
              - DenyResetBoth
              - DenyResetServer
              - DenySilent
              example: DenyResetServer
          example:
            RuleName: Primary Gateway 01
            Description: Activity Security blocked suspicious threat alert activity firewall.
            Enabled: true
            Source:
              Cidrs:
              - example-Cidrs_item
              Countries:
              - example-Countries_item
              Feeds:
              - example-Feeds_item
              - example-Feeds_item
              PrefixLists:
              - example-PrefixLists_item
              - example-PrefixLists_item
            Destination:
              Cidrs:
              - example-Cidrs_item
              - example-Cidrs_item
              Countries:
              - example-Countries_item
              - example-Countries_item
              Feeds:
              - example-Feeds_item
              FqdnLists:
              - example-FqdnLists_item
              - example-FqdnLists_item
              PrefixLists:
              - example-PrefixLists_item
            Applications:
            - ssh
            Protocol: APPLICATION-DEFAULT
            Action: DenySilent
    RuleSource:
      type: object
      description: Traffic source matching criteria for a security rule.
      properties:
        Cidrs:
          type: array
          items:
            type: string
          description: Source CIDR blocks (e.g., 10.0.0.0/8).
          example:
          - example-Cidrs_item
          - example-Cidrs_item
        Countries:
          type: array
          items:
            type: string
          description: Source country codes (ISO 3166-1 alpha-2).
          example:
          - example-Countries_item
        Feeds:
          type: array
          items:
            type: string
          description: Threat intelligence feed names.
          example:
          - example-Feeds_item
          - example-Feeds_item
        PrefixLists:
          type: array
          items:
            type: string
          description: Names of prefix lists defined in the rule stack.
          example:
          - example-PrefixLists_item
          - example-PrefixLists_item
    SecurityRule:
      type: object
      description: A security rule within a Cloud NGFW rule stack.
      properties:
        Priority:
          type: integer
          description: Rule evaluation priority (lower numbers evaluated first).
          example: 707
        RuleEntry:
          type: object
          properties:
            RuleName:
              type: string
              example: Staging Policy 40
            Description:
              type: string
              example: Threat network configured alert configured violation rule malware alert monitoring threat.
            Enabled:
              type: boolean
              default: true
              example: true
            Source:
              $ref: '#/components/schemas/RuleSource'
            NegateSource:
              type: boolean
              default: false
              example: false
            Destination:
              $ref: '#/components/schemas/RuleDestination'
            NegateDestination:
              type: boolean
              default: false
              example: false
            Applications:
              type: array
              items:
                type: string
              description: Application names to match (use any for all applications).
              example:
              - ssl
              - ssh
            Category:
              type: object
              properties:
                URLCategoryNames:
                  type: array
                  items:
                    type: string
                  example:
                  - Staging Firewall 58
                  - Primary Firewall 83
                Feeds:
                  type: array
                  items:
                    type: string
                  example:
                  - example-Feeds_item
                  - example-Feeds_item
              example:
                URLCategoryNames:
                - Production Firewall 26
                - Primary Policy 38
                Feeds:
                - example-Feeds_item
            Protocol:
              type: string
              enum:
              - APPLICATION-DEFAULT
              - TCP
              - UDP
              - ICMP
              - ANY
              example: ICMP
            Action:
              type: string
              enum:
              - Allow
              - DenyResetBoth
              - DenyResetServer
              - DenySilent
              example: Allow
            DecryptionRuleType:
              type: string
              enum:
              - SSLOutboundInspection
              - None
              example: None
            AuditComment:
              type: string
              example: Blocked suspicious rule investigation activity on.
          example:
            RuleName: Primary Gateway 01
            Description: Firewall alert incident monitoring investigation threat threat blocked activity monitoring.
            Enabled: true
            Source:
              Cidrs:
              - example-Cidrs_item
              - example-Cidrs_item
              Countries:
              - example-Countries_item
              - example-Countries_item
              Feeds:
              - example-Feeds_item
              PrefixLists:
              - example-PrefixLists_item
            NegateSource: false
            Destination:
              Cidrs:
              - example-Cidrs_item
              Countries:
              - example-Countries_item
              - example-Countries_item
              Feeds:
              - example-Feeds_item
              FqdnLists:
              - example-FqdnLists_item
              - example-FqdnLists_item
              PrefixLists:
              - example-PrefixLists_item
            NegateDestination: false
            Applications:
            - dns
            - web-browsing
            Category:
              URLCategoryNames:
              - Production Sensor 06
              Feeds:
              - example-Feeds_item
            Protocol: UDP
            Action: Allow
            DecryptionRuleType: SSLOutboundInspection
            AuditComment: Rule malware monitoring malware firewall violation suspicious detected applied firewall detected applied.
    ErrorResponse:
      type: object
      properties:
        ResponseStatus:
          type: object
          properties:
            ErrorCode:
              type: integer
              example: 869
            Reason:
              type: string
              example: Blocked investigation activity firewall activity malware network on applied.
          example:
            ErrorCode: 719
            Reason: Alert incident applied violation rule blocked alert violation incident suspicious suspicious.
    RuleDestination:
      type: object
      description: Traffic destination matching criteria for a security rule.
      properties:
        Cidrs:
          type: array
          items:
            type: string
          description: Destination CIDR blocks.
          example:
          - example-Cidrs_item
          - example-Cidrs_item
        Countries:
          type: array
          items:
            type: string
          description: Destination country codes.
          example:
          - example-Countries_item
          - example-Countries_item
        Feeds:
          type: array
          items:
            type: string
          example:
          - example-Feeds_item
        FqdnLists:
          type: array
          items:
            type: string
          description: Names of FQDN lists defined in the rule stack.
          example:
          - example-FqdnLists_item
        PrefixLists:
          type: array
          items:
            type: string
          example:
          - example-PrefixLists_item
    ResponseStatus:
      type: object
      description: Standard API response status envelope included in all responses.
      properties:
        ErrorCode:
          type: integer
          description: Error code. 0 indicates success.
          example: 0
        Reason:
          type: string
          description: Human-readable status message.
          example: ''
    SecurityRuleSummary:
      type: object
      properties:
        Priority:
          type: integer
          example: 234
        RuleName:
          type: string
          example: Production Policy 12
        Enabled:
          type: boolean
          example: false
    ErrorResponse_3:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Investigation incident suspicious network policy network endpoint endpoint policy investigation activity.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Security monitoring rule configured endpoint on network blocked.
            details: {}
          - code: example-code
            message: Security on on threat monitoring activity policy.
            details: {}
        _request_id:
          type: string
          description: Unique request identifier for troubleshooting.
          example: '574499'
    SecurityRuleList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SecurityRule_3'
          example:
          - id: 6c72fa83-24c0-4558-897f-a344aa4b1076
            name: Branch Firewall 85
            folder: example-folder
            position: post
            from:
            - example-from_item
            to:
            - example-to_item
            - example-to_item
            source:
            - example-source_item
            - example-source_item
            destination:
            - example-destination_item
            - example-destination_item
            source_user:
            - example-source_user_item
            application:
            - ssl
            service:
            - example-service_item
            - example-service_item
            category:
            - advanced
            action: reset-both
            log_setting: example-log_setting
            profile_setting:
              group:
              - example-group_item
              - example-group_item
            disabled: false
            description: Alert activity firewall malware traffic incident Security configured rule.
            tag:
            - critical-asset
          - id: 6c72fa83-24c0-4558-897f-a344aa4b1076
            name: Branch Firewall 85
            folder: example-folder
            position: post
            from:
            - example-from_item
            to:
            - example-to_item
            - example-to_item
            source:
            - example-source_item
            - example-source_item
            destination:
            - example-destination_item
            - example-destination_item
            source_user:
            - example-source_user_item
            application:
            - ssl
            service:
            - example-service_item
            - example-service_item
            category:
            - advanced
            action: reset-both
            log_setting: example-log_setting
            profile_setting:
              group:
              - example-group_item
              - example-group_item
            disabled: false
            description: Alert activity firewall malware traffic incident Security configured rule.
            tag:
            - critical-asset
        offset:
          type: integer
          example: 977
        total:
          type: integer
          example: 964
        limit:
          type: integer
          example: 574
    SecurityRule_2:
      type: object
      required:
      - name
      - from
      - to
      - source
      - destination
      - application
      - action
      properties:
        id:
          type: string
          readOnly: true
          example: example-id
        name:
          type: string
          description: Name of the security rule.
          example: Branch Policy 74
        description:
          type: string
          example: Security incident incident threat violation malware.
        disabled:
          type: boolean
          default: false
          example: false
        from:
          type: array
          description: Source security zones.
          items:
            type: string
          example:
          - example-from_item
        to:
          type: array
          description: Destination security zones.
          items:
            type: string
          example:
          - example-to_item
        source:
          type: array
          description: Source addresses or address groups.
          items:
            type: string
          example:
          - example-source_item
          - example-source_item
        destination:
          type: array
          description: Destination addresses or address groups.
          items:
            type: string
          example:
          - example-destination_item
        source_user:
          type: array
          description: Source user or user group names.
          items:
            type: string
          example:
          - example-source_user_item
        application:
          type: array
          description: Applications to match.
          items:
            type: string
          example:
          - ssl
          - dns
        service:
          type: array
          description: Services or service groups to match.
          items:
            type: string
          example:
          - example-service_item
        category:
          type: array
          description: URL categories to match.
          items:
            type: string
          example:
          - custom
        action:
          type: string
          enum:
          - allow
          - deny
          - drop
          - reset-client
          - reset-server
          - reset-both
          description: Action to take when the rule matches.
          example: drop
        profile_setting:
          type: object
          properties:
            group:
              type: array
              items:
                type: string
              description: Security profile group names.
              example:
              - example-group_item
          example:
            group:
            - example-group_item
        log_setting:
          type: string
          description: Log forwarding profile name.
          example: example-log_setting
        tag:
          type: array
          items:
            type: string
          example:
          - production
          - critical-asset
        folder:
          type: string
          readOnly: true
          example: example-folder
        position:
          type: string
          enum:
          - pre
          - post
          readOnly: true
          example: pre
    SecurityRule_3:
      type: object
      description: A security policy rule defining traffic matching criteria and enforcement action applied by managed firewalls.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 6c72fa83-24c0-4558-897f-a344aa4b1076
        name:
          type: string
          example: Branch Firewall 85
        folder:
          type: string
          readOnly: true
          example: example-folder
        position:
          type: string
          enum:
          - pre
          - post
          example: post
        from:
          type: array
          items:
            type: string
          description: Source security zones.
          example:
          - example-from_item
        to:
          type: array
          items:
            type: string
          description: Destination security zones.
          example:
          - example-to_item
          - example-to_item
        source:
          type: array
          items:
            type: string
          description: Source addresses or address groups (use "any" for all).
          example:
          - example-source_item
          - example-source_item
        destination:
          type: array
          items:
            type: string
          description: Destination addresses or address groups.
          example:
          - example-destination_item
          - example-destination_item
        source_user:
          type: array
          items:
            type: string
          description: Source users or user groups.
          example:
          - example-source_user_item
        application:
          type: array
          items:
            type: string
          description: Applications to match (e.g., ssl, web-browsing).
          example:
          - ssl
        service:
          type: array
          items:
            type: string
          description: Service objects or application-default.
          example:
          - example-service_item
          - example-service_item
        category:
          type: array
          items:
            type: string
          description: URL categories to match.
          example:
          - advanced
        action:
          type: string
          enum:
          - allow
          - deny
          - drop
          - reset-client
          - reset-server
          - reset-both
          example: reset-both
        log_setting:
          type: string
          description: Log forwarding profile name.
          example: example-log_setting
        profile_setting:
          type: object
          properties:
            group:
              type: array
              items:
                type: string
              example:
              - example-group_item
          example:
            group:
            - example-group_item
            - example-group_item
        disabled:
          type: boolean
          default: false
          example: false
        description:
          type: string
          example: Alert activity firewall malware traffic incident Security configured rule.
        tag:
          type: array
          items:
            type: string
          example:
          - critical-asset
    ErrorResponse_2:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Alert malware configured threat rule network malware configured on.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Threat configured alert firewall violation monitoring traffic activity.
            details: {}
          - code: example-code
            message: Blocked threat Security traffic firewall monitoring malware endpoint suspicious network.
            details: {}
        _request_id:
          type: string
          example: '980164'
    DeleteResponse:
      type: object
      properties:
        id:
          type: string
          description: Identifier of the deleted resource.
          example: example-id
    SecurityRuleRequest_2:
      type: object
      required:
      - name
      - action
      properties:
        name:
          type: string
          example: Staging Policy 74
        from:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        to:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        source:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        destination:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        source_user:
          type: array
          items:
            type: string
          example:
          - example-source_user_item
        application:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        service:
          type: array
          items:
            type: string
          default:
          - application-default
          example:
          - application-default
        category:
          type: array
          items:
            type: string
          example:
          - standard
        action:
          type: string
          enum:
          - allow
          - deny
          - drop
          - reset-client
          - reset-server
          - reset-both
          example: allow
        log_setting:
          type: string
          example: example-log_setting
        profile_setting:
          type: object
          properties:
            group:
              type: array
              items:
                type: string
              example:
              - example-group_item
          example:
            group:
            - example-group_item
            - example-group_item
        disabled:
          type: boolean
          default: false
          example: false
        description:
          type: string
          example: Threat applied on alert monitoring incident rule on monitoring.
        tag:
          type: array
          items:
            type: string
          example:
          - critical-asset
          - production
    ErrorResponse_4:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Alert malware configured threat rule network malware configured on.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Threat configured alert firewall violation monitoring traffic activity.
            details: {}
          - code: example-code
            message: Blocked threat Security traffic firewall monitoring malware endpoint suspicious network.
            details: {}
        _request_id:
          type: string
          example: '980164'
    SecurityRule_4:
      type: object
      required:
      - name
      - from
      - to
      - source
      - destination
      - application
      - action
      properties:
        id:
          type: string
          readOnly: true
          example: example-id
        name:
          type: string
          description: Name of the security rule.
          example: Branch Policy 74
        description:
          type: string
          example: Security incident incident threat violation malware.
        disabled:
          type: boolean
          default: false
          example: false
        from:
          type: array
          description: Source security zones.
          items:
            type: string
          example:
          - example-from_item
        to:
          type: array
          description: Destination security zones.
          items:
            type: string
          example:
          - example-to_item
        source:
          type: array
          description: Source addresses or address groups.
          items:
            type: string
          example:
          - example-source_item
          - example-source_item
        destination:
          type: array
          description: Destination addresses or address groups.
          items:
            type: string
          example:
          - example-destination_item
        source_user:
          type: array
          description: Source user or user group names.
          items:
            type: string
          example:
          - example-source_user_item
        application:
          type: array
          description: Applications to match.
          items:
            type: string
          example:
          - ssl
          - dns
        service:
          type: array
          description: Services or service groups to match.
          items:
            type: string
          example:
          - example-service_item
        category:
          type: array
          description: URL categories to match.
          items:
            type: string
          example:
          - custom
        action:
          type: string
          enum:
          - allow
          - deny
          - drop
          - reset-client
          - reset-server
          - reset-both
          description: Action to take when the rule matches.
          example: drop
        profile_setting:
          type: object
          properties:
            group:
              type: array
              items:
                type: string
              description: Security profile group names.
              example:
              - example-group_item
          example:
            group:
            - example-group_item
        log_setting:
          type: string
          description: Log forwarding profile name.
          example: example-log_setting
        tag:
          type: array
          items:
            type: string
          example:
          - production
          - critical-asset
        folder:
          type: string
          readOnly: true
          example: example-folder
        position:
          type: string
          enum:
          - pre
          - post
          readOnly: true
          example: pre
    SecurityRuleRequest_3:
      type: object
      required:
      - name
      - action
      properties:
        name:
          type: string
          example: Staging Policy 74
        from:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        to:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        source:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        destination:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        source_user:
          type: array
          items:
            type: string
          example:
          - example-source_user_item
        application:
          type: array
          items:
            type: string
          default:
          - any
          example:
          - any
        service:
          type: array
          items:
            type: string
          default:
          - application-default
          example:
          - application-default
        category:
          type: array
          items:
            type: string
          example:
          - standard
        action:
          type: string
          enum:
          - allow
          - deny
          - drop
          - reset-client
          - reset-server
          - reset-both
          example: allow
        log_setting:
          type: string
          example: example-log_setting
        profile_setting:
          type: object
          properties:
            group:
              type: array
              items:
                type: string
              example:
              - example-group_item
          example:
            group:
            - example-group_item
            - example-group_item
        disabled:
          type: boolean
          default: false
          example: false
        description:
          type: string
          example: Threat applied on alert monitoring incident rule on monitoring.
        tag:
          type: array
          items:
            type: string
          example:
          - critical-asset
          - production
    SecurityRuleList_2:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SecurityRule_5'
          example:
          - id: 6c72fa83-24c0-4558-897f-a344aa4b1076
            name: Branch Firewall 85
            folder: example-folder
            position: post
            from:
            - example-from_item
            to:
            - example-to_item
            - example-to_item
            source:
            - example-source_item
            - example-source_item
            destination:
            - example-destination_item
            - example-destination_item
            source_user:
            - example-source_user_item
            application:
            - ssl
            service:
            - example-service_item
            - example-service_item
            category:
            - advanced
            action: reset-both
            log_setting: example-log_setting
            profile_setting:
              group:
              - example-group_item
              - example-group_item
            disabled: false
            description: Alert activity firewall malware traffic incident Security configured rule.
            tag:
            - critical-asset
          - id: 6c72fa83-24c0-4558-897f-a344aa4b1076
            name: Branch Firewall 85
            folder: example-folder
            position: post
            from:
            - example-from_item
            to:
            - example-to_item
            - example-to_item
            source:
            - example-source_item
            - example-source_item
            destination:
            - example-destination_item
            - example-destination_item
            source_user:
            - example-source_user_item
            application:
            - ssl
            service:
            - example-service_item
            - example-service_item
            category:
            - advanced
            action: reset-both
            log_setting: example-log_setting
            profile_setting:
              group:
              - example-group_item
              - example-group_item
            disabled: false
            description: Alert activity firewall malware traffic incident Security configured rule.
            tag:
            - critical-asset
        offset:
          type: integer
          example: 977
        total:
          type: integer
          example: 964
        limit:
          type: integer
          example: 574
    SecurityRule_5:
      type: object
      description: A security policy rule defining traffic matching criteria and enforcement action applied by managed firewalls.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          example: 6c72fa83-24c0-4558-897f-a344aa4b1076
        name:
          type: string
          example: Branch Firewall 85
        folder:
          type: string
          readOnly: true
          example: example-folder
        position:
          type: string
          enum:
          - pre
          - post
          example: post
        from:
          type: array
          items:
            type: string
          description: Source security zones.
          example:
          - example-from_item
        to:
          type: array
          items:
            type: string
          description: Destination security zones.
          example:
          - example-to_item
          - example-to_item
        source:
          type: array
          items:
            type: string
          description: Source addresses or address groups (use "any" for all).
          example:
          - example-source_item
          - example-source_item
        destination:
          type: array
          items:
            type: string
          description: Destination addresses or address groups.
          example:
          - example-destination_item
          - example-destination_item
        source_user:
          type: array
          items:
            type: string
          description: Source users or user groups.
          example:
          - example-source_user_item
        application:
          type: array
          items:
            type: string
          description: Applications to match (e.g., ssl, web-browsing).
          example:
          - ssl
        service:
          type: array
          items:
            type: string
          description: Service objects or application-default.
          example:
          - example-service_item
          - example-service_item
        category:
          type: array
          items:
            type: string
          description: URL categories to match.
          example:
          - advanced
        action:
          type: string
          enum:
          - allow
          - deny
          - drop
          - reset-client
          - reset-server
          - reset-both
          example: reset-both
        log_setting:
          type: string
          description: Log forwarding profile name.
          example: example-log_setting
        profile_setting:
          type: object
          properties:
            group:
              type: array
              items:
                type: string
              example:
              - example-group_item
          example:
            group:
            - example-group_item
            - example-group_item
        disabled:
          type: boolean
          default: false
          example: false
        description:
          type: string
          example: Alert activity firewall malware traffic incident Security configured rule.
        tag:
          type: array
          items:
            type: string
          example:
          - critical-asset
    ErrorResponse_5:
      type: object
      properties:
        _errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Investigation incident suspicious network policy network endpoint endpoint policy investigation activity.
              details:
                type: object
                example: {}
          example:
          - code: example-code
            message: Security monitoring rule configured endpoint on network blocked.
            details: {}
          - code: example-code
            message: Security on on threat monitoring activity policy.
            details: {}
        _request_id:
          type: string
          description: Unique request identifier for troubleshooting.
          example: '574499'
  responses:
    bad_request_errors_basic:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
    bad_request_errors_basic_with_body:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
    conflict_errors:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
    http_ok:
      description: OK
    access_errors:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
    auth_errors:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
    default_errors:
      description: General Errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
          examples:
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
    http_created:
      description: Created
    Unauthorized:
      description: Missing or invalid AWS credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: A resource with the specified name already exists or cannot be modified.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Malformed request or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    Unauthorized_2:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    Unauthorized_3:
      description: Missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_3'
    Forbidden_2:
      description: Insufficient permissions for the requested operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_3'
    Conflict_2:
      description: A resource with the specified name already exists or the resource cannot be modified due to existing references.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_3'
    BadRequest_2:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_2'
    Unauthorized_4:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_4'
    InternalServerError_2:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_4'
    BadRequest_3:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_4'
    Forbidden_3:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_4'
    Unauthorized_5:
      description: Missing or invalid authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_5'
    Conflict_3:
      description: A resource with the specified name already exists or the resource cannot be modified due to existing references.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse_5'
    Forbidden_4:
      description: Insufficient permissions for the requested operation.
      content:
        application/json:
          schema:
[...]
