openapi: 3.2.0
info:
  title: Palo Alto Networks Policy Group to Tenant Group Management API
  version: '1.0'
  description: 'Operations tagged Policy Group to Tenant Group Management across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-policy-group-to-tenant-group-management-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: Policy Group to Tenant Group Management
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
paths:
  /api/v1/mssp/{mssp-id}/tenant-group-policy-group-mapping:
    post:
      tags:
      - Policy Group to Tenant Group Management
      summary: Associate policy groups to selected tenant group
      description: Assign the selected policy groups to selected tenant group. Will use msspId from the auth token if available.
      operationId: add-tenant-group-policy-group-mapping
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the tenant group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/TenantGroupPolicyGroupMapRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupPolicyGroupMappingsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
  /api/v1/mssp/{mssp-id}/tenant-group-policy-group-mapping/{mapping-id}:
    delete:
      tags:
      - Policy Group to Tenant Group Management
      summary: Delete an association of policy group from tenant group
      description: Deletes a policy group association from a tenant group. Will use msspId from the auth token if available.
      operationId: delete-tenant-group-policy-group-mapping
      parameters:
      - name: mapping-id
        in: path
        description: the id of the policy group to tenant group mapping. You can get this from tenantGroups[x].id of the policy group response.
        required: true
        schema:
          type: string
          format: uuid
        example: 52017d1a-d665-4187-8675-33ee1ac5b365
      - name: mssp-id
        in: path
        description: the mssp the policy group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      responses:
        '204':
          description: Delete Accepted
          headers:
            Location:
              description: The relative path to the deleted tenant group to policy group mapping
              style: simple
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  schemas:
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    TenantGroupPolicyGroupMapRequest:
      required:
      - mappings
      type: object
      properties:
        mappings:
          type: array
          description: Tenant group to Policy groups mappings.
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMapping'
    TenantGroupPolicyGroupMappingsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMappingResponse'
    TenantGroupPolicyGroupMappingResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenantGroupId:
          type: string
          format: uuid
        policyGroupId:
          type: string
          format: uuid
    TenantGroupPolicyGroupMapping:
      required:
      - policyGroupIds
      - tenantGroupId
      type: object
      properties:
        tenantGroupId:
          type: string
          description: Tenant group to which the policy groups are mapped.
          format: uuid
        policyGroupIds:
          type: array
          description: Policy groups to be mapped.
          items:
            type: string
            description: Policy groups to be mapped.
            format: uuid
      description: Tenant group to Policy groups mappings.
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantGroupPolicyGroupMapRequest_2:
      required:
      - mappings
      type: object
      properties:
        mappings:
          type: array
          description: Tenant group to Policy groups mappings.
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMapping_2'
          example:
          - tenantGroupId: 04e7c14c-0d44-48ff-91c4-4d4b10156455
            policyGroupIds:
            - 9bec2de0-bb1d-4dcc-89d7-d8f0b938132b
    TenantGroupPolicyGroupMappingsResponse_2:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMappingResponse_2'
          example:
          - id: 201aba9b-8ef8-43e0-aea9-27718b2ddbfc
            tenantGroupId: a0b223c0-cda7-4dbd-8d4c-2e8b4b38c0e8
            policyGroupId: c662e0b7-2ea3-4da4-9b4c-4ed3d083f851
    TenantGroupPolicyGroupMappingResponse_2:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 201aba9b-8ef8-43e0-aea9-27718b2ddbfc
        tenantGroupId:
          type: string
          format: uuid
          example: a0b223c0-cda7-4dbd-8d4c-2e8b4b38c0e8
        policyGroupId:
          type: string
          format: uuid
          example: c662e0b7-2ea3-4da4-9b4c-4ed3d083f851
    TenantGroupPolicyGroupMapping_2:
      required:
      - policyGroupIds
      - tenantGroupId
      type: object
      properties:
        tenantGroupId:
          type: string
          description: Tenant group to which the policy groups are mapped.
          format: uuid
          example: bd1ccaf1-194d-43b2-9c04-b6ea957c0fd2
        policyGroupIds:
          type: array
          description: Policy groups to be mapped.
          items:
            type: string
            description: Policy groups to be mapped.
            format: uuid
          example:
          - 971f26b3-5745-441e-b0ac-c0f3a6968595
          - 8dff844a-68d5-442d-8b2f-fec17c060014
      description: Tenant group to Policy groups mappings.
    Error_2:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    TenantGroupPolicyGroupMapRequest_3:
      required:
      - mappings
      type: object
      properties:
        mappings:
          type: array
          description: Tenant group to Policy groups mappings.
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMapping_3'
          example:
          - tenantGroupId: 04e7c14c-0d44-48ff-91c4-4d4b10156455
            policyGroupIds:
            - 9bec2de0-bb1d-4dcc-89d7-d8f0b938132b
    TenantGroupPolicyGroupMappingsResponse_3:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMappingResponse_3'
          example:
          - id: 201aba9b-8ef8-43e0-aea9-27718b2ddbfc
            tenantGroupId: a0b223c0-cda7-4dbd-8d4c-2e8b4b38c0e8
            policyGroupId: c662e0b7-2ea3-4da4-9b4c-4ed3d083f851
    TenantGroupPolicyGroupMappingResponse_3:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 201aba9b-8ef8-43e0-aea9-27718b2ddbfc
        tenantGroupId:
          type: string
          format: uuid
          example: a0b223c0-cda7-4dbd-8d4c-2e8b4b38c0e8
        policyGroupId:
          type: string
          format: uuid
          example: c662e0b7-2ea3-4da4-9b4c-4ed3d083f851
    TenantGroupPolicyGroupMapping_3:
      required:
      - policyGroupIds
      - tenantGroupId
      type: object
      properties:
        tenantGroupId:
          type: string
          description: Tenant group to which the policy groups are mapped.
          format: uuid
          example: bd1ccaf1-194d-43b2-9c04-b6ea957c0fd2
        policyGroupIds:
          type: array
          description: Policy groups to be mapped.
          items:
            type: string
            description: Policy groups to be mapped.
            format: uuid
          example:
          - 971f26b3-5745-441e-b0ac-c0f3a6968595
          - 8dff844a-68d5-442d-8b2f-fec17c060014
      description: Tenant group to Policy groups mappings.
    Error_3:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-policy-group-to-tenant-group-management-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
