openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Mssp License Endpoints API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Mssp License Endpoints
paths:
  /api/v1/license/usage:
    post:
      tags:
      - Mssp License Endpoints
      summary: Palo Alto Networks Get the License Usage for MSSP
      description: Get the license Usage for a MSSP
      operationId: getMsspLicenseUsageV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MsspLicenseUsageRequestObject'
            examples:
              GetMsspLicenseUsageV1RequestExample:
                summary: Default getMsspLicenseUsageV1 request
                x-microcks-default: true
                value:
                  tenantGroupId: '609286'
                  licensePoolId: '720133'
                  timeRange: example-timeRange
                  nextPageToken: example-nextPageToken
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspLicenseUsageResponse'
              examples:
                GetMsspLicenseUsageV1200Example:
                  summary: Default getMsspLicenseUsageV1 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - tenantName: Production Agent 53
                      prismaId: '999338'
                      createdOn: 201
                      expiringOn: 627
                      status: DELETING
                      creditsAllocated: 752
                      avgConsumption: 781
                      lastUpdated: 896
                      externalTenantId: '986311'
                    - tenantName: Staging Sensor 16
                      prismaId: '842673'
                      createdOn: 662
                      expiringOn: 182
                      status: ACTIVE
                      creditsAllocated: 585
                      avgConsumption: 766
                      lastUpdated: 138
                      externalTenantId: '479192'
                    nextPageToken: example-nextPageToken
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetMsspLicenseUsageV1401Example:
                  summary: Default getMsspLicenseUsageV1 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '403':
          description: Authorization failed, user doesn't have access to the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetMsspLicenseUsageV1403Example:
                  summary: Default getMsspLicenseUsageV1 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/license/info:
    get:
      tags:
      - Mssp License Endpoints
      summary: Palo Alto Networks Get the License Info for MSSP
      description: Get the license info for a MSSP
      operationId: getMsspLicenseInfoV1
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspLicenseInfoResponse'
              examples:
                GetMsspLicenseInfoV1200Example:
                  summary: Default getMsspLicenseInfoV1 200 response
                  x-microcks-default: true
                  value:
                    creditsPurchased: 658
                    creditsAllocated: 596
                    balanceCredit: 157
                    numOfTenant: 306
                    startTime: 1729330017973
                    endTime: 1721793895841
                    msspLicensePoolInfos:
                    - licensePoolName: Branch Sensor 15
                      licensePoolId: '776589'
                      serialNumber: example-serialNumber
                      startTime: 1701182573535
                      endTime: 1712115339005
                      numOfTenant: 265
                      creditsAllocated: 145
                      creditsPurchased: 707
                      tenantGroupLicenseInfos:
                      - tenantGroupName: Branch Agent 68
                        tenantGroupId: '843820'
                        numOfTenant: 622
                        creditsAllocated: 925
                      - tenantGroupName: Production Gateway 45
                        tenantGroupId: '718815'
                        numOfTenant: 2
                        creditsAllocated: 426
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetMsspLicenseInfoV1401Example:
                  summary: Default getMsspLicenseInfoV1 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '403':
          description: Authorization failed, user doesn't have access to the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetMsspLicenseInfoV1403Example:
                  summary: Default getMsspLicenseInfoV1 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ToNowTimeRangeConfig:
      type: object
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigObject'
      - type: object
        properties:
          value:
            type: string
            enum:
            - week
            - month
            - year
    TimeRangeConfigObject:
      type: object
      properties:
        type:
          type: string
          example: standard
        timeUnit:
          type: string
          example: example-timeUnit
        timeValue:
          type: integer
          format: int32
          example: 586
      discriminator:
        propertyName: type
    TenantLicenseUsage:
      type: object
      properties:
        tenantName:
          type: string
          example: Branch Gateway 36
        prismaId:
          type: string
          example: '571390'
        createdOn:
          type: integer
          format: int64
          example: 998
        expiringOn:
          type: integer
          format: int64
          example: 492
        status:
          type: string
          enum:
          - ACTIVE
          - PROVISIONING
          - UPDATING
          - DELETING
          - DELETED
          - OFFBOARDING
          - ERRORED
          example: OFFBOARDING
        creditsAllocated:
          type: integer
          format: int32
          example: 409
        avgConsumption:
          type: integer
          format: int32
          example: 137
        lastUpdated:
          type: integer
          format: int64
          example: 82
        externalTenantId:
          type: string
          example: '501635'
    LicensePoolInfo:
      type: object
      properties:
        licensePoolName:
          type: string
          example: Branch Sensor 15
        licensePoolId:
          type: string
          example: '776589'
        serialNumber:
          type: string
          example: example-serialNumber
        startTime:
          type: integer
          format: int64
          example: 1701182573535
        endTime:
          type: integer
          format: int64
          example: 1712115339005
        numOfTenant:
          type: integer
          format: int32
          example: 265
        creditsAllocated:
          type: integer
          format: int32
          example: 145
        creditsPurchased:
          type: integer
          format: int32
          example: 707
        tenantGroupLicenseInfos:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupLicenseInfo'
          example:
          - tenantGroupName: Branch Agent 68
            tenantGroupId: '843820'
            numOfTenant: 622
            creditsAllocated: 925
          - tenantGroupName: Production Gateway 45
            tenantGroupId: '718815'
            numOfTenant: 2
            creditsAllocated: 426
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    MsspLicenseInfoResponse:
      type: object
      properties:
        creditsPurchased:
          type: integer
          format: int32
          example: 658
        creditsAllocated:
          type: integer
          format: int32
          example: 596
        balanceCredit:
          type: integer
          format: int32
          example: 157
        numOfTenant:
          type: integer
          format: int32
          example: 306
        startTime:
          type: integer
          format: int64
          example: 1729330017973
        endTime:
          type: integer
          format: int64
          example: 1721793895841
        msspLicensePoolInfos:
          type: array
          items:
            $ref: '#/components/schemas/LicensePoolInfo'
          example:
          - licensePoolName: Branch Sensor 15
            licensePoolId: '776589'
            serialNumber: example-serialNumber
            startTime: 1701182573535
            endTime: 1712115339005
            numOfTenant: 265
            creditsAllocated: 145
            creditsPurchased: 707
            tenantGroupLicenseInfos:
            - tenantGroupName: Branch Agent 68
              tenantGroupId: '843820'
              numOfTenant: 622
              creditsAllocated: 925
            - tenantGroupName: Production Gateway 45
              tenantGroupId: '718815'
              numOfTenant: 2
              creditsAllocated: 426
    MsspLicenseUsageResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantLicenseUsage'
          example:
          - tenantName: Production Agent 53
            prismaId: '999338'
            createdOn: 201
            expiringOn: 627
            status: DELETING
            creditsAllocated: 752
            avgConsumption: 781
            lastUpdated: 896
            externalTenantId: '986311'
          - tenantName: Staging Sensor 16
            prismaId: '842673'
            createdOn: 662
            expiringOn: 182
            status: ACTIVE
            creditsAllocated: 585
            avgConsumption: 766
            lastUpdated: 138
            externalTenantId: '479192'
        nextPageToken:
          type: string
          example: example-nextPageToken
    RelativeTimeDuration:
      type: object
      properties:
        unit:
          type: string
          enum:
          - week
          - month
          - year
          example: year
        amount:
          type: integer
          description: Number of time units
          format: int32
          example: 241
    TenantGroupLicenseInfo:
      type: object
      properties:
        tenantGroupName:
          type: string
          example: Primary Sensor 61
        tenantGroupId:
          type: string
          example: '715892'
        numOfTenant:
          type: integer
          format: int32
          example: 842
        creditsAllocated:
          type: integer
          format: int32
          example: 391
    MsspLicenseUsageRequestObject:
      required:
      - licensePoolId
      type: object
      properties:
        tenantGroupId:
          type: string
          example: '609286'
        licensePoolId:
          type: string
          example: '720133'
        timeRange:
          oneOf:
          - $ref: '#/components/schemas/RelativeTimeRangeConfig'
          - $ref: '#/components/schemas/ToNowTimeRangeConfig'
          example: example-timeRange
        nextPageToken:
          type: string
          example: example-nextPageToken
    RelativeTimeRangeConfig:
      type: object
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigObject'
      - type: object
        properties:
          value:
            $ref: '#/components/schemas/RelativeTimeDuration'
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
