openapi: 3.2.0
info:
  title: Prisma AIRS API Management service DLP Profiles API
  description: OpenAPI Specification for Prisma AIRS AI Runtime API Management Service
  version: 0.0.0
  contact:
    name: Palo Alto Networks
    url: https://www.paloaltonetworks.com
    email: support@paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/aisec
  description: Prisma AIRS API service URL
tags:
- name: DLP Profiles
  description: Operations related to DLP profile management
paths:
  /v1/mgmt/dlpprofiles:
    get:
      summary: Get All DLP Profiles
      description: Get all DLP Profiles and their metadata for a TSG ID
      tags:
      - DLP Profiles
      security:
      - Auth: []
      operationId: GetAllDlpProfilesByTsgId
      responses:
        '200':
          description: Successfully returned metadata for all DLP Profiles for a given TsgId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayDlpProfileObject'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ArrayDlpProfileObject:
      type: object
      properties:
        dlp_profiles:
          type: array
          items:
            $ref: '#/components/schemas/DLPDataProfileObject'
    DLPDataProfileObject:
      type: object
      properties:
        name:
          type: string
          description: Name of the DLP data profile
        uuid:
          type: string
          description: Unique identifier for the DLP data profile
        id:
          type: string
          description: DLP data profile id
        version:
          type: string
          description: DLP version
        rule1:
          type: object
          description: First DLP data profile rule configuration
          properties:
            action:
              type: string
              description: Action to be taken for the first DLP data profile rule
        rule2:
          type: object
          description: Second DLP data profile rule configuration
          properties:
            action:
              type: string
              description: Action to be taken for the second DLP data profile rule
        log-severity:
          type: string
          description: Severity level for data leak detection logging
        non-file-based:
          type: string
          description: Non-file based data leak detection configuration
        file-based:
          type: string
          description: File-based data leak detection configuration
      required:
      - name
      - uuid
    Error:
      type: object
      properties:
        status_code:
          type: integer
          format: int32
        error_message:
          type: string
      required:
      - status_code
      - error_message
  securitySchemes:
    Auth:
      type: http
      scheme: bearer
      bearerFormat: JWT
