openapi: 3.2.0
info:
  title: Palo Alto Networks Total Tenants API
  version: '1.0'
  description: 'Operations tagged Total Tenants across 3 of this provider''s published API definitions: palo-alto-networks-total-tenants-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Total Tenants
paths:
  /mt/monitor/5g/tenants:
    get:
      tags:
      - Total Tenants
      summary: Palo Alto Networks Fetch Tenant Totals
      description: "Returns the aggregate count of onboarded tenants across the 5G service \ninfrastructure. Monitoring teams call this during system audits to verify \nthe scale of the multi-tenant environment within the management plane."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  total_tenants: 8
                header:
                  createdAt: '2025-12-17T01:28:33Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gTenants
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-total-tenants-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
