openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Attack Categories API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Attack Categories
  description: Available attack category reference data.
paths:
  /v1/attack-categories:
    get:
      operationId: listAttackCategories
      summary: Palo Alto Networks List Available Attack Categories
      description: Returns the list of available attack categories that can be selected when starting a vulnerability scan. Each category represents a class of AI security vulnerabilities tested using automated adversarial prompts.
      tags:
      - Attack Categories
      responses:
        '200':
          description: Attack categories returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AttackCategory'
              examples:
                ListAttackCategories200Example:
                  summary: Default listAttackCategories 200 response
                  x-microcks-default: true
                  value:
                    total: 620
                    items:
                    - category_id: '244722'
                      name: Production Sensor 88
                      description: Endpoint applied on monitoring on detected firewall malware detected.
                      attack_count: 293
                      severity_range: &id001
                        min: low
                        max: informational
                      examples: &id002
                      - example-examples_item
                      - example-examples_item
                    - category_id: '244722'
                      name: Production Sensor 88
                      description: Endpoint applied on monitoring on detected firewall malware detected.
                      attack_count: 293
                      severity_range: *id001
                      examples: *id002
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListAttackCategories401Example:
                  summary: Default listAttackCategories 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Policy investigation blocked activity on activity suspicious configured configured suspicious.
                    request_id: f62400eb-5426-47bb-acc1-166eb163d06c
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListAttackCategories403Example:
                  summary: Default listAttackCategories 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Policy investigation blocked activity on activity suspicious configured configured suspicious.
                    request_id: f62400eb-5426-47bb-acc1-166eb163d06c
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListAttackCategories500Example:
                  summary: Default listAttackCategories 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Policy investigation blocked activity on activity suspicious configured configured suspicious.
                    request_id: f62400eb-5426-47bb-acc1-166eb163d06c
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    AttackCategory:
      type: object
      properties:
        category_id:
          type: string
          description: Unique identifier for the attack category.
          example: '244722'
        name:
          type: string
          description: Human-readable category name.
          example: Production Sensor 88
        description:
          type: string
          description: Description of the vulnerability class this category tests.
          example: Endpoint applied on monitoring on detected firewall malware detected.
        attack_count:
          type: integer
          description: Number of built-in attack probes in this category.
          example: 293
        severity_range:
          type: object
          description: Severity range of vulnerabilities this category can discover.
          properties:
            min:
              type: string
              enum:
              - informational
              - low
              - medium
              - high
              - critical
              example: high
            max:
              type: string
              enum:
              - informational
              - low
              - medium
              - high
              - critical
              example: medium
          example:
            min: low
            max: informational
        examples:
          type: array
          items:
            type: string
          description: Example attack type names within this category.
          example:
          - example-examples_item
          - example-examples_item
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Policy investigation blocked activity on activity suspicious configured configured suspicious.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: f62400eb-5426-47bb-acc1-166eb163d06c
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
