openapi: 3.2.0
info:
  title: ADEM data Internet Controller API
  version: 2.1.1
  description: "This API provides access to the Autonomous Digital Experience Management timeseries data.\nAll responses are aggregates over a period of time specified by the start, end, or timerange query parameters. \nThe aggregrate used for each field will depend on the field type. For simple numerical types, for example application score, \nthe aggregate will typically be an average (for example, scores or metrics). In some cases, it may be a maximum, minimum, or sum. \nFor string fields, it may be a comma separated concatenation of distinct values in the sample period. This spec was created on February 13, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- jwt: []
tags:
- name: InternetController
paths:
  /adem/telemetry/v2/measure/internet/metric:
    get:
      x-controller-name: InternetController
      x-operation-name: getInternetMetric
      tags:
      - InternetController
      summary: Get internet metrics)
      responses:
        '200':
          description: Internet test metrics
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/MetricSeries'
                - $ref: '#/components/schemas/MetricSummary'
                - $ref: '#/components/schemas/MetricSeriesCollection'
                - $ref: '#/components/schemas/MetricSummaryCollection'
        '400':
          description: Invalid Request
        '401':
          description: Invalid Client
        '500':
          description: Server Error
      parameters:
      - name: start
        in: query
        required: false
        schema:
          type: integer
          format: int64
          maximum: 2147483648
          description: sample start time in seconds (unix epoch)
      - name: end
        in: query
        required: false
        schema:
          type: integer
          format: int64
          maximum: 2147483648
          description: sample end time in seconds (unix epoch)
      - name: timerange
        in: query
        required: false
        schema:
          type: string
          description: A time range e.g 'last_3_hours', 'last_7_days'
      - name: truncate-timerange
        in: query
        required: false
        schema:
          type: boolean
          description: round timestamps to nearest sample period
          default: true
      - name: filter
        in: query
        required: false
        schema:
          type: string
          description: filter results e.g. application==zoom-meeting or application==zoom-meeting, application==Gmail
      - name: Prisma-Tenant
        in: header
        schema:
          type: string
          description: Tenant ( tenant_service_group or tenant_service_group:subtenant )
        required: true
      - name: Prisma-SubTenant
        in: header
        schema:
          type: string
          description: SubTenant
        required: false
      - name: endpoint-type
        in: query
        required: true
        schema:
          type: string
          description: endpoint type
          enum:
          - muAgent
          - muProbe
          - rnAgent
          - rnProbe
      - name: response-type
        in: query
        required: true
        schema:
          type: string
          enum:
          - timeseries
          - summary
          - grouped-timeseries
          - grouped-summary
      - name: group
        in: query
        required: false
        schema:
          type: string
          description: entity to group results by (e.g. Entity.user or Entity.user,Entity.endpoint)
      - name: pagination
        in: query
        required: false
        schema:
          type: string
          description: paginate results (e.g. page==0;limit==10;sortBy==application;sortOrder==asc
      operationId: InternetController.getInternetMetric
      description: Retrieve the metric details through this endpoint.
components:
  schemas:
    MetricSeries:
      title: MetricSeries
      type: object
      properties:
        startTime:
          type: number
          description: sample start time (Unix timestamp)
        endTime:
          type: number
          description: sample end time (Unix timestamp)
        endpointType:
          type: string
          description: 'endpoint type : muAgent, muProbe, rnAgent, rnProbe'
        tenantServiceGroup:
          type: string
          description: array of tenant service groups
        pagination:
          $ref: '#/components/schemas/Pagination'
        rowCount:
          type: number
        id:
          type: string
        samplePeriod:
          type: number
          description: sample period in seconds
        series:
          type: array
          items:
            $ref: '#/components/schemas/Metric'
      required:
      - id
      additionalProperties: false
    Pagination:
      title: Pagination
      type: object
      properties:
        page:
          type: number
          description: page number
        limit:
          type: number
          description: page limit
        sortBy:
          type: string
          description: sort by field
        sortOrder:
          type: string
          description: 'sort order : asc, desc'
        enabled:
          type: boolean
      additionalProperties: false
    Metric:
      title: Metric
      type: object
      properties:
        sample:
          type: number
          description: sample time (Unix timestamp)
        loss:
          type: number
          description: packet loss, percentage
        maxLoss:
          type: number
          description: maximum packet loss, percentage
        jitter:
          type: number
          description: network jitter, microseconds
        maxJitter:
          type: number
          description: maximum network jitter, microseconds
        delay:
          type: number
          description: network round trip time, microseconds
        maxDelay:
          type: number
          description: maximum network round trip time, microseconds
        availability:
          type: number
          description: network availability, percentage
        dnsLookupTime:
          type: number
          description: DNS lookup, microseconds
        maxDnsLookupTime:
          type: number
          description: maximum DNS lookup, microseconds
        tcpHandshakeTime:
          type: number
          description: TCP handshake, microseconds
        maxTcpHandshakeTime:
          type: number
          description: maximum TCP handshake, microseconds
        sslHandshakeTime:
          type: number
          description: SSL handshake, microseconds
        maxSslHandshakeTime:
          type: number
          description: maximum SSL handshake, microseconds
        waitTime:
          type: number
          description: wait time, microseconds
        maxWaitTime:
          type: number
          description: maximum wait time, microseconds
        timeToFirstByte:
          type: number
          description: time to first byte, microseconds
        maxTimeToFirstByte:
          type: number
          description: maximum time to first byte, microseconds
        dataTransferTime:
          type: number
          description: data transfer time, microseconds
        maxDataTransferTime:
          type: number
          description: maximum data transfer time, microseconds
        throughput:
          type: number
          description: data throughput
        maxThroughput:
          type: number
          description: maximum data throughput
        totalTime:
          type: number
          description: total time, microseconds
      additionalProperties: false
    MetricSummaryCollection:
      title: MetricSummaryCollection
      type: object
      properties:
        startTime:
          type: number
          description: sample start time (Unix timestamp)
        endTime:
          type: number
          description: sample end time (Unix timestamp)
        endpointType:
          type: string
          description: 'endpoint type : muAgent, muProbe, rnAgent, rnProbe'
        tenantServiceGroup:
          type: string
          description: array of tenant service groups
        pagination:
          $ref: '#/components/schemas/Pagination'
        rowCount:
          type: number
        collection:
          type: array
          items:
            $ref: '#/components/schemas/MetricSummary'
      additionalProperties: false
    MetricSeriesCollection:
      title: MetricSeriesCollection
      type: object
      properties:
        startTime:
          type: number
          description: sample start time (Unix timestamp)
        endTime:
          type: number
          description: sample end time (Unix timestamp)
        endpointType:
          type: string
          description: 'endpoint type : muAgent, muProbe, rnAgent, rnProbe'
        tenantServiceGroup:
          type: string
          description: array of tenant service groups
        pagination:
          $ref: '#/components/schemas/Pagination'
        rowCount:
          type: number
        collection:
          type: array
          items:
            $ref: '#/components/schemas/MetricSeries'
      additionalProperties: false
    MetricSummary:
      title: MetricSummary
      type: object
      properties:
        startTime:
          type: number
          description: sample start time (Unix timestamp)
        endTime:
          type: number
          description: sample end time (Unix timestamp)
        endpointType:
          type: string
          description: 'endpoint type : muAgent, muProbe, rnAgent, rnProbe'
        tenantServiceGroup:
          type: string
          description: array of tenant service groups
        pagination:
          $ref: '#/components/schemas/Pagination'
        rowCount:
          type: number
        id:
          type: string
        average:
          $ref: '#/components/schemas/Metric'
      required:
      - id
      additionalProperties: false
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
