openapi: 3.2.0
info:
  title: SASE 5G Manage Service Group Resource API API
  version: '1.0'
  description: "The SASE 5G Management Service provides the administrative framework required to provision, \nconfigure, and oversee 5G security infrastructure within the Strata Cloud Manager (SCM) ecosystem. \nArchitects and administrators utilize these APIs during the activation and lifecycle management \nphases to bridge enterprise 5G networks with Prisma Access security.\n\nBy leveraging these endpoints, organizations implement robust hardware-to-tenant mapping using \nIMSI and IMEI identifiers, ensuring precise traffic attribution and policy enforcement. \nThe service manages critical control plane components—including certificate handling and \nRadius server integration—directly through the SCM management plane. This centralized \napproach allows technical teams to scale 5G connectivity across global compute regions \nwhile maintaining granular visibility into subscriber groups and regional interconnect health. This spec was created on February 11, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- JWT: []
tags:
- name: Group Resource API
paths:
  /mt/manage/5g/userGroup:
    post:
      tags:
      - Group Resource API
      summary: Create Subscriber Group
      description: "Establishes a named group of Tenant UE identities for bulk security policy \napplication. Security leads define these groups to manage sets of subscribers \nas single entities within the 5G management plane for simplified administration."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantGroupInfo'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: PostMtManage5gUsergroup
  /mt/manage/5g/userGroup/list:
    post:
      tags:
      - Group Resource API
      summary: Retrieve Tenant Groups
      description: "Lists all named user groups associated with a specific tenant. Administrators \ncall this during policy enforcement to verify existing groups and ensure \nsecurity assignments apply to the correct sets of 5G subscribers."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantGroupInfoListInput'
      responses:
        '200':
          description: Success
        '204':
          description: No Content
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: PostMtManage5gUsergroupList
  /mt/manage/5g/userGroup/{groupId}:
    get:
      tags:
      - Group Resource API
      summary: Fetch Group Members
      description: "Returns the specific identity IDs belonging to a designated subscriber group. \nPolicy auditors verify these memberships to ensure individual devices are subject \nto the correct group security rules within the management plane."
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: GetMtManage5gUsergroupBy_groupid
  /mt/manage/5g/userGroup/{group_id}:
    put:
      tags:
      - Group Resource API
      summary: Modify Group Membership
      description: "Updates the name or identity list for an existing user group. Administrators \nuse this to adjust group memberships dynamically as subscribers are added or \nremoved from service tiers or organizational units."
      parameters:
      - name: group_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantGroupInfo'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: PutMtManage5gUsergroupBy_group_id
  /mt/manage/5g/userGroup/{identity_id}:
    delete:
      tags:
      - Group Resource API
      summary: Remove User Group
      description: "Permanently deletes a user group definition. This action is typically taken \nwhen a specific service level or grouping strategy is no longer required for \nthe tenant, ensuring the management plane remains clean and accurate."
      parameters:
      - name: identity_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: DeleteMtManage5gUsergroupBy_identity_id
components:
  schemas:
    TenantGroupInfo:
      type: object
      properties:
        tsg_id:
          type: string
        identity_id:
          type: array
          items:
            type: string
        group_name:
          type: string
    TenantGroupInfoListInput:
      type: object
      properties:
        tsg_id:
          type: string
        group_id:
          type: string
