openapi: 3.2.0
info:
  title: Palo Alto Networks Repositories API
  version: '1.0'
  description: 'Operations tagged Repositories across 4 of this provider''s published API definitions: palo-alto-code-repositories-openapi.json, palo-alto-code-repositoryimportancescore-openapi.json, palo-alto-networks-repositories-api-openapi.yml, palo-alto-prisma-cloud-code-security-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.prismacloud.io/code/api/v1
  description: Prisma Cloud Code Security API (US region 1).
- url: https://api2.prismacloud.io/code/api/v1
  description: Prisma Cloud Code Security API (US region 2).
- url: https://api.eu.prismacloud.io/code/api/v1
  description: Prisma Cloud Code Security API (EU).
- url: https://api.anz.prismacloud.io/code/api/v1
  description: Prisma Cloud Code Security API (ANZ).
- url: https://api.sg.prismacloud.io/code/api/v1
  description: Prisma Cloud Code Security API (Singapore).
- url: https://api.ca.prismacloud.io/code/api/v1
  description: Prisma Cloud Code Security API (Canada).
tags:
- name: Repositories
paths:
  /code/api/v1/repositories:
    get:
      description: 'Retrieve a list of integrated repositories.

        each repository item includes: id, repoName, source, owner, isPublic, creationDate'
      operationId: getRepositories
      parameters:
      - in: query
        name: errorsCount
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - creationDate: '2022-02-21T12:37:56.188Z'
                    defaultBranch: master
                    description: description
                    errors: null
                    id: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
                    isPublic: false
                    lastScanDate: null
                    owner: yourname
                    repository: foo
                    runs: 0
                    source: Github
                  - creationDate: '2022-02-21T09:26:22.848Z'
                    defaultBranch: master
                    errors: 343
                    id: XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
                    isPublic: false
                    lastScanDate: '2022-02-21T09:26:43.945Z'
                    owner: yourname
                    repository: terragoat
                    runs: 2
                    source: Github
              schema:
                items:
                  $ref: '#/components/schemas/RepositoriesResponse'
                type: array
          description: repositories for customer
        '422':
          description: Request arguments validation error
        '500':
          description: Could not fetch Repositories for customer
      security:
      - CustomAuthorizer: []
      summary: List Repository List
      tags:
      - Repositories
      x-bc-required-permissions:
      - CCSProjects_READ
      - CCSDevelopmentPipelinesCodeReviews_READ
      - CCSDevelopmentPipelinesProjects_READ
      - CCSSupplyChain_READ
      x-codeSamples:
      - lang: Python + Requests
        source: 'import requests


          url = "http://undefinedundefined/code/api/v1/repositories"


          querystring = {"errorsCount":"SOME_STRING_VALUE"}


          headers = {"authorization": "REPLACE_KEY_VALUE"}


          response = requests.request("GET", url, headers=headers, params=querystring)


          print(response.text)'
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'http://undefinedundefined/code/api/v1/repositories?errorsCount=SOME_STRING_VALUE' \\\n  --header 'authorization: REPLACE_KEY_VALUE'"
    post:
      description: "Onboard a list of repositories for a given integration\nParameters:\n\n| Name | Required                | Type          | In   | Description                                                                                                                                   |\n|------|-------------------------|---------------|------|-----------------------------------------------------------------------------------------------------------------------------------------------|\n| id   | id or type are required | string        | body | ID of the integration to update                                                                                                               |\n| type | id or type are required | string        | body | Type of the integration to update <br/> enum (github, githubEnterprise, gitlab, gitlabEnterprise, bitbucket, bitbucketEnterprise, azureRepos) |\n| data | yes                     | array<string> | body | List of repositories to update the integration                                                                                                |\n\nIn case both id and type provided only id will take into consideration\n\nexample1:\n```json\n{\n\"id\": \"123123-123123-123123-123123\",\n\"data\": [\"orevron/terragoat\", \"orevron/platform\"]\n}\n```\nexample2:\n```json\n{\n\"type\": \"github\",\n\"data\": [\"orevron/terragoat\", \"orevron/platform\"]\n}\n```\nresponse:\nexample1:\n```json\n{ \"success\": true }\n```\nexample2:\n```json\n{\n    \"success\": false,\n    \"integrations\": [\n            { \"id\": \"123-123-123\", \"created\": \"2022-01-16T17:09:14.167Z\", \"updateBy\": \"oevron@paloaltonetworks.com\" },\n            { \"id\": \"321-321-321\", \"created\": \"2022-01-12T17:10:14.167Z\", \"updateBy\": \"oevron@paloaltonetworks.com\" }\n    ]\n}\n```\nexample3:\n```json\n{ \"success\": false, \"message\": \"ID or type of integration must be provided\"}\n```\nstatus code 206 when more than one integration found for provided type\nstatus code 404 when integration is not found within the customer integrations\nstatus code 422 when both id and type not provided\nstatus code 500 when something went wrong with the server"
      operationId: updateRepositories
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRepositoriesBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateRepoResponse'
          description: Repositories Updated Successfully
        '422':
          description: Request arguments validation error
      security:
      - CustomAuthorizer: []
      summary: Integrate Multiple Repositories
      tags:
      - Repositories
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"http://undefinedundefined/code/api/v1/repositories\"\n\npayload = {\n    \"data\": [\"string\"],\n    \"id\": \"string\",\n    \"type\": \"github\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url http://undefinedundefined/code/api/v1/repositories \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"data\":[\"string\"],\"id\":\"string\",\"type\":\"github\"}'"
  /code/api/v1/repositories/branches:
    get:
      description: 'Get a list with all the repositories branches for the requesting customer

        The returned branches are branches that has at list one CICD runs

        each branches item includes: name, creationDate, CICD status'
      operationId: getBranches
      parameters:
      - in: query
        name: repoOwner
        required: true
        schema:
          type: string
      - in: query
        name: repoName
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    branches:
                    - creationDate: '2021-07-13T14:22:53.964Z'
                      defaultBranch: false
                      name: some_branch
                    - creationDate: null
                      defaultBranch: true
                      name: master
                    source: Gitlab
              schema:
                $ref: '#/components/schemas/BranchesResponse'
          description: repository branches
        '400':
          description: Could not get branches, check GET query params
        '422':
          description: Request arguments validation error
        '500':
          description: Could not fetch Repositories for customer
      security:
      - CustomAuthorizer: []
      summary: Get Repository Branches with CICD Runs
      tags:
      - Repositories
      x-codeSamples:
      - lang: Python + Requests
        source: 'import requests


          url = "http://undefinedundefined/code/api/v1/repositories/branches"


          querystring = {"repoOwner":"SOME_STRING_VALUE","repoName":"SOME_STRING_VALUE"}


          headers = {"authorization": "REPLACE_KEY_VALUE"}


          response = requests.request("GET", url, headers=headers, params=querystring)


          print(response.text)'
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'http://undefinedundefined/code/api/v1/repositories/branches?repoOwner=SOME_STRING_VALUE&repoName=SOME_STRING_VALUE' \\\n  --header 'authorization: REPLACE_KEY_VALUE'"
  /code/api/v1/repositories/query:
    post:
      description: Get a mapping between repository ids provided to the corresponding repositories names
      operationId: getQueryRepositories
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRepositoriesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                  - id: 17758008-49b2-46ad-9795-f5f6efb8492f
                    repository: aws-cloud
                  - id: 16df32d8-48ff-4dbd-8a6b-782fdfa6dbb3
                    repository: CountTrees
              schema:
                anyOf:
                - items:
                    $ref: '#/components/schemas/RepoIdToRepoName'
                  type: array
                - type: string
          description: repositories mapping
        '422':
          description: Request arguments validation error
        '500':
          description: Could not fetch query Repositories for customer
      security:
      - CustomAuthorizer: []
      summary: Get Repository Name to UUID Mapping of Requested UUIDs
      tags:
      - Repositories
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"http://undefinedundefined/code/api/v1/repositories/query\"\n\npayload = {\"repositoriesIds\": [\"string\"]}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url http://undefinedundefined/code/api/v1/repositories/query \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"repositoriesIds\":[\"string\"]}'"
  /code/api/v1/repositories/search:
    get:
      description: 'Get a list with all the repositories of customer

        Use filter params to search among the various repositories'
      operationId: searchRepositories
      parameters:
      - in: query
        name: id
        required: false
        schema:
          type: string
      - in: query
        name: selected
        required: false
        schema:
          type: boolean
      - in: query
        name: source
        required: false
        schema:
          type: string
      - in: query
        name: repoOwner
        required: false
        schema:
          type: string
      - in: query
        name: repoName
        required: false
        schema:
          type: string
      - in: query
        name: limit
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          format: int32
          minimum: 0
          type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                Example 1:
                  value:
                    data:
                    - creationDate: '2021-11-02T10:19:56.643Z'
                      customerName: mock_customer
                      defaultBranch: main
                      id: aaaaaaaa-bbbbbbbb-ccccccc-ddddddd
                      isPublic: false
                      lastScanDate: '2021-11-02T10:19:56.643Z'
                      owner: repo_owner
                      repository: repo_name
                      selected: true
                      source: Github
                      url: https://github.com/repo_owner/repo_name
                    hasNext: true
              schema:
                $ref: '#/components/schemas/GetRepositorySearchResponse'
          description: repositories search
        '422':
          description: Request arguments validation error
      security:
      - CustomAuthorizer: []
      summary: Search Repositories
      tags:
      - Repositories
      x-codeSamples:
      - lang: Python + Requests
        source: 'import requests


          url = "http://undefinedundefined/code/api/v1/repositories/search"


          querystring = {"id":"SOME_STRING_VALUE","selected":"SOME_BOOLEAN_VALUE","source":"SOME_STRING_VALUE","repoOwner":"SOME_STRING_VALUE","repoName":"SOME_STRING_VALUE","limit":"SOME_INTEGER_VALUE","offset":"SOME_INTEGER_VALUE"}


          headers = {"authorization": "REPLACE_KEY_VALUE"}


          response = requests.request("GET", url, headers=headers, params=querystring)


          print(response.text)'
      - lang: Shell + Curl
        source: "curl --request GET \\\n  --url 'http://undefinedundefined/code/api/v1/repositories/search?id=SOME_STRING_VALUE&selected=SOME_BOOLEAN_VALUE&source=SOME_STRING_VALUE&repoOwner=SOME_STRING_VALUE&repoName=SOME_STRING_VALUE&limit=SOME_INTEGER_VALUE&offset=SOME_INTEGER_VALUE' \\\n  --header 'authorization: REPLACE_KEY_VALUE'"
  /code/api/v1/vcs-repository/repositories:
    post:
      description: Get repositories page
      operationId: getVCSRepositoryPage
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoRequestBody'
        description: the body includes filters page configuration.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                anyOf:
                - items:
                    $ref: '#/components/schemas/RepoInfo'
                  type: array
                - items:
                    $ref: '#/components/schemas/RdsRepoInfo'
                  type: array
          description: repositories
        '422':
          description: Request arguments validation error
      security:
      - CustomAuthorizer: []
      summary: Get Repositories Page
      tags:
      - Repositories
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"http://undefinedundefined/code/api/v1/vcs-repository/repositories\"\n\npayload = {\n    \"filters\": {\n        \"archived\": [\"string\"],\n        \"casIds\": [\"string\"],\n        \"ciFiles\": [\"string\"],\n        \"customerName\": \"string\",\n        \"ids\": [\"string\"],\n        \"images\": [\"string\"],\n        \"issues\": [\"string\"],\n        \"lastUpdated\": \"2019-08-24T14:15:22Z\",\n        \"name\": \"string\",\n        \"pipelines\": [\"string\"],\n        \"privacyLevels\": [\"public\"],\n        \"providers\": [\"string\"],\n        \"riskFactors\": [\"isInternetExpose\"],\n        \"technologies\": [\"string\"],\n        \"workspaceIds\": [\"string\"]\n    },\n    \"orderBy\": {\n        \"fieldName\": \"string\",\n        \"isAsc\": True,\n        \"type\": \"string\"\n    },\n    \"pageConfig\": {\n        \"page\": 0,\n        \"pageSize\": 0\n    }\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url http://undefinedundefined/code/api/v1/vcs-repository/repositories \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"filters\":{\"archived\":[\"string\"],\"casIds\":[\"string\"],\"ciFiles\":[\"string\"],\"customerName\":\"string\",\"ids\":[\"string\"],\"images\":[\"string\"],\"issues\":[\"string\"],\"lastUpdated\":\"2019-08-24T14:15:22Z\",\"name\":\"string\",\"pipelines\":[\"string\"],\"privacyLevels\":[\"public\"],\"providers\":[\"string\"],\"riskFactors\":[\"isInternetExpose\"],\"technologies\":[\"string\"],\"workspaceIds\":[\"string\"]},\"orderBy\":{\"fieldName\":\"string\",\"isAsc\":true,\"type\":\"string\"},\"pageConfig\":{\"page\":0,\"pageSize\":0}}'"
  /api/v1/vcs-repository/repositories:
    get:
      operationId: getVCSRepository
      responses:
        '200':
          description: repositories
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RepoInfo'
                type: array
      description: Get all repositories and their metadata (Technologies, pipelines, contributors, etc..)
      summary: Get repositories (repositories page)
      tags:
      - Repositories
      security:
      - CustomAuthorizer: []
      parameters:
      - description: Get repositories connected to CI pipelines
        in: query
        name: include_pipelines
        required: false
        schema:
          type: boolean
      - description: Get repositories with deployed images
        in: query
        name: include_docker_images
        required: false
        schema:
          type: boolean
      - description: order by repositories
        in: query
        name: order_by
        required: false
        schema:
          type: string
      - description: requested page
        in: query
        name: page
        required: false
        schema:
          format: double
          type: number
      - description: page size
        in: query
        name: page_size
        required: false
        schema:
          format: double
          type: number
      - description: Get repositories by name
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Get repositories by repository ID
        in: query
        name: ids
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Get repositories by provider
        in: query
        name: providers
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/RepositoryProvider'
      - description: Get repositories by technologies
        in: query
        name: technologies
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Get repositories by CI type
        in: query
        name: ci_files
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Get repositories by private or public
        in: query
        name: privacy_levels
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/RepositoryPrivacyLabel'
      - description: Get repositories by workspace/integration ID
        in: query
        name: workspace_id
        required: false
        schema:
          type: string
      - description: filter by last updated repositories
        in: query
        name: last_updated
        required: false
        schema:
          format: date-time
          type: string
      - description: filter ignored repos
        in: query
        name: should_filter_ignored_repos
        required: false
        schema:
          type: boolean
      x-bc-lambda-name: vcs-repository-api
      x-bc-permitted-roles: owner,admin,member,developer,auditor
    post:
      operationId: getVCSRepositoryPage
      responses:
        '200':
          description: repositories
          content:
            application/json:
              schema:
                anyOf:
                - items:
                    $ref: '#/components/schemas/RepoInfo'
                  type: array
                - items:
                    $ref: '#/components/schemas/RdsRepoInfo_2'
                  type: array
      description: Get repositories page
      summary: get repositories page
      tags:
      - Repositories
      security:
      - CustomAuthorizer: []
      parameters: []
      requestBody:
        description: the body includes filters page configuration.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoRequestBody_2'
      x-bc-lambda-name: vcs-repository-api
      x-bc-permitted-roles: owner,admin,member,developer,auditor
      x-bc-docs-scope: standalone,prisma
    servers:
    - url: https://api.prismacloud.io
  /repositories:
    get:
      operationId: listRepositories
      summary: Palo Alto Networks List Connected Repositories
      description: Returns a list of all repositories that have been connected to Prisma Cloud Code Security. Includes repository metadata such as the source VCS provider, default branch, last scan time, and counts of open security errors.
      tags:
      - Repositories
      parameters:
      - name: offset
        in: query
        description: Number of records to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of records to return.
        schema:
          type: integer
          default: 25
        example: 25
      - name: search
        in: query
        description: Search term to filter repositories by name or owner.
        schema:
          type: string
        example: example-search
      - name: sourceType
        in: query
        description: Filter by VCS provider type.
        schema:
          type: string
          enum:
          - Github
          - Gitlab
          - Bitbucket
          - AzureRepos
          - githubEnterprise
          - gitlabEnterprise
          - bitbucketEnterprise
        example: Github
      responses:
        '200':
          description: Repositories returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of connected repositories.
                  repositories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Repository_2'
              examples:
                ListRepositories200Example:
                  summary: Default listRepositories 200 response
                  x-microcks-default: true
                  value:
                    totalCount: 937
                    repositories:
                    - id: example-id
                      name: Production Agent 31
                      owner: example-owner
                      fullName: Branch Sensor 57
                      sourceType: githubEnterprise
                      defaultBranch: example-defaultBranch
                      url: https://vpn.test-corp.net/02d758
                      isPublic: true
                      lastScanDate: '2026-08-07T04:21:38Z'
                      lastScanStatus: pending
                      errorCounts:
                        critical: 381
                        high: 403
                        medium: 984
                        low: 743
                        info: 996
                      createdAt: '2024-04-02T14:25:56Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    post:
      operationId: addRepository
      summary: Palo Alto Networks Add a Repository
      description: Connects a new VCS repository to Prisma Cloud Code Security for automated scanning. Triggers an initial scan of the default branch after onboarding.
      tags:
      - Repositories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              - sourceType
              - owner
              - name
              properties:
                id:
                  type: string
                  description: Repository identifier in the VCS provider.
                sourceType:
                  type: string
                  enum:
                  - Github
                  - Gitlab
                  - Bitbucket
                  - AzureRepos
                  - githubEnterprise
                  - gitlabEnterprise
                  - bitbucketEnterprise
                  description: VCS provider type.
                owner:
                  type: string
                  description: Repository owner or organization name.
                name:
                  type: string
                  description: Repository name.
                defaultBranch:
                  type: string
                  description: Default branch to scan. Defaults to the VCS default branch.
            examples:
              AddRepositoryRequestExample:
                summary: Default addRepository request
                x-microcks-default: true
                value:
                  id: example-id
                  sourceType: githubEnterprise
                  owner: example-owner
                  name: Branch Policy 04
                  defaultBranch: example-defaultBranch
      responses:
        '200':
          description: Repository added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository_2'
              examples:
                AddRepository200Example:
                  summary: Default addRepository 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Production Agent 31
                    owner: example-owner
                    fullName: Branch Sensor 57
                    sourceType: githubEnterprise
                    defaultBranch: example-defaultBranch
                    url: https://vpn.test-corp.net/02d758
                    isPublic: true
                    lastScanDate: '2026-08-07T04:21:38Z'
                    lastScanStatus: pending
                    errorCounts:
                      critical: 381
                      high: 403
                      medium: 984
                      low: 743
                      info: 996
                    createdAt: '2024-04-02T14:25:56Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    delete:
      operationId: removeRepository
      summary: Palo Alto Networks Remove a Repository
      description: Disconnects a repository from Prisma Cloud Code Security. Scan history and error records are retained for audit purposes.
      tags:
      - Repositories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Repository identifier to remove.
                sourceType:
                  type: string
                  description: VCS provider type.
            examples:
              RemoveRepositoryRequestExample:
                summary: Default removeRepository request
                x-microcks-default: true
                value:
                  id: example-id
                  sourceType: standard
      responses:
        '200':
          description: Repository removed successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    RepoRequestBody:
      properties:
        filters:
          $ref: '#/components/schemas/RepoRequestFilters'
        orderBy:
          $ref: '#/components/schemas/OrderBy'
        pageConfig:
          $ref: '#/components/schemas/Pagination'
      type: object
    PipelineInfo:
      properties:
        instance:
          type: string
        pipeline:
          type: string
        system:
          type: string
      required:
      - pipeline
      - system
      - instance
      type: object
    Technologies:
      properties:
        CICD:
          $ref: '#/components/schemas/Technology'
        Configuration:
          $ref: '#/components/schemas/Technology'
        Data:
          $ref: '#/components/schemas/Technology'
        Devops:
          $ref: '#/components/schemas/Technology'
        Documentation:
          $ref: '#/components/schemas/Technology'
        License:
          $ref: '#/components/schemas/Technology'
        Markup:
          $ref: '#/components/schemas/Technology'
        PackageManager:
          $ref: '#/components/schemas/Technology'
        Programming:
          $ref: '#/components/schemas/Technology'
        Prose:
          $ref: '#/components/schemas/Technology'
        Unknown:
          $ref: '#/components/schemas/Technology'
      type: object
    RepoInfo:
      allOf:
      - $ref: '#/components/schemas/IVCSRepository'
      - properties:
          categorizedTechnologies:
            $ref: '#/components/schemas/Technologies'
          ciInstances:
            additionalProperties:
              $ref: '#/components/schemas/ICiInstanceInfo'
            properties: {}
            type: object
          contributors:
            items:
              $ref: '#/components/schemas/Contributor'
            type: array
          contributorsCount:
            format: double
            type: number
          dockerImages:
            items:
              $ref: '#/components/schemas/DockerImage'
            type: array
          issues:
            $ref: '#/components/schemas/Issues'
          weeklyCommitOnPrs:
            items:
              $ref: '#/components/schemas/WeeklyCommitOnPR'
            type: array
        required:
        - weeklyCommitOnPrs
        - issues
        type: object
    RepositoryProvider:
      type: string
    Issues:
      allOf:
      - $ref: '#/components/schemas/SeverityIssues'
      - properties:
          moduleName:
            $ref: '#/components/schemas/SecurityModule'
        type: object
    WeeklyCommitOnPR:
      properties:
        branchName:
          type: string
        currWeeklyCommits:
          format: double
          type: number
        prevWeeklyCommits:
          format: double
          type: number
      required:
      - prevWeeklyCommits
      - currWeeklyCommits
      - branchName
      type: object
    Branch:
      additionalProperties: false
      properties:
        creationDate:
          type:
          - string
          - 'null'
        defaultBranch:
          type: boolean
        name:
          type: string
      required:
      - name
      - creationDate
      - defaultBranch
      type: object
    DockerImage:
      properties:
        imageName:
          type: string
        repoName:
          type: string
      required:
      - repoName
      - imageName
      type: object
    updateRepoResponse:
      additionalProperties: false
      properties:
        integrations:
          items:
            $ref: '#/components/schemas/integrationResponse'
          type: array
        message:
          type: string
        success:
          type: boolean
      type: object
    integrationResponse:
      additionalProperties: false
      properties:
        created:
          type: string
        id:
          type: string
        updatedBy:
          type: string
      required:
      - id
      - created
      - updatedBy
      type: object
    SeverityIssues:
      properties:
        CRITICAL:
          anyOf:
          - format: double
            type: number
          - $ref: '#/components/schemas/SecurityModule'
        HIGH:
          anyOf:
          - format: double
            type: number
          - $ref: '#/components/schemas/SecurityModule'
        INFO:
          anyOf:
          - format: double
            type: number
          - $ref: '#/components/schemas/SecurityModule'
        LOW:
          anyOf:
          - format: double
            type: number
          - $ref: '#/components/schemas/SecurityModule'
        MEDIUM:
          anyOf:
          - format: double
            type: number
          - $ref: '#/components/schemas/SecurityModule'
      type: object
    RiskFactors:
      properties:
        isInternetExpose:
          type: boolean
        isRepositoryDeployed:
          type: boolean
      type: object
    OrderBy:
      properties:
        fieldName:
          type: string
        isAsc:
          type: boolean
        type:
          type: string
      required:
      - isAsc
      - type
      - fieldName
      type: object
    SourceTypes:
      enum:
      - admissionController
      - AlibabaCloud
      - AWS
      - Azure
      - AzureOnPrem
      - AzureRepos
      - Bitbucket
      - bitbucketEnterprise
      - circleci
      - cli
      - codebuild
      - GCP
      - Github
      - githubActions
      - githubEnterprise
      - Gitlab
      - gitlabEnterprise
      - jenkins
      - Kubernetes
      - kubernetesWorkloads
      - terraformCloud
      - terraformEnterprise
      - tfcRunTasks
      - tfeRunTasks
      - Transporter
      - OnPrem
      type: string
    integrationType:
      enum:
      - github
      - githubEnterprise
      - gitlab
      - gitlabEnterprise
      - bitbucket
      - bitbucketEnterprise
      - azureRepos
      type: string
    SecurityModule:
      enum:
      - IAC
      - SCA
      - SECRETS
      - CICD
      type: string
    ModuleIssues:
      properties:
        CICD:
          allOf:
          - $ref: '#/components/schemas/SeverityIssues'
          - properties:
              TOTAL:
                format: double
                type: number
            required:
            - TOTAL
            type: object
        IAC:
          allOf:
          - $ref: '#/components/schemas/SeverityIssues'
          - properties:
              TOTAL:
                format: double
                type: number
            required:
            - TOTAL
            type: object
        SCA:
          allOf:
          - $ref: '#/components/schemas/SeverityIssues'
          - properties:
              TOTAL:
                format: double
                type: number
            required:
            - TOTAL
            type: object
        SECRETS:
          allOf:
          - $ref: '#/components/schemas/SeverityIssues'
          - properties:
              TOTAL:
                format: double
                type: number
            required:
            - TOTAL
            type: object
      type: object
    Pagination:
      properties:
        page:
          format: double
          type: number
        pageSize:
          format: double
          type: number
      required:
      - pageSize
      - page
      type: object
    IVCSRepository:
      additionalProperties: false
      properties:
        casId:
          type: string
        ciFiles:
          description: CI files path
          items:
            type: string
          type: array
        customerName:
          description: Customer Prisma ID
          type: string
        defaultBranch:
          description: Default branch
          type: string
        defaultGithubActionsWorkflowPermission:
          enum:
          - read
          - write
          type: string
        failedCustomerPRs:
          format: double
          type: number
        fullName:
          description: Repository full name
          type: string
        hasCoderOwner:
          description: Repository contains code owner file (True/False)
          type: boolean
        id:
          description: VCS repository ID
          type: string
        isAllGithubActionsAllowed:
          type: boolean
        isArchived:
          description: Archived repository (True/False)
          type: boolean
        isForkingAllowed:
          description: Is forking allowed in the repository
          type: boolean
        isGithubActionsEnabled:
          description: Is Github Actions enabled in the repository
          type: boolean
        isRequiresCommitSignatures:
          type: boolean
        isRequiresStatusChecks:
          type: boolean
        isRestrictsPushes:
          type: boolean
        lastUpdated:
          description: VCS Repository last update time
          type: string
        name:
          description: VCS Repository short name
          type: string
        openFixPRs:
          format: double
          type: number
        originId:
          type: string
        privacyLevel:
          $ref: '#/components/schemas/RepositoryPrivacyLabel'
        provider:
          $ref: '#/components/schemas/RepositoryProvider'
        repositorySize:
          description: VCS Repository size
          format: double
          type: number
        sessionId:
          type: string
        totalCommitsCount:
          description: Total commits count
          format: double
          type: number
        totalContributorsCount:
          description: Total contributors count
          format: double
          type: number
        totalCustomerPRs:
          format: double
          type: number
        type:
          enum:
          - VCSRepository
          type: string
        url:
          description: VCS Repository URL
          type: string
        workspaceId:
          description: VCS workspace/integration ID
          type: string
        workspaceName:
          description: VCS workspace/integration name
          type: string
      required:
      - id
      - customerName
      - type
      - failedCustomerPRs
      - totalCustomerPRs
      - ciFiles
      - url
      - casId
      type: object
    Technology:
      additionalProperties:
        properties:
          detectedDate:
            format: date-time
            type: string
          percentage:
            format: double
            type: number
        required:
        - detectedDate
        type: object
      properties: {}
      type: object
    ICiInstanceInfo:
      additionalProperties: false
      properties:
        ciType:
          $ref: '#/components/schemas/CIType'
          description: CI pipeline type
        customerName:
          description: Customer Prisma ID
          type: string
        id:
          type: string
        name:
          description: CI pipeline name
          type: string
        pipelines:
          items:
            $ref: '#/components/schemas/PipelineInfo'
          type: array
      required:
      - ciType
      - customerName
      - id
      - name
      - pipelines
      type: object
    BranchesResponse:
      additionalProperties: false
      properties:
        branches:
          items:
            $ref: '#/components/schemas/Branch'
          type: array
        source:
          type: string
      required:
      - source
      - branches
      type: object
    RiskFactorsType:
      enum:
      - isInternetExpose
      - isRepositoryDeployed
      type: string
    WeeklyCommitOnPrs:
      properties:
        branchName:
          type: string
        currWeeklyCommits:
          format: double
          type: number
        prevWeeklyCommits:
          format: double
          type: number
      required:
      - prevWeeklyCommits
      - currWeeklyCommits
      - branchName
      type: object
    GetRepositorySearchResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        hasNext:
          type: boolean
      required:
      - data
      - hasNext
      type: object
    QueryRepositoriesRequest:
      additionalProperties: false
      properties:
        repositoriesIds:
          items:
            type: string
          type: array
      required:
      - repositoriesIds
      type: object
    RdsRepoInfo:
      properties:
        casId:
          type: string
        categorizedTechnologies:
          $ref: '#/components/schemas/Technologies'
        ciFiles:
          items:
            type: string
          type: array
        ciInstances:
          $ref: '#/components/schemas/CiInstancesHash'
        contributors:
          items:
            $ref: '#/components/schemas/Contributor'
          type: array
        contributorsCount:
          format: double
          type: number
        customerName:
          type: string
        defaultBranch:
          type: string
        fullName:
          type: string
        hasCoderOwner:
          type: boolean
        id:
          type: string
        images:
          items:
            type: string
          type: array
        integrationId:
          type: string
        isArchived:
          type: boolean
        issues:
          $ref: '#/components/schemas/ModuleIssues'
        lastCommitTimestamp:
          format: double
          type: number
        lastUpdated:
          type: string
        metadata:
          properties:
            runtimeImagesMetadata:
              items:
                additionalProperties:
                  anyOf:
                  - type: string
                  - type: boolean
                properties: {}
                type: object
              type: array
            scansMetadata:
              additionalProperties:
                anyOf:
                - type: string
                - type: boolean
              properties: {}
              type: object
          required:
          - runtimeImagesMetadata
          - scansMetadata
          type: object
        name:
          type: string
        privacyLevel:
          $ref: '#/components/schemas/RepositoryPrivacyLabel'
        provider:
          $ref: '#/components/schemas/RepositoryProvider'
        repositorySize:
          format: double
          type: number
        riskFactors:
          $ref: '#/components/schemas/RiskFactors'
        source:
          $ref: '#/components/schemas/SourceTypes'
        totalCommitsCount:
          format: double
          type: number
        url:
          type: string
        weeklyCommitOnPrs:
          items:
            $ref: '#/components/schemas/WeeklyCommitOnPrs'
          type: array
        workspaceId:
          type: string
        workspaceName:
          type: string
      required:
      - metadata
      - images
      - integrationId
      - source
      - customerName
      - url
      - provider
      - fullName
      - name
      - isArchived
      - defaultBranch
      - casId
      - id
      type: object
    updateRepositoriesBody:
      additionalProperties: false
      properties:
        data:
          items:
            type: string
          type: array
        id:
          type: string
        type:
          $ref: '#/components/schemas/integrationType'
      required:
      - data
      type: object
    RepositoryPrivacyLabel:
      enum:
      - public
      - private
      - internal
      type:
      - string
      - 'null'
    RepoIdToRepoName:
      additionalProperties: false
      properties:
        id:
          type: string
        repository:
          type: string
      required:
      - id
      - repository
      type: object
    Contributor:
      properties:
        contributionsCounts:
          description: Number of contributions
          format: double
          type: number
        id:
          type: string
        lastPush:
          format: double
          type: number
        name:
          description: Contributor name
          type: string
        permission:
          description: Contributor permission
          type: string
      required:
      - contributionsCounts
      - name
      - id
      type: object
    RepoRequestFilters:
      properties:
        archived:
          description: An array with length of 1 containing either ‘true’ or ‘false’, filter between archived and not archived repositories
          items:
            type: string
          type: array
        casIds:
          items:
            type: string
          type: array
        ciFiles:
          description: CI files path
          items:
            type: string
          type: array
        customerName:
          type: string
        ids:
          description: VCS repository IDs
          items:
            type: string
          type: array
        images:
          items:
            type: string
          type: array
        issues:
          description: 'Issues enum: [`IAC`, `SCA`, `SECRETS`, `CICD`, `SAST`]

            Filter repositories containing issues of the requested type'
          items:
            type: string
          type: array
        lastUpdated:
          format: date-time
          type: string
        name:
          description: Search repositories by free text
          type: string
        pipelines:
          description: Get all repositories linked to the specified pipelines
          items:
            type: string
          type: array
        privacyLevels:
          items:
            $ref: '#/components/schemas/RepositoryPrivacyLabel'
          type: array
        providers:
          items:
            $ref: '#/components/schemas/RepositoryProvider'
          type: array
        riskFactors:
          items:
            $ref: '#/components/schemas/RiskFactorsType'
          type: array
        technologies:
          description: Get repositories that make use of the specified technologies
          items:
            type: string
          type: array
        workspaceIds:
          description: Array of repository owners, filter all repositories owned by specified owners
          items:
            type: string
          type: array
      type: object
    Repository:
      additionalProperties: false
      properties:
        creationDate:
          type: string
        customerName:
          type: string
        defaultBranch:
          type: string
        id:
          type: string
        isPublic:
          type: boolean
        lastScanDate:
          type: string
        owner:
          type: string
        repository:
          type: string
        selected:
          type: boolean
        source:
          type: string
        url:
          type: string
      required:
      - id
      - repository
      - source
      - customerName
      - owner
      - selected
      type: object
    CiInstancesHash:
      additionalProperties:
        $ref: '#/components/schemas/ICiInstanceInfo'
      properties: {}
      type: object
    RepositoriesResponse:
      additionalProperties: false
      properties:
        creationDate:
          type: string
        defaultBranch:
          type: string
        description:
          type: string
        errors:
          format: double
          type: number
        id:
          type: string
        isPublic:
          type: boolean
        lastScanDate:
          type: string
        owner:
          type: string
        repository:
          type: string
        runs:
          format: double
          type: number
        source:
          type: string
        url:
          type: string
      required:
      - id
      - repository
      - source
      - owner
      - runs
      type: object
    CIType:
      enum:
      - githubActions
      - circleci
      - codebuild
      - jenkins
      type: string
    RepoRequestBody_2:
      properties:
        orderBy:
          $ref: '#/components/schemas/OrderBy'
        pageConfig:
          $ref: '#/components/schemas/Pagination'
        filters:
          $ref: '#/components/schemas/VCSRepositoriesExternalFilters'
      type: object
    RepoImportanceScore:
      enum:
      - HIGH
      - MEDIUM
      - LOW
      type: string
    VCSRepositoriesExternalFilters:
      properties:
        appIds:
          items:
            type: string
          type: array
        importanceScore:
          items:
            $ref: '#/components/schemas/RepoImportanceScore'
          type: array
        owners:
          items:
            type: string
          type: array
          description: Array of repository owners, filter all repositories owned by specified owners
        images:
          items:
            type: string
          type: array
        archived:
          items:
            type: string
          type: array
          description: An array with length of 1 containing either ‘true’ or ‘false’, filter between archived and not archived repositories
        issues:
          items:
            type: string
          type: array
          description: 'Issues enum: [`IAC`, `SCA`, `SECRETS`, `CICD`, `SAST`]

            Filter repositories containing issues of the requested type'
        pipelines:
          items:
            type: string
          type: array
          description: Get all repositories linked to the specified pipelines
        lastUpdated:
          type: string
          format: date-time
        riskFactors:
          items:
            $ref: '#/components/schemas/RiskFactorsType'
          type: array
        workspaceIds:
          items:
            type: string
          type: array
        privacyLevels:
          items:
            $ref: '#/components/schemas/RepositoryPrivacyLabel'
          type: array
          description: CI files path
        technologies:
          items:
            type: string
          type: array
          description: Get repositories that make use of the specified technologies
        providers:
          items:
            $ref: '#/components/schemas/RepositoryProvider'
          type: array
        ids:
          items:
            type: string
          type: array
          description: VCS repository IDs
        name:
          type: string
          description: Search repositories by free text
      type: object
    RdsRepoInfo_2:
      properties:
        applications:
          items:
            $ref: '#/components/schemas/CasApplication'
          type: array
        exceedsCommitsLastSixMonths:
          type: boolean
        exceedsCommits:
          type: boolean
        lastReleaseTimestamp:
          type: number
          format: double
        releasesCount:
          type: number
          format: double
        lastTagTimestamp:
          type: number
          format: double
        tagsCount:
          type: number
          format: double
        lastVcsIssueTimestamp:
          type: number
          format: double
        vcsIssuesCount:
          type: number
          format: double
        pipelineCount:
          type: number
          format: double
        isFork:
          type: boolean
        isPublic:
          type: boolean
        organizationId:
          type: string
        importanceScore:
          properties:
            repoScore:
              type:
              - number
              - 'null'
              format: double
            customUpdatedAt:
              type:
              - number
              - 'null'
              format: double
            customReporter:
              type:
              - string
              - 'null'
            customRepoScore:
              description: User-defined repository score. Provide an integer from 1 (lowest importance) to 10 (highest importance) to indicate the relative importance of the repository as per your requirements. This value overrides the system-calculated importance score.
              type:
              - number
              - 'null'
              format: double
            customComment:
              description: Comment explaining the assigned customRepositoryScore.
              type:
              - string
              - 'null'
          required:
          - repoScore
          - customUpdatedAt
          - customReporter
          - customRepoScore
          - customComment
          type: object
        metadata:
          properties:
            runtimeImagesMetadata:
              items:
                properties: {}
                additionalProperties:
                  anyOf:
                  - type: string
                  - type: boolean
                type: object
              type: array
            scansMetadata:
              properties: {}
              additionalProperties:
                anyOf:
                - type: string
                - type: boolean
              type: object
          required:
          - runtimeImagesMetadata
          - scansMetadata
          type: object
        images:
          items:
            type: string
          type: array
        integrationId:
          type: string
        source:
          $ref: '#/components/schemas/SourceTypes'
        weeklyCommitOnPrs:
          items:
            $ref: '#/components/schemas/WeeklyCommitOnPrs'
          type: array
        issues:
          $ref: '#/components/schemas/ModuleIssues'
        contributors:
          items:
            $ref: '#/components/schemas/Contributor'
          type: array
        categorizedTechnologies:
          $ref: '#/components/schemas/Technologies'
        ciInstances:
          $ref: '#/components/schemas/CiInstancesHash'
        contributorsCount:
          type: number
          format: double
        customerName:
          type: string
        workspaceName:
          type: string
        workspaceId:
          type: string
        url:
          type: string
        ciFiles:
          items:
            type: string
          type: array
        totalCommitsCount:
          type: number
          format: double
        riskFactors:
          $ref: '#/components/schemas/RiskFactors'
        repositorySize:
          type: number
          format: double
        lastCommitTimestamp:
          type: number
          format: double
        lastUpdated:
          type: string
        provider:
          $ref: '#/components/schemas/RepositoryProvider'
        privacyLevel:
          $ref: '#/components/schemas/RepositoryPrivacyLabel'
        fullName:
          type: string
        name:
          type: string
        isArchived:
          type: boolean
        hasCoderOwner:
          type: boolean
        defaultBranch:
          type: string
        casId:
          type: string
        id:
          type: string
      required:
      - exceedsCommitsLastSixMonths
      - exceedsCommits
      - lastReleaseTimestamp
      - releasesCount
      - lastTagTimestamp
      - tagsCount
      - lastVcsIssueTimestamp
      - vcsIssuesCount
      - pipelineCount
      - isFork
      - isPublic
      - organizationId
      - importanceScore
      - metadata
      - images
      - integrationId
      - source
      - customerName
      - url
      - provider
      - fullName
      - name
      - isArchived
      - defaultBranch
      - casId
      - id
      type: object
    CasApplication:
      properties:
        name:
          type: string
        id:
          type: string
      required:
      - name
      - id
      type: object
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
          example: 602
        message:
          type: string
          description: Human-readable error message.
          example: Traffic activity investigation malware violation policy Security monitoring.
        error:
          type: string
          description: Error code.
          example: example-error
    Repository_2:
      type: object
      properties:
        id:
          type: string
          description: Unique repository identifier in Prisma Cloud.
          example: example-id
        name:
          type: string
          description: Repository name.
          example: Production Agent 31
        owner:
          type: string
          description: Repository owner or organization name.
          example: example-owner
        fullName:
          type: string
          description: Full repository name in owner/repo format.
          example: Branch Sensor 57
        sourceType:
          type: string
          enum:
          - Github
          - Gitlab
          - Bitbucket
          - AzureRepos
          - githubEnterprise
          - gitlabEnterprise
          - bitbucketEnterprise
          description: VCS provider type.
          example: githubEnterprise
        defaultBranch:
          type: string
          description: Default branch of the repository.
          example: example-defaultBranch
        url:
          type: string
          description: URL to the repository in the VCS provider.
          example: https://vpn.test-corp.net/02d758
        isPublic:
          type: boolean
          description: Whether the repository is publicly accessible.
          example: true
        lastScanDate:
          type: string
          format: date-time
          description: Timestamp of the most recent scan.
          example: '2026-08-07T04:21:38Z'
        lastScanStatus:
          type: string
          enum:
          - completed
          - running
          - failed
          - pending
          description: Status of the most recent scan.
          example: pending
        errorCounts:
          type: object
          description: Count of open errors by severity.
          properties:
            critical:
              type: integer
              example: 956
            high:
              type: integer
              example: 723
            medium:
              type: integer
              example: 176
            low:
              type: integer
              example: 486
            info:
              type: integer
              example: 135
          example:
            critical: 381
            high: 403
            medium: 984
            low: 743
            info: 996
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the repository was connected.
          example: '2024-04-02T14:25:56Z'
    Repository_3:
      type: object
      properties:
        id:
          type: string
          description: Unique repository identifier in Prisma Cloud.
          example: example-id
        name:
          type: string
          description: Repository name.
          example: Production Agent 31
        owner:
          type: string
          description: Repository owner or organization name.
          example: example-owner
        fullName:
          type: string
          description: Full repository name in owner/repo format.
          example: Branch Sensor 57
        sourceType:
          type: string
          enum:
          - Github
          - Gitlab
          - Bitbucket
          - AzureRepos
          - githubEnterprise
          - gitlabEnterprise
          - bitbucketEnterprise
          description: VCS provider type.
          example: githubEnterprise
        defaultBranch:
          type: string
          description: Default branch of the repository.
          example: example-defaultBranch
        url:
          type: string
          description: URL to the repository in the VCS provider.
          example: https://vpn.test-corp.net/02d758
        isPublic:
          type: boolean
          description: Whether the repository is publicly accessible.
          example: true
        lastScanDate:
          type: string
          format: date-time
          description: Timestamp of the most recent scan.
          example: '2026-08-07T04:21:38Z'
        lastScanStatus:
          type: string
          enum:
          - completed
          - running
          - failed
          - pending
          description: Status of the most recent scan.
          example: pending
        errorCounts:
          type: object
          description: Count of open errors by severity.
          properties:
            critical:
              type: integer
              example: 956
            high:
              type: integer
              example: 723
            medium:
              type: integer
              example: 176
            low:
              type: integer
              example: 486
            info:
              type: integer
              example: 135
          example:
            critical: 381
            high: 403
            medium: 984
            low: 743
            info: 996
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the repository was connected.
          example: '2024-04-02T14:25:56Z'
  responses:
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or expired authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    CustomAuthorizer:
      in: header
      name: authorization
      type: apiKey
      x-amazon-apigateway-authorizer:
        authorizerResultTtlInSeconds: 0
        authorizerUri: arn:aws:apigateway:{Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:{Region}:{AccountId}:function:bc-authorization-v2-authorizer-{UniqueTag}{Alias}/invocations
        identitySource: method.request.header.authorization
        type: request
      x-amazon-apigateway-authtype: custom
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
    redlockAuth:
      type: apiKey
      in: header
      name: x-redlock-auth
      description: JWT token obtained from the Prisma Cloud /login endpoint. Pass the token value in the x-redlock-auth header. Tokens are valid for 10 minutes.
x-refined-from:
- palo-alto-code-repositories-openapi.json
- palo-alto-code-repositoryimportancescore-openapi.json
- palo-alto-networks-repositories-api-openapi.yml
- palo-alto-prisma-cloud-code-security-api-openapi-original.yml
