openapi: 3.2.0
info:
  contact: {}
  description: 'Access Keys are a secure way to enable programmatic access to the Prisma Cloud API. By default, only

    the System Admin has API access and can enable API access for other administrators. If you have API access,

    you can create up to two access keys. Create an access key for a limited time period and regenerate your API

    keys periodically to minimize exposure and follow security best practices.'
  title: Prisma Cloud Access Keys API Overview Login API
  version: Latest
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
tags:
- description: For secure access to the Prisma Cloud REST API, you need a Prisma Cloud API access key.
  name: Login
paths:
  /login:
    post:
      description: 'Returns a JWT auth token for accessing the Prisma Cloud APIs. To generate a token, you must have an access key and include the following values in the request body parameter — access key ID as the username and your secret key as the password. Prisma Cloud requires this JWT in the request header to authorize API access. Note that access keys maintain the same level of permissions as the permission group of the account that created them.


        If you are a multi-tenant user and the body parameters of your login request include a user name and password instead of an access key ID and secret key. You will also need to provide the **prismaId** or the **customerName**.

        Specifying just the **prismaId** is preferred, but specifying **customerName** is an acceptable alternative. Your **prismaId** is available from the

        license information in the Prisma Cloud console. It''s unnecessary to specify both **prismaId** and **customerName**, but if you do specify both, the parameters must indicate the same tenant.


        Note that you should specify not only the URL and required headers, but also the request body or payload in any **POST /login** request.

        See Use Curl to Generate JWT Tokens in Prisma Cloud for a detailed example.'
      operationId: app-login
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/LoginModel'
        description: Model used for authentication
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/LoginResponseModel'
          description: successful operation
        '401':
          description: sso_enabled_password_login_attempt / invalid_credentials
        '500':
          description: login_failed_unknown_error
      summary: Login
      tags:
      - Login
  /auth_token/extend:
    get:
      description: Extend a user's session. The JWT token returned is valid until the next session timeout occurs. This method requires a valid session token to be passed (token from a prior successful extend or login calls).
      operationId: extend-session
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponseModel'
          description: successful operation
        '401':
          description: token_expired
        '500':
          description: login_failed_unknown_error
      security:
      - x-redlock-auth: []
      summary: Refresh Session
      tags:
      - Login
components:
  schemas:
    CustomerNamesResponseModel:
      description: 'Model for Customer Info shown during customer selection '
      properties:
        customerName:
          description: Customer Name
          readOnly: true
          type: string
        prismaId:
          description: Prisma Identifier
          readOnly: true
          type: string
        tosAccepted:
          description: Terms of Service Accepted
          readOnly: true
          type: boolean
      type: object
    LoginModel:
      description: Model used for authentication
      properties:
        customerName:
          description: Customer Name
          type: string
        password:
          description: Secret key
          type: string
        prismaId:
          description: Unique Prisma Identifier
          type: string
        username:
          description: Access key ID
          type: string
      required:
      - password
      - username
      type: object
    LoginResponseModel:
      description: Model containing authentication status and token
      properties:
        customerNames:
          description: Customer names and property list
          items:
            $ref: '#/components/schemas/CustomerNamesResponseModel'
          type: array
        message:
          description: Authentication status
          type: string
        roles:
          description: List of user permissions based on user role type. This attribute is populated only for the refresh token response.
          items:
            type: string
          type: array
          uniqueItems: true
        token:
          description: JSON Web Token (JWT)
          type: string
      type: object
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
