openapi: 3.2.0
info:
  title: Palo Alto Networks Search API
  contact: {}
  version: '1.0'
  description: 'Operations tagged Search across 2 of this provider''s published API definitions: palo-alto-cspm-consolidated-spec-cspm-spec-openapi.json, palo-alto-cspm-searchmicroservice-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- description: "You can use the Resource Query Language (RQL) to perform configuration checks across cloud services as well as \ngain real-time insights into user and network events to gain security visibility and create policy guardrails \nin your cloud environment. See the [Prisma Cloud documentation](https://docs.paloaltonetworks.com/prisma/prisma-cloud.html) for more information.\n"
  name: Search
paths:
  /search/config:
    post:
      description: "Returns the results of an RQL config query. With config queries, you can retrieve resource information, identify misconfigurations, gain operational insights, and uncover policy and compliance violations.  \n\n### Download Config Search CSV \nIn addition to performing a config search, this endpoint can perform the config \nsearch and download the results as a CSV file. To download the config search CSV, \nadd the request HTTP header **Accept: text/csv**.\n\nAn example request body is:\n```json\n{\n  \"query\":\"config where api.name = 'aws-iam-get-account-summary' \",\n  \"timeRange\":{\n     \"type\":\"relative\",\n     \"value\":{\n        \"unit\":\"hour\",\n        \"amount\":24\n     }\n  }\n}\n```\n"
      operationId: search-config
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigRuleSearchParams'
        description: Config rule search parameters model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SearchResponseModelPagedResultsResourceMetaModel'
          description: success
        '400':
          description: conflict_saved_search
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Perform Config Search
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search:
    post:
      description: "Perform a search against flow logs with an RQL query.  \n\nThis endpoint ignores the body param **default**. \n\n### Download Network Search CSV \nIn addition to performing a network search, this API can perform the network \nsearch and download the results as a CSV file. To download the network search CSV, \nadd the request HTTP header **Accept: text/csv**.\n\nAn example request body is:\n```json\n{\n  \"cloudType\": \"\",\n  \"id\":\"\",\n  \"name\":\"\",\n  \"description:\"\",\n  \"saved\":false,\n  \"default\":false,\n  \"query\": \"\",\n    \"timeRange\": {\n      \"type\": \"\",\n      \"value\": \"\"\n    }\n}\n```\n"
      operationId: search-network
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SearchModel'
        description: Search model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SearchResponseModel'
          description: success
        '400':
          description: invalid_parameter_value
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Perform Network Search
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/event:
    post:
      description: Returns the results of an RQL audit event query. You can use event queries to detect and investigate console and API access, monitor privileged activities, and detect account compromise and unusual user behavior in your cloud environment.
      operationId: search-events
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AuditEventSearchParamsModel'
        description: Audit event search parameters model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SearchResponseModelPagedResultsAuditEvent'
          description: success
        '400':
          description: conflict_saved_search
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Perform Event Search
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/event/aggregate:
    post:
      description: Returns the results of an RQL aggregated audit events query. This RQL query is similar to an RQL event query, but the data returned includes location and service data.
      operationId: search-events-aggregated
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AuditEventSearchParamsModel'
        description: Audit event search parameters model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SearchResponseModelListAggregateAuditEvent'
          description: success
        '400':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Aggregated Event Search
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/event/filtered:
    post:
      description: Filters the results of an event log search according to the specified parameters. You can use this call to refine the results of an aggregated search.
      operationId: search-events-filtered
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AuditEventSearchParamsModel'
        description: Audit event search parameters model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SearchResponseModelPagedResultsAuditEvent'
          description: success
        '400':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Filter Event Search Results
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/event/page:
    post:
      description: "Returns the next page of search results, using a token provided from the previous page. Used for when there are over 100 search results for a given RQL query.  \n\nAn initial request to perform an event search will return a **data.nextPageToken** that you \ncan use as the initial **pageToken**.\n"
      operationId: search-events-page
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AuditEventPageParams'
        description: Audit event page parameters model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/PagedResultsAuditEvent'
          description: success
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Get The Next Event Search Page
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/event/raw/{id}:
    get:
      description: Returns the audit event data for the specified ID as raw metadata.
      operationId: search-events-raw
      parameters:
      - description: Audit Event ID
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AuditEvent'
          description: success
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Get Raw Event Data
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/suggest:
    post:
      description: "Returns the possible options&mdash;including expressions, values, and operators&mdash;to append to a partial RQL query.  \n\nSpecifying a partial RQL query in the query parameter will result in a list of suggested \noptions to append to your partial query. No other parameters are required.\n"
      operationId: search-suggest
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/SearchModel'
        description: Search model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AutocompleteInfo'
          description: success
      security:
      - x-redlock-auth: []
      summary: Autocomplete Search
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/alert:
    get:
      description: "Returns search data that can be used to investigate the alert with the specified ID.   \n\nThis request returns data for only the following types of alerts:\n* Anomaly alerts\n* Network alerts       \n"
      operationId: search-for-alert-by-id
      parameters:
      - description: Alert ID
        in: query
        name: alertId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/SearchResponseModelListObject'
          description: success
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Search Alerts by ID
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/config/page:
    post:
      description: Returns the next page of search results, using a token provided from the previous page. Used for when there are over 100 search results for a given RQL query.
      operationId: search-config-page
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigRulePageParams'
        description: Config rule page parameters model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/PagedResultsResourceMetaModel'
          description: success
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Get The Next Config Search Page
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/event/filtered/download:
    post:
      description: Performs an event log search with an RQL query and downloads the result as a CSV file.
      operationId: search-events-csv
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AuditEventSearchParamsModel'
        description: Audit event search parameters model
        required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Download Event Search CSV
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/config/jobs:
    post:
      description: "Submits a job to generate an RQL config query results list that matches the constraints in the body parameters and is downloadable as a CSV file. Returns the job ID and job submission status.  \n\nTo identify your config query, specify either (1) a saved search **id**, (2) a recent search **id** plus a unique **searchName**, \nor (3) a **query** plus a unique **searchName**.\n\nIf you identify your search through a saved search **id**, the following request body parameters apply:\n* **id** - The search ID that corresponds to an existing saved search. You can [View Search History](//prisma-cloud/api/cspm/search-history) with a filter \nto get a list of your recent search IDs. (Required)\n* **searchName** - A unique name that identifies the search (Required)\n* **sort** - An array of sort field data (Optional)\n* **timeRange** - A time range filter. Default is the past seven days. (Optional)      \n\nIf you identify your search through a **query** and **searchName**, the following request body parameters apply:\n* **query** - A valid RQL config query that defines your search (Required)\n* **searchName** - A unique name that identifies the search (Required)\n* **searchDescription** - A description for your search (Optional)\n* **sort** - An array of sort field data (Optional)\n* **timeRange** - A time range filter. Default is the past seven days. (Optional)\n"
      operationId: submit-an-search-config-csv-download-job
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigRuleSearchParams'
        description: Config rule search parameters model
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ConfigCsvJobResponseModel'
          description: success
        '202':
          description: in_process
        '400':
          description: invalid_parameter_value
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Submit Search Config CSV Generation Job
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/config/jobs/{id}/download:
    get:
      description: "Returns the results of an RQL Config query as a CSV. With Config queries, you can retrieve resource information, identify misconfigurations, gain operational insights, and uncover policy and compliance violations.  \n\nThis request requires the HTTP header **Accept: text/csv**.\n"
      operationId: async-search-config-csv
      parameters:
      - description: Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
        '202':
          description: in_process
        '400':
          description: conflict_saved_search
        '404':
          description: not_found
        '500':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Download Async Config Search CSV
      tags:
      - Search
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
  /search/api/v1/config:
    post:
      tags:
      - Search
      summary: Perform Config Search by Query
      description: 'Returns the results of an RQL config query. With config queries, you can retrieve resource information, identify misconfigurations, gain operational insights, and uncover policy and compliance violations.


        When a query returns over 100 results, the response includes the `nextPageToken` field which can be used as the request parameter `pageToken` in the [Get The Next Search Page](/prisma-cloud/api/cspm/search-config-page/) endpoint to retrieve the next page of search results.'
      operationId: search-config-by-query
      requestBody:
        description: Config rule search by query request parameters model
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigSearchByQueryV1Request'
        required: true
      responses:
        '200':
          description: success
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ConfigSearchV1ResponseResourceMetaModel'
        '400':
          description: conflict_saved_search
          content: {}
        '404':
          description: not_found
          content: {}
      security:
      - x-redlock-auth: []
      x-microservice”: 'true'
      x-public: 'true'
      x-codegen-request-body-name: body
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /search/api/v1/config/async:
    post:
      tags:
      - Search
      summary: Perform Asynchronous Config Search
      description: Receive the results of an RQL config query from reporting service asynchronously in CSV format. With config queries, you can retrieve resource information, identify misconfigurations, gain operational insights, and uncover policy and compliance violations.
      operationId: search-config-async-csv-download
      requestBody:
        description: Config rule search for asynchronous csv download request parameters model
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigSearchByQueryWithDownloadV1Request'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ConfigSearchAsyncDownloadV1Response'
        '202':
          description: successful operation
          content: {}
        '400':
          description: bad_request
          content: {}
        '404':
          description: not_found
          content: {}
      security:
      - x-redlock-auth: []
      x-microservice”: 'true'
      x-public: 'true'
      x-codegen-request-body-name: body
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /search/api/v1/config/download:
    post:
      tags:
      - Search
      summary: Download Config Search as CSV
      description: Returns the results of an RQL Config query as a CSV. With Config queries, you can retrieve resource information, identify misconfigurations, gain operational insights, and uncover policy and compliance violations.
      operationId: search-config-csv-download
      requestBody:
        description: Config rule search for asynchronous csv download request parameters model
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigSearchByQueryWithDownloadV1Request'
        required: true
      responses:
        '200':
          description: success
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/CsvMessageModel'
        '400':
          description: invalid_parameter_value
          content: {}
        '403':
          description: unauthorized_access
          content: {}
        '404':
          description: not_found
          content: {}
      security:
      - x-redlock-auth: []
      x-microservice”: 'true'
      x-public: 'true'
      x-codegen-request-body-name: body
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /search/api/v2/config:
    post:
      tags:
      - Search
      summary: Perform Config Search V2
      description: "* Returns the results of an RQL config query.\n* With config queries, you can retrieve resource information, identify misconfigurations, gain operational insights, and uncover policy and compliance violations. \n* The request specification now includes the startTime value, indicating the start time for the search. Additionally, the end time is implicitly set to the current system time. \n* The response has been updated to the transition of the value associated with 'resourceType' to newer  and more descriptive name. (Ex: Instance to \"EC2 Instance\" for config query to list  all EC2 instances). Additionally, A new field 'resourceTypeId' is introduced, which serves as a unique identifier for the resourceType.\n* The maximum number of results is 100 items. When a query returns over 100 results, the response includes the `nextPageToken` field which can be used as the request parameter `pageToken` in the [Get The Next Search Page](/prisma-cloud/api/cspm/search-config-page/) endpoint to retrieve the next page of search results."
      operationId: search-config-v2
      requestBody:
        description: Config rule search by query request parameters model
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigSearchByQueryV2Request'
        required: true
      responses:
        '200':
          description: success
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ConfigSearchV1ResponseResourceMetaModelV3'
        '400':
          description: conflict_saved_search
        '404':
          description: Not Found
      security:
      - x-redlock-auth: []
      x-microservice”: 'true'
      x-public: 'true'
      x-codegen-request-body-name: body
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /search/api/v2/config/{id}:
    post:
      tags:
      - Search
      summary: Perform Config Search by Search Id V2
      description: "* Returns the results of an RQL config query.\n* With config queries, you can retrieve resource information, identify misconfigurations, gain operational insights, and uncover policy and compliance violations. \n* The request specification now includes the startTime value, indicating the start time for the search. Additionally, the end time is implicitly set to the current system time. \n* The response has been updated to the transition of the value associated with 'resourceType' to newer  and more descriptive name. (Ex: Instance to \"EC2 Instance\" for config query to list  all EC2 instances). Additionally, A new field 'resourceTypeId' is introduced, which serves as a unique identifier for the resourceType"
      operationId: search-config-by-search-id-v2
      parameters:
      - name: id
        in: path
        description: Search ID
        required: true
        schema:
          type: string
      requestBody:
        description: Config rule search by search id request parameters model
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigSearchBySearchIdV2Request'
        required: true
      responses:
        '200':
          description: success
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ConfigSearchV1ResponseResourceMetaModelV3'
        '400':
          description: conflict_saved_search
        '404':
          description: Not Found
      security:
      - x-redlock-auth: []
      x-microservice”: 'true'
      x-public: 'true'
      x-codegen-request-body-name: body
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /search/api/v1/config/{id}:
    post:
      tags:
      - Search
      summary: Perform Config Search by Search Id
      description: Returns the results of an RQL config query. With config search Id, you can retrieve resource information, identify misconfigurations, gain operational insights, and uncover policy and compliance violations.
      operationId: search-config-by-search-id
      parameters:
      - name: id
        in: path
        description: Search ID
        required: true
        schema:
          type: string
      requestBody:
        description: Config rule search by search id request parameters model
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/ConfigSearchBySearchIdV1Request'
        required: true
      responses:
        '200':
          description: success
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ConfigSearchV1ResponseResourceMetaModel'
        '400':
          description: conflict_saved_search
          content: {}
        '404':
          description: not_found
          content: {}
      security:
      - x-redlock-auth: []
      x-microservice”: 'true'
      x-public: 'true'
      x-codegen-request-body-name: body
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
components:
  schemas:
    UserAgentOs:
      properties:
        hash:
          format: int32
          type: integer
        id:
          format: int32
          type: integer
        name:
          type: string
      type: object
    SortAuditEventSortField:
      properties:
        direction:
          description: Direction
          enum:
          - asc
          - desc
          type: string
        field:
          enum:
          - ID
          - TIME
          - OPERATION
          - CLOUD_SERVICE
          - CRUD
          - USER
          - CLOUD_ACCOUNT
          - CLOUD_REGION
          - TIMESTAMP
          type: string
      type: object
    SearchResponseModelListAggregateAuditEvent:
      properties:
        alertId:
          description: Alert ID
          readOnly: true
          type: string
        async:
          description: true = Is Async
          readOnly: true
          type: boolean
        asyncResultUrl:
          description: Async Result Url
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
          readOnly: true
          type: string
        cloudType:
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        cursor:
          description: Cursor
          format: int32
          readOnly: true
          type: integer
        data:
          items:
            $ref: '#/components/schemas/AggregateAuditEvent'
          type: array
        default:
          type: boolean
        description:
          description: Search Description
          type: string
        filters:
          description: View Order
          items:
            $ref: '#/components/schemas/UIFilterModel'
          readOnly: true
          type: array
        groupBy:
          description: Group By
          items:
            type: string
          readOnly: true
          type: array
        id:
          description: Search ID
          type: string
        name:
          description: Search Name
          type: string
        query:
          description: RQL Query
          type: string
        saved:
          description: Search Exists
          type: boolean
        searchType:
          description: Search Type
          enum:
          - network
          - audit_event
          - config
          - asset
          readOnly: true
          type: string
        timeGranularity:
          description: Time Granularity
          readOnly: true
          type: string
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time Range
      required:
      - query
      - timeRange
      type: object
    SortConfigRuleSortField:
      properties:
        direction:
          description: Direction
          enum:
          - asc
          - desc
          type: string
        field:
          enum:
          - ID
          - TIME
          - API_NAME
          - CUSTOMER_ID
          - INSERT_TS
          - JSON
          - CLOUD_ACCOUNT
          - CLOUD_REGION
          - STATE_ID
          type: string
      type: object
    SearchResponseModel:
      properties:
        alertId:
          description: Alert ID
          readOnly: true
          type: string
        async:
          description: true = Is Async
          readOnly: true
          type: boolean
        asyncResultUrl:
          description: Async Result Url
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
          readOnly: true
          type: string
        cloudType:
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        cursor:
          description: Cursor
          format: int32
          readOnly: true
          type: integer
        data:
          type: object
        default:
          type: boolean
        description:
          description: Search Description
          type: string
        filters:
          description: View Order
          items:
            $ref: '#/components/schemas/UIFilterModel'
          readOnly: true
          type: array
        groupBy:
          description: Group By
          items:
            type: string
          readOnly: true
          type: array
        id:
          description: Search ID
          type: string
        name:
          description: Search Name
          type: string
        query:
          description: RQL Query
          type: string
        saved:
          description: Search Exists
          type: boolean
        searchType:
          description: Search Type
          enum:
          - network
          - audit_event
          - config
          - asset
          readOnly: true
          type: string
        timeGranularity:
          description: Time Granularity
          readOnly: true
          type: string
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time Range
      required:
      - query
      - timeRange
      type: object
    ConfigRulePageParams:
      properties:
        limit:
          description: Results per Page
          format: int32
          type: integer
        pageToken:
          description: Page Token
          type: string
        withResourceJson:
          type: boolean
      type: object
    ResourceMetaModel:
      description: Model containing resource metadata
      properties:
        accountGroupName:
          description: Account group name
          type: string
        accountId:
          description: Account ID
          type: string
        accountName:
          description: Account name
          type: string
        allowDrillDown:
          description: allowDrillDown
          type: boolean
        assetId:
          description: Asset ID
          type: string
        cloudType:
          description: Cloud Type
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - IBM
          type: string
        createdTs:
          description: Creation timestamp
          format: int64
          type: integer
        data:
          description: Raw JSON data for the resource
          type: object
        deleted:
          description: Deleted
          type: boolean
        dynamicData:
          additionalProperties:
            type: object
          description: Dynamic data
          type: object
        hasExtFindingRiskFactors:
          description: Has risk factors
          type: boolean
        hasExternalFinding:
          description: Has external finding
          type: boolean
        hasExternalIntegration:
          description: Has external integration
          type: boolean
        hasNetwork:
          description: Has network
          type: boolean
        id:
          description: ID
          type: string
        insertTs:
          description: Insertion timestamp
          format: int64
          type: integer
        name:
          description: Name
          type: string
        regionId:
          description: Region ID
          type: string
        regionName:
          description: Region name
          type: string
        resourceConfigJsonAvailable:
          description: allowDrillDown
          type: boolean
        resourceType:
          description: Resource type
          type: string
        riskGrade:
          description: Risk grade
          type: string
        rrn:
          allOf:
          - $ref: '#/components/schemas/RRNModel'
          - description: RRN
        service:
          description: Service
          type: string
        stateId:
          description: State ID
          type: string
        tags:
          additionalProperties:
            type: string
          description: Tags
          type: object
        url:
          description: URL
          type: string
        vpcId:
          description: Virtual private cloud ID
          type: string
        vpcName:
          description: Virtual private cloud name
          type: string
      type: object
    PagedResultsResourceMetaModel:
      properties:
        dynamicColumns:
          items:
            type: string
          type: array
          uniqueItems: true
        infoMsg:
          type: string
        items:
          items:
            $ref: '#/components/schemas/ResourceMetaModel'
          type: array
        nextPageToken:
          type: string
        sortAllowedColumns:
          items:
            type: string
          type: array
          uniqueItems: true
        totalRows:
          format: int64
          type: integer
      type: object
    RelativeTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for RelativeTimeRangeConfig
        properties:
          relativeTimeType:
            description: Direction in which to count time. Default = BACKWARD
            enum:
            - BACKWARD
            - FORWARD
            type: string
          type:
            example: relative
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/RelativeTimeDurationModel'
            - description: Time range object
        required:
        - value
        type: object
    ToNowTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for ToNowTimeRangeConfig
        properties:
          value:
            description: Time range object
            enum:
            - MINUTE
            - HOUR
            - DAY
            - WEEK
            - MONTH
            - YEAR
            - EPOCH
            - LOGIN
            type: string
        type: object
    ResourceIdBean:
      description: Model for Resource ID Bean
      properties:
        account:
          description: Account
          readOnly: true
          type: string
        apiName:
          description: Resource API name
          readOnly: true
          type: string
        cloudType:
          description: Cloud type
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - IBM
          readOnly: true
          type: string
        insert_ts:
          description: Insertion timestamp
          format: int64
          readOnly: true
          type: integer
        region:
          description: Region
          readOnly: true
          type: string
        resource:
          description: Resource
          readOnly: true
          type: string
        resourceApiId:
          description: Resource API ID
          format: int32
          type: integer
        type:
          description: Resource type
          readOnly: true
          type: string
        vpc:
          description: VCP
          readOnly: true
          type: string
      type: object
    TimeRangeConfigModel:
      description: 'See the [Time Range Model](/prisma-cloud/api/cspm/api-time-range-model) for details.

        '
      discriminator:
        mapping:
          absolute: '#/components/schemas/AbsoluteTimeRangeConfigModel'
          relative: '#/components/schemas/RelativeTimeRangeConfigModel'
          to_now: '#/components/schemas/ToNowTimeRangeConfigModel'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/RelativeTimeRangeConfigModel'
      - $ref: '#/components/schemas/AbsoluteTimeRangeConfigModel'
      - $ref: '#/components/schemas/ToNowTimeRangeConfigModel'
      properties:
        type:
          description: Time type
          type: string
      required:
      - type
      type: object
    RelativeTimeDurationModel:
      description: Model for RelativeTimeDuration
      properties:
        amount:
          description: Number of time units
          format: int32
          type: integer
        unit:
          description: Time unit
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          type: string
      type: object
    AbsoluteTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for AbsoluteTimeRangeConfig
        properties:
          type:
            example: absolute
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/TimeModel'
            - description: Time range object
        required:
        - value
        type: object
    SearchResponseModelPagedResultsResourceMetaModel:
      properties:
        alertId:
          description: Alert ID
          readOnly: true
          type: string
        async:
          description: true = Is Async
          readOnly: true
          type: boolean
        asyncResultUrl:
          description: Async Result Url
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
          readOnly: true
          type: string
        cloudType:
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        cursor:
          description: Cursor
          format: int32
          readOnly: true
          type: integer
        data:
          $ref: '#/components/schemas/PagedResultsResourceMetaModel'
        default:
          type: boolean
        description:
          description: Search Description
          type: string
        filters:
          description: View Order
          items:
            $ref: '#/components/schemas/UIFilterModel'
          readOnly: true
          type: array
        groupBy:
          description: Group By
          items:
            type: string
          readOnly: true
          type: array
        id:
          description: Search ID
          type: string
        name:
          description: Search Name
          type: string
        query:
          description: RQL Query
          type: string
        saved:
          description: Search Exists
          type: boolean
        searchType:
          description: Search Type
          enum:
          - network
          - audit_event
          - config
          - asset
          readOnly: true
          type: string
        timeGranularity:
          description: Time Granularity
          readOnly: true
          type: string
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time Range
      required:
      - query
      - timeRange
      type: object
    ConfigRuleSearchParams:
      properties:
        id:
          description: Search ID
          type: string
        limit:
          description: Results per page. Does not apply to asynchronous search jobs.
          format: int32
          type: integer
        query:
          description: RQL query
          type: string
        searchDescription:
          description: Search description. For asynchronouse search jobs only.
          type: string
        searchName:
          description: Search name. For asynchronouse search jobs only.
          type: string
        sort:
          description: Sort field data
          items:
            $ref: '#/components/schemas/SortConfigRuleSortField'
          type: array
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time range
        withResourceJson:
          description: true = include resource JSON. Default is true.
          type: boolean
      type: object
    AutocompleteInfo:
      description: Model for AutocompleteInfo
      properties:
        links:
          description: JSON query builder links
          type: string
        needsOffsetUpdate:
          description: Needs offset update (for internal use)
          type: boolean
        offset:
          description: Offset within query
          format: int32
          type: integer
        suggestions:
          description: List of suggestions
          items:
            type: string
          type: array
        translate:
          description: Translate (for internal use)
          type: boolean
        valid:
          description: Query is valid
          type: boolean
      type: object
    SearchModel:
      properties:
        alertId:
          description: Alert ID
          readOnly: true
          type: string
        async:
          description: true = Is Async
          readOnly: true
          type: boolean
        asyncResultUrl:
          description: Async Result Url
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
          readOnly: true
          type: string
        cloudType:
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        cursor:
          description: Cursor
          format: int32
          readOnly: true
          type: integer
        default:
          type: boolean
        description:
          description: Search Description
          type: string
        filters:
          description: View Order
          items:
            $ref: '#/components/schemas/UIFilterModel'
          readOnly: true
          type: array
        groupBy:
          description: Group By
          items:
            type: string
          readOnly: true
          type: array
        id:
          description: Search ID
          type: string
        name:
          description: Search Name
          type: string
        query:
          description: RQL Query
          type: string
        saved:
          description: Search Exists
          type: boolean
        searchType:
          description: Search Type
          enum:
          - network
          - audit_event
          - config
          - asset
          readOnly: true
          type: string
        timeGranularity:
          description: Time Granularity
          readOnly: true
          type: string
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time Range
      required:
      - query
      - timeRange
      type: object
    UIFilterModel:
      description: Model for UIFilter
      properties:
        name:
          description: Name
          type: string
        operator:
          description: Operator
          enum:
          - '='
          type: string
        value:
          description: Value
          type: string
      type: object
    AggregateAuditEvent:
      properties:
        anomalies:
          format: int32
          type: integer
        bruteForceAnomalies:
          format: int32
          type: integer
        cityId:
          format: int32
          type: integer
        cityName:
          type: string
        countryId:
          format: int32
          type: integer
        countryName:
          type: string
        description:
          type: string
        deviceFingerprintLoginAnomalies:
          format: int32
          type: integer
        distinctUsers:
          format: int32
          type: integer
        events:
          format: int32
          type: integer
        geoAnomalies:
          format: int32
          type: integer
        geoAnomaliesByAccessKey:
          format: int32
          type: integer
        geoAnomaliesByUser:
          format: int32
          type: integer
        latitude:
          format: double
          type: number
        longitude:
          format: double
          type: number
        service:
          type: string
        serviceAnomalies:
          format: int32
          type: integer
        serviceAnomaliesByAccessKey:
          format: int32
          type: integer
        serviceAnomaliesByUser:
          format: int32
          type: integer
        serviceHighlighted:
          type: boolean
        serviceNGeoAnomalies:
          format: int32
          type: integer
        serviceNGeoAnomaliesByAccessKey:
          format: int32
          type: integer
        serviceNGeoAnomaliesByUser:
          format: int32
          type: integer
        stateId:
          format: int32
          type: integer
        stateName:
          type: string
        timeTravelAnomalies:
          format: int32
          type: integer
        timestamp:
          format: int64
          type: integer
        unusualLocations:
          type: string
        user:
          type: string
      type: object
    SearchResponseModelPagedResultsAuditEvent:
      properties:
        alertId:
          description: Alert ID
          readOnly: true
          type: string
        async:
          description: true = Is Async
          readOnly: true
          type: boolean
        asyncResultUrl:
          description: Async Result Url
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
          readOnly: true
          type: string
        cloudType:
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        cursor:
          description: Cursor
          format: int32
          readOnly: true
          type: integer
        data:
          $ref: '#/components/schemas/PagedResultsAuditEvent'
        default:
          type: boolean
        description:
          description: Search Description
          type: string
        filters:
          description: View Order
          items:
            $ref: '#/components/schemas/UIFilterModel'
          readOnly: true
          type: array
        groupBy:
          description: Group By
          items:
            type: string
          readOnly: true
          type: array
        id:
          description: Search ID
          type: string
        name:
          description: Search Name
          type: string
        query:
          description: RQL Query
          type: string
        saved:
          description: Search Exists
          type: boolean
        searchType:
          description: Search Type
          enum:
          - network
          - audit_event
          - config
          - asset
          readOnly: true
          type: string
        timeGranularity:
          description: Time Granularity
          readOnly: true
          type: string
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time Range
      required:
      - query
      - timeRange
      type: object
    RRNModel:
      description: Model for RRN
      properties:
        accountId:
          description: Account ID
          readOnly: true
          type: string
        cloudType:
          description: Cloud type
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - IBM
          readOnly: true
          type: string
        idmapId:
          description: Hashed generated ID
          readOnly: true
          type: string
        regionId:
          description: Region ID
          readOnly: true
          type: string
        resourceId:
          description: Resource ID
          readOnly: true
          type: string
        resourceType:
          description: Resource type
          readOnly: true
          type: string
      type: object
    SearchResponseModelListObject:
      properties:
        alertId:
          description: Alert ID
          readOnly: true
          type: string
        async:
          description: true = Is Async
          readOnly: true
          type: boolean
        asyncResultUrl:
          description: Async Result Url
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
          readOnly: true
          type: string
        cloudType:
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
          type: string
        cursor:
          description: Cursor
          format: int32
          readOnly: true
          type: integer
        data:
          items:
            type: object
          type: array
        default:
          type: boolean
        description:
          description: Search Description
          type: string
        filters:
          description: View Order
          items:
            $ref: '#/components/schemas/UIFilterModel'
          readOnly: true
          type: array
        groupBy:
          description: Group By
          items:
            type: string
          readOnly: true
          type: array
        id:
          description: Search ID
          type: string
        name:
          description: Search Name
          type: string
        query:
          description: RQL Query
          type: string
        saved:
          description: Search Exists
          type: boolean
        searchType:
          description: Search Type
          enum:
          - network
          - audit_event
          - config
          - asset
          readOnly: true
          type: string
        timeGranularity:
          description: Time Granularity
          readOnly: true
          type: string
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time Range
      required:
      - query
      - timeRange
      type: object
    PagedResultsAuditEvent:
      properties:
        dynamicColumns:
          items:
            type: string
          type: array
          uniqueItems: true
        infoMsg:
          type: string
        items:
          items:
            $ref: '#/components/schemas/AuditEvent'
          type: array
        nextPageToken:
          type: string
        sortAllowedColumns:
          items:
            type: string
          type: array
          uniqueItems: true
        totalRows:
          format: int64
          type: integer
      type: object
    ConfigCsvJobResponseModel:
      description: ' Response Model for CreateConfigRuleSearchCsvDownloadJob'
      properties:
        createdBy:
          description: Job creator
          readOnly: true
          type: string
        createdOn:
          description: Creation timestamp
          format: int64
          readOnly: true
          type: integer
        getdownloadUri:
          description: Status URI
          readOnly: true
          type: string
        id:
          description: Job ID
          readOnly: true
          type: string
      type: object
    AuditEventSearchParamsModel:
      description: Audit event search parameters model
      properties:
        alertId:
          description: Alert ID
          type: string
        filters:
          description: Filters
          items:
            $ref: '#/components/schemas/UIFilterModel'
          type: array
        groupBy:
          description: Group By parameters
          items:
            type: string
          type: array
        id:
          description: Search ID
          type: string
        limit:
          description: Limit
          format: int32
          type: integer
        query:
          description: RQL query
          type: string
        sort:
          description: Sort Fields
          items:
            $ref: '#/components/schemas/SortAuditEventSortField'
          type: array
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel'
      type: object
    UserAgentBrowser:
      properties:
        hash:
          format: int32
          type: integer
        id:
          format: int32
          type: integer
        name:
          type: string
      type: object
    AuditEventPageParams:
      properties:
        limit:
          description: Results per Page
          format: int32
          type: integer
        pageToken:
          description: Page Token
          type: string
      type: object
    AuditEvent:
      properties:
        accessKey:
          type: string
        accessKeyUsed:
          type: boolean
        account:
          type: string
        accountName:
          type: string
        anomalyId:
          type: string
        browser:
          type: string
        cityId:
          format: int32
          type: integer
        cityLatitude:
          format: double
          type: number
        cityLongitude:
          format: double
          type: number
        cityName:
          type: string
        countryId:
          format: int32
          type: integer
        countryName:
          type: string
        dynamicData:
          additionalProperties:
            type: object
          type: object
        eventTs:
          format: int64
          type: integer
        flaggedFeature:
          type: string
        id:
          format: int64
          type: integer
        ingestionTs:
          format: int64
          type: integer
        internal:
          type: boolean
        ip:
          type: string
        location:
          type: string
        name:
          type: string
        notPersisted:
          type: boolean
        objects:
          items:
            $ref: '#/components/schemas/ResourceIdBean'
          type: array
        os:
          type: string
        rawEvent:
          type: object
        reasonIds:
          items:
            format: int32
            type: integer
          type: array
        regionApiIdentifier:
          type: string
        regionId:
          format: int32
          type: integer
        regionName:
          type: string
        role:
          type: string
        source:
          type: string
        stateId:
          format: int32
          type: integer
        stateName:
          type: string
        subject:
          type: string
        subjectType:
          enum:
          - AWS_OTHER
          - AZURE_OTHER
          - GCP_OTHER
          - AWS_IAM_USER
          - AWS_ROOT
          - AWS_ASSUMED_ROLE
          - AWS_ROLE
          - GCP_USER
          - GCP_SERVICE_ACCOUNT
          - AZURE_AD_USER
          - AZURE_APPLICATION
          - AWS_ACCOUNT
          - AWS_SERVICE
          - AWS_FEDERATED_USER
          - AWS_SAML_USER
          - AWS_WEB_IDENTITY_USER
          - AWS_DIRECTORY
          type: string
        success:
          type: boolean
        timezone:
          type: string
        type:
          enum:
          - UNKNOWN
          - CREATE
          - READ
          - UPDATE
          - DELETE
          - LOGIN
          - TEST
          - AUDITD
          type: string
        userAgentBrowser:
          $ref: '#/components/schemas/UserAgentBrowser'
        userAgentOs:
          $ref: '#/components/schemas/UserAgentOs'
      type: object
    TimeModel:
      description: Model for Time
      properties:
        endTime:
          description: End timestamp
          format: int64
          type: integer
        startTime:
          description: Start timestamp
          format: int64
          type: integer
      type: object
    ConfigSearchBySearchIdV1Request:
      type: object
      properties:
        limit:
          type: integer
          description: Results per page
          format: int32
        withResourceJson:
          type: boolean
          description: true = include resource JSON. Default is false.
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        sort:
          type: array
          description: Sort field data
          items:
            $ref: '#/components/schemas/SortConfigRuleSortField_2'
        nextPageToken:
          type: string
          description: Page Token
    ConfigSearchAsyncDownloadV1Response:
      type: object
      properties:
        reportId:
          type: string
          description: The report Id of the Csv download job
        downloadUrl:
          type: string
          description: The url of the saved results
        statusUrl:
          type: string
          description: The csv platforms status uri for this job
        status:
          type: string
          description: The status of the job
        createdOn:
          type: integer
          description: The timestamp when Csv platform creates this job
          format: int64
        createdBy:
          type: string
          description: createdBy
    ConfigSearchByQueryV2Request:
      type: object
      required:
      - query
      properties:
        skipSearchCreation:
          type: boolean
          description: Skip Search Creation
          readOnly: true
        limit:
          type: integer
          format: int32
          description: Results per page
        withResourceJson:
          type: boolean
          description: true = include resource JSON. Default is false.
        startTime:
          type: integer
          format: int64
          description: startTime
        skipResult:
          type: boolean
          description: Skip Search Result
        sort:
          type: array
          description: Sort field data
          items:
            $ref: '#/components/schemas/SortConfigRuleSortField_2'
        query:
          type: string
          description: RQL query
        nextPageToken:
          type: string
          description: Used as the request parameter `pageToken` in the [Get The Next Search Page](/prisma-cloud/api/cspm/search-config-page/) endpoint to retrieve the next page of search results
    SortAuditEventSortField_2:
      type: object
      properties:
        field:
          type: string
          enum:
          - id
          - time
          - operation
          - cloud_service
          - crud
          - user
          - cloud_account
          - cloud_region
          - timestamp
        direction:
          type: string
          description: Direction
          enum:
          - asc
          - desc
    SortConfigRuleSortField_2:
      type: object
      properties:
        field:
          type: string
          enum:
          - id
          - time
          - api_name
          - customer_id
          - insert_ts
          - json
          - cloud_account
          - cloud_region
          - state_id
        direction:
          type: string
          description: Direction
          enum:
          - asc
          - desc
    SearchResponseModelListAggregateAuditEvent_2:
      required:
      - query
      - timeRange
      type: object
      properties:
        groupBy:
          type: array
          description: Group By
          readOnly: true
          items:
            type: string
        filters:
          type: array
          description: View Order
          readOnly: true
          items:
            $ref: '#/components/schemas/UIFilterModel'
        timeGranularity:
          type: string
          description: Time Granularity
          readOnly: true
        alertId:
          type: string
          description: Alert ID
          readOnly: true
        cloudType:
          type: string
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
        id:
          type: string
          description: Search ID
        name:
          type: string
          description: Search Name
        description:
          type: string
          description: Search Description
        searchType:
          type: string
          description: Search Type
          readOnly: true
          enum:
          - network
          - audit_event
          - config
          - asset
        asyncResultUrl:
          type: string
          description: Async Result Url
          readOnly: true
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
        saved:
          type: boolean
          description: Search Exists
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        query:
          type: string
          description: RQL Query
        cursor:
          type: integer
          description: Cursor
          format: int32
          readOnly: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/AggregateAuditEvent'
        default:
          type: boolean
        async:
          type: boolean
          description: true = Is Async
          readOnly: true
    SearchResponseModel_2:
      required:
      - query
      - timeRange
      type: object
      properties:
        groupBy:
          type: array
          description: Group By
          readOnly: true
          items:
            type: string
        filters:
          type: array
          description: View Order
          readOnly: true
          items:
            $ref: '#/components/schemas/UIFilterModel'
        timeGranularity:
          type: string
          description: Time Granularity
          readOnly: true
        alertId:
          type: string
          description: Alert ID
          readOnly: true
        cloudType:
          type: string
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
        id:
          type: string
          description: Search ID
        name:
          type: string
          description: Search Name
        description:
          type: string
          description: Search Description
        searchType:
          type: string
          description: Search Type
          readOnly: true
          enum:
          - network
          - audit_event
          - config
          - asset
        asyncResultUrl:
          type: string
          description: Async Result Url
          readOnly: true
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
        saved:
          type: boolean
          description: Search Exists
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        query:
          type: string
          description: RQL Query
        cursor:
          type: integer
          description: Cursor
          format: int32
          readOnly: true
        data:
          type: object
          properties: {}
        default:
          type: boolean
        async:
          type: boolean
          description: true = Is Async
          readOnly: true
    ConfigRulePageParams_2:
      type: object
      properties:
        limit:
          type: integer
          description: Results per Page
          format: int32
        withResourceJson:
          type: boolean
        pageToken:
          type: string
          description: Page Token
        heuristicSearch:
          type: boolean
          description: true = Optimised Search. Default is false.
    ResourceMetaModel_2:
      type: object
      properties:
        rrn:
          type: string
          description: RRN
        stateId:
          type: string
          description: State ID
        assetId:
          type: string
          description: Asset ID
        id:
          type: string
          description: ID
        name:
          type: string
          description: Name
        url:
          type: string
          description: URL
        accountId:
          type: string
          description: Account ID
        accountName:
          type: string
          description: Account name
        accountGroupName:
          type: string
          description: Account group name
        cloudType:
          type: string
          description: Cloud Type
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - OTHER
          - IBM
        regionId:
          type: string
          description: Region ID
        regionName:
          type: string
          description: Region name
        service:
          type: string
          description: Service
        resourceType:
          type: string
          description: Resource type
        insertTs:
          type: integer
          description: Insertion timestamp
          format: int64
        createdTs:
          type: integer
          description: Creation timestamp
          format: int64
        deleted:
          type: boolean
          description: Deleted
        vpcId:
          type: string
          description: Virtual private cloud ID
        vpcName:
          type: string
          description: Virtual private cloud name
        tags:
          type: object
          additionalProperties:
            type: string
          description: Tags
        riskGrade:
          type: string
          description: Risk grade
        data:
          type: object
          properties: {}
          description: Raw JSON data for the resource
        dynamicData:
          type: object
          additionalProperties:
            type: object
            properties: {}
          description: Dynamic data
        hasNetwork:
          type: boolean
          description: Has network
        hasExternalFinding:
          type: boolean
          description: Has external finding
        hasExternalIntegration:
          type: boolean
          description: Has external integration
        allowDrillDown:
          type: boolean
          description: allowDrillDown
        hasExtFindingRiskFactors:
          type: boolean
          description: Has risk factors
        resourceConfigJsonAvailable:
          type: boolean
          description: allowDrillDown
      description: Model containing resource metadata
    CsvMessageModel:
      type: object
      properties:
        headerComments:
          type: array
          description: List of header comments
          items:
            type: string
        headers:
          type: array
          description: List of headers
          items:
            type: string
        rows:
          type: array
          description: List of rows
          items:
            type: array
            items:
              type: string
      description: Model for CsvMessage
    ResourceIdBean_2:
      type: object
      properties:
        account:
          type: string
          description: Account
          readOnly: true
        region:
          type: string
          description: Region
          readOnly: true
        vpc:
          type: string
          description: VCP
          readOnly: true
        resource:
          type: string
          description: Resource
          readOnly: true
        type:
          type: string
          description: Resource type
          readOnly: true
        insert_ts:
          type: integer
          description: Insertion timestamp
          format: int64
          readOnly: true
        cloudType:
          type: string
          description: Cloud type
          readOnly: true
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - OTHER
          - IBM
        apiName:
          type: string
          description: Resource API name
          readOnly: true
        resourceApiId:
          type: integer
          description: Resource API ID
          format: int32
      description: Model for Resource ID Bean
    TimeRangeConfigModel_2:
      type: object
      properties:
        type:
          type: string
          description: Time type
          enum:
          - relative
        value:
          $ref: '#/components/schemas/RelativeTimeDurationModel'
      description: Model for TimeRangeConfig
      discriminator:
        propertyName: type
    SearchResponseModelPagedResultsResourceMetaModel_2:
      required:
      - query
      - timeRange
      type: object
      properties:
        groupBy:
          type: array
          description: Group By
          readOnly: true
          items:
            type: string
        filters:
          type: array
          description: View Order
          readOnly: true
          items:
            $ref: '#/components/schemas/UIFilterModel'
        timeGranularity:
          type: string
          description: Time Granularity
          readOnly: true
        alertId:
          type: string
          description: Alert ID
          readOnly: true
        cloudType:
          type: string
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
        id:
          type: string
          description: Search ID
        name:
          type: string
          description: Search Name
        description:
          type: string
          description: Search Description
        searchType:
          type: string
          description: Search Type
          readOnly: true
          enum:
          - network
          - audit_event
          - config
          - asset
        asyncResultUrl:
          type: string
          description: Async Result Url
          readOnly: true
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
        saved:
          type: boolean
          description: Search Exists
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        query:
          type: string
          description: RQL Query
        cursor:
          type: integer
          description: Cursor
          format: int32
          readOnly: true
        data:
          $ref: '#/components/schemas/PagedResultsResourceMetaModel'
        default:
          type: boolean
        async:
          type: boolean
          description: true = Is Async
          readOnly: true
    ConfigRuleSearchParams_2:
      type: object
      properties:
        searchName:
          type: string
          description: Search name. For asynchronouse search jobs only.
        searchDescription:
          type: string
          description: Search description. For asynchronouse search jobs only.
        heuristicSearch:
          type: boolean
          description: true = Optimised Search. Default is false.
        withResourceJson:
          type: boolean
          description: true = include resource JSON. Default is true.
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        sort:
          type: array
          description: Sort field data
          items:
            $ref: '#/components/schemas/SortConfigRuleSortField_2'
        limit:
          type: integer
          description: Results per page. Does not apply to asynchronous search jobs.
          format: int32
        id:
          type: string
          description: Search ID
        query:
          type: string
          description: RQL query
    SearchModel_2:
      required:
      - query
      - timeRange
      type: object
      properties:
        groupBy:
          type: array
          description: Group By
          readOnly: true
          items:
            type: string
        filters:
          type: array
          description: View Order
          readOnly: true
          items:
            $ref: '#/components/schemas/UIFilterModel'
        timeGranularity:
          type: string
          description: Time Granularity
          readOnly: true
        alertId:
          type: string
          description: Alert ID
          readOnly: true
        cloudType:
          type: string
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
        id:
          type: string
          description: Search ID
        name:
          type: string
          description: Search Name
        description:
          type: string
          description: Search Description
        searchType:
          type: string
          description: Search Type
          readOnly: true
          enum:
          - network
          - audit_event
          - config
          - asset
        asyncResultUrl:
          type: string
          description: Async Result Url
          readOnly: true
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
        saved:
          type: boolean
          description: Search Exists
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        query:
          type: string
          description: RQL Query
        cursor:
          type: integer
          description: Cursor
          format: int32
          readOnly: true
        default:
          type: boolean
        async:
          type: boolean
          description: true = Is Async
          readOnly: true
    ConfigSearchV1ResponseResourceMetaModel:
      type: object
      properties:
        totalRows:
          type: integer
          description: The total number of matching resources
          format: int64
        items:
          type: array
          description: List of matching resources
          items:
            $ref: '#/components/schemas/ResourceMetaModel_2'
        dynamicColumns:
          uniqueItems: true
          type: array
          description: Set of names of custom resource attributes
          items:
            type: string
        nextPageToken:
          type: string
          description: Encoded page token to continue pagination
        infoMsg:
          type: string
        sortAllowedColumns:
          uniqueItems: true
          type: array
          items:
            type: string
        id:
          type: string
          description: Search id
    SearchResponseModelPagedResultsAuditEvent_2:
      required:
      - query
      - timeRange
      type: object
      properties:
        groupBy:
          type: array
          description: Group By
          readOnly: true
          items:
            type: string
        filters:
          type: array
          description: View Order
          readOnly: true
          items:
            $ref: '#/components/schemas/UIFilterModel'
        timeGranularity:
          type: string
          description: Time Granularity
          readOnly: true
        alertId:
          type: string
          description: Alert ID
          readOnly: true
        cloudType:
          type: string
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
        id:
          type: string
          description: Search ID
        name:
          type: string
          description: Search Name
        description:
          type: string
          description: Search Description
        searchType:
          type: string
          description: Search Type
          readOnly: true
          enum:
          - network
          - audit_event
          - config
          - asset
        asyncResultUrl:
          type: string
          description: Async Result Url
          readOnly: true
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
        saved:
          type: boolean
          description: Search Exists
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        query:
          type: string
          description: RQL Query
        cursor:
          type: integer
          description: Cursor
          format: int32
          readOnly: true
        data:
          $ref: '#/components/schemas/PagedResultsAuditEvent'
        default:
          type: boolean
        async:
          type: boolean
          description: true = Is Async
          readOnly: true
    ConfigSearchByQueryWithDownloadV1Request:
      required:
      - query
      type: object
      properties:
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        sort:
          type: array
          description: Sort field data
          items:
            $ref: '#/components/schemas/SortConfigRuleSortField_2'
        query:
          type: string
          description: RQL query
        savedSearchId:
          type: string
          description: Search ID
    SearchResponseModelListObject_2:
      required:
      - query
      - timeRange
      type: object
      properties:
        groupBy:
          type: array
          description: Group By
          readOnly: true
          items:
            type: string
        filters:
          type: array
          description: View Order
          readOnly: true
          items:
            $ref: '#/components/schemas/UIFilterModel'
        timeGranularity:
          type: string
          description: Time Granularity
          readOnly: true
        alertId:
          type: string
          description: Alert ID
          readOnly: true
        cloudType:
          type: string
          description: Cloud Type
          enum:
          - aws
          - azure
          - gcp
          - alibaba_cloud
          - oci
        id:
          type: string
          description: Search ID
        name:
          type: string
          description: Search Name
        description:
          type: string
          description: Search Description
        searchType:
          type: string
          description: Search Type
          readOnly: true
          enum:
          - network
          - audit_event
          - config
          - asset
        asyncResultUrl:
          type: string
          description: Async Result Url
          readOnly: true
          example: /search/config/jobs/2df49d4f72e842b582b123bc2b7826b3/download
        saved:
          type: boolean
          description: Search Exists
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        query:
          type: string
          description: RQL Query
        cursor:
          type: integer
          description: Cursor
          format: int32
          readOnly: true
        data:
          type: array
          items:
            type: object
            properties: {}
        default:
          type: boolean
        async:
          type: boolean
          description: true = Is Async
          readOnly: true
    ConfigSearchV1ResponseResourceMetaModelV3:
      type: object
      properties:
        totalRows:
          type: integer
          format: int64
          description: The total number of matching resources
        items:
          type: array
          description: List of matching resources
          items:
            $ref: '#/components/schemas/ResourceMetaModelV3'
        dynamicColumns:
          type: array
          description: Set of names of custom resource attributes
          uniqueItems: true
          items:
            type: string
        nextPageToken:
          type: string
          description: Encoded page token to continue pagination
        infoMsg:
          type: string
        sortAllowedColumns:
          type: array
          uniqueItems: true
          items:
            type: string
        id:
          type: string
          description: Search id
    AuditEvent_2:
      type: object
      properties:
        account:
          type: string
        regionId:
          type: integer
          format: int32
        regionApiIdentifier:
          type: string
        eventTs:
          type: integer
          format: int64
        ingestionTs:
          type: integer
          format: int64
        subject:
          type: string
        type:
          type: string
          enum:
          - UNKNOWN
          - CREATE
          - READ
          - UPDATE
          - DELETE
          - LOGIN
          - TEST
          - AUDITD
        source:
          type: string
        name:
          type: string
        id:
          type: integer
          format: int64
        rawEvent:
          type: object
          properties: {}
        objects:
          type: array
          items:
            $ref: '#/components/schemas/ResourceIdBean_2'
        ip:
          type: string
        accessKey:
          type: string
        anomalyId:
          type: string
        accessKeyUsed:
          type: boolean
        subjectType:
          type: string
          enum:
          - AWS_OTHER
          - AZURE_OTHER
          - GCP_OTHER
          - AWS_IAM_USER
          - AWS_ROOT
          - AWS_ASSUMED_ROLE
          - AWS_ROLE
          - GCP_USER
          - GCP_SERVICE_ACCOUNT
          - AZURE_AD_USER
          - AZURE_APPLICATION
          - AWS_ACCOUNT
          - AWS_SERVICE
          - AWS_FEDERATED_USER
          - AWS_SAML_USER
          - AWS_WEB_IDENTITY_USER
          - AWS_DIRECTORY
        role:
          type: string
        reasonIds:
          type: array
          items:
            type: integer
            format: int32
        flaggedFeature:
          type: string
        cityId:
          type: integer
          format: int32
        cityName:
          type: string
        stateId:
          type: integer
          format: int32
        stateName:
          type: string
        countryId:
          type: integer
          format: int32
        countryName:
          type: string
        cityLatitude:
          type: number
          format: double
        cityLongitude:
          type: number
          format: double
        timezone:
          type: string
        success:
          type: boolean
        internal:
          type: boolean
        userAgentOs:
          $ref: '#/components/schemas/UserAgentOs'
        userAgentBrowser:
          $ref: '#/components/schemas/UserAgentBrowser'
        dynamicData:
          type: object
          additionalProperties:
            type: object
            properties: {}
        location:
          type: string
        os:
          type: string
        notPersisted:
          type: boolean
        browser:
          type: string
        accountName:
          type: string
        regionName:
          type: string
    ConfigSearchBySearchIdV2Request:
      type: object
      properties:
        limit:
          type: integer
          format: int32
          description: Results per page
        withResourceJson:
          type: boolean
          description: true = include resource JSON. Default is false.
        startTime:
          type: integer
          format: int64
          description: startTime
        sort:
          type: array
          description: Sort field data
          items:
            $ref: '#/components/schemas/SortConfigRuleSortField_2'
        nextPageToken:
          type: string
          description: Page Token
    ConfigSearchByQueryV1Request:
      required:
      - query
      type: object
      properties:
        skipSearchCreation:
          type: boolean
          description: Skip Search Creation. Default is false
        limit:
          type: integer
          description: Results per page
          format: int32
        withResourceJson:
          type: boolean
          description: true = include resource JSON. Default is false.
        timeRange:
          $ref: '#/components/schemas/TimeRangeConfigModel_2'
        skipResult:
          type: boolean
          description: Skip Search Result. Default is false
        sort:
          type: array
          description: Sort field data
          items:
            $ref: '#/components/schemas/SortConfigRuleSortField_2'
        query:
          type: string
          description: RQL query
        nextPageToken:
          type: string
          description: Page Token
    ResourceMetaModelV3:
      type: object
      description: Model containing resource metadata
      properties:
        rrn:
          type: string
          description: RRN
        stateId:
          type: string
          description: State ID
        assetId:
          type: string
          description: Asset ID
        id:
          type: string
          description: ID
        name:
          type: string
          description: Name
        url:
          type: string
          description: URL
        accountId:
          type: string
          description: Account ID
        accountName:
          type: string
          description: Account name
        accountGroupName:
          type: string
          description: Account group name
        cloudType:
          type: string
          description: Cloud Type
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - OTHER
          - IBM
        regionId:
          type: string
          description: Region ID
        regionName:
          type: string
          description: Region name
        service:
          type: string
          description: Service
        resourceType:
          type: string
          description: Resource type
        insertTs:
          type: integer
          format: int64
          description: Insertion timestamp
        createdTs:
          type: integer
          format: int64
          description: Creation timestamp
        deleted:
          type: boolean
          description: Deleted
        vpcId:
          type: string
          description: Virtual private cloud ID
        vpcName:
          type: string
          description: Virtual private cloud name
        tags:
          type: object
          description: Tags
          additionalProperties:
            type: string
        riskGrade:
          type: string
          description: Risk grade
        data:
          type: object
          description: Raw JSON data for the resource
        dynamicData:
          type: object
          description: Dynamic data
          additionalProperties:
            type: object
        hasNetwork:
          type: boolean
          description: Has network
        hasExternalFinding:
          type: boolean
          description: Has external finding
        hasExternalIntegration:
          type: boolean
          description: Has external integration
        allowDrillDown:
          type: boolean
          description: allowDrillDown
        hasExtFindingRiskFactors:
          type: boolean
          description: Has risk factors
        resourceConfigJsonAvailable:
          type: boolean
          description: allowDrillDown
        resourceTypeId:
          type: integer
          format: int64
          description: resourceTypeId
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
x-refined-from:
- palo-alto-cspm-consolidated-spec-cspm-spec-openapi.json
- palo-alto-cspm-searchmicroservice-openapi.json
