openapi: 3.2.0
info:
  title: Palo Alto Networks API Stats API
  version: '1.0'
  description: 'Operations tagged API Stats across 3 of this provider''s published API definitions: palo-alto-networks-api-stats-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: API Stats
paths:
  /mt/monitor/5g/api/stats:
    post:
      tags:
      - API Stats
      summary: Palo Alto Networks Monitor Application Programming Interface Performance
      description: "Returns success and failure statistics for 5G management Application Programming Interface calls made \nthrough the SCM interface. Technical teams monitor these stats to \nensure high availability and detect potential integration issues \nbetween 5G cores and the management plane."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountFilterRequest'
            example:
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  total_count: 0
                  success_count: 0
                  failure_count: 0
                header:
                  createdAt: '2025-12-17T02:06:39Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gApiStats
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    CountFilterRequest:
      type: object
      properties:
        filter:
          type: object
          properties:
            operator:
              type: string
              example: example-operator
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                    example: example-property
                  operator:
                    type: string
                    example: example-operator
                  values:
                    type: array
                    items:
                      type: object
                    example:
                    - {}
                    - {}
              example:
              - property: example-property
                operator: example-operator
                values:
                - {}
              - property: example-property
                operator: example-operator
                values:
                - {}
          example:
            operator: example-operator
            rules:
            - property: example-property
              operator: example-operator
              values:
              - {}
            - property: example-property
              operator: example-operator
              values:
              - {}
              - {}
    CountFilterRequest_2:
      type: object
      properties:
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-api-stats-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
