openapi: 3.2.0
info:
  title: Palo Alto Networks Unknown UE Mappings API
  version: '1.0'
  description: 'Operations tagged Unknown UE Mappings across 3 of this provider''s published API definitions: palo-alto-networks-unknown-ue-mappings-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Unknown UE Mappings
paths:
  /mt/monitor/5g/mapping/unknownUEs:
    get:
      tags:
      - Unknown UE Mappings
      summary: Palo Alto Networks Detect Unconfigured Subscribers
      description: "Reports the count of User Equipment that successfully registered via \nRadius or Application Programming Interface but lack a predefined configuration. Analysts review \nthese mappings to bridge gaps between dynamic 5G sessions and static \nmanagement records."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  unknown_mappings: 1
                header:
                  createdAt: '2025-12-17T02:07:45Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gMappingUnknownues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-unknown-ue-mappings-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
