openapi: 3.2.0
info:
  contact:
    email: support@paloaltonetworks.com
  description: 'This Open API spec file represents the APIs available for

    [Palo Alto Networks Aggregate Monitoring](https://docs.paloaltonetworks.com/NEED-URL) APIs.


    After you have configured your tenants, these APIs can be used to perform aggregated monitoring queries for information about applications, threats, URLs, and licenses across all your tenants of a Prisma Access or Prisma SD-WAN instance.


    These APIs use the common SASE authentication mechanism and base URL. See the

    [Prisma SASE API Get Started](https://pan.dev/sase/docs/getstarted) guide for more information.


    This Open API spec file was created on October 01, 2024. To check for a more recent version of this file, see

    [Aggregate Monitoring APIs on pan.dev](https://pan.dev/sase/api/mt-monitor/).


    © 2024 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo

    Alto Networks. A list of our trademarks can be found at


    [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html)


    All other marks mentioned herein may be trademarks of their respective companies.

    '
  title: Aggreagate Monitoring Tenant Resources API API
  version: '1.0'
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- description: 'Use the Tenant Resource API to list all tenants in the hierarchy.

    '
  name: Tenant Resources API
paths:
  /mt/monitor/v1/agg/custom/tenant/hierarchy:
    get:
      description: 'Retrieve an aggregated list of all tenants in the hierarchy.

        '
      operationId: get-mt-monitor-v1-agg-custom-tenant-hierarchy
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantHierarchy'
          description: Success
        '400':
          description: Bad Request
        '500':
          description: Server Error
      security:
      - Bearer: []
      summary: List tenant hierarchy
      tags:
      - Tenant Resources API
components:
  schemas:
    TenantHierarchy:
      properties:
        cdlTenantId:
          description: CDL Tenant Id
          type: string
        children:
          description: List of Child Tenants which are of type Tenant Hierarchy
          items:
            $ref: '#/components/schemas/TenantHierarchy'
          type: array
        display_name:
          description: Tenant Display Name
          type: string
        id:
          description: TSG Id
          type: string
        license_activated:
          description: License Activation Flag
          type: boolean
        region:
          description: Set of CDL regions which can be any one of  us01, eu01, au01, de01, jp01, ca01, sg01, uk01
          items:
            type: string
          type: array
          uniqueItems: true
        tenantLicenseType:
          description: Tenant License Type which can be any one of PA_ONLY, SDWAN_ONLY, SASE, PA_SDWAN
          type: string
        vertical:
          description: Customer Vertical
          type: string
      required:
      - cdlTenantId
      - display_name
      - id
      - license_activated
      - tenantLicenseType
      - vertical
      type: object
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
