openapi: 3.2.0
info:
  title: Palo Alto Networks Cloud Ingested Logs API
  version: '1.0'
  description: 'Operations tagged Cloud Ingested Logs across 2 of this provider''s published API definitions: palo-alto-cspm-eventbridgemicroservice-openapi.json, palo-alto-cspm-onboardingawss3flowlogs-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- name: Cloud Ingested Logs
paths:
  /audit_logs/v2/tenant/{tenantId}/aws_accounts/{accountId}/eventbridge_config:
    get:
      tags:
      - Cloud Ingested Logs
      summary: Get AWS Eventbridge configuration details
      description: Returns AWS Eventbridge configuration details for a given account
      operationId: get-eventbridge-configuration-details
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          example: null
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsEventBridgeConfigRuleView'
              example: null
        '401':
          description: Unauthorized Access
          content:
            '*/*':
              schema:
                type: object
                example: null
              example: null
      x-public: 'true'
      security:
      - x-redlock-auth: []
    put:
      tags:
      - Cloud Ingested Logs
      summary: Update AWS Eventbridge configuration
      description: Updates AWS Eventbridge configuration for a given account
      operationId: save-or-update-eventbridge-config
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          example: null
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              example: null
        '401':
          description: Unauthorized Access
          content:
            '*/*':
              schema:
                type: array
                example: null
                items:
                  $ref: '#/components/schemas/AuditLogsConfigStatusComponent'
              example: null
      x-public: 'true'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /audit_logs/v2/tenant/{tenantId}/aws_accounts/{accountId}/eventbridge_config/status:
    get:
      tags:
      - Cloud Ingested Logs
      summary: Get AWS Eventbridge config status
      description: Returns AWS Eventbridge configuration status for a given account
      operationId: get-eventbridge-configuration-status
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          example: null
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: null
      responses:
        '401':
          description: Unauthorized Access
          content:
            '*/*':
              schema:
                type: object
                example: null
              example: null
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogsConfigStatusComponent'
              example: null
      x-public: 'true'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /audit_logs/v2/tenant/{tenantId}/aws_accounts/{accountId}/eventbridge_config/cft_download:
    get:
      tags:
      - Cloud Ingested Logs
      summary: Generate AWS Eventbridge CFT
      description: Generates Eventbridge CFT for a given AWS account
      operationId: generate-eventbridge-cft
      parameters:
      - name: tenantId
        in: path
        required: true
        schema:
          type: integer
          format: int64
          example: null
      - name: accountId
        in: path
        required: true
        schema:
          type: string
          example: null
      responses:
        '401':
          description: Unauthorized Access
          content:
            '*/*':
              schema:
                type: object
                example: null
              example: null
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                example: null
              example: null
      x-public: 'true'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud-accounts-manager/v1/cloud-accounts/aws/{accountId}/features/aws-flow-logs/s3:
    get:
      description: Fetches AWS S3 Flow Log feature details of monitored account.
      operationId: get-aws-s3-flowlog
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AwsS3FlowLogsModel'
          description: success
        '400':
          description: invalid_parameter_value / bad_request
        '401':
          description: unauthorized_access
        '404':
          description: account_not_exist_or_disabled / AWS Flow Logs S3 feature not configured
      security:
      - x-redlock-auth: []
      summary: Fetch AWS S3 Flow Log details
      tags:
      - Cloud Ingested Logs
    patch:
      description: Saves AWS S3 Flow Log feature details of monitored account.
      operationId: save-aws-s3-flowlog
      parameters:
      - description: 1 Hour format
        in: query
        name: isHourlyFormat
        required: true
        schema:
          type: boolean
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsS3FlowLogsModel'
        description: AWS S3 Flow Logs feature
        required: true
      responses:
        '201':
          description: success
        '400':
          description: invalid_parameter_value / bad_request / missing_required_parameter / Logging account and monitored account are in different partition / logging_account_bucket_not_found / AWS Flow Logs S3 feature not supported for account
        '401':
          description: unauthorized_access
        '404':
          description: account_not_exist_or_disabled / logging_account_not_exists
      security:
      - x-redlock-auth: []
      summary: Save AWS S3 Flow Log details
      tags:
      - Cloud Ingested Logs
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /cloud-accounts-manager/v1/cloud-accounts/aws/{accountId}/features/aws-flow-logs/s3/status:
    post:
      description: Checks AWS S3 Flow Log status of monitored account.
      operationId: check-aws-s3-flowlog
      parameters:
      - description: 1 Hour format
        in: query
        name: isHourlyFormat
        required: true
        schema:
          type: boolean
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwsS3FlowLogsLoggingAccountsModel'
        description: AWS S3 Flow Logs feature
        required: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CloudAccountStatus'
          description: success
        '400':
          description: invalid_parameter_value / bad_request / AWS Flow Logs S3 feature not supported for account
        '401':
          description: unauthorized_access
        '404':
          description: invalid_account_id_format
      security:
      - x-redlock-auth: []
      summary: Check AWS S3 Flow Log status
      tags:
      - Cloud Ingested Logs
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
components:
  schemas:
    AuditLogsConfigStatusComponent:
      type: object
      properties:
        component:
          type: string
          example: null
        status:
          type: string
          example: null
        message:
          type: string
          example: null
        remediation:
          type: string
          example: null
        subComponents:
          type: array
          example: null
          items:
            $ref: '#/components/schemas/AuditLogsConfigStatusComponent'
      example: null
    AwsEventBridgeConfigRuleView:
      type: object
      properties:
        customerPrismaId:
          type: integer
          format: int64
          example: null
        accountId:
          type: string
          example: null
        eventbridgeRuleNamePrefix:
          type: string
          example: null
        status:
          type: string
          example: null
          enum:
          - PENDING
          - ENABLED
          - DISABLED
      example: null
    CloudAccountStatus:
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        statusMessage:
          $ref: '#/components/schemas/AccountStatusMessage'
      type: object
    AwsS3FlowLogsModel:
      description: Model for AWS S3 Flow Logs Feature Configuration
      properties:
        accountId:
          description: Prisma Account ID from cloud_account table
          format: int32
          type: integer
        loggingAccounts:
          description: List of logging accounts with selected buckets for the given feature
          items:
            $ref: '#/components/schemas/AwsS3FlowLogsLoggingAccountsModel'
          type: array
      type: object
    AwsS3FlowLogsLoggingAccountsModel:
      description: Model for AWS S3 Flow Logs Feature Logging Accounts Configuration
      properties:
        awsS3FlowLogsLoggingAccountId:
          description: Logging Account Internal ID
          format: int32
          type: integer
        bucketIds:
          description: List of bucket Ids for the feature
          items:
            format: int32
            type: integer
          type: array
        buckets:
          description: List of buckets for the feature
          items:
            type: string
          type: array
        loggingAccountId:
          description: Account ID of the Logging Account
          type: string
      type: object
    AccountStatusMessage:
      properties:
        message:
          type: string
        staticMessage:
          type: boolean
      type: object
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
x-refined-from:
- palo-alto-cspm-eventbridgemicroservice-openapi.json
- palo-alto-cspm-onboardingawss3flowlogs-openapi.json
