openapi: 3.1.0
info:
  title: Palo Alto Networks Prisma Cloud Code Security API
  description: >-
    REST API for Prisma Cloud Code Security (Application Security) providing
    programmatic access to repository management, CI/CD integration scanning,
    scan execution and status, suppression rules for policy violations, code
    errors by branch, and fix suggestions for pull requests. The API enables
    integration with version control systems such as GitHub, GitLab, Bitbucket,
    and Azure Repos, and supports scanning Terraform, CloudFormation, Kubernetes
    manifests, Dockerfiles, and other IaC frameworks using the Checkov scanning
    engine. Authentication requires a JWT token obtained from the Prisma Cloud
    CSPM /login endpoint, passed via the x-redlock-auth header.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.prismacloud.io/code/api/v1
    description: Prisma Cloud Code Security API (US region 1).
  - url: https://api2.prismacloud.io/code/api/v1
    description: Prisma Cloud Code Security API (US region 2).
  - url: https://api.eu.prismacloud.io/code/api/v1
    description: Prisma Cloud Code Security API (EU).
  - url: https://api.anz.prismacloud.io/code/api/v1
    description: Prisma Cloud Code Security API (ANZ).
  - url: https://api.sg.prismacloud.io/code/api/v1
    description: Prisma Cloud Code Security API (Singapore).
  - url: https://api.ca.prismacloud.io/code/api/v1
    description: Prisma Cloud Code Security API (Canada).
security:
  - redlockAuth: []
tags:
  - name: Repositories
    description: VCS repository onboarding and management.
  - name: Scans
    description: CI/CD scan execution, integration listing, and scan status.
  - name: Suppressions
    description: Suppression rules for managing policy violations.
  - name: Errors
    description: Code security errors and policy violations by branch.
  - name: Fixes
    description: Automated fix suggestions for pull requests.
paths:
  /repositories:
    get:
      operationId: listRepositories
      summary: Palo Alto Networks List connected repositories
      description: >-
        Returns a list of all repositories that have been connected to Prisma
        Cloud Code Security. Includes repository metadata such as the source
        VCS provider, default branch, last scan time, and counts of open
        security errors.
      tags:
        - Repositories
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: search
          in: query
          description: Search term to filter repositories by name or owner.
          schema:
            type: string
        - name: sourceType
          in: query
          description: Filter by VCS provider type.
          schema:
            type: string
            enum:
              - Github
              - Gitlab
              - Bitbucket
              - AzureRepos
              - githubEnterprise
              - gitlabEnterprise
              - bitbucketEnterprise
      responses:
        '200':
          description: Repositories returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of connected repositories.
                  repositories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Repository'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: addRepository
      summary: Palo Alto Networks Add a repository
      description: >-
        Connects a new VCS repository to Prisma Cloud Code Security for
        automated scanning. Triggers an initial scan of the default branch
        after onboarding.
      tags:
        - Repositories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - sourceType
                - owner
                - name
              properties:
                id:
                  type: string
                  description: Repository identifier in the VCS provider.
                sourceType:
                  type: string
                  enum:
                    - Github
                    - Gitlab
                    - Bitbucket
                    - AzureRepos
                    - githubEnterprise
                    - gitlabEnterprise
                    - bitbucketEnterprise
                  description: VCS provider type.
                owner:
                  type: string
                  description: Repository owner or organization name.
                name:
                  type: string
                  description: Repository name.
                defaultBranch:
                  type: string
                  description: Default branch to scan. Defaults to the VCS default branch.
      responses:
        '200':
          description: Repository added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repository'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: removeRepository
      summary: Palo Alto Networks Remove a repository
      description: >-
        Disconnects a repository from Prisma Cloud Code Security. Scan
        history and error records are retained for audit purposes.
      tags:
        - Repositories
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: Repository identifier to remove.
                sourceType:
                  type: string
                  description: VCS provider type.
      responses:
        '200':
          description: Repository removed successfully.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /scans/integrations:
    get:
      operationId: listScanIntegrations
      summary: Palo Alto Networks List CI/CD scan integrations
      description: >-
        Returns a list of configured CI/CD pipeline integrations for
        automated scanning. Integrations include Jenkins, GitHub Actions,
        CircleCI, GitLab CI, Azure Pipelines, and other supported CI
        platforms.
      tags:
        - Scans
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: CI/CD integrations returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScanIntegration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /scans:
    post:
      operationId: triggerScan
      summary: Palo Alto Networks Trigger a scan
      description: >-
        Triggers an IaC and SCA scan for a specific repository branch.
        The scan analyzes all supported file types in the repository.
        Returns a scan identifier for polling status.
      tags:
        - Scans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - repositoryId
              properties:
                repositoryId:
                  type: string
                  description: Unique identifier of the repository to scan.
                branch:
                  type: string
                  description: Branch to scan. Defaults to the repository default branch.
                scanTypes:
                  type: array
                  description: Types of scans to run. Defaults to all scan types.
                  items:
                    type: string
                    enum:
                      - iac
                      - sca
                      - secrets
                      - cicd
      responses:
        '200':
          description: Scan triggered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /scans/{scan_id}:
    get:
      operationId: getScanStatus
      summary: Palo Alto Networks Get scan status
      description: >-
        Returns the current status and summary results of a specific scan.
        Poll this endpoint to determine when a triggered scan has completed.
      tags:
        - Scans
      parameters:
        - name: scan_id
          in: path
          required: true
          description: Unique scan identifier.
          schema:
            type: string
      responses:
        '200':
          description: Scan status returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /suppressions:
    get:
      operationId: listSuppressions
      summary: Palo Alto Networks List suppressions
      description: >-
        Returns a list of suppression rules for policy violations. Suppressions
        can be scoped to a specific resource, file, repository, or applied
        globally for a policy.
      tags:
        - Suppressions
      parameters:
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
        - name: policyId
          in: query
          description: Filter suppressions by Checkov policy ID.
          schema:
            type: string
        - name: suppressionType
          in: query
          description: Filter by suppression scope.
          schema:
            type: string
            enum:
              - Policy
              - Resources
              - Accounts
              - Tags
      responses:
        '200':
          description: Suppressions returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of suppression rules.
                  suppressions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Suppression'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createSuppression
      summary: Palo Alto Networks Create a suppression
      description: >-
        Creates a suppression rule to suppress specific code security policy
        violations. Use suppressions to manage accepted risks, false positives,
        or findings addressed through compensating controls.
      tags:
        - Suppressions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - policyId
                - suppressionType
              properties:
                policyId:
                  type: string
                  description: Checkov policy ID to suppress (e.g., CKV_AWS_18).
                suppressionType:
                  type: string
                  enum:
                    - Policy
                    - Resources
                    - Accounts
                    - Tags
                  description: Scope of the suppression rule.
                justification:
                  type: string
                  description: Reason for creating the suppression.
                expirationDate:
                  type: string
                  format: date-time
                  description: Optional expiration date for the suppression.
                resources:
                  type: array
                  items:
                    type: object
                    properties:
                      repositoryId:
                        type: string
                      filePath:
                        type: string
                      resourceId:
                        type: string
                  description: Specific resources to suppress. Required when suppressionType is Resources.
      responses:
        '200':
          description: Suppression created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suppression'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /suppressions/{suppression_id}:
    delete:
      operationId: deleteSuppression
      summary: Palo Alto Networks Delete a suppression
      description: Deletes a specific suppression rule. The suppressed policy violations will resume being reported.
      tags:
        - Suppressions
      parameters:
        - name: suppression_id
          in: path
          required: true
          description: Unique suppression identifier.
          schema:
            type: string
      responses:
        '200':
          description: Suppression deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /errors/branch:
    get:
      operationId: getErrorsByBranch
      summary: Palo Alto Networks Get errors by branch
      description: >-
        Returns code security errors (policy violations, misconfigurations,
        and vulnerabilities) for a specific repository branch. Each error
        includes the Checkov policy ID, severity, resource name, and the
        file location where the issue was detected.
      tags:
        - Errors
      parameters:
        - name: repositoryId
          in: query
          required: true
          description: Repository identifier to retrieve errors for.
          schema:
            type: string
        - name: branch
          in: query
          description: Branch name to retrieve errors for. Defaults to the default branch.
          schema:
            type: string
        - name: severity
          in: query
          description: Filter errors by severity level.
          schema:
            type: string
            enum:
              - CRITICAL
              - HIGH
              - MEDIUM
              - LOW
              - INFO
        - name: errorType
          in: query
          description: Filter by error category.
          schema:
            type: string
            enum:
              - iac
              - sca
              - secrets
              - cicd
        - name: status
          in: query
          description: Filter by error status.
          schema:
            type: string
            enum:
              - OPEN
              - SUPPRESSED
              - FIXED
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Code errors returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of errors matching the filter criteria.
                  errors:
                    type: array
                    items:
                      $ref: '#/components/schemas/CodeError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /fixes/pull_request:
    get:
      operationId: getFixSuggestionsForPR
      summary: Palo Alto Networks Get fix suggestions for pull requests
      description: >-
        Returns automated fix suggestions for misconfigurations detected in
        a pull request or branch. Each fix includes the original code snippet,
        the suggested replacement, and the policy that triggered the finding.
        Fix suggestions are available for IaC files including Terraform,
        CloudFormation, and Kubernetes manifests.
      tags:
        - Fixes
      parameters:
        - name: repositoryId
          in: query
          required: true
          description: Repository identifier to retrieve fix suggestions for.
          schema:
            type: string
        - name: branch
          in: query
          description: Branch or pull request branch to retrieve fix suggestions for.
          schema:
            type: string
        - name: filePath
          in: query
          description: Filter fix suggestions by specific file path.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of records to return.
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Fix suggestions returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCount:
                    type: integer
                    description: Total number of available fix suggestions.
                  fixes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Fix'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  securitySchemes:
    redlockAuth:
      type: apiKey
      in: header
      name: x-redlock-auth
      description: >-
        JWT token obtained from the Prisma Cloud /login endpoint. Pass the
        token value in the x-redlock-auth header. Tokens are valid for 10
        minutes.
  responses:
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or expired authentication token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Repository:
      type: object
      properties:
        id:
          type: string
          description: Unique repository identifier in Prisma Cloud.
        name:
          type: string
          description: Repository name.
        owner:
          type: string
          description: Repository owner or organization name.
        fullName:
          type: string
          description: Full repository name in owner/repo format.
        sourceType:
          type: string
          enum:
            - Github
            - Gitlab
            - Bitbucket
            - AzureRepos
            - githubEnterprise
            - gitlabEnterprise
            - bitbucketEnterprise
          description: VCS provider type.
        defaultBranch:
          type: string
          description: Default branch of the repository.
        url:
          type: string
          description: URL to the repository in the VCS provider.
        isPublic:
          type: boolean
          description: Whether the repository is publicly accessible.
        lastScanDate:
          type: string
          format: date-time
          description: Timestamp of the most recent scan.
        lastScanStatus:
          type: string
          enum:
            - completed
            - running
            - failed
            - pending
          description: Status of the most recent scan.
        errorCounts:
          type: object
          description: Count of open errors by severity.
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer
            info:
              type: integer
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the repository was connected.
    ScanIntegration:
      type: object
      properties:
        id:
          type: string
          description: Unique integration identifier.
        name:
          type: string
          description: Integration name.
        type:
          type: string
          description: CI/CD platform type.
          enum:
            - jenkins
            - github_actions
            - gitlab_ci
            - circleci
            - azure_pipelines
            - bitbucket_pipelines
            - other
        repositoryId:
          type: string
          description: Repository this integration is associated with.
        enabled:
          type: boolean
          description: Whether the integration is active.
        createdAt:
          type: string
          format: date-time
    ScanStatus:
      type: object
      properties:
        scan_id:
          type: string
          description: Unique scan identifier.
        repositoryId:
          type: string
          description: Repository that was scanned.
        branch:
          type: string
          description: Branch that was scanned.
        status:
          type: string
          enum:
            - queued
            - running
            - completed
            - failed
          description: Current scan status.
        startTime:
          type: string
          format: date-time
          description: Scan start timestamp.
        endTime:
          type: string
          format: date-time
          description: Scan completion timestamp.
        scanTypes:
          type: array
          items:
            type: string
            enum:
              - iac
              - sca
              - secrets
              - cicd
          description: Types of scans included in this run.
        summary:
          type: object
          description: High-level scan result summary. Available after completion.
          properties:
            filesScanned:
              type: integer
            resourcesScanned:
              type: integer
            errorsBySeverity:
              type: object
              properties:
                critical:
                  type: integer
                high:
                  type: integer
                medium:
                  type: integer
                low:
                  type: integer
                info:
                  type: integer
    Suppression:
      type: object
      properties:
        suppressionId:
          type: string
          description: Unique suppression rule identifier.
        policyId:
          type: string
          description: Checkov policy ID being suppressed.
        policyName:
          type: string
          description: Human-readable policy name.
        suppressionType:
          type: string
          enum:
            - Policy
            - Resources
            - Accounts
            - Tags
          description: Scope of the suppression.
        justification:
          type: string
          description: Reason provided for the suppression.
        createdBy:
          type: string
          description: Email address of the user who created the suppression.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the suppression was created.
        expirationDate:
          type: string
          format: date-time
          description: Expiration date. Null if the suppression does not expire.
        suppressedErrorCount:
          type: integer
          description: Number of errors currently suppressed by this rule.
    CodeError:
      type: object
      properties:
        errorId:
          type: string
          description: Unique error identifier.
        policyId:
          type: string
          description: Checkov policy ID that triggered the error (e.g., CKV_AWS_18).
        policyName:
          type: string
          description: Human-readable name of the violated policy.
        severity:
          type: string
          enum:
            - CRITICAL
            - HIGH
            - MEDIUM
            - LOW
            - INFO
          description: Error severity level.
        category:
          type: string
          enum:
            - IAC
            - SCA
            - SECRETS
            - CICD
          description: Error category based on the type of scan that detected it.
        status:
          type: string
          enum:
            - OPEN
            - SUPPRESSED
            - FIXED
          description: Current status of the error.
        resourceName:
          type: string
          description: Name of the IaC resource where the error was detected.
        resourceType:
          type: string
          description: Type of the IaC resource.
        filePath:
          type: string
          description: Relative path to the file containing the error.
        fileLineRange:
          type: array
          items:
            type: integer
          minItems: 2
          maxItems: 2
          description: Start and end line numbers of the affected code block.
        repositoryId:
          type: string
          description: Repository where the error was found.
        branch:
          type: string
          description: Branch where the error was detected.
        guideline:
          type: string
          description: URL to documentation explaining the policy and remediation steps.
        firstDetected:
          type: string
          format: date-time
          description: Timestamp when the error was first detected.
        lastDetected:
          type: string
          format: date-time
          description: Timestamp of the most recent scan where the error was found.
    Fix:
      type: object
      properties:
        fixId:
          type: string
          description: Unique fix suggestion identifier.
        policyId:
          type: string
          description: Checkov policy ID associated with the fix.
        policyName:
          type: string
          description: Human-readable policy name.
        severity:
          type: string
          enum:
            - CRITICAL
            - HIGH
            - MEDIUM
            - LOW
            - INFO
          description: Severity of the original finding.
        resourceName:
          type: string
          description: IaC resource name where the fix applies.
        filePath:
          type: string
          description: Relative path to the file requiring the fix.
        lineRange:
          type: array
          items:
            type: integer
          minItems: 2
          maxItems: 2
          description: Start and end line numbers of the code to be replaced.
        originalCode:
          type: string
          description: Original code snippet that contains the misconfiguration.
        suggestedCode:
          type: string
          description: Suggested replacement code that resolves the misconfiguration.
        framework:
          type: string
          enum:
            - Terraform
            - CloudFormation
            - Kubernetes
            - Helm
            - Dockerfile
            - ARM
            - Bicep
          description: IaC framework of the affected file.
        repositoryId:
          type: string
          description: Repository where the fix applies.
        branch:
          type: string
          description: Branch where the fix applies.
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          description: HTTP status code.
        message:
          type: string
          description: Human-readable error message.
        error:
          type: string
          description: Error code.
