openapi: 3.2.0
info:
  title: Palo Alto Networks Active Mappings API
  version: '1.0'
  description: 'Operations tagged Active Mappings across 3 of this provider''s published API definitions: palo-alto-networks-active-mappings-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Active Mappings
paths:
  /mt/monitor/5g/mapping/activeUEs:
    get:
      tags:
      - Active Mappings
      summary: Palo Alto Networks Check Active Mappings
      description: "Displays the total number of User Equipment mappings currently in an \nactive state. Monitoring dashboards use this metric to provide a \nreal-time snapshot of 5G session health and operational throughput \nreadiness."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  active_mappings: 4
                header:
                  createdAt: '2025-12-17T02:05:18Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gMappingActiveues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-active-mappings-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
