openapi: 3.2.0
info:
  contact:
    email: support@paloaltonetworks.com
  description: 'To create a Remote Network that is part of Prisma Access, Configuration Orchestration APIs enable you

    to configure Remote Network tunnels directly.'
  title: Configuration Orchestration IKE Gateway API
  version: '1.0'
  x-audience: external-public
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- name: IKE Gateway
paths:
  /v1/ike-gateways-read:
    get:
      description: Retrieve the list of IKE gateway configurations for the specified UUID.
      operationId: get-v1-ike-gateways-read
      parameters:
      - $ref: '#/components/parameters/uuid'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/IkeGatewaysConfig'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of ike gateways configurations
      security:
      - Bearer: []
      summary: IKE gateway configurations by UUID
      tags:
      - IKE Gateway
    post:
      description: Request to read the remote network IKE gateways for the specified IKE gateway names.
      operationId: post-v1-ike-gateways-read
      parameters:
      - $ref: '#/components/parameters/SubTenantName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IkeGatewaysNamesSet'
        description: Read the list of IKE gateways.
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UuidResponse'
          description: Successful operation
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Read IKE gateways for specified names
      tags:
      - IKE Gateway
components:
  schemas:
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    IkeGatewaysConfig:
      properties:
        authentication:
          oneOf:
          - properties:
              pre_shared_key:
                properties:
                  key:
                    type: string
                type: object
            title: pre_shared_key
            type: object
          - properties:
              allow_id_payload_mismatch:
                type: boolean
              certificate_profile:
                type: string
              local_certificate:
                properties:
                  local_certificate_name:
                    type: string
                type: object
              strict_validation_revocation:
                type: boolean
              use_management_as_source:
                type: boolean
            title: certificate
            type: object
          type: object
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        local_id:
          properties:
            id:
              description: Local ID string
              maxLength: 1024
              minLength: 1
              pattern: ^(.+\@[a-zA-Z0-9.-]+)$|^([$a-zA-Z0-9_:.-]+)$|^(([[:xdigit:]][[:xdigit:]])+)$|^([a-zA-Z0-9.]+=(\\,|[^,])+[, ]+)*([a-zA-Z0-9.]+=(\\,|[^,])+)$
              type: string
            type:
              type: string
          type: object
        name:
          description: 'Alphanumeric string begin with letter: [0-9a-zA-Z._-]'
          maxLength: 63
          type: string
        peer_address:
          oneOf:
          - properties:
              ip:
                description: peer gateway has static IP address
                type: string
            title: ip
            type: object
          - properties:
              fqdn:
                description: peer gateway FQDN name
                maxLength: 255
                type: string
            title: fqdn
            type: object
          - properties:
              dynamic:
                default: {}
                type: object
            title: dynamic
            type: object
          type: object
        peer_id:
          properties:
            id:
              description: Peer ID string
              maxLength: 1024
              minLength: 1
              pattern: ^(.+\@[\*a-zA-Z0-9.-]+)$|^([\*$a-zA-Z0-9_:.-]+)$|^(([[:xdigit:]][[:xdigit:]])+)$|^([a-zA-Z0-9.]+=(\\,|[^,])+[, ]+)*([a-zA-Z0-9.]+=(\\,|[^,])+)$
              type: string
            type:
              enum:
              - ipaddr
              - keyid
              - fqdn
              - ufqdn
              type: string
          type: object
        protocol:
          properties:
            ikev1:
              properties:
                dpd:
                  properties:
                    enable:
                      type: boolean
                  type: object
                ike_crypto_profile:
                  type: string
              type: object
            ikev2:
              properties:
                dpd:
                  properties:
                    enable:
                      type: boolean
                  type: object
                ike_crypto_profile:
                  type: string
              type: object
            version:
              default: ikev2-preferred
              enum:
              - ikev2-preferred
              - ikev1
              - ikev2
              type: string
          type: object
        protocol_common:
          properties:
            fragmentation:
              properties:
                enable:
                  default: false
                  enum:
                  - false
                  type: boolean
              type: object
            nat_traversal:
              properties:
                enable:
                  type: boolean
              type: object
            passive_mode:
              type: boolean
          type: object
      required:
      - name
      - authentication
      - protocol
      - peer_address
      type: object
    IkeGatewaysNamesSet:
      properties:
        ike_gateways_names:
          items:
            type: string
          maxItems: 100
          minItems: 0
          type: array
          uniqueItems: true
      type: object
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    UuidResponse:
      properties:
        uuid:
          format: uuid
          type: string
      readOnly: true
      type: object
  responses:
    bad_request_errors_basic_with_body:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    default_errors:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
  parameters:
    uuid:
      description: 'UUID for the request.

        '
      in: query
      name: id
      required: true
      schema:
        format: uuid
        type: string
    SubTenantName:
      description: 'Sub-tenant name in a panorama multi-tenancy setup.

        '
      in: query
      name: SubTenantName
      schema:
        type: string
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
