openapi: 3.2.0
info:
  title: Palo Alto Networks Widgets API
  version: '1.0'
  description: 'Operations tagged Widgets across 2 of this provider''s published API definitions: palo-alto-cspm-commandcentermicroservice-openapi.json, palo-alto-cspm-widgets-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- name: Widgets
  x-public: 'true'
  x-ga: 24.1.2
paths:
  /commandcenter/api/v1/metrics/alert-count-by-resolution-reason:
    post:
      tags:
      - Widgets
      summary: Get Alerts Count By Resolution Reason
      description: "The API returns number of resolved alerts grouped by the resolution reason. \nYou must have **Alert_READ** permission to access this endpoint."
      operationId: value-widgets-alert-metrics-resolution-reason
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetApiRequestResolutionReasonFilterRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolutionReasonResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
      x-public: 'true'
      x-ga: 24.1.2
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /commandcenter/api/v1/metrics/alert-mean-resolution-time:
    post:
      tags:
      - Widgets
      summary: Get Mean Resolution Time
      description: "The API returns the mean resolution time of the alert in days per severity based on the filters.\n You must have **Alert_READ** permission to access this endpoint."
      operationId: value-widgets-alert-metrics
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetApiRequestMeanResolutionTimeFilterRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeanResolutionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
      x-public: 'true'
      x-ga: 24.1.2
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /adoptionadvisor/api/v2/compute/vulnerabilities/trend:
    post:
      description: Get vulnerabilities discovered and resolved over time across images, hosts, functions, and containers for the impacted resources.
      operationId: value-widgets-get-vulnerabilities-trend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CWPWidgetRequestModel'
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/VulnerabilitiesTrendResponse'
          description: successful operation
        '400':
          description: bad_request
        '401':
          description: unauthorized_access
      security:
      - x-redlock-auth: []
      summary: Get Vulnerabilities Trend
      tags:
      - Widgets
      x-ga: 24.1.1
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /adoptionadvisor/api/v2/cspm/riskyasset/trend:
    post:
      description: Get the list of assets generating alerts.
      operationId: value-widgets-get-assets-with-alerts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssetsWithAlertsRequestModel'
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AssetsWithUrgentAlerts'
          description: successful operation
        '400':
          description: bad_request
        '401':
          description: unauthorized_access
      security:
      - x-redlock-auth: []
      summary: Get Assets with Alerts
      tags:
      - Widgets
      x-ga: 24.1.1
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /adoptionadvisor/api/v2/compute/discovered-secured/trend:
    post:
      description: Get resources detected by Cloud Discovery as well as the resources secured by deployed defenders.
      operationId: value-widgets-get-discovered-vs-secured
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CWPWidgetRequestModel'
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/DiscoverVsSecuredResponse'
          description: successful operation
        '400':
          description: bad_request
        '401':
          description: unauthorized_access
      security:
      - x-redlock-auth: []
      summary: Get Discovered and Secured Resources
      tags:
      - Widgets
      x-ga: 24.1.1
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
components:
  schemas:
    ResolutionReasonCountMetric:
      type: object
      properties:
        resolutionReason:
          description: Reason for resolution
          type: string
        count:
          format: int32
          description: Alert count for the resolution reason
          type: integer
    WidgetRelativeTimeDuration:
      type: object
      properties:
        unit:
          $ref: '#/components/schemas/WidgetTimeUnit'
        amount:
          format: int32
          type: integer
    WidgetTimeUnit:
      enum:
      - hour
      - week
      - month
      - year
      type: string
    MeanResolutionResponse:
      type: object
      properties:
        startTime:
          format: int64
          description: Start time of the time range
          type: integer
        endTime:
          format: int64
          description: End time of the time range
          type: integer
        lastScanTs:
          format: int64
          description: Last scan time of the backend job
          type: integer
        dataAvailableFrom:
          format: int64
          description: Time since when the data is aggregated in the response
          type: integer
        value:
          description: Alert metrics details
          type: array
          items:
            $ref: '#/components/schemas/MeanResolutionTimeMetric'
    MeanResolutionTimeMetric:
      type: object
      properties:
        severity:
          description: Severity name
          type: string
        numberOfDays:
          format: double
          description: Mean resolution time in days
          type: number
    WidgetApiRequestMeanResolutionTimeFilterRequest:
      required:
      - timeRange
      type: object
      properties:
        filters:
          description: List of filters that can be applied for the API
          type: array
          items:
            $ref: '#/components/schemas/MeanResolutionTimeFilterRequest'
        timeRange:
          description: Time range for which the API is requested
          type: object
          allOf:
          - $ref: '#/components/schemas/WidgetRelativeTimeRangeConfig'
    MeanResolutionTimeFilter:
      enum:
      - policy.severity
      - account.groupId
      - policy.complianceStandardId
      - cloud.type
      - policy.type
      - policy.id
      - policy.category
      - cloud.accountId
      type: string
    WidgetApiRequestResolutionReasonFilterRequest:
      required:
      - timeRange
      type: object
      properties:
        filters:
          description: List of filters that can be applied for the API
          type: array
          items:
            $ref: '#/components/schemas/ResolutionReasonFilterRequest'
        timeRange:
          description: Time range for which the API is requested
          type: object
          allOf:
          - $ref: '#/components/schemas/WidgetRelativeTimeRangeConfig'
    ResolutionReasonResponse:
      type: object
      properties:
        startTime:
          format: int64
          description: Start time of the time range
          type: integer
        endTime:
          format: int64
          description: End time of the time range
          type: integer
        lastScanTs:
          format: int64
          description: Last scan time of the backend job
          type: integer
        dataAvailableFrom:
          format: int64
          description: Time since when the data is aggregated in the response
          type: integer
        value:
          description: Alert metrics details
          type: array
          items:
            $ref: '#/components/schemas/ResolutionReasonCountMetric'
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ResolutionReasonFilterRequest:
      type: object
      properties:
        name:
          description: Filter name.
          type: string
          allOf:
          - $ref: '#/components/schemas/ResolutionReasonFilter'
        operator:
          description: Only operator allowed for this filter is '='.
          type: string
        value:
          description: Filter value.
          type: string
    ResolutionReasonFilter:
      enum:
      - alert.resolutionReason
      - policy.severity
      - account.groupId
      - policy.complianceStandardId
      - cloud.type
      - policy.type
      - policy.id
      - policy.category
      - cloud.accountId
      type: string
    WidgetRelativeTimeRangeConfig:
      type: object
      properties:
        type:
          description: 'Type of time ranges supported: [relative]'
          type: string
        value:
          description: 'Relative time supporting past 24 hour, 7 days, 1 month, 3 months, 6 months and 1 year. '
          type: object
          allOf:
          - $ref: '#/components/schemas/WidgetRelativeTimeDuration'
    MeanResolutionTimeFilterRequest:
      type: object
      properties:
        name:
          description: Filter name.
          type: string
          allOf:
          - $ref: '#/components/schemas/MeanResolutionTimeFilter'
        operator:
          description: Only operator allowed for this filter is '='.
          type: string
        value:
          description: Filter value.
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
    VulnerabilitiesTrendResponse:
      description: Model for Vulnerabilities Trend Response
      properties:
        privilege:
          description: privilege
          type: string
        rowCount:
          description: Row count
          format: int32
          type: integer
        rows:
          description: List of vulnerabilities trend data
          items:
            $ref: '#/components/schemas/VulnerabilitiesTrend'
          type: array
      type: object
    CWPWidgetRequestModel:
      description: Model for Discovered vs Secured and Vulnerabilities Trend
      properties:
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time range
      type: object
    DiscoverVsSecuredResponse:
      description: Model for Discover vs Secured Widget Response
      properties:
        privilege:
          description: privilege
          type: string
        rowCount:
          description: Row count
          format: int32
          type: integer
        rows:
          description: List of vulnerabilities trend data
          items:
            $ref: '#/components/schemas/DiscoverVsSecured'
          type: array
      type: object
    AssetsWithAlertsRequestModel:
      description: Model for Assets With Alerts Request
      properties:
        filters:
          description: List of filters that can be applied for the API
          items:
            $ref: '#/components/schemas/AssetsWithAlertsFilter'
          type: array
        timeRange:
          allOf:
          - $ref: '#/components/schemas/TimeRangeConfigModel'
          - description: Time range
      type: object
    TimeModel:
      description: Model for Time
      properties:
        endTime:
          description: End timestamp
          format: int64
          type: integer
        startTime:
          description: Start timestamp
          format: int64
          type: integer
      type: object
    RelativeTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for RelativeTimeRangeConfig
        properties:
          relativeTimeType:
            description: Direction in which to count time. Default = BACKWARD
            enum:
            - BACKWARD
            - FORWARD
            type: string
          type:
            example: relative
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/RelativeTimeDurationModel'
            - description: Time range object
        required:
        - value
        type: object
    TimeRangeConfigModel:
      description: 'See the [Time Range Model](/prisma-cloud/api/cspm/api-time-range-model) for details.

        '
      discriminator:
        mapping:
          absolute: '#/components/schemas/AbsoluteTimeRangeConfigModel'
          relative: '#/components/schemas/RelativeTimeRangeConfigModel'
          to_now: '#/components/schemas/ToNowTimeRangeConfigModel'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/RelativeTimeRangeConfigModel'
      - $ref: '#/components/schemas/AbsoluteTimeRangeConfigModel'
      - $ref: '#/components/schemas/ToNowTimeRangeConfigModel'
      properties:
        type:
          description: Time type
          type: string
      required:
      - type
      type: object
    RelativeTimeDurationModel:
      description: Model for RelativeTimeDuration
      properties:
        amount:
          description: Number of time units
          format: int32
          type: integer
        unit:
          description: Time unit
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          type: string
      type: object
    AbsoluteTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for AbsoluteTimeRangeConfig
        properties:
          type:
            example: absolute
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/TimeModel'
            - description: Time range object
        required:
        - value
        type: object
    ToNowTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for ToNowTimeRangeConfig
        properties:
          value:
            description: Time range object
            enum:
            - MINUTE
            - HOUR
            - DAY
            - WEEK
            - MONTH
            - YEAR
            - EPOCH
            - LOGIN
            type: string
        type: object
    AssetsWithAlertsFilter:
      properties:
        name:
          description: Name of the allowed Filter types.
          enum:
          - CLOUD_TYPE
          - ALERT_SEVERITY
          type: string
        operator:
          description: Only allowed operator for the filter is '='
          type: string
        value:
          description: Value for the applied filter
          type: string
      type: object
    DiscoverVsSecured:
      description: cloud type and alerts count
      properties:
        critical:
          description: critical
          format: int64
          type: integer
        high:
          description: high
          format: int64
          type: integer
        informational:
          description: informational
          format: int64
          type: integer
        low:
          description: low
          format: int64
          type: integer
        medium:
          description: medium
          format: int64
          type: integer
        type:
          description: cloudType
          type: string
      type: object
    VulnerabilitiesTrend:
      description: timestamp, vulnerability stats
      properties:
        ts:
          description: timestamp
          format: int64
          type: integer
        vulStatsContainerC:
          description: vulStatsContainerC
          format: int64
          type: integer
        vulStatsContainerH:
          description: vulStatsContainerH
          format: int64
          type: integer
        vulStatsContainerL:
          description: vulStatsContainerL
          format: int64
          type: integer
        vulStatsContainerM:
          description: vulStatsContainerM
          format: int64
          type: integer
        vulStatsFunctionC:
          description: vulStatsFunctionC
          format: int64
          type: integer
        vulStatsFunctionH:
          description: vulStatsFunctionH
          format: int64
          type: integer
        vulStatsFunctionL:
          description: vulStatsFunctionL
          format: int64
          type: integer
        vulStatsFunctionM:
          description: vulStatsFunctionM
          format: int64
          type: integer
        vulStatsHostC:
          description: vulStatsHostC
          format: int64
          type: integer
        vulStatsHostH:
          description: vulStatsHostH
          format: int64
          type: integer
        vulStatsHostL:
          description: vulStatsHostL
          format: int64
          type: integer
        vulStatsHostM:
          description: vulStatsHostM
          format: int64
          type: integer
        vulStatsImageC:
          description: vulStatsImageC
          format: int64
          type: integer
        vulStatsImageH:
          description: vulStatsImageH
          format: int64
          type: integer
        vulStatsImageL:
          description: vulStatsImageL
          format: int64
          type: integer
        vulStatsImageM:
          description: vulStatsImageM
          format: int64
          type: integer
      type: object
    DailyAssetWithUrgentAlerts:
      description: Model for daily Assets With Urgent Alerts
      properties:
        alertsByCloudType:
          description: alerts
          items:
            $ref: '#/components/schemas/DiscoverVsSecured'
          type: array
        criticalAssets:
          description: criticalAssets
          format: int64
          type: integer
        highAssets:
          description: highAssets
          format: int64
          type: integer
        informationalAssets:
          description: informationalAssets
          format: int64
          type: integer
        insertTs:
          description: insertTs
          format: int64
          type: integer
        lowAssets:
          description: lowAssets
          format: int64
          type: integer
        mediumAssets:
          description: mediumAssets
          format: int64
          type: integer
      type: object
    AssetsWithUrgentAlerts:
      description: Model for Assets With Urgent Alerts Widget api response
      properties:
        assetsWithAlerts:
          description: Assets with Alerts
          items:
            $ref: '#/components/schemas/DailyAssetWithUrgentAlerts'
          type: array
        privilege:
          description: privilege
          type: string
        rowCount:
          description: Row count
          format: int32
          type: integer
      type: object
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
x-refined-from:
- palo-alto-cspm-commandcentermicroservice-openapi.json
- palo-alto-cspm-widgets-openapi.json
