openapi: 3.2.0
info:
  title: 'Prisma Cloud: Managed Security Service Provider (MSSP) MSSP Operations Retry API'
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
  version: '1.0'
servers:
- url: https://mssp-api.prismacloud.io
tags:
- name: MSSP Operations Retry
paths:
  /api/v1/mssp/{mssp-id}/operation/{request-id}/retry:
    post:
      tags:
      - MSSP Operations Retry
      summary: API to retry failed operation
      description: MSSP user API to retry failed operation
      operationId: retryOperation
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
      - name: request-id
        in: path
        description: the request id being retried
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/OperationAckRequest'
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/OperationResponse'
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The MSSP does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
components:
  schemas:
    OperationResponse:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
        msspId:
          type: string
          format: uuid
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
        operationDescription:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse'
        startedBy:
          type: string
        startedAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        isRetryable:
          type: boolean
        retryOf:
          type: string
          format: uuid
        retriedBy:
          type: string
          format: uuid
    TenantChangeResponse:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
        externalTenantId:
          type: string
        tenantPrismaId:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        updatedAt:
          type: integer
          format: int64
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantUpdate:
      type: object
      properties:
        prismaId:
          type: integer
          format: int64
        externalTenantId:
          type: string
        stackName:
          type: string
        stackBaseUrl:
          type: string
    OperationAckRequest:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
        errorMessage:
          type: string
        tenantUpdate:
          $ref: '#/components/schemas/TenantUpdate'
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- tags:
  - User Authentication
  - MSSP Account Management
  - User Management
  - MSSP Managed Tenant Lifecycle Endpoints
  - Tenant Group Lifecycle Endpoints
  - Policy Group Lifecycle Endpoints
  - Policy Group to Tenant Group Management
  - MSSP Operations Retry
  - Mssp License Endpoints
  - Stack Details Endpoint
  - Proxy Endpoint Provider
  name: public
- tags:
  - Managed Tenant Management Service
  - MSSP Async Change Management
  - Licensing Job Schedule Management
  - OIDC Discovery Endpoint
  - MSSP Account Management Service Endpoint
  name: service
- tags:
  - Hard Delete Managed Tenant
  name: support
