openapi: 3.2.0
info:
  title: Palo Alto Networks Incidents by Severity API
  version: '1.0'
  description: 'Operations tagged Incidents by Severity across 3 of this provider''s published API definitions: palo-alto-networks-incidents-by-severity-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Incidents by Severity
paths:
  /mt/monitor/5g/incidents/count:
    post:
      tags:
      - Incidents by Severity
      summary: Palo Alto Networks Categorize Incident Severities
      description: "Aggregates active 5G service incidents based on critical, warning, or \ninformational severity levels. NOC engineers use this data during \nincident response windows to prioritize remediation efforts across \nthe global 5G fabric."
      parameters:
      - name: agg_by
        in: query
        schema:
          type: string
          enum:
          - tenant
        description: Aggregation parameter
        example: tenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IncidentsCountRequest'
            example:
              properties:
              - property: total_count
              - property: critical_count
              - property: warning_count
              filter:
                rules:
                - property: raised_time
                  operator: last_n_days
                  values:
                  - 7
                - property: status
                  operator: equals
                  values:
                  - Raised
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - total_count: 680
                  critical_count: 340
                  warning_count: 0
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gIncidentsCount
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    IncidentsCountRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
                example: example-property
          example:
          - property: example-property
          - property: example-property
        filter:
          type: object
          properties:
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                    example: example-property
                  operator:
                    type: string
                    example: example-operator
                  values:
                    type: array
                    items:
                      type: object
                    example:
                    - {}
              example:
              - property: example-property
                operator: example-operator
                values:
                - {}
              - property: example-property
                operator: example-operator
                values:
                - {}
          example:
            rules:
            - property: example-property
              operator: example-operator
              values:
              - {}
            - property: example-property
              operator: example-operator
              values:
              - {}
              - {}
    IncidentsCountRequest_2:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
        filter:
          type: object
          properties:
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-incidents-by-severity-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
