openapi: 3.2.0
info:
  title: Palo Alto Networks Languages API
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  version: '1.0'
  description: 'Operations tagged Languages across 2 of this provider''s published API definitions: palo-alto-prisma-airs-redteam-data-plane-dp-openapi-openapi.yaml, palo-alto-prisma-airs-redteam-management-mp-openapi-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
security:
- bearerAuth: []
tags:
- name: Languages
  description: Operations for language configuration and multilingual support.
paths:
  /v1/languages:
    get:
      tags:
      - Languages
      summary: Get available languages for scan
      description: Return allowed languages for the requesting tenant's scan page.
      operationId: get_languages_v1_languages_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantLanguagesResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
components:
  schemas:
    LanguageOptionSchema:
      properties:
        code:
          type: string
          title: Code
        name:
          type: string
          title: Name
      type: object
      required:
      - code
      - name
      title: LanguageOptionSchema
      description: Language representation with code and display name.
    TenantLanguagesResponseSchema:
      properties:
        multilingual_enabled:
          type: boolean
          title: Multilingual Enabled
        supported_job_types:
          items:
            type: string
          type: array
          title: Supported Job Types
        languages:
          items:
            $ref: '#/components/schemas/LanguageOptionSchema'
          type: array
          title: Languages
      type: object
      required:
      - multilingual_enabled
      - supported_job_types
      - languages
      title: TenantLanguagesResponseSchema
      description: Response for GET /v1/languages — tenant-facing language dropdown.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- palo-alto-prisma-airs-redteam-data-plane-dp-openapi-openapi.yaml
- palo-alto-prisma-airs-redteam-management-mp-openapi-openapi.yaml
