openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Deployments API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Deployments
  description: Browser deployment configuration management.
paths:
  /v1/deployments:
    get:
      operationId: listDeployments
      summary: Palo Alto Networks List Browser Deployments
      description: Returns the list of browser deployment configurations. Deployments define how the Prisma Access Browser is distributed and configured for groups of users, including installation packages and update channel settings.
      tags:
      - Deployments
      responses:
        '200':
          description: Deployments returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserDeployment'
              examples:
                ListDeployments200Example:
                  summary: Default listDeployments 200 response
                  x-microcks-default: true
                  value:
                    total: 611
                    items:
                    - deployment_id: '965512'
                      name: Production Sensor 18
                      description: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
                      platform: chromeos
                      policy_id: '698917'
                      update_channel: beta
                      device_count: 536
                      created_at: '2024-07-02T16:41:58Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListDeployments401Example:
                  summary: Default listDeployments 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListDeployments403Example:
                  summary: Default listDeployments 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListDeployments500Example:
                  summary: Default listDeployments 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createDeployment
      summary: Palo Alto Networks Create Browser Deployment
      description: Creates a new browser deployment configuration.
      tags:
      - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserDeploymentRequest'
            examples:
              CreateDeploymentRequestExample:
                summary: Default createDeployment request
                x-microcks-default: true
                value:
                  name: Primary Agent 98
                  description: Detected configured violation policy malware network suspicious policy.
                  platform: linux
                  policy_id: '600872'
                  update_channel: stable
      responses:
        '201':
          description: Deployment created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
              examples:
                CreateDeployment201Example:
                  summary: Default createDeployment 201 response
                  x-microcks-default: true
                  value:
                    deployment_id: '965512'
                    name: Production Sensor 18
                    description: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
                    platform: chromeos
                    policy_id: '698917'
                    update_channel: beta
                    device_count: 536
                    created_at: '2024-07-02T16:41:58Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateDeployment400Example:
                  summary: Default createDeployment 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateDeployment401Example:
                  summary: Default createDeployment 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateDeployment403Example:
                  summary: Default createDeployment 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateDeployment500Example:
                  summary: Default createDeployment 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/deployments/{deployment_id}:
    get:
      operationId: getDeployment
      summary: Palo Alto Networks Get Browser Deployment
      description: Returns full details for a specific browser deployment configuration.
      tags:
      - Deployments
      parameters:
      - name: deployment_id
        in: path
        required: true
        description: Unique identifier of the deployment.
        schema:
          type: string
        example: '436419'
      responses:
        '200':
          description: Deployment details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
              examples:
                GetDeployment200Example:
                  summary: Default getDeployment 200 response
                  x-microcks-default: true
                  value:
                    deployment_id: '965512'
                    name: Production Sensor 18
                    description: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
                    platform: chromeos
                    policy_id: '698917'
                    update_channel: beta
                    device_count: 536
                    created_at: '2024-07-02T16:41:58Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetDeployment401Example:
                  summary: Default getDeployment 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetDeployment403Example:
                  summary: Default getDeployment 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetDeployment404Example:
                  summary: Default getDeployment 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetDeployment500Example:
                  summary: Default getDeployment 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateDeployment
      summary: Palo Alto Networks Update Browser Deployment
      description: Updates an existing browser deployment configuration.
      tags:
      - Deployments
      parameters:
      - name: deployment_id
        in: path
        required: true
        description: Unique identifier of the deployment to update.
        schema:
          type: string
        example: '920067'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserDeploymentRequest'
            examples:
              UpdateDeploymentRequestExample:
                summary: Default updateDeployment request
                x-microcks-default: true
                value:
                  name: Primary Agent 98
                  description: Detected configured violation policy malware network suspicious policy.
                  platform: linux
                  policy_id: '600872'
                  update_channel: stable
      responses:
        '200':
          description: Deployment updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
              examples:
                UpdateDeployment200Example:
                  summary: Default updateDeployment 200 response
                  x-microcks-default: true
                  value:
                    deployment_id: '965512'
                    name: Production Sensor 18
                    description: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
                    platform: chromeos
                    policy_id: '698917'
                    update_channel: beta
                    device_count: 536
                    created_at: '2024-07-02T16:41:58Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment400Example:
                  summary: Default updateDeployment 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment401Example:
                  summary: Default updateDeployment 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment403Example:
                  summary: Default updateDeployment 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment404Example:
                  summary: Default updateDeployment 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment500Example:
                  summary: Default updateDeployment 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteDeployment
      summary: Palo Alto Networks Delete Browser Deployment
      description: Deletes a browser deployment configuration.
      tags:
      - Deployments
      parameters:
      - name: deployment_id
        in: path
        required: true
        description: Unique identifier of the deployment to delete.
        schema:
          type: string
        example: '965867'
      responses:
        '204':
          description: Deployment deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteDeployment401Example:
                  summary: Default deleteDeployment 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteDeployment403Example:
                  summary: Default deleteDeployment 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteDeployment404Example:
                  summary: Default deleteDeployment 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteDeployment500Example:
                  summary: Default deleteDeployment 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    BrowserDeployment:
      type: object
      properties:
        deployment_id:
          type: string
          description: Unique identifier of the deployment.
          example: '965512'
        name:
          type: string
          description: Display name of the deployment.
          example: Production Sensor 18
        description:
          type: string
          description: Description of the deployment configuration.
          example: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
        platform:
          type: string
          enum:
          - windows
          - macos
          - linux
          - chromeos
          description: Target operating system platform.
          example: chromeos
        policy_id:
          type: string
          description: Default browser policy assigned to users in this deployment.
          example: '698917'
        update_channel:
          type: string
          enum:
          - stable
          - beta
          description: Browser update channel for this deployment.
          example: beta
        device_count:
          type: integer
          description: Number of devices in this deployment.
          example: 536
        created_at:
          type: string
          format: date-time
          example: '2024-07-02T16:41:58Z'
    BrowserDeploymentRequest:
      type: object
      required:
      - name
      - platform
      properties:
        name:
          type: string
          description: Display name for the deployment.
          example: Primary Agent 98
        description:
          type: string
          example: Detected configured violation policy malware network suspicious policy.
        platform:
          type: string
          enum:
          - windows
          - macos
          - linux
          - chromeos
          description: Target operating system platform.
          example: linux
        policy_id:
          type: string
          description: Default browser policy ID for this deployment.
          example: '600872'
        update_channel:
          type: string
          enum:
          - stable
          - beta
          default: stable
          example: stable
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Suspicious detected incident malware activity traffic traffic.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
