openapi: 3.2.0
info:
  title: Palo Alto Networks Configured UE Mappings API
  version: '1.0'
  description: 'Operations tagged Configured UE Mappings across 3 of this provider''s published API definitions: palo-alto-networks-configured-ue-mappings-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Configured UE Mappings
paths:
  /mt/monitor/5g/mapping/configuredUEs:
    get:
      tags:
      - Configured UE Mappings
      summary: Palo Alto Networks Verify Configured Mappings
      description: "Returns the count of User Equipment mappings manually provisioned by \nadministrators. Operational leads compare this value against active \nregistrations to verify onboarding success and subscriber provisioning \naccuracy."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  configured_ue_count: 94
                header:
                  createdAt: '2025-12-17T02:07:37Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gMappingConfiguredues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-configured-ue-mappings-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
