openapi: 3.2.0
info:
  title: Palo Alto Networks 5G Unknown IPs Trend API
  version: '1.0'
  description: 'Operations tagged 5G Unknown IPs Trend across 3 of this provider''s published API definitions: palo-alto-networks-5g-unknown-ips-trend-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: 5G Unknown IPs Trend
paths:
  /mt/monitor/5g/unknownIp/trend:
    post:
      tags:
      - 5G Unknown IPs Trend
      summary: Palo Alto Networks Monitor Unknown Trends
      description: "Tracks the volume of unknown IP Address address detections over a historical \ntime range. Network engineers monitor these trends to troubleshoot \ndiscovery gaps and improve the accuracy of subscriber mapping across \nregional interconnects."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrendRequest'
            example:
              properties:
              - property: ip_address
                function: distinct_count
                alias: count
              - property: compute_region
                alias: region
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 7
                - property: compute_region
                  operator: in
                  values:
                  - us-central1
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - region: us-central1
                  event_time: 1765324800000
                  count: 13
                - region: us-central1
                  event_time: 1765411200000
                  count: 7
                header:
                  createdAt: '2025-12-17T02:05:04Z'
                  clientRequestId: null
                  dataCount: 8
                  status:
                    subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gUnknownipTrend
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    TrendRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
                example: example-property
              function:
                type: string
                example: example-function
              alias:
                type: string
                example: example-alias
          example:
          - property: example-property
            function: example-function
            alias: example-alias
          - property: example-property
            function: example-function
            alias: example-alias
        filter:
          type: object
          properties:
            operator:
              type: string
              example: example-operator
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                    example: example-property
                  operator:
                    type: string
                    example: example-operator
                  values:
                    type: array
                    items:
                      type: object
                    example:
                    - {}
                    - {}
              example:
              - property: example-property
                operator: example-operator
                values:
                - {}
                - {}
          example:
            operator: example-operator
            rules:
            - property: example-property
              operator: example-operator
              values:
              - {}
            - property: example-property
              operator: example-operator
              values:
              - {}
              - {}
        histogram:
          type: object
          properties:
            property:
              type: string
              example: example-property
            range:
              type: string
              example: example-range
            enableEmptyInterval:
              type: boolean
              example: true
            value:
              type: string
              example: example-value
          example:
            property: example-property
            range: example-range
            enableEmptyInterval: true
            value: example-value
    TrendRequest_2:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              function:
                type: string
              alias:
                type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-5g-unknown-ips-trend-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
