openapi: 3.1.0
info:
  title: Palo Alto Networks SASE Aggregate Monitoring API
  description: >-
    SASE Aggregate Monitoring API for multi-tenant visibility and telemetry.
    Provides aggregated query capabilities across threat, URL, application,
    bandwidth, and license data for SASE-managed tenants. Designed for
    managed service providers and large enterprise deployments where
    operators need cross-tenant visibility in a single query. Supports
    histogram aggregations, group-by dimensions, and flexible filtering
    to power dashboards and compliance reporting workflows.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/mt/monitor/v1
    description: SASE Aggregate Monitoring API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Aggregation Queries
    description: Multi-tenant aggregated data queries.
  - name: Tenants
    description: Tenant hierarchy visibility.
paths:
  /agg/query/threat:
    post:
      operationId: queryThreatData
      summary: Palo Alto Networks Query threat data aggregation
      description: >-
        Returns aggregated threat event data across one or more tenants
        within a Tenant Service Group hierarchy. Supports filtering by
        threat type, severity, source, and time range. Results can be
        grouped by dimensions such as tenant, threat category, or time
        bucket to support dashboard and reporting use cases.
      tags:
        - Aggregation Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationQuery'
      responses:
        '200':
          description: Threat data aggregation results returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregationResponse'
        '400':
          description: Invalid query request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agg/query/url:
    post:
      operationId: queryURLData
      summary: Palo Alto Networks Query URL categorization data
      description: >-
        Returns aggregated URL categorization and web activity data across
        tenants. Supports filtering by URL category, action, and user groups.
        Useful for generating web usage reports and identifying policy
        violations across managed tenants.
      tags:
        - Aggregation Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationQuery'
      responses:
        '200':
          description: URL categorization data returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregationResponse'
        '400':
          description: Invalid query request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agg/query/application:
    post:
      operationId: queryApplicationData
      summary: Palo Alto Networks Query application usage data
      description: >-
        Returns aggregated application usage data across tenants including
        session counts, bytes transferred, and user counts per application.
        Supports filtering by application name, category, and risk level.
      tags:
        - Aggregation Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationQuery'
      responses:
        '200':
          description: Application usage data returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregationResponse'
        '400':
          description: Invalid query request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agg/query/bandwidth:
    post:
      operationId: queryBandwidthData
      summary: Palo Alto Networks Query bandwidth utilization data
      description: >-
        Returns aggregated bandwidth utilization metrics across tenants
        and SASE locations. Supports filtering by location, time range,
        and traffic direction. Useful for capacity planning and SLA
        monitoring reports.
      tags:
        - Aggregation Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationQuery'
      responses:
        '200':
          description: Bandwidth utilization data returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregationResponse'
        '400':
          description: Invalid query request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /agg/query/license:
    post:
      operationId: queryLicenseData
      summary: Palo Alto Networks Query license utilization data
      description: >-
        Returns aggregated license utilization data across tenants for
        all active SASE subscriptions. Supports filtering by product,
        license type, and TSG. Useful for chargeback reporting and
        license compliance monitoring.
      tags:
        - Aggregation Queries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationQuery'
      responses:
        '200':
          description: License utilization data returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregationResponse'
        '400':
          description: Invalid query request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tenants:
    get:
      operationId: listMonitoringTenants
      summary: Palo Alto Networks Get tenant hierarchy
      description: >-
        Returns the tenant hierarchy accessible to the authenticated
        service account within the Aggregate Monitoring scope. Use this
        endpoint to enumerate the TSG IDs available for use in aggregation
        queries.
      tags:
        - Tenants
      parameters:
        - name: tsg_id
          in: query
          description: >-
            Root TSG ID from which to return the hierarchy. Defaults to
            the TSG of the authenticated service account.
          schema:
            type: string
      responses:
        '200':
          description: Tenant hierarchy returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of tenants in the hierarchy.
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TenantSummary'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    AggregationQuery:
      type: object
      required:
        - tsg_id
      properties:
        tsg_id:
          type: string
          description: >-
            Tenant Service Group ID to scope the query. Data from all
            descendant TSGs within this scope is included.
        filter:
          type: object
          description: >-
            Key-value filter conditions to apply to the query. Filter keys
            are data-type specific (e.g., severity, category, app_name).
          additionalProperties:
            type: string
        time_range:
          type: object
          description: Time range for the query.
          properties:
            start:
              type: string
              format: date-time
              description: Query start time (ISO 8601).
            end:
              type: string
              format: date-time
              description: Query end time (ISO 8601). Defaults to current time.
            last:
              type: string
              description: >-
                Relative time range shorthand (e.g., 1h, 24h, 7d, 30d).
                Mutually exclusive with start/end.
        count:
          type: integer
          description: Maximum number of result rows to return.
          default: 100
          maximum: 1000
        histogram:
          type: object
          description: >-
            Configuration for time-series histogram output. When specified,
            results are bucketed by time.
          properties:
            field:
              type: string
              description: Timestamp field to use for bucketing.
            interval:
              type: string
              enum:
                - 1m
                - 5m
                - 15m
                - 1h
                - 6h
                - 1d
              description: Time bucket interval.
        group_by:
          type: array
          description: >-
            Dimension fields to group results by. Supported values are
            data-type specific.
          items:
            type: string
        sort:
          type: array
          description: Sort order for results.
          items:
            type: object
            properties:
              field:
                type: string
                description: Field name to sort by.
              order:
                type: string
                enum:
                  - asc
                  - desc
                default: desc
    AggregationResponse:
      type: object
      properties:
        total:
          type: integer
          description: Total number of matching records before count limit.
        count:
          type: integer
          description: Number of records returned.
        time_range:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        data:
          type: array
          description: >-
            Array of result objects. Schema varies by query type and
            group_by dimensions.
          items:
            type: object
            additionalProperties: true
        histogram:
          type: array
          description: >-
            Time-series histogram buckets when histogram configuration
            was specified in the query.
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              count:
                type: integer
              values:
                type: object
                additionalProperties: true
    TenantSummary:
      type: object
      properties:
        tsg_id:
          type: string
          description: Tenant Service Group ID.
        display_name:
          type: string
          description: TSG display name.
        parent_id:
          type: string
          description: Parent TSG ID.
        depth:
          type: integer
          description: Depth in the hierarchy (0 for root).
        child_count:
          type: integer
          description: Number of direct child TSGs.
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
