openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend WANInterfaces API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: WANInterfaces
  description: WAN interface configuration for defining upstream connectivity including ISP links, MPLS circuits, and LTE connections.
paths:
  /sdwan/config/v1/sites/{site_id}/wan-interfaces:
    get:
      operationId: listSiteWANInterfaces
      summary: Palo Alto Networks List WAN Interfaces at a Site
      description: Returns a list of WAN interfaces configured at the specified site. WAN interfaces represent upstream network connections such as broadband ISP links, MPLS circuits, or LTE backup links.
      tags:
      - WANInterfaces
      parameters:
      - name: site_id
        in: path
        required: true
        description: Unique site identifier.
        schema:
          type: string
        example: '315148'
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
        example: 100
      responses:
        '200':
          description: WAN interfaces returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WANInterface'
              examples:
                ListSiteWaninterfaces200Example:
                  summary: Default listSiteWANInterfaces 200 response
                  x-microcks-default: true
                  value:
                    count: 787
                    items:
                    - id: example-id
                      name: Production Policy 71
                      description: Configured incident suspicious activity threat blocked configured network detected traffic threat policy.
                      type: privatewan
                      link_bw_down: 60.87
                      link_bw_up: 77.3
                      cost: 63
                      lqm_enabled: true
                      label_id: '854028'
                      site_id: '372160'
                      created_at: '2025-04-10T23:35:40Z'
                      updated_at: '2026-06-05T22:18:20Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSiteWANInterface
      summary: Palo Alto Networks Create a WAN Interface at a Site
      description: Creates a new WAN interface configuration at the specified site.
      tags:
      - WANInterfaces
      parameters:
      - name: site_id
        in: path
        required: true
        description: Unique site identifier.
        schema:
          type: string
        example: '816030'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WANInterface'
            examples:
              CreateSiteWaninterfaceRequestExample:
                summary: Default createSiteWANInterface request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Production Policy 71
                  description: Configured incident suspicious activity threat blocked configured network detected traffic threat policy.
                  type: privatewan
                  link_bw_down: 60.87
                  link_bw_up: 77.3
                  cost: 63
                  lqm_enabled: true
                  label_id: '854028'
                  site_id: '372160'
                  created_at: '2025-04-10T23:35:40Z'
                  updated_at: '2026-06-05T22:18:20Z'
      responses:
        '200':
          description: WAN interface created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WANInterface'
              examples:
                CreateSiteWaninterface200Example:
                  summary: Default createSiteWANInterface 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Production Policy 71
                    description: Configured incident suspicious activity threat blocked configured network detected traffic threat policy.
                    type: privatewan
                    link_bw_down: 60.87
                    link_bw_up: 77.3
                    cost: 63
                    lqm_enabled: true
                    label_id: '854028'
                    site_id: '372160'
                    created_at: '2025-04-10T23:35:40Z'
                    updated_at: '2026-06-05T22:18:20Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    WANInterface:
      type: object
      required:
      - name
      - type
      properties:
        id:
          type: string
          description: Unique identifier for the WAN interface.
          readOnly: true
          example: example-id
        name:
          type: string
          description: Name of the WAN interface.
          example: Production Policy 71
        description:
          type: string
          example: Configured incident suspicious activity threat blocked configured network detected traffic threat policy.
        type:
          type: string
          enum:
          - publicwan
          - privatewan
          description: Type of WAN connection.
          example: privatewan
        link_bw_down:
          type: number
          description: Downstream bandwidth in Mbps.
          example: 60.87
        link_bw_up:
          type: number
          description: Upstream bandwidth in Mbps.
          example: 77.3
        cost:
          type: integer
          minimum: 0
          maximum: 255
          description: Cost metric for path selection. Lower cost is preferred.
          example: 63
        lqm_enabled:
          type: boolean
          default: true
          description: Whether Link Quality Monitoring is enabled.
          example: true
        label_id:
          type: string
          description: WAN interface label for policy-based routing.
          example: '854028'
        site_id:
          type: string
          readOnly: true
          example: '372160'
        created_at:
          type: string
          format: date-time
          readOnly: true
          example: '2025-04-10T23:35:40Z'
        updated_at:
          type: string
          format: date-time
          readOnly: true
          example: '2026-06-05T22:18:20Z'
    ErrorResponse:
      type: object
      properties:
        _error:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Investigation firewall on investigation blocked malware on on activity traffic.
          example:
          - code: example-code
            message: Traffic activity blocked incident activity alert rule alert firewall incident.
          - code: example-code
            message: Traffic policy on violation blocked Security investigation blocked rule on malware network.
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
