openapi: 3.2.0
info:
  title: Palo Alto Networks Dashboard API
  version: '1.0'
  description: 'Operations tagged Dashboard across 3 of this provider''s published API definitions: palo-alto-code-dashboard-openapi.json, palo-alto-prisma-airs-redteam-data-plane-dp-openapi-openapi.yaml, palo-alto-prisma-airs-redteam-management-mp-openapi-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
tags:
- name: Dashboard
paths:
  /code/api/v2/dashboard/common-errors-by-policy:
    post:
      description: 'Gets the list of policies that have the highest number of errors (open issues) and their respective error counts. The response also includes policy details such as `remediationIds` and `severity`.


        You can set the `repositories`, `codeCategories`, and `severities` parameters in the request body to filter the results.'
      operationId: get dashboard common errors by policy data
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonErrorsByPolicyRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonErrorsByPolicyResponse'
          description: Common Errors By Policy
        '401':
          description: Customer has no permitted accounts
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to get common errors by policy
      security:
      - CustomAuthorizer: []
      summary: Common Errors By Policy
      tags:
      - Dashboard
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v2/dashboard/common-errors-by-policy\"\n\npayload = {\n    \"codeCategories\": [\"iac\"],\n    \"repositories\": [\"string\"],\n    \"severities\": [\"INFO\"],\n    \"size\": 0\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v2/dashboard/common-errors-by-policy \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"codeCategories\":[\"iac\"],\"repositories\":[\"string\"],\"severities\":[\"INFO\"],\"size\":0}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v2/dashboard/errors-by-severity:
    post:
      description: 'Gets a count of issues detected at each severity level.

        You can set the `repositories`, `codeCategories`, and `severities` parameters in the request body to filter the results.'
      operationId: get dashboard errors by severity data
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorsBySeverityRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsBySeverityResponse'
          description: Errors By Severity
        '401':
          description: Customer has no permitted accounts
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to get errors by severity
      security:
      - CustomAuthorizer: []
      summary: Code Issues by Severity
      tags:
      - Dashboard
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v2/dashboard/errors-by-severity\"\n\npayload = {\n    \"codeCategories\": [\"iac\"],\n    \"repositories\": [\"string\"],\n    \"severities\": [\"INFO\"],\n    \"size\": 0\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v2/dashboard/errors-by-severity \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"codeCategories\":[\"iac\"],\"repositories\":[\"string\"],\"severities\":[\"INFO\"],\"size\":0}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v2/dashboard/iac-errors-by-category:
    post:
      description: 'Gets the count for each type of IaC misconfiguration issue detected.

        The IaC misconfiguration types are:

        - IAM

        - Logging

        - Monitoring

        - Networking

        - Kubernetes

        - General

        - Serverless

        - Elasticsearch

        - Storage

        - Public

        - Compute

        - Drift


        You can set the `repositories` and `severities` parameters in the request body to filter the results.<br/>'
      operationId: get dashboard iac errors by category data
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IaCErrorsByCategoryRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IaCErrorsByCategoryResponse'
          description: IaC Errors By Category
        '401':
          description: Customer has no permitted accounts
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to get iac errors by category
      security:
      - CustomAuthorizer: []
      summary: IaC Errors by Category
      tags:
      - Dashboard
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v2/dashboard/iac-errors-by-category\"\n\npayload = {\n    \"repositories\": [\"string\"],\n    \"severities\": [\"INFO\"],\n    \"size\": 0\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v2/dashboard/iac-errors-by-category \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"repositories\":[\"string\"],\"severities\":[\"INFO\"],\"size\":0}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v2/dashboard/package-licenses:
    post:
      description: "Gets the list of non-compliant package licenses that occurred most frequently in the scanned repositories. The returned list also includes the count of repositories in which each non-compliant package license was detected. \nYou can set the `repositories` and `severities` parameters in the request body to filter the results."
      operationId: get dashboard data
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackageLicensesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageLicensesResponse'
          description: Non compliant package licenses
        '401':
          description: Customer has no permitted accounts
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to get package licenses
      security:
      - CustomAuthorizer: []
      summary: Top Non-compliant Package Licenses
      tags:
      - Dashboard
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v2/dashboard/package-licenses\"\n\npayload = {\n    \"repositories\": [\"string\"],\n    \"size\": 0\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v2/dashboard/package-licenses \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"repositories\":[\"string\"],\"size\":0}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v2/dashboard/pr-issues-over-time:
    post:
      description: "Returns the count of the different pull request statuses\n(Failed, Resolved (Failed and was blocking issues were resolved) and Passed) per day for the last 30 days. \nYou can set the `repositories` and `startDate` parameters in the request body to filter the results.<br/>"
      operationId: get pr issues over time data
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PRIssuesOverTimeRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PRIssuesOverTimeResponse'
          description: Pull Requests Issues Over Time
        '401':
          description: Customer has no permitted accounts
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to get pr issues over time data
      security:
      - CustomAuthorizer: []
      summary: Pull Requests over Time
      tags:
      - Dashboard
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v2/dashboard/pr-issues-over-time\"\n\npayload = {\n    \"repositories\": [\"string\"],\n    \"startDate\": \"string\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v2/dashboard/pr-issues-over-time \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"repositories\":[\"string\"],\"startDate\":\"string\"}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v2/dashboard/top-cvss:
    post:
      description: 'Returns the list of vulnerabilities that have the highest CVSS scores.

        The results also include CVE details such as Risk Factors and Severity.

        You can set the `repositories` and `severities` parameters in the request body to filter the results.'
      operationId: get dashboard top cvss vulnerabilities data
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopCvssVulsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopCvssVulsResponse'
          description: Top CVSS Vulnerabilieties
        '401':
          description: Customer has no permitted accounts
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to get top cvss vulnerabilities
      security:
      - CustomAuthorizer: []
      summary: Top CVSS Score Vulnerabilities
      tags:
      - Dashboard
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v2/dashboard/top-cvss\"\n\npayload = {\n    \"repositories\": [\"string\"],\n    \"severities\": [\"INFO\"],\n    \"size\": 0\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v2/dashboard/top-cvss \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"repositories\":[\"string\"],\"severities\":[\"INFO\"],\"size\":0}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v2/dashboard/top-vulnerable-repositories:
    post:
      description: 'Gets the repositories that have the highest number of high-risk errors (High and Critical severity).

        You can set the `repositories`, `codeCategories`, and `severities` parameters in the request body to filter the results.'
      operationId: get dashboard top vulnerable repositories data
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopVulnerableReposRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopVulnerableReposResponse'
          description: Top Vulnerable Repositories
        '401':
          description: Customer has no permitted accounts
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to get top vulnerable repositories
      security:
      - CustomAuthorizer: []
      summary: Top Repositories by Critical Error Count
      tags:
      - Dashboard
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v2/dashboard/top-vulnerable-repositories\"\n\npayload = {\n    \"codeCategories\": [\"iac\"],\n    \"repositories\": [\"string\"],\n    \"severities\": [\"INFO\"],\n    \"size\": 0\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v2/dashboard/top-vulnerable-repositories \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"codeCategories\":[\"iac\"],\"repositories\":[\"string\"],\"severities\":[\"INFO\"],\"size\":0}'"
    servers:
    - url: https://api.prismacloud.io
  /code/api/v2/dashboard/vcs-scan-issues-over-time:
    post:
      description: 'Returns the count of day-aggregated issue statuses (Opened Earlier, open today, Fix Pending, Fixed, Suppressed) for the last 30 days.

        You can set the `repositories`, `codeCategories`, `severities`, and `startDate` parameters in the request body to filter the results.

        Vulnerability data is not included in the response of this endpoint.<br/>

        Use the [Top CVSS Score Vulnerabilities](/prisma-cloud/api/code/get-dashboard-top-cvss-vulnerabilities-data) endpoint to retrieve the riskiest vulnerabilities.'
      operationId: get vcs scan issues over time data
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VCSIssuesOverTimeRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VCSIssuesOverTimeResponse'
          description: VCS Scan Issues Over Time
        '401':
          description: Customer has no permitted accounts
        '422':
          description: Request arguments validation error
        '500':
          description: Failed to get vcs scan issues over time
      security:
      - CustomAuthorizer: []
      summary: Code issues over time
      tags:
      - Dashboard
      x-codeSamples:
      - lang: Python + Requests
        source: "import requests\n\nurl = \"https://api.prismacloud.io/code/api/v2/dashboard/vcs-scan-issues-over-time\"\n\npayload = {\n    \"codeCategories\": [\"iac\"],\n    \"repositories\": [\"string\"],\n    \"severities\": [\"INFO\"],\n    \"startDate\": \"string\"\n}\nheaders = {\n    \"content-type\": \"application/json\",\n    \"authorization\": \"REPLACE_KEY_VALUE\"\n}\n\nresponse = requests.request(\"POST\", url, json=payload, headers=headers)\n\nprint(response.text)"
      - lang: Shell + Curl
        source: "curl --request POST \\\n  --url https://api.prismacloud.io/code/api/v2/dashboard/vcs-scan-issues-over-time \\\n  --header 'authorization: REPLACE_KEY_VALUE' \\\n  --header 'content-type: application/json' \\\n  --data '{\"codeCategories\":[\"iac\"],\"repositories\":[\"string\"],\"severities\":[\"INFO\"],\"startDate\":\"string\"}'"
    servers:
    - url: https://api.prismacloud.io
  /v1/dashboard/scan-statistics:
    get:
      tags:
      - Dashboard
      summary: Get scan statistics and risk profile
      description: Returns scan counts, target statistics, status breakdown, and risk profile for dashboard display.
      operationId: get_scan_statistics_v1_dashboard_scan_statistics_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanStatisticsResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/dashboard/score-trend:
    get:
      tags:
      - Dashboard
      summary: Get score trend for a target
      description: Returns time-series risk scores grouped by job type for chart display.
      operationId: get_score_trend_v1_dashboard_score_trend_get
      parameters:
      - name: target_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
          description: Target UUID to fetch scores for
          title: Target Id
        description: Target UUID to fetch scores for
      - name: date_range
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/DateRangeFilter'
          description: Predefined date range filter
          default: LAST_7_DAYS
        description: Predefined date range filter
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Custom start date (overrides date_range if both provided)
          title: Start Date
        description: Custom start date (overrides date_range if both provided)
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Custom end date (overrides date_range if both provided)
          title: End Date
        description: Custom end date (overrides date_range if both provided)
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreTrendResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
  /v1/dashboard/overview:
    get:
      tags:
      - Dashboard
      summary: Get dashboard overview
      description: Returns target counts by type for dashboard display.
      operationId: get_overview_v1_dashboard_overview_get
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardOverviewResponseSchema'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.sase.paloaltonetworks.com/ai-red-teaming/mgmt-plane
components:
  schemas:
    VCSIssuesOverTimeResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/VCSIssuesOverTime'
          type: array
        lastScanDate:
          description: The time when the last scan was triggered.
          type: string
      required:
      - data
      - lastScanDate
      type: object
    TopCvssVuls:
      properties:
        count:
          description: Number of Vulnerabilities found in the last scan.
          type: string
        cveId:
          description: The CVE ID of the vulnerability.
          type: string
        cvss:
          description: The Common Vulnerability Scoring System (CVSS) score of the vulnerability.
          format: double
          type: number
        riskFactors:
          $ref: '#/components/schemas/RiskFactors'
        severity:
          description: The severity level of the vulnerability or misconfiguration. Possible values are INFO, LOW, MEDIUM, HIGH, or CRITICAL.
          type: string
      required:
      - count
      - severity
      - riskFactors
      - cvss
      - cveId
      type: object
    TopCvssVulsRequest:
      additionalProperties: false
      properties:
        repositories:
          description: 'The repositories filter enables you to retrieve issues related to one or more repositories.

            You must provide the UUIDs of the repositories that you want to include in the filter.

            To retrieve the UUID of a repository use the [List repository list](/prisma-cloud/api/code/get-repositories) endpoint.

            (the `id` field of the response has the UUID of the repository).'
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        severities:
          description: "The severity level of the vulnerability or misconfiguration.\n  - Critical: Critical severity indicates a high-risk vulnerability or\n    misconfiguration that could lead to significant security breaches or\n    data leaks. These issues require immediate attention and remediation.\n  - High: High severity indicates a significant security issue that has the\n    potential to be exploited or result in significant damage if left unaddressed.\n    These findings should be addressed as a priority.\n  - Medium: Medium severity indicates issues that pose a potential security risk that\n    are less severe than Critical and High. Remediation of these issues should be prioritized,\n    but they may not require immediate attention.\n  - Low: Low severity indicates issues that have a minimal impact on security or are relatively\n    low-risk. While they may not pose an immediate threat, it is still recommended to address\n    them to maintain a robust security posture.\n  - Info: Info severity is used for informational findings or recommendations that\n    do not pose an immediate security risk but provide helpful guidance, best practices,\n    or suggestions for optimization. These findings can be considered as part of ongoing\n    security hygiene efforts."
          items:
            $ref: '#/components/schemas/Severity'
          type: array
        size:
          $ref: '#/components/schemas/Size'
      type: object
    PRIssuesOverTime:
      properties:
        date:
          description: A date in ISO 8601 format. The response includes data for every single day starting from the given `startDate`.
          type: string
        failedCount:
          description: Number of pull requests that failed till the date.
          type: string
        failedTodayCount:
          description: Number of pull requests that failed on that date.
          type: string
        passedCount:
          description: Number of pull requests that passed till the date.
          type: string
        resolvedCount:
          description: Number of (failed and blocking) pull request issues that were resolved till the date.
          type: string
      required:
      - resolvedCount
      - passedCount
      - failedTodayCount
      - failedCount
      - date
      type: object
    Repository:
      type: string
    PackageLicensesResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/PackageLicenses'
          type: array
        lastScanDate:
          description: The time when the last scan was triggered.
          type: string
      required:
      - data
      - lastScanDate
      type: object
    IaCErrorsByCategoryRequest:
      additionalProperties: false
      properties:
        repositories:
          description: 'The repositories filter enables you to retrieve issues related to one or more repositories.

            You must provide the UUIDs of the repositories that you want to include in the filter.

            To retrieve the UUID of a repository use the [List repository list](/prisma-cloud/api/code/get-repositories) endpoint.

            (the `id` field of the response has the UUID of the repository).'
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        severities:
          description: "The severity level of the vulnerability or misconfiguration.\n  - Critical: Critical severity indicates a high-risk vulnerability or\n    misconfiguration that could lead to significant security breaches or\n    data leaks. These issues require immediate attention and remediation.\n  - High: High severity indicates a significant security issue that has the\n    potential to be exploited or result in significant damage if left unaddressed.\n    These findings should be addressed as a priority.\n  - Medium: Medium severity indicates issues that pose a potential security risk that\n    are less severe than Critical and High. Remediation of these issues should be prioritized,\n    but they may not require immediate attention.\n  - Low: Low severity indicates issues that have a minimal impact on security or are relatively\n    low-risk. While they may not pose an immediate threat, it is still recommended to address\n    them to maintain a robust security posture.\n  - Info: Info severity is used for informational findings or recommendations that\n    do not pose an immediate security risk but provide helpful guidance, best practices,\n    or suggestions for optimization. These findings can be considered as part of ongoing\n    security hygiene efforts."
          items:
            $ref: '#/components/schemas/Severity'
          type: array
        size:
          $ref: '#/components/schemas/Size'
      type: object
    ErrorsBySeverityResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/ErrorsBySeverity'
          type: array
        lastScanDate:
          description: The time when the last scan was triggered.
          type: string
      required:
      - data
      - lastScanDate
      type: object
    Severity:
      description: "The severity level of the vulnerability or misconfiguration.\n  - Critical: Critical severity indicates a high-risk vulnerability or\n    misconfiguration that could lead to significant security breaches or\n    data leaks. These issues require immediate attention and remediation.\n  - High: High severity indicates a significant security issue that has the\n    potential to be exploited or result in significant damage if left unaddressed.\n    These findings should be addressed as a priority.\n  - Medium: Medium severity indicates issues that pose a potential security risk that\n    are less severe than Critical and High. Remediation of these issues should be prioritized,\n    but they may not require immediate attention.\n  - Low: Low severity indicates issues that have a minimal impact on security or are relatively\n    low-risk. While they may not pose an immediate threat, it is still recommended to address\n    them to maintain a robust security posture.\n  - Info: Info severity is used for informational findings or recommendations that\n    do not pose an immediate security risk but provide helpful guidance, best practices,\n    or suggestions for optimization. These findings can be considered as part of ongoing\n    security hygiene efforts."
      enum:
      - INFO
      - LOW
      - MEDIUM
      - HIGH
      - CRITICAL
      type: string
    TopVulnerableReposRequest:
      additionalProperties: false
      properties:
        codeCategories:
          description: "- IaC: Filter value to retrieve issues with Infrastructure-as-Code (IaC or iac) templates\n  and scripts that provision and manage cloud resources. Prisma Cloud detects issues such\n  as misconfigurations and security risks within the code that deploys and manages the infrastructure.\n- Vulnerability: Filter value to retrieve findings related to known security vulnerabilities\n  in open-source packages used in applications. These findings highlight potential weaknesses\n  that could be exploited by attackers.\n- BuildIntegrity: Filter value to retrieve findings related to the integrity and security\n  of the build pipeline or the software supply chain. These findings include checks for\n  unauthorized or insecure dependencies, insecure artifact storage, or other issues that\n  could compromise the integrity of the software build process.\n- Secrets: Filter value to retrieve findings related to the handling and management of\n  sensitive information, such as API keys, passwords, or cryptographic keys, within code\n  files. Address these findings to ensure that secrets are properly protected and not exposed\n  in the code or configurations.\n- Licenses: Filter value to retrieve issues related to the non-compliance with license requirements.\n  Open source packages typically include a license that is either restrictive or permissive.\n  Prisma Cloud, by default, identifies and flags instances where open-source software components\n  do not include a license, or are carrying an undesired one. Specifically, licenses not approved\n  by the Open Source Initiative (OSI) or not recognized by the Software Package Data\n  Exchange (SPDX) fall under this undesired category."
          items:
            $ref: '#/components/schemas/CodeCategoryType'
          type: array
        repositories:
          description: 'The repositories filter enables you to retrieve issues related to one or more repositories.

            You must provide the UUIDs of the repositories that you want to include in the filter.

            To retrieve the UUID of a repository use the [List repository list](/prisma-cloud/api/code/get-repositories) endpoint.

            (the `id` field of the response has the UUID of the repository).'
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        severities:
          description: "The severity level of the vulnerability or misconfiguration.\n  - Critical: Critical severity indicates a high-risk vulnerability or\n    misconfiguration that could lead to significant security breaches or\n    data leaks. These issues require immediate attention and remediation.\n  - High: High severity indicates a significant security issue that has the\n    potential to be exploited or result in significant damage if left unaddressed.\n    These findings should be addressed as a priority.\n  - Medium: Medium severity indicates issues that pose a potential security risk that\n    are less severe than Critical and High. Remediation of these issues should be prioritized,\n    but they may not require immediate attention.\n  - Low: Low severity indicates issues that have a minimal impact on security or are relatively\n    low-risk. While they may not pose an immediate threat, it is still recommended to address\n    them to maintain a robust security posture.\n  - Info: Info severity is used for informational findings or recommendations that\n    do not pose an immediate security risk but provide helpful guidance, best practices,\n    or suggestions for optimization. These findings can be considered as part of ongoing\n    security hygiene efforts."
          items:
            $ref: '#/components/schemas/Severity'
          type: array
        size:
          $ref: '#/components/schemas/Size'
      type: object
    CommonErrorsByPolicy:
      properties:
        count:
          description: Number of open issues for the policy.
          type: string
        createdBy:
          description: The author of the policy (Prisma Cloud System Admin for default policies, User email for custom policies).
          type:
          - string
          - 'null'
        isCustom:
          description: True if the policy is a custom policy; false otherwise.
          type: boolean
        remediationIds:
          description: The remediations available for the issues identified by the policy.
          items:
            type: string
          type: array
        severity:
          $ref: '#/components/schemas/Severity'
        title:
          description: The policy name.
          type: string
      required:
      - count
      - isCustom
      - createdBy
      - remediationIds
      - title
      - severity
      type: object
    PackageLicensesRequest:
      additionalProperties: false
      properties:
        repositories:
          description: 'The repositories filter enables you to retrieve issues related to one or more repositories.

            You must provide the UUIDs of the repositories that you want to include in the filter.

            To retrieve the UUID of a repository use the [List repository list](/prisma-cloud/api/code/get-repositories) endpoint.

            (the `id` field of the response has the UUID of the repository).'
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        size:
          $ref: '#/components/schemas/Size'
      type: object
    TopCvssVulsResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/TopCvssVuls'
          type: array
        lastScanDate:
          description: The time when the last scan was triggered.
          type: string
      required:
      - data
      - lastScanDate
      type: object
    ErrorsBySeverity:
      properties:
        count:
          description: Number of issues at each severity level.
          type: string
        severity:
          $ref: '#/components/schemas/Severity'
      required:
      - count
      - severity
      type: object
    CommonErrorsByPolicyResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/CommonErrorsByPolicy'
          type: array
        lastScanDate:
          description: The time when the last scan was triggered.
          type: string
      required:
      - data
      - lastScanDate
      type: object
    CommonErrorsByPolicyRequest:
      additionalProperties: false
      properties:
        codeCategories:
          description: "- IaC: Filter value to retrieve issues with Infrastructure-as-Code (IaC or iac) templates\n  and scripts that provision and manage cloud resources. Prisma Cloud detects issues such\n  as misconfigurations and security risks within the code that deploys and manages the infrastructure.\n- Vulnerability: Filter value to retrieve findings related to known security vulnerabilities\n  in open-source packages used in applications. These findings highlight potential weaknesses\n  that could be exploited by attackers.\n- BuildIntegrity: Filter value to retrieve findings related to the integrity and security\n  of the build pipeline or the software supply chain. These findings include checks for\n  unauthorized or insecure dependencies, insecure artifact storage, or other issues that\n  could compromise the integrity of the software build process.\n- Secrets: Filter value to retrieve findings related to the handling and management of\n  sensitive information, such as API keys, passwords, or cryptographic keys, within code\n  files. Address these findings to ensure that secrets are properly protected and not exposed\n  in the code or configurations.\n- Licenses: Filter value to retrieve issues related to the non-compliance with license requirements.\n  Open source packages typically include a license that is either restrictive or permissive.\n  Prisma Cloud, by default, identifies and flags instances where open-source software components\n  do not include a license, or are carrying an undesired one. For example, licenses not approved\n  by the Open Source Initiative (OSI) or not recognized by the Software Package Data\n  Exchange (SPDX) fall under this undesired category."
          items:
            $ref: '#/components/schemas/CodeCategoryType'
          type: array
        repositories:
          description: 'The repositories filter enables you to retrieve issues related to one or more repositories.

            You must provide the UUIDs of the repositories that you want to include in the filter.

            To retrieve the UUID of a repository use the [List repository list](/prisma-cloud/api/code/get-repositories) endpoint.

            (the `id` field of the response has the UUID of the repository).'
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        severities:
          description: "The severity level of the vulnerability or misconfiguration.\n  - Critical: Critical severity indicates a high-risk vulnerability or\n    misconfiguration that could lead to significant security breaches or\n    data leaks. These issues require immediate attention and remediation.\n  - High: High severity indicates a significant security issue that has the\n    potential to be exploited or result in significant damage if left unaddressed.\n    These findings should be addressed as a priority.\n  - Medium: Medium severity indicates issues that pose a potential security risk that\n    are less severe than Critical and High. Remediation of these issues should be prioritized,\n    but they may not require immediate attention.\n  - Low: Low severity indicates issues that have a minimal impact on security or are relatively\n    low-risk. While they may not pose an immediate threat, it is still recommended to address\n    them to maintain a robust security posture.\n  - Info: Info severity is used for informational findings or recommendations that\n    do not pose an immediate security risk but provide helpful guidance, best practices,\n    or suggestions for optimization. These findings can be considered as part of ongoing\n    security hygiene efforts."
          items:
            $ref: '#/components/schemas/Severity'
          type: array
        size:
          $ref: '#/components/schemas/Size'
      type: object
    TopVulnerableReposResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/TopVulnerableRepos'
          type: array
        lastScanDate:
          description: The time when the last scan was triggered.
          type: string
      required:
      - data
      - lastScanDate
      type: object
    PackageLicenses:
      properties:
        count:
          description: Number of issues for each type of license.
          format: double
          type: number
        license:
          description: The package license.
          type: string
        repos:
          description: Number of repositories in which the package with the license issue was detected.
          format: double
          type: number
      required:
      - count
      - repos
      - license
      type: object
    PRIssuesOverTimeResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/PRIssuesOverTime'
          type: array
        lastScanDate:
          description: The time when the last scan was triggered.
          type: string
      required:
      - data
      - lastScanDate
      type: object
    TopVulnerableRepos:
      properties:
        critical:
          description: Critical severity indicates a high-risk vulnerability or misconfiguration that could lead to significant security breaches or data leaks. These issues require immediate attention and remediation.
          type: string
        high:
          description: High severity indicates a significant security issue that has the potential to be exploited or result in significant damage if left unaddressed. These findings should be addressed as a priority.
          type: string
        owner:
          description: The repository username of the owner of the repository.
          type: string
        repoId:
          description: The repository UUID.
          type: string
        repository:
          description: The repository name.
          type: string
      required:
      - high
      - critical
      - owner
      - repository
      - repoId
      type: object
    ErrorsBySeverityRequest:
      additionalProperties: false
      properties:
        codeCategories:
          description: "- IaC: Filter value to retrieve issues with Infrastructure-as-Code (IaC or iac) templates\n  and scripts that provision and manage cloud resources. Prisma Cloud detects issues such\n  as misconfigurations and security risks within the code that deploys and manages the infrastructure.\n- Vulnerability: Filter value to retrieve findings related to known security vulnerabilities\n  in open-source packages used in applications. These findings highlight potential weaknesses\n  that could be exploited by attackers.\n- BuildIntegrity: Filter value to retrieve findings related to the integrity and security\n  of the build pipeline or the software supply chain. These findings include checks for\n  unauthorized or insecure dependencies, insecure artifact storage, or other issues that\n  could compromise the integrity of the software build process.\n- Secrets: Filter value to retrieve findings related to the handling and management of\n  sensitive information, such as API keys, passwords, or cryptographic keys, within code\n  files. Address these findings to ensure that secrets are properly protected and not exposed\n  in the code or configurations.\n- Licenses: Filter value to retrieve issues related to the non-compliance with license requirements.\n  Open source packages typically include a license that is either restrictive or permissive.\n  Prisma Cloud, by default, identifies and flags instances where open-source software components\n  do not include a license, or are carrying an undesired one. Specifically, licenses not approved\n  by the Open Source Initiative (OSI) or not recognized by the Software Package Data\n  Exchange (SPDX) fall under this undesired category."
          items:
            $ref: '#/components/schemas/CodeCategoryType'
          type: array
        repositories:
          description: 'The repositories filter enables you to retrieve issues related to one or more repositories.

            You must provide the UUIDs of the repositories that you want to include in the filter.

            To retrieve the UUID of a repository use the [List repository list](/prisma-cloud/api/code/get-repositories) endpoint.

            (the `id` field of the response has the UUID of the repository).'
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        severities:
          description: "The severity level of the vulnerability or misconfiguration.\n  - Critical: Critical severity indicates a high-risk vulnerability or\n    misconfiguration that could lead to significant security breaches or\n    data leaks. These issues require immediate attention and remediation.\n  - High: High severity indicates a significant security issue that has the\n    potential to be exploited or result in significant damage if left unaddressed.\n    These findings should be addressed as a priority.\n  - Medium: Medium severity indicates issues that pose a potential security risk that\n    are less severe than Critical and High. Remediation of these issues should be prioritized,\n    but they may not require immediate attention.\n  - Low: Low severity indicates issues that have a minimal impact on security or are relatively\n    low-risk. While they may not pose an immediate threat, it is still recommended to address\n    them to maintain a robust security posture.\n  - Info: Info severity is used for informational findings or recommendations that\n    do not pose an immediate security risk but provide helpful guidance, best practices,\n    or suggestions for optimization. These findings can be considered as part of ongoing\n    security hygiene efforts."
          items:
            $ref: '#/components/schemas/Severity'
          type: array
        size:
          $ref: '#/components/schemas/Size'
      type: object
    VCSIssuesOverTime:
      properties:
        date:
          description: A date in ISO 8601 format. The response includes data for every single day starting from the given `startDate`.
          type: string
        fixPendingCount:
          description: Number of fix pending issues on a given date.
          type: string
        fixedCount:
          description: Number of fixed issues till a given date.
          type: string
        openCount:
          description: Number of open issues on a given date.
          type: string
        openedTodayCount:
          description: Number of open issues added on a given date.
          type: string
        suppressedCount:
          description: Number of suppressed issues on a given date.
          type: string
      required:
      - fixedCount
      - fixPendingCount
      - suppressedCount
      - openedTodayCount
      - openCount
      - date
      type: object
    VCSIssuesOverTimeRequest:
      additionalProperties: false
      properties:
        codeCategories:
          description: "- IaC: Filter value to retrieve issues with Infrastructure-as-Code (IaC or iac) templates\n  and scripts that provision and manage cloud resources. Prisma Cloud detects issues such\n  as misconfigurations and security risks within the code that deploys and manages the infrastructure.\n- Vulnerability: Filter value to retrieve findings related to known security vulnerabilities\n  in open-source packages used in applications. These findings highlight potential weaknesses\n  that could be exploited by attackers.\n- BuildIntegrity: Filter value to retrieve findings related to the integrity and security\n  of the build pipeline or the software supply chain. These findings include checks for\n  unauthorized or insecure dependencies, insecure artifact storage, or other issues that\n  could compromise the integrity of the software build process.\n- Secrets: Filter value to retrieve findings related to the handling and management of\n  sensitive information, such as API keys, passwords, or cryptographic keys, within code\n  files. Address these findings to ensure that secrets are properly protected and not exposed\n  in the code or configurations.\n- Licenses: Filter value to retrieve issues related to the non-compliance with license requirements.\n  Open source packages typically include a license that is either restrictive or permissive.\n  Prisma Cloud, by default, identifies and flags instances where open-source software components\n  do not include a license, or are carrying an undesired one. Specifically, licenses not approved\n  by the Open Source Initiative (OSI) or not recognized by the Software Package Data\n  Exchange (SPDX) fall under this undesired category."
          items:
            $ref: '#/components/schemas/CodeCategoryType'
          type: array
        repositories:
          description: 'The repositories filter enables you to retrieve issues related to one or more repositories.

            You must provide the UUIDs of the repositories that you want to include in the filter.

            To retrieve the UUID of a repository use the [List repository list](/prisma-cloud/api/code/get-repositories) endpoint.

            (the `id` field of the response has the UUID of the repository).'
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        severities:
          description: "The severity level of the vulnerability or misconfiguration.\n  - Critical: Critical severity indicates a high-risk vulnerability or\n    misconfiguration that could lead to significant security breaches or\n    data leaks. These issues require immediate attention and remediation.\n  - High: High severity indicates a significant security issue that has the\n    potential to be exploited or result in significant damage if left unaddressed.\n    These findings should be addressed as a priority.\n  - Medium: Medium severity indicates issues that pose a potential security risk that\n    are less severe than Critical and High. Remediation of these issues should be prioritized,\n    but they may not require immediate attention.\n  - Low: Low severity indicates issues that have a minimal impact on security or are relatively\n    low-risk. While they may not pose an immediate threat, it is still recommended to address\n    them to maintain a robust security posture.\n  - Info: Info severity is used for informational findings or recommendations that\n    do not pose an immediate security risk but provide helpful guidance, best practices,\n    or suggestions for optimization. These findings can be considered as part of ongoing\n    security hygiene efforts."
          items:
            $ref: '#/components/schemas/Severity'
          type: array
        startDate:
          $ref: '#/components/schemas/StartDate'
      required:
      - startDate
      type: object
    IaCErrorsByCategoryResponse:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/IaCErrorsByCategory'
          type: array
        lastScanDate:
          description: The time when the last scan was triggered.
          type: string
      required:
      - data
      - lastScanDate
      type: object
    RiskFactors:
      description: The following risk factors are combined to determine a vulnerability's risk.
      properties:
        AttackComplexity:
          description: Vulnerability is easily exploited.
          type: string
        AttackVector:
          description: Vulnerability is remotely exploitable. The vulnerable component is bound to the network, and the attacker’s path is through the network.
          type: string
        DoS:
          description: Component is vulnerable to denial of service attacks, such as buffer overflow attacks, and ICMP floods. The risk is categorized as high or low based on impact.
          type: boolean
        HasFix:
          description: Fix is available from the vendor or package maintainer.
          type: boolean
        RemoteExecution:
          description: Vulnerability can be exploited to run arbitrary code.
          type: boolean
        Severity:
          description: The severity level of the vulnerability or misconfiguration. Possible values are INFO, LOW, MEDIUM, HIGH, or CRITICAL.
          type: string
      required:
      - AttackComplexity
      - AttackVector
      - Severity
      - HasFix
      - DoS
      type: object
    PRIssuesOverTimeRequest:
      additionalProperties: false
      properties:
        repositories:
          description: 'The repositories filter enables you to retrieve issues related to one or more repositories.

            You must provide the UUIDs of the repositories that you want to include in the filter.

            To retrieve the UUID of a repository use the [List repository list](/prisma-cloud/api/code/get-repositories) endpoint.

            (the `id` field of the response has the UUID of the repository).'
          items:
            $ref: '#/components/schemas/Repository'
          type: array
        startDate:
          $ref: '#/components/schemas/StartDate'
      required:
      - startDate
      type: object
    IaCErrorsByCategory:
      properties:
        category:
          description: A category, such as IAM, Logging, Monitoring, Networking, or Kubernetes.
          type: string
        count:
          description: Number of issues for the IaC misconfiguration category.
          type: string
      required:
      - count
      - category
      type: object
    Size:
      description: The maximum number of results included in the response.
      format: double
      type: number
    CodeCategoryType:
      enum:
      - iac
      - buildIntegrity
      - licenses
      - secrets
      - vulnerabilities
      type: string
    StartDate:
      description: '(applicable to Code issues over time, and Pull Requests over Time):

        The start date filter enables you to retrieve issues from a given date.

        Provide a date earlier than the current date in the ISO 8601 format.'
      type: string
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ScoreTrendResponseSchema:
      properties:
        labels:
          items:
            type: string
          type: array
          title: Labels
          description: Date labels (e.g., 'Jan 1', 'Jan 2')
        series:
          items:
            $ref: '#/components/schemas/ScoreTrendSeriesSchema'
          type: array
          title: Series
          description: Score series per job type
      type: object
      required:
      - labels
      - series
      title: ScoreTrendResponseSchema
      description: 'Response for score trend chart API.


        Endpoint: GET /api/v1/dashboard/score-trend

        Returns time-series risk scores grouped by job type for chart display.

        '
    JobType:
      type: string
      enum:
      - STATIC
      - DYNAMIC
      - CUSTOM
      - CLARA
      title: JobType
      description: Type of job execution.
    RiskLevelSchema:
      properties:
        risk_rating:
          $ref: '#/components/schemas/RiskRating'
          description: Risk rating level based on job score
        total:
          type: integer
          minimum: 0.0
          title: Total
          description: Total count for this risk rating level
        targets_by_type:
          items:
            $ref: '#/components/schemas/CountByNameSchema'
          type: array
          title: Targets By Type
          description: Breakdown by target type (APPLICATION, AGENT, MODEL)
      type: object
      required:
      - risk_rating
      - total
      title: RiskLevelSchema
      description: Risk level breakdown with risk rating and target type counts.
    RiskRating:
      type: string
      enum:
      - CRITICAL
      - HIGH
      - MEDIUM
      - LOW
      title: RiskRating
      description: Risk rating levels with score ranges.
    ScanStatisticsResponseSchema:
      properties:
        total_scans:
          type: integer
          minimum: 0.0
          title: Total Scans
          description: Total number of scans
        targets_scanned:
          type: integer
          minimum: 0.0
          title: Targets Scanned
          description: Number of unique targets scanned
        targets_scanned_by_type:
          items:
            $ref: '#/components/schemas/CountByNameSchema'
          type: array
          title: Targets Scanned By Type
          description: Targets scanned grouped by type (APPLICATION, AGENT, MODEL)
        scan_status:
          items:
            $ref: '#/components/schemas/CountByNameSchema'
          type: array
          title: Scan Status
          description: Scan counts by status (COMPLETED, IN_PROGRESS, QUEUED, FAILED)
        risk_profile:
          items:
            $ref: '#/components/schemas/RiskLevelSchema'
          type: array
          title: Risk Profile
          description: Risk breakdown by severity level with target type details
      type: object
      required:
      - total_scans
      - targets_scanned
      title: ScanStatisticsResponseSchema
      description: 'Dashboard scan statistics response.


        Endpoint: GET /api/v1/dashboard/scan-statistics

        Returns scan counts, target stats, and risk profile in list format.

        '
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    DateRangeFilter:
      type: string
      enum:
      - LAST_7_DAYS
      - LAST_15_DAYS
      - LAST_30_DAYS
      - ALL
      title: DateRangeFilter
      description: Predefined date range filters for chart APIs.
    CountByNameSchema:
      properties:
        name:
          type: string
          title: Name
          description: Name of the item (e.g., target type, status)
        count:
          type: integer
          minimum: 0.0
          title: Count
          description: Count of items
      type: object
      required:
      - name
      - count
      title: CountByNameSchema
      description: 'Generic count schema with name field for extensible list structures.


        Used in dashboard and other endpoints to provide counts grouped by a name field.

        Frontend-friendly list format for easy iteration.

        '
    ScoreTrendSeriesSchema:
      properties:
        label:
          $ref: '#/components/schemas/JobType'
          description: Job type for this series
        data:
          items:
            anyOf:
            - type: number
            - type: 'null'
          type: array
          title: Data
          description: Score per date label, null if no completed scan on that date
      type: object
      required:
      - label
      - data
      title: ScoreTrendSeriesSchema
      description: A single series in the score trend chart.
    DashboardOverviewResponseSchema:
      properties:
        total_targets:
          type: integer
          minimum: 0.0
          title: Total Targets
          description: Total number of targets
        targets_by_type:
          items:
            $ref: '#/components/schemas/CountByNameSchema'
          type: array
          title: Targets By Type
          description: Target counts grouped by type (APPLICATION, AGENT, MODEL)
      type: object
      required:
      - total_targets
      title: DashboardOverviewResponseSchema
      description: 'Dashboard overview response with target counts.


        Endpoint: GET /api/v1/dashboard/overview

        Returns target counts by type in list format for easy frontend iteration.

        '
  securitySchemes:
    CustomAuthorizer:
      in: header
      name: authorization
      type: apiKey
      x-amazon-apigateway-authorizer:
        authorizerResultTtlInSeconds: 0
        authorizerUri: arn:aws:apigateway:{Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:{Region}:{AccountId}:function:bc-authorization-v2-authorizer-{UniqueTag}{Alias}/invocations
        identitySource: method.request.header.authorization
        type: request
      x-amazon-apigateway-authtype: custom
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- palo-alto-code-dashboard-openapi.json
- palo-alto-prisma-airs-redteam-data-plane-dp-openapi-openapi.yaml
- palo-alto-prisma-airs-redteam-management-mp-openapi-openapi.yaml
