openapi: 3.1.0
info:
  title: Palo Alto Networks SaaS Security Posture Management API
  description: >-
    SaaS Security Posture Management (SSPM) API for assessing and improving
    the security posture of connected SaaS applications. Enables onboarding
    of SaaS applications, retrieval of posture check results, management of
    remediation status, browsing the SaaS application catalog, and
    configuration of Jira integrations for ticketing workflows. Part of the
    Palo Alto Networks SASE platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/sspm
    description: SASE SSPM API production server.
security:
  - oauth2Bearer: []
tags:
  - name: App Catalog
    description: SaaS application catalog and metadata.
  - name: Apps
    description: SaaS application onboarding and management.
  - name: Integrations
    description: Third-party integrations including Jira ticketing.
  - name: Posture Checks
    description: Security posture check results and remediation status.
paths:
  /v1/apps:
    get:
      operationId: listOnboardedApps
      summary: Palo Alto Networks List onboarded SaaS applications
      description: >-
        Returns the list of SaaS applications that have been onboarded to
        SSPM for posture assessment. Each entry includes the application
        type, connection status, and summary counts of posture check results
        by severity.
      tags:
        - Apps
      parameters:
        - name: status
          in: query
          description: Filter applications by connection status.
          schema:
            type: string
            enum:
              - connected
              - disconnected
              - pending
              - error
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of applications to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Onboarded applications returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OnboardedApp'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: onboardApp
      summary: Palo Alto Networks Onboard new application
      description: >-
        Onboards a new SaaS application to SSPM for posture assessment.
        Requires specifying the application type and providing the OAuth
        consent or API credentials needed to connect to the application.
        After onboarding, SSPM performs an initial posture scan.
      tags:
        - Apps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardAppRequest'
      responses:
        '201':
          description: Application onboarded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardedApp'
        '400':
          description: Invalid request body or unsupported application type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Application of this type is already onboarded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/apps/{app_id}:
    delete:
      operationId: removeApp
      summary: Palo Alto Networks Remove onboarded application
      description: >-
        Removes a previously onboarded SaaS application from SSPM. This
        stops posture scanning for the application and removes all associated
        check results. This action cannot be undone.
      tags:
        - Apps
      parameters:
        - name: app_id
          in: path
          required: true
          description: Unique identifier of the onboarded application.
          schema:
            type: string
      responses:
        '204':
          description: Application removed successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Application not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/posture-checks:
    get:
      operationId: listPostureChecks
      summary: Palo Alto Networks List posture check results
      description: >-
        Returns posture check results across all onboarded SaaS applications.
        Supports filtering by application, check type, severity, and
        remediation status. Each check result indicates whether a specific
        security best practice is implemented in the connected application.
      tags:
        - Posture Checks
      parameters:
        - name: app_id
          in: query
          description: Filter checks by onboarded application ID.
          schema:
            type: string
        - name: check_type
          in: query
          description: Filter by check category type.
          schema:
            type: string
            enum:
              - access_control
              - authentication
              - data_protection
              - logging
              - network_security
              - configuration
        - name: severity
          in: query
          description: Filter by check severity level.
          schema:
            type: string
            enum:
              - informational
              - low
              - medium
              - high
              - critical
        - name: status
          in: query
          description: Filter by remediation status.
          schema:
            type: string
            enum:
              - pass
              - fail
              - error
              - suppressed
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of check results to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Posture check results returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PostureCheck'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/posture-checks/{check_id}:
    get:
      operationId: getPostureCheck
      summary: Palo Alto Networks Get posture check details
      description: >-
        Returns full details for a specific posture check result including
        the check description, affected configuration, remediation guidance,
        and compliance framework mappings.
      tags:
        - Posture Checks
      parameters:
        - name: check_id
          in: path
          required: true
          description: Unique identifier of the posture check result.
          schema:
            type: string
      responses:
        '200':
          description: Posture check details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheck'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Posture check not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/posture-checks/{check_id}/status:
    put:
      operationId: updatePostureCheckStatus
      summary: Palo Alto Networks Update posture check status
      description: >-
        Updates the remediation status of a posture check result. Use this
        endpoint to mark checks as suppressed with a justification, or to
        mark remediated checks for re-evaluation.
      tags:
        - Posture Checks
      parameters:
        - name: check_id
          in: path
          required: true
          description: Unique identifier of the posture check result.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - suppressed
                    - pending_remediation
                  description: New status to set for the check.
                justification:
                  type: string
                  description: >-
                    Reason for suppressing the check. Required when setting
                    status to suppressed.
                  maxLength: 1024
      responses:
        '200':
          description: Check status updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostureCheck'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Posture check not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/app-catalog:
    get:
      operationId: listAppCatalog
      summary: Palo Alto Networks List SaaS application catalog
      description: >-
        Returns the catalog of SaaS applications supported for SSPM posture
        assessment. Each entry describes the application, the number of
        available posture checks, and supported compliance frameworks.
      tags:
        - App Catalog
      parameters:
        - name: category
          in: query
          description: Filter by application category.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of catalog entries to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Application catalog returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogApp'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/jira-integrations:
    get:
      operationId: listJiraIntegrations
      summary: Palo Alto Networks List Jira integrations
      description: >-
        Returns the configured Jira integrations for automatically creating
        tickets when posture check failures are detected. Each integration
        specifies the Jira project, issue type, and mapping from check
        severity to ticket priority.
      tags:
        - Integrations
      responses:
        '200':
          description: Jira integrations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/JiraIntegration'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createJiraIntegration
      summary: Palo Alto Networks Create Jira integration
      description: >-
        Creates a new Jira integration for automatic ticket creation when
        SSPM posture check failures are detected. Requires a valid Jira
        server URL, API token, and project configuration.
      tags:
        - Integrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JiraIntegrationRequest'
      responses:
        '201':
          description: Jira integration created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JiraIntegration'
        '400':
          description: Invalid request body or Jira configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    OnboardedApp:
      type: object
      properties:
        app_id:
          type: string
          description: Unique identifier for the onboarded application.
        app_type:
          type: string
          description: Application type identifier (e.g., google_workspace, microsoft_365).
        display_name:
          type: string
          description: Human-readable name for the onboarded application instance.
        status:
          type: string
          enum:
            - connected
            - disconnected
            - pending
            - error
          description: Current connection status.
        tenant_id:
          type: string
          description: Tenant or domain identifier within the SaaS application.
        check_summary:
          type: object
          description: Summary counts of posture check results by severity.
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer
            pass:
              type: integer
        last_scanned_at:
          type: string
          format: date-time
          description: Timestamp of the most recent posture scan.
        onboarded_at:
          type: string
          format: date-time
          description: Timestamp when the application was onboarded.
    OnboardAppRequest:
      type: object
      required:
        - app_type
      properties:
        app_type:
          type: string
          description: Application type to onboard (e.g., google_workspace, microsoft_365, salesforce).
        display_name:
          type: string
          description: Optional display name for this application instance.
        credentials:
          type: object
          description: Authentication credentials required to connect to the application.
          additionalProperties: true
    PostureCheck:
      type: object
      properties:
        check_id:
          type: string
          description: Unique identifier of the posture check result.
        app_id:
          type: string
          description: ID of the onboarded application this check applies to.
        check_name:
          type: string
          description: Name of the security posture check.
        check_type:
          type: string
          enum:
            - access_control
            - authentication
            - data_protection
            - logging
            - network_security
            - configuration
          description: Category of the posture check.
        severity:
          type: string
          enum:
            - informational
            - low
            - medium
            - high
            - critical
          description: Severity level if the check fails.
        status:
          type: string
          enum:
            - pass
            - fail
            - error
            - suppressed
          description: Current result status of the check.
        description:
          type: string
          description: Description of what the check evaluates.
        remediation:
          type: string
          description: Step-by-step remediation guidance for failed checks.
        compliance_frameworks:
          type: array
          items:
            type: string
          description: Compliance frameworks this check maps to (e.g., CIS, SOC2, ISO27001).
        last_evaluated_at:
          type: string
          format: date-time
          description: Timestamp when the check was last evaluated.
        suppression_justification:
          type: string
          description: Justification text if the check is suppressed.
    CatalogApp:
      type: object
      properties:
        app_type:
          type: string
          description: Application type identifier used for onboarding.
        display_name:
          type: string
          description: Human-readable application name.
        category:
          type: string
          description: Application category (e.g., collaboration, crm, storage).
        check_count:
          type: integer
          description: Number of posture checks available for this application.
        compliance_frameworks:
          type: array
          items:
            type: string
          description: Compliance frameworks covered by checks for this application.
        logo_url:
          type: string
          format: uri
          description: URL to the application logo.
    JiraIntegration:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the Jira integration.
        name:
          type: string
          description: Display name for the integration.
        jira_url:
          type: string
          format: uri
          description: Base URL of the Jira server or cloud instance.
        project_key:
          type: string
          description: Jira project key where tickets are created.
        issue_type:
          type: string
          description: Jira issue type for created tickets (e.g., Bug, Task).
        enabled:
          type: boolean
          description: Whether the integration is actively creating tickets.
        created_at:
          type: string
          format: date-time
    JiraIntegrationRequest:
      type: object
      required:
        - name
        - jira_url
        - project_key
        - api_token
        - email
      properties:
        name:
          type: string
          description: Display name for this integration.
        jira_url:
          type: string
          format: uri
          description: Base URL of the Jira server or cloud instance.
        project_key:
          type: string
          description: Jira project key where tickets will be created.
        issue_type:
          type: string
          description: Jira issue type (e.g., Bug, Task, Story).
          default: Bug
        api_token:
          type: string
          description: Jira API token for authentication.
          writeOnly: true
        email:
          type: string
          format: email
          description: Email address associated with the Jira API token.
        severity_mapping:
          type: object
          description: Mapping from SSPM severity levels to Jira priorities.
          additionalProperties:
            type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
