openapi: 3.2.0
info:
  title: Palo Alto Networks Mappings Region API
  version: '1.0'
  description: 'Operations tagged Mappings Region across 3 of this provider''s published API definitions: palo-alto-networks-mappings-region-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Mappings Region
paths:
  /mt/monitor/5g/mapping/region:
    get:
      tags:
      - Mappings Region
      summary: Palo Alto Networks Get 5G Mapping Regions
      description: Returns the list of regions where mappings exist.
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - us-west2
                - us-central1
                header:
                  createdAt: '2025-12-17T02:10:45Z'
                  clientRequestId: null
                  dataCount: 2
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gMappingRegion
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-mappings-region-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
