openapi: 3.2.0
info:
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
  description: These APIs are used to define how Advanced DNS Security Resolver configurations are implemented.
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: Advanced DNS Security Resolver Configuration Connection Source API
  version: 1.0.0
servers:
- description: Prod
  url: https://api.strata.paloaltonetworks.com
security:
- scmToken: []
tags:
- name: Connection Source
paths:
  /adns-resolver/v1/connection-sources:
    get:
      description: Retrieve all connection sources.
      operationId: ListConnectionSources
      parameters:
      - description: Maximum number of items to return
        explode: false
        in: query
        name: limit
        schema:
          default: 200
          description: Maximum number of items to return
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Number of items to skip
        explode: false
        in: query
        name: offset
        schema:
          default: 0
          description: Number of items to skip
          format: int32
          minimum: 0
          type: integer
      - description: Field to sort by (id, name, description, profile name, created_at, last_updated_at)
        explode: false
        in: query
        name: sort_by
        schema:
          default: created_at
          description: Field to sort by (id, name, description, profile name, created_at, last_updated_at)
          enum:
          - id
          - name
          - description
          - profile_name
          - created_at
          - last_updated_at
          type: string
      - description: Sort order (ASC or DESC)
        explode: false
        in: query
        name: sort_order
        schema:
          default: DESC
          description: Sort order (ASC or DESC)
          enum:
          - ASC
          - DESC
          type: string
      - description: Search term to filter by name, description or profile name
        explode: false
        in: query
        name: search
        schema:
          description: Search term to filter by name, description or profile name
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connection-sources'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: List Connection Sources
      tags:
      - Connection Source
    post:
      description: Create a new connection source.
      operationId: CreateConnectionSource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connection-source-input'
              description: Connection source to be created
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connection-source-item'
          description: Created
          headers:
            Location:
              schema:
                description: URI of the created connection source resource
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Create a Connection Source
      tags:
      - Connection Source
  /adns-resolver/v1/connection-sources/subnets:
    get:
      description: Retrieve all tenant subnets.
      operationId: ListSubnets
      parameters:
      - description: Maximum number of items to return
        explode: false
        in: query
        name: limit
        schema:
          default: 10
          description: Maximum number of items to return
          format: int32
          maximum: 200
          minimum: 1
          type: integer
      - description: Number of items to skip
        explode: false
        in: query
        name: offset
        schema:
          default: 0
          description: Number of items to skip
          format: int32
          minimum: 0
          type: integer
      - description: Field to sort by (id, cidr, is_verified, created_at, last_updated_at)
        explode: false
        in: query
        name: sort_by
        schema:
          default: created_at
          description: Field to sort by (id, cidr, is_verified, created_at, last_updated_at)
          enum:
          - id
          - cidr
          - connection_source_name
          - is_verified
          - created_at
          - last_updated_at
          type: string
      - description: Sort order (ASC or DESC)
        explode: false
        in: query
        name: sort_order
        schema:
          default: DESC
          description: Sort order (ASC or DESC)
          enum:
          - ASC
          - DESC
          type: string
      - description: Search term to filter by CIDR
        explode: false
        in: query
        name: search
        schema:
          description: Search term to filter by CIDR
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subnets-with-connection-source-info'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: List Subnets
      tags:
      - Connection Source
  /adns-resolver/v1/connection-sources/subnets/{subnet-id}:
    get:
      description: Retrieve a specific tenant subnet by ID.
      operationId: GetSubnetByID
      parameters:
      - description: Subnet ID
        example: subnet-123
        in: path
        name: subnet-id
        required: true
        schema:
          description: Subnet ID
          examples:
          - subnet-123
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subnet-with-connection-source-info-item'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Get a Subnet
      tags:
      - Connection Source
  /adns-resolver/v1/connection-sources/{connection-source-id}:
    delete:
      description: Delete a specific connection source by ID.
      operationId: DeleteConnectionSourceByID
      parameters:
      - description: Connection Source ID
        in: path
        name: connection-source-id
        required: true
        schema:
          description: Connection Source ID
          type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Delete a Connection Source
      tags:
      - Connection Source
    get:
      description: Retrieve a specific connection source by ID.
      operationId: GetConnectionSourceByID
      parameters:
      - description: Connection source ID
        example: connection-source-123
        in: path
        name: connection-source-id
        required: true
        schema:
          description: Connection source ID
          examples:
          - connection-source-123
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connection-source-item'
          description: OK
          headers:
            Location:
              schema:
                description: URI of the created connection source resource
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Get a Connection Source
      tags:
      - Connection Source
    put:
      description: Update an existing connection source.
      operationId: UpdateConnectionSourceByID
      parameters:
      - description: Connection source ID
        example: connection-source-123
        in: path
        name: connection-source-id
        required: true
        schema:
          description: Connection source ID
          examples:
          - connection-source-123
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connection-source-input'
              description: Connection source to be updated
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connection-source-item'
          description: OK
          headers:
            Location:
              schema:
                description: URI of the created connection source resource
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Update a Connection Source
      tags:
      - Connection Source
  /adns-resolver/v1/connection-sources/{connection-source-id}/subnets:
    get:
      description: Retrieve all connection source subnets.
      operationId: ListConnectionSourceSubnets
      parameters:
      - description: The unique identifier for the connection source.
        example: connection-source-id-123
        in: path
        name: connection-source-id
        required: true
        schema:
          description: The unique identifier for the connection source.
          examples:
          - connection-source-id-123
          type: string
      - description: Maximum number of items to return
        explode: false
        in: query
        name: limit
        schema:
          default: 10
          description: Maximum number of items to return
          format: int32
          maximum: 200
          minimum: 1
          type: integer
      - description: Number of items to skip
        explode: false
        in: query
        name: offset
        schema:
          default: 0
          description: Number of items to skip
          format: int32
          minimum: 0
          type: integer
      - description: Field to sort by (id, cidr, is_verified, created_at, last_updated_at)
        explode: false
        in: query
        name: sort_by
        schema:
          default: created_at
          description: Field to sort by (id, cidr, is_verified, created_at, last_updated_at)
          enum:
          - id
          - cidr
          - is_verified
          - created_at
          - last_updated_at
          type: string
      - description: Sort order (ASC or DESC)
        explode: false
        in: query
        name: sort_order
        schema:
          default: DESC
          description: Sort order (ASC or DESC)
          enum:
          - ASC
          - DESC
          type: string
      - description: Search term to filter by CIDR
        explode: false
        in: query
        name: search
        schema:
          description: Search term to filter by CIDR
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subnets'
          description: OK
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: List Connection Source Subnets
      tags:
      - Connection Source
    post:
      description: Create a new connection source subnet.
      operationId: CreateConnectionSourceSubnet
      parameters:
      - description: Connection source ID
        example: source-123
        in: path
        name: connection-source-id
        required: true
        schema:
          description: Connection source ID
          examples:
          - source-123
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subnet-input'
              description: Subnet to be created
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subnet-item'
          description: Created
          headers:
            Location:
              schema:
                description: URI of the created subnet resource
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Create a Connection Source subnet
      tags:
      - Connection Source
  /adns-resolver/v1/connection-sources/{connection-source-id}/subnets/{subnet-id}:
    delete:
      description: Delete a specific connection source subnet by ID.
      operationId: DeleteConnectionSourceSubnetByID
      parameters:
      - description: Connection source ID
        example: source-123
        in: path
        name: connection-source-id
        required: true
        schema:
          description: Connection source ID
          examples:
          - source-123
          type: string
      - description: Subnet ID
        example: subnet-456
        in: path
        name: subnet-id
        required: true
        schema:
          description: Subnet ID
          examples:
          - subnet-456
          type: string
      responses:
        '204':
          description: No Content
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Delete a Connection Source Subnet
      tags:
      - Connection Source
    get:
      description: Retrieve a specific connection source subnet by ID.
      operationId: GetConnectionSourceSubnetByID
      parameters:
      - description: Connection source ID
        example: source-123
        in: path
        name: connection-source-id
        required: true
        schema:
          description: Connection source ID
          examples:
          - source-123
          type: string
      - description: Subnet ID
        example: subnet-123
        in: path
        name: subnet-id
        required: true
        schema:
          description: Subnet ID
          examples:
          - subnet-123
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subnet-item'
          description: OK
          headers:
            Location:
              schema:
                description: URI of the created subnet resource
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Get a Connection Source Subnet
      tags:
      - Connection Source
  /adns-resolver/v1/connection-sources/{connection-source-id}/subnets/{subnet-id}:verify-update:
    post:
      description: Verify and update a specific connection source subnet by ID.
      operationId: VerifyAndUpdateConnectionSourceSubnetByID
      parameters:
      - description: Connection source ID
        in: path
        name: connection-source-id
        required: true
        schema:
          description: Connection source ID
          type: string
      - description: Subnet ID
        in: path
        name: subnet-id
        required: true
        schema:
          description: Subnet ID
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/verify-and-update-subnet-input'
              description: Verfify and update subnet configuration
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subnet-item'
          description: OK
          headers:
            Location:
              schema:
                description: URI of the created subnet resource
                type: string
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Bad Request
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unauthorized
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Forbidden
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Not Found
        '405':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Method Not Allowed
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Conflict
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Precondition Failed
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Unprocessable Entity
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Internal Server Error
        '503':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Service Unavailable
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error
      summary: Verify a subnet for a connection source
      tags:
      - Connection Source
components:
  schemas:
    error-code:
      oneOf:
      - enum:
        - 1001
        title: 1001 - Forbidden
        type: integer
      - enum:
        - 1002
        title: 1002 - Invalid Input
        type: integer
      - enum:
        - 1004
        title: 1004 - Invalid Output
        type: integer
      - enum:
        - 1005
        title: 1005 - Internal Server Error
        type: integer
      - enum:
        - 1006
        title: 1006 - Precondition Failed
        type: integer
      - enum:
        - 1007
        title: 1007 - Method Not Allowed
        type: integer
      - enum:
        - 1008
        title: 1008 - Not Found
        type: integer
      - enum:
        - 1009
        title: 1009 - Service Unavailable
        type: integer
      - enum:
        - 1010
        title: 1010 - Duplicate Not Allowed
        type: integer
      - enum:
        - 1011
        title: 1011 - Expired License
        type: integer
      - enum:
        - 1012
        title: 1012 - Dependency Error
        type: integer
      - enum:
        - 1013
        title: 1013 - Subnet Already Verified
        type: integer
      - enum:
        - 1014
        title: 1014 - In Grace
        type: integer
      - enum:
        - 1015
        title: 1015 - Limit Exceeded
        type: integer
      - enum:
        - 1016
        title: 1016 - Duplicate Subnet Not Allowed
        type: integer
      - enum:
        - 1017
        title: 1017 - IP Limit Exceeded
        type: integer
      - enum:
        - 1018
        title: 1018 - FQDN Limit Exceeded
        type: integer
      - enum:
        - 1019
        title: 1019 - Private Subnet
        type: integer
      - enum:
        - 1020
        title: 1020 - Mapped IPv4
        type: integer
      - enum:
        - 1021
        title: 1021 - Invalid Subnet
        type: integer
      - enum:
        - 1022
        title: 1022 - Invalid Sinkhole
        type: integer
      - enum:
        - 1023
        title: 1023 - Allowed Subnet Required
        type: integer
      - enum:
        - 1024
        title: 1024 - Cross Tenant Subnet Conflict
        type: integer
      title: error-code
      type: integer
    connection-source-item:
      additionalProperties: false
      properties:
        item:
          $ref: '#/components/schemas/connection-source'
      required:
      - item
      type: object
    subnet-with-connection-source-info-item:
      additionalProperties: false
      properties:
        item:
          $ref: '#/components/schemas/subnet-with-connection-source-info'
          description: List of subnets with connection source information.
      required:
      - item
      type: object
    verify-and-update-subnet-input:
      additionalProperties: false
      properties:
        cidr:
          description: CIDR notation of the subnet or IP to verify
          examples:
          - 192.168.1.0/28
          type: string
        token:
          description: Token obtained from the verification URL
          examples:
          - verify_token_abc123xyz
          type: string
        verification_url:
          description: Verification URL for the subnet or IP
          examples:
          - https://verify.example.com/verify?id=abc123
          type: string
      required:
      - cidr
      - verification_url
      - token
      type: object
    subnet:
      additionalProperties: false
      properties:
        cidr:
          description: The CIDR notation of the subnet.
          examples:
          - 10.0.0.0/28
          type: string
        created_at:
          description: The timestamp when the subnet was created.
          examples:
          - '2024-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        id:
          description: The unique identifier for the subnet.
          examples:
          - subnet-123
          readOnly: true
          type: string
        is_verified:
          description: Whether the subnet has been verified.
          examples:
          - true
          readOnly: true
          type: boolean
        last_updated_at:
          description: The timestamp when the subnet was last updated.
          examples:
          - '2024-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        verification_url:
          description: The URL used for subnet verification.
          examples:
          - https://verify-ip.service.paloaltonetworks.com/token/30941b42-319e-4043-b215-bc7a6ace6d42
          readOnly: true
          type: string
      required:
      - id
      - cidr
      - is_verified
      type: object
    subnet-item:
      additionalProperties: false
      properties:
        item:
          $ref: '#/components/schemas/subnet'
      required:
      - item
      type: object
    connection-sources:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/connection-source'
          type:
          - array
          - 'null'
        limit:
          default: 10
          description: Maximum number of items returned
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        offset:
          default: 0
          description: Number of items skipped
          format: int32
          minimum: 0
          type: integer
        total:
          description: Total number of connection source resources
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - offset
      - total
      - limit
      type: object
    subnets-with-connection-source-info:
      additionalProperties: false
      properties:
        data:
          description: List of subnets with connection source information.
          items:
            $ref: '#/components/schemas/subnet-with-connection-source-info'
          type:
          - array
          - 'null'
        limit:
          default: 200
          description: Maximum number of items returned
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        offset:
          default: 0
          description: Number of items skipped
          format: int32
          minimum: 0
          type: integer
        total:
          description: Total number of subnet resources
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - offset
      - total
      - limit
      type: object
    error-detail:
      additionalProperties: false
      properties:
        code:
          $ref: '#/components/schemas/error-code'
          description: Error code identifier
        details:
          description: Additional error details
          items:
            type: string
          type:
          - array
          - 'null'
        help:
          description: URL to error documentation
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - code
      - message
      type: object
    subnet-input:
      additionalProperties: false
      properties:
        cidr:
          description: The CIDR notation of the subnet.
          examples:
          - 10.0.0.0/28
          type: string
      required:
      - cidr
      type: object
    subnet-with-connection-source-info:
      additionalProperties: false
      properties:
        cidr:
          description: The CIDR notation of the subnet.
          examples:
          - 10.0.0.0/28
          type: string
        connection_source_id:
          description: The unique identifier for the connection source.
          examples:
          - conn-source-123
          readOnly: true
          type: string
        connection_source_name:
          description: The name of the connection source.
          examples:
          - Connection Source name
          readOnly: true
          type: string
        created_at:
          description: The timestamp when the subnet was created.
          examples:
          - '2024-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        id:
          description: The unique identifier for the subnet.
          examples:
          - subnet-123
          readOnly: true
          type: string
        is_verified:
          description: Whether the subnet has been verified.
          examples:
          - true
          readOnly: true
          type: boolean
        last_updated_at:
          description: The timestamp when the subnet was last updated.
          examples:
          - '2024-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        verification_url:
          description: The URL used for subnet verification.
          examples:
          - https://verify-ip.service.paloaltonetworks.com/token/30941b42-319e-4043-b215-bc7a6ace6d42
          readOnly: true
          type: string
      required:
      - id
      - cidr
      - is_verified
      type: object
    connection-source-input:
      additionalProperties: false
      properties:
        description:
          description: Description of the connection source
          examples:
          - Description of connection source
          maxLength: 256
          type: string
        name:
          description: Name of the connection source
          examples:
          - My Connection Source
          maxLength: 128
          minLength: 4
          type: string
        profile_id:
          description: Profile ID associated with the connection source
          examples:
          - 550e8400-e29b-41d4-a716-446655440000
          type: string
      required:
      - name
      - profile_id
      type: object
    error:
      additionalProperties: false
      properties:
        _errors:
          description: Array of error objects
          items:
            $ref: '#/components/schemas/error-detail'
          type:
          - array
          - 'null'
        _request_id:
          description: Request identifier for tracking
          type: string
      required:
      - _errors
      type: object
    connection-source:
      additionalProperties: false
      properties:
        created_at:
          description: The timestamp when the connection source was created.
          examples:
          - '2024-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        description:
          description: Description of the connection source
          examples:
          - Description of connection source
          maxLength: 256
          type: string
        id:
          description: Unique identifier of the connection source
          examples:
          - 550e8400-e29b-41d4-a716-446655440000
          readOnly: true
          type: string
        last_updated_at:
          description: The timestamp when the connection source was last updated.
          examples:
          - '2024-01-15T10:30:00Z'
          format: date-time
          readOnly: true
          type: string
        name:
          description: Name of the connection source
          examples:
          - My Connection Source
          maxLength: 128
          type: string
        profile_id:
          description: Profile ID associated with the connection source
          examples:
          - 550e8400-e29b-41d4-a716-446655440000
          type: string
        profile_name:
          description: Name of the DNS profile associated with the connection source
          examples:
          - Default DNS Profile
          type: string
        type:
          description: Type of connection source
          examples:
          - Predefined
          type: string
      required:
      - id
      - name
      - type
      - profile_id
      type: object
    subnets:
      additionalProperties: false
      properties:
        data:
          items:
            $ref: '#/components/schemas/subnet'
          type:
          - array
          - 'null'
        limit:
          default: 200
          description: Maximum number of items returned
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        offset:
          default: 0
          description: Number of items skipped
          format: int32
          minimum: 0
          type: integer
        total:
          description: Total number of subnet resources
          format: int32
          minimum: 0
          type: integer
      required:
      - data
      - offset
      - total
      - limit
      type: object
  securitySchemes:
    scmToken:
      bearerFormat: JWT
      description: "Advanced DNS Security Resolver APIs authenticate client requests using the \nOAuth 2.0 Client Credentials flow.  Please use the `client_id`, \n`client_secret` values associated with an IAM service account along \nwith a scope value of `tsg_id:XXXXXXXXXX`, where `XXXXXXXXXX` is the \nTenant Service Group (TSG) ID.  The resulting JWT access token should \nbe attached to all API calls as a `Bearer` token in the `Authorization` \nheader (ex. `Authorization: Bearer tokenstring`).\n"
      scheme: bearer
      type: http
