openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend 5G Network Interconnects and Bandwidth API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: 5G Network Interconnects and Bandwidth
paths:
  /mt/monitor/5g/interconnect/details:
    get:
      tags:
      - 5G Network Interconnects and Bandwidth
      summary: Palo Alto Networks Inspect Interconnect Health
      description: "Provides a detailed overview of 5G network interconnects, including \ntotal bandwidth and regional VLAN status. Network engineers utilize \nthis check to verify that regional data paths remain \"up\" and meet \nthroughput capacity requirements."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - bandwidth: 200
                  regions:
                  - us-east1
                  - us-west2
                  - us-central1
                  vlanStatus:
                    down: 0
                    total: 8
                    up: 8
                header:
                  createdAt: '2025-12-17T02:07:25Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gInterconnectDetails
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
