openapi: 3.2.0
info:
  title: Palo Alto Networks UE Mappings API
  version: '1.0'
  description: 'Operations tagged UE Mappings across 3 of this provider''s published API definitions: palo-alto-networks-ue-mappings-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: UE Mappings
paths:
  /mt/monitor/5g/mapping:
    post:
      tags:
      - UE Mappings
      summary: Palo Alto Networks Search Subscriber Details
      description: "Provides a comprehensive search interface for User Equipment mappings \nusing IMSI, IMEI, or IP Address address identifiers. Developers integrate this \nto enable granular drill-downs into subscriber metadata, tenant \nprovisioning status, and group associations."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingRequest'
            examples:
              Paginated List:
                value:
                  pageSize: 100
                  pageNum: 0
              Paginated List With Tenant Filter:
                value:
                  pageSize: 100
                  pageNum: 0
                  tenant:
                  - '1459340040'
                  - '1635727460'
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Single Mapping:
                  value:
                    data:
                      mappings:
                      - apn: demo.com
                        createTime: 1737113951692
                        groups: new_grp
                        imei: '000000000000000'
                        imsi: '500012222222222'
                        tenantProvisioned: Inactive
                        tsgId: '1131085573'
                      totalCount: 1
                    header:
                      createdAt: '2025-12-17T02:07:58Z'
                      clientRequestId: null
                      dataCount: 1
                      status:
                        subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gMapping
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  schemas:
    MappingRequest:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
          example: 836
        pageNum:
          type: integer
          format: int32
          example: 110
        searchKey:
          type: string
          example: example-searchKey
        region:
          type: string
          example: eu-west-1
        tenant:
          type: array
          items:
            type: string
          example:
          - example-tenant_item
          - example-tenant_item
    MappingRequest_2:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
        pageNum:
          type: integer
          format: int32
        searchKey:
          type: string
        region:
          type: string
        tenant:
          type: array
          items:
            type: string
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-ue-mappings-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
