openapi: 3.2.0
info:
  title: Palo Alto Networks Security Rules API
  contact: {}
  version: '1.0'
  description: 'Operations tagged SecurityRules across 2 of this provider''s published API definitions: palo-alto-access-prisma-access-config-securityrules-openapi.yaml, palo-alto-cloudngfw-aws-securityrules-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.us-east-1.aws.cloudngfw.paloaltonetworks.com
tags:
- name: SecurityRules
paths:
  /sse/config/v1/security-rules:
    get:
      description: 'List [security rules](https://docs.paloaltonetworks.com/network-security/security-policy/security-rules).

        '
      operationId: get-sse-config-v1-security-rules
      parameters:
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/position'
      - $ref: '#/components/parameters/folder'
      - $ref: '#/components/parameters/name-optional'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/security-rules'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of security rules
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: List security rules
      tags:
      - SecurityRules
    post:
      description: 'Create a security rule.

        '
      operationId: post-sse-config-v1-security-rules
      parameters:
      - $ref: '#/components/parameters/position'
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/security-rules'
        description: The security rule you want to create
      responses:
        '200':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create a security rule
      tags:
      - SecurityRules
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/security-rules/{id}:
    delete:
      description: 'Delete a security rule.

        '
      operationId: delete-sse-config-v1-security-rules-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete a security rule
      tags:
      - SecurityRules
    get:
      description: 'Get a [security rule](https://docs.paloaltonetworks.com/network-security/security-policy/security-rules).

        '
      operationId: get-sse-config-v1-security-rules-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - items:
                    $ref: '#/components/schemas/security-rules'
                  type: array
          description: Get security rule by id
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Get a security rule
      tags:
      - SecurityRules
    put:
      description: 'Modify a security rule.

        '
      operationId: put-sse-config-v1-security-rules-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/security-rules'
        description: The security rule you want to edit
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Edit a security rule
      tags:
      - SecurityRules
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/security-rules/{id}:move:
    post:
      description: 'Move a security rule.

        '
      operationId: post-sse-config-v1-security-rules-id:move
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rule-based-move'
        description: The security rule you want to move
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Move a security rule
      tags:
      - SecurityRules
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /v1/config/rulestacks/{rulestackname}/rulelists/{rulelistname}:
    get:
      description: 'List all security rules associated with a rulestack in priority order.

        '
      operationId: get-v1-config-rulestacks-rulestackname-rulelists-rulelistname
      parameters:
      - description: 'The name of the rulestack.

          '
        in: path
        name: rulestackname
        required: true
        schema:
          type: string
      - description: 'The name of the rulelist.

          '
        in: path
        name: rulelistname
        required: true
        schema:
          type: string
      - description: ''
        in: query
        name: nexttoken
        required: false
        schema:
          title: Nexttoken
          type: string
      - description: ''
        in: query
        name: candidate
        required: false
        schema:
          default: true
          title: Candidate
          type: boolean
      - description: ''
        in: query
        name: running
        required: false
        schema:
          default: false
          title: Running
          type: boolean
      - description: ''
        in: query
        name: uncommitted
        required: false
        schema:
          default: false
          title: Uncommitted
          type: boolean
      - description: ''
        in: query
        name: maxresults
        required: false
        schema:
          default: 1024
          maximum: 1024
          minimum: 1
          title: Maxresults
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecurityRulesResponse'
          description: OK
      summary: List security rules
      tags:
      - SecurityRules
    post:
      description: 'Create a security rule for a rulestack.

        '
      operationId: post-v1-config-rulestacks-rulestackname-rulelists-rulelistname
      parameters:
      - description: 'The name of the rulestack.

          '
        in: path
        name: rulestackname
        required: true
        schema:
          type: string
      - description: 'The name of the rulelist.

          '
        in: path
        name: rulelistname
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecurityRuleRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSecurityRuleResponse'
          description: OK
      summary: Create security rule
      tags:
      - SecurityRules
    servers:
    - url: https://api.us-east-1.aws.cloudngfw.paloaltonetworks.com
  /v1/config/rulestacks/{rulestackname}/rulelists/{rulelistname}/priorities/{priority}:
    delete:
      description: 'Delete a security rule associated with a rulestack.

        '
      operationId: delete-v1-config-rulestacks-rulestackname-rulelists-rulelistname-priorities-priority
      parameters:
      - description: 'The name of the rulestack.

          '
        in: path
        name: rulestackname
        required: true
        schema:
          type: string
      - description: 'The name of the rulelist.

          '
        in: path
        name: rulelistname
        required: true
        schema:
          type: string
      - description: ''
        in: path
        name: priority
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSecurityRuleRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSecurityRuleResponse'
          description: OK
      summary: Delete security rule
      tags:
      - SecurityRules
    get:
      description: 'Retrieve the security rules associated with a rulestack.

        '
      operationId: get-v1-config-rulestacks-rulestackname-rulelists-rulelistname-priorities-priority
      parameters:
      - description: 'The name of the rulestack.

          '
        in: path
        name: rulestackname
        required: true
        schema:
          type: string
      - description: 'The name of the rulelist.

          '
        in: path
        name: rulelistname
        required: true
        schema:
          type: string
      - description: ''
        in: path
        name: priority
        required: true
        schema:
          type: string
      - description: ''
        in: query
        name: Candidate
        required: false
        schema:
          default: true
          title: Candidate
          type: boolean
      - description: ''
        in: query
        name: Running
        required: false
        schema:
          default: false
          title: Running
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeSecurityRuleResponse'
          description: OK
      summary: Retrieve security rule
      tags:
      - SecurityRules
    put:
      description: 'Update a security rule associated with a rulestack.

        '
      operationId: put-v1-config-rulestacks-rulestackname-rulelists-rulelistname-priorities-priority
      parameters:
      - description: 'The name of the rulestack.

          '
        in: path
        name: rulestackname
        required: true
        schema:
          type: string
      - description: 'The name of the rulelist.

          '
        in: path
        name: rulelistname
        required: true
        schema:
          type: string
      - description: ''
        in: path
        name: priority
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecurityRuleRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSecurityRuleResponse'
          description: OK
      summary: Update security rule
      tags:
      - SecurityRules
    servers:
    - url: https://api.us-east-1.aws.cloudngfw.paloaltonetworks.com
components:
  examples:
    json_401_panui_auth_key_expired:
      summary: Key Expired
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Expired
        _request_id: abcd-1234
    json_501_panui_restapi_method_not_supported:
      summary: Method Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Method Not Supported
        _request_id: abcd-1234
    json_400_panui_restapi_input_format_mismatch:
      summary: Input Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Input Format Mismatch: input-format=json'
        _request_id: abcd-1234
    json_501_panui_restapi_version_not_supported:
      summary: Version Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: Version Not Supported
        _request_id: abcd-1234
    json_409_panui_mgmt_name_not_unique:
      summary: Name Not Unique
      value:
        _errors:
        - code: E006
          details: {}
          message: Name Not Unique
        _request_id: abcd-1234
    json_409_panui_mgmt_object_not_unique:
      summary: Object Not Unique
      value:
        _errors:
        - code: E016
          details: {}
          message: Object Not Unique
        _request_id: abcd-1234
    json_404_panui_mgmt_object_not_present:
      summary: Object Not Present
      value:
        _errors:
        - code: E005
          details: {}
          message: Object Not Present
        _request_id: abcd-1234
    json_400_panui_restapi_missing_body:
      summary: Missing Body
      value:
        _errors:
        - code: E003
          details: {}
          message: Missing Body
        _request_id: abcd-1234
    json_409_panui_mgmt_reference_not_zero:
      summary: Reference Not Zero
      value:
        _errors:
        - code: E009
          details: {}
          message: Reference Not Zero
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_command:
      summary: Invalid Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Command
        _request_id: abcd-1234
    json_400_panui_restapi_output_format_mismatch:
      summary: Output Format Mismatch
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Output Format Mismatch: output-format=json Accept=xml'
        _request_id: abcd-1234
    json_401_panui_auth_not_authenticated:
      summary: Not Authenticated
      value:
        _errors:
        - code: E016
          details: {}
          message: Not Authenticated
        _request_id: abcd-1234
    json_401_panui_auth_invalid_credential:
      summary: Invalid Credential
      value:
        _errors:
        - code: E016
          details: {}
          message: Invalid Credential
        _request_id: abcd-1234
    json_403_panui_auth_unauthorized:
      summary: Unauthorized
      value:
        _errors:
        - code: E007
          details: {}
          message: Unauthorized
        _request_id: abcd-1234
    json_400_panui_restapi_missing_query_parameter:
      summary: Missing Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Missing Query Parameter: name'
        _request_id: abcd-1234
    json_405_panui_restapi_action_not_supported:
      summary: Action Not Supported
      value:
        _errors:
        - code: E012
          details: {}
          message: 'Action Not Supported: move'
        _request_id: abcd-1234
    json_400_panui_restapi_invalid_query_parameter:
      summary: Invalid Query Parameter
      value:
        _errors:
        - code: E003
          details: {}
          message: 'Invalid Query Parameter: location=invalid'
        _request_id: abcd-1234
    json_401_panui_auth_key_too_long:
      summary: Key Too Long
      value:
        _errors:
        - code: E016
          details: {}
          message: Key Too Long
        _request_id: abcd-1234
    json_400_panui_mgmt_invalid_object:
      summary: Invalid Object
      value:
        _errors:
        - code: E003
          details: {}
          message: Invalid Object
        _request_id: abcd-1234
    json_400_panui_mgmt_malformed_command:
      summary: Malformed Command
      value:
        _errors:
        - code: E003
          details: {}
          message: Malformed Command
        _request_id: abcd-1234
    json_504_panui_mgmt_session_timeout:
      summary: Session Timeout
      value:
        _errors:
        - code: 4
          details: {}
          message: Session Timeout
        _request_id: abcd-1234
    json_401_panui_auth_need_password_change:
      summary: Need Password Change
      value:
        _errors:
        - code: E016
          details: {}
          message: The password needs to be changed.
        _request_id: abcd-1234
    json_400_panui_mgmt_bad_xpath:
      summary: Bad XPath
      value:
        _errors:
        - code: E013
          details: {}
          message: Bad XPath
        _request_id: abcd-1234
  responses:
    http_ok:
      description: Ok
    not_found:
      content:
        application/json:
          examples:
            object_not_present:
              $ref: '#/components/examples/json_404_panui_mgmt_object_not_present'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Not Found
    default_errors:
      content:
        application/json:
          examples:
            action_not_supported:
              $ref: '#/components/examples/json_405_panui_restapi_action_not_supported'
            bad_xpath:
              $ref: '#/components/examples/json_400_panui_mgmt_bad_xpath'
            invalid_command:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_command'
            malformed_command:
              $ref: '#/components/examples/json_400_panui_mgmt_malformed_command'
            method_not_allowed:
              $ref: '#/components/examples/json_501_panui_restapi_method_not_supported'
            session_timeout:
              $ref: '#/components/examples/json_504_panui_mgmt_session_timeout'
            version_not_supported:
              $ref: '#/components/examples/json_501_panui_restapi_version_not_supported'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: General Errors
    bad_request_errors_basic_with_body:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_object:
              $ref: '#/components/examples/json_400_panui_mgmt_invalid_object'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_body:
              $ref: '#/components/examples/json_400_panui_restapi_missing_body'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    bad_request_errors_basic:
      content:
        application/json:
          examples:
            input_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_input_format_mismatch'
            invalid_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_invalid_query_parameter'
            missing_query_parameter:
              $ref: '#/components/examples/json_400_panui_restapi_missing_query_parameter'
            output_format_mismatch:
              $ref: '#/components/examples/json_400_panui_restapi_output_format_mismatch'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Bad Request
    auth_errors:
      content:
        application/json:
          examples:
            auth_not_authenticated:
              $ref: '#/components/examples/json_401_panui_auth_not_authenticated'
            invalid_credential:
              $ref: '#/components/examples/json_401_panui_auth_invalid_credential'
            key_expired:
              $ref: '#/components/examples/json_401_panui_auth_key_expired'
            key_too_long:
              $ref: '#/components/examples/json_401_panui_auth_key_too_long'
            need_password_change:
              $ref: '#/components/examples/json_401_panui_auth_need_password_change'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Unauthorized
    http_created:
      description: Created
    conflict_errors:
      content:
        application/json:
          examples:
            name_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_name_not_unique'
            object_not_unique:
              $ref: '#/components/examples/json_409_panui_mgmt_object_not_unique'
            reference_not_zero:
              $ref: '#/components/examples/json_409_panui_mgmt_reference_not_zero'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Conflict
    access_errors:
      content:
        application/json:
          examples:
            auth_unauthorized:
              $ref: '#/components/examples/json_403_panui_auth_unauthorized'
          schema:
            $ref: '#/components/schemas/generic_error'
      description: Forbidden
  parameters:
    uuid-required:
      description: 'The resource''s unique identifier.

        '
      in: path
      name: id
      required: true
      schema:
        type: string
    offset-optional:
      description: 'The offset of the result entry.

        '
      in: query
      name: offset
      required: false
      schema:
        type: number
    folder:
      description: 'The folder on which you want to perform this operation.

        '
      in: query
      name: folder
      required: true
      schema:
        enum:
        - Shared
        - Mobile Users
        - Remote Networks
        - Service Connections
        - Mobile Users Container
        - Mobile Users Explicit Proxy
        pattern: ^[0-9a-zA-Z._-\s]{1,}$
        type: string
    limit-optional:
      description: 'The maximum number of result objects to return per page.

        '
      in: query
      name: limit
      required: false
      schema:
        type: number
    name-optional:
      description: 'The name of the entry.

        '
      in: query
      name: name
      required: false
      schema:
        type: string
    position:
      description: 'The position of a security rule

        '
      in: query
      name: position
      required: true
      schema:
        default: pre
        enum:
        - pre
        - post
        type: string
  schemas:
    generic_error:
      properties:
        _errors:
          $ref: '#/components/schemas/error_detail_cause_infos'
        _request_id:
          type: string
      type: object
    error_detail_cause_info:
      properties:
        code:
          type: string
        details:
          type: object
        help:
          type: string
        message:
          type: string
      title: Cause Info
      type: object
    security-rules:
      properties:
        action:
          type: string
        application:
          items:
            type: string
          type: array
        category:
          items:
            type: string
          type: array
        description:
          type: string
        destination:
          items:
            type: string
          type: array
        destination_hip:
          items:
            type: string
          type: array
        disabled:
          type: boolean
        from:
          items:
            type: string
          type: array
        id:
          description: uuid of the resource
          example: abcd-1234
          readOnly: true
          type: string
        log_setting:
          type: string
        name:
          type: string
        negate_destination:
          type: boolean
        negate_source:
          type: boolean
        profile_setting:
          properties:
            group:
              items:
                type: string
              type: array
          type: object
        service:
          items:
            type: string
          type: array
        source:
          items:
            type: string
          type: array
        source_hip:
          items:
            type: string
          type: array
        source_user:
          items:
            type: string
          type: array
        tag:
          items:
            type: string
          type: array
        to:
          items:
            type: string
          type: array
      required:
      - name
      - from
      - source
      - source_user
      - to
      - destination
      - application
      - service
      - category
      - action
      type: object
    error_detail_cause_infos:
      items:
        $ref: '#/components/schemas/error_detail_cause_info'
      type: array
    rule-based-move:
      properties:
        destination:
          description: A destination of the rule. Valid destination values are top, bottom, before and after.
          enum:
          - top
          - bottom
          - before
          - after
          type: string
        destination_rule:
          description: A destination_rule attribute is required only if the destination value is before or after. Valid destination_rule values are existing rule UUIDs within the same container.
          type: string
        rulebase:
          description: A base of a rule. Valid rulebase values are pre and post.
          enum:
          - pre
          - post
          type: string
      required:
      - destination
      - rulebase
      type: object
    UpdateSecurityRuleRequest.Tag:
      additionalProperties: false
      properties:
        Key:
          maxLength: 128
          minLength: 1
          title: Key
          type: string
        Value:
          maxLength: 128
          minLength: 1
          title: Value
          type: string
      required:
      - Key
      - Value
      title: Tag
      type: object
    UpdateSecurityRuleRequest.UrlCategory:
      additionalProperties: false
      properties:
        IntelligentFeeds:
          items:
            type: string
          title: Intelligentfeeds
          type: array
        URLCategoryNames:
          items:
            type: string
          title: Urlcategorynames
          type: array
      title: UrlCategory
      type: object
    DescribeSecurityRuleResponse.RuleDestination:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        FqdnLists:
          items:
            type: string
          title: Fqdnlists
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleDestination
      type: object
    UpdateSecurityRuleResponse.Result:
      additionalProperties: false
      properties:
        ErrorCode:
          default: 0
          title: Errorcode
          type: integer
        Reason:
          title: Reason
          type: string
      title: Result
      type: object
    UpdateSecurityRuleResponse.UrlCategory:
      additionalProperties: false
      properties:
        IntelligentFeeds:
          items:
            type: string
          title: Intelligentfeeds
          type: array
        URLCategoryNames:
          items:
            type: string
          title: Urlcategorynames
          type: array
      title: UrlCategory
      type: object
    CreateSecurityRuleRequest.UrlCategory:
      additionalProperties: false
      properties:
        IntelligentFeeds:
          items:
            type: string
          title: Intelligentfeeds
          type: array
        URLCategoryNames:
          items:
            type: string
          title: Urlcategorynames
          type: array
      title: UrlCategory
      type: object
    UpdateSecurityRuleResponse.RuleDestination:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        FqdnLists:
          items:
            type: string
          title: Fqdnlists
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleDestination
      type: object
    DescribeSecurityRuleResponse.UrlCategory:
      additionalProperties: false
      properties:
        IntelligentFeeds:
          items:
            type: string
          title: Intelligentfeeds
          type: array
        URLCategoryNames:
          items:
            type: string
          title: Urlcategorynames
          type: array
      title: UrlCategory
      type: object
    DescribeSecurityRuleResponse.ResponseData:
      additionalProperties: false
      properties:
        Priority:
          title: Priority
          type: integer
        RuleEntryCandidate:
          $ref: '#/components/schemas/DescribeSecurityRuleResponse.Rule'
        RuleEntryRunning:
          $ref: '#/components/schemas/DescribeSecurityRuleResponse.Rule'
        RuleListName:
          title: Rulelistname
          type: string
        RuleStackName:
          title: Rulestackname
          type: string
      title: ResponseData
      type: object
    UpdateSecurityRuleResponse.Rule:
      additionalProperties: false
      properties:
        Action:
          default: Allow
          enum:
          - Allow
          - DenySilent
          - DenyResetServer
          - DenyResetBoth
          title: Action
          type: string
        Applications:
          default:
          - Any
          items:
            type: string
          title: Applications
          type: array
        AuditComment:
          maxLength: 512
          title: Auditcomment
          type: string
        Category:
          $ref: '#/components/schemas/UpdateSecurityRuleResponse.UrlCategory'
        DecryptionRuleType:
          enum:
          - SSLOutboundInspection
          title: Decryptionruletype
          type: string
        Description:
          maxLength: 512
          title: Description
          type: string
        Destination:
          $ref: '#/components/schemas/UpdateSecurityRuleResponse.RuleDestination'
        Enabled:
          default: true
          title: Enabled
          type: boolean
        Logging:
          default: false
          title: Logging
          type: boolean
        NegateDestination:
          default: false
          title: Negatedestination
          type: boolean
        NegateSource:
          default: false
          title: Negatesource
          type: boolean
        Protocol:
          default: application-default
          title: Protocol
          type: string
        RuleName:
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9-]+$
          title: Rulename
          type: string
        Source:
          $ref: '#/components/schemas/UpdateSecurityRuleResponse.RuleSource'
        Tags:
          items:
            $ref: '#/components/schemas/UpdateSecurityRuleResponse.Tag'
          maxItems: 200
          title: Tags
          type: array
        UpdateToken:
          title: Updatetoken
          type: string
      required:
      - RuleName
      title: Rule
      type: object
    CreateSecurityRuleRequest.RuleSource:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleSource
      type: object
    CreateSecurityRuleRequest.Tag:
      additionalProperties: false
      properties:
        Key:
          maxLength: 128
          minLength: 1
          title: Key
          type: string
        Value:
          maxLength: 128
          minLength: 1
          title: Value
          type: string
      required:
      - Key
      - Value
      title: Tag
      type: object
    DeleteSecurityRuleResponse.UrlCategory:
      additionalProperties: false
      properties:
        IntelligentFeeds:
          items:
            type: string
          title: Intelligentfeeds
          type: array
        URLCategoryNames:
          items:
            type: string
          title: Urlcategorynames
          type: array
      title: UrlCategory
      type: object
    CreateSecurityRuleResponse.Rule:
      additionalProperties: false
      properties:
        Action:
          default: Allow
          enum:
          - Allow
          - DenySilent
          - DenyResetServer
          - DenyResetBoth
          title: Action
          type: string
        Applications:
          default:
          - Any
          items:
            type: string
          title: Applications
          type: array
        AuditComment:
          maxLength: 512
          title: Auditcomment
          type: string
        Category:
          $ref: '#/components/schemas/CreateSecurityRuleResponse.UrlCategory'
        DecryptionRuleType:
          enum:
          - SSLOutboundInspection
          title: Decryptionruletype
          type: string
        Description:
          maxLength: 512
          title: Description
          type: string
        Destination:
          $ref: '#/components/schemas/CreateSecurityRuleResponse.RuleDestination'
        Enabled:
          default: true
          title: Enabled
          type: boolean
        Logging:
          default: false
          title: Logging
          type: boolean
        NegateDestination:
          default: false
          title: Negatedestination
          type: boolean
        NegateSource:
          default: false
          title: Negatesource
          type: boolean
        Protocol:
          default: application-default
          title: Protocol
          type: string
        RuleName:
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9-]+$
          title: Rulename
          type: string
        Source:
          $ref: '#/components/schemas/CreateSecurityRuleResponse.RuleSource'
        Tags:
          items:
            $ref: '#/components/schemas/CreateSecurityRuleResponse.Tag'
          maxItems: 200
          title: Tags
          type: array
        UpdateToken:
          title: Updatetoken
          type: string
      required:
      - RuleName
      title: Rule
      type: object
    ListSecurityRulesResponse.ResponseData:
      additionalProperties: false
      properties:
        NextToken:
          title: Nexttoken
          type: string
        RuleEntryCandidate:
          items:
            $ref: '#/components/schemas/ListSecurityRulesResponse.RuleEntryIdentifier'
          title: Ruleentrycandidate
          type: array
        RuleEntryRunning:
          items:
            $ref: '#/components/schemas/ListSecurityRulesResponse.RuleEntryIdentifier'
          title: Ruleentryrunning
          type: array
        RuleEntryUncommitted:
          items:
            $ref: '#/components/schemas/ListSecurityRulesResponse.RuleEntryUncommittedIdentifier'
          title: Ruleentryuncommitted
          type: array
        RuleListName:
          title: Rulelistname
          type: string
        RuleStackName:
          title: Rulestackname
          type: string
      title: ResponseData
      type: object
    DeleteSecurityRuleResponse.RuleDestination:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        FqdnLists:
          items:
            type: string
          title: Fqdnlists
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleDestination
      type: object
    UpdateSecurityRuleResponse.Tag:
      additionalProperties: false
      properties:
        Key:
          maxLength: 128
          minLength: 1
          title: Key
          type: string
        Value:
          maxLength: 128
          minLength: 1
          title: Value
          type: string
      required:
      - Key
      - Value
      title: Tag
      type: object
    DeleteSecurityRuleResponse.Result:
      additionalProperties: false
      properties:
        ErrorCode:
          default: 0
          title: Errorcode
          type: integer
        Reason:
          title: Reason
          type: string
      title: Result
      type: object
    ListSecurityRulesResponse.Result:
      additionalProperties: false
      properties:
        ErrorCode:
          default: 0
          title: Errorcode
          type: integer
        Reason:
          title: Reason
          type: string
      title: Result
      type: object
    CreateSecurityRuleResponse.UrlCategory:
      additionalProperties: false
      properties:
        IntelligentFeeds:
          items:
            type: string
          title: Intelligentfeeds
          type: array
        URLCategoryNames:
          items:
            type: string
          title: Urlcategorynames
          type: array
      title: UrlCategory
      type: object
    UpdateSecurityRuleRequest.Rule:
      additionalProperties: false
      properties:
        Action:
          default: Allow
          enum:
          - Allow
          - DenySilent
          - DenyResetServer
          - DenyResetBoth
          title: Action
          type: string
        Applications:
          default:
          - Any
          items:
            type: string
          title: Applications
          type: array
        AuditComment:
          maxLength: 512
          title: Auditcomment
          type: string
        Category:
          $ref: '#/components/schemas/UpdateSecurityRuleRequest.UrlCategory'
        DecryptionRuleType:
          enum:
          - SSLOutboundInspection
          title: Decryptionruletype
          type: string
        Description:
          maxLength: 512
          title: Description
          type: string
        Destination:
          $ref: '#/components/schemas/UpdateSecurityRuleRequest.RuleDestination'
        Enabled:
          default: true
          title: Enabled
          type: boolean
        Logging:
          default: false
          title: Logging
          type: boolean
        NegateDestination:
          default: false
          title: Negatedestination
          type: boolean
        NegateSource:
          default: false
          title: Negatesource
          type: boolean
        Protocol:
          default: application-default
          title: Protocol
          type: string
        RuleName:
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9-]+$
          title: Rulename
          type: string
        Source:
          $ref: '#/components/schemas/UpdateSecurityRuleRequest.RuleSource'
        Tags:
          items:
            $ref: '#/components/schemas/UpdateSecurityRuleRequest.Tag'
          maxItems: 200
          title: Tags
          type: array
        UpdateToken:
          title: Updatetoken
          type: string
      required:
      - RuleName
      title: Rule
      type: object
    DeleteSecurityRuleResponse.Rule:
      additionalProperties: false
      properties:
        Action:
          default: Allow
          enum:
          - Allow
          - DenySilent
          - DenyResetServer
          - DenyResetBoth
          title: Action
          type: string
        Applications:
          default:
          - Any
          items:
            type: string
          title: Applications
          type: array
        AuditComment:
          maxLength: 512
          title: Auditcomment
          type: string
        Category:
          $ref: '#/components/schemas/DeleteSecurityRuleResponse.UrlCategory'
        DecryptionRuleType:
          enum:
          - SSLOutboundInspection
          title: Decryptionruletype
          type: string
        Description:
          maxLength: 512
          title: Description
          type: string
        Destination:
          $ref: '#/components/schemas/DeleteSecurityRuleResponse.RuleDestination'
        Enabled:
          default: true
          title: Enabled
          type: boolean
        Logging:
          default: false
          title: Logging
          type: boolean
        NegateDestination:
          default: false
          title: Negatedestination
          type: boolean
        NegateSource:
          default: false
          title: Negatesource
          type: boolean
        Protocol:
          default: application-default
          title: Protocol
          type: string
        RuleName:
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9-]+$
          title: Rulename
          type: string
        Source:
          $ref: '#/components/schemas/DeleteSecurityRuleResponse.RuleSource'
        Tags:
          items:
            $ref: '#/components/schemas/DeleteSecurityRuleResponse.Tag'
          maxItems: 200
          title: Tags
          type: array
        UpdateToken:
          title: Updatetoken
          type: string
      required:
      - RuleName
      title: Rule
      type: object
    CreateSecurityRuleResponse.Tag:
      additionalProperties: false
      properties:
        Key:
          maxLength: 128
          minLength: 1
          title: Key
          type: string
        Value:
          maxLength: 128
          minLength: 1
          title: Value
          type: string
      required:
      - Key
      - Value
      title: Tag
      type: object
    DeleteSecurityRuleResponse.RuleSource:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleSource
      type: object
    UpdateSecurityRuleRequest.RuleDestination:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        FqdnLists:
          items:
            type: string
          title: Fqdnlists
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleDestination
      type: object
    CreateSecurityRuleResponse.RuleSource:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleSource
      type: object
    ListSecurityRulesResponse.RuleEntryUncommittedIdentifier:
      additionalProperties: false
      properties:
        Operation:
          title: Operation
          type: string
        Priority:
          title: Priority
          type: integer
        RuleName:
          title: Rulename
          type: string
      required:
      - Priority
      - RuleName
      - Operation
      title: RuleEntryUncommittedIdentifier
      type: object
    CreateSecurityRuleResponse.Result:
      additionalProperties: false
      properties:
        ErrorCode:
          default: 0
          title: Errorcode
          type: integer
        Reason:
          title: Reason
          type: string
      title: Result
      type: object
    DeleteSecurityRuleResponse.ResponseData:
      additionalProperties: false
      properties:
        Priority:
          title: Priority
          type: integer
        RuleEntry:
          $ref: '#/components/schemas/DeleteSecurityRuleResponse.Rule'
        RuleListName:
          title: Rulelistname
          type: string
        RuleStackName:
          title: Rulestackname
          type: string
      title: ResponseData
      type: object
    DescribeSecurityRuleResponse:
      additionalProperties: false
      properties:
        Response:
          $ref: '#/components/schemas/DescribeSecurityRuleResponse.ResponseData'
        ResponseStatus:
          $ref: '#/components/schemas/DescribeSecurityRuleResponse.Result'
      title: DescribeSecurityRuleResponse
      type: object
    CreateSecurityRuleResponse.ResponseData:
      additionalProperties: false
      properties:
        Priority:
          title: Priority
          type: integer
        RuleEntry:
          $ref: '#/components/schemas/CreateSecurityRuleResponse.Rule'
        RuleListName:
          title: Rulelistname
          type: string
        RuleStackName:
          title: Rulestackname
          type: string
      title: ResponseData
      type: object
    ListSecurityRulesResponse:
      additionalProperties: false
      properties:
        Response:
          $ref: '#/components/schemas/ListSecurityRulesResponse.ResponseData'
        ResponseStatus:
          $ref: '#/components/schemas/ListSecurityRulesResponse.Result'
      title: ListSecurityRulesResponse
      type: object
    DescribeSecurityRuleResponse.RuleSource:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleSource
      type: object
    UpdateSecurityRuleRequest.RuleSource:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleSource
      type: object
    DeleteSecurityRuleResponse.Tag:
      additionalProperties: false
      properties:
        Key:
          maxLength: 128
          minLength: 1
          title: Key
          type: string
        Value:
          maxLength: 128
          minLength: 1
          title: Value
          type: string
      required:
      - Key
      - Value
      title: Tag
      type: object
    UpdateSecurityRuleResponse.ResponseData:
      additionalProperties: false
      properties:
        Priority:
          title: Priority
          type: integer
        RuleEntry:
          $ref: '#/components/schemas/UpdateSecurityRuleResponse.Rule'
        RuleListName:
          title: Rulelistname
          type: string
        RuleStackName:
          title: Rulestackname
          type: string
      title: ResponseData
      type: object
    UpdateSecurityRuleResponse.RuleSource:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleSource
      type: object
    UpdateSecurityRuleResponse:
      additionalProperties: false
      properties:
        Response:
          $ref: '#/components/schemas/UpdateSecurityRuleResponse.ResponseData'
        ResponseStatus:
          $ref: '#/components/schemas/UpdateSecurityRuleResponse.Result'
      title: UpdateSecurityRuleResponse
      type: object
    CreateSecurityRuleRequest:
      additionalProperties: false
      properties:
        Priority:
          exclusiveMaximum: 1000001
          exclusiveMinimum: 0
          title: Priority
          type: integer
        RuleEntry:
          $ref: '#/components/schemas/CreateSecurityRuleRequest.RuleCreate'
      required:
      - Priority
      - RuleEntry
      title: CreateSecurityRuleRequest
      type: object
    CreateSecurityRuleRequest.RuleCreate:
      additionalProperties: false
      properties:
        Action:
          default: Allow
          enum:
          - Allow
          - DenySilent
          - DenyResetServer
          - DenyResetBoth
          title: Action
          type: string
        Applications:
          default:
          - Any
          items:
            type: string
          title: Applications
          type: array
        AuditComment:
          maxLength: 512
          title: Auditcomment
          type: string
        Category:
          $ref: '#/components/schemas/CreateSecurityRuleRequest.UrlCategory'
        DecryptionRuleType:
          enum:
          - SSLOutboundInspection
          title: Decryptionruletype
          type: string
        Description:
          maxLength: 512
          title: Description
          type: string
        Destination:
          $ref: '#/components/schemas/CreateSecurityRuleRequest.RuleDestination'
        Enabled:
          default: true
          title: Enabled
          type: boolean
        Logging:
          default: false
          title: Logging
          type: boolean
        NegateDestination:
          default: false
          title: Negatedestination
          type: boolean
        NegateSource:
          default: false
          title: Negatesource
          type: boolean
        Protocol:
          default: application-default
          title: Protocol
          type: string
        RuleName:
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9-]+$
          title: Rulename
          type: string
        Source:
          $ref: '#/components/schemas/CreateSecurityRuleRequest.RuleSource'
        Tags:
          items:
            $ref: '#/components/schemas/CreateSecurityRuleRequest.Tag'
          maxItems: 200
          title: Tags
          type: array
      required:
      - RuleName
      title: RuleCreate
      type: object
    CreateSecurityRuleRequest.RuleDestination:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        FqdnLists:
          items:
            type: string
          title: Fqdnlists
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleDestination
      type: object
    UpdateSecurityRuleRequest:
      additionalProperties: false
      properties:
        RuleEntry:
          $ref: '#/components/schemas/UpdateSecurityRuleRequest.Rule'
      required:
      - RuleEntry
      title: UpdateSecurityRuleRequest
      type: object
    DeleteSecurityRuleResponse:
      additionalProperties: false
      properties:
        Response:
          $ref: '#/components/schemas/DeleteSecurityRuleResponse.ResponseData'
        ResponseStatus:
          $ref: '#/components/schemas/DeleteSecurityRuleResponse.Result'
      title: DeleteSecurityRuleResponse
      type: object
    DescribeSecurityRuleResponse.Tag:
      additionalProperties: false
      properties:
        Key:
          maxLength: 128
          minLength: 1
          title: Key
          type: string
        Value:
          maxLength: 128
          minLength: 1
          title: Value
          type: string
      required:
      - Key
      - Value
      title: Tag
      type: object
    DescribeSecurityRuleResponse.Rule:
      additionalProperties: false
      properties:
        Action:
          default: Allow
          enum:
          - Allow
          - DenySilent
          - DenyResetServer
          - DenyResetBoth
          title: Action
          type: string
        Applications:
          default:
          - Any
          items:
            type: string
          title: Applications
          type: array
        AuditComment:
          maxLength: 512
          title: Auditcomment
          type: string
        Category:
          $ref: '#/components/schemas/DescribeSecurityRuleResponse.UrlCategory'
        DecryptionRuleType:
          enum:
          - SSLOutboundInspection
          title: Decryptionruletype
          type: string
        Description:
          maxLength: 512
          title: Description
          type: string
        Destination:
          $ref: '#/components/schemas/DescribeSecurityRuleResponse.RuleDestination'
        Enabled:
          default: true
          title: Enabled
          type: boolean
        Logging:
          default: false
          title: Logging
          type: boolean
        NegateDestination:
          default: false
          title: Negatedestination
          type: boolean
        NegateSource:
          default: false
          title: Negatesource
          type: boolean
        Protocol:
          default: application-default
          title: Protocol
          type: string
        RuleName:
          maxLength: 128
          minLength: 1
          pattern: ^[a-zA-Z0-9-]+$
          title: Rulename
          type: string
        Source:
          $ref: '#/components/schemas/DescribeSecurityRuleResponse.RuleSource'
        Tags:
          items:
            $ref: '#/components/schemas/DescribeSecurityRuleResponse.Tag'
          maxItems: 200
          title: Tags
          type: array
        UpdateToken:
          title: Updatetoken
          type: string
      required:
      - RuleName
      title: Rule
      type: object
    CreateSecurityRuleResponse.RuleDestination:
      additionalProperties: false
      properties:
        Cidrs:
          default:
          - Any
          items:
            type: string
          title: Cidrs
          type: array
        Countries:
          items:
            type: string
          title: Countries
          type: array
        Feeds:
          items:
            type: string
          title: Feeds
          type: array
        FqdnLists:
          items:
            type: string
          title: Fqdnlists
          type: array
        PrefixLists:
          items:
            type: string
          title: Prefixlists
          type: array
      title: RuleDestination
      type: object
    CreateSecurityRuleResponse:
      additionalProperties: false
      properties:
        Response:
          $ref: '#/components/schemas/CreateSecurityRuleResponse.ResponseData'
        ResponseStatus:
          $ref: '#/components/schemas/CreateSecurityRuleResponse.Result'
      title: CreateSecurityRuleResponse
      type: object
    ListSecurityRulesResponse.RuleEntryIdentifier:
      additionalProperties: false
      properties:
        Priority:
          exclusiveMaximum: 1000001
          exclusiveMinimum: 0
          title: Priority
          type: integer
        RuleName:
          title: Rulename
          type: string
      required:
      - Priority
      title: RuleEntryIdentifier
      type: object
    DescribeSecurityRuleResponse.Result:
      additionalProperties: false
      properties:
        ErrorCode:
          default: 0
          title: Errorcode
          type: integer
        Reason:
          title: Reason
          type: string
      title: Result
      type: object
    DeleteSecurityRuleRequest:
      additionalProperties: false
      properties: {}
      title: DeleteSecurityRuleRequest
      type: object
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
x-refined-from:
- palo-alto-access-prisma-access-config-securityrules-openapi.yaml
- palo-alto-cloudngfw-aws-securityrules-openapi.yaml
