openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend NotificationProfiles API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: NotificationProfiles
paths:
  /api/cloud/2.0/agg/notifications/profiles:
    get:
      tags:
      - NotificationProfiles
      summary: Palo Alto Networks List Notification Profiles
      description: '### Overview

        List the notification profiles associated with the current tenant.


        The current tenant TSG Id is obtained from the user JWT.


        This is a per-tenant query.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifProfileList'
              examples:
                example-0:
                  summary: Empty Profile List
                  value:
                    data: []
                    requestId: 1e9a1f56-8ef4-47d3-864e-37b22c75bc84
                example-1:
                  summary: Profile List
                  value:
                    data:
                    - description: Notification Test Upgrades Announcements Profile
                      excludeTenantList: []
                      successTenant: []
                      failureTenant: []
                      status: SUCCESS
                      id: 1a0cb68d-5c91-4c5c-82ca-d0123a001fc7
                      notifChannels:
                      - name: Webhook Channel
                        type: WEBHOOK
                        webhookChannelDetails:
                          urls:
                          - www.test-3.webhook.com
                          - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                          authType: NO_AUTH
                      - emailChannelDetails:
                          emails:
                          - emailId: swamiananthawork@gmail.com
                            name: Swami Work
                          - emailId: dummy.email@gmail2.com
                            name: Dummy email
                          - emailId: prad.bapat@gmail.com
                            name: Pradnya Bapat
                        name: Email Channel
                        type: EMAIL
                      notifTypeDetails:
                      - notifCategoryList:
                        - bestPractice: false
                          name: Dataplane
                          subCategoryList:
                          - bestPractice: false
                            name: In Progress
                        type: UPGRADES
                      - notifCategoryList: null
                        type: ANNOUNCEMENTS
                      opState: ENABLED
                      profileName: Upgrades Announcements Profile
                      tenantList:
                      - '1681604441'
                      - '1037879421'
                      - '1721119209'
                    - description: Notification Test Upgrades Profile
                      excludeTenantList: []
                      successTenant: []
                      failureTenant: []
                      status: SUCCESS
                      id: 1cdabde0-01d6-4727-912b-e53bc620a82f
                      notifChannels:
                      - name: Webhook Channel
                        type: WEBHOOK
                        webhookChannelDetails:
                          urls:
                          - www.test-3.webhook.com
                          - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                          authType: NO_AUTH
                      - emailChannelDetails:
                          emails:
                          - emailId: swamiananthawork@gmail.com
                            name: Swami Work
                          - emailId: dummy.email@gmail2.com
                            name: Dummy email
                          - emailId: prad.bapat@gmail.com
                            name: Pradnya Bapat
                        name: Email Channel
                        type: EMAIL
                      notifTypeDetails:
                      - notifCategoryList:
                        - bestPractice: false
                          name: Dataplane
                          subCategoryList:
                          - bestPractice: true
                            name: Error
                        type: UPGRADES
                      opState: ENABLED
                      profileName: Upgrades Profile
                      tenantList:
                      - '1681604441'
                      - '1037879421'
                      - '1721119209'
                    requestId: b0da2438-92b0-4294-8a7e-31a356b746c7
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - NotificationProfiles
      summary: Palo Alto Networks Create a Notification Profile
      description: '### Overview

        Create a new notification profile by providing the profile name and the inputs & outputs used by the profile


        The inputs are:

        - Impacted tenants, notification type, notification categories & sub-categories


        The outputs are:

        - Output channels


        The newly created notification profile is diabled by default.


        The profile must be explicitly enabled for the profile to act on notification inputs and generate notifications.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifProfile'
            examples:
              Upgrades Profile:
                value:
                  profileName: Upgrades_Profile
                  opState: ENABLED
                  description: Notification Test Upgrades Profile
                  tenantList:
                  - '1681604441'
                  - '1721119209'
                  - '1037879421'
                  notifTypeDetails:
                  - type: UPGRADES
                    notifCategoryList:
                    - name: Dataplane
                      subCategoryList:
                      - name: Error
                  notifChannels:
                  - name: Webhook Channel
                    type: WEBHOOK
                    webhookChannelDetails:
                      urls:
                      - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                      - www.test-3.webhook.com
                      authType: NO_AUTH
                  - name: Email Channel
                    type: EMAIL
                    emailChannelDetails:
                      emails:
                      - name: Pradnya Bapat
                        emailId: prad.bapat@gmail.com
                      - name: Swami Work
                        emailId: swamiananthawork@gmail.com
              Announcements Profile:
                value:
                  profileName: Announcements_Profile
                  opState: DISABLED
                  description: Notification Test Announcements Profile
                  tenantList:
                  - '1681604441'
                  - '1721119209'
                  - '1037879421'
                  notifTypeDetails:
                  - type: ANNOUNCEMENTS
                  notifChannels:
                  - name: Webhook Channel
                    type: WEBHOOK
                    webhookChannelDetails:
                      urls:
                      - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                      - www.test-3.webhook.com
                      authType: NO_AUTH
                  - name: Email Channel
                    type: EMAIL
                    emailChannelDetails:
                      emails:
                      - name: Swami Work
                        emailId: swamiananthawork@gmail.com
              Incidents Profile:
                value:
                  profileName: Incidents_Profile
                  opState: DISABLED
                  description: Notification Test Incidents Profile
                  tenantList:
                  - '1681604441'
                  - '1721119209'
                  - '1037879421'
                  notifTypeDetails:
                  - type: INCIDENTS
                    notifCategoryList:
                    - name: RN
                      subCategoryList:
                      - name: INC_RN_SITE_DOWN
                      - name: INC_RN_PRIMARY_WAN_BGP_DOWN
                  notifChannels:
                  - name: Webhook Channel
                    type: WEBHOOK
                    webhookChannelDetails:
                      urls:
                      - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                      - www.test-3.webhook.com
                      authType: NO_AUTH
                  - name: Email Channel
                    type: EMAIL
                    emailChannelDetails:
                      emails:
                      - name: Swami Work
                        emailId: swamiananthawork@gmail.com
              Announcements and Upgrades Profile:
                value:
                  profileName: Announcements_Upgrades_Profile
                  opState: DISABLED
                  description: Notification Test Profile
                  tenantList:
                  - '1681604441'
                  - '1721119209'
                  - '1037879421'
                  notifTypeDetails:
                  - type: ANNOUNCEMENTS
                  - type: UPGRADES
                    notifCategoryList:
                    - name: Dataplane
                      subCategoryList:
                      - name: Scheduled
                  notifChannels:
                  - name: Webhook Channel
                    type: WEBHOOK
                    webhookChannelDetails:
                      urls:
                      - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                      - www.test-3.webhook.com
                      authType: NO_AUTH
                  - name: Email Channel
                    type: EMAIL
                    emailChannelDetails:
                      emails:
                      - name: Swami Work
                        emailId: swamiananthawork@gmail.com
              Profile With Token in Webhook:
                value:
                  profileName: Upgrades_Profile
                  opState: DISABLED
                  description: Notification Test Upgrades Profile
                  tenantList:
                  - '1681604441'
                  - '1721119209'
                  - '1037879421'
                  notifTypeDetails:
                  - type: UPGRADES
                    notifCategoryList:
                    - name: Dataplane
                      subCategoryList:
                      - name: Error
                  notifChannels:
                  - name: Webhook Channel
                    type: WEBHOOK
                    webhookChannelDetails:
                      urls:
                      - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                      - www.test-3.webhook.com
                      authType: TOKEN
                      token: '*****'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifProfile'
              examples:
                example-0:
                  summary: Upgrade Profile
                  value:
                    requestId: 00aff65a-9768-4365-842f-741e4a1095d6
                    data:
                      id: 0616b91f-21df-47a4-b8ef-311399b762c3
                      profileName: Upgrades_Profile
                      opState: ENABLED
                      description: Notification Test Upgrades Profile
                      tenantList:
                      - '1681604441'
                      - '1721119209'
                      - '1037879421'
                      excludeTenantList: []
                      successTenant: []
                      failureTenant: []
                      status: SUCCESS
                      notifTypeDetails:
                      - type: UPGRADES
                        notifCategoryList:
                        - name: Dataplane
                          bestPractice: false
                          subCategoryList:
                          - name: Error
                            bestPractice: true
                      notifChannels:
                      - name: Webhook Channel
                        type: WEBHOOK
                        emailChannelDetails: null
                        webhookChannelDetails:
                          urls:
                          - www.test-3.webhook.com
                          - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                          authType: NO_AUTH
                          basicAuth: null
                          token: null
                        template: null
                      - name: Email Channel
                        type: EMAIL
                        emailChannelDetails:
                          emails:
                          - name: Swami Work
                            emailId: swamiananthawork@gmail.com
                          - name: Pradnya Bapat
                            emailId: prad.bapat@gmail.com
                        webhookChannelDetails: null
                        template: null
                    error: null
                example-1:
                  summary: Announcement Profile
                  value:
                    requestId: 00aff65a-9768-4365-842f-741e4a1095d6
                    data:
                      id: 0616b91f-21df-47a4-b8ef-311399b762c3
                      profileName: Announcements_Profile
                      opState: DISABLED
                      description: Notification Test Announcements Profile
                      tenantList:
                      - '1681604441'
                      - '1721119209'
                      - '1037879421'
                      excludeTenantList: []
                      successTenant: []
                      failureTenant: []
                      status: SUCCESS
                      notifTypeDetails:
                      - type: ANNOUNCEMENTS
                      notifChannels:
                      - name: Webhook Channel
                        type: WEBHOOK
                        emailChannelDetails: null
                        webhookChannelDetails:
                          urls:
                          - www.test-3.webhook.com
                          - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                          authType: NO_AUTH
                          basicAuth: null
                          token: null
                        template: null
                      - name: Email Channel
                        type: EMAIL
                        emailChannelDetails:
                          emails:
                          - name: Swami Work
                            emailId: swamiananthawork@gmail.com
                          - name: Pradnya Bapat
                            emailId: prad.bapat@gmail.com
                        webhookChannelDetails: null
                        template: null
                    error: null
                example-2:
                  summary: Incidents Profile
                  value:
                    data:
                      description: Notification Test Incidents Profile
                      excludeTenantList: []
                      successTenant: []
                      failureTenant: []
                      status: SUCCESS
                      id: 1cdabde0-01d6-4727-912b-e53bc620a82f
                      notifChannels:
                      - name: Webhook Channel
                        type: WEBHOOK
                        webhookChannelDetails:
                          urls:
                          - www.test-3.webhook.com
                          - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                          authType: NO_AUTH
                      - emailChannelDetails:
                          emails:
                          - emailId: swamiananthawork@gmail.com
                            name: Swami Work
                          - emailId: prad.bapat@gmail.com
                            name: Pradnya Bapat
                        name: Email Channel
                        type: EMAIL
                      notifTypeDetails:
                      - notifCategoryList:
                        - bestPractice: false
                          name: RN
                          subCategoryList:
                          - bestPractice: true
                            name: INC_SC_SITE_DOWN
                          - bestPractice: true
                            name: INC_SC_PRIMARY_WAN_BGP_DOWN
                        type: INCIDENTS
                      opState: DISABLED
                      profileName: Incidents_Profile
                      tenantList:
                      - '1681604441'
                      - '1037879421'
                      - '1721119209'
                    requestId: 18ad77fd-594c-4a35-8a3b-14bf6a63d6ca
                example-3:
                  summary: Announcements and Upgrade Profile
                  value:
                    requestId: cc87ff93-9a00-4950-ac2c-f17db9586651
                    data:
                      id: 2c12cfa3-5428-40c4-bced-b6671e96e476
                      profileName: Announcements_Upgrades_Profile
                      opState: DISABLED
                      description: Notification Test Profile
                      tenantList:
                      - '1127223253'
                      - '1091039496'
                      - '1418299734'
                      excludeTenantList: []
                      notifTypeDetails:
                      - type: ANNOUNCEMENTS
                        notifCategoryList: []
                      - type: UPGRADES
                        notifCategoryList:
                        - name: Dataplane
                          bestPractice: false
                          subCategoryList:
                          - name: Scheduled
                            bestPractice: true
                      notifChannels:
                      - name: Webhook Channel
                        type: WEBHOOK
                        emailChannelDetails: null
                        webhookChannelDetails:
                          urls:
                          - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                          authType: NO_AUTH
                        template: null
                      - name: Email Channel
                        type: EMAIL
                        emailChannelDetails:
                          emails:
                          - name: Swami Work
                            emailId: swamiananthawork@gmail.com
                          - name: Pradnya Bapat
                            emailId: prad.bapat@gmail.com
                        webhookChannelDetails: null
                        template: null
                    error: null
                example-4:
                  summary: Profile with Token in Webhook
                  value:
                    data:
                      description: Notification Profile 1
                      excludeTenantList: []
                      id: 29b05f89-ec27-4af8-a124-b74b71d32b85
                      notifChannels:
                      - name: Webhook Channel
                        type: WEBHOOK
                        webhookChannelDetails:
                          urls:
                          - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                          - www.test-3.webhook.com
                          authType: TOKEN
                          token: '******'
                      notifTypeDetails:
                      - notifCategoryList:
                        - bestPractice: false
                          name: Dataplane
                          subCategoryList:
                          - bestPractice: true
                            name: Scheduled
                        type: UPGRADES
                      opState: DISABLED
                      profileName: Profile31
                      tenantList:
                      - Tenant_41
                      - Tenant_31
                      - Tenant_01
                      - Tenant_21
                      - Tenant_11
                    requestId: 6ec915e6-9d5f-45b9-8a61-d742b1493a0c
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Duplicate Profile Name Error
                  value:
                    error:
                      errorCode: 60005
                      errorType: VALIDATION_ERROR
                      httpStatus: 400
                      msg: Notification Profile with the same name already exists
                    requestId: a11f7b59-1b67-4e52-ad37-9c639b4d739d
                example-1:
                  summary: Blank Profile Name Error
                  value:
                    classViolations: []
                    parameterViolations:
                    - constraintType: PARAMETER
                      message: profileName cannot be blank
                      path: addNotificationProfile.notifProfile.profileName
                      value: ''
                    propertyViolations: []
                    returnValueViolations: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/cloud/2.0/agg/notifications/profiles/{notification-profile-id}:
    get:
      tags:
      - NotificationProfiles
      summary: Palo Alto Networks Get a Tenant's Notification Profile
      description: '### Overview


        Get the notification profile associated with the current tenant.


        Pass the notification profile Id as path param


        The current tenant TSG Id is obtained from the user JWT.


        This is a per-tenant query.'
      parameters:
      - name: notification-profile-id
        in: path
        schema:
          type: string
        required: true
        example: '427543'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifProfile'
              example:
                data:
                  description: Upgrades Notification Profile
                  excludeTenantList: []
                  successTenant: []
                  failureTenant: []
                  status: SUCCESS
                  id: 9a71cf75-4266-4e63-bcd0-5e9a2ede13a8
                  notifChannels:
                  - name: Webhook Channel
                    type: WEBHOOK
                    webhookChannelDetails:
                      urls:
                      - www.test-3.webhook.com
                      - https://webhook.site/0b168876-c339-45d5-babe-c49bb02c35e6
                      authType: NO_AUTH
                  - emailChannelDetails:
                      emails:
                      - emailId: new@email.com
                        name: new@email.com
                      - emailId: swamiananthawork@gmail.com
                        name: Swami Work
                      - emailId: dummy.email@gmail2.com
                        name: Dummy email
                      - emailId: prad.bapat@gmail.com
                        name: Pradnya Bapat
                      - emailId: zdfgdsfg@vsfgv.sdf
                        name: zdfgdsfg@vsfgv.sdf
                    name: Email Channel
                    type: EMAIL
                  notifTypeDetails:
                  - notifCategoryList:
                    - bestPractice: false
                      name: Dataplane
                      subCategoryList:
                      - bestPractice: false
                        name: Other Updates
                      - bestPractice: false
                        name: Postponed
                      - bestPractice: true
                        name: Error
                      - bestPractice: true
                        name: Completed
                      - bestPractice: false
                        name: Rolled back
                    type: UPGRADES
                  opState: ENABLED
                  profileName: Upgrades_Profile
                  tenantList:
                  - '1444672864'
                  - '1750393864'
                  - '1034376033'
                  - '1611363357'
                  - '1213310096'
                  - '1797990641'
                requestId: 0cbf27c6-7539-41e8-aa88-0ca05d9f7375
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              example:
                error:
                  errorCode: 60004
                  errorType: VALIDATION_ERROR
                  httpStatus: 404
                  msg: Notification Profile not found
                requestId: 61e29573-8df8-4423-af60-a88f1ee86950
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - NotificationProfiles
      summary: Palo Alto Networks Delete a Notification Profile
      description: '### Overview


        Delete the notification associated with the specified notification ID.'
      parameters:
      - name: notification-profile-id
        in: path
        schema:
          type: string
        required: true
        example: '606186'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
              example:
                data: Successfully deleted notification profile:e6ea3fef-53c4-4be6-855b-44fcbae60735
                requestId: fe2dc319-8171-41b5-8077-98762d92706a
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              example:
                requestId: ec1c092c-c4da-40fb-86d7-12544715021c
                data: null
                error:
                  httpStatus: 404
                  errorCode: 60004
                  errorType: VALIDATION_ERROR
                  msg: Notification Profile not found
                  details: null
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/cloud/2.0/agg/notifications/profiles/opstate:
    put:
      tags:
      - NotificationProfiles
      summary: Palo Alto Networks Enable / Disable Profile
      description: '### Overview

        This API is used to enable / disable the input notification profile.


        The notification profile must be enabled to act on the notification inputs and generate the required multi-tenant notifications'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profileId:
                  description: Notification profile id
                  type: string
                opState:
                  description: New operational state value
                  type: string
                  enum:
                  - ENABLED
                  - DISABLED
            examples:
              Enable Profile:
                value:
                  profileId: '5678987898098'
                  opState: ENABLED
              Disable Profile:
                value:
                  profileId: '5678987898098'
                  opState: DISABLED
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  profileId:
                    description: Notification profile id
                    type: string
                  opState:
                    description: New operational state value
                    type: string
                    enum:
                    - ENABLED
                    - DISABLED
              examples:
                example-0:
                  summary: Enable Profile
                  value:
                    data:
                      opState: ENABLED
                      profileId: 251155bd-a0ad-41ef-8b01-b4ca10ad2634
                    requestId: a10b6d7d-7c7c-41c4-8257-1606cc71e67e
                example-1:
                  summary: Disable Profile
                  value:
                    data:
                      opState: DISABLED
                      profileId: 251155bd-a0ad-41ef-8b01-b4ca10ad2634
                    requestId: 343b6dfa-1a23-4e96-a1fd-fdbeee034b75
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              example:
                requestId: ec1c092c-c4da-40fb-86d7-12544715021c
                data: null
                error:
                  httpStatus: 404
                  errorCode: 60004
                  errorType: VALIDATION_ERROR
                  msg: Notification Profile not found
                  details: null
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/cloud/2.0/agg/notifications/profiles/types:
    get:
      tags:
      - NotificationProfiles
      summary: Palo Alto Networks Retrieve Notification Types
      description: '### Overview

        List valid notifications types, categories for each type and sub-categories under each category.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifTypeDetail'
              example:
                data:
                - type: ANNOUNCEMENTS
                - notifCategoryList:
                  - bestPractice: false
                    name: RN
                    subCategoryList:
                    - bestPractice: true
                      name: INC_RN_ECMP_BGP_DOWN
                    - bestPractice: true
                      name: INC_RN_SECONDARY_WAN_BGP_DOWN
                    - bestPractice: false
                      name: INC_RN_PRIMARY_WAN_BGP_FLAP
                    - bestPractice: false
                      name: INC_RN_SPN_LONG_DURATION_CAPACITY_EXCEEDED_THRESHOLD
                    - bestPractice: true
                      name: INC_RN_ECMP_TUNNEL_RTT_EXCEEDED_BASELINE
                    - bestPractice: true
                      name: INC_RN_PRIMARY_WAN_TUNNEL_DOWN
                    - bestPractice: true
                      name: INC_RN_PRIMARY_WAN_TUNNEL_RTT_EXCEEDED_BASELINE
                    - bestPractice: true
                      name: INC_RN_PRIMARY_WAN_BGP_DOWN
                    - bestPractice: true
                      name: INC_RN_SECONDARY_WAN_TUNNEL_RTT_EXCEEDED_BASELINE
                    - bestPractice: false
                      name: INC_RN_PRIMARY_WAN_TUNNEL_FLAP
                    - bestPractice: true
                      name: INC_RN_SITE_LONG_DURATION_EXCEEDED_CAPACITY
                    - bestPractice: false
                      name: INC_RN_SITE_LONG_DURATION_CAPACITY_EXCEEDED_THRESHOLD
                    - bestPractice: false
                      name: INC_RN_SECONDARY_WAN_BGP_FLAP
                    - bestPractice: true
                      name: INC_RN_SPN_LONG_DURATION_EXCEEDED_CAPACITY
                    - bestPractice: true
                      name: INC_RN_SITE_DOWN
                    - bestPractice: false
                      name: INC_RN_ECMP_BGP_FLAP
                    - bestPractice: false
                      name: INC_RN_SECONDARY_WAN_TUNNEL_FLAP
                    - bestPractice: true
                      name: INC_RN_ECMP_TUNNEL_DOWN
                    - bestPractice: false
                      name: INC_RN_ECMP_TUNNEL_FLAP
                    - bestPractice: false
                      name: INC_RN_SITE_CAPACITY_PREDICTION
                    - bestPractice: true
                      name: INC_RN_SECONDARY_WAN_TUNNEL_DOWN
                  - bestPractice: false
                    name: Authentication
                    subCategoryList:
                    - bestPractice: false
                      name: INC_RN_AUTH_SERVER_UNREACHABLE_ALL_PA_LOCATIONS
                    - bestPractice: true
                      name: INC_CIE_AGENT_DISCONNECT
                    - bestPractice: false
                      name: INC_MU_AUTH_SERVER_UNREACHABLE_PER_PA_LOCATION
                    - bestPractice: false
                      name: INC_PORTAL_CLIENTLESS_VPN_AUTH_TIMEOUT_FAILURES_COUNT_EXCEEDED_ABOVE_BASELINE_PER_PA_LOCATION
                    - bestPractice: false
                      name: INC_RN_AUTH_SERVER_UNREACHABLE_PER_PA_LOCATION
                    - bestPractice: false
                      name: INC_GLOBALPROTECT_GW_USER_AUTH_TIMEOUT_FAILURES_COUNT_EXCEEDED_ABOVE_BASELINE_ALL_PA_LOCATIONS
                    - bestPractice: true
                      name: INC_CIE_DIRECTORY_DISCONNECT
                    - bestPractice: false
                      name: INC_GLOBALPROTECT_PORTAL_AUTH_TIMEOUT_FAILURES_COUNT_EXCEEDED_ABOVE_BASELINE_ALL_PA_LOCATIONS
                    - bestPractice: false
                      name: INC_MU_AUTH_SERVER_UNREACHABLE_ALL_PA_LOCATIONS
                    - bestPractice: false
                      name: INC_PORTAL_CLIENTLESS_VPN_AUTH_TIMEOUT_FAILURES_COUNT_EXCEEDED_ABOVE_BASELINE_ALL_PA_LOCATIONS
                    - bestPractice: true
                      name: INC_GLOBALPROTECT_GW_USER_AUTH_TIMEOUT_FAILURES_COUNT_EXCEEDED_ABOVE_BASELINE_PER_PA_LOCATION
                    - bestPractice: true
                      name: INC_GLOBALPROTECT_PORTAL_AUTH_TIMEOUT_FAILURES_COUNT_EXCEEDED_ABOVE_BASELINE_PER_PA_LOCATION
                  - bestPractice: false
                    name: SC
                    subCategoryList:
                    - bestPractice: false
                      name: INC_SC_PRIMARY_WAN_BGP_FLAP
                    - bestPractice: true
                      name: INC_SC_SECONDARY_WAN_TUNNEL_DOWN
                    - bestPractice: true
                      name: INC_SC_SITE_DOWN
                    - bestPractice: true
                      name: INC_SC_SECONDARY_WAN_TUNNEL_RTT_EXCEEDED_BASELINE
                    - bestPractice: false
                      name: INC_SC_PRIMARY_WAN_TUNNEL_FLAP
                    - bestPractice: true
                      name: INC_SC_SITE_LONG_DURATION_EXCEEDED_CAPACITY
                    - bestPractice: true
                      name: INC_SC_PRIMARY_WAN_BGP_DOWN
                    - bestPractice: true
                      name: INC_SC_PRIMARY_WAN_TUNNEL_DOWN
                    - bestPractice: true
                      name: INC_SC_SECONDARY_WAN_BGP_DOWN
                    - bestPractice: false
                      name: INC_SC_SITE_CAPACITY_PREDICTION
                    - bestPractice: false
                      name: INC_SC_SITE_LONG_DURATION_CAPACITY_EXCEEDED_THRESHOLD
                    - bestPractice: true
                      name: INC_SC_PRIMARY_WAN_TUNNEL_RTT_EXCEEDED_BASELINE
                    - bestPractice: false
                      name: INC_SC_SECONDARY_WAN_TUNNEL_FLAP
                    - bestPractice: false
                      name: INC_SC_SECONDARY_WAN_BGP_FLAP
                  - bestPractice: false
                    name: Security
                    subCategoryList:
                    - bestPractice: false
                      name: INC_GENERALIZED_BLOCK_SECURITY_RULE_COVERED_BY_LOWER_ORDER_ALLOW_RULE
                    - bestPractice: true
                      name: INC_SHADOWED_ALLOW_SECURITY_RULE_COVERED_BY_HIGHER_ORDER_BLOCK_RULE
                    - bestPractice: false
                      name: INC_REDUNDANT_BLOCK_SECURITY_RULE_COVERED_BY_HIGHER_ORDER_BLOCK_RULE
                    - bestPractice: false
                      name: INC_REDUNDANT_BLOCK_SECURITY_RULE_COVERED_BY_LOWER_ORDER_BLOCK_RULE
                    - bestPractice: true
                      name: INC_REDUNDANT_ALLOW_SECURITY_RULE_COVERED_BY_HIGHER_ORDER_ALLOW_RULE
                    - bestPractice: false
                      name: INC_GENERALIZED_ALLOW_SECURITY_RULE_COVERED_BY_LOWER_ORDER_BLOCK_RULE
                    - bestPractice: true
                      name: INC_SHADOWED_BLOCK_SECURITY_RULE_COVERED_BY_HIGHER_ORDER_ALLOW_RULE
                    - bestPractice: false
                      name: INC_REDUNDANT_ALLOW_SECURITY_RULE_COVERED_BY_LOWER_ORDER_ALLOW_RULE
                  - bestPractice: false
                    name: Prisma Access Infrastructure
                    subCategoryList:
                    - bestPractice: true
                      name: INC_PA_SERVICE_DEGRADATION_PA_LOCATION
                    - bestPractice: true
                      name: INC_PA_SERVICE_DEGRADATION_RN_SITE_CONNECTIVITY
                    - bestPractice: true
                      name: INC_PA_SERVICE_DEGRADATION_SC_CONNECTIVITY
                  - bestPractice: false
                    name: ZTNA
                    subCategoryList:
                    - bestPractice: false
                      name: INC_ZTNA_CONNECTOR_TUNNEL_DOWN
                    - bestPractice: false
                      name: INC_ZTNA_CONNECTOR_APP_STATUS_DOWN_PARTIAL
                    - bestPractice: false
                      name: INC_ZTNA_CONNECTOR_APP_STATUS_DOWN
                  - bestPractice: false
                    name: MU
                    subCategoryList:
                    - bestPractice: false
                      name: INC_MU_IP_POOL_BLOCK_UTILIZATION_EXCEEDED_THRESHOLD
                    - bestPractice: true
                      name: INC_MU_IP_POOL_BLOCK_UTILIZATION_EXCEEDED_CAPACITY
                  - bestPractice: false
                    name: DNS
                    subCategoryList:
                    - bestPractice: false
                      name: INC_RN_DNS_SERVER_UNREACHABLE_ALL_PA_LOCATIONS
                    - bestPractice: false
                      name: INC_MU_DNS_SERVER_UNREACHABLE_PER_PA_LOCATION
                    - bestPractice: false
                      name: INC_MU_DNS_SERVER_UNREACHABLE_ALL_PA_LOCATIONS
                    - bestPractice: false
                      name: INC_RN_DNS_SERVER_UNREACHABLE_PER_PA_LOCATION
                  - bestPractice: false
                    name: GP
                    subCategoryList:
                    - bestPractice: false
                      name: INC_GP_CLIENT_VERSION_UNSUPPORTED
                  - bestPractice: false
                    name: Application Experience
                    subCategoryList:
                    - bestPractice: true
                      name: INC_RN_APP_EXPERIENCE_DEGRADED_PERFORMANCE_PER_PA_LOCATION
                    - bestPractice: false
                      name: INC_RN_APP_EXPERIENCE_DEGRADED_PERFORMANCE_ALL_PA_LOCATIONS
                    - bestPractice: true
                      name: INC_MU_APP_EXPERIENCE_DEGRADED_PERFORMANCE_PER_PA_LOCATION
                    - bestPractice: false
                      name: INC_MU_APP_EXPERIENCE_DEGRADED_PERFORMANCE_ALL_PA_LOCATIONS
                    - bestPractice: false
                      name: INC_MU_APP_EXPERIENCE_UNREACHABLE_ALL_PA_LOCATIONS
                    - bestPractice: true
                      name: INC_RN_APP_EXPERIENCE_UNREACHABLE_PER_PA_LOCATION
                    - bestPractice: true
                      name: INC_MU_APP_EXPERIENCE_UNREACHABLE_PER_PA_LOCATION
                    - bestPractice: false
                      name: INC_RN_APP_EXPERIENCE_UNREACHABLE_ALL_PA_LOCATIONS
                  type: INCIDENTS
                - notifCategoryList:
                  - bestPractice: false
                    name: Dataplane
                    subCategoryList:
                    - bestPractice: false
                      name: Postponed
                    - bestPractice: true
                      name: Error
                    - bestPractice: false
                      name: Other
                    - bestPractice: true
                      name: Completed
                    - bestPractice: false
                      name: Rolled back
                    - bestPractice: true
                      name: In Progress
                    - bestPractice: true
                      name: Scheduled
                    - bestPractice: false
                      name: Retry
                    - bestPractice: true
                      name: Cancelled
                  type: UPGRADES
                requestId: 07acc707-dfb2-4f63-be53-a827fe7c38d1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/cloud/2.0/agg/notifications/profiles/webhook/test:
    post:
      tags:
      - NotificationProfiles
      summary: Palo Alto Networks Webhook Connectivity Check
      description: '### Overview


        Test webhook connectivity from the multi-tenant notification service

        to the provided notification webhook URL'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookChannelDetails'
            examples:
              No Auth:
                value:
                  auth_type: NO_AUTH
                  urls:
                  - www.test-1.webhook.com
              Token Authentication:
                value:
                  urls:
                  - www.test-1.webhook.com
                  auth_type: TOKEN
                  token: 698767879
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
              example:
                data: Webhook Connectivity Check Success
                requestId: 8f29ba1a-3e5f-41a9-830f-20e4b1db9e19
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Invalid Tenant List
                  value:
                    requestId: ec1c092c-c4da-40fb-86d7-12544715021c
                    data: null
                    error:
                      httpStatus: 400
                      errorCode: 60001
                      errorType: VALIDATION_ERROR
                      msg: Webhook must be valid https url
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/cloud/2.0/agg/notifications/profiles/retryOp:
    post:
      tags:
      - NotificationProfiles
      summary: Palo Alto Networks Incident Profile Retry Operation
      description: '### Overview

        Multi-Tenant Incident Profiles are pushed down to each of the selected child tenants.


        If the incident profile was not successfully pushed to one or more child tenants,

        then the user has the option of retrying the incident profile push to the selected child tenants.


        This API provides the mechanism to retry the incident profile push to the selected child tenants.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                profileId:
                  description: Notification profile id
                  type: string
                tenantList:
                  type: array
                  description: List of TSG Ids
                  items:
                    type: string
              example:
                profileId: <notification-profile-id>
                tenantList:
                - tsgId1
                - tsgId2
            examples:
              DefaultRequestExample:
                summary: Default POST request
                x-microcks-default: true
                value:
                  profileId: '957170'
                  tenantList:
                  - example-tenantList_item
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
              example:
                data: Successfully triggered retry operation:e6ea3fef-53c4-4be6-855b-44fcbae60735
                requestId: fe2dc319-8171-41b5-8077-98762d92706a
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Invalid Tenant List
                  value:
                    requestId: ec1c092c-c4da-40fb-86d7-12544715021c
                    data: null
                    error:
                      httpStatus: 400
                      errorCode: 60040
                      errorType: VALIDATION_ERROR
                      msg: Invalid tenants in the list
                      details: Invalid tenants in the retry operation tenant1, tenant2
                example-1:
                  summary: Invalid Operation
                  value:
                    requestId: ec1c092c-c4da-40fb-86d7-12544715021c
                    data: null
                    error:
                      httpStatus: 400
                      errorCode: 60036
                      errorType: VALIDATION_ERROR
                      msg: Retry is allowed only for incidents profile
                      details: null
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
              example:
                requestId: ec1c092c-c4da-40fb-86d7-12544715021c
                data: null
                error:
                  httpStatus: 404
                  errorCode: 60004
                  errorType: VALIDATION_ERROR
                  msg: Notification Profile not found
                  details: null
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    NotifTypeDetail:
      required:
      - type
      - notifCategoryList
      type: object
      properties:
        type:
          description: Notification Type
          type: string
          enum:
          - INCIDENTS
          - UPGRADES
          - ANNOUNCEMENTS
          example: INCIDENTS
        notifCategoryList:
          description: List of notification type categories
          type: array
          items:
            $ref: '#/components/schemas/NotifCategoryDetail'
          example:
          - name: Production Agent 58
            bestPractice: true
            subCategoryList:
            - name: Production Gateway 95
              bestPractice: true
              needLicense: false
            - name: Production Gateway 70
              bestPractice: true
              needLicense: false
    NotifProfile:
      required:
      - profileName
      - opState
      - status
      - tenantList
      - notifTypeDetails
      - notifChannels
      type: object
      properties:
        id:
          description: Notification Profile Id
          type: string
          example: example-id
        profileName:
          description: Notification Profile Name
          type: string
          example: Corporate Gateway 25
        description:
          description: Notification Profile Description
          type: string
          example: Network configured incident threat network suspicious.
        opState:
          description: Notification Profile Operational State
          type: string
          enum:
          - ENABLED
          - DISABLED
          example: ENABLED
        status:
          description: Notification Profile Status
          type: string
          example: active
        tenantList:
          description: Input Tenant List
          type: array
          items:
            type: string
          example:
          - example-tenantList_item
          - example-tenantList_item
        excludeTenantList:
          description: List of excluded tenants
          type: array
          items:
            type: string
          example:
          - example-excludeTenantList_item
          - example-excludeTenantList_item
        notifTypeDetails:
          description: Notification Type Detail
          type: array
          items:
            $ref: '#/components/schemas/NotifTypeDetail'
          example:
          - type: INCIDENTS
            notifCategoryList:
            - name: Staging Firewall 26
              bestPractice: true
              subCategoryList:
              - {}
          - type: UPGRADES
            notifCategoryList:
            - name: Corporate Firewall 25
              bestPractice: false
              subCategoryList:
              - {}
            - name: Production Gateway 34
              bestPractice: true
              subCategoryList:
              - {}
        notifChannels:
          description: Notification Channel List
          type: array
          items:
            $ref: '#/components/schemas/NotifChannel'
          example:
          - name: Staging Policy 07
            type: WEBHOOK
            emailChannelDetails: {}
            webhookChannelDetails: {}
            template:
              name: Branch Sensor 49
              templateJson: example-templateJson
          - name: Primary Policy 34
            type: WEBHOOK
            emailChannelDetails: {}
            webhookChannelDetails: {}
            template:
              name: Staging Agent 97
              templateJson: example-templateJson
        successTenant:
          description: List of child tenants that got the incident profile
          type: array
          items:
            type: string
          example:
          - example-successTenant_item
          - example-successTenant_item
        failureTenant:
          description: List of child tenants that didn't get the incident profile
          type: array
          items:
            type: string
          example:
          - example-failureTenant_item
    NotifChannel:
      required:
      - name
      - type
      type: object
      properties:
        name:
          description: Notification channel name
          type: string
          example: Staging Firewall 47
        type:
          description: Notification channel type
          type: string
          enum:
          - EMAIL
          - WEBHOOK
          example: EMAIL
        emailChannelDetails:
          description: Email channel details
          type: object
          additionalProperties:
            $ref: '#/components/schemas/EmailChannelDetails'
          example: {}
        webhookChannelDetails:
          description: Webhook channel details
          type: object
          additionalProperties:
            $ref: '#/components/schemas/WebhookChannelDetails'
          example: {}
        template:
          description: Channel output template
          type: object
          properties:
            name:
              description: Output channel template name
              type: string
              example: Corporate Agent 74
            templateJson:
              description: JSON describing the output channel template
              type: string
              example: example-templateJson
          example:
            name: Production Policy 39
            templateJson: example-templateJson
    NotifCategoryDetail:
      required:
      - name
      - bestPractice
      - subCategoryList
      type: object
      properties:
        name:
          description: Notification type category name
          type: string
          example: Corporate Policy 41
        bestPractice:
          description: Best practice flag for category
          type: boolean
          example: true
        subCategoryList:
          description: List of notification type sub-categories
          type: array
          items:
            $ref: '#/components/schemas/NotifSubCategoryDetail'
          example:
          - name: Production Agent 59
            bestPractice: true
            needLicense: false
          - name: Branch Sensor 85
            bestPractice: false
            needLicense: true
    EmailDetails:
      required:
      - name
      - emailId
      type: object
      properties:
        name:
          description: Email owner name
          type: string
          example: Branch Gateway 65
        emailId:
          description: Email id
          type: string
          example: '791552'
    EmailChannelDetails:
      required:
      - emails
      type: object
      properties:
        emails:
          description: List of emails
          type: array
          items:
            $ref: '#/components/schemas/EmailDetails'
          example:
          - name: Corporate Agent 40
            emailId: '325822'
    NotifProfileList:
      type: array
      items:
        $ref: '#/components/schemas/NotifProfile'
    NotifSubCategoryDetail:
      required:
      - name
      - bestPractice
      - needLicense
      type: object
      properties:
        name:
          description: Notification type sub-category name
          type: string
          example: Production Firewall 19
        bestPractice:
          description: Best practice flag for sub-category
          type: boolean
          example: false
        needLicense:
          description: Need license flag for sub-category
          type: boolean
          example: false
    WebhookChannelDetails:
      required:
      - urls
      - authType
      - token
      type: object
      properties:
        urls:
          description: List of Webhook URLs - do not include token in the URL
          type: array
          items:
            type: string
          example:
          - example-urls_item
        authType:
          description: Webhook Authentication Type
          type: string
          enum:
          - NO_AUTH
          - TOKEN
          example: TOKEN
        token:
          description: Webhook token value
          type: string
          example: 2a9211b7e1e46039628e349128c436ce
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
