openapi: 3.1.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Containers API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Containers
  description: Running container inventory and security posture.
paths:
  /containers:
    get:
      operationId: getContainers
      summary: Palo Alto Networks List Running Containers
      description: Returns information about all running containers monitored by Prisma Cloud Compute Defenders. Includes container metadata, associated image scan results, network information, and runtime profile status.
      tags:
      - Containers
      parameters:
      - name: offset
        in: query
        description: Number of records to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of records to return.
        schema:
          type: integer
          default: 50
        example: 50
      - name: search
        in: query
        description: Search term to filter containers by name or image.
        schema:
          type: string
        example: example-search
      - name: collections
        in: query
        description: Filter by collection name.
        schema:
          type: string
        example: example-collections
      - name: clusters
        in: query
        description: Filter by cluster name.
        schema:
          type: string
        example: example-clusters
      - name: hostname
        in: query
        description: Filter by host where the container is running.
        schema:
          type: string
        example: host-b981
      responses:
        '200':
          description: Container list returned successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Container'
              examples:
                GetContainers200Example:
                  summary: Default getContainers 200 response
                  x-microcks-default: true
                  value:
                  - _id: '441805'
                    name: Staging Sensor 73
                    hostname: host-ec79
                    imageId: '178488'
                    imageName: Staging Sensor 95
                    state: exited
                    created: '2026-06-08T07:42:55Z'
                    cluster: example-cluster
                    namespace: Branch Firewall 92
                    vulnerabilitiesCount: 280
                    complianceIssuesCount: 855
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Invalid or expired authentication credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Container:
      type: object
      properties:
        _id:
          type: string
          description: Unique container identifier.
          example: '441805'
        name:
          type: string
          description: Container name.
          example: Staging Sensor 73
        hostname:
          type: string
          description: Host where the container is running.
          example: host-ec79
        imageId:
          type: string
          description: ID of the container image.
          example: '178488'
        imageName:
          type: string
          description: Full image name including registry, repository, and tag.
          example: Staging Sensor 95
        state:
          type: string
          enum:
          - running
          - created
          - exited
          - paused
          description: Current container state.
          example: exited
        created:
          type: string
          format: date-time
          description: Container creation timestamp.
          example: '2026-06-08T07:42:55Z'
        cluster:
          type: string
          description: Kubernetes cluster name.
          example: example-cluster
        namespace:
          type: string
          description: Kubernetes namespace.
          example: Branch Firewall 92
        vulnerabilitiesCount:
          type: integer
          description: Number of vulnerabilities in the container image.
          example: 280
        complianceIssuesCount:
          type: integer
          description: Number of compliance issues for this container.
          example: 855
    ErrorResponse:
      type: object
      properties:
        err:
          type: string
          description: Error message.
          example: example-err
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
