openapi: 3.2.0
info:
  title: Prisma AIRS Red Teaming Dataplane Sentiment API
  description: Red Teaming Data Plane API - Data processing and scanning services for AI/ML model security. © 2025 Palo Alto Networks, Inc
  version: 0.7.75
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  license:
    name: MIT
    url: https://opensource.org/license/mit
  contact:
    email: support@paloaltonetworks.com
    name: Palo Alto Networks Technical Support
    url: https://support.paloaltonetworks.com
servers:
- url: https://api.sase.paloaltonetworks.com/ai-red-teaming/data-plane
security:
- bearerAuth: []
tags:
- name: Sentiment
  description: Operations for managing sentiment and scan report summaries.
paths:
  /v1/sentiment:
    post:
      tags:
      - Sentiment
      summary: Update sentiment scan report
      description: Create or update sentiment for a job report.
      operationId: create_or_update_sentiment_v1_sentiment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SentimentRequestSchema'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/sentiment/{job_id}:
    get:
      tags:
      - Sentiment
      summary: Get sentiment for a scan
      description: Get Sentiment status of a scan.
      operationId: get_job_sentiment_v1_sentiment__job_id__get
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Job Id
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SentimentResponseSchema'
        422:
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    SentimentResponseSchema:
      properties:
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Id of the job scan
        up_vote:
          type: boolean
          title: Up Vote
          description: Up vote for the job scan report summary
          default: false
          examples:
          - false
        down_vote:
          type: boolean
          title: Down Vote
          description: Down vote for the job scan report summary
          default: false
          examples:
          - false
      additionalProperties: false
      type: object
      required:
      - job_id
      title: SentimentResponseSchema
      description: Sentiment Response for report summary.
    SentimentRequestSchema:
      properties:
        job_id:
          type: string
          format: uuid
          title: Job Id
          description: Id of the job scan
        up_vote:
          type: boolean
          title: Up Vote
          description: Up vote for the job scan report summary
          default: false
          examples:
          - false
        down_vote:
          type: boolean
          title: Down Vote
          description: Down vote for the job scan report summary
          default: false
          examples:
          - false
      additionalProperties: false
      type: object
      required:
      - job_id
      title: SentimentRequestSchema
      description: Sentiment Request for report summary.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
