openapi: 3.2.0
info:
  contact:
    email: support@paloaltonetworks.com
  description: 'This Open API spec file represents the APIs available for

    [Palo Alto Networks Aggregate Monitoring](https://docs.paloaltonetworks.com/NEED-URL) APIs.


    After you have configured your tenants, these APIs can be used to perform aggregated monitoring queries for information about applications, threats, URLs, and licenses across all your tenants of a Prisma Access or Prisma SD-WAN instance.


    These APIs use the common SASE authentication mechanism and base URL. See the

    [Prisma SASE API Get Started](https://pan.dev/sase/docs/getstarted) guide for more information.


    This Open API spec file was created on October 01, 2024. To check for a more recent version of this file, see

    [Aggregate Monitoring APIs on pan.dev](https://pan.dev/sase/api/mt-monitor/).


    © 2024 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo

    Alto Networks. A list of our trademarks can be found at


    [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html)


    All other marks mentioned herein may be trademarks of their respective companies.

    '
  title: Aggreagate Monitoring Application Monitor Resource API
  version: '1.0'
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- description: 'Application Monitor

    '
  name: Application Monitor Resource API
paths:
  /mt/monitor/v1/agg/custom/appMonitor/applications:
    get:
      description: 'Get application details for a given tenant with historical application experience trend.

        '
      operationId: get-mt-monitor-v1-agg-custom-appmonitor-applications
      parameters:
      - description: 'Provide details of the application.

          '
        in: query
        name: details
        schema:
          type: string
      - description: "Specify the time you want to end. \n"
        in: query
        name: end_time
        schema:
          format: int64
          type: integer
      - description: 'Specify the time you want to start.

          '
        in: query
        name: start_time
        schema:
          format: int64
          type: integer
      - description: 'Specify the time range to monitor the application

          '
        in: query
        name: time_period
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Applications for selected tenant with application score and data usage:
                  value:
                    data:
                    - appName: Slack (Predefined)
                      dataUsage: 0
                      mu:
                        devices: 1
                        expScore: 0
                        fair: 0
                        good: 0
                        poor: 1
                      sessions: 0
                    - appName: Gmail
                      dataUsage: 0
                      mu:
                        devices: 1
                        expScore: 99.7
                        fair: 0
                        good: 1
                        poor: 0
                      sessions: 0
                    - appName: Salesforce (Predefined)
                      dataUsage: 0
                      mu:
                        devices: 1
                        expScore: 93.3
                        fair: 0
                        good: 1
                        poor: 0
                      sessions: 0
                    header:
                      clientRequestId: f23fc52c-59cd-4615-bf28-3747b60fe7df
                      createdAt: 2024-06-21 16:54:31+00:00
                      dataCount: 3
                      status:
                        subCode: 200
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
      summary: Get Application details with experience trend
      tags:
      - Application Monitor Resource API
  /mt/monitor/v1/agg/custom/appMonitor/nodeTrend:
    get:
      description: 'Get Application Monitor historical application experience trend.

        '
      operationId: get-mt-monitor-v1-agg-custom-appmonitor-nodetrend
      parameters:
      - description: 'Provide the name of the application.

          '
        in: query
        name: app
        schema:
          type: string
      - description: 'Provide the application name to get the historical application experience score.

          '
        in: query
        name: compare
        schema:
          type: string
      - description: "Specify the time you want to end. \n"
        in: query
        name: end_time
        schema:
          format: int64
          type: integer
      - description: 'If the user does not specify a node type, the system defaults to selecting both Remote Networks and Mobile Users.

          '
        in: query
        name: nodeType
        schema:
          type: string
      - description: 'Provide the time you want to start.

          '
        in: query
        name: start_time
        schema:
          format: int64
          type: integer
      - description: "Specify the time period you want to run the historical application experience score. \n"
        in: query
        name: time_period
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Node Trend with Application Score:
                  value:
                    data:
                    - app_score: 0
                      event_time: 1718382600
                      mu_exp_score: 65.5
                      rn_exp_score: 0
                    - app_score: 0
                      event_time: 1718384400
                      mu_exp_score: 63.5
                      rn_exp_score: 0
                    - app_score: 0
                      event_time: 1718386200
                      mu_exp_score: 63.5
                      rn_exp_score: 0
                    - app_score: 0
                      event_time: 1718388000
                      mu_exp_score: 64.8
                      rn_exp_score: 0
                    header:
                      clientRequestId: f23fc52c-59cd-4615-bf28-3747b60fe7df
                      createdAt: 2024-06-21 16:54:29+00:00
                      dataCount: 336
                      status:
                        subCode: 200
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
      summary: Get Application Monitor experience trend
      tags:
      - Application Monitor Resource API
  /mt/monitor/v1/agg/custom/appMonitor/tenants:
    get:
      description: 'Provides a list of all child tenants, including their Remote Networks (RN) and Mobile Users (MU) scores, usage data, number of unique apps, and session information.

        '
      operationId: get-mt-monitor-v1-agg-custom-appmonitor-tenants
      parameters:
      - description: "Specify the time you want to end. \n"
        in: query
        name: end_time
        schema:
          format: int64
          type: integer
      - description: 'Specify the time you want to start.

          '
        in: query
        name: start_time
        schema:
          format: int64
          type: integer
      - description: 'Specify the time period.

          '
        in: query
        name: time_period
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Tenants with Application Score:
                  value:
                    data:
                    - mu_exp_score: 10
                      rn_exp_score: 20
                      total_app_usage: 1234
                      total_sessions: 200453
                      tsg_id: '1742631264'
                      unique_app_count: 20
                    - mu_exp_score: 200
                      rn_exp_score: 2
                      total_app_usage: 76857
                      total_sessions: 33
                      tsg_id: '1942831464'
                      unique_app_count: 90
                    - mu_exp_score: 10
                      rn_exp_score: 20
                      total_app_usage: 9987
                      total_sessions: 7587
                      tsg_id: '20744631264'
                      unique_app_count: 40
                    header:
                      clientRequestId: bQjz75Kp8L84_XSpnpbdOqJ7CanAio5rpdBJyfM0
                      createdAt: 2022-05-24 18:45:23+00:00
                      dataCount: 4
                      status:
                        subCode: 200
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
      summary: Get child tenant information
      tags:
      - Application Monitor Resource API
components:
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
