openapi: 3.2.0
info:
  title: Dig Security public Assets API
  description: Dig Security public API. 12 operations across 12 paths.
  version: 1.0.0
  x-description-source: desc/intro.md
servers:
- url: https://api.dig.security
  description: Dig Security public API
- url: PATH_TO_CONSOLE
tags:
- name: Assets
  description: Assets. 2 operations in this definition.
  x-description-source: desc/assets/assets.md
paths:
  /v1/assets:
    get:
      tags:
      - Assets
      operationId: get-assets
      parameters:
      - name: firstDetectedOn.equals
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: firstDetectedOn.greaterThanOrEqual
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: firstDetectedOn.greaterThan
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: firstDetectedOn.lessThanOrEqual
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: firstDetectedOn.lessThan
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: region.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: region.equals
        in: query
        required: false
        schema:
          type: string
      - name: region.contains
        in: query
        required: false
        schema:
          type: string
      - name: region.notContain
        in: query
        required: false
        schema:
          type: string
      - name: cloudProvider.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AWS
            - AZURE
            - GCP
            - SNOWFLAKE
            - FILE_SHARE
            - O365
      - name: cloudProvider.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
      - name: serviceType.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - ATHENA
            - AURORA
            - AWS_BACKUP
            - DOCUMENTDB
            - DYNAMODB
            - DAX
            - EMR
            - EBS
            - EFS
            - ELASTICACHE
            - FSX
            - KINESIS_DELIVERY_STREAM
            - MEMORYDB
            - NEPTUNE
            - QLDB
            - RDS
            - REDSHIFT
            - S3
            - TIMESTREAM
            - OPENSEARCH
            - OPENSEARCH_SERVERLESS
            - COSMOS_DB
            - SYNAPSE
            - CACHE_FOR_REDIS
            - MARIA_DB
            - MYSQL_SERVER
            - POSTGRESQL_SERVER
            - SQL_SERVER
            - STORAGE_ACCOUNT
            - SQL_MANAGED_INSTANCE
            - ANF
            - CLOUD_STORAGE
            - CLOUD_SQL
            - BIG_QUERY
            - FILE_STORE
            - CLOUD_SPANNER
            - MEMORY_STORE
            - BIG_TABLE
            - FIRE_STORE
            - UNMANAGED_AWS_MYSQL
            - UNMANAGED_AWS_ORACLE_SERVER
            - UNMANAGED_AWS_MONGO_DB
            - UNMANAGED_AWS_POSTGRESQL
            - UNMANAGED_AWS_REDIS
            - UNMANAGED_AWS_SQLITE
            - UNMANAGED_AWS_MS_SQL
            - UNMANAGED_AWS_MARIA_DB
            - UNMANAGED_AWS_NEO4_J
            - UNMANAGED_AWS_ELASTIC
            - UNMANAGED_AWS_COCKROACH_DB
            - UNMANAGED_AWS_AEROSPIKE
            - UNMANAGED_AWS_SCYLLA_DB
            - UNMANAGED_AZURE_MYSQL
            - UNMANAGED_AZURE_ORACLE_SERVER
            - UNMANAGED_AZURE_MONGO_DB
            - UNMANAGED_AZURE_POSTGRESQL
            - UNMANAGED_AZURE_REDIS
            - UNMANAGED_AZURE_SQLITE
            - UNMANAGED_AZURE_MS_SQL
            - UNMANAGED_AZURE_MARIA_DB
            - UNMANAGED_AZURE_NEO4_J
            - UNMANAGED_AZURE_ELASTIC
            - UNMANAGED_AZURE_COCKROACH_DB
            - UNMANAGED_AZURE_AEROSPIKE
            - UNMANAGED_AZURE_SCYLLA_DB
            - UNMANAGED_GCP_MYSQL
            - UNMANAGED_GCP_ORACLE_SERVER
            - UNMANAGED_GCP_MONGO_DB
            - UNMANAGED_GCP_POSTGRESQL
            - UNMANAGED_GCP_REDIS
            - UNMANAGED_GCP_SQLITE
            - UNMANAGED_GCP_MS_SQL
            - UNMANAGED_GCP_MARIA_DB
            - UNMANAGED_GCP_NEO4_J
            - UNMANAGED_GCP_ELASTIC
            - UNMANAGED_GCP_COCKROACH_DB
            - UNMANAGED_GCP_AEROSPIKE
            - UNMANAGED_GCP_SCYLLA_DB
            - SNOWFLAKE_DB
            - FILE_SHARE
            - ONE_DRIVE
            - SHARE_POINT
            - AZURE_OPEN_AI_DEPLOYMENT
            - VERTEX_ENDPOINT
            - BEDROCK_PROVISIONED_THROUGHPUT
            - BEDROCK_AGENT
            - UNMANAGED_AI_AWS_FALCON
            - UNMANAGED_AI_AWS_LLAMA
            - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
            - UNMANAGED_AI_AWS_GEMMA
            - UNMANAGED_AI_AWS_GPT2
            - UNMANAGED_AI_AWS_MISTRAL
            - UNMANAGED_AI_AWS_PHI
            - UNMANAGED_AI_AWS_QWEN2
            - UNMANAGED_AI_AWS_ROBERTA
            - UNMANAGED_AI_AWS_JAMBA
            - UNMANAGED_AI_AZURE_FALCON
            - UNMANAGED_AI_AZURE_LLAMA
            - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
            - UNMANAGED_AI_AZURE_GEMMA
            - UNMANAGED_AI_AZURE_GPT2
            - UNMANAGED_AI_AZURE_MISTRAL
            - UNMANAGED_AI_AZURE_PHI
            - UNMANAGED_AI_AZURE_QWEN2
            - UNMANAGED_AI_AZURE_ROBERTA
            - UNMANAGED_AI_AZURE_JAMBA
            - UNMANAGED_AI_GCP_FALCON
            - UNMANAGED_AI_GCP_LLAMA
            - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
            - UNMANAGED_AI_GCP_GEMMA
            - UNMANAGED_AI_GCP_GPT2
            - UNMANAGED_AI_GCP_MISTRAL
            - UNMANAGED_AI_GCP_PHI
            - UNMANAGED_AI_GCP_QWEN2
            - UNMANAGED_AI_GCP_ROBERTA
            - UNMANAGED_AI_GCP_JAMBA
      - name: serviceType.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - ATHENA
          - AURORA
          - AWS_BACKUP
          - DOCUMENTDB
          - DYNAMODB
          - DAX
          - EMR
          - EBS
          - EFS
          - ELASTICACHE
          - FSX
          - KINESIS_DELIVERY_STREAM
          - MEMORYDB
          - NEPTUNE
          - QLDB
          - RDS
          - REDSHIFT
          - S3
          - TIMESTREAM
          - OPENSEARCH
          - OPENSEARCH_SERVERLESS
          - COSMOS_DB
          - SYNAPSE
          - CACHE_FOR_REDIS
          - MARIA_DB
          - MYSQL_SERVER
          - POSTGRESQL_SERVER
          - SQL_SERVER
          - STORAGE_ACCOUNT
          - SQL_MANAGED_INSTANCE
          - ANF
          - CLOUD_STORAGE
          - CLOUD_SQL
          - BIG_QUERY
          - FILE_STORE
          - CLOUD_SPANNER
          - MEMORY_STORE
          - BIG_TABLE
          - FIRE_STORE
          - UNMANAGED_AWS_MYSQL
          - UNMANAGED_AWS_ORACLE_SERVER
          - UNMANAGED_AWS_MONGO_DB
          - UNMANAGED_AWS_POSTGRESQL
          - UNMANAGED_AWS_REDIS
          - UNMANAGED_AWS_SQLITE
          - UNMANAGED_AWS_MS_SQL
          - UNMANAGED_AWS_MARIA_DB
          - UNMANAGED_AWS_NEO4_J
          - UNMANAGED_AWS_ELASTIC
          - UNMANAGED_AWS_COCKROACH_DB
          - UNMANAGED_AWS_AEROSPIKE
          - UNMANAGED_AWS_SCYLLA_DB
          - UNMANAGED_AZURE_MYSQL
          - UNMANAGED_AZURE_ORACLE_SERVER
          - UNMANAGED_AZURE_MONGO_DB
          - UNMANAGED_AZURE_POSTGRESQL
          - UNMANAGED_AZURE_REDIS
          - UNMANAGED_AZURE_SQLITE
          - UNMANAGED_AZURE_MS_SQL
          - UNMANAGED_AZURE_MARIA_DB
          - UNMANAGED_AZURE_NEO4_J
          - UNMANAGED_AZURE_ELASTIC
          - UNMANAGED_AZURE_COCKROACH_DB
          - UNMANAGED_AZURE_AEROSPIKE
          - UNMANAGED_AZURE_SCYLLA_DB
          - UNMANAGED_GCP_MYSQL
          - UNMANAGED_GCP_ORACLE_SERVER
          - UNMANAGED_GCP_MONGO_DB
          - UNMANAGED_GCP_POSTGRESQL
          - UNMANAGED_GCP_REDIS
          - UNMANAGED_GCP_SQLITE
          - UNMANAGED_GCP_MS_SQL
          - UNMANAGED_GCP_MARIA_DB
          - UNMANAGED_GCP_NEO4_J
          - UNMANAGED_GCP_ELASTIC
          - UNMANAGED_GCP_COCKROACH_DB
          - UNMANAGED_GCP_AEROSPIKE
          - UNMANAGED_GCP_SCYLLA_DB
          - SNOWFLAKE_DB
          - FILE_SHARE
          - ONE_DRIVE
          - SHARE_POINT
          - AZURE_OPEN_AI_DEPLOYMENT
          - VERTEX_ENDPOINT
          - BEDROCK_PROVISIONED_THROUGHPUT
          - BEDROCK_AGENT
          - UNMANAGED_AI_AWS_FALCON
          - UNMANAGED_AI_AWS_LLAMA
          - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AWS_GEMMA
          - UNMANAGED_AI_AWS_GPT2
          - UNMANAGED_AI_AWS_MISTRAL
          - UNMANAGED_AI_AWS_PHI
          - UNMANAGED_AI_AWS_QWEN2
          - UNMANAGED_AI_AWS_ROBERTA
          - UNMANAGED_AI_AWS_JAMBA
          - UNMANAGED_AI_AZURE_FALCON
          - UNMANAGED_AI_AZURE_LLAMA
          - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AZURE_GEMMA
          - UNMANAGED_AI_AZURE_GPT2
          - UNMANAGED_AI_AZURE_MISTRAL
          - UNMANAGED_AI_AZURE_PHI
          - UNMANAGED_AI_AZURE_QWEN2
          - UNMANAGED_AI_AZURE_ROBERTA
          - UNMANAGED_AI_AZURE_JAMBA
          - UNMANAGED_AI_GCP_FALCON
          - UNMANAGED_AI_GCP_LLAMA
          - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
          - UNMANAGED_AI_GCP_GEMMA
          - UNMANAGED_AI_GCP_GPT2
          - UNMANAGED_AI_GCP_MISTRAL
          - UNMANAGED_AI_GCP_PHI
          - UNMANAGED_AI_GCP_QWEN2
          - UNMANAGED_AI_GCP_ROBERTA
          - UNMANAGED_AI_GCP_JAMBA
      - name: digTagKey.contains
        in: query
        required: false
        schema:
          type: string
      - name: digTagValue.contains
        in: query
        required: false
        schema:
          type: string
      - name: lifecycle.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - RUNNING
            - STOPPED
            - DELETED
      - name: lifecycle.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - RUNNING
          - STOPPED
          - DELETED
      - name: label.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: label.equals
        in: query
        required: false
        schema:
          type: string
      - name: label.hasAny
        in: query
        required: false
        schema:
          type: boolean
      - name: openRisksCount.equals
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: openRisksCount.greaterThan
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: openRisksCount.lessThan
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: openRisksCount.lessThanOrEqual
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: openRisksCount.greaterThanOrEqual
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: openToWorld.equals
        in: query
        required: false
        schema:
          type: boolean
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: string
          description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
      - name: page
        in: query
        required: false
        schema:
          type: string
          default: '0'
      - name: size
        in: query
        required: false
        schema:
          maximum: 50
          type: integer
          default: 20
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a list of assets
          headers:
            X-Total-Count:
              description: The total number of items in the page
              style: simple
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetDTO'
      summary: List Assets
      description: 'List Assets. GET /v1/assets on the Assets API. Takes 29 query parameters. Documented responses: 200.'
      x-description-source: desc/assets/get.md
  /v1/assets/id:
    get:
      tags:
      - Assets
      operationId: get-assets-id
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetDTO'
      summary: Describe Asset
      description: 'Describe Asset. GET /v1/assets/id on the Assets API. Takes 1 query parameter. Documented responses: 200.'
      x-description-source: desc/assets/id_get.md
components:
  schemas:
    AssetDigTagDTO:
      type: object
      properties:
        digTagId:
          type: integer
          format: int64
        key:
          type: string
        value:
          type: string
    AssetDTO:
      type: object
      properties:
        firstDiscovered:
          type: string
          format: date-time
        projectId:
          type: string
        projectName:
          type: string
        name:
          type: string
        cloudProvider:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
        cloudEnvironment:
          type: string
          enum:
          - UNKNOWN
          - DEVELOPMENT
          - STAGING
          - TESTING
          - PRODUCTION
        serviceType:
          type: string
          enum:
          - ATHENA
          - AURORA
          - AWS_BACKUP
          - DOCUMENTDB
          - DYNAMODB
          - DAX
          - EMR
          - EBS
          - EFS
          - ELASTICACHE
          - FSX
          - KINESIS_DELIVERY_STREAM
          - MEMORYDB
          - NEPTUNE
          - QLDB
          - RDS
          - REDSHIFT
          - S3
          - TIMESTREAM
          - OPENSEARCH
          - OPENSEARCH_SERVERLESS
          - COSMOS_DB
          - SYNAPSE
          - CACHE_FOR_REDIS
          - MARIA_DB
          - MYSQL_SERVER
          - POSTGRESQL_SERVER
          - SQL_SERVER
          - STORAGE_ACCOUNT
          - SQL_MANAGED_INSTANCE
          - ANF
          - CLOUD_STORAGE
          - CLOUD_SQL
          - BIG_QUERY
          - FILE_STORE
          - CLOUD_SPANNER
          - MEMORY_STORE
          - BIG_TABLE
          - FIRE_STORE
          - UNMANAGED_AWS_MYSQL
          - UNMANAGED_AWS_ORACLE_SERVER
          - UNMANAGED_AWS_MONGO_DB
          - UNMANAGED_AWS_POSTGRESQL
          - UNMANAGED_AWS_REDIS
          - UNMANAGED_AWS_SQLITE
          - UNMANAGED_AWS_MS_SQL
          - UNMANAGED_AWS_MARIA_DB
          - UNMANAGED_AWS_NEO4_J
          - UNMANAGED_AWS_ELASTIC
          - UNMANAGED_AWS_COCKROACH_DB
          - UNMANAGED_AWS_AEROSPIKE
          - UNMANAGED_AWS_SCYLLA_DB
          - UNMANAGED_AZURE_MYSQL
          - UNMANAGED_AZURE_ORACLE_SERVER
          - UNMANAGED_AZURE_MONGO_DB
          - UNMANAGED_AZURE_POSTGRESQL
          - UNMANAGED_AZURE_REDIS
          - UNMANAGED_AZURE_SQLITE
          - UNMANAGED_AZURE_MS_SQL
          - UNMANAGED_AZURE_MARIA_DB
          - UNMANAGED_AZURE_NEO4_J
          - UNMANAGED_AZURE_ELASTIC
          - UNMANAGED_AZURE_COCKROACH_DB
          - UNMANAGED_AZURE_AEROSPIKE
          - UNMANAGED_AZURE_SCYLLA_DB
          - UNMANAGED_GCP_MYSQL
          - UNMANAGED_GCP_ORACLE_SERVER
          - UNMANAGED_GCP_MONGO_DB
          - UNMANAGED_GCP_POSTGRESQL
          - UNMANAGED_GCP_REDIS
          - UNMANAGED_GCP_SQLITE
          - UNMANAGED_GCP_MS_SQL
          - UNMANAGED_GCP_MARIA_DB
          - UNMANAGED_GCP_NEO4_J
          - UNMANAGED_GCP_ELASTIC
          - UNMANAGED_GCP_COCKROACH_DB
          - UNMANAGED_GCP_AEROSPIKE
          - UNMANAGED_GCP_SCYLLA_DB
          - SNOWFLAKE_DB
          - FILE_SHARE
          - ONE_DRIVE
          - SHARE_POINT
          - AZURE_OPEN_AI_DEPLOYMENT
          - VERTEX_ENDPOINT
          - BEDROCK_PROVISIONED_THROUGHPUT
          - BEDROCK_AGENT
          - UNMANAGED_AI_AWS_FALCON
          - UNMANAGED_AI_AWS_LLAMA
          - UNMANAGED_AI_AWS_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AWS_GEMMA
          - UNMANAGED_AI_AWS_GPT2
          - UNMANAGED_AI_AWS_MISTRAL
          - UNMANAGED_AI_AWS_PHI
          - UNMANAGED_AI_AWS_QWEN2
          - UNMANAGED_AI_AWS_ROBERTA
          - UNMANAGED_AI_AWS_JAMBA
          - UNMANAGED_AI_AZURE_FALCON
          - UNMANAGED_AI_AZURE_LLAMA
          - UNMANAGED_AI_AZURE_TRANSFORMERSLLAMA
          - UNMANAGED_AI_AZURE_GEMMA
          - UNMANAGED_AI_AZURE_GPT2
          - UNMANAGED_AI_AZURE_MISTRAL
          - UNMANAGED_AI_AZURE_PHI
          - UNMANAGED_AI_AZURE_QWEN2
          - UNMANAGED_AI_AZURE_ROBERTA
          - UNMANAGED_AI_AZURE_JAMBA
          - UNMANAGED_AI_GCP_FALCON
          - UNMANAGED_AI_GCP_LLAMA
          - UNMANAGED_AI_GCP_TRANSFORMERSLLAMA
          - UNMANAGED_AI_GCP_GEMMA
          - UNMANAGED_AI_GCP_GPT2
          - UNMANAGED_AI_GCP_MISTRAL
          - UNMANAGED_AI_GCP_PHI
          - UNMANAGED_AI_GCP_QWEN2
          - UNMANAGED_AI_GCP_ROBERTA
          - UNMANAGED_AI_GCP_JAMBA
        dataTypeGroups:
          uniqueItems: true
          type: array
          items:
            type: string
        dataTypes:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ClassificationEntityOfficialApiDto'
        lifecycle:
          type: string
          enum:
          - RUNNING
          - STOPPED
          - DELETED
        openRisksCount:
          type: integer
          format: int32
        openAlertsCount:
          type: integer
          format: int32
        encrypted:
          type: boolean
        openToWorld:
          type: boolean
        tags:
          type: object
          additionalProperties:
            type: string
        assetDigTags:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/AssetDigTagDTO'
        id:
          type: string
    ClassificationEntityOfficialApiDto:
      type: object
      properties:
        type:
          type: string
        numberOfFindings:
          type: integer
          format: int64
