openapi: 3.1.0
info:
  title: SASE Configuration Orchestration API
  description: >-
    SASE Configuration Orchestration API for third-party SD-WAN integration.
    Enables SD-WAN partners and operators to programmatically manage remote
    network tunnel configurations, IKE gateway lifecycle, bandwidth
    allocations, and Prisma Access location data. Designed for integrating
    third-party SD-WAN solutions with Prisma Access for automated tunnel
    provisioning and management in branch office and remote network deployments.
    Requires partner integration credentials in addition to standard SASE
    OAuth 2.0 authentication.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/config-orchestration/v1
    description: SASE Configuration Orchestration API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Remote Networks
    description: Remote network IPsec tunnel management.
  - name: Bandwidth
    description: Bandwidth allocation visibility.
  - name: Locations
    description: Prisma Access location data.
  - name: Onboarding
    description: Remote network onboarding status.
paths:
  /remote-networks:
    get:
      operationId: listRemoteNetworks
      summary: List remote networks
      description: >-
        Returns the list of remote network tunnel configurations for the
        tenant. Remote networks represent branch offices or data centers
        connected to Prisma Access via IPsec tunnels. Each entry includes
        the tunnel configuration, IKE gateway parameters, and current
        connection status.
      tags:
        - Remote Networks
      parameters:
        - name: location
          in: query
          description: Filter remote networks by Prisma Access location.
          schema:
            type: string
        - name: status
          in: query
          description: Filter by tunnel connection status.
          schema:
            type: string
            enum:
              - connected
              - disconnected
              - pending
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of remote networks to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Remote networks returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RemoteNetwork'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createRemoteNetwork
      summary: Create remote network
      description: >-
        Creates a new remote network tunnel configuration. Provisions an
        IPsec tunnel between the specified branch location and the nearest
        Prisma Access gateway. The IKE gateway configuration is automatically
        generated unless custom parameters are provided.
      tags:
        - Remote Networks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteNetworkRequest'
      responses:
        '201':
          description: Remote network created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteNetwork'
        '400':
          description: Invalid request body or configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: A remote network with this name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /remote-networks/{id}:
    get:
      operationId: getRemoteNetwork
      summary: Get remote network
      description: Returns full details for a specific remote network tunnel configuration.
      tags:
        - Remote Networks
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the remote network.
          schema:
            type: string
      responses:
        '200':
          description: Remote network details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteNetwork'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Remote network not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateRemoteNetwork
      summary: Update remote network
      description: Updates an existing remote network tunnel configuration.
      tags:
        - Remote Networks
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the remote network to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoteNetworkRequest'
      responses:
        '200':
          description: Remote network updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoteNetwork'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Remote network not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteRemoteNetwork
      summary: Delete remote network
      description: >-
        Deletes a remote network tunnel configuration and tears down the
        associated IPsec tunnel.
      tags:
        - Remote Networks
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the remote network to delete.
          schema:
            type: string
      responses:
        '204':
          description: Remote network deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Remote network not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /remote-networks/{id}/refresh-ike-gateway:
    post:
      operationId: refreshIKEGateway
      summary: Refresh IKE gateway
      description: >-
        Initiates an IKE gateway refresh for a remote network tunnel. Use
        this endpoint to re-establish an IPsec tunnel that has failed or
        to apply updated IKE parameters after a configuration change.
      tags:
        - Remote Networks
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the remote network.
          schema:
            type: string
      responses:
        '200':
          description: IKE gateway refresh initiated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Remote network identifier.
                  status:
                    type: string
                    enum:
                      - refreshing
                    description: Current refresh status.
                  initiated_at:
                    type: string
                    format: date-time
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Remote network not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bandwidth-allocations:
    get:
      operationId: getBandwidthAllocations
      summary: Get available bandwidth allocations
      description: >-
        Returns the available bandwidth allocations per Prisma Access
        location. Use this data to determine remaining capacity before
        creating remote network tunnels or to monitor utilization against
        licensed bandwidth.
      tags:
        - Bandwidth
      parameters:
        - name: location
          in: query
          description: Filter by specific Prisma Access location name.
          schema:
            type: string
      responses:
        '200':
          description: Bandwidth allocations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BandwidthAllocation'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /locations:
    get:
      operationId: listPrismaAccessLocations
      summary: List Prisma Access locations
      description: >-
        Returns the list of available Prisma Access gateway locations.
        Location data includes the geographic region, country, city, and
        available services at each location.
      tags:
        - Locations
      responses:
        '200':
          description: Prisma Access locations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrismaAccessLocation'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /onboarding-status/{id}:
    get:
      operationId: getOnboardingStatus
      summary: Get remote network onboarding status
      description: >-
        Returns the onboarding status for a remote network including
        provisioning progress, configuration push status, and tunnel
        establishment state. Use this endpoint to monitor the lifecycle
        of a newly created remote network.
      tags:
        - Onboarding
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the remote network.
          schema:
            type: string
      responses:
        '200':
          description: Onboarding status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingStatus'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Remote network not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication with
        partner integration credentials. Obtain using the
        client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    RemoteNetwork:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the remote network.
        name:
          type: string
          description: Display name of the remote network.
        description:
          type: string
          description: Description of the remote network's location or purpose.
        location:
          type: string
          description: Prisma Access gateway location for this tunnel.
        subnets:
          type: array
          items:
            type: string
          description: Network subnets at the remote site (CIDR notation).
        ike_gateway:
          $ref: '#/components/schemas/IKEGateway'
        ipsec_tunnel:
          $ref: '#/components/schemas/IPsecTunnel'
        tunnel_status:
          type: string
          enum:
            - connected
            - disconnected
            - pending
            - error
          description: Current IPsec tunnel connection status.
        bandwidth_mbps:
          type: integer
          description: Allocated bandwidth in Mbps for this remote network.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RemoteNetworkRequest:
      type: object
      required:
        - name
        - location
        - subnets
        - ike_gateway
      properties:
        name:
          type: string
          description: Display name for the remote network.
        description:
          type: string
          description: Optional description.
        location:
          type: string
          description: Prisma Access gateway location name.
        subnets:
          type: array
          items:
            type: string
          description: Network subnets at the remote site in CIDR notation.
        ike_gateway:
          $ref: '#/components/schemas/IKEGatewayConfig'
        bandwidth_mbps:
          type: integer
          description: Requested bandwidth allocation in Mbps.
    IKEGateway:
      type: object
      properties:
        peer_ip:
          type: string
          description: Public IP address of the remote peer gateway.
        peer_id:
          type: string
          description: IKE peer identity.
        local_ip:
          type: string
          description: Prisma Access local IKE gateway IP address.
        ike_version:
          type: string
          enum:
            - IKEv1
            - IKEv2
          description: IKE protocol version.
        authentication_type:
          type: string
          enum:
            - pre-shared-key
            - certificate
          description: IKE authentication method.
    IKEGatewayConfig:
      type: object
      required:
        - peer_ip
      properties:
        peer_ip:
          type: string
          description: Public IP address of the remote peer gateway.
        peer_id:
          type: string
          description: IKE peer identity. Defaults to the peer IP if omitted.
        ike_version:
          type: string
          enum:
            - IKEv1
            - IKEv2
          default: IKEv2
        authentication_type:
          type: string
          enum:
            - pre-shared-key
            - certificate
          default: pre-shared-key
        pre_shared_key:
          type: string
          description: Pre-shared key for IKE authentication.
          writeOnly: true
    IPsecTunnel:
      type: object
      properties:
        local_address:
          type: string
          description: Local tunnel IP address assigned by Prisma Access.
        remote_address:
          type: string
          description: Remote tunnel IP address.
        tunnel_interface:
          type: string
          description: Tunnel interface name.
    BandwidthAllocation:
      type: object
      properties:
        location:
          type: string
          description: Prisma Access location name.
        region:
          type: string
          description: Geographic region.
        licensed_bandwidth_mbps:
          type: integer
          description: Total licensed bandwidth at this location in Mbps.
        allocated_bandwidth_mbps:
          type: integer
          description: Bandwidth currently allocated to remote networks in Mbps.
        available_bandwidth_mbps:
          type: integer
          description: Remaining available bandwidth in Mbps.
    PrismaAccessLocation:
      type: object
      properties:
        name:
          type: string
          description: Location identifier used in API requests.
        display_name:
          type: string
          description: Human-readable location name.
        region:
          type: string
          description: Geographic region (e.g., americas, europe, asia-pacific).
        country:
          type: string
          description: Country code (ISO 3166-1 alpha-2).
        city:
          type: string
          description: City name.
        status:
          type: string
          enum:
            - available
            - limited
            - unavailable
          description: Current availability status.
    OnboardingStatus:
      type: object
      properties:
        id:
          type: string
          description: Remote network identifier.
        status:
          type: string
          enum:
            - pending
            - provisioning
            - configuring
            - tunnel_establishing
            - completed
            - failed
          description: Current onboarding phase.
        steps:
          type: array
          description: Individual onboarding steps and their completion state.
          items:
            type: object
            properties:
              step:
                type: string
                description: Step name.
              status:
                type: string
                enum:
                  - pending
                  - in_progress
                  - completed
                  - failed
              message:
                type: string
                description: Status message or error detail for this step.
              completed_at:
                type: string
                format: date-time
        error_message:
          type: string
          description: Error description if onboarding failed.
        started_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
