openapi: 3.2.0
info:
  title: Palo Alto Networks Proxy Endpoint Provider API
  version: '1.0'
  description: 'Operations tagged Proxy Endpoint Provider across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-proxy-endpoint-provider-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: Proxy Endpoint Provider
paths:
  /api/v1/proxy/tenant/{prisma-id}/**:
    get:
      tags:
      - Proxy Endpoint Provider
      summary: summary needed
      description: description needed
      operationId: proxyRequest
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      - name: body
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    put:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_3
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    post:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_2
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    delete:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_5
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    options:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_6
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    head:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_1
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    patch:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_4
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-proxy-endpoint-provider-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
