openapi: 3.2.0
info:
  title: Palo Alto Networks MSSP Account Management API
  version: '1.0'
  description: 'Operations tagged MSSP Account Management across 3 of this provider''s published API definitions: palo-alto-mssp-mssp-spec-openapi.json, palo-alto-networks-mssp-account-management-api-openapi.yml, palo-alto-prisma-cloud-mssp-api-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mssp-api.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
tags:
- name: MSSP Account Management
paths:
  /api/v1/mssp/{mssp-id}/tos:
    post:
      tags:
      - MSSP Account Management
      summary: Terms of Service
      description: Endpoint used to accept terms of service.
      operationId: tosAcceptance
      parameters:
      - name: mssp-id
        in: path
        description: The id of the MSSP of interest
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          description: Bad request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
  /api/v1/mssp/{mssp-id}:
    get:
      tags:
      - MSSP Account Management
      summary: Get the details of an existing MSSP
      description: Returns the details of an existing MSSP account
      operationId: getMssp
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
  /api/v1/mssp/{mssp-id}/operation:
    get:
      tags:
      - MSSP Account Management
      summary: Get the operation list for an MSSP
      description: Gets the list of operations for an MSSP.
      operationId: getMsspOperations
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
      - name: status
        in: query
        description: optional filter by status, accepts "success", "failure", "in_progress"
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - IN_PROGRESS
            - SUCCESS
            - FAILURE
      - name: show_retried
        in: query
        description: optional boolean filter to show retried operations, defaults to false
        required: false
        schema:
          type: boolean
          default: false
      - name: nextPageToken
        in: query
        description: pagination token to continue a previous query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/OperationsResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
  /api/v1/mssp/{mssp-id}/license-pool:
    get:
      tags:
      - MSSP Account Management
      summary: Get the license pool details of an existing MSSP
      description: Returns the details of an existing MSSP.
      operationId: getMsspLicensePools
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/MsspLicensePoolsResponse'
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
      - UserJwt: []
      x-public: 'true'
    servers:
    - url: https://mssp-api.prismacloud.io
components:
  schemas:
    TenantChangeResponse:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
        externalTenantId:
          type: string
        tenantPrismaId:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        updatedAt:
          type: integer
          format: int64
    ManagedTenantLicenseResponse:
      type: object
      properties:
        tenantLicenseId:
          type: string
        serialNumber:
          type: string
        licensePoolId:
          type: string
        allocatedCredits:
          type: integer
          format: int32
        startDate:
          type: integer
          format: int64
        endDate:
          type: integer
          format: int64
    MsspLicensePoolsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MsspLicensePoolResponse'
        nextPageToken:
          type: string
    OperationResponse:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
        msspId:
          type: string
          format: uuid
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
        operationDescription:
          type: string
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse'
        startedBy:
          type: string
        startedAt:
          type: integer
          format: int64
        updatedAt:
          type: integer
          format: int64
        isRetryable:
          type: boolean
        retryOf:
          type: string
          format: uuid
        retriedBy:
          type: string
          format: uuid
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    OperationsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OperationResponse'
        nextPageToken:
          type: string
    ContactInfo:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          maxLength: 63
          minLength: 1
          type: string
        lastName:
          maxLength: 63
          minLength: 1
          type: string
        email:
          maxLength: 128
          minLength: 1
          type: string
    MsspLicensePoolResponse:
      type: object
      properties:
        licensePoolId:
          type: string
        poolName:
          type: string
        serialNumber:
          type: string
        msspId:
          type: string
        totalCredits:
          type: integer
          format: int32
        unallocatedCredits:
          type: integer
          format: int32
        startDate:
          type: integer
          format: int64
        endDate:
          type: integer
          format: int64
        tenantLicenses:
          type: array
          items:
            $ref: '#/components/schemas/ManagedTenantLicenseResponse'
    MsspResponse:
      type: object
      properties:
        msspId:
          type: string
        name:
          type: string
        createdBy:
          type: string
        createdAt:
          type: integer
          format: int64
        customerSupportId:
          type: string
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    TenantChangeResponse_2:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
          example: 21506922-dae2-4e8a-879f-b738126b7a2d
        externalTenantId:
          type: string
          example: '833084'
        tenantPrismaId:
          type: string
          example: '169016'
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: SUCCESS
        updatedAt:
          type: integer
          format: int64
          example: 131
    ManagedTenantLicenseResponse_2:
      type: object
      properties:
        tenantLicenseId:
          type: string
          example: '109663'
        serialNumber:
          type: string
          example: example-serialNumber
        licensePoolId:
          type: string
          example: '997200'
        allocatedCredits:
          type: integer
          format: int32
          example: 456
        startDate:
          type: integer
          format: int64
          example: 589
        endDate:
          type: integer
          format: int64
          example: 255
    MsspLicensePoolsResponse_2:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MsspLicensePoolResponse_2'
          example:
          - licensePoolId: '791432'
            poolName: Branch Firewall 14
            serialNumber: example-serialNumber
            msspId: '652019'
            totalCredits: 749
            unallocatedCredits: 827
            startDate: 649
            endDate: 939
            tenantLicenses:
            - tenantLicenseId: '109663'
              serialNumber: example-serialNumber
              licensePoolId: '997200'
              allocatedCredits: 456
              startDate: 589
              endDate: 255
          - licensePoolId: '791432'
            poolName: Branch Firewall 14
            serialNumber: example-serialNumber
            msspId: '652019'
            totalCredits: 749
            unallocatedCredits: 827
            startDate: 649
            endDate: 939
            tenantLicenses:
            - tenantLicenseId: '109663'
              serialNumber: example-serialNumber
              licensePoolId: '997200'
              allocatedCredits: 456
              startDate: 589
              endDate: 255
        nextPageToken:
          type: string
          example: example-nextPageToken
    OperationResponse_2:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          example: 4b0348d5-573c-4efd-a630-8b03814c6b3c
        msspId:
          type: string
          format: uuid
          example: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
          example: MESSAGE_FAN_OUT
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
          example: POLICY_MAP
        operationDescription:
          type: string
          example: Incident incident configured investigation malware violation incident applied applied on network.
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse_2'
          example:
          - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
            externalTenantId: '426227'
            tenantPrismaId: '519160'
            status: IN_PROGRESS
            updatedAt: 73
        startedBy:
          type: string
          example: example-startedBy
        startedAt:
          type: integer
          format: int64
          example: 93
        updatedAt:
          type: integer
          format: int64
          example: 375
        isRetryable:
          type: boolean
          example: true
        retryOf:
          type: string
          format: uuid
          example: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
        retriedBy:
          type: string
          format: uuid
          example: 3ea1e71a-2068-4b42-91ea-859717617763
    OperationsResponse_2:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OperationResponse_2'
          example:
          - requestId: 4b0348d5-573c-4efd-a630-8b03814c6b3c
            msspId: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
            operationType: MESSAGE_FAN_OUT
            operationName: POLICY_MAP
            operationDescription: Incident incident configured investigation malware violation incident applied applied on network.
            status: FAILURE
            tenantChanges:
            - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
              externalTenantId: '426227'
              tenantPrismaId: '519160'
              status: IN_PROGRESS
              updatedAt: 73
            startedBy: example-startedBy
            startedAt: 93
            updatedAt: 375
            isRetryable: true
            retryOf: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
            retriedBy: 3ea1e71a-2068-4b42-91ea-859717617763
          - requestId: 4b0348d5-573c-4efd-a630-8b03814c6b3c
            msspId: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
            operationType: MESSAGE_FAN_OUT
            operationName: POLICY_MAP
            operationDescription: Incident incident configured investigation malware violation incident applied applied on network.
            status: FAILURE
            tenantChanges:
            - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
              externalTenantId: '426227'
              tenantPrismaId: '519160'
              status: IN_PROGRESS
              updatedAt: 73
            startedBy: example-startedBy
            startedAt: 93
            updatedAt: 375
            isRetryable: true
            retryOf: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
            retriedBy: 3ea1e71a-2068-4b42-91ea-859717617763
        nextPageToken:
          type: string
          example: example-nextPageToken
    ContactInfo_2:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          maxLength: 63
          minLength: 1
          type: string
          example: Branch Sensor 70
        lastName:
          maxLength: 63
          minLength: 1
          type: string
          example: Staging Policy 31
        email:
          maxLength: 128
          minLength: 1
          type: string
          example: analyst1@example.com
    MsspLicensePoolResponse_2:
      type: object
      properties:
        licensePoolId:
          type: string
          example: '791432'
        poolName:
          type: string
          example: Branch Firewall 14
        serialNumber:
          type: string
          example: example-serialNumber
        msspId:
          type: string
          example: '652019'
        totalCredits:
          type: integer
          format: int32
          example: 749
        unallocatedCredits:
          type: integer
          format: int32
          example: 827
        startDate:
          type: integer
          format: int64
          example: 649
        endDate:
          type: integer
          format: int64
          example: 939
        tenantLicenses:
          type: array
          items:
            $ref: '#/components/schemas/ManagedTenantLicenseResponse_2'
          example:
          - tenantLicenseId: '109663'
            serialNumber: example-serialNumber
            licensePoolId: '997200'
            allocatedCredits: 456
            startDate: 589
            endDate: 255
    MsspResponse_2:
      type: object
      properties:
        msspId:
          type: string
          example: '963068'
        name:
          type: string
          example: Corporate Gateway 26
        createdBy:
          type: string
          example: example-createdBy
        createdAt:
          type: integer
          format: int64
          example: 414
        customerSupportId:
          type: string
          example: '670106'
        contactInfo:
          $ref: '#/components/schemas/ContactInfo_2'
    Error_2:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_2'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    TenantChangeResponse_3:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
          example: 21506922-dae2-4e8a-879f-b738126b7a2d
        externalTenantId:
          type: string
          example: '833084'
        tenantPrismaId:
          type: string
          example: '169016'
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: SUCCESS
        updatedAt:
          type: integer
          format: int64
          example: 131
    ManagedTenantLicenseResponse_3:
      type: object
      properties:
        tenantLicenseId:
          type: string
          example: '109663'
        serialNumber:
          type: string
          example: example-serialNumber
        licensePoolId:
          type: string
          example: '997200'
        allocatedCredits:
          type: integer
          format: int32
          example: 456
        startDate:
          type: integer
          format: int64
          example: 589
        endDate:
          type: integer
          format: int64
          example: 255
    MsspLicensePoolsResponse_3:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/MsspLicensePoolResponse_3'
          example:
          - licensePoolId: '791432'
            poolName: Branch Firewall 14
            serialNumber: example-serialNumber
            msspId: '652019'
            totalCredits: 749
            unallocatedCredits: 827
            startDate: 649
            endDate: 939
            tenantLicenses:
            - tenantLicenseId: '109663'
              serialNumber: example-serialNumber
              licensePoolId: '997200'
              allocatedCredits: 456
              startDate: 589
              endDate: 255
          - licensePoolId: '791432'
            poolName: Branch Firewall 14
            serialNumber: example-serialNumber
            msspId: '652019'
            totalCredits: 749
            unallocatedCredits: 827
            startDate: 649
            endDate: 939
            tenantLicenses:
            - tenantLicenseId: '109663'
              serialNumber: example-serialNumber
              licensePoolId: '997200'
              allocatedCredits: 456
              startDate: 589
              endDate: 255
        nextPageToken:
          type: string
          example: example-nextPageToken
    OperationResponse_3:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          example: 4b0348d5-573c-4efd-a630-8b03814c6b3c
        msspId:
          type: string
          format: uuid
          example: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
          example: MESSAGE_FAN_OUT
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
          example: POLICY_MAP
        operationDescription:
          type: string
          example: Incident incident configured investigation malware violation incident applied applied on network.
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse_3'
          example:
          - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
            externalTenantId: '426227'
            tenantPrismaId: '519160'
            status: IN_PROGRESS
            updatedAt: 73
        startedBy:
          type: string
          example: example-startedBy
        startedAt:
          type: integer
          format: int64
          example: 93
        updatedAt:
          type: integer
          format: int64
          example: 375
        isRetryable:
          type: boolean
          example: true
        retryOf:
          type: string
          format: uuid
          example: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
        retriedBy:
          type: string
          format: uuid
          example: 3ea1e71a-2068-4b42-91ea-859717617763
    OperationsResponse_3:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OperationResponse_3'
          example:
          - requestId: 4b0348d5-573c-4efd-a630-8b03814c6b3c
            msspId: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
            operationType: MESSAGE_FAN_OUT
            operationName: POLICY_MAP
            operationDescription: Incident incident configured investigation malware violation incident applied applied on network.
            status: FAILURE
            tenantChanges:
            - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
              externalTenantId: '426227'
              tenantPrismaId: '519160'
              status: IN_PROGRESS
              updatedAt: 73
            startedBy: example-startedBy
            startedAt: 93
            updatedAt: 375
            isRetryable: true
            retryOf: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
            retriedBy: 3ea1e71a-2068-4b42-91ea-859717617763
          - requestId: 4b0348d5-573c-4efd-a630-8b03814c6b3c
            msspId: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
            operationType: MESSAGE_FAN_OUT
            operationName: POLICY_MAP
            operationDescription: Incident incident configured investigation malware violation incident applied applied on network.
            status: FAILURE
            tenantChanges:
            - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
              externalTenantId: '426227'
              tenantPrismaId: '519160'
              status: IN_PROGRESS
              updatedAt: 73
            startedBy: example-startedBy
            startedAt: 93
            updatedAt: 375
            isRetryable: true
            retryOf: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
            retriedBy: 3ea1e71a-2068-4b42-91ea-859717617763
        nextPageToken:
          type: string
          example: example-nextPageToken
    ContactInfo_3:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          maxLength: 63
          minLength: 1
          type: string
          example: Branch Sensor 70
        lastName:
          maxLength: 63
          minLength: 1
          type: string
          example: Staging Policy 31
        email:
          maxLength: 128
          minLength: 1
          type: string
          example: analyst1@example.com
    MsspLicensePoolResponse_3:
      type: object
      properties:
        licensePoolId:
          type: string
          example: '791432'
        poolName:
          type: string
          example: Branch Firewall 14
        serialNumber:
          type: string
          example: example-serialNumber
        msspId:
          type: string
          example: '652019'
        totalCredits:
          type: integer
          format: int32
          example: 749
        unallocatedCredits:
          type: integer
          format: int32
          example: 827
        startDate:
          type: integer
          format: int64
          example: 649
        endDate:
          type: integer
          format: int64
          example: 939
        tenantLicenses:
          type: array
          items:
            $ref: '#/components/schemas/ManagedTenantLicenseResponse_3'
          example:
          - tenantLicenseId: '109663'
            serialNumber: example-serialNumber
            licensePoolId: '997200'
            allocatedCredits: 456
            startDate: 589
            endDate: 255
    MsspResponse_3:
      type: object
      properties:
        msspId:
          type: string
          example: '963068'
        name:
          type: string
          example: Corporate Gateway 26
        createdBy:
          type: string
          example: example-createdBy
        createdAt:
          type: integer
          format: int64
          example: 414
        customerSupportId:
          type: string
          example: '670106'
        contactInfo:
          $ref: '#/components/schemas/ContactInfo_3'
    Error_3:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error_3'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-mssp-mssp-spec-openapi.json
- palo-alto-networks-mssp-account-management-api-openapi.yml
- palo-alto-prisma-cloud-mssp-api-openapi-original.json
