openapi: 3.2.0
info:
  contact:
    email: support@paloaltonetworks.com
  description: 'The Open API specification file represents the APIs available for Prisma Access Insights 3.0.

    The Prisma Access Insights 3.0 APIs allow you to query your Prisma Access tenant for the health of

    your Prisma Access network deployment. The 3.0 APIs are intended for cloud-managed Prisma Access

    customers, where the tenants have been onboarded by Palo Alto Networks using a Tenant Service Group

    (TSG) identifier.


    These APIs use the common SASE authentication mechanism and base URL. See the

    [Prisma SASE API Get Started](https://pan.dev/sase/docs/getstarted) guide for more information.


    This Open API spec file was created on May 30, 2025. To check for a more recent version of this file, see

    [Prisma Insights APIs on pan.dev](https://pan.dev//access/api/insights/).


    © 2025 Palo Alto Networks, Inc. Palo Alto Networks is a registered trademark of Palo

    Alto Networks. A list of our trademarks can be found at


    [https://www.paloaltonetworks.com/company/trademarks.html](https://www.paloaltonetworks.com/company/trademarks.html)


    All other marks mentioned herein may be trademarks of their respective companies.

    '
  license:
    name: MIT
    url: https://opensource.org/license/mit
  termsOfService: https://www.paloaltonetworks.com/content/dam/pan/en_US/assets/pdf/legal/palo-alto-networks-end-user-license-agreement-eula.pdf
  title: Palo Alto Networks 3.0 Enterprise Browser Users API
  version: '3.0'
servers:
- url: https://api.sase.paloaltonetworks.com
tags:
- description: 'Retrieve the count of active users, providing insights into user activity.

    '
  name: Enterprise Browser Users API
paths:
  /insights/v3.0/resource/query/users/eb/active_user_count:
    post:
      description: 'Retrieve the number of active users.

        '
      operationId: post-insights-v3.0-resource-query-users-eb-active_user_count
      parameters:
      - description: 'Map the region for the tenant.

          '
        in: header
        name: X-PANW-Region
        required: true
        schema:
          example: americas
          type: string
      - description: 'Use a unique Prisma-Tenant identifier for precise tenant management and resource allocation within single or multi-tenant architectures.

          '
        in: header
        name: Prisma-Tenant
        required: false
        schema:
          example: 12345678:12345679
          type: string
      requestBody:
        content:
          application/json:
            examples:
              With mandatory filters:
                value:
                  filter:
                    rules:
                    - operator: last_n_hours
                      property: event_time
                      values:
                      - 5
              With possible filters:
                value:
                  filter:
                    rules:
                    - operator: last_n_hours
                      property: event_time
                      values:
                      - 5
                    - operator: in
                      property: platform_type
                      values:
                      - prisma_access
                      - ngfw
                    - operator: in
                      property: device_connection_method
                      values:
                      - pab
                    - operator: in
                      property: username
                      values:
                      - john.doe
            schema:
              properties:
                filter:
                  properties:
                    rules:
                      items:
                        properties:
                          device_connection_method:
                            description: Method of connection.
                            example: pab
                            type: string
                          event_time:
                            description: Time of the event.
                            example: 5
                            type: number
                          platform_type:
                            description: Type of platform.
                            example: prisma_access
                            type: string
                          username:
                            description: Username.
                            example: john.doe
                            type: string
                        type: object
                      required:
                      - event_time
                      type: array
                  type: object
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  user_count:
                    description: Count of active users.
                    example: 100
                    type: integer
                type: object
          description: OK
        '400':
          description: Resource property is not valid
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Failed to process request
      security:
      - Bearer: []
      summary: Active User Data
      tags:
      - Enterprise Browser Users API
  /insights/v3.0/resource/query/users/eb/user_count_histogram:
    post:
      description: 'Retrieve a histogram of Enterprise Browser user data.

        '
      operationId: post-insights-v3.0-resource-query-users-eb-user_count_histogram
      parameters:
      - description: 'Map the region for the tenant.

          '
        in: header
        name: X-PANW-Region
        required: true
        schema:
          example: americas
          type: string
      - description: 'Use a unique Prisma-Tenant identifier for precise tenant management and resource allocation within single or multi-tenant architectures.

          '
        in: header
        name: Prisma-Tenant
        required: false
        schema:
          example: 12345678:12345679
          type: string
      requestBody:
        content:
          application/json:
            examples:
              With mandatory filters:
                value:
                  filter:
                    rules:
                    - operator: last_n_hours
                      property: event_time
                      values:
                      - 5
                  histogram:
                    enableEmptyInterval: true
                    property: event_time
                    range: minute
                    value: 30
              With possible filters:
                value:
                  filter:
                    rules:
                    - operator: last_n_hours
                      property: event_time
                      values:
                      - 5
                    - operator: in
                      property: platform_type
                      values:
                      - prisma_access
                      - ngfw
                    - operator: in
                      property: device_connection_method
                      values:
                      - pab
                    - operator: in
                      property: username
                      values:
                      - john.doe
            schema:
              properties:
                filter:
                  properties:
                    rules:
                      items:
                        properties:
                          device_connection_method:
                            description: Connect method.
                            example: pab
                            type: string
                          event_time:
                            description: Time of the event.
                            example: 5
                            type: number
                          platform_type:
                            description: Platform type.
                            example: prisma_access
                            type: string
                          username:
                            description: Username.
                            example: john.doe
                            type: string
                        type: object
                      required:
                      - event_time
                      type: array
                  type: object
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  event_time:
                    description: Event time
                    example: 1709226000000
                    type: number
                  user_count:
                    description: Number of users
                    example: 1045
                    type: integer
                type: object
          description: OK
        '400':
          description: Resource property is not valid
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Failed to process request
      security:
      - Bearer: []
      summary: Enterprise Browser User Histogram Data
      tags:
      - Enterprise Browser Users API
  /insights/v3.0/resource/query/users/eb/user_list:
    post:
      description: 'Retrieve a list of users for Enterprise Browser.

        '
      operationId: post-insights-v3.0-resource-query-users-eb-user_list
      parameters:
      - description: 'Map the region for the tenant.

          '
        in: header
        name: X-PANW-Region
        required: true
        schema:
          example: americas
          type: string
      - description: 'Use a unique Prisma-Tenant identifier for precise tenant management and resource allocation within single or multi-tenant architectures.

          '
        in: header
        name: Prisma-Tenant
        required: false
        schema:
          example: 12345678:12345679
          type: string
      requestBody:
        content:
          application/json:
            examples:
              With mandatory filters:
                value:
                  filter:
                    rules:
                    - operator: last_n_hours
                      property: event_time
                      values:
                      - 5
              With possible filters:
                value:
                  filter:
                    rules:
                    - operator: last_n_hours
                      property: event_time
                      values:
                      - 5
                    - operator: in
                      property: platform_type
                      values:
                      - prisma_access
                      - ngfw
                    - operator: in
                      property: device_connection_method
                      values:
                      - pab
                    - operator: in
                      property: username
                      values:
                      - john.doe
            schema:
              properties:
                filter:
                  properties:
                    rules:
                      items:
                        properties:
                          device_connection_method:
                            description: Connect method.
                            example: pab
                            type: string
                          event_time:
                            description: Time of the event.
                            example: 5
                            type: number
                          platform_type:
                            description: Platform type.
                            example: prisma_access
                            type: string
                          username:
                            description: Username.
                            example: john.doe
                            type: string
                        type: object
                      required:
                      - event_time
                      type: array
                  type: object
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  browser_version:
                    description: Browser version.
                    example: 114.0.5735.198
                    type: string
                  connect_method:
                    description: Connect method.
                    example: pab
                    type: string
                  user_last_activity_timestamp_epoc_millis:
                    description: User last activity timestamp epoch millis.
                    example: 1678886400000
                    type: integer
                  user_last_connected_pa_fw_location:
                    description: User last connected PA FW location.
                    example: US West
                    type: string
                  user_last_connected_source_city:
                    description: User last connected source city.
                    example: San Jose
                    type: string
                  user_last_connected_source_country:
                    description: User last connected source country.
                    example: USA
                    type: string
                  user_source_ip_address:
                    description: User source IP address.
                    example: 192.168.1.1
                    type: string
                  username:
                    description: Username.
                    example: john.doe
                    type: string
                type: object
          description: OK
        '400':
          description: Resource property is not valid
        '403':
          description: Permission Denied
        '404':
          description: Resource not found
        '500':
          description: Failed to process request
      security:
      - Bearer: []
      summary: Enterprise Browser User List
      tags:
      - Enterprise Browser Users API
components:
  securitySchemes:
    Bearer:
      scheme: bearer
      type: http
