openapi: 3.1.0
info:
  title: Palo Alto Networks SASE 5G Managed Services API
  description: >-
    SASE 5G Managed Services API for 5G network security. Provides
    programmatic management of 5G network slices, security policies,
    and multi-tenant configurations for 5G deployments protected by
    Palo Alto Networks SASE. Enables mobile network operators and
    enterprise customers to define security controls applied to 5G
    network traffic, manage network slice configurations, and monitor
    5G security metrics through a unified API.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
  - url: https://api.sase.paloaltonetworks.com/5g/v1
    description: SASE 5G Managed Services API production server.
security:
  - oauth2Bearer: []
tags:
  - name: Monitoring
    description: 5G security metrics and monitoring.
  - name: Network Slices
    description: 5G network slice configuration and management.
  - name: Security Policies
    description: 5G security policy management.
  - name: Tenants
    description: Multi-tenant 5G configuration management.
paths:
  /network-slices:
    get:
      operationId: listNetworkSlices
      summary: Palo Alto Networks List 5G network slices
      description: >-
        Returns the list of 5G network slices configured for the tenant.
        Network slices are logical partitions of the 5G network with
        independent security policies and quality of service parameters.
        Each slice can be associated with a specific application, customer
        segment, or service type.
      tags:
        - Network Slices
      parameters:
        - name: status
          in: query
          description: Filter slices by status.
          schema:
            type: string
            enum:
              - active
              - inactive
              - provisioning
              - error
        - name: slice_type
          in: query
          description: Filter by slice type (SST values).
          schema:
            type: string
            enum:
              - eMBB
              - URLLC
              - mMTC
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of network slices to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Network slices returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkSlice'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createNetworkSlice
      summary: Palo Alto Networks Create 5G network slice
      description: Creates a new 5G network slice configuration.
      tags:
        - Network Slices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSliceRequest'
      responses:
        '201':
          description: Network slice created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /network-slices/{slice_id}:
    get:
      operationId: getNetworkSlice
      summary: Palo Alto Networks Get 5G network slice
      description: Returns full details for a specific 5G network slice.
      tags:
        - Network Slices
      parameters:
        - name: slice_id
          in: path
          required: true
          description: Unique identifier of the network slice.
          schema:
            type: string
      responses:
        '200':
          description: Network slice details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateNetworkSlice
      summary: Palo Alto Networks Update 5G network slice
      description: Updates an existing 5G network slice configuration.
      tags:
        - Network Slices
      parameters:
        - name: slice_id
          in: path
          required: true
          description: Unique identifier of the network slice to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSliceRequest'
      responses:
        '200':
          description: Network slice updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteNetworkSlice
      summary: Palo Alto Networks Delete 5G network slice
      description: Deletes a 5G network slice configuration.
      tags:
        - Network Slices
      parameters:
        - name: slice_id
          in: path
          required: true
          description: Unique identifier of the network slice to delete.
          schema:
            type: string
      responses:
        '204':
          description: Network slice deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /security-policies:
    get:
      operationId: list5GSecurityPolicies
      summary: Palo Alto Networks List 5G security policies
      description: >-
        Returns the list of 5G security policies. Security policies define
        the inspection and enforcement rules applied to 5G network traffic
        for specific network slices or subscriber groups.
      tags:
        - Security Policies
      parameters:
        - name: slice_id
          in: query
          description: Filter policies by associated network slice.
          schema:
            type: string
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Maximum number of policies to return.
          schema:
            type: integer
            default: 50
            maximum: 200
      responses:
        '200':
          description: Security policies returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecurityPolicy5G'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create5GSecurityPolicy
      summary: Palo Alto Networks Create 5G security policy
      description: Creates a new 5G security policy.
      tags:
        - Security Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityPolicy5GRequest'
      responses:
        '201':
          description: Security policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPolicy5G'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /security-policies/{policy_id}:
    get:
      operationId: get5GSecurityPolicy
      summary: Palo Alto Networks Get 5G security policy
      description: Returns full details for a specific 5G security policy.
      tags:
        - Security Policies
      parameters:
        - name: policy_id
          in: path
          required: true
          description: Unique identifier of the security policy.
          schema:
            type: string
      responses:
        '200':
          description: Security policy details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPolicy5G'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Security policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: update5GSecurityPolicy
      summary: Palo Alto Networks Update 5G security policy
      description: Updates an existing 5G security policy.
      tags:
        - Security Policies
      parameters:
        - name: policy_id
          in: path
          required: true
          description: Unique identifier of the security policy to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityPolicy5GRequest'
      responses:
        '200':
          description: Security policy updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPolicy5G'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Security policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: delete5GSecurityPolicy
      summary: Palo Alto Networks Delete 5G security policy
      description: Deletes a 5G security policy.
      tags:
        - Security Policies
      parameters:
        - name: policy_id
          in: path
          required: true
          description: Unique identifier of the security policy to delete.
          schema:
            type: string
      responses:
        '204':
          description: Security policy deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Security policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tenants:
    get:
      operationId: list5GTenants
      summary: Palo Alto Networks List multi-tenant 5G configurations
      description: >-
        Returns the list of tenant configurations in the 5G security
        deployment. Each tenant entry defines the slice assignments and
        security policy bindings for a specific customer or business unit.
      tags:
        - Tenants
      responses:
        '200':
          description: 5G tenant configurations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant5G'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: create5GTenant
      summary: Palo Alto Networks Create multi-tenant 5G configuration
      description: Creates a new tenant configuration for 5G security.
      tags:
        - Tenants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant5GRequest'
      responses:
        '201':
          description: 5G tenant configuration created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /tenants/{tenant_id}:
    get:
      operationId: get5GTenant
      summary: Palo Alto Networks Get 5G tenant configuration
      description: Returns full details for a specific 5G tenant configuration.
      tags:
        - Tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Unique identifier of the 5G tenant configuration.
          schema:
            type: string
      responses:
        '200':
          description: 5G tenant configuration details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: update5GTenant
      summary: Palo Alto Networks Update 5G tenant configuration
      description: Updates an existing 5G tenant configuration.
      tags:
        - Tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Unique identifier of the 5G tenant configuration to update.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant5GRequest'
      responses:
        '200':
          description: 5G tenant configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: delete5GTenant
      summary: Palo Alto Networks Delete 5G tenant configuration
      description: Deletes a 5G tenant configuration.
      tags:
        - Tenants
      parameters:
        - name: tenant_id
          in: path
          required: true
          description: Unique identifier of the 5G tenant configuration to delete.
          schema:
            type: string
      responses:
        '204':
          description: 5G tenant configuration deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /monitoring/metrics:
    get:
      operationId: get5GSecurityMetrics
      summary: Palo Alto Networks Get 5G security metrics
      description: >-
        Returns security metrics for 5G network traffic including threat
        detection counts, policy enforcement statistics, subscriber counts,
        and traffic volumes per network slice.
      tags:
        - Monitoring
      parameters:
        - name: slice_id
          in: query
          description: Filter metrics by network slice.
          schema:
            type: string
        - name: start_time
          in: query
          description: Start of the metrics period (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          description: End of the metrics period (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: interval
          in: query
          description: Metrics aggregation interval.
          schema:
            type: string
            enum:
              - 5m
              - 15m
              - 1h
              - 6h
              - 1d
            default: 1h
      responses:
        '200':
          description: 5G security metrics returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityMetrics5G'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    NetworkSlice:
      type: object
      properties:
        slice_id:
          type: string
          description: Unique identifier of the network slice.
        name:
          type: string
          description: Display name of the network slice.
        description:
          type: string
          description: Description of the slice's purpose or use case.
        slice_type:
          type: string
          enum:
            - eMBB
            - URLLC
            - mMTC
          description: >-
            5G slice type based on 3GPP SST values. eMBB for enhanced
            mobile broadband, URLLC for ultra-reliable low-latency, mMTC
            for massive machine-type communications.
        sst:
          type: integer
          description: Slice/Service Type numeric value (1=eMBB, 2=URLLC, 3=mMTC).
        sd:
          type: string
          description: Slice Differentiator hex string for distinguishing slices of the same type.
        status:
          type: string
          enum:
            - active
            - inactive
            - provisioning
            - error
          description: Current slice status.
        security_policy_id:
          type: string
          description: ID of the security policy applied to this slice.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    NetworkSliceRequest:
      type: object
      required:
        - name
        - slice_type
      properties:
        name:
          type: string
          description: Display name for the network slice.
        description:
          type: string
          description: Optional description.
        slice_type:
          type: string
          enum:
            - eMBB
            - URLLC
            - mMTC
          description: 5G slice type.
        sd:
          type: string
          description: Slice Differentiator hex string.
        security_policy_id:
          type: string
          description: Security policy ID to apply to this slice.
    SecurityPolicy5G:
      type: object
      properties:
        policy_id:
          type: string
          description: Unique identifier of the security policy.
        name:
          type: string
          description: Display name of the security policy.
        description:
          type: string
          description: Description of the policy's purpose.
        threat_prevention:
          type: boolean
          description: Whether threat prevention inspection is enabled.
        url_filtering:
          type: boolean
          description: Whether URL filtering is enabled for 5G data traffic.
        app_identification:
          type: boolean
          description: Whether application identification is enabled.
        decryption:
          type: boolean
          description: Whether SSL/TLS decryption is enabled.
        log_forwarding:
          type: boolean
          description: Whether log forwarding is enabled for this policy.
        enabled:
          type: boolean
          description: Whether this policy is active.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SecurityPolicy5GRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Display name for the security policy.
        description:
          type: string
          description: Optional description.
        threat_prevention:
          type: boolean
          default: true
        url_filtering:
          type: boolean
          default: false
        app_identification:
          type: boolean
          default: true
        decryption:
          type: boolean
          default: false
        log_forwarding:
          type: boolean
          default: true
        enabled:
          type: boolean
          default: true
    Tenant5G:
      type: object
      properties:
        tenant_id:
          type: string
          description: Unique identifier of the 5G tenant configuration.
        name:
          type: string
          description: Tenant display name.
        description:
          type: string
          description: Description of the tenant.
        assigned_slices:
          type: array
          items:
            type: string
          description: Network slice IDs assigned to this tenant.
        default_policy_id:
          type: string
          description: Default security policy ID for this tenant's traffic.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Tenant5GRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Display name for the tenant configuration.
        description:
          type: string
          description: Optional description.
        assigned_slices:
          type: array
          items:
            type: string
          description: Network slice IDs to assign to this tenant.
        default_policy_id:
          type: string
          description: Default security policy ID for this tenant.
    SecurityMetrics5G:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
        total_sessions:
          type: integer
          description: Total 5G sessions inspected during the period.
        threats_detected:
          type: integer
          description: Number of threats detected in 5G traffic.
        threats_blocked:
          type: integer
          description: Number of threats blocked.
        bytes_inspected:
          type: integer
          description: Total bytes of 5G traffic inspected.
        active_subscribers:
          type: integer
          description: Number of active 5G subscribers.
        per_slice_metrics:
          type: array
          description: Metrics broken down by network slice.
          items:
            type: object
            properties:
              slice_id:
                type: string
              slice_name:
                type: string
              sessions:
                type: integer
              threats_detected:
                type: integer
              bytes_inspected:
                type: integer
        time_series:
          type: array
          description: Time-series data points for the metrics period.
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              sessions:
                type: integer
              threats:
                type: integer
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
        message:
          type: string
          description: Human-readable description of the error.
        request_id:
          type: string
          description: Request identifier for support correlation.
