openapi: 3.2.0
info:
  title: 'Prisma Cloud: Managed Security Service Provider (MSSP) Proxy Endpoint Provider API'
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
  version: '1.0'
servers:
- url: https://mssp-api.prismacloud.io
tags:
- name: Proxy Endpoint Provider
paths:
  /api/v1/proxy/tenant/{prisma-id}/**:
    get:
      tags:
      - Proxy Endpoint Provider
      summary: summary needed
      description: description needed
      operationId: proxyRequest
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      - name: body
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    put:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_3
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    post:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_2
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    delete:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_5
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    options:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_6
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    head:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_1
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    patch:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_4
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
components:
  securitySchemes:
    ServiceJwt:
      type: http
      description: Service to Service communication JWT. Such tokens are available to other microservices
      scheme: bearer
      bearerFormat: JWT
    UserJwt:
      type: http
      description: JWT for User to Service communication. Such tokens are available to MSSP account users
      scheme: bearer
      bearerFormat: JWT
x-tagGroups:
- tags:
  - User Authentication
  - MSSP Account Management
  - User Management
  - MSSP Managed Tenant Lifecycle Endpoints
  - Tenant Group Lifecycle Endpoints
  - Policy Group Lifecycle Endpoints
  - Policy Group to Tenant Group Management
  - MSSP Operations Retry
  - Mssp License Endpoints
  - Stack Details Endpoint
  - Proxy Endpoint Provider
  name: public
- tags:
  - Managed Tenant Management Service
  - MSSP Async Change Management
  - Licensing Job Schedule Management
  - OIDC Discovery Endpoint
  - MSSP Account Management Service Endpoint
  name: service
- tags:
  - Hard Delete Managed Tenant
  name: support
