openapi: 3.2.0
info:
  title: SP Interconnect Monitor VLAN Attachment Traffic API
  version: '1.0'
  description: "These APIs deliver real-time visibility and performance analytics for all configured interconnect \nresources through the monitoring plane. They allow network teams to track health, bandwidth throughput, \nand data transfer volumes at the edge to ensure optimal network security and reliability. \nAccess these metrics during routine audits or active troubleshooting to diagnose latency spikes or BGP session instability. \nBy applying time-based filters and histograms, you can generate detailed traffic trends and monitor IP pool consumption across your global infrastructure. Created on February 12, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- authKey: []
tags:
- name: VLAN Attachment Traffic
paths:
  /mt/sp-interconnect/monitor/vlanAttachments/traffic:
    post:
      tags:
      - VLAN Attachment Traffic
      summary: Get Vlan Attachment Traffic Trends
      description: Analyze traffic volume trends for specific virtual circuits over time. This function captures the total amount of data processed by a VlanAttachment, assisting in usage-based auditing or capacity forecasting for regional egress. Deploy this when identifying which virtual circuits are the primary contributors to regional data transfer. Provide the unique circuit identifier and specify the aggregation function, such as a sum of egress traffic, to generate a time-series traffic report.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorRequest'
            example:
              properties:
              - property: egress_traffic
                function: sum
              - property: ingress_traffic
                function: sum
              - property: vlan_attachment_name
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 30
                - property: vlan_attachment_id
                  operator: in
                  values:
                  - 30eb7634-0f21-4dae-a42f-94d7f7cfdbd1
              histogram:
                property: event_time
                range: day
                enableEmptyInterval: false
                value: '1'
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - vlan_attachment_name: us-centrl-con-2
                  event_time: 1763424000000
                  egress_traffic: 12.942472452499988
                  ingress_traffic: 20.98604013349996
                - vlan_attachment_name: us-centrl-con-2
                  event_time: 1763510400000
                  egress_traffic: 12.99898336799997
                  ingress_traffic: 19.417176225000027
                requestId: 3291624f-4e40-4b10-9a9c-9851c8bbbd82
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtSp-interconnectMonitorVlanattachmentsTraffic
components:
  schemas:
    MonitorRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              function:
                type: string
              alias:
                type: string
              sort:
                type: object
                properties:
                  order:
                    type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
  securitySchemes:
    authKey:
      type: http
      scheme: Bearer
