openapi: 3.2.0
info:
  title: Palo Alto Networks Unknown IP  Regions API
  version: '1.0'
  description: 'Operations tagged Unknown IP  Regions across 3 of this provider''s published API definitions: palo-alto-networks-unknown-ip-regions-api-openapi.yml, palo-alto-sase-5g-monitor-api-openapi-original.yml, palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://stratacloudmanager.paloaltonetworks.com
tags:
- name: Unknown IP  Regions
paths:
  /mt/monitor/5g/unknownIp/region:
    get:
      tags:
      - Unknown IP  Regions
      summary: Palo Alto Networks Identify Unknown Regions
      description: "Returns a list of regions where IP Address addresses not explicitly mapped to \nknown User Equipment have been detected. Security teams check these \nlocations to investigate potential unauthorized traffic or misconfigured \n5G signaling paths."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - compute_region: us-west2
                header:
                  createdAt: '2025-12-17T02:04:26Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gUnknownipRegion
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
x-refined-from:
- palo-alto-networks-unknown-ip-regions-api-openapi.yml
- palo-alto-sase-5g-monitor-api-openapi-original.yml
- palo-alto-sase-monitor-services-5g-sase-5g-monitor-openapi.yaml
