openapi: 3.2.0
info:
  title: Palo Alto Networks Applications API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Applications across 9 of this provider''s published API definitions: palo-alto-access-browser-mgmt-prismaaccess-browser-management-latest-openapi.yaml, palo-alto-access-prisma-access-config-applications-openapi.yaml, palo-alto-autonomous-dem-api-openapi-original.yml, palo-alto-cspm-applicationconfigmicroservice-openapi.json, palo-alto-cspm-applicationsearchmicroservice-openapi.json, palo-alto-networks-applications-api-openapi.yml, palo-alto-saas-security-api-openapi-original.yml, palo-alto-scm-config-cloudngfw-objects-objects-june-openapi.yaml, palo-alto-ztna-connector-api-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sase.paloaltonetworks.com
- url: https://api.sase.paloaltonetworks.com/adem/telemetry/v2
  description: Autonomous DEM telemetry API server.
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
- url: https://api.aperture.paloaltonetworks.com
  description: SaaS Security (Aperture) API production server.
- url: https://api.strata.paloaltonetworks.com/config/objects/v1
  description: Current
- url: https://api.sase.paloaltonetworks.com/sse/config/v1
  description: Legacy
- url: https://api.sase.paloaltonetworks.com/ztna
  description: SASE ZTNA Connector API production server.
tags:
- name: Applications
paths:
  /seb-api/v1/applications:
    get:
      summary: List all applications
      description: Fetches all application objects, with support for filtering and pagination.
      operationId: GetSeb-apiV1Applications
      responses:
        '200':
          description: A list of all application objects
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - in: query
        name: type
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
        required: false
      - in: query
        name: name
        schema:
          type: string
        description: Optional name to search in applications
        required: false
      - in: query
        name: url
        schema:
          type: string
        description: Optional URL to search in applications
        required: false
      - name: limit
        in: query
        description: Maximum number of applications to return
        required: false
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - in: query
        name: sort
        description: The field to sort by
        required: false
        schema:
          type: string
          enum:
          - application.id
          - application.name
          - application.create_time
          - application.update_time
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      - name: configurationVersion
        in: query
        description: Configuration version to retrieve (draft, active, or version number)
        required: false
        schema:
          type: string
          default: draft
          pattern: ^([dD]raft|[aA]ctive|[1-9][0-9]{0,9}|0CV[0-9A-Z]{26})$
      tags:
      - Applications
      security:
      - BearerAuth: []
  /seb-api/v1/applications/{id}:
    get:
      summary: Get an application by ID
      description: Fetches a specific application object identified by its unique ID.
      operationId: GetSeb-apiV1Applicationsbyid
      responses:
        '200':
          description: An Application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationItem'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      - name: configurationVersion
        in: query
        description: Configuration version to retrieve (draft, active, or version number)
        required: false
        schema:
          type: string
          default: draft
          pattern: ^([dD]raft|[aA]ctive|[1-9][0-9]{0,9}|0CV[0-9A-Z]{26})$
      tags:
      - Applications
      security:
      - BearerAuth: []
    delete:
      summary: Delete an application by ID
      description: Permanently removes a specific application identified by its ID.
      operationId: DeleteSeb-apiV1Applicationsbyid
      responses:
        '204':
          description: Deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      tags:
      - Applications
      security:
      - BearerAuth: []
  /seb-api/v1/applications/type/{type}:
    get:
      summary: List applications by type
      description: Fetches application objects belonging to a specific type.
      operationId: GetSeb-apiV1ApplicationsTypebytype
      responses:
        '200':
          description: A list of all application objects
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationItem'
                  metadata:
                    $ref: '#/components/schemas/ResponseMetadata'
                  pageInfo:
                    $ref: '#/components/schemas/PageInfo'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      - in: query
        name: name
        schema:
          type: string
        description: Optional name to search in applications
        required: false
      - in: query
        name: url
        schema:
          type: string
        description: Optional URL to search in applications
        required: false
      - name: configurationVersion
        in: query
        description: Configuration version to retrieve (draft, active, or version number)
        required: false
        schema:
          type: string
          default: draft
          pattern: ^([dD]raft|[aA]ctive|[1-9][0-9]{0,9}|0CV[0-9A-Z]{26})$
      - name: cursor
        in: query
        description: An optional opaque string that defines from where to start listing
        required: false
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of applications to return
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: sort
        description: The field to sort by
        required: false
        schema:
          type: string
          enum:
          - application.id
          - application.name
          - application.create_time
          - application.update_time
      - name: order
        in: query
        description: The sort order
        required: false
        schema:
          $ref: '#/components/schemas/Order'
      tags:
      - Applications
      security:
      - BearerAuth: []
    post:
      summary: Create an application
      description: Adds a new application of the specified type to the management console. **Uniform Resource Locator Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.
      operationId: PostSeb-apiV1ApplicationsTypebytype
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the newly created resource
                required:
                - id
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrReplaceAppInput'
      security:
      - BearerAuth: []
  /seb-api/v1/applications/type/{type}/{id}:
    get:
      summary: Get an application by ID by type
      description: Fetches a specific application object belonging to the specified type.
      operationId: GetSeb-apiV1ApplicationsTypeBy_typebyid
      responses:
        '200':
          description: An Application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationItem'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      - name: configurationVersion
        in: query
        description: Configuration version to retrieve (draft, active, or version number)
        required: false
        schema:
          type: string
          default: draft
          pattern: ^([dD]raft|[aA]ctive|[1-9][0-9]{0,9}|0CV[0-9A-Z]{26})$
      tags:
      - Applications
      security:
      - BearerAuth: []
    patch:
      summary: Update an application
      description: Partially updates an application - provided attributes are set as specified, others remain unchanged. **Uniform Resource Locator Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.
      operationId: PatchSeb-apiV1ApplicationsTypeBy_typebyid
      responses:
        '200':
          description: Updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the updated resource
                required:
                - id
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAppInput'
      security:
      - BearerAuth: []
    delete:
      summary: Delete an application by type
      description: Removes an application of the specified type from the system.
      operationId: DeleteSeb-apiV1ApplicationsTypeBy_typebyid
      responses:
        '204':
          description: Deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      - name: id
        in: path
        required: true
        schema:
          type: string
          pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
        description: Application ID.
      tags:
      - Applications
      security:
      - BearerAuth: []
  /seb-api/v1/applications/categories:
    get:
      summary: List application categories
      description: Retrieve the categories details through this Application Programming Interface endpoint.
      operationId: GetSeb-apiV1ApplicationsCategories
      responses:
        '200':
          description: A list of the available application categories
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      type: string
        '403':
          description: Forbidden
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Applications
      security:
      - BearerAuth: []
  /seb-api/v1/applications/bulk-create/{type}:
    post:
      summary: Bulk create applications
      description: Adds multiple new applications of the specified type to the management console in a single operation. **Uniform Resource Locator Limit:** For custom, private, and non-web applications, there is a tenant-wide limit of 15,000 URLs combined. Exceeding this limit returns a 400 Bad Request error.
      operationId: bulkCreateApplications
      responses:
        '201':
          description: Created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreatedResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '409':
          description: Conflict - resource already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
      parameters:
      - in: path
        name: type
        required: true
        schema:
          type: string
          enum:
          - custom
          - private
          - non-web
          - catalog
          - localdesktopcustom
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateOrReplaceAppInput'
              maxItems: 1000
              minItems: 1
      security:
      - BearerAuth: []
  /seb-api/v1/applications/bulk-delete:
    post:
      summary: Bulk delete applications
      description: Permanently removes multiple applications identified by their IDs in a single atomic operation.
      operationId: PostSeb-apiV1ApplicationsBulk-delete
      responses:
        '204':
          description: Deleted successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errorResponse:
                    $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
        '404':
          description: Resource Not found
        '500':
          description: Internal server error
      parameters: []
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appIds:
                  type: array
                  items:
                    type: string
                    pattern: ^0AP[0-9A-HJKMNP-TV-Z]{26}$
                  description: Array of application IDs to be deleted
                  minItems: 1
                  maxItems: 2000
              required:
              - appIds
      security:
      - BearerAuth: []
  /sse/config/v1/applications:
    get:
      description: 'Get applications.

        '
      operationId: get-sse-config-v1-applications
      parameters:
      - $ref: '#/components/parameters/limit-optional'
      - $ref: '#/components/parameters/offset-optional'
      - $ref: '#/components/parameters/name-optional'
      - $ref: '#/components/parameters/folder'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    allOf:
                    - items:
                        $ref: '#/components/schemas/objects-applications'
                      type: array
                  limit:
                    default: 200
                    type: number
                  offset:
                    default: 0
                    type: number
                  total:
                    type: number
                type: object
          description: List of applications
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: List applications
      tags:
      - Applications
    post:
      description: 'Create an application.

        '
      operationId: post-sse-config-v1-applications
      parameters:
      - $ref: '#/components/parameters/folder'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/objects-applications'
        description: The application you want to create
      responses:
        '201':
          $ref: '#/components/responses/http_created'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Create an application
      tags:
      - Applications
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /sse/config/v1/applications/{id}:
    delete:
      description: 'Delete an application.

        '
      operationId: delete-sse-config-v1-applications-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Delete an application
      tags:
      - Applications
    get:
      description: 'Get an [application](https://docs.paloaltonetworks.com/network-security/security-policy/objects/applications) by ID.

        '
      operationId: get-sse-config-v1-applications-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      responses:
        '200':
          content:
            application/json:
              schema:
                allOf:
                - items:
                    $ref: '#/components/schemas/objects-applications'
                  type: array
          description: Get the application by id.
        '400':
          $ref: '#/components/responses/bad_request_errors_basic'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Get an application by ID
      tags:
      - Applications
    put:
      description: 'Modify an application.

        '
      operationId: put-sse-config-v1-applications-id
      parameters:
      - $ref: '#/components/parameters/uuid-required'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/objects-applications'
        description: The application you want to edit
      responses:
        '200':
          $ref: '#/components/responses/http_ok'
        '400':
          $ref: '#/components/responses/bad_request_errors_basic_with_body'
        '401':
          $ref: '#/components/responses/auth_errors'
        '403':
          $ref: '#/components/responses/access_errors'
        '404':
          $ref: '#/components/responses/not_found'
        '409':
          $ref: '#/components/responses/conflict_errors'
        default:
          $ref: '#/components/responses/default_errors'
      security:
      - Bearer: []
      summary: Edit an application
      tags:
      - Applications
    servers:
    - url: https://api.sase.paloaltonetworks.com
  /mt/monitor/adem/v1/applications:
    get:
      operationId: listMonitoredApplications
      summary: Palo Alto Networks List Monitored Applications
      description: Returns a list of all applications configured for monitoring in Autonomous DEM. Each entry includes the application name, category, and the synthetic tests configured for probing it.
      tags:
      - Applications
      parameters:
      - name: app_id
        in: query
        description: Filter by specific application identifier.
        schema:
          type: string
        example: '473439'
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
        example: 100
      responses:
        '200':
          description: Monitored applications returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitoredApplication'
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
              examples:
                ListMonitoredApplications200Example:
                  summary: Default listMonitoredApplications 200 response
                  x-microcks-default: true
                  value:
                    data:
                    - app_id: '100488'
                      name: Production Firewall 97
                      category: custom
                      type: saas
                      url: https://vpn.acme-systems.org/a5d006
                      test_count: 241
                      monitored_users: 122
                      created_at: '2026-02-02T08:43:53Z'
                    - app_id: '100488'
                      name: Production Firewall 97
                      category: custom
                      type: saas
                      url: https://vpn.acme-systems.org/a5d006
                      test_count: 241
                      monitored_users: 122
                      created_at: '2026-02-02T08:43:53Z'
                    total: 926
                    offset: 718
                    limit: 679
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    servers:
    - url: https://api.sase.paloaltonetworks.com/adem/telemetry/v2
      description: Autonomous DEM telemetry API server.
  /appid/api/v1/download/app:
    post:
      tags:
      - Applications
      summary: Download Application Inventory
      description: "You can download the complete application inventory list with the application details in a .csv format. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: inventory-Application-Csv-Download
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationDownloadRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '400':
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/app/criteria:
    get:
      tags:
      - Applications
      summary: Get Discovery Criteria
      description: "Discovery criteria is a set of filter strings based on which the assets are scanned and grouped into applications. The discovery criteria can be a predefined criteria or a custom criteria. You can use this endpoint to download all discovery criteria details including the criteria that were deleted. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: get_4
      parameters:
      - name: fetch_deleted
        in: query
        description: True to get deleted criteria; False to exclude the deleted criteria.
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    post:
      tags:
      - Applications
      summary: Create Discovery Criteria
      description: "Create a new custom discovery criteria. \n>**Note:** You need `application` feature with `Create or Update` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: create_1
      parameters:
      - name: create_definition
        in: query
        description: boolean value indicating if definition has to be created
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCriteriaRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/app/criteria/{id}:
    get:
      tags:
      - Applications
      summary: Get Application Discovery Criteria by ID
      description: "Get the discovery criteria details of an application by application ID. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: get_5
      parameters:
      - name: id
        in: path
        description: Application ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    delete:
      tags:
      - Applications
      summary: Delete Discovery Criteria
      description: "Delete a discovery criteria by criteria ID. \n>**Note:** You need `application` feature with `Delete` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: delete-discovery-criteria
      parameters:
      - name: id
        in: path
        description: ID of the criteria.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    patch:
      tags:
      - Applications
      summary: Update Discovery Criteria
      description: "Update details of the discovery criteria by ID. \n>**Note:** You need `application` feature with `Create or Update` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: edit-discovery-criteria
      parameters:
      - name: id
        in: path
        description: ID of the criteria.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCriteriaRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/download/app/{id}:
    get:
      tags:
      - Applications
      summary: Download Application Details
      description: "Download application details such as alert information, vulnerability reports, and asset details, in a CSV format. The file type value defines the details of the application to download. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: appDetailsCsvDownload
      parameters:
      - name: id
        in: path
        description: Application ID.
        required: true
        schema:
          type: string
      - name: file_type
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '400':
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v1/download/app/config/{id}:
    get:
      tags:
      - Applications
      summary: Download Application ABOM
      description: "Download Application ABOM (Application Bill of Materials) in a CSV format. This report contains detailed data such as alert information, vulnerability reports, and asset details associated with the application. \n>**Note:** You need `application` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that Application Inventory > Applications is enabled."
      operationId: app-download-abom
      parameters:
      - name: id
        in: path
        description: Application ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3'
        '413':
          description: Payload Too Large
          content:
            '*/*':
              schema:
                type: object
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app:
    post:
      tags:
      - Applications
      summary: Get All Applications
      description: "Get the list of all applications and its details. These are applications that are scanned based on the discovery criteria and displayed in the Application Inventory. This endpoint will return upto 2000 applications. You can further filter the application based on the values of business criticality, business owner, environment and name. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: list-Apps-V2
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAppsRequest'
            examples:
              getAppsByRepositoryIds:
                value:
                  repoIds:
                  - 6e453e07-d896-4c65-a902-cb52874fe399
                  - 012b49a5-4ddc-42db-a0fe-632279d1afc5
              getAppsByMetadataFields:
                value:
                  businessCriticality: High
                  displayName: AppDNA-Test-APP
                  environment: prod
                  owner: owner1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponseV2'
              examples:
                getAppsByRepositoryIds:
                  value:
                  - metadata:
                      businessCriticality:
                      - High
                      displayName:
                      - AppDNA-Test-APP
                      environment:
                      - prod
                      owner:
                      - owner1
                      repos:
                      - fullRepositoryName: name-012b49a5-4ddc-42db-a0fe-632279d1afc5
                        id: 012b49a5-4ddc-42db-a0fe-632279d1afc5
                      - fullRepositoryName: name-6e453e07-d896-4c65-a902-cb52874fe399
                        id: 6e453e07-d896-4c65-a902-cb52874fe399
                      reviewed:
                      - 'true'
                      type:
                      - NON_K8s
                    id: 0622a20b-8db5-449d-b529-70ab3244be79
                    createdAt: 1713876184450
                    summary: null
                  - metadata:
                      displayName:
                      - appid-tags-automation
                      environment:
                      - prod
                      owner:
                      - owner2
                      repos:
                      - fullRepositoryName: name-012b49a5-4ddc-42db-a0fe-632279d1afc5
                        id: 012b49a5-4ddc-42db-a0fe-632279d1afc5
                      - fullRepositoryName: name-6e453e07-d896-4c65-a902-cb52874fe399
                        id: 6e453e07-d896-4c65-a902-cb52874fe399
                      reviewed:
                      - 'true'
                      type:
                      - NON_K8s
                    id: 88f3fd07-4096-3504-867d-f5cf3422ddae
                    createdAt: 1713876184450
                    summary: null
                getAppsByMetadataFields:
                  value:
                  - metadata:
                      businessCriticality:
                      - High
                      businessUnit:
                      - pc
                      clusterAssetId:
                      - arn:aws:eks:us-east-1:661959982153:cluster/k8sdev-apps2
                      complianceStandards:
                      - pc
                      description:
                      - testing edit for an application
                      devopsOwner:
                      - pc
                      displayName:
                      - applicedev@k8sdev-apps2
                      environment:
                      - Production
                      namespace:
                      - applicedev
                      owner:
                      - pc
                      repository:
                      - pc
                      reviewed:
                      - 'true'
                      securityOwner:
                      - pc
                      type:
                      - K8s
                    id: 56e3a090-9510-33f8-a93e-ecb14a2ac38f
                    createdAt: -1
                    summary:
                      alertCountByPolicyType:
                        attack_path: 71
                        config: 3
                        iam: 46
                        network: 4
                      alertCountsBySeverity:
                        critical: 8
                        high: 25
                        info: 60
                        low: 60
                        medium: 27
                      assetCount:
                        total: 24
                      cloudTypes:
                      - aws
                      findingCountByType:
                        INTERNET_EXPOSURE: 12
                        MISCONFIGURATION: 1
                        PRIVILEGE_ESCALATION: 8
                      vulnCountsBySeverity:
                        critical: 0
                        high: 0
                        low: 0
                        medium: 0
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}:
    get:
      tags:
      - Applications
      summary: Get Application by ID
      description: "Get details of an application by application ID.\n >**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: get-App-V2
      parameters:
      - name: id
        description: id of app to get details for
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ApplicationWithAssets'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}/assets:
    post:
      tags:
      - Applications
      summary: Get Assets Associated with an Application
      description: 'Get list of assets associated with an application by application ID.

        >**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled.'
      operationId: search-Assets-By-App
      parameters:
      - name: id
        description: id of application
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ApplicationWithAssets'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}/vulnerabilities:
    post:
      tags:
      - Applications
      summary: Get Vulnerabilities in an Application
      description: "Get details of the vulnerabilities in an application by application ID. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: search-Vulns-By-App
      parameters:
      - name: id
        description: id of application
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ApplicationWithAssets'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}/alerts:
    post:
      tags:
      - Applications
      summary: Get Alerts for an Application
      description: "Get details of alerts in an application by application ID. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: search-Alerts-By-App
      parameters:
      - name: id
        description: id of application
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2ApplicationWithAssets'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/summary:
    get:
      tags:
      - Applications
      summary: Get Application Summary
      description: "Get the statistical details about applications in your environment such as count of applications discovered, number of vulnerabilities, and so on. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: app-Summary
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryOfApps'
              example:
                totalAssets: 43334
                totalApps: 12
                newlyDiscoveredApps: 11
                appsWithVuln: 12
                appsWithCriticalAlerts: 102
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/app/{id}/grouped-counts:
    post:
      tags:
      - Applications
      summary: Get Risk Count of an Application
      description: "Get risk count of an application by application ID. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: search-Counts-By-App
      parameters:
      - name: id
        description: id of application
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestGroupedCount'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskCountResponse'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/api/v2/tags:
    get:
      tags:
      - Applications
      summary: List Tags
      description: "Get the list of tags which are used to scan and discover applications. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      operationId: get-Tags-By-Prisma-Id
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTagsResponse'
              example:
                Tags:
                - managedby
                - application_id
                - api_name
                - cloudtype
                - confidentiality
                - compliance
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/search/api/v1/app:
    post:
      summary: Get Applications by RQL
      description: "Get the list of applications and its details that matches the search query. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      tags:
      - Applications
      parameters:
      - name: id
        in: query
        required: false
        schema:
          type: string
        description: Unique identifier for the search query.
      - name: searchType
        in: query
        required: false
        schema:
          type: string
          enum:
          - application
        description: Type of search.
      - name: saved
        in: query
        required: false
        schema:
          type: boolean
        description: Whether the search query is saved.
      - name: timeRange
        in: query
        required: false
        schema:
          type: object
          properties:
            type:
              type: string
              enum:
              - to_now
            value:
              type: string
              example: epoch
        description: Time range for the search query.
      - name: query
        in: query
        required: true
        schema:
          type: string
        description: The actual query string for searching applications.
      responses:
        '200':
          description: A JSON object containing the search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the search result.
                  name:
                    type: string
                    description: The name of the search result.
                  description:
                    type: string
                    description: The description of the search result.
                  searchType:
                    type: string
                    description: The type of search.
                  saved:
                    type: boolean
                    description: Indicates if the search is saved.
                  timeRange:
                    type: object
                    properties:
                      type:
                        type: string
                        description: The type of time range.
                      value:
                        type: string
                        description: The value for the time range.
                  query:
                    type: string
                    description: The query string used for searching.
                  data:
                    type: object
                    properties:
                      totalRows:
                        type: integer
                        description: The total number of rows in the result.
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            applicationId:
                              type: string
                              description: The unique identifier of the application.
                            name:
                              type: string
                              description: The name of the application.
                            owner:
                              type: string
                              description: The owner of the application.
                            environment:
                              type: string
                              description: The environment in which the application is running.
                            businessCriticality:
                              type: string
                              description: The business criticality of the application.
                            type:
                              type: string
                              description: The type of application.
                            totalAssets:
                              type: integer
                              description: The total number of assets.
                            impactedAssets:
                              type: integer
                              description: The number of impacted assets.
                            vulnCount:
                              type: integer
                              description: The count of vulnerabilities.
                            alertCount:
                              type: integer
                              description: The count of alerts.
                            findingCount:
                              type: integer
                              description: The count of findings.
                      nextPageToken:
                        type: string
                        description: Token for fetching the next page of results.
        '400':
          description: Invalid search query.
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/search/api/v1/app/risk:
    post:
      summary: Get Vulnerabilities and Alerts for an Application
      description: "Returns vulnerabilities and alerts associated with assets. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestRisk'
      responses:
        '200':
          description: A JSON object containing vulnerabilities and alerts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  vulns:
                    type: array
                    description: List of vulnerabilities.
                    items:
                      type: object
                  alerts:
                    type: array
                    description: List of alerts.
                    items:
                      type: object
                      properties:
                        unifiedAssetId:
                          type: string
                          description: Unique identifier for the asset associated with the alert.
                        alertId:
                          type: string
                          description: Unique identifier for the alert.
                        policy:
                          type: object
                          description: Details of the policy that triggered the alert.
                          properties:
                            policyId:
                              type: string
                              description: Unique identifier for the policy.
                            name:
                              type: string
                              description: Name of the policy.
                            severity:
                              type: string
                              description: Severity level of the policy.
                              enum:
                              - low
                              - medium
                              - high
                              - critical
                            policyType:
                              type: string
                              description: Type of the policy.
                            findingTypes:
                              type: array
                              description: Types of findings associated with the policy.
                              items:
                                type: string
                                enum:
                                - PRIVILEGE_ESCALATION
                                - INTERNET_EXPOSURE
                                - OTHER
        '400':
          description: Invalid request parameters.
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/search/api/v1/app/service:
    post:
      summary: Get Vulnerabilities and Alerts for a Service
      description: "Returns the counts of assets, vulnerabilities, and alerts associated with each service. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequestRisk'
      responses:
        '200':
          description: A JSON object containing service vulnerability and alert counts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  services:
                    type: array
                    description: List of services with associated counts.
                    items:
                      type: object
                      properties:
                        service:
                          type: string
                          description: The name of the service.
                        counts:
                          type: object
                          description: Count details related to the service.
                          properties:
                            assetCount:
                              type: integer
                              description: The number of assets associated with the service.
                            vulnCount:
                              type: integer
                              description: The number of vulnerabilities associated with the service.
                            alertCount:
                              type: integer
                              description: The number of alerts associated with the service.
                  nextPageToken:
                    type: string
                    description: Token for fetching the next page of results.
        '400':
          description: Invalid request parameters.
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /appid/app/service/{id}:
    get:
      summary: Get Assets and Services of an Application
      description: "Returns details of assets and services associated with an application, including alerts associated with assets. \n>**Note:** You need `investigateApplicationRql` feature with `Read` permission to access this endpoint. Verify if your permission group includes this feature using the [Get Permission Group by ID](https://pan.dev/prisma-cloud/api/cspm/get-1/) endpoint. You can also check this in the Prisma Cloud console by ensuring that `Investigate` > `Applications` is enabled."
      tags:
      - Applications
      parameters:
      - name: id
        description: Application ID
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A JSON object containing asset and service information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    description: List of assets with associated details.
                    items:
                      type: object
                      properties:
                        unifiedAssetId:
                          type: string
                          description: Unique identifier for the asset.
                        externalAssetId:
                          type: string
                          description: External identifier for the asset.
                        type:
                          type: string
                          description: The type of asset (e.g., Compute).
                        name:
                          type: string
                          description: The name of the asset.
                        alerts:
                          type: array
                          description: List of alerts associated with the asset.
                          items:
                            type: object
                            properties:
                              unifiedAssetId:
                                type: string
                                description: Unique identifier for the asset associated with the alert.
                              alertId:
                                type: string
                                description: Unique identifier for the alert.
                              policy:
                                type: object
                                description: Details of the policy that triggered the alert.
                                properties:
                                  policyId:
                                    type: string
                                    description: Unique identifier for the policy.
                                  name:
                                    type: string
                                    description: Name of the policy.
                                  severity:
                                    type: string
                                    description: Severity level of the policy.
                                    enum:
                                    - low
                                    - medium
                                    - high
                                    - critical
                                  policyType:
                                    type: string
                                    description: Type of the policy.
                                  findingTypes:
                                    type: array
                                    description: Types of findings associated with the policy.
                                    items:
                                      type: string
                                      enum:
                                      - HIGH_PRIVILEGED_ROLE
                                      - INTERNET_EXPOSURE
                                      - OTHER
                        totalAlertsCount:
                          type: integer
                          description: Total number of alerts associated with the asset.
                  services:
                    type: array
                    description: List of services with associated details.
                    items:
                      type: object
                      properties:
                        Raw:
                          type: string
                          description: Raw service identifier.
                        Name:
                          type: string
                          description: Name of the service.
                        Id:
                          type: string
                          description: Unique identifier for the service.
                        Kind:
                          type: array
                          description: Types or categories of the service.
                          items:
                            type: string
                        Region:
                          type: string
                          description: The region where the service is located.
        '400':
          description: Invalid request parameters.
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /api/applications:
    get:
      operationId: listApplications
      summary: Palo Alto Networks List Connected SaaS Applications
      description: Returns the list of SaaS applications connected to the SaaS Security tenant. Each application entry includes its connection status, the number of scanned assets, and the number of active incidents.
      tags:
      - Applications
      responses:
        '200':
          description: Connected applications returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
              examples:
                ListApplications200Example:
                  summary: Default listApplications 200 response
                  x-microcks-default: true
                  value:
                    total: 994
                    items:
                    - id: example-id
                      name: Primary Agent 80
                      type: advanced
                      status: connected
                      asset_count: 752
                      incident_count: 54
                      connected_at: '2025-07-22T17:44:41Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2_2'
              examples:
                ListApplications401Example:
                  summary: Default listApplications 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured monitoring network blocked investigation applied activity.
                    request_id: 5cc3d66e-5479-4e15-bd64-849adde3cb60
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2_2'
              examples:
                ListApplications403Example:
                  summary: Default listApplications 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured monitoring network blocked investigation applied activity.
                    request_id: 5cc3d66e-5479-4e15-bd64-849adde3cb60
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_2_2'
              examples:
                ListApplications500Example:
                  summary: Default listApplications 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured monitoring network blocked investigation applied activity.
                    request_id: 5cc3d66e-5479-4e15-bd64-849adde3cb60
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /v2/applications:
    get:
      operationId: listZTNAApplications
      summary: Palo Alto Networks List ZTNA-protected Applications
      description: Returns the list of applications protected by ZTNA. Each application defines the private resource users can access along with the connector group that provides access.
      tags:
      - Applications
      responses:
        '200':
          description: ZTNA applications returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ZTNAApplication'
              examples:
                ListZtnaapplications200Example:
                  summary: Default listZTNAApplications 200 response
                  x-microcks-default: true
                  value:
                    total: 626
                    items:
                    - app_id: '768496'
                      name: Corporate Sensor 20
                      description: On investigation rule violation threat monitoring.
                      group_id: '907399'
                      fqdn: api.acme-systems.org
                      ports:
                      - 603
                      - 3
                      protocols:
                      - TCP
                      enabled: true
                      created_at: '2024-05-17T06:02:30Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3_2'
              examples:
                ListZtnaapplications401Example:
                  summary: Default listZTNAApplications 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3_2'
              examples:
                ListZtnaapplications403Example:
                  summary: Default listZTNAApplications 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3_2'
              examples:
                ListZtnaapplications500Example:
                  summary: Default listZTNAApplications 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    post:
      operationId: createZTNAApplication
      summary: Palo Alto Networks Create ZTNA Application
      description: Creates a new ZTNA-protected application definition.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZTNAApplicationRequest'
            examples:
              CreateZtnaapplicationRequestExample:
                summary: Default createZTNAApplication request
                x-microcks-default: true
                value:
                  name: Branch Agent 75
                  description: Incident suspicious firewall Security suspicious policy threat suspicious.
                  group_id: '376339'
                  fqdn: login.test-corp.net
                  ports:
                  - 28
                  protocols:
                  - TCP
                  - UDP
                  enabled: true
      responses:
        '201':
          description: ZTNA application created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZTNAApplication'
              examples:
                CreateZtnaapplication201Example:
                  summary: Default createZTNAApplication 201 response
                  x-microcks-default: true
                  value:
                    app_id: '768496'
                    name: Corporate Sensor 20
                    description: On investigation rule violation threat monitoring.
                    group_id: '907399'
                    fqdn: api.acme-systems.org
                    ports:
                    - 603
                    - 3
                    protocols:
                    - TCP
                    enabled: true
                    created_at: '2024-05-17T06:02:30Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3_2'
              examples:
                CreateZtnaapplication400Example:
                  summary: Default createZTNAApplication 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3_2'
              examples:
                CreateZtnaapplication401Example:
                  summary: Default createZTNAApplication 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3_2'
              examples:
                CreateZtnaapplication403Example:
                  summary: Default createZTNAApplication 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3_2'
              examples:
                CreateZtnaapplication500Example:
                  summary: Default createZTNAApplication 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2Bearer: []
    servers:
    - url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
      description: AIOps for NGFW BPA API production server.
  /v2/applications/{app_id}:
    get:
      operationId: getZTNAApplication
      summary: Palo Alto Networks Get ZTNA Application
      description: Returns full details for a specific ZTNA-protected application.
      tags:
      - Applications
      parameters:
      - name: app_id
        in: path
        required: true
        description: Unique identifier of the ZTNA application.
        schema:
          type: string
        example: '990231'
      responses:
        '200':
          description: ZTNA application details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZTNAApplication'
              examples:
                GetZtnaapplication200Example:
                  summary: Default getZTNAApplication 200 response
                  x-microcks-default: true
                  value:
                    app_id: '768496'
                    name: Corporate Sensor 20
                    description: On investigation rule violation threat monitoring.
                    group_id: '907399'
                    fqdn: api.acme-systems.org
                    ports:
                    - 603
                    - 3
                    protocols:
                    - TCP
                    enabled: true
                    created_at: '2024-05-17T06:02:30Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse_3_2'
              examples:
                GetZtnaapplication401Example:
                  summary: Default getZTNAApplication 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
[...]
