openapi: 3.2.0
info:
  title: SASE 5G Manage Service Cie Token Resource API
  version: '1.0'
  description: 'The SASE 5G Management Service provides the administrative framework required to provision,

    configure, and oversee 5G security infrastructure within the Strata Cloud Manager (SCM) ecosystem.'
servers:
- url: https://stratacloudmanager.paloaltonetworks.com
security:
- JWT: []
tags:
- name: Cie Token Resource API
paths:
  /mt/manage/5g/cie/token:
    post:
      tags:
      - Cie Token Resource API
      summary: Store Tenant Token
      description: 'Saves the Cloud Identity Engine (CIE) token to the management plane for leaf tenants.

        Administrators perform this during initial setup to authorize secure identity

        synchronization between tenant directories and Strata Cloud Manager. This process

        establishes the trust relationship required for identity-based security policies.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CieTokenRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: PostMtManage5gCieToken
  /mt/manage/5g/cie/token/details:
    post:
      tags:
      - Cie Token Resource API
      summary: Fetch Token Metadata
      description: 'Displays configuration metadata and validity status for an existing leaf tenant CIE token.

        Engineers use this during connection health audits to verify that identity integrations

        remain active within the management plane. It utilizes the tenant''s TSG ID to locate

        specific metadata records for verification.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonObject'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '404':
          description: Data Not Found
        '500':
          description: Server Error
      operationId: PostMtManage5gCieTokenDetails
components:
  schemas:
    JsonObject:
      type: array
      items:
        type: string
    CieTokenRequest:
      type: object
      properties:
        tsg_id:
          type: string
        access_token:
          type: string
        created_by:
          type: string
        created_at:
          type: string
        cie_directory:
          type: string
