openapi: 3.2.0
info:
  title: pcs-code-to-cloud Code to Cloud API
  version: 1.0.0-SNAPSHOT
  description: Use code to cloud dashboard to get a continuously updated snapshot view into the security posture of your cloud environment, streamline tracking and reporting. You can use the following APIs to get the trendline datapoints for deploytime and runtime respectively.
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
tags:
- name: Code to Cloud
  description: Use code to cloud dashboard to get a continuously updated snapshot view into the security posture of your cloud environment, streamline tracking and reporting. You can use the following APIs to get the trendline datapoints for deploytime and runtime respectively.
paths:
  /c2c/api/v1/deploy/trend:
    get:
      tags:
      - Code to Cloud
      summary: List Deploy Trend
      description: 'Get the last 30 day trend of open deployment vulnerabilities with 1 data point for each day. The API will return the critical and high severity vulnerability count for Container Registry Image, ECR Image, Azure Registry Image, Google Container Registry Image and Google Artifact Image. The timestamp values are in epoch format and in milliseconds.


        **Note:** You need System Admin or System Admin Read Only role to access this API.

        :::info

        This endpoint is available on the Prisma Cloud Darwin release only.

        :::

        '
      operationId: code-to-cloud-list-deploy-trend
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployTrendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      x-public: 'true'
      x-ga: 23.10.2-darwin
  /c2c/api/v1/runtime/trend:
    get:
      tags:
      - Code to Cloud
      summary: List Runtime Trend
      description: "Get the last 30 days runtime trend of open alerts with 1 data point for each day. The API returns the open alert count of critical and high severity incidents for Policy Category and Attack Path policies. The timestamp values are in epoch format and in milliseconds. \n\n**Note:** You need System Admin or System Admin Read Only role to access this API.\n:::info\nThis endpoint is available on the Prisma Cloud Darwin release only.\n:::\n"
      operationId: code-to-cloud-list-runtime-trend
      parameters: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuntimeTrendResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      x-public: 'true'
      x-ga: 23.10.2-darwin
components:
  schemas:
    DeployTrendResponse:
      type: array
      items:
        type: object
        properties:
          timestamp:
            type: long
          vulnerabilities:
            type: number
    RuntimeTrendResponse:
      type: array
      items:
        type: object
        properties:
          timestamp:
            type: long
          alerts:
            type: number
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
  securitySchemes:
    x-redlock-auth:
      description: The x-redlock-auth value is a JSON Web Token (JWT).
      in: header
      name: x-redlock-auth
      type: apiKey
