openapi: 3.2.0
info:
  title: SP Interconnect Monitor VLAN Attachment Statistics API
  version: '1.0'
  description: "These APIs deliver real-time visibility and performance analytics for all configured interconnect \nresources through the monitoring plane. They allow network teams to track health, bandwidth throughput, \nand data transfer volumes at the edge to ensure optimal network security and reliability. \nAccess these metrics during routine audits or active troubleshooting to diagnose latency spikes or BGP session instability. \nBy applying time-based filters and histograms, you can generate detailed traffic trends and monitor IP pool consumption across your global infrastructure. Created on February 12, 2026. © 2026 Palo Alto Networks, Inc."
servers:
- url: https://api.sase.paloaltonetworks.com
security:
- authKey: []
tags:
- name: VLAN Attachment Statistics
paths:
  /mt/sp-interconnect/monitor/vlanAttachments/stats:
    post:
      tags:
      - VLAN Attachment Statistics
      summary: Get Vlan Attachment Statistics
      description: Retrieve granular performance metrics and operational metadata for virtual circuits within the multi-tenant interconnect framework. This data resides in the monitoring plane and provides visibility into throughput, BGP states, and uptime for specific regional attachments. Access these statistics during health audits or when verifying that provisioned bandwidth aligns with actual consumption. To execute, define the desired properties—such as ingress/egress throughput or cloud router IPs—and apply filters based on time ranges or specific interconnect IDs.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorRequest'
            example:
              properties:
              - property: ingress_throughput
                function: avg
              - property: egress_throughput
                function: avg
              - property: vlan_attachment_name
              - property: interconnect_name
              - property: vlan_attachment_id
              - property: interconnect_id
              filter:
                operator: AND
                rules:
                - property: event_time
                  operator: last_n_days
                  values:
                  - 30
                - property: interconnect_id
                  operator: in
                  values:
                  - c4ac1cc9-684e-11f0-92e9-4201ac16024e
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                - cloudProvider: GCP
                  cloudRouterIp: 169.254.23.177/29
                  cloudRouterIpv6: 2600:2d00:0:1:8000:25:4:7879/125
                  createTime: 1737611965296
                  egress_throughput: 0.0011975343058471016
                  ingress_throughput: 0.0017068013320864356
                  interconnect_id: c4ac1cc9-684e-11f0-92e9-4201ac16024e
                  interconnect_name: ic-us-east1
                  region: us-east1
                  state: ACTIVE_BGP_UP_BGP_IPV6_UP
                  status: ACTIVE
                  tenants: 0
                  up_time: 1763134414000
                  updateTime: 1763755310226
                  vlan_attachment_id: 9764ced6-ef10-437e-80a4-d7609dee6264
                  vlan_attachment_name: us-east-1-add-2
                requestId: 45759649-4f0f-41b7-a8d2-766f924eaf67
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtSp-interconnectMonitorVlanattachmentsStats
components:
  schemas:
    MonitorRequest:
      type: object
      properties:
        properties:
          type: array
          items:
            type: object
            properties:
              property:
                type: string
              function:
                type: string
              alias:
                type: string
              sort:
                type: object
                properties:
                  order:
                    type: string
        filter:
          type: object
          properties:
            operator:
              type: string
            rules:
              type: array
              items:
                type: object
                properties:
                  property:
                    type: string
                  operator:
                    type: string
                  values:
                    type: array
                    items: {}
        histogram:
          type: object
          properties:
            property:
              type: string
            range:
              type: string
            enableEmptyInterval:
              type: boolean
            value:
              type: string
  securitySchemes:
    authKey:
      type: http
      scheme: Bearer
