openapi: 3.2.0
info:
  title: Palo Alto Networks Alerts API
  version: '1.0'
  description: 'Operations tagged Alerts across 6 of this provider''s published API definitions: palo-alto-cspm-alerts-openapi.json, palo-alto-cspm-alertsmicroservices-openapi.json, palo-alto-cspm-alertsnotificationmicroservice-openapi.json, palo-alto-cspm-consolidated-spec-cspm-spec-openapi.json, palo-alto-cspm-pia-openapi-openapi.json, palo-alto-dspm-dspm-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.prismacloud.io
- url: https://api2.prismacloud.io
- url: https://api3.prismacloud.io
- url: https://api4.prismacloud.io
- url: https://api.anz.prismacloud.io
- url: https://api.eu.prismacloud.io
- url: https://api2.eu.prismacloud.io
- url: https://api.gov.prismacloud.io
- url: https://api.prismacloud.cn
- url: https://api.ca.prismacloud.io
- url: https://api.sg.prismacloud.io
- url: https://api.uk.prismacloud.io
- url: https://api.ind.prismacloud.io
- url: https://api.jp.prismacloud.io
- url: https://api.fr.prismacloud.io
- url: https://api.dig.security
  description: Dig Security public API
- url: PATH_TO_CONSOLE
tags:
- description: "Prisma Cloud generates an alert when it detects a violation in a policy that is included in an active alert rule. \nYou can use the API requests to manage alerts, including listing or viewing, snoozing or dismissing, reopening, \nor remediating alerts.\n\nWhen retrieving a list of alerts through an API request, you can set filters, time range parameters, or pagination parameters.\n\n### Pagination\n\nYou can limit the number of items in a response list from API resources that support pagination. Version 2 (V2) of the API \nrequests to list alerts supports pagination and will accept the following request parameters.\n\nRequest Parameter  | Description  \n-----------| -------\n**limit** | Maximum number of items to return per page. Without pagination, maximum number of items to return in a response.\n**offset** | Number of items to skip before selecting items to return. Default is zero.\n**pageToken** | Set to the **nextPageToken** value from the previous response object to return the next page of data.\n\n### Filters\n\nAPI requests that use POST methods to request a list of alerts have filter parameters that enable you to narrow your request \nto alerts that meet a certain criteria.The [List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-options) \nrequests return the available filters.        \n"
  name: Alerts
paths:
  /filter/alert/suggest:
    get:
      description: Returns an object whose keys are the available policy filters. The corresponding values are default or recently set filter options
      operationId: get-alert-filter-and-options
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AlertFilterSuggestion'
          description: success
      security:
      - x-redlock-auth: []
      summary: List Alert Filters
      tags:
      - Alerts
    post:
      description: Returns available options for an alert filter key. Supports fuzzy autocomplete search. If you specify a **query** value in the request body parameters, the response includes only items that contain the **query** string.
      operationId: get-alert-filter-options
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterSuggestionModel'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ParsedTableFilter'
          description: successful operation
      security:
      - x-redlock-auth: []
      summary: List Alert Filter Autocomplete Suggestions
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert:
    get:
      description: "Returns a list of alerts that match the constraints specified in the query parameters. Max 10k results. To get more, use **List Alerts V2 - GET**.  \n\nData in the response object does not include alert rules.\n\nAlso, in the response object:\n\n* Property **riskDetail** is deprecated.\n* Property **resource.cloudServiceName** is populated only for alerts whose resources belong to a cloud service.\n\nWhen `detailed` flag is set to **true**, following fields will be returned within the policy response object:\n\n- `complianceMetadata`\n- `name`\n- `description`\n- `labels`\n- `deleted`\n- `recommendation`\n- `lastModifiedBy`\n- `lastModifiedOn`\n- `severity`\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec        \n"
      operationId: get-alerts
      parameters:
      - description: Time Type
        in: query
        name: timeType
        required: true
        schema:
          enum:
          - relative
          type: string
      - description: Number of **timeUnits**
        in: query
        name: timeAmount
        required: true
        schema:
          type: string
      - description: Time Unit
        in: query
        name: timeUnit
        required: true
        schema:
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          type: string
      - description: true = Return detailed alert data.
        in: query
        name: detailed
        required: true
        schema:
          type: boolean
      - description: 'Comma-separated list of specific fields to retrieve. Allowed values: alert.id, alert.status, alert.time, cloud.accountId, cloud.account, cloud.region, resource.id, resource.name, policy.name, policy.type, policy.severity'
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: The maximum number of items that will be returned in one response. The maximum cannot exceed 10,000. The default is 10,000.
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: Alert ID
        in: query
        name: alert.id
        required: false
        schema:
          type: string
      - description: Alert status
        in: query
        name: alert.status
        required: false
        schema:
          enum:
          - open
          - dismissed
          - snoozed
          - resolved
          - pending_resolution
          type: string
      - description: Cloud account
        in: query
        name: cloud.account
        required: false
        schema:
          type: string
      - description: Cloud account Id
        in: query
        name: cloud.accountId
        required: false
        schema:
          type: string
      - description: Account group
        in: query
        name: account.group
        required: false
        schema:
          type: string
      - description: Cloud type
        in: query
        name: cloud.type
        required: false
        schema:
          type: string
      - description: Cloud region
        in: query
        name: cloud.region
        required: false
        schema:
          type: string
      - description: Cloud service
        in: query
        name: cloud.service
        required: false
        schema:
          type: string
      - description: Policy ID
        in: query
        name: policy.id
        required: false
        schema:
          type: string
      - description: Policy name
        in: query
        name: policy.name
        required: false
        schema:
          type: string
      - description: Policy severity
        in: query
        name: policy.severity
        required: false
        schema:
          enum:
          - critical
          - high
          - medium
          - low
          - informational
          type: string
      - description: Policy label
        in: query
        name: policy.label
        required: false
        schema:
          type: string
      - description: Policy type
        in: query
        name: policy.type
        required: false
        schema:
          enum:
          - config
          - network
          - audit_event
          type: string
      - description: Policy compliance standard name
        in: query
        name: policy.complianceStandard
        required: false
        schema:
          type: string
      - description: Policy compliance requirement name
        in: query
        name: policy.complianceRequirement
        required: false
        schema:
          type: string
      - description: Policy compliance section ID
        in: query
        name: policy.complianceSection
        required: false
        schema:
          type: string
      - description: Policy is remediable
        in: query
        name: policy.remediable
        required: false
        schema:
          enum:
          - 'true'
          - 'false'
          type: string
      - description: Alert rule name
        in: query
        name: alertRule.name
        required: false
        schema:
          type: string
      - description: Resource ID
        in: query
        name: resource.id
        required: false
        schema:
          type: string
      - description: Resource name
        in: query
        name: resource.name
        required: false
        schema:
          type: string
      - description: Resource TYPE
        in: query
        name: resource.type
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/AlertModel'
                type: array
          description: successful operation
        '400':
          description: internal_error
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: List Alerts - GET
      tags:
      - Alerts
    post:
      description: "Returns a list of alerts that matches the constraints specified in the body parameters. Max 10k results. To get more, use **List Alerts V2 - POST**.  \n\nThe **fields** body parameter allows you to request specific fields from the alert payload. These fields\nare separate from the filters you specify. The following are valid **fields** items.\n\n* alert.id\n* alert.status\n* alert.time\n* cloud.account\n* cloud.accountId\n* cloud.region\n* resource.id\n* resource.name\n* policy.name\n* policy.type\n* policy.severity\n\nThe **filters** body parameter enables you to narrow your request for alerts. See \n[List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options) \nfor an API request to list all the valid filters.\n\nData in the response object does not include alert rules.\n\nAlso, in the response object:\n\n* Property **riskDetail** is deprecated.\n* Property **resource.cloudServiceName** is populated only for alerts whose resources belong to a cloud service.\n\nWhen `detailed` flag is set to **true**, following fields will be returned within the policy response object:\n\n- `complianceMetadata`\n- `name`\n- `description`\n- `labels`\n- `deleted`\n- `recommendation`\n- `lastModifiedBy`\n- `lastModifiedOn`\n- `severity`\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec        \n"
      operationId: post-alerts
      parameters:
      - description: true = Return detailed alert data. Default is false. Overrides **detailed** in body param.
        in: query
        name: detailed
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterModel'
      responses:
        '200':
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/AlertModel'
                type: array
          description: successful operation
        '400':
          description: internal_error
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: List Alerts - POST
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /v2/alert:
    get:
      description: "Returns a paginated list of alerts from the Prisma Cloud platform.  \n\nData in the response object does not include alert rules.\n\nAlso, in the response object:\n\n* Property **riskDetail** is deprecated.\n* Property **items[].resource.cloudServiceName** is populated only for alerts whose resources belong to a cloud service.\n\nWhen `detailed` flag is set to **true**, following fields will be returned within the policy response object:\n\n- `complianceMetadata`\n- `name`\n- `description`\n- `labels`\n- `deleted`\n- `recommendation`\n- `lastModifiedBy`\n- `lastModifiedOn`\n- `severity`\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec      \n"
      operationId: get-alerts-v2
      parameters:
      - description: Time Type
        in: query
        name: timeType
        required: true
        schema:
          enum:
          - relative
          type: string
      - description: Number of **timeUnits**
        in: query
        name: timeAmount
        required: true
        schema:
          type: string
      - description: Time Unit
        in: query
        name: timeUnit
        required: true
        schema:
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          type: string
      - description: true = Return detailed alert data.
        in: query
        name: detailed
        required: true
        schema:
          type: boolean
      - description: 'Array of specific fields to return. Allowed fields: alert.id, alert.status, alert.time, cloud.accountId, cloud.account, cloud.region, resource.id, resource.name, policy.name, policy.type, policy.severity'
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: 'Response object property by which to sort response list. The valid values are in the response object attribute **sortAllowedColumns**. The format is **property:asc** for ascending and **property:desc** for descending sort '
        example: sortBy=id:desc&sortBy=firstseen:asc,lastseen:desc
        in: query
        name: sortBy
        required: false
        schema:
          type: string
      - description: The maximum number of items that will be returned in one response. The maximum cannot exceed 10,000. The default is 10,000.
        in: query
        name: limit
        required: false
        schema:
          type: number
      - description: Token that identifies the required page of data. When there are multiple pages of data in the response, set **pageToken** to the **nextPageToken** value from the previous API response to retrieve the next page of data.
        in: query
        name: pageToken
        required: false
        schema:
          type: string
      - description: Alert ID
        in: query
        name: alert.id
        required: false
        schema:
          type: string
      - description: Alert status
        in: query
        name: alert.status
        required: false
        schema:
          enum:
          - open
          - dismissed
          - snoozed
          - resolved
          - pending_resolution
          type: string
      - description: Cloud account
        in: query
        name: cloud.account
        required: false
        schema:
          type: string
      - description: Cloud account Id
        in: query
        name: cloud.accountId
        required: false
        schema:
          type: string
      - description: Account group
        in: query
        name: account.group
        required: false
        schema:
          type: string
      - description: Cloud type
        in: query
        name: cloud.type
        required: false
        schema:
          type: string
      - description: Cloud region
        in: query
        name: cloud.region
        required: false
        schema:
          type: string
      - description: Cloud service
        in: query
        name: cloud.service
        required: false
        schema:
          type: string
      - description: Policy ID
        in: query
        name: policy.id
        required: false
        schema:
          type: string
      - description: Policy name
        in: query
        name: policy.name
        required: false
        schema:
          type: string
      - description: Policy severity
        in: query
        name: policy.severity
        required: false
        schema:
          enum:
          - critical
          - high
          - medium
          - low
          - informational
          type: string
      - description: Policy label
        in: query
        name: policy.label
        required: false
        schema:
          type: string
      - description: Policy type
        in: query
        name: policy.type
        required: false
        schema:
          enum:
          - config
          - network
          - audit_event
          type: string
      - description: Policy compliance standard name
        in: query
        name: policy.complianceStandard
        required: false
        schema:
          type: string
      - description: Policy compliance requirement name
        in: query
        name: policy.complianceRequirement
        required: false
        schema:
          type: string
      - description: Policy compliance section ID
        in: query
        name: policy.complianceSection
        required: false
        schema:
          type: string
      - description: Policy is remediable
        in: query
        name: policy.remediable
        required: false
        schema:
          enum:
          - 'true'
          - 'false'
          type: string
      - description: Alert rule name
        in: query
        name: alertRule.name
        required: false
        schema:
          type: string
      - description: Resource ID
        in: query
        name: resource.id
        required: false
        schema:
          type: string
      - description: Resource name
        in: query
        name: resource.name
        required: false
        schema:
          type: string
      - description: Resource TYPE
        in: query
        name: resource.type
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedResultsAlertModel'
          description: successful operation
        '400':
          description: internal_error
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: List Alerts V2 - GET
      tags:
      - Alerts
    post:
      description: "Returns a paginated list of alerts that matches the constraints specified in the body parameters.  \n\nThe **fields** request body parameter allows you to request specific fields from the alert payload. \nThese fields are separate from the filters you specify. The following are valid **fields** items.\n\n* alert.id\n* alert.status\n* alert.time\n* cloud.account\n* cloud.accountId\n* cloud.region\n* resource.id\n* resource.name\n* policy.name\n* policy.type\n* policy.severity\n\nThe **filters** request body parameter enables you to narrow your request for alerts. See \n[List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options) \nfor an API request to list all the valid filters.\n\nYou can find the valid values for the **sortBy** request body parameter in the response \nobject attribute **sortAllowedColumns**.\n\nData in the response object does not include alert rules.\n\nAlso, in the response object:\n\n* Property **riskDetail** is deprecated.\n* Property **items[].resource.cloudServiceName** is populated only for alerts whose resources belong to a cloud service.\n\nWhen `detailed` flag is set to **true**, following fields will be returned within the policy response object:\n\n- `complianceMetadata`\n- `name`\n- `description`\n- `labels`\n- `deleted`\n- `recommendation`\n- `lastModifiedBy`\n- `lastModifiedOn`\n- `severity`\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec \n"
      operationId: post-alerts-v2
      parameters:
      - description: true = Return detailed alert data. Default is false. Overrides **detailed** in body param.
        in: query
        name: detailed
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterModel'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PagedResultsAlertModel'
          description: successful operation
        '400':
          description: internal_error
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: List Alerts V2 - POST
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/policy:
    get:
      description: "Returns alert counts grouped by policy. You can use query parameters to narrow the response.  \n\nIn the response object:\n\n* Property **alertRules** is not populated.         \n* Property **riskDetail** is deprecated.\n* Property **resource.cloudServiceName** is not populated.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 1/sec \n* Burst limit: 5/sec        \n"
      operationId: get-alerts-grouped
      parameters:
      - description: Alert ID
        in: query
        name: alert.id
        required: false
        schema:
          type: string
      - description: Alert status
        in: query
        name: alert.status
        required: false
        schema:
          enum:
          - open
          - dismissed
          - snoozed
          - resolved
          - pending_resolution
          type: string
      - description: Cloud account
        in: query
        name: cloud.account
        required: false
        schema:
          type: string
      - description: Cloud account Id
        in: query
        name: cloud.accountId
        required: false
        schema:
          type: string
      - description: Account group
        in: query
        name: account.group
        required: false
        schema:
          type: string
      - description: Cloud type
        in: query
        name: cloud.type
        required: false
        schema:
          type: string
      - description: Cloud region
        in: query
        name: cloud.region
        required: false
        schema:
          type: string
      - description: Cloud service
        in: query
        name: cloud.service
        required: false
        schema:
          type: string
      - description: Policy ID
        in: query
        name: policy.id
        required: false
        schema:
          type: string
      - description: Policy name
        in: query
        name: policy.name
        required: false
        schema:
          type: string
      - description: Policy severity
        in: query
        name: policy.severity
        required: false
        schema:
          enum:
          - critical
          - high
          - medium
          - low
          - informational
          type: string
      - description: Policy label
        in: query
        name: policy.label
        required: false
        schema:
          type: string
      - description: Policy type
        in: query
        name: policy.type
        required: false
        schema:
          enum:
          - config
          - network
          - audit_event
          type: string
      - description: Policy compliance standard name
        in: query
        name: policy.complianceStandard
        required: false
        schema:
          type: string
      - description: Policy compliance requirement name
        in: query
        name: policy.complianceRequirement
        required: false
        schema:
          type: string
      - description: Policy compliance section ID
        in: query
        name: policy.complianceSection
        required: false
        schema:
          type: string
      - description: Policy is remediable
        in: query
        name: policy.remediable
        required: false
        schema:
          enum:
          - 'true'
          - 'false'
          type: string
      - description: Alert rule name
        in: query
        name: alertRule.name
        required: false
        schema:
          type: string
      - description: Resource ID
        in: query
        name: resource.id
        required: false
        schema:
          type: string
      - description: Resource name
        in: query
        name: resource.name
        required: false
        schema:
          type: string
      - description: Resource TYPE
        in: query
        name: resource.type
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/AlertModel'
                type: array
          description: successful operation
        '400':
          description: internal_error
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: List Alert Counts By Policy - GET
      tags:
      - Alerts
    post:
      description: "Returns alert counts grouped by policy. You can use body parameters to narrow the response.  \n\nIn the response object:\n\n* Property **alertRules** is not populated.       \n* Property **riskDetail** is deprecated.\n* Property **resource.cloudServiceName** is not populated.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 1/sec \n* Burst limit: 5/sec        \n"
      operationId: post-alerts-grouped
      parameters:
      - description: true = Return detailed alert data. Default is false. Overrides **detailed** in body param.
        in: query
        name: detailed
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterModel'
        description: Model for Filter
        required: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                items:
                  $ref: '#/components/schemas/AlertModel'
                type: array
          description: successful operation
        '400':
          description: internal_error
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: List Alert Counts By Policy - POST
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/{id}:
    get:
      description: "Returns information about an alert for the specified ID.  \n\nIn the response object, field **riskDetail** is deprecated.\n\nWhen `detailed` flag is set to **true**, following fields will be returned within the policy and response object:\n\n- `complianceMetadata`\n- `name`\n- `description`\n- `labels`\n- `deleted`\n- `recommendation`\n- `lastModifiedBy`\n- `lastModifiedOn`\n- `severity`\n\nThe `resource` response object will include `cloudAccountGroups` field when `detailed` is set to **true**\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 5/sec \n* Burst limit: 10/sec        \n"
      operationId: get-alert
      parameters:
      - description: Alert ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - description: true = Return detailed alert data. Default is false.
        in: query
        name: detailed
        required: false
        schema:
          type: boolean
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AlertModel'
          description: successful operation
        '400':
          description: internal_error/invalid_alert_id
        '404':
          description: not_found
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: Alert Info
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/dismiss:
    post:
      description: Dismisses one or more alerts on the Prisma Cloud platform. If the caller specifies a dismissal time range, then alerts will snooze for that time period rather than be dismissed.
      operationId: dismiss-alerts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertStatusChangeRequestModel'
        description: Model for Alert Status Change Request
        required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: missing_required_parameter / invalid_parameter_value / internal_error / violates_minimum_alert_dismiss_duration_time
        '403':
          description: permission_error
        '404':
          description: alert_no_longer_in_expected_state
      security:
      - x-redlock-auth: []
      summary: Dismiss Alerts
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/dismiss/require_dismissal_note:
    get:
      description: Indicates whether or not the user is required to specify a reason (dismissal note) when dismissing an alert.
      operationId: is-dismissal-note-required
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/RequireDismissalNoteConfigModel'
          description: successful operation
        '403':
          description: permission_error
      security:
      - x-redlock-auth: []
      summary: Is Dismissal Note Required
      tags:
      - Alerts
    put:
      description: Manages whether or not a user must provide a reason (dismissal note) when dismissing an alert on the Prisma Cloud platform.
      operationId: set-dismissal-note-required
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequireDismissalNoteConfigModel'
        description: Model for Require Dismissal Note Config
      responses:
        '200':
          description: successful operation
        '400':
          description: missing_required_parameter
        '403':
          description: permission_error
      security:
      - x-redlock-auth: []
      summary: Update Dismissal Note Requirement
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/reopen:
    post:
      description: Sets the status of one or more dismissed or snoozed alerts on the Prisma Cloud platform to **open**.
      operationId: reopen-alerts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertStatusChangeRequestModel'
        description: Model for Alert Status Change Request
      responses:
        '200':
          description: successful operation
        '400':
          description: missing_required_parameter / invalid_parameter_value / internal_error
        '403':
          description: permission_error
      security:
      - x-redlock-auth: []
      summary: Reopen Alerts
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/count/{status}:
    get:
      description: "Returns an alert count for the specified status.  \n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec\n"
      operationId: get-alert-count
      parameters:
      - description: Alert Status
        in: path
        name: status
        required: true
        schema:
          enum:
          - open
          - dismissed
          - snoozed
          - resolved
          - pending_resolution
          type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CountModel'
          description: successful operation
        '400':
          description: invalid_parameter_value
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: Get Alerts Count By Status
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/jobs:
    post:
      description: "Submits a job to generate an alerts list that matches the constraints in the body parameters and is downloadable in JSON format. Returns the job ID and job submission status.  \n\nFilter model fields specific to pagination (**sortBy**, **limit**, and **pageToken**) do not apply to this request, \neven though the body parameters include them.\n\nThe **fields** body parameter allows you to request specific fields from the alert payload. These \nfields are separate from the filters you specify. The following are valid **fields** items.\n\n* alert.id\n* alert.status\n* alert.time\n* cloud.account\n* cloud.accountId\n* cloud.region\n* resource.id\n* resource.name\n* policy.name\n* policy.type\n* policy.severity\n\n The **filters** body parameter enables you to narrow your request for alerts. See \n [List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options) \n for an API request to list all the valid filters.\n\n  #### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 2/sec \n* Burst limit: 10/sec        \n"
      operationId: submit-job-for-listing-alerts
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterModel'
        description: Model for Filter
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AsyncJob'
          description: successful operation
        '400':
          description: internal_error
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: Submit Job to List Alerts
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/jobs/{id}/status:
    get:
      description: Get the status of the alerts list job with the specified job ID
      operationId: get-alerts-job-status
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AsyncJob'
          description: successful operation
        '404':
          description: Job Id `<id>` not found
      security:
      - x-redlock-auth: []
      summary: Get Alerts List Job Status
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/jobs/{id}/download:
    get:
      description: Downloads the generated alerts list in JSON format for the specified job ID.
      operationId: download-alerts-list-json
      parameters:
      - description: Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Download Alerts List JSON
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/csv:
    post:
      description: "Submits a job to generate an alerts list that matches the constraints in the body parameters and is downloadable as a CSV file. Returns the job ID and job submission status.  \n\nFilter model fields specific to pagination (**sortBy**, **limit**, and **pageToken**) do not apply to this request, \neven though the body parameters include them.\n\nThe **fields** request body parameter is ignored!\n\nThe **filters** body parameter enables you to narrow your request for alerts. See [List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options) \nfor an API request to list all the valid filters.\n"
      operationId: submit-an-alert-csv-download-job
      parameters:
      - description: true = Return detailed alert data. Default is false. Overrides **detailed** in body param.
        in: query
        name: detailed
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterModel'
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AsyncJob'
          description: successful operation
        '400':
          description: internal_error
      security:
      - x-redlock-auth: []
      summary: Submit Alert CSV Generation Job
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/csv/{id}/status:
    get:
      description: Returns the status of an alert CSV generation job with the specified job ID.
      operationId: get-alert-csv-job-status
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AsyncJob'
          description: successful operation
        '404':
          description: not_found
      security:
      - x-redlock-auth: []
      summary: Get Alert CSV Job Status
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/csv/{id}/download:
    get:
      description: Downloads the alert list that Prisma Cloud generated for the specified job ID, in CSV format.
      operationId: download-alert-csv
      parameters:
      - description: Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: internal_error
        '404':
          description: Job Id `<id>` not found
      security:
      - x-redlock-auth: []
      summary: Download Alert CSV
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/policy/jobs:
    post:
      description: "Submits a job to generate a list of alerts grouped by the policy they violated. Returns the job ID and job submission status.  \n\nFilter model fields specific to pagination (**sortBy**, **limit**, and **pageToken**) do not apply to this request, \neven though the body parameters include them.\n\nThe **fields** body parameter allows you to request specific fields from the alert payload. These \nfields are separate from the filters you specify. The following are valid **fields** items.\n\n* alert.id\n* alert.status\n* alert.time\n* cloud.account\n* cloud.accountId\n* cloud.region\n* resource.id\n* resource.name\n* policy.name\n* policy.type\n* policy.severity\n\nThe **filters*8 body parameter enables you to narrow your request for alerts. \nSee [List Alert Filters](/prisma-cloud/api/cspm/get-alert-filter-and-options)\nfor an API request to list all the valid filters.\n\n#### Rate Limits ####\n\nThe following rate limits apply:\n* Request rate limit: 1/sec \n* Burst limit: 5/sec        \n"
      operationId: submit-a-job-for-listing-alerts-grouped-by-policy
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/FilterModel'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AsyncJob'
          description: successful operation
        '400':
          description: internal_error
        '429':
          description: Too Many Requests
      security:
      - x-redlock-auth: []
      summary: Submit Job to List Alerts By Policy
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/policy/jobs/{id}/status:
    get:
      description: Returns the status of a job submitted to list alerts by policy. Uses the specified job ID to identify the job.
      operationId: get-async-policy-alert-job-status
      parameters:
      - description: Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/AsyncJob'
          description: successful operation
      security:
      - x-redlock-auth: []
      summary: Get Policy Alert Job Status
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/policy/jobs/{id}/download:
    get:
      description: Downloads the policy alerts results in JSON format for the specified job ID.
      operationId: download-policy-alerts-json
      parameters:
      - description: Job ID
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
      security:
      - x-redlock-auth: []
      summary: Download Policy Alerts JSON
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/remediation:
    post:
      description: "Generates and returns a list of remediation commands for the specified alerts and policies. Data returned for a successful call include fully constructed commands for remediation.  \n\nThis request requires the following filter request body parameters:\n\n* filter.timeRange.type\n* filter.timeRange.value\n\nThe rest of the filter parameters are ignored.\n"
      operationId: get-alerts-remediation
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/AlertsLookupKeyModel'
        description: Model for AlertsLookupKey
        required: true
      responses:
        '200':
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/RemediationCliModel'
          description: successful operation
        '400':
          description: invalid_parameter_value / bad_request / cannot_remediate_multiple_policy_alerts
        '405':
          description: remediation_unavailable
      security:
      - x-redlock-auth: []
      summary: List Alert Remediation Commands
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/remediation/{id}:
    patch:
      description: 'Remediates the alert with the specified ID if that alert is associated with a remediable policy. '
      operationId: perform-remediation-for-alert
      parameters:
      - description: Alert ID
        in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: findingId
        required: false
        schema:
          type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: invalid_parameter_value / bad_request / cannot_remediate_multiple_policy_alerts
        '405':
          description: remediation_unavailable
      security:
      - x-redlock-auth: []
      summary: Remediate Alert
      tags:
      - Alerts
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/v1/policy:
    post:
      tags:
      - Alerts
      summary: Return policy with alert count
      description: Return paginated policy with alert count based on the input filter along with next pagination token
      operationId: alertPolicyList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyFilter'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: string
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyPageResponse'
        4XX:
          description: Client error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SpringErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/v1/aggregate:
    post:
      tags:
      - Alerts
      summary: Group by Policy field
      description: Return paginated groups with alert count based on the group by policy field, input filter along with next pagination token
      operationId: alertAggregation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyFilter'
        required: true
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: string
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupPageResponse'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpringErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alert/v1/{id}/graph:
    get:
      tags:
      - Alerts
      summary: Alert Evidence Graph
      description: Given an alert-id in the query the API returns the data that can be presented in a graphical format. The returned response matches the JSON Graph Format standard
      operationId: getAlertEvidenceGraph
      parameters:
      - name: id
        in: path
        description: The alert-id for the evidence graph
        required: true
        schema:
          type: string
          description: The alert-id for the evidence graph
      responses:
        '400':
          description: Bad Request - request body contains a query that is not grammatically valid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SpringErrorResponse'
        '200':
          description: Successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AssetGraphs'
        '401':
          description: Unauthorized - user cannot be authenticated to service the request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SpringErrorResponse'
        '403':
          description: Forbidden - user is not authorized, or does not have the correct permissions, to make the call
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SpringErrorResponse'
        '412':
          description: PreConditions Failed - query fails domain specific validations
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SpringErrorResponse'
        '429':
          description: Too Many Requests - API is getting rate limited
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SpringErrorResponse'
      security:
      - x-redlock-auth: []
      x-public: 'true'
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /alerts/api/v1/notification/ondemand:
    post:
      summary: Create On Demand Notification
      description: "Create on demand notification for an alert. Supported channels are: \n1. Jira\n2. Email \n3. Slack\n:::info\nThis endpoint is available on the Prisma Cloud Darwin release only.\n:::\nFor details about the request body parameters required for each notification channel, see the following table:\n\n**Request Parameters**|**Jira**|**Email**|**Slack**\n:----|:----|:----|:----\nalertId|Required|Required|Required\nonDemandNotificationConfig.integrationType|Required|Required|Required\nonDemandNotificationConfig.templateId|Required|Not required|Not required\nonDemandNotificationConfig.recipients|Required|Required|Required\ntranslation.body|Not required|Optional|Optional\ntranslation.details.sender|Not required|Required|Required\ntranslation.details.recipients|Not required|Required|Required\ntranslation.details.callbackUrl|Not required|Optional|Optional\ntranslation.details.assetCallbackUrl|Not required|Optional|Optional\n\n"
      operationId: create-Ondemand-Notification
      tags:
      - Alerts
      requestBody:
        content:
          application/json:
            schema:
              type: object
              $ref: '#/components/schemas/OnDemandNotificationConfigRequest'
            examples:
              Jira:
                summary: On-demand Jira Notification Config Request
                value:
                  alertId: P-17952602
                  onDemandNotificationConfig:
                    integrationType: jira
                    templateId: Jira template Id
                    recipients:
                    - integration id for jira or email for email etc.
              Email:
                summary: On-demand Email Notification Config Request
                value:
                  alertId: P-486491
                  onDemandNotificationConfig:
                    integrationType: email
                    recipients:
                    - xxxx@paloaltonetworks.com
                    - yyyy@paloaltonetworks.com
                  translation:
                    body: Free text message (optional)
                    details:
                      sender: John Doe
                      recipients: John Doe, Tom Cruise (optional)
                      callbackUrl: https://app-sam105348.sam.prismacloud.io/alerts/overview?viewId%3Ddefault%26filters%3D%7B%22timeRange%22%3A%7B%22type%22%3A%22to_now%22%2C%22value%22%3A%22epoch%22%7D%2C%22timeRange.type%22%3A%22ALERT_OPENED%22%2C%22alert.status%22%3A%5B%22open%22%5D%2C%22alert.id%22%3A%5B%22A-1002%22%5D%7D%26openAlertId%3DA-363 (optional)
                      assetCallbackUrl: https://kchen-rlp-120271-snap.prismacloud.dev/inventory/assets/asset-explorer?assetId=ceac319a5dbe3e2de706271be29289e9 (optional)
              Slack:
                summary: On-demand Slack Notification Config Request
                value:
                  alertId: A-292704246
                  onDemandNotificationConfig:
                    integrationType: slack
                    recipients:
                    - <slack integration id>
                  translation:
                    body: Free text message (optional)
                    details:
                      callbackUrl: https://app-sam105348.sam.prismacloud.io/alerts/overview?viewId%3Ddefault%26filters%3D%7B%22timeRange%22%3A%7B%22type%22%3A%22to_now%22%2C%22value%22%3A%22epoch%22%7D%2C%22timeRange.type%22%3A%22ALERT_OPENED%22%2C%22alert.status%22%3A%5B%22open%22%5D%2C%22alert.id%22%3A%5B%22A-1002%22%5D%7D%26openAlertId%3DA-363 (optional)
                      assetCallbackUrl: https://kchen-rlp-120271-snap.prismacloud.dev/inventory/assets/asset-explorer?assetId=ceac319a5dbe3e2de706271be29289e9 (optional)
      responses:
        '201':
          description: Created
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                $ref: '#/components/schemas/NotificationResponse'
              examples:
                Jira:
                  summary: On-demand Jira Notification Response
                  value:
                    success: 1
                    failed: 0
                    successfulEvents:
                    - recipient:
                        generatorType: REALTIME
                        integrationType: jira
                        id: 151fbea7-8a64-4367-b500-735b685752bf
                      customerId: 3
                      clientId: CS
                      metaData:
                        jiraKey: P-1234(JIRA ID)
                      notificationId: dd67ac26-b2e2-4775-abbf-a40a6dec6a24
                    failedEvents: {}
                Email:
                  summary: On-demand Email Notification Response
                  value:
                    success: 1
                    failed: 0
                    successfulEvents:
                    - recipient:
                        generatorType: REALTIME
                        integrationType: email
                        id: xxxx@paloaltonetworks.com, yyyy@paloaltonetworks.com
                      customerId: 6
                      clientId: CS
                      id: null#1809667743
                      notificationId: b9f0ac86-cb46-4859-9779-1385f97d4e56
                    failedEvents: {}
                Slack:
                  summary: On-demand Slack Notification Response
                  value:
                    success: 1
                    failed: 0
                    successfulEvents:
                    - recipient:
                        generatorType: REALTIME
                        integrationType: slack
                        id: 92bf2080-dee0-4145-b4d8-19de27cf1f00
                      customerId: 6
                      clientId: CS
                      id: null#1739477015
                      notificationId: 30b98415-10b5-4ed8-a994-e8ff82cca531
                    failedEvents: {}
        '400':
          description: Bad Request
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                '1':
                  value:
                    error:
                      code: BAD_REQUEST
                      message: alertId is not defined
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '429':
          description: Too Many Requests
      x-public: 'true'
      x-ga: 24.1.2-darwin
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /policy/api/v1/fetch/remediation/{policyId}:
    get:
      tags:
      - Alerts
      summary: Get Policy Remediation
      description: Fetch AI-Assisted remediation and recommendation content for a given policy. If AI-Assisted Remediation is not available, fetch the recommendation content instead. The remediation typically includes actionable steps to mitigate or remediate the identified alert on the asset.
      operationId: getRemediationForPolicy
      parameters:
      - name: policyId
        in: path
        required: true
        schema:
          type: string
      - name: unifiedAssetId
        in: query
        required: true
        schema:
          type: string
      - name: alertId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyWithRemediationResponse'
        '400':
          description: bad_request
        '401':
          description: unauthorized_access
        '403':
          description: permission_error
        '429':
          description: too_many_requests
      x-public: 'true'
      security:
      - x-redlock-auth: []
    servers:
    - url: https://api.prismacloud.io
    - url: https://api2.prismacloud.io
    - url: https://api3.prismacloud.io
    - url: https://api4.prismacloud.io
    - url: https://api.anz.prismacloud.io
    - url: https://api.eu.prismacloud.io
    - url: https://api2.eu.prismacloud.io
    - url: https://api.gov.prismacloud.io
    - url: https://api.prismacloud.cn
    - url: https://api.ca.prismacloud.io
    - url: https://api.sg.prismacloud.io
    - url: https://api.uk.prismacloud.io
    - url: https://api.ind.prismacloud.io
    - url: https://api.jp.prismacloud.io
    - url: https://api.fr.prismacloud.io
  /v1/alerts/id/{id}/status/{status}:
    patch:
      tags:
      - Alerts
      operationId: patch-alerts-id-id-status-status
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: status
        in: path
        required: true
        schema:
          type: string
          enum:
          - OPEN
          - UNIMPORTANT
          - WRONG
          - HANDLED
          - INVESTIGATING
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAlertStatusResponseDTO'
      summary: Update Alert Status
      description: 'Update Alert Status. PATCH /v1/alerts/id/{id}/status/{status} on the Alerts API. Takes 2 path parameters. Documented responses: 200.'
      x-description-source: desc/alerts/alerts_id_status_patch.md
    servers:
    - url: https://api.dig.security
      description: Dig Security public API
    - url: PATH_TO_CONSOLE
  /v1/alerts:
    get:
      tags:
      - Alerts
      operationId: get-alerts
      parameters:
      - name: detectionTime.equals
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: detectionTime.greaterThanOrEqual
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: detectionTime.greaterThan
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: detectionTime.lessThanOrEqual
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: detectionTime.lessThan
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: policyName.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: policyName.equals
        in: query
        required: false
        schema:
          type: string
      - name: policyName.contains
        in: query
        required: false
        schema:
          type: string
      - name: policyName.notContain
        in: query
        required: false
        schema:
          type: string
      - name: assetName.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: assetName.equals
        in: query
        required: false
        schema:
          type: string
      - name: assetName.contains
        in: query
        required: false
        schema:
          type: string
      - name: assetName.notContain
        in: query
        required: false
        schema:
          type: string
      - name: cloudProvider.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - AWS
            - AZURE
            - GCP
            - SNOWFLAKE
            - FILE_SHARE
            - O365
      - name: cloudProvider.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - AWS
          - AZURE
          - GCP
          - SNOWFLAKE
          - FILE_SHARE
          - O365
      - name: destinationProjectVendorName.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: destinationProjectVendorName.equals
        in: query
        required: false
        schema:
          type: string
      - name: destinationProjectVendorName.contains
        in: query
        required: false
        schema:
          type: string
      - name: destinationProjectVendorName.notContain
        in: query
        required: false
        schema:
          type: string
      - name: cloudEnvironment.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN
            - DEVELOPMENT
            - STAGING
            - TESTING
            - PRODUCTION
      - name: cloudEnvironment.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - UNKNOWN
          - DEVELOPMENT
          - STAGING
          - TESTING
          - PRODUCTION
      - name: policySeverity.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - HIGH
            - MEDIUM
            - LOW
      - name: policySeverity.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - HIGH
          - MEDIUM
          - LOW
      - name: categoryType.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - FIRST_MOVE
            - ATTACK
            - COMPLIANCE
            - ASSET_AT_RISK
            - RECONNAISSANCE
      - name: categoryType.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - FIRST_MOVE
          - ATTACK
          - COMPLIANCE
          - ASSET_AT_RISK
          - RECONNAISSANCE
      - name: status.in
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - OPEN
            - UNIMPORTANT
            - WRONG
            - HANDLED
            - INVESTIGATING
      - name: status.equals
        in: query
        required: false
        schema:
          type: string
          enum:
          - OPEN
          - UNIMPORTANT
          - WRONG
          - HANDLED
          - INVESTIGATING
      - name: sort
        in: query
        description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
        required: false
        schema:
          type: string
          description: 'Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.'
      - name: page
        in: query
        required: false
        schema:
          type: string
          default: '0'
      - name: size
        in: query
        required: false
        schema:
          maximum: 50
          type: integer
          default: 20
      - name: dig-api-key
        in: header
        description: Dig token header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a list of alerts
          headers:
            X-Total-Count:
              description: The total number of items in the page
              style: simple
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AlertDTO'
      summary: List DDR Alerts
      description: 'List DDR Alerts. GET /v1/alerts on the Alerts API. Takes 30 query parameters. Documented responses: 200.'
      x-description-source: desc/alerts/get.md
    servers:
    - url: https://api.dig.security
      description: Dig Security public API
    - url: PATH_TO_CONSOLE
components:
  schemas:
    RemediationAction:
      description: Action for remediation for data policy.
      properties:
        operation:
          type: string
        payload:
          type: string
      type: object
    RuleModel:
      description: Model for Rule
      properties:
        apiName:
          description: API name
          readOnly: true
          type: string
        cloudAccount:
          description: Cloud account
          readOnly: true
          type: string
        cloudType:
          description: Cloud type
          readOnly: true
          type: string
        criteria:
          description: Saved search ID that defines the rule criteria.
          type: string
        dataCriteria:
          allOf:
          - $ref: '#/components/schemas/RuleCriteria'
          - description: Rule criteria for DLP data policy
        name:
          description: Name
          type: string
        parameters:
          additionalProperties:
            type: string
          description: 'Parameters (e.g. {"savedSearch": "true"})'
          type: object
        resourceIdPath:
          description: Resource ID path
          readOnly: true
          type: string
        resourceType:
          description: Resource type
          readOnly: true
          type: string
        type:
          description: Type of rule or RQL query
          enum:
          - Config
          - Network
          - AuditEvent
          - DLP
          - IAM
          - NetworkConfig
          type: string
      required:
      - criteria
      - name
      - parameters
      - type
      type: object
    FilterSuggestionModel:
      description: Model for Filter Suggestions
      properties:
        filterName:
          description: Filter name
          type: string
        query:
          description: Case-insensitive fuzzy search autocomplete filter. Includes only items that contain the query as a substring.
          type: string
      required:
      - filterName
      type: object
    AttributionEventModel:
      description: Model for AttributionEvent
      properties:
        event:
          description: Event
          type: string
        event_ts:
          description: Event Timestamp
          format: int64
          type: integer
        username:
          description: Username
          type: string
      type: object
    RemediationCliModel:
      description: Model for Remediation Command
      properties:
        alertIdVsCliScript:
          additionalProperties:
            type: string
          description: Map of alert ID to CLI script
          type: object
        cliDescription:
          description: CLI script description
          type: string
        cliScript:
          description: CLI script to resolve an alert
          type: string
        scriptImpact:
          description: CLI script impact
          type: string
      type: object
    TargetTagModel:
      description: Model for Target Tag
      properties:
        key:
          description: Resource tag target
          type: string
        values:
          description: List of value(s) for resource tag key
          items:
            type: string
          type: array
      type: object
    AlertRuleNotificationConfigModel:
      description: Model for Alert Rule Notification Config
      properties:
        dayOfMonth:
          description: Day of month
          format: int32
          readOnly: true
          type: integer
        daysOfWeek:
          description: Days of week
          items:
            $ref: '#/components/schemas/WeekDay'
          readOnly: true
          type: array
        detailedReport:
          description: Provide csv detailed report
          type: boolean
        enabled:
          description: Scan enabled
          type: boolean
        frequency:
          enum:
          - as_it_happens
          - daily
          - weekly
          - monthly
          type: string
        frequencyFromRRule:
          description: Frequency from RRule
          readOnly: true
          type: string
        hourOfDay:
          description: Hour of day
          format: int32
          readOnly: true
          type: integer
        id:
          description: Alert rule notification config ID
          type: string
        includeRemediation:
          description: Include remediation in detailed report
          type: boolean
        lastUpdated:
          description: Last Updated
          format: int64
          type: integer
        last_sent_ts:
          description: Time of last notification in milliseconds
          format: int64
          type: integer
        recipients:
          description: '* For email notifications: List of unique email addresses to notify

            * For integrations without notification templates: List of integration ids

            * For integrations with notification templates: List of notification template ids

            '
          items:
            type: string
          type: array
          uniqueItems: true
        rruleSchedule:
          type: string
        templateId:
          description: Template ID
          type: string
        timezone:
          description: 'Java time zone ID (e.g. America/Los_Angeles) '
          readOnly: true
          type: string
        type:
          description: Integration type
          enum:
          - email
          - slack
          - splunk
          - amazon_sqs
          - jira
          - microsoft_teams
          - webhook
          - aws_security_hub
          - google_cscc
          - service_now
          - pager_duty
          - azure_service_bus_queue
          - demisto
          - aws_s3
          - snowflake
          type: string
        withCompression:
          description: Compress detailed report
          type: boolean
      type: object
    RelativeTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for RelativeTimeRangeConfig
        properties:
          relativeTimeType:
            description: Direction in which to count time. Default = BACKWARD
            enum:
            - BACKWARD
            - FORWARD
            type: string
          type:
            example: relative
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/RelativeTimeDurationModel'
            - description: Time range object
        required:
        - value
        type: object
    HistoryModel:
      description: Model for History
      properties:
        reason:
          description: Reason
          readOnly: true
          type: string
        status:
          description: Status
          enum:
          - OPEN
          - DISMISSED
          - SNOOZED
          - PENDING_RESOLUTION
          - RESOLVED
          readOnly: true
          type: string
      type: object
    ToNowTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for ToNowTimeRangeConfig
        properties:
          value:
            description: Time range object
            enum:
            - MINUTE
            - HOUR
            - DAY
            - WEEK
            - MONTH
            - YEAR
            - EPOCH
            - LOGIN
            type: string
        type: object
    TimeRangeConfigModel:
      description: 'See the [Time Range Model](/prisma-cloud/api/cspm/api-time-range-model) for details.

        '
      discriminator:
        mapping:
          absolute: '#/components/schemas/AbsoluteTimeRangeConfigModel'
          relative: '#/components/schemas/RelativeTimeRangeConfigModel'
          to_now: '#/components/schemas/ToNowTimeRangeConfigModel'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/RelativeTimeRangeConfigModel'
      - $ref: '#/components/schemas/AbsoluteTimeRangeConfigModel'
      - $ref: '#/components/schemas/ToNowTimeRangeConfigModel'
      properties:
        type:
          description: Time type
          type: string
      required:
      - type
      type: object
    RelativeTimeDurationModel:
      description: Model for RelativeTimeDuration
      properties:
        amount:
          description: Number of time units
          format: int32
          type: integer
        unit:
          description: Time unit
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          type: string
      type: object
    AbsoluteTimeRangeConfigModel:
      allOf:
      - $ref: '#/components/schemas/TimeRangeConfigModel'
      - description: Model for AbsoluteTimeRangeConfig
        properties:
          type:
            example: absolute
            type: string
          value:
            allOf:
            - $ref: '#/components/schemas/TimeModel'
            - description: Time range object
        required:
        - value
        type: object
    RequireDismissalNoteConfigModel:
      description: Model for Require Dismissal Note Config
      properties:
        requireDismissalNote:
          description: Require Dismissal Note
          type: boolean
      type: object
    FilterSuggestion:
      description: Model for FilterSuggestion
      properties:
        nameValue:
          description: Filter options
          items:
            $ref: '#/components/schemas/NameValueIntegerString'
          type: array
        options:
          description: Filter options, which lists all the default options for static filters or all the recent options, if any, for non-static filters
          items:
            type: string
          type: array
          uniqueItems: true
        staticFilter:
          description: Filter is a static filter
          type: boolean
      type: object
    ComplianceMetadataModel:
      description: Model for ComplianceMetadata
      properties:
        complianceId:
          description: Compliance Section UUID
          type: string
        customAssigned:
          type: boolean
        policyId:
          description: Policy ID
          type: string
        requirementDescription:
          description: Requirement description
          type: string
        requirementId:
          description: Requirement ID
          type: string
        requirementName:
          description: Requirement name
          type: string
        sectionDescription:
          description: Section name
          type: string
        sectionId:
          description: Section Id
          type: string
        sectionLabel:
          description: Section Label
          type: string
        standardDescription:
          description: Compliance standard description
          type: string
        standardId:
          type: string
        standardName:
          description: Compliance standard name
          type: string
      type: object
    FilterModel:
      allOf:
      - $ref: '#/components/schemas/BaseFilterModel'
      - description: Model for Filter
        properties:
          timeRange:
            allOf:
            - $ref: '#/components/schemas/TimeRangeConfigModel'
            - description: Time range
        type: object
    AsyncJob:
      description: Model for AsyncJob
      properties:
        createdBy:
          description: Job creator
          readOnly: true
          type: string
        createdOn:
          description: Creation timestamp
          format: int64
          readOnly: true
          type: integer
        downloadUri:
          description: Download URI
          readOnly: true
          type: string
        id:
          description: Job ID
          readOnly: true
          type: string
        lastModified:
          description: Timestamp for last modified
          format: int64
          readOnly: true
          type: integer
        recordCount:
          description: Record Count
          format: int32
          readOnly: true
          type: integer
        status:
          description: Job status
          enum:
          - COMPLETED
          - FAILED
          - IN_PROGRESS
          - READY_TO_DOWNLOAD
          - SUBMITTED
          readOnly: true
          type: string
        statusUri:
          description: Status URI
          readOnly: true
          type: string
        timeTaken:
          description: Time taken to complete the job
          format: int64
          readOnly: true
          type: integer
      type: object
    PolicyModel:
      description: Model for Policy
      properties:
        cloudType:
          description: Cloud type (Required for config policies). Not case-sensitive. Default is **ALL**.
          enum:
          - ALL
          - AWS
          - AZURE
          - GCP
          - ALIBABA_CLOUD
          - OCI
          - IBM
          type: string
        complianceMetadata:
          description: List of compliance data. Each item has compliance standard, requirement, and/or section information.
          items:
            $ref: '#/components/schemas/ComplianceMetadataModel'
          type: array
        createdBy:
          description: Created by
          readOnly: true
          type: string
        createdOn:
          description: Created on this timestamp
          format: int64
          readOnly: true
          type: integer
        deleted:
          description: Deleted
          readOnly: true
          type: boolean
        description:
          description: Policy description
          type: string
        enabled:
          description: true=enabled. false=disabled.
          type: boolean
        findingTypes:
          description: Finding Type
          items:
            type: string
          type: array
        labels:
          description: Labels
          items:
            type: string
          type: array
          uniqueItems: true
        lastModifiedBy:
          description: Last modified by
          readOnly: true
          type: string
        lastModifiedOn:
          description: Last modified on this timestamp
          format: int64
          readOnly: true
          type: integer
        name:
          description: Policy name
          type: string
        overridden:
          description: Overridden
          readOnly: true
          type: boolean
        policyId:
          description: Policy ID
          readOnly: true
          type: string
        policySubTypes:
          description: Policy subtype
          items:
            enum:
            - run
            - build
            - run_and_build
            - audit
            - data_classification
            - dns
            - malware
            - network_event
            - network
            - ueba
            - permissions
            - network_config
            - identity
            - sensitive_data_exposure
            - internet_exposure
            - injections
            - vulnerability_scanning
            - shellshock
            - known_bots
            - unknown_bots
            - virtual_patches
            - event
            - misconfig_and_event
            - misconfig
            - host
            - container_image
            type: string
          readOnly: true
          type: array
          uniqueItems: true
        policyType:
          description: Policy type. Policy type **anomaly** is read-only.
          enum:
          - config
          - network
          - audit_event
          - anomaly
          - data
          - iam
          - workload_vulnerability
          - workload_incident
          - api
          - attack_path
          - malware
          - grayware
          type: string
        policyUpi:
          description: Policy UPI
          readOnly: true
          type: string
        recommendation:
          description: Remediation recommendation
          type: string
        remediable:
          description: isRemediable
          readOnly: true
          type: boolean
        remediation:
          allOf:
          - $ref: '#/components/schemas/RemediationModel'
          - description: Auto remediation info. Available only if policy is remediable.
        restrictAlertDismissal:
          description: Restrict alert dismissal
          readOnly: true
          type: boolean
        rule:
          allOf:
          - $ref: '#/components/schemas/RuleModel'
          - description: Policy rule (Contains RQL search query or saved search)
        ruleLastModifiedOn:
          description: Rule last modified on
          format: int64
          readOnly: true
          type: integer
        severity:
          description: Severity
          enum:
          - high
          - medium
          - low
          type: string
        systemDefault:
          description: true = Policy is a Prisma Cloud system default policy
          readOnly: true
          type: boolean
      required:
      - name
      - policyType
      - rule
      - severity
      type: object
    CountModel:
      description: Model used for just count
      properties:
        count:
          description: Count
          format: int64
          type: integer
      type: object
    TargetFilterModel:
      description: Model for Target Filter
      properties:
        accountGroups:
          description: List of Account group(s)
          items:
            type: string
          type: array
        alertRulePolicyFilter:
          allOf:
          - $ref: '#/components/schemas/AlertRulePolicyFilter'
          - description: Policy Filters for the Alert Rule
        excludedAccounts:
          description: List of excluded accounts
          items:
            type: string
          type: array
        includedResourceLists:
          allOf:
          - $ref: '#/components/schemas/ResourceListIdsCollection'
          - description: List of resource lists included which the resource has to match on.
        regions:
          description: List of regions for which alerts will be triggered for account groups. Alerts not associated with specific regions will be triggered regardless of listed regions. If no regions are specified, then the alerts will be triggered for all regions.
          items:
            type: string
          type: array
        tags:
          description: List of TargetTag models (resource tags) for which alerts should be triggered
          items:
            $ref: '#/components/schemas/TargetTagModel'
          type: array
      type: object
    AlertFilterSuggestion:
      description: Model for AlertFilterSuggestion
      properties:
        account.group:
          $ref: '#/components/schemas/FilterSuggestion'
        alert.id:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
        alert.status:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
        alertRule.name:
          $ref: '#/components/schemas/FilterSuggestion'
        asset.class:
          $ref: '#/components/schemas/FilterSuggestion'
        buildtime.resourceName:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.account:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.accountId:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.region:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.service:
          $ref: '#/components/schemas/FilterSuggestion'
        cloud.type:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
        git.filename:
          $ref: '#/components/schemas/FilterSuggestion'
        git.provider:
          $ref: '#/components/schemas/FilterSuggestion'
        git.repository:
          $ref: '#/components/schemas/FilterSuggestion'
        iac.framework:
          $ref: '#/components/schemas/FilterSuggestion'
        malware:
          $ref: '#/components/schemas/FilterSuggestion'
        object.classification:
          $ref: '#/components/schemas/FilterSuggestion'
        object.exposure:
          $ref: '#/components/schemas/FilterSuggestion'
        object.identifier:
          $ref: '#/components/schemas/FilterSuggestion'
        policy.complianceRequirement:
          $ref: '#/components/schemas/FilterSuggestion'
        policy.complianceSection:
          $ref: '#/components/schemas/FilterSuggestion'
        policy.complianceStandard:
          $ref: '#/components/schemas/FilterSuggestion'
        policy.label:
          $ref: '#/components/schemas/FilterSuggestion'
        policy.name:
          $ref: '#/components/schemas/FilterSuggestion'
        policy.remediable:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
        policy.severity:
          $ref: '#/components/schemas/FilterSuggestion'
        policy.subtype:
          allOf:
          - $ref: '#/components/schemas/FilterSuggestion'
          - readOnly: true
        policy.type:
          $ref: '#/components/schemas/FilterSuggestion'
        resource.group:
          $ref: '#/components/schemas/FilterSuggestion'
        resource.id:
[...]
