openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend App Catalog API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: App Catalog
  description: SaaS application catalog and metadata.
paths:
  /v1/app-catalog:
    get:
      operationId: listAppCatalog
      summary: Palo Alto Networks List SaaS Application Catalog
      description: Returns the catalog of SaaS applications supported for SSPM posture assessment. Each entry describes the application, the number of available posture checks, and supported compliance frameworks.
      tags:
      - App Catalog
      parameters:
      - name: category
        in: query
        description: Filter by application category.
        schema:
          type: string
        example: advanced
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of catalog entries to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Application catalog returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogApp'
              examples:
                ListAppCatalog200Example:
                  summary: Default listAppCatalog 200 response
                  x-microcks-default: true
                  value:
                    total: 731
                    items:
                    - app_type: standard
                      display_name: John Wilson
                      category: custom
                      check_count: 923
                      compliance_frameworks:
                      - example-compliance_frameworks_item
                      - example-compliance_frameworks_item
                      logo_url: https://login.acme-systems.org/083bb0
                    - app_type: standard
                      display_name: John Wilson
                      category: custom
                      check_count: 923
                      compliance_frameworks:
                      - example-compliance_frameworks_item
                      - example-compliance_frameworks_item
                      logo_url: https://login.acme-systems.org/083bb0
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListAppCatalog401Example:
                  summary: Default listAppCatalog 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Malware violation rule blocked detected endpoint policy detected.
                    request_id: f7942ddd-4571-4f6e-a8a1-00c0f9d7dfb4
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListAppCatalog403Example:
                  summary: Default listAppCatalog 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Malware violation rule blocked detected endpoint policy detected.
                    request_id: f7942ddd-4571-4f6e-a8a1-00c0f9d7dfb4
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListAppCatalog500Example:
                  summary: Default listAppCatalog 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Malware violation rule blocked detected endpoint policy detected.
                    request_id: f7942ddd-4571-4f6e-a8a1-00c0f9d7dfb4
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CatalogApp:
      type: object
      properties:
        app_type:
          type: string
          description: Application type identifier used for onboarding.
          example: standard
        display_name:
          type: string
          description: Human-readable application name.
          example: John Wilson
        category:
          type: string
          description: Application category (e.g., collaboration, crm, storage).
          example: custom
        check_count:
          type: integer
          description: Number of posture checks available for this application.
          example: 923
        compliance_frameworks:
          type: array
          items:
            type: string
          description: Compliance frameworks covered by checks for this application.
          example:
          - example-compliance_frameworks_item
          - example-compliance_frameworks_item
        logo_url:
          type: string
          format: uri
          description: URL to the application logo.
          example: https://login.acme-systems.org/083bb0
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Malware violation rule blocked detected endpoint policy detected.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: f7942ddd-4571-4f6e-a8a1-00c0f9d7dfb4
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
