openapi: 3.1.0
info:
  title: Palo Alto Networks SASE 5G Managed Services API
  description: >-
    SASE 5G Managed Services API for 5G network security. Provides
    programmatic management of 5G network slices, security policies,
    and multi-tenant configurations for 5G deployments protected by
    Palo Alto Networks SASE. Enables mobile network operators and
    enterprise customers to define security controls applied to 5G
    network traffic, manage network slice configurations, and monitor
    5G security metrics through a unified API.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.sase.paloaltonetworks.com/5g/v1
  description: SASE 5G Managed Services API production server.
security:
- oauth2Bearer: []
tags:
- name: Monitoring
  description: 5G security metrics and monitoring.
- name: Network Slices
  description: 5G network slice configuration and management.
- name: Security Policies
  description: 5G security policy management.
- name: Tenants
  description: Multi-tenant 5G configuration management.
paths:
  /network-slices:
    get:
      operationId: listNetworkSlices
      summary: Palo Alto Networks List 5G Network Slices
      description: >-
        Returns the list of 5G network slices configured for the tenant.
        Network slices are logical partitions of the 5G network with
        independent security policies and quality of service parameters.
        Each slice can be associated with a specific application, customer
        segment, or service type.
      tags:
      - Network Slices
      parameters:
      - name: status
        in: query
        description: Filter slices by status.
        schema:
          type: string
          enum:
          - active
          - inactive
          - provisioning
          - error
        example: error
      - name: slice_type
        in: query
        description: Filter by slice type (SST values).
        schema:
          type: string
          enum:
          - eMBB
          - URLLC
          - mMTC
        example: eMBB
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of network slices to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Network slices returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkSlice'
              examples:
                ListNetworkSlices200Example:
                  summary: Default listNetworkSlices 200 response
                  x-microcks-default: true
                  value:
                    total: 181
                    offset: 468
                    limit: 220
                    items:
                    - slice_id: '411916'
                      name: Primary Agent 05
                      description: Rule policy policy incident violation policy suspicious alert configured.
                      slice_type: URLLC
                      sst: 528
                      sd: example-sd
                      status: inactive
                      security_policy_id: '381926'
                      created_at: '2025-07-21T07:27:57Z'
                      updated_at: '2024-11-10T00:28:23Z'
                    - slice_id: '411916'
                      name: Primary Agent 05
                      description: Rule policy policy incident violation policy suspicious alert configured.
                      slice_type: URLLC
                      sst: 528
                      sd: example-sd
                      status: inactive
                      security_policy_id: '381926'
                      created_at: '2025-07-21T07:27:57Z'
                      updated_at: '2024-11-10T00:28:23Z'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListNetworkSlices400Example:
                  summary: Default listNetworkSlices 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListNetworkSlices401Example:
                  summary: Default listNetworkSlices 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListNetworkSlices403Example:
                  summary: Default listNetworkSlices 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListNetworkSlices500Example:
                  summary: Default listNetworkSlices 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createNetworkSlice
      summary: Palo Alto Networks Create 5G Network Slice
      description: Creates a new 5G network slice configuration.
      tags:
      - Network Slices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSliceRequest'
            examples:
              CreateNetworkSliceRequestExample:
                summary: Default createNetworkSlice request
                x-microcks-default: true
                value:
                  name: Primary Agent 44
                  description: Threat monitoring configured investigation detected traffic violation traffic applied detected.
                  slice_type: mMTC
                  sd: example-sd
                  security_policy_id: '716910'
      responses:
        '201':
          description: Network slice created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
              examples:
                CreateNetworkSlice201Example:
                  summary: Default createNetworkSlice 201 response
                  x-microcks-default: true
                  value:
                    slice_id: '411916'
                    name: Primary Agent 05
                    description: Rule policy policy incident violation policy suspicious alert configured.
                    slice_type: URLLC
                    sst: 528
                    sd: example-sd
                    status: inactive
                    security_policy_id: '381926'
                    created_at: '2025-07-21T07:27:57Z'
                    updated_at: '2024-11-10T00:28:23Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateNetworkSlice400Example:
                  summary: Default createNetworkSlice 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateNetworkSlice401Example:
                  summary: Default createNetworkSlice 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateNetworkSlice403Example:
                  summary: Default createNetworkSlice 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateNetworkSlice500Example:
                  summary: Default createNetworkSlice 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /network-slices/{slice_id}:
    get:
      operationId: getNetworkSlice
      summary: Palo Alto Networks Get 5G Network Slice
      description: Returns full details for a specific 5G network slice.
      tags:
      - Network Slices
      parameters:
      - name: slice_id
        in: path
        required: true
        description: Unique identifier of the network slice.
        schema:
          type: string
        example: '344064'
      responses:
        '200':
          description: Network slice details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
              examples:
                GetNetworkSlice200Example:
                  summary: Default getNetworkSlice 200 response
                  x-microcks-default: true
                  value:
                    slice_id: '411916'
                    name: Primary Agent 05
                    description: Rule policy policy incident violation policy suspicious alert configured.
                    slice_type: URLLC
                    sst: 528
                    sd: example-sd
                    status: inactive
                    security_policy_id: '381926'
                    created_at: '2025-07-21T07:27:57Z'
                    updated_at: '2024-11-10T00:28:23Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetNetworkSlice401Example:
                  summary: Default getNetworkSlice 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetNetworkSlice403Example:
                  summary: Default getNetworkSlice 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetNetworkSlice404Example:
                  summary: Default getNetworkSlice 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetNetworkSlice500Example:
                  summary: Default getNetworkSlice 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateNetworkSlice
      summary: Palo Alto Networks Update 5G Network Slice
      description: Updates an existing 5G network slice configuration.
      tags:
      - Network Slices
      parameters:
      - name: slice_id
        in: path
        required: true
        description: Unique identifier of the network slice to update.
        schema:
          type: string
        example: '894244'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkSliceRequest'
            examples:
              UpdateNetworkSliceRequestExample:
                summary: Default updateNetworkSlice request
                x-microcks-default: true
                value:
                  name: Primary Agent 44
                  description: Threat monitoring configured investigation detected traffic violation traffic applied detected.
                  slice_type: mMTC
                  sd: example-sd
                  security_policy_id: '716910'
      responses:
        '200':
          description: Network slice updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSlice'
              examples:
                UpdateNetworkSlice200Example:
                  summary: Default updateNetworkSlice 200 response
                  x-microcks-default: true
                  value:
                    slice_id: '411916'
                    name: Primary Agent 05
                    description: Rule policy policy incident violation policy suspicious alert configured.
                    slice_type: URLLC
                    sst: 528
                    sd: example-sd
                    status: inactive
                    security_policy_id: '381926'
                    created_at: '2025-07-21T07:27:57Z'
                    updated_at: '2024-11-10T00:28:23Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice400Example:
                  summary: Default updateNetworkSlice 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice401Example:
                  summary: Default updateNetworkSlice 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice403Example:
                  summary: Default updateNetworkSlice 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice404Example:
                  summary: Default updateNetworkSlice 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateNetworkSlice500Example:
                  summary: Default updateNetworkSlice 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteNetworkSlice
      summary: Palo Alto Networks Delete 5G Network Slice
      description: Deletes a 5G network slice configuration.
      tags:
      - Network Slices
      parameters:
      - name: slice_id
        in: path
        required: true
        description: Unique identifier of the network slice to delete.
        schema:
          type: string
        example: '313522'
      responses:
        '204':
          description: Network slice deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteNetworkSlice401Example:
                  summary: Default deleteNetworkSlice 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteNetworkSlice403Example:
                  summary: Default deleteNetworkSlice 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Network slice not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteNetworkSlice404Example:
                  summary: Default deleteNetworkSlice 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteNetworkSlice500Example:
                  summary: Default deleteNetworkSlice 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /security-policies:
    get:
      operationId: list5GSecurityPolicies
      summary: Palo Alto Networks List 5G Security Policies
      description: >-
        Returns the list of 5G security policies. Security policies define
        the inspection and enforcement rules applied to 5G network traffic
        for specific network slices or subscriber groups.
      tags:
      - Security Policies
      parameters:
      - name: slice_id
        in: query
        description: Filter policies by associated network slice.
        schema:
          type: string
        example: '393635'
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of policies to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Security policies returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SecurityPolicy5G'
              examples:
                List5GsecurityPolicies200Example:
                  summary: Default list5GSecurityPolicies 200 response
                  x-microcks-default: true
                  value:
                    total: 311
                    offset: 830
                    limit: 717
                    items:
                    - policy_id: '663558'
                      name: Staging Policy 94
                      description: Alert rule network investigation endpoint traffic rule rule policy blocked.
                      threat_prevention: false
                      url_filtering: true
                      app_identification: false
                      decryption: false
                      log_forwarding: false
                      enabled: true
                      created_at: '2026-04-11T03:07:30Z'
                      updated_at: '2025-02-26T20:56:47Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5GsecurityPolicies401Example:
                  summary: Default list5GSecurityPolicies 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5GsecurityPolicies403Example:
                  summary: Default list5GSecurityPolicies 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5GsecurityPolicies500Example:
                  summary: Default list5GSecurityPolicies 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: create5GSecurityPolicy
      summary: Palo Alto Networks Create 5G Security Policy
      description: Creates a new 5G security policy.
      tags:
      - Security Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityPolicy5GRequest'
            examples:
              Create5GsecurityPolicyRequestExample:
                summary: Default create5GSecurityPolicy request
                x-microcks-default: true
                value:
                  name: Staging Firewall 55
                  description: Suspicious activity violation suspicious alert investigation policy applied incident investigation.
                  threat_prevention: true
                  url_filtering: false
                  app_identification: true
                  decryption: false
                  log_forwarding: true
                  enabled: true
      responses:
        '201':
          description: Security policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPolicy5G'
              examples:
                Create5GsecurityPolicy201Example:
                  summary: Default create5GSecurityPolicy 201 response
                  x-microcks-default: true
                  value:
                    policy_id: '663558'
                    name: Staging Policy 94
                    description: Alert rule network investigation endpoint traffic rule rule policy blocked.
                    threat_prevention: false
                    url_filtering: true
                    app_identification: false
                    decryption: false
                    log_forwarding: false
                    enabled: true
                    created_at: '2026-04-11T03:07:30Z'
                    updated_at: '2025-02-26T20:56:47Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5GsecurityPolicy400Example:
                  summary: Default create5GSecurityPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5GsecurityPolicy401Example:
                  summary: Default create5GSecurityPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5GsecurityPolicy403Example:
                  summary: Default create5GSecurityPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5GsecurityPolicy500Example:
                  summary: Default create5GSecurityPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /security-policies/{policy_id}:
    get:
      operationId: get5GSecurityPolicy
      summary: Palo Alto Networks Get 5G Security Policy
      description: Returns full details for a specific 5G security policy.
      tags:
      - Security Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the security policy.
        schema:
          type: string
        example: '921336'
      responses:
        '200':
          description: Security policy details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPolicy5G'
              examples:
                Get5GsecurityPolicy200Example:
                  summary: Default get5GSecurityPolicy 200 response
                  x-microcks-default: true
                  value:
                    policy_id: '663558'
                    name: Staging Policy 94
                    description: Alert rule network investigation endpoint traffic rule rule policy blocked.
                    threat_prevention: false
                    url_filtering: true
                    app_identification: false
                    decryption: false
                    log_forwarding: false
                    enabled: true
                    created_at: '2026-04-11T03:07:30Z'
                    updated_at: '2025-02-26T20:56:47Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5GsecurityPolicy401Example:
                  summary: Default get5GSecurityPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5GsecurityPolicy403Example:
                  summary: Default get5GSecurityPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Security policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5GsecurityPolicy404Example:
                  summary: Default get5GSecurityPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5GsecurityPolicy500Example:
                  summary: Default get5GSecurityPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: update5GSecurityPolicy
      summary: Palo Alto Networks Update 5G Security Policy
      description: Updates an existing 5G security policy.
      tags:
      - Security Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the security policy to update.
        schema:
          type: string
        example: '868276'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityPolicy5GRequest'
            examples:
              Update5GsecurityPolicyRequestExample:
                summary: Default update5GSecurityPolicy request
                x-microcks-default: true
                value:
                  name: Staging Firewall 55
                  description: Suspicious activity violation suspicious alert investigation policy applied incident investigation.
                  threat_prevention: true
                  url_filtering: false
                  app_identification: true
                  decryption: false
                  log_forwarding: true
                  enabled: true
      responses:
        '200':
          description: Security policy updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPolicy5G'
              examples:
                Update5GsecurityPolicy200Example:
                  summary: Default update5GSecurityPolicy 200 response
                  x-microcks-default: true
                  value:
                    policy_id: '663558'
                    name: Staging Policy 94
                    description: Alert rule network investigation endpoint traffic rule rule policy blocked.
                    threat_prevention: false
                    url_filtering: true
                    app_identification: false
                    decryption: false
                    log_forwarding: false
                    enabled: true
                    created_at: '2026-04-11T03:07:30Z'
                    updated_at: '2025-02-26T20:56:47Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5GsecurityPolicy400Example:
                  summary: Default update5GSecurityPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5GsecurityPolicy401Example:
                  summary: Default update5GSecurityPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5GsecurityPolicy403Example:
                  summary: Default update5GSecurityPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Security policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5GsecurityPolicy404Example:
                  summary: Default update5GSecurityPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5GsecurityPolicy500Example:
                  summary: Default update5GSecurityPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: delete5GSecurityPolicy
      summary: Palo Alto Networks Delete 5G Security Policy
      description: Deletes a 5G security policy.
      tags:
      - Security Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the security policy to delete.
        schema:
          type: string
        example: '610878'
      responses:
        '204':
          description: Security policy deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5GsecurityPolicy401Example:
                  summary: Default delete5GSecurityPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5GsecurityPolicy403Example:
                  summary: Default delete5GSecurityPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Security policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5GsecurityPolicy404Example:
                  summary: Default delete5GSecurityPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5GsecurityPolicy500Example:
                  summary: Default delete5GSecurityPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tenants:
    get:
      operationId: list5GTenants
      summary: Palo Alto Networks List Multi-tenant 5G Configurations
      description: >-
        Returns the list of tenant configurations in the 5G security
        deployment. Each tenant entry defines the slice assignments and
        security policy bindings for a specific customer or business unit.
      tags:
      - Tenants
      responses:
        '200':
          description: 5G tenant configurations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant5G'
              examples:
                List5Gtenants200Example:
                  summary: Default list5GTenants 200 response
                  x-microcks-default: true
                  value:
                    total: 707
                    items:
                    - tenant_id: tenant-79ef053e
                      name: Primary Policy 73
                      description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                      assigned_slices: &id001
                      - example-assigned_slices_item
                      - example-assigned_slices_item
                      default_policy_id: '861821'
                      created_at: '2025-12-16T10:55:16Z'
                      updated_at: '2024-10-16T22:09:31Z'
                    - tenant_id: tenant-79ef053e
                      name: Primary Policy 73
                      description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                      assigned_slices: *id001
                      default_policy_id: '861821'
                      created_at: '2025-12-16T10:55:16Z'
                      updated_at: '2024-10-16T22:09:31Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5Gtenants401Example:
                  summary: Default list5GTenants 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5Gtenants403Example:
                  summary: Default list5GTenants 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                List5Gtenants500Example:
                  summary: Default list5GTenants 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: create5GTenant
      summary: Palo Alto Networks Create Multi-tenant 5G Configuration
      description: Creates a new tenant configuration for 5G security.
      tags:
      - Tenants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant5GRequest'
            examples:
              Create5GtenantRequestExample:
                summary: Default create5GTenant request
                x-microcks-default: true
                value:
                  name: Corporate Gateway 18
                  description: Malware configured network rule monitoring configured traffic violation.
                  assigned_slices: &id002
                  - example-assigned_slices_item
                  default_policy_id: '449021'
      responses:
        '201':
          description: 5G tenant configuration created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
              examples:
                Create5Gtenant201Example:
                  summary: Default create5GTenant 201 response
                  x-microcks-default: true
                  value:
                    tenant_id: tenant-79ef053e
                    name: Primary Policy 73
                    description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                    assigned_slices: *id001
                    default_policy_id: '861821'
                    created_at: '2025-12-16T10:55:16Z'
                    updated_at: '2024-10-16T22:09:31Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5Gtenant400Example:
                  summary: Default create5GTenant 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5Gtenant401Example:
                  summary: Default create5GTenant 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5Gtenant403Example:
                  summary: Default create5GTenant 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Create5Gtenant500Example:
                  summary: Default create5GTenant 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /tenants/{tenant_id}:
    get:
      operationId: get5GTenant
      summary: Palo Alto Networks Get 5G Tenant Configuration
      description: Returns full details for a specific 5G tenant configuration.
      tags:
      - Tenants
      parameters:
      - name: tenant_id
        in: path
        required: true
        description: Unique identifier of the 5G tenant configuration.
        schema:
          type: string
        example: tenant-79c02660
      responses:
        '200':
          description: 5G tenant configuration details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
              examples:
                Get5Gtenant200Example:
                  summary: Default get5GTenant 200 response
                  x-microcks-default: true
                  value:
                    tenant_id: tenant-79ef053e
                    name: Primary Policy 73
                    description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                    assigned_slices: *id001
                    default_policy_id: '861821'
                    created_at: '2025-12-16T10:55:16Z'
                    updated_at: '2024-10-16T22:09:31Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5Gtenant401Example:
                  summary: Default get5GTenant 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5Gtenant403Example:
                  summary: Default get5GTenant 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5Gtenant404Example:
                  summary: Default get5GTenant 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5Gtenant500Example:
                  summary: Default get5GTenant 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: update5GTenant
      summary: Palo Alto Networks Update 5G Tenant Configuration
      description: Updates an existing 5G tenant configuration.
      tags:
      - Tenants
      parameters:
      - name: tenant_id
        in: path
        required: true
        description: Unique identifier of the 5G tenant configuration to update.
        schema:
          type: string
        example: tenant-eb386617
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tenant5GRequest'
            examples:
              Update5GtenantRequestExample:
                summary: Default update5GTenant request
                x-microcks-default: true
                value:
                  name: Corporate Gateway 18
                  description: Malware configured network rule monitoring configured traffic violation.
                  assigned_slices: *id002
                  default_policy_id: '449021'
      responses:
        '200':
          description: 5G tenant configuration updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant5G'
              examples:
                Update5Gtenant200Example:
                  summary: Default update5GTenant 200 response
                  x-microcks-default: true
                  value:
                    tenant_id: tenant-79ef053e
                    name: Primary Policy 73
                    description: Alert on policy traffic suspicious suspicious Security alert network detected threat.
                    assigned_slices: *id001
                    default_policy_id: '861821'
                    created_at: '2025-12-16T10:55:16Z'
                    updated_at: '2024-10-16T22:09:31Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant400Example:
                  summary: Default update5GTenant 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant401Example:
                  summary: Default update5GTenant 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant403Example:
                  summary: Default update5GTenant 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant404Example:
                  summary: Default update5GTenant 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Update5Gtenant500Example:
                  summary: Default update5GTenant 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: delete5GTenant
      summary: Palo Alto Networks Delete 5G Tenant Configuration
      description: Deletes a 5G tenant configuration.
      tags:
      - Tenants
      parameters:
      - name: tenant_id
        in: path
        required: true
        description: Unique identifier of the 5G tenant configuration to delete.
        schema:
          type: string
        example: tenant-11600a6e
      responses:
        '204':
          description: 5G tenant configuration deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5Gtenant401Example:
                  summary: Default delete5GTenant 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5Gtenant403Example:
                  summary: Default delete5GTenant 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '404':
          description: Tenant configuration not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5Gtenant404Example:
                  summary: Default delete5GTenant 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete5Gtenant500Example:
                  summary: Default delete5GTenant 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /monitoring/metrics:
    get:
      operationId: get5GSecurityMetrics
      summary: Palo Alto Networks Get 5G Security Metrics
      description: >-
        Returns security metrics for 5G network traffic including threat
        detection counts, policy enforcement statistics, subscriber counts,
        and traffic volumes per network slice.
      tags:
      - Monitoring
      parameters:
      - name: slice_id
        in: query
        description: Filter metrics by network slice.
        schema:
          type: string
        example: '136401'
      - name: start_time
        in: query
        description: Start of the metrics period (ISO 8601).
        schema:
          type: string
          format: date-time
        example: '2025-06-23T12:29:25Z'
      - name: end_time
        in: query
        description: End of the metrics period (ISO 8601).
        schema:
          type: string
          format: date-time
        example: '2025-04-09T18:20:46Z'
      - name: interval
        in: query
        description: Metrics aggregation interval.
        schema:
          type: string
          enum:
          - 5m
          - 15m
          - 1h
          - 6h
          - 1d
          default: 1h
        example: 1h
      responses:
        '200':
          description: 5G security metrics returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityMetrics5G'
              examples:
                Get5GsecurityMetrics200Example:
                  summary: Default get5GSecurityMetrics 200 response
                  x-microcks-default: true
                  value:
                    period: &id003
                      start: '2024-06-05T09:27:12Z'
                      end: '2025-01-11T19:58:17Z'
                    total_sessions: 869
                    threats_detected: 523
                    threats_blocked: 380
                    bytes_inspected: 198
                    active_subscribers: 772
                    per_slice_metrics: &id004
                    - slice_id: '752730'
                      slice_name: Corporate Firewall 44
                      sessions: 302
                      threats_detected: 418
                      bytes_inspected: 544
                    - slice_id: '903199'
                      slice_name: Primary Policy 27
                      sessions: 329
                      threats_detected: 975
                      bytes_inspected: 105
                    time_series: &id005
                    - timestamp: '2026-12-16T05:11:44Z'
                      sessions: 780
                      threats: 295
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5GsecurityMetrics400Example:
                  summary: Default get5GSecurityMetrics 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5GsecurityMetrics401Example:
                  summary: Default get5GSecurityMetrics 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5GsecurityMetrics403Example:
                  summary: Default get5GSecurityMetrics 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Get5GsecurityMetrics500Example:
                  summary: Default get5GSecurityMetrics 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
                    request_id: b8969609-ec40-4367-a0fc-c65a6696edee
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    NetworkSlice:
      type: object
      properties:
        slice_id:
          type: string
          description: Unique identifier of the network slice.
          example: '411916'
        name:
          type: string
          description: Display name of the network slice.
          example: Primary Agent 05
        description:
          type: string
          description: Description of the slice's purpose or use case.
          example: Rule policy policy incident violation policy suspicious alert configured.
        slice_type:
          type: string
          enum:
          - eMBB
          - URLLC
          - mMTC
          description: >-
            5G slice type based on 3GPP SST values. eMBB for enhanced
            mobile broadband, URLLC for ultra-reliable low-latency, mMTC
            for massive machine-type communications.
          example: URLLC
        sst:
          type: integer
          description: Slice/Service Type numeric value (1=eMBB, 2=URLLC, 3=mMTC).
          example: 528
        sd:
          type: string
          description: Slice Differentiator hex string for distinguishing slices of the same type.
          example: example-sd
        status:
          type: string
          enum:
          - active
          - inactive
          - provisioning
          - error
          description: Current slice status.
          example: inactive
        security_policy_id:
          type: string
          description: ID of the security policy applied to this slice.
          example: '381926'
        created_at:
          type: string
          format: date-time
          example: '2025-07-21T07:27:57Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-11-10T00:28:23Z'
    NetworkSliceRequest:
      type: object
      required:
      - name
      - slice_type
      properties:
        name:
          type: string
          description: Display name for the network slice.
          example: Primary Agent 44
        description:
          type: string
          description: Optional description.
          example: Threat monitoring configured investigation detected traffic violation traffic applied detected.
        slice_type:
          type: string
          enum:
          - eMBB
          - URLLC
          - mMTC
          description: 5G slice type.
          example: mMTC
        sd:
          type: string
          description: Slice Differentiator hex string.
          example: example-sd
        security_policy_id:
          type: string
          description: Security policy ID to apply to this slice.
          example: '716910'
    SecurityPolicy5G:
      type: object
      properties:
        policy_id:
          type: string
          description: Unique identifier of the security policy.
          example: '663558'
        name:
          type: string
          description: Display name of the security policy.
          example: Staging Policy 94
        description:
          type: string
          description: Description of the policy's purpose.
          example: Alert rule network investigation endpoint traffic rule rule policy blocked.
        threat_prevention:
          type: boolean
          description: Whether threat prevention inspection is enabled.
          example: false
        url_filtering:
          type: boolean
          description: Whether URL filtering is enabled for 5G data traffic.
          example: true
        app_identification:
          type: boolean
          description: Whether application identification is enabled.
          example: false
        decryption:
          type: boolean
          description: Whether SSL/TLS decryption is enabled.
          example: false
        log_forwarding:
          type: boolean
          description: Whether log forwarding is enabled for this policy.
          example: false
        enabled:
          type: boolean
          description: Whether this policy is active.
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-04-11T03:07:30Z'
        updated_at:
          type: string
          format: date-time
          example: '2025-02-26T20:56:47Z'
    SecurityPolicy5GRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the security policy.
          example: Staging Firewall 55
        description:
          type: string
          description: Optional description.
          example: Suspicious activity violation suspicious alert investigation policy applied incident investigation.
        threat_prevention:
          type: boolean
          default: true
          example: true
        url_filtering:
          type: boolean
          default: false
          example: false
        app_identification:
          type: boolean
          default: true
          example: true
        decryption:
          type: boolean
          default: false
          example: false
        log_forwarding:
          type: boolean
          default: true
          example: true
        enabled:
          type: boolean
          default: true
          example: true
    Tenant5G:
      type: object
      properties:
        tenant_id:
          type: string
          description: Unique identifier of the 5G tenant configuration.
          example: tenant-79ef053e
        name:
          type: string
          description: Tenant display name.
          example: Primary Policy 73
        description:
          type: string
          description: Description of the tenant.
          example: Alert on policy traffic suspicious suspicious Security alert network detected threat.
        assigned_slices:
          type: array
          items:
            type: string
          description: Network slice IDs assigned to this tenant.
          example: *id001
        default_policy_id:
          type: string
          description: Default security policy ID for this tenant's traffic.
          example: '861821'
        created_at:
          type: string
          format: date-time
          example: '2025-12-16T10:55:16Z'
        updated_at:
          type: string
          format: date-time
          example: '2024-10-16T22:09:31Z'
    Tenant5GRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the tenant configuration.
          example: Corporate Gateway 18
        description:
          type: string
          description: Optional description.
          example: Malware configured network rule monitoring configured traffic violation.
        assigned_slices:
          type: array
          items:
            type: string
          description: Network slice IDs to assign to this tenant.
          example: *id002
        default_policy_id:
          type: string
          description: Default security policy ID for this tenant.
          example: '449021'
    SecurityMetrics5G:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              format: date-time
              example: '2025-07-23T02:21:44Z'
            end:
              type: string
              format: date-time
              example: '2024-05-24T08:55:26Z'
          example: *id003
        total_sessions:
          type: integer
          description: Total 5G sessions inspected during the period.
          example: 869
        threats_detected:
          type: integer
          description: Number of threats detected in 5G traffic.
          example: 523
        threats_blocked:
          type: integer
          description: Number of threats blocked.
          example: 380
        bytes_inspected:
          type: integer
          description: Total bytes of 5G traffic inspected.
          example: 198
        active_subscribers:
          type: integer
          description: Number of active 5G subscribers.
          example: 772
        per_slice_metrics:
          type: array
          description: Metrics broken down by network slice.
          items:
            type: object
            properties:
              slice_id:
                type: string
                example: '877779'
              slice_name:
                type: string
                example: Primary Sensor 69
              sessions:
                type: integer
                example: 257
              threats_detected:
                type: integer
                example: 380
              bytes_inspected:
                type: integer
                example: 50
          example: *id004
        time_series:
          type: array
          description: Time-series data points for the metrics period.
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
                example: '2025-09-21T07:06:03Z'
              sessions:
                type: integer
                example: 842
              threats:
                type: integer
                example: 159
          example: *id005
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Applied blocked incident traffic network applied threat traffic incident alert traffic network.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: b8969609-ec40-4367-a0fc-c65a6696edee
