openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Stats API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Stats
  description: API usage statistics.
paths:
  /stats:
    get:
      operationId: getStats
      summary: Palo Alto Networks Get API Usage Statistics
      description: Returns API usage statistics for the authenticated API key, including the number of requests made, quota limits, and usage breakdown by endpoint. Use this endpoint to monitor consumption against subscription limits.
      tags:
      - Stats
      responses:
        '200':
          description: API usage statistics returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiStats'
              examples:
                GetStats200Example:
                  summary: Default getStats 200 response
                  x-microcks-default: true
                  value:
                    success: true
                    data:
                      api_key: c0132cd88805a182d0438741905d074c
                      quota: 721
                      remaining: 197
                      used: 718
                      reset_time: '2025-11-13T16:19:53Z'
                      endpoint_usage: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: An internal server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ApiStats:
      type: object
      description: API usage statistics for the authenticated API key.
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            api_key:
              type: string
              description: Redacted API key identifier.
              example: 7f0aeb83312442613acf974dba5e853c
            quota:
              type: integer
              description: Daily request quota.
              example: 719
            remaining:
              type: integer
              description: Remaining requests in the current day.
              example: 93
            used:
              type: integer
              description: Number of requests used today.
              example: 810
            reset_time:
              type: string
              format: date-time
              description: Timestamp when the quota resets.
              example: '2026-08-06T23:19:12Z'
            endpoint_usage:
              type: object
              description: Request counts broken down by endpoint.
              additionalProperties:
                type: integer
              example: {}
          example:
            api_key: c0132cd88805a182d0438741905d074c
            quota: 721
            remaining: 197
            used: 718
            reset_time: '2025-11-13T16:19:53Z'
            endpoint_usage: {}
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          description: Human-readable error message.
          example: Threat applied violation endpoint activity violation activity incident applied.
        error_code:
          type: string
          description: Machine-readable error code.
          example: example-error_code
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
