openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend MSSP Operations Retry API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: MSSP Operations Retry
paths:
  /api/v1/mssp/{mssp-id}/operation/{request-id}/retry:
    post:
      tags:
      - MSSP Operations Retry
      summary: Palo Alto Networks API to Retry Failed Operation
      description: MSSP user API to retry failed operation
      operationId: retryOperation
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
        example: '504934'
      - name: request-id
        in: path
        description: the request id being retried
        required: true
        schema:
          type: string
          format: uuid
        example: 3018454b-1fec-4eb6-901a-c76b62535f96
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/OperationAckRequest'
            examples:
              RetryOperationRequestExample:
                summary: Default retryOperation request
                x-microcks-default: true
                value:
                  status: SUCCESS
                  errorMessage: example-errorMessage
                  tenantUpdate:
                    prismaId: 797
                    externalTenantId: '225012'
                    stackName: Branch Gateway 63
                    stackBaseUrl: example-stackBaseUrl
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/OperationResponse'
              examples:
                RetryOperation200Example:
                  summary: Default retryOperation 200 response
                  x-microcks-default: true
                  value:
                    requestId: 4b0348d5-573c-4efd-a630-8b03814c6b3c
                    msspId: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
                    operationType: MESSAGE_FAN_OUT
                    operationName: POLICY_MAP
                    operationDescription: Incident incident configured investigation malware violation incident applied applied on network.
                    status: FAILURE
                    tenantChanges:
                    - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
                      externalTenantId: '426227'
                      tenantPrismaId: '519160'
                      status: IN_PROGRESS
                      updatedAt: 73
                    startedBy: example-startedBy
                    startedAt: 93
                    updatedAt: 375
                    isRetryable: true
                    retryOf: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
                    retriedBy: 3ea1e71a-2068-4b42-91ea-859717617763
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                RetryOperation400Example:
                  summary: Default retryOperation 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '404':
          description: The MSSP does not exist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                RetryOperation404Example:
                  summary: Default retryOperation 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                RetryOperation429Example:
                  summary: Default retryOperation 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TenantUpdate:
      type: object
      properties:
        prismaId:
          type: integer
          format: int64
          example: 797
        externalTenantId:
          type: string
          example: '225012'
        stackName:
          type: string
          example: Branch Gateway 63
        stackBaseUrl:
          type: string
          example: example-stackBaseUrl
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    TenantChangeResponse:
      type: object
      properties:
        tenantChangeId:
          type: string
          format: uuid
          example: 21506922-dae2-4e8a-879f-b738126b7a2d
        externalTenantId:
          type: string
          example: '833084'
        tenantPrismaId:
          type: string
          example: '169016'
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: SUCCESS
        updatedAt:
          type: integer
          format: int64
          example: 131
    OperationAckRequest:
      required:
      - status
      type: object
      properties:
        status:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          example: SUCCESS
        errorMessage:
          type: string
          example: example-errorMessage
        tenantUpdate:
          $ref: '#/components/schemas/TenantUpdate'
    OperationResponse:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
          example: 4b0348d5-573c-4efd-a630-8b03814c6b3c
        msspId:
          type: string
          format: uuid
          example: e63fa3c6-95a4-4aeb-98f7-e9aa00a7558b
        operationType:
          type: string
          enum:
          - MESSAGE_FAN_OUT
          - ORCHESTRATOR_REQUEST
          example: MESSAGE_FAN_OUT
        operationName:
          type: string
          enum:
          - PROVISION_TENANT
          - UPDATE_TENANT
          - DELETE_TENANT
          - OFFBOARD_TENANT
          - REPLICATE_ACTION
          - CREATE_USER
          - UPDATE_USER
          - DELETE_USER
          - POLICY_MAP
          - POLICY_UNMAP
          - SYNC_POLICIES
          example: POLICY_MAP
        operationDescription:
          type: string
          example: Incident incident configured investigation malware violation incident applied applied on network.
        status:
          type: string
          enum:
          - IN_PROGRESS
          - SUCCESS
          - FAILURE
          example: FAILURE
        tenantChanges:
          type: array
          items:
            $ref: '#/components/schemas/TenantChangeResponse'
          example:
          - tenantChangeId: 018cb8f2-d5f2-43b8-9571-f38716ffe3d2
            externalTenantId: '426227'
            tenantPrismaId: '519160'
            status: IN_PROGRESS
            updatedAt: 73
        startedBy:
          type: string
          example: example-startedBy
        startedAt:
          type: integer
          format: int64
          example: 93
        updatedAt:
          type: integer
          format: int64
          example: 375
        isRetryable:
          type: boolean
          example: true
        retryOf:
          type: string
          format: uuid
          example: 5716ecaa-0bb9-4bf6-ae8d-f2afdc9dc153
        retriedBy:
          type: string
          format: uuid
          example: 3ea1e71a-2068-4b42-91ea-859717617763
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
