openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Onboarding API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Onboarding
  description: Remote network onboarding status.
paths:
  /onboarding-status/{id}:
    get:
      operationId: getOnboardingStatus
      summary: Palo Alto Networks Get Remote Network Onboarding Status
      description: Returns the onboarding status for a remote network including provisioning progress, configuration push status, and tunnel establishment state. Use this endpoint to monitor the lifecycle of a newly created remote network.
      tags:
      - Onboarding
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier of the remote network.
        schema:
          type: string
        example: example-id
      responses:
        '200':
          description: Onboarding status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnboardingStatus'
              examples:
                GetOnboardingStatus200Example:
                  summary: Default getOnboardingStatus 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    status: failed
                    steps:
                    - step: example-step
                      status: completed
                      message: Network traffic suspicious violation malware alert.
                      completed_at: '2026-10-13T10:26:35Z'
                    error_message: example-error_message
                    started_at: '2024-02-24T21:09:42Z'
                    completed_at: '2024-04-28T11:33:26Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetOnboardingStatus401Example:
                  summary: Default getOnboardingStatus 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetOnboardingStatus403Example:
                  summary: Default getOnboardingStatus 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
        '404':
          description: Remote network not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetOnboardingStatus404Example:
                  summary: Default getOnboardingStatus 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetOnboardingStatus500Example:
                  summary: Default getOnboardingStatus 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Configured activity investigation policy detected violation blocked.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: 3ab20120-828b-4af3-9110-53521ee47614
    OnboardingStatus:
      type: object
      properties:
        id:
          type: string
          description: Remote network identifier.
          example: example-id
        status:
          type: string
          enum:
          - pending
          - provisioning
          - configuring
          - tunnel_establishing
          - completed
          - failed
          description: Current onboarding phase.
          example: failed
        steps:
          type: array
          description: Individual onboarding steps and their completion state.
          items:
            type: object
            properties:
              step:
                type: string
                description: Step name.
                example: example-step
              status:
                type: string
                enum:
                - pending
                - in_progress
                - completed
                - failed
                example: completed
              message:
                type: string
                description: Status message or error detail for this step.
                example: Policy network network network alert alert applied.
              completed_at:
                type: string
                format: date-time
                example: '2026-08-17T21:25:30Z'
          example:
          - step: example-step
            status: completed
            message: Network traffic suspicious violation malware alert.
            completed_at: '2026-10-13T10:26:35Z'
        error_message:
          type: string
          description: Error description if onboarding failed.
          example: example-error_message
        started_at:
          type: string
          format: date-time
          example: '2024-02-24T21:09:42Z'
        completed_at:
          type: string
          format: date-time
          example: '2024-04-28T11:33:26Z'
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
