openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Qo S Rules API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: QoSRules
  description: Quality of Service rule management for traffic prioritization across WAN links.
paths:
  /sdwan/config/v1/policies/qos-rules:
    get:
      operationId: listQoSRules
      summary: Palo Alto Networks List QoS Rules
      description: Returns a list of Quality of Service rules configured in the SD-WAN tenant. QoS rules define traffic prioritization and bandwidth allocation policies for applications traversing WAN links.
      tags:
      - QoSRules
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        schema:
          type: integer
          default: 100
        example: 100
      responses:
        '200':
          description: QoS rules returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/QoSRule'
              examples:
                ListQoSrules200Example:
                  summary: Default listQoSRules 200 response
                  x-microcks-default: true
                  value:
                    count: 844
                    items:
                    - id: example-id
                      name: Primary Firewall 86
                      description: Traffic suspicious policy detected incident investigation Security.
                      priority: default
                      dscp_class: example-dscp_class
                      app_filters:
                      - example-app_filters_item
                      - example-app_filters_item
                      bandwidth_limit_up: 31.68
                      bandwidth_limit_down: 7.47
                      enabled: true
                      created_at: '2025-12-11T11:28:34Z'
                      updated_at: '2025-01-25T09:11:56Z'
                    - id: example-id
                      name: Primary Firewall 86
                      description: Traffic suspicious policy detected incident investigation Security.
                      priority: default
                      dscp_class: example-dscp_class
                      app_filters:
                      - example-app_filters_item
                      - example-app_filters_item
                      bandwidth_limit_up: 31.68
                      bandwidth_limit_down: 7.47
                      enabled: true
                      created_at: '2025-12-11T11:28:34Z'
                      updated_at: '2025-01-25T09:11:56Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createQoSRule
      summary: Palo Alto Networks Create a QoS Rule
      description: Creates a new QoS traffic prioritization rule.
      tags:
      - QoSRules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QoSRule'
            examples:
              CreateQoSruleRequestExample:
                summary: Default createQoSRule request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Primary Firewall 86
                  description: Traffic suspicious policy detected incident investigation Security.
                  priority: default
                  dscp_class: example-dscp_class
                  app_filters:
                  - example-app_filters_item
                  - example-app_filters_item
                  bandwidth_limit_up: 31.68
                  bandwidth_limit_down: 7.47
                  enabled: true
                  created_at: '2025-12-11T11:28:34Z'
                  updated_at: '2025-01-25T09:11:56Z'
      responses:
        '200':
          description: QoS rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QoSRule'
              examples:
                CreateQoSrule200Example:
                  summary: Default createQoSRule 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Primary Firewall 86
                    description: Traffic suspicious policy detected incident investigation Security.
                    priority: default
                    dscp_class: example-dscp_class
                    app_filters:
                    - example-app_filters_item
                    - example-app_filters_item
                    bandwidth_limit_up: 31.68
                    bandwidth_limit_down: 7.47
                    enabled: true
                    created_at: '2025-12-11T11:28:34Z'
                    updated_at: '2025-01-25T09:11:56Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        _error:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Investigation firewall on investigation blocked malware on on activity traffic.
          example:
          - code: example-code
            message: Traffic activity blocked incident activity alert rule alert firewall incident.
          - code: example-code
            message: Traffic policy on violation blocked Security investigation blocked rule on malware network.
    QoSRule:
      type: object
      required:
      - name
      properties:
        id:
          type: string
          description: Unique identifier for the QoS rule.
          readOnly: true
          example: example-id
        name:
          type: string
          description: Name of the QoS rule.
          example: Primary Firewall 86
        description:
          type: string
          example: Traffic suspicious policy detected incident investigation Security.
        priority:
          type: string
          enum:
          - high
          - medium
          - low
          - default
          description: Traffic priority for matching flows.
          example: default
        dscp_class:
          type: string
          description: DSCP class to apply for marking traffic.
          example: example-dscp_class
        app_filters:
          type: array
          items:
            type: string
          description: Application names or identifiers this rule applies to.
          example:
          - example-app_filters_item
          - example-app_filters_item
        bandwidth_limit_up:
          type: number
          description: Upstream bandwidth limit in Mbps for matched traffic.
          example: 31.68
        bandwidth_limit_down:
          type: number
          description: Downstream bandwidth limit in Mbps for matched traffic.
          example: 7.47
        enabled:
          type: boolean
          default: true
          description: Whether the rule is active.
          example: true
        created_at:
          type: string
          format: date-time
          readOnly: true
          example: '2025-12-11T11:28:34Z'
        updated_at:
          type: string
          format: date-time
          readOnly: true
          example: '2025-01-25T09:11:56Z'
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
