openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Tenant Group Lifecycle Endpoints API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Tenant Group Lifecycle Endpoints
paths:
  /api/v1/mssp/{mssp-id}/tenant-group:
    get:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Palo Alto Networks Get the Tenant Group List for an MSSP
      description: Gets the list of tenant groups for an MSSP. Will use msspId from the auth token if available.
      operationId: getTenantGroupsByMsspId
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
        example: '424374'
      - name: next_page_token
        in: query
        description: pagination token to continue a previous queryif set
        required: false
        schema:
          type: string
        example: example-next_page_token
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupsResponse'
              examples:
                GetTenantGroupsByMsspId200Example:
                  summary: Default getTenantGroupsByMsspId 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
                      groupName: Branch Gateway 90
                      tenants:
                      - externalTenantId: '849955'
                        prismaId: '788442'
                      createdAt: 183
                      createdBy: example-createdBy
                    nextPageToken: example-nextPageToken
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetTenantGroupsByMsspId404Example:
                  summary: Default getTenantGroupsByMsspId 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetTenantGroupsByMsspId429Example:
                  summary: Default getTenantGroupsByMsspId 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Palo Alto Networks Create a Tenant Group
      description: Creates a tenant group if it doesn't exist. Will use msspId from the auth token if available.
      operationId: createTenantGroup
      parameters:
      - name: mssp-id
        in: path
        description: the id mssp the tenant group belongs to
        required: true
        schema:
          type: string
        example: '539797'
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateTenantGroupRequest'
            examples:
              CreateTenantGroupRequestExample:
                summary: Default createTenantGroup request
                x-microcks-default: true
                value:
                  groupName: Staging Gateway 82
                  tenantIds:
                  - example-tenantIds_item
                  - example-tenantIds_item
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
              examples:
                CreateTenantGroup200Example:
                  summary: Default createTenantGroup 200 response
                  x-microcks-default: true
                  value:
                    id: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
                    groupName: Branch Gateway 90
                    tenants:
                    - externalTenantId: '849955'
                      prismaId: '788442'
                    createdAt: 183
                    createdBy: example-createdBy
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateTenantGroup400Example:
                  summary: Default createTenantGroup 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateTenantGroup404Example:
                  summary: Default createTenantGroup 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateTenantGroup429Example:
                  summary: Default createTenantGroup 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/mssp/{mssp-id}/tenant-group/{id}:
    get:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Palo Alto Networks Get the Tenant Group by Id
      description: Gets a tenant group by id.
      operationId: getTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
        example: '235310'
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
        example: 656f5cca-0222-41f1-bc29-41216d37fc09
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
              examples:
                GetTenantGroupById200Example:
                  summary: Default getTenantGroupById 200 response
                  x-microcks-default: true
                  value:
                    id: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
                    groupName: Branch Gateway 90
                    tenants:
                    - externalTenantId: '849955'
                      prismaId: '788442'
                    createdAt: 183
                    createdBy: example-createdBy
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetTenantGroupById404Example:
                  summary: Default getTenantGroupById 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetTenantGroupById429Example:
                  summary: Default getTenantGroupById 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Palo Alto Networks Delete an Existing Tenant Group
      description: Deletes a tenant group if it is empty. Will use msspId from the auth token if available.
      operationId: deleteTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the tenant group belongs to
        required: true
        schema:
          type: string
        example: '588758'
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
        example: 38a189bf-e1eb-42fa-9d13-192414a234da
      responses:
        '204':
          description: Deletion accepted
        '404':
          description: The MSSP or tenant group does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteTenantGroupById404Example:
                  summary: Default deleteTenantGroupById 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteTenantGroupById429Example:
                  summary: Default deleteTenantGroupById 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Tenant Group Lifecycle Endpoints
      summary: Palo Alto Networks Modify the Tenant Group by Id
      description: Modifies a tenant group by id.
      operationId: patchTenantGroupById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
        example: '367388'
      - name: id
        in: path
        description: the id of the tenant group
        required: true
        schema:
          type: string
          format: uuid
        example: 6f83abb7-6eaa-4f6b-940d-ab6a40022d61
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantGroupRequest'
            examples:
              PatchTenantGroupByIdRequestExample:
                summary: Default patchTenantGroupById request
                x-microcks-default: true
                value:
                  groupName: Staging Firewall 76
                  tenantIds:
                  - example-tenantIds_item
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupResponse'
              examples:
                PatchTenantGroupById200Example:
                  summary: Default patchTenantGroupById 200 response
                  x-microcks-default: true
                  value:
                    id: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
                    groupName: Branch Gateway 90
                    tenants:
                    - externalTenantId: '849955'
                      prismaId: '788442'
                    createdAt: 183
                    createdBy: example-createdBy
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                PatchTenantGroupById404Example:
                  summary: Default patchTenantGroupById 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                PatchTenantGroupById429Example:
                  summary: Default patchTenantGroupById 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    CreateTenantGroupRequest:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Gateway 82
        tenantIds:
          type: array
          items:
            type: string
          example:
          - example-tenantIds_item
          - example-tenantIds_item
    UpdateTenantGroupRequest:
      required:
      - groupName
      type: object
      properties:
        groupName:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Firewall 76
        tenantIds:
          type: array
          items:
            type: string
          example:
          - example-tenantIds_item
    TenantIds:
      type: object
      properties:
        externalTenantId:
          type: string
          example: '755704'
        prismaId:
          type: string
          example: '454413'
    TenantGroupsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupResponse'
          example:
          - id: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
            groupName: Branch Gateway 90
            tenants:
            - externalTenantId: '849955'
              prismaId: '788442'
            createdAt: 183
            createdBy: example-createdBy
        nextPageToken:
          type: string
          example: example-nextPageToken
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    TenantGroupResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7f4e6576-9ea5-4354-a200-3c1205d09a9e
        groupName:
          type: string
          example: Branch Gateway 90
        tenants:
          type: array
          items:
            $ref: '#/components/schemas/TenantIds'
          example:
          - externalTenantId: '849955'
            prismaId: '788442'
        createdAt:
          type: integer
          format: int64
          example: 183
        createdBy:
          type: string
          example: example-createdBy
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
