openapi: 3.1.0
info:
  title: Palo Alto Networks ZTNA Connector API
  description: >-
    ZTNA Connector API for zero trust network access management. Provides
    programmatic control over ZTNA connectors, connector groups, protected
    applications, FQDN-based access rules, subnet-based access rules, and
    license information. Connectors are software agents deployed in private
    network environments that provide secure access paths for ZTNA-protected
    applications without requiring inbound firewall rules. Part of the Palo
    Alto Networks SASE platform.
  version: '2.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.sase.paloaltonetworks.com/ztna
  description: SASE ZTNA Connector API production server.
security:
- oauth2Bearer: []
tags:
- name: Applications
  description: ZTNA-protected application definitions.
- name: Connector Groups
  description: Logical grouping of ZTNA connectors for high availability.
- name: Connectors
  description: ZTNA connector lifecycle management.
- name: FQDN Rules
  description: FQDN-based access rules for ZTNA applications.
- name: Licenses
  description: ZTNA license and entitlement information.
- name: Subnet Rules
  description: Subnet-based access rules for ZTNA network segments.
paths:
  /v2/connectors:
    get:
      operationId: listConnectors
      summary: Palo Alto Networks List ZTNA Connectors
      description: >-
        Returns the list of ZTNA connectors configured for the tenant.
        Connectors are software agents deployed in private network environments.
        Each connector entry includes its current health status, associated
        connector group, software version, and connected application count.
      tags:
      - Connectors
      parameters:
      - name: group_id
        in: query
        description: Filter connectors by connector group ID.
        schema:
          type: string
        example: '716603'
      - name: status
        in: query
        description: Filter connectors by health status.
        schema:
          type: string
          enum:
          - connected
          - disconnected
          - upgrading
          - error
        example: error
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of connectors to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Connectors returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connector'
              examples:
                ListConnectors200Example:
                  summary: Default listConnectors 200 response
                  x-microcks-default: true
                  value:
                    total: 660
                    offset: 883
                    limit: 838
                    items:
                    - connector_id: '794298'
                      name: Production Gateway 37
                      group_id: '577658'
                      status: connected
                      version: 10.4.9
                      hostname: host-51b1
                      ip_address: 10.28.192.109
                      region: eu-west-1
                      last_seen_at: '2024-07-11T13:58:11Z'
                      created_at: '2025-10-12T04:55:41Z'
                    - connector_id: '794298'
                      name: Production Gateway 37
                      group_id: '577658'
                      status: connected
                      version: 10.4.9
                      hostname: host-51b1
                      ip_address: 10.28.192.109
                      region: eu-west-1
                      last_seen_at: '2024-07-11T13:58:11Z'
                      created_at: '2025-10-12T04:55:41Z'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectors400Example:
                  summary: Default listConnectors 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectors401Example:
                  summary: Default listConnectors 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectors403Example:
                  summary: Default listConnectors 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectors500Example:
                  summary: Default listConnectors 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createConnector
      summary: Palo Alto Networks Create ZTNA Connector
      description: >-
        Creates a new ZTNA connector configuration and generates the
        installation token needed to deploy the connector software in a
        private network environment. The connector must be assigned to an
        existing connector group.
      tags:
      - Connectors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest'
            examples:
              CreateConnectorRequestExample:
                summary: Default createConnector request
                x-microcks-default: true
                value:
                  name: Production Sensor 37
                  group_id: '814975'
                  description: Blocked suspicious investigation malware alert rule policy.
      responses:
        '201':
          description: Connector created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
              examples:
                CreateConnector201Example:
                  summary: Default createConnector 201 response
                  x-microcks-default: true
                  value:
                    connector_id: '794298'
                    name: Production Gateway 37
                    group_id: '577658'
                    status: connected
                    version: 10.4.9
                    hostname: host-51b1
                    ip_address: 10.28.192.109
                    region: eu-west-1
                    last_seen_at: '2024-07-11T13:58:11Z'
                    created_at: '2025-10-12T04:55:41Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnector400Example:
                  summary: Default createConnector 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnector401Example:
                  summary: Default createConnector 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnector403Example:
                  summary: Default createConnector 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnector500Example:
                  summary: Default createConnector 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/connectors/{connector_id}:
    get:
      operationId: getConnector
      summary: Palo Alto Networks Get ZTNA Connector
      description: Returns full details for a specific ZTNA connector by ID.
      tags:
      - Connectors
      parameters:
      - name: connector_id
        in: path
        required: true
        description: Unique identifier of the connector.
        schema:
          type: string
        example: '975993'
      responses:
        '200':
          description: Connector details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
              examples:
                GetConnector200Example:
                  summary: Default getConnector 200 response
                  x-microcks-default: true
                  value:
                    connector_id: '794298'
                    name: Production Gateway 37
                    group_id: '577658'
                    status: connected
                    version: 10.4.9
                    hostname: host-51b1
                    ip_address: 10.28.192.109
                    region: eu-west-1
                    last_seen_at: '2024-07-11T13:58:11Z'
                    created_at: '2025-10-12T04:55:41Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnector401Example:
                  summary: Default getConnector 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnector403Example:
                  summary: Default getConnector 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnector404Example:
                  summary: Default getConnector 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnector500Example:
                  summary: Default getConnector 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateConnector
      summary: Palo Alto Networks Update ZTNA Connector
      description: Updates the configuration of an existing ZTNA connector.
      tags:
      - Connectors
      parameters:
      - name: connector_id
        in: path
        required: true
        description: Unique identifier of the connector to update.
        schema:
          type: string
        example: '321702'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorRequest'
            examples:
              UpdateConnectorRequestExample:
                summary: Default updateConnector request
                x-microcks-default: true
                value:
                  name: Production Sensor 37
                  group_id: '814975'
                  description: Blocked suspicious investigation malware alert rule policy.
      responses:
        '200':
          description: Connector updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
              examples:
                UpdateConnector200Example:
                  summary: Default updateConnector 200 response
                  x-microcks-default: true
                  value:
                    connector_id: '794298'
                    name: Production Gateway 37
                    group_id: '577658'
                    status: connected
                    version: 10.4.9
                    hostname: host-51b1
                    ip_address: 10.28.192.109
                    region: eu-west-1
                    last_seen_at: '2024-07-11T13:58:11Z'
                    created_at: '2025-10-12T04:55:41Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnector400Example:
                  summary: Default updateConnector 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnector401Example:
                  summary: Default updateConnector 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnector403Example:
                  summary: Default updateConnector 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnector404Example:
                  summary: Default updateConnector 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnector500Example:
                  summary: Default updateConnector 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteConnector
      summary: Palo Alto Networks Delete ZTNA Connector
      description: >-
        Deletes a ZTNA connector. The connector must be in a disconnected
        state before deletion. Any applications relying on this connector
        must be reassigned first.
      tags:
      - Connectors
      parameters:
      - name: connector_id
        in: path
        required: true
        description: Unique identifier of the connector to delete.
        schema:
          type: string
        example: '352549'
      responses:
        '204':
          description: Connector deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnector401Example:
                  summary: Default deleteConnector 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnector403Example:
                  summary: Default deleteConnector 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnector404Example:
                  summary: Default deleteConnector 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnector500Example:
                  summary: Default deleteConnector 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/connectors/{connector_id}/upgrade:
    post:
      operationId: scheduleConnectorUpgrade
      summary: Palo Alto Networks Schedule Connector Upgrade
      description: >-
        Schedules a software upgrade for a specific ZTNA connector. The
        upgrade can be scheduled for immediate execution or for a specified
        maintenance window. During the upgrade, the connector briefly
        disconnects; traffic is routed through other connectors in the
        same group if available.
      tags:
      - Connectors
      parameters:
      - name: connector_id
        in: path
        required: true
        description: Unique identifier of the connector to upgrade.
        schema:
          type: string
        example: '287403'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduled_at:
                  type: string
                  format: date-time
                  description: >-
                    Scheduled time for the upgrade. If omitted, the upgrade
                    starts immediately.
                target_version:
                  type: string
                  description: >-
                    Target software version. If omitted, upgrades to the
                    latest available version.
            examples:
              ScheduleConnectorUpgradeRequestExample:
                summary: Default scheduleConnectorUpgrade request
                x-microcks-default: true
                value:
                  scheduled_at: '2026-05-12T04:07:50Z'
                  target_version: 10.6.9
      responses:
        '200':
          description: Upgrade scheduled successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connector_id:
                    type: string
                  upgrade_status:
                    type: string
                    enum:
                    - scheduled
                    - in_progress
                  scheduled_at:
                    type: string
                    format: date-time
                  target_version:
                    type: string
              examples:
                ScheduleConnectorUpgrade200Example:
                  summary: Default scheduleConnectorUpgrade 200 response
                  x-microcks-default: true
                  value:
                    connector_id: '427273'
                    upgrade_status: scheduled
                    scheduled_at: '2024-10-25T18:45:30Z'
                    target_version: 3.9.9
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ScheduleConnectorUpgrade400Example:
                  summary: Default scheduleConnectorUpgrade 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ScheduleConnectorUpgrade401Example:
                  summary: Default scheduleConnectorUpgrade 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ScheduleConnectorUpgrade403Example:
                  summary: Default scheduleConnectorUpgrade 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ScheduleConnectorUpgrade404Example:
                  summary: Default scheduleConnectorUpgrade 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ScheduleConnectorUpgrade500Example:
                  summary: Default scheduleConnectorUpgrade 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/connector-groups:
    get:
      operationId: listConnectorGroups
      summary: Palo Alto Networks List Connector Groups
      description: >-
        Returns the list of connector groups. Connector groups logically
        group multiple connectors for high availability and load balancing.
        Applications are assigned to connector groups rather than individual
        connectors.
      tags:
      - Connector Groups
      responses:
        '200':
          description: Connector groups returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConnectorGroup'
              examples:
                ListConnectorGroups200Example:
                  summary: Default listConnectorGroups 200 response
                  x-microcks-default: true
                  value:
                    total: 673
                    items:
                    - group_id: '985333'
                      name: Staging Sensor 26
                      description: Monitoring investigation blocked applied activity traffic.
                      connector_count: 400
                      region: us-west-2
                      created_at: '2026-09-14T06:06:49Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectorGroups401Example:
                  summary: Default listConnectorGroups 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectorGroups403Example:
                  summary: Default listConnectorGroups 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectorGroups500Example:
                  summary: Default listConnectorGroups 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createConnectorGroup
      summary: Palo Alto Networks Create Connector Group
      description: Creates a new connector group for organizing ZTNA connectors.
      tags:
      - Connector Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorGroupRequest'
            examples:
              CreateConnectorGroupRequestExample:
                summary: Default createConnectorGroup request
                x-microcks-default: true
                value:
                  name: Corporate Sensor 60
                  description: Violation rule blocked violation network applied incident monitoring.
                  region: us-east-1
      responses:
        '201':
          description: Connector group created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
              examples:
                CreateConnectorGroup201Example:
                  summary: Default createConnectorGroup 201 response
                  x-microcks-default: true
                  value:
                    group_id: '985333'
                    name: Staging Sensor 26
                    description: Monitoring investigation blocked applied activity traffic.
                    connector_count: 400
                    region: us-west-2
                    created_at: '2026-09-14T06:06:49Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnectorGroup400Example:
                  summary: Default createConnectorGroup 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnectorGroup401Example:
                  summary: Default createConnectorGroup 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnectorGroup403Example:
                  summary: Default createConnectorGroup 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnectorGroup500Example:
                  summary: Default createConnectorGroup 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/connector-groups/{group_id}:
    get:
      operationId: getConnectorGroup
      summary: Palo Alto Networks Get Connector Group
      description: Returns full details for a specific connector group.
      tags:
      - Connector Groups
      parameters:
      - name: group_id
        in: path
        required: true
        description: Unique identifier of the connector group.
        schema:
          type: string
        example: '201460'
      responses:
        '200':
          description: Connector group details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
              examples:
                GetConnectorGroup200Example:
                  summary: Default getConnectorGroup 200 response
                  x-microcks-default: true
                  value:
                    group_id: '985333'
                    name: Staging Sensor 26
                    description: Monitoring investigation blocked applied activity traffic.
                    connector_count: 400
                    region: us-west-2
                    created_at: '2026-09-14T06:06:49Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnectorGroup401Example:
                  summary: Default getConnectorGroup 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnectorGroup403Example:
                  summary: Default getConnectorGroup 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnectorGroup404Example:
                  summary: Default getConnectorGroup 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnectorGroup500Example:
                  summary: Default getConnectorGroup 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateConnectorGroup
      summary: Palo Alto Networks Update Connector Group
      description: Updates an existing connector group configuration.
      tags:
      - Connector Groups
      parameters:
      - name: group_id
        in: path
        required: true
        description: Unique identifier of the connector group to update.
        schema:
          type: string
        example: '452601'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorGroupRequest'
            examples:
              UpdateConnectorGroupRequestExample:
                summary: Default updateConnectorGroup request
                x-microcks-default: true
                value:
                  name: Corporate Sensor 60
                  description: Violation rule blocked violation network applied incident monitoring.
                  region: us-east-1
      responses:
        '200':
          description: Connector group updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
              examples:
                UpdateConnectorGroup200Example:
                  summary: Default updateConnectorGroup 200 response
                  x-microcks-default: true
                  value:
                    group_id: '985333'
                    name: Staging Sensor 26
                    description: Monitoring investigation blocked applied activity traffic.
                    connector_count: 400
                    region: us-west-2
                    created_at: '2026-09-14T06:06:49Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup400Example:
                  summary: Default updateConnectorGroup 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup401Example:
                  summary: Default updateConnectorGroup 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup403Example:
                  summary: Default updateConnectorGroup 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup404Example:
                  summary: Default updateConnectorGroup 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup500Example:
                  summary: Default updateConnectorGroup 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteConnectorGroup
      summary: Palo Alto Networks Delete Connector Group
      description: >-
        Deletes a connector group. The group must have no connectors assigned
        before deletion.
      tags:
      - Connector Groups
      parameters:
      - name: group_id
        in: path
        required: true
        description: Unique identifier of the connector group to delete.
        schema:
          type: string
        example: '338215'
      responses:
        '204':
          description: Connector group deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnectorGroup401Example:
                  summary: Default deleteConnectorGroup 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnectorGroup403Example:
                  summary: Default deleteConnectorGroup 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnectorGroup404Example:
                  summary: Default deleteConnectorGroup 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnectorGroup500Example:
                  summary: Default deleteConnectorGroup 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/applications:
    get:
      operationId: listZTNAApplications
      summary: Palo Alto Networks List ZTNA-protected Applications
      description: >-
        Returns the list of applications protected by ZTNA. Each application
        defines the private resource users can access along with the connector
        group that provides access.
      tags:
      - Applications
      responses:
        '200':
          description: ZTNA applications returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ZTNAApplication'
              examples:
                ListZtnaapplications200Example:
                  summary: Default listZTNAApplications 200 response
                  x-microcks-default: true
                  value:
                    total: 626
                    items:
                    - app_id: '768496'
                      name: Corporate Sensor 20
                      description: On investigation rule violation threat monitoring.
                      group_id: '907399'
                      fqdn: api.acme-systems.org
                      ports: &id001
                      - 603
                      - 3
                      protocols: &id002
                      - TCP
                      enabled: true
                      created_at: '2024-05-17T06:02:30Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListZtnaapplications401Example:
                  summary: Default listZTNAApplications 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListZtnaapplications403Example:
                  summary: Default listZTNAApplications 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListZtnaapplications500Example:
                  summary: Default listZTNAApplications 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createZTNAApplication
      summary: Palo Alto Networks Create ZTNA Application
      description: Creates a new ZTNA-protected application definition.
      tags:
      - Applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZTNAApplicationRequest'
            examples:
              CreateZtnaapplicationRequestExample:
                summary: Default createZTNAApplication request
                x-microcks-default: true
                value:
                  name: Branch Agent 75
                  description: Incident suspicious firewall Security suspicious policy threat suspicious.
                  group_id: '376339'
                  fqdn: login.test-corp.net
                  ports: &id003
                  - 28
                  protocols: &id004
                  - TCP
                  - UDP
                  enabled: true
      responses:
        '201':
          description: ZTNA application created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZTNAApplication'
              examples:
                CreateZtnaapplication201Example:
                  summary: Default createZTNAApplication 201 response
                  x-microcks-default: true
                  value:
                    app_id: '768496'
                    name: Corporate Sensor 20
                    description: On investigation rule violation threat monitoring.
                    group_id: '907399'
                    fqdn: api.acme-systems.org
                    ports: *id001
                    protocols: *id002
                    enabled: true
                    created_at: '2024-05-17T06:02:30Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateZtnaapplication400Example:
                  summary: Default createZTNAApplication 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateZtnaapplication401Example:
                  summary: Default createZTNAApplication 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateZtnaapplication403Example:
                  summary: Default createZTNAApplication 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateZtnaapplication500Example:
                  summary: Default createZTNAApplication 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/applications/{app_id}:
    get:
      operationId: getZTNAApplication
      summary: Palo Alto Networks Get ZTNA Application
      description: Returns full details for a specific ZTNA-protected application.
      tags:
      - Applications
      parameters:
      - name: app_id
        in: path
        required: true
        description: Unique identifier of the ZTNA application.
        schema:
          type: string
        example: '990231'
      responses:
        '200':
          description: ZTNA application details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZTNAApplication'
              examples:
                GetZtnaapplication200Example:
                  summary: Default getZTNAApplication 200 response
                  x-microcks-default: true
                  value:
                    app_id: '768496'
                    name: Corporate Sensor 20
                    description: On investigation rule violation threat monitoring.
                    group_id: '907399'
                    fqdn: api.acme-systems.org
                    ports: *id001
                    protocols: *id002
                    enabled: true
                    created_at: '2024-05-17T06:02:30Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnaapplication401Example:
                  summary: Default getZTNAApplication 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnaapplication403Example:
                  summary: Default getZTNAApplication 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: ZTNA application not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnaapplication404Example:
                  summary: Default getZTNAApplication 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnaapplication500Example:
                  summary: Default getZTNAApplication 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateZTNAApplication
      summary: Palo Alto Networks Update ZTNA Application
      description: Updates an existing ZTNA-protected application definition.
      tags:
      - Applications
      parameters:
      - name: app_id
        in: path
        required: true
        description: Unique identifier of the ZTNA application to update.
        schema:
          type: string
        example: '711163'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ZTNAApplicationRequest'
            examples:
              UpdateZtnaapplicationRequestExample:
                summary: Default updateZTNAApplication request
                x-microcks-default: true
                value:
                  name: Branch Agent 75
                  description: Incident suspicious firewall Security suspicious policy threat suspicious.
                  group_id: '376339'
                  fqdn: login.test-corp.net
                  ports: *id003
                  protocols: *id004
                  enabled: true
      responses:
        '200':
          description: ZTNA application updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZTNAApplication'
              examples:
                UpdateZtnaapplication200Example:
                  summary: Default updateZTNAApplication 200 response
                  x-microcks-default: true
                  value:
                    app_id: '768496'
                    name: Corporate Sensor 20
                    description: On investigation rule violation threat monitoring.
                    group_id: '907399'
                    fqdn: api.acme-systems.org
                    ports: *id001
                    protocols: *id002
                    enabled: true
                    created_at: '2024-05-17T06:02:30Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateZtnaapplication400Example:
                  summary: Default updateZTNAApplication 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateZtnaapplication401Example:
                  summary: Default updateZTNAApplication 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateZtnaapplication403Example:
                  summary: Default updateZTNAApplication 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: ZTNA application not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateZtnaapplication404Example:
                  summary: Default updateZTNAApplication 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateZtnaapplication500Example:
                  summary: Default updateZTNAApplication 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteZTNAApplication
      summary: Palo Alto Networks Delete ZTNA Application
      description: Deletes a ZTNA-protected application definition.
      tags:
      - Applications
      parameters:
      - name: app_id
        in: path
        required: true
        description: Unique identifier of the ZTNA application to delete.
        schema:
          type: string
        example: '845602'
      responses:
        '204':
          description: ZTNA application deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteZtnaapplication401Example:
                  summary: Default deleteZTNAApplication 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteZtnaapplication403Example:
                  summary: Default deleteZTNAApplication 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: ZTNA application not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteZtnaapplication404Example:
                  summary: Default deleteZTNAApplication 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteZtnaapplication500Example:
                  summary: Default deleteZTNAApplication 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/fqdn-rules:
    get:
      operationId: listFQDNRules
      summary: Palo Alto Networks List FQDN-based Access Rules
      description: >-
        Returns the list of FQDN-based access rules that define which
        hostnames are accessible through ZTNA. FQDN rules specify the
        domain patterns and ports that users can reach through a connector
        group.
      tags:
      - FQDN Rules
      responses:
        '200':
          description: FQDN rules returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/FQDNRule'
              examples:
                ListFqdnrules200Example:
                  summary: Default listFQDNRules 200 response
                  x-microcks-default: true
                  value:
                    total: 856
                    items:
                    - rule_id: '519537'
                      name: Corporate Gateway 72
                      fqdn_pattern: example-fqdn_pattern
                      group_id: '945832'
                      ports: &id005
                      - 96
                      - 621
                      enabled: true
                      created_at: '2026-08-05T06:31:43Z'
                    - rule_id: '519537'
                      name: Corporate Gateway 72
                      fqdn_pattern: example-fqdn_pattern
                      group_id: '945832'
                      ports: *id005
                      enabled: true
                      created_at: '2026-08-05T06:31:43Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListFqdnrules401Example:
                  summary: Default listFQDNRules 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListFqdnrules403Example:
                  summary: Default listFQDNRules 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListFqdnrules500Example:
                  summary: Default listFQDNRules 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createFQDNRule
      summary: Palo Alto Networks Create FQDN-based Access Rule
      description: Creates a new FQDN-based access rule for ZTNA.
      tags:
      - FQDN Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FQDNRuleRequest'
            examples:
              CreateFqdnruleRequestExample:
                summary: Default createFQDNRule request
                x-microcks-default: true
                value:
                  name: Corporate Agent 77
                  fqdn_pattern: example-fqdn_pattern
                  group_id: '533942'
                  ports: &id006
                  - 505
                  enabled: true
      responses:
        '201':
          description: FQDN rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FQDNRule'
              examples:
                CreateFqdnrule201Example:
                  summary: Default createFQDNRule 201 response
                  x-microcks-default: true
                  value:
                    rule_id: '519537'
                    name: Corporate Gateway 72
                    fqdn_pattern: example-fqdn_pattern
                    group_id: '945832'
                    ports: *id005
                    enabled: true
                    created_at: '2026-08-05T06:31:43Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateFqdnrule400Example:
                  summary: Default createFQDNRule 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateFqdnrule401Example:
                  summary: Default createFQDNRule 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateFqdnrule403Example:
                  summary: Default createFQDNRule 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateFqdnrule500Example:
                  summary: Default createFQDNRule 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/subnet-rules:
    get:
      operationId: listSubnetRules
      summary: Palo Alto Networks List Subnet-based Access Rules
      description: >-
        Returns the list of subnet-based access rules that define which IP
        network ranges are accessible through ZTNA connectors.
      tags:
      - Subnet Rules
      responses:
        '200':
          description: Subnet rules returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubnetRule'
              examples:
                ListSubnetRules200Example:
                  summary: Default listSubnetRules 200 response
                  x-microcks-default: true
                  value:
                    total: 295
                    items:
                    - rule_id: '373292'
                      name: Corporate Firewall 37
                      subnet: 10.131.182.0/24
                      group_id: '527569'
                      enabled: false
                      created_at: '2025-04-09T20:01:23Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListSubnetRules401Example:
                  summary: Default listSubnetRules 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListSubnetRules403Example:
                  summary: Default listSubnetRules 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListSubnetRules500Example:
                  summary: Default listSubnetRules 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSubnetRule
      summary: Palo Alto Networks Create Subnet-based Access Rule
      description: Creates a new subnet-based access rule for ZTNA.
      tags:
      - Subnet Rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubnetRuleRequest'
            examples:
              CreateSubnetRuleRequestExample:
                summary: Default createSubnetRule request
                x-microcks-default: true
                value:
                  name: Production Firewall 11
                  subnet: 10.175.38.0/24
                  group_id: '115097'
                  enabled: true
      responses:
        '201':
          description: Subnet rule created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubnetRule'
              examples:
                CreateSubnetRule201Example:
                  summary: Default createSubnetRule 201 response
                  x-microcks-default: true
                  value:
                    rule_id: '373292'
                    name: Corporate Firewall 37
                    subnet: 10.131.182.0/24
                    group_id: '527569'
                    enabled: false
                    created_at: '2025-04-09T20:01:23Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateSubnetRule400Example:
                  summary: Default createSubnetRule 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateSubnetRule401Example:
                  summary: Default createSubnetRule 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateSubnetRule403Example:
                  summary: Default createSubnetRule 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateSubnetRule500Example:
                  summary: Default createSubnetRule 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/licenses:
    get:
      operationId: getZTNALicenses
      summary: Palo Alto Networks Get ZTNA License Information
      description: >-
        Returns current ZTNA license entitlements including the number of
        licensed users, active users, and subscription expiration date.
      tags:
      - Licenses
      responses:
        '200':
          description: License information returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfo'
              examples:
                GetZtnalicenses200Example:
                  summary: Default getZTNALicenses 200 response
                  x-microcks-default: true
                  value:
                    licensed_users: 279
                    active_users: 419
                    subscription_id: '360915'
                    expires_at: '2025-11-19T10:30:55Z'
                    features: &id007
                    - example-features_item
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnalicenses401Example:
                  summary: Default getZTNALicenses 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnalicenses403Example:
                  summary: Default getZTNALicenses 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetZtnalicenses500Example:
                  summary: Default getZTNALicenses 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Obtain
        using the client_credentials grant with your SASE service account
        client ID and client secret.
  schemas:
    Connector:
      type: object
      properties:
        connector_id:
          type: string
          description: Unique identifier of the connector.
          example: '794298'
        name:
          type: string
          description: Display name of the connector.
          example: Production Gateway 37
        group_id:
          type: string
          description: ID of the connector group this connector belongs to.
          example: '577658'
        status:
          type: string
          enum:
          - connected
          - disconnected
          - upgrading
          - error
          description: Current health status of the connector.
          example: connected
        version:
          type: string
          description: Installed connector software version.
          example: 10.4.9
        hostname:
          type: string
          description: Hostname of the system where the connector is installed.
          example: host-51b1
        ip_address:
          type: string
          description: IP address of the connector host.
          example: 10.28.192.109
        region:
          type: string
          description: Geographic region where the connector is deployed.
          example: eu-west-1
        last_seen_at:
          type: string
          format: date-time
          description: Timestamp of the connector's most recent heartbeat.
          example: '2024-07-11T13:58:11Z'
        created_at:
          type: string
          format: date-time
          example: '2025-10-12T04:55:41Z'
    ConnectorRequest:
      type: object
      required:
      - name
      - group_id
      properties:
        name:
          type: string
          description: Display name for the connector.
          example: Production Sensor 37
        group_id:
          type: string
          description: ID of the connector group to assign the connector to.
          example: '814975'
        description:
          type: string
          description: Optional description of the connector's purpose or location.
          example: Blocked suspicious investigation malware alert rule policy.
    ConnectorGroup:
      type: object
      properties:
        group_id:
          type: string
          description: Unique identifier of the connector group.
          example: '985333'
        name:
          type: string
          description: Display name of the connector group.
          example: Staging Sensor 26
        description:
          type: string
          description: Description of the connector group's purpose.
          example: Monitoring investigation blocked applied activity traffic.
        connector_count:
          type: integer
          description: Number of connectors in this group.
          example: 400
        region:
          type: string
          description: Primary geographic region for this connector group.
          example: us-west-2
        created_at:
          type: string
          format: date-time
          example: '2026-09-14T06:06:49Z'
    ConnectorGroupRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the connector group.
          example: Corporate Sensor 60
        description:
          type: string
          description: Optional description of the connector group.
          example: Violation rule blocked violation network applied incident monitoring.
        region:
          type: string
          description: Geographic region for this connector group.
          example: us-east-1
    ZTNAApplication:
      type: object
      properties:
        app_id:
          type: string
          description: Unique identifier of the ZTNA application.
          example: '768496'
        name:
          type: string
          description: Display name of the application.
          example: Corporate Sensor 20
        description:
          type: string
          description: Description of the application.
          example: On investigation rule violation threat monitoring.
        group_id:
          type: string
          description: Connector group ID used to access this application.
          example: '907399'
        fqdn:
          type: string
          description: Fully qualified domain name of the private application.
          example: api.acme-systems.org
        ports:
          type: array
          items:
            type: integer
          description: TCP/UDP ports accessible through ZTNA.
          example: *id001
        protocols:
          type: array
          items:
            type: string
            enum:
            - TCP
            - UDP
          description: Network protocols allowed for this application.
          example: *id002
        enabled:
          type: boolean
          description: Whether ZTNA access for this application is enabled.
          example: true
        created_at:
          type: string
          format: date-time
          example: '2024-05-17T06:02:30Z'
    ZTNAApplicationRequest:
      type: object
      required:
      - name
      - group_id
      - fqdn
      properties:
        name:
          type: string
          description: Display name for the ZTNA application.
          example: Branch Agent 75
        description:
          type: string
          description: Optional description of the application.
          example: Incident suspicious firewall Security suspicious policy threat suspicious.
        group_id:
          type: string
          description: Connector group ID to use for accessing the application.
          example: '376339'
        fqdn:
          type: string
          description: Fully qualified domain name of the private application.
          example: login.test-corp.net
        ports:
          type: array
          items:
            type: integer
          description: TCP/UDP ports to expose through ZTNA.
          example: *id003
        protocols:
          type: array
          items:
            type: string
            enum:
            - TCP
            - UDP
          description: Network protocols to allow.
          example: *id004
        enabled:
          type: boolean
          default: true
          description: Whether to enable ZTNA access immediately after creation.
          example: true
    FQDNRule:
      type: object
      properties:
        rule_id:
          type: string
          description: Unique identifier of the FQDN rule.
          example: '519537'
        name:
          type: string
          description: Display name of the rule.
          example: Corporate Gateway 72
        fqdn_pattern:
          type: string
          description: >-
            FQDN pattern or wildcard (e.g., *.internal.example.com) that
            this rule matches.
          example: example-fqdn_pattern
        group_id:
          type: string
          description: Connector group used to resolve and access matching FQDNs.
          example: '945832'
        ports:
          type: array
          items:
            type: integer
          description: Ports covered by this rule.
          example: *id005
        enabled:
          type: boolean
          description: Whether this rule is active.
          example: true
        created_at:
          type: string
          format: date-time
          example: '2026-08-05T06:31:43Z'
    FQDNRuleRequest:
      type: object
      required:
      - name
      - fqdn_pattern
      - group_id
      properties:
        name:
          type: string
          description: Display name for the FQDN rule.
          example: Corporate Agent 77
        fqdn_pattern:
          type: string
          description: FQDN pattern or wildcard this rule matches.
          example: example-fqdn_pattern
        group_id:
          type: string
          description: Connector group to use for matching FQDNs.
          example: '533942'
        ports:
          type: array
          items:
            type: integer
          description: Ports covered by this rule.
          example: *id006
        enabled:
          type: boolean
          default: true
          example: true
    SubnetRule:
      type: object
      properties:
        rule_id:
          type: string
          description: Unique identifier of the subnet rule.
          example: '373292'
        name:
          type: string
          description: Display name of the rule.
          example: Corporate Firewall 37
        subnet:
          type: string
          description: CIDR notation subnet this rule covers (e.g., 10.0.0.0/8).
          example: 10.131.182.0/24
        group_id:
          type: string
          description: Connector group used to route traffic to this subnet.
          example: '527569'
        enabled:
          type: boolean
          description: Whether this rule is active.
          example: false
        created_at:
          type: string
          format: date-time
          example: '2025-04-09T20:01:23Z'
    SubnetRuleRequest:
      type: object
      required:
      - name
      - subnet
      - group_id
      properties:
        name:
          type: string
          description: Display name for the subnet rule.
          example: Production Firewall 11
        subnet:
          type: string
          description: CIDR notation subnet this rule covers.
          example: 10.175.38.0/24
        group_id:
          type: string
          description: Connector group to use for routing traffic to this subnet.
          example: '115097'
        enabled:
          type: boolean
          default: true
          example: true
    LicenseInfo:
      type: object
      properties:
        licensed_users:
          type: integer
          description: Total number of ZTNA user licenses purchased.
          example: 279
        active_users:
          type: integer
          description: Number of users actively using ZTNA.
          example: 419
        subscription_id:
          type: string
          description: Subscription identifier.
          example: '360915'
        expires_at:
          type: string
          format: date-time
          description: Subscription expiration date and time.
          example: '2025-11-19T10:30:55Z'
        features:
          type: array
          items:
            type: string
          description: List of enabled ZTNA feature entitlements.
          example: *id007
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Security firewall network configured traffic blocked threat.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: 709c60bb-8234-4bc4-938b-d0835224c350
