openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Connector Groups API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Connector Groups
  description: Logical grouping of ZTNA connectors for high availability.
paths:
  /v2/connector-groups:
    get:
      operationId: listConnectorGroups
      summary: Palo Alto Networks List Connector Groups
      description: Returns the list of connector groups. Connector groups logically group multiple connectors for high availability and load balancing. Applications are assigned to connector groups rather than individual connectors.
      tags:
      - Connector Groups
      responses:
        '200':
          description: Connector groups returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ConnectorGroup'
              examples:
                ListConnectorGroups200Example:
                  summary: Default listConnectorGroups 200 response
                  x-microcks-default: true
                  value:
                    total: 673
                    items:
                    - group_id: '985333'
                      name: Staging Sensor 26
                      description: Monitoring investigation blocked applied activity traffic.
                      connector_count: 400
                      region: us-west-2
                      created_at: '2026-09-14T06:06:49Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectorGroups401Example:
                  summary: Default listConnectorGroups 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectorGroups403Example:
                  summary: Default listConnectorGroups 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListConnectorGroups500Example:
                  summary: Default listConnectorGroups 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createConnectorGroup
      summary: Palo Alto Networks Create Connector Group
      description: Creates a new connector group for organizing ZTNA connectors.
      tags:
      - Connector Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorGroupRequest'
            examples:
              CreateConnectorGroupRequestExample:
                summary: Default createConnectorGroup request
                x-microcks-default: true
                value:
                  name: Corporate Sensor 60
                  description: Violation rule blocked violation network applied incident monitoring.
                  region: us-east-1
      responses:
        '201':
          description: Connector group created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
              examples:
                CreateConnectorGroup201Example:
                  summary: Default createConnectorGroup 201 response
                  x-microcks-default: true
                  value:
                    group_id: '985333'
                    name: Staging Sensor 26
                    description: Monitoring investigation blocked applied activity traffic.
                    connector_count: 400
                    region: us-west-2
                    created_at: '2026-09-14T06:06:49Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnectorGroup400Example:
                  summary: Default createConnectorGroup 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnectorGroup401Example:
                  summary: Default createConnectorGroup 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnectorGroup403Example:
                  summary: Default createConnectorGroup 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateConnectorGroup500Example:
                  summary: Default createConnectorGroup 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v2/connector-groups/{group_id}:
    get:
      operationId: getConnectorGroup
      summary: Palo Alto Networks Get Connector Group
      description: Returns full details for a specific connector group.
      tags:
      - Connector Groups
      parameters:
      - name: group_id
        in: path
        required: true
        description: Unique identifier of the connector group.
        schema:
          type: string
        example: '201460'
      responses:
        '200':
          description: Connector group details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
              examples:
                GetConnectorGroup200Example:
                  summary: Default getConnectorGroup 200 response
                  x-microcks-default: true
                  value:
                    group_id: '985333'
                    name: Staging Sensor 26
                    description: Monitoring investigation blocked applied activity traffic.
                    connector_count: 400
                    region: us-west-2
                    created_at: '2026-09-14T06:06:49Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnectorGroup401Example:
                  summary: Default getConnectorGroup 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnectorGroup403Example:
                  summary: Default getConnectorGroup 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnectorGroup404Example:
                  summary: Default getConnectorGroup 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetConnectorGroup500Example:
                  summary: Default getConnectorGroup 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateConnectorGroup
      summary: Palo Alto Networks Update Connector Group
      description: Updates an existing connector group configuration.
      tags:
      - Connector Groups
      parameters:
      - name: group_id
        in: path
        required: true
        description: Unique identifier of the connector group to update.
        schema:
          type: string
        example: '452601'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorGroupRequest'
            examples:
              UpdateConnectorGroupRequestExample:
                summary: Default updateConnectorGroup request
                x-microcks-default: true
                value:
                  name: Corporate Sensor 60
                  description: Violation rule blocked violation network applied incident monitoring.
                  region: us-east-1
      responses:
        '200':
          description: Connector group updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorGroup'
              examples:
                UpdateConnectorGroup200Example:
                  summary: Default updateConnectorGroup 200 response
                  x-microcks-default: true
                  value:
                    group_id: '985333'
                    name: Staging Sensor 26
                    description: Monitoring investigation blocked applied activity traffic.
                    connector_count: 400
                    region: us-west-2
                    created_at: '2026-09-14T06:06:49Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup400Example:
                  summary: Default updateConnectorGroup 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup401Example:
                  summary: Default updateConnectorGroup 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup403Example:
                  summary: Default updateConnectorGroup 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup404Example:
                  summary: Default updateConnectorGroup 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateConnectorGroup500Example:
                  summary: Default updateConnectorGroup 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteConnectorGroup
      summary: Palo Alto Networks Delete Connector Group
      description: Deletes a connector group. The group must have no connectors assigned before deletion.
      tags:
      - Connector Groups
      parameters:
      - name: group_id
        in: path
        required: true
        description: Unique identifier of the connector group to delete.
        schema:
          type: string
        example: '338215'
      responses:
        '204':
          description: Connector group deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnectorGroup401Example:
                  summary: Default deleteConnectorGroup 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnectorGroup403Example:
                  summary: Default deleteConnectorGroup 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '404':
          description: Connector group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnectorGroup404Example:
                  summary: Default deleteConnectorGroup 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteConnectorGroup500Example:
                  summary: Default deleteConnectorGroup 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Security firewall network configured traffic blocked threat.
                    request_id: 709c60bb-8234-4bc4-938b-d0835224c350
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ConnectorGroup:
      type: object
      properties:
        group_id:
          type: string
          description: Unique identifier of the connector group.
          example: '985333'
        name:
          type: string
          description: Display name of the connector group.
          example: Staging Sensor 26
        description:
          type: string
          description: Description of the connector group's purpose.
          example: Monitoring investigation blocked applied activity traffic.
        connector_count:
          type: integer
          description: Number of connectors in this group.
          example: 400
        region:
          type: string
          description: Primary geographic region for this connector group.
          example: us-west-2
        created_at:
          type: string
          format: date-time
          example: '2026-09-14T06:06:49Z'
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Security firewall network configured traffic blocked threat.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: 709c60bb-8234-4bc4-938b-d0835224c350
    ConnectorGroupRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the connector group.
          example: Corporate Sensor 60
        description:
          type: string
          description: Optional description of the connector group.
          example: Violation rule blocked violation network applied incident monitoring.
        region:
          type: string
          description: Geographic region for this connector group.
          example: us-east-1
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
