openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Commit API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Commit
  description: Configuration commit operations.
paths:
  /Commit:
    get:
      operationId: getCommitStatus
      summary: Palo Alto Networks Get Commit Job Status
      description: Returns the status of a commit operation by job ID. Poll this endpoint to monitor the progress of a commit job initiated via POST /Commit.
      tags:
      - Commit
      parameters:
      - name: jobid
        in: query
        required: true
        description: Job ID returned by the commit operation.
        schema:
          type: string
        example: '327342'
      responses:
        '200':
          description: Commit job status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommitStatus'
              examples:
                GetCommitStatus200Example:
                  summary: Default getCommitStatus 200 response
                  x-microcks-default: true
                  value:
                    '@status': active
                    '@code': example-@code
                    result:
                      job:
                        id: example-id
                        type: advanced
                        status: WARN
                        result: OK
                        progress: example-progress
                        details:
                          line: example-line
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: commitConfiguration
      summary: Palo Alto Networks Commit Configuration
      description: Commits the current candidate configuration to the running configuration on the firewall. This operation applies all staged configuration changes. Returns a job ID that can be polled to track commit progress. Optionally specify a description and partial commit criteria (admin, device groups, vsys).
      tags:
      - Commit
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cmd:
                  type: object
                  properties:
                    commit:
                      type: object
                      properties:
                        description:
                          type: string
                          description: Description for this commit.
                        partial:
                          type: object
                          description: Partial commit options.
                          properties:
                            admin:
                              type: object
                              properties:
                                member:
                                  type: array
                                  items:
                                    type: string
                                  description: Admin accounts to include in partial commit.
            examples:
              CommitConfigurationRequestExample:
                summary: Default commitConfiguration request
                x-microcks-default: true
                value:
                  cmd:
                    commit:
                      description: Incident violation policy alert monitoring investigation rule policy on incident.
                      partial:
                        admin:
                          member:
                          - example-member_item
                          - example-member_item
      responses:
        '200':
          description: Commit job initiated successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  '@status':
                    type: string
                  '@code':
                    type: string
                  result:
                    type: object
                    properties:
                      msg:
                        type: string
                      job:
                        type: string
                        description: Job ID to poll for commit status.
              examples:
                CommitConfiguration200Example:
                  summary: Default commitConfiguration 200 response
                  x-microcks-default: true
                  value:
                    '@status': enabled
                    '@code': example-@code
                    result:
                      msg: example-msg
                      job: example-job
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Malformed request or invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        '@status':
          type: string
          example: running
        '@code':
          type: string
          example: example-@code
        msg:
          type: object
          properties:
            line:
              type: string
              description: Error message detail.
              example: example-line
          example:
            line: example-line
    CommitStatus:
      type: object
      description: Status of a commit job.
      properties:
        '@status':
          type: string
          example: active
        '@code':
          type: string
          example: example-@code
        result:
          type: object
          properties:
            job:
              type: object
              properties:
                id:
                  type: string
                  example: example-id
                type:
                  type: string
                  example: custom
                status:
                  type: string
                  enum:
                  - ACT
                  - PEND
                  - FIN
                  - WARN
                  example: PEND
                result:
                  type: string
                  enum:
                  - OK
                  - FAIL
                  - WARN
                  example: WARN
                progress:
                  type: string
                  description: Commit progress percentage (0-100).
                  example: example-progress
                details:
                  type: object
                  properties:
                    line:
                      oneOf:
                      - type: string
                      - type: array
                        items:
                          type: string
                      example: example-line
                  example:
                    line: example-line
              example:
                id: example-id
                type: standard
                status: ACT
                result: FAIL
                progress: example-progress
                details:
                  line: example-line
          example:
            job:
              id: example-id
              type: advanced
              status: WARN
              result: OK
              progress: example-progress
              details:
                line: example-line
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
