openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Configured UE Mappings API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Configured UE Mappings
paths:
  /mt/monitor/5g/mapping/configuredUEs:
    get:
      tags:
      - Configured UE Mappings
      summary: Palo Alto Networks Verify Configured Mappings
      description: "Returns the count of User Equipment mappings manually provisioned by \nadministrators. Operational leads compare this value against active \nregistrations to verify onboarding success and subscriber provisioning \naccuracy."
      responses:
        '200':
          description: Success
          content:
            application/json:
              example:
                data:
                  configured_ue_count: 94
                header:
                  createdAt: '2025-12-17T02:07:37Z'
                  clientRequestId: null
                  dataCount: 1
                  status:
                    subCode: 200
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: GetMtMonitor5gMappingConfiguredues
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
