openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Sites API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Sites
  description: SD-WAN site management for branch offices, data centers, and remote locations.
paths:
  /sdwan/config/v1/sites:
    get:
      operationId: listSites
      summary: Palo Alto Networks List SD-WAN Sites
      description: Returns a list of all SD-WAN sites configured in the tenant. Each site represents a physical location such as a branch office, data center, or retail store with one or more ION devices providing SD-WAN functionality.
      tags:
      - Sites
      parameters:
      - name: offset
        in: query
        description: Starting offset for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of sites to return.
        schema:
          type: integer
          default: 100
          maximum: 1000
        example: 100
      - name: name
        in: query
        description: Filter sites by name.
        schema:
          type: string
        example: Production Sensor 29
      responses:
        '200':
          description: Sites returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Total number of sites matching the query.
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Site'
              examples:
                ListSites200Example:
                  summary: Default listSites 200 response
                  x-microcks-default: true
                  value:
                    count: 322
                    items:
                    - id: example-id
                      name: Corporate Agent 04
                      description: Malware Security network monitoring network policy threat configured.
                      admin_state: active
                      element_cluster_role: SPOKE
                      address:
                        street: example-street
                        city: example-city
                        state: example-state
                        post_code: example-post_code
                        country: GB
                      location:
                        latitude: 87.48
                        longitude: 37.43
                      tags:
                      - production
                      created_at: '2026-10-04T07:36:12Z'
                      updated_at: '2024-08-23T22:58:22Z'
                    - id: example-id
                      name: Corporate Agent 04
                      description: Malware Security network monitoring network policy threat configured.
                      admin_state: active
                      element_cluster_role: SPOKE
                      address:
                        street: example-street
                        city: example-city
                        state: example-state
                        post_code: example-post_code
                        country: GB
                      location:
                        latitude: 87.48
                        longitude: 37.43
                      tags:
                      - production
                      created_at: '2026-10-04T07:36:12Z'
                      updated_at: '2024-08-23T22:58:22Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createSite
      summary: Palo Alto Networks Create an SD-WAN Site
      description: Creates a new SD-WAN site definition. After creation, ION elements and WAN interfaces can be configured and assigned to the site.
      tags:
      - Sites
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
            examples:
              CreateSiteRequestExample:
                summary: Default createSite request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Corporate Agent 04
                  description: Malware Security network monitoring network policy threat configured.
                  admin_state: active
                  element_cluster_role: SPOKE
                  address:
                    street: example-street
                    city: example-city
                    state: example-state
                    post_code: example-post_code
                    country: GB
                  location:
                    latitude: 87.48
                    longitude: 37.43
                  tags:
                  - production
                  created_at: '2026-10-04T07:36:12Z'
                  updated_at: '2024-08-23T22:58:22Z'
      responses:
        '200':
          description: Site created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
              examples:
                CreateSite200Example:
                  summary: Default createSite 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Corporate Agent 04
                    description: Malware Security network monitoring network policy threat configured.
                    admin_state: active
                    element_cluster_role: SPOKE
                    address:
                      street: example-street
                      city: example-city
                      state: example-state
                      post_code: example-post_code
                      country: GB
                    location:
                      latitude: 87.48
                      longitude: 37.43
                    tags:
                    - production
                    created_at: '2026-10-04T07:36:12Z'
                    updated_at: '2024-08-23T22:58:22Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /sdwan/config/v1/sites/{site_id}:
    get:
      operationId: getSite
      summary: Palo Alto Networks Get an SD-WAN Site
      description: Returns the configuration of a specific SD-WAN site by ID.
      tags:
      - Sites
      parameters:
      - name: site_id
        in: path
        required: true
        description: Unique site identifier.
        schema:
          type: string
        example: '330934'
      responses:
        '200':
          description: Site returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
              examples:
                GetSite200Example:
                  summary: Default getSite 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Corporate Agent 04
                    description: Malware Security network monitoring network policy threat configured.
                    admin_state: active
                    element_cluster_role: SPOKE
                    address:
                      street: example-street
                      city: example-city
                      state: example-state
                      post_code: example-post_code
                      country: GB
                    location:
                      latitude: 87.48
                      longitude: 37.43
                    tags:
                    - production
                    created_at: '2026-10-04T07:36:12Z'
                    updated_at: '2024-08-23T22:58:22Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateSite
      summary: Palo Alto Networks Update an SD-WAN Site
      description: Updates the configuration of an existing SD-WAN site.
      tags:
      - Sites
      parameters:
      - name: site_id
        in: path
        required: true
        description: Unique site identifier.
        schema:
          type: string
        example: '655853'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
            examples:
              UpdateSiteRequestExample:
                summary: Default updateSite request
                x-microcks-default: true
                value:
                  id: example-id
                  name: Corporate Agent 04
                  description: Malware Security network monitoring network policy threat configured.
                  admin_state: active
                  element_cluster_role: SPOKE
                  address:
                    street: example-street
                    city: example-city
                    state: example-state
                    post_code: example-post_code
                    country: GB
                  location:
                    latitude: 87.48
                    longitude: 37.43
                  tags:
                  - production
                  created_at: '2026-10-04T07:36:12Z'
                  updated_at: '2024-08-23T22:58:22Z'
      responses:
        '200':
          description: Site updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
              examples:
                UpdateSite200Example:
                  summary: Default updateSite 200 response
                  x-microcks-default: true
                  value:
                    id: example-id
                    name: Corporate Agent 04
                    description: Malware Security network monitoring network policy threat configured.
                    admin_state: active
                    element_cluster_role: SPOKE
                    address:
                      street: example-street
                      city: example-city
                      state: example-state
                      post_code: example-post_code
                      country: GB
                    location:
                      latitude: 87.48
                      longitude: 37.43
                    tags:
                    - production
                    created_at: '2026-10-04T07:36:12Z'
                    updated_at: '2024-08-23T22:58:22Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteSite
      summary: Palo Alto Networks Delete an SD-WAN Site
      description: Deletes an SD-WAN site and all associated configuration.
      tags:
      - Sites
      parameters:
      - name: site_id
        in: path
        required: true
        description: Unique site identifier.
        schema:
          type: string
        example: '653838'
      responses:
        '200':
          description: Site deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    Unauthorized:
      description: Missing or invalid OAuth2 access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Invalid request parameters or body.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Site:
      type: object
      required:
      - name
      properties:
        id:
          type: string
          description: Unique identifier for the site.
          readOnly: true
          example: example-id
        name:
          type: string
          description: Name of the SD-WAN site.
          example: Corporate Agent 04
        description:
          type: string
          description: Optional description of the site.
          example: Malware Security network monitoring network policy threat configured.
        admin_state:
          type: string
          enum:
          - active
          - disabled
          default: active
          description: Administrative state of the site.
          example: active
        element_cluster_role:
          type: string
          enum:
          - SPOKE
          - HUB
          - NONE
          default: SPOKE
          description: Role of the site in the SD-WAN topology.
          example: SPOKE
        address:
          type: object
          description: Physical address of the site.
          properties:
            street:
              type: string
              example: example-street
            city:
              type: string
              example: example-city
            state:
              type: string
              example: example-state
            post_code:
              type: string
              example: example-post_code
            country:
              type: string
              example: GB
          example:
            street: example-street
            city: example-city
            state: example-state
            post_code: example-post_code
            country: GB
        location:
          type: object
          description: Geographic coordinates of the site.
          properties:
            latitude:
              type: number
              format: double
              example: 91.22
            longitude:
              type: number
              format: double
              example: 29.43
          example:
            latitude: 87.48
            longitude: 37.43
        tags:
          type: array
          items:
            type: string
          description: Tags for organizing and filtering sites.
          example:
          - production
        created_at:
          type: string
          format: date-time
          readOnly: true
          example: '2026-10-04T07:36:12Z'
        updated_at:
          type: string
          format: date-time
          readOnly: true
          example: '2024-08-23T22:58:22Z'
    ErrorResponse:
      type: object
      properties:
        _error:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: example-code
              message:
                type: string
                example: Investigation firewall on investigation blocked malware on on activity traffic.
          example:
          - code: example-code
            message: Traffic activity blocked incident activity alert rule alert firewall incident.
          - code: example-code
            message: Traffic policy on violation blocked Security investigation blocked rule on malware network.
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
