openapi: 3.1.0
info:
  title: Palo Alto Networks Prisma Access Browser Management API
  description: >-
    Prisma Access Browser Management API for enterprise browser security.
    Provides programmatic control over browser security policies, user
    sessions, deployment configurations, managed device inventory, and
    usage reporting. The Prisma Access Browser is a Chromium-based enterprise
    browser with built-in security controls including data loss prevention,
    threat protection, and access control. Requires Super User or View-Only
    Admin role within the SASE platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.sase.paloaltonetworks.com/browser-mgmt
  description: SASE Prisma Access Browser Management API production server.
security:
- oauth2Bearer: []
tags:
- name: Deployments
  description: Browser deployment configuration management.
- name: Devices
  description: Managed device inventory.
- name: Policies
  description: Browser security policy management.
- name: Reports
  description: Usage and activity reporting.
- name: Users
  description: Browser user management and session visibility.
paths:
  /v1/policies:
    get:
      operationId: listBrowserPolicies
      summary: Palo Alto Networks List Browser Security Policies
      description: >-
        Returns the list of browser security policies configured for the
        tenant. Policies control browser behavior including allowed websites,
        DLP rules, extension permissions, download controls, and clipboard
        restrictions.
      tags:
      - Policies
      parameters:
      - name: enabled
        in: query
        description: Filter policies by enabled state.
        schema:
          type: boolean
        example: true
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of policies to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Browser security policies returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserPolicy'
              examples:
                ListBrowserPolicies200Example:
                  summary: Default listBrowserPolicies 200 response
                  x-microcks-default: true
                  value:
                    total: 299
                    offset: 512
                    limit: 881
                    items:
                    - policy_id: '762727'
                      name: Staging Gateway 02
                      description: Blocked suspicious policy network configured on blocked.
                      enabled: false
                      web_filtering: &id001
                        enabled: true
                        blocked_categories:
                        - example-blocked_categories_item
                        - example-blocked_categories_item
                      dlp_enabled: true
                      extension_policy: block_all
                      download_control: scan
                      created_at: '2025-06-14T10:46:06Z'
                      updated_at: '2025-10-12T19:10:58Z'
                    - policy_id: '762727'
                      name: Staging Gateway 02
                      description: Blocked suspicious policy network configured on blocked.
                      enabled: false
                      web_filtering: *id001
                      dlp_enabled: true
                      extension_policy: block_all
                      download_control: scan
                      created_at: '2025-06-14T10:46:06Z'
                      updated_at: '2025-10-12T19:10:58Z'
        '400':
          description: Invalid query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListBrowserPolicies400Example:
                  summary: Default listBrowserPolicies 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListBrowserPolicies401Example:
                  summary: Default listBrowserPolicies 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions. Requires Super User or View-Only Admin role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListBrowserPolicies403Example:
                  summary: Default listBrowserPolicies 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListBrowserPolicies500Example:
                  summary: Default listBrowserPolicies 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createBrowserPolicy
      summary: Palo Alto Networks Create Browser Security Policy
      description: >-
        Creates a new browser security policy. Policies define security
        controls applied to users of the Prisma Access Browser including
        web filtering, DLP, and extension management settings.
      tags:
      - Policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserPolicyRequest'
            examples:
              CreateBrowserPolicyRequestExample:
                summary: Default createBrowserPolicy request
                x-microcks-default: true
                value:
                  name: Primary Sensor 04
                  description: Incident rule applied configured on network incident detected activity.
                  enabled: true
                  web_filtering: &id002
                    enabled: false
                    blocked_categories:
                    - example-blocked_categories_item
                    - example-blocked_categories_item
                  dlp_enabled: false
                  extension_policy: allow_all
                  download_control: allow
      responses:
        '201':
          description: Browser policy created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
              examples:
                CreateBrowserPolicy201Example:
                  summary: Default createBrowserPolicy 201 response
                  x-microcks-default: true
                  value:
                    policy_id: '762727'
                    name: Staging Gateway 02
                    description: Blocked suspicious policy network configured on blocked.
                    enabled: false
                    web_filtering: *id001
                    dlp_enabled: true
                    extension_policy: block_all
                    download_control: scan
                    created_at: '2025-06-14T10:46:06Z'
                    updated_at: '2025-10-12T19:10:58Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateBrowserPolicy400Example:
                  summary: Default createBrowserPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateBrowserPolicy401Example:
                  summary: Default createBrowserPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateBrowserPolicy403Example:
                  summary: Default createBrowserPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateBrowserPolicy500Example:
                  summary: Default createBrowserPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/policies/{policy_id}:
    get:
      operationId: getBrowserPolicy
      summary: Palo Alto Networks Get Browser Security Policy
      description: Returns full details for a specific browser security policy.
      tags:
      - Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the browser policy.
        schema:
          type: string
        example: '273495'
      responses:
        '200':
          description: Browser policy details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
              examples:
                GetBrowserPolicy200Example:
                  summary: Default getBrowserPolicy 200 response
                  x-microcks-default: true
                  value:
                    policy_id: '762727'
                    name: Staging Gateway 02
                    description: Blocked suspicious policy network configured on blocked.
                    enabled: false
                    web_filtering: *id001
                    dlp_enabled: true
                    extension_policy: block_all
                    download_control: scan
                    created_at: '2025-06-14T10:46:06Z'
                    updated_at: '2025-10-12T19:10:58Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetBrowserPolicy401Example:
                  summary: Default getBrowserPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetBrowserPolicy403Example:
                  summary: Default getBrowserPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetBrowserPolicy404Example:
                  summary: Default getBrowserPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetBrowserPolicy500Example:
                  summary: Default getBrowserPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateBrowserPolicy
      summary: Palo Alto Networks Update Browser Security Policy
      description: Updates an existing browser security policy configuration.
      tags:
      - Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the browser policy to update.
        schema:
          type: string
        example: '791625'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserPolicyRequest'
            examples:
              UpdateBrowserPolicyRequestExample:
                summary: Default updateBrowserPolicy request
                x-microcks-default: true
                value:
                  name: Primary Sensor 04
                  description: Incident rule applied configured on network incident detected activity.
                  enabled: true
                  web_filtering: *id002
                  dlp_enabled: false
                  extension_policy: allow_all
                  download_control: allow
      responses:
        '200':
          description: Browser policy updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserPolicy'
              examples:
                UpdateBrowserPolicy200Example:
                  summary: Default updateBrowserPolicy 200 response
                  x-microcks-default: true
                  value:
                    policy_id: '762727'
                    name: Staging Gateway 02
                    description: Blocked suspicious policy network configured on blocked.
                    enabled: false
                    web_filtering: *id001
                    dlp_enabled: true
                    extension_policy: block_all
                    download_control: scan
                    created_at: '2025-06-14T10:46:06Z'
                    updated_at: '2025-10-12T19:10:58Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateBrowserPolicy400Example:
                  summary: Default updateBrowserPolicy 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateBrowserPolicy401Example:
                  summary: Default updateBrowserPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateBrowserPolicy403Example:
                  summary: Default updateBrowserPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateBrowserPolicy404Example:
                  summary: Default updateBrowserPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateBrowserPolicy500Example:
                  summary: Default updateBrowserPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteBrowserPolicy
      summary: Palo Alto Networks Delete Browser Security Policy
      description: >-
        Deletes a browser security policy. Policies assigned to active
        deployments must be unassigned before deletion.
      tags:
      - Policies
      parameters:
      - name: policy_id
        in: path
        required: true
        description: Unique identifier of the browser policy to delete.
        schema:
          type: string
        example: '462762'
      responses:
        '204':
          description: Browser policy deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteBrowserPolicy401Example:
                  summary: Default deleteBrowserPolicy 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions. Requires Super User role.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteBrowserPolicy403Example:
                  summary: Default deleteBrowserPolicy 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Browser policy not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteBrowserPolicy404Example:
                  summary: Default deleteBrowserPolicy 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteBrowserPolicy500Example:
                  summary: Default deleteBrowserPolicy 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/users:
    get:
      operationId: listBrowserUsers
      summary: Palo Alto Networks List Browser Users
      description: >-
        Returns the list of users enrolled in the Prisma Access Browser.
        Includes user identity information, assigned policy, and current
        active session count.
      tags:
      - Users
      parameters:
      - name: policy_id
        in: query
        description: Filter users by assigned browser policy.
        schema:
          type: string
        example: '645121'
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of users to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Browser users returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserUser'
              examples:
                ListBrowserUsers200Example:
                  summary: Default listBrowserUsers 200 response
                  x-microcks-default: true
                  value:
                    total: 828
                    offset: 606
                    limit: 36
                    items:
                    - user_id: '519106'
                      email: jane.doe@example.com
                      display_name: Carlos Doe
                      policy_id: '550297'
                      active_sessions: 493
                      last_active_at: '2024-12-26T17:43:03Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListBrowserUsers401Example:
                  summary: Default listBrowserUsers 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListBrowserUsers403Example:
                  summary: Default listBrowserUsers 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListBrowserUsers500Example:
                  summary: Default listBrowserUsers 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/users/{user_id}/sessions:
    get:
      operationId: getUserSessions
      summary: Palo Alto Networks Get User Sessions
      description: >-
        Returns the active and recent browser sessions for a specific user.
        Session data includes device, IP address, policy applied, and
        session duration.
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        description: Unique identifier of the browser user.
        schema:
          type: string
        example: '194968'
      - name: status
        in: query
        description: Filter sessions by status.
        schema:
          type: string
          enum:
          - active
          - terminated
        example: active
      - name: limit
        in: query
        description: Maximum number of sessions to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: User sessions returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserSession'
              examples:
                GetUserSessions200Example:
                  summary: Default getUserSessions 200 response
                  x-microcks-default: true
                  value:
                    total: 788
                    items:
                    - session_id: '926940'
                      user_id: '494860'
                      device_id: '107670'
                      ip_address: 10.108.68.13
                      policy_id: '176224'
                      browser_version: 4.0.8
                      status: active
                      started_at: '2024-10-10T11:55:14Z'
                      ended_at: '2026-07-09T16:25:54Z'
                    - session_id: '926940'
                      user_id: '494860'
                      device_id: '107670'
                      ip_address: 10.108.68.13
                      policy_id: '176224'
                      browser_version: 4.0.8
                      status: active
                      started_at: '2024-10-10T11:55:14Z'
                      ended_at: '2026-07-09T16:25:54Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetUserSessions401Example:
                  summary: Default getUserSessions 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetUserSessions403Example:
                  summary: Default getUserSessions 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: User not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetUserSessions404Example:
                  summary: Default getUserSessions 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetUserSessions500Example:
                  summary: Default getUserSessions 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/deployments:
    get:
      operationId: listDeployments
      summary: Palo Alto Networks List Browser Deployments
      description: >-
        Returns the list of browser deployment configurations. Deployments
        define how the Prisma Access Browser is distributed and configured
        for groups of users, including installation packages and update
        channel settings.
      tags:
      - Deployments
      responses:
        '200':
          description: Deployments returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/BrowserDeployment'
              examples:
                ListDeployments200Example:
                  summary: Default listDeployments 200 response
                  x-microcks-default: true
                  value:
                    total: 611
                    items:
                    - deployment_id: '965512'
                      name: Production Sensor 18
                      description: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
                      platform: chromeos
                      policy_id: '698917'
                      update_channel: beta
                      device_count: 536
                      created_at: '2024-07-02T16:41:58Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListDeployments401Example:
                  summary: Default listDeployments 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListDeployments403Example:
                  summary: Default listDeployments 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListDeployments500Example:
                  summary: Default listDeployments 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createDeployment
      summary: Palo Alto Networks Create Browser Deployment
      description: Creates a new browser deployment configuration.
      tags:
      - Deployments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserDeploymentRequest'
            examples:
              CreateDeploymentRequestExample:
                summary: Default createDeployment request
                x-microcks-default: true
                value:
                  name: Primary Agent 98
                  description: Detected configured violation policy malware network suspicious policy.
                  platform: linux
                  policy_id: '600872'
                  update_channel: stable
      responses:
        '201':
          description: Deployment created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
              examples:
                CreateDeployment201Example:
                  summary: Default createDeployment 201 response
                  x-microcks-default: true
                  value:
                    deployment_id: '965512'
                    name: Production Sensor 18
                    description: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
                    platform: chromeos
                    policy_id: '698917'
                    update_channel: beta
                    device_count: 536
                    created_at: '2024-07-02T16:41:58Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateDeployment400Example:
                  summary: Default createDeployment 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateDeployment401Example:
                  summary: Default createDeployment 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateDeployment403Example:
                  summary: Default createDeployment 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateDeployment500Example:
                  summary: Default createDeployment 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/deployments/{deployment_id}:
    get:
      operationId: getDeployment
      summary: Palo Alto Networks Get Browser Deployment
      description: Returns full details for a specific browser deployment configuration.
      tags:
      - Deployments
      parameters:
      - name: deployment_id
        in: path
        required: true
        description: Unique identifier of the deployment.
        schema:
          type: string
        example: '436419'
      responses:
        '200':
          description: Deployment details returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
              examples:
                GetDeployment200Example:
                  summary: Default getDeployment 200 response
                  x-microcks-default: true
                  value:
                    deployment_id: '965512'
                    name: Production Sensor 18
                    description: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
                    platform: chromeos
                    policy_id: '698917'
                    update_channel: beta
                    device_count: 536
                    created_at: '2024-07-02T16:41:58Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetDeployment401Example:
                  summary: Default getDeployment 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetDeployment403Example:
                  summary: Default getDeployment 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetDeployment404Example:
                  summary: Default getDeployment 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetDeployment500Example:
                  summary: Default getDeployment 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      operationId: updateDeployment
      summary: Palo Alto Networks Update Browser Deployment
      description: Updates an existing browser deployment configuration.
      tags:
      - Deployments
      parameters:
      - name: deployment_id
        in: path
        required: true
        description: Unique identifier of the deployment to update.
        schema:
          type: string
        example: '920067'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserDeploymentRequest'
            examples:
              UpdateDeploymentRequestExample:
                summary: Default updateDeployment request
                x-microcks-default: true
                value:
                  name: Primary Agent 98
                  description: Detected configured violation policy malware network suspicious policy.
                  platform: linux
                  policy_id: '600872'
                  update_channel: stable
      responses:
        '200':
          description: Deployment updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserDeployment'
              examples:
                UpdateDeployment200Example:
                  summary: Default updateDeployment 200 response
                  x-microcks-default: true
                  value:
                    deployment_id: '965512'
                    name: Production Sensor 18
                    description: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
                    platform: chromeos
                    policy_id: '698917'
                    update_channel: beta
                    device_count: 536
                    created_at: '2024-07-02T16:41:58Z'
        '400':
          description: Invalid request body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment400Example:
                  summary: Default updateDeployment 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment401Example:
                  summary: Default updateDeployment 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment403Example:
                  summary: Default updateDeployment 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment404Example:
                  summary: Default updateDeployment 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateDeployment500Example:
                  summary: Default updateDeployment 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteDeployment
      summary: Palo Alto Networks Delete Browser Deployment
      description: Deletes a browser deployment configuration.
      tags:
      - Deployments
      parameters:
      - name: deployment_id
        in: path
        required: true
        description: Unique identifier of the deployment to delete.
        schema:
          type: string
        example: '965867'
      responses:
        '204':
          description: Deployment deleted successfully.
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteDeployment401Example:
                  summary: Default deleteDeployment 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteDeployment403Example:
                  summary: Default deleteDeployment 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '404':
          description: Deployment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteDeployment404Example:
                  summary: Default deleteDeployment 404 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                DeleteDeployment500Example:
                  summary: Default deleteDeployment 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/devices:
    get:
      operationId: listManagedDevices
      summary: Palo Alto Networks List Managed Devices
      description: >-
        Returns the inventory of managed devices running the Prisma Access
        Browser. Includes device platform, browser version, compliance
        status, and last seen timestamp.
      tags:
      - Devices
      parameters:
      - name: platform
        in: query
        description: Filter devices by operating system platform.
        schema:
          type: string
          enum:
          - windows
          - macos
          - linux
          - chromeos
        example: linux
      - name: compliance_status
        in: query
        description: Filter devices by compliance status.
        schema:
          type: string
          enum:
          - compliant
          - non_compliant
          - unknown
        example: compliant
      - name: offset
        in: query
        description: Number of results to skip for pagination.
        schema:
          type: integer
          default: 0
        example: 0
      - name: limit
        in: query
        description: Maximum number of devices to return.
        schema:
          type: integer
          default: 50
          maximum: 200
        example: 50
      responses:
        '200':
          description: Managed devices returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  offset:
                    type: integer
                  limit:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ManagedDevice'
              examples:
                ListManagedDevices200Example:
                  summary: Default listManagedDevices 200 response
                  x-microcks-default: true
                  value:
                    total: 241
                    offset: 328
                    limit: 731
                    items:
                    - device_id: '923062'
                      hostname: host-9746
                      platform: windows
                      browser_version: 9.6.7
                      compliance_status: unknown
                      user_id: '942976'
                      last_seen_at: '2025-01-16T12:14:13Z'
                    - device_id: '923062'
                      hostname: host-9746
                      platform: windows
                      browser_version: 9.6.7
                      compliance_status: unknown
                      user_id: '942976'
                      last_seen_at: '2025-01-16T12:14:13Z'
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListManagedDevices401Example:
                  summary: Default listManagedDevices 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListManagedDevices403Example:
                  summary: Default listManagedDevices 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListManagedDevices500Example:
                  summary: Default listManagedDevices 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/reports/usage:
    get:
      operationId: getUsageReport
      summary: Palo Alto Networks Get Usage Report
      description: >-
        Returns browser usage statistics for the specified time period
        including active users, session counts, data transferred, blocked
        threats, and DLP events.
      tags:
      - Reports
      parameters:
      - name: start_date
        in: query
        required: true
        description: Start of the reporting period (ISO 8601).
        schema:
          type: string
          format: date
        example: '2026-10-14'
      - name: end_date
        in: query
        required: true
        description: End of the reporting period (ISO 8601).
        schema:
          type: string
          format: date
        example: '2025-04-14'
      - name: group_by
        in: query
        description: Dimension to group results by.
        schema:
          type: string
          enum:
          - day
          - week
          - month
          - user
          - device
          - policy
        example: week
      responses:
        '200':
          description: Usage report returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageReport'
              examples:
                GetUsageReport200Example:
                  summary: Default getUsageReport 200 response
                  x-microcks-default: true
                  value:
                    period: &id003
                      start: '2025-02-09'
                      end: '2025-07-27'
                    active_users: 489
                    total_sessions: 336
                    data_transferred_gb: 1.65
                    threats_blocked: 211
                    dlp_events: 404
                    data_points: &id004
                    - timestamp: '2026-04-05T18:42:10Z'
                      active_users: 55
                      sessions: 417
                    - timestamp: '2025-12-14T19:49:02Z'
                      active_users: 469
                      sessions: 309
        '400':
          description: Invalid date range or query parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetUsageReport400Example:
                  summary: Default getUsageReport 400 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetUsageReport401Example:
                  summary: Default getUsageReport 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetUsageReport403Example:
                  summary: Default getUsageReport 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetUsageReport500Example:
                  summary: Default getUsageReport 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Suspicious detected incident malware activity traffic traffic.
                    request_id: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        OAuth 2.0 Bearer token for SASE platform authentication. Requires
        Super User or View-Only Admin role. Obtain using the
        client_credentials grant with your SASE service account credentials.
  schemas:
    BrowserPolicy:
      type: object
      properties:
        policy_id:
          type: string
          description: Unique identifier of the browser policy.
          example: '762727'
        name:
          type: string
          description: Display name of the policy.
          example: Staging Gateway 02
        description:
          type: string
          description: Description of the policy's purpose.
          example: Blocked suspicious policy network configured on blocked.
        enabled:
          type: boolean
          description: Whether the policy is active.
          example: false
        web_filtering:
          type: object
          description: Web filtering configuration.
          properties:
            enabled:
              type: boolean
              example: true
            blocked_categories:
              type: array
              items:
                type: string
              example:
              - example-blocked_categories_item
          example: *id001
        dlp_enabled:
          type: boolean
          description: Whether DLP controls are enabled.
          example: true
        extension_policy:
          type: string
          enum:
          - allow_all
          - allow_list
          - block_all
          description: Extension installation policy.
          example: block_all
        download_control:
          type: string
          enum:
          - allow
          - scan
          - block
          description: File download control setting.
          example: scan
        created_at:
          type: string
          format: date-time
          example: '2025-06-14T10:46:06Z'
        updated_at:
          type: string
          format: date-time
          example: '2025-10-12T19:10:58Z'
    BrowserPolicyRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          description: Display name for the browser policy.
          example: Primary Sensor 04
        description:
          type: string
          description: Optional description.
          example: Incident rule applied configured on network incident detected activity.
        enabled:
          type: boolean
          default: true
          example: true
        web_filtering:
          type: object
          properties:
            enabled:
              type: boolean
              example: true
            blocked_categories:
              type: array
              items:
                type: string
              example:
              - example-blocked_categories_item
          example: *id002
        dlp_enabled:
          type: boolean
          default: false
          example: false
        extension_policy:
          type: string
          enum:
          - allow_all
          - allow_list
          - block_all
          default: allow_all
          example: allow_all
        download_control:
          type: string
          enum:
          - allow
          - scan
          - block
          default: allow
          example: allow
    BrowserUser:
      type: object
      properties:
        user_id:
          type: string
          description: Unique identifier of the browser user.
          example: '519106'
        email:
          type: string
          format: email
          description: User email address.
          example: jane.doe@example.com
        display_name:
          type: string
          description: User display name.
          example: Carlos Doe
        policy_id:
          type: string
          description: ID of the browser policy assigned to this user.
          example: '550297'
        active_sessions:
          type: integer
          description: Current number of active browser sessions.
          example: 493
        last_active_at:
          type: string
          format: date-time
          example: '2024-12-26T17:43:03Z'
    BrowserSession:
      type: object
      properties:
        session_id:
          type: string
          description: Unique identifier of the browser session.
          example: '926940'
        user_id:
          type: string
          description: User ID of the session owner.
          example: '494860'
        device_id:
          type: string
          description: Device ID used in this session.
          example: '107670'
        ip_address:
          type: string
          description: Client IP address.
          example: 10.108.68.13
        policy_id:
          type: string
          description: Policy applied during this session.
          example: '176224'
        browser_version:
          type: string
          description: Prisma Access Browser version.
          example: 4.0.8
        status:
          type: string
          enum:
          - active
          - terminated
          description: Session status.
          example: active
        started_at:
          type: string
          format: date-time
          example: '2024-10-10T11:55:14Z'
        ended_at:
          type: string
          format: date-time
          example: '2026-07-09T16:25:54Z'
    BrowserDeployment:
      type: object
      properties:
        deployment_id:
          type: string
          description: Unique identifier of the deployment.
          example: '965512'
        name:
          type: string
          description: Display name of the deployment.
          example: Production Sensor 18
        description:
          type: string
          description: Description of the deployment configuration.
          example: Violation investigation threat violation traffic monitoring monitoring monitoring firewall.
        platform:
          type: string
          enum:
          - windows
          - macos
          - linux
          - chromeos
          description: Target operating system platform.
          example: chromeos
        policy_id:
          type: string
          description: Default browser policy assigned to users in this deployment.
          example: '698917'
        update_channel:
          type: string
          enum:
          - stable
          - beta
          description: Browser update channel for this deployment.
          example: beta
        device_count:
          type: integer
          description: Number of devices in this deployment.
          example: 536
        created_at:
          type: string
          format: date-time
          example: '2024-07-02T16:41:58Z'
    BrowserDeploymentRequest:
      type: object
      required:
      - name
      - platform
      properties:
        name:
          type: string
          description: Display name for the deployment.
          example: Primary Agent 98
        description:
          type: string
          example: Detected configured violation policy malware network suspicious policy.
        platform:
          type: string
          enum:
          - windows
          - macos
          - linux
          - chromeos
          description: Target operating system platform.
          example: linux
        policy_id:
          type: string
          description: Default browser policy ID for this deployment.
          example: '600872'
        update_channel:
          type: string
          enum:
          - stable
          - beta
          default: stable
          example: stable
    ManagedDevice:
      type: object
      properties:
        device_id:
          type: string
          description: Unique identifier of the managed device.
          example: '923062'
        hostname:
          type: string
          description: Device hostname.
          example: host-9746
        platform:
          type: string
          enum:
          - windows
          - macos
          - linux
          - chromeos
          description: Operating system platform.
          example: windows
        browser_version:
          type: string
          description: Installed Prisma Access Browser version.
          example: 9.6.7
        compliance_status:
          type: string
          enum:
          - compliant
          - non_compliant
          - unknown
          description: Device compliance status.
          example: unknown
        user_id:
          type: string
          description: ID of the last user who logged in on this device.
          example: '942976'
        last_seen_at:
          type: string
          format: date-time
          description: Timestamp of the device's last check-in.
          example: '2025-01-16T12:14:13Z'
    UsageReport:
      type: object
      properties:
        period:
          type: object
          properties:
            start:
              type: string
              format: date
              example: '2025-07-03'
            end:
              type: string
              format: date
              example: '2024-01-15'
          example: *id003
        active_users:
          type: integer
          description: Number of unique active users during the period.
          example: 489
        total_sessions:
          type: integer
          description: Total browser sessions started during the period.
          example: 336
        data_transferred_gb:
          type: number
          format: float
          description: Total data transferred through the browser in GB.
          example: 1.65
        threats_blocked:
          type: integer
          description: Number of threats blocked by the browser.
          example: 211
        dlp_events:
          type: integer
          description: Number of DLP policy events triggered.
          example: 404
        data_points:
          type: array
          description: Time-series data points for the report.
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
                example: '2026-04-21T12:03:31Z'
              active_users:
                type: integer
                example: 967
              sessions:
                type: integer
                example: 55
          example: *id004
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Suspicious detected incident malware activity traffic traffic.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: a6ecb027-74a1-4efb-9882-cb98e9bab4bf
