openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Policy Group to Tenant Group Management API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Policy Group to Tenant Group Management
  description: 'APIs to interact with the MSSP Backend Service


    # Authentication


    '
paths:
  /api/v1/mssp/{mssp-id}/tenant-group-policy-group-mapping:
    post:
      tags:
      - Policy Group to Tenant Group Management
      summary: Palo Alto Networks Associate Policy Groups to Selected Tenant Group
      description: Assign the selected policy groups to selected tenant group. Will use msspId from the auth token if available.
      operationId: add-tenant-group-policy-group-mapping
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the tenant group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/TenantGroupPolicyGroupMapRequest'
            examples:
              Add-Tenant-Group-Policy-Group-MappingRequestExample:
                summary: Default add-tenant-group-policy-group-mapping request
                x-microcks-default: true
                value:
                  mappings:
                  - tenantGroupId: 04e7c14c-0d44-48ff-91c4-4d4b10156455
                    policyGroupIds:
                    - 9bec2de0-bb1d-4dcc-89d7-d8f0b938132b
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/TenantGroupPolicyGroupMappingsResponse'
              examples:
                Add-Tenant-Group-Policy-Group-Mapping201Example:
                  summary: Default add-tenant-group-policy-group-mapping 201 response
                  x-microcks-default: true
                  value:
                    value:
                    - id: 201aba9b-8ef8-43e0-aea9-27718b2ddbfc
                      tenantGroupId: a0b223c0-cda7-4dbd-8d4c-2e8b4b38c0e8
                      policyGroupId: c662e0b7-2ea3-4da4-9b4c-4ed3d083f851
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Add-Tenant-Group-Policy-Group-Mapping400Example:
                  summary: Default add-tenant-group-policy-group-mapping 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Add-Tenant-Group-Policy-Group-Mapping401Example:
                  summary: Default add-tenant-group-policy-group-mapping 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Add-Tenant-Group-Policy-Group-Mapping403Example:
                  summary: Default add-tenant-group-policy-group-mapping 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Add-Tenant-Group-Policy-Group-Mapping429Example:
                  summary: Default add-tenant-group-policy-group-mapping 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/mssp/{mssp-id}/tenant-group-policy-group-mapping/{mapping-id}:
    delete:
      tags:
      - Policy Group to Tenant Group Management
      summary: Palo Alto Networks Delete an Association of Policy Group from Tenant Group
      description: Deletes a policy group association from a tenant group. Will use msspId from the auth token if available.
      operationId: delete-tenant-group-policy-group-mapping
      parameters:
      - name: mapping-id
        in: path
        description: the id of the policy group to tenant group mapping. You can get this from tenantGroups[x].id of the policy group response.
        required: true
        schema:
          type: string
          format: uuid
        example: 52017d1a-d665-4187-8675-33ee1ac5b365
      - name: mssp-id
        in: path
        description: the mssp the policy group belongs to
        required: true
        schema:
          type: string
        example: e91b486a-e139-4d3b-a9dd-959fd5cffb10
      responses:
        '204':
          description: Delete Accepted
          headers:
            Location:
              description: The relative path to the deleted tenant group to policy group mapping
              style: simple
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete-Tenant-Group-Policy-Group-Mapping400Example:
                  summary: Default delete-tenant-group-policy-group-mapping 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete-Tenant-Group-Policy-Group-Mapping401Example:
                  summary: Default delete-tenant-group-policy-group-mapping 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete-Tenant-Group-Policy-Group-Mapping403Example:
                  summary: Default delete-tenant-group-policy-group-mapping 403 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Delete-Tenant-Group-Policy-Group-Mapping429Example:
                  summary: Default delete-tenant-group-policy-group-mapping 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TenantGroupPolicyGroupMapping:
      required:
      - policyGroupIds
      - tenantGroupId
      type: object
      properties:
        tenantGroupId:
          type: string
          description: Tenant group to which the policy groups are mapped.
          format: uuid
          example: bd1ccaf1-194d-43b2-9c04-b6ea957c0fd2
        policyGroupIds:
          type: array
          description: Policy groups to be mapped.
          items:
            type: string
            description: Policy groups to be mapped.
            format: uuid
          example:
          - 971f26b3-5745-441e-b0ac-c0f3a6968595
          - 8dff844a-68d5-442d-8b2f-fec17c060014
      description: Tenant group to Policy groups mappings.
    TenantGroupPolicyGroupMapRequest:
      required:
      - mappings
      type: object
      properties:
        mappings:
          type: array
          description: Tenant group to Policy groups mappings.
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMapping'
          example:
          - tenantGroupId: 04e7c14c-0d44-48ff-91c4-4d4b10156455
            policyGroupIds:
            - 9bec2de0-bb1d-4dcc-89d7-d8f0b938132b
    TenantGroupPolicyGroupMappingsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/TenantGroupPolicyGroupMappingResponse'
          example:
          - id: 201aba9b-8ef8-43e0-aea9-27718b2ddbfc
            tenantGroupId: a0b223c0-cda7-4dbd-8d4c-2e8b4b38c0e8
            policyGroupId: c662e0b7-2ea3-4da4-9b4c-4ed3d083f851
    TenantGroupPolicyGroupMappingResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 201aba9b-8ef8-43e0-aea9-27718b2ddbfc
        tenantGroupId:
          type: string
          format: uuid
          example: a0b223c0-cda7-4dbd-8d4c-2e8b4b38c0e8
        policyGroupId:
          type: string
          format: uuid
          example: c662e0b7-2ea3-4da4-9b4c-4ed3d083f851
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
