openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Proxy Endpoint Provider API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Proxy Endpoint Provider
paths:
  /api/v1/proxy/tenant/{prisma-id}/**:
    get:
      tags:
      - Proxy Endpoint Provider
      summary: Palo Alto Networks Summary Needed
      description: description needed
      operationId: proxyRequest
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
        example: 657
      - name: body
        in: query
        required: true
        schema:
          type: string
        example: example-body
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_3
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
        example: 598
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_2
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
        example: 142
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_5
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
        example: 348
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    options:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_6
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    head:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_1
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
    patch:
      tags:
      - Proxy Endpoint Provider
      operationId: proxyRequest_4
      parameters:
      - name: prisma-id
        in: path
        description: prisma-id of the tenant to be proxied to
        required: true
        schema:
          type: integer
          format: int64
        example: 76
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
