openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend MSSP Managed Tenant Lifecycle Endpoints API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: MSSP Managed Tenant Lifecycle Endpoints
paths:
  /api/v1/mssp/{mssp-id}/managed-tenant:
    get:
      tags:
      - MSSP Managed Tenant Lifecycle Endpoints
      summary: Palo Alto Networks Get the Managed Tenants for an MSSP
      description: Gets the list of managed tenants for an MSSP, optionally filterable by tenant group.
      operationId: getManagedTenants
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
        example: '740743'
      - name: tenant_group
        in: query
        description: the tenant groups the managed tenants belong to, accepts multiple. Maximum limit of 10
        required: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            format: uuid
        example:
        - 57190034-a785-412f-a733-633d8602b597
      - name: show_synthetic_tenant
        in: query
        description: show synthetic tenant, defaults to false
        required: false
        schema:
          type: boolean
          default: false
        example: false
      - name: show_deleted_tenants
        in: query
        description: show deleted tenants, defaults to false
        required: false
        schema:
          type: boolean
          default: false
        example: false
      - name: next_page_token
        in: query
        description: pagination token to continue a previous query
        required: false
        schema:
          type: string
        example: example-next_page_token
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManagedTenantsResponse'
              examples:
                GetManagedTenants200Example:
                  summary: Default getManagedTenants 200 response
                  x-microcks-default: true
                  value:
                    value:
                    - prismaId: '181916'
                      externalTenantId: '666088'
                      customerName: Branch Sensor 23
                      companyName: Production Sensor 74
                      status: DELETING
                      isSynthetic: false
                      wasMigrated: true
                      msspId: '581159'
                      tenantGroupId: d97478e0-2164-432c-a1dc-ee53918a7fb3
                      planType: RS_FOUNDATION
                      contactInfo:
                        firstName: Branch Sensor 70
                        lastName: Staging Policy 31
                        email: analyst1@example.com
                      stack: example-stack
                      region: us-east-1
                      baseApiUrl: example-baseApiUrl
                      tenantLicense:
                        tenantLicenseId: '109663'
                        serialNumber: example-serialNumber
                        licensePoolId: '997200'
                        allocatedCredits: 456
                        startDate: 589
                        endDate: 255
                      createdBy: example-createdBy
                      createdAt: 530
                      modules:
                      - feature_name: Branch Agent 34
                        enabled: true
                        billing_type: TRIAL
                        state: PROVISION_STARTED
                        additional_data: {}
                      erroredBy: b1bef040-d3dc-4eac-ba7f-ee158ca14f1c
                    - prismaId: '181916'
                      externalTenantId: '666088'
                      customerName: Branch Sensor 23
                      companyName: Production Sensor 74
                      status: DELETING
                      isSynthetic: false
                      wasMigrated: true
                      msspId: '581159'
                      tenantGroupId: d97478e0-2164-432c-a1dc-ee53918a7fb3
                      planType: RS_FOUNDATION
                      contactInfo:
                        firstName: Branch Sensor 70
                        lastName: Staging Policy 31
                        email: analyst1@example.com
                      stack: example-stack
                      region: us-east-1
                      baseApiUrl: example-baseApiUrl
                      tenantLicense:
                        tenantLicenseId: '109663'
                        serialNumber: example-serialNumber
                        licensePoolId: '997200'
                        allocatedCredits: 456
                        startDate: 589
                        endDate: 255
                      createdBy: example-createdBy
                      createdAt: 530
                      modules:
                      - feature_name: Branch Agent 34
                        enabled: true
                        billing_type: TRIAL
                        state: PROVISION_STARTED
                        additional_data: {}
                      erroredBy: b1bef040-d3dc-4eac-ba7f-ee158ca14f1c
                    nextPageToken: example-nextPageToken
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetManagedTenants400Example:
                  summary: Default getManagedTenants 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetManagedTenants404Example:
                  summary: Default getManagedTenants 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetManagedTenants429Example:
                  summary: Default getManagedTenants 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      tags:
      - MSSP Managed Tenant Lifecycle Endpoints
      summary: Palo Alto Networks Create a New Managed Tenant
      description: Creates a new managed tenant belonging to the MSSP.
      operationId: createManagedTenant
      parameters:
      - name: mssp-id
        in: path
        description: the id of the MSSP of interest
        required: true
        schema:
          type: string
        example: '256045'
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/CreateManagedTenantRequest'
            examples:
              CreateManagedTenantRequestExample:
                summary: Default createManagedTenant request
                x-microcks-default: true
                value:
                  name: Branch Agent 28
                  companyName: Production Policy 50
                  region: eu-west-1
                  tenantGroupId: fedb2e94-6200-4f20-b7a9-78b393f82cb6
                  planType: RS_ADVANCED
                  contactInfo:
                    firstName: Branch Sensor 70
                    lastName: Staging Policy 31
                    email: analyst1@example.com
                  licenseInfo:
                    licensePoolId: '891733'
                    allocatedCredits: 729
                  modules:
                  - featureName: Corporate Agent 22
                    enabled: true
                    additionalData: {}
        required: true
      responses:
        '202':
          description: Accepted. Tenant Creation has async components
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManagedTenantResponse'
              examples:
                CreateManagedTenant202Example:
                  summary: Default createManagedTenant 202 response
                  x-microcks-default: true
                  value:
                    prismaId: '181916'
                    externalTenantId: '666088'
                    customerName: Branch Sensor 23
                    companyName: Production Sensor 74
                    status: DELETING
                    isSynthetic: false
                    wasMigrated: true
                    msspId: '581159'
                    tenantGroupId: d97478e0-2164-432c-a1dc-ee53918a7fb3
                    planType: RS_FOUNDATION
                    contactInfo:
                      firstName: Branch Sensor 70
                      lastName: Staging Policy 31
                      email: analyst1@example.com
                    stack: example-stack
                    region: us-east-1
                    baseApiUrl: example-baseApiUrl
                    tenantLicense:
                      tenantLicenseId: '109663'
                      serialNumber: example-serialNumber
                      licensePoolId: '997200'
                      allocatedCredits: 456
                      startDate: 589
                      endDate: 255
                    createdBy: example-createdBy
                    createdAt: 530
                    modules:
                    - feature_name: Branch Agent 34
                      enabled: true
                      billing_type: TRIAL
                      state: PROVISION_STARTED
                      additional_data: {}
                    erroredBy: b1bef040-d3dc-4eac-ba7f-ee158ca14f1c
        '400':
          description: Client error. One of the required arguments is missing or fails a constraint
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateManagedTenant400Example:
                  summary: Default createManagedTenant 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '404':
          description: The MSSP does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateManagedTenant404Example:
                  summary: Default createManagedTenant 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateManagedTenant429Example:
                  summary: Default createManagedTenant 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/mssp/{mssp-id}/managed-tenant/{tenant-id}:
    get:
      tags:
      - MSSP Managed Tenant Lifecycle Endpoints
      summary: Palo Alto Networks Get the Details of an Existing Managed Tenant
      description: Returns the details of an existing MSSP.
      operationId: getManagedTenantById
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
        example: '425248'
      - name: tenant-id
        in: path
        description: the prisma id or external tenant id of the managed tenant of interest
        required: true
        schema:
          type: string
        example: '548814'
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManagedTenantDetailedResponse'
              examples:
                GetManagedTenantById200Example:
                  summary: Default getManagedTenantById 200 response
                  x-microcks-default: true
                  value:
                    prismaId: '222478'
                    externalTenantId: '895934'
                    customerName: Staging Policy 84
                    companyName: Branch Firewall 61
                    status: ERRORED
                    isSynthetic: true
                    wasMigrated: true
                    msspId: '442187'
                    tenantGroupId: aa8a8ae2-ba70-450a-b7df-423ed6589a61
                    planType: RS_STANDARD
                    contactInfo:
                      firstName: Branch Sensor 70
                      lastName: Staging Policy 31
                      email: analyst1@example.com
                    stack: example-stack
                    region: eu-west-1
                    baseApiUrl: example-baseApiUrl
                    tenantLicense:
                      tenantLicenseId: '109663'
                      serialNumber: example-serialNumber
                      licensePoolId: '997200'
                      allocatedCredits: 456
                      startDate: 589
                      endDate: 255
                    createdBy: example-createdBy
                    createdAt: 372
                    modules:
                    - feature_name: Branch Policy 59
                      enabled: true
                      billing_type: BUY
                      state: PROVISION_FAILED
                      additional_data: {}
                    - feature_name: Branch Policy 59
                      enabled: true
                      billing_type: BUY
                      state: PROVISION_FAILED
                      additional_data: {}
                    erroredBy: 62275c4f-4c58-4c7a-a21d-e31bd07cf940
                    policyGroups:
                    - id: 318094fe-783b-4bdc-aeae-b9f2831c2d35
                      name: Staging Policy 69
                      policyCount: 26
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetManagedTenantById400Example:
                  summary: Default getManagedTenantById 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '404':
          description: The managed tenant does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetManagedTenantById404Example:
                  summary: Default getManagedTenantById 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetManagedTenantById429Example:
                  summary: Default getManagedTenantById 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      tags:
      - MSSP Managed Tenant Lifecycle Endpoints
      summary: Palo Alto Networks Delete a Managed Tenant
      description: Marks the requested MSSP as deleted.
      operationId: softDeleteManagedTenant
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
        example: '960246'
      - name: tenant-id
        in: path
        description: the prisma id or external tenant if of the managed tenant of interest
        required: true
        schema:
          type: string
        example: '623801'
      responses:
        '202':
          description: Deletion accepted
        '404':
          description: The managed tenant does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                SoftDeleteManagedTenant404Example:
                  summary: Default softDeleteManagedTenant 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                SoftDeleteManagedTenant429Example:
                  summary: Default softDeleteManagedTenant 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - MSSP Managed Tenant Lifecycle Endpoints
      summary: Palo Alto Networks Modify an Existing Managed Tenant
      description: Modify select attributes of an existing managed tenant, such as updating its MSSP ID
      operationId: updateManagedTenant
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
        example: '628280'
      - name: tenant-id
        in: path
        description: the prisma id or external tenant id of the managed tenant of interest
        required: true
        schema:
          type: string
        example: '784070'
      requestBody:
        content:
          application/json; charset=UTF-8:
            schema:
              $ref: '#/components/schemas/UpdateManagedTenantRequest'
            examples:
              UpdateManagedTenantRequestExample:
                summary: Default updateManagedTenant request
                x-microcks-default: true
                value:
                  tenantGroupId: 4bf4541a-4d22-4119-b6ae-0617c59ea86c
                  companyName: Staging Policy 81
                  licenseInfo:
                    licensePoolId: '891733'
                    allocatedCredits: 729
                  modules:
                  - featureName: Corporate Firewall 42
                    enabled: true
                    additionalData: {}
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/ManagedTenantResponse'
              examples:
                UpdateManagedTenant200Example:
                  summary: Default updateManagedTenant 200 response
                  x-microcks-default: true
                  value:
                    prismaId: '181916'
                    externalTenantId: '666088'
                    customerName: Branch Sensor 23
                    companyName: Production Sensor 74
                    status: DELETING
                    isSynthetic: false
                    wasMigrated: true
                    msspId: '581159'
                    tenantGroupId: d97478e0-2164-432c-a1dc-ee53918a7fb3
                    planType: RS_FOUNDATION
                    contactInfo:
                      firstName: Branch Sensor 70
                      lastName: Staging Policy 31
                      email: analyst1@example.com
                    stack: example-stack
                    region: us-east-1
                    baseApiUrl: example-baseApiUrl
                    tenantLicense:
                      tenantLicenseId: '109663'
                      serialNumber: example-serialNumber
                      licensePoolId: '997200'
                      allocatedCredits: 456
                      startDate: 589
                      endDate: 255
                    createdBy: example-createdBy
                    createdAt: 530
                    modules:
                    - feature_name: Branch Agent 34
                      enabled: true
                      billing_type: TRIAL
                      state: PROVISION_STARTED
                      additional_data: {}
                    erroredBy: b1bef040-d3dc-4eac-ba7f-ee158ca14f1c
        '400':
          description: Client error. One of the required arguments in the request body is not correctly supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateManagedTenant400Example:
                  summary: Default updateManagedTenant 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '404':
          description: The managed tenant does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateManagedTenant404Example:
                  summary: Default updateManagedTenant 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateManagedTenant429Example:
                  summary: Default updateManagedTenant 429 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /api/v1/mssp/{mssp-id}/managed-tenant/{tenant-id}/login:
    get:
      tags:
      - MSSP Managed Tenant Lifecycle Endpoints
      summary: Palo Alto Networks Seamless Login
      description: Seamless login to managed tenant
      operationId: seamlessLogin
      parameters:
      - name: mssp-id
        in: path
        description: the mssp the managed tenants belong to
        required: true
        schema:
          type: string
        example: '418507'
      - name: tenant-id
        in: path
        description: the prisma id or external tenant if of the managed tenant of interest
        required: true
        schema:
          type: string
        example: '823937'
      - name: landing_page
        in: query
        description: The landing page for redirection on prisma tenant
        required: false
        schema:
          type: string
        example: example-landing_page
      responses:
        '200':
          description: Login Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeamlessLoginResponse'
              examples:
                SeamlessLogin200Example:
                  summary: Default seamlessLogin 200 response
                  x-microcks-default: true
                  value:
                    token: 5e67f1fc069f5a0d9a48bcf34c02304d
                    location: example-location
        '400':
          description: MsspId doesnt match with token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                SeamlessLogin400Example:
                  summary: Default seamlessLogin 400 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '401':
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                SeamlessLogin401Example:
                  summary: Default seamlessLogin 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '404':
          description: Tenant Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                SeamlessLogin404Example:
                  summary: Default seamlessLogin 404 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
        '429':
          description: Rate limiting error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeamlessLoginResponse'
              examples:
                SeamlessLogin429Example:
                  summary: Default seamlessLogin 429 response
                  x-microcks-default: true
                  value:
                    token: 5e67f1fc069f5a0d9a48bcf34c02304d
                    location: example-location
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
    LicenseInfo:
      required:
      - allocatedCredits
      - licensePoolId
      type: object
      properties:
        licensePoolId:
          type: string
          example: '891733'
        allocatedCredits:
          minimum: 1
          type: integer
          format: int32
          example: 729
    UpdateManagedTenantRequest:
      type: object
      properties:
        tenantGroupId:
          type: string
          format: uuid
          example: 4bf4541a-4d22-4119-b6ae-0617c59ea86c
        companyName:
          maxLength: 63
          minLength: 3
          type: string
          example: Staging Policy 81
        licenseInfo:
          $ref: '#/components/schemas/LicenseInfo'
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleInfoRequest'
          example:
          - featureName: Corporate Firewall 42
            enabled: true
            additionalData: {}
    ManagedTenantsResponse:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/ManagedTenantResponse'
          example:
          - prismaId: '181916'
            externalTenantId: '666088'
            customerName: Branch Sensor 23
            companyName: Production Sensor 74
            status: DELETING
            isSynthetic: false
            wasMigrated: true
            msspId: '581159'
            tenantGroupId: d97478e0-2164-432c-a1dc-ee53918a7fb3
            planType: RS_FOUNDATION
            contactInfo:
              firstName: Branch Sensor 70
              lastName: Staging Policy 31
              email: analyst1@example.com
            stack: example-stack
            region: us-east-1
            baseApiUrl: example-baseApiUrl
            tenantLicense:
              tenantLicenseId: '109663'
              serialNumber: example-serialNumber
              licensePoolId: '997200'
              allocatedCredits: 456
              startDate: 589
              endDate: 255
            createdBy: example-createdBy
            createdAt: 530
            modules:
            - feature_name: Branch Agent 34
              enabled: true
              billing_type: TRIAL
              state: PROVISION_STARTED
              additional_data: {}
            erroredBy: b1bef040-d3dc-4eac-ba7f-ee158ca14f1c
          - prismaId: '181916'
            externalTenantId: '666088'
            customerName: Branch Sensor 23
            companyName: Production Sensor 74
            status: DELETING
            isSynthetic: false
            wasMigrated: true
            msspId: '581159'
            tenantGroupId: d97478e0-2164-432c-a1dc-ee53918a7fb3
            planType: RS_FOUNDATION
            contactInfo:
              firstName: Branch Sensor 70
              lastName: Staging Policy 31
              email: analyst1@example.com
            stack: example-stack
            region: us-east-1
            baseApiUrl: example-baseApiUrl
            tenantLicense:
              tenantLicenseId: '109663'
              serialNumber: example-serialNumber
              licensePoolId: '997200'
              allocatedCredits: 456
              startDate: 589
              endDate: 255
            createdBy: example-createdBy
            createdAt: 530
            modules:
            - feature_name: Branch Agent 34
              enabled: true
              billing_type: TRIAL
              state: PROVISION_STARTED
              additional_data: {}
            erroredBy: b1bef040-d3dc-4eac-ba7f-ee158ca14f1c
        nextPageToken:
          type: string
          example: example-nextPageToken
    CreateManagedTenantRequest:
      required:
      - companyName
      - contactInfo
      - licenseInfo
      - name
      - planType
      - region
      type: object
      properties:
        name:
          maxLength: 63
          minLength: 3
          type: string
          example: Branch Agent 28
        companyName:
          maxLength: 63
          minLength: 3
          type: string
          example: Production Policy 50
        region:
          type: string
          example: eu-west-1
        tenantGroupId:
          type: string
          format: uuid
          example: fedb2e94-6200-4f20-b7a9-78b393f82cb6
        planType:
          type: string
          enum:
          - RS_STANDARD
          - RS_FOUNDATION
          - RS_ADVANCED
          example: RS_ADVANCED
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
        licenseInfo:
          $ref: '#/components/schemas/LicenseInfo'
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleInfoRequest'
          example:
          - featureName: Corporate Agent 22
            enabled: true
            additionalData: {}
    PolicyGroupInfo:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 55be82da-9c54-4a91-a816-db48bb33f550
        name:
          type: string
          example: Corporate Firewall 35
        policyCount:
          type: integer
          format: int32
          example: 452
    ModuleInfo:
      required:
      - feature_name
      type: object
      properties:
        feature_name:
          type: string
          example: Branch Policy 59
        enabled:
          type: boolean
          example: true
        billing_type:
          type: string
          enum:
          - TRIAL
          - BUY
          example: BUY
        state:
          type: string
          enum:
          - PROVISION_STARTED
          - PROVISION_SUCCESSFUL
          - PROVISION_FAILED
          example: PROVISION_FAILED
        additional_data:
          type: object
          additionalProperties:
            type: object
          example: {}
    ManagedTenantLicenseResponse:
      type: object
      properties:
        tenantLicenseId:
          type: string
          example: '109663'
        serialNumber:
          type: string
          example: example-serialNumber
        licensePoolId:
          type: string
          example: '997200'
        allocatedCredits:
          type: integer
          format: int32
          example: 456
        startDate:
          type: integer
          format: int64
          example: 589
        endDate:
          type: integer
          format: int64
          example: 255
    SeamlessLoginResponse:
      type: object
      properties:
        token:
          type: string
          example: 5e67f1fc069f5a0d9a48bcf34c02304d
        location:
          type: string
          example: example-location
    ManagedTenantDetailedResponse:
      type: object
      properties:
        prismaId:
          type: string
          example: '222478'
        externalTenantId:
          type: string
          example: '895934'
        customerName:
          type: string
          example: Staging Policy 84
        companyName:
          type: string
          example: Branch Firewall 61
        status:
          type: string
          enum:
          - ACTIVE
          - PROVISIONING
          - UPDATING
          - DELETING
          - DELETED
          - OFFBOARDING
          - ERRORED
          example: ERRORED
        isSynthetic:
          type: boolean
          example: true
        wasMigrated:
          type: boolean
          example: true
        msspId:
          type: string
          example: '442187'
        tenantGroupId:
          type: string
          format: uuid
          example: aa8a8ae2-ba70-450a-b7df-423ed6589a61
        planType:
          type: string
          enum:
          - RS_STANDARD
          - RS_FOUNDATION
          - RS_ADVANCED
          example: RS_STANDARD
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
        stack:
          type: string
          example: example-stack
        region:
          type: string
          example: eu-west-1
        baseApiUrl:
          type: string
          example: example-baseApiUrl
        tenantLicense:
          $ref: '#/components/schemas/ManagedTenantLicenseResponse'
        createdBy:
          type: string
          example: example-createdBy
        createdAt:
          type: integer
          format: int64
          example: 372
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleInfo'
          example:
          - feature_name: Branch Policy 59
            enabled: true
            billing_type: BUY
            state: PROVISION_FAILED
            additional_data: {}
          - feature_name: Branch Policy 59
            enabled: true
            billing_type: BUY
            state: PROVISION_FAILED
            additional_data: {}
        erroredBy:
          type: string
          format: uuid
          example: 62275c4f-4c58-4c7a-a21d-e31bd07cf940
        policyGroups:
          type: array
          items:
            $ref: '#/components/schemas/PolicyGroupInfo'
          example:
          - id: 318094fe-783b-4bdc-aeae-b9f2831c2d35
            name: Staging Policy 69
            policyCount: 26
    ModuleInfoRequest:
      required:
      - enabled
      - featureName
      type: object
      properties:
        featureName:
          pattern: iam-security
          type: string
          example: Corporate Firewall 42
        enabled:
          type: boolean
          example: true
        additionalData:
          type: object
          additionalProperties:
            type: object
          example: {}
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    ManagedTenantResponse:
      type: object
      properties:
        prismaId:
          type: string
          example: '181916'
        externalTenantId:
          type: string
          example: '666088'
        customerName:
          type: string
          example: Branch Sensor 23
        companyName:
          type: string
          example: Production Sensor 74
        status:
          type: string
          enum:
          - ACTIVE
          - PROVISIONING
          - UPDATING
          - DELETING
          - DELETED
          - OFFBOARDING
          - ERRORED
          example: DELETING
        isSynthetic:
          type: boolean
          example: false
        wasMigrated:
          type: boolean
          example: true
        msspId:
          type: string
          example: '581159'
        tenantGroupId:
          type: string
          format: uuid
          example: d97478e0-2164-432c-a1dc-ee53918a7fb3
        planType:
          type: string
          enum:
          - RS_STANDARD
          - RS_FOUNDATION
          - RS_ADVANCED
          example: RS_FOUNDATION
        contactInfo:
          $ref: '#/components/schemas/ContactInfo'
        stack:
          type: string
          example: example-stack
        region:
          type: string
          example: us-east-1
        baseApiUrl:
          type: string
          example: example-baseApiUrl
        tenantLicense:
          $ref: '#/components/schemas/ManagedTenantLicenseResponse'
        createdBy:
          type: string
          example: example-createdBy
        createdAt:
          type: integer
          format: int64
          example: 530
        modules:
          type: array
          items:
            $ref: '#/components/schemas/ModuleInfo'
          example:
          - feature_name: Branch Agent 34
            enabled: true
            billing_type: TRIAL
            state: PROVISION_STARTED
            additional_data: {}
        erroredBy:
          type: string
          format: uuid
          example: b1bef040-d3dc-4eac-ba7f-ee158ca14f1c
    ContactInfo:
      required:
      - email
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          maxLength: 63
          minLength: 1
          type: string
          example: Branch Sensor 70
        lastName:
          maxLength: 63
          minLength: 1
          type: string
          example: Staging Policy 31
        email:
          maxLength: 128
          minLength: 1
          type: string
          example: analyst1@example.com
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
