openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend UE Mappings API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: UE Mappings
paths:
  /mt/monitor/5g/mapping:
    post:
      tags:
      - UE Mappings
      summary: Palo Alto Networks Search Subscriber Details
      description: "Provides a comprehensive search interface for User Equipment mappings \nusing IMSI, IMEI, or IP Address address identifiers. Developers integrate this \nto enable granular drill-downs into subscriber metadata, tenant \nprovisioning status, and group associations."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MappingRequest'
            examples:
              Paginated List:
                value:
                  pageSize: 100
                  pageNum: 0
              Paginated List With Tenant Filter:
                value:
                  pageSize: 100
                  pageNum: 0
                  tenant:
                  - '1459340040'
                  - '1635727460'
      responses:
        '200':
          description: Success
          content:
            application/json:
              examples:
                Single Mapping:
                  value:
                    data:
                      mappings:
                      - apn: demo.com
                        createTime: 1737113951692
                        groups: new_grp
                        imei: '000000000000000'
                        imsi: '500012222222222'
                        tenantProvisioned: Inactive
                        tsgId: '1131085573'
                      totalCount: 1
                    header:
                      createdAt: '2025-12-17T02:07:58Z'
                      clientRequestId: null
                      dataCount: 1
                      status:
                        subCode: 200
        '400':
          description: Bad Request
        '401':
          description: Permission Denied
        '500':
          description: Server Error
      operationId: PostMtMonitor5gMapping
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    MappingRequest:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
          example: 836
        pageNum:
          type: integer
          format: int32
          example: 110
        searchKey:
          type: string
          example: example-searchKey
        region:
          type: string
          example: eu-west-1
        tenant:
          type: array
          items:
            type: string
          example:
          - example-tenant_item
          - example-tenant_item
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
