openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Locations API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Locations
  description: Prisma Access location data.
paths:
  /locations:
    get:
      operationId: listPrismaAccessLocations
      summary: Palo Alto Networks List Prisma Access Locations
      description: Returns the list of available Prisma Access gateway locations. Location data includes the geographic region, country, city, and available services at each location.
      tags:
      - Locations
      responses:
        '200':
          description: Prisma Access locations returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PrismaAccessLocation'
              examples:
                ListPrismaAccessLocations200Example:
                  summary: Default listPrismaAccessLocations 200 response
                  x-microcks-default: true
                  value:
                    total: 546
                    items:
                    - name: Production Agent 47
                      display_name: Carlos Garcia
                      region: eu-west-1
                      country: US
                      city: example-city
                      status: available
                    - name: Production Agent 47
                      display_name: Carlos Garcia
                      region: eu-west-1
                      country: US
                      city: example-city
                      status: available
        '401':
          description: Invalid or missing Bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListPrismaAccessLocations401Example:
                  summary: Default listPrismaAccessLocations 401 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
        '403':
          description: Insufficient permissions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListPrismaAccessLocations403Example:
                  summary: Default listPrismaAccessLocations 403 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                ListPrismaAccessLocations500Example:
                  summary: Default listPrismaAccessLocations 500 response
                  x-microcks-default: true
                  value:
                    error: example-error
                    message: Configured activity investigation policy detected violation blocked.
                    request_id: 3ab20120-828b-4af3-9110-53521ee47614
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PrismaAccessLocation:
      type: object
      properties:
        name:
          type: string
          description: Location identifier used in API requests.
          example: Production Agent 47
        display_name:
          type: string
          description: Human-readable location name.
          example: Carlos Garcia
        region:
          type: string
          description: Geographic region (e.g., americas, europe, asia-pacific).
          example: eu-west-1
        country:
          type: string
          description: Country code (ISO 3166-1 alpha-2).
          example: US
        city:
          type: string
          description: City name.
          example: example-city
        status:
          type: string
          enum:
          - available
          - limited
          - unavailable
          description: Current availability status.
          example: available
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code identifying the error type.
          example: example-error
        message:
          type: string
          description: Human-readable description of the error.
          example: Configured activity investigation policy detected violation blocked.
        request_id:
          type: string
          description: Request identifier for support correlation.
          example: 3ab20120-828b-4af3-9110-53521ee47614
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
