openapi: 3.2.0
info:
  title: Palo Alto Networks AIOps for NGFW BPA 5G Deregistered Trend Stack Details Endpoint API
  description: AIOps for NGFW Best Practice Assessment (BPA) API. Provides programmatic access to submit BPA requests for Palo Alto Networks next-generation firewalls, check request processing status, and retrieve completed assessment reports. BPA reports analyze firewall configurations against Palo Alto Networks best practices and security benchmarks, identifying gaps and providing remediation guidance to improve security posture. Part of the Strata Cloud Manager platform.
  version: '1.0'
  contact:
    name: Palo Alto Networks Developer Support
    url: https://pan.dev/
  license:
    name: Proprietary
    url: https://www.paloaltonetworks.com/legal
servers:
- url: https://api.stratacloud.paloaltonetworks.com/aiops/bpa/v1
  description: AIOps for NGFW BPA API production server.
security:
- oauth2Bearer: []
tags:
- name: Stack Details Endpoint
paths:
  /api/v1/stack-mapping:
    get:
      tags:
      - Stack Details Endpoint
      summary: Palo Alto Networks Get List of Stacks and Api Hosts
      description: Returns the list of stacks with display name and apiHosts, and plan types
      operationId: requestStackMapping
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                $ref: '#/components/schemas/StackMappingPlanTypesListResponse'
              examples:
                RequestStackMapping200Example:
                  summary: Default requestStackMapping 200 response
                  x-microcks-default: true
                  value:
                    stackMappings:
                    - name: Production Policy 31
                      displayName: Corporate Agent 42
                      apiHost: example-apiHost
                    - name: Production Sensor 26
                      displayName: Staging Agent 35
                      apiHost: example-apiHost
                    planTypes:
                    - standard
                    - advanced
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                RequestStackMapping401Example:
                  summary: Default requestStackMapping 401 response
                  x-microcks-default: true
                  value:
                    error:
                      code: example-code
                      message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                      target: example-target
                      details:
                      - code: example-code
                        message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                        target: example-target
                        details:
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
                        - code: example-code
                          message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
                          target: example-target
                          details:
                          - {}
                          - {}
      security:
      - UserJwt: []
      x-public: 'true'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    StackMappingResponse:
      type: object
      properties:
        name:
          type: string
          example: Primary Policy 95
        displayName:
          type: string
          example: Branch Firewall 99
        apiHost:
          type: string
          example: example-apiHost
    StackMappingPlanTypesListResponse:
      type: object
      properties:
        stackMappings:
          type: array
          items:
            $ref: '#/components/schemas/StackMappingResponse'
          example:
          - name: Production Policy 31
            displayName: Corporate Agent 42
            apiHost: example-apiHost
          - name: Production Sensor 26
            displayName: Staging Agent 35
            apiHost: example-apiHost
        planTypes:
          type: array
          items:
            type: string
          example:
          - standard
          - advanced
    ErrorResponse:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: example-code
        message:
          type: string
          example: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
        target:
          type: string
          example: example-target
        details:
          type: array
          items:
            $ref: '#/components/schemas/Error'
          example:
          - code: example-code
            message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
            target: example-target
            details:
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
            - code: example-code
              message: Incident malware violation firewall endpoint investigation firewall network rule blocked activity rule.
              target: example-target
              details:
              - {}
              - {}
  securitySchemes:
    oauth2Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 Bearer token for SASE platform authentication. Obtain using the client_credentials grant with your SASE service account client ID and client secret.
